Repository flutter/packages, changes with the labels that .github/labeler.yml gives for each.
All labels: p: animations, p: camera, p: cross_file, p: css_colors, p: cupertino_icons, p: espresso, p: extension_google_sign_in_as_googleapis_auth, p: file_selector, p: flutter_adaptive_scaffold, p: flutter_image, p: flutter_lints, p: flutter_markdown, p: flutter_migrate, p: flutter_plugin_android_lifecycle, p: flutter_svg, p: flutter_template_images, p: go_router, p: go_router_builder, p: google_identity_services, p: google_maps_flutter, p: google_sign_in, p: image_picker, p: in_app_purchase, p: interactive_media_ads, p: ios_platform_images, p: local_auth, p: metrics_center, p: multicast_dns, p: palette_generator, p: path_parsing, p: path_provider, p: pigeon, p: plugin_platform_interface, p: pointer_interceptor, p: quick_actions, p: rfw, p: shared_preferences, p: standard_message_codec, p: url_launcher, p: vector_graphics, p: video_player, p: web_benchmarks, p: webview_flutter, p: xdg_directories, platform-android, platform-ios, platform-linux, platform-macos, platform-web, platform-windows

[camera_web]: replaced dynamic with Object? in map value for willReadFrequently
  packages/camera/camera_web/lib/src/camera_service.dart
Labels: p: camera, platform-web

Update pubspec.yaml
  third_party/packages/flutter_svg/pubspec.yaml
Labels: p: flutter_svg

some improves
  packages/local_auth/local_auth_darwin/darwin/Tests/FLALocalAuthPluginTests.swift
  packages/local_auth/local_auth_darwin/darwin/local_auth_darwin/Sources/local_auth_darwin/LocalAuthPlugin.swift
Labels: p: local_auth, platform-ios, platform-macos

fix
  packages/local_auth/local_auth_darwin/darwin/local_auth_darwin/Sources/local_auth_darwin/LocalAuthPlugin.swift
Labels: p: local_auth, platform-ios, platform-macos

fix
  packages/local_auth/local_auth_darwin/darwin/local_auth_darwin/Sources/local_auth_darwin/LocalAuthPlugin.swift
Labels: p: local_auth, platform-ios, platform-macos

[camera_web] test: camera image stream test cases for with and without OffscreenCanvas in camera service
  packages/camera/camera_web/example/integration_test/camera_service_test.dart
Labels: p: camera, platform-web

[camera_web] test: camera frame stream test cases for with and without OffscreenCanvas in camera test
  packages/camera/camera_web/example/integration_test/camera_test.dart
Labels: p: camera, platform-web

d7a5db2d5 Roll Flutter Engine from f56401062e42 to e5e06c97c33c (1 revision) (flutter/flutter#158194)
  .ci/flutter_master.version
Labels: none

c1b7740ea Fix: Gap between prefix and suffix icon and input field in input deco… (flutter/flutter#152069)
  .ci/flutter_master.version
Labels: none

c6dea5e4b Remove unused `enableObservatory` flag. (flutter/flutter#158202)
  .ci/flutter_master.version
Labels: none

b6fef5cfd Kill interactive script job `xcdevice observe` processes on tool/daemon shutdown (flutter/flutter#157646)
  .ci/flutter_master.version
Labels: none

b46fb32f4 Factor out "shaker" class (flutter/flutter#157748)
  .ci/flutter_master.version
Labels: none

0401c37f2 Increase subsharding for `Linux tool_integration_tests` (flutter/flutter#158196)
  .ci/flutter_master.version
Labels: none

255a94139 Marks Mac_benchmark animated_complex_opacity_perf_macos__e2e_summary to be flaky (flutter/flutter#157424)
  .ci/flutter_master.version
Labels: none

ffe81f035 Add test for `raw_scrollbar.2.dart` (flutter/flutter#158161)
  .ci/flutter_master.version
Labels: none

8d3cca43b use root directory as the default for rootOverride in Cache.test constructor (flutter/flutter#158201)
  .ci/flutter_master.version
Labels: none

0b6f99769 Remove observatory related TODO that is already fixed. (flutter/flutter#158205)
  .ci/flutter_master.version
Labels: none

7a57b69fc fix: ensure draggable_scrollable_sheet respects shouldCloseOnMinExten… (flutter/flutter#156338)
  .ci/flutter_master.version
Labels: none

2f7a1aa20 Restore skipped iOS test by looping over `FakeAsync` elapse. (flutter/flutter#158204)
  .ci/flutter_master.version
Labels: none

5a3fd44ae Roll Flutter Engine from a3741d6248b7 to f03f11300a9d (2 revisions) (flutter/flutter#158222)
  .ci/flutter_master.version
Labels: none

7a6c81a29 Forward fix `CupertinoDynamicColor` by adding `toARGB32()`. (flutter/flutter#158145)
  .ci/flutter_master.version
Labels: none

dff191625 Update error message for Cocoapods support for synchronized groups/folders (flutter/flutter#158206)
  .ci/flutter_master.version
Labels: none

7edcacb4d Roll Flutter Engine from e5e06c97c33c to a3741d6248b7 (14 revisions) (flutter/flutter#158218)
  .ci/flutter_master.version
Labels: none

22a7afd99 Fix RawScrollbar examples and desktop test (flutter/flutter#158237)
  .ci/flutter_master.version
Labels: none

66e8f53ba Cleanup MenuAnchor and Improve DropdownMenu tests readability (flutter/flutter#158175)
  .ci/flutter_master.version
Labels: none

73546b3b7 Add test for `image.loading_builder.0.dart` (flutter/flutter#158248)
  .ci/flutter_master.version
Labels: none

3a83e43ed Make flutter_tools use newest package:{native_assets_builder,native_assets_cli,native_toolchain_c} (flutter/flutter#158214)
  .ci/flutter_master.version
Labels: none

fix
  packages/local_auth/local_auth_darwin/darwin/Tests/FLALocalAuthPluginTests.swift
  packages/local_auth/local_auth_darwin/darwin/local_auth_darwin/Sources/local_auth_darwin/LocalAuthPlugin.swift
  packages/local_auth/local_auth_darwin/darwin/local_auth_darwin/Sources/local_auth_darwin/messages.g.swift
  packages/local_auth/local_auth_darwin/example/ios/Runner.xcodeproj/project.pbxproj
  packages/local_auth/local_auth_darwin/example/macos/Runner/AppDelegate.swift
  packages/local_auth/local_auth_darwin/lib/src/messages.g.dart
  packages/local_auth/local_auth_darwin/pigeons/messages.dart
Labels: p: local_auth, platform-ios, platform-macos

Roll Flutter from 29d40f7f6826 to 73546b3b71a7 (20 revisions) (#8028)
  .ci/flutter_master.version
Labels: none

.github/labeler.yml:

'p: animations':
  - changed-files:
    - any-glob-to-any-file:
      - packages/animations/**/*

'p: camera':
  - changed-files:
    - any-glob-to-any-file:
      - packages/camera/**/*

'p: cross_file':
  - changed-files:
    - any-glob-to-any-file:
      - packages/cross_file/**/*

'p: css_colors':
  - changed-files:
    - any-glob-to-any-file:
      - packages/css_colors/**/*

'p: cupertino_icons':
  - changed-files:
    - any-glob-to-any-file:
      - third_party/packages/cupertino_icons/**/*

'p: espresso':
  - changed-files:
    - any-glob-to-any-file:
      - packages/espresso/**/*

'p: extension_google_sign_in_as_googleapis_auth':
  - changed-files:
    - any-glob-to-any-file:
      - packages/extension_google_sign_in_as_googleapis_auth/**/*

'p: file_selector':
  - changed-files:
    - any-glob-to-any-file:
      - packages/file_selector/**/*

'p: flutter_adaptive_scaffold':
  - changed-files:
    - any-glob-to-any-file:
      - packages/flutter_adaptive_scaffold/**/*

'p: flutter_image':
  - changed-files:
    - any-glob-to-any-file:
      - packages/flutter_image/**/*

'p: flutter_lints':
  - changed-files:
    - any-glob-to-any-file:
      - packages/flutter_lints/**/*

'p: flutter_markdown':
  - changed-files:
    - any-glob-to-any-file:
      - packages/flutter_markdown/**/*

'p: flutter_migrate':
  - changed-files:
    - any-glob-to-any-file:
      - packages/flutter_migrate/**/*

'p: flutter_plugin_android_lifecycle':
  - changed-files:
    - any-glob-to-any-file:
      - packages/flutter_plugin_android_lifecycle/**/*

'p: flutter_svg':
  - changed-files:
    - any-glob-to-any-file:
      - third_party/packages/flutter_svg/**/*
      - third_party/packages/flutter_svg_test/**/*

'p: flutter_template_images':
  - changed-files:
    - any-glob-to-any-file:
      - packages/flutter_template_images/**/*

'p: go_router':
  - changed-files:
    - any-glob-to-any-file:
      - packages/go_router/**/*

'p: go_router_builder':
  - changed-files:
    - any-glob-to-any-file:
      - packages/go_router_builder/**/*

'p: google_identity_services':
  - changed-files:
    - any-glob-to-any-file:
      - packages/google_indentity_services_web/**

'p: google_maps_flutter':
  - changed-files:
    - any-glob-to-any-file:
      - packages/google_maps_flutter/**/*

'p: google_sign_in':
  - changed-files:
    - any-glob-to-any-file:
      - packages/google_sign_in/**/*

'p: image_picker':
  - changed-files:
    - any-glob-to-any-file:
      - packages/image_picker/**/*

'p: in_app_purchase':
  - changed-files:
    - any-glob-to-any-file:
      - packages/in_app_purchase/**/*

'p: interactive_media_ads':
  - changed-files:
    - any-glob-to-any-file:
      - packages/interactive_media_ads/**/*

'p: ios_platform_images':
  - changed-files:
    - any-glob-to-any-file:
      - packages/ios_platform_images/**/*

'p: local_auth':
  - changed-files:
    - any-glob-to-any-file:
      - packages/local_auth/**/*

'p: metrics_center':
  - changed-files:
    - any-glob-to-any-file:
      - packages/metrics_center/**/*

'p: multicast_dns':
  - changed-files:
    - any-glob-to-any-file:
      - packages/multicast_dns/**/*

'p: palette_generator':
  - changed-files:
    - any-glob-to-any-file:
      - packages/palette_generator/**/*

'p: path_parsing':
  - changed-files:
    - any-glob-to-any-file:
      - third_party/packages/path_parsing/**/*

'p: path_provider':
  - changed-files:
    - any-glob-to-any-file:
      - packages/path_provider/**/*

'p: pigeon':
  - changed-files:
    - any-glob-to-any-file:
      - packages/pigeon/**/*

'p: plugin_platform_interface':
  - changed-files:
    - any-glob-to-any-file:
      - packages/plugin_platform_interface/**/*

'p: pointer_interceptor':
  - changed-files:
    - any-glob-to-any-file:
      - packages/pointer_interceptor/**/*

'p: quick_actions':
  - changed-files:
    - any-glob-to-any-file:
      - packages/quick_actions/**/*

'p: rfw':
  - changed-files:
    - any-glob-to-any-file:
      - packages/rfw/**/*

'p: shared_preferences':
  - changed-files:
    - any-glob-to-any-file:
      - packages/shared_preferences/**/*

'p: standard_message_codec':
  - changed-files:
    - any-glob-to-any-file:
      - packages/standard_message_codec/**/*

'p: url_launcher':
  - changed-files:
    - any-glob-to-any-file:
      - packages/url_launcher/**/*

'p: vector_graphics':
  - changed-files:
    - any-glob-to-any-file:
      - packages/vector_graphics/**/*
      - packages/vector_graphics_codec/**/*
      - packages/vector_graphics_compiler/**/*

'p: video_player':
  - changed-files:
    - any-glob-to-any-file:
      - packages/video_player/**/*

'p: web_benchmarks':
  - changed-files:
    - any-glob-to-any-file:
      - packages/web_benchmarks/**/*

'p: webview_flutter':
  - changed-files:
    - any-glob-to-any-file:
      - packages/webview_flutter/**/*

'p: xdg_directories':
  - changed-files:
    - any-glob-to-any-file:
      - packages/xdg_directories/**/*

'platform-android':
  - changed-files:
    - any-glob-to-any-file:
      - packages/*/*_android/**/*
      - packages/**/android/**/*

'platform-ios':
  - changed-files:
    - any-glob-to-any-file:
      - packages/*/*_avfoundation/**/*
      - packages/*/*_darwin/**/*
      - packages/*/*_foundation/**/*
      - packages/*/*_ios/**/*
      - packages/*/*_storekit/**/*
      - packages/*/*_wkwebview/**/*
      - packages/**/darwin/**/*
      - packages/**/ios/**/*

'platform-linux':
  - changed-files:
    - any-glob-to-any-file:
      - packages/*/*_linux/**/*
      - packages/**/linux/**/*

'platform-macos':
  - changed-files:
    - any-glob-to-any-file:
      - packages/*/*_avfoundation/**/*
      - packages/*/*_darwin/**/*
      - packages/*/*_foundation/**/*
      - packages/*/*_macos/**/*
      - packages/*/*_storekit/**/*
      - packages/**/darwin/**/*
      - packages/**/macos/**/*

'platform-web':
  - changed-files:
    - any-glob-to-any-file:
      - packages/*/*_web/**/*
      - packages/**/web/**/*

'platform-windows':
  - changed-files:
    - any-glob-to-any-file:
      - packages/*/*_windows/**/*
      - packages/**/windows/**/*
