Repository flutter/packages, pull requests merged in 2021-07, with the labels that each got.

#401 Replace 'pub' with 'dart pub' in CI scripts
  .cirrus.yml
  .github/workflows/release.yml
  script/tool_runner.sh
Labels: cla: yes

#403 Fix another bare use of 'pub' in CI
  .github/workflows/release.yml
Labels: cla: yes

#371 [animations] Add --no-fatal-infos to customer_testing scripts
  customer_testing.bat
  customer_testing.sh
Labels: cla: yes, waiting for tree to go green

#394 [flutter_lints] Fix readme
  packages/flutter_lints/CHANGELOG.md
  packages/flutter_lints/README.md
  packages/flutter_lints/pubspec.yaml
Labels: cla: yes

#374 [flutter_image] Add custom request headers.
  packages/flutter_image/CHANGELOG.md
  packages/flutter_image/lib/network.dart
  packages/flutter_image/pubspec.yaml
  packages/flutter_image/test/network_test.dart
  packages/flutter_image/test/network_test_server.dart
Labels: cla: yes, p: flutter_image

#405 Re-run Dart formatter
  packages/web_benchmarks/lib/src/browser.dart
Labels: cla: yes, p: web_benchmarks

#407 [imitation_game] Ignore a new deprecation warning
  packages/imitation_game/imitation_tests/smiley/flutter/smiley/lib/main.dart
Labels: cla: yes, p: imitation_game

#408 Always run all steps of the format+analyze task
  .cirrus.yml
Labels: cla: yes, waiting for tree to go green

#404 [cross_file] Improve dart:io saveTo
  packages/cross_file/CHANGELOG.md
  packages/cross_file/lib/src/types/io.dart
  packages/cross_file/pubspec.yaml
  packages/cross_file/test/x_file_io_test.dart
Labels: cla: yes, p: cross_file

#412 [pigeon] Do not 'activate' flutter_plugin_tools
  packages/pigeon/run_tests.sh
Labels: cla: yes, p: pigeon

#398 [pigeon] cleanup pigeon lib tests
  packages/pigeon/lib/pigeon_lib.dart
  packages/pigeon/test/pigeon_lib_test.dart
Labels: cla: yes, p: pigeon

#395 [pigeon] removed the formatter from local_tests
  .cirrus.yml
  packages/pigeon/run_tests.sh
Labels: cla: yes, p: pigeon

#414 [pigeon] implemented primitive datatypes
  packages/pigeon/CHANGELOG.md
  packages/pigeon/lib/dart_generator.dart
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/lib/java_generator.dart
  packages/pigeon/lib/objc_generator.dart
  packages/pigeon/lib/pigeon_lib.dart
  packages/pigeon/pigeons/flutter_unittests.dart
  packages/pigeon/pigeons/primitive.dart
  packages/pigeon/platform_tests/android_unit_tests/android/.project
  packages/pigeon/platform_tests/android_unit_tests/android/.settings/org.eclipse.buildship.core.prefs
  packages/pigeon/platform_tests/android_unit_tests/android/app/src/test/java/com/example/android_unit_tests/PigeonTest.java
  packages/pigeon/platform_tests/android_unit_tests/android/app/src/test/java/com/example/android_unit_tests/PrimitiveTest.java
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/all_datatypes.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/null_safe_pigeon.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/test/all_datatypes_test.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/test/null_safe_test.dart
  packages/pigeon/platform_tests/ios_unit_tests/ios/Flutter/AppFrameworkInfo.plist
  packages/pigeon/platform_tests/ios_unit_tests/ios/Runner.xcodeproj/project.pbxproj
  packages/pigeon/platform_tests/ios_unit_tests/ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  packages/pigeon/platform_tests/ios_unit_tests/ios/RunnerTests/AsyncHandlersTest.m
  packages/pigeon/platform_tests/ios_unit_tests/ios/RunnerTests/PrimitiveTest.m
  packages/pigeon/run_tests.sh
  packages/pigeon/test/dart_generator_test.dart
  packages/pigeon/test/java_generator_test.dart
  packages/pigeon/test/objc_generator_test.dart
  packages/pigeon/test/pigeon_lib_test.dart
Labels: cla: yes, p: pigeon

#415 [flutter_markdown] [bug-fix] [#86138] Forcing a unique key for RichText widgets
  packages/flutter_markdown/CHANGELOG.md
  packages/flutter_markdown/lib/src/builder.dart
  packages/flutter_markdown/pubspec.yaml
  packages/flutter_markdown/test/link_test.dart
Labels: cla: yes, p: flutter_markdown

#419 [Pigeon] Add one_language flag to pigeon
  packages/pigeon/CHANGELOG.md
  packages/pigeon/lib/pigeon_lib.dart
  packages/pigeon/run_tests.sh
  packages/pigeon/test/pigeon_lib_test.dart
Labels: cla: yes, p: pigeon

#421 [pointer_interceptor] suppressed new linter warnings
  packages/pointer_interceptor/example/lib/src/shim/dart_ui_fake.dart
  packages/pointer_interceptor/lib/src/shim/dart_ui_fake.dart
Labels: cla: yes, p: pointer_interceptor

#422 [metrics_center] suppressed new linter warnings
  packages/metrics_center/lib/src/google_benchmark.dart
Labels: cla: yes, p: metrics_center

#423 [pigeon] added an error until we support primitive enums
  packages/pigeon/lib/pigeon_lib.dart
  packages/pigeon/test/pigeon_lib_test.dart
Labels: cla: yes, p: pigeon
