Repository flutter/packages, pull requests merged in 2021-11, with the labels that each got.

#505 Add master to main mirroring for packages repo.
  .github/workflows/mirror.yml
Labels: waiting for tree to go green, cla: yes

#506 [pigeon] fixed cast error that can happen with FlutterApi and primitive lists
  packages/pigeon/CHANGELOG.md
  packages/pigeon/lib/dart_generator.dart
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/all_datatypes.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/multiple_arity.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/null_safe_pigeon.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/primitive.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/test/primitive_test.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/test/primitive_test.mocks.dart
  packages/pigeon/platform_tests/ios_unit_tests/ios/Runner.xcodeproj/project.pbxproj
  packages/pigeon/pubspec.yaml
  packages/pigeon/test/dart_generator_test.dart
Labels: cla: yes, p: pigeon

#507 [flutter_markdown] Remove previous-repo cruft
  packages/flutter_markdown/.github/ISSUE_TEMPLATE/bug_report.md
  packages/flutter_markdown/.github/ISSUE_TEMPLATE/config.yml
  packages/flutter_markdown/.github/ISSUE_TEMPLATE/feature_request.md
  packages/flutter_markdown/.github/ISSUE_TEMPLATE/other_issue.md
  packages/flutter_markdown/.github/pull_request_template.md
  packages/flutter_markdown/.github/workflows/flutter_ci.yml
Labels: cla: yes

#508 [cupertino_icons] Update README to link to API docs
  third_party/packages/cupertino_icons/CHANGELOG.md
  third_party/packages/cupertino_icons/README.md
  third_party/packages/cupertino_icons/pubspec.yaml
Labels: waiting for tree to go green, cla: yes, p: cupertino_icons

#509 Adjust pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: cla: yes

#511 [metrics_center] Add new non-numeric keys in the Google Benchmark JSON format
  packages/metrics_center/CHANGELOG.md
  packages/metrics_center/lib/src/google_benchmark.dart
  packages/metrics_center/pubspec.yaml
  packages/metrics_center/test/example_google_benchmark.json
  packages/metrics_center/test/google_benchmark_test.dart
Labels: cla: yes, p: metrics_center, needs tests

#510 [pigeon] fixed bug where the codec didn't contain all types when "Object" is used.
  packages/pigeon/CHANGELOG.md
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/pubspec.yaml
  packages/pigeon/test/generator_tools_test.dart
Labels: cla: yes, p: pigeon

#512 Migrate animations and palette_generator fully to v2 Android embedding
  packages/animations/example/android/app/src/main/AndroidManifest.xml
  packages/animations/example/android/app/src/main/kotlin/dev/flutter/packages/animations/example/MainActivity.kt
  packages/imitation_game/imitation_tests/smiley/flutter/smiley/android/app/src/main/AndroidManifest.xml
  packages/palette_generator/example/android/app/src/main/AndroidManifest.xml
  packages/palette_generator/example/android/app/src/main/java/io/flutter/packages/palettegenerator/imagecolors/MainActivity.java
  packages/palette_generator/example/android/app/src/main/kotlin/io/flutter/packages/palettegenerator/example/MainActivity.kt
  packages/pigeon/e2e_tests/test_objc/android/app/src/main/AndroidManifest.xml
Labels: cla: yes, p: imitation_game, p: palette_generator, p: pigeon, needs tests

#515 [metrics_center] Filter out host_name, load_avg and caches keys from context for MetricPoint generation
  packages/metrics_center/CHANGELOG.md
  packages/metrics_center/lib/src/google_benchmark.dart
  packages/metrics_center/pubspec.yaml
  packages/metrics_center/test/google_benchmark_test.dart
Labels: cla: yes, p: metrics_center

#514 Add link to CHANGELOG style in PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: cla: yes

#516 [pigeon] Create the skeleton for Windows unit tests
  packages/pigeon/platform_tests/windows_unit_tests/.clang-format
  packages/pigeon/platform_tests/windows_unit_tests/.gitignore
  packages/pigeon/platform_tests/windows_unit_tests/.metadata
  packages/pigeon/platform_tests/windows_unit_tests/CHANGELOG.md
  packages/pigeon/platform_tests/windows_unit_tests/LICENSE
  packages/pigeon/platform_tests/windows_unit_tests/README.md
  packages/pigeon/platform_tests/windows_unit_tests/example/.gitignore
  packages/pigeon/platform_tests/windows_unit_tests/example/.metadata
  packages/pigeon/platform_tests/windows_unit_tests/example/README.md
  packages/pigeon/platform_tests/windows_unit_tests/example/lib/main.dart
  packages/pigeon/platform_tests/windows_unit_tests/example/pubspec.yaml
  packages/pigeon/platform_tests/windows_unit_tests/example/windows/.gitignore
  packages/pigeon/platform_tests/windows_unit_tests/example/windows/CMakeLists.txt
  packages/pigeon/platform_tests/windows_unit_tests/example/windows/flutter/CMakeLists.txt
  packages/pigeon/platform_tests/windows_unit_tests/example/windows/flutter/generated_plugins.cmake
  packages/pigeon/platform_tests/windows_unit_tests/example/windows/runner/CMakeLists.txt
  packages/pigeon/platform_tests/windows_unit_tests/example/windows/runner/Runner.rc
  packages/pigeon/platform_tests/windows_unit_tests/example/windows/runner/flutter_window.cpp
  packages/pigeon/platform_tests/windows_unit_tests/example/windows/runner/flutter_window.h
  packages/pigeon/platform_tests/windows_unit_tests/example/windows/runner/main.cpp
  packages/pigeon/platform_tests/windows_unit_tests/example/windows/runner/resource.h
  packages/pigeon/platform_tests/windows_unit_tests/example/windows/runner/resources/app_icon.ico
  packages/pigeon/platform_tests/windows_unit_tests/example/windows/runner/runner.exe.manifest
  packages/pigeon/platform_tests/windows_unit_tests/example/windows/runner/utils.cpp
  packages/pigeon/platform_tests/windows_unit_tests/example/windows/runner/utils.h
  packages/pigeon/platform_tests/windows_unit_tests/example/windows/runner/win32_window.cpp
  packages/pigeon/platform_tests/windows_unit_tests/example/windows/runner/win32_window.h
  packages/pigeon/platform_tests/windows_unit_tests/lib/windows_unit_tests.dart
  packages/pigeon/platform_tests/windows_unit_tests/pubspec.yaml
  packages/pigeon/platform_tests/windows_unit_tests/windows/.gitignore
  packages/pigeon/platform_tests/windows_unit_tests/windows/CMakeLists.txt
  packages/pigeon/platform_tests/windows_unit_tests/windows/include/windows_unit_tests/windows_unit_tests_plugin_c_api.h
  packages/pigeon/platform_tests/windows_unit_tests/windows/test/pigeon_test.cpp
  packages/pigeon/platform_tests/windows_unit_tests/windows/windows_unit_tests_plugin.cpp
  packages/pigeon/platform_tests/windows_unit_tests/windows/windows_unit_tests_plugin.h
  packages/pigeon/platform_tests/windows_unit_tests/windows/windows_unit_tests_plugin_c_api.cpp
Labels: cla: yes, p: pigeon

#519 [pigeon] Started transitioning to run_tests.dart / added a windows support
  packages/pigeon/CHANGELOG.md
  packages/pigeon/bin/run_tests.dart
  packages/pigeon/platform_tests/android_unit_tests/android/app/build.gradle
  packages/pigeon/platform_tests/android_unit_tests/android/build.gradle
  packages/pigeon/platform_tests/windows_unit_tests/windows/CMakeLists.txt
  packages/pigeon/platform_tests/windows_unit_tests/windows/test/.gitignore
Labels: waiting for tree to go green, cla: yes, p: pigeon, needs tests

#526 upgraded android versions to open tree
  packages/animations/example/android/app/build.gradle
  packages/animations/example/android/build.gradle
  packages/animations/example/android/gradle/wrapper/gradle-wrapper.properties
  packages/extension_google_sign_in_as_googleapis_auth/example/android/app/build.gradle
  packages/flutter_markdown/example/android/app/build.gradle
  packages/flutter_markdown/example/android/build.gradle
  packages/imitation_game/imitation_tests/smiley/android/app/build.gradle
  packages/imitation_game/imitation_tests/smiley/flutter/smiley/android/app/build.gradle
  packages/imitation_game/imitation_tests/smiley/flutter/smiley/android/build.gradle
  packages/palette_generator/example/android/app/build.gradle
  packages/pigeon/e2e_tests/test_objc/android/app/build.gradle
  packages/pigeon/e2e_tests/test_objc/android/build.gradle
  packages/rfw/example/hello/android/app/build.gradle
  packages/rfw/example/hello/android/build.gradle
  packages/rfw/example/local/android/app/build.gradle
  packages/rfw/example/local/android/build.gradle
  packages/rfw/example/remote/android/app/build.gradle
  packages/rfw/example/remote/android/build.gradle
  packages/rfw/example/wasm/android/app/build.gradle
  packages/rfw/example/wasm/android/build.gradle
Labels: cla: yes, p: extension_google_sign_in_as_googleapis_auth, p: imitation_game, p: palette_generator, p: pigeon, p: flutter_markdown, needs tests

#524 [ci] Add a builder for local_tests.sh on Windows
  .ci.yaml
  .ci/scripts/local_tests.sh
  .ci/targets/windows_local_tests.yaml
Labels: waiting for tree to go green, cla: yes

#527 [pigeon] Made using enums in type arguments an error, added workaround
  packages/pigeon/CHANGELOG.md
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/lib/pigeon_lib.dart
  packages/pigeon/pubspec.yaml
  packages/pigeon/test/pigeon_lib_test.dart
Labels: waiting for tree to go green, cla: yes, p: pigeon
