Repository flutter/packages, pull requests merged in 2021-08, with the labels that each got.

#365 [flutter_markdown] Fix mergeInlineChildren when first span is not a TextSpan
  packages/flutter_markdown/CHANGELOG.md
  packages/flutter_markdown/lib/src/builder.dart
  packages/flutter_markdown/pubspec.yaml
  packages/flutter_markdown/test/custom_syntax_test.dart
Labels: cla: yes, p: flutter_markdown

#429 Don't use 'flutter upgrade' on Cirrus
  .cirrus.yml
Labels: cla: yes

#430 [pigeon] fixed some NPE for nested types in java
  packages/pigeon/CHANGELOG.md
  packages/pigeon/lib/java_generator.dart
  packages/pigeon/platform_tests/android_unit_tests/android/app/src/test/java/com/example/android_unit_tests/PigeonTest.java
  packages/pigeon/test/java_generator_test.dart
Labels: cla: yes, p: pigeon

#431 [ci.yaml] Add LUCI config information
  .ci.yaml
Labels: waiting for tree to go green, cla: yes

#428 [pigeon] generics and parsing multiple parameters
  packages/pigeon/CHANGELOG.md
  packages/pigeon/lib/ast.dart
  packages/pigeon/lib/dart_generator.dart
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/lib/java_generator.dart
  packages/pigeon/lib/objc_generator.dart
  packages/pigeon/lib/pigeon_lib.dart
  packages/pigeon/pigeons/all_datatypes.dart
  packages/pigeon/pigeons/primitive.dart
  packages/pigeon/platform_tests/android_unit_tests/android/app/src/test/java/com/example/android_unit_tests/PrimitiveTest.java
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/all_datatypes.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/primitive.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/test/all_datatypes_test.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/test/primitive_test.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/test/primitive_test.mocks.dart
  packages/pigeon/run_tests.sh
  packages/pigeon/test/dart_generator_test.dart
  packages/pigeon/test/java_generator_test.dart
  packages/pigeon/test/objc_generator_test.dart
  packages/pigeon/test/pigeon_lib_test.dart
Labels: cla: yes, p: pigeon

#434 [Pigeon] Add the optional sdkPath parameter for specifying Dart SDK path
  packages/pigeon/CHANGELOG.md
  packages/pigeon/lib/pigeon_cl.dart
  packages/pigeon/lib/pigeon_lib.dart
Labels: cla: yes, p: pigeon

#436 [multicast_dns] Fix for #88242 README.md broken link for bin dir
  packages/multicast_dns/CHANGELOG.md
  packages/multicast_dns/README.md
  packages/multicast_dns/pubspec.yaml
Labels: waiting for tree to go green, cla: yes, p: multicast_dns

#435 [pigeon] unnamed arguments and nonnull typeArguments
  packages/pigeon/lib/ast.dart
  packages/pigeon/lib/dart_generator.dart
  packages/pigeon/lib/java_generator.dart
  packages/pigeon/lib/objc_generator.dart
  packages/pigeon/lib/pigeon_lib.dart
  packages/pigeon/test/dart_generator_test.dart
  packages/pigeon/test/java_generator_test.dart
  packages/pigeon/test/objc_generator_test.dart
  packages/pigeon/test/pigeon_lib_test.dart
Labels: cla: yes, p: pigeon

#432 [pigeon] added void TypeDeclaration helper
  packages/pigeon/lib/ast.dart
  packages/pigeon/lib/dart_generator.dart
  packages/pigeon/lib/java_generator.dart
  packages/pigeon/lib/objc_generator.dart
  packages/pigeon/test/dart_generator_test.dart
  packages/pigeon/test/java_generator_test.dart
  packages/pigeon/test/objc_generator_test.dart
  packages/pigeon/test/pigeon_lib_test.dart
Labels: cla: yes, p: pigeon

#439 [metric_center] Migrate code to null safety
  packages/metrics_center/CHANGELOG.md
  packages/metrics_center/lib/src/common.dart
  packages/metrics_center/lib/src/gcs_lock.dart
  packages/metrics_center/lib/src/google_benchmark.dart
  packages/metrics_center/lib/src/skiaperf.dart
  packages/metrics_center/pubspec.yaml
  packages/metrics_center/test/flutter_test.dart
  packages/metrics_center/test/gcs_lock_test.dart
  packages/metrics_center/test/gcs_lock_test.mocks.dart
  packages/metrics_center/test/skiaperf_test.dart
  packages/metrics_center/test/skiaperf_test.mocks.dart
  packages/metrics_center/test/utility.dart
Labels: waiting for tree to go green, cla: yes, p: metrics_center

#440 [Pigeon] Pass on the sdkPath parameter in pigeon_cl.dart.
  packages/pigeon/lib/pigeon_cl.dart
Labels: cla: yes, p: pigeon

#441 Update flutter_plugin_tools to 0.5.0
  .cirrus.yml
  .github/workflows/release.yml
  script/tool_runner.sh
Labels: cla: yes

#433 [flutter_markdown] fix "Duplicate keys found" - use UniqueKey() instead of d of millisecondsSinceEpoch
  packages/flutter_markdown/CHANGELOG.md
  packages/flutter_markdown/lib/src/builder.dart
  packages/flutter_markdown/pubspec.yaml
  packages/flutter_markdown/test/link_test.dart
Labels: cla: yes, p: flutter_markdown

#449 [pigeon] fixed java generics for Maps
  packages/pigeon/lib/functional.dart
  packages/pigeon/lib/java_generator.dart
  packages/pigeon/test/functional_test.dart
  packages/pigeon/test/java_generator_test.dart
Labels: cla: yes, p: pigeon

#451 Update wait-on-check version
  .github/workflows/release.yml
Labels: cla: yes

#448 [pigeon] made copyright headers work for dart test output
  packages/pigeon/CHANGELOG.md
  packages/pigeon/lib/dart_generator.dart
  packages/pigeon/lib/pigeon_lib.dart
  packages/pigeon/test/pigeon_lib_test.dart
Labels: cla: yes, p: pigeon

#437 Support soft line break.
  packages/flutter_markdown/lib/src/builder.dart
  packages/flutter_markdown/lib/src/widget.dart
  packages/flutter_markdown/test/text_test.dart
Labels: cla: yes, p: flutter_markdown

#442 [pointer_interceptor] Remove iOS and Android from example
  packages/pointer_interceptor/CHANGELOG.md
  packages/pointer_interceptor/example/android/.gitignore
  packages/pointer_interceptor/example/android/app/build.gradle
  packages/pointer_interceptor/example/android/app/src/debug/AndroidManifest.xml
  packages/pointer_interceptor/example/android/app/src/main/AndroidManifest.xml
  packages/pointer_interceptor/example/android/app/src/main/kotlin/com/example/example/MainActivity.kt
  packages/pointer_interceptor/example/android/app/src/main/res/drawable-v21/launch_background.xml
  packages/pointer_interceptor/example/android/app/src/main/res/drawable/launch_background.xml
  packages/pointer_interceptor/example/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  packages/pointer_interceptor/example/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  packages/pointer_interceptor/example/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  packages/pointer_interceptor/example/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  packages/pointer_interceptor/example/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  packages/pointer_interceptor/example/android/app/src/main/res/values-night/styles.xml
  packages/pointer_interceptor/example/android/app/src/main/res/values/styles.xml
  packages/pointer_interceptor/example/android/app/src/profile/AndroidManifest.xml
  packages/pointer_interceptor/example/android/build.gradle
  packages/pointer_interceptor/example/android/gradle.properties
  packages/pointer_interceptor/example/android/gradle/wrapper/gradle-wrapper.properties
  packages/pointer_interceptor/example/android/settings.gradle
  packages/pointer_interceptor/example/ios/.gitignore
  packages/pointer_interceptor/example/ios/Flutter/AppFrameworkInfo.plist
  packages/pointer_interceptor/example/ios/Flutter/Debug.xcconfig
  packages/pointer_interceptor/example/ios/Flutter/Release.xcconfig
  packages/pointer_interceptor/example/ios/Runner.xcodeproj/project.pbxproj
  packages/pointer_interceptor/example/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  packages/pointer_interceptor/example/ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  packages/pointer_interceptor/example/ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
  packages/pointer_interceptor/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/pointer_interceptor/example/ios/Runner.xcworkspace/contents.xcworkspacedata
  packages/pointer_interceptor/example/ios/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  packages/pointer_interceptor/example/ios/Runner.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
  packages/pointer_interceptor/example/ios/Runner/AppDelegate.swift
  packages/pointer_interceptor/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
  packages/pointer_interceptor/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-1024x1024@1x.png
  packages/pointer_interceptor/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@1x.png
  packages/pointer_interceptor/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@2x.png
  packages/pointer_interceptor/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@3x.png
  packages/pointer_interceptor/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@1x.png
  packages/pointer_interceptor/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@2x.png
  packages/pointer_interceptor/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@3x.png
  packages/pointer_interceptor/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@1x.png
  packages/pointer_interceptor/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@2x.png
  packages/pointer_interceptor/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@3x.png
  packages/pointer_interceptor/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@2x.png
  packages/pointer_interceptor/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@3x.png
  packages/pointer_interceptor/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@1x.png
  packages/pointer_interceptor/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@2x.png
  packages/pointer_interceptor/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-83.5x83.5@2x.png
  packages/pointer_interceptor/example/ios/Runner/Assets.xcassets/LaunchImage.imageset/Contents.json
  packages/pointer_interceptor/example/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage.png
  packages/pointer_interceptor/example/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@2x.png
  packages/pointer_interceptor/example/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@3x.png
  packages/pointer_interceptor/example/ios/Runner/Assets.xcassets/LaunchImage.imageset/README.md
  packages/pointer_interceptor/example/ios/Runner/Base.lproj/LaunchScreen.storyboard
  packages/pointer_interceptor/example/ios/Runner/Base.lproj/Main.storyboard
  packages/pointer_interceptor/example/ios/Runner/Info.plist
  packages/pointer_interceptor/example/ios/Runner/Runner-Bridging-Header.h
Labels: cla: yes, p: pointer_interceptor

#453 [flutter_markdown]: Release v0.6.6
  packages/flutter_markdown/CHANGELOG.md
  packages/flutter_markdown/pubspec.yaml
Labels: cla: yes, p: flutter_markdown
