Repository flutter/packages, pull requests merged in 2021-09, with the labels that each got.

#450 [palette_generator] Add PaletteGenerator.fromByteData
  packages/palette_generator/CHANGELOG.md
  packages/palette_generator/lib/palette_generator.dart
  packages/palette_generator/pubspec.yaml
  packages/palette_generator/test/palette_generator_test.dart
Labels: cla: yes, p: palette_generator

#454 Roll to version 0.6.0+1 of repo tooling
  .cirrus.yml
  .github/workflows/release.yml
  script/tool_runner.sh
Labels: cla: yes

#455 [multicast_dns] Close the IPv6 any addr socket in stop()
  packages/multicast_dns/lib/multicast_dns.dart
Labels: cla: yes, p: multicast_dns

#446 [flutter_image] Remove unused .travis.yml
  packages/flutter_image/.travis.yml
Labels: cla: yes

#457 Test that IPv6 sockets get closed (fe5dc3513b2c673bdfdc779b3ea2035ba1…
  packages/multicast_dns/CHANGELOG.md
  packages/multicast_dns/pubspec.yaml
  packages/multicast_dns/test/client_test.dart
Labels: cla: yes, p: multicast_dns

#458 [pigeon] fixed: classes aren't generated when they are only referenced as type arguments
  packages/pigeon/CHANGELOG.md
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/lib/pigeon_lib.dart
  packages/pigeon/pubspec.yaml
  packages/pigeon/test/pigeon_lib_test.dart
Labels: cla: yes, p: pigeon

#460 [pigeon] made it so async java handlers can report errors
  packages/pigeon/CHANGELOG.md
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/lib/java_generator.dart
  packages/pigeon/platform_tests/android_unit_tests/android/app/src/test/java/com/example/android_unit_tests/AsyncTest.java
  packages/pigeon/pubspec.yaml
  packages/pigeon/test/java_generator_test.dart
Labels: cla: yes, p: pigeon

#456 Fix pre-existing HintCode.UNNECESSARY_TYPE_CHECK_TRUE
  packages/flutter_markdown/lib/src/builder.dart
Labels: cla: yes, p: flutter_markdown

#461 [ci] Update lewagon/wait-on-check-action to latest version.
  .github/workflows/release.yml
Labels: waiting for tree to go green, cla: yes

#459 [cross_file] Unify XFile interface on web and mobile
  packages/cross_file/CHANGELOG.md
  packages/cross_file/lib/src/types/html.dart
  packages/cross_file/lib/src/types/io.dart
  packages/cross_file/pubspec.yaml
Labels: cla: yes, p: cross_file

#464 Renew cirrus gcp credentials
  .cirrus.yml
Labels: waiting for tree to go green, cla: yes

#467 Give the labeler access to PRs
  .github/workflows/pull_request_label.yml
Labels: waiting for tree to go green, cla: yes

#462 [pigeon] updated the assert message for incomplete objc protocol implementation
  packages/pigeon/CHANGELOG.md
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/lib/objc_generator.dart
  packages/pigeon/pubspec.yaml
Labels: cla: yes, p: pigeon

#469 [ci] Give write permissions to release.yml
  .github/workflows/release.yml
Labels: cla: yes

#468 [pigeon] fixed cases where types can be missing from codecs
  packages/pigeon/CHANGELOG.md
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/pubspec.yaml
  packages/pigeon/test/generator_tools_test.dart
Labels: cla: yes, p: pigeon

#463 [extension_google_sign_in_as_googleapis_auth]updated the code snippet
  packages/extension_google_sign_in_as_googleapis_auth/CHANGELOG.md
  packages/extension_google_sign_in_as_googleapis_auth/README.md
  packages/extension_google_sign_in_as_googleapis_auth/pubspec.yaml
Labels: waiting for tree to go green, cla: yes, p: extension_google_sign_in_as_googleapis_auth

#472 [pigeon] fixed bug when using integer primitives on java
  packages/pigeon/CHANGELOG.md
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/lib/java_generator.dart
  packages/pigeon/platform_tests/android_unit_tests/android/app/src/test/java/com/example/android_unit_tests/AllDatatypesTest.java
  packages/pigeon/platform_tests/android_unit_tests/android/app/src/test/java/com/example/android_unit_tests/PrimitiveTest.java
  packages/pigeon/pubspec.yaml
  packages/pigeon/test/java_generator_test.dart
Labels: cla: yes, p: pigeon

#406 [pigeon] Update example README
  packages/pigeon/CHANGELOG.md
  packages/pigeon/example/README.md
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/pubspec.yaml
Labels: waiting for tree to go green, cla: yes, p: pigeon

#473 [multiple] Fix unnecessary_import lint in repo.
  packages/flutter_markdown/CHANGELOG.md
  packages/flutter_markdown/example/lib/demos/basic_markdown_demo.dart
  packages/flutter_markdown/lib/src/widget.dart
  packages/flutter_markdown/test/blockquote_test.dart
  packages/flutter_markdown/test/image_test.dart
  packages/flutter_markdown/test/list_test.dart
  packages/flutter_markdown/test/style_sheet_test.dart
  packages/flutter_markdown/test/table_test.dart
  packages/flutter_markdown/test/text_alignment_test.dart
  packages/flutter_markdown/test/text_scale_factor_test.dart
  packages/flutter_markdown/test/text_test.dart
  packages/flutter_markdown/test/utils.dart
  packages/fuchsia_ctl/CHANGELOG.md
  packages/fuchsia_ctl/test/image_paver_test.dart
  packages/fuchsia_ctl/test/package_server_test.dart
  packages/fuchsia_ctl/test/ssh_client_test.dart
  packages/metrics_center/CHANGELOG.md
  packages/metrics_center/lib/src/skiaperf.dart
  packages/metrics_center/test/skiaperf_test.dart
  packages/palette_generator/CHANGELOG.md
  packages/palette_generator/example/lib/main.dart
  packages/rfw/CHANGELOG.md
  packages/rfw/lib/flutter/core_widgets.dart
  packages/rfw/lib/flutter/material_widgets.dart
Labels: cla: yes, p: fuchsia_ctl, p: metrics_center, p: palette_generator, p: flutter_markdown

#471 [pigeon] fixed nested classes type arguments can be omitted from the output
  packages/pigeon/CHANGELOG.md
  packages/pigeon/lib/dart_generator.dart
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/lib/java_generator.dart
  packages/pigeon/lib/objc_generator.dart
  packages/pigeon/lib/pigeon_lib.dart
  packages/pigeon/pubspec.yaml
  packages/pigeon/test/generator_tools_test.dart
  packages/pigeon/test/pigeon_lib_test.dart
Labels: cla: yes, p: pigeon

#477 [ci.yaml] roller presubmit builder, master->main
  .ci.yaml
Labels: waiting for tree to go green, cla: yes
