Repository flutter/packages, pull requests merged in 2021-10, with the labels that each got.

#479 [ci] Run `publishable` check on stable channel
  .cirrus.yml
Labels: cla: yes

#474 [rfw] Apply review comments from Yegor
  customer_testing.sh
  packages/rfw/CHANGELOG.md
  packages/rfw/example/README.md
  packages/rfw/lib/formats.dart
  packages/rfw/lib/rfw.dart
  packages/rfw/lib/src/dart/binary.dart
  packages/rfw/lib/src/dart/model.dart
  packages/rfw/lib/src/dart/text.dart
  packages/rfw/lib/src/flutter/argument_decoders.dart
  packages/rfw/lib/src/flutter/content.dart
  packages/rfw/lib/src/flutter/core_widgets.dart
  packages/rfw/lib/src/flutter/material_widgets.dart
  packages/rfw/lib/src/flutter/remote_widget.dart
  packages/rfw/lib/src/flutter/runtime.dart
  packages/rfw/pubspec.yaml
  packages/rfw/run_tests.sh
Labels: waiting for tree to go green, cla: yes

#475 [rfw] Add FractionallySizedBox to RFW core widgets.
  packages/rfw/CHANGELOG.md
  packages/rfw/lib/src/flutter/core_widgets.dart
  packages/rfw/test/core_widgets_test.dart
Labels: waiting for tree to go green, cla: yes

#465 [flutter_markdown] add padding for p, h1-h6
  packages/flutter_markdown/CHANGELOG.md
  packages/flutter_markdown/example/lib/demos/wrap_alignment_demo.dart
  packages/flutter_markdown/lib/src/builder.dart
  packages/flutter_markdown/lib/src/style_sheet.dart
  packages/flutter_markdown/pubspec.yaml
  packages/flutter_markdown/test/style_sheet_test.dart
Labels: cla: yes, p: flutter_markdown

#478 [ci] Initial setup for Windows LUCI bots
  .ci.yaml
  .ci/scripts/build_examples_win32.sh
  .ci/scripts/native_test_win32.sh
  .ci/scripts/prepare_tool.sh
  .ci/targets/windows_build_and_platform_tests.yaml
  .cirrus.yml
Labels: cla: yes

#482 [rfw] Transition `lcov` from a shell script to Dart
  packages/rfw/CHANGELOG.md
  packages/rfw/README.md
  packages/rfw/run_tests.sh
  packages/rfw/test_coverage/.gitignore
  packages/rfw/test_coverage/bin/test_coverage.dart
  packages/rfw/test_coverage/pubspec.yaml
Labels: waiting for tree to go green, cla: yes

#488 [pigeon] Update to analyzer 2.4.0 and fix deprecations.
  packages/pigeon/lib/pigeon_lib.dart
  packages/pigeon/pubspec.yaml
Labels: cla: yes, p: pigeon

#493 [rfw] Update customer_testing.sh for recent rfw changes
  customer_testing.sh
  packages/rfw/run_tests.sh
Labels: waiting for tree to go green, cla: yes

#491 Drop dependency on pkg:pedantic from 4 packages
  packages/cross_file/pubspec.yaml
  packages/extension_google_sign_in_as_googleapis_auth/pubspec.yaml
  packages/fuchsia_ctl/pubspec.lock
  packages/fuchsia_ctl/pubspec.yaml
  packages/metrics_center/pubspec.yaml
Labels: cla: yes, p: cross_file, p: extension_google_sign_in_as_googleapis_auth, p: fuchsia_ctl, p: metrics_center

#490 [fuchsia_ctl] use `ffx` for device discovery instead of `device-finder`
  packages/fuchsia_ctl/.gitignore
  packages/fuchsia_ctl/CHANGELOG.md
  packages/fuchsia_ctl/README.md
  packages/fuchsia_ctl/bin/main.dart
  packages/fuchsia_ctl/lib/fuchsia_ctl.dart
  packages/fuchsia_ctl/lib/src/ffx.dart
  packages/fuchsia_ctl/lib/src/ssh_client.dart
  packages/fuchsia_ctl/pubspec.yaml
  packages/fuchsia_ctl/test/dev_finder_test.dart
  packages/fuchsia_ctl/test/ffx_test.dart
Labels: cla: yes, p: fuchsia_ctl

#486 [flutter_markdown] Padding builder
  packages/flutter_markdown/CHANGELOG.md
  packages/flutter_markdown/example/lib/demos/wrap_alignment_demo.dart
  packages/flutter_markdown/lib/src/builder.dart
  packages/flutter_markdown/lib/src/widget.dart
  packages/flutter_markdown/pubspec.yaml
  packages/flutter_markdown/test/padding_test.dart
Labels: cla: yes, p: flutter_markdown

#499 [animations] Updated open_container.dart documentation.
  packages/animations/CHANGELOG.md
  packages/animations/lib/src/open_container.dart
  packages/animations/pubspec.yaml
Labels: waiting for tree to go green, cla: yes

#503 [ci] Enable Windows LUCI tests
  .ci.yaml
Labels: waiting for tree to go green, cla: yes
