Repository flutter/packages, pull requests merged in 2021-06, with the labels that each got.

#368 [flutter_lints]: analyzer_options.yaml -> analysis_options.yaml
  packages/flutter_lints/CHANGELOG.md
  packages/flutter_lints/README.md
  packages/flutter_lints/pubspec.yaml
Labels: cla: yes

#367 Enable pubspec checks
  .cirrus.yml
  analysis_options.yaml
  packages/animations/pubspec.yaml
  packages/cross_file/pubspec.yaml
  packages/cross_file/test/x_file_html_test.dart
  packages/cross_file/test/x_file_io_test.dart
  packages/css_colors/pubspec.yaml
  packages/extension_google_sign_in_as_googleapis_auth/example/lib/main.dart
  packages/extension_google_sign_in_as_googleapis_auth/example/pubspec.yaml
  packages/extension_google_sign_in_as_googleapis_auth/pubspec.yaml
  packages/extension_google_sign_in_as_googleapis_auth/test/extension_google_sign_in_as_googleapis_auth_test.dart
  packages/flutter_image/pubspec.yaml
  packages/flutter_lints/pubspec.yaml
  packages/flutter_markdown/pubspec.yaml
  packages/flutter_template_images/pubspec.yaml
  packages/fuchsia_ctl/bin/main.dart
  packages/fuchsia_ctl/lib/src/amber_ctl.dart
  packages/fuchsia_ctl/lib/src/package_server.dart
  packages/fuchsia_ctl/pubspec.yaml
  packages/fuchsia_ctl/test/command_line_test.dart
  packages/fuchsia_ctl/test/emulator_test.dart
  packages/fuchsia_ctl/test/fakes.dart
  packages/fuchsia_ctl/test/package_server_test.dart
  packages/fuchsia_ctl/test/ssh_client_test.dart
  packages/fuchsia_ctl/test/ssh_key_manager_test.dart
  packages/fuchsia_ctl/test/tar_test.dart
  packages/imitation_game/bin/imitation_game.dart
  packages/imitation_game/pubspec.yaml
  packages/metrics_center/pubspec.yaml
  packages/metrics_center/test/gcs_lock_test.dart
  packages/metrics_center/test/google_benchmark_test.dart
  packages/metrics_center/test/skiaperf_test.dart
  packages/multicast_dns/pubspec.yaml
  packages/multicast_dns/test/decode_test.dart
  packages/multicast_dns/test/lookup_resolver_test.dart
  packages/multicast_dns/test/resource_record_cache_test.dart
  packages/palette_generator/pubspec.yaml
  packages/palette_generator/test/palette_generator_test.dart
  packages/pigeon/e2e_tests/test_objc/pubspec.yaml
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/test/null_safe_test.mocks.dart
  packages/pigeon/platform_tests/ios_unit_tests/pubspec.yaml
  packages/pigeon/pubspec.yaml
  packages/pointer_interceptor/pubspec.yaml
  packages/web_benchmarks/lib/src/browser.dart
  packages/web_benchmarks/lib/src/recorder.dart
  packages/web_benchmarks/pubspec.yaml
  packages/xdg_directories/pubspec.yaml
  packages/xdg_directories/test/xdg_directories_test.dart
  third_party/packages/bsdiff/example/pubspec.yaml
  third_party/packages/bsdiff/pubspec.yaml
  third_party/packages/cupertino_icons/pubspec.yaml
Labels: cla: yes, p: bsdiff, p: cross_file, p: css_colors, p: cupertino_icons, p: extension_google_sign_in_as_googleapis_auth, p: flutter_image, p: flutter_markdown, p: flutter_template_images, p: fuchsia_ctl, p: imitation_game, p: metrics_center, p: multicast_dns, p: palette_generator, p: pigeon, p: pointer_interceptor, p: web_benchmarks, p: xdg_directories, waiting for tree to go green

#375 [Pigeon] Fix Obj-C generation cast bug
  packages/pigeon/lib/objc_generator.dart
  packages/pigeon/test/objc_generator_test.dart
Labels: cla: yes, p: pigeon

#377 [pigeon] added the ability to add a copyright notice to generated files
  packages/pigeon/copyright_header.txt
  packages/pigeon/lib/dart_generator.dart
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/lib/java_generator.dart
  packages/pigeon/lib/objc_generator.dart
  packages/pigeon/lib/pigeon_lib.dart
  packages/pigeon/run_tests.sh
  packages/pigeon/test/dart_generator_test.dart
  packages/pigeon/test/java_generator_test.dart
  packages/pigeon/test/objc_generator_test.dart
  packages/pigeon/test/pigeon_lib_test.dart
Labels: cla: yes, p: pigeon

#378 [metric_center] Update packages to null safety
  packages/metrics_center/CHANGELOG.md
  packages/metrics_center/lib/src/common.dart
  packages/metrics_center/lib/src/gcs_lock.dart
  packages/metrics_center/lib/src/skiaperf.dart
  packages/metrics_center/pubspec.yaml
Labels: cla: yes, p: metrics_center, waiting for tree to go green

#370 [cross_file] Update README
  packages/cross_file/CHANGELOG.md
  packages/cross_file/README.md
  packages/cross_file/pubspec.yaml
Labels: cla: yes, p: cross_file, waiting for tree to go green

#373 [pigeon] replaced all_datatype compilation tests with platform unit tests
  packages/pigeon/pigeons/all_datatypes.dart
  packages/pigeon/platform_tests/android_unit_tests/android/app/src/main/java/com/example/android_unit_tests/AllDatatypes.java
  packages/pigeon/platform_tests/android_unit_tests/android/app/src/test/java/com/example/android_unit_tests/AllDatatypesTest.java
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/all_datatypes.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/regenerate_mocks.sh
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/test/all_datatypes_test.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/test/all_datatypes_test.mocks.dart
  packages/pigeon/platform_tests/ios_unit_tests/ios/Runner.xcodeproj/project.pbxproj
  packages/pigeon/platform_tests/ios_unit_tests/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  packages/pigeon/platform_tests/ios_unit_tests/ios/Runner/all_datatypes.h
  packages/pigeon/platform_tests/ios_unit_tests/ios/Runner/all_datatypes.m
  packages/pigeon/platform_tests/ios_unit_tests/ios/Runner/async_handlers.h
  packages/pigeon/platform_tests/ios_unit_tests/ios/Runner/async_handlers.m
  packages/pigeon/platform_tests/ios_unit_tests/ios/RunnerTests/AllDatatypesTest.m
  packages/pigeon/platform_tests/ios_unit_tests/ios/RunnerTests/EchoMessenger.h
  packages/pigeon/platform_tests/ios_unit_tests/ios/RunnerTests/EchoMessenger.m
  packages/pigeon/run_tests.sh
Labels: cla: yes, p: pigeon

#372 [pigeon] updated readme and made version 0.2.2
  packages/pigeon/CHANGELOG.md
  packages/pigeon/README.md
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/pubspec.yaml
Labels: cla: yes, p: pigeon

#376 [Pigeon] enum ios unittest
  packages/pigeon/pigeons/enum.dart
  packages/pigeon/platform_tests/ios_unit_tests/ios/Runner.xcodeproj/project.pbxproj
  packages/pigeon/platform_tests/ios_unit_tests/ios/Runner/enum.h
  packages/pigeon/platform_tests/ios_unit_tests/ios/Runner/enum.m
  packages/pigeon/platform_tests/ios_unit_tests/ios/RunnerTests/EnumTest.m
  packages/pigeon/run_tests.sh
Labels: cla: yes, p: pigeon

#380 [pigeon] fixed error returning errors from async void(void) functions
  packages/pigeon/CHANGELOG.md
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/lib/objc_generator.dart
  packages/pigeon/platform_tests/ios_unit_tests/ios/RunnerTests/AsyncHandlersTest.m
  packages/pigeon/pubspec.yaml
Labels: cla: yes, p: pigeon

#382 [cross_file] sorted imports
  packages/cross_file/lib/src/types/html.dart
Labels: cla: yes, p: cross_file

#384 Update cirrus gcp credentials
  .cirrus.yml
Labels: cla: yes

#383 [CrossFile] Fix class name in readme
  packages/cross_file/CHANGELOG.md
  packages/cross_file/README.md
  packages/cross_file/pubspec.yaml
Labels: cla: yes, p: cross_file

#386 [pigeon] fixed recursing into class declarations in the front end parser
  packages/pigeon/CHANGELOG.md
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/lib/pigeon_lib.dart
  packages/pigeon/pubspec.yaml
  packages/pigeon/run_tests.sh
  packages/pigeon/test/pigeon_lib_test.dart
Labels: cla: yes, p: pigeon

#381 [pigeon] switched to parsing with the analyzer
  packages/pigeon/CHANGELOG.md
  packages/pigeon/lib/ast.dart
  packages/pigeon/lib/dart_generator.dart
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/lib/java_generator.dart
  packages/pigeon/lib/objc_generator.dart
  packages/pigeon/lib/pigeon.dart
  packages/pigeon/lib/pigeon_cl.dart
  packages/pigeon/lib/pigeon_lib.dart
  packages/pigeon/pigeons/host2flutter.dart
  packages/pigeon/pigeons/message.dart
  packages/pigeon/pubspec.yaml
  packages/pigeon/run_tests.sh
  packages/pigeon/test/dart_generator_test.dart
  packages/pigeon/test/generator_tools_test.dart
  packages/pigeon/test/java_generator_test.dart
  packages/pigeon/test/objc_generator_test.dart
  packages/pigeon/test/pigeon_lib_test.dart
Labels: cla: yes, p: pigeon

#385 [pigeon] started raising an error if trying to use more than one file
  packages/pigeon/lib/pigeon_lib.dart
  packages/pigeon/pigeons/host2flutter.dart
  packages/pigeon/test/pigeon_lib_test.dart
Labels: cla: yes, p: pigeon

#391 [pigeon] Added a more explicit error if generic fields are used.
  packages/pigeon/.gitignore
  packages/pigeon/CHANGELOG.md
  packages/pigeon/lib/ast.dart
  packages/pigeon/lib/pigeon_lib.dart
  packages/pigeon/test/pigeon_lib_test.dart
Labels: cla: yes, p: pigeon

#390 [pigeon] added tool to help compare the output from different versions
  packages/pigeon/diff_tool.sh
Labels: cla: yes, p: pigeon

#387 [pigeon] transitioned compilation tests to platform tests
  packages/pigeon/.gitignore
  packages/pigeon/pigeons/host2flutter.dart
  packages/pigeon/pigeons/message.dart
  packages/pigeon/platform_tests/android_unit_tests/android/app/src/main/java/com/example/android_unit_tests/.gitignore
  packages/pigeon/platform_tests/android_unit_tests/android/app/src/main/java/com/example/android_unit_tests/AllDatatypes.java
  packages/pigeon/platform_tests/android_unit_tests/android/app/src/main/java/com/example/android_unit_tests/Pigeon.java
  packages/pigeon/platform_tests/ios_unit_tests/ios/Runner.xcodeproj/project.pbxproj
  packages/pigeon/platform_tests/ios_unit_tests/ios/Runner/.gitignore
  packages/pigeon/platform_tests/ios_unit_tests/ios/Runner/all_datatypes.h
  packages/pigeon/platform_tests/ios_unit_tests/ios/Runner/all_datatypes.m
  packages/pigeon/platform_tests/ios_unit_tests/ios/Runner/async_handlers.h
  packages/pigeon/platform_tests/ios_unit_tests/ios/Runner/async_handlers.m
  packages/pigeon/platform_tests/ios_unit_tests/ios/Runner/enum.h
  packages/pigeon/platform_tests/ios_unit_tests/ios/Runner/enum.m
  packages/pigeon/platform_tests/ios_unit_tests/ios/RunnerTests/AllDatatypesTest.m
  packages/pigeon/platform_tests/ios_unit_tests/ios/RunnerTests/AsyncHandlersTest.m
  packages/pigeon/platform_tests/ios_unit_tests/ios/RunnerTests/EnumTest.m
  packages/pigeon/platform_tests/ios_unit_tests/ios/RunnerTests/RunnerTests.m
  packages/pigeon/run_tests.sh
Labels: cla: yes, p: pigeon

#366 [flutter_template_images] Support the new skeleton app template
  packages/flutter_template_images/CHANGELOG.md
  packages/flutter_template_images/pubspec.yaml
  packages/flutter_template_images/templates/app_shared/web/icons/Icon-maskable-192.png
  packages/flutter_template_images/templates/app_shared/web/icons/Icon-maskable-512.png
  packages/flutter_template_images/templates/app_shared/windows.tmpl/runner/resources/app_icon.ico
  packages/flutter_template_images/templates/app_shared/winuwp.tmpl/runner_uwp/Assets/LargeTile.scale-100.png
  packages/flutter_template_images/templates/app_shared/winuwp.tmpl/runner_uwp/Assets/LargeTile.scale-125.png
  packages/flutter_template_images/templates/app_shared/winuwp.tmpl/runner_uwp/Assets/LargeTile.scale-150.png
  packages/flutter_template_images/templates/app_shared/winuwp.tmpl/runner_uwp/Assets/LargeTile.scale-200.png
  packages/flutter_template_images/templates/app_shared/winuwp.tmpl/runner_uwp/Assets/LargeTile.scale-400.png
  packages/flutter_template_images/templates/app_shared/winuwp.tmpl/runner_uwp/Assets/LockScreenLogo.scale-200.png
  packages/flutter_template_images/templates/app_shared/winuwp.tmpl/runner_uwp/Assets/SmallTile.scale-100.png
  packages/flutter_template_images/templates/app_shared/winuwp.tmpl/runner_uwp/Assets/SmallTile.scale-125.png
  packages/flutter_template_images/templates/app_shared/winuwp.tmpl/runner_uwp/Assets/SmallTile.scale-150.png
  packages/flutter_template_images/templates/app_shared/winuwp.tmpl/runner_uwp/Assets/SmallTile.scale-200.png
  packages/flutter_template_images/templates/app_shared/winuwp.tmpl/runner_uwp/Assets/SmallTile.scale-400.png
  packages/flutter_template_images/templates/app_shared/winuwp.tmpl/runner_uwp/Assets/SplashScreen.scale-100.png
  packages/flutter_template_images/templates/app_shared/winuwp.tmpl/runner_uwp/Assets/SplashScreen.scale-125.png
  packages/flutter_template_images/templates/app_shared/winuwp.tmpl/runner_uwp/Assets/SplashScreen.scale-150.png
  packages/flutter_template_images/templates/app_shared/winuwp.tmpl/runner_uwp/Assets/SplashScreen.scale-200.png
  packages/flutter_template_images/templates/app_shared/winuwp.tmpl/runner_uwp/Assets/SplashScreen.scale-400.png
  packages/flutter_template_images/templates/app_shared/winuwp.tmpl/runner_uwp/Assets/Square150x150Logo.scale-100.png
  packages/flutter_template_images/templates/app_shared/winuwp.tmpl/runner_uwp/Assets/Square150x150Logo.scale-125.png
  packages/flutter_template_images/templates/app_shared/winuwp.tmpl/runner_uwp/Assets/Square150x150Logo.scale-150.png
  packages/flutter_template_images/templates/app_shared/winuwp.tmpl/runner_uwp/Assets/Square150x150Logo.scale-200.png
  packages/flutter_template_images/templates/app_shared/winuwp.tmpl/runner_uwp/Assets/Square150x150Logo.scale-400.png
  packages/flutter_template_images/templates/app_shared/winuwp.tmpl/runner_uwp/Assets/Square44x44Logo.altform-unplated_targetsize-16.png
  packages/flutter_template_images/templates/app_shared/winuwp.tmpl/runner_uwp/Assets/Square44x44Logo.altform-unplated_targetsize-256.png
  packages/flutter_template_images/templates/app_shared/winuwp.tmpl/runner_uwp/Assets/Square44x44Logo.altform-unplated_targetsize-32.png
  packages/flutter_template_images/templates/app_shared/winuwp.tmpl/runner_uwp/Assets/Square44x44Logo.altform-unplated_targetsize-48.png
  packages/flutter_template_images/templates/app_shared/winuwp.tmpl/runner_uwp/Assets/Square44x44Logo.scale-100.png
  packages/flutter_template_images/templates/app_shared/winuwp.tmpl/runner_uwp/Assets/Square44x44Logo.scale-125.png
  packages/flutter_template_images/templates/app_shared/winuwp.tmpl/runner_uwp/Assets/Square44x44Logo.scale-150.png
  packages/flutter_template_images/templates/app_shared/winuwp.tmpl/runner_uwp/Assets/Square44x44Logo.scale-200.png
  packages/flutter_template_images/templates/app_shared/winuwp.tmpl/runner_uwp/Assets/Square44x44Logo.scale-400.png
  packages/flutter_template_images/templates/app_shared/winuwp.tmpl/runner_uwp/Assets/Square44x44Logo.targetsize-16.png
  packages/flutter_template_images/templates/app_shared/winuwp.tmpl/runner_uwp/Assets/Square44x44Logo.targetsize-24.png
  packages/flutter_template_images/templates/app_shared/winuwp.tmpl/runner_uwp/Assets/Square44x44Logo.targetsize-24_altform-unplated.png
  packages/flutter_template_images/templates/app_shared/winuwp.tmpl/runner_uwp/Assets/Square44x44Logo.targetsize-256.png
  packages/flutter_template_images/templates/app_shared/winuwp.tmpl/runner_uwp/Assets/Square44x44Logo.targetsize-32.png
  packages/flutter_template_images/templates/app_shared/winuwp.tmpl/runner_uwp/Assets/Square44x44Logo.targetsize-48.png
  packages/flutter_template_images/templates/app_shared/winuwp.tmpl/runner_uwp/Assets/StoreLogo.png
  packages/flutter_template_images/templates/app_shared/winuwp.tmpl/runner_uwp/Assets/StoreLogo.scale-100.png
  packages/flutter_template_images/templates/app_shared/winuwp.tmpl/runner_uwp/Assets/StoreLogo.scale-125.png
  packages/flutter_template_images/templates/app_shared/winuwp.tmpl/runner_uwp/Assets/StoreLogo.scale-150.png
  packages/flutter_template_images/templates/app_shared/winuwp.tmpl/runner_uwp/Assets/StoreLogo.scale-200.png
  packages/flutter_template_images/templates/app_shared/winuwp.tmpl/runner_uwp/Assets/StoreLogo.scale-400.png
  packages/flutter_template_images/templates/app_shared/winuwp.tmpl/runner_uwp/Assets/Wide310x150Logo.scale-200.png
  packages/flutter_template_images/templates/app_shared/winuwp.tmpl/runner_uwp/Assets/WideTile.scale-100.png
  packages/flutter_template_images/templates/app_shared/winuwp.tmpl/runner_uwp/Assets/WideTile.scale-125.png
  packages/flutter_template_images/templates/app_shared/winuwp.tmpl/runner_uwp/Assets/WideTile.scale-150.png
  packages/flutter_template_images/templates/app_shared/winuwp.tmpl/runner_uwp/Assets/WideTile.scale-200.png
  packages/flutter_template_images/templates/app_shared/winuwp.tmpl/runner_uwp/Assets/WideTile.scale-400.png
  packages/flutter_template_images/templates/app_shared/winuwp.tmpl/runner_uwp/Windows_TemporaryKey.pfx
  packages/flutter_template_images/templates/app_shared/winuwp.tmpl/runner_uwp/resources.pri
  packages/flutter_template_images/templates/skeleton/assets/images/2.0x/flutter_logo.png
  packages/flutter_template_images/templates/skeleton/assets/images/3.0x/flutter_logo.png
  packages/flutter_template_images/templates/skeleton/assets/images/flutter_logo.png
Labels: cla: yes, p: flutter_template_images

#388 Update ci.yaml documentation link
  .ci.yaml
Labels: cla: yes, waiting for tree to go green

#392 [pigeon] added error for static fields
  packages/pigeon/CHANGELOG.md
  packages/pigeon/lib/pigeon_lib.dart
  packages/pigeon/test/pigeon_lib_test.dart
Labels: cla: yes, p: pigeon

#393 [pigeon] added more errors for improper usage
  packages/pigeon/CHANGELOG.md
  packages/pigeon/lib/ast.dart
  packages/pigeon/lib/pigeon_lib.dart
  packages/pigeon/test/dart_generator_test.dart
  packages/pigeon/test/java_generator_test.dart
  packages/pigeon/test/objc_generator_test.dart
  packages/pigeon/test/pigeon_lib_test.dart
Labels: cla: yes, p: pigeon

#389 hide link in contribution.md
  CONTRIBUTING.md
Labels: cla: yes

#379 Update the rules for the post-merge labeler
  .github/post_merge_labeler.yml
Labels: cla: yes

#400 [ci] Enable auto publish
  .github/workflows/pull_request_label.yml
  .github/workflows/release.yml
  README.md
Labels: cla: yes, waiting for tree to go green
