Repository flutter/packages, pull requests merged in 2021-12, with the labels that each got.

#528 [pigeon] fixed null support for java enums
  packages/pigeon/CHANGELOG.md
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/lib/java_generator.dart
  packages/pigeon/platform_tests/android_unit_tests/android/app/src/test/java/com/example/android_unit_tests/EnumTest.java
  packages/pigeon/pubspec.yaml
  packages/pigeon/run_tests.sh
  packages/pigeon/test/java_generator_test.dart
Labels: cla: yes, p: pigeon, needs tests

#520 [ci] Roll repo tooling to 0.7.3
  .ci/scripts/build_examples_win32.sh
  .ci/scripts/native_test_win32.sh
  .ci/scripts/prepare_tool.sh
  .cirrus.yml
  .github/workflows/release.yml
  packages/animations/example/android/app/src/main/kotlin/dev/flutter/packages/animations/example/MainActivity.kt
  packages/css_colors/CHANGELOG.md
  packages/css_colors/pubspec.yaml
  packages/flutter_image/CHANGELOG.md
  packages/flutter_image/pubspec.yaml
  packages/flutter_lints/AUTHORS
  packages/flutter_markdown/example/android/app/src/main/kotlin/io/flutter/packages/flutter_markdown_example/MainActivity.kt
  packages/flutter_template_images/CHANGELOG.md
  packages/flutter_template_images/pubspec.yaml
  packages/imitation_game/imitation_tests/smiley/android/app/src/androidTest/java/dev/flutter/imitation_game/smiley/ExampleInstrumentedTest.kt
  packages/imitation_game/imitation_tests/smiley/android/app/src/main/java/dev/flutter/imitation_game/smiley/MainActivity.kt
  packages/imitation_game/imitation_tests/smiley/flutter/smiley/android/app/src/main/kotlin/com/example/smiley/MainActivity.kt
  packages/multicast_dns/CHANGELOG.md
  packages/multicast_dns/pubspec.yaml
  packages/palette_generator/example/android/app/src/main/kotlin/io/flutter/packages/palettegenerator/example/MainActivity.kt
  packages/pigeon/e2e_tests/test_objc/android/app/src/main/kotlin/com/example/test_objc/MainActivity.kt
  packages/pigeon/platform_tests/android_unit_tests/android/app/src/main/kotlin/com/example/android_unit_tests/MainActivity.kt
  packages/rfw/AUTHORS
  packages/rfw/example/hello/android/app/src/main/kotlin/dev/flutter/rfw/examples/hello/MainActivity.kt
  packages/rfw/example/local/android/app/src/main/kotlin/dev/flutter/rfw/examples/local/MainActivity.kt
  packages/rfw/example/remote/android/app/src/main/kotlin/dev/flutter/rfw/examples/remote/MainActivity.kt
  packages/rfw/example/wasm/android/app/src/main/kotlin/dev/flutter/rfw/examples/wasm/MainActivity.kt
  script/tool_runner.sh
Labels: cla: yes, p: flutter_template_images, p: imitation_game, p: multicast_dns, p: palette_generator, p: pigeon, p: css_colors, p: flutter_markdown, p: flutter_image, needs tests

#530 Renew cirrus gcp credentials
  .cirrus.yml
Labels: waiting for tree to go green

#533 Update the token used for mirroring.
  .github/workflows/mirror.yml
Labels: waiting for tree to go green

#534 Revert order of mirroring.
  .github/workflows/mirror.yml
Labels: waiting for tree to go green

#540 [fuchsia_ctl] Update dependencies
  packages/fuchsia_ctl/bin/main.dart
  packages/fuchsia_ctl/lib/src/amber_ctl.dart
  packages/fuchsia_ctl/lib/src/image_paver.dart
  packages/fuchsia_ctl/lib/src/package_server.dart
  packages/fuchsia_ctl/pubspec.lock
  packages/fuchsia_ctl/pubspec.yaml
  packages/fuchsia_ctl/tool/build.sh
Labels: p: fuchsia_ctl, needs tests

#539 Match repo state to ignored files list
  packages/flutter_image/.idea/flutter_image.iml
  packages/flutter_image/.idea/modules.xml
  packages/flutter_markdown/example/linux/flutter/generated_plugin_registrant.cc
  packages/flutter_markdown/example/linux/flutter/generated_plugin_registrant.h
  packages/flutter_markdown/example/macos/Flutter/GeneratedPluginRegistrant.swift
  packages/flutter_markdown/example/windows/flutter/generated_plugin_registrant.cc
  packages/flutter_markdown/example/windows/flutter/generated_plugin_registrant.h
  packages/palette_generator/example/ios/Flutter/flutter_export_environment.sh
  packages/palette_generator/example/macos/Flutter/GeneratedPluginRegistrant.swift
Labels: p: palette_generator, p: flutter_markdown

#537 [ci] Docker update
  .ci/Dockerfile
  .cirrus.yml
  packages/imitation_game/imitation_tests/smiley/uikit/smiley/smiley/AppDelegate.h
  packages/imitation_game/imitation_tests/smiley/uikit/smiley/smiley/SceneDelegate.h
  packages/imitation_game/imitation_tests/smiley/uikit/smiley/smiley/ViewController.m
  packages/pigeon/e2e_tests/test_objc/ios/Runner/MyApi.h
  packages/pigeon/e2e_tests/test_objc/ios/Runner/MyNestedApi.h
  packages/pigeon/platform_tests/ios_unit_tests/ios/RunnerTests/AllDatatypesTest.m
  packages/pigeon/platform_tests/ios_unit_tests/ios/RunnerTests/AsyncHandlersTest.m
  packages/pigeon/platform_tests/ios_unit_tests/ios/RunnerTests/EchoMessenger.h
  packages/pigeon/platform_tests/ios_unit_tests/ios/RunnerTests/HandlerBinaryMessenger.h
  packages/pigeon/platform_tests/ios_unit_tests/ios/RunnerTests/PrimitiveTest.m
  packages/pigeon/platform_tests/windows_unit_tests/windows/test/pigeon_test.cpp
  packages/pigeon/platform_tests/windows_unit_tests/windows/windows_unit_tests_plugin.cpp
Labels: waiting for tree to go green, p: imitation_game, p: pigeon

#517 [flutter_markdown] Ignore leading space for p and li
  packages/flutter_markdown/CHANGELOG.md
  packages/flutter_markdown/lib/src/builder.dart
  packages/flutter_markdown/pubspec.yaml
  packages/flutter_markdown/test/list_test.dart
  packages/flutter_markdown/test/text_test.dart
Labels: waiting for tree to go green, cla: yes, p: flutter_markdown
