Repository flutter/packages, pull requests merged in 2021-05, with the labels that each got.

#339 Standardize slight variations in license format
  LICENSE
  packages/animations/LICENSE
  packages/css_colors/LICENSE
  packages/css_colors/lib/css_colors.dart
  packages/extension_google_sign_in_as_googleapis_auth/LICENSE
  packages/extension_google_sign_in_as_googleapis_auth/lib/extension_google_sign_in_as_googleapis_auth.dart
  packages/extension_google_sign_in_as_googleapis_auth/test/extension_google_sign_in_as_googleapis_auth_test.dart
  packages/fuchsia_ctl/LICENSE
  packages/imitation_game/LICENSE
  packages/multicast_dns/LICENSE
  packages/multicast_dns/example/main.dart
  packages/multicast_dns/example/mdns_resolve.dart
  packages/multicast_dns/example/mdns_sd.dart
  packages/multicast_dns/lib/multicast_dns.dart
  packages/multicast_dns/lib/src/constants.dart
  packages/multicast_dns/lib/src/lookup_resolver.dart
  packages/multicast_dns/lib/src/native_protocol_client.dart
  packages/multicast_dns/lib/src/packet.dart
  packages/multicast_dns/test/client_test.dart
  packages/multicast_dns/test/decode_test.dart
  packages/multicast_dns/test/lookup_resolver_test.dart
  packages/multicast_dns/test/resource_record_cache_test.dart
  packages/multicast_dns/tool/packet_gen.dart
  packages/palette_generator/LICENSE
  packages/pigeon/LICENSE
  packages/pointer_interceptor/LICENSE
  packages/web_benchmarks/LICENSE
  packages/xdg_directories/LICENSE
Labels: cla: yes

#332 [cupertino_icons] Import from flutter/cupertino_icons
  third_party/packages/cupertino_icons/.gitignore
  third_party/packages/cupertino_icons/CHANGELOG.md
  third_party/packages/cupertino_icons/LICENSE
  third_party/packages/cupertino_icons/README.md
  third_party/packages/cupertino_icons/assets/CupertinoIcons.ttf
  third_party/packages/cupertino_icons/css/icons.css
  third_party/packages/cupertino_icons/gallery_preview_1.0.0.png
  third_party/packages/cupertino_icons/index.html
  third_party/packages/cupertino_icons/lib/cupertino_icons.dart
  third_party/packages/cupertino_icons/map.png
  third_party/packages/cupertino_icons/pubspec.yaml
Labels: cla: yes

#335 Add auto-labelling for PRs
  .github/labeler.yml
  .github/workflows/pull_request_label.yml
Labels: cla: yes

#342 Fix analyzer issues in bsdiff
  third_party/packages/bsdiff/example/pubspec.yaml
  third_party/packages/bsdiff/lib/bsdiff.dart
Labels: cla: yes, p: bsdiff

#341 [flutter_markdown] Standardize license/copyright
  packages/flutter_markdown/AUTHORS
  packages/flutter_markdown/LICENSE
  packages/flutter_markdown/example/lib/demos/basic_markdown_demo.dart
  packages/flutter_markdown/example/lib/demos/centered_header_demo.dart
  packages/flutter_markdown/example/lib/demos/extended_emoji_demo.dart
  packages/flutter_markdown/example/lib/demos/original_demo.dart
  packages/flutter_markdown/example/lib/demos/subscript_syntax_demo.dart
  packages/flutter_markdown/example/lib/demos/wrap_alignment_demo.dart
  packages/flutter_markdown/example/lib/main.dart
  packages/flutter_markdown/example/lib/screens/demo_card.dart
  packages/flutter_markdown/example/lib/screens/demo_screen.dart
  packages/flutter_markdown/example/lib/screens/home_screen.dart
  packages/flutter_markdown/example/lib/shared/dropdown_menu.dart
  packages/flutter_markdown/example/lib/shared/markdown_demo_widget.dart
  packages/flutter_markdown/example/lib/shared/markdown_extensions.dart
  packages/flutter_markdown/lib/flutter_markdown.dart
  packages/flutter_markdown/lib/src/_functions_io.dart
  packages/flutter_markdown/lib/src/_functions_web.dart
  packages/flutter_markdown/lib/src/builder.dart
  packages/flutter_markdown/lib/src/style_sheet.dart
  packages/flutter_markdown/lib/src/widget.dart
  packages/flutter_markdown/test/all.dart
  packages/flutter_markdown/test/blockquote_test.dart
  packages/flutter_markdown/test/custom_syntax_test.dart
  packages/flutter_markdown/test/emphasis_test.dart
  packages/flutter_markdown/test/header_test.dart
  packages/flutter_markdown/test/horizontal_rule_test.dart
  packages/flutter_markdown/test/html_test.dart
  packages/flutter_markdown/test/image_test.dart
  packages/flutter_markdown/test/image_test_mocks.dart
  packages/flutter_markdown/test/line_break_test.dart
  packages/flutter_markdown/test/link_test.dart
  packages/flutter_markdown/test/list_test.dart
  packages/flutter_markdown/test/scrollable_test.dart
  packages/flutter_markdown/test/style_sheet_test.dart
  packages/flutter_markdown/test/table_test.dart
  packages/flutter_markdown/test/text_alignment_test.dart
  packages/flutter_markdown/test/text_scale_factor_test.dart
  packages/flutter_markdown/test/text_test.dart
  packages/flutter_markdown/test/uri_test.dart
  packages/flutter_markdown/test/utils.dart
Labels: cla: yes, p: flutter_markdown

#343 Add flutter_lints package
  packages/flutter_lints/CHANGELOG.md
  packages/flutter_lints/LICENSE
  packages/flutter_lints/README.md
  packages/flutter_lints/lib/flutter.yaml
  packages/flutter_lints/pubspec.yaml
  packages/flutter_lints/run_tests.sh
Labels: cla: yes

#344 Update repo tooling
  .cirrus.yml
  packages/flutter_lints/LICENSE
  packages/flutter_lints/run_tests.sh
  script/check_publish.sh
  script/common.sh
  script/local_tests.sh
  script/tool_runner.sh
Labels: cla: yes

#346 Fix 'publish' and 'test' failures
  packages/animations/example/pubspec.yaml
  packages/animations/pubspec.yaml
  packages/flutter_markdown/example/pubspec.yaml
  packages/fuchsia_ctl/CHANGELOG.md
  packages/fuchsia_ctl/pubspec.yaml
  packages/multicast_dns/pubspec.yaml
  packages/pigeon/CONTRIBUTING.md
  packages/pigeon/doc/pigeon_state.png
  packages/pigeon/doc/pigeon_state.puml
  packages/pointer_interceptor/example/pubspec.yaml
  packages/pointer_interceptor/pubspec.yaml
  packages/xdg_directories/pubspec.yaml
  third_party/packages/bsdiff/lib/bsdiff.dart
  third_party/packages/bsdiff/pubspec.yaml
Labels: cla: yes, p: bsdiff, p: flutter_markdown, p: fuchsia_ctl, p: multicast_dns, p: pigeon, p: pointer_interceptor, p: xdg_directories

#349 Prepare flutter_lints for 1.0 release
  packages/flutter_lints/CHANGELOG.md
  packages/flutter_lints/pubspec.yaml
Labels: cla: yes

#350 Update README.md
  README.md
Labels: cla: yes

#351 [flutter_markdown] Remove ignored file
  packages/flutter_markdown/flutter_markdown.iml
Labels: cla: yes, p: flutter_markdown

#352 [pigeon] cleaned up gitignore
  packages/pigeon/.gitignore
  packages/pigeon/ci/.gitignore
  packages/pigeon/e2e_tests/test_objc/.gitignore
  packages/pigeon/e2e_tests/test_objc/ios/.gitignore
Labels: cla: yes

#348 [flutter_image] Import from flutter/flutter_image
  .cirrus.yml
  README.md
  packages/flutter_image/.gitignore
  packages/flutter_image/.idea/flutter_image.iml
  packages/flutter_image/.idea/modules.xml
  packages/flutter_image/.travis.yml
  packages/flutter_image/AUTHORS
  packages/flutter_image/CHANGELOG.md
  packages/flutter_image/LICENSE
  packages/flutter_image/README.md
  packages/flutter_image/lib/flutter_image.dart
  packages/flutter_image/lib/network.dart
  packages/flutter_image/pubspec.yaml
  packages/flutter_image/run_tests.sh
  packages/flutter_image/test/network_test.dart
  packages/flutter_image/test/network_test_server.dart
Labels: cla: yes

#354 Add example to flutter_lints package
  .cirrus.yml
  packages/flutter_lints/CHANGELOG.md
  packages/flutter_lints/example/README.md
  packages/flutter_lints/example/analysis_options.yaml
  packages/flutter_lints/example/lib/main.dart
  packages/flutter_lints/example/pubspec.yaml
  packages/flutter_lints/pubspec.yaml
  packages/flutter_lints/run_tests.sh
Labels: cla: yes, waiting for tree to go green

#355 Add needs-publishing auto-label
  .github/labeler.yml
  .github/post_merge_labeler.yml
  .github/workflows/pull_request_label.yml
Labels: cla: yes

#331 Enum support in Pigeon
  packages/pigeon/e2e_tests/test_objc/ios/Runner/MyApi.m
  packages/pigeon/e2e_tests/test_objc/ios/Runner/MyNestedApi.m
  packages/pigeon/e2e_tests/test_objc/ios/Runner/dartle.h
  packages/pigeon/e2e_tests/test_objc/ios/Runner/dartle.m
  packages/pigeon/e2e_tests/test_objc/lib/dartle.dart
  packages/pigeon/e2e_tests/test_objc/lib/main.dart
  packages/pigeon/e2e_tests/test_objc/test_driver/e2e_test.dart
  packages/pigeon/lib/ast.dart
  packages/pigeon/lib/dart_generator.dart
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/lib/java_generator.dart
  packages/pigeon/lib/objc_generator.dart
  packages/pigeon/lib/pigeon_lib.dart
  packages/pigeon/pigeons/android_unittests.dart
  packages/pigeon/pigeons/message.dart
  packages/pigeon/platform_tests/android_unit_tests/android/app/src/main/java/com/example/android_unit_tests/Pigeon.java
  packages/pigeon/platform_tests/android_unit_tests/android/app/src/test/java/com/example/android_unit_tests/PigeonTest.java
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/test/null_safe_test.dart
  packages/pigeon/test/dart_generator_test.dart
  packages/pigeon/test/java_generator_test.dart
  packages/pigeon/test/objc_generator_test.dart
  packages/pigeon/test/pigeon_lib_test.dart
Labels: cla: yes, p: pigeon, waiting for tree to go green

#353 Revert "[flutter_template_images] Add support for new template and shared platform files"
  packages/flutter_template_images/CHANGELOG.md
  packages/flutter_template_images/pubspec.yaml
  packages/flutter_template_images/templates/app/web/icons/Icon-maskable-192.png.copy.tmpl
  packages/flutter_template_images/templates/app/web/icons/Icon-maskable-512.png.copy.tmpl
  packages/flutter_template_images/templates/app/windows.tmpl/runner/resources/app_icon.ico
  packages/flutter_template_images/templates/list_detail_app/assets/images/2.0x/flutter_logo.png
  packages/flutter_template_images/templates/list_detail_app/assets/images/3.0x/flutter_logo.png
  packages/flutter_template_images/templates/list_detail_app/assets/images/flutter_logo.png
Labels: cla: yes, p: flutter_template_images

#357 Add additional Windows template icons
  packages/flutter_template_images/CHANGELOG.md
  packages/flutter_template_images/templates/app/winuwp.tmpl/runner_uwp/Assets/LargeTile.scale-100.png
  packages/flutter_template_images/templates/app/winuwp.tmpl/runner_uwp/Assets/LargeTile.scale-125.png
  packages/flutter_template_images/templates/app/winuwp.tmpl/runner_uwp/Assets/LargeTile.scale-150.png
  packages/flutter_template_images/templates/app/winuwp.tmpl/runner_uwp/Assets/LargeTile.scale-200.png
  packages/flutter_template_images/templates/app/winuwp.tmpl/runner_uwp/Assets/LargeTile.scale-400.png
  packages/flutter_template_images/templates/app/winuwp.tmpl/runner_uwp/Assets/LockScreenLogo.scale-200.png
  packages/flutter_template_images/templates/app/winuwp.tmpl/runner_uwp/Assets/SmallTile.scale-100.png
  packages/flutter_template_images/templates/app/winuwp.tmpl/runner_uwp/Assets/SmallTile.scale-125.png
  packages/flutter_template_images/templates/app/winuwp.tmpl/runner_uwp/Assets/SmallTile.scale-150.png
  packages/flutter_template_images/templates/app/winuwp.tmpl/runner_uwp/Assets/SmallTile.scale-200.png
  packages/flutter_template_images/templates/app/winuwp.tmpl/runner_uwp/Assets/SmallTile.scale-400.png
  packages/flutter_template_images/templates/app/winuwp.tmpl/runner_uwp/Assets/SplashScreen.scale-100.png
  packages/flutter_template_images/templates/app/winuwp.tmpl/runner_uwp/Assets/SplashScreen.scale-125.png
  packages/flutter_template_images/templates/app/winuwp.tmpl/runner_uwp/Assets/SplashScreen.scale-150.png
  packages/flutter_template_images/templates/app/winuwp.tmpl/runner_uwp/Assets/SplashScreen.scale-200.png
  packages/flutter_template_images/templates/app/winuwp.tmpl/runner_uwp/Assets/SplashScreen.scale-400.png
  packages/flutter_template_images/templates/app/winuwp.tmpl/runner_uwp/Assets/Square150x150Logo.scale-100.png
  packages/flutter_template_images/templates/app/winuwp.tmpl/runner_uwp/Assets/Square150x150Logo.scale-125.png
  packages/flutter_template_images/templates/app/winuwp.tmpl/runner_uwp/Assets/Square150x150Logo.scale-150.png
  packages/flutter_template_images/templates/app/winuwp.tmpl/runner_uwp/Assets/Square150x150Logo.scale-200.png
  packages/flutter_template_images/templates/app/winuwp.tmpl/runner_uwp/Assets/Square150x150Logo.scale-400.png
  packages/flutter_template_images/templates/app/winuwp.tmpl/runner_uwp/Assets/Square44x44Logo.altform-unplated_targetsize-16.png
  packages/flutter_template_images/templates/app/winuwp.tmpl/runner_uwp/Assets/Square44x44Logo.altform-unplated_targetsize-256.png
  packages/flutter_template_images/templates/app/winuwp.tmpl/runner_uwp/Assets/Square44x44Logo.altform-unplated_targetsize-32.png
  packages/flutter_template_images/templates/app/winuwp.tmpl/runner_uwp/Assets/Square44x44Logo.altform-unplated_targetsize-48.png
  packages/flutter_template_images/templates/app/winuwp.tmpl/runner_uwp/Assets/Square44x44Logo.scale-100.png
  packages/flutter_template_images/templates/app/winuwp.tmpl/runner_uwp/Assets/Square44x44Logo.scale-125.png
  packages/flutter_template_images/templates/app/winuwp.tmpl/runner_uwp/Assets/Square44x44Logo.scale-150.png
  packages/flutter_template_images/templates/app/winuwp.tmpl/runner_uwp/Assets/Square44x44Logo.scale-200.png
  packages/flutter_template_images/templates/app/winuwp.tmpl/runner_uwp/Assets/Square44x44Logo.scale-400.png
  packages/flutter_template_images/templates/app/winuwp.tmpl/runner_uwp/Assets/Square44x44Logo.targetsize-16.png
  packages/flutter_template_images/templates/app/winuwp.tmpl/runner_uwp/Assets/Square44x44Logo.targetsize-24.png
  packages/flutter_template_images/templates/app/winuwp.tmpl/runner_uwp/Assets/Square44x44Logo.targetsize-24_altform-unplated.png
  packages/flutter_template_images/templates/app/winuwp.tmpl/runner_uwp/Assets/Square44x44Logo.targetsize-256.png
  packages/flutter_template_images/templates/app/winuwp.tmpl/runner_uwp/Assets/Square44x44Logo.targetsize-32.png
  packages/flutter_template_images/templates/app/winuwp.tmpl/runner_uwp/Assets/Square44x44Logo.targetsize-48.png
  packages/flutter_template_images/templates/app/winuwp.tmpl/runner_uwp/Assets/StoreLogo.png
  packages/flutter_template_images/templates/app/winuwp.tmpl/runner_uwp/Assets/StoreLogo.scale-100.png
  packages/flutter_template_images/templates/app/winuwp.tmpl/runner_uwp/Assets/StoreLogo.scale-125.png
  packages/flutter_template_images/templates/app/winuwp.tmpl/runner_uwp/Assets/StoreLogo.scale-150.png
  packages/flutter_template_images/templates/app/winuwp.tmpl/runner_uwp/Assets/StoreLogo.scale-200.png
  packages/flutter_template_images/templates/app/winuwp.tmpl/runner_uwp/Assets/StoreLogo.scale-400.png
  packages/flutter_template_images/templates/app/winuwp.tmpl/runner_uwp/Assets/Wide310x150Logo.scale-200.png
  packages/flutter_template_images/templates/app/winuwp.tmpl/runner_uwp/Assets/WideTile.scale-100.png
  packages/flutter_template_images/templates/app/winuwp.tmpl/runner_uwp/Assets/WideTile.scale-125.png
  packages/flutter_template_images/templates/app/winuwp.tmpl/runner_uwp/Assets/WideTile.scale-150.png
  packages/flutter_template_images/templates/app/winuwp.tmpl/runner_uwp/Assets/WideTile.scale-200.png
  packages/flutter_template_images/templates/app/winuwp.tmpl/runner_uwp/Assets/WideTile.scale-400.png
  packages/flutter_template_images/templates/app/winuwp.tmpl/runner_uwp/Windows_TemporaryKey.pfx
  packages/flutter_template_images/templates/app/winuwp.tmpl/runner_uwp/resources.pri
Labels: cla: yes, p: flutter_template_images, waiting for tree to go green

#358 Update README.md
  packages/flutter_lints/CHANGELOG.md
  packages/flutter_lints/README.md
  packages/flutter_lints/pubspec.yaml
Labels: cla: yes

#356 Overhaul CONTRIBUTING.md
  CONTRIBUTING.md
Labels: cla: yes

#359 Update for the latest Dart analyzer unnecessary_import check
  packages/animations/lib/src/fade_scale_transition.dart
  packages/animations/lib/src/fade_through_transition.dart
  packages/animations/lib/src/page_transition_switcher.dart
  packages/animations/lib/src/shared_axis_transition.dart
  packages/animations/test/dual_transition_builder_test.dart
  packages/animations/test/fade_scale_transition_test.dart
  packages/animations/test/fade_through_transition_test.dart
  packages/animations/test/modal_test.dart
  packages/animations/test/open_container_test.dart
  packages/animations/test/shared_axis_transition_test.dart
Labels: cla: yes

#360 [animations] Migrate scrim color tests
  packages/animations/test/open_container_test.dart
Labels: cla: yes, p: animation, waiting for tree to go green

#362 Update animations README
  packages/animations/CHANGELOG.md
  packages/animations/README.md
  packages/animations/pubspec.yaml
Labels: cla: yes, waiting for tree to go green

#361 Migrate to .ci.yaml
  .ci.yaml
  dev/README.md
  dev/try_builders.json
Labels: cla: yes

#364 [pointer_interceptor] Shadow dom tweaks
  packages/pointer_interceptor/CHANGELOG.md
  packages/pointer_interceptor/example/integration_test/widget_test.dart
  packages/pointer_interceptor/example/lib/main.dart
  packages/pointer_interceptor/lib/src/web.dart
  packages/pointer_interceptor/pubspec.yaml
Labels: cla: yes, p: pointer_interceptor, waiting for tree to go green
