Repository flutter/packages, pull requests merged in 2022-06, with the labels that each got.

#2183 Revert "[go_router] Refactor RouterDelegate into functional pieces"
  packages/go_router/CHANGELOG.md
  packages/go_router/README.md
  packages/go_router/example/lib/async_data.dart
  packages/go_router/example/lib/books/main.dart
  packages/go_router/example/lib/cupertino.dart
  packages/go_router/example/lib/error_screen.dart
  packages/go_router/example/lib/extra_param.dart
  packages/go_router/example/lib/init_loc.dart
  packages/go_router/example/lib/loading_page.dart
  packages/go_router/example/lib/main.dart
  packages/go_router/example/lib/named_routes.dart
  packages/go_router/example/lib/nav_builder.dart
  packages/go_router/example/lib/nav_observer.dart
  packages/go_router/example/lib/nested_nav.dart
  packages/go_router/example/lib/push.dart
  packages/go_router/example/lib/query_params.dart
  packages/go_router/example/lib/redirection.dart
  packages/go_router/example/lib/router_neglect.dart
  packages/go_router/example/lib/router_stream_refresh.dart
  packages/go_router/example/lib/shared_scaffold.dart
  packages/go_router/example/lib/state_restoration.dart
  packages/go_router/example/lib/sub_routes.dart
  packages/go_router/example/lib/transitions.dart
  packages/go_router/example/lib/url_strategy.dart
  packages/go_router/example/lib/user_input.dart
  packages/go_router/example/lib/widgets_app.dart
  packages/go_router/lib/src/go_route_information_parser.dart
  packages/go_router/lib/src/go_route_information_provider.dart
  packages/go_router/lib/src/go_route_match.dart
  packages/go_router/lib/src/go_router.dart
  packages/go_router/lib/src/go_router_delegate.dart
  packages/go_router/lib/src/go_router_state.dart
  packages/go_router/pubspec.yaml
  packages/go_router/test/custom_transition_page_test.dart
  packages/go_router/test/error_screen_helpers.dart
  packages/go_router/test/go_route_information_parser_test.dart
  packages/go_router/test/go_router_delegate_test.dart
  packages/go_router/test/go_router_test.dart
Labels: p: go_router

#2200 Switch master to main in prepare_tool.sh
  .ci/scripts/prepare_tool.sh
Labels: waiting for tree to go green

#2199 [flutter_image][ci] ignore deprecation warning, migrate master references to main.
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
  README.md
  packages/extension_google_sign_in_as_googleapis_auth/CHANGELOG.md
  packages/extension_google_sign_in_as_googleapis_auth/README.md
  packages/extension_google_sign_in_as_googleapis_auth/pubspec.yaml
  packages/flutter_image/CHANGELOG.md
  packages/flutter_image/lib/network.dart
  packages/flutter_image/pubspec.yaml
  packages/flutter_image/test/network_test.dart
  packages/pointer_interceptor/CHANGELOG.md
  packages/pointer_interceptor/README.md
  packages/pointer_interceptor/pubspec.yaml
  packages/rfw/CHANGELOG.md
  packages/rfw/example/remote/lib/main.dart
  packages/rfw/example/wasm/lib/main.dart
  packages/rfw/lib/rfw.dart
  packages/rfw/pubspec.yaml
  third_party/packages/cupertino_icons/CHANGELOG.md
  third_party/packages/cupertino_icons/README.md
  third_party/packages/cupertino_icons/pubspec.yaml
Labels: waiting for tree to go green, p: extension_google_sign_in_as_googleapis_auth, p: pointer_interceptor, p: cupertino_icons, p: flutter_image, p: rfw

#2210 [ci] Sync Cirrus task filter with flutter/plugins
  .cirrus.yml
Labels: waiting for tree to go green

#2223 [ci] Roll Flutter from 36fe51524f72 to 5ee59fa9ec15
  .ci/flutter_master.version
  packages/flutter_image/CHANGELOG.md
  packages/flutter_image/lib/network.dart
  packages/flutter_image/run_tests.sh
  packages/palette_generator/CHANGELOG.md
  packages/palette_generator/test/palette_generator_test.dart
Labels: waiting for tree to go green, p: palette_generator, p: flutter_image

#2248 Roll Flutter to f1c637e7c02851186362e947aab6a3e28b7c9477
  .ci/flutter_master.version
  packages/flutter_image/CHANGELOG.md
  packages/flutter_image/lib/network.dart
  packages/palette_generator/CHANGELOG.md
  packages/palette_generator/lib/palette_generator.dart
  packages/palette_generator/test/palette_generator_test.dart
Labels: p: palette_generator, p: flutter_image

#2250 Roll Flutter from f1c637e7c028 to e6d525d51dcd (8 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#2189 Refactor RouterDelegate attempt 2
  packages/go_router/CHANGELOG.md
  packages/go_router/README.md
  packages/go_router/example/lib/async_data.dart
  packages/go_router/example/lib/books/main.dart
  packages/go_router/example/lib/cupertino.dart
  packages/go_router/example/lib/error_screen.dart
  packages/go_router/example/lib/extra_param.dart
  packages/go_router/example/lib/init_loc.dart
  packages/go_router/example/lib/loading_page.dart
  packages/go_router/example/lib/main.dart
  packages/go_router/example/lib/named_routes.dart
  packages/go_router/example/lib/nav_builder.dart
  packages/go_router/example/lib/nav_observer.dart
  packages/go_router/example/lib/nested_nav.dart
  packages/go_router/example/lib/push.dart
  packages/go_router/example/lib/query_params.dart
  packages/go_router/example/lib/redirection.dart
  packages/go_router/example/lib/router_neglect.dart
  packages/go_router/example/lib/router_stream_refresh.dart
  packages/go_router/example/lib/shared_scaffold.dart
  packages/go_router/example/lib/state_restoration.dart
  packages/go_router/example/lib/sub_routes.dart
  packages/go_router/example/lib/transitions.dart
  packages/go_router/example/lib/url_strategy.dart
  packages/go_router/example/lib/user_input.dart
  packages/go_router/example/lib/widgets_app.dart
  packages/go_router/example/pubspec.yaml
  packages/go_router/lib/src/go_route_information_parser.dart
  packages/go_router/lib/src/go_route_information_provider.dart
  packages/go_router/lib/src/go_route_match.dart
  packages/go_router/lib/src/go_router.dart
  packages/go_router/lib/src/go_router_delegate.dart
  packages/go_router/lib/src/go_router_state.dart
  packages/go_router/pubspec.yaml
  packages/go_router/test/custom_transition_page_test.dart
  packages/go_router/test/error_screen_helpers.dart
  packages/go_router/test/go_route_information_parser_test.dart
  packages/go_router/test/go_route_information_provider_test.dart
  packages/go_router/test/go_router_delegate_test.dart
  packages/go_router/test/go_router_test.dart
  packages/go_router_builder/CHANGELOG.md
  packages/go_router_builder/example/lib/main.dart
  packages/go_router_builder/example/pubspec.yaml
  packages/go_router_builder/example/test/widget_test.dart
  packages/go_router_builder/pubspec.yaml
Labels: p: go_router_builder, p: go_router

#2251 [xdg_directories] Fix unit tests on Windows
  packages/xdg_directories/CHANGELOG.md
  packages/xdg_directories/test/xdg_directories_test.dart
  script/configs/windows_unit_tests_exceptions.yaml
Labels: p: xdg_directories, autosubmit

#2253 Roll Flutter from e6d525d51dcd to e1d9adf48334 (13 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#2258 skip rfw goldens
  packages/rfw/CHANGELOG.md
  packages/rfw/test/argument_decoders_test.dart
Labels: waiting for tree to go green, p: rfw

#2249 [pigeon] Allow newer versions of analyzer
  packages/pigeon/CHANGELOG.md
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/pubspec.yaml
Labels: p: pigeon, needs tests, autosubmit

#2259 Roll Flutter from e1d9adf48334 to 02558d69d923 (28 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#2262 Roll Flutter from 02558d69d923 to a09d0c147934 (15 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#2263 Roll Flutter from a09d0c147934 to 06810e2feb00 (2 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#2264 Roll Flutter from 06810e2feb00 to 4f034a40454b (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#2267 Roll Flutter from 4f034a40454b to d4929bc828ff (5 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#2261 [pigeon] adds option for java output to have the Generated annotation
  packages/pigeon/CHANGELOG.md
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/lib/java_generator.dart
  packages/pigeon/lib/pigeon_lib.dart
  packages/pigeon/pubspec.yaml
  packages/pigeon/test/java_generator_test.dart
  packages/pigeon/test/pigeon_lib_test.dart
Labels: p: pigeon, autosubmit

#2274 Roll Flutter from 2540547f06d6 to fe41b6abcd53 (12 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#2277 Roll Flutter from fe41b6abcd53 to 6c3a0e4d21da (5 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#2275 Ensure that initialLocation doesn't take precedence over deep-links
  packages/go_router/CHANGELOG.md
  packages/go_router/lib/src/go_router.dart
  packages/go_router/pubspec.yaml
  packages/go_router/test/go_router_test.dart
Labels: p: go_router

#1931 [go_router] Adds missed popping log
  packages/go_router/CHANGELOG.md
  packages/go_router/lib/src/go_router.dart
  packages/go_router/pubspec.yaml
Labels: needs tests, p: go_router

#2276 [go_router] Add `canPop()` method
  packages/go_router/CHANGELOG.md
  packages/go_router/lib/go_router.dart
  packages/go_router/lib/src/go_router.dart
  packages/go_router/lib/src/go_router_delegate.dart
  packages/go_router/pubspec.yaml
  packages/go_router/test/go_router_delegate_test.dart
Labels: p: go_router

#2278 Roll Flutter from 6c3a0e4d21da to a0ef08dec4aa (12 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#2279 Roll Flutter from a0ef08dec4aa to ffa88dbf4680 (3 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#2280 Roll Flutter from ffa88dbf4680 to 3598f20002b5 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#2283 Roll Flutter from 3598f20002b5 to 7ac9fc5baead (24 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#2281 [pigeon] Remove Dart version from generated code
  packages/pigeon/CHANGELOG.md
  packages/pigeon/e2e_tests/test_objc/lib/main.dart
  packages/pigeon/e2e_tests/test_objc/pubspec.yaml
  packages/pigeon/e2e_tests/test_objc/test_driver/e2e_test.dart
  packages/pigeon/lib/dart_generator.dart
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/pubspec.yaml
Labels: p: pigeon, autosubmit

#2290 [pigeon] Adds `unnecessary_import` to linter ignore list for `package:flutter/foundation.dart`
  packages/pigeon/CHANGELOG.md
  packages/pigeon/e2e_tests/test_objc/lib/dartle.dart
  packages/pigeon/lib/dart_generator.dart
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/mock_handler_tester/test/message.dart
  packages/pigeon/mock_handler_tester/test/test.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/all_datatypes.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/non_null_fields.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/null_fields.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/null_safe_pigeon.dart
  packages/pigeon/pubspec.yaml
Labels: p: pigeon

#2293 [pigeon] Adds `unnecessary_import` to linter ignore list in generated dart tests
  packages/pigeon/CHANGELOG.md
  packages/pigeon/lib/dart_generator.dart
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/pubspec.yaml
Labels: p: pigeon, needs tests

#2294 Roll Flutter from 7ac9fc5baead to 2c13db3b22dd (36 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#2297 Roll Flutter from 2c13db3b22dd to cf6b91d0ec2a (17 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green
