Repository flutter/packages, pull requests merged in 2022-01, with the labels that each got.

#525 [multicast_dns] make MDnsClient.start() idempotent
  packages/multicast_dns/CHANGELOG.md
  packages/multicast_dns/lib/multicast_dns.dart
  packages/multicast_dns/pubspec.yaml
  packages/multicast_dns/test/client_test.dart
Labels: waiting for tree to go green, cla: yes, p: multicast_dns

#544 [pigeon] updated style for implicit return values
  packages/pigeon/CHANGELOG.md
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/lib/pigeon_lib.dart
  packages/pigeon/pubspec.yaml
Labels: p: pigeon, needs tests

#532 [pigeon] Port over several test suites from run_tests.sh to run_tests.dart
  packages/pigeon/CHANGELOG.md
  packages/pigeon/bin/run_tests.dart
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/pubspec.yaml
  packages/pigeon/run_tests.sh
Labels: p: pigeon, needs tests

#546 Prepare packages for binding.instance becoming non-nullable
  packages/animations/lib/src/open_container.dart
  packages/flutter_image/test/network_test.dart
  packages/flutter_markdown/test/utils.dart
  packages/rfw/example/wasm/lib/main.dart
Labels: waiting for tree to go green, p: flutter_markdown, p: flutter_image

#551 [animations] fixed new linter problems
  packages/animations/example/lib/container_transition.dart
Labels: needs tests

#552 [all] Update repo links to 'main'
  packages/animations/pubspec.yaml
  packages/cross_file/pubspec.yaml
  packages/css_colors/pubspec.yaml
  packages/extension_google_sign_in_as_googleapis_auth/README.md
  packages/extension_google_sign_in_as_googleapis_auth/pubspec.yaml
  packages/flutter_image/pubspec.yaml
  packages/flutter_lints/pubspec.yaml
  packages/flutter_markdown/pubspec.yaml
  packages/flutter_template_images/pubspec.yaml
  packages/fuchsia_ctl/pubspec.yaml
  packages/imitation_game/pubspec.yaml
  packages/metrics_center/pubspec.yaml
  packages/multicast_dns/pubspec.yaml
  packages/palette_generator/pubspec.yaml
  packages/pigeon/example/README.md
  packages/pigeon/pubspec.yaml
  packages/pointer_interceptor/pubspec.yaml
  packages/rfw/pubspec.yaml
  packages/web_benchmarks/pubspec.yaml
  packages/xdg_directories/pubspec.yaml
  third_party/packages/cupertino_icons/pubspec.yaml
Labels: p: cross_file, p: extension_google_sign_in_as_googleapis_auth, p: flutter_template_images, p: fuchsia_ctl, p: imitation_game, p: metrics_center, p: multicast_dns, p: palette_generator, p: pigeon, p: pointer_interceptor, p: web_benchmarks, p: xdg_directories, p: css_colors, p: flutter_markdown, p: cupertino_icons, p: flutter_image

#556 [ci] Add a version file for the autoroller
  .ci/flutter_master.version
Labels: waiting for tree to go green

#557 Roll Flutter from f6ee92589274 to 10658266866d (10 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#558 Roll Flutter from 10658266866d to 790ca116f937 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#559 Roll Flutter from 790ca116f937 to 657bca4b7f1d (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#560 Roll Flutter from 657bca4b7f1d to 5d43e80d1614 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#561 Roll Flutter from 5d43e80d1614 to f085e1a9cde6 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#562 Roll Flutter from f085e1a9cde6 to 8c1d9d762724 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#563 Roll Flutter from 8c1d9d762724 to 32122480b5cf (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#564 Roll Flutter from 32122480b5cf to f15dd780d4c5 (2 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#565 Roll Flutter from f15dd780d4c5 to 0e2f51dfd04e (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#567 Roll Flutter from 0e2f51dfd04e to 5d60049c68dd (2 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#568 Roll Flutter from 5d60049c68dd to b7424c619ca5 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#569 Roll Flutter from b7424c619ca5 to dcce0db1526f (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#523 [ci] Support Windows in local_tests
  .ci.yaml
  .ci/scripts/local_tests.sh
  packages/pigeon/CHANGELOG.md
  packages/pigeon/bin/run_tests.dart
  script/local_tests.sh
Labels: waiting for tree to go green, cla: yes, p: pigeon

#571 Roll Flutter from dcce0db1526f to 9c934041bdbe (3 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#574 Roll Flutter from 9c934041bdbe to a627f4435d92 (3 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#577 Roll Flutter from a627f4435d92 to e854b8cc889f (2 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#579 Roll Flutter from e854b8cc889f to 4621dff89243 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#582 Roll Flutter from 4621dff89243 to 120d25f78689 (2 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#548 [pigeon] added AST generator to help with debugging
  packages/pigeon/CHANGELOG.md
  packages/pigeon/lib/ast.dart
  packages/pigeon/lib/ast_generator.dart
  packages/pigeon/lib/pigeon_lib.dart
  packages/pigeon/run_tests.sh
  packages/pigeon/test/ast_generator_test.dart
  packages/pigeon/test/pigeon_lib_test.dart
Labels: waiting for tree to go green, p: pigeon

#588 Roll Flutter from 120d25f78689 to ebfdeaec6ea9 (6 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#593 Roll Flutter from ebfdeaec6ea9 to 33ffb277daae (5 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#594 Roll Flutter from 33ffb277daae to 804631d619ac (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#596 Roll Flutter from 804631d619ac to ca392556c36d (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#598 Roll Flutter from ca392556c36d to daf6465cd1db (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#599 Roll Flutter from daf6465cd1db to 4fa0e0d449f3 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#601 Roll Flutter from 4fa0e0d449f3 to 6bd0b9572830 (2 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#603 Roll Flutter from 6bd0b9572830 to 53771aba0cd7 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#608 Roll Flutter from 53771aba0cd7 to a0abb7e89e1b (8 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green
