Repository flutter/packages, pull requests merged in 2022-12, with the labels that each got.

#2861 [pigeon] Do generation for tests via the library
  packages/pigeon/lib/pigeon_lib.dart
  packages/pigeon/tool/run_tests.dart
  packages/pigeon/tool/shared/generation.dart
Labels: p: pigeon, autosubmit, override: no versioning needed, override: no changelog needed

#2859 [pigeon] Consolidate integration test pigeons
  packages/pigeon/pigeons/README.md
  packages/pigeon/pigeons/all_datatypes.dart
  packages/pigeon/pigeons/all_void.dart
  packages/pigeon/pigeons/core_tests.dart
  packages/pigeon/platform_tests/alternate_language_test_plugin/android/src/main/java/com/example/alternate_language_test_plugin/AlternateLanguageTestPlugin.java
  packages/pigeon/platform_tests/alternate_language_test_plugin/android/src/test/java/com/example/alternate_language_test_plugin/AllDatatypesTest.java
  packages/pigeon/platform_tests/alternate_language_test_plugin/android/src/test/java/com/example/alternate_language_test_plugin/MultipleArityTest.java
  packages/pigeon/platform_tests/alternate_language_test_plugin/example/ios/RunnerTests/AllDatatypesTest.m
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/AlternateLanguageTestPlugin.h
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/AlternateLanguageTestPlugin.m
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/core_tests.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/multiple_arity.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/non_null_fields.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/null_fields.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/null_safe_pigeon.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/nullable_returns.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/primitive.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/test/all_datatypes_test.dart
  packages/pigeon/platform_tests/ios_unit_tests/ios/Runner.xcodeproj/project.pbxproj
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/example_app.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/generated.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/integration_tests.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/.gitignore
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/all_void.gen.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/core_tests.gen.dart
  packages/pigeon/platform_tests/test_plugin/android/src/main/kotlin/com/example/test_plugin/TestPlugin.kt
  packages/pigeon/platform_tests/test_plugin/android/src/test/kotlin/com/example/test_plugin/AllDatatypesTest.kt
  packages/pigeon/platform_tests/test_plugin/example/ios/RunnerTests/AllDatatypesTests.swift
  packages/pigeon/platform_tests/test_plugin/example/macos/RunnerTests/BasicCompileTest.swift
  packages/pigeon/platform_tests/test_plugin/ios/Classes/TestPlugin.swift
  packages/pigeon/platform_tests/test_plugin/macos/Classes/TestPlugin.swift
  packages/pigeon/platform_tests/test_plugin/windows/CMakeLists.txt
  packages/pigeon/platform_tests/test_plugin/windows/test_plugin.cpp
  packages/pigeon/platform_tests/test_plugin/windows/test_plugin.h
  packages/pigeon/run_tests.sh
  packages/pigeon/tool/run_tests.dart
  packages/pigeon/tool/shared/generation.dart
Labels: p: pigeon, autosubmit, override: no versioning needed, override: no changelog needed

#2874 [pigeon] Allow specifying multiple tests
  packages/pigeon/tool/run_tests.dart
  packages/pigeon/tool/shared/process_utils.dart
Labels: p: pigeon, needs tests, autosubmit, override: no versioning needed, override: no changelog needed

#2879 [go_router] Refactors GoRouter.pop to handle pageless route
  packages/go_router/CHANGELOG.md
  packages/go_router/lib/src/builder.dart
  packages/go_router/lib/src/delegate.dart
  packages/go_router/lib/src/router.dart
  packages/go_router/pubspec.yaml
  packages/go_router/test/builder_test.dart
  packages/go_router/test/delegate_test.dart
  packages/go_router/test/go_router_test.dart
  packages/go_router/test/test_helpers.dart
Labels: p: go_router, autosubmit

#2898 [flutter_markdown][ci] Manual roll that specifies the correct DropdownMenu import
  .ci/flutter_master.version
  packages/flutter_markdown/CHANGELOG.md
  packages/flutter_markdown/example/lib/demos/basic_markdown_demo.dart
  packages/flutter_markdown/example/lib/demos/markdown_body_shrink_wrap_demo.dart
  packages/flutter_markdown/example/lib/demos/wrap_alignment_demo.dart
Labels: p: flutter_markdown, needs tests, autosubmit

#2900 Roll Flutter from d52e2de5bf16 to 56cad89b1e8d (1 revision)
  .ci/flutter_master.version
Labels: autosubmit

#2902 Roll Flutter from 56cad89b1e8d to 1e696d304c0a (18 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#2901 [pigeon] Add initial FlutterApi integration tests
  packages/pigeon/CHANGELOG.md
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/lib/kotlin_generator.dart
  packages/pigeon/pigeons/core_tests.dart
  packages/pigeon/platform_tests/alternate_language_test_plugin/android/src/main/java/com/example/alternate_language_test_plugin/AlternateLanguageTestPlugin.java
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/AlternateLanguageTestPlugin.m
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/integration_tests.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/core_tests.gen.dart
  packages/pigeon/platform_tests/test_plugin/android/src/main/kotlin/com/example/test_plugin/TestPlugin.kt
  packages/pigeon/platform_tests/test_plugin/ios/Classes/TestPlugin.swift
  packages/pigeon/platform_tests/test_plugin/macos/Classes/TestPlugin.swift
  packages/pigeon/platform_tests/test_plugin/windows/test_plugin.cpp
  packages/pigeon/platform_tests/test_plugin/windows/test_plugin.h
  packages/pigeon/pubspec.yaml
Labels: p: pigeon, autosubmit

#2906 Roll Flutter from 1e696d304c0a to a570fd25d83b (20 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#2899 Make generated Java enum fields final
  packages/pigeon/CHANGELOG.md
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/lib/java_generator.dart
  packages/pigeon/pubspec.yaml
  packages/pigeon/test/java_generator_test.dart
Labels: p: pigeon, autosubmit

#2904 [go_router] fixes pop and push to update urls correctly
  packages/go_router/CHANGELOG.md
  packages/go_router/lib/src/delegate.dart
  packages/go_router/lib/src/matching.dart
  packages/go_router/lib/src/parser.dart
  packages/go_router/lib/src/path_utils.dart
  packages/go_router/lib/src/route.dart
  packages/go_router/pubspec.yaml
  packages/go_router/test/go_router_test.dart
Labels: p: go_router, autosubmit

#2905 [pigeon] Minor addition to integration tests
  packages/pigeon/pigeons/core_tests.dart
  packages/pigeon/platform_tests/alternate_language_test_plugin/android/src/main/java/com/example/alternate_language_test_plugin/AlternateLanguageTestPlugin.java
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/AlternateLanguageTestPlugin.m
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/core_tests.gen.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/integration_tests.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/core_tests.gen.dart
  packages/pigeon/platform_tests/test_plugin/android/src/main/kotlin/com/example/test_plugin/TestPlugin.kt
  packages/pigeon/platform_tests/test_plugin/ios/Classes/TestPlugin.swift
  packages/pigeon/platform_tests/test_plugin/macos/Classes/TestPlugin.swift
  packages/pigeon/platform_tests/test_plugin/windows/test_plugin.cpp
  packages/pigeon/platform_tests/test_plugin/windows/test_plugin.h
Labels: p: pigeon, autosubmit, override: no versioning needed, override: no changelog needed

#2915 [ci][go_router] Bumps Flutter master version and removes unused `BuildContext` implementation
  .ci/flutter_master.version
  packages/go_router/test/test_helpers.dart
Labels: p: go_router, autosubmit

#2916 [go_router] Fixes crashes when using async redirect.
  packages/go_router/CHANGELOG.md
  packages/go_router/lib/src/parser.dart
  packages/go_router/pubspec.yaml
  packages/go_router/test/go_router_test.dart
Labels: p: go_router, autosubmit

#2928 [pigeon] Make Windows tests run on stable
  packages/pigeon/platform_tests/test_plugin/example/windows/runner/CMakeLists.txt
  packages/pigeon/platform_tests/test_plugin/example/windows/runner/flutter_window.cpp
  packages/pigeon/platform_tests/test_plugin/example/windows/runner/main.cpp
  packages/pigeon/platform_tests/test_plugin/example/windows/runner/win32_window.cpp
  packages/pigeon/platform_tests/test_plugin/example/windows/runner/win32_window.h
Labels: p: pigeon, autosubmit, override: no versioning needed, override: no changelog needed

#2940 [various] update cupertino_icon to above 1.0.0
  packages/dynamic_layouts/example/pubspec.yaml
  packages/pigeon/platform_tests/ios_unit_tests/pubspec.yaml
  packages/web_benchmarks/testing/test_app/pubspec.yaml
Labels: p: pigeon, p: web_benchmarks, autosubmit, override: no versioning needed, override: no changelog needed, p: dynamic_layouts

#2949 Roll Flutter from e52449b64127 to dbc9306380d8 (82 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#2951 Roll Flutter (stable) from b8f7f1f9869b to 135454af3247 (6 revisions)
  .ci/flutter_stable.version
Labels: autosubmit

#2950 [pigeon] More simple integration tests
  packages/pigeon/pigeons/core_tests.dart
  packages/pigeon/platform_tests/alternate_language_test_plugin/android/src/main/java/com/example/alternate_language_test_plugin/AlternateLanguageTestPlugin.java
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/AlternateLanguageTestPlugin.m
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/core_tests.gen.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/integration_tests.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/core_tests.gen.dart
  packages/pigeon/platform_tests/test_plugin/android/src/main/kotlin/com/example/test_plugin/TestPlugin.kt
  packages/pigeon/platform_tests/test_plugin/ios/Classes/TestPlugin.swift
  packages/pigeon/platform_tests/test_plugin/macos/Classes/TestPlugin.swift
  packages/pigeon/platform_tests/test_plugin/windows/test_plugin.cpp
  packages/pigeon/platform_tests/test_plugin/windows/test_plugin.h
Labels: p: pigeon, autosubmit, override: no versioning needed, override: no changelog needed

#2956 Roll Flutter from dbc9306380d8 to 9102f2fe0bd2 (25 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#2957 [go_router_builder] Removes presubmit only tag
  packages/go_router_builder/example/dart_test.yaml
  packages/go_router_builder/example/test/ensure_build_test.dart
Labels: p: go_router_builder, autosubmit, override: no versioning needed, override: no changelog needed

#2959 [flutter_markdown] Make markdown tests more resilient
  packages/flutter_markdown/test/header_test.dart
  packages/flutter_markdown/test/horizontal_rule_test.dart
  packages/flutter_markdown/test/scrollable_test.dart
  packages/flutter_markdown/test/style_sheet_test.dart
  packages/flutter_markdown/test/text_alignment_test.dart
  packages/flutter_markdown/test/text_test.dart
  packages/flutter_markdown/test/utils.dart
Labels: p: flutter_markdown, autosubmit

#2963 [pigeon] fix swift compressed list datatypes
  packages/pigeon/CHANGELOG.md
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/lib/swift_generator.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/integration_tests.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/core_tests.gen.dart
  packages/pigeon/platform_tests/test_plugin/example/ios/RunnerTests/AllDatatypesTests.swift
  packages/pigeon/platform_tests/test_plugin/example/ios/RunnerTests/PrimitiveTests.swift
  packages/pigeon/platform_tests/test_plugin/ios/Classes/TestPlugin.swift
  packages/pigeon/platform_tests/test_plugin/macos/Classes/TestPlugin.swift
  packages/pigeon/pubspec.yaml
  packages/pigeon/test/swift_generator_test.dart
Labels: p: pigeon, autosubmit

#2961 [pigeon] Adds Nonnull integration tests
  packages/pigeon/lib/cpp_generator.dart
  packages/pigeon/pigeons/core_tests.dart
  packages/pigeon/platform_tests/alternate_language_test_plugin/android/src/main/java/com/example/alternate_language_test_plugin/AlternateLanguageTestPlugin.java
  packages/pigeon/platform_tests/alternate_language_test_plugin/android/src/test/java/com/example/alternate_language_test_plugin/AllDatatypesTest.java
  packages/pigeon/platform_tests/alternate_language_test_plugin/example/ios/RunnerTests/AllDatatypesTest.m
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/AlternateLanguageTestPlugin.m
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/core_tests.gen.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/integration_tests.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/core_tests.gen.dart
  packages/pigeon/platform_tests/test_plugin/android/src/main/kotlin/com/example/test_plugin/TestPlugin.kt
  packages/pigeon/platform_tests/test_plugin/android/src/test/kotlin/com/example/test_plugin/AllDatatypesTest.kt
  packages/pigeon/platform_tests/test_plugin/example/ios/RunnerTests/AllDatatypesTests.swift
  packages/pigeon/platform_tests/test_plugin/ios/Classes/TestPlugin.swift
  packages/pigeon/platform_tests/test_plugin/macos/Classes/TestPlugin.swift
  packages/pigeon/platform_tests/test_plugin/windows/test_plugin.cpp
  packages/pigeon/platform_tests/test_plugin/windows/test_plugin.h
Labels: p: pigeon, autosubmit, override: no versioning needed, override: no changelog needed

#2965 [pigeon] Un-ignores all core tests gen files for visibility
  packages/pigeon/platform_tests/alternate_language_test_plugin/android/src/main/.gitignore
  packages/pigeon/platform_tests/alternate_language_test_plugin/android/src/main/java/com/example/alternate_language_test_plugin/CoreTests.java
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/.gitignore
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/CoreTests.gen.h
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/CoreTests.gen.m
  packages/pigeon/platform_tests/test_plugin/android/src/main/kotlin/com/example/test_plugin/.gitignore
  packages/pigeon/platform_tests/test_plugin/android/src/main/kotlin/com/example/test_plugin/CoreTests.gen.kt
  packages/pigeon/platform_tests/test_plugin/ios/Classes/.gitignore
  packages/pigeon/platform_tests/test_plugin/ios/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/macos/Classes/.gitignore
  packages/pigeon/platform_tests/test_plugin/macos/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/windows/pigeon/.gitignore
  packages/pigeon/platform_tests/test_plugin/windows/pigeon/core_tests.gen.cpp
  packages/pigeon/platform_tests/test_plugin/windows/pigeon/core_tests.gen.h
Labels: p: pigeon, autosubmit, override: no versioning needed, override: no changelog needed

#2924 [pigeon] Add documentation comment support for Enum members
  packages/pigeon/CHANGELOG.md
  packages/pigeon/lib/ast.dart
  packages/pigeon/lib/cpp_generator.dart
  packages/pigeon/lib/dart_generator.dart
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/lib/java_generator.dart
  packages/pigeon/lib/kotlin_generator.dart
  packages/pigeon/lib/objc_generator.dart
  packages/pigeon/lib/pigeon_lib.dart
  packages/pigeon/lib/swift_generator.dart
  packages/pigeon/pigeons/enum.dart
  packages/pigeon/pubspec.yaml
  packages/pigeon/test/cpp_generator_test.dart
  packages/pigeon/test/dart_generator_test.dart
  packages/pigeon/test/java_generator_test.dart
  packages/pigeon/test/kotlin_generator_test.dart
  packages/pigeon/test/objc_generator_test.dart
  packages/pigeon/test/swift_generator_test.dart
Labels: p: pigeon, autosubmit

#2848 [go_router] Add GoRouterState parameters to GoRouterData and rename replace methods
  packages/go_router/CHANGELOG.md
  packages/go_router/README.md
  packages/go_router/lib/src/delegate.dart
  packages/go_router/lib/src/misc/extensions.dart
  packages/go_router/lib/src/route_data.dart
  packages/go_router/lib/src/router.dart
  packages/go_router/pubspec.yaml
  packages/go_router/test/delegate_test.dart
  packages/go_router/test/route_data_test.dart
Labels: p: go_router, autosubmit

#2968 [pigeon] wrap encodable lists in encodable value before reply
  packages/pigeon/CHANGELOG.md
  packages/pigeon/lib/cpp_generator.dart
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/pubspec.yaml
  packages/pigeon/test/cpp_generator_test.dart
Labels: p: pigeon, autosubmit

#2985 [pigeon] Relocates generator classes and updates imports
  packages/pigeon/CHANGELOG.md
  packages/pigeon/lib/cpp_generator.dart
  packages/pigeon/lib/dart_generator.dart
  packages/pigeon/lib/generator.dart
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/lib/java_generator.dart
  packages/pigeon/lib/kotlin_generator.dart
  packages/pigeon/lib/objc_generator.dart
  packages/pigeon/lib/pigeon_lib.dart
  packages/pigeon/lib/swift_generator.dart
  packages/pigeon/pubspec.yaml
  packages/pigeon/test/pigeon_lib_test.dart
Labels: p: pigeon, autosubmit

#2987 [pigeon] revert 3b5ae0070738103a80bb9ac12440dd69d598ad2c
  packages/pigeon/CHANGELOG.md
  packages/pigeon/lib/cpp_generator.dart
  packages/pigeon/lib/dart_generator.dart
  packages/pigeon/lib/generator.dart
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/lib/java_generator.dart
  packages/pigeon/lib/kotlin_generator.dart
  packages/pigeon/lib/objc_generator.dart
  packages/pigeon/lib/pigeon_lib.dart
  packages/pigeon/lib/swift_generator.dart
  packages/pigeon/pubspec.yaml
  packages/pigeon/test/pigeon_lib_test.dart
Labels: p: pigeon, autosubmit

#2991 [ci] Roll Flutter master to 7b850ef37500
  .ci/flutter_master.version
  packages/flutter_migrate/pubspec.yaml
  packages/flutter_migrate/test/base/logger_test.dart
  packages/pigeon/lib/cpp_generator.dart
Labels: p: pigeon, autosubmit, override: no versioning needed, override: no changelog needed, p: flutter_migrate

#2994 Roll Flutter from 7b850ef37500 to 51a3e3a33715 (54 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#2984 [go_router_builder] ignore pubspec.yaml in ensure build test
  .cirrus.yml
  packages/go_router_builder/example/pubspec.yaml
  packages/go_router_builder/example/test/ensure_build_test.dart
Labels: p: go_router_builder, override: no versioning needed, override: no changelog needed

#2995 [pigeon] revert changelog revert
  packages/pigeon/CHANGELOG.md
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/pubspec.yaml
Labels: p: pigeon, autosubmit

#2999 Roll Flutter from 51a3e3a33715 to 9fb1ae839e0a (13 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#3001 Roll Flutter from 9fb1ae839e0a to a45a2f311990 (19 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#2735 [flutter_migrate] Start command and executables
  .cirrus.yml
  packages/flutter_migrate/README.md
  packages/flutter_migrate/bin/flutter_migrate.dart
  packages/flutter_migrate/lib/executable.dart
  packages/flutter_migrate/lib/src/base/command.dart
  packages/flutter_migrate/lib/src/base_dependencies.dart
  packages/flutter_migrate/lib/src/commands/abandon.dart
  packages/flutter_migrate/lib/src/commands/apply.dart
  packages/flutter_migrate/lib/src/commands/start.dart
  packages/flutter_migrate/lib/src/commands/status.dart
  packages/flutter_migrate/lib/src/compute.dart
  packages/flutter_migrate/lib/src/utils.dart
  packages/flutter_migrate/test/migrate_test.dart
  packages/flutter_migrate/test/test_data/migrate_project.dart
  packages/flutter_migrate/test/utils_test.dart
Labels: autosubmit, p: flutter_migrate

#3006 Roll Flutter from a45a2f311990 to 894ea20f11ad (28 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#3007 [pigeon] update synced generated files to clean up future prs
  packages/pigeon/mock_handler_tester/test/message.dart
  packages/pigeon/mock_handler_tester/test/test.dart
  packages/pigeon/platform_tests/alternate_language_test_plugin/android/src/main/java/com/example/alternate_language_test_plugin/CoreTests.java
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/CoreTests.gen.h
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/CoreTests.gen.m
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/core_tests.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/multiple_arity.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/non_null_fields.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/null_fields.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/null_safe_pigeon.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/nullable_returns.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/primitive.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/core_tests.gen.dart
  packages/pigeon/platform_tests/test_plugin/android/src/main/kotlin/com/example/test_plugin/CoreTests.gen.kt
  packages/pigeon/platform_tests/test_plugin/ios/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/macos/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/windows/pigeon/core_tests.gen.cpp
  packages/pigeon/platform_tests/test_plugin/windows/pigeon/core_tests.gen.h
Labels: p: pigeon, autosubmit

#3008 Roll Flutter from 894ea20f11ad to 17482fd425ee (13 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#3009 Roll Flutter from 17482fd425ee to d2127ad344e8 (14 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#3012 Roll Flutter from d2127ad344e8 to ae253d7b0634 (13 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#3013 Roll Flutter from ae253d7b0634 to ecfc29772b03 (4 revisions)
  .ci/flutter_master.version
Labels: autosubmit
