Repository flutter/packages, pull requests merged in 2022-04, with the labels that each got.

#1384 Roll Flutter from 97fca88df328 to 0b97874895eb (83 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1385 Roll Flutter from 0b97874895eb to 8f2aaa99abe0 (2 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1386 Roll Flutter from 8f2aaa99abe0 to 92877a648aa2 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1387 Roll Flutter from 92877a648aa2 to d60272a20351 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1388 Roll Flutter from d60272a20351 to 26398e6821ae (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1389 Roll Flutter from 26398e6821ae to 95f4f473ff81 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1390 Roll Flutter from 95f4f473ff81 to 2af2c9a68d82 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1391 Roll Flutter from 2af2c9a68d82 to 2d9ad2608666 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1392 Roll Flutter from 2d9ad2608666 to 1429957aa4f9 (2 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1393 Roll Flutter from 1429957aa4f9 to 28acccb388a5 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1394 Roll Flutter from 28acccb388a5 to 23b9d4f1f2f2 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1396 Roll Flutter from 23b9d4f1f2f2 to bc0ec85717de (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1397 Roll Flutter from bc0ec85717de to 785513234141 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1362 [go_router]refactor runtime check to assert
  packages/go_router/CHANGELOG.md
  packages/go_router/lib/src/go_route.dart
  packages/go_router/lib/src/go_route_match.dart
  packages/go_router/lib/src/go_router_delegate.dart
  packages/go_router/pubspec.yaml
  packages/go_router/test/go_route_test.dart
  packages/go_router/test/go_router_delegate_test.dart
  packages/go_router/test/go_router_test.dart
Labels: waiting for tree to go green, needs tests

#1398 Roll Flutter from 785513234141 to 647044c969af (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1399 Roll Flutter from 647044c969af to d6cc67d52939 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1400 Roll Flutter from d6cc67d52939 to 839a183ea6ed (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1401 Roll Flutter from 839a183ea6ed to 35b18ba2e902 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1402 Roll Flutter from 35b18ba2e902 to 6bb36bbcc4f3 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1403 Roll Flutter from 6bb36bbcc4f3 to fbdbb094ab48 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1404 Roll Flutter from fbdbb094ab48 to 6bb63ed0c8e8 (2 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1405 Roll Flutter from 6bb63ed0c8e8 to 3bf40fd9beb9 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1406 Roll Flutter from 3bf40fd9beb9 to 5788f5ef07c2 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1407 Roll Flutter from 5788f5ef07c2 to 08c46bcb58cf (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1408 Roll Flutter from 08c46bcb58cf to 120b3deb182c (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1410 Roll Flutter from 120b3deb182c to 94fefaa49d86 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1412 Roll Flutter from 94fefaa49d86 to 676edd4c828f (6 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1413 Roll Flutter from 676edd4c828f to 49c978a59cd3 (7 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1414 Roll Flutter from 49c978a59cd3 to f8e528a4ef80 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1416 Roll Flutter from 296221a90dd0 to e382f1376a9b (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1417 Roll Flutter from e382f1376a9b to 86e0de27564e (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1418 Roll Flutter from 86e0de27564e to d745eec0514f (3 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1420 Roll Flutter from 17398fd82870 to b87caba9121c (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1421 Roll Flutter from b87caba9121c to db1074202fe5 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1422 Roll Flutter from db1074202fe5 to 2999e8531569 (2 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1423 Roll Flutter from 2999e8531569 to d7a8b2485d6c (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1424 Roll Flutter from d7a8b2485d6c to 548e8853e65e (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1425 Roll Flutter from 548e8853e65e to b9a0fb23b216 (2 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1426 Roll Flutter from b9a0fb23b216 to d103e5a8a4c5 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1427 Roll Flutter from d103e5a8a4c5 to 31668eef4083 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1429 Roll Flutter from f5f9ad915e55 to c7d2935077fb (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1252 [ci] Switch local_tests to the new repo tool command
  .ci.yaml
  .ci/scripts/custom_package_tests.sh
  .ci/scripts/prepare_tool.sh
  .ci/targets/windows_custom_package_tests.yaml
  .ci/targets/windows_local_tests.yaml
  .cirrus.yml
  .github/workflows/release.yml
  script/local_tests.sh
Labels: waiting for tree to go green

#1430 Roll Flutter from c7d2935077fb to 64f7bf7e2ffd (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1432 Roll Flutter from 64f7bf7e2ffd to bb300b467e5f (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1433 Roll Flutter from bb300b467e5f to b528310f589b (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1434 Roll Flutter from b528310f589b to f5be639ee064 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1435 Roll Flutter from f5be639ee064 to 012952ba475a (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1436 Roll Flutter from 012952ba475a to 68471bbb74aa (3 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1437 Roll Flutter from 68471bbb74aa to 730e4971fe15 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1438 Roll Flutter from 730e4971fe15 to 74944d528fe9 (2 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1439 Roll Flutter from 74944d528fe9 to e3f8b50fd523 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1440 Roll Flutter from e3f8b50fd523 to 8e259c0fa32b (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1441 Roll Flutter from 8e259c0fa32b to 3c71219100f5 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1442 Roll Flutter from 3c71219100f5 to f867e5b44748 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1443 Roll Flutter from f867e5b44748 to 8d2b483d8484 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1445 Roll Flutter from 8d2b483d8484 to c8a402ff629a (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1446 Roll Flutter from c8a402ff629a to 221235c7ed1a (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1447 Roll Flutter from 221235c7ed1a to b63c4a6db091 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1448 Roll Flutter from b63c4a6db091 to 2979ff6f1342 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1450 Roll Flutter from 3109073fd9f9 to cae740b9032f (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1451 Roll Flutter from cae740b9032f to efe76a53739b (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1452 Roll Flutter from efe76a53739b to a01424773e80 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1453 Roll Flutter from a01424773e80 to 1cf5c740096e (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1454 Roll Flutter from 1cf5c740096e to 135bb5d4f295 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1455 Roll Flutter from 135bb5d4f295 to 71d52f27fb12 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1456 Roll Flutter from 71d52f27fb12 to 1755819cb155 (2 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1457 Roll Flutter from 1755819cb155 to c14ca6d32112 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1458 Roll Flutter from c14ca6d32112 to c1227319ab95 (2 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1459 Roll Flutter from c1227319ab95 to bf8fb4292af7 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1460 Roll Flutter from bf8fb4292af7 to 5f873f8488d8 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1461 Roll Flutter from 5f873f8488d8 to 8ff3640c9f04 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1462 Roll Flutter from 8ff3640c9f04 to 074ee4b2f446 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1463 Roll Flutter from 074ee4b2f446 to dd73a32c0ce8 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1464 Roll Flutter from dd73a32c0ce8 to 3d29c2cf1b0a (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1465 Roll Flutter from 3d29c2cf1b0a to 61a86b5bee38 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1466 Roll Flutter from 61a86b5bee38 to 6c93eb5f8e82 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1467 Roll Flutter from 6c93eb5f8e82 to 21549446d294 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1468 Roll Flutter from 21549446d294 to e9c422ca120e (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1469 Roll Flutter from e9c422ca120e to 391a39a6e9ae (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1470 Roll Flutter from 391a39a6e9ae to 78ae72b0b264 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1471 Roll Flutter from 78ae72b0b264 to da4291845e80 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1472 Roll Flutter from da4291845e80 to f337635f1076 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1473 Roll Flutter from f337635f1076 to 4b9717ff7c45 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1474 Roll Flutter from 4b9717ff7c45 to ecfce1cea1e1 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1475 Roll Flutter from ecfce1cea1e1 to baf6b61c1514 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1476 Roll Flutter from baf6b61c1514 to 77756d3d466f (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1477 Roll Flutter from 77756d3d466f to 85aac37ccf99 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1478 Roll Flutter from 85aac37ccf99 to dacf3afe389d (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1479 Roll Flutter from dacf3afe389d to 38542d284c09 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1485 Roll Flutter from 38542d284c09 to 355fd23a799d (11 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1487 Roll Flutter from df2781ad18de to bee95b698445 (2 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1488 Roll Flutter from bee95b698445 to 8a899d4a74ff (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1489 Roll Flutter from 8a899d4a74ff to 9e0f0fe9d7b8 (2 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1490 Roll Flutter from 9e0f0fe9d7b8 to a8c09a74a9de (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1491 Roll Flutter from a8c09a74a9de to f34db33c5e22 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1431 [ci] Re-enable Windows custom tests
  .ci.yaml
Labels: waiting for tree to go green

#1493 Roll Flutter from 0f2b1a3baf20 to 2978b59be700 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1494 Roll Flutter from 2978b59be700 to 2a6582997d43 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1495 Roll Flutter from 2a6582997d43 to 0a178f858d89 (3 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1496 Roll Flutter from 0a178f858d89 to 33e540a92e39 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1497 Roll Flutter from 33e540a92e39 to d07ce92b15b8 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1498 Roll Flutter from d07ce92b15b8 to 17be6d73e6cb (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1499 Roll Flutter from 17be6d73e6cb to ea19a77bff25 (2 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1500 Roll Flutter from ea19a77bff25 to 6ccd99397626 (4 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1501 Roll Flutter from 6ccd99397626 to fe5daddb14a4 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1502 Roll Flutter from fe5daddb14a4 to e6f302289014 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1503 Roll Flutter from e6f302289014 to 91242870606b (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1504 Roll Flutter from 91242870606b to 9984ebbaee6d (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1505 Roll Flutter from 9984ebbaee6d to 88724e594bcb (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1506 Roll Flutter from 88724e594bcb to 38f360f91a95 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1507 Roll Flutter from 38f360f91a95 to 30a501801af7 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1508 Roll Flutter from 30a501801af7 to fd73f2730c78 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1509 Roll Flutter from fd73f2730c78 to 009688a99eb9 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1510 Roll Flutter from 009688a99eb9 to 58fe098376ec (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1511 Roll Flutter from 58fe098376ec to 2b0255f0d9f3 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1512 Roll Flutter from 2b0255f0d9f3 to 5fb74db1a9cb (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1513 Roll Flutter from 5fb74db1a9cb to 6190c5df09ee (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1514 Roll Flutter from 6190c5df09ee to 86d43e428aaa (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1516 Roll Flutter from 86d43e428aaa to fe6d09a9ef25 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1517 Roll Flutter from fe6d09a9ef25 to a20cd33d6734 (2 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1518 Roll Flutter from a20cd33d6734 to 462427d53c26 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1519 Roll Flutter from 462427d53c26 to 4aa843a606b5 (2 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1520 Roll Flutter from 4aa843a606b5 to c8057bc5064f (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1521 Roll Flutter from c8057bc5064f to 9526c84b2e48 (3 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1523 Roll Flutter from 9526c84b2e48 to 52d17b667250 (2 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1525 Roll Flutter from 52d17b667250 to b46e07bad3c6 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1526 Roll Flutter from b46e07bad3c6 to adda8e93881d (2 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1527 Roll Flutter from adda8e93881d to 61be9229b7f3 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1528 Roll Flutter from 61be9229b7f3 to c2dc92ca881d (3 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1530 Roll Flutter from c2dc92ca881d to cb968c5f3291 (2 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1531 Roll Flutter from cb968c5f3291 to 05759325bad1 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1515 [pigeon] Fixes bug where Dart `FlutterApi`s would assert that a nullable argument was nonnull
  analysis_options.yaml
  packages/pigeon/CHANGELOG.md
  packages/pigeon/lib/dart_generator.dart
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/mock_handler_tester/test/message.dart
  packages/pigeon/mock_handler_tester/test/test.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/all_datatypes.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/multiple_arity.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/non_null_fields.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/null_fields.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/null_safe_pigeon.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/nullable_returns.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/primitive.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/test/all_datatypes_test.mocks.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/test/multiple_arity_test.mocks.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/test/null_safe_test.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/test/null_safe_test.mocks.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/test/primitive_test.mocks.dart
  packages/pigeon/pubspec.yaml
Labels: p: pigeon

#1533 Roll Flutter from 05759325bad1 to ff9d6e5e339f (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1535 Roll Flutter from c165b749f29e to e2d12060a2bc (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1536 Roll Flutter from e2d12060a2bc to 08e467dde7a1 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1537 Roll Flutter from 08e467dde7a1 to c5e3e1cf5f56 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1538 Roll Flutter from c5e3e1cf5f56 to 95e52dac76b5 (2 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1539 Roll Flutter from 95e52dac76b5 to d5cbb36c91e4 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1540 Roll Flutter from d5cbb36c91e4 to 2b8333240d38 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1524 [pigeon] Remove support for non-NNBD
  packages/pigeon/CHANGELOG.md
  packages/pigeon/lib/dart_generator.dart
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/lib/pigeon_lib.dart
  packages/pigeon/pubspec.yaml
  packages/pigeon/run_tests.sh
  packages/pigeon/test/dart_generator_test.dart
  packages/pigeon/test/pigeon_lib_test.dart
Labels: p: pigeon

#1395 [flutter_markdown] update `markdown` dependency
  packages/flutter_markdown/CHANGELOG.md
  packages/flutter_markdown/pubspec.yaml
  packages/flutter_markdown/test/link_test.dart
Labels: p: flutter_markdown

#1532 [pigeon] Enable NNBD in tool
  packages/pigeon/CHANGELOG.md
  packages/pigeon/bin/pigeon.dart
  packages/pigeon/bin/run_tests.dart
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/pubspec.yaml
Labels: p: pigeon, needs tests

#1543 [pigeon] Minor fixes to NNBD type handling in Dart
  packages/pigeon/CHANGELOG.md
  packages/pigeon/lib/dart_generator.dart
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/pigeons/non_null_fields.dart
  packages/pigeon/pigeons/nullable_returns.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/non_null_fields.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/nullable_returns.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/pubspec.yaml
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/test/null_safe_test.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/test/null_safe_test.mocks.dart
  packages/pigeon/pubspec.yaml
  packages/pigeon/test/dart_generator_test.dart
Labels: waiting for tree to go green, p: pigeon

#1546 Document how to suggest lints for flutter_lints
  packages/flutter_lints/CHANGELOG.md
  packages/flutter_lints/README.md
  packages/flutter_lints/pubspec.yaml
Labels: waiting for tree to go green

#1549 [pigeon] Move test script to tool/
  .ci/scripts/prepare_tool.sh
  .github/workflows/release.yml
  packages/pigeon/CHANGELOG.md
  packages/pigeon/run_tests.sh
  packages/pigeon/tool/run_tests.dart
Labels: waiting for tree to go green, p: pigeon, needs tests

#1552 Roll Flutter from 2b8333240d38 to 242ad0f730dc (111 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1553 Roll Flutter from 242ad0f730dc to 0cbd6231e4e5 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1554 Roll Flutter from 0cbd6231e4e5 to 4ca94ab2fcd0 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1555 Roll Flutter from 4ca94ab2fcd0 to 570e23e94944 (4 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#1556 Roll Flutter from 570e23e94944 to b7abece9cd44 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green
