Repository flutter/packages, pull requests merged in 2022-02, with the labels that each got.

#549 [pigeon] Added non-null fields
  packages/pigeon/CHANGELOG.md
  packages/pigeon/README.md
  packages/pigeon/bin/run_tests.dart
  packages/pigeon/lib/dart_generator.dart
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/lib/java_generator.dart
  packages/pigeon/lib/objc_generator.dart
  packages/pigeon/lib/pigeon_lib.dart
  packages/pigeon/pigeons/non_null_fields.dart
  packages/pigeon/platform_tests/android_unit_tests/android/app/src/test/java/com/example/android_unit_tests/NonNullFieldsTest.java
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/all_datatypes.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/multiple_arity.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/non_null_fields.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/null_safe_pigeon.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/primitive.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/test/non_null_fields_test.dart
  packages/pigeon/platform_tests/ios_unit_tests/ios/Runner.xcodeproj/project.pbxproj
  packages/pigeon/platform_tests/ios_unit_tests/ios/RunnerTests/NonNullFieldsTest.m
  packages/pigeon/pubspec.yaml
  packages/pigeon/run_tests.sh
  packages/pigeon/test/dart_generator_test.dart
  packages/pigeon/test/java_generator_test.dart
  packages/pigeon/test/objc_generator_test.dart
  packages/pigeon/test/pigeon_lib_test.dart
Labels: waiting for tree to go green, p: pigeon

#612 Roll Flutter from a0abb7e89e1b to f70f0ae9bbd6 (4 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#616 Roll Flutter from f70f0ae9bbd6 to 70349f875435 (4 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#618 Roll Flutter from 70349f875435 to e5cf7d1833a6 (2 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#538 [pointer_interceptor] Allow conditional pointer interception
  packages/pointer_interceptor/CHANGELOG.md
  packages/pointer_interceptor/README.md
  packages/pointer_interceptor/example/integration_test/widget_test.dart
  packages/pointer_interceptor/example/lib/main.dart
  packages/pointer_interceptor/lib/src/mobile.dart
  packages/pointer_interceptor/lib/src/web.dart
  packages/pointer_interceptor/pubspec.yaml
Labels: waiting for tree to go green, p: pointer_interceptor

#624 Roll Flutter from e5cf7d1833a6 to 39c5d2fa0a98 (6 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#625 Roll Flutter from 39c5d2fa0a98 to 4cca04dd2709 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#629 Roll Flutter from 4cca04dd2709 to 802d872d404e (6 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#635 Roll Flutter from 802d872d404e to a22cf5d6b9e8 (5 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#636 Roll Flutter from a22cf5d6b9e8 to 8fd7e21328ae (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#643 [xdg_directories] Mark as Linux-only
  packages/xdg_directories/CHANGELOG.md
  packages/xdg_directories/pubspec.yaml
Labels: waiting for tree to go green, p: xdg_directories

#650 Roll Flutter from 8fd7e21328ae to e50ca9acbc6c (15 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#529 [pointer_interceptor] Mark `PointerInterceptor` as invisible
  packages/pointer_interceptor/CHANGELOG.md
  packages/pointer_interceptor/lib/src/shim/dart_ui_fake.dart
  packages/pointer_interceptor/lib/src/web.dart
  packages/pointer_interceptor/pubspec.yaml
Labels: waiting for tree to go green, cla: yes, p: pointer_interceptor, needs tests

#655 Roll Flutter from e50ca9acbc6c to a7e1c4fd34d3 (18 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#656 Roll Flutter from a7e1c4fd34d3 to 2787eb026994 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#657 Roll Flutter from 2787eb026994 to 185bc093e04b (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#668 Pin dockerfile dependencies.
  .ci/Dockerfile
  .cirrus.yml
Labels: waiting for tree to go green

#667 create scorecards-analysis.yml
  .github/workflows/scorecards-analysis.yml
Labels: waiting for tree to go green

#663 [pigeon] a few tweaks to the output after having upgraded video_player
  packages/pigeon/CHANGELOG.md
  packages/pigeon/bin/run_tests.dart
  packages/pigeon/lib/dart_generator.dart
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/lib/objc_generator.dart
  packages/pigeon/lib/pigeon_lib.dart
  packages/pigeon/pubspec.yaml
  packages/pigeon/test/objc_generator_test.dart
Labels: waiting for tree to go green, p: pigeon

#700 [web_benchmarks] Fix _RecordingWidgetsBinding to conform to latest API
  .ci/flutter_master.version
  packages/web_benchmarks/CHANGELOG.md
  packages/web_benchmarks/lib/src/recorder.dart
  packages/web_benchmarks/pubspec.yaml
Labels: waiting for tree to go green, p: web_benchmarks

#745 Roll Flutter from f483b7d80831 to 4f975cbe2fc9 (36 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#683 [pointer_interceptor] Update min Flutter version
  packages/pointer_interceptor/CHANGELOG.md
  packages/pointer_interceptor/pubspec.yaml
Labels: waiting for tree to go green, p: pointer_interceptor

#749 Roll Flutter from 4f975cbe2fc9 to 3bdea6bb925a (4 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#752 Roll Flutter from 3bdea6bb925a to d2853dce6c14 (3 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#756 Roll Flutter from d2853dce6c14 to c54a27dc8790 (3 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#761 Roll Flutter from 312085a19a0f to bb3275b9340f (4 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#764 Roll Flutter from bb3275b9340f to 5f3bee55ad48 (2 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#766 Roll Flutter from 5f3bee55ad48 to 0ce527eb91a3 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#672 Fix bug when parsing `DartOptions.copyrightHeader` with `@ConfigurePigeon`
  packages/pigeon/CHANGELOG.md
  packages/pigeon/lib/dart_generator.dart
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/lib/java_generator.dart
  packages/pigeon/lib/objc_generator.dart
  packages/pigeon/lib/pigeon_lib.dart
  packages/pigeon/pubspec.yaml
  packages/pigeon/test/pigeon_lib_test.dart
Labels: p: pigeon

#770 Roll Flutter from 0ce527eb91a3 to 33a16f44aac4 (3 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#773 Roll Flutter from 33a16f44aac4 to 3f9c0e74f243 (4 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#785 Roll Flutter from 21a6c06491b1 to 8cd540f449a7 (7 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#794 Roll Flutter from eac1a548ed9b to ab7650d8d618 (3 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#801 Roll Flutter from ab7650d8d618 to 350e3ee46d74 (6 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#804 Roll Flutter from 350e3ee46d74 to f523ddd2d6ab (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#806 Roll Flutter from f523ddd2d6ab to 0f33a369bfb0 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#809 Roll Flutter from 0f33a369bfb0 to 5515400a1b02 (3 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#811 Roll Flutter from 5515400a1b02 to ad612b59e5b6 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#813 Roll Flutter from ad612b59e5b6 to 19586569438a (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#831 Roll Flutter from 19586569438a to 9f33bb05103d (17 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#840 Roll Flutter from 9f33bb05103d to e9f83cf4f9df (9 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#845 Roll Flutter from e9f83cf4f9df to a454da0220f7 (5 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#744 [palette_generator] Fix dynamic calls due to operator ==
  packages/palette_generator/CHANGELOG.md
  packages/palette_generator/lib/palette_generator.dart
  packages/palette_generator/pubspec.yaml
  packages/palette_generator/test/palette_generator_test.dart
Labels: waiting for tree to go green, p: palette_generator

#846 Roll Flutter from a454da0220f7 to 838634496214 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#855 Roll Flutter from 838634496214 to 9514106108d1 (8 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#859 Roll Flutter from 9514106108d1 to 919d20511cf6 (4 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#860 [pigeon] disable deprecated e2e tests
  packages/pigeon/run_tests.sh
Labels: p: pigeon, needs tests

#863 Roll Flutter from 919d20511cf6 to cef682363736 (3 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#865 Roll Flutter from cef682363736 to adafd66d9cc7 (2 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#518 [web_benchmarks] Make package compatible with Chromium v89+
  .cirrus.yml
  packages/web_benchmarks/CHANGELOG.md
  packages/web_benchmarks/README.md
  packages/web_benchmarks/lib/src/browser.dart
  packages/web_benchmarks/pubspec.yaml
  packages/web_benchmarks/test/more_tests_in_testing_dir_test.dart
  packages/web_benchmarks/test/src/browser_test.dart
  packages/web_benchmarks/test/src/browser_test_json_samples.dart
  packages/web_benchmarks/testing/README.md
  script/install_chromium.sh
Labels: cla: yes, p: web_benchmarks

#870 Set default permissions for all the workflows in the packages repo.
  .github/workflows/mirror.yml
  .github/workflows/pull_request_label.yml
  .github/workflows/release.yml
Labels: waiting for tree to go green

#876 Roll Flutter from adafd66d9cc7 to 660c15ef7f6b (7 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#866 [ci.yaml] Migrate to Cocoon scheduler
  .ci.yaml
Labels: waiting for tree to go green

#892 Roll Flutter from 29b949e025be to 466b1e8d79e1 (8 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#898 Roll Flutter from 466b1e8d79e1 to c50b02f2c3e6 (4 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#901 Roll Flutter from c50b02f2c3e6 to c504797c423f (3 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#903 Roll Flutter from c504797c423f to 9fa427535c08 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#907 Roll Flutter from 9fa427535c08 to 081d96023731 (4 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#886 [ci] Enable tests on stable
  .cirrus.yml
Labels: waiting for tree to go green

#910 Roll Flutter from 4add01ab68fa to c8266d34f415 (2 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#914 Roll Flutter from c8266d34f415 to 4b2e828924c1 (4 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#921 Roll Flutter from baa2803fe1da to c849844feb3d (3 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#923 Roll Flutter from c849844feb3d to 54a9d6528289 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#925 Roll Flutter from 54a9d6528289 to 617de911982a (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#933 Roll Flutter from 617de911982a to 48c9bbe18247 (8 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#938 Roll Flutter from 48c9bbe18247 to a1a5c1496c19 (6 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#941 Roll Flutter from a1a5c1496c19 to cddd5524d46b (2 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#944 Roll Flutter from cddd5524d46b to 3e4a7c0d0d49 (2 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#946 Roll Flutter from 3e4a7c0d0d49 to 922bbfeed728 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#947 Roll Flutter from 922bbfeed728 to d24ea60f4d82 (1 revision)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#950 Roll Flutter from d24ea60f4d82 to c74a646b7bba (3 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#956 Roll Flutter from c74a646b7bba to 01893b6cea4c (6 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#873 Enable dependabot for packages repository.
  .github/dependabot.yml
Labels: waiting for tree to go green

#966 [ci] Fix dependabot labels
  .github/dependabot.yml
Labels: waiting for tree to go green

#967 Roll Flutter from 01893b6cea4c to ee86e61f73ea (4 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#970 Roll Flutter from ee86e61f73ea to 37a1aaf8c11a (4 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#974 Roll Flutter from 37a1aaf8c11a to 83a88058d695 (6 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#975 [go_router] Keep params in nested routes
  packages/go_router/CHANGELOG.md
  packages/go_router/lib/src/go_router_delegate.dart
  packages/go_router/pubspec.yaml
  packages/go_router/test/go_router_test.dart
Labels: waiting for tree to go green

#978 Roll Flutter from 83a88058d695 to b44cbe1dd5e4 (33 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#980 Roll Flutter from b44cbe1dd5e4 to 377d7d768df1 (3 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green
