Repository flutter/packages, pull requests merged in 2022-07, with the labels that each got.

#2299 Roll Flutter from cf6b91d0ec2a to 1add0d790d78 (15 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#2301 Roll Flutter from 1add0d790d78 to efd006e1b925 (15 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#2303 Roll Flutter from efd006e1b925 to 629f731b99c0 (6 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#2305 Roll Flutter from 629f731b99c0 to f935af315744 (7 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#2307 Roll Flutter from f935af315744 to bdd3082c7491 (8 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#2309 Roll Flutter from bdd3082c7491 to f3717d70d7d2 (5 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#2300 [ci] Roll repo tooling to 0.8.7
  .ci/scripts/prepare_tool.sh
  .cirrus.yml
  .github/workflows/release.yml
  packages/extension_google_sign_in_as_googleapis_auth/example/README.md
  packages/flutter_markdown/example/README.md
Labels: p: extension_google_sign_in_as_googleapis_auth, p: flutter_markdown, autosubmit

#2266 [flutter_template_images] Add iOS app icon assets
  packages/flutter_template_images/CHANGELOG.md
  packages/flutter_template_images/pubspec.yaml
  packages/flutter_template_images/templates/app_shared/ios.tmpl/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-1024x1024@1x.png
  packages/flutter_template_images/templates/app_shared/ios.tmpl/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@1x.png
  packages/flutter_template_images/templates/app_shared/ios.tmpl/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@2x.png
  packages/flutter_template_images/templates/app_shared/ios.tmpl/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@3x.png
  packages/flutter_template_images/templates/app_shared/ios.tmpl/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@1x.png
  packages/flutter_template_images/templates/app_shared/ios.tmpl/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@2x.png
  packages/flutter_template_images/templates/app_shared/ios.tmpl/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@3x.png
  packages/flutter_template_images/templates/app_shared/ios.tmpl/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@1x.png
  packages/flutter_template_images/templates/app_shared/ios.tmpl/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@2x.png
  packages/flutter_template_images/templates/app_shared/ios.tmpl/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@3x.png
  packages/flutter_template_images/templates/app_shared/ios.tmpl/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@2x.png
  packages/flutter_template_images/templates/app_shared/ios.tmpl/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@3x.png
  packages/flutter_template_images/templates/app_shared/ios.tmpl/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@1x.png
  packages/flutter_template_images/templates/app_shared/ios.tmpl/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@2x.png
  packages/flutter_template_images/templates/app_shared/ios.tmpl/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-83.5x83.5@2x.png
  packages/flutter_template_images/templates/app_shared/ios.tmpl/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage.png
  packages/flutter_template_images/templates/app_shared/ios.tmpl/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@2x.png
  packages/flutter_template_images/templates/app_shared/ios.tmpl/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@3x.png
Labels: p: flutter_template_images, autosubmit

#2311 Roll Flutter from 78e3b93664c7 to eb780b50499c (28 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#2313 Roll Flutter from eb780b50499c to 40b75415a029 (20 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#2314 Roll Flutter from 40b75415a029 to d237e3ab5485 (5 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#2315 Roll Flutter from d237e3ab5485 to e17d28d7ab04 (9 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#2316 Switch to autosubmit for dependabot
  .github/dependabot.yml
Labels: autosubmit

#2319 Roll Flutter from e17d28d7ab04 to d092601debdd (22 revisions)
  .ci/flutter_master.version
Labels: waiting for tree to go green

#2312 [go_router] Factor out test helpers from go_router_test
  packages/go_router/test/error_screen_helpers.dart
  packages/go_router/test/go_router_test.dart
  packages/go_router/test/test_helpers.dart
Labels: p: go_router

#2323 Roll Flutter from 803ef6a456c3 to 5a5d021e51ca (22 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#2328 [ci] Pin stable version
  .ci.yaml
  .ci/flutter_stable.version
  .cirrus.yml
Labels: autosubmit

#2302 [go_router] Fix a case-sensitive issue with name in version 4.0.0 or later
  packages/go_router/CHANGELOG.md
  packages/go_router/lib/src/go_route_information_parser.dart
  packages/go_router/pubspec.yaml
  packages/go_router/test/go_route_information_parser_test.dart
Labels: p: go_router

#2195 [flutter_markdown] Fix shrinkWrap not taken into account with single child
  packages/flutter_markdown/CHANGELOG.md
  packages/flutter_markdown/example/lib/demos/markdown_body_shrink_wrap_demo.dart
  packages/flutter_markdown/example/lib/screens/home_screen.dart
  packages/flutter_markdown/lib/src/builder.dart
  packages/flutter_markdown/lib/src/widget.dart
  packages/flutter_markdown/pubspec.yaml
  packages/flutter_markdown/test/markdown_body_shrink_wrap_test.dart
Labels: p: flutter_markdown, autosubmit

#2270 [pigeon] Fix C++ generator's handling of non-class host APIs
  packages/pigeon/CHANGELOG.md
  packages/pigeon/lib/cpp_generator.dart
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/lib/java_generator.dart
  packages/pigeon/lib/objc_generator.dart
  packages/pigeon/lib/swift_generator.dart
  packages/pigeon/platform_tests/windows_unit_tests/windows/CMakeLists.txt
  packages/pigeon/platform_tests/windows_unit_tests/windows/test/multiple_arity_test.cpp
  packages/pigeon/platform_tests/windows_unit_tests/windows/test/nullable_returns_test.cpp
  packages/pigeon/platform_tests/windows_unit_tests/windows/test/pigeon_test.cpp
  packages/pigeon/platform_tests/windows_unit_tests/windows/test/primitive_test.cpp
  packages/pigeon/platform_tests/windows_unit_tests/windows/test/utils/echo_messenger.cpp
  packages/pigeon/platform_tests/windows_unit_tests/windows/test/utils/echo_messenger.h
  packages/pigeon/platform_tests/windows_unit_tests/windows/test/utils/fake_host_messenger.cpp
  packages/pigeon/platform_tests/windows_unit_tests/windows/test/utils/fake_host_messenger.h
  packages/pigeon/pubspec.yaml
  packages/pigeon/test/cpp_generator_test.dart
Labels: p: pigeon, autosubmit

#2347 Fix for RMS parsing
  packages/metrics_center/CHANGELOG.md
  packages/metrics_center/lib/src/google_benchmark.dart
  packages/metrics_center/pubspec.yaml
  packages/metrics_center/test/example_google_benchmark.json
  packages/metrics_center/test/google_benchmark_test.dart
Labels: p: metrics_center, autosubmit

#2348 Only run Linux fuchsia_ctl if fuchsia_ctl is modified
  .ci.yaml
Labels: autosubmit

#2349 [pigeon] Fix style issues in C++ code
  packages/pigeon/CHANGELOG.md
  packages/pigeon/lib/cpp_generator.dart
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/pubspec.yaml
  packages/pigeon/test/cpp_generator_test.dart
Labels: p: pigeon, autosubmit

#2306 [go_router] Adds `void replace()` and `replaceNamed` to `GoRouterDelegate`, `GoRouter` and `GoRouterHelper`
  packages/go_router/CHANGELOG.md
  packages/go_router/lib/go_router.dart
  packages/go_router/lib/src/go_router.dart
  packages/go_router/lib/src/go_router_delegate.dart
  packages/go_router/pubspec.yaml
  packages/go_router/test/go_router_delegate_test.dart
Labels: p: go_router

#2317 [go_router] Refactor internal classes and methods
  packages/go_router/.gitignore
  packages/go_router/CHANGELOG.md
  packages/go_router/example/lib/books/src/auth.dart
  packages/go_router/example/lib/books/src/screens/scaffold.dart
  packages/go_router/example/lib/cupertino.dart
  packages/go_router/example/lib/error_screen.dart
  packages/go_router/example/lib/router_stream_refresh.dart
  packages/go_router/example/lib/shared_scaffold.dart
  packages/go_router/example/lib/transitions.dart
  packages/go_router/lib/go_router.dart
  packages/go_router/lib/src/builder.dart
  packages/go_router/lib/src/configuration.dart
  packages/go_router/lib/src/delegate.dart
  packages/go_router/lib/src/go_route_information_parser.dart
  packages/go_router/lib/src/information_provider.dart
  packages/go_router/lib/src/match.dart
  packages/go_router/lib/src/matching.dart
  packages/go_router/lib/src/misc/error_screen.dart
  packages/go_router/lib/src/misc/extensions.dart
  packages/go_router/lib/src/misc/inherited_router.dart
  packages/go_router/lib/src/misc/refresh_stream.dart
  packages/go_router/lib/src/pages/cupertino.dart
  packages/go_router/lib/src/pages/custom_transition_page.dart
  packages/go_router/lib/src/pages/material.dart
  packages/go_router/lib/src/parser.dart
  packages/go_router/lib/src/path_utils.dart
  packages/go_router/lib/src/platform.dart
  packages/go_router/lib/src/platform/path_strategy_nonweb.dart
  packages/go_router/lib/src/platform/path_strategy_web.dart
  packages/go_router/lib/src/platform/url_path_strategy.dart
  packages/go_router/lib/src/redirection.dart
  packages/go_router/lib/src/route.dart
  packages/go_router/lib/src/router.dart
  packages/go_router/lib/src/state.dart
  packages/go_router/lib/src/typed_routing.dart
  packages/go_router/lib/src/typedefs.dart
  packages/go_router/pubspec.yaml
  packages/go_router/test/cupertino_test.dart
  packages/go_router/test/delegate_test.dart
  packages/go_router/test/error_page_test.dart
  packages/go_router/test/go_router_test.dart
  packages/go_router/test/helpers/error_screen_helpers.dart
  packages/go_router/test/information_provider_test.dart
  packages/go_router/test/inherited_test.dart
  packages/go_router/test/material_test.dart
  packages/go_router/test/parser_test.dart
  packages/go_router/test/path_utils_test.dart
  packages/go_router/test/test_helpers.dart
Labels: p: go_router

#2380 [go_router] Fix example's macOS deployment target
  packages/go_router/example/macos/Runner.xcodeproj/project.pbxproj
Labels: needs tests, p: go_router, autosubmit

#2388 Fix podfile
  packages/go_router/example/macos/Podfile
Labels: needs tests, p: go_router, autosubmit

#2385 Change typed_routing.dart back to route_data.dart
  .ci/scripts/prepare_tool.sh
  .github/workflows/release.yml
  packages/go_router/CHANGELOG.md
  packages/go_router/lib/go_router.dart
  packages/go_router/lib/src/builder.dart
  packages/go_router/lib/src/route_data.dart
  packages/go_router/pubspec.yaml
Labels: needs tests, p: go_router

#2391 Roll Flutter from bbec650b64bc to fe16c206ea19 (203 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#2393 Roll Flutter from fe16c206ea19 to 183141fcb76c (25 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#2324 [pigeon] Handle int results from Flutter as Integer or Long.
  packages/pigeon/CHANGELOG.md
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/lib/java_generator.dart
  packages/pigeon/platform_tests/android_unit_tests/android/app/src/test/java/com/example/android_unit_tests/PrimitiveTest.java
  packages/pigeon/pubspec.yaml
  packages/pigeon/test/java_generator_test.dart
Labels: p: pigeon

#2394 Roll Flutter from 183141fcb76c to 1aa44652e4c0 (36 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#2397 Roll Flutter from 1aa44652e4c0 to a62ee852950a (32 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#2399 Roll Flutter from a62ee852950a to 176f7d71306b (28 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#2400 Roll Flutter from 176f7d71306b to d1a4e1a295b4 (9 revisions)
  .ci/flutter_master.version
Labels: autosubmit
