Repository flutter/packages, pull requests merged in 2022-11, with the labels that each got.

#2758 [flutter_markdown] Do not modify children of an Element after construction
  packages/flutter_markdown/test/custom_syntax_test.dart
Labels: p: flutter_markdown

#2719 [go_router] Adds GoRouterState to context
  packages/go_router/CHANGELOG.md
  packages/go_router/example/lib/shell_route.dart
  packages/go_router/lib/go_router.dart
  packages/go_router/lib/src/builder.dart
  packages/go_router/lib/src/delegate.dart
  packages/go_router/lib/src/misc/inherited_router.dart
  packages/go_router/lib/src/router.dart
  packages/go_router/lib/src/state.dart
  packages/go_router/lib/src/typedefs.dart
  packages/go_router/pubspec.yaml
  packages/go_router/test/builder_test.dart
  packages/go_router/test/go_router_state_test.dart
  packages/go_router/test/go_router_test.dart
  packages/go_router/test/test_helpers.dart
Labels: p: go_router, autosubmit

#2765 [web_benchmarks] add ignore unnecessary_non_null_assertion for Scrollable.of
  packages/web_benchmarks/testing/test_app/lib/benchmarks/runner.dart
Labels: p: web_benchmarks, autosubmit, override: no versioning needed, override: no changelog needed

#2772 Roll Flutter (stable) from 6928314d505d to e99c9c7cd9f6 (2 revisions)
  .ci/flutter_stable.version
Labels: autosubmit

#2773 Allows redirect method to return same location
  packages/go_router/CHANGELOG.md
  packages/go_router/example/lib/async_redirection.dart
  packages/go_router/example/lib/redirection.dart
  packages/go_router/lib/src/redirection.dart
  packages/go_router/pubspec.yaml
  packages/go_router/test/go_router_test.dart
Labels: p: go_router, autosubmit

#2776 Roll Flutter from 37beffe2a98b to e6300da2c39f (63 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#2777 [flutter_markdown] fix for latest pkg:markdown
  packages/flutter_markdown/CHANGELOG.md
  packages/flutter_markdown/lib/src/builder.dart
  packages/flutter_markdown/pubspec.yaml
  packages/flutter_markdown/test/table_test.dart
Labels: p: flutter_markdown

#2780 Roll Flutter from e6300da2c39f to 55e8cd178621 (17 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#2779 [go_router] Remove `path` parameter from `ShellRoute` in the documentation
  packages/go_router/CHANGELOG.md
  packages/go_router/lib/src/route.dart
  packages/go_router/pubspec.yaml
Labels: p: go_router, autosubmit

#2781 Adds 5.1.2 migration guide to readme
  packages/go_router/CHANGELOG.md
  packages/go_router/README.md
  packages/go_router/pubspec.yaml
Labels: p: go_router, autosubmit

#2782 Roll Flutter from 55e8cd178621 to e0e7027b6263 (20 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#2783 Roll Flutter from e0e7027b6263 to 5ea5a5330169 (7 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#2788 Roll Flutter from 5ea5a5330169 to a1432a9c5da2 (30 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#2792 Roll Flutter (stable) from e99c9c7cd9f6 to 52b3dc25f647 (4 revisions)
  .ci/flutter_stable.version
Labels: autosubmit

#2797 [flutter_markdown] fix for latest pkg:markdown part 2
  packages/flutter_markdown/test/link_test.dart
  packages/flutter_markdown/test/table_test.dart
  packages/flutter_markdown/test/utils.dart
Labels: p: flutter_markdown

#2800 Manual Flutter roll to packages (d3dcd7d532b6 to b31b9dc05f99)
  .ci/flutter_master.version
  packages/flutter_migrate/test/src/test_flutter_command_runner.dart
  packages/go_router/example/lib/others/state_restoration.dart
Labels: p: go_router, autosubmit, override: no versioning needed, override: no changelog needed, p: flutter_migrate

#2802 Roll Flutter from b31b9dc05f99 to 098aac7ffeef (21 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#2801 [rfw] Update the status of the package
  packages/rfw/CHANGELOG.md
  packages/rfw/README.md
  packages/rfw/pubspec.yaml
Labels: p: rfw, autosubmit

#2784 [go_router] Fix parentNavigatorKey not working with multiple nested Routes in ShellRoute
  packages/go_router/CHANGELOG.md
  packages/go_router/lib/src/configuration.dart
  packages/go_router/pubspec.yaml
  packages/go_router/test/configuration_test.dart
Labels: p: go_router, autosubmit

#2812 [pigeon] Consolidate platform test harnesses part 4 - Windows
  packages/pigeon/platform_tests/test_plugin/example/windows/CMakeLists.txt
  packages/pigeon/platform_tests/test_plugin/windows/CMakeLists.txt
  packages/pigeon/platform_tests/test_plugin/windows/test/.gitignore
  packages/pigeon/platform_tests/test_plugin/windows/test/multiple_arity_test.cpp
  packages/pigeon/platform_tests/test_plugin/windows/test/non_null_fields_test.cpp
  packages/pigeon/platform_tests/test_plugin/windows/test/null_fields_test.cpp
  packages/pigeon/platform_tests/test_plugin/windows/test/nullable_returns_test.cpp
  packages/pigeon/platform_tests/test_plugin/windows/test/pigeon_test.cpp
  packages/pigeon/platform_tests/test_plugin/windows/test/primitive_test.cpp
  packages/pigeon/platform_tests/test_plugin/windows/test/utils/echo_messenger.cpp
  packages/pigeon/platform_tests/test_plugin/windows/test/utils/echo_messenger.h
  packages/pigeon/platform_tests/test_plugin/windows/test/utils/fake_host_messenger.cpp
  packages/pigeon/platform_tests/test_plugin/windows/test/utils/fake_host_messenger.h
  packages/pigeon/platform_tests/test_plugin/windows/test_plugin.cpp
  packages/pigeon/platform_tests/test_plugin/windows/test_plugin.h
  packages/pigeon/platform_tests/windows_unit_tests/.clang-format
  packages/pigeon/platform_tests/windows_unit_tests/.gitignore
  packages/pigeon/platform_tests/windows_unit_tests/.metadata
  packages/pigeon/platform_tests/windows_unit_tests/CHANGELOG.md
  packages/pigeon/platform_tests/windows_unit_tests/LICENSE
  packages/pigeon/platform_tests/windows_unit_tests/README.md
  packages/pigeon/platform_tests/windows_unit_tests/example/.gitignore
  packages/pigeon/platform_tests/windows_unit_tests/example/.metadata
  packages/pigeon/platform_tests/windows_unit_tests/example/README.md
  packages/pigeon/platform_tests/windows_unit_tests/example/lib/main.dart
  packages/pigeon/platform_tests/windows_unit_tests/example/pubspec.yaml
  packages/pigeon/platform_tests/windows_unit_tests/example/windows/.gitignore
  packages/pigeon/platform_tests/windows_unit_tests/example/windows/CMakeLists.txt
  packages/pigeon/platform_tests/windows_unit_tests/example/windows/flutter/CMakeLists.txt
  packages/pigeon/platform_tests/windows_unit_tests/example/windows/flutter/generated_plugins.cmake
  packages/pigeon/platform_tests/windows_unit_tests/example/windows/runner/CMakeLists.txt
  packages/pigeon/platform_tests/windows_unit_tests/example/windows/runner/Runner.rc
  packages/pigeon/platform_tests/windows_unit_tests/example/windows/runner/flutter_window.cpp
  packages/pigeon/platform_tests/windows_unit_tests/example/windows/runner/flutter_window.h
  packages/pigeon/platform_tests/windows_unit_tests/example/windows/runner/main.cpp
  packages/pigeon/platform_tests/windows_unit_tests/example/windows/runner/resource.h
  packages/pigeon/platform_tests/windows_unit_tests/example/windows/runner/resources/app_icon.ico
  packages/pigeon/platform_tests/windows_unit_tests/example/windows/runner/runner.exe.manifest
  packages/pigeon/platform_tests/windows_unit_tests/example/windows/runner/utils.cpp
  packages/pigeon/platform_tests/windows_unit_tests/example/windows/runner/utils.h
  packages/pigeon/platform_tests/windows_unit_tests/example/windows/runner/win32_window.cpp
  packages/pigeon/platform_tests/windows_unit_tests/example/windows/runner/win32_window.h
  packages/pigeon/platform_tests/windows_unit_tests/lib/windows_unit_tests.dart
  packages/pigeon/platform_tests/windows_unit_tests/pubspec.yaml
  packages/pigeon/platform_tests/windows_unit_tests/windows/.gitignore
  packages/pigeon/platform_tests/windows_unit_tests/windows/CMakeLists.txt
  packages/pigeon/platform_tests/windows_unit_tests/windows/include/windows_unit_tests/windows_unit_tests_plugin_c_api.h
  packages/pigeon/platform_tests/windows_unit_tests/windows/test/.gitignore
  packages/pigeon/platform_tests/windows_unit_tests/windows/windows_unit_tests_plugin.cpp
  packages/pigeon/platform_tests/windows_unit_tests/windows/windows_unit_tests_plugin.h
  packages/pigeon/platform_tests/windows_unit_tests/windows/windows_unit_tests_plugin_c_api.cpp
  packages/pigeon/tool/run_tests.dart
Labels: p: pigeon, autosubmit, override: no versioning needed, override: no changelog needed

#2813 [pigeon] Consolidate platform test harnesses part 5 - macOS
  packages/pigeon/platform_tests/macos_swift_unit_tests/macos/Classes/MacosSwiftUnitTestsPlugin.swift
  packages/pigeon/platform_tests/macos_swift_unit_tests/macos/Tests/MessagesTest.swift
  packages/pigeon/platform_tests/macos_swift_unit_tests/macos/macos_swift_unit_tests.podspec
  packages/pigeon/platform_tests/macos_swift_unit_tests/pigeons/messages.dart
  packages/pigeon/platform_tests/test_plugin/example/macos/Podfile
  packages/pigeon/platform_tests/test_plugin/example/macos/Runner.xcodeproj/project.pbxproj
  packages/pigeon/platform_tests/test_plugin/example/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/pigeon/platform_tests/test_plugin/example/macos/Runner.xcworkspace/contents.xcworkspacedata
  packages/pigeon/platform_tests/test_plugin/example/macos/RunnerTests/BasicCompileTest.swift
  packages/pigeon/platform_tests/test_plugin/macos/Classes/.gitignore
  packages/pigeon/platform_tests/test_plugin/macos/Classes/TestPlugin.swift
  packages/pigeon/tool/run_tests.dart
Labels: p: pigeon, autosubmit, override: no versioning needed, override: no changelog needed

#2747 [go_router] Make `replace` use `pop` and `push` to generate a new `pageKey`
  packages/go_router/CHANGELOG.md
  packages/go_router/lib/src/delegate.dart
  packages/go_router/lib/src/matching.dart
  packages/go_router/pubspec.yaml
  packages/go_router/test/delegate_test.dart
Labels: p: go_router

#2817 [go_router] Fix broken links in documentation
  packages/go_router/CHANGELOG.md
  packages/go_router/README.md
  packages/go_router/doc/get-started.md
  packages/go_router/doc/redirection.md
  packages/go_router/pubspec.yaml
Labels: p: go_router, autosubmit

#2815 [pigeon] Consolidate platform test harnesses part 3.1 - iOS Swift
  packages/pigeon/platform_tests/ios_swift_unit_tests/.gitignore
  packages/pigeon/platform_tests/ios_swift_unit_tests/.metadata
  packages/pigeon/platform_tests/ios_swift_unit_tests/README.md
  packages/pigeon/platform_tests/ios_swift_unit_tests/ios/.gitignore
  packages/pigeon/platform_tests/ios_swift_unit_tests/ios/Flutter/AppFrameworkInfo.plist
  packages/pigeon/platform_tests/ios_swift_unit_tests/ios/Flutter/Debug.xcconfig
  packages/pigeon/platform_tests/ios_swift_unit_tests/ios/Flutter/Release.xcconfig
  packages/pigeon/platform_tests/ios_swift_unit_tests/ios/Runner.xcodeproj/project.pbxproj
  packages/pigeon/platform_tests/ios_swift_unit_tests/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  packages/pigeon/platform_tests/ios_swift_unit_tests/ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  packages/pigeon/platform_tests/ios_swift_unit_tests/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/pigeon/platform_tests/ios_swift_unit_tests/ios/Runner.xcodeproj/xcshareddata/xcschemes/RunnerTests.xcscheme
  packages/pigeon/platform_tests/ios_swift_unit_tests/ios/Runner.xcworkspace/contents.xcworkspacedata
  packages/pigeon/platform_tests/ios_swift_unit_tests/ios/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  packages/pigeon/platform_tests/ios_swift_unit_tests/ios/Runner/.gitignore
  packages/pigeon/platform_tests/ios_swift_unit_tests/ios/Runner/AppDelegate.swift
  packages/pigeon/platform_tests/ios_swift_unit_tests/ios/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
  packages/pigeon/platform_tests/ios_swift_unit_tests/ios/Runner/Assets.xcassets/LaunchImage.imageset/Contents.json
  packages/pigeon/platform_tests/ios_swift_unit_tests/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage.png
  packages/pigeon/platform_tests/ios_swift_unit_tests/ios/Runner/Assets.xcassets/LaunchImage.imageset/README.md
  packages/pigeon/platform_tests/ios_swift_unit_tests/ios/Runner/Base.lproj/LaunchScreen.storyboard
  packages/pigeon/platform_tests/ios_swift_unit_tests/ios/Runner/Base.lproj/Main.storyboard
  packages/pigeon/platform_tests/ios_swift_unit_tests/ios/Runner/Info.plist
  packages/pigeon/platform_tests/ios_swift_unit_tests/ios/Runner/Runner-Bridging-Header.h
  packages/pigeon/platform_tests/ios_swift_unit_tests/ios/RunnerTests/Info.plist
  packages/pigeon/platform_tests/ios_swift_unit_tests/lib/main.dart
  packages/pigeon/platform_tests/ios_swift_unit_tests/pubspec.yaml
  packages/pigeon/platform_tests/test_plugin/example/ios/Podfile
  packages/pigeon/platform_tests/test_plugin/example/ios/Runner.xcodeproj/project.pbxproj
  packages/pigeon/platform_tests/test_plugin/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/pigeon/platform_tests/test_plugin/example/ios/Runner.xcworkspace/contents.xcworkspacedata
  packages/pigeon/platform_tests/test_plugin/example/ios/RunnerTests/AllDatatypesTests.swift
  packages/pigeon/platform_tests/test_plugin/example/ios/RunnerTests/AsyncHandlersTest.swift
  packages/pigeon/platform_tests/test_plugin/example/ios/RunnerTests/EchoBinaryMessenger.swift
  packages/pigeon/platform_tests/test_plugin/example/ios/RunnerTests/EnumTests.swift
  packages/pigeon/platform_tests/test_plugin/example/ios/RunnerTests/HandlerBinaryMessenger.swift
  packages/pigeon/platform_tests/test_plugin/example/ios/RunnerTests/ListTests.swift
  packages/pigeon/platform_tests/test_plugin/example/ios/RunnerTests/MockBinaryMessenger.swift
  packages/pigeon/platform_tests/test_plugin/example/ios/RunnerTests/MultipleArityTests.swift
  packages/pigeon/platform_tests/test_plugin/example/ios/RunnerTests/NonNullFieldsTest.swift
  packages/pigeon/platform_tests/test_plugin/example/ios/RunnerTests/NullableReturnsTests.swift
  packages/pigeon/platform_tests/test_plugin/example/ios/RunnerTests/PrimitiveTests.swift
  packages/pigeon/platform_tests/test_plugin/example/ios/RunnerTests/RunnerTests.swift
  packages/pigeon/platform_tests/test_plugin/example/ios/RunnerTests/Utils.swift
  packages/pigeon/platform_tests/test_plugin/ios/Classes/.gitignore
  packages/pigeon/platform_tests/test_plugin/ios/Classes/TestPlugin.swift
  packages/pigeon/tool/run_tests.dart
Labels: p: pigeon, override: no versioning needed, override: no changelog needed

#2818 Roll Flutter from 098aac7ffeef to dcae424783db (92 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#2821 Roll Flutter from dcae424783db to 537f89ca0ef1 (26 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#2814 [go_router] Fix link of ShellRoute in README
  packages/go_router/CHANGELOG.md
  packages/go_router/README.md
  packages/go_router/pubspec.yaml
Labels: p: go_router, autosubmit

#2822 Roll Flutter from 537f89ca0ef1 to 18c87274cdc9 (31 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#2825 [pigeon] doc comments always start with ' '
  packages/pigeon/CHANGELOG.md
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/pigeons/message.dart
  packages/pigeon/platform_tests/alternate_language_test_plugin/android/src/main/.gitignore
  packages/pigeon/pubspec.yaml
  packages/pigeon/test/cpp_generator_test.dart
  packages/pigeon/test/dart_generator_test.dart
  packages/pigeon/test/java_generator_test.dart
  packages/pigeon/test/kotlin_generator_test.dart
  packages/pigeon/test/objc_generator_test.dart
  packages/pigeon/test/swift_generator_test.dart
Labels: p: pigeon, autosubmit

#2827 Roll Flutter from 18c87274cdc9 to 633d7ef046c8 (23 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#2828 Roll Flutter from 633d7ef046c8 to 20fa32e129bd (6 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#2830 Roll Flutter from 20fa32e129bd to 809ee4418354 (4 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#2832 [ci] Continue .cirrus.yml alignment with flutter/plugins
  .cirrus.yml
  .github/dependabot.yml
  packages/pigeon/e2e_tests/test_objc/android/.project
  packages/pigeon/e2e_tests/test_objc/android/.settings/org.eclipse.buildship.core.prefs
  packages/pigeon/e2e_tests/test_objc/android/app/.classpath
  packages/pigeon/e2e_tests/test_objc/android/app/.project
  packages/pigeon/e2e_tests/test_objc/android/app/.settings/org.eclipse.buildship.core.prefs
  packages/pigeon/e2e_tests/test_objc/android/app/build.gradle
  packages/pigeon/e2e_tests/test_objc/android/app/src/debug/AndroidManifest.xml
  packages/pigeon/e2e_tests/test_objc/android/app/src/main/AndroidManifest.xml
  packages/pigeon/e2e_tests/test_objc/android/app/src/main/java/io/flutter/plugins/Pigeon.java
  packages/pigeon/e2e_tests/test_objc/android/app/src/main/kotlin/com/example/test_objc/MainActivity.kt
  packages/pigeon/e2e_tests/test_objc/android/app/src/main/res/drawable/launch_background.xml
  packages/pigeon/e2e_tests/test_objc/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  packages/pigeon/e2e_tests/test_objc/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  packages/pigeon/e2e_tests/test_objc/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  packages/pigeon/e2e_tests/test_objc/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  packages/pigeon/e2e_tests/test_objc/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  packages/pigeon/e2e_tests/test_objc/android/app/src/main/res/values/styles.xml
  packages/pigeon/e2e_tests/test_objc/android/app/src/profile/AndroidManifest.xml
  packages/pigeon/e2e_tests/test_objc/android/build.gradle
  packages/pigeon/e2e_tests/test_objc/android/gradle.properties
  packages/pigeon/e2e_tests/test_objc/android/gradle/wrapper/gradle-wrapper.properties
  packages/pigeon/e2e_tests/test_objc/android/settings.gradle
  packages/pigeon/run_tests.sh
Labels: p: pigeon, autosubmit, override: no versioning needed, override: no changelog needed

#2786 [go_router]Fixes GoRouterState.location and GoRouterState.param to return correct value
  packages/go_router/CHANGELOG.md
  packages/go_router/lib/src/builder.dart
  packages/go_router/lib/src/configuration.dart
  packages/go_router/lib/src/delegate.dart
  packages/go_router/lib/src/match.dart
  packages/go_router/lib/src/matching.dart
  packages/go_router/lib/src/parser.dart
  packages/go_router/lib/src/redirection.dart
  packages/go_router/lib/src/route.dart
  packages/go_router/lib/src/router.dart
  packages/go_router/lib/src/state.dart
  packages/go_router/pubspec.yaml
  packages/go_router/test/builder_test.dart
  packages/go_router/test/delegate_test.dart
  packages/go_router/test/go_router_state_test.dart
  packages/go_router/test/go_router_test.dart
  packages/go_router/test/match_test.dart
  packages/go_router/test/parser_test.dart
Labels: p: go_router, autosubmit

#2839 Roll Flutter from 809ee4418354 to 2921ca0c4824 (19 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#2841 Move `Mac build_all_packages` to prod
  .ci.yaml
  .cirrus.yml
Labels: autosubmit

#2844 Roll Flutter from 2921ca0c4824 to 0eb2d51ec991 (18 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#2823 [pigeon] Use a shared generation step for platform_tests/
  packages/pigeon/platform_tests/README.md
  packages/pigeon/platform_tests/alternate_language_test_plugin/lib/.gitignore
  packages/pigeon/platform_tests/ios_unit_tests/ios/Runner.xcodeproj/project.pbxproj
  packages/pigeon/platform_tests/ios_unit_tests/ios/RunnerTests/AllDatatypesTest.m
  packages/pigeon/platform_tests/ios_unit_tests/ios/RunnerTests/AsyncHandlersTest.m
  packages/pigeon/platform_tests/ios_unit_tests/ios/RunnerTests/EnumTest.m
  packages/pigeon/platform_tests/ios_unit_tests/ios/RunnerTests/ListTest.m
  packages/pigeon/platform_tests/ios_unit_tests/ios/RunnerTests/MultipleArityTest.m
  packages/pigeon/platform_tests/ios_unit_tests/ios/RunnerTests/NonNullFieldsTest.m
  packages/pigeon/platform_tests/ios_unit_tests/ios/RunnerTests/NullFieldsTest.m
  packages/pigeon/platform_tests/ios_unit_tests/ios/RunnerTests/NullableReturnsTest.m
  packages/pigeon/platform_tests/ios_unit_tests/ios/RunnerTests/PrimitiveTest.m
  packages/pigeon/platform_tests/ios_unit_tests/ios/RunnerTests/RunnerTests.m
  packages/pigeon/platform_tests/test_plugin/lib/.gitignore
  packages/pigeon/platform_tests/test_plugin/windows/CMakeLists.txt
  packages/pigeon/platform_tests/test_plugin/windows/test/.gitignore
  packages/pigeon/platform_tests/test_plugin/windows/test/multiple_arity_test.cpp
  packages/pigeon/platform_tests/test_plugin/windows/test/non_null_fields_test.cpp
  packages/pigeon/platform_tests/test_plugin/windows/test/null_fields_test.cpp
  packages/pigeon/platform_tests/test_plugin/windows/test/nullable_returns_test.cpp
  packages/pigeon/platform_tests/test_plugin/windows/test/pigeon_test.cpp
  packages/pigeon/platform_tests/test_plugin/windows/test/primitive_test.cpp
  packages/pigeon/run_tests.sh
  packages/pigeon/tool/generate.dart
  packages/pigeon/tool/run_tests.dart
  packages/pigeon/tool/shared/generation.dart
  packages/pigeon/tool/shared/native_project_runners.dart
  packages/pigeon/tool/shared/process_utils.dart
Labels: p: pigeon, autosubmit, override: no versioning needed, override: no changelog needed

#2847 Roll Flutter from 0eb2d51ec991 to cb234730a11d (13 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#2849 Roll Flutter from cb234730a11d to ff59250dbeb0 (3 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#2850 Roll Flutter from ff59250dbeb0 to 2703a2bcde77 (2 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#2851 [pigeon] Initial integration test setup
  packages/pigeon/CHANGELOG.md
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/lib/swift_generator.dart
  packages/pigeon/platform_tests/test_plugin/example/integration_test/test.dart
  packages/pigeon/platform_tests/test_plugin/example/ios/RunnerTests/AsyncHandlersTest.swift
  packages/pigeon/platform_tests/test_plugin/example/lib/main.dart
  packages/pigeon/platform_tests/test_plugin/example/pubspec.yaml
  packages/pigeon/platform_tests/test_plugin/lib/.gitignore
  packages/pigeon/platform_tests/test_plugin/lib/all_datatypes.gen.dart
  packages/pigeon/platform_tests/test_plugin/lib/all_void.gen.dart
  packages/pigeon/platform_tests/test_plugin/macos/Classes/TestPlugin.swift
  packages/pigeon/pubspec.yaml
  packages/pigeon/run_tests.sh
  packages/pigeon/tool/run_tests.dart
Labels: p: pigeon, needs tests, autosubmit

#2853 [pigeon] Enable integrations tests for Windows
  packages/pigeon/platform_tests/test_plugin/windows/CMakeLists.txt
  packages/pigeon/platform_tests/test_plugin/windows/pigeon/.gitignore
  packages/pigeon/platform_tests/test_plugin/windows/test/multiple_arity_test.cpp
  packages/pigeon/platform_tests/test_plugin/windows/test/non_null_fields_test.cpp
  packages/pigeon/platform_tests/test_plugin/windows/test/null_fields_test.cpp
  packages/pigeon/platform_tests/test_plugin/windows/test/nullable_returns_test.cpp
  packages/pigeon/platform_tests/test_plugin/windows/test/pigeon_test.cpp
  packages/pigeon/platform_tests/test_plugin/windows/test/primitive_test.cpp
  packages/pigeon/platform_tests/test_plugin/windows/test_plugin.cpp
  packages/pigeon/platform_tests/test_plugin/windows/test_plugin.h
  packages/pigeon/tool/run_tests.dart
  packages/pigeon/tool/shared/generation.dart
Labels: p: pigeon, autosubmit, override: no versioning needed, override: no changelog needed

#2852 [pigeon] Add local-only Kotlin integration tests
  packages/pigeon/platform_tests/test_plugin/android/src/main/kotlin/com/example/test_plugin/TestPlugin.kt
  packages/pigeon/run_tests.sh
  packages/pigeon/tool/run_tests.dart
  packages/pigeon/tool/shared/flutter_utils.dart
  packages/pigeon/tool/shared/native_project_runners.dart
Labels: p: pigeon, autosubmit, override: no versioning needed, override: no changelog needed

#2857 Roll Flutter from 2703a2bcde77 to 17c1dbc47378 (29 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#2856 [pigeon] Fix Java integration test script
  packages/pigeon/tool/run_tests.dart
Labels: p: pigeon, autosubmit

#2858 [pigeon] Enable iOS Swift integration tests
  packages/pigeon/platform_tests/test_plugin/ios/Classes/TestPlugin.swift
  packages/pigeon/run_tests.sh
  packages/pigeon/tool/run_tests.dart
Labels: p: pigeon, autosubmit, override: no versioning needed, override: no changelog needed

#2842 [pigeon] Add method to run pigeon with PigeonOptions
  packages/pigeon/CHANGELOG.md
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/lib/pigeon_lib.dart
  packages/pigeon/pubspec.yaml
  packages/pigeon/test/pigeon_lib_test.dart
Labels: p: pigeon, needs tests, autosubmit

#2862 fix list test for latest pkg:markdown
  packages/flutter_markdown/test/list_test.dart
Labels: p: flutter_markdown

#2867 [pigeon] Add the iOS tests in the new harness as non-default options
  packages/pigeon/platform_tests/README.md
  packages/pigeon/platform_tests/alternate_language_test_plugin/example/ios/Podfile
  packages/pigeon/platform_tests/alternate_language_test_plugin/example/ios/Runner.xcodeproj/project.pbxproj
  packages/pigeon/platform_tests/alternate_language_test_plugin/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/pigeon/platform_tests/alternate_language_test_plugin/example/ios/Runner.xcworkspace/contents.xcworkspacedata
  packages/pigeon/platform_tests/alternate_language_test_plugin/example/ios/RunnerTests/AllDatatypesTest.m
  packages/pigeon/platform_tests/alternate_language_test_plugin/example/ios/RunnerTests/AsyncHandlersTest.m
  packages/pigeon/platform_tests/alternate_language_test_plugin/example/ios/RunnerTests/EchoMessenger.h
  packages/pigeon/platform_tests/alternate_language_test_plugin/example/ios/RunnerTests/EchoMessenger.m
  packages/pigeon/platform_tests/alternate_language_test_plugin/example/ios/RunnerTests/EnumTest.m
  packages/pigeon/platform_tests/alternate_language_test_plugin/example/ios/RunnerTests/HandlerBinaryMessenger.h
  packages/pigeon/platform_tests/alternate_language_test_plugin/example/ios/RunnerTests/HandlerBinaryMessenger.m
  packages/pigeon/platform_tests/alternate_language_test_plugin/example/ios/RunnerTests/ListTest.m
  packages/pigeon/platform_tests/alternate_language_test_plugin/example/ios/RunnerTests/MockBinaryMessenger.h
  packages/pigeon/platform_tests/alternate_language_test_plugin/example/ios/RunnerTests/MockBinaryMessenger.m
  packages/pigeon/platform_tests/alternate_language_test_plugin/example/ios/RunnerTests/MultipleArityTest.m
  packages/pigeon/platform_tests/alternate_language_test_plugin/example/ios/RunnerTests/NonNullFieldsTest.m
  packages/pigeon/platform_tests/alternate_language_test_plugin/example/ios/RunnerTests/NullFieldsTest.m
  packages/pigeon/platform_tests/alternate_language_test_plugin/example/ios/RunnerTests/NullableReturnsTest.m
  packages/pigeon/platform_tests/alternate_language_test_plugin/example/ios/RunnerTests/PrimitiveTest.m
  packages/pigeon/platform_tests/alternate_language_test_plugin/example/ios/RunnerTests/RunnerTests.m
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/.gitignore
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/AlternateLanguageTestPlugin.h
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/AlternateLanguageTestPlugin.m
  packages/pigeon/platform_tests/ios_unit_tests/ios/Runner.xcodeproj/project.pbxproj
  packages/pigeon/run_tests.sh
  packages/pigeon/tool/run_tests.dart
  packages/pigeon/tool/shared/generation.dart
Labels: p: pigeon, autosubmit, override: no versioning needed, override: no changelog needed
