Repository flutter/packages, pull requests merged in 2022-10, with the labels that each got.

#2666 Roll Flutter from 99fb2d36e807 to cfd0f15d2906 (18 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#2667 Roll Flutter from cfd0f15d2906 to eed80afe2c64 (1 revision)
  .ci/flutter_master.version
Labels: autosubmit

#2670 Roll Flutter from eed80afe2c64 to a4b246f2a88c (9 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#2668 [flutter_adaptive_scaffold] Call onDestinationSelected in bottom nav.
  packages/flutter_adaptive_scaffold/CHANGELOG.md
  packages/flutter_adaptive_scaffold/lib/src/adaptive_scaffold.dart
  packages/flutter_adaptive_scaffold/pubspec.yaml
  packages/flutter_adaptive_scaffold/test/adaptive_scaffold_test.dart
Labels: autosubmit, p: flutter_adaptive_scaffold

#2674 Roll Flutter from a4b246f2a88c to 55d67cc7d992 (20 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#2671 [animations] Add screenshots to pubspec.yaml
  packages/animations/CHANGELOG.md
  packages/animations/example/demo_gifs/container_transform_thumbnail.webp
  packages/animations/pubspec.yaml
Labels: p: animations

#2677 Roll Flutter from 55d67cc7d992 to d554fcb36a6e (23 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#2680 [animations] Test fix for: flutter/flutter 112610 `AutomatedTestWidgetsFlutterBinding.pump` should match engine frame precision
  packages/animations/test/open_container_test.dart
Labels: p: animations, autosubmit, override: no versioning needed, override: no changelog needed

#2681 [animations] Update screenshots to use webp compressed animations
  packages/animations/CHANGELOG.md
  packages/animations/example/demo_gifs/container_transform_thumbnail.webp
  packages/animations/example/screenshots/container_transform_lineup.webp
  packages/animations/example/screenshots/fade_lineup.webp
  packages/animations/example/screenshots/fade_through_lineup.webp
  packages/animations/example/screenshots/shared_axis_lineup.webp
  packages/animations/pubspec.yaml
Labels: p: animations

#2653 [gis_web] Introduce new GIS SDK JS-Interop package.
  .ci/scripts/custom_package_tests.sh
  .cirrus.yml
  .github/labeler.yml
  packages/google_identity_services_web/AUTHORS
  packages/google_identity_services_web/CHANGELOG.md
  packages/google_identity_services_web/LICENSE
  packages/google_identity_services_web/README.md
  packages/google_identity_services_web/dart_test.yaml
  packages/google_identity_services_web/example/.gitignore
  packages/google_identity_services_web/example/.metadata
  packages/google_identity_services_web/example/README.md
  packages/google_identity_services_web/example/build.excerpt.yaml
  packages/google_identity_services_web/example/lib/main.dart
  packages/google_identity_services_web/example/lib/main_oauth.dart
  packages/google_identity_services_web/example/pubspec.yaml
  packages/google_identity_services_web/example/web/favicon.png
  packages/google_identity_services_web/example/web/icons/Icon-192.png
  packages/google_identity_services_web/example/web/icons/Icon-512.png
  packages/google_identity_services_web/example/web/icons/Icon-maskable-192.png
  packages/google_identity_services_web/example/web/icons/Icon-maskable-512.png
  packages/google_identity_services_web/example/web/index-with-script-tag.html
  packages/google_identity_services_web/example/web/index.html
  packages/google_identity_services_web/example/web/manifest.json
  packages/google_identity_services_web/lib/google_identity_services_web.dart
  packages/google_identity_services_web/lib/id.dart
  packages/google_identity_services_web/lib/loader.dart
  packages/google_identity_services_web/lib/oauth2.dart
  packages/google_identity_services_web/lib/src/js_interop/dom.dart
  packages/google_identity_services_web/lib/src/js_interop/google_accounts_id.dart
  packages/google_identity_services_web/lib/src/js_interop/google_accounts_oauth2.dart
  packages/google_identity_services_web/lib/src/js_interop/load_callback.dart
  packages/google_identity_services_web/lib/src/js_interop/shared.dart
  packages/google_identity_services_web/lib/src/js_loader.dart
  packages/google_identity_services_web/pubspec.yaml
  packages/google_identity_services_web/test/README.md
  packages/google_identity_services_web/test/js_loader_test.dart
  packages/google_identity_services_web/test/js_loader_tt_custom_test.dart
  packages/google_identity_services_web/test/js_loader_tt_forbidden_test.dart
  packages/google_identity_services_web/test/only_chrome_tests_here_test.dart
  packages/google_identity_services_web/test/tools.dart
  packages/google_identity_services_web/tool/run_tests.dart
  script/configs/linux_only_custom_test.yaml
Labels: autosubmit

#2645 [pigeon] removes generated codecs if there are no custom datatypes
  packages/pigeon/CHANGELOG.md
  packages/pigeon/lib/cpp_generator.dart
  packages/pigeon/lib/dart_generator.dart
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/lib/java_generator.dart
  packages/pigeon/lib/kotlin_generator.dart
  packages/pigeon/lib/objc_generator.dart
  packages/pigeon/lib/swift_generator.dart
  packages/pigeon/platform_tests/ios_swift_unit_tests/ios/RunnerTests/MultipleArityTests.swift
  packages/pigeon/platform_tests/ios_swift_unit_tests/ios/RunnerTests/NullableReturnsTests.swift
  packages/pigeon/platform_tests/ios_swift_unit_tests/ios/RunnerTests/PrimitiveTests.swift
  packages/pigeon/platform_tests/ios_unit_tests/ios/RunnerTests/NullableReturnsTest.m
  packages/pigeon/pubspec.yaml
  packages/pigeon/test/cpp_generator_test.dart
  packages/pigeon/test/dart_generator_test.dart
  packages/pigeon/test/java_generator_test.dart
  packages/pigeon/test/kotlin_generator_test.dart
  packages/pigeon/test/objc_generator_test.dart
  packages/pigeon/test/swift_generator_test.dart
Labels: p: pigeon, autosubmit

#2691 Roll Flutter from eec8d9d9cc29 to 23f22cb8535c (22 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#2692 Roll Flutter from 23f22cb8535c to 89d9880f46e0 (3 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#2694 [flutter_migrate] base boilerplate files
  packages/flutter_migrate/analysis_options.yaml
  packages/flutter_migrate/lib/src/base/command.dart
  packages/flutter_migrate/lib/src/base/common.dart
  packages/flutter_migrate/lib/src/base/context.dart
  packages/flutter_migrate/lib/src/base/file_system.dart
  packages/flutter_migrate/lib/src/base/io.dart
  packages/flutter_migrate/lib/src/base/logger.dart
  packages/flutter_migrate/lib/src/base/project.dart
  packages/flutter_migrate/lib/src/base/signals.dart
  packages/flutter_migrate/lib/src/base/terminal.dart
  packages/flutter_migrate/pubspec.yaml
  packages/flutter_migrate/test/base/context_test.dart
  packages/flutter_migrate/test/base/file_system_test.dart
  packages/flutter_migrate/test/base/io_test.dart
  packages/flutter_migrate/test/base/logger_test.dart
  packages/flutter_migrate/test/base/signals_test.dart
  packages/flutter_migrate/test/base/terminal_test.dart
  packages/flutter_migrate/test/src/common.dart
  packages/flutter_migrate/test/src/context.dart
  packages/flutter_migrate/test/src/fakes.dart
  packages/flutter_migrate/test/src/io.dart
  packages/flutter_migrate/test/src/test_flutter_command_runner.dart
  packages/flutter_migrate/test/src/test_utils.dart
  script/configs/custom_analysis.yaml
Labels: autosubmit, p: flutter_migrate

#2617 [flutter_adaptive_scaffold] Changed type of `appBar` parameter from `AppBar?` to `PreferredSizeWidget?`
  packages/flutter_adaptive_scaffold/CHANGELOG.md
  packages/flutter_adaptive_scaffold/lib/src/adaptive_scaffold.dart
  packages/flutter_adaptive_scaffold/pubspec.yaml
  packages/flutter_adaptive_scaffold/test/adaptive_scaffold_test.dart
Labels: autosubmit, p: flutter_adaptive_scaffold

#2699 [ci] Roll repo tooling to 0.12.0
  .ci/scripts/prepare_tool.sh
  .cirrus.yml
  .github/workflows/release.yml
Labels: autosubmit

#2702 Roll Flutter from 47fc19314946 to 4fed6aaeff8f (19 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#2705 Roll Flutter from 4fed6aaeff8f to a5ee67ef8652 (12 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#2684 [go_router] Removes urlPathStrategy completely
  packages/go_router/CHANGELOG.md
  packages/go_router/lib/go_router.dart
  packages/go_router/lib/src/platform.dart
  packages/go_router/lib/src/platform/path_strategy_nonweb.dart
  packages/go_router/lib/src/platform/path_strategy_web.dart
  packages/go_router/lib/src/platform/url_path_strategy.dart
  packages/go_router/lib/src/router.dart
  packages/go_router/pubspec.yaml
Labels: p: go_router, autosubmit

#2707 Roll Flutter from a5ee67ef8652 to c738c8aa9616 (9 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#2654 [pigeon] Fixes some generated Java code's warning.
  packages/pigeon/CHANGELOG.md
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/lib/java_generator.dart
  packages/pigeon/pubspec.yaml
  packages/pigeon/test/java_generator_test.dart
Labels: p: pigeon, autosubmit

#2686 [go_router] chore(docs): update redirection example in readme
  packages/go_router/README.md
Labels: p: go_router, autosubmit, override: no versioning needed, override: no changelog needed

#2710 Roll Flutter from c738c8aa9616 to 08e1729204f3 (8 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#2712 Roll Flutter from 08e1729204f3 to a707d05e9d4c (6 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#2713 [go_router] removes DebugGoRouteInformation
  packages/go_router/CHANGELOG.md
  packages/go_router/lib/src/information_provider.dart
  packages/go_router/lib/src/parser.dart
  packages/go_router/lib/src/router.dart
  packages/go_router/pubspec.yaml
  packages/go_router/test/parser_test.dart
Labels: p: go_router, autosubmit

#2714 [go_router] Removes dynamic calls in examples.
  packages/go_router/CHANGELOG.md
  packages/go_router/example/lib/named_routes.dart
  packages/go_router/example/lib/others/extra_param.dart
  packages/go_router/example/lib/path_and_query_parameters.dart
Labels: needs tests, p: go_router, autosubmit, override: no versioning needed

#2701 Add CODEOWNERS
  CODEOWNERS
Labels: autosubmit

#2718 Roll Flutter from a707d05e9d4c to abfaec68114b (39 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#2706 [ci] Cirrus pre-alignment with flutter/plugins, part 1
  .cirrus.yml
  analysis_options.yaml
Labels: autosubmit

#2720 Roll Flutter (stable) from eb6d86ee27de to d9111f640213 (4 revisions)
  .ci/flutter_stable.version
Labels: autosubmit

#2688 [gis_web] Properly define optional args. Add scope to config.
  .cirrus.yml
  packages/google_identity_services_web/CHANGELOG.md
  packages/google_identity_services_web/example/integration_test/js_interop_gis_id_test.dart
  packages/google_identity_services_web/example/pubspec.yaml
  packages/google_identity_services_web/example/test_driver/integration_test.dart
  packages/google_identity_services_web/example/web/mock-gis.js
  packages/google_identity_services_web/lib/src/js_interop/google_accounts_id.dart
  packages/google_identity_services_web/lib/src/js_interop/google_accounts_oauth2.dart
  packages/google_identity_services_web/pubspec.yaml
Labels: autosubmit

#2700 [flutter_migrate] Land already-landed migrate utils code and update_locks.dart
  .ci.yaml
  packages/flutter_migrate/lib/src/flutter_project_metadata.dart
  packages/flutter_migrate/lib/src/manifest.dart
  packages/flutter_migrate/lib/src/result.dart
  packages/flutter_migrate/lib/src/update_locks.dart
  packages/flutter_migrate/lib/src/utils.dart
  packages/flutter_migrate/test/flutter_project_metadata_test.dart
  packages/flutter_migrate/test/manifest_test.dart
  packages/flutter_migrate/test/src/common.dart
  packages/flutter_migrate/test/test_data/full_apps/vanilla_app_1_22_6_stable.ensure
  packages/flutter_migrate/test/test_data/migrate_project.dart
  packages/flutter_migrate/test/test_data/project.dart
  packages/flutter_migrate/test/update_locks_test.dart
  packages/flutter_migrate/test/utils_test.dart
Labels: autosubmit, p: flutter_migrate

#2639 [dynamic_layouts] Clean up remaining TODOs
  packages/dynamic_layouts/README.md
  packages/dynamic_layouts/lib/src/base_grid_layout.dart
  packages/dynamic_layouts/lib/src/dynamic_grid.dart
  packages/dynamic_layouts/lib/src/render_dynamic_grid.dart
  packages/dynamic_layouts/lib/src/staggered_layout.dart
  packages/dynamic_layouts/lib/src/wrap_layout.dart
Labels: autosubmit, p: dynamic_layouts

#2711 [go_router] Add github project link to go_router readme
  packages/go_router/CHANGELOG.md
  packages/go_router/README.md
Labels: p: go_router, autosubmit, override: no versioning needed, override: no changelog needed

#2725 [flutter_adaptive_scaffold] Prevent duplicate keys in `AnimatedSwitcher`
  packages/flutter_adaptive_scaffold/CHANGELOG.md
  packages/flutter_adaptive_scaffold/lib/src/slot_layout.dart
  packages/flutter_adaptive_scaffold/pubspec.yaml
  packages/flutter_adaptive_scaffold/test/adaptive_layout_test.dart
Labels: autosubmit, p: flutter_adaptive_scaffold

#2727 [flutter_adaptive_scaffold] Fuchsia is mobile.
  packages/flutter_adaptive_scaffold/CHANGELOG.md
  packages/flutter_adaptive_scaffold/lib/src/breakpoints.dart
  packages/flutter_adaptive_scaffold/pubspec.yaml
  packages/flutter_adaptive_scaffold/test/adaptive_scaffold_test.dart
  packages/flutter_adaptive_scaffold/test/breakpoint_test.dart
  packages/flutter_adaptive_scaffold/test/simulated_layout.dart
  packages/flutter_adaptive_scaffold/test/test_breakpoints.dart
Labels: needs tests, autosubmit, p: flutter_adaptive_scaffold

#2733 [flutter_migrate] Custom merge
  packages/flutter_migrate/lib/src/custom_merge.dart
  packages/flutter_migrate/test/custom_merge_test.dart
Labels: autosubmit, p: flutter_migrate

#2738 [go_router] Avoids using deprecated DartType.element2.
  packages/go_router_builder/CHANGELOG.md
  packages/go_router_builder/lib/src/route_config.dart
  packages/go_router_builder/lib/src/type_helpers.dart
  packages/go_router_builder/pubspec.yaml
Labels: needs tests, p: go_router_builder, autosubmit

#2721 Roll Flutter from abfaec68114b to 637e5bce662f (13 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#2740 Roll Flutter from 637e5bce662f to d9a2229babbc (125 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#2743 Roll Flutter (stable) from d9111f640213 to 6928314d505d (1 revision)
  .ci/flutter_stable.version
Labels: autosubmit

#2748 Roll Flutter from d9a2229babbc to 56c880aea8aa (18 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#2750 Roll Flutter from 56c880aea8aa to e41f588cc5e9 (15 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#2752 Roll Flutter from e41f588cc5e9 to 197df2e19d26 (5 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#2693 [pigeon] Fix Kotlin generated sync host api error
  packages/pigeon/CHANGELOG.md
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/lib/kotlin_generator.dart
  packages/pigeon/pubspec.yaml
  packages/pigeon/test/kotlin_generator_test.dart
Labels: p: pigeon, autosubmit

#2724 [ci] Enable the all_packages tasks
  .ci.yaml
  .ci/scripts/build_all_packages_app.sh
  .ci/scripts/create_all_packages_app.sh
  .ci/targets/build_all_packages.yaml
  .cirrus.yml
  script/configs/exclude_all_packages_app.yaml
Labels: needs tests, autosubmit

#2614 [git] Ignore .uuid files that have started popping up.
  .gitignore
Labels: needs tests, autosubmit

#2756 Roll Flutter from 197df2e19d26 to 37beffe2a98b (9 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#2757 [flutter_markdown] remove a test about preserving HTML entities
  packages/flutter_markdown/test/html_test.dart
Labels: p: flutter_markdown, autosubmit

#2749 [pigeon] Fix enum parameters in Dart test
  .cirrus.yml
  packages/pigeon/CHANGELOG.md
  packages/pigeon/lib/dart_generator.dart
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/pubspec.yaml
  packages/pigeon/test/dart_generator_test.dart
Labels: p: pigeon, autosubmit
