Repository flutter/packages, pull requests merged in 2022-09, with the labels that each got.

#2541 Roll Flutter from f66a09791920 to 759d0e1b20c1 (56 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#2524 Implement RouteConfig interface introduced in Flutter 3.3
  packages/go_router/CHANGELOG.md
  packages/go_router/README.md
  packages/go_router/example/lib/main.dart
  packages/go_router/example/lib/named_routes.dart
  packages/go_router/example/lib/others/error_screen.dart
  packages/go_router/example/lib/others/extra_param.dart
  packages/go_router/example/lib/others/init_loc.dart
  packages/go_router/example/lib/others/nav_observer.dart
  packages/go_router/example/lib/others/push.dart
  packages/go_router/example/lib/others/router_neglect.dart
  packages/go_router/example/lib/others/state_restoration.dart
  packages/go_router/example/lib/others/transitions.dart
  packages/go_router/example/lib/path_and_query_parameters.dart
  packages/go_router/example/lib/redirection.dart
  packages/go_router/example/lib/sub_routes.dart
  packages/go_router/example/pubspec.yaml
  packages/go_router/lib/src/router.dart
  packages/go_router/test/custom_transition_page_test.dart
  packages/go_router/test/delegate_test.dart
  packages/go_router/test/go_router_test.dart
  packages/go_router/test/helpers/error_screen_helpers.dart
  packages/go_router/test/inherited_test.dart
  packages/go_router/test/parser_test.dart
  packages/go_router/test/test_helpers.dart
Labels: p: go_router

#2575 [ci] Increase Linux bot memory
  .cirrus.yml
Labels: warning: land on red to fix tree breakage, autosubmit

#2444 [go_router] Add `buildPageWithState`
  packages/go_router/CHANGELOG.md
  packages/go_router/lib/src/route_data.dart
  packages/go_router/pubspec.yaml
  packages/go_router/test/route_data_test.dart
Labels: needs tests, p: go_router, autosubmit

#2569 [adaptive_scaffold] Fix typo seconary -> secondary
  packages/adaptive_scaffold/lib/src/adaptive_scaffold.dart
Labels: autosubmit

#2579 Roll Flutter from 759d0e1b20c1 to 58ec4839159e (93 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#2576 Documentation was incorrect for large secondary body. It was a duplic…
  packages/adaptive_scaffold/lib/src/adaptive_scaffold.dart
Labels: autosubmit, p: adaptive_scaffold

#2582 Roll Flutter from 58ec4839159e to fc444aedab12 (32 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#2533 [go_router] Don't clear listeners when logging is disabled
  packages/go_router/CHANGELOG.md
  packages/go_router/lib/src/logging.dart
  packages/go_router/pubspec.yaml
  packages/go_router/test/logging_test.dart
Labels: p: go_router, autosubmit

#2577 [ci] Split android-platform_tests in 2 shards
  .cirrus.yml
  script/tool_runner.sh
Labels: autosubmit

#2583 [misc] Fix OpenSSF Scorecard link.
  README.md
Labels: autosubmit

#2585 Roll Flutter from fc444aedab12 to ad946f8478bf (20 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#2592 Revert "Bump ossf/scorecard-action from 1.1.2 to 2.0.0"
  .github/workflows/scorecards-analysis.yml
Labels: autosubmit

#2587 [pigeon] added macos swift support
  packages/pigeon/CHANGELOG.md
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/lib/swift_generator.dart
  packages/pigeon/platform_tests/macos_swift_unit_tests/macos/Classes/MacosSwiftUnitTestsPlugin.swift
  packages/pigeon/platform_tests/macos_swift_unit_tests/macos/Tests/MessagesTest.swift
  packages/pigeon/platform_tests/macos_swift_unit_tests/macos/macos_swift_unit_tests.podspec
  packages/pigeon/platform_tests/macos_swift_unit_tests/pigeons/messages.dart
  packages/pigeon/pubspec.yaml
  packages/pigeon/run_tests.sh
  packages/pigeon/tool/run_tests.dart
Labels: p: pigeon, autosubmit

#2588 Roll Flutter from ad946f8478bf to 4930444f4afe (31 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#2499 [flutter_markdown] remove print statements when not handling alignment
  packages/flutter_markdown/CHANGELOG.md
  packages/flutter_markdown/lib/src/builder.dart
  packages/flutter_markdown/pubspec.yaml
Labels: p: flutter_markdown, needs tests, autosubmit

#2594 Roll Flutter from 4930444f4afe to d925a913c4f2 (9 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#2595 Fix bug in scorecard-action workflow
  .github/workflows/scorecards-analysis.yml
Labels: autosubmit

#2338 [flutter_markdown] Remove TaskListSyntax and rely on markdown native checkbox support - Fixes https://github.com/flutter/flutter/issues/107871
  packages/flutter_markdown/CHANGELOG.md
  packages/flutter_markdown/example/pubspec.yaml
  packages/flutter_markdown/lib/src/builder.dart
  packages/flutter_markdown/lib/src/widget.dart
  packages/flutter_markdown/pubspec.yaml
  packages/flutter_markdown/test/list_test.dart
Labels: p: flutter_markdown, autosubmit

#2597 Roll Flutter from d925a913c4f2 to bbc42632a084 (20 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#2598 Roll Flutter (stable) from 4f9d92fbbdf0 to e3c29ec00c9c (3 revisions)
  .ci/flutter_stable.version
Labels: autosubmit

#2599 Roll Flutter from bbc42632a084 to 4e8a28d29db7 (29 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#2545 [adaptive_scaffold] Release `adaptive_scaffold` package
  packages/adaptive_scaffold/CHANGELOG.md
  packages/adaptive_scaffold/pubspec.yaml
Labels: autosubmit

#2415 [cross_file] Dartdoc correction for `readAsBytes` and `readAsString`
  packages/cross_file/CHANGELOG.md
  packages/cross_file/lib/src/types/base.dart
  packages/cross_file/pubspec.yaml
Labels: p: cross_file, autosubmit

#2603 Roll Flutter from 4e8a28d29db7 to 9c0901ed63d0 (25 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#2535 [go_router_builder] Replace mentions of deprecated `buildPage` with `buildPageWithState`
  packages/go_router_builder/CHANGELOG.md
  packages/go_router_builder/README.md
  packages/go_router_builder/example/lib/main.dart
  packages/go_router_builder/example/pubspec.yaml
  packages/go_router_builder/pubspec.yaml
Labels: p: go_router_builder, autosubmit

#2453 [go_router] Add ShellRoute
  packages/go_router/CHANGELOG.md
  packages/go_router/README.md
  packages/go_router/example/lib/shell_route.dart
  packages/go_router/lib/go_router.dart
  packages/go_router/lib/src/builder.dart
  packages/go_router/lib/src/configuration.dart
  packages/go_router/lib/src/delegate.dart
  packages/go_router/lib/src/match.dart
  packages/go_router/lib/src/matching.dart
  packages/go_router/lib/src/misc/errors.dart
  packages/go_router/lib/src/redirection.dart
  packages/go_router/lib/src/route.dart
  packages/go_router/lib/src/router.dart
  packages/go_router/lib/src/state.dart
  packages/go_router/lib/src/typedefs.dart
  packages/go_router/pubspec.yaml
  packages/go_router/test/builder_test.dart
  packages/go_router/test/configuration_test.dart
  packages/go_router/test/delegate_test.dart
  packages/go_router/test/go_router_test.dart
  packages/go_router/test/match_test.dart
  packages/go_router/test/parser_test.dart
  packages/go_router/test/test_helpers.dart
Labels: p: go_router

#2611 [ci] Manual Flutter roll
  .ci/flutter_master.version
  packages/go_router/test/test_helpers.dart
Labels: needs tests, p: go_router, override: no versioning needed, override: no changelog needed

#2602 [adaptive_scaffold] make `lints_core` happy.
  packages/flutter_adaptive_scaffold/CHANGELOG.md
  packages/flutter_adaptive_scaffold/lib/src/adaptive_scaffold.dart
  packages/flutter_adaptive_scaffold/pubspec.yaml
Labels: needs tests, autosubmit

#2395 [go_router_builder] Adds support for enhanced enums.
  packages/go_router_builder/CHANGELOG.md
  packages/go_router_builder/example/lib/all_types.dart
  packages/go_router_builder/example/lib/all_types.g.dart
  packages/go_router_builder/example/lib/main.dart
  packages/go_router_builder/example/lib/shared/data.dart
  packages/go_router_builder/example/lib/simple_example.dart
  packages/go_router_builder/example/pubspec.yaml
  packages/go_router_builder/example/test/all_types_test.dart
  packages/go_router_builder/lib/src/route_config.dart
  packages/go_router_builder/pubspec.yaml
  packages/go_router_builder/test/builder_test.dart
  packages/go_router_builder/test/test_inputs/_go_router_builder_test_input.dart
Labels: needs tests, p: go_router_builder, autosubmit

#2586 Initialize `flutter_migrate` package
  packages/flutter_migrate/.gitignore
  packages/flutter_migrate/AUTHORS
  packages/flutter_migrate/CHANGELOG.md
  packages/flutter_migrate/LICENSE
  packages/flutter_migrate/README.md
  packages/flutter_migrate/pubspec.yaml
Labels: autosubmit

#2550 [dynamic_layouts] Added an example for wrap layout
  packages/dynamic_layouts/example/lib/main.dart
  packages/dynamic_layouts/example/lib/wrap_layout_example.dart
  packages/dynamic_layouts/example/pubspec.yaml
  packages/dynamic_layouts/example/test/widget_test.dart
  packages/dynamic_layouts/example/test/wrap_example_test.dart
Labels: autosubmit, p: dynamic_layouts

#2615 Roll Flutter from 7714a8d034ad to 5816d20b86b9 (23 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#2616 Roll Flutter from 5816d20b86b9 to f146e90fbb19 (4 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#2604 [ci] Update Cirrus to macOS Ventura and Xcode 14
  .cirrus.yml
Labels: autosubmit

#2619 Roll Flutter from f146e90fbb19 to 99475b1b0bee (11 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#2620 Fix an issue where GoRoutes with only a redirect were disallowed.
  packages/go_router/CHANGELOG.md
  packages/go_router/lib/src/redirection.dart
  packages/go_router/lib/src/route.dart
  packages/go_router/pubspec.yaml
  packages/go_router/test/go_route_test.dart
Labels: p: go_router, autosubmit

#2559 [dynamic_layouts] Add a staggered grid layout example
  packages/dynamic_layouts/example/lib/main.dart
  packages/dynamic_layouts/example/lib/staggered_layout_example.dart
  packages/dynamic_layouts/example/test/staggered_example_test.dart
Labels: autosubmit, p: dynamic_layouts

#2612 [go_router] Go router v5
  .cirrus.yml
  packages/go_router/CHANGELOG.md
  packages/go_router/README.md
  packages/go_router/example/README.md
  packages/go_router/example/lib/async_redirection.dart
  packages/go_router/example/lib/books/main.dart
  packages/go_router/example/lib/main.dart
  packages/go_router/example/lib/named_routes.dart
  packages/go_router/example/lib/others/error_screen.dart
  packages/go_router/example/lib/others/extra_param.dart
  packages/go_router/example/lib/others/init_loc.dart
  packages/go_router/example/lib/others/nav_builder.dart
  packages/go_router/example/lib/others/nav_observer.dart
  packages/go_router/example/lib/others/push.dart
  packages/go_router/example/lib/others/router_neglect.dart
  packages/go_router/example/lib/others/state_restoration.dart
  packages/go_router/example/lib/others/transitions.dart
  packages/go_router/example/lib/path_and_query_parameters.dart
  packages/go_router/example/lib/redirection.dart
  packages/go_router/example/lib/sub_routes.dart
  packages/go_router/example/pubspec.yaml
  packages/go_router/lib/go_router.dart
  packages/go_router/lib/src/builder.dart
  packages/go_router/lib/src/delegate.dart
  packages/go_router/lib/src/information_provider.dart
  packages/go_router/lib/src/matching.dart
  packages/go_router/lib/src/misc/refresh_stream.dart
  packages/go_router/lib/src/parser.dart
  packages/go_router/lib/src/redirection.dart
  packages/go_router/lib/src/route.dart
  packages/go_router/lib/src/route_data.dart
  packages/go_router/lib/src/router.dart
  packages/go_router/lib/src/typedefs.dart
  packages/go_router/pubspec.yaml
  packages/go_router/test/builder_test.dart
  packages/go_router/test/configuration_test.dart
  packages/go_router/test/custom_transition_page_test.dart
  packages/go_router/test/delegate_test.dart
  packages/go_router/test/go_route_test.dart
  packages/go_router/test/go_router_test.dart
  packages/go_router/test/helpers/error_screen_helpers.dart
  packages/go_router/test/inherited_test.dart
  packages/go_router/test/parser_test.dart
  packages/go_router/test/test_helpers.dart
Labels: p: go_router, autosubmit

#2578 [pigeon] Documentation comments
  packages/pigeon/CHANGELOG.md
  packages/pigeon/lib/ast.dart
  packages/pigeon/lib/cpp_generator.dart
  packages/pigeon/lib/dart_generator.dart
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/lib/java_generator.dart
  packages/pigeon/lib/objc_generator.dart
  packages/pigeon/lib/pigeon_lib.dart
  packages/pigeon/lib/swift_generator.dart
  packages/pigeon/pigeons/enum.dart
  packages/pigeon/pigeons/message.dart
  packages/pigeon/pubspec.yaml
  packages/pigeon/test/cpp_generator_test.dart
  packages/pigeon/test/dart_generator_test.dart
  packages/pigeon/test/java_generator_test.dart
  packages/pigeon/test/objc_generator_test.dart
  packages/pigeon/test/swift_generator_test.dart
Labels: p: pigeon, autosubmit

#2624 Roll Flutter from 99475b1b0bee to b55bbb7bffc7 (36 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#2622 [go_router_builder] Support the latest pkg:analyzer
  packages/go_router_builder/CHANGELOG.md
  packages/go_router_builder/pubspec.yaml
Labels: p: go_router_builder, autosubmit

#2613 [flutter_markdown] update tests to remove use of deprecated idicatorForCheck/UncheckedCheckBox symbols from markdown
  packages/flutter_markdown/test/list_test.dart
Labels: p: flutter_markdown, override: no changelog needed

#2627 [go_router_builder] Bumps go_router version in example folder to v5.0.0
  packages/go_router_builder/CHANGELOG.md
  packages/go_router_builder/example/lib/main.dart
  packages/go_router_builder/example/pubspec.yaml
  packages/go_router_builder/pubspec.yaml
Labels: p: go_router_builder, autosubmit

#2631 Add missing packages to README and autolabeler
  .github/labeler.yml
  README.md
Labels: autosubmit

#2625 [go_router] Remove assert so that ShellRoute allows child ShellRoute
  packages/go_router/CHANGELOG.md
  packages/go_router/lib/src/route.dart
  packages/go_router/pubspec.yaml
  packages/go_router/test/configuration_test.dart
Labels: p: go_router, autosubmit

#2630 [pigeon] Adds missing @NonNull annotations to some methods.
  packages/pigeon/CHANGELOG.md
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/lib/java_generator.dart
  packages/pigeon/pubspec.yaml
  packages/pigeon/test/java_generator_test.dart
Labels: p: pigeon, autosubmit

#2638 Roll Flutter from cf01ecd19e61 to 0eaa6dad9ad9 (35 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#2628 [pigeon] Adds Swift tests in CI script
  packages/pigeon/run_tests.sh
Labels: p: pigeon, autosubmit, override: no versioning needed, override: no changelog needed

#2641 Roll Flutter from 0eaa6dad9ad9 to b31f41bd1aa6 (15 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#2643 Roll Flutter from b31f41bd1aa6 to 07665fba77bc (22 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#2646 Roll Flutter from 07665fba77bc to 64f84f6a47d2 (4 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#2648 Roll Flutter from 64f84f6a47d2 to 7b6074fbc542 (7 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#2621 [go_router] Fix ShellRoute documentation
  packages/go_router/CHANGELOG.md
  packages/go_router/lib/src/route.dart
  packages/go_router/pubspec.yaml
Labels: p: go_router, autosubmit

#2651 Roll Flutter from 7b6074fbc542 to f57c2fe8ff49 (23 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#2642 [ci] Update Dockerfile
  .ci/Dockerfile
Labels: autosubmit

#2656 Roll Flutter from f57c2fe8ff49 to 9bf849184d6c (29 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#2649 [go_router]CHANGE EXAMPLE Provider, Delegate, Parser to routerConfig
  packages/go_router/CHANGELOG.md
  packages/go_router/example/lib/async_redirection.dart
  packages/go_router/example/lib/books/main.dart
  packages/go_router/example/lib/shell_route.dart
  packages/go_router/pubspec.yaml
Labels: needs tests, p: go_router

#2660 Roll Flutter from 9bf849184d6c to a11bef968893 (37 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#2662 Roll Flutter from a11bef968893 to 99fb2d36e807 (20 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#2636 [go_router] [shell_route] Fix BottomNavigationBar might lost current index in long URIs.
  packages/go_router/CHANGELOG.md
  packages/go_router/example/lib/shell_route.dart
  packages/go_router/example/test/shell_route_test.dart
  packages/go_router/pubspec.yaml
Labels: needs tests, p: go_router, autosubmit

#2652 Remove asserts in popRoute
  packages/go_router/CHANGELOG.md
  packages/go_router/lib/src/delegate.dart
  packages/go_router/lib/src/route.dart
  packages/go_router/pubspec.yaml
  packages/go_router/test/go_router_test.dart
  packages/go_router/test/test_helpers.dart
Labels: needs tests, p: go_router, autosubmit
