Repository flutter/packages, pull requests merged in 2023-12, with the labels that each got.

#5494 Reenable macOS 13 tests
  .ci.yaml
Labels: autosubmit

#5537 [gsi_web] Do not initialize CodeClient if scopes are empty.
  packages/google_sign_in/google_sign_in_web/CHANGELOG.md
  packages/google_sign_in/google_sign_in_web/lib/src/gis_client.dart
  packages/google_sign_in/google_sign_in_web/pubspec.yaml
Labels: warning: land on red to fix tree breakage, autosubmit, p: google_sign_in, platform-web

#5533 [ci] Add Windows Arm64 stable build-only test
  .ci.yaml
Labels: autosubmit

#5566 [file_selector] Remove deprecated `primary` and `onPrimary` references from `ElevatedButton.styleFrom`
  packages/file_selector/file_selector_macos/example/lib/get_multiple_directories_page.dart
  packages/file_selector/file_selector_windows/example/lib/get_multiple_directories_page.dart
Labels: autosubmit, override: no versioning needed, override: no changelog needed, p: file_selector, platform-macos, platform-windows

#4962 [google_sign_in] Add macOS support
  .ci/scripts/update_pods.sh
  .ci/targets/macos_check_podspecs.yaml
  packages/google_sign_in/google_sign_in_ios/CHANGELOG.md
  packages/google_sign_in/google_sign_in_ios/README.md
  packages/google_sign_in/google_sign_in_ios/darwin/Assets/.gitkeep
  packages/google_sign_in/google_sign_in_ios/darwin/Classes/FLTGoogleSignInPlugin.h
  packages/google_sign_in/google_sign_in_ios/darwin/Classes/FLTGoogleSignInPlugin.m
  packages/google_sign_in/google_sign_in_ios/darwin/Classes/FLTGoogleSignInPlugin.modulemap
  packages/google_sign_in/google_sign_in_ios/darwin/Classes/FLTGoogleSignInPlugin_Test.h
  packages/google_sign_in/google_sign_in_ios/darwin/Classes/google_sign_in_ios-umbrella.h
  packages/google_sign_in/google_sign_in_ios/darwin/Classes/messages.g.h
  packages/google_sign_in/google_sign_in_ios/darwin/Classes/messages.g.m
  packages/google_sign_in/google_sign_in_ios/darwin/Tests/GoogleService-Info.plist
  packages/google_sign_in/google_sign_in_ios/darwin/Tests/GoogleSignInTests.m
  packages/google_sign_in/google_sign_in_ios/darwin/google_sign_in_ios.podspec
  packages/google_sign_in/google_sign_in_ios/example/ios/Runner.xcodeproj/project.pbxproj
  packages/google_sign_in/google_sign_in_ios/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
  packages/google_sign_in/google_sign_in_ios/example/macos/.gitignore
  packages/google_sign_in/google_sign_in_ios/example/macos/Flutter/Flutter-Debug.xcconfig
  packages/google_sign_in/google_sign_in_ios/example/macos/Flutter/Flutter-Release.xcconfig
  packages/google_sign_in/google_sign_in_ios/example/macos/Podfile
  packages/google_sign_in/google_sign_in_ios/example/macos/Runner.xcodeproj/project.pbxproj
  packages/google_sign_in/google_sign_in_ios/example/macos/Runner.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  packages/google_sign_in/google_sign_in_ios/example/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/google_sign_in/google_sign_in_ios/example/macos/Runner.xcworkspace/contents.xcworkspacedata
  packages/google_sign_in/google_sign_in_ios/example/macos/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  packages/google_sign_in/google_sign_in_ios/example/macos/Runner/AppDelegate.swift
  packages/google_sign_in/google_sign_in_ios/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
  packages/google_sign_in/google_sign_in_ios/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_1024.png
  packages/google_sign_in/google_sign_in_ios/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_128.png
  packages/google_sign_in/google_sign_in_ios/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_16.png
  packages/google_sign_in/google_sign_in_ios/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_256.png
  packages/google_sign_in/google_sign_in_ios/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_32.png
  packages/google_sign_in/google_sign_in_ios/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_512.png
  packages/google_sign_in/google_sign_in_ios/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_64.png
  packages/google_sign_in/google_sign_in_ios/example/macos/Runner/Base.lproj/MainMenu.xib
  packages/google_sign_in/google_sign_in_ios/example/macos/Runner/Configs/AppInfo.xcconfig
  packages/google_sign_in/google_sign_in_ios/example/macos/Runner/Configs/Debug.xcconfig
  packages/google_sign_in/google_sign_in_ios/example/macos/Runner/Configs/Release.xcconfig
  packages/google_sign_in/google_sign_in_ios/example/macos/Runner/Configs/Warnings.xcconfig
  packages/google_sign_in/google_sign_in_ios/example/macos/Runner/DebugProfile.entitlements
  packages/google_sign_in/google_sign_in_ios/example/macos/Runner/Info.plist
  packages/google_sign_in/google_sign_in_ios/example/macos/Runner/MainFlutterWindow.swift
  packages/google_sign_in/google_sign_in_ios/example/macos/Runner/Release.entitlements
  packages/google_sign_in/google_sign_in_ios/example/pubspec.yaml
  packages/google_sign_in/google_sign_in_ios/pigeons/messages.dart
  packages/google_sign_in/google_sign_in_ios/pubspec.yaml
Labels: autosubmit, p: google_sign_in, platform-ios, platform-macos, waiting for stable update

#5577 Fix benchmark reload bug and migrate away from deprecated `js_util` APIs
  packages/web_benchmarks/CHANGELOG.md
  packages/web_benchmarks/lib/client.dart
  packages/web_benchmarks/lib/server.dart
  packages/web_benchmarks/lib/src/common.dart
  packages/web_benchmarks/lib/src/recorder.dart
  packages/web_benchmarks/lib/src/runner.dart
  packages/web_benchmarks/pubspec.yaml
  packages/web_benchmarks/testing/web_benchmarks_test.dart
Labels: waiting for tree to go green, p: web_benchmarks, autosubmit

#5536 [pigeon] Use dart:io output inheritance for tooling
  packages/pigeon/tool/shared/generation.dart
  packages/pigeon/tool/shared/process_utils.dart
Labels: p: pigeon, autosubmit

#5596 [animations] Bump minimum Flutter version
  packages/animations/pubspec.yaml
Labels: warning: land on red to fix tree breakage, p: animations, autosubmit

#5598 [animations] Bump minimum supported Dart version to 3.2
  packages/animations/CHANGELOG.md
  packages/animations/pubspec.yaml
Labels: warning: land on red to fix tree breakage, p: animations, autosubmit

#5592 [web_benchmarks] migrate to pkg:web
  packages/web_benchmarks/CHANGELOG.md
  packages/web_benchmarks/lib/client.dart
  packages/web_benchmarks/lib/src/recorder.dart
  packages/web_benchmarks/pubspec.yaml
  packages/web_benchmarks/testing/README.md
  packages/web_benchmarks/testing/test_app/.gitignore
Labels: p: web_benchmarks, autosubmit

#5578 [video_player] Unfork publish: for macOS
  packages/video_player/video_player_avfoundation/CHANGELOG.md
  packages/video_player/video_player_avfoundation/darwin/Classes/FVPVideoPlayerPlugin.m
  packages/video_player/video_player_avfoundation/darwin/RunnerTests/VideoPlayerTests.m
  packages/video_player/video_player_avfoundation/example/macos/Runner.xcodeproj/project.pbxproj
  packages/video_player/video_player_avfoundation/pubspec.yaml
Labels: autosubmit, platform-macos, p: video_player

#5595 Drop quiver usage in several packages
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/pubspec.yaml
  packages/camera/camera_android/example/pubspec.yaml
  packages/camera/camera_avfoundation/example/pubspec.yaml
  packages/google_sign_in/google_sign_in_platform_interface/CHANGELOG.md
  packages/google_sign_in/google_sign_in_platform_interface/lib/src/types.dart
  packages/google_sign_in/google_sign_in_platform_interface/pubspec.yaml
Labels: autosubmit, p: camera, p: google_sign_in, platform-android

#5581 [gis_web] Migrate to package:web.
  packages/google_identity_services_web/CHANGELOG.md
  packages/google_identity_services_web/example/integration_test/js_interop_id_test.dart
  packages/google_identity_services_web/example/integration_test/js_interop_oauth_test.dart
  packages/google_identity_services_web/example/integration_test/src/dom.dart
  packages/google_identity_services_web/example/integration_test/utils.dart
  packages/google_identity_services_web/example/lib/main.dart
  packages/google_identity_services_web/example/lib/main_oauth.dart
  packages/google_identity_services_web/example/pubspec.yaml
  packages/google_identity_services_web/lib/src/js_interop/dom.dart
  packages/google_identity_services_web/lib/src/js_interop/google_accounts_id.dart
  packages/google_identity_services_web/lib/src/js_interop/google_accounts_oauth2.dart
  packages/google_identity_services_web/lib/src/js_interop/load_callback.dart
  packages/google_identity_services_web/lib/src/js_interop/package_web_tweaks.dart
  packages/google_identity_services_web/lib/src/js_interop/shared.dart
  packages/google_identity_services_web/lib/src/js_loader.dart
  packages/google_identity_services_web/pubspec.yaml
  packages/google_identity_services_web/test/js_loader_test.dart
  packages/google_identity_services_web/test/js_loader_tt_custom_test.dart
  packages/google_identity_services_web/test/js_loader_tt_forbidden_test.dart
  packages/google_identity_services_web/test/tools.dart
  script/configs/exclude_all_packages_app.yaml
Labels: autosubmit

#5545 [go_router] Fix(docs): Typo in Update navigation.md
  packages/go_router/CHANGELOG.md
  packages/go_router/doc/navigation.md
  packages/go_router/pubspec.yaml
Labels: p: go_router, autosubmit

#5563 [go_router_builder] add support to `go_router_builder` for initializing a `ShellRoute` with `observers`
  packages/go_router_builder/CHANGELOG.md
  packages/go_router_builder/example/lib/shell_route_with_observers_example.dart
  packages/go_router_builder/example/lib/shell_route_with_observers_example.g.dart
  packages/go_router_builder/lib/src/route_config.dart
  packages/go_router_builder/pubspec.yaml
Labels: p: go_router_builder, autosubmit

#5600 [google_sign_in] Endorse macOS implementation
  packages/google_sign_in/google_sign_in/CHANGELOG.md
  packages/google_sign_in/google_sign_in/README.md
  packages/google_sign_in/google_sign_in/example/macos/.gitignore
  packages/google_sign_in/google_sign_in/example/macos/Flutter/Flutter-Debug.xcconfig
  packages/google_sign_in/google_sign_in/example/macos/Flutter/Flutter-Release.xcconfig
  packages/google_sign_in/google_sign_in/example/macos/Podfile
  packages/google_sign_in/google_sign_in/example/macos/Runner.xcodeproj/project.pbxproj
  packages/google_sign_in/google_sign_in/example/macos/Runner.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  packages/google_sign_in/google_sign_in/example/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/google_sign_in/google_sign_in/example/macos/Runner.xcworkspace/contents.xcworkspacedata
  packages/google_sign_in/google_sign_in/example/macos/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  packages/google_sign_in/google_sign_in/example/macos/Runner/AppDelegate.swift
  packages/google_sign_in/google_sign_in/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
  packages/google_sign_in/google_sign_in/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_1024.png
  packages/google_sign_in/google_sign_in/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_128.png
  packages/google_sign_in/google_sign_in/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_16.png
  packages/google_sign_in/google_sign_in/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_256.png
  packages/google_sign_in/google_sign_in/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_32.png
  packages/google_sign_in/google_sign_in/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_512.png
  packages/google_sign_in/google_sign_in/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_64.png
  packages/google_sign_in/google_sign_in/example/macos/Runner/Base.lproj/MainMenu.xib
  packages/google_sign_in/google_sign_in/example/macos/Runner/Configs/AppInfo.xcconfig
  packages/google_sign_in/google_sign_in/example/macos/Runner/Configs/Debug.xcconfig
  packages/google_sign_in/google_sign_in/example/macos/Runner/Configs/Release.xcconfig
  packages/google_sign_in/google_sign_in/example/macos/Runner/Configs/Warnings.xcconfig
  packages/google_sign_in/google_sign_in/example/macos/Runner/DebugProfile.entitlements
  packages/google_sign_in/google_sign_in/example/macos/Runner/Info.plist
  packages/google_sign_in/google_sign_in/example/macos/Runner/MainFlutterWindow.swift
  packages/google_sign_in/google_sign_in/example/macos/Runner/Release.entitlements
  packages/google_sign_in/google_sign_in/pubspec.yaml
Labels: autosubmit, p: google_sign_in, platform-macos

#5611 Add the ability to run web_benchmarks with Wasm
  packages/web_benchmarks/CHANGELOG.md
  packages/web_benchmarks/lib/client.dart
  packages/web_benchmarks/lib/server.dart
  packages/web_benchmarks/lib/src/compilation_options.dart
  packages/web_benchmarks/lib/src/runner.dart
  packages/web_benchmarks/pubspec.yaml
  packages/web_benchmarks/testing/web_benchmarks_test.dart
Labels: p: web_benchmarks

#5613 [gis_web] Correct pub.dev changelog entry.
  packages/google_identity_services_web/CHANGELOG.md
  packages/google_identity_services_web/example/pubspec.yaml
  packages/google_identity_services_web/pubspec.yaml
Labels: autosubmit

#5143 [url_launcher] Adds documentation that a launch needs to be triggered by a user action
  packages/url_launcher/url_launcher/CHANGELOG.md
  packages/url_launcher/url_launcher/README.md
  packages/url_launcher/url_launcher/lib/src/url_launcher_uri.dart
  packages/url_launcher/url_launcher/pubspec.yaml
  packages/url_launcher/url_launcher_web/CHANGELOG.md
  packages/url_launcher/url_launcher_web/README.md
  packages/url_launcher/url_launcher_web/pubspec.yaml
Labels: autosubmit, platform-web, p: url_launcher

#5580 Update labeler to 5.0.0, fix yml format
  .github/labeler.yml
  .github/workflows/pull_request_label.yml
Labels: autosubmit

#5614 Add `parse` constructors for the `BenchmarkResults` and `BenchmarkScore` classes
  packages/web_benchmarks/CHANGELOG.md
  packages/web_benchmarks/lib/src/benchmark_result.dart
  packages/web_benchmarks/pubspec.yaml
  packages/web_benchmarks/test/src/benchmark_result_test.dart
Labels: waiting for tree to go green, p: web_benchmarks, autosubmit

#5629 [google_maps_flutter] Disable failing iOS tests
  packages/google_maps_flutter/google_maps_flutter/example/integration_test/src/maps_controller.dart
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios11/integration_test/google_maps_test.dart
Labels: autosubmit, p: google_maps_flutter, platform-ios

#5612 [google_sign_in_web] Migrate to pkg:web.
  packages/google_sign_in/google_sign_in_web/CHANGELOG.md
  packages/google_sign_in/google_sign_in_web/example/integration_test/flexible_size_html_element_view_test.dart
  packages/google_sign_in/google_sign_in_web/example/integration_test/google_sign_in_web_test.dart
  packages/google_sign_in/google_sign_in_web/example/integration_test/src/dom.dart
  packages/google_sign_in/google_sign_in_web/example/integration_test/src/jsify_as.dart
  packages/google_sign_in/google_sign_in_web/example/pubspec.yaml
  packages/google_sign_in/google_sign_in_web/lib/google_sign_in_web.dart
  packages/google_sign_in/google_sign_in_web/lib/src/button_configuration.dart
  packages/google_sign_in/google_sign_in_web/lib/src/dom.dart
  packages/google_sign_in/google_sign_in_web/lib/src/flexible_size_html_element_view.dart
  packages/google_sign_in/google_sign_in_web/lib/src/gis_client.dart
  packages/google_sign_in/google_sign_in_web/pubspec.yaml
  script/configs/exclude_all_packages_app.yaml
Labels: autosubmit, p: google_sign_in, platform-web

#5623 [tool] Use ^ for Dart SDK
  script/tool/lib/src/update_min_sdk_command.dart
  script/tool/test/update_min_sdk_command_test.dart
Labels: autosubmit

#5529 [multicast_dns] Adjust README
  packages/multicast_dns/CHANGELOG.md
  packages/multicast_dns/README.md
  packages/multicast_dns/pubspec.yaml
  script/configs/temp_exclude_excerpt.yaml
Labels: p: multicast_dns, autosubmit

#5631 Manually roll Flutter from f35d049e0d8e to c642f4e012f4 (92 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#5632 Manually roll Flutter (stable) from db7ef5bf9f59 to b0366e0a3f08 (8 revisions)
  .ci/flutter_stable.version
Labels: autosubmit

#5640 [pointer_interceptor] Fully publish pointer_interceptor package
  packages/pointer_interceptor/pointer_interceptor/CHANGELOG.md
  packages/pointer_interceptor/pointer_interceptor/README.md
  packages/pointer_interceptor/pointer_interceptor/pubspec.yaml
Labels: p: pointer_interceptor, autosubmit

#5648 Manual roll Flutter from c642f4e012f4 to 97190973d6f5 (25 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#5480 [pigeon] Fix Kotlin generator to use provided errorClassName
  packages/pigeon/CHANGELOG.md
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/lib/kotlin_generator.dart
  packages/pigeon/platform_tests/test_plugin/android/src/main/kotlin/com/example/test_plugin/CoreTests.gen.kt
  packages/pigeon/platform_tests/test_plugin/android/src/main/kotlin/com/example/test_plugin/TestPlugin.kt
  packages/pigeon/pubspec.yaml
  packages/pigeon/test/kotlin_generator_test.dart
  packages/pigeon/tool/shared/generation.dart
Labels: p: pigeon, autosubmit, platform-android

#5565 [tools] Validate pubspec topic format
  script/tool/lib/src/pubspec_check_command.dart
  script/tool/test/pubspec_check_command_test.dart
Labels: autosubmit

#5653 [various] Update examples using video_player
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/example/lib/main.dart
  packages/camera/camera/example/pubspec.yaml
  packages/camera/camera/pubspec.yaml
  packages/camera/camera_android/CHANGELOG.md
  packages/camera/camera_android/example/lib/main.dart
  packages/camera/camera_android/example/pubspec.yaml
  packages/camera/camera_android/pubspec.yaml
  packages/camera/camera_android_camerax/CHANGELOG.md
  packages/camera/camera_android_camerax/example/lib/main.dart
  packages/camera/camera_android_camerax/example/pubspec.yaml
  packages/camera/camera_android_camerax/pubspec.yaml
  packages/camera/camera_avfoundation/CHANGELOG.md
  packages/camera/camera_avfoundation/example/lib/main.dart
  packages/camera/camera_avfoundation/example/pubspec.yaml
  packages/camera/camera_avfoundation/pubspec.yaml
  packages/image_picker/image_picker/CHANGELOG.md
  packages/image_picker/image_picker/example/lib/main.dart
  packages/image_picker/image_picker/example/pubspec.yaml
  packages/image_picker/image_picker/pubspec.yaml
Labels: autosubmit, p: camera, p: image_picker, platform-android

#5527 [image_picker] updates to resize logic.
  packages/image_picker/image_picker_android/CHANGELOG.md
  packages/image_picker/image_picker_android/android/src/main/java/io/flutter/plugins/imagepicker/ImageResizer.java
  packages/image_picker/image_picker_android/android/src/test/java/io/flutter/plugins/imagepicker/ImageResizerTest.java
  packages/image_picker/image_picker_android/android/src/test/resources/jpgImageTall.jpg
  packages/image_picker/image_picker_android/android/src/test/resources/jpgImageWide.jpg
  packages/image_picker/image_picker_android/pubspec.yaml
  packages/image_picker/image_picker_ios/CHANGELOG.md
  packages/image_picker/image_picker_ios/example/ios/RunnerTests/ImagePickerTestImages.h
  packages/image_picker/image_picker_ios/example/ios/RunnerTests/ImagePickerTestImages.m
  packages/image_picker/image_picker_ios/example/ios/RunnerTests/ImageUtilTests.m
  packages/image_picker/image_picker_ios/example/ios/TestImages/jpgImageTall.jpg
  packages/image_picker/image_picker_ios/ios/Classes/FLTImagePickerImageUtil.m
  packages/image_picker/image_picker_ios/pubspec.yaml
Labels: autosubmit, p: image_picker, platform-android, platform-ios

#5601 [pigeon] Adds @CanIgnoreReturnValue annotation
  packages/pigeon/CHANGELOG.md
  packages/pigeon/example/app/android/app/src/main/java/io/flutter/plugins/Messages.java
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/lib/java_generator.dart
  packages/pigeon/platform_tests/alternate_language_test_plugin/android/src/main/java/com/example/alternate_language_test_plugin/CoreTests.java
  packages/pigeon/pubspec.yaml
  packages/pigeon/test/java_generator_test.dart
Labels: p: pigeon, autosubmit, platform-android

#5376 [url_launcher] Simplify Linux implementation
  packages/url_launcher/url_launcher_linux/CHANGELOG.md
  packages/url_launcher/url_launcher_linux/lib/url_launcher_linux.dart
  packages/url_launcher/url_launcher_linux/linux/test/url_launcher_linux_test.cc
  packages/url_launcher/url_launcher_linux/linux/url_launcher_plugin.cc
  packages/url_launcher/url_launcher_linux/pubspec.yaml
  packages/url_launcher/url_launcher_linux/test/url_launcher_linux_test.dart
Labels: autosubmit, platform-linux, p: url_launcher

#5359 [url_launcher] Return false on Windows when there is no handler
  packages/url_launcher/url_launcher_windows/CHANGELOG.md
  packages/url_launcher/url_launcher_windows/lib/src/messages.g.dart
  packages/url_launcher/url_launcher_windows/lib/url_launcher_windows.dart
  packages/url_launcher/url_launcher_windows/pigeons/messages.dart
  packages/url_launcher/url_launcher_windows/pubspec.yaml
  packages/url_launcher/url_launcher_windows/test/url_launcher_windows_test.dart
  packages/url_launcher/url_launcher_windows/windows/messages.g.cpp
  packages/url_launcher/url_launcher_windows/windows/messages.g.h
  packages/url_launcher/url_launcher_windows/windows/test/url_launcher_windows_test.cpp
  packages/url_launcher/url_launcher_windows/windows/url_launcher_plugin.cpp
  packages/url_launcher/url_launcher_windows/windows/url_launcher_plugin.h
Labels: autosubmit, platform-windows, p: url_launcher

#5665 Roll Flutter from 97190973d6f5 to 11a9cb7029d7 (32 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#5658 [camera, camera_android] Re-enable passing integration tests
  packages/camera/camera/example/integration_test/camera_test.dart
  packages/camera/camera_android/example/integration_test/camera_test.dart
Labels: autosubmit, p: camera, platform-android

#5454 [webview_flutter] Support for handling basic authentication requests (Android)
  packages/webview_flutter/webview_flutter_android/CHANGELOG.md
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/GeneratedAndroidWebView.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/HttpAuthHandlerFlutterApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/HttpAuthHandlerHostApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebViewClientFlutterApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebViewClientHostApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebViewFlutterPlugin.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/HttpAuthHandlerTest.java
  packages/webview_flutter/webview_flutter_android/example/integration_test/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter_android/example/lib/main.dart
  packages/webview_flutter/webview_flutter_android/example/pubspec.yaml
  packages/webview_flutter/webview_flutter_android/lib/src/android_proxy.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview.g.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview_api_impls.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview_controller.dart
  packages/webview_flutter/webview_flutter_android/pigeons/android_webview.dart
  packages/webview_flutter/webview_flutter_android/pubspec.yaml
  packages/webview_flutter/webview_flutter_android/test/android_navigation_delegate_test.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_controller_test.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_controller_test.mocks.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_cookie_manager_test.mocks.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_test.mocks.dart
  packages/webview_flutter/webview_flutter_android/test/legacy/webview_android_cookie_manager_test.mocks.dart
  packages/webview_flutter/webview_flutter_android/test/legacy/webview_android_widget_test.mocks.dart
  packages/webview_flutter/webview_flutter_android/test/test_android_webview.g.dart
Labels: autosubmit, platform-android, p: webview_flutter

#5478 [css_colors] Adopt code excerpts in README
  packages/css_colors/CHANGELOG.md
  packages/css_colors/README.md
  packages/css_colors/pubspec.yaml
  packages/css_colors/test/css_colors_test.dart
  script/configs/temp_exclude_excerpt.yaml
Labels: p: css_colors, autosubmit

#5521 [google_sign_in] Adopt code excerpts in README
  packages/google_sign_in/google_sign_in/CHANGELOG.md
  packages/google_sign_in/google_sign_in/README.md
  packages/google_sign_in/google_sign_in/example/lib/main.dart
  packages/google_sign_in/google_sign_in/pubspec.yaml
  script/configs/temp_exclude_excerpt.yaml
Labels: autosubmit, p: google_sign_in

#5660 [google_sign_in_web] Stop relying on framework internals.
  packages/google_sign_in/google_sign_in_web/CHANGELOG.md
  packages/google_sign_in/google_sign_in_web/example/integration_test/flexible_size_html_element_view_test.dart
  packages/google_sign_in/google_sign_in_web/lib/google_sign_in_web.dart
  packages/google_sign_in/google_sign_in_web/lib/src/flexible_size_html_element_view.dart
  packages/google_sign_in/google_sign_in_web/pubspec.yaml
Labels: autosubmit, p: google_sign_in, platform-web

#5628 [path_provider] De-flake getExternalStorageDirectories test
  packages/path_provider/path_provider/example/integration_test/path_provider_test.dart
  packages/path_provider/path_provider_android/example/integration_test/path_provider_test.dart
Labels: autosubmit, p: path_provider, platform-android

#5634 [google_sign_in] Update (web) example app.
  packages/google_identity_services_web/CHANGELOG.md
  packages/google_identity_services_web/lib/src/js_interop/shared.dart
  packages/google_identity_services_web/pubspec.yaml
  packages/google_sign_in/google_sign_in/example/lib/src/sign_in_button/web.dart
  packages/google_sign_in/google_sign_in/example/pubspec.yaml
  packages/google_sign_in/google_sign_in/example/web/index.html
Labels: autosubmit, override: no changelog needed, p: google_sign_in, platform-web

#5567 [tool] Add support for `.java`, `.gradle`, `.sh`, and `.m` files…
  script/tool/lib/src/update_excerpts_command.dart
  script/tool/test/update_excerpts_command_test.dart
Labels: autosubmit

#5669 [ci][web] Ignore always_specify_types for JSArray.
  packages/file_selector/file_selector_web/example/integration_test/dom_helper_test.dart
  packages/google_identity_services_web/example/integration_test/js_interop_id_test.dart
  packages/google_identity_services_web/lib/src/js_interop/google_accounts_id.dart
  packages/google_sign_in/google_sign_in_web/lib/src/flexible_size_html_element_view.dart
Labels: autosubmit, p: file_selector, p: google_sign_in, platform-web

#5671 [two_dimensional_scrollables] Post 3.16 stable tech debt clean up
  packages/two_dimensional_scrollables/dart_test.yaml
  packages/two_dimensional_scrollables/lib/src/table_view/table_delegate.dart
  packages/two_dimensional_scrollables/test/table_view/goldens/reversed.pinned.painting.png
  packages/two_dimensional_scrollables/test/table_view/goldens/single-reversed.pinned.painting.png
  packages/two_dimensional_scrollables/test/table_view/goldens/tableSpanDecoration.defaultMainAxis.png
  packages/two_dimensional_scrollables/test/table_view/goldens/tableSpanDecoration.horizontalMainAxis.png
  packages/two_dimensional_scrollables/test/table_view/table_test.dart
Labels: autosubmit, override: no versioning needed, override: no changelog needed, p: two_dimensional_scrollables

#5680 Roll Flutter from 11a9cb7029d7 to a51e33ac76e4 (30 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#4949 [camera] Fix typo "intialize" in doc comments
  packages/camera/camera_android/test/android_camera_test.dart
  packages/camera/camera_avfoundation/test/avfoundation_camera_test.dart
Labels: autosubmit, p: camera, platform-android

#5682 [ios_platform_images] Adopt code-excerpts
  packages/ios_platform_images/CHANGELOG.md
  packages/ios_platform_images/README.md
  packages/ios_platform_images/example/lib/main.dart
  packages/ios_platform_images/pubspec.yaml
  script/configs/temp_exclude_excerpt.yaml
Labels: autosubmit, p: ios_platform_images

#5570 [go_router] fix(docs): typo in example extra_codec.dart
  packages/go_router/example/lib/extra_codec.dart
  packages/go_router/example/test/extra_codec_test.dart
Labels: p: go_router, autosubmit, override: no versioning needed, override: no changelog needed

#5668 [path_provider_android] Re-enable getExternalStorageDirectories test
  packages/path_provider/path_provider_android/example/integration_test/path_provider_test.dart
Labels: autosubmit, p: path_provider, platform-android

#5593 [camera_platform_interface] Adds support for setting the image file format
  packages/camera/camera_platform_interface/AUTHORS
  packages/camera/camera_platform_interface/CHANGELOG.md
  packages/camera/camera_platform_interface/lib/src/method_channel/method_channel_camera.dart
  packages/camera/camera_platform_interface/lib/src/platform_interface/camera_platform.dart
  packages/camera/camera_platform_interface/lib/src/types/image_file_format.dart
  packages/camera/camera_platform_interface/lib/src/types/types.dart
  packages/camera/camera_platform_interface/pubspec.yaml
  packages/camera/camera_platform_interface/test/events/camera_event_test.dart
  packages/camera/camera_platform_interface/test/method_channel/method_channel_camera_test.dart
Labels: autosubmit, p: camera, federated: partial_changes

#5411 [in_app_purchase_storekit]add storekit configuration to the example app
  packages/in_app_purchase/in_app_purchase_storekit/example/ios/Runner.xcodeproj/project.pbxproj
  packages/in_app_purchase/in_app_purchase_storekit/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/in_app_purchase/in_app_purchase_storekit/example/ios/Runner/Configuration.storekit
Labels: autosubmit, override: no versioning needed, override: no changelog needed, p: in_app_purchase, platform-ios

#5667 Swap some iOS package CODEOWNERS
  CODEOWNERS
Labels: autosubmit

#5685 [google_sign_in_ios] Move pigeon as a dev dependency
  packages/google_sign_in/google_sign_in_ios/CHANGELOG.md
  packages/google_sign_in/google_sign_in_ios/pubspec.yaml
Labels: autosubmit, p: google_sign_in, platform-ios

#5691 Roll Flutter from a51e33ac76e4 to 2407f699e935 (30 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#5496 [extension_google_sign_in_as_googleapis_auth] Adopt code excerpts in …
  packages/extension_google_sign_in_as_googleapis_auth/CHANGELOG.md
  packages/extension_google_sign_in_as_googleapis_auth/README.md
  packages/extension_google_sign_in_as_googleapis_auth/example/lib/main.dart
  packages/extension_google_sign_in_as_googleapis_auth/pubspec.yaml
  script/configs/temp_exclude_excerpt.yaml
Labels: p: extension_google_sign_in_as_googleapis_auth, autosubmit

#5692 Manual roll Flutter (stable) from b0366e0a3f08 to 2e9cb0aa71a3 (4 revisions)
  .ci/flutter_stable.version
Labels: autosubmit

#5689 Remove flutter api named and optional parameters
  packages/pigeon/CHANGELOG.md
  packages/pigeon/lib/ast.dart
  packages/pigeon/lib/dart_generator.dart
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/lib/pigeon_lib.dart
  packages/pigeon/pubspec.yaml
  packages/pigeon/test/dart_generator_test.dart
  packages/pigeon/test/pigeon_lib_test.dart
Labels: p: pigeon, autosubmit

#5715 Roll Flutter from 2407f699e935 to cdc83e5ebae4 (28 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#5722 Roll Flutter from cdc83e5ebae4 to 0eb788134051 (17 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#5455 [webview_flutter] Support for handling basic authentication requests (iOS)
  packages/webview_flutter/webview_flutter_wkwebview/CHANGELOG.md
  packages/webview_flutter/webview_flutter_wkwebview/example/integration_test/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/Runner.xcodeproj/project.pbxproj
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/RunnerTests/FWFNavigationDelegateHostApiTests.m
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/RunnerTests/FWFURLAuthenticationChallengeHostApiTests.m
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/RunnerTests/FWFURLCredentialHostApiTests.m
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/RunnerTests/FWFURLProtectionSpaceHostApiTests.m
  packages/webview_flutter/webview_flutter_wkwebview/example/lib/main.dart
  packages/webview_flutter/webview_flutter_wkwebview/example/pubspec.yaml
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FLTWebViewFlutterPlugin.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFDataConverters.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFDataConverters.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFGeneratedWebKitApis.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFGeneratedWebKitApis.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFNavigationDelegateHostApi.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFURLAuthenticationChallengeHostApi.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFURLAuthenticationChallengeHostApi.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFURLCredentialHostApi.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFURLCredentialHostApi.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFURLProtectionSpaceHostApi.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFURLProtectionSpaceHostApi.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/webview-umbrella.h
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/common/web_kit.g.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/foundation/foundation.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/foundation/foundation_api_impls.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/web_kit/web_kit.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/web_kit/web_kit_api_impls.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/webkit_proxy.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/webkit_webview_controller.dart
  packages/webview_flutter/webview_flutter_wkwebview/pigeons/web_kit.dart
  packages/webview_flutter/webview_flutter_wkwebview/pubspec.yaml
  packages/webview_flutter/webview_flutter_wkwebview/test/src/common/test_web_kit.g.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/foundation/foundation_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/foundation/foundation_test.mocks.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit/web_kit_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/webkit_navigation_delegate_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/webkit_webview_controller_test.dart
Labels: autosubmit, platform-ios, p: webview_flutter

#5670 [webview_flutter] Implement platform interface for JavaScript dialog
  packages/webview_flutter/webview_flutter_platform_interface/CHANGELOG.md
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/platform_webview_controller.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/types/javascript_dialog_request.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/types/types.dart
  packages/webview_flutter/webview_flutter_platform_interface/pubspec.yaml
  packages/webview_flutter/webview_flutter_platform_interface/test/platform_webview_controller_test.dart
Labels: autosubmit, p: webview_flutter

#5729 Roll Flutter from 0eb788134051 to da0cd69659c5 (15 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#5724 Remove workarounds for `check_podspecs` needed for older version of Cocoapods
  script/tool/lib/src/podspec_check_command.dart
  script/tool/test/podspec_check_command_test.dart
Labels: autosubmit

#5732 Roll Flutter from da0cd69659c5 to 11def8eff455 (16 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#5734 Roll Flutter (stable) from 2e9cb0aa71a3 to 78666c8dc57e (1 revision)
  .ci/flutter_stable.version
Labels: autosubmit

#5730 Add env_variables in ci.yaml
  .ci.yaml
Labels: autosubmit

#5497 [go_router] Refactored RouteMatchList and imperative APIs
  packages/go_router/CHANGELOG.md
  packages/go_router/README.md
  packages/go_router/doc/navigation.md
  packages/go_router/example/lib/push_with_shell_route.dart
  packages/go_router/example/test/push_with_shell_route_test.dart
  packages/go_router/lib/src/builder.dart
  packages/go_router/lib/src/configuration.dart
  packages/go_router/lib/src/delegate.dart
  packages/go_router/lib/src/match.dart
  packages/go_router/lib/src/pages/cupertino.dart
  packages/go_router/lib/src/pages/material.dart
  packages/go_router/lib/src/parser.dart
  packages/go_router/lib/src/route.dart
  packages/go_router/pubspec.yaml
  packages/go_router/test/builder_test.dart
  packages/go_router/test/delegate_test.dart
  packages/go_router/test/go_router_test.dart
  packages/go_router/test/imperative_api_test.dart
  packages/go_router/test/inherited_test.dart
  packages/go_router/test/match_test.dart
  packages/go_router/test/matching_test.dart
  packages/go_router/test/parser_test.dart
  packages/go_router/test/test_helpers.dart
Labels: p: go_router, autosubmit

#5735 Disable `presubmit: false` targets for recipes CQ
  .ci.yaml
Labels: autosubmit
