Repository flutter/packages, pull requests merged in 2023-08, with the labels that each got.

#4621 Manual roll Flutter from 1d44fbd8b906 to 1d59196bafdb (18 revisions)
  .ci/flutter_master.version
Labels: warning: land on red to fix tree breakage, autosubmit

#4629 [google_maps_flutter_android] Disable flaky `testToggleInfo` test
  packages/google_maps_flutter/google_maps_flutter_android/example/integration_test/google_maps_tests.dart
Labels: warning: land on red to fix tree breakage, autosubmit, p: google_maps_flutter, platform-android

#4627 [go_router_builder] Support `ShellRouteData` without `const` constructor
  packages/go_router_builder/CHANGELOG.md
  packages/go_router_builder/lib/src/route_config.dart
  packages/go_router_builder/pubspec.yaml
  packages/go_router_builder/test_inputs/shell_route_data.dart
  packages/go_router_builder/test_inputs/shell_route_data.dart.expect
  packages/go_router_builder/test_inputs/shell_route_data_without_unnamed_constructor.dart
  packages/go_router_builder/test_inputs/shell_route_data_without_unnamed_constructor.dart.expect
Labels: p: go_router_builder, autosubmit

#4634 Roll Flutter from 1d59196bafdb to b3f99ffe610a (32 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#4567 [Tooling] Add google owned cache for dependencies as an option in ci
  packages/camera/camera_android_camerax/example/android/build.gradle
  packages/camera/camera_android_camerax/example/android/settings.gradle
Labels: autosubmit, override: no changelog needed, p: camera, platform-android

#4238 [go_router_builder] Add go_router StatefulShellRoute support to go_router_builder
  packages/go_router_builder/CHANGELOG.md
  packages/go_router_builder/README.md
  packages/go_router_builder/example/lib/shell_route_with_keys_example.g.dart
  packages/go_router_builder/example/lib/stateful_shell_route_example.dart
  packages/go_router_builder/example/lib/stateful_shell_route_example.g.dart
  packages/go_router_builder/example/pubspec.yaml
  packages/go_router_builder/example/test/stateful_shell_route_test.dart
  packages/go_router_builder/lib/src/go_router_generator.dart
  packages/go_router_builder/lib/src/route_config.dart
  packages/go_router_builder/pubspec.yaml
Labels: p: go_router_builder, autosubmit

#4558 [various] Removed references to deprecated `TestWindow` APIs
  packages/dynamic_layouts/example/test/staggered_example_test.dart
  packages/dynamic_layouts/test/staggered_layout_test.dart
  packages/dynamic_layouts/test/wrap_layout_test.dart
  packages/google_maps_flutter/google_maps_flutter/example/integration_test/src/maps_controller.dart
  packages/google_maps_flutter/google_maps_flutter_android/example/integration_test/google_maps_tests.dart
  packages/google_sign_in/google_sign_in/test/widgets_test.dart
Labels: autosubmit, p: dynamic_layouts, p: google_maps_flutter, p: google_sign_in, platform-android

#4619 [path_provider] Add getApplicationCachePath() - implementations
  packages/path_provider/path_provider_android/CHANGELOG.md
  packages/path_provider/path_provider_android/android/src/main/java/io/flutter/plugins/pathprovider/Messages.java
  packages/path_provider/path_provider_android/android/src/main/java/io/flutter/plugins/pathprovider/PathProviderPlugin.java
  packages/path_provider/path_provider_android/example/integration_test/path_provider_test.dart
  packages/path_provider/path_provider_android/example/lib/main.dart
  packages/path_provider/path_provider_android/example/pubspec.yaml
  packages/path_provider/path_provider_android/lib/messages.g.dart
  packages/path_provider/path_provider_android/lib/path_provider_android.dart
  packages/path_provider/path_provider_android/pigeons/messages.dart
  packages/path_provider/path_provider_android/pubspec.yaml
  packages/path_provider/path_provider_android/test/messages_test.g.dart
  packages/path_provider/path_provider_android/test/path_provider_android_test.dart
  packages/path_provider/path_provider_foundation/CHANGELOG.md
  packages/path_provider/path_provider_foundation/darwin/Classes/PathProviderPlugin.swift
  packages/path_provider/path_provider_foundation/darwin/Classes/messages.g.swift
  packages/path_provider/path_provider_foundation/example/integration_test/path_provider_test.dart
  packages/path_provider/path_provider_foundation/example/lib/main.dart
  packages/path_provider/path_provider_foundation/example/pubspec.yaml
  packages/path_provider/path_provider_foundation/lib/messages.g.dart
  packages/path_provider/path_provider_foundation/lib/path_provider_foundation.dart
  packages/path_provider/path_provider_foundation/pigeons/messages.dart
  packages/path_provider/path_provider_foundation/pubspec.yaml
  packages/path_provider/path_provider_foundation/test/path_provider_foundation_test.dart
  packages/path_provider/path_provider_linux/CHANGELOG.md
  packages/path_provider/path_provider_linux/example/integration_test/path_provider_test.dart
  packages/path_provider/path_provider_linux/example/lib/main.dart
  packages/path_provider/path_provider_linux/lib/src/path_provider_linux.dart
  packages/path_provider/path_provider_linux/pubspec.yaml
  packages/path_provider/path_provider_linux/test/path_provider_linux_test.dart
  packages/path_provider/path_provider_windows/CHANGELOG.md
  packages/path_provider/path_provider_windows/example/integration_test/path_provider_test.dart
  packages/path_provider/path_provider_windows/example/lib/main.dart
  packages/path_provider/path_provider_windows/lib/src/path_provider_windows_real.dart
  packages/path_provider/path_provider_windows/pubspec.yaml
  packages/path_provider/path_provider_windows/test/path_provider_windows_test.dart
Labels: autosubmit, p: path_provider, platform-android, platform-linux, platform-windows

#4640 Roll Flutter from b3f99ffe610a to c00d241938b1 (12 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#4641 [pigeon] Consolidate main Dart unit tests
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/.gitignore
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/.metadata
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/README.md
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/.gitignore
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/core_tests.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/pubspec.yaml
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/.gitignore
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/background_platform_channels.gen.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/enum.gen.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/flutter_unittests.gen.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/message.gen.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/multiple_arity.gen.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/non_null_fields.gen.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/null_fields.gen.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/nullable_returns.gen.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/primitive.gen.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/pubspec.yaml
  packages/pigeon/platform_tests/shared_test_plugin_code/regenerate_mocks.sh
  packages/pigeon/platform_tests/shared_test_plugin_code/test/multiple_arity_test.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/test/multiple_arity_test.mocks.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/test/non_null_fields_test.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/test/null_fields_test.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/test/null_safe_test.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/test/null_safe_test.mocks.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/test/primitive_test.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/test/primitive_test.mocks.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/test/test_util.dart
  packages/pigeon/tool/run_tests.dart
  packages/pigeon/tool/shared/generation.dart
  packages/pigeon/tool/shared/test_suites.dart
Labels: p: pigeon, autosubmit, override: no changelog needed

#4643 [in_app_purchase] Updates handling of subscription price changes in README.
  packages/in_app_purchase/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase/README.md
  packages/in_app_purchase/in_app_purchase/pubspec.yaml
Labels: autosubmit, p: in_app_purchase

#4453 [image_picker_web] Listens to file input cancel event.
  packages/image_picker/image_picker_for_web/CHANGELOG.md
  packages/image_picker/image_picker_for_web/README.md
  packages/image_picker/image_picker_for_web/example/integration_test/image_picker_for_web_test.dart
  packages/image_picker/image_picker_for_web/lib/image_picker_for_web.dart
  packages/image_picker/image_picker_for_web/pubspec.yaml
Labels: autosubmit, p: image_picker, platform-web

#4646 Roll Flutter from c00d241938b1 to 2ba9f7bdfe16 (25 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#4584 [camera_web] Adopt code excerpts in README
  packages/camera/camera_web/CHANGELOG.md
  packages/camera/camera_web/README.md
  packages/camera/camera_web/example/lib/readme_excerpts.dart
  packages/camera/camera_web/example/pubspec.yaml
  packages/camera/camera_web/pubspec.yaml
  script/configs/temp_exclude_excerpt.yaml
Labels: autosubmit, p: camera, platform-web

#4642 [pigeon] Consolidate mock handler tests
  packages/pigeon/CHANGELOG.md
  packages/pigeon/lib/dart_generator.dart
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/lib/pigeon_lib.dart
  packages/pigeon/mock_handler_tester/.gitignore
  packages/pigeon/mock_handler_tester/.metadata
  packages/pigeon/mock_handler_tester/README.md
  packages/pigeon/mock_handler_tester/lib/main.dart
  packages/pigeon/mock_handler_tester/pubspec.yaml
  packages/pigeon/mock_handler_tester/test/message.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/test/genered_dart_test_code_test.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/test/test_message.gen.dart
  packages/pigeon/pubspec.yaml
  packages/pigeon/test/dart_generator_test.dart
  packages/pigeon/tool/run_tests.dart
  packages/pigeon/tool/shared/test_suites.dart
  packages/pigeon/tool/test.dart
Labels: p: pigeon, autosubmit

#4651 Update to not backfill the ci.yaml roller task.
  .ci.yaml
Labels: autosubmit

#4649 [ci] Remove tools from Dockerfile
  .ci/Dockerfile
Labels: autosubmit

#4647 [tool] Skip pathified analysis on resolver errors
  .ci/scripts/analyze_pathified.sh
  script/tool/lib/src/analyze_command.dart
  script/tool/test/analyze_command_test.dart
Labels: autosubmit

#4659 Roll Flutter from 2ba9f7bdfe16 to ad0aa8de7512 (31 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#4656 [flutter_markdown] Adopt code excerpts in README
  packages/flutter_markdown/CHANGELOG.md
  packages/flutter_markdown/README.md
  packages/flutter_markdown/example/lib/readme_excerpts.dart
  packages/flutter_markdown/pubspec.yaml
  script/configs/temp_exclude_excerpt.yaml
Labels: p: flutter_markdown, autosubmit

#4483 [path_provider] Add getApplicationCachePath()
  packages/path_provider/path_provider/CHANGELOG.md
  packages/path_provider/path_provider/README.md
  packages/path_provider/path_provider/example/integration_test/path_provider_test.dart
  packages/path_provider/path_provider/example/lib/main.dart
  packages/path_provider/path_provider/example/pubspec.yaml
  packages/path_provider/path_provider/lib/path_provider.dart
  packages/path_provider/path_provider/pubspec.yaml
Labels: autosubmit, p: path_provider

#4458 [pigeon] Recursively create output target files
  packages/pigeon/CHANGELOG.md
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/lib/pigeon_lib.dart
  packages/pigeon/pubspec.yaml
  packages/pigeon/tool/shared/test_suites.dart
Labels: p: pigeon, autosubmit

#4554 [xdg_directories] Add example app
  packages/xdg_directories/CHANGELOG.md
  packages/xdg_directories/example/.gitignore
  packages/xdg_directories/example/.pluginToolsConfig.yaml
  packages/xdg_directories/example/README.md
  packages/xdg_directories/example/integration_test/xdg_directories_test.dart
  packages/xdg_directories/example/lib/main.dart
  packages/xdg_directories/example/linux/.gitignore
  packages/xdg_directories/example/linux/CMakeLists.txt
  packages/xdg_directories/example/linux/flutter/CMakeLists.txt
  packages/xdg_directories/example/linux/flutter/generated_plugins.cmake
  packages/xdg_directories/example/linux/main.cc
  packages/xdg_directories/example/linux/my_application.cc
  packages/xdg_directories/example/linux/my_application.h
  packages/xdg_directories/example/pubspec.yaml
  packages/xdg_directories/example/test_driver/integration_test.dart
  packages/xdg_directories/pubspec.yaml
Labels: p: xdg_directories, autosubmit, platform-linux

#4662 [webview_flutter_wkwebview] Repeatedly pump WebViews until one is garbage collected
  packages/webview_flutter/webview_flutter_wkwebview/example/integration_test/webview_flutter_test.dart
Labels: autosubmit, platform-ios, p: webview_flutter

#4663 Roll Flutter from ad0aa8de7512 to 436df69a4684 (17 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#4540 Migrating styleFrom API to new version.
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/example/lib/main.dart
  packages/camera/camera/pubspec.yaml
  packages/camera/camera_android/CHANGELOG.md
  packages/camera/camera_android/example/lib/main.dart
  packages/camera/camera_android/pubspec.yaml
  packages/camera/camera_android_camerax/CHANGELOG.md
  packages/camera/camera_android_camerax/example/lib/main.dart
  packages/camera/camera_android_camerax/pubspec.yaml
  packages/camera/camera_avfoundation/CHANGELOG.md
  packages/camera/camera_avfoundation/example/lib/main.dart
  packages/camera/camera_avfoundation/pubspec.yaml
  packages/file_selector/file_selector/CHANGELOG.md
  packages/file_selector/file_selector/example/lib/get_directory_page.dart
  packages/file_selector/file_selector/example/lib/get_multiple_directories_page.dart
  packages/file_selector/file_selector/example/lib/home_page.dart
  packages/file_selector/file_selector/example/lib/open_image_page.dart
  packages/file_selector/file_selector/example/lib/open_multiple_images_page.dart
  packages/file_selector/file_selector/example/lib/open_text_page.dart
  packages/file_selector/file_selector/example/lib/save_text_page.dart
  packages/file_selector/file_selector_ios/CHANGELOG.md
  packages/file_selector/file_selector_ios/example/lib/home_page.dart
  packages/file_selector/file_selector_ios/example/lib/open_image_page.dart
  packages/file_selector/file_selector_ios/example/lib/open_multiple_images_page.dart
  packages/file_selector/file_selector_ios/example/lib/open_text_page.dart
  packages/file_selector/file_selector_linux/CHANGELOG.md
  packages/file_selector/file_selector_linux/example/lib/get_directory_page.dart
  packages/file_selector/file_selector_linux/example/lib/get_multiple_directories_page.dart
  packages/file_selector/file_selector_linux/example/lib/home_page.dart
  packages/file_selector/file_selector_linux/example/lib/open_image_page.dart
  packages/file_selector/file_selector_linux/example/lib/open_multiple_images_page.dart
  packages/file_selector/file_selector_linux/example/lib/open_text_page.dart
  packages/file_selector/file_selector_linux/example/lib/save_text_page.dart
  packages/file_selector/file_selector_macos/CHANGELOG.md
  packages/file_selector/file_selector_macos/example/lib/get_directory_page.dart
  packages/file_selector/file_selector_macos/example/lib/home_page.dart
  packages/file_selector/file_selector_macos/example/lib/open_image_page.dart
  packages/file_selector/file_selector_macos/example/lib/open_multiple_images_page.dart
  packages/file_selector/file_selector_macos/example/lib/open_text_page.dart
  packages/file_selector/file_selector_macos/example/lib/save_text_page.dart
  packages/file_selector/file_selector_windows/CHANGELOG.md
  packages/file_selector/file_selector_windows/example/lib/get_directory_page.dart
  packages/file_selector/file_selector_windows/example/lib/home_page.dart
  packages/file_selector/file_selector_windows/example/lib/open_image_page.dart
  packages/file_selector/file_selector_windows/example/lib/open_multiple_images_page.dart
  packages/file_selector/file_selector_windows/example/lib/open_text_page.dart
  packages/file_selector/file_selector_windows/example/lib/save_text_page.dart
  packages/in_app_purchase/in_app_purchase_android/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_android/example/lib/main.dart
  packages/in_app_purchase/in_app_purchase_android/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_storekit/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_storekit/example/lib/main.dart
  packages/in_app_purchase/in_app_purchase_storekit/pubspec.yaml
Labels: warning: land on red to fix tree breakage, autosubmit, p: camera, p: file_selector, p: in_app_purchase, platform-android, platform-ios, platform-linux, platform-macos, platform-windows

#4660 [url_launcher] Android API 34 support
  packages/url_launcher/url_launcher_android/CHANGELOG.md
  packages/url_launcher/url_launcher_android/android/build.gradle
  packages/url_launcher/url_launcher_android/android/src/main/java/io/flutter/plugins/urllauncher/WebViewActivity.java
  packages/url_launcher/url_launcher_android/example/integration_test/url_launcher_test.dart
  packages/url_launcher/url_launcher_android/pubspec.yaml
Labels: autosubmit, platform-android, p: url_launcher

#4666 Roll Flutter from 436df69a4684 to f4c25bbb351c (28 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#4667 [webview_flutter_android][webview_flutter_wkwebview] Fixes widget rebuild bug caused by key type
  packages/webview_flutter/webview_flutter_android/CHANGELOG.md
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview_controller.dart
  packages/webview_flutter/webview_flutter_android/pubspec.yaml
  packages/webview_flutter/webview_flutter_android/test/android_webview_controller_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/CHANGELOG.md
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/webkit_webview_controller.dart
  packages/webview_flutter/webview_flutter_wkwebview/pubspec.yaml
  packages/webview_flutter/webview_flutter_wkwebview/test/webkit_webview_widget_test.dart
Labels: autosubmit, platform-android, platform-ios, p: webview_flutter

#4636 go_router should allow setting requestFocus
  packages/go_router/CHANGELOG.md
  packages/go_router/lib/src/builder.dart
  packages/go_router/lib/src/delegate.dart
  packages/go_router/lib/src/router.dart
  packages/go_router/pubspec.yaml
  packages/go_router/test/request_focus.dart
  packages/go_router/test/test_helpers.dart
Labels: p: go_router, autosubmit

#4677 [dynamic_layouts] relax layout test to fix tree
  .ci/flutter_master.version
  packages/dynamic_layouts/example/test/wrap_example_test.dart
Labels: autosubmit, p: dynamic_layouts

#4682 [pigeon] skipGen
  packages/pigeon/tool/shared/test_runner.dart
  packages/pigeon/tool/test.dart
Labels: p: pigeon, autosubmit

#4668 [shared_preferences] Update iOS/macOS Pigeon
  packages/shared_preferences/shared_preferences_foundation/CHANGELOG.md
  packages/shared_preferences/shared_preferences_foundation/darwin/Classes/messages.g.swift
  packages/shared_preferences/shared_preferences_foundation/lib/messages.g.dart
  packages/shared_preferences/shared_preferences_foundation/pubspec.yaml
  packages/shared_preferences/shared_preferences_foundation/test/test_api.g.dart
Labels: autosubmit, p: shared_preferences

#4681 [dynamic_layouts] Refactor flaky test
  packages/dynamic_layouts/example/lib/wrap_layout_example.dart
  packages/dynamic_layouts/example/test/wrap_example_test.dart
Labels: autosubmit, p: dynamic_layouts

#4679 [google_maps_flutter] removed old overrides
  packages/google_maps_flutter/google_maps_flutter_android/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_android/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapController.java
  packages/google_maps_flutter/google_maps_flutter_android/pubspec.yaml
Labels: autosubmit, p: google_maps_flutter, platform-android

#4691 [file_selector] Fix default accept types on iOS
  packages/file_selector/file_selector_ios/CHANGELOG.md
  packages/file_selector/file_selector_ios/example/lib/home_page.dart
  packages/file_selector/file_selector_ios/example/lib/main.dart
  packages/file_selector/file_selector_ios/example/lib/open_any_page.dart
  packages/file_selector/file_selector_ios/lib/file_selector_ios.dart
  packages/file_selector/file_selector_ios/pubspec.yaml
  packages/file_selector/file_selector_ios/test/file_selector_ios_test.dart
Labels: autosubmit, p: file_selector, platform-ios

#4620 [camerax] Wrap classes to implement resolution configuration for video capture
  packages/camera/camera_android_camerax/CHANGELOG.md
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/CameraAndroidCameraxPlugin.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/FallbackStrategyHostApiImpl.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/GeneratedCameraXLibrary.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/QualitySelectorHostApiImpl.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/RecorderHostApiImpl.java
  packages/camera/camera_android_camerax/android/src/test/java/io/flutter/plugins/camerax/FallbackStrategyTest.java
  packages/camera/camera_android_camerax/android/src/test/java/io/flutter/plugins/camerax/QualitySelectorTest.java
  packages/camera/camera_android_camerax/android/src/test/java/io/flutter/plugins/camerax/RecorderTest.java
  packages/camera/camera_android_camerax/lib/src/camerax_library.g.dart
  packages/camera/camera_android_camerax/lib/src/fallback_strategy.dart
  packages/camera/camera_android_camerax/lib/src/quality_selector.dart
  packages/camera/camera_android_camerax/lib/src/recorder.dart
  packages/camera/camera_android_camerax/pigeons/camerax_library.dart
  packages/camera/camera_android_camerax/pubspec.yaml
  packages/camera/camera_android_camerax/test/fallback_strategy_test.dart
  packages/camera/camera_android_camerax/test/fallback_strategy_test.mocks.dart
  packages/camera/camera_android_camerax/test/quality_selector_test.dart
  packages/camera/camera_android_camerax/test/quality_selector_test.mocks.dart
  packages/camera/camera_android_camerax/test/recorder_test.dart
  packages/camera/camera_android_camerax/test/recorder_test.mocks.dart
  packages/camera/camera_android_camerax/test/test_camerax_library.g.dart
Labels: autosubmit, p: camera, platform-android

#4563 [webview_flutter_platform_interface] Adds support for retrieving user agent
  packages/webview_flutter/webview_flutter_platform_interface/CHANGELOG.md
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/platform_webview_controller.dart
  packages/webview_flutter/webview_flutter_platform_interface/pubspec.yaml
  packages/webview_flutter/webview_flutter_platform_interface/test/platform_webview_controller_test.dart
Labels: autosubmit, federated: partial_changes

#4716 [camerax] Explicitly remove READ_EXTERNAL_STORAGE permission
  packages/camera/camera_android_camerax/CHANGELOG.md
  packages/camera/camera_android_camerax/android/src/main/AndroidManifest.xml
  packages/camera/camera_android_camerax/pubspec.yaml
Labels: autosubmit, p: camera, platform-android

#4707 [pigeon] Fix typo in README.md
  packages/pigeon/README.md
Labels: p: pigeon, autosubmit, override: no versioning needed, override: no changelog needed

#4720 Update palette_generator_test.dart
  packages/palette_generator/test/palette_generator_test.dart
Labels: p: palette_generator, autosubmit

#4719 Manual roll Flutter from 9b6945b465a1 to f0e7c5181641 (63 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#4722 Roll Flutter from f0e7c5181641 to 2502b51f86c1 (15 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#4698 Add advice on code review for this repo
  CONTRIBUTING.md
Labels: autosubmit

#4730 Update stable version to efbf63d9c66b9f6ec30e9ad4611189aa80003d31
  .ci/flutter_stable.version
Labels: autosubmit

#4729 [google_maps_flutter] Fix async handling in examples
  packages/google_maps_flutter/google_maps_flutter_android/example/android/secrets.properties
  packages/google_maps_flutter/google_maps_flutter_android/example/lib/example_google_map.dart
  packages/google_maps_flutter/google_maps_flutter_android/example/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_android/example/test/example_google_map_test.dart
  packages/google_maps_flutter/google_maps_flutter_android/example/test/fake_google_maps_flutter_platform.dart
  packages/google_maps_flutter/google_maps_flutter_ios/example/shared/maps_example_dart/lib/example_google_map.dart
  packages/google_maps_flutter/google_maps_flutter_ios/example/shared/maps_example_dart/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_ios/example/shared/maps_example_dart/test/example_google_map_test.dart
  packages/google_maps_flutter/google_maps_flutter_ios/example/shared/maps_example_dart/test/fake_google_maps_flutter_platform.dart
Labels: autosubmit, override: no changelog needed, p: google_maps_flutter, platform-android, platform-ios

#4745 Update release action Flutter version to 3.13.0
  .github/workflows/release.yml
Labels: autosubmit

#4749 Roll Flutter from 5a556f8ecde6 to 6f227c078430 (11 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#4635 [camera_android]: Fixes crash when record video on Android versions lower than 12
  packages/camera/camera_android/CHANGELOG.md
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/Camera.java
  packages/camera/camera_android/pubspec.yaml
Labels: autosubmit, p: camera, platform-android

#4751 Roll Flutter from 6f227c078430 to 5e6d88d766b9 (8 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#4754 Roll Flutter from 5e6d88d766b9 to 54c98d7433c5 (24 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#4725 Remove deprecated `ImageProvider` methods
  packages/flutter_image/CHANGELOG.md
  packages/flutter_image/lib/network.dart
  packages/flutter_image/pubspec.yaml
  packages/flutter_image/test/network_test.dart
Labels: p: flutter_image, autosubmit

#4661 [flutter_adaptive_scaffold] Fix top padding for NavigationBar
  packages/flutter_adaptive_scaffold/AUTHORS
  packages/flutter_adaptive_scaffold/CHANGELOG.md
  packages/flutter_adaptive_scaffold/lib/src/adaptive_scaffold.dart
  packages/flutter_adaptive_scaffold/pubspec.yaml
  packages/flutter_adaptive_scaffold/test/simulated_layout.dart
Labels: autosubmit, p: flutter_adaptive_scaffold

#4727 [webview_flutter] Update sample code.
  packages/webview_flutter/webview_flutter/CHANGELOG.md
  packages/webview_flutter/webview_flutter/lib/src/webview_controller.dart
  packages/webview_flutter/webview_flutter/pubspec.yaml
Labels: autosubmit, p: webview_flutter

#4650 [rfw] Support web (as JS)
  packages/rfw/CHANGELOG.md
  packages/rfw/dart_test.yaml
  packages/rfw/lib/src/dart/binary.dart
  packages/rfw/pubspec.yaml
  packages/rfw/test/argument_decoders_test.dart
  packages/rfw/test/binary_test.dart
  packages/rfw/test/material_widgets_test.dart
  packages/rfw/test/text_test.dart
  packages/rfw/test/utils.dart
Labels: p: rfw, autosubmit

#4761 [image_picker] Fix exception when canceling `pickMultipleMedia` on iOS
  packages/image_picker/image_picker_ios/CHANGELOG.md
  packages/image_picker/image_picker_ios/example/ios/RunnerTests/ImagePickerPluginTests.m
  packages/image_picker/image_picker_ios/ios/Classes/FLTImagePickerPlugin.m
  packages/image_picker/image_picker_ios/lib/image_picker_ios.dart
  packages/image_picker/image_picker_ios/lib/src/messages.g.dart
  packages/image_picker/image_picker_ios/pigeons/messages.dart
  packages/image_picker/image_picker_ios/pubspec.yaml
  packages/image_picker/image_picker_ios/test/image_picker_ios_test.dart
  packages/image_picker/image_picker_ios/test/test_api.g.dart
Labels: autosubmit, p: image_picker, platform-ios

#4638 [google_maps_flutter] cloud-based map styling implementation
  packages/google_maps_flutter/google_maps_flutter/example/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_android/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_android/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapBuilder.java
  packages/google_maps_flutter/google_maps_flutter_android/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapFactory.java
  packages/google_maps_flutter/google_maps_flutter_android/example/integration_test/google_maps_tests.dart
  packages/google_maps_flutter/google_maps_flutter_android/example/lib/example_google_map.dart
  packages/google_maps_flutter/google_maps_flutter_android/example/lib/main.dart
  packages/google_maps_flutter/google_maps_flutter_android/example/lib/map_map_id.dart
  packages/google_maps_flutter/google_maps_flutter_android/example/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_android/lib/src/google_maps_flutter_android.dart
  packages/google_maps_flutter/google_maps_flutter_android/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_android/test/google_maps_flutter_android_test.dart
  packages/google_maps_flutter/google_maps_flutter_ios/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios11/integration_test/google_maps_test.dart
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios11/lib/main.dart
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios11/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios12/lib/main.dart
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios12/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios13/lib/main.dart
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios13/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_ios/example/shared/maps_example_dart/lib/example_google_map.dart
  packages/google_maps_flutter/google_maps_flutter_ios/example/shared/maps_example_dart/lib/map_map_id.dart
  packages/google_maps_flutter/google_maps_flutter_ios/example/shared/maps_example_dart/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_ios/ios/Classes/GoogleMapController.m
  packages/google_maps_flutter/google_maps_flutter_ios/lib/src/google_maps_flutter_ios.dart
  packages/google_maps_flutter/google_maps_flutter_ios/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_ios/test/google_maps_flutter_ios_test.dart
  packages/google_maps_flutter/google_maps_flutter_web/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_web/example/integration_test/google_maps_controller_test.dart
  packages/google_maps_flutter/google_maps_flutter_web/example/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/convert.dart
  packages/google_maps_flutter/google_maps_flutter_web/pubspec.yaml
Labels: autosubmit, p: google_maps_flutter, platform-android, platform-ios, platform-web

#4766 Roll Flutter from bd836cc63ae0 to deeb811ef0bb (17 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#4767 Roll Flutter (stable) from efbf63d9c66b to e1e47221e862 (3 revisions)
  .ci/flutter_stable.version
Labels: autosubmit

#4537 [css_colors] docs: Update deprecated link address
  packages/css_colors/CHANGELOG.md
  packages/css_colors/README.md
  packages/css_colors/pubspec.yaml
Labels: p: css_colors, autosubmit

#4774 Roll Flutter from deeb811ef0bb to 61d9f5566559 (25 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#4776 Roll Flutter from 61d9f5566559 to 229b74d98772 (13 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#4777 Roll Flutter from 229b74d98772 to cd3aeef3a826 (4 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#4580 [pigeon] primitive enums
  packages/pigeon/.gitignore
  packages/pigeon/CHANGELOG.md
  packages/pigeon/README.md
  packages/pigeon/example/app/android/app/src/main/java/io/flutter/plugins/Messages.java
  packages/pigeon/example/app/ios/Runner/Messages.g.swift
  packages/pigeon/example/app/macos/Runner/messages.g.h
  packages/pigeon/example/app/macos/Runner/messages.g.m
  packages/pigeon/lib/cpp_generator.dart
  packages/pigeon/lib/dart_generator.dart
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/lib/java_generator.dart
  packages/pigeon/lib/kotlin_generator.dart
  packages/pigeon/lib/objc_generator.dart
  packages/pigeon/lib/pigeon_lib.dart
  packages/pigeon/lib/swift_generator.dart
  packages/pigeon/pigeons/core_tests.dart
  packages/pigeon/pigeons/enum.dart
  packages/pigeon/platform_tests/alternate_language_test_plugin/android/src/main/java/com/example/alternate_language_test_plugin/AlternateLanguageTestPlugin.java
  packages/pigeon/platform_tests/alternate_language_test_plugin/android/src/main/java/com/example/alternate_language_test_plugin/CoreTests.java
  packages/pigeon/platform_tests/alternate_language_test_plugin/example/ios/RunnerTests/EnumTest.m
  packages/pigeon/platform_tests/alternate_language_test_plugin/example/ios/RunnerTests/NullFieldsTest.m
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/AlternateLanguageTestPlugin.m
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/CoreTests.gen.h
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/CoreTests.gen.m
  packages/pigeon/platform_tests/alternate_language_test_plugin/macos/Classes/AlternateLanguageTestPlugin.m
  packages/pigeon/platform_tests/alternate_language_test_plugin/macos/Classes/CoreTests.gen.h
  packages/pigeon/platform_tests/alternate_language_test_plugin/macos/Classes/CoreTests.gen.m
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/integration_tests.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/core_tests.gen.dart
  packages/pigeon/platform_tests/test_plugin/android/src/main/kotlin/com/example/test_plugin/CoreTests.gen.kt
  packages/pigeon/platform_tests/test_plugin/android/src/main/kotlin/com/example/test_plugin/TestPlugin.kt
  packages/pigeon/platform_tests/test_plugin/android/src/test/kotlin/com/example/test_plugin/AllDatatypesTest.kt
  packages/pigeon/platform_tests/test_plugin/example/ios/RunnerTests/AllDatatypesTests.swift
  packages/pigeon/platform_tests/test_plugin/ios/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/ios/Classes/TestPlugin.swift
  packages/pigeon/platform_tests/test_plugin/macos/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/macos/Classes/TestPlugin.swift
  packages/pigeon/platform_tests/test_plugin/windows/pigeon/core_tests.gen.cpp
  packages/pigeon/platform_tests/test_plugin/windows/pigeon/core_tests.gen.h
  packages/pigeon/platform_tests/test_plugin/windows/test_plugin.cpp
  packages/pigeon/platform_tests/test_plugin/windows/test_plugin.h
  packages/pigeon/pubspec.yaml
  packages/pigeon/test/dart_generator_test.dart
  packages/pigeon/test/objc_generator_test.dart
  packages/pigeon/test/pigeon_lib_test.dart
  packages/pigeon/test/swift_generator_test.dart
  packages/pigeon/tool/shared/generation.dart
  packages/pigeon/tool/shared/test_runner.dart
  packages/pigeon/tool/test.dart
Labels: p: pigeon, autosubmit, platform-android, platform-ios, platform-macos, platform-windows

#4763 Fix popping repeated pages unexpectedly
  packages/go_router/CHANGELOG.md
  packages/go_router/lib/src/builder.dart
  packages/go_router/pubspec.yaml
  packages/go_router/test/go_router_test.dart
Labels: p: go_router

#4807 Roll Flutter from cd3aeef3a826 to ec387a467a68 (15 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#4800 Fixed AlertDialog Height of example in image_picker
  packages/image_picker/image_picker/example/lib/main.dart
Labels: autosubmit, override: no versioning needed, override: no changelog needed, p: image_picker

#4813 Roll Flutter from ec387a467a68 to 6c95737375db (24 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#4814 [two_dimensional_scrollables] Fix repaint boundary override in builder delegate
  packages/two_dimensional_scrollables/CHANGELOG.md
  packages/two_dimensional_scrollables/lib/src/table_view/table_delegate.dart
  packages/two_dimensional_scrollables/pubspec.yaml
  packages/two_dimensional_scrollables/test/table_view/table_delegate_test.dart
  packages/two_dimensional_scrollables/test/table_view/table_test.dart
Labels: autosubmit, p: two_dimensional_scrollables

#4817 Roll Flutter from 6c95737375db to 1fe24956ac46 (24 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#4775 [image_picker] Fix link in README file.
  packages/image_picker/image_picker/CHANGELOG.md
  packages/image_picker/image_picker/README.md
  packages/image_picker/image_picker/pubspec.yaml
Labels: autosubmit, p: image_picker

#4809 [local_auth] Update to pigeon 11 and remove enum wrappers
  packages/local_auth/local_auth_android/CHANGELOG.md
  packages/local_auth/local_auth_android/android/src/main/java/io/flutter/plugins/localauth/LocalAuthPlugin.java
  packages/local_auth/local_auth_android/android/src/main/java/io/flutter/plugins/localauth/Messages.java
  packages/local_auth/local_auth_android/android/src/test/java/io/flutter/plugins/localauth/LocalAuthTest.java
  packages/local_auth/local_auth_android/lib/local_auth_android.dart
  packages/local_auth/local_auth_android/lib/src/messages.g.dart
  packages/local_auth/local_auth_android/pigeons/messages.dart
  packages/local_auth/local_auth_android/pubspec.yaml
  packages/local_auth/local_auth_android/test/local_auth_test.dart
  packages/local_auth/local_auth_android/test/local_auth_test.mocks.dart
Labels: autosubmit, p: local_auth, platform-android

#4818 [in_app_purchase] Minor lint cleanup
  packages/in_app_purchase/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase/example/lib/main.dart
  packages/in_app_purchase/in_app_purchase/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_android/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_android/example/lib/main.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/in_app_purchase_android_platform_addition.dart
  packages/in_app_purchase/in_app_purchase_android/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_platform_interface/test/in_app_purchase_platform_test.dart
  packages/in_app_purchase/in_app_purchase_storekit/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_storekit/example/lib/main.dart
  packages/in_app_purchase/in_app_purchase_storekit/lib/src/in_app_purchase_storekit_platform_addition.dart
  packages/in_app_purchase/in_app_purchase_storekit/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_storekit/test/fakes/fake_storekit_platform.dart
Labels: autosubmit, p: in_app_purchase, platform-android, platform-ios

#4708 [path_provider] Fix93198: Added getDownloadsDirectory() for Android
  packages/path_provider/path_provider_android/CHANGELOG.md
  packages/path_provider/path_provider_android/example/lib/main.dart
  packages/path_provider/path_provider_android/lib/path_provider_android.dart
  packages/path_provider/path_provider_android/pubspec.yaml
  packages/path_provider/path_provider_android/test/path_provider_android_test.dart
Labels: autosubmit, p: path_provider, platform-android

#4825 Roll Flutter from 1fe24956ac46 to c175cf87a6a3 (30 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#4823 Roll Flutter (stable) from e1e47221e862 to ff5b5b5fa6f3 (1 revision)
  .ci/flutter_stable.version
Labels: autosubmit

#4821 [webview_flutter] update pigeon to 11
  packages/local_auth/local_auth_ios/pigeons/messages.dart
  packages/webview_flutter/webview_flutter_android/CHANGELOG.md
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/FileChooserParamsFlutterApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/GeneratedAndroidWebView.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/FileChooserParamsTest.java
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview.g.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview_api_impls.dart
  packages/webview_flutter/webview_flutter_android/pigeons/android_webview.dart
  packages/webview_flutter/webview_flutter_android/pubspec.yaml
  packages/webview_flutter/webview_flutter_android/test/android_webview_test.dart
  packages/webview_flutter/webview_flutter_android/test/test_android_webview.g.dart
Labels: autosubmit, p: local_auth, platform-android, platform-ios, p: webview_flutter

#4739 [url_launcher_android] Add support for Custom Tabs
  packages/url_launcher/url_launcher/CHANGELOG.md
  packages/url_launcher/url_launcher/example/lib/main.dart
  packages/url_launcher/url_launcher/lib/src/types.dart
  packages/url_launcher/url_launcher/pubspec.yaml
  packages/url_launcher/url_launcher_android/CHANGELOG.md
  packages/url_launcher/url_launcher_android/android/build.gradle
  packages/url_launcher/url_launcher_android/android/src/main/java/io/flutter/plugins/urllauncher/UrlLauncher.java
  packages/url_launcher/url_launcher_android/android/src/test/java/io/flutter/plugins/urllauncher/UrlLauncherTest.java
  packages/url_launcher/url_launcher_android/example/lib/main.dart
  packages/url_launcher/url_launcher_android/pubspec.yaml
  packages/url_launcher/url_launcher_platform_interface/CHANGELOG.md
  packages/url_launcher/url_launcher_platform_interface/lib/src/types.dart
  packages/url_launcher/url_launcher_platform_interface/pubspec.yaml
Labels: autosubmit, platform-android, p: url_launcher

#4822 [ci] Convert version presubmit check to LUCI
  .ci/Dockerfile
  .ci/scripts/check_version.sh
  .ci/targets/repo_checks.yaml
  .cirrus.yml
Labels: autosubmit

#3682 [google_maps_flutter] Cloud-based map styling support
  packages/google_maps_flutter/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter/README.md
  packages/google_maps_flutter/google_maps_flutter/example/integration_test/src/maps_controller.dart
  packages/google_maps_flutter/google_maps_flutter/example/integration_test/src/shared.dart
  packages/google_maps_flutter/google_maps_flutter/example/ios/Podfile
  packages/google_maps_flutter/google_maps_flutter/example/lib/main.dart
  packages/google_maps_flutter/google_maps_flutter/example/lib/map_map_id.dart
  packages/google_maps_flutter/google_maps_flutter/example/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter/lib/src/google_map.dart
  packages/google_maps_flutter/google_maps_flutter/pubspec.yaml
Labels: autosubmit, p: google_maps_flutter, platform-ios
