Repository flutter/packages, pull requests merged in 2023-06, with the labels that each got.

#4121 [camerax] Mock `InstanceManager` in unit tests
  packages/camera/camera_android_camerax/test/analyzer_test.dart
  packages/camera/camera_android_camerax/test/android_camera_camerax_test.dart
  packages/camera/camera_android_camerax/test/camera_state_error_test.dart
  packages/camera/camera_android_camerax/test/camera_state_test.dart
  packages/camera/camera_android_camerax/test/image_analysis_test.dart
  packages/camera/camera_android_camerax/test/image_capture_test.dart
  packages/camera/camera_android_camerax/test/image_capture_test.mocks.dart
  packages/camera/camera_android_camerax/test/image_proxy_test.dart
  packages/camera/camera_android_camerax/test/live_data_test.dart
  packages/camera/camera_android_camerax/test/observer_test.dart
  packages/camera/camera_android_camerax/test/plane_proxy_test.dart
  packages/camera/camera_android_camerax/test/zoom_state_test.dart
Labels: autosubmit, p: camera

#4128 [many] Bump most robolectric dependencies to version 4.10.3
  packages/camera/camera_android_camerax/android/build.gradle
  packages/google_maps_flutter/google_maps_flutter_android/android/build.gradle
  packages/image_picker/image_picker_android/android/build.gradle
  packages/local_auth/local_auth_android/android/build.gradle
  packages/url_launcher/url_launcher_android/android/build.gradle
  packages/video_player/video_player/example/android/app/build.gradle
  packages/video_player/video_player_android/android/build.gradle
  packages/video_player/video_player_android/example/android/app/build.gradle
Labels: autosubmit, p: camera, p: google_maps_flutter, p: image_picker, p: local_auth, platform-android, p: video_player, p: url_launcher

#4098 Roll Flutter from ee162e4b7f4f to 3db9504dcda2 (31 revisions)
  .ci/flutter_master.version
Labels: warning: land on red to fix tree breakage, autosubmit

#4133 Roll Flutter (stable) from 9cd3d0d9ff05 to f92f44110e87 (4 revisions)
  .ci/flutter_stable.version
Labels: warning: land on red to fix tree breakage, autosubmit

#4135 Roll Flutter from 3db9504dcda2 to 0b7415356e07 (108 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#4125 [path_provider] Allow win32 up to version 5.x
  packages/path_provider/path_provider_windows/CHANGELOG.md
  packages/path_provider/path_provider_windows/pubspec.yaml
Labels: autosubmit, p: path_provider, platform-windows

#4070 [webview_flutter]: fix typo
  packages/webview_flutter/webview_flutter/CHANGELOG.md
  packages/webview_flutter/webview_flutter/lib/src/webview_controller.dart
  packages/webview_flutter/webview_flutter/pubspec.yaml
Labels: autosubmit, p: webview_flutter

#4129 [ci] Removes bespoke web scripts.
  packages/camera/camera_web/example/run_test.sh
  packages/file_selector/file_selector_web/example/run_test.sh
  packages/google_maps_flutter/google_maps_flutter/example/run_test.sh
  packages/google_maps_flutter/google_maps_flutter_web/example/regen_mocks.sh
  packages/google_maps_flutter/google_maps_flutter_web/example/run_test.sh
  packages/google_sign_in/google_sign_in/regen_mocks.sh
  packages/google_sign_in/google_sign_in_web/example/regen_mocks.sh
  packages/google_sign_in/google_sign_in_web/example/run_test.sh
  packages/image_picker/image_picker_for_web/example/run_test.sh
  packages/shared_preferences/shared_preferences_web/example/run_test.sh
  packages/url_launcher/url_launcher_web/example/run_test.sh
  packages/video_player/video_player_web/example/run_test.sh
  packages/webview_flutter/webview_flutter_web/example/run_test.sh
Labels: autosubmit, override: no versioning needed, override: no changelog needed, p: camera, p: file_selector, p: google_maps_flutter, p: google_sign_in, p: image_picker, platform-web, p: webview_flutter, p: video_player, p: url_launcher, p: shared_preferences

#4124 [google_maps] Endorses package:google_maps_flutter_web.
  packages/google_maps_flutter/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter/README.md
  packages/google_maps_flutter/google_maps_flutter/example/web/favicon.png
  packages/google_maps_flutter/google_maps_flutter/example/web/icons/Icon-192.png
  packages/google_maps_flutter/google_maps_flutter/example/web/icons/Icon-512.png
  packages/google_maps_flutter/google_maps_flutter/example/web/icons/Icon-maskable-192.png
  packages/google_maps_flutter/google_maps_flutter/example/web/icons/Icon-maskable-512.png
  packages/google_maps_flutter/google_maps_flutter/example/web/index.html
  packages/google_maps_flutter/google_maps_flutter/example/web/manifest.json
  packages/google_maps_flutter/google_maps_flutter/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_web/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_web/README.md
  packages/google_maps_flutter/google_maps_flutter_web/example/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_web/pubspec.yaml
Labels: autosubmit, p: google_maps_flutter, platform-web

#4142 [local_auth_android] Bump androidx.fragment to 1.5.7 and androidx.core to 1.10.1
  packages/local_auth/local_auth_android/CHANGELOG.md
  packages/local_auth/local_auth_android/android/build.gradle
  packages/local_auth/local_auth_android/example/android/app/build.gradle
  packages/local_auth/local_auth_android/pubspec.yaml
Labels: needs tests, autosubmit, p: local_auth, platform-android

#4136 remove unnecessary typed_data imports
  packages/camera/camera/lib/src/camera_image.dart
  packages/camera/camera/test/camera_image_test.dart
  packages/camera/camera_android/lib/src/type_conversion.dart
  packages/camera/camera_android/test/type_conversion_test.dart
  packages/camera/camera_android_camerax/example/lib/camera_image.dart
  packages/camera/camera_avfoundation/lib/src/type_conversion.dart
  packages/camera/camera_avfoundation/test/type_conversion_test.dart
  packages/camera/camera_platform_interface/lib/src/method_channel/type_conversion.dart
  packages/camera/camera_platform_interface/lib/src/types/camera_image_data.dart
  packages/camera/camera_platform_interface/test/method_channel/type_conversion_test.dart
  packages/camera/camera_platform_interface/test/types/camera_image_data_test.dart
  packages/file_selector/file_selector/example/lib/readme_standalone_excerpts.dart
  packages/file_selector/file_selector/example/lib/save_text_page.dart
  packages/flutter_image/lib/network.dart
  packages/google_maps_flutter/google_maps_flutter/lib/google_maps_flutter.dart
  packages/google_maps_flutter/google_maps_flutter/test/map_creation_test.dart
  packages/google_maps_flutter/google_maps_flutter_android/example/lib/example_google_map.dart
  packages/google_maps_flutter/google_maps_flutter_android/lib/src/google_maps_flutter_android.dart
  packages/google_maps_flutter/google_maps_flutter_ios/example/shared/maps_example_dart/lib/example_google_map.dart
  packages/google_maps_flutter/google_maps_flutter_ios/lib/src/google_maps_flutter_ios.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/method_channel/method_channel_google_maps_flutter.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/platform_interface/google_maps_flutter_platform.dart
  packages/palette_generator/lib/palette_generator.dart
  packages/palette_generator/test/palette_generator_test.dart
  packages/video_player/video_player/example/integration_test/video_player_test.dart
  packages/webview_flutter/webview_flutter/example/integration_test/legacy/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter/example/integration_test/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter/lib/src/webview_controller.dart
  packages/webview_flutter/webview_flutter_android/example/integration_test/legacy/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter_android/example/integration_test/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview_controller.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_controller_test.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/types/load_request_params.dart
  packages/webview_flutter/webview_flutter_web/test/web_webview_controller_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/example/integration_test/legacy/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/example/integration_test/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/foundation/foundation.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/webkit_webview_controller_test.dart
Labels: p: palette_generator, p: flutter_image, autosubmit, override: no versioning needed, override: no changelog needed, p: camera, p: file_selector, p: google_maps_flutter, platform-android, platform-ios, platform-web, p: webview_flutter, p: video_player

#4152 [ci] Exclude maps unit tests on Windows
  packages/local_auth/local_auth/example/android/app/build.gradle
  script/configs/windows_unit_tests_exceptions.yaml
Labels: autosubmit, p: local_auth, platform-android

#4157 Roll Flutter (stable) from f92f44110e87 to 682aa387cfe4 (1 revision)
  .ci/flutter_stable.version
Labels: autosubmit

#4127 [pigeon] Require analyzer 5.13.0, prepare for NamedType refactoring.
  packages/pigeon/CHANGELOG.md
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/lib/pigeon_lib.dart
  packages/pigeon/pubspec.yaml
Labels: p: pigeon, needs tests, autosubmit

#4160 Roll Flutter from 0b7415356e07 to 8a5c22e282db (46 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#4039 [go_router_builder] Accept required parameters not in path
  packages/go_router_builder/CHANGELOG.md
  packages/go_router_builder/README.md
  packages/go_router_builder/lib/src/route_config.dart
  packages/go_router_builder/lib/src/type_helpers.dart
  packages/go_router_builder/pubspec.yaml
  packages/go_router_builder/test/builder_test.dart
  packages/go_router_builder/test/test_inputs/_go_router_builder_test_input.dart
Labels: p: go_router_builder, autosubmit

#4147 [various] Add `http` 1.0 compatibility
  packages/extension_google_sign_in_as_googleapis_auth/CHANGELOG.md
  packages/extension_google_sign_in_as_googleapis_auth/pubspec.yaml
  packages/file_selector/file_selector_platform_interface/CHANGELOG.md
  packages/file_selector/file_selector_platform_interface/pubspec.yaml
  packages/google_identity_services_web/example/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_web/example/pubspec.yaml
  packages/google_sign_in/google_sign_in/CHANGELOG.md
  packages/google_sign_in/google_sign_in/example/pubspec.yaml
  packages/google_sign_in/google_sign_in/pubspec.yaml
  packages/google_sign_in/google_sign_in_android/example/pubspec.yaml
  packages/google_sign_in/google_sign_in_ios/example/pubspec.yaml
  packages/google_sign_in/google_sign_in_web/CHANGELOG.md
  packages/google_sign_in/google_sign_in_web/example/pubspec.yaml
  packages/google_sign_in/google_sign_in_web/pubspec.yaml
  packages/image_picker/image_picker_platform_interface/CHANGELOG.md
  packages/image_picker/image_picker_platform_interface/pubspec.yaml
  packages/metrics_center/CHANGELOG.md
  packages/metrics_center/pubspec.yaml
  script/tool/pubspec.yaml
Labels: p: extension_google_sign_in_as_googleapis_auth, p: metrics_center, autosubmit, p: file_selector, p: google_maps_flutter, p: google_sign_in, p: image_picker, platform-android, platform-ios, platform-web

#4134 [go_router] Refactors imperative APIs and browser history
  packages/go_router/CHANGELOG.md
  packages/go_router/README.md
  packages/go_router/lib/src/builder.dart
  packages/go_router/lib/src/configuration.dart
  packages/go_router/lib/src/delegate.dart
  packages/go_router/lib/src/information_provider.dart
  packages/go_router/lib/src/match.dart
  packages/go_router/lib/src/matching.dart
  packages/go_router/lib/src/misc/errors.dart
  packages/go_router/lib/src/parser.dart
  packages/go_router/lib/src/redirection.dart
  packages/go_router/lib/src/route.dart
  packages/go_router/lib/src/router.dart
  packages/go_router/lib/src/state.dart
  packages/go_router/pubspec.yaml
  packages/go_router/test/builder_test.dart
  packages/go_router/test/configuration_test.dart
  packages/go_router/test/delegate_test.dart
  packages/go_router/test/go_router_test.dart
  packages/go_router/test/information_provider_test.dart
  packages/go_router/test/match_test.dart
  packages/go_router/test/matching_test.dart
  packages/go_router/test/parser_test.dart
  packages/go_router/test/test_helpers.dart
Labels: p: go_router, autosubmit

#4159 [shared_preferences] Fix initialization race
  packages/shared_preferences/shared_preferences/CHANGELOG.md
  packages/shared_preferences/shared_preferences/lib/shared_preferences.dart
  packages/shared_preferences/shared_preferences/pubspec.yaml
  packages/shared_preferences/shared_preferences/test/shared_preferences_test.dart
Labels: autosubmit, p: shared_preferences

#4162 [in_app_purchase] Make the _FeatureCard constructor const in the Android example app
  packages/in_app_purchase/in_app_purchase_android/example/lib/main.dart
Labels: needs tests, autosubmit, override: no versioning needed, override: no changelog needed, p: in_app_purchase, platform-android

#4153 [tool] Only run unit tests in Chrome for inline web
  packages/video_player/video_player/test/video_player_test.dart
  script/configs/windows_unit_tests_exceptions.yaml
  script/tool/lib/src/test_command.dart
  script/tool/test/test_command_test.dart
Labels: autosubmit, p: video_player

#4154 Fix stale ignore: prefer_const_constructors from flutter/packages
  packages/flutter_adaptive_scaffold/CHANGELOG.md
  packages/flutter_adaptive_scaffold/example/lib/main.dart
  packages/flutter_adaptive_scaffold/example/pubspec.yaml
  packages/flutter_adaptive_scaffold/pubspec.yaml
  packages/flutter_markdown/CHANGELOG.md
  packages/flutter_markdown/pubspec.yaml
  packages/flutter_markdown/test/list_test.dart
  packages/flutter_markdown/test/markdown_body_shrink_wrap_test.dart
  packages/google_maps_flutter/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter/example/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter/test/map_creation_test.dart
  packages/local_auth/local_auth/CHANGELOG.md
  packages/local_auth/local_auth/example/lib/main.dart
  packages/local_auth/local_auth/example/pubspec.yaml
  packages/local_auth/local_auth/pubspec.yaml
  packages/local_auth/local_auth_android/CHANGELOG.md
  packages/local_auth/local_auth_android/example/lib/main.dart
  packages/local_auth/local_auth_android/example/pubspec.yaml
  packages/local_auth/local_auth_android/pubspec.yaml
  packages/local_auth/local_auth_ios/CHANGELOG.md
  packages/local_auth/local_auth_ios/example/lib/main.dart
  packages/local_auth/local_auth_ios/example/pubspec.yaml
  packages/local_auth/local_auth_ios/pubspec.yaml
  packages/local_auth/local_auth_windows/CHANGELOG.md
  packages/local_auth/local_auth_windows/example/lib/main.dart
  packages/local_auth/local_auth_windows/example/pubspec.yaml
  packages/local_auth/local_auth_windows/pubspec.yaml
  packages/rfw/CHANGELOG.md
  packages/rfw/example/remote/lib/main.dart
  packages/rfw/example/remote/pubspec.yaml
  packages/rfw/pubspec.yaml
  packages/url_launcher/url_launcher/CHANGELOG.md
  packages/url_launcher/url_launcher/example/lib/encoding.dart
  packages/url_launcher/url_launcher/example/pubspec.yaml
  packages/url_launcher/url_launcher/pubspec.yaml
Labels: p: flutter_markdown, p: rfw, autosubmit, override: no versioning needed, p: flutter_adaptive_scaffold, p: google_maps_flutter, p: local_auth, platform-android, platform-ios, platform-windows, p: url_launcher

#4166 [webview_flutter] Explicitly disable ATS in example apps
  packages/webview_flutter/webview_flutter/example/ios/Runner/Info.plist
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/Runner/Info.plist
Labels: needs tests, autosubmit, override: no changelog needed, platform-ios, p: webview_flutter

#3994 [go_router] Update link to example for query and path parameters
  packages/go_router/CHANGELOG.md
  packages/go_router/lib/src/route.dart
  packages/go_router/pubspec.yaml
Labels: p: go_router, autosubmit

#4161 [image_picker] Add desktop support - platform interface
  packages/image_picker/image_picker_platform_interface/CHANGELOG.md
  packages/image_picker/image_picker_platform_interface/lib/src/platform_interface/image_picker_platform.dart
  packages/image_picker/image_picker_platform_interface/lib/src/types/camera_delegate.dart
  packages/image_picker/image_picker_platform_interface/lib/src/types/types.dart
  packages/image_picker/image_picker_platform_interface/pubspec.yaml
  packages/image_picker/image_picker_platform_interface/test/image_picker_platform_test.dart
  packages/image_picker/image_picker_platform_interface/test/method_channel_image_picker_test.dart
Labels: autosubmit, p: image_picker

#4163 [go_router_builder] Include required and positional query parameters in the location
  packages/go_router_builder/CHANGELOG.md
  packages/go_router_builder/lib/src/route_config.dart
  packages/go_router_builder/pubspec.yaml
  packages/go_router_builder/test/test_inputs/_go_router_builder_test_input.dart
Labels: needs tests, p: go_router_builder, autosubmit

#4170 Roll Flutter from 6e254a3f9fb7 to da127f15ad54 (28 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#4174 [image_picker] getMedia platform changes
  packages/image_picker/image_picker_platform_interface/CHANGELOG.md
  packages/image_picker/image_picker_platform_interface/lib/src/method_channel/method_channel_image_picker.dart
  packages/image_picker/image_picker_platform_interface/lib/src/platform_interface/image_picker_platform.dart
  packages/image_picker/image_picker_platform_interface/lib/src/types/image_options.dart
  packages/image_picker/image_picker_platform_interface/lib/src/types/image_picker_options.dart
  packages/image_picker/image_picker_platform_interface/lib/src/types/lost_data_response.dart
  packages/image_picker/image_picker_platform_interface/lib/src/types/media_options.dart
  packages/image_picker/image_picker_platform_interface/lib/src/types/media_selection_type.dart
  packages/image_picker/image_picker_platform_interface/lib/src/types/retrieve_type.dart
  packages/image_picker/image_picker_platform_interface/lib/src/types/types.dart
  packages/image_picker/image_picker_platform_interface/pubspec.yaml
  packages/image_picker/image_picker_platform_interface/test/method_channel_image_picker_test.dart
Labels: autosubmit, p: image_picker

#4183 Roll Flutter from da127f15ad54 to 3df163ff081e (25 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#4177 [go_router] Fixes a bug in `debugLogDiagnostics` to support StatefulShellRoute
  packages/go_router/CHANGELOG.md
  packages/go_router/lib/src/configuration.dart
  packages/go_router/pubspec.yaml
  packages/go_router/test/configuration_test.dart
Labels: p: go_router, autosubmit

#4199 [tool] Allow running from anywhere
  script/tool/CHANGELOG.md
  script/tool/LICENSE
  script/tool/README.md
  script/tool/lib/src/common/package_command.dart
  script/tool/lib/src/main.dart
  script/tool/pubspec.yaml
  script/tool/test/common/package_command_test.dart
Labels: autosubmit

#4208 [tool] Support running main.dart
  script/tool/lib/src/main.dart
Labels: needs tests

#4206 Roll Flutter from 353b8bc87d29 to 09b7e5615761 (17 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#4213 Roll Flutter (stable) from 682aa387cfe4 to 796c8ef79279 (5 revisions)
  .ci/flutter_stable.version
Labels: autosubmit

#4214 Manual roll Flutter from 09b7e5615761 to 95be76ab7e3d (14 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#4204 [flutter_adaptive_scaffold] Support RTL
  packages/flutter_adaptive_scaffold/CHANGELOG.md
  packages/flutter_adaptive_scaffold/README.md
  packages/flutter_adaptive_scaffold/example/lib/adaptive_layout_demo.dart
  packages/flutter_adaptive_scaffold/example/lib/main.dart
  packages/flutter_adaptive_scaffold/lib/src/adaptive_scaffold.dart
  packages/flutter_adaptive_scaffold/pubspec.yaml
  packages/flutter_adaptive_scaffold/test/adaptive_layout_test.dart
  packages/flutter_adaptive_scaffold/test/adaptive_scaffold_test.dart
Labels: autosubmit, p: flutter_adaptive_scaffold

#4215 [pigeon] Enable Obj-C integration tests in CI
  packages/pigeon/tool/run_tests.dart
Labels: p: pigeon, autosubmit

#4209 Ignore `textScaleFactor` deprecation
  packages/flutter_markdown/lib/src/_functions_io.dart
  packages/flutter_markdown/lib/src/_functions_web.dart
  packages/flutter_markdown/lib/src/builder.dart
  packages/flutter_markdown/test/text_scale_factor_test.dart
  packages/rfw/lib/src/flutter/core_widgets.dart
Labels: p: flutter_markdown, p: rfw, autosubmit, override: no versioning needed, override: no changelog needed

#4175 [image_picker] getMedia platform implementations
  packages/image_picker/image_picker_android/CHANGELOG.md
  packages/image_picker/image_picker_android/android/src/main/java/io/flutter/plugins/imagepicker/ImagePickerDelegate.java
  packages/image_picker/image_picker_android/android/src/main/java/io/flutter/plugins/imagepicker/ImagePickerPlugin.java
  packages/image_picker/image_picker_android/android/src/main/java/io/flutter/plugins/imagepicker/Messages.java
  packages/image_picker/image_picker_android/android/src/test/java/io/flutter/plugins/imagepicker/ImagePickerDelegateTest.java
  packages/image_picker/image_picker_android/android/src/test/java/io/flutter/plugins/imagepicker/ImagePickerPluginTest.java
  packages/image_picker/image_picker_android/example/lib/main.dart
  packages/image_picker/image_picker_android/example/pubspec.yaml
  packages/image_picker/image_picker_android/lib/image_picker_android.dart
  packages/image_picker/image_picker_android/lib/src/messages.g.dart
  packages/image_picker/image_picker_android/pigeons/messages.dart
  packages/image_picker/image_picker_android/pubspec.yaml
  packages/image_picker/image_picker_android/test/image_picker_android_test.dart
  packages/image_picker/image_picker_android/test/test_api.g.dart
  packages/image_picker/image_picker_for_web/CHANGELOG.md
  packages/image_picker/image_picker_for_web/example/integration_test/image_picker_for_web_test.dart
  packages/image_picker/image_picker_for_web/example/pubspec.yaml
  packages/image_picker/image_picker_for_web/lib/image_picker_for_web.dart
  packages/image_picker/image_picker_for_web/pubspec.yaml
  packages/image_picker/image_picker_ios/CHANGELOG.md
  packages/image_picker/image_picker_ios/example/ios/RunnerTests/ImagePickerPluginTests.m
  packages/image_picker/image_picker_ios/example/lib/main.dart
  packages/image_picker/image_picker_ios/example/pubspec.yaml
  packages/image_picker/image_picker_ios/ios/Classes/FLTImagePickerPhotoAssetUtil.h
  packages/image_picker/image_picker_ios/ios/Classes/FLTImagePickerPhotoAssetUtil.m
  packages/image_picker/image_picker_ios/ios/Classes/FLTImagePickerPlugin.m
  packages/image_picker/image_picker_ios/ios/Classes/FLTImagePickerPlugin_Test.h
  packages/image_picker/image_picker_ios/ios/Classes/FLTPHPickerSaveImageToPathOperation.m
  packages/image_picker/image_picker_ios/ios/Classes/messages.g.h
  packages/image_picker/image_picker_ios/ios/Classes/messages.g.m
  packages/image_picker/image_picker_ios/lib/image_picker_ios.dart
  packages/image_picker/image_picker_ios/lib/src/messages.g.dart
  packages/image_picker/image_picker_ios/pigeons/messages.dart
  packages/image_picker/image_picker_ios/pubspec.yaml
  packages/image_picker/image_picker_ios/test/image_picker_ios_test.dart
  packages/image_picker/image_picker_ios/test/test_api.g.dart
  packages/image_picker/image_picker_linux/CHANGELOG.md
  packages/image_picker/image_picker_linux/example/lib/main.dart
  packages/image_picker/image_picker_linux/example/pubspec.yaml
  packages/image_picker/image_picker_linux/lib/image_picker_linux.dart
  packages/image_picker/image_picker_linux/pubspec.yaml
  packages/image_picker/image_picker_linux/test/image_picker_linux_test.dart
  packages/image_picker/image_picker_macos/CHANGELOG.md
  packages/image_picker/image_picker_macos/example/lib/main.dart
  packages/image_picker/image_picker_macos/example/pubspec.yaml
  packages/image_picker/image_picker_macos/lib/image_picker_macos.dart
  packages/image_picker/image_picker_macos/pubspec.yaml
  packages/image_picker/image_picker_macos/test/image_picker_macos_test.dart
  packages/image_picker/image_picker_windows/CHANGELOG.md
  packages/image_picker/image_picker_windows/example/lib/main.dart
  packages/image_picker/image_picker_windows/example/pubspec.yaml
  packages/image_picker/image_picker_windows/lib/image_picker_windows.dart
  packages/image_picker/image_picker_windows/pubspec.yaml
  packages/image_picker/image_picker_windows/test/image_picker_windows_test.dart
  script/configs/allowed_unpinned_deps.yaml
Labels: autosubmit, p: image_picker, platform-android, platform-ios, platform-linux, platform-macos, platform-web, platform-windows

#3892 [image_picker] add getMedia method
  packages/image_picker/image_picker/CHANGELOG.md
  packages/image_picker/image_picker/README.md
  packages/image_picker/image_picker/example/lib/main.dart
  packages/image_picker/image_picker/example/lib/readme_excerpts.dart
  packages/image_picker/image_picker/example/pubspec.yaml
  packages/image_picker/image_picker/example/test/readme_excerpts_test.dart
  packages/image_picker/image_picker/lib/image_picker.dart
  packages/image_picker/image_picker/pubspec.yaml
  packages/image_picker/image_picker/test/image_picker_test.dart
  packages/image_picker/image_picker/test/image_picker_test.mocks.dart
Labels: autosubmit, p: image_picker

#3795 [webview_flutter][webview_flutter_android] Add android support for handling geolocation permissions
  packages/webview_flutter/webview_flutter_android/AUTHORS
  packages/webview_flutter/webview_flutter_android/CHANGELOG.md
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/GeneratedAndroidWebView.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/GeolocationPermissionsCallbackFlutterApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/GeolocationPermissionsCallbackHostApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebChromeClientFlutterApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebChromeClientHostApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebViewFlutterPlugin.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/GeolocationPermissionsCallbackTest.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/WebChromeClientTest.java
  packages/webview_flutter/webview_flutter_android/lib/src/android_proxy.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview.g.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview_api_impls.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview_controller.dart
  packages/webview_flutter/webview_flutter_android/pigeons/android_webview.dart
  packages/webview_flutter/webview_flutter_android/pubspec.yaml
  packages/webview_flutter/webview_flutter_android/test/android_navigation_delegate_test.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_controller_test.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_controller_test.mocks.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_cookie_manager_test.mocks.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_test.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_test.mocks.dart
  packages/webview_flutter/webview_flutter_android/test/test_android_webview.g.dart
Labels: autosubmit, platform-android, p: webview_flutter

#4026 [webview_flutter] Add support for limitsNavigationsToAppBoundDomains
  packages/webview_flutter/webview_flutter_wkwebview/CHANGELOG.md
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/RunnerTests/FWFWebViewConfigurationHostApiTests.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFGeneratedWebKitApis.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFGeneratedWebKitApis.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFWebViewConfigurationHostApi.m
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/common/web_kit.g.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/web_kit/web_kit.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/web_kit/web_kit_api_impls.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/webkit_webview_controller.dart
  packages/webview_flutter/webview_flutter_wkwebview/pigeons/web_kit.dart
  packages/webview_flutter/webview_flutter_wkwebview/pubspec.yaml
  packages/webview_flutter/webview_flutter_wkwebview/test/src/common/test_web_kit.g.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/ui_kit/ui_kit_test.mocks.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit/web_kit_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit/web_kit_test.mocks.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/webkit_webview_controller_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/webkit_webview_controller_test.mocks.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/webkit_webview_widget_test.mocks.dart
Labels: autosubmit, platform-ios, p: webview_flutter

#4176 [go_router]Updates documentations around GoRouter.of, GoRouter.maybeOf, and BuildContext extension.
  packages/go_router/CHANGELOG.md
  packages/go_router/lib/src/misc/extensions.dart
  packages/go_router/lib/src/router.dart
  packages/go_router/pubspec.yaml
Labels: p: go_router, autosubmit

#4173 [go_router] Fixes bug that GoRouterState in top level redirect doesn'…
  packages/go_router/CHANGELOG.md
  packages/go_router/lib/src/builder.dart
  packages/go_router/lib/src/configuration.dart
  packages/go_router/lib/src/state.dart
  packages/go_router/pubspec.yaml
  packages/go_router/test/go_router_test.dart
Labels: p: go_router, autosubmit

#4018 [camera_android] Upgrading roboelectric from 4.5 to 4.10.3
  packages/camera/camera_android/CHANGELOG.md
  packages/camera/camera_android/android/build.gradle
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/media/MediaRecorderBuilder.java
  packages/camera/camera_android/android/src/test/java/io/flutter/plugins/camera/features/resolution/ResolutionFeatureTest.java
  packages/camera/camera_android/android/src/test/java/io/flutter/plugins/camera/media/MediaRecorderBuilderTest.java
Labels: needs tests, autosubmit, override: no versioning needed, p: camera, platform-android

#4221 Roll Flutter from 95be76ab7e3d to b0188cd18274 (10 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#4220 [url_launcher] Add ignores for deprecated member to test
  packages/url_launcher/url_launcher/test/src/legacy_api_test.dart
Labels: autosubmit, p: url_launcher

#4207 [tool] Add command aliases
  .ci/scripts/dart_unit_tests_win32.sh
  .cirrus.yml
  script/tool/lib/src/custom_test_command.dart
  script/tool/lib/src/dart_test_command.dart
  script/tool/lib/src/dependabot_check_command.dart
  script/tool/lib/src/federation_safety_check_command.dart
  script/tool/lib/src/gradle_check_command.dart
  script/tool/lib/src/license_check_command.dart
  script/tool/lib/src/main.dart
  script/tool/lib/src/native_test_command.dart
  script/tool/lib/src/podspec_check_command.dart
  script/tool/lib/src/publish_check_command.dart
  script/tool/lib/src/pubspec_check_command.dart
  script/tool/lib/src/readme_check_command.dart
  script/tool/lib/src/version_check_command.dart
  script/tool/lib/src/xcode_analyze_command.dart
  script/tool/test/dart_test_command_test.dart
Labels: autosubmit

#4231 Roll Flutter from b0188cd18274 to fc8856eb80d3 (14 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#4229 [ci] Introduce LUCI version of Linux build-all-packages tests
  .ci.yaml
  .ci/targets/linux_build_all_packages.yaml
Labels: warning: land on red to fix tree breakage, autosubmit

#4232 [ci] Add LUCI version of build-all for web
  .ci.yaml
  .ci/targets/web_build_all_packages.yaml
Labels: autosubmit

#4233 [url_launcher] Remove deprecated onPlatformMessage calls
  packages/url_launcher/url_launcher_platform_interface/CHANGELOG.md
  packages/url_launcher/url_launcher_platform_interface/lib/link.dart
  packages/url_launcher/url_launcher_platform_interface/pubspec.yaml
Labels: autosubmit, p: url_launcher

#4239 Add missing ignores for `textScaleFactor` deprecation
  packages/flutter_markdown/lib/src/builder.dart
  packages/flutter_markdown/test/text_scale_factor_test.dart
Labels: p: flutter_markdown, autosubmit, override: no versioning needed, override: no changelog needed

#4225 [all] Update UIViewControllerBasedStatusBarAppearance to true
  packages/animations/example/ios/Runner/Info.plist
  packages/camera/camera/example/ios/Runner/Info.plist
  packages/camera/camera_avfoundation/example/ios/Runner/Info.plist
  packages/dynamic_layouts/example/ios/Runner/Info.plist
  packages/extension_google_sign_in_as_googleapis_auth/example/ios/Runner/Info.plist
  packages/file_selector/file_selector/example/ios/Runner/Info.plist
  packages/file_selector/file_selector_ios/example/ios/Runner/Info.plist
  packages/flutter_adaptive_scaffold/example/ios/Runner/Info.plist
  packages/flutter_markdown/example/ios/Runner/Info.plist
  packages/go_router/example/ios/Runner/Info.plist
  packages/google_maps_flutter/google_maps_flutter/example/ios/Runner/Info.plist
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios11/ios/Runner/Info.plist
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios12/ios/Runner/Info.plist
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios13/ios/Runner/Info.plist
  packages/google_sign_in/google_sign_in/example/ios/Runner/Info.plist
  packages/google_sign_in/google_sign_in_ios/example/ios/Runner/Info.plist
  packages/image_picker/image_picker/example/ios/Runner/Info.plist
  packages/image_picker/image_picker_ios/example/ios/Runner/Info.plist
  packages/in_app_purchase/in_app_purchase/example/ios/Runner/Info.plist
  packages/in_app_purchase/in_app_purchase_storekit/example/ios/Runner/Info.plist
  packages/ios_platform_images/example/ios/Runner/Info.plist
  packages/local_auth/local_auth/example/ios/Runner/Info.plist
  packages/local_auth/local_auth_ios/example/ios/Runner/Info.plist
  packages/palette_generator/example/ios/Runner/Info.plist
  packages/path_provider/path_provider/example/ios/Runner/Info.plist
  packages/path_provider/path_provider_foundation/example/ios/Runner/Info.plist
  packages/pigeon/example/app/ios/Runner/Info.plist
  packages/pigeon/platform_tests/alternate_language_test_plugin/example/ios/Runner/Info.plist
  packages/pigeon/platform_tests/test_plugin/example/ios/Runner/Info.plist
  packages/quick_actions/quick_actions/example/ios/Runner/Info.plist
  packages/quick_actions/quick_actions_ios/example/ios/Runner/Info.plist
  packages/rfw/example/hello/ios/Runner/Info.plist
  packages/rfw/example/local/ios/Runner/Info.plist
  packages/rfw/example/remote/ios/Runner/Info.plist
  packages/shared_preferences/shared_preferences/example/ios/Runner/Info.plist
  packages/shared_preferences/shared_preferences_foundation/example/ios/Runner/Info.plist
  packages/url_launcher/url_launcher/example/ios/Runner/Info.plist
  packages/url_launcher/url_launcher_ios/example/ios/Runner/Info.plist
  packages/video_player/video_player/example/ios/Runner/Info.plist
  packages/video_player/video_player_avfoundation/example/ios/Runner/Info.plist
  packages/webview_flutter/webview_flutter/example/ios/Runner/Info.plist
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/Runner/Info.plist
Labels: p: extension_google_sign_in_as_googleapis_auth, p: palette_generator, p: pigeon, p: flutter_markdown, p: rfw, p: go_router, p: animations, autosubmit, override: no changelog needed, p: dynamic_layouts, p: flutter_adaptive_scaffold, p: camera, p: file_selector, p: google_maps_flutter, p: google_sign_in, p: image_picker, p: in_app_purchase, p: ios_platform_images, p: local_auth, p: path_provider, p: quick_actions, platform-ios, p: webview_flutter, p: video_player, p: url_launcher, p: shared_preferences

#4252 [ci] Switch Linux and web build-all to LUCI
  .ci.yaml
  .cirrus.yml
Labels: autosubmit

#4253 [ci] Add LUCI version of the analyze tasks
  .ci.yaml
  .ci/scripts/analyze_repo_tools.sh
  .ci/scripts/pathified_analyze.sh
  .ci/targets/analyze.yaml
  .ci/targets/analyze_downgraded.yaml
Labels: autosubmit

#4260 [tools] Add mockito support to update-dependency
  script/tool/lib/src/update_dependency_command.dart
  script/tool/test/update_dependency_command_test.dart
Labels: autosubmit

#4237 [image_picker_android] Modify FileUtils.getBaseName to return the whole filename when it contains no period
  packages/image_picker/image_picker_android/CHANGELOG.md
  packages/image_picker/image_picker_android/android/src/main/java/io/flutter/plugins/imagepicker/FileUtils.java
  packages/image_picker/image_picker_android/android/src/test/java/io/flutter/plugins/imagepicker/FileUtilTest.java
  packages/image_picker/image_picker_android/pubspec.yaml
Labels: autosubmit, p: image_picker, platform-android

#4266 [ci] Always clean up simulators
  .ci/targets/ios_platform_tests.yaml
  .ci/targets/macos_custom_package_tests.yaml
Labels: autosubmit

#4259 [tools] Fix format instructions
  script/tool/lib/src/format_command.dart
  script/tool/test/format_command_test.dart
Labels: autosubmit

#4201 [go_router] Adds parent navigator key to ShellRoute and StatefulShell…
  packages/go_router/CHANGELOG.md
  packages/go_router/lib/src/builder.dart
  packages/go_router/lib/src/delegate.dart
  packages/go_router/lib/src/route.dart
  packages/go_router/pubspec.yaml
  packages/go_router/test/delegate_test.dart
  packages/go_router/test/go_route_test.dart
Labels: p: go_router, autosubmit

#4236 [ci] Add LUCI version of build-all for Android
  .ci.yaml
  .ci/scripts/build_all_packages_app_legacy.sh
  .ci/scripts/create_all_packages_app_legacy.sh
  .ci/targets/android_build_all_packages.yaml
Labels: autosubmit

#4270 Roll Flutter from fc8856eb80d3 to c40baf47c5c8 (57 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#4264 [ci] Switch analyze tests to LUCI
  .ci.yaml
  .cirrus.yml
Labels: autosubmit

#4224 [in_app_purchase_android] Bump org.mockito:mockito-core from 4.7.0 to 5.3.1
  packages/in_app_purchase/in_app_purchase_android/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_android/android/build.gradle
  packages/in_app_purchase/in_app_purchase_android/android/src/test/java/io/flutter/plugins/inapppurchase/MethodCallHandlerTest.java
  packages/in_app_purchase/in_app_purchase_android/pubspec.yaml
Labels: autosubmit, p: in_app_purchase, platform-android

#4278 Roll Flutter from c40baf47c5c8 to 042c0366c9a9 (20 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#4268 Enforce Linux targets on VMs
  .ci.yaml
Labels: autosubmit

#4273 [file_selector] Add file group to save return value - implementations
  packages/file_selector/file_selector_linux/CHANGELOG.md
  packages/file_selector/file_selector_linux/example/lib/save_text_page.dart
  packages/file_selector/file_selector_linux/example/pubspec.yaml
  packages/file_selector/file_selector_linux/lib/file_selector_linux.dart
  packages/file_selector/file_selector_linux/pubspec.yaml
  packages/file_selector/file_selector_linux/test/file_selector_linux_test.dart
  packages/file_selector/file_selector_macos/CHANGELOG.md
  packages/file_selector/file_selector_macos/example/lib/save_text_page.dart
  packages/file_selector/file_selector_macos/example/pubspec.yaml
  packages/file_selector/file_selector_macos/lib/file_selector_macos.dart
  packages/file_selector/file_selector_macos/pubspec.yaml
  packages/file_selector/file_selector_macos/test/file_selector_macos_test.dart
  packages/file_selector/file_selector_web/CHANGELOG.md
  packages/file_selector/file_selector_web/example/pubspec.yaml
  packages/file_selector/file_selector_web/lib/file_selector_web.dart
  packages/file_selector/file_selector_web/pubspec.yaml
  packages/file_selector/file_selector_windows/CHANGELOG.md
  packages/file_selector/file_selector_windows/example/lib/save_text_page.dart
  packages/file_selector/file_selector_windows/example/pubspec.yaml
  packages/file_selector/file_selector_windows/example/windows/runner/Runner.rc
  packages/file_selector/file_selector_windows/lib/file_selector_windows.dart
  packages/file_selector/file_selector_windows/lib/src/messages.g.dart
  packages/file_selector/file_selector_windows/pigeons/messages.dart
  packages/file_selector/file_selector_windows/pubspec.yaml
  packages/file_selector/file_selector_windows/test/file_selector_windows_test.dart
  packages/file_selector/file_selector_windows/test/file_selector_windows_test.mocks.dart
  packages/file_selector/file_selector_windows/test/test_api.g.dart
  packages/file_selector/file_selector_windows/windows/file_dialog_controller.cpp
  packages/file_selector/file_selector_windows/windows/file_dialog_controller.h
  packages/file_selector/file_selector_windows/windows/file_selector_plugin.cpp
  packages/file_selector/file_selector_windows/windows/file_selector_plugin.h
  packages/file_selector/file_selector_windows/windows/messages.g.cpp
  packages/file_selector/file_selector_windows/windows/messages.g.h
  packages/file_selector/file_selector_windows/windows/test/file_selector_plugin_test.cpp
  packages/file_selector/file_selector_windows/windows/test/test_file_dialog_controller.cpp
  packages/file_selector/file_selector_windows/windows/test/test_file_dialog_controller.h
Labels: autosubmit, p: file_selector, platform-linux, platform-macos, platform-web, platform-windows

#4222 [file_selector] Add file group to save return value
  packages/file_selector/file_selector/CHANGELOG.md
  packages/file_selector/file_selector/README.md
  packages/file_selector/file_selector/example/lib/readme_standalone_excerpts.dart
  packages/file_selector/file_selector/example/lib/save_text_page.dart
  packages/file_selector/file_selector/lib/file_selector.dart
  packages/file_selector/file_selector/pubspec.yaml
  packages/file_selector/file_selector/test/file_selector_test.dart
Labels: autosubmit, p: file_selector

#4274 [ci] Switch to LUCI for Android build-all
  .ci.yaml
  .cirrus.yml
Labels: autosubmit

#4279 [tool] Consider comment-only changes to be dev-only
  script/tool/lib/src/common/package_state_utils.dart
  script/tool/test/common/package_state_utils_test.dart
  script/tool/test/version_check_command_test.dart
Labels: autosubmit

#4285 [image_picker] Update to 1.0
  packages/image_picker/image_picker/CHANGELOG.md
  packages/image_picker/image_picker/README.md
  packages/image_picker/image_picker/lib/image_picker.dart
  packages/image_picker/image_picker/pubspec.yaml
  packages/image_picker/image_picker/test/image_picker_deprecated_test.dart
Labels: autosubmit, p: image_picker

#4227 [go_router] Reduces excessive rebuilds due to inherited look up.
  packages/go_router/CHANGELOG.md
  packages/go_router/README.md
  packages/go_router/lib/src/information_provider.dart
  packages/go_router/lib/src/misc/inherited_router.dart
  packages/go_router/lib/src/router.dart
  packages/go_router/pubspec.yaml
  packages/go_router/test/extension_test.dart
  packages/go_router/test/go_router_test.dart
  packages/go_router/test/inherited_test.dart
  packages/go_router/test/rebuild_test.dart
Labels: p: go_router, autosubmit

#3984 [webview_flutter_wkwebview] Adds the `isInspectable` to `WebKitWebViewController`.
  packages/webview_flutter/webview_flutter_wkwebview/CHANGELOG.md
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/RunnerTests/FWFWebViewHostApiTests.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFGeneratedWebKitApis.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFGeneratedWebKitApis.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFWebViewHostApi.m
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/common/web_kit.g.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/web_kit/web_kit.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/web_kit/web_kit_api_impls.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/webkit_webview_controller.dart
  packages/webview_flutter/webview_flutter_wkwebview/pigeons/web_kit.dart
  packages/webview_flutter/webview_flutter_wkwebview/pubspec.yaml
  packages/webview_flutter/webview_flutter_wkwebview/test/legacy/web_kit_webview_widget_test.mocks.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/common/test_web_kit.g.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/ui_kit/ui_kit_test.mocks.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit/web_kit_test.mocks.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/webkit_webview_controller_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/webkit_webview_controller_test.mocks.dart
Labels: autosubmit, platform-ios, p: webview_flutter

#3814 [file_selector_android] Create initial Android implementation of the file_selector package
  .github/dependabot.yml
  packages/file_selector/file_selector_android/AUTHORS
  packages/file_selector/file_selector_android/CHANGELOG.md
  packages/file_selector/file_selector_android/LICENSE
  packages/file_selector/file_selector_android/README.md
  packages/file_selector/file_selector_android/android/build.gradle
  packages/file_selector/file_selector_android/android/settings.gradle
  packages/file_selector/file_selector_android/android/src/main/AndroidManifest.xml
  packages/file_selector/file_selector_android/android/src/main/java/dev/flutter/packages/file_selector_android/FileSelectorAndroidPlugin.java
  packages/file_selector/file_selector_android/android/src/main/java/dev/flutter/packages/file_selector_android/FileSelectorApiImpl.java
  packages/file_selector/file_selector_android/android/src/main/java/dev/flutter/packages/file_selector_android/GeneratedFileSelectorApi.java
  packages/file_selector/file_selector_android/android/src/test/java/dev/flutter/packages/file_selector_android/FileSelectorAndroidPluginTest.java
  packages/file_selector/file_selector_android/example/README.md
  packages/file_selector/file_selector_android/example/android/app/build.gradle
  packages/file_selector/file_selector_android/example/android/app/src/androidTest/java/dev/flutter/packages/file_selector_android_example/FileSelectorAndroidTest.java
  packages/file_selector/file_selector_android/example/android/app/src/androidTest/java/dev/flutter/packages/file_selector_android_example/MainActivityTest.java
  packages/file_selector/file_selector_android/example/android/app/src/debug/AndroidManifest.xml
  packages/file_selector/file_selector_android/example/android/app/src/main/AndroidManifest.xml
  packages/file_selector/file_selector_android/example/android/app/src/main/java/dev/flutter/packages/file_selector_android_example/DriverExtensionActivity.java
  packages/file_selector/file_selector_android/example/android/app/src/main/java/dev/flutter/packages/file_selector_android_example/MainActivity.java
  packages/file_selector/file_selector_android/example/android/app/src/main/java/dev/flutter/packages/file_selector_android_example/TestContentProvider.java
  packages/file_selector/file_selector_android/example/android/app/src/main/java/io/flutter/plugins/DartIntegrationTest.java
  packages/file_selector/file_selector_android/example/android/app/src/main/res/drawable-v21/launch_background.xml
  packages/file_selector/file_selector_android/example/android/app/src/main/res/drawable/launch_background.xml
  packages/file_selector/file_selector_android/example/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  packages/file_selector/file_selector_android/example/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  packages/file_selector/file_selector_android/example/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  packages/file_selector/file_selector_android/example/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  packages/file_selector/file_selector_android/example/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  packages/file_selector/file_selector_android/example/android/app/src/main/res/raw/ic_launcher.png
  packages/file_selector/file_selector_android/example/android/app/src/main/res/values-night/styles.xml
  packages/file_selector/file_selector_android/example/android/app/src/main/res/values/styles.xml
  packages/file_selector/file_selector_android/example/android/app/src/profile/AndroidManifest.xml
  packages/file_selector/file_selector_android/example/android/build.gradle
  packages/file_selector/file_selector_android/example/android/gradle.properties
  packages/file_selector/file_selector_android/example/android/gradle/wrapper/gradle-wrapper.properties
  packages/file_selector/file_selector_android/example/android/settings.gradle
  packages/file_selector/file_selector_android/example/integration_test/file_selector_android_test.dart
  packages/file_selector/file_selector_android/example/lib/home_page.dart
  packages/file_selector/file_selector_android/example/lib/main.dart
  packages/file_selector/file_selector_android/example/lib/open_image_page.dart
  packages/file_selector/file_selector_android/example/lib/open_multiple_images_page.dart
  packages/file_selector/file_selector_android/example/lib/open_text_page.dart
  packages/file_selector/file_selector_android/example/pubspec.yaml
  packages/file_selector/file_selector_android/example/test_driver/integration_test.dart
  packages/file_selector/file_selector_android/lib/file_selector_android.dart
  packages/file_selector/file_selector_android/lib/src/file_selector_android.dart
  packages/file_selector/file_selector_android/lib/src/file_selector_api.g.dart
  packages/file_selector/file_selector_android/pigeons/copyright.txt
  packages/file_selector/file_selector_android/pigeons/file_selector_api.dart
  packages/file_selector/file_selector_android/pubspec.yaml
  packages/file_selector/file_selector_android/test/file_selector_android_test.dart
  packages/file_selector/file_selector_android/test/file_selector_android_test.mocks.dart
Labels: autosubmit, p: file_selector, platform-android

#4313 Roll Flutter from 042c0366c9a9 to 96a2c0535810 (60 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#4261 [shared_preferences] Adds new `clearWithParameters` and `getAllWithParameters` methods to platform interface.
  packages/shared_preferences/shared_preferences/lib/shared_preferences.dart
  packages/shared_preferences/shared_preferences/test/shared_preferences_test.dart
  packages/shared_preferences/shared_preferences_android/example/integration_test/shared_preferences_test.dart
  packages/shared_preferences/shared_preferences_foundation/example/integration_test/shared_preferences_test.dart
  packages/shared_preferences/shared_preferences_platform_interface/CHANGELOG.md
  packages/shared_preferences/shared_preferences_platform_interface/lib/method_channel_shared_preferences.dart
  packages/shared_preferences/shared_preferences_platform_interface/lib/shared_preferences_platform_interface.dart
  packages/shared_preferences/shared_preferences_platform_interface/lib/types.dart
  packages/shared_preferences/shared_preferences_platform_interface/pubspec.yaml
  packages/shared_preferences/shared_preferences_platform_interface/test/method_channel_shared_preferences_test.dart
  packages/shared_preferences/shared_preferences_platform_interface/test/shared_preferences_platform_interface_test.dart
  packages/shared_preferences/shared_preferences_web/example/integration_test/shared_preferences_web_test.dart
Labels: autosubmit, override: no versioning needed, override: no changelog needed, platform-android, platform-web, p: shared_preferences

#4316 Updated rfw/test/material_widgets_test.dart for M3
  packages/rfw/test/material_widgets_test.dart
Labels: p: rfw, autosubmit

#4057 [go_router_builder] Added replace methods to the generated routes.
  packages/go_router_builder/CHANGELOG.md
  packages/go_router_builder/example/lib/all_types.g.dart
  packages/go_router_builder/example/lib/extra_example.g.dart
  packages/go_router_builder/example/lib/main.g.dart
  packages/go_router_builder/example/lib/shell_route_example.g.dart
  packages/go_router_builder/example/lib/shell_route_with_keys_example.g.dart
  packages/go_router_builder/example/lib/simple_example.g.dart
  packages/go_router_builder/lib/src/route_config.dart
  packages/go_router_builder/pubspec.yaml
  packages/go_router_builder/test/test_inputs/_go_router_builder_test_input.dart
Labels: needs tests, p: go_router_builder, autosubmit

#4235 Update Xcode to 14.3.1
  .ci.yaml
Labels: autosubmit

#4333 [various] Update links to the old linter site to point to dart.dev
  packages/flutter_lints/CHANGELOG.md
  packages/flutter_lints/README.md
  packages/flutter_lints/example/analysis_options.yaml
  packages/flutter_lints/pubspec.yaml
  packages/go_router/CHANGELOG.md
Labels: p: flutter_lints, p: go_router, autosubmit

#4137 [in_app_purchase] 0.3.0 Migration guide
  packages/in_app_purchase/in_app_purchase_android/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_android/README.md
  packages/in_app_purchase/in_app_purchase_android/example/build.excerpt.yaml
  packages/in_app_purchase/in_app_purchase_android/example/lib/migration_guide_examples.dart
  packages/in_app_purchase/in_app_purchase_android/example/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_android/migration_guide.md
  packages/in_app_purchase/in_app_purchase_android/pubspec.yaml
Labels: warning: land on red to fix tree breakage, needs tests, autosubmit, p: in_app_purchase, platform-android

#4155 [web_benchmark] Fix unnecessary_non_null_assertion for Scrollable.of.
  packages/web_benchmarks/testing/test_app/lib/benchmarks/runner.dart
Labels: p: web_benchmarks, warning: land on red to fix tree breakage, needs tests, autosubmit, override: no versioning needed, override: no changelog needed

#3513 [video_player] Add a `Uri`-typed factory method
  packages/camera/camera/example/lib/main.dart
  packages/camera/camera_android/example/lib/main.dart
  packages/camera/camera_android_camerax/example/lib/main.dart
  packages/camera/camera_avfoundation/example/lib/main.dart
  packages/image_picker/image_picker/example/lib/main.dart
  packages/video_player/video_player/AUTHORS
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/README.md
  packages/video_player/video_player/example/integration_test/video_player_test.dart
  packages/video_player/video_player/example/lib/basic.dart
  packages/video_player/video_player/example/lib/main.dart
  packages/video_player/video_player/lib/video_player.dart
  packages/video_player/video_player/pubspec.yaml
  packages/video_player/video_player/test/video_player_initialization_test.dart
  packages/video_player/video_player/test/video_player_test.dart
Labels: autosubmit, override: no versioning needed, override: no changelog needed, p: camera, p: image_picker, platform-android, p: video_player

#4262 [shared_preferences] Adds new clearWithParameters and getAllWithParameters methods to all platforms.
  packages/shared_preferences/shared_preferences_android/CHANGELOG.md
  packages/shared_preferences/shared_preferences_android/android/src/main/java/io/flutter/plugins/sharedpreferences/Messages.java
  packages/shared_preferences/shared_preferences_android/android/src/main/java/io/flutter/plugins/sharedpreferences/SharedPreferencesPlugin.java
  packages/shared_preferences/shared_preferences_android/android/src/test/java/io/flutter/plugins/sharedpreferences/SharedPreferencesTest.java
  packages/shared_preferences/shared_preferences_android/example/integration_test/shared_preferences_test.dart
  packages/shared_preferences/shared_preferences_android/example/pubspec.yaml
  packages/shared_preferences/shared_preferences_android/lib/shared_preferences_android.dart
  packages/shared_preferences/shared_preferences_android/lib/src/messages.g.dart
  packages/shared_preferences/shared_preferences_android/pigeons/messages.dart
  packages/shared_preferences/shared_preferences_android/pubspec.yaml
  packages/shared_preferences/shared_preferences_android/test/shared_preferences_android_test.dart
  packages/shared_preferences/shared_preferences_foundation/CHANGELOG.md
  packages/shared_preferences/shared_preferences_foundation/darwin/Classes/SharedPreferencesPlugin.swift
  packages/shared_preferences/shared_preferences_foundation/darwin/Classes/messages.g.swift
  packages/shared_preferences/shared_preferences_foundation/darwin/Tests/RunnerTests.swift
  packages/shared_preferences/shared_preferences_foundation/example/integration_test/shared_preferences_test.dart
  packages/shared_preferences/shared_preferences_foundation/example/pubspec.yaml
  packages/shared_preferences/shared_preferences_foundation/lib/messages.g.dart
  packages/shared_preferences/shared_preferences_foundation/lib/shared_preferences_foundation.dart
  packages/shared_preferences/shared_preferences_foundation/pigeons/messages.dart
  packages/shared_preferences/shared_preferences_foundation/pubspec.yaml
  packages/shared_preferences/shared_preferences_foundation/test/shared_preferences_foundation_test.dart
  packages/shared_preferences/shared_preferences_foundation/test/test_api.g.dart
  packages/shared_preferences/shared_preferences_linux/CHANGELOG.md
  packages/shared_preferences/shared_preferences_linux/example/integration_test/shared_preferences_test.dart
  packages/shared_preferences/shared_preferences_linux/example/pubspec.yaml
  packages/shared_preferences/shared_preferences_linux/lib/shared_preferences_linux.dart
  packages/shared_preferences/shared_preferences_linux/pubspec.yaml
  packages/shared_preferences/shared_preferences_linux/test/shared_preferences_linux_test.dart
  packages/shared_preferences/shared_preferences_web/CHANGELOG.md
  packages/shared_preferences/shared_preferences_web/example/integration_test/shared_preferences_web_test.dart
  packages/shared_preferences/shared_preferences_web/example/pubspec.yaml
  packages/shared_preferences/shared_preferences_web/lib/shared_preferences_web.dart
  packages/shared_preferences/shared_preferences_web/pubspec.yaml
  packages/shared_preferences/shared_preferences_windows/CHANGELOG.md
  packages/shared_preferences/shared_preferences_windows/example/integration_test/shared_preferences_test.dart
  packages/shared_preferences/shared_preferences_windows/example/pubspec.yaml
  packages/shared_preferences/shared_preferences_windows/lib/shared_preferences_windows.dart
  packages/shared_preferences/shared_preferences_windows/pubspec.yaml
  packages/shared_preferences/shared_preferences_windows/test/shared_preferences_windows_test.dart
Labels: platform-android, platform-linux, platform-web, platform-windows, p: shared_preferences

#4265 [ci] Add LUCI version of dart unit tests
  .ci.yaml
  .ci/scripts/dart_unit_tests_pathified.sh
  .ci/targets/dart_unit_tests.yaml
Labels: autosubmit

#3452 [google_maps_flutter_web] Add padding to newLatLngBounds implementation
  packages/google_maps_flutter/google_maps_flutter_web/AUTHORS
  packages/google_maps_flutter/google_maps_flutter_web/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_web/example/integration_test/projection_test.dart
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/convert.dart
  packages/google_maps_flutter/google_maps_flutter_web/pubspec.yaml
Labels: autosubmit, p: google_maps_flutter, platform-web

#4346 Roll Flutter from 51bef1b63271 to ff838bca8990 (12 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#3794 [shared_preferences] Adds allowList to setPrefix method.
  packages/shared_preferences/shared_preferences/CHANGELOG.md
  packages/shared_preferences/shared_preferences/README.md
  packages/shared_preferences/shared_preferences/example/integration_test/shared_preferences_test.dart
  packages/shared_preferences/shared_preferences/lib/shared_preferences.dart
  packages/shared_preferences/shared_preferences/pubspec.yaml
  packages/shared_preferences/shared_preferences/test/shared_preferences_test.dart
Labels: autosubmit, p: shared_preferences

#4342 Prepare for utf8.encode() to return more precise Uint8List type
  packages/image_picker/image_picker_for_web/example/integration_test/image_picker_for_web_test.dart
  packages/rfw/CHANGELOG.md
  packages/rfw/lib/src/dart/binary.dart
  packages/rfw/pubspec.yaml
Labels: p: rfw, autosubmit, p: image_picker, platform-web

#4332 [camera_android] Support concurrently image capture and image streaming
  packages/camera/camera_android/CHANGELOG.md
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/Camera.java
  packages/camera/camera_android/android/src/test/java/io/flutter/plugins/camera/CameraTest.java
  packages/camera/camera_android/pubspec.yaml
Labels: autosubmit, p: camera, platform-android

#3705 [Pigeon] readme updates
  packages/pigeon/CHANGELOG.md
  packages/pigeon/README.md
  packages/pigeon/example/README.md
  packages/pigeon/example/app/android/app/src/main/java/io/flutter/plugins/Messages.java
  packages/pigeon/example/app/android/app/src/main/kotlin/dev/flutter/pigeon_example_app/MainActivity.kt
  packages/pigeon/example/app/android/app/src/main/kotlin/dev/flutter/pigeon_example_app/Messages.g.kt
  packages/pigeon/example/app/ios/Runner/AppDelegate.swift
  packages/pigeon/example/app/ios/Runner/Messages.g.swift
  packages/pigeon/example/app/lib/main.dart
  packages/pigeon/example/app/lib/src/messages.g.dart
  packages/pigeon/example/app/macos/Runner/messages.g.h
  packages/pigeon/example/app/macos/Runner/messages.g.m
  packages/pigeon/example/app/pigeons/messages.dart
  packages/pigeon/example/app/pubspec.yaml
  packages/pigeon/example/app/windows/runner/flutter_window.cpp
  packages/pigeon/example/app/windows/runner/messages.g.cpp
  packages/pigeon/example/app/windows/runner/messages.g.h
  packages/pigeon/example/build.excerpt.yaml
  packages/pigeon/example/lib/main.dart
  packages/pigeon/example/pubspec.yaml
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/lib/pigeon_lib.dart
  packages/pigeon/pigeons/README.md
  packages/pigeon/pigeons/core_tests.dart
  packages/pigeon/platform_tests/alternate_language_test_plugin/example/ios/Runner.xcodeproj/project.pbxproj
  packages/pigeon/platform_tests/alternate_language_test_plugin/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/pigeon/platform_tests/shared_test_plugin_code/pubspec.yaml
  packages/pigeon/platform_tests/test_plugin/ios/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/ios/Classes/TestPlugin.swift
  packages/pigeon/platform_tests/test_plugin/macos/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/macos/Classes/TestPlugin.swift
  packages/pigeon/pubspec.yaml
  packages/pigeon/test/pigeon_lib_test.dart
  packages/pigeon/tool/generate.dart
  packages/pigeon/tool/run_tests.dart
  packages/pigeon/tool/shared/generation.dart
  packages/pigeon/tool/shared/test_runner.dart
Labels: p: pigeon, autosubmit, platform-android, platform-ios, platform-macos, platform-windows
