Repository flutter/packages, pull requests merged in 2023-01, with the labels that each got.

#3014 Roll Flutter from ecfc29772b03 to bc1591ed5b73 (2 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#3017 Roll Flutter from bc1591ed5b73 to b938dc13df32 (6 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#3019 Roll Flutter from b938dc13df32 to 025ce117b7ed (18 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#2977 [go_router_builder] Update to `go_router` 6
  packages/go_router_builder/CHANGELOG.md
  packages/go_router_builder/README.md
  packages/go_router_builder/example/lib/all_types.dart
  packages/go_router_builder/example/lib/main.dart
  packages/go_router_builder/example/lib/simple_example.dart
  packages/go_router_builder/example/pubspec.yaml
  packages/go_router_builder/pubspec.yaml
Labels: needs tests, p: go_router_builder, autosubmit

#2952 [go_router] Fixes crashes when popping navigators manually
  packages/go_router/CHANGELOG.md
  packages/go_router/lib/src/builder.dart
  packages/go_router/lib/src/delegate.dart
  packages/go_router/lib/src/match.dart
  packages/go_router/lib/src/matching.dart
  packages/go_router/lib/src/path_utils.dart
  packages/go_router/pubspec.yaml
  packages/go_router/test/go_router_test.dart
Labels: p: go_router

#3020 [pigeon] Fix Object arguments in Swift and C++
  packages/pigeon/CHANGELOG.md
  packages/pigeon/lib/cpp_generator.dart
  packages/pigeon/lib/dart_generator.dart
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/lib/swift_generator.dart
  packages/pigeon/pigeons/core_tests.dart
  packages/pigeon/platform_tests/alternate_language_test_plugin/android/src/main/java/com/example/alternate_language_test_plugin/AlternateLanguageTestPlugin.java
  packages/pigeon/platform_tests/alternate_language_test_plugin/android/src/main/java/com/example/alternate_language_test_plugin/CoreTests.java
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/AlternateLanguageTestPlugin.m
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/CoreTests.gen.h
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/CoreTests.gen.m
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/integration_tests.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/core_tests.gen.dart
  packages/pigeon/platform_tests/test_plugin/android/src/main/kotlin/com/example/test_plugin/CoreTests.gen.kt
  packages/pigeon/platform_tests/test_plugin/android/src/main/kotlin/com/example/test_plugin/TestPlugin.kt
  packages/pigeon/platform_tests/test_plugin/example/ios/Podfile
  packages/pigeon/platform_tests/test_plugin/example/macos/Podfile
  packages/pigeon/platform_tests/test_plugin/ios/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/ios/Classes/TestPlugin.swift
  packages/pigeon/platform_tests/test_plugin/macos/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/macos/Classes/TestPlugin.swift
  packages/pigeon/platform_tests/test_plugin/windows/pigeon/core_tests.gen.cpp
  packages/pigeon/platform_tests/test_plugin/windows/pigeon/core_tests.gen.h
  packages/pigeon/platform_tests/test_plugin/windows/test_plugin.cpp
  packages/pigeon/platform_tests/test_plugin/windows/test_plugin.h
  packages/pigeon/pubspec.yaml
  packages/pigeon/test/cpp_generator_test.dart
Labels: p: pigeon, autosubmit

#2976 [go_router_builder] Use enum entry's name
  packages/go_router_builder/example/lib/main.dart
Labels: needs tests, p: go_router_builder, autosubmit, override: no versioning needed, override: no changelog needed

#3023 Roll Flutter from 025ce117b7ed to 45886068cf84 (10 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#3022 [pigeon] Creates new Generator classes for each language (v3)
  packages/pigeon/CHANGELOG.md
  packages/pigeon/lib/cpp_generator.dart
  packages/pigeon/lib/dart_generator.dart
  packages/pigeon/lib/generator.dart
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/lib/java_generator.dart
  packages/pigeon/lib/kotlin_generator.dart
  packages/pigeon/lib/objc_generator.dart
  packages/pigeon/lib/pigeon_lib.dart
  packages/pigeon/lib/swift_generator.dart
  packages/pigeon/mock_handler_tester/test/message.dart
  packages/pigeon/mock_handler_tester/test/test.dart
  packages/pigeon/platform_tests/alternate_language_test_plugin/android/src/main/java/com/example/alternate_language_test_plugin/CoreTests.java
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/CoreTests.gen.h
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/CoreTests.gen.m
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/core_tests.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/multiple_arity.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/non_null_fields.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/null_fields.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/null_safe_pigeon.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/nullable_returns.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/primitive.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/core_tests.gen.dart
  packages/pigeon/platform_tests/test_plugin/android/src/main/kotlin/com/example/test_plugin/CoreTests.gen.kt
  packages/pigeon/platform_tests/test_plugin/ios/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/macos/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/windows/pigeon/core_tests.gen.cpp
  packages/pigeon/platform_tests/test_plugin/windows/pigeon/core_tests.gen.h
  packages/pigeon/pubspec.yaml
  packages/pigeon/test/cpp_generator_test.dart
  packages/pigeon/test/dart_generator_test.dart
  packages/pigeon/test/objc_generator_test.dart
  packages/pigeon/test/pigeon_lib_test.dart
  packages/pigeon/tool/shared/generation.dart
Labels: p: pigeon, autosubmit

#3028 Roll Flutter from 45886068cf84 to 507062032fa4 (11 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#3031 Roll Flutter from 507062032fa4 to 7ddf42eae5ee (5 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#3035 Roll Flutter from 7ddf42eae5ee to f2c088b1cfe5 (25 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#3033 [xdg_directories] Return null from `getUserDirectory` instead of throwing exception
  packages/xdg_directories/CHANGELOG.md
  packages/xdg_directories/lib/xdg_directories.dart
  packages/xdg_directories/pubspec.yaml
  packages/xdg_directories/test/xdg_directories_test.dart
Labels: p: xdg_directories, autosubmit

#3011 [gis_web] Adds id.renderButton JS-interop.
  packages/google_identity_services_web/CHANGELOG.md
  packages/google_identity_services_web/README.md
  packages/google_identity_services_web/example/integration_test/js_interop_gis_id_test.dart
  packages/google_identity_services_web/example/integration_test/js_interop_id_test.dart
  packages/google_identity_services_web/example/integration_test/js_interop_oauth_test.dart
  packages/google_identity_services_web/example/integration_test/utils.dart
  packages/google_identity_services_web/example/lib/main.dart
  packages/google_identity_services_web/example/lib/main_oauth.dart
  packages/google_identity_services_web/example/web/mock-gis.js
  packages/google_identity_services_web/lib/src/js_interop/dom.dart
  packages/google_identity_services_web/lib/src/js_interop/google_accounts_id.dart
  packages/google_identity_services_web/lib/src/js_interop/google_accounts_oauth2.dart
  packages/google_identity_services_web/lib/src/js_interop/shared.dart
  packages/google_identity_services_web/pubspec.yaml
  packages/google_identity_services_web/test/README.md
Labels: autosubmit

#3039 Roll Flutter from f2c088b1cfe5 to f10965f2d357 (18 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#3041 Roll Flutter from f10965f2d357 to 0d91c0343bdc (15 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#3045 Roll Flutter from 0d91c0343bdc to 220169878e77 (28 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#3037 [pigeon] Adds StructuredGenerator class and subclasses
  packages/pigeon/CHANGELOG.md
  packages/pigeon/lib/cpp_generator.dart
  packages/pigeon/lib/dart_generator.dart
  packages/pigeon/lib/generator.dart
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/lib/java_generator.dart
  packages/pigeon/lib/kotlin_generator.dart
  packages/pigeon/lib/objc_generator.dart
  packages/pigeon/lib/pigeon_lib.dart
  packages/pigeon/lib/swift_generator.dart
  packages/pigeon/mock_handler_tester/test/message.dart
  packages/pigeon/mock_handler_tester/test/test.dart
  packages/pigeon/platform_tests/alternate_language_test_plugin/android/src/main/java/com/example/alternate_language_test_plugin/CoreTests.java
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/CoreTests.gen.h
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/CoreTests.gen.m
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/core_tests.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/multiple_arity.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/non_null_fields.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/null_fields.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/null_safe_pigeon.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/nullable_returns.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/primitive.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/core_tests.gen.dart
  packages/pigeon/platform_tests/test_plugin/android/src/main/kotlin/com/example/test_plugin/CoreTests.gen.kt
  packages/pigeon/platform_tests/test_plugin/ios/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/macos/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/windows/pigeon/core_tests.gen.cpp
  packages/pigeon/platform_tests/test_plugin/windows/pigeon/core_tests.gen.h
  packages/pigeon/pubspec.yaml
  packages/pigeon/test/cpp_generator_test.dart
  packages/pigeon/test/dart_generator_test.dart
  packages/pigeon/test/java_generator_test.dart
  packages/pigeon/test/kotlin_generator_test.dart
  packages/pigeon/test/objc_generator_test.dart
  packages/pigeon/test/pigeon_lib_test.dart
  packages/pigeon/test/swift_generator_test.dart
Labels: p: pigeon, autosubmit

#3042 [pigeon] Fix C++ generator's handling of Flutter APIs
  packages/pigeon/CHANGELOG.md
  packages/pigeon/lib/cpp_generator.dart
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/lib/swift_generator.dart
  packages/pigeon/mock_handler_tester/test/message.dart
  packages/pigeon/mock_handler_tester/test/test.dart
  packages/pigeon/pigeons/core_tests.dart
  packages/pigeon/platform_tests/alternate_language_test_plugin/android/src/main/java/com/example/alternate_language_test_plugin/CoreTests.java
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/CoreTests.gen.h
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/CoreTests.gen.m
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/core_tests.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/multiple_arity.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/non_null_fields.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/null_fields.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/null_safe_pigeon.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/nullable_returns.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/primitive.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/integration_tests.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/core_tests.gen.dart
  packages/pigeon/platform_tests/test_plugin/android/src/main/kotlin/com/example/test_plugin/CoreTests.gen.kt
  packages/pigeon/platform_tests/test_plugin/ios/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/macos/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/windows/pigeon/core_tests.gen.cpp
  packages/pigeon/platform_tests/test_plugin/windows/pigeon/core_tests.gen.h
  packages/pigeon/platform_tests/test_plugin/windows/test_plugin.cpp
  packages/pigeon/pubspec.yaml
  packages/pigeon/test/cpp_generator_test.dart
  packages/pigeon/test/swift_generator_test.dart
Labels: p: pigeon, autosubmit

#2855 [ci] Add LUCI version of macOS custom tests
  .ci.yaml
  .ci/targets/mac_custom_package_tests.yaml
Labels: autosubmit

#3047 Roll Flutter from 220169878e77 to 68dd63d66ba6 (9 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#2997 [pigeon] Fix missed line break between generated statements in Kotlin
  packages/pigeon/CHANGELOG.md
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/lib/kotlin_generator.dart
  packages/pigeon/mock_handler_tester/test/message.dart
  packages/pigeon/mock_handler_tester/test/test.dart
  packages/pigeon/pigeons/core_tests.dart
  packages/pigeon/platform_tests/alternate_language_test_plugin/android/src/main/java/com/example/alternate_language_test_plugin/CoreTests.java
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/CoreTests.gen.h
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/CoreTests.gen.m
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/core_tests.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/multiple_arity.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/non_null_fields.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/null_fields.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/null_safe_pigeon.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/nullable_returns.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/primitive.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/core_tests.gen.dart
  packages/pigeon/platform_tests/test_plugin/android/src/main/kotlin/com/example/test_plugin/CoreTests.gen.kt
  packages/pigeon/platform_tests/test_plugin/example/ios/RunnerTests/AllDatatypesTests.swift
  packages/pigeon/platform_tests/test_plugin/ios/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/macos/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/windows/pigeon/core_tests.gen.cpp
  packages/pigeon/platform_tests/test_plugin/windows/pigeon/core_tests.gen.h
  packages/pigeon/pubspec.yaml
  packages/pigeon/test/kotlin_generator_test.dart
Labels: p: pigeon, autosubmit

#3058 [pigeon] updated readme wrt `@async`
  packages/pigeon/CHANGELOG.md
  packages/pigeon/README.md
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/mock_handler_tester/test/message.dart
  packages/pigeon/mock_handler_tester/test/test.dart
  packages/pigeon/platform_tests/alternate_language_test_plugin/android/src/main/java/com/example/alternate_language_test_plugin/CoreTests.java
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/CoreTests.gen.h
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/CoreTests.gen.m
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/core_tests.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/multiple_arity.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/non_null_fields.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/null_fields.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/null_safe_pigeon.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/nullable_returns.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/primitive.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/core_tests.gen.dart
  packages/pigeon/platform_tests/test_plugin/android/src/main/kotlin/com/example/test_plugin/CoreTests.gen.kt
  packages/pigeon/platform_tests/test_plugin/ios/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/macos/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/windows/pigeon/core_tests.gen.cpp
  packages/pigeon/platform_tests/test_plugin/windows/pigeon/core_tests.gen.h
  packages/pigeon/pubspec.yaml
Labels: p: pigeon, autosubmit

#3066 [pigeon] Add Flutter API integration tests
  packages/pigeon/pigeons/core_tests.dart
  packages/pigeon/platform_tests/alternate_language_test_plugin/android/src/main/java/com/example/alternate_language_test_plugin/AlternateLanguageTestPlugin.java
  packages/pigeon/platform_tests/alternate_language_test_plugin/android/src/main/java/com/example/alternate_language_test_plugin/CoreTests.java
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/AlternateLanguageTestPlugin.m
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/CoreTests.gen.h
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/CoreTests.gen.m
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/integration_tests.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/core_tests.gen.dart
  packages/pigeon/platform_tests/test_plugin/android/src/main/kotlin/com/example/test_plugin/CoreTests.gen.kt
  packages/pigeon/platform_tests/test_plugin/android/src/main/kotlin/com/example/test_plugin/TestPlugin.kt
  packages/pigeon/platform_tests/test_plugin/ios/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/ios/Classes/TestPlugin.swift
  packages/pigeon/platform_tests/test_plugin/macos/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/macos/Classes/TestPlugin.swift
  packages/pigeon/platform_tests/test_plugin/windows/pigeon/core_tests.gen.cpp
  packages/pigeon/platform_tests/test_plugin/windows/pigeon/core_tests.gen.h
  packages/pigeon/platform_tests/test_plugin/windows/test_plugin.cpp
  packages/pigeon/platform_tests/test_plugin/windows/test_plugin.h
Labels: p: pigeon, autosubmit, override: no versioning needed, override: no changelog needed

#3060 [pigeon] Fixes some Java lint issues
  packages/pigeon/CHANGELOG.md
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/lib/java_generator.dart
  packages/pigeon/mock_handler_tester/test/message.dart
  packages/pigeon/mock_handler_tester/test/test.dart
  packages/pigeon/platform_tests/alternate_language_test_plugin/android/src/main/java/com/example/alternate_language_test_plugin/CoreTests.java
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/CoreTests.gen.h
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/CoreTests.gen.m
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/core_tests.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/multiple_arity.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/non_null_fields.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/null_fields.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/null_safe_pigeon.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/nullable_returns.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/primitive.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/core_tests.gen.dart
  packages/pigeon/platform_tests/test_plugin/android/src/main/kotlin/com/example/test_plugin/CoreTests.gen.kt
  packages/pigeon/platform_tests/test_plugin/ios/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/macos/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/windows/pigeon/core_tests.gen.cpp
  packages/pigeon/platform_tests/test_plugin/windows/pigeon/core_tests.gen.h
  packages/pigeon/pubspec.yaml
  packages/pigeon/test/java_generator_test.dart
Labels: p: pigeon, autosubmit

#3073 Roll Flutter from 68dd63d66ba6 to 73096fd96ef5 (57 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#3054 [ci] Enable Windows build-all
  .ci.yaml
Labels: autosubmit

#3074 Roll Flutter from 73096fd96ef5 to 095b1abdad6f (14 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#3072 [pigeon] Change generator formatting to closer match formatter output
  packages/pigeon/CHANGELOG.md
  packages/pigeon/lib/cpp_generator.dart
  packages/pigeon/lib/dart_generator.dart
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/lib/java_generator.dart
  packages/pigeon/lib/kotlin_generator.dart
  packages/pigeon/lib/objc_generator.dart
  packages/pigeon/lib/swift_generator.dart
  packages/pigeon/mock_handler_tester/test/message.dart
  packages/pigeon/mock_handler_tester/test/test.dart
  packages/pigeon/platform_tests/alternate_language_test_plugin/android/src/main/java/com/example/alternate_language_test_plugin/CoreTests.java
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/CoreTests.gen.h
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/CoreTests.gen.m
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/core_tests.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/multiple_arity.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/non_null_fields.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/null_fields.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/null_safe_pigeon.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/nullable_returns.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/primitive.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/core_tests.gen.dart
  packages/pigeon/platform_tests/test_plugin/android/src/main/kotlin/com/example/test_plugin/CoreTests.gen.kt
  packages/pigeon/platform_tests/test_plugin/ios/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/macos/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/windows/pigeon/core_tests.gen.cpp
  packages/pigeon/platform_tests/test_plugin/windows/pigeon/core_tests.gen.h
  packages/pigeon/pubspec.yaml
  packages/pigeon/test/java_generator_test.dart
  packages/pigeon/test/objc_generator_test.dart
Labels: p: pigeon, autosubmit

#3075 [pigeon] Convert run_tests.sh to Dart
  .cirrus.yml
  packages/pigeon/CONTRIBUTING.md
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/.gitignore
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/all_datatypes.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/flutter_unittests.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/primitive.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/test/null_safe_test.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/test/primitive_test.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/test/primitive_test.mocks.dart
  packages/pigeon/run_tests.sh
  packages/pigeon/tool/run_tests.dart
Labels: p: pigeon, autosubmit, override: no versioning needed, override: no changelog needed

#3078 Roll Flutter from 095b1abdad6f to b1f4070d5bd0 (26 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#3077 [ci] Re-enable flutter_image tests on stable
  .cirrus.yml
Labels: autosubmit

#3004 [pigeon] Fix missed casting of not nullable Dart int to Kotlin long
  packages/pigeon/CHANGELOG.md
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/lib/kotlin_generator.dart
  packages/pigeon/mock_handler_tester/test/message.dart
  packages/pigeon/mock_handler_tester/test/test.dart
  packages/pigeon/platform_tests/alternate_language_test_plugin/android/src/main/java/com/example/alternate_language_test_plugin/CoreTests.java
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/CoreTests.gen.h
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/CoreTests.gen.m
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/core_tests.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/flutter_unittests.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/multiple_arity.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/non_null_fields.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/null_fields.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/nullable_returns.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/primitive.gen.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/integration_tests.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/core_tests.gen.dart
  packages/pigeon/platform_tests/test_plugin/android/src/main/kotlin/com/example/test_plugin/CoreTests.gen.kt
  packages/pigeon/platform_tests/test_plugin/ios/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/macos/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/windows/pigeon/core_tests.gen.cpp
  packages/pigeon/platform_tests/test_plugin/windows/pigeon/core_tests.gen.h
  packages/pigeon/pubspec.yaml
  packages/pigeon/test/kotlin_generator_test.dart
Labels: p: pigeon, autosubmit

#3076 [pigeon] Split CI and developer test scripts
  .cirrus.yml
  packages/pigeon/CONTRIBUTING.md
  packages/pigeon/platform_tests/README.md
  packages/pigeon/platform_tests/alternate_language_test_plugin/README.md
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/.gitignore
  packages/pigeon/tool/run_tests.dart
  packages/pigeon/tool/shared/test_runner.dart
  packages/pigeon/tool/shared/test_suites.dart
  packages/pigeon/tool/test.dart
Labels: p: pigeon, autosubmit, override: no versioning needed, override: no changelog needed

#3079 Roll Flutter from b1f4070d5bd0 to f33e8d3701b5 (4 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#3082 Roll Flutter from f33e8d3701b5 to bd7bee0f9eb8 (5 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#3081 [pigeon] Updates writeScoped and addScoped to disallow symbol-less use.
  packages/pigeon/CHANGELOG.md
  packages/pigeon/lib/cpp_generator.dart
  packages/pigeon/lib/dart_generator.dart
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/lib/java_generator.dart
  packages/pigeon/lib/objc_generator.dart
  packages/pigeon/mock_handler_tester/test/message.dart
  packages/pigeon/mock_handler_tester/test/test.dart
  packages/pigeon/platform_tests/alternate_language_test_plugin/android/src/main/java/com/example/alternate_language_test_plugin/CoreTests.java
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/CoreTests.gen.h
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/CoreTests.gen.m
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/core_tests.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/flutter_unittests.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/multiple_arity.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/non_null_fields.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/null_fields.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/nullable_returns.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/primitive.gen.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/core_tests.gen.dart
  packages/pigeon/platform_tests/test_plugin/android/src/main/kotlin/com/example/test_plugin/CoreTests.gen.kt
  packages/pigeon/platform_tests/test_plugin/ios/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/macos/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/windows/pigeon/core_tests.gen.cpp
  packages/pigeon/platform_tests/test_plugin/windows/pigeon/core_tests.gen.h
  packages/pigeon/pubspec.yaml
Labels: p: pigeon, autosubmit

#3083 [pigeon] Minor C++ output adjustments
  packages/pigeon/CHANGELOG.md
  packages/pigeon/lib/cpp_generator.dart
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/platform_tests/alternate_language_test_plugin/android/src/main/java/com/example/alternate_language_test_plugin/CoreTests.java
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/CoreTests.gen.h
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/CoreTests.gen.m
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/core_tests.gen.dart
  packages/pigeon/platform_tests/test_plugin/android/src/main/kotlin/com/example/test_plugin/CoreTests.gen.kt
  packages/pigeon/platform_tests/test_plugin/ios/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/macos/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/windows/pigeon/core_tests.gen.cpp
  packages/pigeon/platform_tests/test_plugin/windows/pigeon/core_tests.gen.h
  packages/pigeon/pubspec.yaml
  packages/pigeon/test/cpp_generator_test.dart
Labels: p: pigeon, autosubmit

#3085 Roll Flutter from bd7bee0f9eb8 to c35efdaa6854 (24 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#3080 [flutter_adaptive_scaffold] Fix leading Navigation Rail Widgets
  packages/flutter_adaptive_scaffold/CHANGELOG.md
  packages/flutter_adaptive_scaffold/lib/src/adaptive_scaffold.dart
  packages/flutter_adaptive_scaffold/pubspec.yaml
  packages/flutter_adaptive_scaffold/test/adaptive_scaffold_test.dart
  packages/flutter_adaptive_scaffold/test/simulated_layout.dart
Labels: autosubmit, p: flutter_adaptive_scaffold

#3087 [ci] Update legacy Flutter version tests
  .cirrus.yml
  packages/css_colors/CHANGELOG.md
  packages/css_colors/pubspec.yaml
  packages/dynamic_layouts/CHANGELOG.md
  packages/dynamic_layouts/pubspec.yaml
  packages/extension_google_sign_in_as_googleapis_auth/CHANGELOG.md
  packages/extension_google_sign_in_as_googleapis_auth/example/pubspec.yaml
  packages/extension_google_sign_in_as_googleapis_auth/pubspec.yaml
  packages/flutter_markdown/example/pubspec.yaml
  packages/pigeon/platform_tests/alternate_language_test_plugin/pubspec.yaml
  packages/pigeon/platform_tests/test_plugin/pubspec.yaml
  packages/pointer_interceptor/CHANGELOG.md
  packages/pointer_interceptor/example/pubspec.yaml
  packages/pointer_interceptor/pubspec.yaml
Labels: p: extension_google_sign_in_as_googleapis_auth, p: pigeon, p: pointer_interceptor, p: css_colors, p: flutter_markdown, autosubmit, override: no versioning needed, p: dynamic_layouts

#3089 Roll Flutter from c35efdaa6854 to a815ee634202 (22 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#3090 [pigeon] requires analyzer 5.2.0
  packages/pigeon/CHANGELOG.md
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/lib/pigeon_lib.dart
  packages/pigeon/mock_handler_tester/test/message.dart
  packages/pigeon/mock_handler_tester/test/test.dart
  packages/pigeon/platform_tests/alternate_language_test_plugin/android/src/main/java/com/example/alternate_language_test_plugin/CoreTests.java
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/CoreTests.gen.h
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/CoreTests.gen.m
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/core_tests.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/flutter_unittests.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/multiple_arity.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/non_null_fields.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/null_fields.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/nullable_returns.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/primitive.gen.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/core_tests.gen.dart
  packages/pigeon/platform_tests/test_plugin/android/src/main/kotlin/com/example/test_plugin/CoreTests.gen.kt
  packages/pigeon/platform_tests/test_plugin/ios/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/macos/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/windows/pigeon/core_tests.gen.cpp
  packages/pigeon/platform_tests/test_plugin/windows/pigeon/core_tests.gen.h
  packages/pigeon/pubspec.yaml
Labels: p: pigeon, autosubmit

#3088 [flutter_adaptive_scaffold] Change `selectedIndex` on `standardNavigationRail` to allow null value.
  packages/flutter_adaptive_scaffold/CHANGELOG.md
  packages/flutter_adaptive_scaffold/lib/src/adaptive_scaffold.dart
  packages/flutter_adaptive_scaffold/pubspec.yaml
  packages/flutter_adaptive_scaffold/test/adaptive_scaffold_test.dart
  packages/flutter_adaptive_scaffold/test/simulated_layout.dart
Labels: autosubmit, p: flutter_adaptive_scaffold

#3096 [ci] Add LUCI version of iOS build-all
  .ci.yaml
  .ci/scripts/build_all_packages_app.sh
  .ci/targets/ios_build_all_packages.yaml
  .ci/targets/mac_build_all_packages.yaml
  .ci/targets/windows_build_all_packages.yaml
Labels: autosubmit

#3094 [pigeon] Fix C++ config handling
  packages/pigeon/CHANGELOG.md
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/lib/pigeon_lib.dart
  packages/pigeon/platform_tests/alternate_language_test_plugin/android/src/main/java/com/example/alternate_language_test_plugin/CoreTests.java
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/CoreTests.gen.h
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/CoreTests.gen.m
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/core_tests.gen.dart
  packages/pigeon/platform_tests/test_plugin/android/src/main/kotlin/com/example/test_plugin/CoreTests.gen.kt
  packages/pigeon/platform_tests/test_plugin/ios/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/macos/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/windows/pigeon/core_tests.gen.cpp
  packages/pigeon/platform_tests/test_plugin/windows/pigeon/core_tests.gen.h
  packages/pigeon/pubspec.yaml
Labels: p: pigeon, autosubmit

#3095 [ci] Enable min SDK version checks
  .ci/scripts/prepare_tool.sh
  .cirrus.yml
  .github/workflows/release.yml
  packages/animations/example/pubspec.yaml
  packages/cross_file/CHANGELOG.md
  packages/cross_file/lib/src/types/html.dart
  packages/cross_file/lib/src/types/interface.dart
  packages/cross_file/lib/src/types/io.dart
  packages/cross_file/pubspec.yaml
  packages/cross_file/test/x_file_io_test.dart
  packages/flutter_lints/example/pubspec.yaml
  packages/flutter_lints/pubspec.yaml
  packages/flutter_template_images/CHANGELOG.md
  packages/flutter_template_images/pubspec.yaml
  packages/metrics_center/CHANGELOG.md
  packages/metrics_center/pubspec.yaml
  packages/multicast_dns/CHANGELOG.md
  packages/multicast_dns/pubspec.yaml
  packages/palette_generator/example/pubspec.yaml
  packages/pigeon/mock_handler_tester/pubspec.yaml
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/pubspec.yaml
  packages/pigeon/platform_tests/ios_unit_tests/pubspec.yaml
  packages/rfw/example/hello/pubspec.yaml
  packages/rfw/example/local/pubspec.yaml
  packages/rfw/example/remote/pubspec.yaml
  packages/rfw/example/wasm/pubspec.yaml
  packages/rfw/test_coverage/pubspec.yaml
  packages/xdg_directories/CHANGELOG.md
  packages/xdg_directories/pubspec.yaml
  third_party/packages/cupertino_icons/CHANGELOG.md
  third_party/packages/cupertino_icons/pubspec.yaml
Labels: p: cross_file, p: flutter_template_images, p: metrics_center, p: multicast_dns, p: palette_generator, p: pigeon, p: xdg_directories, p: cupertino_icons, p: rfw, p: flutter_lints, p: animations, autosubmit, override: no versioning needed, override: no changelog needed

#3093 Roll Flutter from a815ee634202 to c9affdba9dcd (23 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#3084 [pigeon] Swift host error handling
  packages/pigeon/CHANGELOG.md
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/lib/swift_generator.dart
  packages/pigeon/mock_handler_tester/test/message.dart
  packages/pigeon/mock_handler_tester/test/test.dart
  packages/pigeon/platform_tests/alternate_language_test_plugin/android/src/main/java/com/example/alternate_language_test_plugin/CoreTests.java
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/CoreTests.gen.h
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/CoreTests.gen.m
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/core_tests.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/flutter_unittests.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/multiple_arity.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/non_null_fields.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/null_fields.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/nullable_returns.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/primitive.gen.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/integration_tests.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/core_tests.gen.dart
  packages/pigeon/platform_tests/test_plugin/android/src/main/kotlin/com/example/test_plugin/CoreTests.gen.kt
  packages/pigeon/platform_tests/test_plugin/ios/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/ios/Classes/TestPlugin.swift
  packages/pigeon/platform_tests/test_plugin/macos/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/macos/Classes/TestPlugin.swift
  packages/pigeon/platform_tests/test_plugin/windows/pigeon/core_tests.gen.cpp
  packages/pigeon/platform_tests/test_plugin/windows/pigeon/core_tests.gen.h
  packages/pigeon/pubspec.yaml
  packages/pigeon/test/swift_generator_test.dart
Labels: p: pigeon, autosubmit

#3100 [pigeon] [ObjC] Removes unused GetNullableObject function
  packages/pigeon/CHANGELOG.md
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/lib/objc_generator.dart
  packages/pigeon/mock_handler_tester/test/message.dart
  packages/pigeon/mock_handler_tester/test/test.dart
  packages/pigeon/platform_tests/alternate_language_test_plugin/android/src/main/java/com/example/alternate_language_test_plugin/CoreTests.java
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/CoreTests.gen.h
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/CoreTests.gen.m
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/core_tests.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/flutter_unittests.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/multiple_arity.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/non_null_fields.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/null_fields.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/nullable_returns.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/primitive.gen.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/core_tests.gen.dart
  packages/pigeon/platform_tests/test_plugin/android/src/main/kotlin/com/example/test_plugin/CoreTests.gen.kt
  packages/pigeon/platform_tests/test_plugin/ios/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/macos/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/windows/pigeon/core_tests.gen.cpp
  packages/pigeon/platform_tests/test_plugin/windows/pigeon/core_tests.gen.h
  packages/pigeon/pubspec.yaml
Labels: p: pigeon, autosubmit

#3099 [ci] Fix the new LUCI iOS build-all tasks
  .ci.yaml
  .ci/targets/ios_build_all_packages.yaml
Labels: autosubmit

#3098 Roll Flutter from c9affdba9dcd to 27f8ebdaed70 (15 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#3101 [pigeon] [java] removes raw ArrayLists from Java
  packages/pigeon/CHANGELOG.md
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/lib/java_generator.dart
  packages/pigeon/mock_handler_tester/test/message.dart
  packages/pigeon/mock_handler_tester/test/test.dart
  packages/pigeon/platform_tests/alternate_language_test_plugin/android/src/main/java/com/example/alternate_language_test_plugin/CoreTests.java
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/CoreTests.gen.h
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/CoreTests.gen.m
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/core_tests.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/flutter_unittests.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/multiple_arity.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/non_null_fields.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/null_fields.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/nullable_returns.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/primitive.gen.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/core_tests.gen.dart
  packages/pigeon/platform_tests/test_plugin/android/src/main/kotlin/com/example/test_plugin/CoreTests.gen.kt
  packages/pigeon/platform_tests/test_plugin/ios/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/macos/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/windows/pigeon/core_tests.gen.cpp
  packages/pigeon/platform_tests/test_plugin/windows/pigeon/core_tests.gen.h
  packages/pigeon/pubspec.yaml
  packages/pigeon/test/java_generator_test.dart
Labels: p: pigeon, autosubmit

#3036 [go-router] Add ability to pop with result using extension #116506
  packages/go_router/CHANGELOG.md
  packages/go_router/lib/src/misc/extensions.dart
  packages/go_router/pubspec.yaml
  packages/go_router/test/go_router_test.dart
  packages/go_router/test/test_helpers.dart
Labels: p: go_router, autosubmit

#3119 [ci] Increase iOS sharding
  .ci.yaml
Labels: autosubmit

#3118 [ci] Switch more macOS tests to LUCI
  .ci.yaml
  .ci/targets/ios_platform_tests.yaml
  .ci/targets/macos_build_all_packages.yaml
  .ci/targets/macos_custom_package_tests.yaml
  .ci/targets/macos_platform_tests.yaml
  .cirrus.yml
Labels: autosubmit

#3127 [ci] Enable `strict-casts`
  analysis_options.yaml
  packages/cross_file/CHANGELOG.md
  packages/cross_file/lib/src/types/html.dart
  packages/cross_file/pubspec.yaml
  packages/cross_file/test/x_file_html_test.dart
  packages/flutter_image/test/network_test.dart
  packages/flutter_markdown/test/image_test_mocks.dart
  packages/flutter_migrate/CHANGELOG.md
  packages/flutter_migrate/lib/src/environment.dart
  packages/flutter_migrate/lib/src/utils.dart
  packages/flutter_migrate/pubspec.yaml
  packages/flutter_migrate/test/migrate_test.dart
  packages/flutter_migrate/test/update_locks_test.dart
  packages/metrics_center/CHANGELOG.md
  packages/metrics_center/lib/src/google_benchmark.dart
  packages/metrics_center/pubspec.yaml
  packages/pigeon/CHANGELOG.md
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/lib/pigeon_lib.dart
  packages/pigeon/mock_handler_tester/test/message.dart
  packages/pigeon/mock_handler_tester/test/test.dart
  packages/pigeon/platform_tests/alternate_language_test_plugin/android/src/main/java/com/example/alternate_language_test_plugin/CoreTests.java
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/CoreTests.gen.h
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/CoreTests.gen.m
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/core_tests.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/flutter_unittests.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/multiple_arity.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/non_null_fields.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/null_fields.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/nullable_returns.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/primitive.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/test/multiple_arity_test.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/test/test_util.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/core_tests.gen.dart
  packages/pigeon/platform_tests/test_plugin/android/src/main/kotlin/com/example/test_plugin/CoreTests.gen.kt
  packages/pigeon/platform_tests/test_plugin/ios/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/macos/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/windows/pigeon/core_tests.gen.cpp
  packages/pigeon/platform_tests/test_plugin/windows/pigeon/core_tests.gen.h
  packages/pigeon/pubspec.yaml
  packages/pigeon/tool/test.dart
  packages/rfw/CHANGELOG.md
  packages/rfw/example/wasm/lib/main.dart
  packages/rfw/test/runtime_test.dart
  packages/web_benchmarks/CHANGELOG.md
  packages/web_benchmarks/lib/src/browser.dart
  packages/web_benchmarks/lib/src/recorder.dart
  packages/web_benchmarks/lib/src/runner.dart
  packages/web_benchmarks/pubspec.yaml
  packages/web_benchmarks/test/src/browser_test_json_samples.dart
Labels: p: cross_file, p: metrics_center, p: pigeon, p: web_benchmarks, p: flutter_markdown, p: flutter_image, p: rfw, autosubmit, p: flutter_migrate

#3128 [ci] Roll Flutter to 9b3b9cf0893d54a40c2b6f8bc6c666ee77a8afa6
  .ci/flutter_master.version
  packages/flutter_markdown/CHANGELOG.md
  packages/flutter_markdown/lib/src/builder.dart
  packages/flutter_markdown/pubspec.yaml
  packages/flutter_markdown/test/utils.dart
Labels: p: flutter_markdown, needs tests, autosubmit

#3130 [ci] Add .g.dart to analysis ignore list
  analysis_options.yaml
Labels: autosubmit
