Repository flutter/packages, pull requests merged in 2023-09, with the labels that each got.

#4826 [tools,pigeon] Update tooling to handle Windows build output changes
  packages/pigeon/tool/shared/test_suites.dart
  script/tool/lib/src/common/cmake.dart
  script/tool/lib/src/native_test_command.dart
  script/tool/test/native_test_command_test.dart
Labels: p: pigeon, autosubmit

#4701 [webview_flutter_platform_interface] Adds option to override console log
  packages/webview_flutter/webview_flutter_platform_interface/CHANGELOG.md
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/platform_webview_controller.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/types/javascript_console_message.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/types/javascript_log_level.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/types/types.dart
  packages/webview_flutter/webview_flutter_platform_interface/pubspec.yaml
  packages/webview_flutter/webview_flutter_platform_interface/test/platform_webview_controller_test.dart
  packages/webview_flutter/webview_flutter_platform_interface/test/platform_webview_controller_test.mocks.dart
  packages/webview_flutter/webview_flutter_platform_interface/test/webview_platform_test.mocks.dart
Labels: autosubmit, p: webview_flutter

#4866 Roll Flutter (stable) from ff5b5b5fa6f3 to 2524052335ec (6 revisions)
  .ci/flutter_stable.version
Labels: autosubmit

#4852 [flutter_markdown] Remove `ignore: avoid_init_to_null` since the package uses Dart 3
  packages/flutter_markdown/lib/src/widget.dart
Labels: p: flutter_markdown, autosubmit

#4551 [video_player] Add optional web options [web]
  packages/video_player/video_player_web/CHANGELOG.md
  packages/video_player/video_player_web/example/integration_test/video_player_test.dart
  packages/video_player/video_player_web/example/integration_test/video_player_web_test.dart
  packages/video_player/video_player_web/lib/src/video_player.dart
  packages/video_player/video_player_web/lib/video_player_web.dart
  packages/video_player/video_player_web/pubspec.yaml
Labels: autosubmit, platform-web, p: video_player

#4862 [rfw, ci] Regenerate goldens, manually roll #4835
  .ci/flutter_master.version
  packages/rfw/.gitignore
  packages/rfw/CHANGELOG.md
  packages/rfw/CONTRIBUTING.md
  packages/rfw/README.md
  packages/rfw/pubspec.yaml
  packages/rfw/run_tests.sh
  packages/rfw/test/goldens/argument_decoders_test.containers.png
  packages/rfw/test/goldens/argument_decoders_test.text.png
  packages/rfw/test_coverage/bin/test_coverage.dart
Labels: p: rfw

#4870 Manual roll Flutter from 685ce14b2d0f to aea4552acdc7 (64 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#3799 [camerax] Implement resolution configuration
  packages/camera/camera_android_camerax/CHANGELOG.md
  packages/camera/camera_android_camerax/README.md
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/FallbackStrategyHostApiImpl.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/GeneratedCameraXLibrary.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/QualitySelectorHostApiImpl.java
  packages/camera/camera_android_camerax/android/src/test/java/io/flutter/plugins/camerax/FallbackStrategyTest.java
  packages/camera/camera_android_camerax/android/src/test/java/io/flutter/plugins/camerax/QualitySelectorTest.java
  packages/camera/camera_android_camerax/example/integration_test/integration_test.dart
  packages/camera/camera_android_camerax/lib/src/android_camera_camerax.dart
  packages/camera/camera_android_camerax/lib/src/camerax_library.g.dart
  packages/camera/camera_android_camerax/lib/src/fallback_strategy.dart
  packages/camera/camera_android_camerax/lib/src/quality_selector.dart
  packages/camera/camera_android_camerax/lib/src/recorder.dart
  packages/camera/camera_android_camerax/pigeons/camerax_library.dart
  packages/camera/camera_android_camerax/pubspec.yaml
  packages/camera/camera_android_camerax/test/android_camera_camerax_test.dart
  packages/camera/camera_android_camerax/test/fallback_strategy_test.dart
  packages/camera/camera_android_camerax/test/fallback_strategy_test.mocks.dart
  packages/camera/camera_android_camerax/test/quality_selector_test.dart
  packages/camera/camera_android_camerax/test/quality_selector_test.mocks.dart
  packages/camera/camera_android_camerax/test/recorder_test.dart
  packages/camera/camera_android_camerax/test/recorder_test.mocks.dart
  packages/camera/camera_android_camerax/test/test_camerax_library.g.dart
Labels: autosubmit, p: camera, platform-android

#4757 [tool] Add Android dependency (gradle) option to update dependencies command
  script/tool/lib/src/update_dependency_command.dart
  script/tool/test/update_dependency_command_test.dart
Labels: autosubmit

#3879 [webview_flutter_android] Added the functionality to fullscreen html5 video
  packages/webview_flutter/webview_flutter_android/CHANGELOG.md
  packages/webview_flutter/webview_flutter_android/README.md
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/CustomViewCallbackFlutterApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/CustomViewCallbackHostApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/FlutterViewFactory.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/GeneratedAndroidWebView.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/ViewFlutterApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebChromeClientFlutterApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebChromeClientHostApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebViewFlutterPlugin.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/CustomViewCallbackTest.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/ViewTest.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/WebChromeClientTest.java
  packages/webview_flutter/webview_flutter_android/example/integration_test/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter_android/example/lib/main.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_proxy.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview.g.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview_api_impls.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview_controller.dart
  packages/webview_flutter/webview_flutter_android/pigeons/android_webview.dart
  packages/webview_flutter/webview_flutter_android/pubspec.yaml
  packages/webview_flutter/webview_flutter_android/test/android_navigation_delegate_test.dart
  packages/webview_flutter/webview_flutter_android/test/android_navigation_delegate_test.mocks.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_controller_test.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_controller_test.mocks.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_cookie_manager_test.mocks.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_test.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_test.mocks.dart
  packages/webview_flutter/webview_flutter_android/test/instance_manager_test.mocks.dart
  packages/webview_flutter/webview_flutter_android/test/legacy/webview_android_cookie_manager_test.mocks.dart
  packages/webview_flutter/webview_flutter_android/test/legacy/webview_android_widget_test.mocks.dart
  packages/webview_flutter/webview_flutter_android/test/test_android_webview.g.dart
Labels: autosubmit, platform-android, p: webview_flutter

#4874 Roll Flutter from aea4552acdc7 to da676f79aa37 (28 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#4879 Roll Flutter from da676f79aa37 to 7c28e8eb0734 (20 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#4758 [url_launcher] migrating iOS tests from objc to swift
  packages/url_launcher/url_launcher_ios/example/ios/Runner.xcodeproj/project.pbxproj
  packages/url_launcher/url_launcher_ios/example/ios/RunnerTests/URLLauncherTests.m
  packages/url_launcher/url_launcher_ios/example/ios/RunnerTests/URLLauncherTests.swift
  packages/url_launcher/url_launcher_ios/example/ios/RunnerUITests/URLLauncherUITests.m
  packages/url_launcher/url_launcher_ios/example/ios/RunnerUITests/URLLauncherUITests.swift
  packages/url_launcher/url_launcher_ios/ios/url_launcher_ios.podspec
Labels: autosubmit, override: no versioning needed, override: no changelog needed, platform-ios, p: url_launcher

#4768 [google_maps_flutter_android] Fix for testToggleInfoWindow persistently flaky
  packages/google_maps_flutter/google_maps_flutter_android/example/integration_test/google_maps_tests.dart
Labels: autosubmit, p: google_maps_flutter, platform-android

#4738 [image_picker] Copy exif tags in categories II and III
  packages/image_picker/image_picker_android/CHANGELOG.md
  packages/image_picker/image_picker_android/android/src/main/java/io/flutter/plugins/imagepicker/ExifDataCopier.java
  packages/image_picker/image_picker_android/android/src/main/java/io/flutter/plugins/imagepicker/ImageResizer.java
  packages/image_picker/image_picker_android/android/src/test/java/io/flutter/plugins/imagepicker/ExifDataCopierTest.java
  packages/image_picker/image_picker_android/pubspec.yaml
Labels: autosubmit, p: image_picker, platform-android

#4899 [ios_platform_images] Add integration tests
  packages/ios_platform_images/example/integration_test/ios_platform_images_test.dart
  packages/ios_platform_images/example/pubspec.yaml
Labels: autosubmit, p: ios_platform_images

#4851 [flutter_markdown] Fix changelog regarding minimum supported SDK version
  packages/flutter_markdown/CHANGELOG.md
  packages/flutter_markdown/pubspec.yaml
Labels: p: flutter_markdown, autosubmit

#4904 [tool] Add a package inclusion filter
  script/tool/lib/src/common/package_command.dart
  script/tool/test/common/package_command_test.dart
Labels: autosubmit

#4815 [camerax] Implement `startVideoCapturing` and `onVideoRecordedEvent`
  packages/camera/camera_android_camerax/CHANGELOG.md
  packages/camera/camera_android_camerax/README.md
  packages/camera/camera_android_camerax/lib/src/android_camera_camerax.dart
  packages/camera/camera_android_camerax/pubspec.yaml
  packages/camera/camera_android_camerax/test/android_camera_camerax_test.dart
Labels: autosubmit, p: camera

#4910 Roll Flutter from 219efce7f16d to 4e7a07af882c (30 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#4912 Replace collection type lints with more general lint
  analysis_options.yaml
Labels: autosubmit

#4921 go_router_builder: support the latest pkg:analyzer
  packages/go_router_builder/CHANGELOG.md
  packages/go_router_builder/pubspec.yaml
Labels: p: go_router_builder

#4919 Manual Roll of Flutter from 4e7a07af882c to 61b890bfcbc1
  .ci/flutter_master.version
  .ci/legacy_project/all_packages/android/gradle.properties
Labels: autosubmit

#4928 Roll Flutter from 61b890bfcbc1 to 58ba6c295d8c (16 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#4920 [ci] Enable ios_platform_images tests
  script/configs/exclude_integration_ios.yaml
Labels: autosubmit

#4929 Roll Flutter (stable) from 2524052335ec to 367f9ea16bfa (3 revisions)
  .ci/flutter_stable.version
Labels: autosubmit

#4925 [ios_platform_images] Add extension tests
  packages/ios_platform_images/example/assets/2.0x/multisize.png
  packages/ios_platform_images/example/assets/monosize.png
  packages/ios_platform_images/example/assets/multisize.png
  packages/ios_platform_images/example/ios/Runner.xcodeproj/project.pbxproj
  packages/ios_platform_images/example/ios/RunnerTests/UIImage+ios_platform_imagesTests.m
  packages/ios_platform_images/example/pubspec.yaml
Labels: autosubmit, override: no changelog needed, p: ios_platform_images, platform-ios

#4931 [image_picker] Add missing entitlements to macOS example
  packages/image_picker/image_picker/example/macos/Runner.xcodeproj/project.pbxproj
  packages/image_picker/image_picker/example/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/image_picker/image_picker/example/macos/Runner.xcworkspace/contents.xcworkspacedata
  packages/image_picker/image_picker/example/macos/Runner/DebugProfile.entitlements
  packages/image_picker/image_picker/example/macos/Runner/Release.entitlements
Labels: override: no changelog needed, p: image_picker, platform-macos

#4934 Roll Flutter from 58ba6c295d8c to 72b69f944915 (21 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#4938 Roll Flutter from 72b69f944915 to e5e36ad34058 (12 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#4940 Roll Flutter from e5e36ad34058 to 1b18b1327a59 (8 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#4924 [camera_android] Removes usage of `_ambiguate` method in example
  packages/camera/camera_android/CHANGELOG.md
  packages/camera/camera_android/example/lib/main.dart
  packages/camera/camera_android/pubspec.yaml
Labels: autosubmit, p: camera, platform-android

#4902 Add dashboard link to README
  README.md
Labels: autosubmit

#4881 [go_router] Fix an issue in the documentation that used `state.queryParameters` instead of `state.uri.queryParameters`
  packages/go_router/CHANGELOG.md
  packages/go_router/doc/configuration.md
  packages/go_router/pubspec.yaml
Labels: p: go_router, autosubmit

#4923 [video_player] isCompleted event.
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/lib/video_player.dart
  packages/video_player/video_player/pubspec.yaml
  packages/video_player/video_player/test/video_player_test.dart
Labels: autosubmit, p: video_player

#4944 Roll Flutter from 1b18b1327a59 to b7d0e8c9ed70 (11 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#4587 [camera_avfoundation] ignore audio samples until first video sample
  packages/camera/camera_avfoundation/CHANGELOG.md
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraTestUtils.h
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraTestUtils.m
  packages/camera/camera_avfoundation/example/ios/RunnerTests/FLTCamSampleBufferTests.m
  packages/camera/camera_avfoundation/ios/Classes/FLTCam.m
  packages/camera/camera_avfoundation/pubspec.yaml
Labels: autosubmit, p: camera, platform-ios

#4946 [file_selector] Fix unknown extensions on macOS
  packages/file_selector/file_selector_macos/CHANGELOG.md
  packages/file_selector/file_selector_macos/example/macos/RunnerTests/RunnerTests.swift
  packages/file_selector/file_selector_macos/macos/Classes/FileSelectorPlugin.swift
  packages/file_selector/file_selector_macos/pubspec.yaml
Labels: autosubmit, p: file_selector, platform-macos

#4713 [go_router] Fixes RouteInformationParser that does not restore full RouteMatchList if the optionURLReflectsImperativeAPIs is set
  packages/go_router/CHANGELOG.md
  packages/go_router/lib/src/parser.dart
  packages/go_router/pubspec.yaml
  packages/go_router/test/go_router_test.dart
  packages/go_router/test/parser_test.dart
Labels: p: go_router, autosubmit

#4699 [go_router] Adds on exit
  packages/go_router/CHANGELOG.md
  packages/go_router/example/lib/on_exit.dart
  packages/go_router/example/test/on_exit_test.dart
  packages/go_router/lib/src/builder.dart
  packages/go_router/lib/src/delegate.dart
  packages/go_router/lib/src/route.dart
  packages/go_router/pubspec.yaml
  packages/go_router/test/on_exit_test.dart
Labels: p: go_router, autosubmit

#4947 Roll Flutter from b7d0e8c9ed70 to 893650416352 (15 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#4880 [go_router_builder] Generate initialLocation with StatefulShellBranchConfig
  packages/go_router_builder/CHANGELOG.md
  packages/go_router_builder/example/lib/stateful_shell_route_initial_location_example.dart
  packages/go_router_builder/example/lib/stateful_shell_route_initial_location_example.g.dart
  packages/go_router_builder/example/test/stateful_shell_route_initial_location_test.dart
  packages/go_router_builder/lib/src/route_config.dart
  packages/go_router_builder/pubspec.yaml
  packages/go_router_builder/test_inputs/statefull_shell_branch_data.dart
  packages/go_router_builder/test_inputs/statefull_shell_branch_data.dart.expect
Labels: p: go_router_builder, autosubmit

#4945 [ios_platform_images] Convert to Pigeon
  packages/ios_platform_images/CHANGELOG.md
  packages/ios_platform_images/example/ios/Runner.xcodeproj/project.pbxproj
  packages/ios_platform_images/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/ios_platform_images/ios/Classes/IosPlatformImagesPlugin.h
  packages/ios_platform_images/ios/Classes/IosPlatformImagesPlugin.m
  packages/ios_platform_images/ios/Classes/messages.g.h
  packages/ios_platform_images/ios/Classes/messages.g.m
  packages/ios_platform_images/lib/ios_platform_images.dart
  packages/ios_platform_images/lib/src/messages.g.dart
  packages/ios_platform_images/pigeons/copyright.txt
  packages/ios_platform_images/pigeons/messages.dart
  packages/ios_platform_images/pubspec.yaml
  packages/ios_platform_images/test/ios_platform_images_test.dart
Labels: autosubmit, p: ios_platform_images, platform-ios

#4959 [various] Update invalid NSURL tests
  packages/url_launcher/url_launcher_ios/example/ios/RunnerTests/URLLauncherTests.swift
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/RunnerTests/FWFWebViewHostApiTests.m
Labels: autosubmit, platform-ios, p: webview_flutter, p: url_launcher

#4723 [go_router] Fixes the GoRouter.goBranch so that it doesn't reset extr…
  packages/go_router/CHANGELOG.md
  packages/go_router/README.md
  packages/go_router/lib/src/information_provider.dart
  packages/go_router/lib/src/parser.dart
  packages/go_router/lib/src/router.dart
  packages/go_router/pubspec.yaml
  packages/go_router/test/go_router_test.dart
Labels: p: go_router, autosubmit

#4976 Manual roll Flutter (stable) from 367f9ea16bfa to 12fccda59847 (2 revisions)
  .ci/flutter_stable.version
Labels: autosubmit

#4948 [camera_android] Removes usage of `_ambiguate` method in tests
  packages/camera/camera_android/test/android_camera_test.dart
  packages/camera/camera_android/test/method_channel_mock.dart
Labels: autosubmit, p: camera, platform-android

#4836 [image_picker_android] check if data from result is empty when picking a single img or video
  packages/image_picker/image_picker_android/CHANGELOG.md
  packages/image_picker/image_picker_android/android/src/main/java/io/flutter/plugins/imagepicker/ImagePickerDelegate.java
  packages/image_picker/image_picker_android/android/src/test/java/io/flutter/plugins/imagepicker/ImagePickerDelegateTest.java
  packages/image_picker/image_picker_android/pubspec.yaml
Labels: autosubmit, p: image_picker, platform-android

#4985 Manual roll Flutter from 893650416352 to f92884c7b846 (48 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#4993 [various] Remove obsolete symlinks
  packages/in_app_purchase/in_app_purchase_storekit/ios/Classes/FIAObjectTranslator.h
  packages/in_app_purchase/in_app_purchase_storekit/ios/Classes/FIAObjectTranslator.m
  packages/in_app_purchase/in_app_purchase_storekit/ios/Classes/FIAPPaymentQueueDelegate.h
  packages/in_app_purchase/in_app_purchase_storekit/ios/Classes/FIAPPaymentQueueDelegate.m
  packages/in_app_purchase/in_app_purchase_storekit/ios/Classes/FIAPReceiptManager.h
  packages/in_app_purchase/in_app_purchase_storekit/ios/Classes/FIAPReceiptManager.m
  packages/in_app_purchase/in_app_purchase_storekit/ios/Classes/FIAPRequestHandler.h
  packages/in_app_purchase/in_app_purchase_storekit/ios/Classes/FIAPRequestHandler.m
  packages/in_app_purchase/in_app_purchase_storekit/ios/Classes/FIAPaymentQueueHandler.h
  packages/in_app_purchase/in_app_purchase_storekit/ios/Classes/FIAPaymentQueueHandler.m
  packages/in_app_purchase/in_app_purchase_storekit/ios/Classes/FIATransactionCache.h
  packages/in_app_purchase/in_app_purchase_storekit/ios/Classes/FIATransactionCache.m
  packages/in_app_purchase/in_app_purchase_storekit/ios/Classes/InAppPurchasePlugin.h
  packages/in_app_purchase/in_app_purchase_storekit/ios/Classes/InAppPurchasePlugin.m
  packages/in_app_purchase/in_app_purchase_storekit/ios/in_app_purchase_storekit.podspec
  packages/in_app_purchase/in_app_purchase_storekit/macos/Classes/FIAObjectTranslator.h
  packages/in_app_purchase/in_app_purchase_storekit/macos/Classes/FIAObjectTranslator.m
  packages/in_app_purchase/in_app_purchase_storekit/macos/Classes/FIAPPaymentQueueDelegate.h
  packages/in_app_purchase/in_app_purchase_storekit/macos/Classes/FIAPPaymentQueueDelegate.m
  packages/in_app_purchase/in_app_purchase_storekit/macos/Classes/FIAPReceiptManager.h
  packages/in_app_purchase/in_app_purchase_storekit/macos/Classes/FIAPReceiptManager.m
  packages/in_app_purchase/in_app_purchase_storekit/macos/Classes/FIAPRequestHandler.h
  packages/in_app_purchase/in_app_purchase_storekit/macos/Classes/FIAPRequestHandler.m
  packages/in_app_purchase/in_app_purchase_storekit/macos/Classes/FIAPaymentQueueHandler.h
  packages/in_app_purchase/in_app_purchase_storekit/macos/Classes/FIAPaymentQueueHandler.m
  packages/in_app_purchase/in_app_purchase_storekit/macos/Classes/FIATransactionCache.h
  packages/in_app_purchase/in_app_purchase_storekit/macos/Classes/FIATransactionCache.m
  packages/in_app_purchase/in_app_purchase_storekit/macos/Classes/InAppPurchasePlugin.h
  packages/in_app_purchase/in_app_purchase_storekit/macos/Classes/InAppPurchasePlugin.m
  packages/in_app_purchase/in_app_purchase_storekit/macos/in_app_purchase_storekit.podspec
  packages/path_provider/path_provider_foundation/ios/Classes/PathProviderPlugin.swift
  packages/path_provider/path_provider_foundation/ios/Classes/messages.g.swift
  packages/path_provider/path_provider_foundation/ios/README.md
  packages/path_provider/path_provider_foundation/ios/path_provider_foundation.podspec
  packages/path_provider/path_provider_foundation/macos/Classes/PathProviderPlugin.swift
  packages/path_provider/path_provider_foundation/macos/Classes/messages.g.swift
  packages/path_provider/path_provider_foundation/macos/README.md
  packages/path_provider/path_provider_foundation/macos/path_provider_foundation.podspec
  packages/shared_preferences/shared_preferences_foundation/ios/Classes/SharedPreferencesPlugin.swift
  packages/shared_preferences/shared_preferences_foundation/ios/Classes/messages.g.swift
  packages/shared_preferences/shared_preferences_foundation/ios/README.md
  packages/shared_preferences/shared_preferences_foundation/ios/shared_preferences_foundation.podspec
  packages/shared_preferences/shared_preferences_foundation/macos/Classes/SharedPreferencesPlugin.swift
  packages/shared_preferences/shared_preferences_foundation/macos/Classes/messages.g.swift
  packages/shared_preferences/shared_preferences_foundation/macos/README.md
  packages/shared_preferences/shared_preferences_foundation/macos/shared_preferences_foundation.podspec
Labels: autosubmit, override: no versioning needed, override: no changelog needed, p: in_app_purchase, p: path_provider, platform-ios, platform-macos, p: shared_preferences

#4951 [camera_android] Set buildconfig to true for compatibility with AGP 8.0+
  packages/camera/camera_android/CHANGELOG.md
  packages/camera/camera_android/android/build.gradle
  packages/camera/camera_android/example/android/build.gradle
  packages/camera/camera_android/example/android/gradle/wrapper/gradle-wrapper.properties
  packages/camera/camera_android/pubspec.yaml
Labels: autosubmit, p: camera, platform-android

#4984 [go_router] Fixes the Android back button ignores top level route's o…
  packages/go_router/CHANGELOG.md
  packages/go_router/lib/src/delegate.dart
  packages/go_router/pubspec.yaml
  packages/go_router/test/on_exit_test.dart
Labels: p: go_router, autosubmit

#4997 [camera_android] Downgrade to AGP 7.3.0 to fix build_alll_packages test failures
  packages/camera/camera_android/CHANGELOG.md
  packages/camera/camera_android/android/build.gradle
  packages/camera/camera_android/pubspec.yaml
  script/configs/exclude_all_packages_app.yaml
  script/tool/lib/src/create_all_packages_app_command.dart
  script/tool/test/create_all_packages_app_command_test.dart
Labels: warning: land on red to fix tree breakage, autosubmit, p: camera, platform-android

#4961 [video_player] Ensures autoplay is false on the web.
  packages/video_player/video_player_web/CHANGELOG.md
  packages/video_player/video_player_web/example/integration_test/video_player_test.dart
  packages/video_player/video_player_web/lib/src/video_player.dart
  packages/video_player/video_player_web/pubspec.yaml
Labels: autosubmit, platform-web, p: video_player

#4717 [GoRouter] option to override initial route set by platform
  packages/go_router/CHANGELOG.md
  packages/go_router/lib/src/router.dart
  packages/go_router/pubspec.yaml
  packages/go_router/test/go_router_test.dart
  packages/go_router/test/test_helpers.dart
Labels: p: go_router, autosubmit

#4998 [go_router] Fix @tool directive with missing @end-tool
  packages/go_router/CHANGELOG.md
  packages/go_router/lib/src/route.dart
  packages/go_router/pubspec.yaml
Labels: p: go_router

#4994 [video_player] Update iOS prefixes
  packages/video_player/video_player_avfoundation/CHANGELOG.md
  packages/video_player/video_player_avfoundation/example/ios/RunnerTests/VideoPlayerTests.m
  packages/video_player/video_player_avfoundation/ios/Classes/AVAssetTrackUtils.h
  packages/video_player/video_player_avfoundation/ios/Classes/AVAssetTrackUtils.m
  packages/video_player/video_player_avfoundation/ios/Classes/FVPVideoPlayerPlugin.h
  packages/video_player/video_player_avfoundation/ios/Classes/FVPVideoPlayerPlugin.m
  packages/video_player/video_player_avfoundation/ios/Classes/FVPVideoPlayerPlugin_Test.h
  packages/video_player/video_player_avfoundation/ios/Classes/messages.g.h
  packages/video_player/video_player_avfoundation/ios/Classes/messages.g.m
  packages/video_player/video_player_avfoundation/lib/src/messages.g.dart
  packages/video_player/video_player_avfoundation/pigeons/messages.dart
  packages/video_player/video_player_avfoundation/pubspec.yaml
  packages/video_player/video_player_avfoundation/test/test_api.g.dart
Labels: autosubmit, platform-ios, p: video_player

#4974 [Android] Add new tasks for subset of tests to run API 33
  .ci.yaml
  .ci/targets/android_platform_tests_api_33_avd.yaml
  script/configs/still_requires_api_33_avd.yaml
Labels: autosubmit

#5007 [tool] Don't lint Flutter shim podspecs
  script/tool/lib/src/podspec_check_command.dart
  script/tool/test/podspec_check_command_test.dart
Labels: autosubmit

#4875 [go_router] Avoid logging when `debugLogDiagnostics` is `false`
  packages/go_router/CHANGELOG.md
  packages/go_router/lib/src/builder.dart
  packages/go_router/lib/src/configuration.dart
  packages/go_router/lib/src/logging.dart
  packages/go_router/lib/src/parser.dart
  packages/go_router/lib/src/router.dart
  packages/go_router/pubspec.yaml
  packages/go_router/test/logging_test.dart
Labels: p: go_router, autosubmit

#5025 [camera] Fix Android autofocus state reading
  packages/camera/camera_android/CHANGELOG.md
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/CameraCaptureCallback.java
  packages/camera/camera_android/android/src/test/java/io/flutter/plugins/camera/CameraCaptureCallbackTest.java
  packages/camera/camera_android/pubspec.yaml
Labels: autosubmit, p: camera, platform-android

#5011 Manual roll Flutter from f92884c7b846 to ff4a0f676f41 (107 revisions)
  .ci/flutter_master.version
  packages/google_sign_in/google_sign_in_android/example/android/app/src/androidTest/java/io/flutter/plugins/googlesigninexample/GoogleSignInTest.java
  packages/image_picker/image_picker_android/example/android/app/src/androidTest/java/io/flutter/plugins/imagepickerexample/ImagePickerTest.java
Labels: autosubmit, p: google_sign_in, p: image_picker, platform-android

#5021 [video_player] Endorse macOS
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/README.md
  packages/video_player/video_player/example/macos/.gitignore
  packages/video_player/video_player/example/macos/Flutter/Flutter-Debug.xcconfig
  packages/video_player/video_player/example/macos/Flutter/Flutter-Release.xcconfig
  packages/video_player/video_player/example/macos/Podfile
  packages/video_player/video_player/example/macos/Runner.xcodeproj/project.pbxproj
  packages/video_player/video_player/example/macos/Runner.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  packages/video_player/video_player/example/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/video_player/video_player/example/macos/Runner.xcworkspace/contents.xcworkspacedata
  packages/video_player/video_player/example/macos/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  packages/video_player/video_player/example/macos/Runner/AppDelegate.swift
  packages/video_player/video_player/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
  packages/video_player/video_player/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_1024.png
  packages/video_player/video_player/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_128.png
  packages/video_player/video_player/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_16.png
  packages/video_player/video_player/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_256.png
  packages/video_player/video_player/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_32.png
  packages/video_player/video_player/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_512.png
  packages/video_player/video_player/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_64.png
  packages/video_player/video_player/example/macos/Runner/Base.lproj/MainMenu.xib
  packages/video_player/video_player/example/macos/Runner/Configs/AppInfo.xcconfig
  packages/video_player/video_player/example/macos/Runner/Configs/Debug.xcconfig
  packages/video_player/video_player/example/macos/Runner/Configs/Release.xcconfig
  packages/video_player/video_player/example/macos/Runner/Configs/Warnings.xcconfig
  packages/video_player/video_player/example/macos/Runner/DebugProfile.entitlements
  packages/video_player/video_player/example/macos/Runner/Info.plist
  packages/video_player/video_player/example/macos/Runner/MainFlutterWindow.swift
  packages/video_player/video_player/example/macos/Runner/Release.entitlements
  packages/video_player/video_player/pubspec.yaml
  script/tool/lib/src/drive_examples_command.dart
  script/tool/test/drive_examples_command_test.dart
Labels: warning: land on red to fix tree breakage, autosubmit, platform-macos, p: video_player

#5036 Roll Flutter from ff4a0f676f41 to 57b5c3cda000 (47 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#5034 [camera] Remove `@throw` from iOS implementation
  packages/camera/camera_avfoundation/CHANGELOG.md
  packages/camera/camera_avfoundation/example/ios/Runner.xcodeproj/project.pbxproj
  packages/camera/camera_avfoundation/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraPropertiesTests.m
  packages/camera/camera_avfoundation/ios/Classes/CameraProperties.h
  packages/camera/camera_avfoundation/ios/Classes/CameraProperties.m
  packages/camera/camera_avfoundation/ios/Classes/FLTCam.m
  packages/camera/camera_avfoundation/pubspec.yaml
Labels: autosubmit, p: camera, platform-ios

#4702 [webview_flutter_android] Adds Android implementation to override console log
  packages/webview_flutter/webview_flutter_android/CHANGELOG.md
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/GeneratedAndroidWebView.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebChromeClientFlutterApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebChromeClientHostApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/WebChromeClientTest.java
  packages/webview_flutter/webview_flutter_android/example/integration_test/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter_android/example/lib/main.dart
  packages/webview_flutter/webview_flutter_android/example/pubspec.yaml
  packages/webview_flutter/webview_flutter_android/lib/src/android_proxy.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview.g.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview_api_impls.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview_controller.dart
  packages/webview_flutter/webview_flutter_android/pigeons/android_webview.dart
  packages/webview_flutter/webview_flutter_android/pubspec.yaml
  packages/webview_flutter/webview_flutter_android/test/android_navigation_delegate_test.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_controller_test.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_controller_test.mocks.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_cookie_manager_test.mocks.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_test.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_test.mocks.dart
  packages/webview_flutter/webview_flutter_android/test/legacy/webview_android_widget_test.mocks.dart
  packages/webview_flutter/webview_flutter_android/test/test_android_webview.g.dart
Labels: autosubmit, platform-android, p: webview_flutter

#4003 [camera] Dispose resources correctly on setDescription
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/lib/src/camera_controller.dart
  packages/camera/camera/pubspec.yaml
  packages/camera/camera/test/camera_test.dart
Labels: autosubmit, p: camera

#5003 [ci] Disable maps tests in Android emulator
  script/configs/exclude_integration_android_emulator.yaml
Labels: autosubmit

#4927 [webview_flutter_android][webview_flutter_wkwebview] Adds support for `getUserAgent` for `webview_flutter` platform implementations
  packages/webview_flutter/webview_flutter_android/CHANGELOG.md
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/GeneratedAndroidWebView.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebSettingsHostApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/WebSettingsTest.java
  packages/webview_flutter/webview_flutter_android/example/integration_test/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview.g.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview_api_impls.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview_controller.dart
  packages/webview_flutter/webview_flutter_android/pigeons/android_webview.dart
  packages/webview_flutter/webview_flutter_android/pubspec.yaml
  packages/webview_flutter/webview_flutter_android/test/android_webview_controller_test.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_controller_test.mocks.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_cookie_manager_test.mocks.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_test.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_test.mocks.dart
  packages/webview_flutter/webview_flutter_android/test/legacy/webview_android_cookie_manager_test.mocks.dart
  packages/webview_flutter/webview_flutter_android/test/legacy/webview_android_widget_test.mocks.dart
  packages/webview_flutter/webview_flutter_android/test/test_android_webview.g.dart
  packages/webview_flutter/webview_flutter_wkwebview/CHANGELOG.md
  packages/webview_flutter/webview_flutter_wkwebview/example/integration_test/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/RunnerTests/FWFWebViewHostApiTests.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFGeneratedWebKitApis.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFGeneratedWebKitApis.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFWebViewHostApi.m
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/common/web_kit.g.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/web_kit/web_kit.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/web_kit/web_kit_api_impls.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/webkit_webview_controller.dart
  packages/webview_flutter/webview_flutter_wkwebview/pigeons/web_kit.dart
  packages/webview_flutter/webview_flutter_wkwebview/pubspec.yaml
  packages/webview_flutter/webview_flutter_wkwebview/test/legacy/web_kit_webview_widget_test.mocks.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/common/test_web_kit.g.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/ui_kit/ui_kit_test.mocks.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit/web_kit_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit/web_kit_test.mocks.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/webkit_webview_controller_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/webkit_webview_controller_test.mocks.dart
Labels: autosubmit, platform-android, platform-ios, p: webview_flutter, federated: partial_changes

#4911 [ci] Wait for LUCI test checkin in `release`
  .github/workflows/release.yml
Labels: autosubmit

#5037 [webview_flutter_android] Fix race condition in flaky test
  packages/webview_flutter/webview_flutter_android/example/integration_test/legacy/webview_flutter_test.dart
Labels: autosubmit, platform-android, p: webview_flutter

#4472 [webview_flutter] Add a method for getting the user agent
  packages/webview_flutter/webview_flutter/CHANGELOG.md
  packages/webview_flutter/webview_flutter/example/integration_test/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter/example/pubspec.yaml
  packages/webview_flutter/webview_flutter/lib/src/webview_controller.dart
  packages/webview_flutter/webview_flutter/pubspec.yaml
  packages/webview_flutter/webview_flutter/test/legacy/webview_flutter_test.mocks.dart
  packages/webview_flutter/webview_flutter/test/navigation_delegate_test.mocks.dart
  packages/webview_flutter/webview_flutter/test/webview_controller_test.dart
  packages/webview_flutter/webview_flutter/test/webview_controller_test.mocks.dart
  packages/webview_flutter/webview_flutter/test/webview_cookie_manager_test.mocks.dart
  packages/webview_flutter/webview_flutter/test/webview_widget_test.mocks.dart
Labels: autosubmit, p: webview_flutter, federated: all_changes

#5043 Roll Flutter from 57b5c3cda000 to d3df8f6bbf74 (24 revisions)
  .ci/flutter_master.version
Labels: autosubmit
