Repository flutter/packages, pull requests merged in 2023-03, with the labels that each got.

#3327 [image_picker] Update minimum Flutter version to 3.3 and iOS 11
  packages/image_picker/image_picker/CHANGELOG.md
  packages/image_picker/image_picker/README.md
  packages/image_picker/image_picker/example/ios/Flutter/AppFrameworkInfo.plist
  packages/image_picker/image_picker/example/ios/Podfile
  packages/image_picker/image_picker/example/ios/Runner.xcodeproj/project.pbxproj
  packages/image_picker/image_picker/example/ios/Runner/Info.plist
  packages/image_picker/image_picker/pubspec.yaml
  packages/image_picker/image_picker_ios/CHANGELOG.md
  packages/image_picker/image_picker_ios/example/ios/Flutter/AppFrameworkInfo.plist
  packages/image_picker/image_picker_ios/example/ios/Podfile
  packages/image_picker/image_picker_ios/example/ios/Runner.xcodeproj/project.pbxproj
  packages/image_picker/image_picker_ios/example/ios/Runner/Info.plist
  packages/image_picker/image_picker_ios/example/ios/RunnerTests/ImagePickerPluginTests.m
  packages/image_picker/image_picker_ios/ios/Classes/FLTImagePickerPhotoAssetUtil.m
  packages/image_picker/image_picker_ios/ios/Classes/FLTImagePickerPlugin.m
  packages/image_picker/image_picker_ios/ios/image_picker_ios.podspec
  packages/image_picker/image_picker_ios/pubspec.yaml
Labels: autosubmit, p: image_picker, platform-ios

#3260 [pigeon] Add Kotlin parameters to run pigeon command
  packages/pigeon/CHANGELOG.md
  packages/pigeon/example/README.md
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/mock_handler_tester/test/message.dart
  packages/pigeon/mock_handler_tester/test/test.dart
  packages/pigeon/platform_tests/alternate_language_test_plugin/android/src/main/java/com/example/alternate_language_test_plugin/CoreTests.java
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/CoreTests.gen.h
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/CoreTests.gen.m
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/core_tests.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/flutter_unittests.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/multiple_arity.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/non_null_fields.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/null_fields.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/nullable_returns.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/primitive.gen.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/core_tests.gen.dart
  packages/pigeon/platform_tests/test_plugin/android/src/main/kotlin/com/example/test_plugin/CoreTests.gen.kt
  packages/pigeon/platform_tests/test_plugin/ios/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/macos/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/windows/pigeon/core_tests.gen.cpp
  packages/pigeon/platform_tests/test_plugin/windows/pigeon/core_tests.gen.h
  packages/pigeon/pubspec.yaml
Labels: p: pigeon, autosubmit, platform-android, platform-ios, platform-macos, platform-windows

#3267 [image_picker_android] Adds Android 13 photo picker functionality
  packages/image_picker/image_picker_android/CHANGELOG.md
  packages/image_picker/image_picker_android/android/build.gradle
  packages/image_picker/image_picker_android/android/gradle.properties
  packages/image_picker/image_picker_android/android/gradle/wrapper/gradle-wrapper.properties
  packages/image_picker/image_picker_android/android/src/main/java/io/flutter/plugins/imagepicker/ImagePickerDelegate.java
  packages/image_picker/image_picker_android/android/src/test/java/io/flutter/plugins/imagepicker/ImagePickerDelegateTest.java
  packages/image_picker/image_picker_android/example/android/app/build.gradle
  packages/image_picker/image_picker_android/pubspec.yaml
Labels: autosubmit, p: image_picker, platform-android

#3322 [tool] Provide a --base-branch flag
  script/tool/README.md
  script/tool/lib/src/common/git_version_finder.dart
  script/tool/lib/src/common/package_command.dart
  script/tool/test/common/git_version_finder_test.dart
Labels: autosubmit

#3325 [file_selector] Update minimum Flutter version to 3.3 and iOS 11
  packages/file_selector/file_selector/CHANGELOG.md
  packages/file_selector/file_selector/README.md
  packages/file_selector/file_selector/example/ios/Runner.xcodeproj/project.pbxproj
  packages/file_selector/file_selector/example/ios/Runner.xcworkspace/contents.xcworkspacedata
  packages/file_selector/file_selector/pubspec.yaml
  packages/file_selector/file_selector_ios/CHANGELOG.md
  packages/file_selector/file_selector_ios/example/ios/Runner.xcodeproj/project.pbxproj
  packages/file_selector/file_selector_ios/example/ios/RunnerTests/FileSelectorTests.m
  packages/file_selector/file_selector_ios/ios/Classes/FFSFileSelectorPlugin.m
  packages/file_selector/file_selector_ios/ios/file_selector_ios.podspec
  packages/file_selector/file_selector_ios/pubspec.yaml
Labels: autosubmit, p: file_selector, platform-ios

#3328 [video_player] Update minimum Flutter version to 3.3 and iOS 11
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/README.md
  packages/video_player/video_player/example/ios/Flutter/AppFrameworkInfo.plist
  packages/video_player/video_player/example/ios/Podfile
  packages/video_player/video_player/example/ios/Runner.xcodeproj/project.pbxproj
  packages/video_player/video_player/example/ios/Runner/Info.plist
  packages/video_player/video_player/pubspec.yaml
  packages/video_player/video_player_avfoundation/CHANGELOG.md
  packages/video_player/video_player_avfoundation/example/ios/Flutter/AppFrameworkInfo.plist
  packages/video_player/video_player_avfoundation/example/ios/Podfile
  packages/video_player/video_player_avfoundation/example/ios/Runner.xcodeproj/project.pbxproj
  packages/video_player/video_player_avfoundation/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/video_player/video_player_avfoundation/example/ios/Runner/Info.plist
  packages/video_player/video_player_avfoundation/ios/video_player_avfoundation.podspec
  packages/video_player/video_player_avfoundation/pubspec.yaml
Labels: needs tests, autosubmit, platform-ios, p: video_player

#3329 [google_maps_flutter] Update minimum Flutter version to 3.3 and iOS 11
  packages/google_maps_flutter/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter/README.md
  packages/google_maps_flutter/google_maps_flutter/example/ios/Flutter/AppFrameworkInfo.plist
  packages/google_maps_flutter/google_maps_flutter/example/ios/Podfile
  packages/google_maps_flutter/google_maps_flutter/example/ios/Runner.xcodeproj/project.pbxproj
  packages/google_maps_flutter/google_maps_flutter/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/google_maps_flutter/google_maps_flutter/example/ios/Runner/Info.plist
  packages/google_maps_flutter/google_maps_flutter/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_ios/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios/Flutter/AppFrameworkInfo.plist
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios/Podfile
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios/Runner.xcodeproj/project.pbxproj
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios/Runner/Info.plist
  packages/google_maps_flutter/google_maps_flutter_ios/ios/Classes/GoogleMapController.m
  packages/google_maps_flutter/google_maps_flutter_ios/ios/google_maps_flutter_ios.podspec
  packages/google_maps_flutter/google_maps_flutter_ios/lib/src/google_maps_flutter_ios.dart
  packages/google_maps_flutter/google_maps_flutter_ios/pubspec.yaml
Labels: needs tests, autosubmit, p: google_maps_flutter, platform-ios

#3330 [google_sign_in] Update minimum Flutter version to 3.3 and iOS 11
  packages/google_sign_in/google_sign_in/CHANGELOG.md
  packages/google_sign_in/google_sign_in/README.md
  packages/google_sign_in/google_sign_in/example/ios/Flutter/AppFrameworkInfo.plist
  packages/google_sign_in/google_sign_in/example/ios/Podfile
  packages/google_sign_in/google_sign_in/example/ios/Runner.xcodeproj/project.pbxproj
  packages/google_sign_in/google_sign_in/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/google_sign_in/google_sign_in/example/ios/Runner/Info.plist
  packages/google_sign_in/google_sign_in/pubspec.yaml
  packages/google_sign_in/google_sign_in_ios/CHANGELOG.md
  packages/google_sign_in/google_sign_in_ios/example/ios/Flutter/AppFrameworkInfo.plist
  packages/google_sign_in/google_sign_in_ios/example/ios/Podfile
  packages/google_sign_in/google_sign_in_ios/example/ios/Runner.xcodeproj/project.pbxproj
  packages/google_sign_in/google_sign_in_ios/example/ios/Runner/Info.plist
  packages/google_sign_in/google_sign_in_ios/ios/google_sign_in_ios.podspec
  packages/google_sign_in/google_sign_in_ios/pubspec.yaml
Labels: needs tests, autosubmit, p: google_sign_in, platform-ios

#3335 [local_auth] Update minimum Flutter version to 3.3 and iOS 11
  packages/local_auth/local_auth/CHANGELOG.md
  packages/local_auth/local_auth/README.md
  packages/local_auth/local_auth/example/ios/Flutter/AppFrameworkInfo.plist
  packages/local_auth/local_auth/example/ios/Podfile
  packages/local_auth/local_auth/example/ios/Runner.xcodeproj/project.pbxproj
  packages/local_auth/local_auth/example/ios/Runner/Info.plist
  packages/local_auth/local_auth/pubspec.yaml
  packages/local_auth/local_auth_ios/CHANGELOG.md
  packages/local_auth/local_auth_ios/example/ios/Flutter/AppFrameworkInfo.plist
  packages/local_auth/local_auth_ios/example/ios/Podfile
  packages/local_auth/local_auth_ios/example/ios/Runner.xcodeproj/project.pbxproj
  packages/local_auth/local_auth_ios/example/ios/Runner/Info.plist
  packages/local_auth/local_auth_ios/example/ios/RunnerTests/FLTLocalAuthPluginTests.m
  packages/local_auth/local_auth_ios/ios/Classes/FLTLocalAuthPlugin.m
  packages/local_auth/local_auth_ios/ios/local_auth_ios.podspec
  packages/local_auth/local_auth_ios/pubspec.yaml
Labels: autosubmit, p: local_auth, platform-ios

#3336 [webview_flutter] Update minimum Flutter version to 3.3 and iOS 11
  packages/webview_flutter/webview_flutter/CHANGELOG.md
  packages/webview_flutter/webview_flutter/README.md
  packages/webview_flutter/webview_flutter/example/ios/Flutter/AppFrameworkInfo.plist
  packages/webview_flutter/webview_flutter/example/ios/Podfile
  packages/webview_flutter/webview_flutter/example/ios/Runner.xcodeproj/project.pbxproj
  packages/webview_flutter/webview_flutter/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/webview_flutter/webview_flutter/example/ios/Runner/Info.plist
  packages/webview_flutter/webview_flutter/example/ios/RunnerTests/FLTWebViewTests.m
  packages/webview_flutter/webview_flutter/pubspec.yaml
  packages/webview_flutter/webview_flutter_wkwebview/CHANGELOG.md
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/Runner/Info.plist
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/RunnerTests/FWFHTTPCookieStoreHostApiTests.m
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/RunnerTests/FWFWebViewHostApiTests.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFDataConverters.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFDataConverters.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFHTTPCookieStoreHostApi.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFWebViewConfigurationHostApi.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFWebViewHostApi.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/webview_flutter_wkwebview.podspec
  packages/webview_flutter/webview_flutter_wkwebview/pubspec.yaml
Labels: autosubmit, platform-ios, p: webview_flutter

#3293 [ci+various] Partially enable javac warning checks
  packages/camera/camera_android/example/android/build.gradle
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/ProcessCameraProviderHostApiImpl.java
  packages/camera/camera_android_camerax/android/src/test/java/io/flutter/plugins/camerax/PreviewTest.java
  packages/camera/camera_android_camerax/android/src/test/java/io/flutter/plugins/camerax/ProcessCameraProviderTest.java
  packages/camera/camera_android_camerax/android/src/test/java/io/flutter/plugins/camerax/SystemServicesTest.java
  packages/camera/camera_android_camerax/example/android/build.gradle
  packages/espresso/example/android/build.gradle
  packages/flutter_plugin_android_lifecycle/android/src/test/java/io/flutter/embedding/engine/plugins/lifecycle/FlutterLifecycleAdapterTest.java
  packages/flutter_plugin_android_lifecycle/example/android/build.gradle
  packages/google_maps_flutter/google_maps_flutter_android/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_android/android/src/main/java/io/flutter/plugins/googlemaps/Convert.java
  packages/google_maps_flutter/google_maps_flutter_android/example/android/build.gradle
  packages/google_maps_flutter/google_maps_flutter_android/pubspec.yaml
  packages/google_sign_in/google_sign_in_android/android/src/test/java/io/flutter/plugins/googlesignin/GoogleSignInTest.java
  packages/google_sign_in/google_sign_in_android/example/android/build.gradle
  packages/image_picker/image_picker_android/CHANGELOG.md
  packages/image_picker/image_picker_android/android/src/main/java/io/flutter/plugins/imagepicker/ImagePickerDelegate.java
  packages/image_picker/image_picker_android/android/src/main/java/io/flutter/plugins/imagepicker/ImagePickerPlugin.java
  packages/image_picker/image_picker_android/android/src/main/java/io/flutter/plugins/imagepicker/ImagePickerUtils.java
  packages/image_picker/image_picker_android/android/src/test/java/io/flutter/plugins/imagepicker/ImagePickerCacheTest.java
  packages/image_picker/image_picker_android/android/src/test/java/io/flutter/plugins/imagepicker/ImagePickerDelegateTest.java
  packages/image_picker/image_picker_android/android/src/test/java/io/flutter/plugins/imagepicker/ImagePickerPluginTest.java
  packages/image_picker/image_picker_android/android/src/test/java/io/flutter/plugins/imagepicker/ImageResizerTest.java
  packages/image_picker/image_picker_android/example/android/build.gradle
  packages/image_picker/image_picker_android/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_android/example/android/build.gradle
  packages/local_auth/local_auth_android/CHANGELOG.md
  packages/local_auth/local_auth_android/android/src/main/java/io/flutter/plugins/localauth/LocalAuthPlugin.java
  packages/local_auth/local_auth_android/android/src/test/java/io/flutter/plugins/localauth/LocalAuthTest.java
  packages/local_auth/local_auth_android/example/android/build.gradle
  packages/local_auth/local_auth_android/pubspec.yaml
  packages/path_provider/path_provider_android/example/android/build.gradle
  packages/quick_actions/quick_actions_android/example/android/build.gradle
  packages/shared_preferences/shared_preferences_android/example/android/build.gradle
  packages/url_launcher/url_launcher_android/example/android/build.gradle
  packages/video_player/video_player_android/example/android/build.gradle
  packages/webview_flutter/webview_flutter_android/example/android/build.gradle
  script/tool/lib/src/lint_android_command.dart
  script/tool/test/lint_android_command_test.dart
Labels: p: camera, p: espresso, p: flutter_plugin_android_lifecycle, p: google_maps_flutter, p: google_sign_in, p: image_picker, p: in_app_purchase, p: local_auth, p: path_provider, p: quick_actions, platform-android, p: webview_flutter, p: video_player, p: url_launcher, p: shared_preferences

#3357 [pigeon] Only check generated files on master
  packages/pigeon/tool/run_tests.dart
Labels: p: pigeon, autosubmit

#3364 [google_maps] Relax the Android renderer request test
  packages/google_maps_flutter/google_maps_flutter_android/example/integration_test/latest_renderer_test.dart
Labels: p: google_maps_flutter, platform-android

#3358 [Espresso] Update truth package to 1.1.3
  packages/espresso/CHANGELOG.md
  packages/espresso/android/build.gradle
  packages/espresso/example/android/app/build.gradle
  packages/espresso/pubspec.yaml
Labels: autosubmit, p: espresso, platform-android

#3366 Roll Flutter from f032a4d64891 to c590086bcc58 (69 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#3365 [ci] Increase Android platform test sharding
  .cirrus.yml
Labels: autosubmit

#3356 [webview_flutter] Enable warnings-as-errors on Android
  packages/webview_flutter/webview_flutter_android/CHANGELOG.md
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/CookieManagerHostApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/GeneratedAndroidWebView.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebChromeClientHostApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebViewClientHostApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/CookieManagerHostApiImplTest.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/JavaScriptChannelTest.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/RegistrarFlutterAssetManagerTest.java
  packages/webview_flutter/webview_flutter_android/example/android/build.gradle
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview.g.dart
  packages/webview_flutter/webview_flutter_android/pubspec.yaml
  packages/webview_flutter/webview_flutter_android/test/android_webview_controller_test.mocks.dart
  packages/webview_flutter/webview_flutter_android/test/test_android_webview.g.dart
Labels: autosubmit, platform-android, p: webview_flutter

#3373 Roll Flutter from c590086bcc58 to f2f80059ff87 (14 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#3273 [camera_android] Fix camera android deprecation warning for CamcorderProfile.get()
  packages/camera/camera_android/CHANGELOG.md
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/Camera.java
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/CameraDeviceWrapper.java
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/CameraProperties.java
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/CameraPropertiesImpl.java
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/features/CameraFeatures.java
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/features/autofocus/AutoFocusFeature.java
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/features/resolution/ResolutionFeature.java
  packages/camera/camera_android/android/src/test/java/io/flutter/plugins/camera/CameraPropertiesImplTest.java
  packages/camera/camera_android/android/src/test/java/io/flutter/plugins/camera/features/exposurepoint/ExposurePointFeatureTest.java
  packages/camera/camera_android/android/src/test/java/io/flutter/plugins/camera/features/focuspoint/FocusPointFeatureTest.java
  packages/camera/camera_android/android/src/test/java/io/flutter/plugins/camera/features/fpsrange/FpsRangeFeatureTest.java
  packages/camera/camera_android/example/android/build.gradle
  packages/camera/camera_android/pubspec.yaml
Labels: autosubmit, p: camera, platform-android

#3399 [google_maps_flutter] Enable -Werror for Android
  packages/google_maps_flutter/google_maps_flutter_android/android/src/test/java/io/flutter/plugins/googlemaps/GoogleMapControllerTest.java
  packages/google_maps_flutter/google_maps_flutter_android/android/src/test/java/io/flutter/plugins/googlemaps/MarkersControllerTest.java
  packages/google_maps_flutter/google_maps_flutter_android/example/android/build.gradle
  packages/google_maps_flutter/google_maps_flutter_android/example/android/gradle.properties
Labels: autosubmit, p: google_maps_flutter, platform-android

#3400 [various] Remove enableR8
  packages/camera/camera/example/android/gradle.properties
  packages/camera/camera_android/example/android/gradle.properties
  packages/espresso/example/android/gradle.properties
  packages/flutter_plugin_android_lifecycle/example/android/gradle.properties
  packages/google_maps_flutter/google_maps_flutter/example/android/gradle.properties
  packages/google_sign_in/google_sign_in/example/android/gradle.properties
  packages/google_sign_in/google_sign_in_android/example/android/gradle.properties
  packages/image_picker/image_picker/example/android/gradle.properties
  packages/in_app_purchase/in_app_purchase/example/android/gradle.properties
  packages/in_app_purchase/in_app_purchase_android/example/android/gradle.properties
  packages/local_auth/local_auth/example/android/gradle.properties
  packages/local_auth/local_auth_android/example/android/gradle.properties
  packages/path_provider/path_provider/example/android/gradle.properties
  packages/path_provider/path_provider_android/example/android/gradle.properties
  packages/quick_actions/quick_actions/example/android/gradle.properties
  packages/quick_actions/quick_actions_android/example/android/gradle.properties
  packages/url_launcher/url_launcher/example/android/gradle.properties
  packages/url_launcher/url_launcher_android/example/android/gradle.properties
  packages/video_player/video_player/example/android/gradle.properties
  packages/video_player/video_player_android/example/android/gradle.properties
  packages/webview_flutter/webview_flutter/example/android/gradle.properties
Labels: autosubmit, p: camera, p: espresso, p: flutter_plugin_android_lifecycle, p: google_maps_flutter, p: google_sign_in, p: image_picker, p: in_app_purchase, p: local_auth, p: path_provider, p: quick_actions, platform-android, p: webview_flutter, p: video_player, p: url_launcher

#3397 [pigeon] Minor updates for pana
  packages/pigeon/CHANGELOG.md
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/lib/pigeon_lib.dart
  packages/pigeon/mock_handler_tester/test/message.dart
  packages/pigeon/mock_handler_tester/test/test.dart
  packages/pigeon/platform_tests/alternate_language_test_plugin/android/src/main/java/com/example/alternate_language_test_plugin/CoreTests.java
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/CoreTests.gen.h
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/CoreTests.gen.m
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/core_tests.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/flutter_unittests.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/multiple_arity.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/non_null_fields.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/null_fields.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/nullable_returns.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/primitive.gen.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/core_tests.gen.dart
  packages/pigeon/platform_tests/test_plugin/android/src/main/kotlin/com/example/test_plugin/CoreTests.gen.kt
  packages/pigeon/platform_tests/test_plugin/ios/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/macos/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/windows/pigeon/core_tests.gen.cpp
  packages/pigeon/platform_tests/test_plugin/windows/pigeon/core_tests.gen.h
  packages/pigeon/pubspec.yaml
Labels: p: pigeon, autosubmit, platform-android, platform-ios, platform-macos, platform-windows

#3272 [camera] Reland implementations of flip/change camera while recording
  packages/camera/camera_android/CHANGELOG.md
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/Camera.java
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/MethodCallHandlerImpl.java
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/VideoRenderer.java
  packages/camera/camera_android/android/src/test/java/io/flutter/plugins/camera/CameraTest.java
  packages/camera/camera_android/example/integration_test/camera_test.dart
  packages/camera/camera_android/example/lib/camera_controller.dart
  packages/camera/camera_android/example/lib/main.dart
  packages/camera/camera_android/example/pubspec.yaml
  packages/camera/camera_android/lib/src/android_camera.dart
  packages/camera/camera_android/pubspec.yaml
  packages/camera/camera_android/test/android_camera_test.dart
  packages/camera/camera_avfoundation/CHANGELOG.md
  packages/camera/camera_avfoundation/example/integration_test/camera_test.dart
  packages/camera/camera_avfoundation/example/ios/Runner.xcodeproj/project.pbxproj
  packages/camera/camera_avfoundation/example/ios/Runner/Info.plist
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraTestUtils.m
  packages/camera/camera_avfoundation/example/lib/camera_controller.dart
  packages/camera/camera_avfoundation/example/lib/main.dart
  packages/camera/camera_avfoundation/example/pubspec.yaml
  packages/camera/camera_avfoundation/ios/Classes/CameraPlugin.m
  packages/camera/camera_avfoundation/ios/Classes/FLTCam.h
  packages/camera/camera_avfoundation/ios/Classes/FLTCam.m
  packages/camera/camera_avfoundation/ios/Classes/FLTCam_Test.h
  packages/camera/camera_avfoundation/lib/src/avfoundation_camera.dart
  packages/camera/camera_avfoundation/pubspec.yaml
  packages/camera/camera_avfoundation/test/avfoundation_camera_test.dart
Labels: autosubmit, p: camera, platform-android, platform-ios

#3378 [go_router] Fix a typo in the ShellRoute docstring
  packages/go_router/lib/src/route.dart
Labels: p: go_router, autosubmit, override: no versioning needed, override: no changelog needed

#3402 Update CODEOWNERS
  CODEOWNERS
Labels: autosubmit

#3405 [camera] Revert Android part of #3272
  packages/camera/camera_android/CHANGELOG.md
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/Camera.java
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/MethodCallHandlerImpl.java
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/VideoRenderer.java
  packages/camera/camera_android/android/src/test/java/io/flutter/plugins/camera/CameraTest.java
  packages/camera/camera_android/example/integration_test/camera_test.dart
  packages/camera/camera_android/example/lib/camera_controller.dart
  packages/camera/camera_android/example/lib/main.dart
  packages/camera/camera_android/example/pubspec.yaml
  packages/camera/camera_android/lib/src/android_camera.dart
  packages/camera/camera_android/pubspec.yaml
  packages/camera/camera_android/test/android_camera_test.dart
Labels: p: camera, platform-android

#3406 [go_router_builder] Remove Flutter SDK constraint
  packages/go_router_builder/CHANGELOG.md
  packages/go_router_builder/pubspec.yaml
Labels: p: go_router_builder, autosubmit

#3395 [pigeon] Removed my name from the readme
  packages/pigeon/README.md
Labels: p: pigeon, autosubmit, override: no versioning needed, override: no changelog needed

#3298 [webview_flutter] Add android `webSettings.setTextZoom` api
  packages/webview_flutter/webview_flutter_android/CHANGELOG.md
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/GeneratedAndroidWebView.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebSettingsHostApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/WebSettingsTest.java
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview.g.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview_api_impls.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview_controller.dart
  packages/webview_flutter/webview_flutter_android/pigeons/android_webview.dart
  packages/webview_flutter/webview_flutter_android/pubspec.yaml
  packages/webview_flutter/webview_flutter_android/test/android_webview_controller_test.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_controller_test.mocks.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_test.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_test.mocks.dart
  packages/webview_flutter/webview_flutter_android/test/legacy/webview_android_widget_test.mocks.dart
  packages/webview_flutter/webview_flutter_android/test/test_android_webview.g.dart
Labels: autosubmit, platform-android, p: webview_flutter

#3324 [webview_flutter_android] Adds a WebViewFlutterApi
  packages/webview_flutter/webview_flutter_android/CHANGELOG.md
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/FileChooserParamsFlutterApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/GeneratedAndroidWebView.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebChromeClientFlutterApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebViewClientFlutterApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebViewFlutterApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/WebChromeClientTest.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/WebViewClientTest.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/WebViewTest.java
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview.g.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview_api_impls.dart
  packages/webview_flutter/webview_flutter_android/pigeons/android_webview.dart
  packages/webview_flutter/webview_flutter_android/pubspec.yaml
  packages/webview_flutter/webview_flutter_android/test/android_webview_test.dart
Labels: autosubmit, platform-android, p: webview_flutter

#3408 [google_maps_flutter] Update example android configuration
  packages/google_maps_flutter/google_maps_flutter/example/android/app/build.gradle
  packages/google_maps_flutter/google_maps_flutter/example/android/app/src/debug/AndroidManifest.xml
  packages/google_maps_flutter/google_maps_flutter/example/android/app/src/main/AndroidManifest.xml
  packages/google_maps_flutter/google_maps_flutter/example/android/build.gradle
  packages/google_maps_flutter/google_maps_flutter/example/android/gradle/wrapper/gradle-wrapper.properties
Labels: needs tests, autosubmit, override: no changelog needed, p: google_maps_flutter, platform-android

#3403 [in_app_purchase] Enable -Werror for Android
  packages/in_app_purchase/in_app_purchase_android/android/src/main/java/io/flutter/plugins/inapppurchase/MethodCallHandlerImpl.java
  packages/in_app_purchase/in_app_purchase_android/android/src/main/java/io/flutter/plugins/inapppurchase/Translator.java
  packages/in_app_purchase/in_app_purchase_android/android/src/test/java/io/flutter/plugins/inapppurchase/InAppPurchasePluginTest.java
  packages/in_app_purchase/in_app_purchase_android/android/src/test/java/io/flutter/plugins/inapppurchase/MethodCallHandlerTest.java
  packages/in_app_purchase/in_app_purchase_android/android/src/test/java/io/flutter/plugins/inapppurchase/TranslatorTest.java
  packages/in_app_purchase/in_app_purchase_android/example/android/build.gradle
Labels: autosubmit, override: no versioning needed, override: no changelog needed, p: in_app_purchase, platform-android

#3422 [flutter_markdown] add AssetManifest.bin to TestAssetBundle
  packages/flutter_markdown/pubspec.yaml
  packages/flutter_markdown/test/utils.dart
Labels: p: flutter_markdown, needs tests, autosubmit, override: no versioning needed, override: no changelog needed

#3424 Revert "[video_player] Passing http headers to file constructor "
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/lib/video_player.dart
  packages/video_player/video_player/pubspec.yaml
  packages/video_player/video_player/test/video_player_test.dart
  packages/video_player/video_player_android/CHANGELOG.md
  packages/video_player/video_player_android/android/src/main/java/io/flutter/plugins/videoplayer/VideoPlayer.java
  packages/video_player/video_player_android/android/src/test/java/io/flutter/plugins/videoplayer/VideoPlayerTest.java
  packages/video_player/video_player_android/lib/src/android_video_player.dart
  packages/video_player/video_player_android/pubspec.yaml
  packages/video_player/video_player_android/test/android_video_player_test.dart
Labels: platform-android, p: video_player

#3420 Manual roll Flutter from f2f80059ff87 to 5a279edc239f (44 revisions) + fixes
  .ci/flutter_master.version
  packages/google_maps_flutter/google_maps_flutter/example/lib/scrolling_map.dart
  packages/google_maps_flutter/google_maps_flutter_android/example/lib/scrolling_map.dart
  packages/google_maps_flutter/google_maps_flutter_ios/example/lib/scrolling_map.dart
  packages/url_launcher/url_launcher_web/lib/src/link.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_proxy.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview_controller.dart
  packages/webview_flutter/webview_flutter_android/lib/src/legacy/webview_android_widget.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_controller_test.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_controller_test.mocks.dart
  packages/webview_flutter/webview_flutter_android/test/legacy/webview_android_widget_test.mocks.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/legacy/web_kit_webview_widget.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/webkit_proxy.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/legacy/web_kit_webview_widget_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/legacy/web_kit_webview_widget_test.mocks.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/webkit_webview_controller_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/webkit_webview_widget_test.dart
Labels: autosubmit, override: no versioning needed, override: no changelog needed, p: google_maps_flutter, platform-android, platform-ios, platform-web, p: webview_flutter, p: url_launcher

#3426 Roll Flutter (stable) from c07f78888884 to 2ad6cd72c040 (5 revisions)
  .ci/flutter_stable.version
Labels: autosubmit

#3414 [espresso] Enable warnings as errors
  packages/espresso/CHANGELOG.md
  packages/espresso/android/src/main/java/androidx/test/espresso/flutter/EspressoFlutter.java
  packages/espresso/android/src/main/java/androidx/test/espresso/flutter/action/FlutterActions.java
  packages/espresso/android/src/main/java/androidx/test/espresso/flutter/action/FlutterViewAction.java
  packages/espresso/android/src/main/java/androidx/test/espresso/flutter/action/SyntheticClickAction.java
  packages/espresso/android/src/main/java/androidx/test/espresso/flutter/exception/AmbiguousWidgetMatcherException.java
  packages/espresso/android/src/main/java/androidx/test/espresso/flutter/exception/InvalidFlutterViewException.java
  packages/espresso/android/src/main/java/androidx/test/espresso/flutter/exception/NoMatchingWidgetException.java
  packages/espresso/android/src/main/java/androidx/test/espresso/flutter/internal/protocol/impl/FlutterProtocolException.java
  packages/espresso/example/android/build.gradle
  packages/espresso/pubspec.yaml
Labels: needs tests, autosubmit, p: espresso, platform-android

#3427 [webview_flutter_platform_interface][webview_flutter_wkwebview] Fix inconsistent imports
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/platform_webview_controller.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/webview_platform.dart
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFInstanceManager_Test.h
Labels: autosubmit, override: no versioning needed, override: no changelog needed, platform-ios, p: webview_flutter

#3417 [ci] Fix federated safety check
  .cirrus.yml
Labels: autosubmit

#3425 Reland: [video_player] Passing http headers to file constructor
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/lib/video_player.dart
  packages/video_player/video_player/pubspec.yaml
  packages/video_player/video_player/test/video_player_test.dart
  packages/video_player/video_player_android/CHANGELOG.md
  packages/video_player/video_player_android/android/src/main/java/io/flutter/plugins/videoplayer/VideoPlayer.java
  packages/video_player/video_player_android/android/src/main/java/io/flutter/plugins/videoplayer/VideoPlayerPlugin.java
  packages/video_player/video_player_android/android/src/test/java/io/flutter/plugins/videoplayer/VideoPlayerTest.java
  packages/video_player/video_player_android/lib/src/android_video_player.dart
  packages/video_player/video_player_android/pubspec.yaml
  packages/video_player/video_player_android/test/android_video_player_test.dart
Labels: autosubmit, platform-android, p: video_player

#3323 [webview_flutter_platform_interface] Adds support to track url changes in the platform interface
  packages/webview_flutter/webview_flutter_platform_interface/CHANGELOG.md
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/platform_navigation_delegate.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/types/types.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/types/url_change.dart
  packages/webview_flutter/webview_flutter_platform_interface/pubspec.yaml
  packages/webview_flutter/webview_flutter_platform_interface/test/platform_navigation_delegate_test.dart
  packages/webview_flutter/webview_flutter_platform_interface/test/platform_webview_controller_test.dart
  packages/webview_flutter/webview_flutter_platform_interface/test/platform_webview_controller_test.mocks.dart
  packages/webview_flutter/webview_flutter_platform_interface/test/webview_platform_test.dart
Labels: autosubmit, p: webview_flutter

#3393 [tool] Include examples when pathifying deps
  script/tool/lib/src/make_deps_path_based_command.dart
  script/tool/test/make_deps_path_based_command_test.dart
Labels: autosubmit

#3360 [pigeon] finish kotlin and swift safe cast removal
  packages/pigeon/CHANGELOG.md
  packages/pigeon/lib/ast.dart
  packages/pigeon/lib/cpp_generator.dart
  packages/pigeon/lib/dart_generator.dart
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/lib/kotlin_generator.dart
  packages/pigeon/lib/objc_generator.dart
  packages/pigeon/lib/swift_generator.dart
  packages/pigeon/mock_handler_tester/test/message.dart
  packages/pigeon/mock_handler_tester/test/test.dart
  packages/pigeon/platform_tests/alternate_language_test_plugin/android/src/main/java/com/example/alternate_language_test_plugin/CoreTests.java
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/CoreTests.gen.h
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/CoreTests.gen.m
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/core_tests.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/flutter_unittests.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/multiple_arity.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/non_null_fields.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/null_fields.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/nullable_returns.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/primitive.gen.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/integration_tests.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/core_tests.gen.dart
  packages/pigeon/platform_tests/test_plugin/android/src/main/kotlin/com/example/test_plugin/CoreTests.gen.kt
  packages/pigeon/platform_tests/test_plugin/ios/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/macos/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/windows/pigeon/core_tests.gen.cpp
  packages/pigeon/platform_tests/test_plugin/windows/pigeon/core_tests.gen.h
  packages/pigeon/pubspec.yaml
  packages/pigeon/test/kotlin_generator_test.dart
  packages/pigeon/test/swift_generator_test.dart
Labels: p: pigeon, warning: land on red to fix tree breakage, autosubmit, platform-android, platform-ios, platform-macos, platform-windows

#3415 [go_router_builder] Generate the enum map for enum used in iterable
  packages/go_router_builder/CHANGELOG.md
  packages/go_router_builder/example/lib/all_types.dart
  packages/go_router_builder/example/lib/all_types.g.dart
  packages/go_router_builder/example/lib/shared/data.dart
  packages/go_router_builder/example/test/all_types_test.dart
  packages/go_router_builder/lib/src/route_config.dart
  packages/go_router_builder/pubspec.yaml
  packages/go_router_builder/test/builder_test.dart
  packages/go_router_builder/test/test_inputs/_go_router_builder_test_input.dart
Labels: p: go_router_builder, autosubmit

#3435 [video_player] add missing_enum_constant_in_switch
  packages/video_player/video_player/lib/video_player.dart
  packages/video_player/video_player_android/example/lib/mini_controller.dart
  packages/video_player/video_player_avfoundation/example/lib/mini_controller.dart
Labels: autosubmit, override: no versioning needed, override: no changelog needed, platform-android, p: video_player

#3438 [image_picker] Remove MethodCall from most Android code
  packages/image_picker/image_picker_android/CHANGELOG.md
  packages/image_picker/image_picker_android/android/src/main/java/io/flutter/plugins/imagepicker/ImageOutputOptions.java
  packages/image_picker/image_picker_android/android/src/main/java/io/flutter/plugins/imagepicker/ImagePickerCache.java
  packages/image_picker/image_picker_android/android/src/main/java/io/flutter/plugins/imagepicker/ImagePickerDelegate.java
  packages/image_picker/image_picker_android/android/src/main/java/io/flutter/plugins/imagepicker/ImagePickerPlugin.java
  packages/image_picker/image_picker_android/android/src/main/java/io/flutter/plugins/imagepicker/ImageResizer.java
  packages/image_picker/image_picker_android/android/src/main/java/io/flutter/plugins/imagepicker/VideoOptions.java
  packages/image_picker/image_picker_android/android/src/test/java/io/flutter/plugins/imagepicker/ImagePickerCacheTest.java
  packages/image_picker/image_picker_android/android/src/test/java/io/flutter/plugins/imagepicker/ImagePickerDelegateTest.java
  packages/image_picker/image_picker_android/android/src/test/java/io/flutter/plugins/imagepicker/ImagePickerPluginTest.java
  packages/image_picker/image_picker_android/android/src/test/java/io/flutter/plugins/imagepicker/ImageResizerTest.java
  packages/image_picker/image_picker_android/pubspec.yaml
Labels: autosubmit, p: image_picker, platform-android

#3412 [video_player_android] Enable -Werror and use dependency override
  packages/video_player/video_player_android/CHANGELOG.md
  packages/video_player/video_player_android/example/android/build.gradle
  packages/video_player/video_player_android/pubspec.yaml
Labels: needs tests, autosubmit, platform-android, p: video_player

#3445 Roll Flutter from 5a279edc239f to 9ba0d08ebc07 (72 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#3433 [image_picker_android] Removes unneeded permissions from tests
  packages/image_picker/image_picker_android/android/src/test/java/io/flutter/plugins/imagepicker/ImagePickerDelegateTest.java
Labels: autosubmit, p: image_picker, platform-android

#3455 [pigeon] Fixes swift int64 support for Swift
  packages/pigeon/CHANGELOG.md
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/lib/swift_generator.dart
  packages/pigeon/mock_handler_tester/test/message.dart
  packages/pigeon/mock_handler_tester/test/test.dart
  packages/pigeon/pigeons/core_tests.dart
  packages/pigeon/platform_tests/alternate_language_test_plugin/android/src/main/java/com/example/alternate_language_test_plugin/CoreTests.java
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/CoreTests.gen.h
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/CoreTests.gen.m
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/core_tests.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/flutter_unittests.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/multiple_arity.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/non_null_fields.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/null_fields.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/nullable_returns.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/primitive.gen.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/integration_tests.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/core_tests.gen.dart
  packages/pigeon/platform_tests/test_plugin/android/src/main/kotlin/com/example/test_plugin/CoreTests.gen.kt
  packages/pigeon/platform_tests/test_plugin/android/src/test/kotlin/com/example/test_plugin/AllDatatypesTest.kt
  packages/pigeon/platform_tests/test_plugin/example/ios/RunnerTests/MultipleArityTests.swift
  packages/pigeon/platform_tests/test_plugin/example/ios/RunnerTests/NullableReturnsTests.swift
  packages/pigeon/platform_tests/test_plugin/example/ios/RunnerTests/PrimitiveTests.swift
  packages/pigeon/platform_tests/test_plugin/ios/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/ios/Classes/TestPlugin.swift
  packages/pigeon/platform_tests/test_plugin/macos/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/macos/Classes/TestPlugin.swift
  packages/pigeon/platform_tests/test_plugin/windows/pigeon/core_tests.gen.cpp
  packages/pigeon/platform_tests/test_plugin/windows/pigeon/core_tests.gen.h
  packages/pigeon/pubspec.yaml
  packages/pigeon/test/swift_generator_test.dart
Labels: p: pigeon, autosubmit, platform-android, platform-ios, platform-macos, platform-windows

#3457 Roll Flutter from 9ba0d08ebc07 to d8a721106108 (24 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#3299 [video_player] Make video player avfoundation seek to async
  packages/video_player/video_player_avfoundation/CHANGELOG.md
  packages/video_player/video_player_avfoundation/example/integration_test/video_player_test.dart
  packages/video_player/video_player_avfoundation/example/ios/RunnerTests/VideoPlayerTests.m
  packages/video_player/video_player_avfoundation/ios/Classes/FLTVideoPlayerPlugin.m
  packages/video_player/video_player_avfoundation/ios/Classes/messages.g.h
  packages/video_player/video_player_avfoundation/ios/Classes/messages.g.m
  packages/video_player/video_player_avfoundation/lib/src/messages.g.dart
  packages/video_player/video_player_avfoundation/pigeons/messages.dart
  packages/video_player/video_player_avfoundation/pubspec.yaml
  packages/video_player/video_player_avfoundation/test/avfoundation_video_player_test.dart
  packages/video_player/video_player_avfoundation/test/test_api.g.dart
Labels: autosubmit, platform-ios, p: video_player

#3361 [video_player_platform_interface] synchronize isPlaying state
  packages/video_player/video_player_platform_interface/AUTHORS
  packages/video_player/video_player_platform_interface/CHANGELOG.md
  packages/video_player/video_player_platform_interface/lib/video_player_platform_interface.dart
  packages/video_player/video_player_platform_interface/pubspec.yaml
Labels: needs tests, autosubmit, p: video_player

#3464 Roll Flutter from d8a721106108 to fb7e82826db3 (24 revisions)
  .ci/flutter_master.version
Labels: warning: land on red to fix tree breakage, autosubmit

#3450 [path_provider_foundation] Adding support for getContainerPath on iOS #7114
  packages/path_provider/path_provider_foundation/CHANGELOG.md
  packages/path_provider/path_provider_foundation/darwin/Classes/PathProviderPlugin.swift
  packages/path_provider/path_provider_foundation/darwin/Classes/messages.g.swift
  packages/path_provider/path_provider_foundation/example/integration_test/path_provider_test.dart
  packages/path_provider/path_provider_foundation/example/ios/Runner.xcodeproj/project.pbxproj
  packages/path_provider/path_provider_foundation/example/ios/Runner/Runner.entitlements
  packages/path_provider/path_provider_foundation/example/lib/main.dart
  packages/path_provider/path_provider_foundation/lib/messages.g.dart
  packages/path_provider/path_provider_foundation/lib/path_provider_foundation.dart
  packages/path_provider/path_provider_foundation/pigeons/messages.dart
  packages/path_provider/path_provider_foundation/pubspec.yaml
  packages/path_provider/path_provider_foundation/test/messages_test.g.dart
  packages/path_provider/path_provider_foundation/test/path_provider_foundation_test.dart
  packages/path_provider/path_provider_foundation/test/path_provider_foundation_test.mocks.dart
Labels: autosubmit, p: path_provider, platform-ios

#3234 [pigeon] Standardize host api error handling
  packages/pigeon/CHANGELOG.md
  packages/pigeon/README.md
  packages/pigeon/lib/cpp_generator.dart
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/lib/java_generator.dart
  packages/pigeon/lib/kotlin_generator.dart
  packages/pigeon/lib/pigeon_lib.dart
  packages/pigeon/pigeons/core_tests.dart
  packages/pigeon/platform_tests/alternate_language_test_plugin/android/src/main/java/com/example/alternate_language_test_plugin/AlternateLanguageTestPlugin.java
  packages/pigeon/platform_tests/alternate_language_test_plugin/android/src/main/java/com/example/alternate_language_test_plugin/CoreTests.java
  packages/pigeon/platform_tests/alternate_language_test_plugin/android/src/test/java/com/example/alternate_language_test_plugin/PigeonTest.java
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/AlternateLanguageTestPlugin.m
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/CoreTests.gen.h
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/CoreTests.gen.m
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/core_tests.gen.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/integration_tests.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/core_tests.gen.dart
  packages/pigeon/platform_tests/test_plugin/android/src/main/kotlin/com/example/test_plugin/CoreTests.gen.kt
  packages/pigeon/platform_tests/test_plugin/android/src/main/kotlin/com/example/test_plugin/TestPlugin.kt
  packages/pigeon/platform_tests/test_plugin/ios/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/ios/Classes/TestPlugin.swift
  packages/pigeon/platform_tests/test_plugin/macos/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/macos/Classes/TestPlugin.swift
  packages/pigeon/platform_tests/test_plugin/windows/pigeon/core_tests.gen.cpp
  packages/pigeon/platform_tests/test_plugin/windows/pigeon/core_tests.gen.h
  packages/pigeon/platform_tests/test_plugin/windows/test_plugin.cpp
  packages/pigeon/platform_tests/test_plugin/windows/test_plugin.h
  packages/pigeon/pubspec.yaml
  packages/pigeon/test/java_generator_test.dart
  packages/pigeon/test/kotlin_generator_test.dart
  packages/pigeon/tool/shared/generation.dart
Labels: p: pigeon, autosubmit, platform-android, platform-ios, platform-macos, platform-windows

#3391 [go_router_builder] Support default value for `Set`, `List` and `Iterable` route parameters
  packages/go_router_builder/CHANGELOG.md
  packages/go_router_builder/example/lib/all_types.dart
  packages/go_router_builder/example/lib/all_types.g.dart
  packages/go_router_builder/example/pubspec.yaml
  packages/go_router_builder/example/test/all_types_test.dart
  packages/go_router_builder/lib/src/type_helpers.dart
  packages/go_router_builder/pubspec.yaml
  packages/go_router_builder/test/builder_test.dart
  packages/go_router_builder/test/test_inputs/_go_router_builder_test_input.dart
Labels: p: go_router_builder, autosubmit

#3448 [image_picker] Move HashSet construction within if-statement
  packages/image_picker/image_picker_android/CHANGELOG.md
  packages/image_picker/image_picker_android/android/src/main/java/io/flutter/plugins/imagepicker/ImagePickerCache.java
  packages/image_picker/image_picker_android/android/src/test/java/io/flutter/plugins/imagepicker/ImagePickerCacheTest.java
  packages/image_picker/image_picker_android/pubspec.yaml
Labels: autosubmit, p: image_picker, platform-android

#3413 [image_picker] fix typos in comments
  packages/image_picker/image_picker/lib/image_picker.dart
  packages/image_picker/image_picker_platform_interface/lib/src/platform_interface/image_picker_platform.dart
Labels: autosubmit, override: no versioning needed, override: no changelog needed, p: image_picker

#3458 [ci] Clean up iOS simulators
  .ci/scripts/create_simulator.sh
  .ci/scripts/remove_simulator.sh
  .ci/targets/ios_platform_tests.yaml
  .ci/targets/macos_custom_package_tests.yaml
Labels: warning: land on red to fix tree breakage, autosubmit

#3466 [ci/tool] Add external dependency validation
  .cirrus.yml
  packages/camera/camera/pubspec.yaml
  packages/camera/camera_android_camerax/pubspec.yaml
  packages/camera/camera_web/example/pubspec.yaml
  packages/file_selector/file_selector_ios/pubspec.yaml
  packages/file_selector/file_selector_macos/pubspec.yaml
  packages/file_selector/file_selector_windows/pubspec.yaml
  packages/flutter_markdown/pubspec.yaml
  packages/flutter_migrate/pubspec.yaml
  packages/go_router/example/pubspec.yaml
  packages/go_router_builder/example/pubspec.yaml
  packages/google_identity_services_web/example/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_platform_interface/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_web/example/pubspec.yaml
  packages/google_sign_in/google_sign_in/pubspec.yaml
  packages/google_sign_in/google_sign_in_platform_interface/pubspec.yaml
  packages/google_sign_in/google_sign_in_web/example/pubspec.yaml
  packages/image_picker/image_picker/pubspec.yaml
  packages/image_picker/image_picker_android/pubspec.yaml
  packages/image_picker/image_picker_ios/pubspec.yaml
  packages/image_picker/image_picker_windows/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_android/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_platform_interface/pubspec.yaml
  packages/local_auth/local_auth/pubspec.yaml
  packages/local_auth/local_auth_platform_interface/pubspec.yaml
  packages/metrics_center/pubspec.yaml
  packages/path_provider/path_provider_foundation/pubspec.yaml
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/pubspec.yaml
  packages/plugin_platform_interface/pubspec.yaml
  packages/quick_actions/quick_actions/pubspec.yaml
  packages/quick_actions/quick_actions_platform_interface/pubspec.yaml
  packages/rfw/pubspec.yaml
  packages/url_launcher/url_launcher/example/pubspec.yaml
  packages/url_launcher/url_launcher/pubspec.yaml
  packages/url_launcher/url_launcher_android/example/pubspec.yaml
  packages/url_launcher/url_launcher_android/pubspec.yaml
  packages/url_launcher/url_launcher_ios/example/pubspec.yaml
  packages/url_launcher/url_launcher_ios/pubspec.yaml
  packages/url_launcher/url_launcher_platform_interface/pubspec.yaml
  packages/url_launcher/url_launcher_web/example/pubspec.yaml
  packages/webview_flutter/webview_flutter/pubspec.yaml
  packages/webview_flutter/webview_flutter_android/pubspec.yaml
  packages/webview_flutter/webview_flutter_platform_interface/pubspec.yaml
  packages/webview_flutter/webview_flutter_web/pubspec.yaml
  packages/webview_flutter/webview_flutter_wkwebview/pubspec.yaml
  script/configs/allowed_pinned_deps.yaml
  script/configs/allowed_unpinned_deps.yaml
  script/tool/lib/src/pubspec_check_command.dart
  script/tool/pubspec.yaml
  script/tool/test/pubspec_check_command_test.dart
  script/tool/test/util.dart
Labels: p: metrics_center, p: pigeon, p: flutter_markdown, p: rfw, p: go_router_builder, p: go_router, autosubmit, override: no versioning needed, override: no changelog needed, p: flutter_migrate, p: camera, p: file_selector, p: google_maps_flutter, p: google_sign_in, p: image_picker, p: in_app_purchase, p: local_auth, p: path_provider, p: plugin_platform_interface, p: quick_actions, platform-android, platform-ios, platform-macos, platform-web, platform-windows, p: webview_flutter, p: url_launcher

#3482 Manual roll Flutter from fb7e82826db3 to 67e5f663d075 (8 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#3442 Update goldens
  customer_testing.bat
  customer_testing.sh
  packages/rfw/test/goldens/material_test.drawer.png
  packages/rfw/test/goldens/material_test.scaffold.png
  script/tool_runner.sh
Labels: p: rfw, autosubmit

#3282 [webview_flutter_android] Updates Dart and Java InstanceManagers
  packages/webview_flutter/webview_flutter_android/CHANGELOG.md
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/GeneratedAndroidWebView.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/InstanceManager.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebViewFlutterPlugin.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/InstanceManagerTest.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/WebViewClientTest.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/WebViewTest.java
  packages/webview_flutter/webview_flutter_android/example/integration_test/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview.g.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview_api_impls.dart
  packages/webview_flutter/webview_flutter_android/lib/src/instance_manager.dart
  packages/webview_flutter/webview_flutter_android/pigeons/android_webview.dart
  packages/webview_flutter/webview_flutter_android/pubspec.yaml
  packages/webview_flutter/webview_flutter_android/test/android_navigation_delegate_test.dart
  packages/webview_flutter/webview_flutter_android/test/android_navigation_delegate_test.mocks.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_controller_test.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_controller_test.mocks.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_test.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_test.mocks.dart
  packages/webview_flutter/webview_flutter_android/test/instance_manager_test.dart
  packages/webview_flutter/webview_flutter_android/test/instance_manager_test.mocks.dart
  packages/webview_flutter/webview_flutter_android/test/test_android_webview.g.dart
Labels: autosubmit, platform-android, p: webview_flutter

#3460 [camera] Reland android flip/change camera while recording
  packages/camera/camera_android/CHANGELOG.md
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/Camera.java
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/MethodCallHandlerImpl.java
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/VideoRenderer.java
  packages/camera/camera_android/android/src/test/java/io/flutter/plugins/camera/CameraTest.java
  packages/camera/camera_android/example/integration_test/camera_test.dart
  packages/camera/camera_android/example/lib/camera_controller.dart
  packages/camera/camera_android/example/lib/main.dart
  packages/camera/camera_android/example/pubspec.yaml
  packages/camera/camera_android/lib/src/android_camera.dart
  packages/camera/camera_android/pubspec.yaml
  packages/camera/camera_android/test/android_camera_test.dart
Labels: autosubmit, p: camera, platform-android

#3409 [image_picker_android] Adjust file extension in FileUtils when it does not match its mime type
  packages/image_picker/image_picker_android/CHANGELOG.md
  packages/image_picker/image_picker_android/android/src/main/java/io/flutter/plugins/imagepicker/FileUtils.java
  packages/image_picker/image_picker_android/android/src/test/java/io/flutter/plugins/imagepicker/FileUtilTest.java
  packages/image_picker/image_picker_android/pubspec.yaml
Labels: autosubmit, p: image_picker, platform-android

#3253 [flutter_adaptive_scaffold] : 🐛 [FIX] : Issue: 121135.
  packages/flutter_adaptive_scaffold/CHANGELOG.md
  packages/flutter_adaptive_scaffold/README.md
  packages/flutter_adaptive_scaffold/example/lib/adaptive_layout_demo.dart
  packages/flutter_adaptive_scaffold/example/lib/adaptive_scaffold_demo.dart
  packages/flutter_adaptive_scaffold/example/lib/main.dart
  packages/flutter_adaptive_scaffold/example/test/adaptive_layout_demo_test.dart
  packages/flutter_adaptive_scaffold/lib/src/adaptive_scaffold.dart
  packages/flutter_adaptive_scaffold/pubspec.yaml
  packages/flutter_adaptive_scaffold/test/adaptive_scaffold_test.dart
Labels: autosubmit, p: flutter_adaptive_scaffold

#3484 Roll Flutter from 67e5f663d075 to 53dfd23b043f (39 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#3481 [url_launcher] Convert iOS to Pigeon
  packages/url_launcher/url_launcher_ios/CHANGELOG.md
  packages/url_launcher/url_launcher_ios/example/ios/RunnerTests/URLLauncherTests.m
  packages/url_launcher/url_launcher_ios/example/pubspec.yaml
  packages/url_launcher/url_launcher_ios/ios/Classes/FLTURLLauncherPlugin.h
  packages/url_launcher/url_launcher_ios/ios/Classes/FLTURLLauncherPlugin.m
  packages/url_launcher/url_launcher_ios/ios/Classes/FLTURLLauncherPlugin_Test.h
  packages/url_launcher/url_launcher_ios/ios/Classes/FULLauncher.h
  packages/url_launcher/url_launcher_ios/ios/Classes/messages.g.h
  packages/url_launcher/url_launcher_ios/ios/Classes/messages.g.m
  packages/url_launcher/url_launcher_ios/lib/src/messages.g.dart
  packages/url_launcher/url_launcher_ios/lib/url_launcher_ios.dart
  packages/url_launcher/url_launcher_ios/pigeons/copyright.txt
  packages/url_launcher/url_launcher_ios/pigeons/messages.dart
  packages/url_launcher/url_launcher_ios/pubspec.yaml
  packages/url_launcher/url_launcher_ios/test/url_launcher_ios_test.dart
Labels: autosubmit, platform-ios, p: url_launcher

#3486 Roll Flutter from 53dfd23b043f to 6bd2b3ca21cc (17 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#3470 [webview_flutter] Updates the README with the migration of `WebView.initialCookies` and Hybrid Composition on
  packages/webview_flutter/webview_flutter/CHANGELOG.md
  packages/webview_flutter/webview_flutter/README.md
  packages/webview_flutter/webview_flutter/pubspec.yaml
Labels: autosubmit, p: webview_flutter

#3490 Roll Flutter from 6bd2b3ca21cc to 3e4e0920a4c6 (7 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#3297 [flutter_adaptive_scaffold] : 🐛 [FIX] : Issue: 121392.
  packages/flutter_adaptive_scaffold/CHANGELOG.md
  packages/flutter_adaptive_scaffold/README.md
  packages/flutter_adaptive_scaffold/example/lib/adaptive_layout_demo.dart
  packages/flutter_adaptive_scaffold/example/lib/adaptive_scaffold_demo.dart
  packages/flutter_adaptive_scaffold/example/test/adaptive_layout_demo_test.dart
  packages/flutter_adaptive_scaffold/lib/src/adaptive_scaffold.dart
  packages/flutter_adaptive_scaffold/pubspec.yaml
  packages/flutter_adaptive_scaffold/test/adaptive_scaffold_test.dart
  packages/flutter_adaptive_scaffold/test/simulated_layout.dart
Labels: autosubmit, p: flutter_adaptive_scaffold

#3367 [Espresso] Create integration test and remove exemption
  packages/espresso/example/android/app/build.gradle
  packages/espresso/example/android/app/src/androidTest/java/com/example/MainActivityTest.java
  packages/espresso/example/android/app/src/androidTest/java/io/flutter/com/example/espresso_example/MainActivityTest.java
  packages/espresso/example/android/app/src/androidTest/java/io/flutter/plugins/DartIntegrationTest.java
  packages/espresso/example/android/app/src/main/java/com/example/espresso_example/MainActivity.java
  packages/espresso/example/android/build.gradle
  packages/espresso/example/android/gradle/wrapper/gradle-wrapper.properties
  packages/espresso/example/integration_test/espresso_launch_test.dart
  packages/espresso/example/pubspec.yaml
  packages/espresso/example/test_driver/example.dart
  packages/espresso/example/test_driver/integration_test.dart
  script/configs/README.md
  script/configs/exclude_integration_android.yaml
Labels: autosubmit, override: no changelog needed, p: espresso, platform-android

#3462 [go_router] Add documentation to some methods in matching.dart
  packages/go_router/CHANGELOG.md
  packages/go_router/lib/src/matching.dart
Labels: p: go_router, autosubmit, override: no versioning needed

#3491 [shared_preferences] Adopt readme excerpts
  packages/shared_preferences/shared_preferences/CHANGELOG.md
  packages/shared_preferences/shared_preferences/README.md
  packages/shared_preferences/shared_preferences/example/build.excerpt.yaml
  packages/shared_preferences/shared_preferences/example/lib/readme_excerpts.dart
  packages/shared_preferences/shared_preferences/example/pubspec.yaml
  packages/shared_preferences/shared_preferences/example/test/readme_excerpts_test.dart
  packages/shared_preferences/shared_preferences/pubspec.yaml
  script/configs/temp_exclude_excerpt.yaml
Labels: autosubmit, p: shared_preferences

#3485 Update tests to ignore `deprecated_member_use` where `TestWindow` API is used
  packages/dynamic_layouts/example/test/staggered_example_test.dart
  packages/dynamic_layouts/test/staggered_layout_test.dart
  packages/dynamic_layouts/test/wrap_layout_test.dart
  packages/google_maps_flutter/google_maps_flutter/example/integration_test/google_maps_test.dart
  packages/google_maps_flutter/google_maps_flutter_android/example/integration_test/google_maps_tests.dart
  packages/google_sign_in/google_sign_in/test/widgets_test.dart
Labels: autosubmit, p: dynamic_layouts, p: google_maps_flutter, p: google_sign_in, platform-android

#3471 [go_router] Add navigator key to typed routes
  packages/go_router/CHANGELOG.md
  packages/go_router/lib/src/route.dart
  packages/go_router/lib/src/route_data.dart
  packages/go_router/pubspec.yaml
Labels: needs tests, p: go_router, autosubmit

#3502 [shared_preferences] Changes test class to extend platform rather than implement.
  packages/shared_preferences/shared_preferences/test/shared_preferences_test.dart
Labels: autosubmit, p: shared_preferences

#3494 [path_provider] Adopt readme excerpts
  packages/path_provider/path_provider/CHANGELOG.md
  packages/path_provider/path_provider/README.md
  packages/path_provider/path_provider/example/build.excerpt.yaml
  packages/path_provider/path_provider/example/lib/readme_excerpts.dart
  packages/path_provider/path_provider/example/pubspec.yaml
  packages/path_provider/path_provider/example/test/readme_excerpts_test.dart
  packages/path_provider/path_provider/pubspec.yaml
  script/configs/temp_exclude_excerpt.yaml
Labels: warning: land on red to fix tree breakage, autosubmit, p: path_provider

#3495 [Many] i123017 integration annotation documentation
  packages/camera/camera/example/android/app/src/androidTest/java/io/flutter/plugins/DartIntegrationTest.java
  packages/camera/camera_android/example/android/app/src/androidTest/java/io/flutter/plugins/DartIntegrationTest.java
  packages/camera/camera_android_camerax/example/android/app/src/androidTest/java/io/flutter/plugins/DartIntegrationTest.java
  packages/espresso/example/android/app/src/androidTest/java/io/flutter/plugins/DartIntegrationTest.java
  packages/flutter_plugin_android_lifecycle/example/android/app/src/androidTest/java/io/flutter/plugins/DartIntegrationTest.java
  packages/google_maps_flutter/google_maps_flutter/example/android/app/src/androidTest/java/io/flutter/plugins/DartIntegrationTest.java
  packages/google_maps_flutter/google_maps_flutter_android/example/android/app/src/androidTest/java/io/flutter/plugins/DartIntegrationTest.java
  packages/google_sign_in/google_sign_in/example/android/app/src/androidTest/java/io/flutter/plugins/DartIntegrationTest.java
  packages/google_sign_in/google_sign_in_android/example/android/app/src/androidTest/java/io/flutter/plugins/DartIntegrationTest.java
  packages/image_picker/image_picker/example/android/app/src/androidTest/java/io/flutter/plugins/DartIntegrationTest.java
  packages/image_picker/image_picker_android/example/android/app/src/androidTest/java/io/flutter/plugins/DartIntegrationTest.java
  packages/in_app_purchase/in_app_purchase/example/android/app/src/androidTest/java/io/flutter/plugins/DartIntegrationTest.java
  packages/in_app_purchase/in_app_purchase_android/example/android/app/src/androidTest/java/io/flutter/plugins/DartIntegrationTest.java
  packages/local_auth/local_auth/example/android/app/src/androidTest/java/io/flutter/plugins/DartIntegrationTest.java
  packages/local_auth/local_auth_android/example/android/app/src/androidTest/java/io/flutter/plugins/DartIntegrationTest.java
  packages/path_provider/path_provider/example/android/app/src/androidTest/java/io/flutter/plugins/DartIntegrationTest.java
  packages/path_provider/path_provider_android/example/android/app/src/androidTest/java/io/flutter/plugins/DartIntegrationTest.java
  packages/quick_actions/quick_actions/example/android/app/src/androidTest/java/io/flutter/plugins/DartIntegrationTest.java
  packages/quick_actions/quick_actions_android/example/android/app/src/androidTest/java/io/flutter/plugins/DartIntegrationTest.java
  packages/shared_preferences/shared_preferences/example/android/app/src/androidTest/java/io/flutter/plugins/DartIntegrationTest.java
  packages/shared_preferences/shared_preferences_android/example/android/app/src/androidTest/java/io/flutter/plugins/DartIntegrationTest.java
  packages/url_launcher/url_launcher/example/android/app/src/androidTest/java/io/flutter/plugins/DartIntegrationTest.java
  packages/video_player/video_player/example/android/app/src/androidTest/java/io/flutter/plugins/DartIntegrationTest.java
  packages/video_player/video_player_android/example/android/app/src/androidTest/java/io/flutter/plugins/DartIntegrationTest.java
  packages/webview_flutter/webview_flutter/example/android/app/src/androidTest/java/io/flutter/plugins/DartIntegrationTest.java
  packages/webview_flutter/webview_flutter_android/example/android/app/src/androidTest/java/io/flutter/plugins/DartIntegrationTest.java
Labels: autosubmit, p: camera, p: espresso, p: flutter_plugin_android_lifecycle, p: google_maps_flutter, p: google_sign_in, p: image_picker, p: in_app_purchase, p: local_auth, p: path_provider, p: quick_actions, platform-android, p: webview_flutter, p: video_player, p: url_launcher, p: shared_preferences

#3483 [webview_flutter_android] Fix the leak in the legacy implementation
  packages/webview_flutter/webview_flutter_android/example/integration_test/legacy/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter_android/lib/src/legacy/webview_android.dart
  packages/webview_flutter/webview_flutter_android/lib/src/legacy/webview_android_widget.dart
  packages/webview_flutter/webview_flutter_android/lib/src/legacy/webview_surface_android.dart
Labels: autosubmit, override: no versioning needed, override: no changelog needed, platform-android, p: webview_flutter

#3372 [google_maps_flutter_android, url_launcher_android] bump roboelectric version
  packages/google_maps_flutter/google_maps_flutter_android/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_android/android/build.gradle
  packages/google_maps_flutter/google_maps_flutter_android/android/src/test/java/io/flutter/plugins/googlemaps/GoogleMapControllerTest.java
  packages/google_maps_flutter/google_maps_flutter_android/example/android/gradle.properties
  packages/google_maps_flutter/google_maps_flutter_android/pubspec.yaml
  packages/url_launcher/url_launcher_android/CHANGELOG.md
  packages/url_launcher/url_launcher_android/android/build.gradle
  packages/url_launcher/url_launcher_android/example/android/gradle.properties
  packages/url_launcher/url_launcher_android/pubspec.yaml
Labels: autosubmit, p: google_maps_flutter, platform-android, p: url_launcher

#2846 [go_router] When `replace` is called, reuse the same key when possible
  packages/go_router/CHANGELOG.md
  packages/go_router/lib/src/delegate.dart
  packages/go_router/lib/src/misc/extensions.dart
  packages/go_router/lib/src/router.dart
  packages/go_router/lib/src/state.dart
  packages/go_router/pubspec.yaml
  packages/go_router/test/delegate_test.dart
Labels: p: go_router, autosubmit

#3505 Roll Flutter from 23f5582ea654 to 1ba3f99bb0aa (21 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#3501 [pigeon] removes experimental tag from swift and kotlin
  packages/pigeon/CHANGELOG.md
  packages/pigeon/README.md
  packages/pigeon/example/README.md
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/lib/pigeon_lib.dart
  packages/pigeon/mock_handler_tester/test/message.dart
  packages/pigeon/mock_handler_tester/test/test.dart
  packages/pigeon/platform_tests/alternate_language_test_plugin/android/src/main/java/com/example/alternate_language_test_plugin/CoreTests.java
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/CoreTests.gen.h
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/CoreTests.gen.m
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/core_tests.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/flutter_unittests.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/multiple_arity.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/non_null_fields.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/null_fields.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/nullable_returns.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/primitive.gen.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/core_tests.gen.dart
  packages/pigeon/platform_tests/test_plugin/android/src/main/kotlin/com/example/test_plugin/CoreTests.gen.kt
  packages/pigeon/platform_tests/test_plugin/ios/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/macos/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/windows/pigeon/core_tests.gen.cpp
  packages/pigeon/platform_tests/test_plugin/windows/pigeon/core_tests.gen.h
  packages/pigeon/pubspec.yaml
  packages/pigeon/test/pigeon_lib_test.dart
Labels: p: pigeon, autosubmit, platform-android, platform-ios, platform-macos, platform-windows

#3498 remove temporary flag after migration
  customer_testing.bat
  customer_testing.sh
  script/tool_runner.sh
Labels: needs tests, autosubmit

#3512 [web_benchmarks] Migrate to PlatformDispatcher API
  packages/web_benchmarks/CHANGELOG.md
  packages/web_benchmarks/lib/src/recorder.dart
  packages/web_benchmarks/pubspec.yaml
Labels: p: web_benchmarks, needs tests, autosubmit

#3511 [webview_flutter_wkwebview] Switch to quotation imports
  packages/webview_flutter/webview_flutter_wkwebview/CHANGELOG.md
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/webview-umbrella.h
  packages/webview_flutter/webview_flutter_wkwebview/pubspec.yaml
Labels: autosubmit, platform-ios, p: webview_flutter

#3472 [go_router] Added `initialExtra` param to GoRouter
  packages/go_router/CHANGELOG.md
  packages/go_router/lib/src/router.dart
  packages/go_router/pubspec.yaml
  packages/go_router/test/go_router_test.dart
  packages/go_router/test/test_helpers.dart
Labels: p: go_router, autosubmit

#3287 [camerax] Implement image capture
  packages/camera/camera_android_camerax/CHANGELOG.md
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/CameraAndroidCameraxPlugin.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/CameraXProxy.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/GeneratedCameraXLibrary.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/ImageCaptureHostApiImpl.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/ProcessCameraProviderHostApiImpl.java
  packages/camera/camera_android_camerax/android/src/test/java/io/flutter/plugins/camerax/ImageCaptureTest.java
  packages/camera/camera_android_camerax/android/src/test/java/io/flutter/plugins/camerax/ProcessCameraProviderTest.java
  packages/camera/camera_android_camerax/example/integration_test/integration_test.dart
  packages/camera/camera_android_camerax/example/lib/main.dart
  packages/camera/camera_android_camerax/lib/src/android_camera_camerax.dart
  packages/camera/camera_android_camerax/lib/src/camerax_library.g.dart
  packages/camera/camera_android_camerax/lib/src/image_capture.dart
  packages/camera/camera_android_camerax/lib/src/preview.dart
  packages/camera/camera_android_camerax/lib/src/process_camera_provider.dart
  packages/camera/camera_android_camerax/pigeons/camerax_library.dart
  packages/camera/camera_android_camerax/test/android_camera_camerax_test.dart
  packages/camera/camera_android_camerax/test/android_camera_camerax_test.mocks.dart
  packages/camera/camera_android_camerax/test/image_capture_test.dart
  packages/camera/camera_android_camerax/test/image_capture_test.mocks.dart
  packages/camera/camera_android_camerax/test/process_camera_provider_test.dart
  packages/camera/camera_android_camerax/test/process_camera_provider_test.mocks.dart
  packages/camera/camera_android_camerax/test/test_camerax_library.g.dart
Labels: autosubmit, p: camera, platform-android

#3526 Skip failing legacy test
  packages/webview_flutter/webview_flutter_android/example/integration_test/legacy/webview_flutter_test.dart
Labels: platform-android, p: webview_flutter

#3529 Manual roll Flutter from 1ba3f99bb0aa to 250a6c294264 (46 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#3533 Roll Flutter (stable) from 2ad6cd72c040 to 90c64ed42ba5 (3 revisions)
  .ci/flutter_stable.version
Labels: autosubmit

#3535 Manual roll Flutter from 250a6c294264 to d79f3aab0fa8 (18 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#3539 [flutter_markdown] prepare for renderViewElement deprecation
  packages/flutter_markdown/test/utils.dart
Labels: p: flutter_markdown, autosubmit

#3542 Roll Flutter from d79f3aab0fa8 to a8afbfa22e34 (16 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#3552 Manual roll Flutter from a8afbfa22e34 to 4a1002e2e255 (21 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#3558 [camerax] Fix CameraInfo cast causing failure in integration test
  packages/camera/camera_android_camerax/CHANGELOG.md
  packages/camera/camera_android_camerax/lib/src/camera_selector.dart
Labels: warning: land on red to fix tree breakage, autosubmit, p: camera

#3469 [camera_platform_interface] Add NV21 as an image stream format
  packages/camera/camera_platform_interface/CHANGELOG.md
  packages/camera/camera_platform_interface/lib/src/types/image_format_group.dart
  packages/camera/camera_platform_interface/pubspec.yaml
  packages/camera/camera_platform_interface/test/types/image_group_test.dart
Labels: autosubmit, p: camera

#3499 [tool] Check Java integration test configuration
  script/tool/lib/src/native_test_command.dart
  script/tool/test/native_test_command_test.dart
Labels: warning: land on red to fix tree breakage, autosubmit

#3563 Update image_picker_ios to the latest pigeon
  packages/image_picker/image_picker_ios/CHANGELOG.md
  packages/image_picker/image_picker_ios/ios/Classes/messages.g.h
  packages/image_picker/image_picker_ios/ios/Classes/messages.g.m
  packages/image_picker/image_picker_ios/lib/src/messages.g.dart
  packages/image_picker/image_picker_ios/pubspec.yaml
  packages/image_picker/image_picker_ios/test/test_api.g.dart
Labels: needs tests, autosubmit, p: image_picker, platform-ios

#3561 Update to the latest pigeon
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/GeneratedCameraXLibrary.java
  packages/camera/camera_android_camerax/lib/src/camerax_library.g.dart
  packages/camera/camera_android_camerax/pubspec.yaml
  packages/camera/camera_android_camerax/test/test_camerax_library.g.dart
Labels: needs tests, autosubmit, p: camera, platform-android

#3507 [image_picker] Adopt readme excerpts
  packages/image_picker/image_picker/CHANGELOG.md
  packages/image_picker/image_picker/README.md
  packages/image_picker/image_picker/example/build.excerpt.yaml
  packages/image_picker/image_picker/example/lib/readme_excerpts.dart
  packages/image_picker/image_picker/example/pubspec.yaml
  packages/image_picker/image_picker/example/test/readme_excerpts_test.dart
  packages/image_picker/image_picker/pubspec.yaml
  script/configs/temp_exclude_excerpt.yaml
Labels: autosubmit, p: image_picker

#3562 Update file_selector_* to the latest pigeon
  packages/file_selector/file_selector_ios/CHANGELOG.md
  packages/file_selector/file_selector_ios/ios/Classes/messages.g.h
  packages/file_selector/file_selector_ios/ios/Classes/messages.g.m
  packages/file_selector/file_selector_ios/lib/src/messages.g.dart
  packages/file_selector/file_selector_ios/pubspec.yaml
  packages/file_selector/file_selector_ios/test/test_api.g.dart
  packages/file_selector/file_selector_macos/CHANGELOG.md
  packages/file_selector/file_selector_macos/example/macos/RunnerTests/RunnerTests.swift
  packages/file_selector/file_selector_macos/lib/src/messages.g.dart
  packages/file_selector/file_selector_macos/macos/Classes/FileSelectorPlugin.swift
  packages/file_selector/file_selector_macos/macos/Classes/messages.g.swift
  packages/file_selector/file_selector_macos/pubspec.yaml
  packages/file_selector/file_selector_macos/test/messages_test.g.dart
  packages/file_selector/file_selector_windows/CHANGELOG.md
  packages/file_selector/file_selector_windows/lib/src/messages.g.dart
  packages/file_selector/file_selector_windows/pubspec.yaml
  packages/file_selector/file_selector_windows/test/test_api.g.dart
  packages/file_selector/file_selector_windows/windows/messages.g.cpp
  packages/file_selector/file_selector_windows/windows/messages.g.h
Labels: needs tests, autosubmit, p: file_selector, platform-ios, platform-macos, platform-windows

#3401 [go_router] Fixes an issue where the params are removed after popping
  packages/go_router/CHANGELOG.md
  packages/go_router/lib/src/builder.dart
  packages/go_router/pubspec.yaml
  packages/go_router/test/go_router_state_test.dart
Labels: p: go_router, autosubmit

#3565 Update webview_flutter_wkwebview to newer pigeon
  packages/webview_flutter/webview_flutter_wkwebview/CHANGELOG.md
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFGeneratedWebKitApis.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFGeneratedWebKitApis.m
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/common/web_kit.g.dart
  packages/webview_flutter/webview_flutter_wkwebview/pigeons/copyright.txt
  packages/webview_flutter/webview_flutter_wkwebview/pigeons/web_kit.dart
  packages/webview_flutter/webview_flutter_wkwebview/pubspec.yaml
  packages/webview_flutter/webview_flutter_wkwebview/test/src/common/test_web_kit.g.dart
Labels: needs tests, autosubmit, platform-ios, p: webview_flutter

#3564 Update path_provider_foundation to latest pigeon
  packages/path_provider/path_provider_foundation/CHANGELOG.md
  packages/path_provider/path_provider_foundation/darwin/Classes/messages.g.swift
  packages/path_provider/path_provider_foundation/lib/messages.g.dart
  packages/path_provider/path_provider_foundation/pubspec.yaml
  packages/path_provider/path_provider_foundation/test/messages_test.g.dart
Labels: autosubmit, p: path_provider

#3570 Roll Flutter from 4a1002e2e255 to 12b36de8f7ac (33 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#3573 [pigeon] Fix C++ Flutter API class args
  packages/pigeon/CHANGELOG.md
  packages/pigeon/lib/cpp_generator.dart
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/mock_handler_tester/test/message.dart
  packages/pigeon/mock_handler_tester/test/test.dart
  packages/pigeon/platform_tests/alternate_language_test_plugin/android/src/main/java/com/example/alternate_language_test_plugin/CoreTests.java
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/CoreTests.gen.h
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/CoreTests.gen.m
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/core_tests.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/flutter_unittests.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/multiple_arity.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/non_null_fields.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/null_fields.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/nullable_returns.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/primitive.gen.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/integration_tests.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/core_tests.gen.dart
  packages/pigeon/platform_tests/test_plugin/android/src/main/kotlin/com/example/test_plugin/CoreTests.gen.kt
  packages/pigeon/platform_tests/test_plugin/ios/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/macos/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/windows/pigeon/core_tests.gen.cpp
  packages/pigeon/platform_tests/test_plugin/windows/pigeon/core_tests.gen.h
  packages/pigeon/pubspec.yaml
  packages/pigeon/test/cpp_generator_test.dart
Labels: p: pigeon, autosubmit, platform-android, platform-ios, platform-macos, platform-windows

#3585 [pigeon] Improve C++ data class constructors
  packages/pigeon/CHANGELOG.md
  packages/pigeon/lib/cpp_generator.dart
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/mock_handler_tester/test/message.dart
  packages/pigeon/mock_handler_tester/test/test.dart
  packages/pigeon/platform_tests/alternate_language_test_plugin/android/src/main/java/com/example/alternate_language_test_plugin/CoreTests.java
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/CoreTests.gen.h
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/CoreTests.gen.m
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/core_tests.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/flutter_unittests.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/multiple_arity.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/non_null_fields.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/null_fields.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/nullable_returns.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/primitive.gen.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/core_tests.gen.dart
  packages/pigeon/platform_tests/test_plugin/android/src/main/kotlin/com/example/test_plugin/CoreTests.gen.kt
  packages/pigeon/platform_tests/test_plugin/ios/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/macos/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/windows/pigeon/core_tests.gen.cpp
  packages/pigeon/platform_tests/test_plugin/windows/pigeon/core_tests.gen.h
  packages/pigeon/platform_tests/test_plugin/windows/test/non_null_fields_test.cpp
  packages/pigeon/platform_tests/test_plugin/windows/test/null_fields_test.cpp
  packages/pigeon/platform_tests/test_plugin/windows/test_plugin.cpp
  packages/pigeon/pubspec.yaml
  packages/pigeon/test/cpp_generator_test.dart
Labels: p: pigeon, autosubmit, platform-android, platform-ios, platform-macos, platform-windows

#3581 [all_packages] Bump minimum SDK version
  script/tool/lib/src/create_all_packages_app_command.dart
Labels: autosubmit

#3599 [go_router] Migrate tests away from old handlePlatformMessage
  packages/go_router/example/test/path_and_query_params_test.dart
  packages/go_router/example/test/redirection_test.dart
  packages/go_router/test/go_router_test.dart
Labels: p: go_router, autosubmit, override: no versioning needed, override: no changelog needed

#3588 [webview_flutter_android] Adds a workaround fix for autofill
  packages/webview_flutter/webview_flutter_android/CHANGELOG.md
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebViewHostApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/WebViewTest.java
  packages/webview_flutter/webview_flutter_android/pubspec.yaml
Labels: autosubmit, platform-android, p: webview_flutter

#3540 [go_router] Sets correct reverseTransitionDuration on NoTransitionPage (#123368)
  packages/go_router/CHANGELOG.md
  packages/go_router/lib/src/pages/custom_transition_page.dart
  packages/go_router/pubspec.yaml
  packages/go_router/test/custom_transition_page_test.dart
Labels: p: go_router, autosubmit

#3432 [gis_web] Improves renderButton API exports.
  packages/google_identity_services_web/CHANGELOG.md
  packages/google_identity_services_web/example/integration_test/js_interop_id_test.dart
  packages/google_identity_services_web/example/integration_test/src/dom.dart
  packages/google_identity_services_web/example/lib/main.dart
  packages/google_identity_services_web/example/lib/src/jwt.dart
  packages/google_identity_services_web/example/pubspec.yaml
  packages/google_identity_services_web/example/web/mock-gis.js
  packages/google_identity_services_web/lib/id.dart
  packages/google_identity_services_web/lib/oauth2.dart
  packages/google_identity_services_web/lib/src/js_interop/google_accounts_id.dart
  packages/google_identity_services_web/pubspec.yaml
  script/configs/allowed_pinned_deps.yaml
Labels: autosubmit, platform-web

#3596 [shared_preferences] allow custom key prefixes - platform changes
  packages/shared_preferences/shared_preferences_android/CHANGELOG.md
  packages/shared_preferences/shared_preferences_android/android/src/main/java/io/flutter/plugins/sharedpreferences/MethodCallHandlerImpl.java
  packages/shared_preferences/shared_preferences_android/example/integration_test/shared_preferences_test.dart
  packages/shared_preferences/shared_preferences_android/lib/shared_preferences_android.dart
  packages/shared_preferences/shared_preferences_android/pubspec.yaml
  packages/shared_preferences/shared_preferences_android/test/shared_preferences_android_test.dart
  packages/shared_preferences/shared_preferences_foundation/CHANGELOG.md
  packages/shared_preferences/shared_preferences_foundation/darwin/Classes/SharedPreferencesPlugin.swift
  packages/shared_preferences/shared_preferences_foundation/darwin/Classes/messages.g.swift
  packages/shared_preferences/shared_preferences_foundation/darwin/Tests/RunnerTests.swift
  packages/shared_preferences/shared_preferences_foundation/example/integration_test/shared_preferences_test.dart
  packages/shared_preferences/shared_preferences_foundation/lib/messages.g.dart
  packages/shared_preferences/shared_preferences_foundation/lib/shared_preferences_foundation.dart
  packages/shared_preferences/shared_preferences_foundation/pigeons/messages.dart
  packages/shared_preferences/shared_preferences_foundation/pubspec.yaml
  packages/shared_preferences/shared_preferences_foundation/test/shared_preferences_foundation_test.dart
  packages/shared_preferences/shared_preferences_foundation/test/test_api.g.dart
  packages/shared_preferences/shared_preferences_linux/CHANGELOG.md
  packages/shared_preferences/shared_preferences_linux/example/integration_test/shared_preferences_test.dart
  packages/shared_preferences/shared_preferences_linux/lib/shared_preferences_linux.dart
  packages/shared_preferences/shared_preferences_linux/pubspec.yaml
  packages/shared_preferences/shared_preferences_linux/test/shared_preferences_linux_test.dart
  packages/shared_preferences/shared_preferences_web/CHANGELOG.md
  packages/shared_preferences/shared_preferences_web/example/integration_test/shared_preferences_web_test.dart
  packages/shared_preferences/shared_preferences_web/lib/shared_preferences_web.dart
  packages/shared_preferences/shared_preferences_web/pubspec.yaml
  packages/shared_preferences/shared_preferences_windows/CHANGELOG.md
  packages/shared_preferences/shared_preferences_windows/example/integration_test/shared_preferences_test.dart
  packages/shared_preferences/shared_preferences_windows/lib/shared_preferences_windows.dart
  packages/shared_preferences/shared_preferences_windows/pubspec.yaml
  packages/shared_preferences/shared_preferences_windows/test/shared_preferences_windows_test.dart
Labels: autosubmit, platform-android, platform-linux, platform-web, platform-windows, p: shared_preferences

#3612 [ci] Update version of Chromium in benchmarks to keep up with engine.
  .cirrus.yml
Labels: autosubmit

#3465 [shared_preferences] allow custom key prefixes
  packages/shared_preferences/shared_preferences/CHANGELOG.md
  packages/shared_preferences/shared_preferences/README.md
  packages/shared_preferences/shared_preferences/example/integration_test/shared_preferences_test.dart
  packages/shared_preferences/shared_preferences/lib/shared_preferences.dart
  packages/shared_preferences/shared_preferences/pubspec.yaml
  packages/shared_preferences/shared_preferences/test/shared_preferences_test.dart
Labels: autosubmit, p: shared_preferences
