Repository flutter/packages, pull requests merged in 2023-07, with the labels that each got.

#4329 [file_selector] Endorse Android
  .github/dependabot.yml
  CODEOWNERS
  packages/file_selector/file_selector/CHANGELOG.md
  packages/file_selector/file_selector/README.md
  packages/file_selector/file_selector/example/android/.gitignore
  packages/file_selector/file_selector/example/android/app/build.gradle
  packages/file_selector/file_selector/example/android/app/src/debug/AndroidManifest.xml
  packages/file_selector/file_selector/example/android/app/src/main/AndroidManifest.xml
  packages/file_selector/file_selector/example/android/app/src/main/kotlin/dev/flutter/plugins/file_selector_example/MainActivity.kt
  packages/file_selector/file_selector/example/android/app/src/main/res/drawable-v21/launch_background.xml
  packages/file_selector/file_selector/example/android/app/src/main/res/drawable/launch_background.xml
  packages/file_selector/file_selector/example/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  packages/file_selector/file_selector/example/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  packages/file_selector/file_selector/example/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  packages/file_selector/file_selector/example/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  packages/file_selector/file_selector/example/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  packages/file_selector/file_selector/example/android/app/src/main/res/values-night/styles.xml
  packages/file_selector/file_selector/example/android/app/src/main/res/values/styles.xml
  packages/file_selector/file_selector/example/android/app/src/profile/AndroidManifest.xml
  packages/file_selector/file_selector/example/android/build.gradle
  packages/file_selector/file_selector/example/android/gradle.properties
  packages/file_selector/file_selector/example/android/gradle/wrapper/gradle-wrapper.properties
  packages/file_selector/file_selector/example/android/settings.gradle
  packages/file_selector/file_selector/example/lib/get_directory_page.dart
  packages/file_selector/file_selector/example/lib/home_page.dart
  packages/file_selector/file_selector/example/lib/open_text_page.dart
  packages/file_selector/file_selector/example/lib/save_text_page.dart
  packages/file_selector/file_selector/pubspec.yaml
  script/configs/exclude_integration_android.yaml
Labels: needs tests, autosubmit, p: file_selector, platform-android

#4357 [tool] Add a flag to skip cleanup
  script/tool/lib/src/update_excerpts_command.dart
  script/tool/test/update_excerpts_command_test.dart
Labels: autosubmit

#4363 Roll Flutter from ff838bca8990 to aa5f4a28e9a8 (29 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#4340 [webview_flutter_wkwebview] Fixes inspectable compile-time error and crash from equal `NSURL`s
  packages/webview_flutter/webview_flutter_wkwebview/CHANGELOG.md
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/RunnerTests/FWFInstanceManagerTests.m
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/RunnerTests/FWFWebViewHostApiTests.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFInstanceManager.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFWebViewHostApi.m
  packages/webview_flutter/webview_flutter_wkwebview/pubspec.yaml
Labels: autosubmit, platform-ios, p: webview_flutter

#4373 Roll Flutter from aa5f4a28e9a8 to 590ef2d402f6 (5 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#4352 [ci] Add a web version of Dart unit tests
  .ci.yaml
  .ci/targets/dart_unit_tests.yaml
  .ci/targets/web_dart_unit_tests.yaml
  .cirrus.yml
  packages/flutter_markdown/test/image_test.dart
  packages/flutter_markdown/test/link_test.dart
  packages/flutter_migrate/dart_test.yaml
  packages/go_router_builder/dart_test.yaml
  packages/go_router_builder/example/dart_test.yaml
  packages/google_maps_flutter/google_maps_flutter_platform_interface/test/types/bitmap_test.dart
  packages/metrics_center/dart_test.yaml
  packages/multicast_dns/dart_test.yaml
  packages/palette_generator/dart_test.yaml
  packages/pigeon/dart_test.yaml
  packages/rfw/dart_test.yaml
  packages/standard_message_codec/test/standard_message_codec_test.dart
  packages/xdg_directories/dart_test.yaml
  script/tool/lib/src/common/package_state_utils.dart
  script/tool/lib/src/dart_test_command.dart
  script/tool/test/common/package_state_utils_test.dart
  script/tool/test/dart_test_command_test.dart
Labels: p: metrics_center, p: multicast_dns, p: palette_generator, p: pigeon, p: xdg_directories, p: flutter_markdown, p: rfw, p: go_router_builder, autosubmit, p: flutter_migrate, p: google_maps_flutter, p: standard_message_codec

#3880 [flutter_markdown] Add TableCellVerticalAlignment property in markdown stylesheet
  packages/flutter_markdown/CHANGELOG.md
  packages/flutter_markdown/lib/src/builder.dart
  packages/flutter_markdown/lib/src/style_sheet.dart
  packages/flutter_markdown/pubspec.yaml
  packages/flutter_markdown/test/table_test.dart
Labels: p: flutter_markdown, autosubmit

#4348 [tools] Switch to `flutter test`
  script/tool/lib/src/common/process_runner.dart
  script/tool/lib/src/drive_examples_command.dart
  script/tool/test/drive_examples_command_test.dart
Labels: autosubmit

#4375 [ci] Remove `starqlteue` from FTL tests
  .cirrus.yml
Labels: autosubmit

#4337 [camerax] Fixes `unawaited_futures` violations
  packages/camera/camera_android_camerax/CHANGELOG.md
  packages/camera/camera_android_camerax/analysis_options.yaml
  packages/camera/camera_android_camerax/example/lib/camera_controller.dart
  packages/camera/camera_android_camerax/lib/src/android_camera_camerax.dart
  packages/camera/camera_android_camerax/lib/src/image_capture.dart
  packages/camera/camera_android_camerax/lib/src/recording.dart
  packages/camera/camera_android_camerax/pubspec.yaml
  packages/camera/camera_android_camerax/test/android_camera_camerax_test.dart
  packages/camera/camera_android_camerax/test/recording_test.dart
  script/configs/custom_analysis.yaml
Labels: autosubmit, p: camera

#4374 [google_sign_in_web] Fixes force unwrap on values that can be null
  packages/google_sign_in/google_sign_in_web/CHANGELOG.md
  packages/google_sign_in/google_sign_in_web/example/integration_test/src/jwt_examples.dart
  packages/google_sign_in/google_sign_in_web/example/integration_test/utils_test.dart
  packages/google_sign_in/google_sign_in_web/lib/src/utils.dart
  packages/google_sign_in/google_sign_in_web/pubspec.yaml
Labels: autosubmit, p: google_sign_in, platform-web

#4289 [pigeon]fix a crash when casting NSNull to an Array
  packages/pigeon/CHANGELOG.md
  packages/pigeon/example/app/android/app/src/main/java/io/flutter/plugins/Messages.java
  packages/pigeon/example/app/android/app/src/main/kotlin/dev/flutter/pigeon_example_app/Messages.g.kt
  packages/pigeon/example/app/ios/Runner/Messages.g.swift
  packages/pigeon/example/app/lib/src/messages.g.dart
  packages/pigeon/example/app/macos/Runner/messages.g.h
  packages/pigeon/example/app/macos/Runner/messages.g.m
  packages/pigeon/example/app/windows/runner/messages.g.cpp
  packages/pigeon/example/app/windows/runner/messages.g.h
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/lib/swift_generator.dart
  packages/pigeon/mock_handler_tester/test/message.dart
  packages/pigeon/mock_handler_tester/test/test.dart
  packages/pigeon/pigeons/core_tests.dart
  packages/pigeon/platform_tests/alternate_language_test_plugin/android/src/main/java/com/example/alternate_language_test_plugin/AlternateLanguageTestPlugin.java
  packages/pigeon/platform_tests/alternate_language_test_plugin/android/src/main/java/com/example/alternate_language_test_plugin/CoreTests.java
  packages/pigeon/platform_tests/alternate_language_test_plugin/android/src/test/java/com/example/alternate_language_test_plugin/AllDatatypesTest.java
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/AlternateLanguageTestPlugin.m
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/CoreTests.gen.h
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/CoreTests.gen.m
  packages/pigeon/platform_tests/alternate_language_test_plugin/lib/main.dart
  packages/pigeon/platform_tests/alternate_language_test_plugin/macos/Classes/AlternateLanguageTestPlugin.m
  packages/pigeon/platform_tests/alternate_language_test_plugin/macos/Classes/CoreTests.gen.h
  packages/pigeon/platform_tests/alternate_language_test_plugin/macos/Classes/CoreTests.gen.m
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/core_tests.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/flutter_unittests.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/multiple_arity.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/non_null_fields.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/null_fields.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/nullable_returns.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/primitive.gen.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/integration_tests.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/core_tests.gen.dart
  packages/pigeon/platform_tests/test_plugin/android/src/main/kotlin/com/example/test_plugin/CoreTests.gen.kt
  packages/pigeon/platform_tests/test_plugin/android/src/main/kotlin/com/example/test_plugin/TestPlugin.kt
  packages/pigeon/platform_tests/test_plugin/android/src/test/kotlin/com/example/test_plugin/AllDatatypesTest.kt
  packages/pigeon/platform_tests/test_plugin/example/ios/Runner.xcodeproj/project.pbxproj
  packages/pigeon/platform_tests/test_plugin/example/ios/RunnerTests/NSNullFieldTests.swift
  packages/pigeon/platform_tests/test_plugin/ios/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/ios/Classes/TestPlugin.swift
  packages/pigeon/platform_tests/test_plugin/macos/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/macos/Classes/TestPlugin.swift
  packages/pigeon/platform_tests/test_plugin/windows/pigeon/core_tests.gen.cpp
  packages/pigeon/platform_tests/test_plugin/windows/pigeon/core_tests.gen.h
  packages/pigeon/platform_tests/test_plugin/windows/test_plugin.cpp
  packages/pigeon/platform_tests/test_plugin/windows/test_plugin.h
  packages/pigeon/pubspec.yaml
Labels: p: pigeon, autosubmit, platform-android, platform-ios, platform-macos, platform-windows

#4315 [go_router] Allows redirect only GoRoute to be part of RouteMatchList
  packages/go_router/CHANGELOG.md
  packages/go_router/lib/src/builder.dart
  packages/go_router/lib/src/match.dart
  packages/go_router/lib/src/parser.dart
  packages/go_router/lib/src/route.dart
  packages/go_router/pubspec.yaml
  packages/go_router/test/go_route_test.dart
  packages/go_router/test/matching_test.dart
  packages/go_router/test/route_data_test.dart
Labels: p: go_router, autosubmit

#4370 [pigeon] adds generate option for example pigeons
  packages/pigeon/example/app/android/app/src/main/java/io/flutter/plugins/Messages.java
  packages/pigeon/example/app/android/app/src/main/kotlin/dev/flutter/pigeon_example_app/Messages.g.kt
  packages/pigeon/example/app/ios/Runner/Messages.g.swift
  packages/pigeon/example/app/lib/src/messages.g.dart
  packages/pigeon/example/app/macos/Runner/messages.g.h
  packages/pigeon/example/app/macos/Runner/messages.g.m
  packages/pigeon/example/app/windows/runner/messages.g.cpp
  packages/pigeon/example/app/windows/runner/messages.g.h
  packages/pigeon/tool/generate.dart
  packages/pigeon/tool/run_tests.dart
  packages/pigeon/tool/shared/generation.dart
Labels: p: pigeon, autosubmit, override: no changelog needed, platform-android, platform-ios, platform-macos, platform-windows

#4382 [ci] Bring up LUCI Linux custom package tests
  .ci.yaml
  .ci/scripts/custom_package_tests.sh
  .ci/targets/linux_custom_package_tests.yaml
  packages/cross_file/tool/run_tests.dart
  packages/google_identity_services_web/tool/run_tests.dart
  script/configs/linux_only_custom_test.yaml
Labels: p: cross_file, autosubmit

#4387 Roll Flutter from 35085c394dda to bc49cd1bcab5 (14 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#4362 [file_selector] Update to 1.0
  packages/file_selector/file_selector/CHANGELOG.md
  packages/file_selector/file_selector/lib/file_selector.dart
  packages/file_selector/file_selector/pubspec.yaml
  packages/file_selector/file_selector/test/file_selector_test.dart
Labels: warning: land on red to fix tree breakage, autosubmit, p: file_selector

#4380 [go_router] Exposes package-level privates
  packages/go_router/CHANGELOG.md
  packages/go_router/lib/go_router.dart
  packages/go_router/lib/src/builder.dart
  packages/go_router/lib/src/configuration.dart
  packages/go_router/lib/src/delegate.dart
  packages/go_router/lib/src/match.dart
  packages/go_router/lib/src/parser.dart
  packages/go_router/lib/src/path_utils.dart
  packages/go_router/lib/src/route.dart
  packages/go_router/lib/src/route_data.dart
  packages/go_router/lib/src/router.dart
  packages/go_router/lib/src/state.dart
  packages/go_router/lib/src/typedefs.dart
  packages/go_router/pubspec.yaml
  packages/go_router/test/builder_test.dart
  packages/go_router/test/configuration_test.dart
  packages/go_router/test/delegate_test.dart
  packages/go_router/test/extension_test.dart
  packages/go_router/test/go_router_state_test.dart
  packages/go_router/test/information_provider_test.dart
  packages/go_router/test/match_test.dart
  packages/go_router/test/matching_test.dart
  packages/go_router/test/parser_test.dart
  packages/go_router/test/test_helpers.dart
Labels: p: go_router, autosubmit

#4386 [ci] Switch `master` Linux custom package tests to LUCI
  .ci.yaml
  .cirrus.yml
Labels: autosubmit

#4381 [ci] Add partial LUCI Android platform tests
  .ci.yaml
  .ci/targets/android_platform_tests.yaml
  script/tool/lib/src/firebase_test_lab_command.dart
  script/tool/lib/src/lint_android_command.dart
  script/tool/lib/src/native_test_command.dart
  script/tool/test/firebase_test_lab_command_test.dart
  script/tool/test/lint_android_command_test.dart
  script/tool/test/native_test_command_test.dart
Labels: autosubmit

#4330 [url_launcher] Remove nested third_party safari checker
  packages/url_launcher/url_launcher_web/CHANGELOG.md
  packages/url_launcher/url_launcher_web/example/integration_test/url_launcher_web_test.dart
  packages/url_launcher/url_launcher_web/lib/src/third_party/platform_detect/AUTHORS
  packages/url_launcher/url_launcher_web/lib/src/third_party/platform_detect/LICENSE
  packages/url_launcher/url_launcher_web/lib/src/third_party/platform_detect/README.md
  packages/url_launcher/url_launcher_web/lib/src/third_party/platform_detect/browser.dart
  packages/url_launcher/url_launcher_web/lib/url_launcher_web.dart
  packages/url_launcher/url_launcher_web/pubspec.yaml
Labels: autosubmit, platform-web, p: url_launcher

#4388 [local_auth] Update Windows Pigeon version
  packages/local_auth/local_auth_windows/CHANGELOG.md
  packages/local_auth/local_auth_windows/lib/src/messages.g.dart
  packages/local_auth/local_auth_windows/pubspec.yaml
  packages/local_auth/local_auth_windows/windows/messages.g.cpp
  packages/local_auth/local_auth_windows/windows/messages.g.h
Labels: needs tests, autosubmit, p: local_auth, platform-windows

#4354 [webview_flutter_android][webview_flutter_wkwebview] Fixes unawaited_futures violations
  packages/webview_flutter/webview_flutter_android/CHANGELOG.md
  packages/webview_flutter/webview_flutter_android/analysis_options.yaml
  packages/webview_flutter/webview_flutter_android/example/integration_test/legacy/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter_android/example/integration_test/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview_controller.dart
  packages/webview_flutter/webview_flutter_android/pubspec.yaml
  packages/webview_flutter/webview_flutter_android/test/android_webview_controller_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/CHANGELOG.md
  packages/webview_flutter/webview_flutter_wkwebview/analysis_options.yaml
  packages/webview_flutter/webview_flutter_wkwebview/example/integration_test/legacy/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/example/integration_test/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/legacy/web_kit_webview_widget.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/webkit_webview_controller.dart
  packages/webview_flutter/webview_flutter_wkwebview/pubspec.yaml
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit/web_kit_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/webkit_webview_controller_test.dart
Labels: autosubmit, platform-android, platform-ios, p: webview_flutter

#4389 [ci] Add partial LUCI version of repo_checks
  .ci.yaml
  .ci/targets/repo_checks.yaml
Labels: autosubmit

#4271 [webview_flutter] Enable unawaited_futures lint
  packages/webview_flutter/webview_flutter/analysis_options.yaml
  packages/webview_flutter/webview_flutter/example/integration_test/legacy/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter/example/integration_test/webview_flutter_test.dart
  script/configs/custom_analysis.yaml
Labels: autosubmit, p: webview_flutter

#4391 [ci] Add LUCI web platform tests
  -
  .ci.yaml
  .ci/targets/web_platform_tests.yaml
  script/tool/lib/src/drive_examples_command.dart
  script/tool/test/drive_examples_command_test.dart
  script/tool/test/mocks.dart
Labels: autosubmit

#4383 Roll pigeon dependency to unblock flutter framework deps roll
  packages/url_launcher/url_launcher_windows/CHANGELOG.md
  packages/url_launcher/url_launcher_windows/lib/src/messages.g.dart
  packages/url_launcher/url_launcher_windows/pubspec.yaml
  packages/url_launcher/url_launcher_windows/windows/messages.g.cpp
  packages/url_launcher/url_launcher_windows/windows/messages.g.h
Labels: platform-windows, p: url_launcher

#4393 [flutter_markdown] Pass parent TextStyle down to MarkdownElementBuilder.visitElementAfter
  packages/flutter_markdown/CHANGELOG.md
  packages/flutter_markdown/lib/src/builder.dart
  packages/flutter_markdown/lib/src/widget.dart
  packages/flutter_markdown/pubspec.yaml
  packages/flutter_markdown/test/custom_syntax_test.dart
Labels: p: flutter_markdown, autosubmit

#4395 [ci] Switch some tests to LUCI
  .ci.yaml
  .ci/targets/android_platform_tests.yaml
  .cirrus.yml
  packages/video_player/video_player/example/integration_test/video_player_test.dart
Labels: autosubmit, p: video_player

#4399 [tool] Fix --current-package for app-facing packages
  script/tool/lib/src/common/package_command.dart
  script/tool/test/common/package_command_test.dart
Labels: autosubmit

#4404 [ci] Enable LUCI stable custom Linux tests
  .ci.yaml
  .cirrus.yml
Labels: autosubmit

#4397 [tool] Use 'flutter pub get' for Flutter packages
  script/tool/lib/src/common/pub_utils.dart
  script/tool/lib/src/create_all_packages_app_command.dart
  script/tool/lib/src/custom_test_command.dart
  script/tool/lib/src/dart_test_command.dart
  script/tool/lib/src/publish_check_command.dart
  script/tool/lib/src/update_dependency_command.dart
  script/tool/lib/src/update_excerpts_command.dart
  script/tool/test/common/pub_utils_test.dart
  script/tool/test/publish_check_command_test.dart
  script/tool/test/update_dependency_command_test.dart
  script/tool/test/update_excerpts_command_test.dart
Labels: autosubmit

#4390 [in_app_purchase_android] Bump com.android.billingclient:billing from 5.2.0 to 6.0.0.
  packages/in_app_purchase/in_app_purchase_android/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_android/android/build.gradle
  packages/in_app_purchase/in_app_purchase_android/android/src/main/java/io/flutter/plugins/inapppurchase/MethodCallHandlerImpl.java
  packages/in_app_purchase/in_app_purchase_android/android/src/test/java/io/flutter/plugins/inapppurchase/MethodCallHandlerTest.java
  packages/in_app_purchase/in_app_purchase_android/pubspec.yaml
Labels: autosubmit, p: in_app_purchase, platform-android

#4228 [go_router] implemented helpers for StatefulShellRoute
  packages/go_router/CHANGELOG.md
  packages/go_router/lib/src/route.dart
  packages/go_router/lib/src/route_data.dart
  packages/go_router/pubspec.yaml
  packages/go_router/test/route_data_test.dart
Labels: p: go_router, autosubmit

#4407 [shared_preferences] Variable binding in a condition requires an initializer fix
  packages/shared_preferences/shared_preferences_foundation/CHANGELOG.md
  packages/shared_preferences/shared_preferences_foundation/darwin/Classes/SharedPreferencesPlugin.swift
  packages/shared_preferences/shared_preferences_foundation/pubspec.yaml
Labels: autosubmit, p: shared_preferences

#4403 Roll Flutter from bc49cd1bcab5 to d55a7d89e05e (17 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#4400 [url_lancher] Don't use `canLaunchUrl` in Link
  packages/url_launcher/url_launcher/CHANGELOG.md
  packages/url_launcher/url_launcher/README.md
  packages/url_launcher/url_launcher/lib/src/link.dart
  packages/url_launcher/url_launcher/pubspec.yaml
  packages/url_launcher/url_launcher/test/link_test.dart
Labels: autosubmit, p: url_launcher

#4402 [tool] Update Dart SDK version
  script/tool/lib/src/analyze_command.dart
  script/tool/lib/src/build_examples_command.dart
  script/tool/lib/src/common/package_looping_command.dart
  script/tool/lib/src/custom_test_command.dart
  script/tool/lib/src/dart_test_command.dart
  script/tool/lib/src/dependabot_check_command.dart
  script/tool/lib/src/drive_examples_command.dart
  script/tool/lib/src/federation_safety_check_command.dart
  script/tool/lib/src/firebase_test_lab_command.dart
  script/tool/lib/src/fix_command.dart
  script/tool/lib/src/format_command.dart
  script/tool/lib/src/gradle_check_command.dart
  script/tool/lib/src/license_check_command.dart
  script/tool/lib/src/lint_android_command.dart
  script/tool/lib/src/list_command.dart
  script/tool/lib/src/make_deps_path_based_command.dart
  script/tool/lib/src/native_test_command.dart
  script/tool/lib/src/podspec_check_command.dart
  script/tool/lib/src/publish_check_command.dart
  script/tool/lib/src/publish_command.dart
  script/tool/lib/src/pubspec_check_command.dart
  script/tool/lib/src/readme_check_command.dart
  script/tool/lib/src/remove_dev_dependencies_command.dart
  script/tool/lib/src/update_dependency_command.dart
  script/tool/lib/src/update_excerpts_command.dart
  script/tool/lib/src/update_min_sdk_command.dart
  script/tool/lib/src/update_release_info_command.dart
  script/tool/lib/src/version_check_command.dart
  script/tool/lib/src/xcode_analyze_command.dart
  script/tool/pubspec.yaml
  script/tool/test/common/package_command_test.dart
  script/tool/test/common/package_looping_command_test.dart
  script/tool/test/common/plugin_utils_test.dart
Labels: autosubmit

#4413 Roll Flutter from d55a7d89e05e to 65ff3cb9b45c (21 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#4341 go_router: docs: fix typo in StatefulShellRoute.indexedStack(...) docs
  packages/go_router/CHANGELOG.md
  packages/go_router/lib/src/route.dart
Labels: p: go_router, autosubmit, override: no versioning needed

#4429 [web_benchmarks] Migrate custom test to `custom_package_tests`
  .ci.yaml
  .cirrus.yml
  packages/web_benchmarks/tool/run_tests.dart
Labels: p: web_benchmarks, autosubmit

#4384 [pigeon] `Object` type in class integration tests
  packages/pigeon/CHANGELOG.md
  packages/pigeon/lib/cpp_generator.dart
  packages/pigeon/lib/dart_generator.dart
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/lib/java_generator.dart
  packages/pigeon/mock_handler_tester/test/message.dart
  packages/pigeon/mock_handler_tester/test/test.dart
  packages/pigeon/pigeons/core_tests.dart
  packages/pigeon/platform_tests/alternate_language_test_plugin/android/src/main/java/com/example/alternate_language_test_plugin/CoreTests.java
  packages/pigeon/platform_tests/alternate_language_test_plugin/android/src/test/java/com/example/alternate_language_test_plugin/AllDatatypesTest.java
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/CoreTests.gen.h
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/CoreTests.gen.m
  packages/pigeon/platform_tests/alternate_language_test_plugin/macos/Classes/CoreTests.gen.h
  packages/pigeon/platform_tests/alternate_language_test_plugin/macos/Classes/CoreTests.gen.m
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/core_tests.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/flutter_unittests.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/multiple_arity.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/non_null_fields.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/null_fields.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/nullable_returns.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/primitive.gen.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/integration_tests.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/core_tests.gen.dart
  packages/pigeon/platform_tests/test_plugin/android/src/main/kotlin/com/example/test_plugin/CoreTests.gen.kt
  packages/pigeon/platform_tests/test_plugin/android/src/test/kotlin/com/example/test_plugin/AllDatatypesTest.kt
  packages/pigeon/platform_tests/test_plugin/ios/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/macos/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/windows/pigeon/core_tests.gen.cpp
  packages/pigeon/platform_tests/test_plugin/windows/pigeon/core_tests.gen.h
  packages/pigeon/pubspec.yaml
Labels: p: pigeon, autosubmit, platform-android, platform-ios, platform-macos, platform-windows

#4412 [go_router] Fix some typos in the comments and asserts
  packages/go_router/CHANGELOG.md
  packages/go_router/lib/src/configuration.dart
  packages/go_router/lib/src/information_provider.dart
  packages/go_router/lib/src/match.dart
  packages/go_router/lib/src/router.dart
Labels: needs tests, p: go_router, autosubmit, override: no versioning needed

#4436 [tool] Conditionalize color on `stdout`
  script/tool/lib/src/analyze_command.dart
  script/tool/lib/src/build_examples_command.dart
  script/tool/lib/src/common/cmake.dart
  script/tool/lib/src/common/core.dart
  script/tool/lib/src/common/output_utils.dart
  script/tool/lib/src/common/package_command.dart
  script/tool/lib/src/common/package_looping_command.dart
  script/tool/lib/src/common/xcode.dart
  script/tool/lib/src/create_all_packages_app_command.dart
  script/tool/lib/src/dart_test_command.dart
  script/tool/lib/src/dependabot_check_command.dart
  script/tool/lib/src/drive_examples_command.dart
  script/tool/lib/src/federation_safety_check_command.dart
  script/tool/lib/src/firebase_test_lab_command.dart
  script/tool/lib/src/fix_command.dart
  script/tool/lib/src/format_command.dart
  script/tool/lib/src/gradle_check_command.dart
  script/tool/lib/src/license_check_command.dart
  script/tool/lib/src/lint_android_command.dart
  script/tool/lib/src/make_deps_path_based_command.dart
  script/tool/lib/src/native_test_command.dart
  script/tool/lib/src/podspec_check_command.dart
  script/tool/lib/src/publish_check_command.dart
  script/tool/lib/src/publish_command.dart
  script/tool/lib/src/pubspec_check_command.dart
  script/tool/lib/src/readme_check_command.dart
  script/tool/lib/src/update_dependency_command.dart
  script/tool/lib/src/update_excerpts_command.dart
  script/tool/lib/src/update_min_sdk_command.dart
  script/tool/lib/src/update_release_info_command.dart
  script/tool/lib/src/version_check_command.dart
  script/tool/lib/src/xcode_analyze_command.dart
  script/tool/test/common/output_utils_test.dart
  script/tool/test/common/package_looping_command_test.dart
  script/tool/test/publish_command_test.dart
Labels: autosubmit

#4440 [palette_generator] Add web support to unit tests
  packages/palette_generator/dart_test.yaml
  packages/palette_generator/pubspec.yaml
  packages/palette_generator/test/encoded_images.dart
  packages/palette_generator/test/palette_generator_test.dart
Labels: p: palette_generator, autosubmit, override: no versioning needed, override: no changelog needed

#4438 [ci] Remove webview_flutter implementation opt outs for custom analysis
  script/configs/custom_analysis.yaml
Labels: autosubmit

#4437 [ci] Remove unused Chromium setup
  .cirrus.yml
  script/install_chromium.sh
Labels: autosubmit

#4441 [webview_flutter_wkwebview] NSError.toString
  packages/webview_flutter/webview_flutter_wkwebview/CHANGELOG.md
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/foundation/foundation.dart
  packages/webview_flutter/webview_flutter_wkwebview/pubspec.yaml
  packages/webview_flutter/webview_flutter_wkwebview/test/src/foundation/foundation_test.dart
Labels: autosubmit, platform-ios, p: webview_flutter

#4435 [ci] Enable LUCI legacy analysis
  .ci.yaml
  .cirrus.yml
Labels: autosubmit

#4349 [rfw] Add some more documentation for RFW
  packages/rfw/CHANGELOG.md
  packages/rfw/README.md
  packages/rfw/example/hello/lib/main.dart
  packages/rfw/example/local/lib/main.dart
  packages/rfw/example/wasm/logic/calculator.rfwtxt
  packages/rfw/lib/src/dart/text.dart
  packages/rfw/lib/src/flutter/core_widgets.dart
  packages/rfw/pubspec.yaml
  packages/rfw/test/readme_test.dart
  script/configs/temp_exclude_excerpt.yaml
Labels: p: rfw, autosubmit

#4445 [file_selector] Avoids using path_provider in web example app.
  -
  packages/file_selector/file_selector/example/lib/save_text_page.dart
Labels: autosubmit, override: no changelog needed, p: file_selector

#4431 [image_picker] Roll dependancies to avoid error
  packages/image_picker/image_picker/CHANGELOG.md
  packages/image_picker/image_picker/pubspec.yaml
Labels: warning: land on red to fix tree breakage, autosubmit, p: image_picker

#4415 Roll Flutter from 65ff3cb9b45c to 3ec96a8a4a5d (5 revisions)
  .ci/flutter_master.version
Labels: warning: land on red to fix tree breakage, autosubmit

#4434 ADD appBarBreakpoint
  packages/flutter_adaptive_scaffold/CHANGELOG.md
  packages/flutter_adaptive_scaffold/lib/src/adaptive_scaffold.dart
  packages/flutter_adaptive_scaffold/pubspec.yaml
  packages/flutter_adaptive_scaffold/test/adaptive_scaffold_test.dart
  packages/flutter_adaptive_scaffold/test/simulated_layout.dart
  packages/flutter_adaptive_scaffold/test/test_breakpoints.dart
Labels: autosubmit, p: flutter_adaptive_scaffold

#4446 [ci] Move snippet checks to LUCI
  .ci/targets/repo_checks.yaml
  .cirrus.yml
  script/tool/lib/src/update_excerpts_command.dart
  script/tool/test/update_excerpts_command_test.dart
Labels: autosubmit

#4448 Roll Flutter from 3ec96a8a4a5d to 544d30dbaddf (66 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#4444 [metrics_center] Remove Equatable dependency
  packages/metrics_center/CHANGELOG.md
  packages/metrics_center/lib/src/common.dart
  packages/metrics_center/pubspec.yaml
Labels: p: metrics_center, autosubmit

#4449 [cross_file] Correct sorting of import starting with dot-slash
  packages/cross_file/lib/src/types/html.dart
Labels: p: cross_file, autosubmit, override: no versioning needed, override: no changelog needed

#3683 [file_selector_web] Listens to file input cancel event.
  .ci/scripts/dart_unit_tests_pathified.sh
  .ci/targets/dart_unit_tests.yaml
  packages/file_selector/file_selector_web/CHANGELOG.md
  packages/file_selector/file_selector_web/README.md
  packages/file_selector/file_selector_web/example/integration_test/dom_helper_test.dart
  packages/file_selector/file_selector_web/example/integration_test/file_selector_web_test.dart
  packages/file_selector/file_selector_web/lib/file_selector_web.dart
  packages/file_selector/file_selector_web/lib/src/dom_helper.dart
  packages/file_selector/file_selector_web/pubspec.yaml
  packages/file_selector/file_selector_web/test/utils_test.dart
Labels: autosubmit, p: file_selector, platform-web

#4355 [rfw] Restore RFW to 100% coverage
  packages/rfw/CHANGELOG.md
  packages/rfw/lib/src/dart/text.dart
  packages/rfw/test/argument_decoders_test.dart
  packages/rfw/test/goldens/argument_decoders_test.containers.png
  packages/rfw/test/goldens/argument_decoders_test.gridview.fixed.png
  packages/rfw/test/goldens/argument_decoders_test.text.png
  packages/rfw/test/material_widgets_test.dart
  packages/rfw/test/text_test.dart
  packages/rfw/test_coverage/bin/test_coverage.dart
Labels: p: rfw, autosubmit, override: no versioning needed

#4439 [webview_flutter_platform_interface] Adds url to `WebResourceError`
  packages/webview_flutter/webview_flutter_platform_interface/CHANGELOG.md
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/types/web_resource_error.dart
  packages/webview_flutter/webview_flutter_platform_interface/pubspec.yaml
Labels: autosubmit, p: webview_flutter, federated: partial_changes

#4369 Fix Router Config Issues #4300 (go_router_builder/example)
  packages/go_router_builder/example/lib/all_types.dart
  packages/go_router_builder/example/lib/main.dart
  packages/go_router_builder/example/lib/simple_example.dart
  packages/go_router_builder/example/test/simple_example_test.dart
Labels: p: go_router_builder, autosubmit, override: no versioning needed, override: no changelog needed

#4456 Roll Flutter (stable) from 796c8ef79279 to f468f3366c26 (2 revisions)
  .ci/flutter_stable.version
Labels: autosubmit

#4457 Roll Flutter from 544d30dbaddf to c40173f114fa (10 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#4461 [various] Update Pigeon in Swift plugins
  packages/file_selector/file_selector_macos/CHANGELOG.md
  packages/file_selector/file_selector_macos/lib/src/messages.g.dart
  packages/file_selector/file_selector_macos/macos/Classes/messages.g.swift
  packages/file_selector/file_selector_macos/pubspec.yaml
  packages/file_selector/file_selector_macos/test/messages_test.g.dart
  packages/path_provider/path_provider_foundation/CHANGELOG.md
  packages/path_provider/path_provider_foundation/darwin/Classes/messages.g.swift
  packages/path_provider/path_provider_foundation/lib/messages.g.dart
  packages/path_provider/path_provider_foundation/pubspec.yaml
  packages/path_provider/path_provider_foundation/test/messages_test.g.dart
  packages/shared_preferences/shared_preferences_foundation/CHANGELOG.md
  packages/shared_preferences/shared_preferences_foundation/darwin/Classes/messages.g.swift
  packages/shared_preferences/shared_preferences_foundation/lib/messages.g.dart
  packages/shared_preferences/shared_preferences_foundation/pubspec.yaml
  packages/shared_preferences/shared_preferences_foundation/test/test_api.g.dart
  packages/url_launcher/url_launcher_macos/CHANGELOG.md
  packages/url_launcher/url_launcher_macos/lib/src/messages.g.dart
  packages/url_launcher/url_launcher_macos/macos/Classes/messages.g.swift
  packages/url_launcher/url_launcher_macos/pubspec.yaml
Labels: autosubmit, p: file_selector, p: path_provider, platform-macos, p: url_launcher, p: shared_preferences

#4460 [xdg_directories] Remove `process` dependency
  packages/xdg_directories/CHANGELOG.md
  packages/xdg_directories/lib/xdg_directories.dart
  packages/xdg_directories/pubspec.yaml
  packages/xdg_directories/test/xdg_directories_test.dart
Labels: p: xdg_directories, warning: land on red to fix tree breakage, autosubmit

#3884 [webview_flutter] Adds support for receiving a url with WebResourceError
  packages/webview_flutter/webview_flutter_android/CHANGELOG.md
  packages/webview_flutter/webview_flutter_android/example/integration_test/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter_android/example/lib/main.dart
  packages/webview_flutter/webview_flutter_android/example/pubspec.yaml
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview_controller.dart
  packages/webview_flutter/webview_flutter_android/pubspec.yaml
  packages/webview_flutter/webview_flutter_wkwebview/CHANGELOG.md
  packages/webview_flutter/webview_flutter_wkwebview/example/integration_test/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/Runner.xcodeproj/project.pbxproj
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/RunnerTests/FWFDataConvertersTests.m
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/RunnerTests/FWFErrorTests.m
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/RunnerTests/FWFWebViewHostApiTests.m
  packages/webview_flutter/webview_flutter_wkwebview/example/lib/main.dart
  packages/webview_flutter/webview_flutter_wkwebview/example/pubspec.yaml
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFDataConverters.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFGeneratedWebKitApis.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFGeneratedWebKitApis.m
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/common/web_kit.g.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/foundation/foundation.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/legacy/web_kit_webview_widget.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/web_kit/web_kit_api_impls.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/webkit_webview_controller.dart
  packages/webview_flutter/webview_flutter_wkwebview/pigeons/web_kit.dart
  packages/webview_flutter/webview_flutter_wkwebview/pubspec.yaml
  packages/webview_flutter/webview_flutter_wkwebview/test/legacy/web_kit_webview_widget_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/foundation/foundation_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit/web_kit_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/webkit_navigation_delegate_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/webkit_webview_controller_test.dart
Labels: autosubmit, platform-android, platform-ios, p: webview_flutter, federated: all_changes

#4141 [google_maps_flutter_platform_interface] Add support for cloud-based map styling
  packages/google_maps_flutter/google_maps_flutter_platform_interface/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/map_configuration.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/utils/map_configuration_serialization.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_platform_interface/test/types/map_configuration_test.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/test/utils/map_configuration_serialization_test.dart
Labels: autosubmit, p: google_maps_flutter

#4318 [video_player] added iOS exception on incorrect asset path
  packages/video_player/video_player_avfoundation/CHANGELOG.md
  packages/video_player/video_player_avfoundation/ios/Classes/FLTVideoPlayerPlugin.m
  packages/video_player/video_player_avfoundation/pubspec.yaml
  packages/video_player/video_player_avfoundation/test/avfoundation_video_player_test.dart
Labels: needs tests, autosubmit, platform-ios, p: video_player

#4408 [Tool] New tool to download android dependencies
  .ci/targets/android_platform_tests.yaml
  script/tool/lib/src/fetch_deps_command.dart
  script/tool/lib/src/main.dart
  script/tool/test/fetch_deps_command_test.dart
Labels: autosubmit

#4469 [go_router] Bumps example go_router version and migrate example code
  packages/go_router_builder/CHANGELOG.md
  packages/go_router_builder/example/lib/all_types.dart
  packages/go_router_builder/example/lib/shell_route_example.dart
  packages/go_router_builder/example/lib/shell_route_with_keys_example.dart
  packages/go_router_builder/example/pubspec.yaml
  packages/go_router_builder/pubspec.yaml
Labels: p: go_router_builder, autosubmit

#4451 [camerax] Marks all wrapped classes as immutable
  packages/camera/camera_android_camerax/CHANGELOG.md
  packages/camera/camera_android_camerax/CONTRIBUTING.md
  packages/camera/camera_android_camerax/lib/src/analyzer.dart
  packages/camera/camera_android_camerax/lib/src/camera.dart
  packages/camera/camera_android_camerax/lib/src/camera_info.dart
  packages/camera/camera_android_camerax/lib/src/camera_selector.dart
  packages/camera/camera_android_camerax/lib/src/camera_state.dart
  packages/camera/camera_android_camerax/lib/src/camera_state_error.dart
  packages/camera/camera_android_camerax/lib/src/exposure_state.dart
  packages/camera/camera_android_camerax/lib/src/image_analysis.dart
  packages/camera/camera_android_camerax/lib/src/image_capture.dart
  packages/camera/camera_android_camerax/lib/src/image_proxy.dart
  packages/camera/camera_android_camerax/lib/src/live_data.dart
  packages/camera/camera_android_camerax/lib/src/observer.dart
  packages/camera/camera_android_camerax/lib/src/pending_recording.dart
  packages/camera/camera_android_camerax/lib/src/plane_proxy.dart
  packages/camera/camera_android_camerax/lib/src/preview.dart
  packages/camera/camera_android_camerax/lib/src/process_camera_provider.dart
  packages/camera/camera_android_camerax/lib/src/recorder.dart
  packages/camera/camera_android_camerax/lib/src/recording.dart
  packages/camera/camera_android_camerax/lib/src/surface.dart
  packages/camera/camera_android_camerax/lib/src/use_case.dart
  packages/camera/camera_android_camerax/lib/src/video_capture.dart
  packages/camera/camera_android_camerax/lib/src/zoom_state.dart
  packages/camera/camera_android_camerax/pubspec.yaml
  packages/camera/camera_android_camerax/test/analyzer_test.mocks.dart
  packages/camera/camera_android_camerax/test/android_camera_camerax_test.mocks.dart
  packages/camera/camera_android_camerax/test/camera_info_test.mocks.dart
  packages/camera/camera_android_camerax/test/camera_selector_test.mocks.dart
  packages/camera/camera_android_camerax/test/camera_state_error_test.mocks.dart
  packages/camera/camera_android_camerax/test/camera_state_test.mocks.dart
  packages/camera/camera_android_camerax/test/camera_test.mocks.dart
  packages/camera/camera_android_camerax/test/exposure_state_test.mocks.dart
  packages/camera/camera_android_camerax/test/image_analysis_test.mocks.dart
  packages/camera/camera_android_camerax/test/image_proxy_test.mocks.dart
  packages/camera/camera_android_camerax/test/live_data_test.mocks.dart
  packages/camera/camera_android_camerax/test/observer_test.mocks.dart
  packages/camera/camera_android_camerax/test/pending_recording_test.mocks.dart
  packages/camera/camera_android_camerax/test/plane_proxy_test.mocks.dart
  packages/camera/camera_android_camerax/test/preview_test.mocks.dart
  packages/camera/camera_android_camerax/test/process_camera_provider_test.mocks.dart
  packages/camera/camera_android_camerax/test/recorder_test.mocks.dart
  packages/camera/camera_android_camerax/test/recording_test.mocks.dart
  packages/camera/camera_android_camerax/test/system_services_test.mocks.dart
  packages/camera/camera_android_camerax/test/video_capture_test.mocks.dart
  packages/camera/camera_android_camerax/test/zoom_state_test.mocks.dart
Labels: autosubmit, p: camera

#4223 [ci] Introduce LUCI versions of Linux desktop platform tests
  .ci.yaml
  .ci/scripts/set_default_linux_apps.sh
  .ci/scripts/xvfb_tool_runner.sh
  .ci/targets/linux_platform_tests.yaml
Labels: autosubmit

#4406 [ci] Switch Android unit tests to LUCI
  .ci.yaml
  .ci/targets/android_platform_tests.yaml
  .cirrus.yml
  packages/camera/camera_android/CHANGELOG.md
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/Camera.java
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/CameraCaptureCallback.java
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/CameraRegionUtils.java
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/DeviceInfo.java
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/SdkCapabilityChecker.java
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/VideoRenderer.java
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/features/fpsrange/FpsRangeFeature.java
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/features/noisereduction/NoiseReductionFeature.java
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/features/resolution/ResolutionFeature.java
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/features/zoomlevel/ZoomLevelFeature.java
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/media/MediaRecorderBuilder.java
  packages/camera/camera_android/android/src/test/java/io/flutter/plugins/camera/CameraCaptureCallbackStatesTest.java
  packages/camera/camera_android/android/src/test/java/io/flutter/plugins/camera/CameraRegionUtils_getCameraBoundariesTest.java
  packages/camera/camera_android/android/src/test/java/io/flutter/plugins/camera/CameraTest.java
  packages/camera/camera_android/android/src/test/java/io/flutter/plugins/camera/features/fpsrange/FpsRangeFeaturePixel4aTest.java
  packages/camera/camera_android/android/src/test/java/io/flutter/plugins/camera/features/fpsrange/FpsRangeFeatureTest.java
  packages/camera/camera_android/android/src/test/java/io/flutter/plugins/camera/features/noisereduction/NoiseReductionFeatureTest.java
  packages/camera/camera_android/android/src/test/java/io/flutter/plugins/camera/features/zoomlevel/ZoomLevelFeatureTest.java
  packages/camera/camera_android/android/src/test/java/io/flutter/plugins/camera/utils/TestUtils.java
  packages/camera/camera_android/pubspec.yaml
  packages/file_selector/file_selector_android/CHANGELOG.md
  packages/file_selector/file_selector_android/android/src/main/java/dev/flutter/packages/file_selector_android/FileSelectorApiImpl.java
  packages/file_selector/file_selector_android/android/src/test/java/dev/flutter/packages/file_selector_android/FileSelectorAndroidPluginTest.java
  packages/file_selector/file_selector_android/pubspec.yaml
  packages/quick_actions/quick_actions_android/CHANGELOG.md
  packages/quick_actions/quick_actions_android/android/src/main/java/io/flutter/plugins/quickactions/QuickActionsPlugin.java
  packages/quick_actions/quick_actions_android/android/src/test/java/io/flutter/plugins/quickactions/QuickActionsTest.java
  packages/quick_actions/quick_actions_android/pubspec.yaml
  packages/webview_flutter/webview_flutter_android/CHANGELOG.md
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/CookieManagerHostApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebViewHostApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/CookieManagerTest.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/WebViewTest.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/utils/TestUtils.java
  packages/webview_flutter/webview_flutter_android/pubspec.yaml
Labels: autosubmit, p: camera, p: file_selector, p: quick_actions, platform-android, p: webview_flutter

#4485 [ci] Adjust bot configurations
  .ci.yaml
Labels: autosubmit

#4479 [ci] Switch Linux platform tests to LUCI
  .ci.yaml
  .cirrus.yml
Labels: autosubmit

#4489 Remove `equatable` and `xml` allowances
  packages/flutter_migrate/pubspec.yaml
  script/configs/allowed_unpinned_deps.yaml
Labels: autosubmit, p: flutter_migrate

#3800 [camerax] Add flash configuration for image capture
  packages/camera/camera_android_camerax/CHANGELOG.md
  packages/camera/camera_android_camerax/README.md
  packages/camera/camera_android_camerax/lib/src/android_camera_camerax.dart
  packages/camera/camera_android_camerax/pubspec.yaml
  packages/camera/camera_android_camerax/test/android_camera_camerax_test.dart
Labels: autosubmit, p: camera

#3826 [video_player] fix: add missing isPlaybackLikelyToKeepUp check.
  packages/video_player/video_player_avfoundation/CHANGELOG.md
  packages/video_player/video_player_avfoundation/example/ios/RunnerTests/VideoPlayerTests.m
  packages/video_player/video_player_avfoundation/ios/Classes/FLTVideoPlayerPlugin.m
  packages/video_player/video_player_avfoundation/pubspec.yaml
Labels: autosubmit, platform-ios, p: video_player

#4478 [google_maps_flutter_platform_interface] Platform interface changes for #3258
  packages/google_maps_flutter/google_maps_flutter_platform_interface/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/map_configuration.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/types.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/web_gesture_handling.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_platform_interface/test/types/map_configuration_test.dart
Labels: autosubmit, p: google_maps_flutter

#4433 [video_player] Add optional web options [Platform interface]
  packages/video_player/video_player_platform_interface/CHANGELOG.md
  packages/video_player/video_player_platform_interface/lib/video_player_platform_interface.dart
  packages/video_player/video_player_platform_interface/pubspec.yaml
  packages/video_player/video_player_platform_interface/test/video_player_platform_interface_test.dart
  packages/video_player/video_player_platform_interface/test/video_player_web_options_controls_test.dart
  packages/video_player/video_player_platform_interface/test/video_player_web_options_test.dart
Labels: autosubmit, p: video_player

#4484 [pigeon] Enable Android emulator tests in CI
  .ci.yaml
  packages/pigeon/tool/run_tests.dart
Labels: p: pigeon, autosubmit

#4202 [video_player] Fix iOS crash with multiple players
  packages/video_player/video_player_avfoundation/CHANGELOG.md
  packages/video_player/video_player_avfoundation/example/ios/RunnerTests/VideoPlayerTests.m
  packages/video_player/video_player_avfoundation/ios/Classes/FLTVideoPlayerPlugin.m
  packages/video_player/video_player_avfoundation/pubspec.yaml
Labels: autosubmit, platform-ios, p: video_player

#4513 [ci] Roll Flutter to f842ed91
  .ci/flutter_master.version
  packages/dynamic_layouts/example/test/wrap_example_test.dart
Labels: autosubmit, p: dynamic_layouts

#4514 [flutter_markdown] Change the way tests get screen size
  packages/flutter_markdown/test/list_test.dart
Labels: p: flutter_markdown, autosubmit

#4515 [ci] Enable new sharding
  .ci.yaml
  .ci/scripts/build_examples_win32.sh
  .ci/scripts/drive_examples_win32.sh
  .ci/scripts/native_test_win32.sh
Labels: autosubmit

#4518 Manual roll Flutter from f842ed916514 to 6f09064e785b (11 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#4473 [tooling] mark infra steps as infra steps in yaml files
  .ci/targets/analyze.yaml
  .ci/targets/analyze_legacy.yaml
  .ci/targets/android_build_all_packages.yaml
  .ci/targets/dart_unit_tests.yaml
  .ci/targets/ios_build_all_packages.yaml
  .ci/targets/ios_platform_tests.yaml
  .ci/targets/linux_build_all_packages.yaml
  .ci/targets/linux_custom_package_tests.yaml
  .ci/targets/macos_build_all_packages.yaml
  .ci/targets/macos_check_podspecs.yaml
  .ci/targets/macos_custom_package_tests.yaml
  .ci/targets/macos_platform_tests.yaml
  .ci/targets/repo_checks.yaml
  .ci/targets/repo_tools_tests.yaml
  .ci/targets/web_build_all_packages.yaml
  .ci/targets/web_dart_unit_tests.yaml
  .ci/targets/web_platform_tests.yaml
  .ci/targets/windows_build_all_packages.yaml
  .ci/targets/windows_build_and_platform_tests.yaml
  .ci/targets/windows_custom_package_tests.yaml
  .ci/targets/windows_dart_unit_tests.yaml
Labels: autosubmit

#4522 Roll Flutter from 6f09064e785b to d07e8aece184 (60 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#4409 [go_router] Adds a parentNavigatorKey parameter to ShellRouteData.
  packages/go_router/CHANGELOG.md
  packages/go_router/lib/src/route_data.dart
  packages/go_router/pubspec.yaml
  packages/go_router/test/route_data_test.dart
Labels: p: go_router, autosubmit

#4520 [image_picker] Deprecate platform interface methods
  packages/image_picker/image_picker_platform_interface/CHANGELOG.md
  packages/image_picker/image_picker_platform_interface/lib/src/platform_interface/image_picker_platform.dart
  packages/image_picker/image_picker_platform_interface/pubspec.yaml
Labels: autosubmit, p: image_picker

#4528 [ci] Enable Windows Dart unit test sharding
  .ci.yaml
Labels: autosubmit

#4530 [ci] Simplify Dockerfile
  .ci/Dockerfile
Labels: autosubmit

#4534 [plugin_platform_interface] Adopt code-excerpts
  packages/plugin_platform_interface/CHANGELOG.md
  packages/plugin_platform_interface/README.md
  packages/plugin_platform_interface/pubspec.yaml
  packages/plugin_platform_interface/test/plugin_platform_interface_test.dart
  script/configs/temp_exclude_excerpt.yaml
Labels: autosubmit, p: plugin_platform_interface

#4296 [go_router] fix error handling page link
  packages/go_router/CHANGELOG.md
  packages/go_router/lib/src/router.dart
  packages/go_router/pubspec.yaml
Labels: p: go_router, autosubmit, override: no versioning needed

#4535 [url_launcher_android] Set `buildFeatures.buildConfig` to true for compatibility with AGP 8.0+
  packages/url_launcher/url_launcher_android/CHANGELOG.md
  packages/url_launcher/url_launcher_android/android/build.gradle
  packages/url_launcher/url_launcher_android/pubspec.yaml
Labels: autosubmit, platform-android, p: url_launcher

#4521 [google_maps_flutter_web] Adds options for gesture handling and tilt controls.
  packages/google_maps_flutter/google_maps_flutter_web/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_web/example/integration_test/google_maps_controller_test.dart
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/convert.dart
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/google_maps_controller.dart
  packages/google_maps_flutter/google_maps_flutter_web/pubspec.yaml
Labels: autosubmit, p: google_maps_flutter, platform-web

#4524 [go_router_builder] Removes `path_to_regexp` from the dependencies
  packages/go_router_builder/CHANGELOG.md
  packages/go_router_builder/lib/src/path_utils.dart
  packages/go_router_builder/lib/src/route_config.dart
  packages/go_router_builder/pubspec.yaml
  packages/go_router_builder/test/path_utils_test.dart
  script/configs/allowed_unpinned_deps.yaml
Labels: p: go_router_builder, autosubmit

#4527 Adding myself and Michele to AUTHORS
  AUTHORS
Labels: autosubmit

#4544 Roll Flutter from d07e8aece184 to 9cfbf6b9fd40 (58 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#4545 [go_router] Remove unused dependency
  packages/go_router/example/pubspec.yaml
  script/configs/allowed_pinned_deps.yaml
Labels: p: go_router, autosubmit, override: no changelog needed

#4543 [ci] Migrate remaing unblocked repo checks to LUCI
  .ci/scripts/check_federated_safety.sh
  .ci/scripts/check_version.sh
  .ci/targets/repo_checks.yaml
  .cirrus.yml
Labels: autosubmit

#4548 [webview_flutter_wkwebview] Updates pigeon version to `10.1.4`
  packages/webview_flutter/webview_flutter_wkwebview/CHANGELOG.md
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFGeneratedWebKitApis.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFGeneratedWebKitApis.m
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/common/web_kit.g.dart
  packages/webview_flutter/webview_flutter_wkwebview/pubspec.yaml
  packages/webview_flutter/webview_flutter_wkwebview/test/src/common/test_web_kit.g.dart
Labels: autosubmit, platform-ios, p: webview_flutter

#4392 [go_router] Replaces uri related properties in GoRouterState
  packages/go_router/CHANGELOG.md
  packages/go_router/README.md
  packages/go_router/example/lib/exception_handling.dart
  packages/go_router/example/lib/others/push.dart
  packages/go_router/example/lib/path_and_query_parameters.dart
  packages/go_router/example/lib/shell_route.dart
  packages/go_router/lib/fix_data.yaml
  packages/go_router/lib/src/builder.dart
  packages/go_router/lib/src/configuration.dart
  packages/go_router/lib/src/state.dart
  packages/go_router/pubspec.yaml
  packages/go_router/test/exception_handling_test.dart
  packages/go_router/test/go_router_state_test.dart
  packages/go_router/test/go_router_test.dart
  packages/go_router/test/parser_test.dart
  packages/go_router/test_fixes/go_router.dart
  packages/go_router/test_fixes/go_router.dart.expect
Labels: p: go_router, autosubmit

#4547 [ci] Clean up except exclusion list
  script/configs/temp_exclude_excerpt.yaml
Labels: autosubmit

#4550 Roll Flutter from 9cfbf6b9fd40 to e8b397caca6f (12 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#4552 Roll Flutter from e8b397caca6f to a8c8c5598c85 (11 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#4556 Roll Flutter from a8c8c5598c85 to d7ed5dc2e212 (7 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#3258 [google_maps_flutter_web] Options to disable tilt controls and configure gesture handling
  packages/google_maps_flutter/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter/lib/google_maps_flutter.dart
  packages/google_maps_flutter/google_maps_flutter/lib/src/google_map.dart
  packages/google_maps_flutter/google_maps_flutter/pubspec.yaml
Labels: autosubmit, p: google_maps_flutter

#4494 [ci] Enable Android emulator-based tests
  .ci.yaml
  .ci/targets/android_platform_tests.yaml
  packages/in_app_purchase/in_app_purchase_android/example/integration_test/in_app_purchase_test.dart
  packages/shared_preferences/shared_preferences/CHANGELOG.md
  packages/shared_preferences/shared_preferences/example/android/app/src/debug/AndroidManifest.xml
  script/configs/exclude_integration_android_emulator.yaml
Labels: autosubmit, p: in_app_purchase, platform-android, p: shared_preferences

#4533 [webview_flutter_android][webview_flutter_wkwebview] Fixes bug where `PlatformWebViewWidget` doesn't rebuild when the controller changes
  packages/webview_flutter/webview_flutter_android/CHANGELOG.md
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview_controller.dart
  packages/webview_flutter/webview_flutter_android/pubspec.yaml
  packages/webview_flutter/webview_flutter_android/test/android_webview_controller_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/CHANGELOG.md
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/webkit_webview_controller.dart
  packages/webview_flutter/webview_flutter_wkwebview/pubspec.yaml
  packages/webview_flutter/webview_flutter_wkwebview/test/webkit_webview_widget_test.dart
Labels: autosubmit, platform-android, platform-ios, p: webview_flutter

#4561 Roll Flutter from d7ed5dc2e212 to 9def8f6bc56b (21 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#4414 [go_router] fix(docs): improve docs and fix typo
  packages/go_router/doc/configuration.md
Labels: p: go_router, autosubmit, override: no versioning needed, override: no changelog needed

#4570 Roll Flutter from 9def8f6bc56b to bae1ac2f6f35 (27 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#4572 Manual roll Flutter from bae1ac2f6f35 to 61fd11db2b7a (7 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#4577 Roll Flutter from 61fd11db2b7a to dd9764ec3447 (5 revisions)
  .ci/flutter_master.version
Labels: warning: land on red to fix tree breakage, autosubmit

#3851 [camera_android] Provides a default exposure point if null.
  packages/camera/camera_android/CHANGELOG.md
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/features/exposurepoint/ExposurePointFeature.java
  packages/camera/camera_android/android/src/test/java/io/flutter/plugins/camera/features/exposurepoint/ExposurePointFeatureTest.java
  packages/camera/camera_android/pubspec.yaml
Labels: autosubmit, p: camera, platform-android

#4579 remove unneeded imports
  packages/camera/camera/test/camera_value_test.dart
  packages/camera/camera_web/example/integration_test/camera_service_test.dart
  packages/camera/camera_web/example/integration_test/camera_web_test.dart
  packages/camera/camera_web/lib/src/camera_service.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/integration_tests.dart
  packages/url_launcher/url_launcher/test/src/legacy_api_test.dart
  packages/video_player/video_player_android/test/android_video_player_test.dart
  packages/video_player/video_player_avfoundation/test/avfoundation_video_player_test.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview_api_impls.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/ui_kit/ui_kit.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/ui_kit/ui_kit_api_impls.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/legacy/web_kit_webview_widget_test.dart
Labels: p: pigeon, autosubmit, override: no versioning needed, override: no changelog needed, p: camera, platform-android, platform-ios, platform-web, p: webview_flutter, p: video_player, p: url_launcher

#4571 [ci] Add LUCI version of Android FTL tests in bringup mode
  .ci.yaml
  .ci/targets/android_device_tests.yaml
  .cirrus.yml
  script/tool/lib/src/firebase_test_lab_command.dart
  script/tool/test/firebase_test_lab_command_test.dart
Labels: autosubmit

#4582 Roll Flutter from dd9764ec3447 to e81907e07a38 (21 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#4578 [go_router_builder] support v10.0.0 go_router
  packages/go_router_builder/CHANGELOG.md
  packages/go_router_builder/example/lib/all_types.dart
  packages/go_router_builder/example/lib/all_types.g.dart
  packages/go_router_builder/example/lib/main.g.dart
  packages/go_router_builder/example/lib/shell_route_example.dart
  packages/go_router_builder/example/lib/shell_route_with_keys_example.dart
  packages/go_router_builder/example/pubspec.yaml
  packages/go_router_builder/lib/src/type_helpers.dart
  packages/go_router_builder/pubspec.yaml
  packages/go_router_builder/test_inputs/default_value.dart.expect
  packages/go_router_builder/test_inputs/extra_value.dart.expect
  packages/go_router_builder/test_inputs/iterable_with_default_value.dart.expect
  packages/go_router_builder/test_inputs/iterable_with_enum.dart.expect
  packages/go_router_builder/test_inputs/required_parameters_not_in_path_can_be_null.dart.expect
  packages/go_router_builder/test_inputs/required_query_parameter.dart.expect
  packages/go_router_builder/tool/run_tests.dart
Labels: p: go_router_builder, autosubmit

#4583 [ci] Switch FTL to LUCI
  .ci.yaml
  .cirrus.yml
Labels: autosubmit

#4588 Roll Flutter from e81907e07a38 to c2b40ca7013b (24 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#4592 Manual roll Flutter from c2b40ca7013b to 1d44fbd8b906 (7 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#4263 [camera] Removed the microphone permission request from availableCameras on Web
  packages/camera/camera_web/CHANGELOG.md
  packages/camera/camera_web/example/integration_test/camera_web_test.dart
  packages/camera/camera_web/lib/src/camera_web.dart
  packages/camera/camera_web/pubspec.yaml
Labels: autosubmit, p: camera, platform-web

#3538 [google_maps_flutter_web] Initial support for custom overlays
  packages/google_maps_flutter/google_maps_flutter_web/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_web/example/integration_test/google_maps_controller_test.dart
  packages/google_maps_flutter/google_maps_flutter_web/example/integration_test/google_maps_controller_test.mocks.dart
  packages/google_maps_flutter/google_maps_flutter_web/example/integration_test/google_maps_plugin_test.dart
  packages/google_maps_flutter/google_maps_flutter_web/example/integration_test/google_maps_plugin_test.mocks.dart
  packages/google_maps_flutter/google_maps_flutter_web/example/integration_test/overlay_test.dart
  packages/google_maps_flutter/google_maps_flutter_web/example/integration_test/overlays_test.dart
  packages/google_maps_flutter/google_maps_flutter_web/example/integration_test/overlays_test.mocks.dart
  packages/google_maps_flutter/google_maps_flutter_web/example/integration_test/resources/tile16_base64.dart
  packages/google_maps_flutter/google_maps_flutter_web/lib/google_maps_flutter_web.dart
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/google_maps_controller.dart
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/google_maps_flutter_web.dart
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/overlay.dart
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/overlays.dart
  packages/google_maps_flutter/google_maps_flutter_web/pubspec.yaml
Labels: autosubmit, p: google_maps_flutter, platform-web

#4614 [path_provider_platform_interface] Add getApplicationCachePath()
  packages/path_provider/path_provider_platform_interface/CHANGELOG.md
  packages/path_provider/path_provider_platform_interface/lib/path_provider_platform_interface.dart
  packages/path_provider/path_provider_platform_interface/lib/src/method_channel_path_provider.dart
  packages/path_provider/path_provider_platform_interface/pubspec.yaml
  packages/path_provider/path_provider_platform_interface/test/method_channel_path_provider_test.dart
  packages/path_provider/path_provider_platform_interface/test/path_provider_platform_interface_test.dart
Labels: autosubmit, p: path_provider

#4618 Update the cirrus key jul-31-2023
  .cirrus.yml
Labels: autosubmit
