Repository flutter/packages, pull requests merged in 2023-02, with the labels that each got.

#3129 [ci] Enable no_runtimeType_toString
  analysis_options.yaml
  packages/flutter_image/CHANGELOG.md
  packages/flutter_image/lib/network.dart
  packages/flutter_image/pubspec.yaml
  packages/flutter_migrate/CHANGELOG.md
  packages/flutter_migrate/lib/src/base/terminal.dart
  packages/flutter_migrate/pubspec.yaml
  packages/flutter_migrate/test/src/fakes.dart
  packages/multicast_dns/CHANGELOG.md
  packages/multicast_dns/lib/src/resource_record.dart
  packages/multicast_dns/pubspec.yaml
  packages/rfw/CHANGELOG.md
  packages/rfw/lib/src/flutter/content.dart
  packages/rfw/pubspec.yaml
Labels: p: multicast_dns, p: flutter_image, p: rfw, needs tests, autosubmit, p: flutter_migrate

#2958 [rfw] fix macos debug entitlements for wasm example
  packages/rfw/example/wasm/macos/Runner/DebugProfile.entitlements
  packages/rfw/example/wasm/macos/Runner/Release.entitlements
Labels: p: rfw, needs tests, autosubmit, override: no versioning needed, override: no changelog needed

#3139 [various] Prep for more const widgets
  packages/flutter_adaptive_scaffold/README.md
  packages/flutter_adaptive_scaffold/example/lib/adaptive_layout_demo.dart
  packages/flutter_adaptive_scaffold/example/lib/main.dart
  packages/flutter_markdown/test/list_test.dart
  packages/flutter_markdown/test/markdown_body_shrink_wrap_test.dart
  packages/rfw/example/remote/lib/main.dart
Labels: p: flutter_markdown, p: rfw, autosubmit, override: no versioning needed, override: no changelog needed, p: flutter_adaptive_scaffold

#3140 Roll Flutter from 9b3b9cf0893d to 1573c12963c6 (24 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#3141 [ci] More cirrus.yml pre-alignment with flutter/plugins
  .cirrus.yml
Labels: autosubmit

#3135 Update README.md
  README.md
Labels: autosubmit

#3132 [ci] Roll tooling to 0.13.4+2
  .ci/scripts/prepare_tool.sh
  .github/workflows/release.yml
Labels: autosubmit

#3131 [cross_file] Fix accidental constructor change
  packages/cross_file/CHANGELOG.md
  packages/cross_file/lib/src/types/interface.dart
  packages/cross_file/pubspec.yaml
  packages/cross_file/test/x_file_io_test.dart
Labels: p: cross_file, autosubmit

#3143 Roll Flutter (stable) from b06b8b271095 to 7048ed95a5ad (5 revisions)
  .ci/flutter_stable.version
Labels: autosubmit

#3102 [pigeon] Async error handling for kotlin and swift
  packages/pigeon/CHANGELOG.md
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/lib/kotlin_generator.dart
  packages/pigeon/lib/swift_generator.dart
  packages/pigeon/mock_handler_tester/test/message.dart
  packages/pigeon/mock_handler_tester/test/test.dart
  packages/pigeon/pigeons/core_tests.dart
  packages/pigeon/platform_tests/alternate_language_test_plugin/android/src/main/java/com/example/alternate_language_test_plugin/AlternateLanguageTestPlugin.java
  packages/pigeon/platform_tests/alternate_language_test_plugin/android/src/main/java/com/example/alternate_language_test_plugin/CoreTests.java
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/AlternateLanguageTestPlugin.m
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/CoreTests.gen.h
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/CoreTests.gen.m
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/core_tests.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/flutter_unittests.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/multiple_arity.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/non_null_fields.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/null_fields.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/nullable_returns.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/primitive.gen.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/integration_tests.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/core_tests.gen.dart
  packages/pigeon/platform_tests/test_plugin/android/src/main/kotlin/com/example/test_plugin/CoreTests.gen.kt
  packages/pigeon/platform_tests/test_plugin/android/src/main/kotlin/com/example/test_plugin/TestPlugin.kt
  packages/pigeon/platform_tests/test_plugin/android/src/test/kotlin/com/example/test_plugin/AsyncHandlersTest.kt
  packages/pigeon/platform_tests/test_plugin/example/ios/RunnerTests/AsyncHandlersTest.swift
  packages/pigeon/platform_tests/test_plugin/ios/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/ios/Classes/TestPlugin.swift
  packages/pigeon/platform_tests/test_plugin/macos/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/macos/Classes/TestPlugin.swift
  packages/pigeon/platform_tests/test_plugin/windows/pigeon/core_tests.gen.cpp
  packages/pigeon/platform_tests/test_plugin/windows/pigeon/core_tests.gen.h
  packages/pigeon/platform_tests/test_plugin/windows/test_plugin.cpp
  packages/pigeon/platform_tests/test_plugin/windows/test_plugin.h
  packages/pigeon/pubspec.yaml
  packages/pigeon/test/kotlin_generator_test.dart
  packages/pigeon/test/swift_generator_test.dart
Labels: p: pigeon, autosubmit

#3148 Roll Flutter from 1573c12963c6 to ca0596e41da3 (22 revisions)
  .ci/flutter_master.version
  packages/flutter_adaptive_scaffold/test/adaptive_layout_test.dart
  packages/flutter_adaptive_scaffold/test/simulated_layout.dart
Labels: autosubmit, override: no versioning needed, override: no changelog needed, p: flutter_adaptive_scaffold

#3155 [pigeon] fix kotlin int errors
  packages/pigeon/CHANGELOG.md
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/lib/kotlin_generator.dart
  packages/pigeon/mock_handler_tester/test/message.dart
  packages/pigeon/mock_handler_tester/test/test.dart
  packages/pigeon/platform_tests/alternate_language_test_plugin/android/src/main/java/com/example/alternate_language_test_plugin/CoreTests.java
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/CoreTests.gen.h
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/CoreTests.gen.m
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/core_tests.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/flutter_unittests.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/multiple_arity.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/non_null_fields.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/null_fields.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/nullable_returns.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/primitive.gen.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/integration_tests.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/core_tests.gen.dart
  packages/pigeon/platform_tests/test_plugin/android/src/main/kotlin/com/example/test_plugin/CoreTests.gen.kt
  packages/pigeon/platform_tests/test_plugin/ios/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/macos/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/windows/pigeon/core_tests.gen.cpp
  packages/pigeon/platform_tests/test_plugin/windows/pigeon/core_tests.gen.h
  packages/pigeon/pubspec.yaml
  packages/pigeon/test/kotlin_generator_test.dart
Labels: p: pigeon, autosubmit

#3026 [go_router] CustomTransitionPage: Make barrierDismissible work
  packages/go_router/CHANGELOG.md
  packages/go_router/example/lib/transition_animations.dart
  packages/go_router/lib/src/pages/custom_transition_page.dart
  packages/go_router/pubspec.yaml
  packages/go_router/test/custom_transition_page_test.dart
Labels: p: go_router, autosubmit

#3157 [pigeon] More integration tests
  packages/pigeon/pigeons/core_tests.dart
  packages/pigeon/platform_tests/alternate_language_test_plugin/android/src/main/java/com/example/alternate_language_test_plugin/AlternateLanguageTestPlugin.java
  packages/pigeon/platform_tests/alternate_language_test_plugin/android/src/main/java/com/example/alternate_language_test_plugin/CoreTests.java
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/AlternateLanguageTestPlugin.m
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/CoreTests.gen.h
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/CoreTests.gen.m
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/core_tests.gen.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/integration_tests.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/core_tests.gen.dart
  packages/pigeon/platform_tests/test_plugin/android/src/main/kotlin/com/example/test_plugin/CoreTests.gen.kt
  packages/pigeon/platform_tests/test_plugin/android/src/main/kotlin/com/example/test_plugin/TestPlugin.kt
  packages/pigeon/platform_tests/test_plugin/ios/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/ios/Classes/TestPlugin.swift
  packages/pigeon/platform_tests/test_plugin/macos/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/macos/Classes/TestPlugin.swift
  packages/pigeon/platform_tests/test_plugin/windows/pigeon/core_tests.gen.cpp
  packages/pigeon/platform_tests/test_plugin/windows/pigeon/core_tests.gen.h
  packages/pigeon/platform_tests/test_plugin/windows/test_plugin.cpp
  packages/pigeon/platform_tests/test_plugin/windows/test_plugin.h
Labels: p: pigeon, autosubmit

#3024 [pointer_interceptor] Removed const keyword from PointerInterceptor constructor.
  packages/pointer_interceptor/CHANGELOG.md
  packages/pointer_interceptor/lib/src/mobile.dart
  packages/pointer_interceptor/pubspec.yaml
Labels: p: pointer_interceptor, autosubmit

#3032 [go_router] Fix redirection log
  packages/go_router/CHANGELOG.md
  packages/go_router/lib/src/matching.dart
  packages/go_router/pubspec.yaml
  packages/go_router/test/matching_test.dart
Labels: needs tests, p: go_router, autosubmit

#3174 Manual flutter roll and analyzer fix
  .ci/flutter_master.version
  packages/flutter_adaptive_scaffold/README.md
  packages/flutter_adaptive_scaffold/example/lib/adaptive_layout_demo.dart
Labels: override: no versioning needed, override: no changelog needed, p: flutter_adaptive_scaffold

#3178 Roll Flutter from 40b5e4cb5e77 to a6ea64457a44 (12 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#3164 Update Pigeon CODEOWNERS
  CODEOWNERS
Labels: autosubmit

#3179 Roll Flutter from a6ea64457a44 to 3f98c0f8f98b (18 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#2826 [go_router_builder] Support default values for route parameters
  packages/go_router_builder/CHANGELOG.md
  packages/go_router_builder/README.md
  packages/go_router_builder/example/lib/all_types.dart
  packages/go_router_builder/example/lib/all_types.g.dart
  packages/go_router_builder/example/test/all_types_test.dart
  packages/go_router_builder/lib/src/route_config.dart
  packages/go_router_builder/lib/src/type_helpers.dart
  packages/go_router_builder/pubspec.yaml
  packages/go_router_builder/test/builder_test.dart
  packages/go_router_builder/test/test_inputs/_go_router_builder_test_input.dart
Labels: p: go_router_builder, autosubmit

#3142 [go_router] Avoid unnecessary null checks
  packages/go_router/CHANGELOG.md
  packages/go_router/lib/src/builder.dart
  packages/go_router/lib/src/configuration.dart
  packages/go_router/pubspec.yaml
Labels: needs tests, p: go_router, autosubmit

#3180 Roll Flutter (stable) from 7048ed95a5ad to 32fb2f948e9b (7 revisions)
  .ci/flutter_stable.version
Labels: autosubmit

#3181 Update .cirrus.yml
  .cirrus.yml
Labels: autosubmit

#3184 Roll Flutter from 3f98c0f8f98b to dee226ef8a46 (18 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#3175 [go_router] Adds `reverseTransitionDuration` to `CustomTransitionPage`
  packages/go_router/CHANGELOG.md
  packages/go_router/example/lib/transition_animations.dart
  packages/go_router/lib/src/pages/custom_transition_page.dart
  packages/go_router/pubspec.yaml
  packages/go_router/test/custom_transition_page_test.dart
Labels: p: go_router, autosubmit

#3185 Roll Flutter (stable) from 32fb2f948e9b to 994429713884 (3 revisions)
  .ci/flutter_stable.version
Labels: autosubmit

#3182 [pigeon] Change the Obj-C error type for FlutterApi
  packages/pigeon/CHANGELOG.md
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/lib/objc_generator.dart
  packages/pigeon/mock_handler_tester/test/message.dart
  packages/pigeon/mock_handler_tester/test/test.dart
  packages/pigeon/platform_tests/alternate_language_test_plugin/android/src/main/java/com/example/alternate_language_test_plugin/CoreTests.java
  packages/pigeon/platform_tests/alternate_language_test_plugin/example/ios/Runner.xcodeproj/project.pbxproj
  packages/pigeon/platform_tests/alternate_language_test_plugin/example/ios/RunnerTests/AllDatatypesTest.m
  packages/pigeon/platform_tests/alternate_language_test_plugin/example/ios/RunnerTests/AsyncHandlersTest.m
  packages/pigeon/platform_tests/alternate_language_test_plugin/example/ios/RunnerTests/EchoMessenger.m
  packages/pigeon/platform_tests/alternate_language_test_plugin/example/ios/RunnerTests/EnumTest.m
  packages/pigeon/platform_tests/alternate_language_test_plugin/example/ios/RunnerTests/HandlerBinaryMessenger.m
  packages/pigeon/platform_tests/alternate_language_test_plugin/example/ios/RunnerTests/ListTest.m
  packages/pigeon/platform_tests/alternate_language_test_plugin/example/ios/RunnerTests/MultipleArityTest.m
  packages/pigeon/platform_tests/alternate_language_test_plugin/example/ios/RunnerTests/NullableReturnsTest.m
  packages/pigeon/platform_tests/alternate_language_test_plugin/example/ios/RunnerTests/PrimitiveTest.m
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/AlternateLanguageTestPlugin.m
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/CoreTests.gen.h
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/CoreTests.gen.m
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/core_tests.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/flutter_unittests.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/multiple_arity.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/non_null_fields.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/null_fields.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/nullable_returns.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/primitive.gen.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/core_tests.gen.dart
  packages/pigeon/platform_tests/test_plugin/android/src/main/kotlin/com/example/test_plugin/CoreTests.gen.kt
  packages/pigeon/platform_tests/test_plugin/ios/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/macos/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/windows/pigeon/core_tests.gen.cpp
  packages/pigeon/platform_tests/test_plugin/windows/pigeon/core_tests.gen.h
  packages/pigeon/pubspec.yaml
  packages/pigeon/test/objc_generator_test.dart
Labels: p: pigeon, autosubmit

#3188 [ci] More LUCI pre-alignment with flutter/plugins
  .ci.yaml
  .ci/scripts/drive_examples_win32.sh
  .ci/targets/ios_platform_tests.yaml
  .ci/targets/macos_build_all_packages.yaml
  .ci/targets/macos_check_podspecs.yaml
  .ci/targets/macos_platform_tests.yaml
  .ci/targets/repo_tools_tests.yaml
  .ci/targets/windows_build_and_platform_tests.yaml
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/alternate_language_test_plugin.podspec
  packages/pigeon/platform_tests/test_plugin/ios/test_plugin.podspec
  packages/pigeon/platform_tests/test_plugin/macos/test_plugin.podspec
  script/configs/README.md
  script/configs/exclude_integration_android.yaml
  script/configs/exclude_integration_ios.yaml
  script/configs/exclude_integration_linux.yaml
  script/configs/exclude_integration_macos.yaml
  script/configs/exclude_integration_web.yaml
  script/configs/exclude_integration_win32.yaml
  script/configs/exclude_native_unit_android.yaml
Labels: p: pigeon, autosubmit

#3189 Roll Flutter from dee226ef8a46 to 001c4951b619 (18 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#3191 [ci] Add FTL to Cirrus, and do more minor alignment with flutter/plugins
  .cirrus.yml
  script/configs/exclude_integration_android.yaml
Labels: autosubmit

#3091 [xdg_directories] Mark as 1.0
  packages/xdg_directories/CHANGELOG.md
  packages/xdg_directories/pubspec.yaml
Labels: p: xdg_directories, autosubmit

#3193 Roll Flutter from 001c4951b619 to 0db47bdd07af (24 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#3194 [flutter_markdown] Require pkg:markdown v7.0.0
  packages/flutter_markdown/CHANGELOG.md
  packages/flutter_markdown/example/pubspec.yaml
  packages/flutter_markdown/lib/src/builder.dart
  packages/flutter_markdown/pubspec.yaml
  packages/flutter_markdown/test/link_test.dart
  packages/flutter_markdown/test/list_test.dart
  packages/flutter_markdown/test/table_test.dart
  packages/flutter_markdown/test/utils.dart
Labels: p: flutter_markdown, autosubmit

#3195 Roll Flutter from 0db47bdd07af to 527977b6af24 (6 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#3197 Roll Flutter from 527977b6af24 to ce8efb439e74 (6 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#3176 [pigeon] Flutter api error handling integration tests to preempt upcoming feature implementation
  packages/pigeon/lib/objc_generator.dart
  packages/pigeon/pigeons/core_tests.dart
  packages/pigeon/platform_tests/alternate_language_test_plugin/android/src/main/java/com/example/alternate_language_test_plugin/AlternateLanguageTestPlugin.java
  packages/pigeon/platform_tests/alternate_language_test_plugin/android/src/main/java/com/example/alternate_language_test_plugin/CoreTests.java
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/AlternateLanguageTestPlugin.m
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/CoreTests.gen.h
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/CoreTests.gen.m
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/core_tests.gen.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/integration_tests.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/core_tests.gen.dart
  packages/pigeon/platform_tests/test_plugin/android/src/main/kotlin/com/example/test_plugin/CoreTests.gen.kt
  packages/pigeon/platform_tests/test_plugin/android/src/main/kotlin/com/example/test_plugin/TestPlugin.kt
  packages/pigeon/platform_tests/test_plugin/example/ios/Runner.xcodeproj/project.pbxproj
  packages/pigeon/platform_tests/test_plugin/ios/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/ios/Classes/TestPlugin.swift
  packages/pigeon/platform_tests/test_plugin/macos/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/macos/Classes/TestPlugin.swift
  packages/pigeon/platform_tests/test_plugin/windows/pigeon/core_tests.gen.cpp
  packages/pigeon/platform_tests/test_plugin/windows/pigeon/core_tests.gen.h
  packages/pigeon/platform_tests/test_plugin/windows/test_plugin.cpp
  packages/pigeon/platform_tests/test_plugin/windows/test_plugin.h
Labels: p: pigeon, autosubmit, override: no versioning needed, override: no changelog needed

#2664 [go_router] [shell_route] Add observers parameter
  packages/go_router/CHANGELOG.md
  packages/go_router/lib/src/builder.dart
  packages/go_router/lib/src/pages/cupertino.dart
  packages/go_router/lib/src/pages/material.dart
  packages/go_router/lib/src/route.dart
  packages/go_router/pubspec.yaml
  packages/go_router/test/go_router_test.dart
  packages/go_router/test/shell_route_observers_test.dart
Labels: needs tests, p: go_router, autosubmit

#3206 [go_router] Fix analyzer in test
  packages/go_router/test/go_router_test.dart
Labels: p: go_router, autosubmit

#3207 Roll Flutter from ce8efb439e74 to df41e58f6f4e (46 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#3209 [tool] Skip non-plugin packages in FTL command
  script/configs/exclude_integration_android.yaml
  script/tool/lib/src/firebase_test_lab_command.dart
  script/tool/test/firebase_test_lab_command_test.dart
Labels: autosubmit

#3186 [pigeon] Make dart options const
  packages/pigeon/CHANGELOG.md
  packages/pigeon/lib/dart_generator.dart
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/lib/java_generator.dart
  packages/pigeon/lib/pigeon_lib.dart
  packages/pigeon/mock_handler_tester/test/message.dart
  packages/pigeon/mock_handler_tester/test/test.dart
  packages/pigeon/pigeons/configure_pigeon_dart_out.dart
  packages/pigeon/platform_tests/alternate_language_test_plugin/android/src/main/java/com/example/alternate_language_test_plugin/CoreTests.java
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/CoreTests.gen.h
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/CoreTests.gen.m
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/core_tests.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/flutter_unittests.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/multiple_arity.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/non_null_fields.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/null_fields.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/nullable_returns.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/primitive.gen.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/core_tests.gen.dart
  packages/pigeon/platform_tests/test_plugin/android/src/main/kotlin/com/example/test_plugin/CoreTests.gen.kt
  packages/pigeon/platform_tests/test_plugin/ios/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/macos/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/windows/pigeon/core_tests.gen.cpp
  packages/pigeon/platform_tests/test_plugin/windows/pigeon/core_tests.gen.h
  packages/pigeon/pubspec.yaml
  packages/pigeon/test/dart_generator_test.dart
  packages/pigeon/test/java_generator_test.dart
  packages/pigeon/tool/shared/generation.dart
Labels: p: pigeon, autosubmit

#2698 [go_router] Add support for Iterable, List and Set to TypedGoRoute
  packages/go_router/CHANGELOG.md
  packages/go_router/lib/src/route_data.dart
  packages/go_router/pubspec.yaml
Labels: needs tests, p: go_router, autosubmit, override: no changelog needed

#3214 Roll Flutter from df41e58f6f4e to 170539f83dc8 (31 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#3213 [pigeon] Eliminate some of the test pigeons
  packages/pigeon/pigeons/async_handlers.dart
  packages/pigeon/pigeons/core_tests.dart
  packages/pigeon/pigeons/enum_args.dart
  packages/pigeon/pigeons/host2flutter.dart
  packages/pigeon/pigeons/java_double_host_api.dart
  packages/pigeon/pigeons/list.dart
  packages/pigeon/pigeons/void_arg_flutter.dart
  packages/pigeon/pigeons/void_arg_host.dart
  packages/pigeon/pigeons/voidflutter.dart
  packages/pigeon/pigeons/voidhost.dart
  packages/pigeon/platform_tests/alternate_language_test_plugin/android/src/main/java/com/example/alternate_language_test_plugin/CoreTests.java
  packages/pigeon/platform_tests/alternate_language_test_plugin/android/src/test/java/com/example/alternate_language_test_plugin/AsyncTest.java
  packages/pigeon/platform_tests/alternate_language_test_plugin/android/src/test/java/com/example/alternate_language_test_plugin/ListTest.java
  packages/pigeon/platform_tests/alternate_language_test_plugin/android/src/test/java/com/example/alternate_language_test_plugin/PigeonTest.java
  packages/pigeon/platform_tests/alternate_language_test_plugin/example/ios/RunnerTests/AsyncHandlersTest.m
  packages/pigeon/platform_tests/alternate_language_test_plugin/example/ios/RunnerTests/ListTest.m
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/CoreTests.gen.h
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/CoreTests.gen.m
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/core_tests.gen.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/integration_tests.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/core_tests.gen.dart
  packages/pigeon/platform_tests/test_plugin/android/src/main/kotlin/com/example/test_plugin/CoreTests.gen.kt
  packages/pigeon/platform_tests/test_plugin/android/src/test/kotlin/com/example/test_plugin/AsyncHandlersTest.kt
  packages/pigeon/platform_tests/test_plugin/android/src/test/kotlin/com/example/test_plugin/ListTest.kt
  packages/pigeon/platform_tests/test_plugin/example/ios/RunnerTests/AsyncHandlersTest.swift
  packages/pigeon/platform_tests/test_plugin/example/ios/RunnerTests/ListTests.swift
  packages/pigeon/platform_tests/test_plugin/ios/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/macos/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/windows/CMakeLists.txt
  packages/pigeon/platform_tests/test_plugin/windows/pigeon/core_tests.gen.cpp
  packages/pigeon/platform_tests/test_plugin/windows/pigeon/core_tests.gen.h
  packages/pigeon/tool/shared/generation.dart
  packages/pigeon/tool/shared/test_suites.dart
Labels: p: pigeon, autosubmit

#3221 Move iOS Swift unit tests back to Cirrus
  .ci/scripts/build_all_packages_app.sh
  .ci/scripts/create_all_packages_app.sh
  .ci/scripts/create_simulator.sh
  .ci/scripts/dart_unit_tests_win32.sh
  .ci/scripts/drive_examples_win32.sh
  .ci/scripts/plugin_tools_tests.sh
  .cirrus.yml
  packages/pigeon/tool/run_tests.dart
  packages/pigeon/tool/shared/test_suites.dart
Labels: p: pigeon, needs tests

#3224 [pigeon] Validate generated files in CI
  packages/pigeon/tool/generate.dart
  packages/pigeon/tool/run_tests.dart
  packages/pigeon/tool/shared/generation.dart
Labels: p: pigeon, needs tests, autosubmit

#3219 [go_router] Bump example `compileSdkVersion` and `package_info_plus` dependency version
  packages/go_router/example/android/app/build.gradle
  packages/go_router/example/pubspec.yaml
Labels: needs tests, p: go_router, autosubmit

#3092 [go_router] Fix deprecation message for GoRouterState.namedLocation
  packages/go_router/CHANGELOG.md
  packages/go_router/lib/src/state.dart
  packages/go_router/pubspec.yaml
Labels: needs tests, p: go_router, autosubmit

#3225 Roll Flutter from 170539f83dc8 to 0be7c3f30d64 (38 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#3215 [tool] Allow importing packages with NEXT
  script/tool/lib/src/version_check_command.dart
  script/tool/test/version_check_command_test.dart
Labels: autosubmit

#3227 Roll Flutter from 0be7c3f30d64 to 33e4d21f7c13 (5 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#3229 Roll Flutter from 33e4d21f7c13 to ae8d05184ef3 (6 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#3232 Roll Flutter from ae8d05184ef3 to 7175de4fe686 (4 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#2838 [go_router_builder] Generate replace method in RouteExtension
  packages/go_router_builder/CHANGELOG.md
  packages/go_router_builder/example/lib/all_types.g.dart
  packages/go_router_builder/example/lib/main.g.dart
  packages/go_router_builder/example/lib/simple_example.g.dart
  packages/go_router_builder/lib/src/route_config.dart
  packages/go_router_builder/pubspec.yaml
  packages/go_router_builder/test/test_inputs/_go_router_builder_test_input.dart
Labels: needs tests, p: go_router_builder, autosubmit

#3263 [go_router] Disable logging in tests
  packages/go_router/test/go_router_test.dart
Labels: p: go_router, override: no versioning needed, override: no changelog needed

#3252 Merge in plugin README and CONTRIBUTING
  CONTRIBUTING.md
  README.md
Labels: autosubmit

#3235 [extension_gsi] Update extension to support gsi 5 and 6.
  packages/extension_google_sign_in_as_googleapis_auth/CHANGELOG.md
  packages/extension_google_sign_in_as_googleapis_auth/example/.gitignore
  packages/extension_google_sign_in_as_googleapis_auth/example/lib/main.dart
  packages/extension_google_sign_in_as_googleapis_auth/example/pubspec.yaml
  packages/extension_google_sign_in_as_googleapis_auth/example/web/index.html
  packages/extension_google_sign_in_as_googleapis_auth/example/web/manifest.json
  packages/extension_google_sign_in_as_googleapis_auth/lib/extension_google_sign_in_as_googleapis_auth.dart
  packages/extension_google_sign_in_as_googleapis_auth/pubspec.yaml
Labels: p: extension_google_sign_in_as_googleapis_auth, autosubmit, platform-web

#2730 [go_router]: implemented helpers for ShellRoute
  packages/go_router/CHANGELOG.md
  packages/go_router/lib/go_router.dart
  packages/go_router/lib/src/route_data.dart
  packages/go_router/pubspec.yaml
  packages/go_router/test/route_data_test.dart
Labels: p: go_router, autosubmit

#3268 [ci] Re-enable pathified unit tests
  .cirrus.yml
Labels: autosubmit

#3265 Update .gitignore with missing values from flutter/plugins
  .gitignore
Labels: autosubmit

#3270 [flutter_migrate] Skip slow tests
  packages/flutter_migrate/test/compute_test.dart
  packages/flutter_migrate/test/migrate_test.dart
  packages/flutter_migrate/test/utils_test.dart
Labels: autosubmit, p: flutter_migrate

#3216 [go_router] Add `GoRouter.maybeOf`
  packages/go_router/CHANGELOG.md
  packages/go_router/lib/src/router.dart
  packages/go_router/pubspec.yaml
  packages/go_router/test/go_router_test.dart
Labels: p: go_router, autosubmit

#3286 Export super types in route_data.dart library
  packages/go_router/CHANGELOG.md
  packages/go_router/lib/go_router.dart
  packages/go_router/pubspec.yaml
Labels: p: go_router, autosubmit

#2679 [go_router_builder] Add support for Iterable, List and Set to TypedGoRoute
  packages/go_router_builder/CHANGELOG.md
  packages/go_router_builder/example/lib/all_types.dart
  packages/go_router_builder/example/lib/all_types.g.dart
  packages/go_router_builder/example/lib/main.g.dart
  packages/go_router_builder/example/test/all_types_test.dart
  packages/go_router_builder/lib/src/route_config.dart
  packages/go_router_builder/lib/src/type_helpers.dart
  packages/go_router_builder/pubspec.yaml
Labels: p: go_router_builder, autosubmit

#3288 [go_router] Fix some broken links in doc
  packages/go_router/doc/configuration.md
Labels: p: go_router, autosubmit, override: no versioning needed, override: no changelog needed

#3285 [ci] Fix some web-platform_tests.
  .cirrus.yml
  packages/google_maps_flutter/google_maps_flutter_web/example/integration_test/google_maps_controller_test.dart
  packages/google_maps_flutter/google_maps_flutter_web/example/integration_test/projection_test.dart
  packages/url_launcher/url_launcher_web/example/integration_test/link_widget_test.dart
Labels: autosubmit, p: google_maps_flutter, platform-web, p: url_launcher

#3305 Roll Flutter (stable) from 994429713884 to c07f78888884 (5 revisions)
  .ci/flutter_stable.version
Labels: autosubmit

#3279 [tool] Always run publish check
  packages/extension_google_sign_in_as_googleapis_auth/example/android/.project
  packages/extension_google_sign_in_as_googleapis_auth/example/android/.settings/org.eclipse.buildship.core.prefs
  packages/extension_google_sign_in_as_googleapis_auth/example/android/app/.classpath
  packages/extension_google_sign_in_as_googleapis_auth/example/android/app/.project
  packages/extension_google_sign_in_as_googleapis_auth/example/android/app/.settings/org.eclipse.buildship.core.prefs
  packages/flutter_markdown/.vscode/launch.json
  packages/palette_generator/example/android/gradlew
  packages/palette_generator/example/android/gradlew.bat
  script/tool/lib/src/publish_check_command.dart
  script/tool/test/publish_check_command_test.dart
Labels: p: palette_generator, autosubmit, override: no versioning needed, override: no changelog needed, platform-android

#3296 [camera] Update minimum Flutter version to 3.3 and iOS 11
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/README.md
  packages/camera/camera/example/ios/Flutter/AppFrameworkInfo.plist
  packages/camera/camera/example/ios/Podfile
  packages/camera/camera/example/ios/Runner.xcodeproj/project.pbxproj
  packages/camera/camera/example/ios/Runner/Info.plist
  packages/camera/camera/pubspec.yaml
  packages/camera/camera_avfoundation/CHANGELOG.md
  packages/camera/camera_avfoundation/example/ios/Flutter/AppFrameworkInfo.plist
  packages/camera/camera_avfoundation/example/ios/Podfile
  packages/camera/camera_avfoundation/example/ios/Runner.xcodeproj/project.pbxproj
  packages/camera/camera_avfoundation/example/ios/Runner/Info.plist
  packages/camera/camera_avfoundation/ios/Classes/CameraPlugin.m
  packages/camera/camera_avfoundation/ios/Classes/FLTCam.h
  packages/camera/camera_avfoundation/ios/Classes/FLTCam.m
  packages/camera/camera_avfoundation/ios/Classes/FLTCam_Test.h
  packages/camera/camera_avfoundation/ios/Classes/FLTSavePhotoDelegate.m
  packages/camera/camera_avfoundation/ios/camera_avfoundation.podspec
  packages/camera/camera_avfoundation/pubspec.yaml
Labels: autosubmit, p: camera, platform-ios

#3005 [go_router_builder]Update the way to pass the `extra` param in router_config
  packages/go_router_builder/CHANGELOG.md
  packages/go_router_builder/example/lib/all_types.g.dart
  packages/go_router_builder/example/lib/main.g.dart
  packages/go_router_builder/example/lib/simple_example.g.dart
  packages/go_router_builder/lib/src/route_config.dart
  packages/go_router_builder/pubspec.yaml
  packages/go_router_builder/test/builder_test.dart
  packages/go_router_builder/test/test_inputs/_go_router_builder_test_input.dart
Labels: needs tests, p: go_router_builder, autosubmit

#3319 Manual roll Flutter from 7175de4fe686 to c8d80163b03f (96 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#3284 [pigeon] removes safe casting from nullables in kotlin and swift
  packages/pigeon/CHANGELOG.md
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/lib/kotlin_generator.dart
  packages/pigeon/lib/swift_generator.dart
  packages/pigeon/mock_handler_tester/test/message.dart
  packages/pigeon/mock_handler_tester/test/test.dart
  packages/pigeon/platform_tests/alternate_language_test_plugin/android/src/main/java/com/example/alternate_language_test_plugin/CoreTests.java
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/CoreTests.gen.h
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/CoreTests.gen.m
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/core_tests.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/flutter_unittests.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/multiple_arity.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/non_null_fields.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/null_fields.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/nullable_returns.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/primitive.gen.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/core_tests.gen.dart
  packages/pigeon/platform_tests/test_plugin/android/src/main/kotlin/com/example/test_plugin/CoreTests.gen.kt
  packages/pigeon/platform_tests/test_plugin/example/ios/RunnerTests/AllDatatypesTests.swift
  packages/pigeon/platform_tests/test_plugin/example/ios/RunnerTests/PrimitiveTests.swift
  packages/pigeon/platform_tests/test_plugin/ios/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/ios/Classes/TestPlugin.swift
  packages/pigeon/platform_tests/test_plugin/macos/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/windows/pigeon/core_tests.gen.cpp
  packages/pigeon/platform_tests/test_plugin/windows/pigeon/core_tests.gen.h
  packages/pigeon/pubspec.yaml
  packages/pigeon/test/kotlin_generator_test.dart
  packages/pigeon/test/swift_generator_test.dart
Labels: p: pigeon, autosubmit, platform-android, platform-ios, platform-macos, platform-windows

#3320 Roll Flutter from c8d80163b03f to f032a4d64891 (17 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#3317 [pigeon] Enable warnings as errors for remaining languages
  packages/pigeon/CHANGELOG.md
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/lib/java_generator.dart
  packages/pigeon/lib/kotlin_generator.dart
  packages/pigeon/mock_handler_tester/test/message.dart
  packages/pigeon/mock_handler_tester/test/test.dart
  packages/pigeon/pigeons/android_unittests.dart
  packages/pigeon/platform_tests/alternate_language_test_plugin/android/build.gradle
  packages/pigeon/platform_tests/alternate_language_test_plugin/android/src/main/java/com/example/alternate_language_test_plugin/CoreTests.java
  packages/pigeon/platform_tests/alternate_language_test_plugin/android/src/test/java/com/example/alternate_language_test_plugin/AllDatatypesTest.java
  packages/pigeon/platform_tests/alternate_language_test_plugin/android/src/test/java/com/example/alternate_language_test_plugin/AsyncTest.java
  packages/pigeon/platform_tests/alternate_language_test_plugin/android/src/test/java/com/example/alternate_language_test_plugin/ListTest.java
  packages/pigeon/platform_tests/alternate_language_test_plugin/android/src/test/java/com/example/alternate_language_test_plugin/MultipleArityTest.java
  packages/pigeon/platform_tests/alternate_language_test_plugin/android/src/test/java/com/example/alternate_language_test_plugin/NullableReturnsTest.java
  packages/pigeon/platform_tests/alternate_language_test_plugin/android/src/test/java/com/example/alternate_language_test_plugin/PigeonTest.java
  packages/pigeon/platform_tests/alternate_language_test_plugin/android/src/test/java/com/example/alternate_language_test_plugin/PrimitiveTest.java
  packages/pigeon/platform_tests/alternate_language_test_plugin/example/ios/Podfile
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/CoreTests.gen.h
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/CoreTests.gen.m
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/core_tests.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/flutter_unittests.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/multiple_arity.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/non_null_fields.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/null_fields.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/nullable_returns.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/primitive.gen.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/core_tests.gen.dart
  packages/pigeon/platform_tests/test_plugin/android/build.gradle
  packages/pigeon/platform_tests/test_plugin/android/src/main/kotlin/com/example/test_plugin/CoreTests.gen.kt
  packages/pigeon/platform_tests/test_plugin/android/src/main/kotlin/com/example/test_plugin/TestPlugin.kt
  packages/pigeon/platform_tests/test_plugin/ios/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/macos/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/windows/pigeon/core_tests.gen.cpp
  packages/pigeon/platform_tests/test_plugin/windows/pigeon/core_tests.gen.h
  packages/pigeon/pubspec.yaml
  packages/pigeon/test/kotlin_generator_test.dart
Labels: p: pigeon, autosubmit, platform-android, platform-ios, platform-macos, platform-windows

#3326 [go_router] Update example app to iOS 11
  packages/go_router/CHANGELOG.md
  packages/go_router/example/ios/Flutter/AppFrameworkInfo.plist
  packages/go_router/example/ios/Podfile
  packages/go_router/example/ios/Runner.xcodeproj/project.pbxproj
  packages/go_router/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/go_router/example/ios/Runner/Info.plist
Labels: needs tests, p: go_router, autosubmit, platform-ios
