Repository flutter/packages, pull requests merged in 2023-04, with the labels that each got.

#3600 [pigeon] Migrates off old BinaryMessenger API
  packages/pigeon/CHANGELOG.md
  packages/pigeon/lib/dart_generator.dart
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/mock_handler_tester/test/message.dart
  packages/pigeon/mock_handler_tester/test/test.dart
  packages/pigeon/platform_tests/alternate_language_test_plugin/android/src/main/java/com/example/alternate_language_test_plugin/CoreTests.java
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/CoreTests.gen.h
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/CoreTests.gen.m
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/core_tests.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/flutter_unittests.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/multiple_arity.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/non_null_fields.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/null_fields.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/nullable_returns.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/primitive.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/test/null_safe_test.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/core_tests.gen.dart
  packages/pigeon/platform_tests/test_plugin/android/src/main/kotlin/com/example/test_plugin/CoreTests.gen.kt
  packages/pigeon/platform_tests/test_plugin/ios/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/macos/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/windows/pigeon/core_tests.gen.cpp
  packages/pigeon/platform_tests/test_plugin/windows/pigeon/core_tests.gen.h
  packages/pigeon/pubspec.yaml
Labels: p: pigeon, autosubmit, platform-android, platform-ios, platform-macos, platform-windows

#3619 Roll Flutter from 12b36de8f7ac to 18c9fa6cc80e (92 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#3622 Roll Flutter from 18c9fa6cc80e to 1edd4549eaaf (9 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#3574 [Many] run agp update to support jdk17 1/N
  packages/animations/example/android/app/build.gradle
  packages/animations/example/android/app/src/debug/AndroidManifest.xml
  packages/animations/example/android/app/src/main/AndroidManifest.xml
  packages/animations/example/android/app/src/profile/AndroidManifest.xml
  packages/animations/example/android/build.gradle
  packages/animations/example/android/gradle.properties
  packages/animations/example/android/gradle/wrapper/gradle-wrapper.properties
  packages/dynamic_layouts/example/android/app/build.gradle
  packages/dynamic_layouts/example/android/app/src/debug/AndroidManifest.xml
  packages/dynamic_layouts/example/android/app/src/main/AndroidManifest.xml
  packages/dynamic_layouts/example/android/app/src/profile/AndroidManifest.xml
  packages/dynamic_layouts/example/android/build.gradle
  packages/dynamic_layouts/example/android/gradle/wrapper/gradle-wrapper.properties
  packages/espresso/example/android/app/build.gradle
  packages/espresso/example/android/app/src/debug/AndroidManifest.xml
  packages/espresso/example/android/app/src/main/AndroidManifest.xml
  packages/espresso/example/android/app/src/profile/AndroidManifest.xml
  packages/espresso/example/android/build.gradle
  packages/espresso/example/android/gradle/wrapper/gradle-wrapper.properties
  packages/extension_google_sign_in_as_googleapis_auth/example/android/app/build.gradle
  packages/extension_google_sign_in_as_googleapis_auth/example/android/app/src/debug/AndroidManifest.xml
  packages/extension_google_sign_in_as_googleapis_auth/example/android/app/src/main/AndroidManifest.xml
  packages/extension_google_sign_in_as_googleapis_auth/example/android/app/src/profile/AndroidManifest.xml
  packages/extension_google_sign_in_as_googleapis_auth/example/android/build.gradle
  packages/extension_google_sign_in_as_googleapis_auth/example/android/gradle/wrapper/gradle-wrapper.properties
  packages/flutter_adaptive_scaffold/example/android/app/build.gradle
  packages/flutter_adaptive_scaffold/example/android/app/src/debug/AndroidManifest.xml
  packages/flutter_adaptive_scaffold/example/android/app/src/main/AndroidManifest.xml
  packages/flutter_adaptive_scaffold/example/android/app/src/profile/AndroidManifest.xml
  packages/flutter_adaptive_scaffold/example/android/build.gradle
  packages/flutter_markdown/example/android/app/build.gradle
  packages/flutter_markdown/example/android/app/src/debug/AndroidManifest.xml
  packages/flutter_markdown/example/android/app/src/main/AndroidManifest.xml
  packages/flutter_markdown/example/android/app/src/profile/AndroidManifest.xml
  packages/flutter_markdown/example/android/build.gradle
  packages/flutter_markdown/example/android/gradle/wrapper/gradle-wrapper.properties
  packages/flutter_plugin_android_lifecycle/example/android/app/build.gradle
  packages/flutter_plugin_android_lifecycle/example/android/app/src/debug/AndroidManifest.xml
  packages/flutter_plugin_android_lifecycle/example/android/app/src/main/AndroidManifest.xml
  packages/flutter_plugin_android_lifecycle/example/android/app/src/profile/AndroidManifest.xml
  packages/flutter_plugin_android_lifecycle/example/android/build.gradle
  packages/flutter_plugin_android_lifecycle/example/android/gradle/wrapper/gradle-wrapper.properties
  packages/go_router/example/android/app/build.gradle
  packages/go_router/example/android/app/src/debug/AndroidManifest.xml
  packages/go_router/example/android/app/src/main/AndroidManifest.xml
  packages/go_router/example/android/app/src/profile/AndroidManifest.xml
  packages/go_router/example/android/build.gradle
  packages/go_router/example/android/gradle/wrapper/gradle-wrapper.properties
Labels: p: extension_google_sign_in_as_googleapis_auth, p: flutter_markdown, p: go_router, p: animations, autosubmit, override: no changelog needed, p: dynamic_layouts, p: flutter_adaptive_scaffold, p: espresso, p: flutter_plugin_android_lifecycle, platform-android

#3261 [video_player] synchronize isPlaying state
  packages/video_player/video_player/AUTHORS
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/lib/src/closed_caption_file.dart
  packages/video_player/video_player/lib/video_player.dart
  packages/video_player/video_player/pubspec.yaml
  packages/video_player/video_player/test/video_player_test.dart
  packages/video_player/video_player_android/AUTHORS
  packages/video_player/video_player_android/CHANGELOG.md
  packages/video_player/video_player_android/android/src/main/java/io/flutter/plugins/videoplayer/VideoPlayer.java
  packages/video_player/video_player_android/android/src/test/java/io/flutter/plugins/videoplayer/VideoPlayerTest.java
  packages/video_player/video_player_android/example/lib/mini_controller.dart
  packages/video_player/video_player_android/example/pubspec.yaml
  packages/video_player/video_player_android/lib/src/android_video_player.dart
  packages/video_player/video_player_android/pubspec.yaml
  packages/video_player/video_player_android/test/android_video_player_test.dart
  packages/video_player/video_player_avfoundation/AUTHORS
  packages/video_player/video_player_avfoundation/CHANGELOG.md
  packages/video_player/video_player_avfoundation/example/lib/mini_controller.dart
  packages/video_player/video_player_avfoundation/example/pubspec.yaml
  packages/video_player/video_player_avfoundation/ios/Classes/FLTVideoPlayerPlugin.m
  packages/video_player/video_player_avfoundation/lib/src/avfoundation_video_player.dart
  packages/video_player/video_player_avfoundation/pubspec.yaml
  packages/video_player/video_player_avfoundation/test/avfoundation_video_player_test.dart
  packages/video_player/video_player_web/AUTHORS
  packages/video_player/video_player_web/CHANGELOG.md
  packages/video_player/video_player_web/example/integration_test/video_player_web_test.dart
  packages/video_player/video_player_web/example/pubspec.yaml
  packages/video_player/video_player_web/lib/src/video_player.dart
  packages/video_player/video_player_web/pubspec.yaml
Labels: autosubmit, platform-android, platform-ios, platform-web, p: video_player

#3603 [pigeon] Take C++ out of experimental
  packages/pigeon/CHANGELOG.md
  packages/pigeon/README.md
  packages/pigeon/example/README.md
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/lib/pigeon_lib.dart
  packages/pigeon/mock_handler_tester/test/message.dart
  packages/pigeon/mock_handler_tester/test/test.dart
  packages/pigeon/platform_tests/alternate_language_test_plugin/android/src/main/java/com/example/alternate_language_test_plugin/CoreTests.java
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/CoreTests.gen.h
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/CoreTests.gen.m
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/core_tests.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/flutter_unittests.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/multiple_arity.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/non_null_fields.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/null_fields.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/nullable_returns.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/primitive.gen.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/core_tests.gen.dart
  packages/pigeon/platform_tests/test_plugin/android/src/main/kotlin/com/example/test_plugin/CoreTests.gen.kt
  packages/pigeon/platform_tests/test_plugin/ios/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/macos/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/windows/pigeon/core_tests.gen.cpp
  packages/pigeon/platform_tests/test_plugin/windows/pigeon/core_tests.gen.h
  packages/pigeon/pubspec.yaml
  packages/pigeon/test/pigeon_lib_test.dart
Labels: p: pigeon, autosubmit, platform-android, platform-ios, platform-macos, platform-windows

#3632 [tool] Add initial `update-dependency` command
  script/tool/README.md
  script/tool/lib/src/main.dart
  script/tool/lib/src/update_dependency_command.dart
  script/tool/test/update_dependency_command_test.dart
Labels: autosubmit

#3545 [pigeon] fix swift nsnull casting crash
  packages/pigeon/CHANGELOG.md
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/lib/swift_generator.dart
  packages/pigeon/mock_handler_tester/test/message.dart
  packages/pigeon/mock_handler_tester/test/test.dart
  packages/pigeon/platform_tests/alternate_language_test_plugin/android/src/main/java/com/example/alternate_language_test_plugin/CoreTests.java
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/CoreTests.gen.h
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/CoreTests.gen.m
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/core_tests.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/flutter_unittests.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/multiple_arity.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/non_null_fields.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/null_fields.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/nullable_returns.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/primitive.gen.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/integration_tests.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/core_tests.gen.dart
  packages/pigeon/platform_tests/test_plugin/android/src/main/kotlin/com/example/test_plugin/CoreTests.gen.kt
  packages/pigeon/platform_tests/test_plugin/example/ios/RunnerTests/EchoBinaryMessenger.swift
  packages/pigeon/platform_tests/test_plugin/ios/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/macos/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/windows/pigeon/core_tests.gen.cpp
  packages/pigeon/platform_tests/test_plugin/windows/pigeon/core_tests.gen.h
  packages/pigeon/pubspec.yaml
  packages/pigeon/test/swift_generator_test.dart
Labels: p: pigeon, platform-android, platform-ios, platform-macos, platform-windows

#3641 Roll Flutter from 2144a1b05ebd to f9857df6b316 (18 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#3601 [pigeon] Add a structured function helper for C++
  packages/pigeon/CHANGELOG.md
  packages/pigeon/lib/cpp_generator.dart
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/mock_handler_tester/test/message.dart
  packages/pigeon/mock_handler_tester/test/test.dart
  packages/pigeon/platform_tests/alternate_language_test_plugin/android/src/main/java/com/example/alternate_language_test_plugin/CoreTests.java
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/CoreTests.gen.h
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/CoreTests.gen.m
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/core_tests.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/flutter_unittests.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/multiple_arity.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/non_null_fields.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/null_fields.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/nullable_returns.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/primitive.gen.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/core_tests.gen.dart
  packages/pigeon/platform_tests/test_plugin/android/src/main/kotlin/com/example/test_plugin/CoreTests.gen.kt
  packages/pigeon/platform_tests/test_plugin/ios/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/macos/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/windows/pigeon/core_tests.gen.cpp
  packages/pigeon/platform_tests/test_plugin/windows/pigeon/core_tests.gen.h
  packages/pigeon/pubspec.yaml
  packages/pigeon/test/cpp_generator_test.dart
Labels: p: pigeon, autosubmit, platform-android, platform-ios, platform-macos, platform-windows

#3504 Use packages instead of plugins repository
  README.md
Labels: autosubmit

#3643 [webview_flutter_wkwebview] Skip flaky transparency test
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/RunnerUITests/FLTWebViewUITests.m
Labels: autosubmit, platform-ios, p: webview_flutter

#3635 [gsi_interface] Introduces canAccessScopes and userDataEvents.
  packages/google_sign_in/google_sign_in_platform_interface/CHANGELOG.md
  packages/google_sign_in/google_sign_in_platform_interface/lib/google_sign_in_platform_interface.dart
  packages/google_sign_in/google_sign_in_platform_interface/pubspec.yaml
  packages/google_sign_in/google_sign_in_platform_interface/test/method_channel_google_sign_in_test.dart
Labels: autosubmit, p: google_sign_in

#3634 [go_router] Adds ignore for deprecated RouteInformation.location
  packages/go_router/lib/src/information_provider.dart
  packages/go_router/lib/src/parser.dart
  packages/go_router/lib/src/router.dart
  packages/go_router/test/go_router_test.dart
  packages/go_router/test/information_provider_test.dart
  packages/go_router/test/parser_test.dart
Labels: p: go_router, autosubmit, override: no versioning needed, override: no changelog needed

#3640 [tool] Add pigeon support to update-dependency
  script/tool/lib/src/update_dependency_command.dart
  script/tool/test/analyze_command_test.dart
  script/tool/test/build_examples_command_test.dart
  script/tool/test/common/gradle_test.dart
  script/tool/test/common/package_command_test.dart
  script/tool/test/common/xcode_test.dart
  script/tool/test/create_all_packages_app_command_test.dart
  script/tool/test/custom_test_command_test.dart
  script/tool/test/drive_examples_command_test.dart
  script/tool/test/federation_safety_check_command_test.dart
  script/tool/test/firebase_test_lab_command_test.dart
  script/tool/test/fix_command_test.dart
  script/tool/test/format_command_test.dart
  script/tool/test/lint_android_command_test.dart
  script/tool/test/make_deps_path_based_command_test.dart
  script/tool/test/native_test_command_test.dart
  script/tool/test/podspec_check_command_test.dart
  script/tool/test/publish_check_command_test.dart
  script/tool/test/publish_command_test.dart
  script/tool/test/test_command_test.dart
  script/tool/test/update_dependency_command_test.dart
  script/tool/test/update_excerpts_command_test.dart
  script/tool/test/update_release_info_command_test.dart
  script/tool/test/util.dart
  script/tool/test/version_check_command_test.dart
  script/tool/test/xcode_analyze_command_test.dart
Labels: autosubmit

#3647 Roll Flutter from f9857df6b316 to daaa32bc0638 (26 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#3439 [go_router_builder] Add ShellRoute support to go_router_builder
  packages/go_router_builder/CHANGELOG.md
  packages/go_router_builder/README.md
  packages/go_router_builder/example/lib/all_types.g.dart
  packages/go_router_builder/example/lib/main.g.dart
  packages/go_router_builder/example/lib/shell_route_example.dart
  packages/go_router_builder/example/lib/shell_route_example.g.dart
  packages/go_router_builder/example/lib/shell_route_with_keys_example.dart
  packages/go_router_builder/example/lib/shell_route_with_keys_example.g.dart
  packages/go_router_builder/example/lib/simple_example.g.dart
  packages/go_router_builder/example/pubspec.yaml
  packages/go_router_builder/example/test/all_types_test.dart
  packages/go_router_builder/example/test/shell_route_test.dart
  packages/go_router_builder/example/test/shell_route_with_keys_test.dart
  packages/go_router_builder/lib/src/go_router_generator.dart
  packages/go_router_builder/lib/src/route_config.dart
  packages/go_router_builder/pubspec.yaml
  packages/go_router_builder/test/test_inputs/_go_router_builder_test_input.dart
Labels: p: go_router_builder, autosubmit

#3428 [webview_flutter_android] Removes unused field `WebView.useHybridComposition` and suppress Java `ViewConstructor` lint
  packages/webview_flutter/webview_flutter_android/CHANGELOG.md
  packages/webview_flutter/webview_flutter_android/android/build.gradle
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/GeneratedAndroidWebView.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/InputAwareWebView.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/ThreadedInputConnectionProxyAdapterView.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebViewFlutterPlugin.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebViewHostApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/InputAwareWebViewTest.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/WebViewTest.java
  packages/webview_flutter/webview_flutter_android/lib/src/android_proxy.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview.g.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview_api_impls.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview_controller.dart
  packages/webview_flutter/webview_flutter_android/lib/src/legacy/webview_android.dart
  packages/webview_flutter/webview_flutter_android/lib/src/legacy/webview_android_widget.dart
  packages/webview_flutter/webview_flutter_android/lib/src/legacy/webview_surface_android.dart
  packages/webview_flutter/webview_flutter_android/pigeons/android_webview.dart
  packages/webview_flutter/webview_flutter_android/pubspec.yaml
  packages/webview_flutter/webview_flutter_android/test/android_webview_controller_test.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_controller_test.mocks.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_test.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_test.mocks.dart
  packages/webview_flutter/webview_flutter_android/test/legacy/webview_android_widget_test.dart
  packages/webview_flutter/webview_flutter_android/test/legacy/webview_android_widget_test.mocks.dart
  packages/webview_flutter/webview_flutter_android/test/test_android_webview.g.dart
Labels: autosubmit, platform-android, p: webview_flutter

#3646 Roll Flutter (stable) from 62bd79521d8d to 4b1264501234 (1 revision)
  .ci/flutter_stable.version
Labels: autosubmit

#3614 [go_router] Remove navigator keys parameters
  packages/go_router/CHANGELOG.md
  packages/go_router/lib/src/route.dart
  packages/go_router/lib/src/route_data.dart
  packages/go_router/pubspec.yaml
Labels: p: go_router, autosubmit

#3613 [go_router] Fixes an issue when popping pageless route would accident…
  packages/go_router/CHANGELOG.md
  packages/go_router/lib/src/delegate.dart
  packages/go_router/lib/src/match.dart
  packages/go_router/pubspec.yaml
  packages/go_router/test/go_router_test.dart
Labels: p: go_router, autosubmit

#3649 [pigeon] Apply strict linting to Java output
  packages/pigeon/CHANGELOG.md
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/lib/java_generator.dart
  packages/pigeon/mock_handler_tester/test/message.dart
  packages/pigeon/mock_handler_tester/test/test.dart
  packages/pigeon/platform_tests/alternate_language_test_plugin/android/build.gradle
  packages/pigeon/platform_tests/alternate_language_test_plugin/android/src/main/java/com/example/alternate_language_test_plugin/AlternateLanguageTestPlugin.java
  packages/pigeon/platform_tests/alternate_language_test_plugin/android/src/main/java/com/example/alternate_language_test_plugin/CoreTests.java
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/CoreTests.gen.h
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/CoreTests.gen.m
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/core_tests.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/flutter_unittests.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/multiple_arity.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/non_null_fields.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/null_fields.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/nullable_returns.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/primitive.gen.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/core_tests.gen.dart
  packages/pigeon/platform_tests/test_plugin/android/src/main/kotlin/com/example/test_plugin/CoreTests.gen.kt
  packages/pigeon/platform_tests/test_plugin/ios/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/macos/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/windows/pigeon/core_tests.gen.cpp
  packages/pigeon/platform_tests/test_plugin/windows/pigeon/core_tests.gen.h
  packages/pigeon/pubspec.yaml
  packages/pigeon/test/java_generator_test.dart
  packages/pigeon/tool/run_tests.dart
  packages/pigeon/tool/shared/test_suites.dart
  packages/pigeon/tool/test.dart
Labels: p: pigeon, autosubmit, platform-android, platform-ios, platform-macos, platform-windows

#3636 [gsi_web] Adds Sign In button.
  packages/google_sign_in/google_sign_in_web/CHANGELOG.md
  packages/google_sign_in/google_sign_in_web/README.md
  packages/google_sign_in/google_sign_in_web/example/README.md
  packages/google_sign_in/google_sign_in_web/example/integration_test/flexible_size_html_element_view_test.dart
  packages/google_sign_in/google_sign_in_web/example/integration_test/google_sign_in_web_test.dart
  packages/google_sign_in/google_sign_in_web/example/integration_test/google_sign_in_web_test.mocks.dart
  packages/google_sign_in/google_sign_in_web/example/integration_test/src/dom.dart
  packages/google_sign_in/google_sign_in_web/example/lib/button_tester.dart
  packages/google_sign_in/google_sign_in_web/example/lib/src/button_configuration_column.dart
  packages/google_sign_in/google_sign_in_web/example/pubspec.yaml
  packages/google_sign_in/google_sign_in_web/lib/google_sign_in_web.dart
  packages/google_sign_in/google_sign_in_web/lib/src/button_configuration.dart
  packages/google_sign_in/google_sign_in_web/lib/src/dom.dart
  packages/google_sign_in/google_sign_in_web/lib/src/flexible_size_html_element_view.dart
  packages/google_sign_in/google_sign_in_web/lib/src/gis_client.dart
  packages/google_sign_in/google_sign_in_web/pubspec.yaml
Labels: autosubmit, p: google_sign_in, platform-web

#3654 Roll Flutter from daaa32bc0638 to a086c640dcc4 (27 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#3575 [url_launcher] Adds lint ignores to the usage of RouteInformation.loc…
  packages/url_launcher/url_launcher_platform_interface/lib/link.dart
  packages/url_launcher/url_launcher_platform_interface/test/link_test.dart
Labels: autosubmit, override: no versioning needed, override: no changelog needed, p: url_launcher

#3656 [tools] adds 'android' alias for build-example script
  script/tool/lib/src/build_examples_command.dart
  script/tool/lib/src/common/core.dart
  script/tool/lib/src/drive_examples_command.dart
  script/tool/test/build_examples_command_test.dart
  script/tool/test/drive_examples_command_test.dart
Labels: autosubmit

#3642 [google_sign_in] Adds Google Sign In button (web).
  packages/google_sign_in/google_sign_in/CHANGELOG.md
  packages/google_sign_in/google_sign_in/README.md
  packages/google_sign_in/google_sign_in/example/lib/main.dart
  packages/google_sign_in/google_sign_in/example/lib/src/sign_in_button.dart
  packages/google_sign_in/google_sign_in/example/lib/src/sign_in_button/mobile.dart
  packages/google_sign_in/google_sign_in/example/lib/src/sign_in_button/stub.dart
  packages/google_sign_in/google_sign_in/example/lib/src/sign_in_button/web.dart
  packages/google_sign_in/google_sign_in/example/pubspec.yaml
  packages/google_sign_in/google_sign_in/example/web/index.html
  packages/google_sign_in/google_sign_in/lib/google_sign_in.dart
  packages/google_sign_in/google_sign_in/pubspec.yaml
  packages/google_sign_in/google_sign_in/regen_mocks.sh
  packages/google_sign_in/google_sign_in/test/google_sign_in_test.dart
  packages/google_sign_in/google_sign_in/test/google_sign_in_test.mocks.dart
Labels: autosubmit, p: google_sign_in, platform-web

#3657 [pigeon] Fix Obj-C signature mismatch
  packages/pigeon/CHANGELOG.md
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/lib/objc_generator.dart
  packages/pigeon/mock_handler_tester/test/message.dart
  packages/pigeon/mock_handler_tester/test/test.dart
  packages/pigeon/platform_tests/alternate_language_test_plugin/android/src/main/java/com/example/alternate_language_test_plugin/CoreTests.java
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/CoreTests.gen.h
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/CoreTests.gen.m
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/core_tests.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/flutter_unittests.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/multiple_arity.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/non_null_fields.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/null_fields.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/nullable_returns.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/primitive.gen.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/core_tests.gen.dart
  packages/pigeon/platform_tests/test_plugin/android/src/main/kotlin/com/example/test_plugin/CoreTests.gen.kt
  packages/pigeon/platform_tests/test_plugin/ios/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/macos/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/windows/pigeon/core_tests.gen.cpp
  packages/pigeon/platform_tests/test_plugin/windows/pigeon/core_tests.gen.h
  packages/pigeon/pubspec.yaml
  packages/pigeon/test/objc_generator_test.dart
Labels: p: pigeon, autosubmit, platform-android, platform-ios, platform-macos, platform-windows

#3572 [webview_flutter] Fix typos in tests and documentation
  packages/webview_flutter/webview_flutter/CHANGELOG.md
  packages/webview_flutter/webview_flutter/lib/src/legacy/webview.dart
  packages/webview_flutter/webview_flutter/lib/src/webview_controller.dart
  packages/webview_flutter/webview_flutter/lib/src/webview_widget.dart
  packages/webview_flutter/webview_flutter_android/CHANGELOG.md
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview_api_impls.dart
  packages/webview_flutter/webview_flutter_android/lib/src/instance_manager.dart
  packages/webview_flutter/webview_flutter_android/lib/src/weak_reference_utils.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_controller_test.dart
  packages/webview_flutter/webview_flutter_android/test/legacy/webview_android_widget_test.dart
  packages/webview_flutter/webview_flutter_platform_interface/CHANGELOG.md
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/legacy/platform_interface/webview_platform.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/legacy/types/javascript_channel.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/types/platform_webview_widget_creation_params.dart
  packages/webview_flutter/webview_flutter_wkwebview/CHANGELOG.md
  packages/webview_flutter/webview_flutter_wkwebview/example/integration_test/legacy/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/example/integration_test/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFGeneratedWebKitApis.h
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/common/weak_reference_utils.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/common/web_kit.g.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/foundation/foundation.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/legacy/web_kit_webview_widget.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/webkit_webview_controller.dart
  packages/webview_flutter/webview_flutter_wkwebview/pigeons/web_kit.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/legacy/web_kit_webview_widget_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/webkit_navigation_delegate_test.dart
Labels: autosubmit, override: no versioning needed, platform-android, platform-ios, p: webview_flutter

#3661 Roll Flutter from a086c640dcc4 to aa6a0a9dea63 (25 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#3660 [pigeon] Remove version from most test code
  packages/pigeon/lib/cpp_generator.dart
  packages/pigeon/lib/dart_generator.dart
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/lib/java_generator.dart
  packages/pigeon/lib/kotlin_generator.dart
  packages/pigeon/lib/objc_generator.dart
  packages/pigeon/lib/swift_generator.dart
  packages/pigeon/platform_tests/alternate_language_test_plugin/android/src/main/java/com/example/alternate_language_test_plugin/CoreTests.java
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/CoreTests.gen.h
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/CoreTests.gen.m
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/core_tests.gen.dart
  packages/pigeon/platform_tests/test_plugin/android/src/main/kotlin/com/example/test_plugin/CoreTests.gen.kt
  packages/pigeon/platform_tests/test_plugin/ios/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/macos/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/windows/pigeon/core_tests.gen.cpp
  packages/pigeon/platform_tests/test_plugin/windows/pigeon/core_tests.gen.h
  packages/pigeon/tool/shared/generation.dart
Labels: p: pigeon, autosubmit, override: no versioning needed, override: no changelog needed, platform-android, platform-ios, platform-macos, platform-windows

#3648 [various] Enable warnings as errors, and all warnings, for Android lint
  packages/camera/camera_android/android/build.gradle
  packages/camera/camera_android/android/lint-baseline.xml
  packages/camera/camera_android_camerax/android/build.gradle
  packages/camera/camera_android_camerax/android/lint-baseline.xml
  packages/espresso/android/build.gradle
  packages/espresso/android/lint-baseline.xml
  packages/flutter_plugin_android_lifecycle/android/build.gradle
  packages/flutter_plugin_android_lifecycle/android/lint-baseline.xml
  packages/google_maps_flutter/google_maps_flutter_android/android/build.gradle
  packages/google_maps_flutter/google_maps_flutter_android/android/lint-baseline.xml
  packages/google_sign_in/google_sign_in_android/android/build.gradle
  packages/google_sign_in/google_sign_in_android/android/lint-baseline.xml
  packages/image_picker/image_picker_android/android/build.gradle
  packages/image_picker/image_picker_android/android/lint-baseline.xml
  packages/in_app_purchase/in_app_purchase_android/android/build.gradle
  packages/in_app_purchase/in_app_purchase_android/android/lint-baseline.xml
  packages/local_auth/local_auth_android/android/build.gradle
  packages/local_auth/local_auth_android/android/lint-baseline.xml
  packages/path_provider/path_provider_android/android/build.gradle
  packages/path_provider/path_provider_android/android/lint-baseline.xml
  packages/quick_actions/quick_actions_android/android/build.gradle
  packages/quick_actions/quick_actions_android/android/lint-baseline.xml
  packages/shared_preferences/shared_preferences_android/android/build.gradle
  packages/shared_preferences/shared_preferences_android/android/lint-baseline.xml
  packages/url_launcher/url_launcher_android/android/build.gradle
  packages/url_launcher/url_launcher_android/android/lint-baseline.xml
  packages/video_player/video_player_android/android/build.gradle
  packages/video_player/video_player_android/android/lint-baseline.xml
  packages/webview_flutter/webview_flutter_android/android/build.gradle
  packages/webview_flutter/webview_flutter_android/android/lint-baseline.xml
  script/tool/lib/src/lint_android_command.dart
  script/tool/test/lint_android_command_test.dart
Labels: needs tests, autosubmit, override: no versioning needed, override: no changelog needed, p: camera, p: espresso, p: flutter_plugin_android_lifecycle, p: google_maps_flutter, p: google_sign_in, p: image_picker, p: in_app_purchase, p: local_auth, p: path_provider, p: quick_actions, platform-android, p: webview_flutter, p: video_player, p: url_launcher, p: shared_preferences

#3662 [various] Update Pigeon in Obj-C plugins
  packages/file_selector/file_selector_ios/CHANGELOG.md
  packages/file_selector/file_selector_ios/ios/Classes/messages.g.h
  packages/file_selector/file_selector_ios/ios/Classes/messages.g.m
  packages/file_selector/file_selector_ios/lib/src/messages.g.dart
  packages/file_selector/file_selector_ios/pubspec.yaml
  packages/file_selector/file_selector_ios/test/test_api.g.dart
  packages/image_picker/image_picker_ios/CHANGELOG.md
  packages/image_picker/image_picker_ios/ios/Classes/messages.g.h
  packages/image_picker/image_picker_ios/ios/Classes/messages.g.m
  packages/image_picker/image_picker_ios/lib/src/messages.g.dart
  packages/image_picker/image_picker_ios/pubspec.yaml
  packages/image_picker/image_picker_ios/test/test_api.g.dart
  packages/url_launcher/url_launcher_ios/CHANGELOG.md
  packages/url_launcher/url_launcher_ios/ios/Classes/messages.g.h
  packages/url_launcher/url_launcher_ios/ios/Classes/messages.g.m
  packages/url_launcher/url_launcher_ios/lib/src/messages.g.dart
  packages/url_launcher/url_launcher_ios/pubspec.yaml
  packages/video_player/video_player_avfoundation/CHANGELOG.md
  packages/video_player/video_player_avfoundation/ios/Classes/messages.g.h
  packages/video_player/video_player_avfoundation/ios/Classes/messages.g.m
  packages/video_player/video_player_avfoundation/lib/src/messages.g.dart
  packages/video_player/video_player_avfoundation/pubspec.yaml
  packages/video_player/video_player_avfoundation/test/test_api.g.dart
  packages/webview_flutter/webview_flutter_wkwebview/CHANGELOG.md
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FLTWebViewFlutterPlugin.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFGeneratedWebKitApis.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFGeneratedWebKitApis.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFNavigationDelegateHostApi.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFObjectHostApi.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFObjectHostApi.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFScriptMessageHandlerHostApi.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFUIDelegateHostApi.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFWebViewConfigurationHostApi.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFWebViewConfigurationHostApi.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFWebViewHostApi.m
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/common/web_kit.g.dart
  packages/webview_flutter/webview_flutter_wkwebview/pubspec.yaml
  packages/webview_flutter/webview_flutter_wkwebview/test/src/common/test_web_kit.g.dart
Labels: needs tests, autosubmit, p: file_selector, p: image_picker, platform-ios, p: webview_flutter, p: video_player, p: url_launcher

#3666 Roll Flutter from aa6a0a9dea63 to 3ea2d72446c6 (18 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#3668 Roll Flutter from 3ea2d72446c6 to c55d713ca885 (4 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#3674 [in_app_purchase_android] Fix mockMethodCallHandler lint
  packages/in_app_purchase/in_app_purchase_android/test/billing_client_wrappers/billing_client_manager_test.dart
Labels: p: in_app_purchase, platform-android

#3673 [flutter_adaptive_scaffold] : Add groupAlignment parameter to standardNavigationRail
  packages/flutter_adaptive_scaffold/CHANGELOG.md
  packages/flutter_adaptive_scaffold/lib/src/adaptive_scaffold.dart
  packages/flutter_adaptive_scaffold/pubspec.yaml
  packages/flutter_adaptive_scaffold/test/adaptive_scaffold_test.dart
Labels: autosubmit, p: flutter_adaptive_scaffold

#3681 Manual roll Flutter from c55d713ca885 to 535b4d5ec3f1 (13 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#3678 [image_picker] [example] fix broken link for image_picker_for_web in image_picker example
  packages/image_picker/image_picker/CHANGELOG.md
  packages/image_picker/image_picker/example/lib/main.dart
  packages/image_picker/image_picker/pubspec.yaml
Labels: autosubmit, p: image_picker

#3663 [various] Update Pigeon in Swift plugins
  packages/file_selector/file_selector_macos/CHANGELOG.md
  packages/file_selector/file_selector_macos/lib/src/messages.g.dart
  packages/file_selector/file_selector_macos/macos/Classes/messages.g.swift
  packages/file_selector/file_selector_macos/pubspec.yaml
  packages/file_selector/file_selector_macos/test/messages_test.g.dart
  packages/path_provider/path_provider_foundation/CHANGELOG.md
  packages/path_provider/path_provider_foundation/darwin/Classes/messages.g.swift
  packages/path_provider/path_provider_foundation/lib/messages.g.dart
  packages/path_provider/path_provider_foundation/pubspec.yaml
  packages/path_provider/path_provider_foundation/test/messages_test.g.dart
  packages/shared_preferences/shared_preferences_foundation/CHANGELOG.md
  packages/shared_preferences/shared_preferences_foundation/darwin/Classes/messages.g.swift
  packages/shared_preferences/shared_preferences_foundation/lib/messages.g.dart
  packages/shared_preferences/shared_preferences_foundation/pubspec.yaml
  packages/shared_preferences/shared_preferences_foundation/test/test_api.g.dart
Labels: needs tests, autosubmit, p: file_selector, p: path_provider, platform-macos, p: shared_preferences

#3496 [camera] Reland implementation of flip camera while recording. App facing changes
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/README.md
  packages/camera/camera/example/integration_test/camera_test.dart
  packages/camera/camera/example/lib/main.dart
  packages/camera/camera/lib/src/camera_controller.dart
  packages/camera/camera/pubspec.yaml
  packages/camera/camera/test/camera_preview_test.dart
  packages/camera/camera/test/camera_value_test.dart
Labels: autosubmit, p: camera

#3275 [in_app_purchase] Prepare for `NULLABLE_ARGUMENT_TO_NON_NULL_TYPE`
  packages/in_app_purchase/in_app_purchase_storekit/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_storekit/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_storekit/test/fakes/fake_storekit_platform.dart
Labels: needs tests, autosubmit, p: in_app_purchase, platform-ios

#3627 [go_router_builder] Adds support for required $extra parameter
  packages/go_router_builder/CHANGELOG.md
  packages/go_router_builder/example/lib/extra_example.dart
  packages/go_router_builder/example/lib/extra_example.g.dart
  packages/go_router_builder/lib/src/route_config.dart
  packages/go_router_builder/lib/src/type_helpers.dart
  packages/go_router_builder/pubspec.yaml
  packages/go_router_builder/test/builder_test.dart
  packages/go_router_builder/test/test_inputs/_go_router_builder_test_input.dart
Labels: p: go_router_builder, autosubmit

#3686 [url_launcher] Convert macOS to Pigeon
  packages/url_launcher/url_launcher_macos/CHANGELOG.md
  packages/url_launcher/url_launcher_macos/example/macos/RunnerTests/RunnerTests.swift
  packages/url_launcher/url_launcher_macos/lib/src/messages.g.dart
  packages/url_launcher/url_launcher_macos/lib/url_launcher_macos.dart
  packages/url_launcher/url_launcher_macos/macos/Classes/UrlLauncherPlugin.swift
  packages/url_launcher/url_launcher_macos/macos/Classes/messages.g.swift
  packages/url_launcher/url_launcher_macos/pigeons/copyright.txt
  packages/url_launcher/url_launcher_macos/pigeons/messages.dart
  packages/url_launcher/url_launcher_macos/pubspec.yaml
  packages/url_launcher/url_launcher_macos/test/url_launcher_macos_test.dart
Labels: autosubmit, platform-macos, p: url_launcher

#3645 [webview_flutter_platform_interface] Adds platform interface for onHttpError callback
  packages/webview_flutter/webview_flutter_platform_interface/CHANGELOG.md
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/platform_navigation_delegate.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/types/http_response_error.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/types/types.dart
  packages/webview_flutter/webview_flutter_platform_interface/pubspec.yaml
  packages/webview_flutter/webview_flutter_platform_interface/test/platform_navigation_delegate_test.dart
  packages/webview_flutter/webview_flutter_platform_interface/test/platform_webview_controller_test.mocks.dart
Labels: autosubmit, p: webview_flutter

#3664 [go_router]Show ShellRoute's routes in debug log
  packages/go_router/CHANGELOG.md
  packages/go_router/example/lib/shell_route.dart
  packages/go_router/lib/src/configuration.dart
  packages/go_router/pubspec.yaml
  packages/go_router/test/configuration_test.dart
Labels: needs tests, p: go_router, autosubmit

#3690 [url_launcher] Fix Android Java warnings
  packages/url_launcher/url_launcher_android/CHANGELOG.md
  packages/url_launcher/url_launcher_android/android/build.gradle
  packages/url_launcher/url_launcher_android/android/lint-baseline.xml
  packages/url_launcher/url_launcher_android/android/src/main/java/io/flutter/plugins/urllauncher/MethodCallHandlerImpl.java
  packages/url_launcher/url_launcher_android/android/src/main/java/io/flutter/plugins/urllauncher/UrlLauncher.java
  packages/url_launcher/url_launcher_android/android/src/main/java/io/flutter/plugins/urllauncher/UrlLauncherPlugin.java
  packages/url_launcher/url_launcher_android/android/src/main/java/io/flutter/plugins/urllauncher/WebViewActivity.java
  packages/url_launcher/url_launcher_android/pubspec.yaml
Labels: needs tests, autosubmit, platform-android, p: url_launcher

#3696 Roll Flutter (stable) from 4b1264501234 to f72efea43c30 (3 revisions)
  .ci/flutter_stable.version
Labels: autosubmit

#3653 [webview_flutter_android] [webview_flutter_wkwebview] Adds support for `PlatformNavigationDelegate.onUrlChange`
  packages/webview_flutter/webview_flutter_android/CHANGELOG.md
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/GeneratedAndroidWebView.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebViewClientFlutterApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebViewClientHostApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/WebViewClientTest.java
  packages/webview_flutter/webview_flutter_android/example/integration_test/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter_android/example/lib/main.dart
  packages/webview_flutter/webview_flutter_android/example/pubspec.yaml
  packages/webview_flutter/webview_flutter_android/lib/src/android_proxy.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview.g.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview_api_impls.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview_controller.dart
  packages/webview_flutter/webview_flutter_android/pigeons/android_webview.dart
  packages/webview_flutter/webview_flutter_android/pubspec.yaml
  packages/webview_flutter/webview_flutter_android/test/android_navigation_delegate_test.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_controller_test.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_controller_test.mocks.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_test.dart
  packages/webview_flutter/webview_flutter_android/test/test_android_webview.g.dart
  packages/webview_flutter/webview_flutter_wkwebview/CHANGELOG.md
  packages/webview_flutter/webview_flutter_wkwebview/example/integration_test/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/Runner.xcodeproj/project.pbxproj
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/RunnerTests/FWFObjectHostApiTests.m
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/RunnerTests/FWFURLTests.m
  packages/webview_flutter/webview_flutter_wkwebview/example/lib/main.dart
  packages/webview_flutter/webview_flutter_wkwebview/example/pubspec.yaml
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FLTWebViewFlutterPlugin.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFGeneratedWebKitApis.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFGeneratedWebKitApis.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFObjectHostApi.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFURLHostApi.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFURLHostApi.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/webview-umbrella.h
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/common/web_kit.g.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/foundation/foundation.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/foundation/foundation_api_impls.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/webkit_webview_controller.dart
  packages/webview_flutter/webview_flutter_wkwebview/pigeons/web_kit.dart
  packages/webview_flutter/webview_flutter_wkwebview/pubspec.yaml
  packages/webview_flutter/webview_flutter_wkwebview/test/src/common/test_web_kit.g.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/foundation/foundation_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/foundation/foundation_test.mocks.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/webkit_webview_controller_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/webkit_webview_controller_test.mocks.dart
Labels: autosubmit, platform-android, platform-ios, p: webview_flutter

#3698 [go_router_builder] Use only one .where()
  packages/go_router_builder/lib/src/route_config.dart
Labels: p: go_router_builder, autosubmit, override: no versioning needed, override: no changelog needed

#3675 [webview_flutter_android] Fix Android lint warnings
  packages/webview_flutter/webview_flutter_android/CHANGELOG.md
  packages/webview_flutter/webview_flutter_android/README.md
  packages/webview_flutter/webview_flutter_android/android/build.gradle
  packages/webview_flutter/webview_flutter_android/android/lint-baseline.xml
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/CookieManagerHostApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/DisplayListenerProxy.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/DownloadListenerFlutterApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/DownloadListenerHostApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/FileChooserParamsFlutterApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/FlutterAssetManager.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/FlutterAssetManagerHostApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/FlutterWebViewFactory.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/GeneratedAndroidWebView.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/InstanceManager.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/JavaObjectHostApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/JavaScriptChannel.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/JavaScriptChannelFlutterApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/JavaScriptChannelHostApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebChromeClientFlutterApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebChromeClientHostApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebSettingsHostApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebStorageHostApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebViewClientFlutterApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebViewClientHostApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebViewFlutterAndroidExternalApi.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebViewFlutterPlugin.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebViewHostApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/CookieManagerHostApiImplTest.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/WebChromeClientTest.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/WebSettingsTest.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/WebViewClientTest.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/WebViewTest.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/utils/TestUtils.java
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview.g.dart
  packages/webview_flutter/webview_flutter_android/pubspec.yaml
  packages/webview_flutter/webview_flutter_android/test/test_android_webview.g.dart
Labels: autosubmit, platform-android, p: webview_flutter

#3321 [shared_preferences] Ports SharedPreferencesAndroid to Pigeon
  packages/shared_preferences/shared_preferences_android/CHANGELOG.md
  packages/shared_preferences/shared_preferences_android/android/src/main/java/io/flutter/plugins/sharedpreferences/Messages.java
  packages/shared_preferences/shared_preferences_android/android/src/main/java/io/flutter/plugins/sharedpreferences/MethodCallHandlerImpl.java
  packages/shared_preferences/shared_preferences_android/android/src/main/java/io/flutter/plugins/sharedpreferences/SharedPreferencesListEncoder.java
  packages/shared_preferences/shared_preferences_android/android/src/main/java/io/flutter/plugins/sharedpreferences/SharedPreferencesPlugin.java
  packages/shared_preferences/shared_preferences_android/android/src/test/java/io/flutter/plugins/sharedpreferences/SharedPreferencesTest.java
  packages/shared_preferences/shared_preferences_android/lib/shared_preferences_android.dart
  packages/shared_preferences/shared_preferences_android/lib/src/messages.g.dart
  packages/shared_preferences/shared_preferences_android/pigeons/copyright.txt
  packages/shared_preferences/shared_preferences_android/pigeons/messages.dart
  packages/shared_preferences/shared_preferences_android/pubspec.yaml
  packages/shared_preferences/shared_preferences_android/test/shared_preferences_android_test.dart
Labels: warning: land on red to fix tree breakage, autosubmit, platform-android, p: shared_preferences

#3707 [shared_preferences] Remove Android lint baseline
  packages/shared_preferences/shared_preferences_android/android/build.gradle
  packages/shared_preferences/shared_preferences_android/android/lint-baseline.xml
Labels: autosubmit, override: no versioning needed, override: no changelog needed, platform-android, p: shared_preferences

#3713 Roll Flutter from be45eb2420b2 to f74054467bed (24 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#3590 [image_picker][android] Non-bitmap images now return path instead of null
  packages/image_picker/image_picker/CHANGELOG.md
  packages/image_picker/image_picker/example/lib/main.dart
  packages/image_picker/image_picker/pubspec.yaml
  packages/image_picker/image_picker_android/CHANGELOG.md
  packages/image_picker/image_picker_android/android/src/main/java/io/flutter/plugins/imagepicker/ImagePickerDelegate.java
  packages/image_picker/image_picker_android/android/src/main/java/io/flutter/plugins/imagepicker/ImageResizer.java
  packages/image_picker/image_picker_android/android/src/test/java/io/flutter/plugins/imagepicker/ImageResizerTest.java
  packages/image_picker/image_picker_android/android/src/test/resources/flutter_image.svg
  packages/image_picker/image_picker_android/pubspec.yaml
Labels: autosubmit, p: image_picker, platform-android

#3571 [webview_flutter_android] [camera_android_camerax] Updates internal Java InstanceManager to only stop finalization callbacks when stopped
  packages/camera/camera_android_camerax/CHANGELOG.md
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/CameraAndroidCameraxPlugin.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/InstanceManager.java
  packages/camera/camera_android_camerax/android/src/test/java/io/flutter/plugins/camerax/CameraInfoTest.java
  packages/camera/camera_android_camerax/android/src/test/java/io/flutter/plugins/camerax/CameraSelectorTest.java
  packages/camera/camera_android_camerax/android/src/test/java/io/flutter/plugins/camerax/CameraTest.java
  packages/camera/camera_android_camerax/android/src/test/java/io/flutter/plugins/camerax/ImageCaptureTest.java
  packages/camera/camera_android_camerax/android/src/test/java/io/flutter/plugins/camerax/InstanceManagerTest.java
  packages/camera/camera_android_camerax/android/src/test/java/io/flutter/plugins/camerax/JavaObjectHostApiTest.java
  packages/camera/camera_android_camerax/android/src/test/java/io/flutter/plugins/camerax/PreviewTest.java
  packages/camera/camera_android_camerax/android/src/test/java/io/flutter/plugins/camerax/ProcessCameraProviderTest.java
  packages/camera/camera_android_camerax/example/android/app/build.gradle
  packages/camera/camera_android_camerax/example/android/app/src/androidTest/java/io/flutter/plugins/cameraxexample/InstanceManagerTest.java
  packages/camera/camera_android_camerax/example/android/build.gradle
  packages/camera/camera_android_camerax/example/pubspec.yaml
  packages/webview_flutter/webview_flutter_android/CHANGELOG.md
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/InstanceManager.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebViewFlutterPlugin.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/DownloadListenerTest.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/FileChooserParamsTest.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/InstanceManagerTest.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/JavaObjectHostApiTest.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/JavaScriptChannelTest.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/WebChromeClientTest.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/WebSettingsTest.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/WebStorageHostApiImplTest.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/WebViewClientTest.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/WebViewTest.java
  packages/webview_flutter/webview_flutter_android/example/android/app/src/androidTest/java/io/flutter/plugins/webviewflutterexample/InstanceManagerTest.java
  packages/webview_flutter/webview_flutter_android/pubspec.yaml
Labels: autosubmit, p: camera, platform-android, p: webview_flutter

#3706 [path_provider] Fix Android lint warnings
  packages/path_provider/path_provider_android/CHANGELOG.md
  packages/path_provider/path_provider_android/android/build.gradle
  packages/path_provider/path_provider_android/android/lint-baseline.xml
  packages/path_provider/path_provider_android/android/src/main/java/io/flutter/plugins/pathprovider/Messages.java
  packages/path_provider/path_provider_android/android/src/main/java/io/flutter/plugins/pathprovider/PathProviderPlugin.java
  packages/path_provider/path_provider_android/lib/messages.g.dart
  packages/path_provider/path_provider_android/pubspec.yaml
  packages/path_provider/path_provider_android/test/messages_test.g.dart
Labels: autosubmit, p: path_provider, platform-android

#3717 Roll Flutter from f74054467bed to 00171b07130e (17 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#3723 Roll Flutter from 00171b07130e to 50171bbae357 (7 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#3715 [tool] Add initial gradle validation command
  .cirrus.yml
  packages/espresso/CHANGELOG.md
  packages/espresso/android/build.gradle
  packages/espresso/pubspec.yaml
  packages/flutter_plugin_android_lifecycle/CHANGELOG.md
  packages/flutter_plugin_android_lifecycle/android/build.gradle
  packages/flutter_plugin_android_lifecycle/pubspec.yaml
  packages/google_sign_in/google_sign_in_android/CHANGELOG.md
  packages/google_sign_in/google_sign_in_android/android/build.gradle
  packages/google_sign_in/google_sign_in_android/pubspec.yaml
  packages/local_auth/local_auth_android/CHANGELOG.md
  packages/local_auth/local_auth_android/android/build.gradle
  packages/local_auth/local_auth_android/pubspec.yaml
  packages/url_launcher/url_launcher_android/CHANGELOG.md
  packages/url_launcher/url_launcher_android/android/build.gradle
  packages/url_launcher/url_launcher_android/pubspec.yaml
  script/tool/lib/src/gradle_check_command.dart
  script/tool/lib/src/main.dart
  script/tool/test/gradle_check_command_test.dart
Labels: autosubmit, p: espresso, p: flutter_plugin_android_lifecycle, p: google_sign_in, p: local_auth, platform-android, p: url_launcher

#3714 [go_router] Fixes a bug that go_router would crash if pageBuilder depends on InheritedWidgets.s.
  packages/go_router/CHANGELOG.md
  packages/go_router/lib/src/builder.dart
  packages/go_router/pubspec.yaml
  packages/go_router/test/go_router_test.dart
Labels: p: go_router, autosubmit

#3747 [palette_generator] run agp update for example
  packages/palette_generator/example/android/app/build.gradle
  packages/palette_generator/example/android/app/src/debug/AndroidManifest.xml
  packages/palette_generator/example/android/app/src/main/AndroidManifest.xml
  packages/palette_generator/example/android/app/src/profile/AndroidManifest.xml
  packages/palette_generator/example/android/build.gradle
  packages/palette_generator/example/android/gradle/wrapper/gradle-wrapper.properties
Labels: p: palette_generator, autosubmit, override: no changelog needed, platform-android

#3749 Manual roll Flutter from 50171bbae357 to 15cb1f84d726 (9 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#3756 Roll Flutter from 15cb1f84d726 to 42fb0b23139c (19 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#3313 [webview_flutter] Adds support to listen to url changes
  packages/webview_flutter/webview_flutter/CHANGELOG.md
  packages/webview_flutter/webview_flutter/example/integration_test/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter/example/lib/main.dart
  packages/webview_flutter/webview_flutter/example/pubspec.yaml
  packages/webview_flutter/webview_flutter/example/test/main_test.dart
  packages/webview_flutter/webview_flutter/lib/src/navigation_delegate.dart
  packages/webview_flutter/webview_flutter/lib/src/webview_controller.dart
  packages/webview_flutter/webview_flutter/lib/webview_flutter.dart
  packages/webview_flutter/webview_flutter/pubspec.yaml
  packages/webview_flutter/webview_flutter/test/navigation_delegate_test.dart
  packages/webview_flutter/webview_flutter/test/webview_flutter_test.dart
Labels: autosubmit, p: webview_flutter

#3760 Roll Flutter from 42fb0b23139c to 3476b966524f (20 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#3763 [go_router] migrates test for route information.location deprecation
  packages/go_router/test/go_router_test.dart
Labels: p: go_router, autosubmit, override: no versioning needed, override: no changelog needed

#3758 [Tool] [Code Excerpt] allow excerpts in example readme
  script/tool/CHANGELOG.md
  script/tool/lib/src/update_excerpts_command.dart
  script/tool/pubspec.yaml
  script/tool/test/update_excerpts_command_test.dart
Labels: autosubmit

#3697 [google_maps_flutter_web] Allow marker position updates
  packages/google_maps_flutter/google_maps_flutter_web/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_web/example/integration_test/marker_test.dart
  packages/google_maps_flutter/google_maps_flutter_web/example/integration_test/markers_test.dart
  packages/google_maps_flutter/google_maps_flutter_web/example/regen_mocks.sh
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/convert.dart
  packages/google_maps_flutter/google_maps_flutter_web/pubspec.yaml
Labels: autosubmit, p: google_maps_flutter, platform-web

#3759 [image_picker] Mention `launchMode: singleInstance` in README
  packages/image_picker/image_picker/CHANGELOG.md
  packages/image_picker/image_picker/README.md
  packages/image_picker/image_picker/pubspec.yaml
Labels: autosubmit, p: image_picker

#3650 [go_router_builder] Fixed the return value of the generated push method
  packages/go_router_builder/CHANGELOG.md
  packages/go_router_builder/README.md
  packages/go_router_builder/example/lib/all_types.g.dart
  packages/go_router_builder/example/lib/extra_example.g.dart
  packages/go_router_builder/example/lib/main.dart
  packages/go_router_builder/example/lib/main.g.dart
  packages/go_router_builder/example/lib/shell_route_example.g.dart
  packages/go_router_builder/example/lib/shell_route_with_keys_example.g.dart
  packages/go_router_builder/example/lib/simple_example.g.dart
  packages/go_router_builder/example/test/widget_test.dart
  packages/go_router_builder/lib/src/route_config.dart
  packages/go_router_builder/pubspec.yaml
  packages/go_router_builder/test/test_inputs/_go_router_builder_test_input.dart
Labels: p: go_router_builder, autosubmit

#3783 [image_picker_ios] In unit test write and read kCGImagePropertyExifUserComment property
  packages/image_picker/image_picker_ios/CHANGELOG.md
  packages/image_picker/image_picker_ios/example/ios/RunnerTests/PhotoAssetUtilTests.m
Labels: autosubmit, p: image_picker, platform-ios

#3767 [webview_flutter_platform_interface] Adds method to receive permission requests
  packages/webview_flutter/webview_flutter_platform_interface/CHANGELOG.md
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/platform_navigation_delegate.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/platform_webview_controller.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/platform_webview_cookie_manager.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/platform_webview_widget.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/types/platform_webview_permission_request.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/types/types.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/webview_platform.dart
  packages/webview_flutter/webview_flutter_platform_interface/pubspec.yaml
  packages/webview_flutter/webview_flutter_platform_interface/test/platform_webview_controller_test.dart
  packages/webview_flutter/webview_flutter_platform_interface/test/platform_webview_controller_test.mocks.dart
Labels: autosubmit, p: webview_flutter

#3716 [camera_android] Fix Android lint warnings
  packages/camera/camera_android/CHANGELOG.md
  packages/camera/camera_android/android/build.gradle
  packages/camera/camera_android/android/lint-baseline.xml
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/Camera.java
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/CameraPlugin.java
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/CameraProperties.java
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/CameraPropertiesImpl.java
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/CameraRegionUtils.java
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/CameraUtils.java
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/DartMessenger.java
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/ImageSaver.java
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/VideoRenderer.java
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/features/CameraFeature.java
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/features/CameraFeatureFactory.java
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/features/CameraFeatureFactoryImpl.java
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/features/CameraFeatures.java
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/features/Point.java
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/features/autofocus/AutoFocusFeature.java
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/features/autofocus/FocusMode.java
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/features/exposurelock/ExposureLockFeature.java
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/features/exposurelock/ExposureMode.java
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/features/exposureoffset/ExposureOffsetFeature.java
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/features/exposurepoint/ExposurePointFeature.java
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/features/flash/FlashFeature.java
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/features/flash/FlashMode.java
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/features/focuspoint/FocusPointFeature.java
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/features/fpsrange/FpsRangeFeature.java
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/features/noisereduction/NoiseReductionFeature.java
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/features/noisereduction/NoiseReductionMode.java
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/features/resolution/ResolutionFeature.java
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/features/sensororientation/DeviceOrientationManager.java
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/features/sensororientation/SensorOrientationFeature.java
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/features/zoomlevel/ZoomLevelFeature.java
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/media/MediaRecorderBuilder.java
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/types/CameraCaptureProperties.java
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/types/CaptureTimeoutsWrapper.java
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/types/ExposureMode.java
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/types/FlashMode.java
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/types/FocusMode.java
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/types/Timeout.java
  packages/camera/camera_android/pubspec.yaml
Labels: autosubmit, p: camera, platform-android

#3789 [pigeon] Update for compatibility with a future change to the analyzer.
  packages/pigeon/lib/pigeon_lib.dart
Labels: p: pigeon, needs tests, override: no versioning needed, override: no changelog needed

#3792 [webview_flutter_android] [webview_flutter_wkwebview] Platform implementations for supporting permission requests
  packages/webview_flutter/webview_flutter_android/CHANGELOG.md
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/GeneratedAndroidWebView.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/PermissionRequestFlutterApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/PermissionRequestHostApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebChromeClientFlutterApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebChromeClientHostApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebViewFlutterPlugin.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/PermissionRequestTest.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/WebChromeClientTest.java
  packages/webview_flutter/webview_flutter_android/example/android/app/src/main/AndroidManifest.xml
  packages/webview_flutter/webview_flutter_android/example/android/build.gradle
  packages/webview_flutter/webview_flutter_android/example/lib/main.dart
  packages/webview_flutter/webview_flutter_android/example/pubspec.yaml
  packages/webview_flutter/webview_flutter_android/lib/src/android_proxy.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview.g.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview_api_impls.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview_controller.dart
  packages/webview_flutter/webview_flutter_android/pigeons/android_webview.dart
  packages/webview_flutter/webview_flutter_android/pubspec.yaml
  packages/webview_flutter/webview_flutter_android/test/android_navigation_delegate_test.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_controller_test.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_controller_test.mocks.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_cookie_manager_test.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_test.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_test.mocks.dart
  packages/webview_flutter/webview_flutter_android/test/test_android_webview.g.dart
  packages/webview_flutter/webview_flutter_wkwebview/CHANGELOG.md
  packages/webview_flutter/webview_flutter_wkwebview/README.md
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/Runner/Info.plist
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/RunnerTests/FWFDataConvertersTests.m
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/RunnerTests/FWFUIDelegateHostApiTests.m
  packages/webview_flutter/webview_flutter_wkwebview/example/lib/main.dart
  packages/webview_flutter/webview_flutter_wkwebview/example/pubspec.yaml
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFDataConverters.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFDataConverters.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFGeneratedWebKitApis.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFGeneratedWebKitApis.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFHTTPCookieStoreHostApi.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFNavigationDelegateHostApi.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFObjectHostApi.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFScriptMessageHandlerHostApi.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFUIDelegateHostApi.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFUserContentControllerHostApi.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFWebViewConfigurationHostApi.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFWebViewHostApi.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFWebsiteDataStoreHostApi.m
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/common/web_kit.g.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/web_kit/web_kit.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/web_kit/web_kit_api_impls.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/webkit_proxy.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/webkit_webview_controller.dart
  packages/webview_flutter/webview_flutter_wkwebview/pigeons/web_kit.dart
  packages/webview_flutter/webview_flutter_wkwebview/pubspec.yaml
  packages/webview_flutter/webview_flutter_wkwebview/test/src/common/test_web_kit.g.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit/web_kit_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/webkit_navigation_delegate_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/webkit_webview_controller_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/webkit_webview_widget_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/webkit_webview_widget_test.mocks.dart
Labels: autosubmit, platform-android, platform-ios, p: webview_flutter

#3782 [pigeon] Warn when trying to use enums in collections
  packages/pigeon/CHANGELOG.md
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/lib/pigeon_lib.dart
  packages/pigeon/mock_handler_tester/test/message.dart
  packages/pigeon/mock_handler_tester/test/test.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/core_tests.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/flutter_unittests.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/multiple_arity.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/non_null_fields.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/null_fields.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/nullable_returns.gen.dart
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/lib/primitive.gen.dart
  packages/pigeon/pubspec.yaml
  packages/pigeon/test/pigeon_lib_test.dart
Labels: p: pigeon, autosubmit

#3780 [local_auth] Fix enum return on Android
  packages/local_auth/local_auth_android/CHANGELOG.md
  packages/local_auth/local_auth_android/android/src/main/java/io/flutter/plugins/localauth/LocalAuthPlugin.java
  packages/local_auth/local_auth_android/android/src/main/java/io/flutter/plugins/localauth/Messages.java
  packages/local_auth/local_auth_android/android/src/test/java/io/flutter/plugins/localauth/LocalAuthTest.java
  packages/local_auth/local_auth_android/lib/local_auth_android.dart
  packages/local_auth/local_auth_android/lib/src/messages.g.dart
  packages/local_auth/local_auth_android/pigeons/messages.dart
  packages/local_auth/local_auth_android/pubspec.yaml
  packages/local_auth/local_auth_android/test/local_auth_test.dart
  packages/local_auth/local_auth_android/test/local_auth_test.mocks.dart
Labels: autosubmit, p: local_auth, platform-android

#3762 [google_sign_in] Fix Android Java warnings
  packages/google_sign_in/google_sign_in_android/CHANGELOG.md
  packages/google_sign_in/google_sign_in_android/android/build.gradle
  packages/google_sign_in/google_sign_in_android/android/lint-baseline.xml
  packages/google_sign_in/google_sign_in_android/android/src/main/java/io/flutter/plugins/googlesignin/BackgroundTaskRunner.java
  packages/google_sign_in/google_sign_in_android/android/src/main/java/io/flutter/plugins/googlesignin/Executors.java
  packages/google_sign_in/google_sign_in_android/android/src/main/java/io/flutter/plugins/googlesignin/GoogleSignInPlugin.java
  packages/google_sign_in/google_sign_in_android/android/src/test/java/io/flutter/plugins/googlesignin/GoogleSignInTest.java
  packages/google_sign_in/google_sign_in_android/lib/google_sign_in_android.dart
  packages/google_sign_in/google_sign_in_android/pubspec.yaml
  packages/google_sign_in/google_sign_in_android/test/google_sign_in_android_test.dart
Labels: autosubmit, p: google_sign_in, platform-android

#3543 [webview_flutter] Adds support to receive permission requests
  packages/webview_flutter/webview_flutter/CHANGELOG.md
  packages/webview_flutter/webview_flutter/example/pubspec.yaml
  packages/webview_flutter/webview_flutter/lib/src/navigation_delegate.dart
  packages/webview_flutter/webview_flutter/lib/src/webview_controller.dart
  packages/webview_flutter/webview_flutter/lib/webview_flutter.dart
  packages/webview_flutter/webview_flutter/pubspec.yaml
  packages/webview_flutter/webview_flutter/test/webview_controller_test.dart
  packages/webview_flutter/webview_flutter/test/webview_controller_test.mocks.dart
  packages/webview_flutter/webview_flutter/test/webview_cookie_manager_test.mocks.dart
  packages/webview_flutter/webview_flutter/test/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter/test/webview_widget_test.mocks.dart
Labels: autosubmit, p: webview_flutter

#3702 [go_router] Adds name to TypedGoRoute
  packages/go_router/CHANGELOG.md
  packages/go_router/lib/src/route_data.dart
  packages/go_router/pubspec.yaml
Labels: p: go_router, autosubmit

#3809 [shared_preferences] Update gradle/agp in example apps
  packages/shared_preferences/shared_preferences/example/android/build.gradle
  packages/shared_preferences/shared_preferences/example/android/gradle/wrapper/gradle-wrapper.properties
  packages/shared_preferences/shared_preferences_android/example/android/build.gradle
  packages/shared_preferences/shared_preferences_android/example/android/gradle/wrapper/gradle-wrapper.properties
Labels: autosubmit, platform-android, p: shared_preferences

#3751 [google_maps_flutter_android] Fix Android lint warnings
  packages/google_maps_flutter/google_maps_flutter_android/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_android/android/build.gradle
  packages/google_maps_flutter/google_maps_flutter_android/android/lint-baseline.xml
  packages/google_maps_flutter/google_maps_flutter_android/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapController.java
  packages/google_maps_flutter/google_maps_flutter_android/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapFactory.java
  packages/google_maps_flutter/google_maps_flutter_android/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapsPlugin.java
  packages/google_maps_flutter/google_maps_flutter_android/android/src/main/java/io/flutter/plugins/googlemaps/TileProviderController.java
  packages/google_maps_flutter/google_maps_flutter_android/pubspec.yaml
Labels: needs tests, autosubmit, p: google_maps_flutter, platform-android

#3816 [tool] Move Android lint checks
  packages/pigeon/platform_tests/alternate_language_test_plugin/android/build.gradle
  packages/pigeon/platform_tests/alternate_language_test_plugin/example/android/build.gradle
  packages/pigeon/platform_tests/test_plugin/android/build.gradle
  packages/pigeon/platform_tests/test_plugin/example/android/build.gradle
  script/tool/lib/src/common/repository_package.dart
  script/tool/lib/src/gradle_check_command.dart
  script/tool/lib/src/lint_android_command.dart
  script/tool/test/gradle_check_command_test.dart
  script/tool/test/lint_android_command_test.dart
Labels: p: pigeon, autosubmit, platform-android

#3820 [path_provider] Allow `win32` up to version 4.x
  packages/path_provider/path_provider_windows/CHANGELOG.md
  packages/path_provider/path_provider_windows/pubspec.yaml
Labels: autosubmit, p: path_provider, platform-windows

#3828 [various] Set cmake_policy versions
  packages/camera/camera_windows/CHANGELOG.md
  packages/camera/camera_windows/pubspec.yaml
  packages/camera/camera_windows/windows/CMakeLists.txt
  packages/file_selector/file_selector_linux/CHANGELOG.md
  packages/file_selector/file_selector_linux/linux/CMakeLists.txt
  packages/file_selector/file_selector_linux/pubspec.yaml
  packages/file_selector/file_selector_windows/CHANGELOG.md
  packages/file_selector/file_selector_windows/pubspec.yaml
  packages/file_selector/file_selector_windows/windows/CMakeLists.txt
  packages/local_auth/local_auth_windows/CHANGELOG.md
  packages/local_auth/local_auth_windows/pubspec.yaml
  packages/local_auth/local_auth_windows/windows/CMakeLists.txt
  packages/pigeon/platform_tests/test_plugin/windows/CMakeLists.txt
  packages/url_launcher/url_launcher_linux/CHANGELOG.md
  packages/url_launcher/url_launcher_linux/linux/CMakeLists.txt
  packages/url_launcher/url_launcher_linux/pubspec.yaml
  packages/url_launcher/url_launcher_windows/CHANGELOG.md
  packages/url_launcher/url_launcher_windows/pubspec.yaml
  packages/url_launcher/url_launcher_windows/windows/CMakeLists.txt
Labels: p: pigeon, autosubmit, p: camera, p: file_selector, p: local_auth, platform-linux, platform-windows, p: url_launcher

#3825 [various] Add `targetCompatibility` to build.gradle
  packages/espresso/CHANGELOG.md
  packages/espresso/android/build.gradle
  packages/espresso/pubspec.yaml
  packages/flutter_plugin_android_lifecycle/CHANGELOG.md
  packages/flutter_plugin_android_lifecycle/android/build.gradle
  packages/flutter_plugin_android_lifecycle/pubspec.yaml
  packages/google_sign_in/google_sign_in_android/CHANGELOG.md
  packages/google_sign_in/google_sign_in_android/android/build.gradle
  packages/google_sign_in/google_sign_in_android/pubspec.yaml
  packages/local_auth/local_auth_android/CHANGELOG.md
  packages/local_auth/local_auth_android/android/build.gradle
  packages/local_auth/local_auth_android/pubspec.yaml
  packages/url_launcher/url_launcher_android/CHANGELOG.md
  packages/url_launcher/url_launcher_android/android/build.gradle
  packages/url_launcher/url_launcher_android/pubspec.yaml
  script/tool/lib/src/gradle_check_command.dart
  script/tool/test/gradle_check_command_test.dart
Labels: autosubmit, p: espresso, p: flutter_plugin_android_lifecycle, p: google_sign_in, p: local_auth, platform-android, p: url_launcher

#3793 Swap some iOS package CODEOWNERS
  CODEOWNERS
Labels: autosubmit

#3823 [auick_action_ios] Retries multiple times to not fail ci when there is a flake
  packages/quick_actions/quick_actions_ios/example/ios/RunnerUITests/RunnerUITests.swift
Labels: autosubmit, override: no versioning needed, override: no changelog needed, p: quick_actions, platform-ios

#3836 [various] Conditionalize the namespace in all Android plugins
  packages/camera/camera_android/CHANGELOG.md
  packages/camera/camera_android/android/build.gradle
  packages/camera/camera_android/pubspec.yaml
  packages/camera/camera_android_camerax/android/build.gradle
  packages/espresso/CHANGELOG.md
  packages/espresso/android/build.gradle
  packages/espresso/pubspec.yaml
  packages/flutter_plugin_android_lifecycle/CHANGELOG.md
  packages/flutter_plugin_android_lifecycle/android/build.gradle
  packages/flutter_plugin_android_lifecycle/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_android/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_android/android/build.gradle
  packages/google_maps_flutter/google_maps_flutter_android/pubspec.yaml
  packages/google_sign_in/google_sign_in_android/CHANGELOG.md
  packages/google_sign_in/google_sign_in_android/android/build.gradle
  packages/google_sign_in/google_sign_in_android/pubspec.yaml
  packages/image_picker/image_picker_android/CHANGELOG.md
  packages/image_picker/image_picker_android/android/build.gradle
  packages/image_picker/image_picker_android/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_android/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_android/android/build.gradle
  packages/in_app_purchase/in_app_purchase_android/pubspec.yaml
  packages/local_auth/local_auth_android/CHANGELOG.md
  packages/local_auth/local_auth_android/android/build.gradle
  packages/local_auth/local_auth_android/pubspec.yaml
  packages/path_provider/path_provider_android/CHANGELOG.md
  packages/path_provider/path_provider_android/android/build.gradle
  packages/path_provider/path_provider_android/pubspec.yaml
  packages/pigeon/platform_tests/alternate_language_test_plugin/android/build.gradle
  packages/pigeon/platform_tests/test_plugin/android/build.gradle
  packages/quick_actions/quick_actions_android/CHANGELOG.md
  packages/quick_actions/quick_actions_android/android/build.gradle
  packages/quick_actions/quick_actions_android/pubspec.yaml
  packages/shared_preferences/shared_preferences_android/CHANGELOG.md
  packages/shared_preferences/shared_preferences_android/android/build.gradle
  packages/shared_preferences/shared_preferences_android/pubspec.yaml
  packages/url_launcher/url_launcher_android/CHANGELOG.md
  packages/url_launcher/url_launcher_android/android/build.gradle
  packages/url_launcher/url_launcher_android/pubspec.yaml
  packages/video_player/video_player_android/CHANGELOG.md
  packages/video_player/video_player_android/android/build.gradle
  packages/video_player/video_player_android/pubspec.yaml
  packages/webview_flutter/webview_flutter_android/CHANGELOG.md
  packages/webview_flutter/webview_flutter_android/android/build.gradle
  packages/webview_flutter/webview_flutter_android/pubspec.yaml
  script/tool/lib/src/gradle_check_command.dart
  script/tool/test/gradle_check_command_test.dart
Labels: p: pigeon, autosubmit, p: camera, p: espresso, p: flutter_plugin_android_lifecycle, p: google_maps_flutter, p: google_sign_in, p: image_picker, p: in_app_purchase, p: local_auth, p: path_provider, p: quick_actions, platform-android, p: webview_flutter, p: video_player, p: url_launcher, p: shared_preferences

#3830 Roll Flutter from c9004ff822cf to 66fa4c5d301c (68 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#3708 [go_router] Remove unused navigator keys
  packages/go_router/CHANGELOG.md
  packages/go_router/lib/src/route_data.dart
  packages/go_router/pubspec.yaml
Labels: p: go_router, autosubmit

#3639 [camera_android] Add NV21 as an image stream format #3277
  packages/camera/camera_android/CHANGELOG.md
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/Camera.java
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/media/ImageStreamReader.java
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/media/ImageStreamReaderUtils.java
  packages/camera/camera_android/android/src/test/java/io/flutter/plugins/camera/media/ImageStreamReaderTest.java
  packages/camera/camera_android/android/src/test/java/io/flutter/plugins/camera/media/ImageStreamReaderUtilsTest.java
  packages/camera/camera_android/example/pubspec.yaml
  packages/camera/camera_android/lib/src/type_conversion.dart
  packages/camera/camera_android/pubspec.yaml
  packages/camera/camera_android/test/type_conversion_test.dart
Labels: autosubmit, p: camera, platform-android

#3454 [camerax] Implement Image Streaming
  packages/camera/camera_android_camerax/CHANGELOG.md
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/AnalyzerFlutterApiImpl.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/AnalyzerHostApiImpl.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/CameraAndroidCameraxPlugin.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/CameraXProxy.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/GeneratedCameraXLibrary.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/ImageAnalysisHostApiImpl.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/ImageCaptureHostApiImpl.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/ImageProxyFlutterApiImpl.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/ImageProxyHostApiImpl.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/PlaneProxyFlutterApiImpl.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/PreviewHostApiImpl.java
  packages/camera/camera_android_camerax/android/src/test/java/io/flutter/plugins/camerax/AnalyzerTest.java
  packages/camera/camera_android_camerax/android/src/test/java/io/flutter/plugins/camerax/ImageAnalysisTest.java
  packages/camera/camera_android_camerax/android/src/test/java/io/flutter/plugins/camerax/ImageProxyTest.java
  packages/camera/camera_android_camerax/android/src/test/java/io/flutter/plugins/camerax/PlaneProxyTest.java
  packages/camera/camera_android_camerax/lib/src/analyzer.dart
  packages/camera/camera_android_camerax/lib/src/android_camera_camerax.dart
  packages/camera/camera_android_camerax/lib/src/android_camera_camerax_flutter_api_impls.dart
  packages/camera/camera_android_camerax/lib/src/camera.dart
  packages/camera/camera_android_camerax/lib/src/camera_selector.dart
  packages/camera/camera_android_camerax/lib/src/camerax_library.g.dart
  packages/camera/camera_android_camerax/lib/src/image_analysis.dart
  packages/camera/camera_android_camerax/lib/src/image_capture.dart
  packages/camera/camera_android_camerax/lib/src/image_proxy.dart
  packages/camera/camera_android_camerax/lib/src/plane_proxy.dart
  packages/camera/camera_android_camerax/lib/src/preview.dart
  packages/camera/camera_android_camerax/lib/src/process_camera_provider.dart
  packages/camera/camera_android_camerax/pigeons/camerax_library.dart
  packages/camera/camera_android_camerax/pubspec.yaml
  packages/camera/camera_android_camerax/test/analyzer_test.dart
  packages/camera/camera_android_camerax/test/analyzer_test.mocks.dart
  packages/camera/camera_android_camerax/test/android_camera_camerax_test.dart
  packages/camera/camera_android_camerax/test/android_camera_camerax_test.mocks.dart
  packages/camera/camera_android_camerax/test/camera_test.dart
  packages/camera/camera_android_camerax/test/camera_test.mocks.dart
  packages/camera/camera_android_camerax/test/image_analysis_test.dart
  packages/camera/camera_android_camerax/test/image_analysis_test.mocks.dart
  packages/camera/camera_android_camerax/test/image_capture_test.dart
  packages/camera/camera_android_camerax/test/image_proxy_test.dart
  packages/camera/camera_android_camerax/test/image_proxy_test.mocks.dart
  packages/camera/camera_android_camerax/test/plane_proxy_test.dart
  packages/camera/camera_android_camerax/test/plane_proxy_test.mocks.dart
  packages/camera/camera_android_camerax/test/test_camerax_library.g.dart
Labels: autosubmit, p: camera, platform-android

#3847 [various] Update Android example min SDKs
  packages/animations/example/android/app/build.gradle
  packages/espresso/example/android/app/build.gradle
  packages/extension_google_sign_in_as_googleapis_auth/example/android/app/build.gradle
  packages/flutter_markdown/example/android/app/build.gradle
  packages/flutter_plugin_android_lifecycle/example/android/app/build.gradle
  packages/go_router/example/android/app/build.gradle
  packages/google_sign_in/google_sign_in/example/android/app/build.gradle
  packages/google_sign_in/google_sign_in_android/example/android/app/build.gradle
  packages/image_picker/image_picker/example/android/app/build.gradle
  packages/image_picker/image_picker_android/example/android/app/build.gradle
  packages/in_app_purchase/in_app_purchase/example/android/app/build.gradle
  packages/in_app_purchase/in_app_purchase_android/example/android/app/build.gradle
  packages/local_auth/local_auth/example/android/app/build.gradle
  packages/local_auth/local_auth_android/example/android/app/build.gradle
  packages/path_provider/path_provider/example/android/app/build.gradle
  packages/path_provider/path_provider_android/example/android/app/build.gradle
  packages/rfw/example/hello/android/app/build.gradle
  packages/rfw/example/local/android/app/build.gradle
  packages/rfw/example/remote/android/app/build.gradle
  packages/shared_preferences/shared_preferences/example/android/app/build.gradle
  packages/shared_preferences/shared_preferences_android/example/android/app/build.gradle
  packages/url_launcher/url_launcher/example/android/app/build.gradle
  packages/url_launcher/url_launcher_android/example/android/app/build.gradle
Labels: p: extension_google_sign_in_as_googleapis_auth, p: flutter_markdown, p: rfw, needs tests, p: go_router, p: animations, autosubmit, p: espresso, p: flutter_plugin_android_lifecycle, p: google_sign_in, p: image_picker, p: in_app_purchase, p: local_auth, p: path_provider, platform-android, p: url_launcher, p: shared_preferences

#3704 [file_selector] Add getDirectoryPaths implementation for Windows
  packages/file_selector/file_selector_windows/CHANGELOG.md
  packages/file_selector/file_selector_windows/example/lib/get_multiple_directories_page.dart
  packages/file_selector/file_selector_windows/example/lib/home_page.dart
  packages/file_selector/file_selector_windows/example/lib/main.dart
  packages/file_selector/file_selector_windows/example/pubspec.yaml
  packages/file_selector/file_selector_windows/lib/file_selector_windows.dart
  packages/file_selector/file_selector_windows/pubspec.yaml
  packages/file_selector/file_selector_windows/test/file_selector_windows_test.dart
  packages/file_selector/file_selector_windows/windows/test/file_selector_plugin_test.cpp
Labels: autosubmit, p: file_selector, platform-windows

#3837 [camerax] Add `LifecycleOwner` Proxy
  packages/camera/camera_android_camerax/CHANGELOG.md
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/CameraAndroidCameraxPlugin.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/ProxyLifecycleProvider.java
  packages/camera/camera_android_camerax/android/src/test/java/io/flutter/plugins/camerax/CameraAndroidCameraxPluginTest.java
  packages/camera/camera_android_camerax/android/src/test/java/io/flutter/plugins/camerax/ProxyLifecycleProviderTest.java
  packages/camera/camera_android_camerax/test/camera_test.dart
Labels: autosubmit, p: camera, platform-android

#3819 [go_router] Cleans up route match API and introduces dart fix
  packages/go_router/CHANGELOG.md
  packages/go_router/README.md
  packages/go_router/analysis_options.yaml
  packages/go_router/doc/configuration.md
  packages/go_router/doc/named-routes.md
  packages/go_router/example/lib/async_redirection.dart
  packages/go_router/example/lib/books/main.dart
  packages/go_router/example/lib/named_routes.dart
  packages/go_router/example/lib/others/nav_observer.dart
  packages/go_router/example/lib/others/push.dart
  packages/go_router/example/lib/path_and_query_parameters.dart
  packages/go_router/example/lib/redirection.dart
  packages/go_router/lib/fix_data.yaml
  packages/go_router/lib/src/builder.dart
  packages/go_router/lib/src/configuration.dart
  packages/go_router/lib/src/delegate.dart
  packages/go_router/lib/src/match.dart
  packages/go_router/lib/src/matching.dart
  packages/go_router/lib/src/misc/extensions.dart
  packages/go_router/lib/src/parser.dart
  packages/go_router/lib/src/redirection.dart
  packages/go_router/lib/src/route.dart
  packages/go_router/lib/src/router.dart
  packages/go_router/lib/src/state.dart
  packages/go_router/pubspec.yaml
  packages/go_router/test/builder_test.dart
  packages/go_router/test/delegate_test.dart
  packages/go_router/test/go_router_state_test.dart
  packages/go_router/test/go_router_test.dart
  packages/go_router/test/inherited_test.dart
  packages/go_router/test/match_test.dart
  packages/go_router/test/matching_test.dart
  packages/go_router/test/parser_test.dart
  packages/go_router/test/test_helpers.dart
  packages/go_router/test_fixes/README.md
  packages/go_router/test_fixes/analysis_options.yaml
  packages/go_router/test_fixes/go_router.dart
  packages/go_router/test_fixes/go_router.dart.expect
  packages/go_router/tool/run_tests.dart
  script/configs/custom_analysis.yaml
Labels: p: go_router, autosubmit
