Repository flutter/packages, pull requests merged in 2023-05, with the labels that each got.

#3846 I122213 update non examples
  packages/image_picker/image_picker_android/CHANGELOG.md
  packages/image_picker/image_picker_android/android/gradle/wrapper/gradle-wrapper.properties
  packages/image_picker/image_picker_android/pubspec.yaml
  packages/in_app_purchase/in_app_purchase/example/android/app/gradle/wrapper/gradle-wrapper.properties
  packages/pigeon/example/app/android/gradle/wrapper/gradle-wrapper.properties
Labels: p: pigeon, autosubmit, p: image_picker, p: in_app_purchase, platform-android

#3703 [file_selector] Add getDirectoryPaths implementation for macOS
  packages/file_selector/file_selector_macos/CHANGELOG.md
  packages/file_selector/file_selector_macos/example/lib/get_multiple_directories_page.dart
  packages/file_selector/file_selector_macos/example/lib/home_page.dart
  packages/file_selector/file_selector_macos/example/lib/main.dart
  packages/file_selector/file_selector_macos/example/macos/RunnerTests/RunnerTests.swift
  packages/file_selector/file_selector_macos/example/pubspec.yaml
  packages/file_selector/file_selector_macos/lib/file_selector_macos.dart
  packages/file_selector/file_selector_macos/pubspec.yaml
  packages/file_selector/file_selector_macos/test/file_selector_macos_test.dart
Labels: autosubmit, p: file_selector, platform-macos

#3859 [file_selector] Remove uses of `macUTIs`
  packages/file_selector/file_selector/CHANGELOG.md
  packages/file_selector/file_selector/README.md
  packages/file_selector/file_selector/pubspec.yaml
  packages/file_selector/file_selector_ios/CHANGELOG.md
  packages/file_selector/file_selector_ios/example/lib/open_image_page.dart
  packages/file_selector/file_selector_ios/example/lib/open_multiple_images_page.dart
  packages/file_selector/file_selector_ios/example/lib/open_text_page.dart
  packages/file_selector/file_selector_ios/lib/file_selector_ios.dart
  packages/file_selector/file_selector_ios/pubspec.yaml
  packages/file_selector/file_selector_ios/test/file_selector_ios_test.dart
  packages/file_selector/file_selector_linux/test/file_selector_linux_test.dart
  packages/file_selector/file_selector_macos/CHANGELOG.md
  packages/file_selector/file_selector_macos/lib/file_selector_macos.dart
  packages/file_selector/file_selector_macos/pubspec.yaml
  packages/file_selector/file_selector_macos/test/file_selector_macos_test.dart
  packages/file_selector/file_selector_web/pubspec.yaml
  packages/file_selector/file_selector_web/test/utils_test.dart
  packages/file_selector/file_selector_windows/test/file_selector_windows_test.dart
Labels: autosubmit, override: no versioning needed, override: no changelog needed, p: file_selector, platform-ios, platform-linux, platform-macos, platform-web, platform-windows

#3849 [various] Speed up build-examples
  packages/animations/example/android/.pluginToolsConfig.yaml
  packages/camera/camera/example/.pluginToolsConfig.yaml
  packages/camera/camera_android/example/.pluginToolsConfig.yaml
  packages/camera/camera_android_camerax/example/.pluginToolsConfig.yaml
  packages/dynamic_layouts/example/.pluginToolsConfig.yaml
  packages/espresso/example/.pluginToolsConfig.yaml
  packages/extension_google_sign_in_as_googleapis_auth/example/.pluginToolsConfig.yaml
  packages/flutter_adaptive_scaffold/example/.pluginToolsConfig.yaml
  packages/flutter_markdown/example/.pluginToolsConfig.yaml
  packages/flutter_plugin_android_lifecycle/example/.pluginToolsConfig.yaml
  packages/go_router/example/.pluginToolsConfig.yaml
  packages/google_maps_flutter/google_maps_flutter/example/.pluginToolsConfig.yaml
  packages/google_maps_flutter/google_maps_flutter_android/example/.pluginToolsConfig.yaml
  packages/google_sign_in/google_sign_in/example/.pluginToolsConfig.yaml
  packages/google_sign_in/google_sign_in_android/example/.pluginToolsConfig.yaml
  packages/image_picker/image_picker_android/example/.pluginToolsConfig.yaml
  packages/local_auth/local_auth/example/.pluginToolsConfig.yaml
  packages/local_auth/local_auth_android/example/.pluginToolsConfig.yaml
  packages/palette_generator/example/.pluginToolsConfig.yaml
  packages/path_provider/path_provider/example/.pluginToolsConfig.yaml
  packages/path_provider/path_provider_android/example/.pluginToolsConfig.yaml
  packages/pigeon/example/app/.pluginToolsConfig.yaml
  packages/quick_actions/quick_actions/example/.pluginToolsConfig.yaml
  packages/quick_actions/quick_actions_android/example/.pluginToolsConfig.yaml
  packages/shared_preferences/shared_preferences/example/.pluginToolsConfig.yaml
  packages/shared_preferences/shared_preferences_android/example/.pluginToolsConfig.yaml
  packages/url_launcher/url_launcher/example/.pluginToolsConfig.yaml
  packages/url_launcher/url_launcher_android/example/.pluginToolsConfig.yaml
  packages/video_player/video_player/example/.pluginToolsConfig.yaml
  packages/video_player/video_player_android/example/.pluginToolsConfig.yaml
  packages/webview_flutter/webview_flutter/example/.pluginToolsConfig.yaml
  packages/webview_flutter/webview_flutter_android/example/.pluginToolsConfig.yaml
  script/tool/lib/src/common/package_state_utils.dart
  script/tool/test/version_check_command_test.dart
Labels: autosubmit

#3873 [video_player, google_sign_in] Updates functions without a prototype to avoid deprecation warning
  packages/google_sign_in/google_sign_in_ios/CHANGELOG.md
  packages/google_sign_in/google_sign_in_ios/ios/Classes/FLTGoogleSignInPlugin.m
  packages/google_sign_in/google_sign_in_ios/pubspec.yaml
  packages/video_player/video_player_avfoundation/CHANGELOG.md
  packages/video_player/video_player_avfoundation/ios/Classes/FLTVideoPlayerPlugin.m
  packages/video_player/video_player_avfoundation/pubspec.yaml
Labels: needs tests, autosubmit, p: google_sign_in, platform-ios, p: video_player

#3874 Manual roll Flutter from 66fa4c5d301c to 828a04040e11 (79 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#3798 [camerax] Retrieve exposure and zoom camera information
  packages/camera/camera_android_camerax/CHANGELOG.md
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/CameraAndroidCameraxPlugin.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/CameraHostApiImpl.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/CameraInfoFlutterApiImpl.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/CameraInfoHostApiImpl.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/ExposureStateFlutterApiImpl.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/GeneratedCameraXLibrary.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/ZoomStateFlutterApiImpl.java
  packages/camera/camera_android_camerax/android/src/test/java/io/flutter/plugins/camerax/CameraInfoTest.java
  packages/camera/camera_android_camerax/android/src/test/java/io/flutter/plugins/camerax/CameraTest.java
  packages/camera/camera_android_camerax/android/src/test/java/io/flutter/plugins/camerax/ExposureStateTest.java
  packages/camera/camera_android_camerax/android/src/test/java/io/flutter/plugins/camerax/ZoomStateTest.java
  packages/camera/camera_android_camerax/lib/src/android_camera_camerax.dart
  packages/camera/camera_android_camerax/lib/src/android_camera_camerax_flutter_api_impls.dart
  packages/camera/camera_android_camerax/lib/src/camera.dart
  packages/camera/camera_android_camerax/lib/src/camera_info.dart
  packages/camera/camera_android_camerax/lib/src/camerax_library.g.dart
  packages/camera/camera_android_camerax/lib/src/exposure_state.dart
  packages/camera/camera_android_camerax/lib/src/zoom_state.dart
  packages/camera/camera_android_camerax/pigeons/camerax_library.dart
  packages/camera/camera_android_camerax/test/android_camera_camerax_test.dart
  packages/camera/camera_android_camerax/test/android_camera_camerax_test.mocks.dart
  packages/camera/camera_android_camerax/test/camera_info_test.dart
  packages/camera/camera_android_camerax/test/camera_info_test.mocks.dart
  packages/camera/camera_android_camerax/test/camera_test.dart
  packages/camera/camera_android_camerax/test/camera_test.mocks.dart
  packages/camera/camera_android_camerax/test/exposure_state_test.dart
  packages/camera/camera_android_camerax/test/test_camerax_library.g.dart
  packages/camera/camera_android_camerax/test/zoom_state_test.dart
Labels: autosubmit, p: camera, platform-android

#3862 [file_selector] Add MIME type support on macOS
  packages/file_selector/file_selector_macos/CHANGELOG.md
  packages/file_selector/file_selector_macos/example/macos/RunnerTests/RunnerTests.swift
  packages/file_selector/file_selector_macos/macos/Classes/FileSelectorPlugin.swift
  packages/file_selector/file_selector_macos/macos/Classes/messages.g.swift
  packages/file_selector/file_selector_macos/pubspec.yaml
Labels: autosubmit, p: file_selector, platform-macos

#3858 [go_router_builder] Support go_router v7
  packages/go_router_builder/CHANGELOG.md
  packages/go_router_builder/README.md
  packages/go_router_builder/example/lib/all_types.g.dart
  packages/go_router_builder/example/lib/main.dart
  packages/go_router_builder/example/lib/main.g.dart
  packages/go_router_builder/example/lib/shell_route_with_keys_example.g.dart
  packages/go_router_builder/example/lib/simple_example.g.dart
  packages/go_router_builder/example/pubspec.yaml
  packages/go_router_builder/lib/src/type_helpers.dart
  packages/go_router_builder/pubspec.yaml
  packages/go_router_builder/test/test_inputs/_go_router_builder_test_input.dart
Labels: p: go_router_builder, autosubmit

#3848 [webview_flutter_wkwebview] Fixes an exception caused by the `onUrlChange` callback returning a null url
  packages/webview_flutter/webview_flutter_wkwebview/CHANGELOG.md
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/webkit_webview_controller.dart
  packages/webview_flutter/webview_flutter_wkwebview/pubspec.yaml
  packages/webview_flutter/webview_flutter_wkwebview/test/webkit_webview_controller_test.dart
Labels: autosubmit, platform-ios, p: webview_flutter

#3834 [webview_flutter_android] Adds support to accept third party cookies
  packages/webview_flutter/webview_flutter_android/CHANGELOG.md
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/CookieManagerHostApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/GeneratedAndroidWebView.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebViewFlutterPlugin.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/CookieManagerHostApiImplTest.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/CookieManagerTest.java
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview.g.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview_api_impls.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview_cookie_manager.dart
  packages/webview_flutter/webview_flutter_android/lib/src/legacy/webview_android_cookie_manager.dart
  packages/webview_flutter/webview_flutter_android/pigeons/android_webview.dart
  packages/webview_flutter/webview_flutter_android/pubspec.yaml
  packages/webview_flutter/webview_flutter_android/test/android_webview_cookie_manager_test.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_cookie_manager_test.mocks.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_test.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_test.mocks.dart
  packages/webview_flutter/webview_flutter_android/test/legacy/webview_android_cookie_manager_test.dart
  packages/webview_flutter/webview_flutter_android/test/legacy/webview_android_cookie_manager_test.mocks.dart
  packages/webview_flutter/webview_flutter_android/test/test_android_webview.g.dart
Labels: autosubmit, platform-android, p: webview_flutter

#3658 [pigeon]fix "as Any" workaround due to nested optional
  packages/pigeon/CHANGELOG.md
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/lib/swift_generator.dart
  packages/pigeon/platform_tests/test_plugin/example/ios/RunnerTests/EchoBinaryMessenger.swift
  packages/pigeon/platform_tests/test_plugin/example/ios/RunnerTests/PrimitiveTests.swift
  packages/pigeon/platform_tests/test_plugin/ios/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/macos/Classes/CoreTests.gen.swift
  packages/pigeon/pubspec.yaml
  packages/pigeon/test/swift_generator_test.dart
Labels: p: pigeon, autosubmit, platform-ios, platform-macos

#3868 Update xcode to 14e222b
  .ci.yaml
  .ci/scripts/create_simulator.sh
  script/tool/lib/src/podspec_check_command.dart
  script/tool/test/podspec_check_command_test.dart
Labels: needs tests, autosubmit

#3888 [file_selector] Deprecates `macUTIs`
  packages/file_selector/file_selector_platform_interface/CHANGELOG.md
  packages/file_selector/file_selector_platform_interface/lib/src/types/x_type_group/x_type_group.dart
  packages/file_selector/file_selector_platform_interface/pubspec.yaml
  packages/file_selector/file_selector_platform_interface/test/method_channel_file_selector_test.dart
  packages/file_selector/file_selector_platform_interface/test/x_type_group_test.dart
Labels: autosubmit, p: file_selector

#3898 Revert "[pigeon]enable treat warning as errors for swift code in unit test"
  packages/pigeon/platform_tests/test_plugin/example/ios/Runner.xcodeproj/project.pbxproj
Labels: p: pigeon, warning: land on red to fix tree breakage, autosubmit, platform-ios

#3277 [camera_platform_interface] [camera] [camera_android] Add NV21 as an image stream format
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/lib/src/camera_image.dart
  packages/camera/camera/pubspec.yaml
  packages/camera/camera/test/camera_image_test.dart
Labels: autosubmit, p: camera

#3885 [quick_actions] Fix Android lint issues
  packages/quick_actions/quick_actions_android/CHANGELOG.md
  packages/quick_actions/quick_actions_android/android/build.gradle
  packages/quick_actions/quick_actions_android/android/lint-baseline.xml
  packages/quick_actions/quick_actions_android/android/src/main/java/io/flutter/plugins/quickactions/MethodCallHandlerImpl.java
  packages/quick_actions/quick_actions_android/android/src/main/java/io/flutter/plugins/quickactions/QuickActionsPlugin.java
  packages/quick_actions/quick_actions_android/pubspec.yaml
Labels: autosubmit, p: quick_actions, platform-android

#3886 [video_player] Fix Android lints
  packages/video_player/video_player_android/CHANGELOG.md
  packages/video_player/video_player_android/android/build.gradle
  packages/video_player/video_player_android/android/lint-baseline.xml
  packages/video_player/video_player_android/android/src/main/java/io/flutter/plugins/videoplayer/CustomSSLSocketFactory.java
  packages/video_player/video_player_android/android/src/main/java/io/flutter/plugins/videoplayer/Messages.java
  packages/video_player/video_player_android/android/src/main/java/io/flutter/plugins/videoplayer/QueuingEventSink.java
  packages/video_player/video_player_android/android/src/main/java/io/flutter/plugins/videoplayer/VideoPlayer.java
  packages/video_player/video_player_android/android/src/main/java/io/flutter/plugins/videoplayer/VideoPlayerPlugin.java
  packages/video_player/video_player_android/lib/src/messages.g.dart
  packages/video_player/video_player_android/pubspec.yaml
  packages/video_player/video_player_android/test/test_api.g.dart
Labels: autosubmit, platform-android, p: video_player

#3901 [pigeon][reland]enable treat warnings as errors for swift code in unit test
  packages/pigeon/platform_tests/test_plugin/example/ios/Runner.xcodeproj/project.pbxproj
  packages/pigeon/platform_tests/test_plugin/example/ios/RunnerTests/NullableReturnsTests.swift
Labels: p: pigeon, autosubmit, platform-ios

#3835 [go_router_builder] fixed typo in README
  packages/go_router_builder/README.md
Labels: p: go_router_builder, autosubmit, override: no versioning needed, override: no changelog needed

#3871 [file_selector] Add `getDirectoryPaths`
  packages/file_selector/file_selector/CHANGELOG.md
  packages/file_selector/file_selector/example/lib/get_multiple_directories_page.dart
  packages/file_selector/file_selector/example/lib/home_page.dart
  packages/file_selector/file_selector/example/lib/main.dart
  packages/file_selector/file_selector/lib/file_selector.dart
  packages/file_selector/file_selector/pubspec.yaml
  packages/file_selector/file_selector/test/file_selector_test.dart
Labels: autosubmit, p: file_selector

#3903 manual roll and fix
  .ci/flutter_master.version
  packages/camera/camera_android/example/pubspec.yaml
  packages/flutter_plugin_android_lifecycle/android/src/test/java/io/flutter/embedding/engine/plugins/lifecycle/FlutterLifecycleAdapterTest.java
  packages/in_app_purchase/in_app_purchase_android/test/billing_client_wrappers/billing_client_manager_test.dart
Labels: p: camera, p: flutter_plugin_android_lifecycle, p: in_app_purchase, platform-android

#3910 tree fix
  packages/flutter_plugin_android_lifecycle/CHANGELOG.md
  packages/flutter_plugin_android_lifecycle/pubspec.yaml
Labels: p: flutter_plugin_android_lifecycle

#3922 Manual roll Flutter from 0b657236cae4 to 43ac23b4c7b4 (30 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#3947 Adding setup for TestInstanceManagerHostApi in zoom and exposure tests
  packages/camera/camera_android_camerax/test/exposure_state_test.dart
  packages/camera/camera_android_camerax/test/exposure_state_test.mocks.dart
  packages/camera/camera_android_camerax/test/zoom_state_test.dart
  packages/camera/camera_android_camerax/test/zoom_state_test.mocks.dart
Labels: autosubmit, p: camera

#3944 [path_provider] Update minimum iOS version to 11
  packages/path_provider/path_provider/CHANGELOG.md
  packages/path_provider/path_provider/README.md
  packages/path_provider/path_provider/example/ios/Flutter/AppFrameworkInfo.plist
  packages/path_provider/path_provider/example/ios/Podfile
  packages/path_provider/path_provider/example/ios/Runner.xcodeproj/project.pbxproj
  packages/path_provider/path_provider/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/path_provider/path_provider/example/ios/Runner/Info.plist
  packages/path_provider/path_provider/pubspec.yaml
  packages/path_provider/path_provider_foundation/CHANGELOG.md
  packages/path_provider/path_provider_foundation/darwin/path_provider_foundation.podspec
  packages/path_provider/path_provider_foundation/pubspec.yaml
Labels: needs tests, autosubmit, p: path_provider, platform-ios

#3945 [shared_preferences] Update minimum iOS version to 11
  packages/shared_preferences/shared_preferences/CHANGELOG.md
  packages/shared_preferences/shared_preferences/README.md
  packages/shared_preferences/shared_preferences/example/ios/Flutter/AppFrameworkInfo.plist
  packages/shared_preferences/shared_preferences/example/ios/Podfile
  packages/shared_preferences/shared_preferences/example/ios/Runner.xcodeproj/project.pbxproj
  packages/shared_preferences/shared_preferences/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/shared_preferences/shared_preferences/example/ios/Runner/Info.plist
  packages/shared_preferences/shared_preferences/pubspec.yaml
  packages/shared_preferences/shared_preferences_foundation/CHANGELOG.md
  packages/shared_preferences/shared_preferences_foundation/darwin/shared_preferences_foundation.podspec
  packages/shared_preferences/shared_preferences_foundation/pubspec.yaml
Labels: needs tests, autosubmit, platform-ios, p: shared_preferences

#3946 [quick_actions] Update minimum iOS version to 11
  packages/quick_actions/quick_actions/CHANGELOG.md
  packages/quick_actions/quick_actions/example/ios/Flutter/AppFrameworkInfo.plist
  packages/quick_actions/quick_actions/example/ios/Podfile
  packages/quick_actions/quick_actions/example/ios/Runner.xcodeproj/project.pbxproj
  packages/quick_actions/quick_actions/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/quick_actions/quick_actions/example/ios/Runner/Info.plist
  packages/quick_actions/quick_actions/pubspec.yaml
  packages/quick_actions/quick_actions_ios/CHANGELOG.md
  packages/quick_actions/quick_actions_ios/example/ios/Flutter/AppFrameworkInfo.plist
  packages/quick_actions/quick_actions_ios/example/ios/Podfile
  packages/quick_actions/quick_actions_ios/example/ios/Runner.xcodeproj/project.pbxproj
  packages/quick_actions/quick_actions_ios/ios/quick_actions_ios.podspec
  packages/quick_actions/quick_actions_ios/pubspec.yaml
Labels: needs tests, autosubmit, p: quick_actions, platform-ios

#3891 [camerax] Update README with plugin overview
  packages/camera/camera_android_camerax/CHANGELOG.md
  packages/camera/camera_android_camerax/CONTRIBUTING.md
  packages/camera/camera_android_camerax/README.md
Labels: autosubmit, p: camera

#3467 [camerax] Implement video capture for CameraX android camera re-write
  packages/camera/camera_android_camerax/CHANGELOG.md
  packages/camera/camera_android_camerax/android/build.gradle
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/CameraAndroidCameraxPlugin.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/CameraXProxy.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/GeneratedCameraXLibrary.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/PendingRecordingFlutterApiImpl.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/PendingRecordingHostApiImpl.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/PreviewHostApiImpl.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/RecorderFlutterApiImpl.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/RecorderHostApiImpl.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/RecordingFlutterApiImpl.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/RecordingHostApiImpl.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/SystemServicesHostApiImpl.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/VideoCaptureFlutterApiImpl.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/VideoCaptureHostApiImpl.java
  packages/camera/camera_android_camerax/android/src/test/java/io/flutter/plugins/camerax/PendingRecordingTest.java
  packages/camera/camera_android_camerax/android/src/test/java/io/flutter/plugins/camerax/PreviewTest.java
  packages/camera/camera_android_camerax/android/src/test/java/io/flutter/plugins/camerax/RecorderTest.java
  packages/camera/camera_android_camerax/android/src/test/java/io/flutter/plugins/camerax/RecordingTest.java
  packages/camera/camera_android_camerax/android/src/test/java/io/flutter/plugins/camerax/SystemServicesTest.java
  packages/camera/camera_android_camerax/android/src/test/java/io/flutter/plugins/camerax/VideoCaptureTest.java
  packages/camera/camera_android_camerax/example/lib/main.dart
  packages/camera/camera_android_camerax/lib/src/android_camera_camerax.dart
  packages/camera/camera_android_camerax/lib/src/android_camera_camerax_flutter_api_impls.dart
  packages/camera/camera_android_camerax/lib/src/camerax_library.g.dart
  packages/camera/camera_android_camerax/lib/src/pending_recording.dart
  packages/camera/camera_android_camerax/lib/src/recorder.dart
  packages/camera/camera_android_camerax/lib/src/recording.dart
  packages/camera/camera_android_camerax/lib/src/system_services.dart
  packages/camera/camera_android_camerax/lib/src/video_capture.dart
  packages/camera/camera_android_camerax/pigeons/camerax_library.dart
  packages/camera/camera_android_camerax/test/android_camera_camerax_test.dart
  packages/camera/camera_android_camerax/test/android_camera_camerax_test.mocks.dart
  packages/camera/camera_android_camerax/test/pending_recording_test.dart
  packages/camera/camera_android_camerax/test/pending_recording_test.mocks.dart
  packages/camera/camera_android_camerax/test/preview_test.dart
  packages/camera/camera_android_camerax/test/recorder_test.dart
  packages/camera/camera_android_camerax/test/recorder_test.mocks.dart
  packages/camera/camera_android_camerax/test/recording_test.dart
  packages/camera/camera_android_camerax/test/recording_test.mocks.dart
  packages/camera/camera_android_camerax/test/system_services_test.dart
  packages/camera/camera_android_camerax/test/system_services_test.mocks.dart
  packages/camera/camera_android_camerax/test/test_camerax_library.g.dart
  packages/camera/camera_android_camerax/test/video_capture_test.dart
  packages/camera/camera_android_camerax/test/video_capture_test.mocks.dart
Labels: autosubmit, p: camera, platform-android

#3949 Roll Flutter from 4ed1c9230310 to 8c5a1ea7281a (13 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#3896 [camerax] Publish plugin
  packages/camera/camera_android_camerax/CHANGELOG.md
  packages/camera/camera_android_camerax/pubspec.yaml
  script/configs/exclude_all_packages_app.yaml
Labels: needs tests, autosubmit, p: camera

#3953 [pigeon] Ignore deprecated `name`
  packages/pigeon/lib/pigeon_lib.dart
Labels: p: pigeon, warning: land on red to fix tree breakage, autosubmit, override: no versioning needed, override: no changelog needed

#3665 [go_router_builder] Adds name parameter to TypedGoRoute and supports its generation.
  packages/go_router_builder/CHANGELOG.md
  packages/go_router_builder/example/lib/simple_example.dart
  packages/go_router_builder/example/lib/simple_example.g.dart
  packages/go_router_builder/lib/src/route_config.dart
  packages/go_router_builder/pubspec.yaml
  packages/go_router_builder/test/builder_test.dart
  packages/go_router_builder/test/test_inputs/_go_router_builder_test_input.dart
Labels: p: go_router_builder, autosubmit

#3957 [camerax] Add Kotlin duplicate classes known error to README.md
  packages/camera/camera_android_camerax/CHANGELOG.md
  packages/camera/camera_android_camerax/README.md
  packages/camera/camera_android_camerax/pubspec.yaml
Labels: autosubmit, p: camera

#3423 [image_picker_android] Improved Bitmap resize on Android
  packages/image_picker/image_picker_android/AUTHORS
  packages/image_picker/image_picker_android/CHANGELOG.md
  packages/image_picker/image_picker_android/android/src/main/java/io/flutter/plugins/imagepicker/ImageResizer.java
  packages/image_picker/image_picker_android/android/src/test/java/io/flutter/plugins/imagepicker/ImageResizerTest.java
  packages/image_picker/image_picker_android/pubspec.yaml
Labels: autosubmit, p: image_picker, platform-android

#3969 [image_picker] Fix use_build_context_synchronously violations
  packages/image_picker/image_picker/CHANGELOG.md
  packages/image_picker/image_picker/example/lib/main.dart
  packages/image_picker/image_picker/pubspec.yaml
  packages/image_picker/image_picker_android/CHANGELOG.md
  packages/image_picker/image_picker_android/example/lib/main.dart
  packages/image_picker/image_picker_android/pubspec.yaml
  packages/image_picker/image_picker_ios/CHANGELOG.md
  packages/image_picker/image_picker_ios/example/lib/main.dart
  packages/image_picker/image_picker_ios/pubspec.yaml
Labels: needs tests, autosubmit, p: image_picker, platform-android, platform-ios

#3784 [video_player] foundation - reduce seek accuracy to fix seek to end bug
  packages/video_player/video_player_avfoundation/CHANGELOG.md
  packages/video_player/video_player_avfoundation/example/integration_test/video_player_test.dart
  packages/video_player/video_player_avfoundation/example/ios/RunnerTests/VideoPlayerTests.m
  packages/video_player/video_player_avfoundation/ios/Classes/FLTVideoPlayerPlugin.m
  packages/video_player/video_player_avfoundation/ios/Classes/FLTVideoPlayerPlugin_Test.h
  packages/video_player/video_player_avfoundation/pubspec.yaml
Labels: autosubmit, platform-ios, p: video_player

#3965 [ci] Pin the Flutter version for `release`
  .github/workflows/release.yml
Labels: autosubmit

#3963 [ci] Ensure scripts fail if a command fails
  .ci/scripts/build_all_packages_app.sh
  .ci/scripts/build_examples_win32.sh
  .ci/scripts/create_all_packages_app.sh
  .ci/scripts/create_simulator.sh
  .ci/scripts/custom_package_tests.sh
  .ci/scripts/dart_unit_tests_win32.sh
  .ci/scripts/drive_examples_win32.sh
  .ci/scripts/native_test_win32.sh
  .ci/scripts/plugin_tools_tests.sh
  .ci/scripts/prepare_tool.sh
  .ci/scripts/remove_simulator.sh
Labels: autosubmit

#3959 [local_auth] Improve iOS test DI
  packages/local_auth/local_auth_ios/CHANGELOG.md
  packages/local_auth/local_auth_ios/example/ios/RunnerTests/FLTLocalAuthPluginTests.m
  packages/local_auth/local_auth_ios/ios/Classes/FLTLocalAuthPlugin.m
  packages/local_auth/local_auth_ios/ios/Classes/FLTLocalAuthPlugin_Test.h
  packages/local_auth/local_auth_ios/pubspec.yaml
Labels: autosubmit, p: local_auth, platform-ios

#3960 [camerax] Add a dependency on kotlin-bom to align versions of kotlin-stdlib
  packages/camera/camera_android_camerax/CHANGELOG.md
  packages/camera/camera_android_camerax/README.md
  packages/camera/camera_android_camerax/android/build.gradle
  packages/camera/camera_android_camerax/example/android/build.gradle
  packages/camera/camera_android_camerax/pubspec.yaml
Labels: autosubmit, p: camera, platform-android

#3955 [tool] Target specific Android unit tests
  script/tool/lib/src/common/gradle.dart
  script/tool/lib/src/native_test_command.dart
  script/tool/test/native_test_command_test.dart
Labels: autosubmit

#3887 [image_picker] Fix Android lints
  packages/image_picker/image_picker_android/CHANGELOG.md
  packages/image_picker/image_picker_android/android/build.gradle
  packages/image_picker/image_picker_android/android/lint-baseline.xml
  packages/image_picker/image_picker_android/android/src/main/java/io/flutter/plugins/imagepicker/ImagePickerDelegate.java
  packages/image_picker/image_picker_android/android/src/main/java/io/flutter/plugins/imagepicker/ImagePickerPlugin.java
  packages/image_picker/image_picker_android/android/src/main/java/io/flutter/plugins/imagepicker/Messages.java
  packages/image_picker/image_picker_android/lib/src/messages.g.dart
  packages/image_picker/image_picker_android/pubspec.yaml
  packages/image_picker/image_picker_android/test/test_api.g.dart
Labels: autosubmit, p: image_picker, platform-android

#3958 Roll Flutter from 8c5a1ea7281a to a76dbe44b99e (12 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#3972 Update build.gradle with a comment explaining version
  packages/camera/camera_android_camerax/example/android/build.gradle
Labels: needs tests, p: camera, platform-android

#3973 [url_launcher] Set broadcast reciever visability as required by target api 34
  packages/url_launcher/url_launcher_android/CHANGELOG.md
  packages/url_launcher/url_launcher_android/android/build.gradle
  packages/url_launcher/url_launcher_android/android/src/main/java/io/flutter/plugins/urllauncher/WebViewActivity.java
  packages/url_launcher/url_launcher_android/pubspec.yaml
Labels: needs tests, autosubmit, platform-android, p: url_launcher

#3964 [ci] Add LUCI repo tool tests
  .ci.yaml
  .ci/targets/plugin_tools_tests.yaml
  .ci/targets/repo_tools_tests.yaml
  script/tool/test/publish_check_command_test.dart
Labels: autosubmit

#3979 [ci] Enforce a minimum Kotlin version in examples
  packages/animations/example/android/build.gradle
  packages/dynamic_layouts/example/android/build.gradle
  packages/flutter_markdown/example/android/build.gradle
  packages/go_router/example/android/build.gradle
  packages/rfw/example/hello/android/build.gradle
  packages/rfw/example/local/android/build.gradle
  packages/rfw/example/remote/android/build.gradle
  packages/shared_preferences/shared_preferences/example/android/build.gradle
  packages/shared_preferences/shared_preferences_android/example/android/build.gradle
  script/tool/lib/src/gradle_check_command.dart
  script/tool/test/gradle_check_command_test.dart
Labels: p: flutter_markdown, p: rfw, p: go_router, p: animations, p: dynamic_layouts, platform-android, p: shared_preferences

#3975 [ci] Remove unnecessary Linux libraries
  .ci/Dockerfile
  packages/path_provider/path_provider/example/linux/flutter/CMakeLists.txt
  packages/path_provider/path_provider_linux/example/linux/flutter/CMakeLists.txt
  packages/shared_preferences/shared_preferences/example/linux/flutter/CMakeLists.txt
Labels: autosubmit, override: no changelog needed, p: path_provider, platform-linux, p: shared_preferences

#3987 [various] Update min macOS versions
  packages/dynamic_layouts/example/macos/Runner.xcodeproj/project.pbxproj
  packages/file_selector/file_selector/CHANGELOG.md
  packages/file_selector/file_selector/README.md
  packages/file_selector/file_selector/example/macos/Podfile
  packages/file_selector/file_selector/example/macos/Runner.xcodeproj/project.pbxproj
  packages/file_selector/file_selector_macos/CHANGELOG.md
  packages/file_selector/file_selector_macos/example/macos/Podfile
  packages/file_selector/file_selector_macos/example/macos/Runner.xcodeproj/project.pbxproj
  packages/file_selector/file_selector_macos/macos/file_selector_macos.podspec
  packages/flutter_adaptive_scaffold/example/macos/Runner.xcodeproj/project.pbxproj
  packages/flutter_markdown/example/macos/Runner.xcodeproj/project.pbxproj
  packages/flutter_markdown/example/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/go_router/example/macos/Podfile
  packages/go_router/example/macos/Runner.xcodeproj/project.pbxproj
  packages/go_router/example/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/in_app_purchase/in_app_purchase/example/macos/Runner.xcodeproj/project.pbxproj
  packages/in_app_purchase/in_app_purchase_storekit/example/macos/Runner.xcodeproj/project.pbxproj
  packages/palette_generator/example/macos/Runner.xcodeproj/project.pbxproj
  packages/palette_generator/example/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/path_provider/path_provider/CHANGELOG.md
  packages/path_provider/path_provider/README.md
  packages/path_provider/path_provider/example/macos/Podfile
  packages/path_provider/path_provider/example/macos/Runner.xcodeproj/project.pbxproj
  packages/path_provider/path_provider/example/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/path_provider/path_provider_foundation/CHANGELOG.md
  packages/path_provider/path_provider_foundation/darwin/path_provider_foundation.podspec
  packages/path_provider/path_provider_foundation/example/macos/Podfile
  packages/path_provider/path_provider_foundation/example/macos/Runner.xcodeproj/project.pbxproj
  packages/path_provider/path_provider_foundation/example/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/rfw/example/hello/macos/Runner.xcodeproj/project.pbxproj
  packages/rfw/example/local/macos/Runner.xcodeproj/project.pbxproj
  packages/rfw/example/remote/macos/Podfile
  packages/rfw/example/remote/macos/Runner.xcodeproj/project.pbxproj
  packages/rfw/example/remote/macos/Runner.xcworkspace/contents.xcworkspacedata
  packages/rfw/example/wasm/macos/Podfile
  packages/rfw/example/wasm/macos/Runner.xcodeproj/project.pbxproj
  packages/rfw/example/wasm/macos/Runner.xcworkspace/contents.xcworkspacedata
  packages/shared_preferences/shared_preferences/CHANGELOG.md
  packages/shared_preferences/shared_preferences/README.md
  packages/shared_preferences/shared_preferences/example/macos/Podfile
  packages/shared_preferences/shared_preferences/example/macos/Runner.xcodeproj/project.pbxproj
  packages/shared_preferences/shared_preferences/example/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/shared_preferences/shared_preferences/example/macos/Runner.xcworkspace/contents.xcworkspacedata
  packages/shared_preferences/shared_preferences_foundation/CHANGELOG.md
  packages/shared_preferences/shared_preferences_foundation/darwin/shared_preferences_foundation.podspec
  packages/shared_preferences/shared_preferences_foundation/example/macos/Podfile
  packages/shared_preferences/shared_preferences_foundation/example/macos/Runner.xcodeproj/project.pbxproj
  packages/url_launcher/url_launcher/CHANGELOG.md
  packages/url_launcher/url_launcher/README.md
  packages/url_launcher/url_launcher/example/macos/Podfile
  packages/url_launcher/url_launcher/example/macos/Runner.xcodeproj/project.pbxproj
  packages/url_launcher/url_launcher/example/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/url_launcher/url_launcher/example/macos/Runner.xcworkspace/contents.xcworkspacedata
  packages/url_launcher/url_launcher_macos/CHANGELOG.md
  packages/url_launcher/url_launcher_macos/example/macos/Podfile
  packages/url_launcher/url_launcher_macos/example/macos/Runner.xcodeproj/project.pbxproj
  packages/url_launcher/url_launcher_macos/example/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/url_launcher/url_launcher_macos/macos/url_launcher_macos.podspec
  script/tool/lib/src/common/package_state_utils.dart
  script/tool/test/common/package_state_utils_test.dart
Labels: p: palette_generator, p: flutter_markdown, p: rfw, p: go_router, autosubmit, override: no versioning needed, p: dynamic_layouts, p: flutter_adaptive_scaffold, p: file_selector, p: in_app_purchase, p: path_provider, platform-ios, platform-macos, p: url_launcher, p: shared_preferences

#3993 [camera] Fix Android lint issues
  packages/camera/camera_android/CHANGELOG.md
  packages/camera/camera_android/android/build.gradle
  packages/camera/camera_android/android/lint-baseline.xml
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/CameraDeviceWrapper.java
  packages/camera/camera_android/pubspec.yaml
Labels: autosubmit, p: camera, platform-android

#4006 [ci] Move Linux repo tool tests to LUCI
  .ci.yaml
  .cirrus.yml
Labels: autosubmit

#4024 [ci] Allow simctl shutdown to fail
  .ci/scripts/remove_simulator.sh
Labels: autosubmit

#4007 [ci] Re-enable Windows repo tool tests
  .ci.yaml
  script/tool/test/publish_command_test.dart
Labels: autosubmit

#3752 [in_app_purchase] Fully migrate to BillingClient V5
  packages/in_app_purchase/in_app_purchase_android/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_android/android/src/main/java/io/flutter/plugins/inapppurchase/InAppPurchasePlugin.java
  packages/in_app_purchase/in_app_purchase_android/android/src/main/java/io/flutter/plugins/inapppurchase/MethodCallHandlerImpl.java
  packages/in_app_purchase/in_app_purchase_android/android/src/main/java/io/flutter/plugins/inapppurchase/Translator.java
  packages/in_app_purchase/in_app_purchase_android/android/src/test/java/io/flutter/plugins/inapppurchase/MethodCallHandlerTest.java
  packages/in_app_purchase/in_app_purchase_android/android/src/test/java/io/flutter/plugins/inapppurchase/TranslatorTest.java
  packages/in_app_purchase/in_app_purchase_android/example/lib/main.dart
  packages/in_app_purchase/in_app_purchase_android/lib/billing_client_wrappers.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/billing_client_wrappers/billing_client_wrapper.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/billing_client_wrappers/billing_client_wrapper.g.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/billing_client_wrappers/billing_response_wrapper.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/billing_client_wrappers/billing_response_wrapper.g.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/billing_client_wrappers/one_time_purchase_offer_details_wrapper.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/billing_client_wrappers/one_time_purchase_offer_details_wrapper.g.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/billing_client_wrappers/product_details_wrapper.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/billing_client_wrappers/product_details_wrapper.g.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/billing_client_wrappers/product_wrapper.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/billing_client_wrappers/product_wrapper.g.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/billing_client_wrappers/purchase_wrapper.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/billing_client_wrappers/purchase_wrapper.g.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/billing_client_wrappers/sku_details_wrapper.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/billing_client_wrappers/sku_details_wrapper.g.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/billing_client_wrappers/subscription_offer_details_wrapper.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/billing_client_wrappers/subscription_offer_details_wrapper.g.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/in_app_purchase_android_platform.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/in_app_purchase_android_platform_addition.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/types/google_play_product_details.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/types/google_play_purchase_details.dart
  packages/in_app_purchase/in_app_purchase_android/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_android/test/billing_client_wrappers/billing_client_wrapper_test.dart
  packages/in_app_purchase/in_app_purchase_android/test/billing_client_wrappers/product_details_wrapper_test.dart
  packages/in_app_purchase/in_app_purchase_android/test/billing_client_wrappers/product_wrapper_test.dart
  packages/in_app_purchase/in_app_purchase_android/test/billing_client_wrappers/purchase_wrapper_test.dart
  packages/in_app_purchase/in_app_purchase_android/test/billing_client_wrappers/sku_details_wrapper_deprecated_test.dart
  packages/in_app_purchase/in_app_purchase_android/test/billing_client_wrappers/sku_details_wrapper_test.dart
  packages/in_app_purchase/in_app_purchase_android/test/in_app_purchase_android_platform_addition_test.dart
  packages/in_app_purchase/in_app_purchase_android/test/in_app_purchase_android_platform_test.dart
Labels: autosubmit, p: in_app_purchase, platform-android

#3968 [image_picker] Upgrade androidx.activity to 1.7.0 and add a dependency on kotlin-bom to align kotlin transitive dependencies
  packages/image_picker/image_picker_android/CHANGELOG.md
  packages/image_picker/image_picker_android/android/build.gradle
  packages/image_picker/image_picker_android/pubspec.yaml
Labels: needs tests, autosubmit, p: image_picker, platform-android

#3966 [camera] Fix Java lints in camerax version
  packages/camera/camera_android_camerax/CHANGELOG.md
  packages/camera/camera_android_camerax/android/build.gradle
  packages/camera/camera_android_camerax/android/lint-baseline.xml
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/CameraAndroidCameraxPlugin.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/CameraFlutterApiImpl.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/CameraInfoFlutterApiImpl.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/CameraInfoHostApiImpl.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/CameraPermissionsManager.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/CameraSelectorFlutterApiImpl.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/CameraSelectorHostApiImpl.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/CameraXProxy.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/DeviceOrientationManager.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/ImageCaptureHostApiImpl.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/InstanceManager.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/JavaObjectHostApiImpl.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/PreviewHostApiImpl.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/ProcessCameraProviderFlutterApiImpl.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/ProcessCameraProviderHostApiImpl.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/SystemServicesHostApiImpl.java
  packages/camera/camera_android_camerax/pubspec.yaml
Labels: autosubmit, p: camera, platform-android

#4027 Revert "[url_launcher] Set broadcast reciever visability as required by target api 34"
  packages/url_launcher/url_launcher_android/CHANGELOG.md
  packages/url_launcher/url_launcher_android/android/build.gradle
  packages/url_launcher/url_launcher_android/android/src/main/java/io/flutter/plugins/urllauncher/WebViewActivity.java
  packages/url_launcher/url_launcher_android/pubspec.yaml
Labels: needs tests, autosubmit, platform-android, p: url_launcher

#4028 [tools] Ignore comments in federated safety check
  script/tool/lib/src/common/package_state_utils.dart
  script/tool/lib/src/federation_safety_check_command.dart
  script/tool/test/federation_safety_check_command_test.dart
Labels: autosubmit

#3746 [flutter_adaptive_scaffold] exchange BottomNavigationBar with NavigationBar
  packages/flutter_adaptive_scaffold/CHANGELOG.md
  packages/flutter_adaptive_scaffold/example/test/adaptive_scaffold_demo_test.dart
  packages/flutter_adaptive_scaffold/lib/src/adaptive_scaffold.dart
  packages/flutter_adaptive_scaffold/pubspec.yaml
  packages/flutter_adaptive_scaffold/test/adaptive_scaffold_test.dart
Labels: autosubmit, p: flutter_adaptive_scaffold

#4033 [ci] Manual flutter roll
  .ci/flutter_master.version
  .ci/flutter_stable.version
  packages/flutter_markdown/test/utils.dart
  packages/google_sign_in/google_sign_in_web/lib/google_sign_in_web.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_proxy.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview_controller.dart
  packages/webview_flutter/webview_flutter_android/lib/src/legacy/webview_android_widget.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_controller_test.dart
  packages/webview_flutter/webview_flutter_web/lib/src/web_webview_controller.dart
Labels: p: flutter_markdown, autosubmit, override: no versioning needed, override: no changelog needed, p: google_sign_in, platform-android, platform-web, p: webview_flutter

#4023 [rfw] Fix a typo in the API documentation
  packages/rfw/CHANGELOG.md
  packages/rfw/lib/src/dart/text.dart
  packages/rfw/pubspec.yaml
Labels: p: rfw, autosubmit

#4030 [flutter_plugin_android_lifecycle] Fix lints
  packages/flutter_plugin_android_lifecycle/CHANGELOG.md
  packages/flutter_plugin_android_lifecycle/android/build.gradle
  packages/flutter_plugin_android_lifecycle/android/lint-baseline.xml
  packages/flutter_plugin_android_lifecycle/android/src/main/java/io/flutter/embedding/engine/plugins/lifecycle/FlutterLifecycleAdapter.java
  packages/flutter_plugin_android_lifecycle/android/src/main/java/io/flutter/plugins/flutter_plugin_android_lifecycle/FlutterAndroidLifecyclePlugin.java
  packages/flutter_plugin_android_lifecycle/pubspec.yaml
Labels: autosubmit, p: flutter_plugin_android_lifecycle, platform-android

#4035 [ci] Lower iOS LUCI timeouts
  .ci.yaml
Labels: autosubmit

#4038 Roll Flutter from d0d1feb6283f to 5ae64381578c (42 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#4004 [image_picker] Fix crash due to `SecurityException`
  packages/image_picker/image_picker_android/CHANGELOG.md
  packages/image_picker/image_picker_android/android/src/main/java/io/flutter/plugins/imagepicker/FileUtils.java
  packages/image_picker/image_picker_android/android/src/test/java/io/flutter/plugins/imagepicker/FileUtilTest.java
  packages/image_picker/image_picker_android/pubspec.yaml
Labels: autosubmit, p: image_picker, platform-android

#3927 [go_router] fix context extension for replaceNamed
  packages/go_router/CHANGELOG.md
  packages/go_router/lib/src/misc/extensions.dart
  packages/go_router/pubspec.yaml
  packages/go_router/test/extension_test.dart
Labels: p: go_router, autosubmit

#3974 [local_auth] Migrate iOS to Pigeon
  packages/local_auth/local_auth_ios/CHANGELOG.md
  packages/local_auth/local_auth_ios/example/ios/RunnerTests/FLTLocalAuthPluginTests.m
  packages/local_auth/local_auth_ios/ios/Classes/FLTLocalAuthPlugin.h
  packages/local_auth/local_auth_ios/ios/Classes/FLTLocalAuthPlugin.m
  packages/local_auth/local_auth_ios/ios/Classes/messages.g.h
  packages/local_auth/local_auth_ios/ios/Classes/messages.g.m
  packages/local_auth/local_auth_ios/lib/local_auth_ios.dart
  packages/local_auth/local_auth_ios/lib/src/messages.g.dart
  packages/local_auth/local_auth_ios/pigeons/copyright.txt
  packages/local_auth/local_auth_ios/pigeons/messages.dart
  packages/local_auth/local_auth_ios/pubspec.yaml
  packages/local_auth/local_auth_ios/test/local_auth_ios_test.dart
  packages/local_auth/local_auth_ios/test/local_auth_ios_test.mocks.dart
  packages/local_auth/local_auth_ios/test/local_auth_test.dart
Labels: autosubmit, p: local_auth, platform-ios

#4043 Roll Flutter from 5ae64381578c to 077d644bbc5f (23 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#4051 Roll Flutter from 077d644bbc5f to ab573048e74d (18 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#4040 [in_app_purchases] Fix mismatching method signature strings
  packages/in_app_purchase/in_app_purchase_android/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_android/example/integration_test/in_app_purchase_test.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/billing_client_wrappers/billing_client_wrapper.dart
  packages/in_app_purchase/in_app_purchase_android/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_android/test/billing_client_wrappers/billing_client_wrapper_test.dart
  packages/in_app_purchase/in_app_purchase_android/test/in_app_purchase_android_platform_addition_test.dart
  packages/in_app_purchase/in_app_purchase_android/test/in_app_purchase_android_platform_test.dart
Labels: autosubmit, p: in_app_purchase, platform-android

#4062 Roll Flutter from ab573048e74d to 343718945bcb (5 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#4005 [ci] Add a legacy Android build-all test
  .ci/legacy_project/README.md
  .ci/legacy_project/all_packages/.gitignore
  .ci/legacy_project/all_packages/.metadata
  .ci/legacy_project/all_packages/android/.gitignore
  .ci/legacy_project/all_packages/android/app/build.gradle
  .ci/legacy_project/all_packages/android/app/src/debug/AndroidManifest.xml
  .ci/legacy_project/all_packages/android/app/src/main/AndroidManifest.xml
  .ci/legacy_project/all_packages/android/app/src/main/java/com/example/all_packages/MainActivity.java
  .ci/legacy_project/all_packages/android/app/src/main/res/drawable-v21/launch_background.xml
  .ci/legacy_project/all_packages/android/app/src/main/res/drawable/launch_background.xml
  .ci/legacy_project/all_packages/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  .ci/legacy_project/all_packages/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  .ci/legacy_project/all_packages/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  .ci/legacy_project/all_packages/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  .ci/legacy_project/all_packages/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  .ci/legacy_project/all_packages/android/app/src/main/res/values-night/styles.xml
  .ci/legacy_project/all_packages/android/app/src/main/res/values/styles.xml
  .ci/legacy_project/all_packages/android/app/src/profile/AndroidManifest.xml
  .ci/legacy_project/all_packages/android/build.gradle
  .ci/legacy_project/all_packages/android/gradle.properties
  .ci/legacy_project/all_packages/android/gradle/wrapper/gradle-wrapper.properties
  .ci/legacy_project/all_packages/android/settings.gradle
  .cirrus.yml
  script/tool/lib/src/common/file_utils.dart
  script/tool/lib/src/create_all_packages_app_command.dart
  script/tool/test/common/file_utils_test.dart
  script/tool/test/create_all_packages_app_command_test.dart
Labels: autosubmit

#4032 [in_app_purchase] Fix Java lints
  packages/in_app_purchase/in_app_purchase_android/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_android/android/build.gradle
  packages/in_app_purchase/in_app_purchase_android/android/lint-baseline.xml
  packages/in_app_purchase/in_app_purchase_android/android/src/main/java/io/flutter/plugins/inapppurchase/BillingClientFactoryImpl.java
  packages/in_app_purchase/in_app_purchase_android/android/src/main/java/io/flutter/plugins/inapppurchase/InAppPurchasePlugin.java
  packages/in_app_purchase/in_app_purchase_android/android/src/main/java/io/flutter/plugins/inapppurchase/MethodCallHandlerImpl.java
  packages/in_app_purchase/in_app_purchase_android/android/src/main/java/io/flutter/plugins/inapppurchase/PluginPurchaseListener.java
  packages/in_app_purchase/in_app_purchase_android/android/src/test/java/io/flutter/plugins/inapppurchase/MethodCallHandlerTest.java
  packages/in_app_purchase/in_app_purchase_android/pubspec.yaml
Labels: autosubmit, p: in_app_purchase, platform-android

#4065 [in_app_purchase] Bump `in_app_purchase_android` dependency to 3.0.0
  packages/in_app_purchase/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase/example/lib/main.dart
  packages/in_app_purchase/in_app_purchase/example/pubspec.yaml
  packages/in_app_purchase/in_app_purchase/pubspec.yaml
Labels: needs tests, autosubmit, p: in_app_purchase

#4068 Update infra reviewers and add label.
  .github/dependabot.yml
Labels: autosubmit

#4059 [quick_actions] Fix iOS home screen quick actions documentation hyperlink
  packages/quick_actions/quick_actions/CHANGELOG.md
  packages/quick_actions/quick_actions/README.md
  packages/quick_actions/quick_actions/pubspec.yaml
Labels: autosubmit, p: quick_actions

#4073 [multiple packages] Update collection-fors to prefer final (as per updated `prefer_final_in_for_each`)
  packages/flutter_markdown/example/lib/screens/demo_screen.dart
  packages/flutter_markdown/example/lib/screens/home_screen.dart
  packages/flutter_markdown/example/lib/shared/dropdown_menu.dart
  packages/go_router_builder/example/lib/main.dart
  packages/in_app_purchase/in_app_purchase_android/example/lib/main.dart
  packages/web_benchmarks/lib/src/browser.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/webkit_webview_controller.dart
Labels: p: web_benchmarks, p: flutter_markdown, needs tests, p: go_router_builder, autosubmit, override: no versioning needed, override: no changelog needed, p: in_app_purchase, platform-android, platform-ios, p: webview_flutter

#4045 [url_launcher] Convert Android to Pigeon
  packages/url_launcher/url_launcher_android/CHANGELOG.md
  packages/url_launcher/url_launcher_android/android/src/main/java/io/flutter/plugins/urllauncher/Messages.java
  packages/url_launcher/url_launcher_android/android/src/main/java/io/flutter/plugins/urllauncher/MethodCallHandlerImpl.java
  packages/url_launcher/url_launcher_android/android/src/main/java/io/flutter/plugins/urllauncher/UrlLauncher.java
  packages/url_launcher/url_launcher_android/android/src/main/java/io/flutter/plugins/urllauncher/UrlLauncherPlugin.java
  packages/url_launcher/url_launcher_android/android/src/main/java/io/flutter/plugins/urllauncher/WebViewActivity.java
  packages/url_launcher/url_launcher_android/android/src/test/java/io/flutter/plugins/urllauncher/MethodCallHandlerImplTest.java
  packages/url_launcher/url_launcher_android/android/src/test/java/io/flutter/plugins/urllauncher/UrlLauncherTest.java
  packages/url_launcher/url_launcher_android/lib/src/messages.g.dart
  packages/url_launcher/url_launcher_android/lib/url_launcher_android.dart
  packages/url_launcher/url_launcher_android/pigeons/copyright.txt
  packages/url_launcher/url_launcher_android/pigeons/messages.dart
  packages/url_launcher/url_launcher_android/pubspec.yaml
  packages/url_launcher/url_launcher_android/test/url_launcher_android_test.dart
Labels: autosubmit, platform-android, p: url_launcher

#4086 [url_launcher_android] Fix `unawaited_futures` lint errors
  packages/url_launcher/url_launcher_android/test/url_launcher_android_test.dart
Labels: platform-android, p: url_launcher

#4074 Append $flutter/osx sdk property to existing platforms/targets relying on xcode
  .ci.yaml
Labels: autosubmit

#4085 bump mockito to version 5.4.1
  packages/camera/camera/pubspec.yaml
  packages/camera/camera_android_camerax/pubspec.yaml
  packages/file_selector/file_selector_ios/pubspec.yaml
  packages/file_selector/file_selector_macos/pubspec.yaml
  packages/file_selector/file_selector_windows/pubspec.yaml
  packages/flutter_markdown/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_platform_interface/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_web/example/pubspec.yaml
  packages/google_sign_in/google_sign_in/pubspec.yaml
  packages/google_sign_in/google_sign_in_platform_interface/pubspec.yaml
  packages/google_sign_in/google_sign_in_web/example/pubspec.yaml
  packages/image_picker/image_picker/pubspec.yaml
  packages/image_picker/image_picker_android/pubspec.yaml
  packages/image_picker/image_picker_ios/pubspec.yaml
  packages/image_picker/image_picker_windows/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_android/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_platform_interface/pubspec.yaml
  packages/local_auth/local_auth/pubspec.yaml
  packages/local_auth/local_auth_android/pubspec.yaml
  packages/local_auth/local_auth_ios/pubspec.yaml
  packages/local_auth/local_auth_platform_interface/pubspec.yaml
  packages/metrics_center/pubspec.yaml
  packages/path_provider/path_provider_foundation/pubspec.yaml
  packages/pigeon/platform_tests/flutter_null_safe_unit_tests/pubspec.yaml
  packages/plugin_platform_interface/pubspec.yaml
  packages/quick_actions/quick_actions/pubspec.yaml
  packages/quick_actions/quick_actions_platform_interface/pubspec.yaml
  packages/url_launcher/url_launcher/example/pubspec.yaml
  packages/url_launcher/url_launcher/pubspec.yaml
  packages/url_launcher/url_launcher_android/example/pubspec.yaml
  packages/url_launcher/url_launcher_android/pubspec.yaml
  packages/url_launcher/url_launcher_platform_interface/pubspec.yaml
  packages/url_launcher/url_launcher_web/example/pubspec.yaml
  packages/webview_flutter/webview_flutter/pubspec.yaml
  packages/webview_flutter/webview_flutter_android/pubspec.yaml
  packages/webview_flutter/webview_flutter_platform_interface/pubspec.yaml
  packages/webview_flutter/webview_flutter_web/pubspec.yaml
  packages/webview_flutter/webview_flutter_wkwebview/pubspec.yaml
Labels: p: metrics_center, p: pigeon, p: flutter_markdown, autosubmit, override: no versioning needed, override: no changelog needed, p: camera, p: file_selector, p: google_maps_flutter, p: google_sign_in, p: image_picker, p: in_app_purchase, p: local_auth, p: path_provider, p: plugin_platform_interface, p: quick_actions, platform-android, platform-ios, platform-macos, platform-web, platform-windows, p: webview_flutter, p: url_launcher

#4090 Roll Flutter from 216605b60f67 to ee162e4b7f4f (53 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#4089 Roll Flutter (stable) from d3d8effc686d to 9cd3d0d9ff05 (1 revision)
  .ci/flutter_stable.version
Labels: autosubmit

#3952 [flutter_markdown] Unable to use MarkdownElementBuilder to act those tags without children.
  packages/flutter_markdown/CHANGELOG.md
  packages/flutter_markdown/lib/src/builder.dart
  packages/flutter_markdown/pubspec.yaml
  packages/flutter_markdown/test/custom_syntax_test.dart
Labels: p: flutter_markdown, autosubmit

#4092 [google_sign_in] Clarifies canAccessScopes docs.
  packages/google_sign_in/google_sign_in/CHANGELOG.md
  packages/google_sign_in/google_sign_in/lib/google_sign_in.dart
  packages/google_sign_in/google_sign_in/pubspec.yaml
  packages/google_sign_in/google_sign_in/test/google_sign_in_test.mocks.dart
  packages/google_sign_in/google_sign_in_platform_interface/CHANGELOG.md
  packages/google_sign_in/google_sign_in_platform_interface/lib/google_sign_in_platform_interface.dart
  packages/google_sign_in/google_sign_in_platform_interface/pubspec.yaml
Labels: autosubmit, p: google_sign_in

#4064 [google_maps] Prepares packages to endorse web.
  packages/google_maps_flutter/google_maps_flutter/example/integration_test/google_maps_test.dart
  packages/google_maps_flutter/google_maps_flutter/example/integration_test/src/maps_controller.dart
  packages/google_maps_flutter/google_maps_flutter/example/integration_test/src/maps_inspector.dart
  packages/google_maps_flutter/google_maps_flutter/example/integration_test/src/shared.dart
  packages/google_maps_flutter/google_maps_flutter/example/integration_test/src/tiles_inspector.dart
  packages/google_maps_flutter/google_maps_flutter/example/run_test.sh
  packages/google_maps_flutter/google_maps_flutter_platform_interface/test/types/bitmap_test.dart
  packages/google_maps_flutter/google_maps_flutter_web/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_web/example/integration_test/google_maps_controller_test.mocks.dart
  packages/google_maps_flutter/google_maps_flutter_web/example/integration_test/google_maps_plugin_test.dart
  packages/google_maps_flutter/google_maps_flutter_web/example/integration_test/google_maps_plugin_test.mocks.dart
  packages/google_maps_flutter/google_maps_flutter_web/example/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_web/lib/google_maps_flutter_web.dart
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/convert.dart
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/google_maps_controller.dart
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/google_maps_flutter_web.dart
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/google_maps_inspector_web.dart
  packages/google_maps_flutter/google_maps_flutter_web/pubspec.yaml
Labels: autosubmit, override: no changelog needed, p: google_maps_flutter, platform-web

#4058 [image_picker] Move disk accesses to background thread
  packages/image_picker/image_picker_android/CHANGELOG.md
  packages/image_picker/image_picker_android/android/src/main/java/io/flutter/plugins/imagepicker/ImagePickerCache.java
  packages/image_picker/image_picker_android/android/src/main/java/io/flutter/plugins/imagepicker/ImagePickerDelegate.java
  packages/image_picker/image_picker_android/android/src/main/java/io/flutter/plugins/imagepicker/ImagePickerPlugin.java
  packages/image_picker/image_picker_android/android/src/main/java/io/flutter/plugins/imagepicker/ImageResizer.java
  packages/image_picker/image_picker_android/android/src/main/java/io/flutter/plugins/imagepicker/Messages.java
  packages/image_picker/image_picker_android/android/src/test/java/io/flutter/plugins/imagepicker/ImagePickerDelegateTest.java
  packages/image_picker/image_picker_android/android/src/test/java/io/flutter/plugins/imagepicker/ImagePickerPluginTest.java
  packages/image_picker/image_picker_android/android/src/test/java/io/flutter/plugins/imagepicker/ImageResizerTest.java
  packages/image_picker/image_picker_android/pigeons/messages.dart
  packages/image_picker/image_picker_android/pubspec.yaml
Labels: warning: land on red to fix tree breakage, autosubmit, p: image_picker, platform-android

#4123 [camerax] Correct missing features list in `README`
  packages/camera/camera_android_camerax/CHANGELOG.md
  packages/camera/camera_android_camerax/README.md
  packages/camera/camera_android_camerax/pubspec.yaml
Labels: autosubmit, p: camera

#4093 Remove legacy xcode properties and dependencies
  .ci.yaml
Labels: autosubmit
