Repository flutter/packages, pull requests merged in 2023-10, with the labels that each got.

#4705 [webview_flutter] Adds app facing implementation to override console log
  packages/webview_flutter/webview_flutter/CHANGELOG.md
  packages/webview_flutter/webview_flutter/example/lib/main.dart
  packages/webview_flutter/webview_flutter/lib/src/webview_controller.dart
  packages/webview_flutter/webview_flutter/lib/webview_flutter.dart
  packages/webview_flutter/webview_flutter/pubspec.yaml
  packages/webview_flutter/webview_flutter/test/webview_controller_test.dart
Labels: autosubmit, p: webview_flutter

#5044 Roll Flutter from d3df8f6bbf74 to d42313c04ba4 (4 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#5059 Roll Flutter from d42313c04ba4 to 57ed72417780 (11 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#5061 [webview_flutter] Exposes missing `JavaScriptLogLevel` from platform interface
  packages/webview_flutter/webview_flutter/CHANGELOG.md
  packages/webview_flutter/webview_flutter/lib/webview_flutter.dart
  packages/webview_flutter/webview_flutter/pubspec.yaml
  packages/webview_flutter/webview_flutter/test/webview_flutter_test.dart
Labels: autosubmit, p: webview_flutter

#5060 [flutter_markdown] Code decoration
  packages/flutter_markdown/CHANGELOG.md
  packages/flutter_markdown/lib/src/builder.dart
  packages/flutter_markdown/pubspec.yaml
Labels: p: flutter_markdown, autosubmit

#5062 [webview_flutter_wkwebview] Fixes bug where `WebkitWebViewController.getUserAgent` was incorrectly returning an empty String
  packages/webview_flutter/webview_flutter_wkwebview/CHANGELOG.md
  packages/webview_flutter/webview_flutter_wkwebview/example/integration_test/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/webkit_webview_controller.dart
  packages/webview_flutter/webview_flutter_wkwebview/pubspec.yaml
Labels: autosubmit, platform-ios, p: webview_flutter

#5067 Roll Flutter from 57ed72417780 to 512299113fa0 (21 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#5068 [webview_flutter] [webview_flutter_wkwebview]Fix race condition in flaky test
  packages/webview_flutter/webview_flutter/example/integration_test/legacy/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/example/integration_test/legacy/webview_flutter_test.dart
Labels: autosubmit, platform-ios, p: webview_flutter

#5058 [flutter_markdown] Footnote support
  packages/flutter_markdown/CHANGELOG.md
  packages/flutter_markdown/example/windows/runner/Runner.rc
  packages/flutter_markdown/lib/src/builder.dart
  packages/flutter_markdown/pubspec.yaml
  packages/flutter_markdown/test/all.dart
  packages/flutter_markdown/test/footnote_test.dart
  packages/flutter_markdown/test/utils.dart
Labels: p: flutter_markdown, platform-windows

#5075 [path_provider] Fix integration tests
  packages/path_provider/path_provider/example/integration_test/path_provider_test.dart
Labels: autosubmit, p: path_provider

#5071 [webview_flutter] Fix XCUITest in Xcode 15
  packages/url_launcher/url_launcher_ios/example/ios/RunnerUITests/URLLauncherUITests.swift
Labels: autosubmit, platform-ios, p: url_launcher

#5076 Roll Flutter from 512299113fa0 to fe0275f9d5a7 (35 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#5074 [image_picker] Fix XCTests in Xcode 15
  packages/image_picker/image_picker_ios/example/ios/Runner.xcodeproj/project.pbxproj
  packages/image_picker/image_picker_ios/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/image_picker/image_picker_ios/example/ios/RunnerTests/PickerSaveImageToPathOperationTests.m
  packages/image_picker/image_picker_ios/example/ios/TestImages/icoImage.ico
  packages/image_picker/image_picker_ios/example/ios/TestImages/svgImage.svg
Labels: autosubmit, override: no versioning needed, override: no changelog needed, p: image_picker, platform-ios

#5084 Roll Flutter from fe0275f9d5a7 to ad200896cbe1 (10 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#5086 Roll Flutter from ad200896cbe1 to 5207a309e8d8 (20 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#5080 Add a `skip` to an empty test group
  packages/flutter_markdown/test/emphasis_test.dart
Labels: p: flutter_markdown, autosubmit

#5093 Roll Flutter from 5207a309e8d8 to f52fe4f7e55d (18 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#5077 [go_router] Fixes missing state.extra in onException()
  packages/go_router/CHANGELOG.md
  packages/go_router/lib/src/configuration.dart
  packages/go_router/pubspec.yaml
  packages/go_router/test/exception_handling_test.dart
Labels: p: go_router, autosubmit

#5095 [process] Import the `process` package
  CODEOWNERS
  README.md
  packages/process/.gitignore
  packages/process/AUTHORS
  packages/process/CHANGELOG.md
  packages/process/LICENSE
  packages/process/README.md
  packages/process/dart_test.yaml
  packages/process/lib/process.dart
  packages/process/lib/src/interface/common.dart
  packages/process/lib/src/interface/exceptions.dart
  packages/process/lib/src/interface/local_process_manager.dart
  packages/process/lib/src/interface/process_manager.dart
  packages/process/lib/src/interface/process_wrapper.dart
  packages/process/pubspec.yaml
  packages/process/test/src/interface/common_test.dart
  packages/process/test/src/interface/process_wrapper_test.dart
  packages/process/test/utils.dart
  script/configs/allowed_unpinned_deps.yaml
Labels: autosubmit

#5085 [google_map_flutter_ios] fix `didBeginDraggingMarker` typo
  packages/google_maps_flutter/google_maps_flutter_ios/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios13/ios/Runner.xcodeproj/project.pbxproj
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios13/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios13/ios/Runner/Info.plist
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios13/ios/RunnerUITests/RunnerUITests.m
  packages/google_maps_flutter/google_maps_flutter_ios/example/shared/maps_example_dart/lib/place_marker.dart
  packages/google_maps_flutter/google_maps_flutter_ios/ios/Classes/GoogleMapController.m
  packages/google_maps_flutter/google_maps_flutter_ios/pubspec.yaml
Labels: autosubmit, p: google_maps_flutter, platform-ios

#5089 Run tests on either macOS 12 or macOS 13
  .ci.yaml
  .ci/scripts/boot_simulator.sh
  .ci/scripts/create_simulator.sh
  .ci/targets/ios_platform_tests.yaml
  packages/pigeon/tool/shared/test_suites.dart
Labels: p: pigeon, autosubmit

#5104 Roll Flutter from f52fe4f7e55d to 83134ac7e44c (25 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#5038 [two_dimensional_scrollables] Fix paint bug when rows/columns are pinned and axes are reversed
  packages/two_dimensional_scrollables/CHANGELOG.md
  packages/two_dimensional_scrollables/lib/src/table_view/table.dart
  packages/two_dimensional_scrollables/pubspec.yaml
  packages/two_dimensional_scrollables/test/table_view/goldens/reversed.pinned.painting.png
  packages/two_dimensional_scrollables/test/table_view/goldens/tableSpanDecoration.defaultMainAxis.png
  packages/two_dimensional_scrollables/test/table_view/goldens/tableSpanDecoration.horizontalMainAxis.png
  packages/two_dimensional_scrollables/test/table_view/table_test.dart
Labels: autosubmit, p: two_dimensional_scrollables

#4986 [shared_preferences] fix documentation wording
  packages/shared_preferences/shared_preferences/CHANGELOG.md
  packages/shared_preferences/shared_preferences/lib/shared_preferences.dart
  packages/shared_preferences/shared_preferences/pubspec.yaml
Labels: autosubmit, p: shared_preferences

#5096 [flutter_markdown] Fix typo in readme
  packages/flutter_markdown/CHANGELOG.md
  packages/flutter_markdown/README.md
  packages/flutter_markdown/pubspec.yaml
Labels: p: flutter_markdown, autosubmit

#5106 Update repo README issues link
  README.md
Labels: autosubmit

#5081 [in_app_purchase] [#135759] Fix. doc reference finishPurchase to completePurchase.
  packages/in_app_purchase/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase/lib/in_app_purchase.dart
  packages/in_app_purchase/in_app_purchase/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_platform_interface/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_platform_interface/lib/src/in_app_purchase_platform.dart
  packages/in_app_purchase/in_app_purchase_platform_interface/pubspec.yaml
Labels: autosubmit, p: in_app_purchase

#4416 [cross_file] Improved documentation about ignored parameters in IO module.
  packages/cross_file/CHANGELOG.md
  packages/cross_file/lib/src/types/base.dart
  packages/cross_file/lib/src/types/io.dart
  packages/cross_file/pubspec.yaml
Labels: p: cross_file, autosubmit

#5121 [shared_preferences] update file version constraints
  packages/shared_preferences/shared_preferences_linux/CHANGELOG.md
  packages/shared_preferences/shared_preferences_linux/pubspec.yaml
  packages/shared_preferences/shared_preferences_windows/CHANGELOG.md
  packages/shared_preferences/shared_preferences_windows/pubspec.yaml
Labels: autosubmit, platform-linux, platform-windows, p: shared_preferences

#5134 Roll Flutter (stable) from ead455963c12 to 2f708eb8396e (1 revision)
  .ci/flutter_stable.version
Labels: autosubmit

#5040 [go_router] Fix missing build parameter in type-safe routes topic documentation
  packages/go_router/CHANGELOG.md
  packages/go_router/doc/type-safe-routes.md
  packages/go_router/pubspec.yaml
Labels: p: go_router, autosubmit

#5140 Roll Flutter from 83134ac7e44c to 3865e49a68ab (80 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#5133 [ci] Add x64 specific Windows platform
  .ci.yaml
Labels: autosubmit

#5147 Roll Flutter from 3865e49a68ab to b00216b3201d (34 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#5156 Roll Flutter from b00216b3201d to afc391602b06 (12 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#5099 [quick_actions] Convert android to pigeon
  packages/quick_actions/quick_actions_android/CHANGELOG.md
  packages/quick_actions/quick_actions_android/android/src/main/java/io/flutter/plugins/quickactions/Messages.java
  packages/quick_actions/quick_actions_android/android/src/main/java/io/flutter/plugins/quickactions/MethodCallHandlerImpl.java
  packages/quick_actions/quick_actions_android/android/src/main/java/io/flutter/plugins/quickactions/QuickActions.java
  packages/quick_actions/quick_actions_android/android/src/main/java/io/flutter/plugins/quickactions/QuickActionsPlugin.java
  packages/quick_actions/quick_actions_android/android/src/test/java/io/flutter/plugins/quickactions/QuickActionsTest.java
  packages/quick_actions/quick_actions_android/lib/quick_actions_android.dart
  packages/quick_actions/quick_actions_android/lib/src/messages.g.dart
  packages/quick_actions/quick_actions_android/pigeons/copyright.txt
  packages/quick_actions/quick_actions_android/pigeons/messages.dart
  packages/quick_actions/quick_actions_android/pubspec.yaml
  packages/quick_actions/quick_actions_android/test/quick_actions_android_test.dart
Labels: autosubmit, p: quick_actions, platform-android

#5123 [gis_web] Adds FedCM toggle.
  packages/google_identity_services_web/CHANGELOG.md
  packages/google_identity_services_web/example/integration_test/js_interop_id_test.dart
  packages/google_identity_services_web/example/lib/main.dart
  packages/google_identity_services_web/lib/src/js_interop/google_accounts_id.dart
  packages/google_identity_services_web/pubspec.yaml
Labels: autosubmit

#5165 Roll Flutter from afc391602b06 to 6eea6e277e56 (27 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#5173 Roll Flutter (stable) from 2f708eb8396e to 6c4930c4ac86 (1 revision)
  .ci/flutter_stable.version
Labels: autosubmit

#5177 [flutter_lints] rev flutter_lints to 3.0; increase dep on package:lints
  packages/flutter_lints/CHANGELOG.md
  packages/flutter_lints/pubspec.yaml
Labels: p: flutter_lints

#5079 [go_router] adds ability to dynamically update routing table.
  packages/go_router/CHANGELOG.md
  packages/go_router/README.md
  packages/go_router/doc/configuration.md
  packages/go_router/example/lib/routing_config.dart
  packages/go_router/example/test/routing_config_test.dart
  packages/go_router/lib/src/configuration.dart
  packages/go_router/lib/src/match.dart
  packages/go_router/lib/src/parser.dart
  packages/go_router/lib/src/router.dart
  packages/go_router/pubspec.yaml
  packages/go_router/test/builder_test.dart
  packages/go_router/test/configuration_test.dart
  packages/go_router/test/inherited_test.dart
  packages/go_router/test/match_test.dart
  packages/go_router/test/matching_test.dart
  packages/go_router/test/parser_test.dart
  packages/go_router/test/routing_config_test.dart
  packages/go_router/test/test_helpers.dart
Labels: p: go_router, autosubmit

#5178 Manual roll Flutter from 6eea6e277e56 to 189196d104e2 (44 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#5181 [pigeon] add flutter api protocol
  packages/pigeon/CHANGELOG.md
  packages/pigeon/example/app/ios/Runner/Messages.g.swift
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/lib/swift_generator.dart
  packages/pigeon/pigeons/core_tests.dart
  packages/pigeon/platform_tests/alternate_language_test_plugin/android/src/main/java/com/example/alternate_language_test_plugin/CoreTests.java
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/CoreTests.gen.h
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/CoreTests.gen.m
  packages/pigeon/platform_tests/alternate_language_test_plugin/macos/Classes/CoreTests.gen.h
  packages/pigeon/platform_tests/alternate_language_test_plugin/macos/Classes/CoreTests.gen.m
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/core_tests.gen.dart
  packages/pigeon/platform_tests/test_plugin/android/src/main/kotlin/com/example/test_plugin/CoreTests.gen.kt
  packages/pigeon/platform_tests/test_plugin/example/ios/RunnerTests/RunnerTests.swift
  packages/pigeon/platform_tests/test_plugin/ios/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/macos/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/windows/pigeon/core_tests.gen.cpp
  packages/pigeon/platform_tests/test_plugin/windows/pigeon/core_tests.gen.h
  packages/pigeon/pubspec.yaml
Labels: p: pigeon, autosubmit, platform-android, platform-ios, platform-macos, platform-windows

#5182 [tool] Fix `filter-packages-to` when everything is changed
  script/tool/lib/src/common/package_command.dart
  script/tool/test/common/package_command_test.dart
Labels: autosubmit

#5183 Roll Flutter from 189196d104e2 to c2bd2c1175f5 (11 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#4616 [ci] Add emulator tests on older Android version
  .ci.yaml
  .ci/targets/android_legacy_emulator_tests.yaml
  script/configs/exclude_integration_android_legacy_emulator.yaml
Labels: autosubmit

#5176 [image_picker_ios] Update UITests for Xcode 15/iOS 17
  packages/image_picker/image_picker_ios/example/ios/RunnerUITests/ImagePickerFromGalleryUITests.m
  packages/image_picker/image_picker_ios/example/ios/RunnerUITests/ImagePickerFromLimitedGalleryUITests.m
Labels: autosubmit, p: image_picker, platform-ios

#5174 [ci] Finalize migration to x64 specific Windows platform
  .ci.yaml
Labels: autosubmit

#5192 Roll Flutter from c2bd2c1175f5 to 0883cb2e962d (24 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#5186 Add '--no-tree-shake-icons' option to `BenchmarkServer`
  packages/web_benchmarks/CHANGELOG.md
  packages/web_benchmarks/lib/server.dart
  packages/web_benchmarks/lib/src/runner.dart
  packages/web_benchmarks/pubspec.yaml
  packages/web_benchmarks/testing/test_app/lib/about_page.dart
  packages/web_benchmarks/testing/test_app/lib/benchmarks/runner.dart
  packages/web_benchmarks/testing/test_app/lib/home_page.dart
  packages/web_benchmarks/testing/test_app/lib/icon_page.dart
  packages/web_benchmarks/testing/test_app/lib/main.dart
  packages/web_benchmarks/testing/test_app/pubspec.yaml
  packages/web_benchmarks/testing/web_benchmarks_test.dart
Labels: p: web_benchmarks

#5142 [ci] Add build-only Windows Arm64 tests
  .ci.yaml
Labels: autosubmit

#5159 [quick_actions] convert to pigeon
  packages/quick_actions/quick_actions_ios/CHANGELOG.md
  packages/quick_actions/quick_actions_ios/example/ios/Runner.xcodeproj/project.pbxproj
  packages/quick_actions/quick_actions_ios/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/quick_actions/quick_actions_ios/example/ios/RunnerTests/DefaultShortcutItemParserTests.swift
  packages/quick_actions/quick_actions_ios/example/ios/RunnerTests/Mocks/MockMethodChannel.swift
  packages/quick_actions/quick_actions_ios/example/ios/RunnerTests/Mocks/MockShortcutItemParser.swift
  packages/quick_actions/quick_actions_ios/example/ios/RunnerTests/QuickActionsPluginTests.swift
  packages/quick_actions/quick_actions_ios/ios/Classes/MethodChannel.swift
  packages/quick_actions/quick_actions_ios/ios/Classes/QuickActionsPlugin.swift
  packages/quick_actions/quick_actions_ios/ios/Classes/ShortcutItemParser.swift
  packages/quick_actions/quick_actions_ios/ios/Classes/messages.g.swift
  packages/quick_actions/quick_actions_ios/lib/messages.g.dart
  packages/quick_actions/quick_actions_ios/lib/quick_actions_ios.dart
  packages/quick_actions/quick_actions_ios/pigeons/copyright.txt
  packages/quick_actions/quick_actions_ios/pigeons/messages.dart
  packages/quick_actions/quick_actions_ios/pubspec.yaml
  packages/quick_actions/quick_actions_ios/test/quick_actions_ios_test.dart
Labels: autosubmit, p: quick_actions, platform-ios

#4847 [ios_platform_images] migrate objC to swift
  packages/ios_platform_images/AUTHORS
  packages/ios_platform_images/CHANGELOG.md
  packages/ios_platform_images/README.md
  packages/ios_platform_images/example/ios/Runner.xcodeproj/project.pbxproj
  packages/ios_platform_images/example/ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  packages/ios_platform_images/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/ios_platform_images/example/ios/Runner/AppDelegate.swift
  packages/ios_platform_images/example/ios/RunnerTests/IosPlatformImagesTests.m
  packages/ios_platform_images/example/ios/RunnerTests/IosPlatformImagesTests.swift
  packages/ios_platform_images/ios/Classes/IosPlatformImagesPlugin.h
  packages/ios_platform_images/ios/Classes/IosPlatformImagesPlugin.m
  packages/ios_platform_images/ios/Classes/IosPlatformImagesPlugin.swift
  packages/ios_platform_images/ios/Classes/UIImage+ios_platform_images.h
  packages/ios_platform_images/ios/Classes/UIImage+ios_platform_images.m
  packages/ios_platform_images/ios/Classes/UIImageIosPlatformImages.swift
  packages/ios_platform_images/ios/Classes/messages.g.h
  packages/ios_platform_images/ios/Classes/messages.g.m
  packages/ios_platform_images/ios/Classes/messages.g.swift
  packages/ios_platform_images/ios/ios_platform_images.podspec
  packages/ios_platform_images/lib/ios_platform_images.dart
  packages/ios_platform_images/pigeons/messages.dart
  packages/ios_platform_images/pubspec.yaml
Labels: autosubmit, p: ios_platform_images, platform-ios

#5196 Roll Flutter from 0883cb2e962d to 6f4850d74d1a (24 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#5198 Roll Flutter from 6f4850d74d1a to 823e08353dd8 (3 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#3615 [camera] CameraPlatform.createCameraWithSettings
  packages/camera/camera_platform_interface/CHANGELOG.md
  packages/camera/camera_platform_interface/lib/camera_platform_interface.dart
  packages/camera/camera_platform_interface/lib/src/method_channel/method_channel_camera.dart
  packages/camera/camera_platform_interface/lib/src/platform_interface/camera_platform.dart
  packages/camera/camera_platform_interface/lib/src/types/media_settings.dart
  packages/camera/camera_platform_interface/lib/src/types/types.dart
  packages/camera/camera_platform_interface/pubspec.yaml
  packages/camera/camera_platform_interface/test/camera_platform_interface_test.dart
  packages/camera/camera_platform_interface/test/method_channel/method_channel_camera_test.dart
  packages/camera/camera_platform_interface/test/types/media_settings_test.dart
Labels: autosubmit, p: camera, federated: partial_changes

#5204 [tool] Add optional swift-format support
  script/tool/lib/src/format_command.dart
  script/tool/test/format_command_test.dart
Labels: autosubmit

#5208 Roll Flutter from 823e08353dd8 to 5e8b5f4ea293 (13 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#5180 [url_launcher_web] Disallows launching "javascript:" URLs.
  packages/url_launcher/url_launcher_web/CHANGELOG.md
  packages/url_launcher/url_launcher_web/example/integration_test/url_launcher_web_test.dart
  packages/url_launcher/url_launcher_web/example/integration_test/url_launcher_web_test.mocks.dart
  packages/url_launcher/url_launcher_web/lib/url_launcher_web.dart
  packages/url_launcher/url_launcher_web/pubspec.yaml
Labels: autosubmit, platform-web, p: url_launcher

#5193 [ci] Remove device_type property from Windows Arm64 properties
  .ci.yaml
Labels: autosubmit

#5205 [url_launcher] Add an `inAppBrowserView` mode
  packages/url_launcher/url_launcher_platform_interface/CHANGELOG.md
  packages/url_launcher/url_launcher_platform_interface/lib/src/types.dart
  packages/url_launcher/url_launcher_platform_interface/lib/src/url_launcher_platform.dart
  packages/url_launcher/url_launcher_platform_interface/pubspec.yaml
  packages/url_launcher/url_launcher_platform_interface/test/url_launcher_platform_test.dart
Labels: autosubmit, p: url_launcher, federated: partial_changes

#5185 Change firebase device tests from Android api 30 to 33
  .ci/targets/android_device_tests.yaml
Labels: autosubmit

#4935 Update annotations deps to 1.7
  packages/camera/camera_android/CHANGELOG.md
  packages/camera/camera_android/android/build.gradle
  packages/camera/camera_android/pubspec.yaml
  packages/file_selector/file_selector_android/CHANGELOG.md
  packages/file_selector/file_selector_android/android/build.gradle
  packages/file_selector/file_selector_android/pubspec.yaml
  packages/flutter_plugin_android_lifecycle/CHANGELOG.md
  packages/flutter_plugin_android_lifecycle/android/build.gradle
  packages/flutter_plugin_android_lifecycle/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_android/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_android/android/build.gradle
  packages/google_maps_flutter/google_maps_flutter_android/pubspec.yaml
  packages/image_picker/image_picker_android/CHANGELOG.md
  packages/image_picker/image_picker_android/android/build.gradle
  packages/image_picker/image_picker_android/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_android/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_android/android/build.gradle
  packages/in_app_purchase/in_app_purchase_android/pubspec.yaml
  packages/path_provider/path_provider_android/CHANGELOG.md
  packages/path_provider/path_provider_android/android/build.gradle
  packages/path_provider/path_provider_android/pubspec.yaml
  packages/url_launcher/url_launcher_android/CHANGELOG.md
  packages/url_launcher/url_launcher_android/android/build.gradle
  packages/url_launcher/url_launcher_android/pubspec.yaml
Labels: autosubmit, p: camera, p: file_selector, p: flutter_plugin_android_lifecycle, p: google_maps_flutter, p: image_picker, p: in_app_purchase, p: path_provider, platform-android, p: url_launcher

#5191 [ci] Fix legacy Android task names
  .ci.yaml
Labels: autosubmit

#5211 [url_launcher] Add an `inAppBrowserView` mode in implementations
  packages/url_launcher/url_launcher_android/CHANGELOG.md
  packages/url_launcher/url_launcher_android/android/src/main/java/io/flutter/plugins/urllauncher/Messages.java
  packages/url_launcher/url_launcher_android/android/src/main/java/io/flutter/plugins/urllauncher/UrlLauncher.java
  packages/url_launcher/url_launcher_android/android/src/test/java/io/flutter/plugins/urllauncher/UrlLauncherTest.java
  packages/url_launcher/url_launcher_android/example/lib/main.dart
  packages/url_launcher/url_launcher_android/example/pubspec.yaml
  packages/url_launcher/url_launcher_android/lib/src/messages.g.dart
  packages/url_launcher/url_launcher_android/lib/url_launcher_android.dart
  packages/url_launcher/url_launcher_android/pigeons/messages.dart
  packages/url_launcher/url_launcher_android/pubspec.yaml
  packages/url_launcher/url_launcher_android/test/url_launcher_android_test.dart
  packages/url_launcher/url_launcher_ios/CHANGELOG.md
  packages/url_launcher/url_launcher_ios/example/pubspec.yaml
  packages/url_launcher/url_launcher_ios/lib/url_launcher_ios.dart
  packages/url_launcher/url_launcher_ios/pubspec.yaml
  packages/url_launcher/url_launcher_ios/test/url_launcher_ios_test.dart
  packages/url_launcher/url_launcher_linux/CHANGELOG.md
  packages/url_launcher/url_launcher_linux/example/pubspec.yaml
  packages/url_launcher/url_launcher_linux/lib/url_launcher_linux.dart
  packages/url_launcher/url_launcher_linux/pubspec.yaml
  packages/url_launcher/url_launcher_linux/test/url_launcher_linux_test.dart
  packages/url_launcher/url_launcher_macos/CHANGELOG.md
  packages/url_launcher/url_launcher_macos/example/pubspec.yaml
  packages/url_launcher/url_launcher_macos/lib/url_launcher_macos.dart
  packages/url_launcher/url_launcher_macos/pubspec.yaml
  packages/url_launcher/url_launcher_macos/test/url_launcher_macos_test.dart
  packages/url_launcher/url_launcher_web/CHANGELOG.md
  packages/url_launcher/url_launcher_web/example/integration_test/url_launcher_web_test.dart
  packages/url_launcher/url_launcher_web/example/pubspec.yaml
  packages/url_launcher/url_launcher_web/lib/url_launcher_web.dart
  packages/url_launcher/url_launcher_web/pubspec.yaml
  packages/url_launcher/url_launcher_windows/CHANGELOG.md
  packages/url_launcher/url_launcher_windows/example/pubspec.yaml
  packages/url_launcher/url_launcher_windows/lib/url_launcher_windows.dart
  packages/url_launcher/url_launcher_windows/pubspec.yaml
  packages/url_launcher/url_launcher_windows/test/url_launcher_windows_test.dart
Labels: autosubmit, platform-android, platform-ios, platform-linux, platform-macos, platform-web, platform-windows, p: url_launcher, federated: partial_changes

#5105 [Android] Introduces API 34 emulators for subset of tests
  .ci.yaml
  .ci/targets/android_platform_tests.yaml
  .ci/targets/android_platform_tests_api_33_avd.yaml
  script/configs/still_requires_api_33_avd.yaml
Labels: autosubmit

#5137 [webview_flutter_wkwebview] Only set `limitsNavigationsToAppBoundDomains` when it is set to true
  packages/webview_flutter/webview_flutter_wkwebview/CHANGELOG.md
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/webkit_webview_controller.dart
  packages/webview_flutter/webview_flutter_wkwebview/pubspec.yaml
  packages/webview_flutter/webview_flutter_wkwebview/test/webkit_webview_controller_test.dart
Labels: autosubmit, platform-ios, p: webview_flutter

#5217 [ci] Disable Windows Arm64 stable CI
  .ci.yaml
Labels: autosubmit

#5224 Update the ftl hardware version.
  .ci/targets/android_device_tests.yaml
Labels: autosubmit

#5219 Replace gems dependency with ruby.
  .ci.yaml
Labels: autosubmit

#5190 [ci] Enable legacy Android emulator tests
  .ci.yaml
Labels: autosubmit

#5218 [file_selector_android] Run tests on AVDs running Android 34
  script/configs/still_requires_api_33_avd.yaml
Labels: autosubmit

#4950 [camerax] Implement `setZoomLevel`
  packages/camera/camera_android_camerax/CHANGELOG.md
  packages/camera/camera_android_camerax/README.md
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/CameraControlHostApiImpl.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/GeneratedCameraXLibrary.java
  packages/camera/camera_android_camerax/android/src/test/java/io/flutter/plugins/camerax/CameraControlTest.java
  packages/camera/camera_android_camerax/example/lib/main.dart
  packages/camera/camera_android_camerax/lib/src/android_camera_camerax.dart
  packages/camera/camera_android_camerax/lib/src/camera_control.dart
  packages/camera/camera_android_camerax/lib/src/camerax_library.g.dart
  packages/camera/camera_android_camerax/pigeons/camerax_library.dart
  packages/camera/camera_android_camerax/pubspec.yaml
  packages/camera/camera_android_camerax/test/android_camera_camerax_test.dart
  packages/camera/camera_android_camerax/test/android_camera_camerax_test.mocks.dart
  packages/camera/camera_android_camerax/test/camera_control_test.dart
  packages/camera/camera_android_camerax/test/camera_control_test.mocks.dart
  packages/camera/camera_android_camerax/test/test_camerax_library.g.dart
Labels: autosubmit, p: camera, platform-android

#5232 [url_launcher] Fix launch mode types in new APIs
  packages/url_launcher/url_launcher/CHANGELOG.md
  packages/url_launcher/url_launcher/README.md
  packages/url_launcher/url_launcher/lib/src/url_launcher_uri.dart
  packages/url_launcher/url_launcher/pubspec.yaml
  packages/url_launcher/url_launcher/test/src/url_launcher_uri_test.dart
Labels: autosubmit, p: url_launcher

#5237 Roll Flutter from 5dd2a4e0aaef to c555599fbb4a (14 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#5215 [go_router_builder]Avoid losing NullabilitySuffix for typeArguments
  packages/go_router_builder/CHANGELOG.md
  packages/go_router_builder/lib/src/type_helpers.dart
  packages/go_router_builder/pubspec.yaml
  packages/go_router_builder/test_inputs/required_nullable_type_arguments_extra_value.dart
  packages/go_router_builder/test_inputs/required_nullable_type_arguments_extra_value.dart.expect
Labels: p: go_router_builder, autosubmit

#4753 [url_launcher] migrating objc plugin to swift
  packages/url_launcher/url_launcher_ios/CHANGELOG.md
  packages/url_launcher/url_launcher_ios/example/ios/Runner.xcodeproj/project.pbxproj
  packages/url_launcher/url_launcher_ios/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/url_launcher/url_launcher_ios/example/ios/RunnerTests/URLLauncherTests.swift
  packages/url_launcher/url_launcher_ios/ios/Classes/FLTURLLauncherPlugin.h
  packages/url_launcher/url_launcher_ios/ios/Classes/FLTURLLauncherPlugin.m
  packages/url_launcher/url_launcher_ios/ios/Classes/FLTURLLauncherPlugin_Test.h
  packages/url_launcher/url_launcher_ios/ios/Classes/FULLauncher.h
  packages/url_launcher/url_launcher_ios/ios/Classes/Launcher.swift
  packages/url_launcher/url_launcher_ios/ios/Classes/URLLaunchSession.swift
  packages/url_launcher/url_launcher_ios/ios/Classes/URLLauncherPlugin.swift
  packages/url_launcher/url_launcher_ios/ios/Classes/messages.g.h
  packages/url_launcher/url_launcher_ios/ios/Classes/messages.g.m
  packages/url_launcher/url_launcher_ios/ios/Classes/messages.g.swift
  packages/url_launcher/url_launcher_ios/ios/url_launcher_ios.podspec
  packages/url_launcher/url_launcher_ios/lib/src/messages.g.dart
  packages/url_launcher/url_launcher_ios/lib/url_launcher_ios.dart
  packages/url_launcher/url_launcher_ios/pigeons/messages.dart
  packages/url_launcher/url_launcher_ios/pubspec.yaml
  packages/url_launcher/url_launcher_ios/test/url_launcher_ios_test.dart
  packages/url_launcher/url_launcher_ios/test/url_launcher_ios_test.mocks.dart
Labels: autosubmit, platform-ios, p: url_launcher

#5238 Roll Flutter (stable) from 6c4930c4ac86 to d211f4286035 (1 revision)
  .ci/flutter_stable.version
Labels: autosubmit

#5039 [two_dimensional_scrollables] Add TableSpanPadding
  packages/two_dimensional_scrollables/CHANGELOG.md
  packages/two_dimensional_scrollables/lib/src/table_view/table.dart
  packages/two_dimensional_scrollables/lib/src/table_view/table_span.dart
  packages/two_dimensional_scrollables/pubspec.yaml
  packages/two_dimensional_scrollables/test/table_view/goldens/tableSpanDecoration.defaultMainAxis.png
  packages/two_dimensional_scrollables/test/table_view/table_test.dart
Labels: autosubmit, p: two_dimensional_scrollables

#5252 Roll Flutter from c555599fbb4a to 5907c9757e3f (45 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#5187 [two_dimensional_scrollables] Fix pinned row painting when one axis is reversed
  packages/two_dimensional_scrollables/CHANGELOG.md
  packages/two_dimensional_scrollables/lib/src/table_view/table.dart
  packages/two_dimensional_scrollables/test/table_view/goldens/single-reversed.pinned.painting.png
  packages/two_dimensional_scrollables/test/table_view/table_test.dart
Labels: autosubmit, override: no versioning needed, p: two_dimensional_scrollables

#5113 [go_router] Fixes deep-link with no path on cold start
  packages/go_router/CHANGELOG.md
  packages/go_router/lib/src/parser.dart
  packages/go_router/lib/src/router.dart
  packages/go_router/pubspec.yaml
  packages/go_router/test/go_router_test.dart
Labels: p: go_router, autosubmit

#5255 Roll Flutter from 5907c9757e3f to a4ec6278b1a4 (18 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#5260 [flutter_lints] Replace "flutter pub add --dev" with "dev:"
  packages/flutter_lints/CHANGELOG.md
  packages/flutter_lints/README.md
  packages/flutter_lints/pubspec.yaml
Labels: p: flutter_lints, autosubmit

#5214 [pigeon] Don't wrap non-nullable primitives in Obj-C
  packages/pigeon/CHANGELOG.md
  packages/pigeon/example/app/macos/Runner/messages.g.h
  packages/pigeon/example/app/macos/Runner/messages.g.m
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/lib/objc_generator.dart
  packages/pigeon/platform_tests/alternate_language_test_plugin/example/ios/RunnerTests/MultipleArityTest.m
  packages/pigeon/platform_tests/alternate_language_test_plugin/example/ios/RunnerTests/NullFieldsTest.m
  packages/pigeon/platform_tests/alternate_language_test_plugin/example/ios/RunnerTests/PrimitiveTest.m
  packages/pigeon/platform_tests/alternate_language_test_plugin/example/macos/Runner.xcodeproj/project.pbxproj
  packages/pigeon/platform_tests/alternate_language_test_plugin/example/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/AlternateLanguageTestPlugin.m
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/CoreTests.gen.h
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/CoreTests.gen.m
  packages/pigeon/platform_tests/alternate_language_test_plugin/macos/Classes/AlternateLanguageTestPlugin.m
  packages/pigeon/platform_tests/alternate_language_test_plugin/macos/Classes/CoreTests.gen.h
  packages/pigeon/platform_tests/alternate_language_test_plugin/macos/Classes/CoreTests.gen.m
  packages/pigeon/platform_tests/test_plugin/example/macos/Runner.xcodeproj/project.pbxproj
  packages/pigeon/platform_tests/test_plugin/example/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/pigeon/pubspec.yaml
  packages/pigeon/test/objc_generator_test.dart
Labels: p: pigeon, autosubmit, platform-ios, platform-macos

#5239 [camerax] Loosen restrictions of fallback strategies for choosing resolutions
  packages/camera/camera_android_camerax/CHANGELOG.md
  packages/camera/camera_android_camerax/lib/src/android_camera_camerax.dart
  packages/camera/camera_android_camerax/pubspec.yaml
  packages/camera/camera_android_camerax/test/android_camera_camerax_test.dart
Labels: autosubmit, p: camera

#5267 Roll Flutter from a4ec6278b1a4 to e12d1a798c49 (3 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#5120 [in_app_purchase_android] Add missing response code to BillingResponse enum
  packages/in_app_purchase/in_app_purchase_android/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_android/lib/src/billing_client_wrappers/billing_client_wrapper.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/billing_client_wrappers/billing_client_wrapper.g.dart
  packages/in_app_purchase/in_app_purchase_android/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_android/test/billing_client_wrappers/billing_client_wrapper_test.dart
Labels: autosubmit, p: in_app_purchase, platform-android

#5272 [image_picker] Prevent multiple active calls on iOS
  packages/image_picker/image_picker_ios/CHANGELOG.md
  packages/image_picker/image_picker_ios/example/ios/RunnerTests/ImagePickerPluginTests.m
  packages/image_picker/image_picker_ios/ios/Classes/FLTImagePickerPlugin.m
  packages/image_picker/image_picker_ios/pubspec.yaml
Labels: autosubmit, p: image_picker, platform-ios

#5266 [image_picker] Update iOS to Pigeon 13
  packages/image_picker/image_picker_ios/CHANGELOG.md
  packages/image_picker/image_picker_ios/example/ios/RunnerTests/ImagePickerPluginTests.m
  packages/image_picker/image_picker_ios/ios/Classes/FLTImagePickerPlugin.m
  packages/image_picker/image_picker_ios/ios/Classes/messages.g.h
  packages/image_picker/image_picker_ios/ios/Classes/messages.g.m
  packages/image_picker/image_picker_ios/lib/src/messages.g.dart
  packages/image_picker/image_picker_ios/pigeons/messages.dart
  packages/image_picker/image_picker_ios/pubspec.yaml
  packages/image_picker/image_picker_ios/test/test_api.g.dart
Labels: autosubmit, p: image_picker, platform-ios

#5274 [video_player] Update example app to replace `ButtonBar` with `OverflowBar`
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/example/lib/main.dart
  packages/video_player/video_player/pubspec.yaml
Labels: autosubmit, p: video_player

#5270 [video_player] Update iOS/macOS to Pigeon 13
  packages/video_player/video_player_avfoundation/CHANGELOG.md
  packages/video_player/video_player_avfoundation/darwin/Classes/FVPVideoPlayerPlugin.m
  packages/video_player/video_player_avfoundation/darwin/Classes/messages.g.h
  packages/video_player/video_player_avfoundation/darwin/Classes/messages.g.m
  packages/video_player/video_player_avfoundation/darwin/RunnerTests/VideoPlayerTests.m
  packages/video_player/video_player_avfoundation/lib/src/messages.g.dart
  packages/video_player/video_player_avfoundation/pigeons/messages.dart
  packages/video_player/video_player_avfoundation/pubspec.yaml
  packages/video_player/video_player_avfoundation/test/test_api.g.dart
Labels: autosubmit, p: video_player

#5010 [tool] Add option for Android compile SDK version to update-dependencies command
  script/tool/lib/src/common/repository_package.dart
  script/tool/lib/src/update_dependency_command.dart
  script/tool/test/common/repository_package_test.dart
  script/tool/test/update_dependency_command_test.dart
Labels: autosubmit

#5261 [camera_avfoundation] 🐛 Fix inverted orientation strings
  packages/camera/camera_avfoundation/CHANGELOG.md
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraOrientationTests.m
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraPropertiesTests.m
  packages/camera/camera_avfoundation/ios/Classes/CameraProperties.m
  packages/camera/camera_avfoundation/pubspec.yaml
Labels: autosubmit, p: camera, platform-ios
