Repository flutter/packages, pull requests merged in 2023-11, with the labels that each got.

#5268 [file_selector] Updates iOS to Pigeon 13
  packages/file_selector/file_selector_ios/CHANGELOG.md
  packages/file_selector/file_selector_ios/example/ios/RunnerTests/FileSelectorTests.m
  packages/file_selector/file_selector_ios/ios/Classes/FFSFileSelectorPlugin.m
  packages/file_selector/file_selector_ios/ios/Classes/messages.g.h
  packages/file_selector/file_selector_ios/ios/Classes/messages.g.m
  packages/file_selector/file_selector_ios/lib/src/messages.g.dart
  packages/file_selector/file_selector_ios/pubspec.yaml
  packages/file_selector/file_selector_ios/test/test_api.g.dart
Labels: autosubmit, p: file_selector, platform-ios

#5269 [local_auth] Update iOS to Pigeon 13
  packages/local_auth/local_auth_ios/CHANGELOG.md
  packages/local_auth/local_auth_ios/example/ios/RunnerTests/FLTLocalAuthPluginTests.m
  packages/local_auth/local_auth_ios/ios/Classes/FLTLocalAuthPlugin.m
  packages/local_auth/local_auth_ios/ios/Classes/messages.g.h
  packages/local_auth/local_auth_ios/ios/Classes/messages.g.m
  packages/local_auth/local_auth_ios/lib/src/messages.g.dart
  packages/local_auth/local_auth_ios/pubspec.yaml
Labels: autosubmit, p: local_auth, platform-ios

#5289 [video_player_web] Listen to loadedmetadata event from video element.
  packages/video_player/video_player_web/CHANGELOG.md
  packages/video_player/video_player_web/example/integration_test/video_player_test.dart
  packages/video_player/video_player_web/lib/src/video_player.dart
  packages/video_player/video_player_web/lib/video_player_web.dart
  packages/video_player/video_player_web/pubspec.yaml
Labels: autosubmit, platform-web, p: video_player

#5225 [google_sign_in] Enable FedCM for web. Use token expiration.
  packages/google_sign_in/google_sign_in_web/CHANGELOG.md
  packages/google_sign_in/google_sign_in_web/example/integration_test/src/jwt_examples.dart
  packages/google_sign_in/google_sign_in_web/example/integration_test/utils_test.dart
  packages/google_sign_in/google_sign_in_web/lib/src/gis_client.dart
  packages/google_sign_in/google_sign_in_web/lib/src/utils.dart
  packages/google_sign_in/google_sign_in_web/pubspec.yaml
Labels: autosubmit, p: google_sign_in, platform-web

#5298 [flutter_image] [flutter_markdown] Do not use dynamic in an == operator override
  packages/flutter_image/lib/network.dart
  packages/flutter_markdown/lib/src/style_sheet.dart
Labels: p: flutter_markdown, p: flutter_image, override: no versioning needed, override: no changelog needed

#5305 Fix mounted checks
  packages/webview_flutter/webview_flutter/CHANGELOG.md
  packages/webview_flutter/webview_flutter/example/lib/main.dart
  packages/webview_flutter/webview_flutter/pubspec.yaml
  packages/webview_flutter/webview_flutter_android/CHANGELOG.md
  packages/webview_flutter/webview_flutter_android/example/lib/main.dart
  packages/webview_flutter/webview_flutter_android/pubspec.yaml
  packages/webview_flutter/webview_flutter_wkwebview/CHANGELOG.md
  packages/webview_flutter/webview_flutter_wkwebview/example/lib/main.dart
  packages/webview_flutter/webview_flutter_wkwebview/pubspec.yaml
Labels: autosubmit, platform-android, platform-ios, p: webview_flutter

#5310 [google_sign_in] Fix Obj-C formatting bug
  packages/google_sign_in/google_sign_in_ios/ios/Classes/FLTGoogleSignInPlugin.m
Labels: autosubmit, override: no versioning needed, override: no changelog needed, p: google_sign_in, platform-ios

#5258 [go_router]Fixes the problem what pathParameters is null in redirect when the Router is recreated.
  packages/go_router/CHANGELOG.md
  packages/go_router/lib/src/configuration.dart
  packages/go_router/pubspec.yaml
  packages/go_router/test/go_router_test.dart
Labels: p: go_router, autosubmit

#5287 [camerax] Fix `_getResolutionSelectorFromPreset` NPE
  packages/camera/camera_android_camerax/CHANGELOG.md
  packages/camera/camera_android_camerax/lib/src/android_camera_camerax.dart
  packages/camera/camera_android_camerax/pubspec.yaml
Labels: autosubmit, p: camera

#5242 [go_router] Fixes crashes when dynamically updates routing tables wit…
  packages/go_router/CHANGELOG.md
  packages/go_router/example/lib/routing_config.dart
  packages/go_router/lib/src/configuration.dart
  packages/go_router/pubspec.yaml
  packages/go_router/test/routing_config_test.dart
Labels: p: go_router, autosubmit

#5288 [go_router] Adds an ability to add a custom codec for serializing/des…
  packages/go_router/CHANGELOG.md
  packages/go_router/doc/navigation.md
  packages/go_router/example/README.md
  packages/go_router/example/ios/Runner.xcodeproj/project.pbxproj
  packages/go_router/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/go_router/example/lib/extra_codec.dart
  packages/go_router/example/test/extra_codec_test.dart
  packages/go_router/lib/src/configuration.dart
  packages/go_router/lib/src/logging.dart
  packages/go_router/lib/src/match.dart
  packages/go_router/lib/src/router.dart
  packages/go_router/pubspec.yaml
  packages/go_router/test/extra_codec_test.dart
  packages/go_router/test/test_helpers.dart
Labels: p: go_router, autosubmit, platform-ios

#5184 [two_dimensional_scrollables] Add borderRadius support to TableSpanDecoration
  packages/two_dimensional_scrollables/CHANGELOG.md
  packages/two_dimensional_scrollables/lib/src/table_view/table_span.dart
  packages/two_dimensional_scrollables/test/table_view/goldens/tableSpanDecoration.defaultMainAxis.png
  packages/two_dimensional_scrollables/test/table_view/table_span_test.dart
  packages/two_dimensional_scrollables/test/table_view/table_test.dart
Labels: autosubmit, override: no versioning needed, p: two_dimensional_scrollables

#5294 [flutter_markdown] Strip leading whitespace from list items
  packages/flutter_markdown/CHANGELOG.md
  packages/flutter_markdown/lib/src/builder.dart
  packages/flutter_markdown/pubspec.yaml
  packages/flutter_markdown/test/list_test.dart
Labels: p: flutter_markdown, autosubmit

#5341 Roll Flutter from 29b25165cab8 to f5a983535131 (101 revisions)
  .ci/flutter_master.version
  packages/google_maps_flutter/google_maps_flutter/example/integration_test/src/maps_controller.dart
Labels: autosubmit, p: google_maps_flutter

#5240 [google_sign_in_ios] Upgrade GoogleSignIn iOS SDK to 7.0
  packages/google_sign_in/google_sign_in/CHANGELOG.md
  packages/google_sign_in/google_sign_in/README.md
  packages/google_sign_in/google_sign_in/example/ios/Runner.xcodeproj/project.pbxproj
  packages/google_sign_in/google_sign_in/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/google_sign_in/google_sign_in/example/ios/Runner/Info.plist
  packages/google_sign_in/google_sign_in/pubspec.yaml
  packages/google_sign_in/google_sign_in/test/google_sign_in_test.dart
  packages/google_sign_in/google_sign_in_ios/CHANGELOG.md
  packages/google_sign_in/google_sign_in_ios/README.md
  packages/google_sign_in/google_sign_in_ios/example/ios/Runner.xcodeproj/project.pbxproj
  packages/google_sign_in/google_sign_in_ios/example/ios/Runner/GoogleService-Info.plist
  packages/google_sign_in/google_sign_in_ios/example/ios/Runner/Info.plist
  packages/google_sign_in/google_sign_in_ios/example/ios/RunnerTests/GoogleService-Info.plist
  packages/google_sign_in/google_sign_in_ios/example/ios/RunnerTests/GoogleSignInTests.m
  packages/google_sign_in/google_sign_in_ios/ios/Classes/FLTGoogleSignInPlugin.h
  packages/google_sign_in/google_sign_in_ios/ios/Classes/FLTGoogleSignInPlugin.m
  packages/google_sign_in/google_sign_in_ios/ios/Classes/FLTGoogleSignInPlugin_Test.h
  packages/google_sign_in/google_sign_in_ios/ios/Classes/messages.g.h
  packages/google_sign_in/google_sign_in_ios/ios/Classes/messages.g.m
  packages/google_sign_in/google_sign_in_ios/ios/google_sign_in_ios.podspec
  packages/google_sign_in/google_sign_in_ios/lib/google_sign_in_ios.dart
  packages/google_sign_in/google_sign_in_ios/lib/src/messages.g.dart
  packages/google_sign_in/google_sign_in_ios/pigeons/messages.dart
  packages/google_sign_in/google_sign_in_ios/pubspec.yaml
  packages/google_sign_in/google_sign_in_ios/test/google_sign_in_ios_test.dart
Labels: autosubmit, p: google_sign_in, platform-ios

#5345 Roll Flutter from f5a983535131 to 5a6a3224fe15 (15 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#5241 [repo] Adjust error message layout for repo checks
  script/tool/lib/src/version_check_command.dart
  script/tool/test/version_check_command_test.dart
Labels: autosubmit

#5271 [webview_flutter] Update iOS to Pigeon 13
  packages/webview_flutter/webview_flutter_wkwebview/CHANGELOG.md
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/RunnerTests/FWFDataConvertersTests.m
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/RunnerTests/FWFHTTPCookieStoreHostApiTests.m
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/RunnerTests/FWFNavigationDelegateHostApiTests.m
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/RunnerTests/FWFObjectHostApiTests.m
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/RunnerTests/FWFPreferencesHostApiTests.m
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/RunnerTests/FWFScriptMessageHandlerHostApiTests.m
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/RunnerTests/FWFScrollViewHostApiTests.m
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/RunnerTests/FWFUIDelegateHostApiTests.m
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/RunnerTests/FWFUIViewHostApiTests.m
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/RunnerTests/FWFURLTests.m
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/RunnerTests/FWFUserContentControllerHostApiTests.m
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/RunnerTests/FWFWebViewConfigurationHostApiTests.m
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/RunnerTests/FWFWebViewHostApiTests.m
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/RunnerTests/FWFWebsiteDataStoreHostApiTests.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FLTWebViewFlutterPlugin.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFDataConverters.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFGeneratedWebKitApis.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFGeneratedWebKitApis.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFHTTPCookieStoreHostApi.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFInstanceManager.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFInstanceManager_Test.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFNavigationDelegateHostApi.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFObjectHostApi.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFPreferencesHostApi.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFScriptMessageHandlerHostApi.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFScrollViewHostApi.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFUIDelegateHostApi.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFUIViewHostApi.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFURLHostApi.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFUserContentControllerHostApi.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFWebViewConfigurationHostApi.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFWebViewHostApi.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFWebsiteDataStoreHostApi.m
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/common/web_kit.g.dart
  packages/webview_flutter/webview_flutter_wkwebview/pubspec.yaml
  packages/webview_flutter/webview_flutter_wkwebview/test/src/common/test_web_kit.g.dart
Labels: autosubmit, platform-ios, p: webview_flutter

#5291 [pointer_interceptor] Move pointer_interceptor to sub folder
  packages/pointer_interceptor/pointer_interceptor/.gitignore
  packages/pointer_interceptor/pointer_interceptor/.metadata
  packages/pointer_interceptor/pointer_interceptor/AUTHORS
  packages/pointer_interceptor/pointer_interceptor/CHANGELOG.md
  packages/pointer_interceptor/pointer_interceptor/LICENSE
  packages/pointer_interceptor/pointer_interceptor/README.md
  packages/pointer_interceptor/pointer_interceptor/doc/img/affected-areas.png
  packages/pointer_interceptor/pointer_interceptor/doc/img/fixed-areas.png
  packages/pointer_interceptor/pointer_interceptor/example/.gitignore
  packages/pointer_interceptor/pointer_interceptor/example/.metadata
  packages/pointer_interceptor/pointer_interceptor/example/README.md
  packages/pointer_interceptor/pointer_interceptor/example/integration_test/widget_test.dart
  packages/pointer_interceptor/pointer_interceptor/example/lib/main.dart
  packages/pointer_interceptor/pointer_interceptor/example/pubspec.yaml
  packages/pointer_interceptor/pointer_interceptor/example/test_driver/integration_test.dart
  packages/pointer_interceptor/pointer_interceptor/example/web/favicon.png
  packages/pointer_interceptor/pointer_interceptor/example/web/icons/Icon-192.png
  packages/pointer_interceptor/pointer_interceptor/example/web/icons/Icon-512.png
  packages/pointer_interceptor/pointer_interceptor/example/web/index.html
  packages/pointer_interceptor/pointer_interceptor/example/web/manifest.json
  packages/pointer_interceptor/pointer_interceptor/lib/pointer_interceptor.dart
  packages/pointer_interceptor/pointer_interceptor/lib/src/mobile.dart
  packages/pointer_interceptor/pointer_interceptor/lib/src/web.dart
  packages/pointer_interceptor/pointer_interceptor/pubspec.yaml
  packages/pointer_interceptor/pointer_interceptor/test/README.md
  packages/pointer_interceptor/pointer_interceptor/test/tests_exist_elsewhere_test.dart
Labels: p: pointer_interceptor, autosubmit, platform-web

#5354 Roll Flutter from 5a6a3224fe15 to 4b4a1feb46d1 (21 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#5356 Use specific version of mac_toolchain
  .ci.yaml
Labels: autosubmit

#5276 [go_router] Retain query parameter during refresh and first redirect
  packages/go_router/CHANGELOG.md
  packages/go_router/lib/src/router.dart
  packages/go_router/pubspec.yaml
  packages/go_router/test/go_router_test.dart
Labels: p: go_router, autosubmit

#5361 Roll Flutter from 4b4a1feb46d1 to f66215027e14 (17 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#5369 Only run tests on macOS 12
  .ci.yaml
Labels: autosubmit

#5374 [tool] Add Kotlin autoformatting
  .ci.yaml
  packages/animations/example/android/app/src/main/kotlin/dev/flutter/packages/animations/example/MainActivity.kt
  packages/dynamic_layouts/example/android/app/src/main/kotlin/com/example/example/MainActivity.kt
  packages/file_selector/file_selector/example/android/app/src/main/kotlin/dev/flutter/plugins/file_selector_example/MainActivity.kt
  packages/flutter_adaptive_scaffold/example/android/app/src/main/kotlin/dev/flutter/example/MainActivity.kt
  packages/flutter_image/example/android/app/src/main/kotlin/com/example/example/MainActivity.kt
  packages/flutter_markdown/example/android/app/src/main/kotlin/io/flutter/packages/flutter_markdown_example/MainActivity.kt
  packages/go_router/example/android/app/src/main/kotlin/com/example/example/MainActivity.kt
  packages/palette_generator/example/android/app/src/main/kotlin/io/flutter/packages/palettegenerator/example/MainActivity.kt
  packages/pigeon/example/README.md
  packages/pigeon/example/app/android/app/src/main/kotlin/dev/flutter/pigeon_example_app/MainActivity.kt
  packages/pigeon/example/app/android/app/src/main/kotlin/dev/flutter/pigeon_example_app/Messages.g.kt
  packages/pigeon/platform_tests/test_plugin/android/src/main/kotlin/com/example/test_plugin/CoreTests.gen.kt
  packages/pigeon/platform_tests/test_plugin/android/src/main/kotlin/com/example/test_plugin/TestPlugin.kt
  packages/pigeon/platform_tests/test_plugin/android/src/test/kotlin/com/example/test_plugin/AllDatatypesTest.kt
  packages/pigeon/platform_tests/test_plugin/android/src/test/kotlin/com/example/test_plugin/AsyncHandlersTest.kt
  packages/pigeon/platform_tests/test_plugin/android/src/test/kotlin/com/example/test_plugin/EchoBinaryMessenger.kt
  packages/pigeon/platform_tests/test_plugin/android/src/test/kotlin/com/example/test_plugin/EnumTest.kt
  packages/pigeon/platform_tests/test_plugin/android/src/test/kotlin/com/example/test_plugin/ListTest.kt
  packages/pigeon/platform_tests/test_plugin/android/src/test/kotlin/com/example/test_plugin/MultipleArityTests.kt
  packages/pigeon/platform_tests/test_plugin/android/src/test/kotlin/com/example/test_plugin/NonNullFieldsTests.kt
  packages/pigeon/platform_tests/test_plugin/android/src/test/kotlin/com/example/test_plugin/NullableReturnsTest.kt
  packages/pigeon/platform_tests/test_plugin/android/src/test/kotlin/com/example/test_plugin/PrimitiveTest.kt
  packages/pigeon/platform_tests/test_plugin/example/android/app/src/main/kotlin/com/example/test_plugin_example/MainActivity.kt
  packages/platform/example/android/app/src/main/kotlin/dev/flutter/plaform_example/MainActivity.kt
  packages/rfw/example/hello/android/app/src/main/kotlin/dev/flutter/rfw/examples/hello/MainActivity.kt
  packages/rfw/example/local/android/app/src/main/kotlin/dev/flutter/rfw/examples/local/MainActivity.kt
  packages/rfw/example/remote/android/app/src/main/kotlin/dev/flutter/rfw/examples/remote/MainActivity.kt
  packages/two_dimensional_scrollables/example/android/app/src/main/kotlin/com/example/example/MainActivity.kt
  script/tool/lib/src/format_command.dart
  script/tool/test/format_command_test.dart
Labels: p: palette_generator, p: pigeon, p: flutter_markdown, p: flutter_image, p: rfw, p: go_router, p: animations, autosubmit, override: no versioning needed, override: no changelog needed, p: dynamic_layouts, p: flutter_adaptive_scaffold, p: file_selector, platform-android

#5375 [pigeon] Remove semicolons from Kotlin generation
  packages/pigeon/CHANGELOG.md
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/lib/kotlin_generator.dart
  packages/pigeon/pubspec.yaml
  packages/pigeon/test/kotlin_generator_test.dart
Labels: p: pigeon, autosubmit

#5399 Roll Flutter from f66215027e14 to e8c2bb135659 (66 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#5348 [in_app_purchase] add storefront in skpaymentqueuewrapper
  packages/in_app_purchase/in_app_purchase_storekit/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_storekit/darwin/Classes/FIAPaymentQueueHandler.h
  packages/in_app_purchase/in_app_purchase_storekit/darwin/Classes/FIAPaymentQueueHandler.m
  packages/in_app_purchase/in_app_purchase_storekit/darwin/Classes/InAppPurchasePlugin.m
  packages/in_app_purchase/in_app_purchase_storekit/example/shared/RunnerTests/InAppPurchasePluginTests.m
  packages/in_app_purchase/in_app_purchase_storekit/lib/src/store_kit_wrappers/sk_payment_queue_wrapper.dart
  packages/in_app_purchase/in_app_purchase_storekit/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_storekit/test/store_kit_wrappers/sk_methodchannel_apis_test.dart
Labels: autosubmit, p: in_app_purchase, platform-ios

#5409 Manual roll Flutter (stable) from d211f4286035 to db7ef5bf9f59 (1539 revisions)
  .ci/flutter_stable.version
Labels: autosubmit

#5410 [script] use dart:io support for forwarding stdout/stderr
  script/tool/lib/src/common/process_runner.dart
Labels: autosubmit

#5412 Roll Flutter from e8c2bb135659 to 53a57adcf136 (39 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#5078 [video_player] Improve macOS frame management
  packages/video_player/video_player_avfoundation/CHANGELOG.md
  packages/video_player/video_player_avfoundation/darwin/Classes/FVPDisplayLink.h
  packages/video_player/video_player_avfoundation/darwin/Classes/FVPVideoPlayerPlugin.m
  packages/video_player/video_player_avfoundation/darwin/Classes/FVPVideoPlayerPlugin_Test.h
  packages/video_player/video_player_avfoundation/darwin/Classes/ios/FVPDisplayLink.m
  packages/video_player/video_player_avfoundation/darwin/Classes/macos/FVPDisplayLink.m
  packages/video_player/video_player_avfoundation/darwin/RunnerTests/VideoPlayerTests.m
  packages/video_player/video_player_avfoundation/darwin/video_player_avfoundation.podspec
  packages/video_player/video_player_avfoundation/example/ios/Podfile
  packages/video_player/video_player_avfoundation/example/macos/Runner.xcodeproj/project.pbxproj
  packages/video_player/video_player_avfoundation/pubspec.yaml
Labels: autosubmit, platform-ios, platform-macos, p: video_player

#5413 [file_selector_web] migrate to pkg:web
  packages/file_selector/file_selector_web/CHANGELOG.md
  packages/file_selector/file_selector_web/example/integration_test/dom_helper_test.dart
  packages/file_selector/file_selector_web/example/integration_test/file_selector_web_test.dart
  packages/file_selector/file_selector_web/example/pubspec.yaml
  packages/file_selector/file_selector_web/lib/src/dom_helper.dart
  packages/file_selector/file_selector_web/pubspec.yaml
  script/configs/allowed_unpinned_deps.yaml
  script/tool/lib/src/common/core.dart
Labels: autosubmit, p: file_selector, platform-web

#5416 Update release step to 3.16
  .github/workflows/release.yml
Labels: autosubmit

#5418 [pigeon] Adds `analyzer` 6.x compatibility
  packages/pigeon/CHANGELOG.md
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/pubspec.yaml
Labels: p: pigeon, autosubmit

#5421 [go_router] Fixes use of `Iterable`
  packages/go_router/CHANGELOG.md
  packages/go_router/example/pubspec.yaml
  packages/go_router/lib/src/delegate.dart
  packages/go_router/pubspec.yaml
Labels: p: go_router, autosubmit

#5420 [plugin_platform_interface] Switch mixin to `mixin class`
  packages/plugin_platform_interface/CHANGELOG.md
  packages/plugin_platform_interface/lib/plugin_platform_interface.dart
  packages/plugin_platform_interface/pubspec.yaml
Labels: autosubmit, p: plugin_platform_interface

#5355 [pigeon] isEnum, isClass, fix swift casting, default values, optional method arguments, named method arguments
  packages/pigeon/CHANGELOG.md
  packages/pigeon/example/app/lib/src/messages.g.dart
  packages/pigeon/lib/ast.dart
  packages/pigeon/lib/ast_generator.dart
  packages/pigeon/lib/cpp_generator.dart
  packages/pigeon/lib/dart_generator.dart
  packages/pigeon/lib/generator.dart
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/lib/java_generator.dart
  packages/pigeon/lib/kotlin_generator.dart
  packages/pigeon/lib/objc_generator.dart
  packages/pigeon/lib/pigeon_lib.dart
  packages/pigeon/lib/swift_generator.dart
  packages/pigeon/pigeons/core_tests.dart
  packages/pigeon/platform_tests/alternate_language_test_plugin/android/src/main/java/com/example/alternate_language_test_plugin/AlternateLanguageTestPlugin.java
  packages/pigeon/platform_tests/alternate_language_test_plugin/android/src/main/java/com/example/alternate_language_test_plugin/CoreTests.java
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/AlternateLanguageTestPlugin.m
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/CoreTests.gen.h
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/CoreTests.gen.m
  packages/pigeon/platform_tests/alternate_language_test_plugin/macos/Classes/AlternateLanguageTestPlugin.m
  packages/pigeon/platform_tests/alternate_language_test_plugin/macos/Classes/CoreTests.gen.h
  packages/pigeon/platform_tests/alternate_language_test_plugin/macos/Classes/CoreTests.gen.m
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/integration_tests.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/background_platform_channels.gen.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/core_tests.gen.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/enum.gen.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/flutter_unittests.gen.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/message.gen.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/multiple_arity.gen.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/non_null_fields.gen.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/null_fields.gen.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/nullable_returns.gen.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/primitive.gen.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/test/multiple_arity_test.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/test/null_safe_test.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/test/primitive_test.dart
  packages/pigeon/platform_tests/test_plugin/android/src/main/kotlin/com/example/test_plugin/CoreTests.gen.kt
  packages/pigeon/platform_tests/test_plugin/android/src/main/kotlin/com/example/test_plugin/TestPlugin.kt
  packages/pigeon/platform_tests/test_plugin/ios/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/ios/Classes/TestPlugin.swift
  packages/pigeon/platform_tests/test_plugin/macos/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/macos/Classes/TestPlugin.swift
  packages/pigeon/platform_tests/test_plugin/windows/pigeon/core_tests.gen.cpp
  packages/pigeon/platform_tests/test_plugin/windows/pigeon/core_tests.gen.h
  packages/pigeon/platform_tests/test_plugin/windows/test_plugin.cpp
  packages/pigeon/platform_tests/test_plugin/windows/test_plugin.h
  packages/pigeon/pubspec.yaml
  packages/pigeon/test/ast_generator_test.dart
  packages/pigeon/test/cpp_generator_test.dart
  packages/pigeon/test/dart_generator_test.dart
  packages/pigeon/test/generator_tools_test.dart
  packages/pigeon/test/java_generator_test.dart
  packages/pigeon/test/kotlin_generator_test.dart
  packages/pigeon/test/objc_generator_test.dart
  packages/pigeon/test/pigeon_lib_test.dart
  packages/pigeon/test/swift_generator_test.dart
Labels: p: pigeon, autosubmit, platform-android, platform-ios, platform-macos, platform-windows

#5222 [path_provider_android] Run tests on AVDs running Android 34
  script/configs/still_requires_api_33_avd.yaml
Labels: autosubmit

#5414 [shared_preferences_web] migrate to pkg:web
  packages/shared_preferences/shared_preferences_web/CHANGELOG.md
  packages/shared_preferences/shared_preferences_web/example/integration_test/shared_preferences_web_test.dart
  packages/shared_preferences/shared_preferences_web/example/pubspec.yaml
  packages/shared_preferences/shared_preferences_web/lib/shared_preferences_web.dart
  packages/shared_preferences/shared_preferences_web/lib/src/keys_extension.dart
  packages/shared_preferences/shared_preferences_web/pubspec.yaml
Labels: autosubmit, platform-web, p: shared_preferences

#5426 Roll Flutter from 53a57adcf136 to 6cf9ab02baec (31 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#5362 [webview_flutter] Support for handling basic authentication requests (Platform Interface)
  packages/webview_flutter/webview_flutter_platform_interface/CHANGELOG.md
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/platform_navigation_delegate.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/platform_webview_controller.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/types/http_auth_request.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/types/types.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/types/webview_credential.dart
  packages/webview_flutter/webview_flutter_platform_interface/pubspec.yaml
  packages/webview_flutter/webview_flutter_platform_interface/test/platform_navigation_delegate_test.dart
  packages/webview_flutter/webview_flutter_platform_interface/test/platform_webview_controller_test.mocks.dart
Labels: warning: land on red to fix tree breakage, autosubmit, p: webview_flutter

#5452 Update CODEOWNERS
  CODEOWNERS
Labels: autosubmit

#5453 Manual roll Flutter from 6cf9ab02baec to 9c9e0617b149 (15 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#5451 [url_launcher_web] migrate to pkg:web
  packages/url_launcher/url_launcher_web/CHANGELOG.md
  packages/url_launcher/url_launcher_web/example/build.yaml
  packages/url_launcher/url_launcher_web/example/integration_test/link_widget_test.dart
  packages/url_launcher/url_launcher_web/example/integration_test/url_launcher_web_test.dart
  packages/url_launcher/url_launcher_web/example/integration_test/url_launcher_web_test.mocks.dart
  packages/url_launcher/url_launcher_web/example/pubspec.yaml
  packages/url_launcher/url_launcher_web/lib/src/link.dart
  packages/url_launcher/url_launcher_web/lib/url_launcher_web.dart
  packages/url_launcher/url_launcher_web/pubspec.yaml
Labels: autosubmit, platform-web, p: url_launcher

#5347 [cross_file] adopt code excerpts in README
  packages/cross_file/CHANGELOG.md
  packages/cross_file/README.md
  packages/cross_file/example/assets/hello.txt
  packages/cross_file/example/lib/readme_excerpts.dart
  packages/cross_file/example/pubspec.yaml
  packages/cross_file/example/test/readme_excerpts_test.dart
  packages/cross_file/pubspec.yaml
  script/configs/temp_exclude_excerpt.yaml
Labels: p: cross_file, autosubmit

#5466 Manual roll Flutter from ab721f935ffc to 14549b38891f (20 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#5470 Manual roll Flutter from 14549b38891f to 106667eb4bc1 (3 revisions)
  .ci/flutter_master.version
Labels: warning: land on red to fix tree breakage

#5474 Roll Flutter from 106667eb4bc1 to cf05f3c46485 (10 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#5423 [camerax] Adds proxy class for testing detached/mock objects and method calls
  packages/camera/camera_android_camerax/CHANGELOG.md
  packages/camera/camera_android_camerax/lib/src/android_camera_camerax.dart
  packages/camera/camera_android_camerax/lib/src/camerax_proxy.dart
  packages/camera/camera_android_camerax/pubspec.yaml
  packages/camera/camera_android_camerax/test/android_camera_camerax_test.dart
  packages/camera/camera_android_camerax/test/android_camera_camerax_test.mocks.dart
Labels: autosubmit, p: camera

#5477 Roll Flutter from cf05f3c46485 to b5f163a6f276 (3 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#5220 [quick_actions_android] Run tests on AVDs running Android 34
  script/configs/still_requires_api_33_avd.yaml
Labels: autosubmit

#5495 Manual roll Flutter from b5f163a6f276 to 6bf3ccd47d5d (20 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#5326 [flutter image] Changed image link to use image within package
  packages/flutter_image/CHANGELOG.md
  packages/flutter_image/example/lib/main.dart
  packages/flutter_image/pubspec.yaml
Labels: p: flutter_image, autosubmit

#5471 [rfw, flutter_markdown] Prepare for removing dart:ui imports.
  packages/flutter_markdown/CHANGELOG.md
  packages/flutter_markdown/lib/src/builder.dart
  packages/rfw/CHANGELOG.md
  packages/rfw/lib/src/flutter/argument_decoders.dart
  packages/rfw/lib/src/flutter/core_widgets.dart
Labels: p: flutter_markdown, p: rfw, autosubmit, override: no versioning needed

#5408 Fix Google Maps rendering issues in TLHC mode when using LATEST renderer
  packages/google_maps_flutter/google_maps_flutter_android/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_android/README.md
  packages/google_maps_flutter/google_maps_flutter_android/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapController.java
  packages/google_maps_flutter/google_maps_flutter_android/android/src/test/java/io/flutter/plugins/googlemaps/GoogleMapControllerTest.java
  packages/google_maps_flutter/google_maps_flutter_android/example/lib/readme_excerpts.dart
  packages/google_maps_flutter/google_maps_flutter_android/lib/src/google_maps_flutter_android.dart
  packages/google_maps_flutter/google_maps_flutter_android/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_android/test/google_maps_flutter_android_test.dart
Labels: p: google_maps_flutter, platform-android

#5519 Roll Flutter from 6bf3ccd47d5d to 5e5b5292f739 (58 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#5499 [pointer_interceptor] Add platform interface
  packages/pointer_interceptor/pointer_interceptor_platform_interface/AUTHORS
  packages/pointer_interceptor/pointer_interceptor_platform_interface/CHANGELOG.md
  packages/pointer_interceptor/pointer_interceptor_platform_interface/LICENSE
  packages/pointer_interceptor/pointer_interceptor_platform_interface/README.md
  packages/pointer_interceptor/pointer_interceptor_platform_interface/lib/pointer_interceptor_platform_interface.dart
  packages/pointer_interceptor/pointer_interceptor_platform_interface/lib/src/default_pointer_interceptor.dart
  packages/pointer_interceptor/pointer_interceptor_platform_interface/lib/src/pointer_interceptor_platform.dart
  packages/pointer_interceptor/pointer_interceptor_platform_interface/pubspec.yaml
  packages/pointer_interceptor/pointer_interceptor_platform_interface/test/default_pointer_interceptor_test.dart
  packages/pointer_interceptor/pointer_interceptor_platform_interface/test/pointer_interceptor_platform_test.dart
Labels: p: pointer_interceptor, autosubmit

#5526 Roll Flutter from 5e5b5292f739 to 918e336014e1 (14 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#5520 [cross_file] Migrate to pkg:web, bump min SDK to Dart 3.2
  packages/cross_file/CHANGELOG.md
  packages/cross_file/example/test/readme_excerpts_test.dart
  packages/cross_file/lib/src/types/html.dart
  packages/cross_file/lib/src/types/io.dart
  packages/cross_file/lib/src/web_helpers/web_helpers.dart
  packages/cross_file/lib/src/x_file.dart
  packages/cross_file/pubspec.yaml
  packages/cross_file/test/x_file_html_test.dart
Labels: p: cross_file, autosubmit
