Repository flutter/packages, pull requests merged in 2024-05, with the labels that each got.

#6633 Roll Flutter from b597dd24cb97 to d33bb8fa5eb8 (7 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6335 [webview_flutter_android] Fixes iframe navigation with `onNavigationRequest`
  packages/webview_flutter/webview_flutter_android/CHANGELOG.md
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebViewClientHostApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/WebViewClientCompatImplTest.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/WebViewClientImplTest.java
  packages/webview_flutter/webview_flutter_android/example/lib/main.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview_controller.dart
  packages/webview_flutter/webview_flutter_android/pubspec.yaml
  packages/webview_flutter/webview_flutter_android/test/android_navigation_delegate_test.dart
Labels: autosubmit, platform-android, p: webview_flutter

#6637 Roll Flutter from d33bb8fa5eb8 to bf7191fd3884 (34 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6635 Skip podspec Swift Search Path validation if only swift file is Package.swift for darwin plugins
  script/tool/lib/src/podspec_check_command.dart
  script/tool/test/podspec_check_command_test.dart
Labels: autosubmit

#6636 [in_app_purchase] implement countryCode correctly
  packages/in_app_purchase/in_app_purchase_android/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_android/lib/src/in_app_purchase_android_platform.dart
  packages/in_app_purchase/in_app_purchase_android/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_android/test/in_app_purchase_android_platform_test.dart
  packages/in_app_purchase/in_app_purchase_storekit/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_storekit/lib/src/in_app_purchase_storekit_platform.dart
  packages/in_app_purchase/in_app_purchase_storekit/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_storekit/test/in_app_purchase_storekit_platform_test.dart
Labels: autosubmit, p: in_app_purchase, platform-android, platform-ios, platform-macos

#6641 Roll Flutter from bf7191fd3884 to f1037a01b796 (21 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6426 Fix unnecessary toList/fromList calls during encode/decode process
  packages/pigeon/CHANGELOG.md
  packages/pigeon/example/app/android/app/src/main/java/io/flutter/plugins/Messages.java
  packages/pigeon/example/app/android/app/src/main/kotlin/dev/flutter/pigeon_example_app/Messages.g.kt
  packages/pigeon/example/app/ios/Runner/Messages.g.swift
  packages/pigeon/lib/ast.dart
  packages/pigeon/lib/cpp_generator.dart
  packages/pigeon/lib/dart_generator.dart
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/lib/java_generator.dart
  packages/pigeon/lib/kotlin_generator.dart
  packages/pigeon/lib/objc_generator.dart
  packages/pigeon/lib/swift_generator.dart
  packages/pigeon/pigeons/core_tests.dart
  packages/pigeon/platform_tests/alternate_language_test_plugin/android/src/main/java/com/example/alternate_language_test_plugin/AlternateLanguageTestPlugin.java
  packages/pigeon/platform_tests/alternate_language_test_plugin/android/src/main/java/com/example/alternate_language_test_plugin/CoreTests.java
  packages/pigeon/platform_tests/alternate_language_test_plugin/android/src/test/java/com/example/alternate_language_test_plugin/AllDatatypesTest.java
  packages/pigeon/platform_tests/alternate_language_test_plugin/android/src/test/java/com/example/alternate_language_test_plugin/NullFieldsTest.java
  packages/pigeon/platform_tests/alternate_language_test_plugin/example/ios/RunnerTests/NullFieldsTest.m
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/AlternateLanguageTestPlugin.m
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/CoreTests.gen.h
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/CoreTests.gen.m
  packages/pigeon/platform_tests/alternate_language_test_plugin/macos/Classes/AlternateLanguageTestPlugin.m
  packages/pigeon/platform_tests/alternate_language_test_plugin/macos/Classes/CoreTests.gen.h
  packages/pigeon/platform_tests/alternate_language_test_plugin/macos/Classes/CoreTests.gen.m
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/integration_tests.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/core_tests.gen.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/message.gen.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/non_null_fields.gen.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/null_fields.gen.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/test/null_fields_test.dart
  packages/pigeon/platform_tests/test_plugin/android/src/main/kotlin/com/example/test_plugin/CoreTests.gen.kt
  packages/pigeon/platform_tests/test_plugin/android/src/main/kotlin/com/example/test_plugin/TestPlugin.kt
  packages/pigeon/platform_tests/test_plugin/android/src/test/kotlin/com/example/test_plugin/AllDatatypesTest.kt
  packages/pigeon/platform_tests/test_plugin/ios/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/ios/Classes/TestPlugin.swift
  packages/pigeon/platform_tests/test_plugin/macos/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/macos/Classes/TestPlugin.swift
  packages/pigeon/platform_tests/test_plugin/windows/CMakeLists.txt
  packages/pigeon/platform_tests/test_plugin/windows/pigeon/core_tests.gen.cpp
  packages/pigeon/platform_tests/test_plugin/windows/pigeon/core_tests.gen.h
  packages/pigeon/platform_tests/test_plugin/windows/test/null_fields_test.cpp
  packages/pigeon/pubspec.yaml
  packages/pigeon/test/cpp_generator_test.dart
  packages/pigeon/test/dart_generator_test.dart
  packages/pigeon/test/java_generator_test.dart
  packages/pigeon/test/kotlin_generator_test.dart
  packages/pigeon/test/objc_generator_test.dart
  packages/pigeon/test/swift_generator_test.dart
Labels: p: pigeon, autosubmit, platform-android, platform-ios, platform-macos, platform-windows

#3586 [camera] MediaSettings parameter for createCameraWithSettings
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/lib/src/camera_controller.dart
  packages/camera/camera/pubspec.yaml
  packages/camera/camera/test/camera_preview_test.dart
  packages/camera/camera/test/camera_test.dart
Labels: autosubmit, p: camera, federated: all_changes

#6608 [camerax] Prevent using unsupported concurrent camera use cases
  packages/camera/camera_android_camerax/CHANGELOG.md
  packages/camera/camera_android_camerax/README.md
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/Camera2CameraInfoFlutterApiImpl.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/Camera2CameraInfoHostApiImpl.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/CameraAndroidCameraxPlugin.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/GeneratedCameraXLibrary.java
  packages/camera/camera_android_camerax/android/src/test/java/io/flutter/plugins/camerax/Camera2CameraInfoTest.java
  packages/camera/camera_android_camerax/lib/src/android_camera_camerax.dart
  packages/camera/camera_android_camerax/lib/src/android_camera_camerax_flutter_api_impls.dart
  packages/camera/camera_android_camerax/lib/src/camera2_camera_info.dart
  packages/camera/camera_android_camerax/lib/src/camera_metadata.dart
  packages/camera/camera_android_camerax/lib/src/camerax_library.g.dart
  packages/camera/camera_android_camerax/lib/src/camerax_proxy.dart
  packages/camera/camera_android_camerax/lib/src/surface.dart
  packages/camera/camera_android_camerax/pigeons/camerax_library.dart
  packages/camera/camera_android_camerax/pubspec.yaml
  packages/camera/camera_android_camerax/test/android_camera_camerax_test.dart
  packages/camera/camera_android_camerax/test/android_camera_camerax_test.mocks.dart
  packages/camera/camera_android_camerax/test/camera2_camera_info_test.dart
  packages/camera/camera_android_camerax/test/camera2_camera_info_test.mocks.dart
  packages/camera/camera_android_camerax/test/device_orientation_manager_test.dart
  packages/camera/camera_android_camerax/test/image_analysis_test.dart
  packages/camera/camera_android_camerax/test/image_capture_test.dart
  packages/camera/camera_android_camerax/test/preview_test.dart
  packages/camera/camera_android_camerax/test/test_camerax_library.g.dart
  packages/camera/camera_android_camerax/test/video_capture_test.dart
Labels: autosubmit, p: camera, platform-android

#6674 Roll Flutter from f1037a01b796 to 04424e10fe28 (25 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6673 [ci] Reduce the number of tasks in recipe CQ
  .ci.yaml
Labels: autosubmit

#6676 [camerax] Add empty implementation for `prepareForVideoRecording` not used on Android
  packages/camera/camera_android_camerax/CHANGELOG.md
  packages/camera/camera_android_camerax/lib/src/android_camera_camerax.dart
  packages/camera/camera_android_camerax/pubspec.yaml
  packages/camera/camera_android_camerax/test/android_camera_camerax_test.dart
Labels: autosubmit, p: camera

#6672 [file_selector] Add support for SPM
  packages/file_selector/file_selector_ios/CHANGELOG.md
  packages/file_selector/file_selector_ios/ios/Assets/.gitkeep
  packages/file_selector/file_selector_ios/ios/file_selector_ios.podspec
  packages/file_selector/file_selector_ios/ios/file_selector_ios/Package.swift
  packages/file_selector/file_selector_ios/ios/file_selector_ios/Sources/file_selector_ios/FFSFileSelectorPlugin.m
  packages/file_selector/file_selector_ios/ios/file_selector_ios/Sources/file_selector_ios/Resources/PrivacyInfo.xcprivacy
  packages/file_selector/file_selector_ios/ios/file_selector_ios/Sources/file_selector_ios/include/cocoapods_file_selector_ios.modulemap
  packages/file_selector/file_selector_ios/ios/file_selector_ios/Sources/file_selector_ios/include/file_selector_ios/FFSFileSelectorPlugin.h
  packages/file_selector/file_selector_ios/ios/file_selector_ios/Sources/file_selector_ios/include/file_selector_ios/FFSFileSelectorPlugin_Test.h
  packages/file_selector/file_selector_ios/ios/file_selector_ios/Sources/file_selector_ios/include/file_selector_ios/file_selector_ios-umbrella.h
  packages/file_selector/file_selector_ios/ios/file_selector_ios/Sources/file_selector_ios/include/file_selector_ios/messages.g.h
  packages/file_selector/file_selector_ios/ios/file_selector_ios/Sources/file_selector_ios/include/module.modulemap
  packages/file_selector/file_selector_ios/ios/file_selector_ios/Sources/file_selector_ios/messages.g.m
  packages/file_selector/file_selector_ios/pigeons/messages.dart
  packages/file_selector/file_selector_ios/pubspec.yaml
  packages/file_selector/file_selector_macos/CHANGELOG.md
  packages/file_selector/file_selector_macos/macos/file_selector_macos.podspec
  packages/file_selector/file_selector_macos/macos/file_selector_macos/Package.swift
  packages/file_selector/file_selector_macos/macos/file_selector_macos/Sources/file_selector_macos/FileSelectorPlugin.swift
  packages/file_selector/file_selector_macos/macos/file_selector_macos/Sources/file_selector_macos/messages.g.swift
  packages/file_selector/file_selector_macos/pigeons/messages.dart
  packages/file_selector/file_selector_macos/pubspec.yaml
Labels: autosubmit, p: file_selector, platform-ios, platform-macos

#6640 [shared_preferences_foundation] Adds Swift Package Manager compatibility
  packages/shared_preferences/shared_preferences_foundation/CHANGELOG.md
  packages/shared_preferences/shared_preferences_foundation/darwin/shared_preferences_foundation.podspec
  packages/shared_preferences/shared_preferences_foundation/darwin/shared_preferences_foundation/Package.swift
  packages/shared_preferences/shared_preferences_foundation/darwin/shared_preferences_foundation/Sources/shared_preferences_foundation/Resources/PrivacyInfo.xcprivacy
  packages/shared_preferences/shared_preferences_foundation/darwin/shared_preferences_foundation/Sources/shared_preferences_foundation/SharedPreferencesPlugin.swift
  packages/shared_preferences/shared_preferences_foundation/darwin/shared_preferences_foundation/Sources/shared_preferences_foundation/messages.g.swift
  packages/shared_preferences/shared_preferences_foundation/example/ios/Runner.xcodeproj/project.pbxproj
  packages/shared_preferences/shared_preferences_foundation/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/shared_preferences/shared_preferences_foundation/example/ios/Runner/AppDelegate.swift
  packages/shared_preferences/shared_preferences_foundation/example/macos/Runner.xcodeproj/project.pbxproj
  packages/shared_preferences/shared_preferences_foundation/example/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/shared_preferences/shared_preferences_foundation/example/macos/Runner/AppDelegate.swift
  packages/shared_preferences/shared_preferences_foundation/pigeons/messages.dart
  packages/shared_preferences/shared_preferences_foundation/pubspec.yaml
Labels: autosubmit, platform-ios, platform-macos, p: shared_preferences

#6191 [camera] Ignore implementation imports outside of lib
  packages/camera/camera_web/example/integration_test/camera_error_code_test.dart
  packages/camera/camera_web/example/integration_test/camera_metadata_test.dart
  packages/camera/camera_web/example/integration_test/camera_options_test.dart
  packages/camera/camera_web/example/integration_test/camera_service_test.dart
  packages/camera/camera_web/example/integration_test/camera_test.dart
  packages/camera/camera_web/example/integration_test/camera_web_exception_test.dart
  packages/camera/camera_web/example/integration_test/camera_web_test.dart
  packages/camera/camera_web/example/integration_test/helpers/mocks.dart
  packages/camera/camera_web/example/integration_test/zoom_level_capability_test.dart
Labels: autosubmit, p: camera, platform-web

#6683 Roll Flutter from 04424e10fe28 to 7920a52dd568 (27 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6685 [go_router] guard context access in then clauses
  packages/go_router/lib/src/parser.dart
  packages/go_router_builder/CHANGELOG.md
  packages/go_router_builder/example/lib/main.dart
  packages/go_router_builder/pubspec.yaml
Labels: p: go_router_builder, p: go_router, autosubmit

#6680 [path_provider] Add Swift Package Manager support
  packages/path_provider/path_provider_foundation/CHANGELOG.md
  packages/path_provider/path_provider_foundation/darwin/path_provider_foundation.podspec
  packages/path_provider/path_provider_foundation/darwin/path_provider_foundation/Package.swift
  packages/path_provider/path_provider_foundation/darwin/path_provider_foundation/Sources/path_provider_foundation/PathProviderPlugin.swift
  packages/path_provider/path_provider_foundation/darwin/path_provider_foundation/Sources/path_provider_foundation/Resources/PrivacyInfo.xcprivacy
  packages/path_provider/path_provider_foundation/darwin/path_provider_foundation/Sources/path_provider_foundation/messages.g.swift
  packages/path_provider/path_provider_foundation/pigeons/messages.dart
  packages/path_provider/path_provider_foundation/pubspec.yaml
Labels: autosubmit, p: path_provider, platform-ios, platform-macos

#6684 [ios_platform_images] Add Swift Package Manager support
  packages/ios_platform_images/CHANGELOG.md
  packages/ios_platform_images/example/ios/Runner/AppDelegate.swift
  packages/ios_platform_images/ios/Assets/.gitkeep
  packages/ios_platform_images/ios/ios_platform_images.podspec
  packages/ios_platform_images/ios/ios_platform_images/Package.swift
  packages/ios_platform_images/ios/ios_platform_images/Sources/ios_platform_images/IosPlatformImagesPlugin.swift
  packages/ios_platform_images/ios/ios_platform_images/Sources/ios_platform_images/Resources/PrivacyInfo.xcprivacy
  packages/ios_platform_images/ios/ios_platform_images/Sources/ios_platform_images/UIImageIosPlatformImages.swift
  packages/ios_platform_images/ios/ios_platform_images/Sources/ios_platform_images/messages.g.swift
  packages/ios_platform_images/pigeons/messages.dart
  packages/ios_platform_images/pubspec.yaml
Labels: autosubmit, p: ios_platform_images, platform-ios

#6675 [video_player_avfoundation] Adds Swift Package Manager compatibility
  packages/video_player/video_player_avfoundation/CHANGELOG.md
  packages/video_player/video_player_avfoundation/darwin/video_player_avfoundation.podspec
  packages/video_player/video_player_avfoundation/darwin/video_player_avfoundation/Package.swift
  packages/video_player/video_player_avfoundation/darwin/video_player_avfoundation/Sources/video_player_avfoundation/AVAssetTrackUtils.m
  packages/video_player/video_player_avfoundation/darwin/video_player_avfoundation/Sources/video_player_avfoundation/FVPVideoPlayerPlugin.m
  packages/video_player/video_player_avfoundation/darwin/video_player_avfoundation/Sources/video_player_avfoundation/Resources/PrivacyInfo.xcprivacy
  packages/video_player/video_player_avfoundation/darwin/video_player_avfoundation/Sources/video_player_avfoundation/include/video_player_avfoundation/AVAssetTrackUtils.h
  packages/video_player/video_player_avfoundation/darwin/video_player_avfoundation/Sources/video_player_avfoundation/include/video_player_avfoundation/FVPDisplayLink.h
  packages/video_player/video_player_avfoundation/darwin/video_player_avfoundation/Sources/video_player_avfoundation/include/video_player_avfoundation/FVPVideoPlayerPlugin.h
  packages/video_player/video_player_avfoundation/darwin/video_player_avfoundation/Sources/video_player_avfoundation/include/video_player_avfoundation/FVPVideoPlayerPlugin_Test.h
  packages/video_player/video_player_avfoundation/darwin/video_player_avfoundation/Sources/video_player_avfoundation/include/video_player_avfoundation/messages.g.h
  packages/video_player/video_player_avfoundation/darwin/video_player_avfoundation/Sources/video_player_avfoundation/messages.g.m
  packages/video_player/video_player_avfoundation/darwin/video_player_avfoundation/Sources/video_player_avfoundation_ios/FVPDisplayLink.m
  packages/video_player/video_player_avfoundation/darwin/video_player_avfoundation/Sources/video_player_avfoundation_ios/include/.gitkeep
  packages/video_player/video_player_avfoundation/darwin/video_player_avfoundation/Sources/video_player_avfoundation_macos/FVPDisplayLink.m
  packages/video_player/video_player_avfoundation/darwin/video_player_avfoundation/Sources/video_player_avfoundation_macos/include/.gitkeep
  packages/video_player/video_player_avfoundation/example/ios/Podfile
  packages/video_player/video_player_avfoundation/example/ios/Runner.xcodeproj/project.pbxproj
  packages/video_player/video_player_avfoundation/example/ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  packages/video_player/video_player_avfoundation/example/ios/Runner.xcworkspace/xcshareddata/swiftpm/Package.resolved
  packages/video_player/video_player_avfoundation/example/macos/Podfile
  packages/video_player/video_player_avfoundation/example/macos/Runner.xcodeproj/project.pbxproj
  packages/video_player/video_player_avfoundation/example/macos/Runner.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  packages/video_player/video_player_avfoundation/example/macos/Runner.xcworkspace/xcshareddata/swiftpm/Package.resolved
  packages/video_player/video_player_avfoundation/example/macos/Runner/AppDelegate.swift
  packages/video_player/video_player_avfoundation/pigeons/messages.dart
  packages/video_player/video_player_avfoundation/pubspec.yaml
Labels: autosubmit, platform-ios, platform-macos, p: video_player

#6617 [image_picker_ios] Adds Swift Package Manager compatibility to image_picker_ios
  packages/image_picker/image_picker_ios/CHANGELOG.md
  packages/image_picker/image_picker_ios/example/ios/Podfile
  packages/image_picker/image_picker_ios/example/ios/Runner.xcodeproj/project.pbxproj
  packages/image_picker/image_picker_ios/example/ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  packages/image_picker/image_picker_ios/example/ios/Runner.xcworkspace/xcshareddata/swiftpm/Package.resolved
  packages/image_picker/image_picker_ios/ios/Assets/.gitkeep
  packages/image_picker/image_picker_ios/ios/image_picker_ios.podspec
  packages/image_picker/image_picker_ios/ios/image_picker_ios/Package.swift
  packages/image_picker/image_picker_ios/ios/image_picker_ios/Sources/image_picker_ios/FLTImagePickerImageUtil.h
  packages/image_picker/image_picker_ios/ios/image_picker_ios/Sources/image_picker_ios/FLTImagePickerImageUtil.m
  packages/image_picker/image_picker_ios/ios/image_picker_ios/Sources/image_picker_ios/FLTImagePickerMetaDataUtil.h
  packages/image_picker/image_picker_ios/ios/image_picker_ios/Sources/image_picker_ios/FLTImagePickerMetaDataUtil.m
  packages/image_picker/image_picker_ios/ios/image_picker_ios/Sources/image_picker_ios/FLTImagePickerPhotoAssetUtil.h
  packages/image_picker/image_picker_ios/ios/image_picker_ios/Sources/image_picker_ios/FLTImagePickerPhotoAssetUtil.m
  packages/image_picker/image_picker_ios/ios/image_picker_ios/Sources/image_picker_ios/FLTImagePickerPlugin.m
  packages/image_picker/image_picker_ios/ios/image_picker_ios/Sources/image_picker_ios/FLTImagePickerPlugin_Test.h
  packages/image_picker/image_picker_ios/ios/image_picker_ios/Sources/image_picker_ios/FLTPHPickerSaveImageToPathOperation.h
  packages/image_picker/image_picker_ios/ios/image_picker_ios/Sources/image_picker_ios/FLTPHPickerSaveImageToPathOperation.m
  packages/image_picker/image_picker_ios/ios/image_picker_ios/Sources/image_picker_ios/Resources/PrivacyInfo.xcprivacy
  packages/image_picker/image_picker_ios/ios/image_picker_ios/Sources/image_picker_ios/include/ImagePickerPlugin.modulemap
  packages/image_picker/image_picker_ios/ios/image_picker_ios/Sources/image_picker_ios/include/image_picker_ios-umbrella.h
  packages/image_picker/image_picker_ios/ios/image_picker_ios/Sources/image_picker_ios/include/image_picker_ios/FLTImagePickerPlugin.h
  packages/image_picker/image_picker_ios/ios/image_picker_ios/Sources/image_picker_ios/include/module.modulemap
  packages/image_picker/image_picker_ios/ios/image_picker_ios/Sources/image_picker_ios/messages.g.h
  packages/image_picker/image_picker_ios/ios/image_picker_ios/Sources/image_picker_ios/messages.g.m
  packages/image_picker/image_picker_ios/pigeons/messages.dart
  packages/image_picker/image_picker_ios/pubspec.yaml
Labels: autosubmit, p: image_picker, platform-ios

#6694 Temporarily add empty header files to video_player_avfoundation so include directory is downloaded
  packages/video_player/video_player_avfoundation/CHANGELOG.md
  packages/video_player/video_player_avfoundation/darwin/video_player_avfoundation/Sources/video_player_avfoundation_ios/include/FVPEmpty.h
  packages/video_player/video_player_avfoundation/darwin/video_player_avfoundation/Sources/video_player_avfoundation_macos/include/FVPEmpty.h
  packages/video_player/video_player_avfoundation/pubspec.yaml
Labels: warning: land on red to fix tree breakage, autosubmit, platform-ios, platform-macos, p: video_player

#6699 [pointer_interceptor] Remove `implements` from app-facing package
  .ci/flutter_master.version
  packages/pointer_interceptor/pointer_interceptor/CHANGELOG.md
  packages/pointer_interceptor/pointer_interceptor/pubspec.yaml
Labels: p: pointer_interceptor, autosubmit

#6695 [flutter_lints] Rev to 4.0.0; prepare for publishing
  packages/flutter_lints/CHANGELOG.md
  packages/flutter_lints/pubspec.yaml
Labels: p: flutter_lints, autosubmit

#6696 [image_picker_ios] Adds Swift Package Manager compatibility
  packages/image_picker/image_picker_ios/CHANGELOG.md
  packages/image_picker/image_picker_ios/example/ios/Podfile
  packages/image_picker/image_picker_ios/example/ios/Runner.xcodeproj/project.pbxproj
  packages/image_picker/image_picker_ios/example/ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  packages/image_picker/image_picker_ios/example/ios/Runner.xcworkspace/xcshareddata/swiftpm/Package.resolved
  packages/image_picker/image_picker_ios/ios/Assets/.gitkeep
  packages/image_picker/image_picker_ios/ios/image_picker_ios.podspec
  packages/image_picker/image_picker_ios/ios/image_picker_ios/Package.swift
  packages/image_picker/image_picker_ios/ios/image_picker_ios/Sources/image_picker_ios/FLTImagePickerImageUtil.h
  packages/image_picker/image_picker_ios/ios/image_picker_ios/Sources/image_picker_ios/FLTImagePickerImageUtil.m
  packages/image_picker/image_picker_ios/ios/image_picker_ios/Sources/image_picker_ios/FLTImagePickerMetaDataUtil.h
  packages/image_picker/image_picker_ios/ios/image_picker_ios/Sources/image_picker_ios/FLTImagePickerMetaDataUtil.m
  packages/image_picker/image_picker_ios/ios/image_picker_ios/Sources/image_picker_ios/FLTImagePickerPhotoAssetUtil.h
  packages/image_picker/image_picker_ios/ios/image_picker_ios/Sources/image_picker_ios/FLTImagePickerPhotoAssetUtil.m
  packages/image_picker/image_picker_ios/ios/image_picker_ios/Sources/image_picker_ios/FLTImagePickerPlugin.m
  packages/image_picker/image_picker_ios/ios/image_picker_ios/Sources/image_picker_ios/FLTImagePickerPlugin_Test.h
  packages/image_picker/image_picker_ios/ios/image_picker_ios/Sources/image_picker_ios/FLTPHPickerSaveImageToPathOperation.h
  packages/image_picker/image_picker_ios/ios/image_picker_ios/Sources/image_picker_ios/FLTPHPickerSaveImageToPathOperation.m
  packages/image_picker/image_picker_ios/ios/image_picker_ios/Sources/image_picker_ios/Resources/PrivacyInfo.xcprivacy
  packages/image_picker/image_picker_ios/ios/image_picker_ios/Sources/image_picker_ios/include/ImagePickerPlugin.modulemap
  packages/image_picker/image_picker_ios/ios/image_picker_ios/Sources/image_picker_ios/include/image_picker_ios-umbrella.h
  packages/image_picker/image_picker_ios/ios/image_picker_ios/Sources/image_picker_ios/include/image_picker_ios/FLTImagePickerPlugin.h
  packages/image_picker/image_picker_ios/ios/image_picker_ios/Sources/image_picker_ios/include/module.modulemap
  packages/image_picker/image_picker_ios/ios/image_picker_ios/Sources/image_picker_ios/messages.g.h
  packages/image_picker/image_picker_ios/ios/image_picker_ios/Sources/image_picker_ios/messages.g.m
  packages/image_picker/image_picker_ios/pigeons/messages.dart
  packages/image_picker/image_picker_ios/pubspec.yaml
Labels: autosubmit, p: image_picker, platform-ios

#6432 [go_router] Feat add route redirect shellroutes (#114559)
  packages/go_router/CHANGELOG.md
  packages/go_router/lib/src/configuration.dart
  packages/go_router/lib/src/route.dart
  packages/go_router/pubspec.yaml
  packages/go_router/test/go_router_test.dart
Labels: p: go_router, autosubmit

#6706 Roll Flutter from 00f40667c16a to 2bfb1b0e2f61 (9 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6638 [quick_actions_android] Switch to `Compat` version of `ShortcutManager` to support Google surfaces
  packages/quick_actions/quick_actions_android/CHANGELOG.md
  packages/quick_actions/quick_actions_android/android/src/main/java/io/flutter/plugins/quickactions/QuickActions.java
  packages/quick_actions/quick_actions_android/android/src/main/java/io/flutter/plugins/quickactions/QuickActionsPlugin.java
  packages/quick_actions/quick_actions_android/android/src/test/java/io/flutter/plugins/quickactions/QuickActionsTest.java
  packages/quick_actions/quick_actions_android/pubspec.yaml
Labels: autosubmit, p: quick_actions, platform-android

#6705 Update .gitignore for Swift Package Manager
  .gitignore
Labels: autosubmit

#6697 [camerax] Make fixes required to swap camera_android_camerax for camera_android
  packages/camera/camera_android_camerax/CHANGELOG.md
  packages/camera/camera_android_camerax/README.md
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/GeneratedCameraXLibrary.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/PendingRecordingFlutterApiImpl.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/PendingRecordingHostApiImpl.java
  packages/camera/camera_android_camerax/android/src/test/java/io/flutter/plugins/camerax/PendingRecordingTest.java
  packages/camera/camera_android_camerax/example/integration_test/integration_test.dart
  packages/camera/camera_android_camerax/lib/src/android_camera_camerax.dart
  packages/camera/camera_android_camerax/lib/src/camerax_library.g.dart
  packages/camera/camera_android_camerax/lib/src/pending_recording.dart
  packages/camera/camera_android_camerax/pigeons/camerax_library.dart
  packages/camera/camera_android_camerax/pubspec.yaml
  packages/camera/camera_android_camerax/test/android_camera_camerax_test.dart
  packages/camera/camera_android_camerax/test/test_camerax_library.g.dart
Labels: autosubmit, p: camera, platform-android

#6691 [image_picker_android] - will fix crash on Android 12+ devices
  packages/image_picker/image_picker_android/CHANGELOG.md
  packages/image_picker/image_picker_android/android/src/main/java/io/flutter/plugins/imagepicker/ImagePickerDelegate.java
  packages/image_picker/image_picker_android/android/src/test/java/io/flutter/plugins/imagepicker/ImagePickerDelegateTest.java
  packages/image_picker/image_picker_android/pubspec.yaml
Labels: autosubmit, p: image_picker, platform-android

#6499 [Android][webview_flutter] Run integration tests on emulators running Android 34
  .ci.yaml
  .ci/targets/android_platform_tests.yaml
  .ci/targets/android_platform_tests_api_33_avd.yaml
  packages/webview_flutter/webview_flutter/example/integration_test/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter/example/integration_test/webview_flutter_test_legacy.dart
  packages/webview_flutter/webview_flutter_android/example/integration_test/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter_android/example/integration_test/webview_flutter_test_legacy.dart
  script/configs/still_requires_api_33_avd.yaml
Labels: autosubmit, platform-android, p: webview_flutter

#6677 [url_launcher] Add Swift Package Manager support
  packages/url_launcher/url_launcher_ios/CHANGELOG.md
  packages/url_launcher/url_launcher_ios/ios/url_launcher_ios.podspec
  packages/url_launcher/url_launcher_ios/ios/url_launcher_ios/Package.swift
  packages/url_launcher/url_launcher_ios/ios/url_launcher_ios/Sources/url_launcher_ios/Launcher.swift
  packages/url_launcher/url_launcher_ios/ios/url_launcher_ios/Sources/url_launcher_ios/Resources/PrivacyInfo.xcprivacy
  packages/url_launcher/url_launcher_ios/ios/url_launcher_ios/Sources/url_launcher_ios/URLLaunchSession.swift
  packages/url_launcher/url_launcher_ios/ios/url_launcher_ios/Sources/url_launcher_ios/URLLauncherPlugin.swift
  packages/url_launcher/url_launcher_ios/ios/url_launcher_ios/Sources/url_launcher_ios/messages.g.swift
  packages/url_launcher/url_launcher_ios/pigeons/messages.dart
  packages/url_launcher/url_launcher_ios/pubspec.yaml
  packages/url_launcher/url_launcher_macos/CHANGELOG.md
  packages/url_launcher/url_launcher_macos/example/macos/RunnerTests/RunnerTests.swift
  packages/url_launcher/url_launcher_macos/macos/url_launcher_macos.podspec
  packages/url_launcher/url_launcher_macos/macos/url_launcher_macos/Package.swift
  packages/url_launcher/url_launcher_macos/macos/url_launcher_macos/Sources/url_launcher_macos/Resources/.gitkeep
  packages/url_launcher/url_launcher_macos/macos/url_launcher_macos/Sources/url_launcher_macos/UrlLauncherPlugin.swift
  packages/url_launcher/url_launcher_macos/macos/url_launcher_macos/Sources/url_launcher_macos/messages.g.swift
  packages/url_launcher/url_launcher_macos/pigeons/messages.dart
  packages/url_launcher/url_launcher_macos/pubspec.yaml
Labels: autosubmit, platform-ios, platform-macos, p: url_launcher

#6682 [quick_actions] Add Swift Package Manager support
  packages/quick_actions/quick_actions_ios/CHANGELOG.md
  packages/quick_actions/quick_actions_ios/example/ios/RunnerTests/Mocks/MockShortcutItemProvider.swift
  packages/quick_actions/quick_actions_ios/ios/quick_actions_ios.podspec
  packages/quick_actions/quick_actions_ios/ios/quick_actions_ios/Package.swift
  packages/quick_actions/quick_actions_ios/ios/quick_actions_ios/Sources/quick_actions_ios/QuickActionsPlugin.swift
  packages/quick_actions/quick_actions_ios/ios/quick_actions_ios/Sources/quick_actions_ios/Resources/PrivacyInfo.xcprivacy
  packages/quick_actions/quick_actions_ios/ios/quick_actions_ios/Sources/quick_actions_ios/ShortcutItemProviding.swift
  packages/quick_actions/quick_actions_ios/ios/quick_actions_ios/Sources/quick_actions_ios/messages.g.swift
  packages/quick_actions/quick_actions_ios/pigeons/messages.dart
  packages/quick_actions/quick_actions_ios/pubspec.yaml
Labels: autosubmit, p: quick_actions, platform-ios

#6713 Roll Flutter from 2bfb1b0e2f61 to 2aa05c16509b (26 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6715 Roll Flutter from 2aa05c16509b to 1dfb46e9c087 (3 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6707 [image_picker_ios] Make all headers public for SwiftPM to keep inline with CocoaPods
  packages/image_picker/image_picker_ios/CHANGELOG.md
  packages/image_picker/image_picker_ios/ios/image_picker_ios/Sources/image_picker_ios/FLTImagePickerPlugin.m
  packages/image_picker/image_picker_ios/ios/image_picker_ios/Sources/image_picker_ios/include/image_picker_ios/FLTImagePickerImageUtil.h
  packages/image_picker/image_picker_ios/ios/image_picker_ios/Sources/image_picker_ios/include/image_picker_ios/FLTImagePickerMetaDataUtil.h
  packages/image_picker/image_picker_ios/ios/image_picker_ios/Sources/image_picker_ios/include/image_picker_ios/FLTImagePickerPhotoAssetUtil.h
  packages/image_picker/image_picker_ios/ios/image_picker_ios/Sources/image_picker_ios/include/image_picker_ios/FLTImagePickerPlugin_Test.h
  packages/image_picker/image_picker_ios/ios/image_picker_ios/Sources/image_picker_ios/include/image_picker_ios/FLTPHPickerSaveImageToPathOperation.h
  packages/image_picker/image_picker_ios/ios/image_picker_ios/Sources/image_picker_ios/include/image_picker_ios/messages.g.h
  packages/image_picker/image_picker_ios/ios/image_picker_ios/Sources/image_picker_ios/include/module.modulemap
  packages/image_picker/image_picker_ios/ios/image_picker_ios/Sources/image_picker_ios/messages.g.m
  packages/image_picker/image_picker_ios/pigeons/messages.dart
  packages/image_picker/image_picker_ios/pubspec.yaml
Labels: autosubmit, p: image_picker, platform-ios

#6629 [camera] Change default Android implementation from `camera_android` to `camera_android_camerax`
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/README.md
  packages/camera/camera/example/integration_test/camera_test.dart
  packages/camera/camera/pubspec.yaml
  packages/camera/camera_android/CHANGELOG.md
  packages/camera/camera_android/README.md
  packages/camera/camera_android/pubspec.yaml
  packages/camera/camera_android_camerax/CHANGELOG.md
  packages/camera/camera_android_camerax/README.md
  packages/camera/camera_android_camerax/pubspec.yaml
Labels: autosubmit, p: camera, platform-android

#6723 Roll Flutter from 1dfb46e9c087 to 125543505d26 (6 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6722 [in_app_purchase] Update country code Android example
  packages/in_app_purchase/in_app_purchase_android/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_android/example/lib/main.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/in_app_purchase_android_platform_addition.dart
  packages/in_app_purchase/in_app_purchase_android/pubspec.yaml
Labels: autosubmit, p: in_app_purchase, platform-android

#6623 [go_router] Use the correct configuration to build the state passed to the `onExit`
  packages/go_router/CHANGELOG.md
  packages/go_router/lib/src/delegate.dart
  packages/go_router/pubspec.yaml
  packages/go_router/test/on_exit_test.dart
Labels: p: go_router, autosubmit

#6729 Roll Flutter from 125543505d26 to d2da1b280b51 (26 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6731 [webview_flutter_wkwebview] Skip `withWeakReferenceTo` integration test
  packages/webview_flutter/webview_flutter_wkwebview/example/integration_test/webview_flutter_test.dart
Labels: warning: land on red to fix tree breakage, autosubmit, platform-ios, p: webview_flutter

#6727 Roll Flutter (stable) from 54e66469a933 to 5dcb86f68f23 (1402 revisions)
  .ci/flutter_stable.version
Labels: autosubmit

#5009 [image_picker_android] Refactor getting of paths from intent to single helper
  packages/image_picker/image_picker_android/CHANGELOG.md
  packages/image_picker/image_picker_android/android/src/main/java/io/flutter/plugins/imagepicker/ImagePickerDelegate.java
  packages/image_picker/image_picker_android/android/src/test/java/io/flutter/plugins/imagepicker/ImagePickerDelegateTest.java
  packages/image_picker/image_picker_android/pubspec.yaml
Labels: autosubmit, p: image_picker, platform-android

#6561 [in_app_purchase_storekit] migrate main plugin class to swift in preperation to storekit 2
  packages/in_app_purchase/in_app_purchase_storekit/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_storekit/darwin/Classes/InAppPurchasePlugin+TestOnly.h
  packages/in_app_purchase/in_app_purchase_storekit/darwin/Classes/InAppPurchasePlugin.h
  packages/in_app_purchase/in_app_purchase_storekit/darwin/Classes/InAppPurchasePlugin.m
  packages/in_app_purchase/in_app_purchase_storekit/darwin/Classes/InAppPurchasePlugin.swift
  packages/in_app_purchase/in_app_purchase_storekit/darwin/Classes/in_app_purchase_storekit-Bridging-Header.h
  packages/in_app_purchase/in_app_purchase_storekit/darwin/Classes/in_app_purchase_storekit.h
  packages/in_app_purchase/in_app_purchase_storekit/darwin/Classes/messages.g.h
  packages/in_app_purchase/in_app_purchase_storekit/darwin/Classes/messages.g.m
  packages/in_app_purchase/in_app_purchase_storekit/darwin/in_app_purchase_storekit.podspec
  packages/in_app_purchase/in_app_purchase_storekit/example/ios/Runner.xcodeproj/project.pbxproj
  packages/in_app_purchase/in_app_purchase_storekit/example/ios/RunnerTests/RunnerTests-Bridging-Header.h
  packages/in_app_purchase/in_app_purchase_storekit/example/ios/RunnerTests/SwiftStubs.swift
  packages/in_app_purchase/in_app_purchase_storekit/example/macos/Runner.xcodeproj/project.pbxproj
  packages/in_app_purchase/in_app_purchase_storekit/example/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/in_app_purchase/in_app_purchase_storekit/example/macos/RunnerTests/RunnerTests-Bridging-Header.h
  packages/in_app_purchase/in_app_purchase_storekit/example/macos/RunnerTests/Stubs.swift
  packages/in_app_purchase/in_app_purchase_storekit/example/shared/RunnerTests/InAppPurchasePluginTests.m
  packages/in_app_purchase/in_app_purchase_storekit/example/shared/RunnerTests/Stubs.h
  packages/in_app_purchase/in_app_purchase_storekit/example/shared/RunnerTests/Stubs.m
  packages/in_app_purchase/in_app_purchase_storekit/lib/src/messages.g.dart
  packages/in_app_purchase/in_app_purchase_storekit/pigeons/messages.dart
  packages/in_app_purchase/in_app_purchase_storekit/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_storekit/test/fakes/fake_storekit_platform.dart
  packages/in_app_purchase/in_app_purchase_storekit/test/store_kit_wrappers/sk_methodchannel_apis_test.dart
  packages/in_app_purchase/in_app_purchase_storekit/test/test_api.g.dart
Labels: p: in_app_purchase, platform-ios, platform-macos

#6274 [webview_flutter_wkwebview] Fixes JSON.stringify() cannot serialize cyclic structures
  AUTHORS
  packages/webview_flutter/webview_flutter_wkwebview/AUTHORS
  packages/webview_flutter/webview_flutter_wkwebview/CHANGELOG.md
  packages/webview_flutter/webview_flutter_wkwebview/example/integration_test/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/webkit_webview_controller.dart
  packages/webview_flutter/webview_flutter_wkwebview/pubspec.yaml
  packages/webview_flutter/webview_flutter_wkwebview/test/webkit_webview_controller_test.dart
Labels: autosubmit, platform-ios, p: webview_flutter

#6738 Roll Flutter from d2da1b280b51 to 39651e84ea12 (18 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6747 [webview_flutter] Skip "Video playback policy" drive tests
  packages/webview_flutter/webview_flutter/example/integration_test/webview_flutter_test.dart
Labels: warning: land on red to fix tree breakage, autosubmit, p: webview_flutter

#6611 [pigeon][swift] Removes FlutterError in favor of PigeonError
  packages/pigeon/CHANGELOG.md
  packages/pigeon/README.md
  packages/pigeon/example/README.md
  packages/pigeon/example/app/ios/Runner/AppDelegate.swift
  packages/pigeon/example/app/ios/Runner/Messages.g.swift
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/lib/pigeon_lib.dart
  packages/pigeon/lib/swift_generator.dart
  packages/pigeon/platform_tests/test_plugin/example/ios/RunnerTests/RunnerTests.swift
  packages/pigeon/platform_tests/test_plugin/ios/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/ios/Classes/TestPlugin.swift
  packages/pigeon/platform_tests/test_plugin/macos/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/macos/Classes/TestPlugin.swift
  packages/pigeon/pubspec.yaml
  packages/pigeon/test/swift_generator_test.dart
  packages/pigeon/tool/shared/generation.dart
Labels: p: pigeon, autosubmit, platform-ios, platform-macos

#6748 Roll Flutter from 39651e84ea12 to 0d22d9101aac (23 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6592 [two_dimensional_scrollables] TreeView
  packages/two_dimensional_scrollables/CHANGELOG.md
  packages/two_dimensional_scrollables/README.md
  packages/two_dimensional_scrollables/example/.pluginToolsConfig.yaml
  packages/two_dimensional_scrollables/example/README.md
  packages/two_dimensional_scrollables/example/lib/main.dart
  packages/two_dimensional_scrollables/example/lib/table_view/infinite_table.dart
  packages/two_dimensional_scrollables/example/lib/table_view/merged_table.dart
  packages/two_dimensional_scrollables/example/lib/table_view/simple_table.dart
  packages/two_dimensional_scrollables/example/lib/table_view/table_explorer.dart
  packages/two_dimensional_scrollables/example/lib/tree_view/custom_tree.dart
  packages/two_dimensional_scrollables/example/lib/tree_view/simple_tree.dart
  packages/two_dimensional_scrollables/example/lib/tree_view/tree_explorer.dart
  packages/two_dimensional_scrollables/example/macos/Runner.xcodeproj/project.pbxproj
  packages/two_dimensional_scrollables/example/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/two_dimensional_scrollables/example/macos/Runner/AppDelegate.swift
  packages/two_dimensional_scrollables/example/pubspec.yaml
  packages/two_dimensional_scrollables/example/test/main_test.dart
  packages/two_dimensional_scrollables/example/test/table_view/infinite_table_test.dart
  packages/two_dimensional_scrollables/example/test/table_view/merged_table_test.dart
  packages/two_dimensional_scrollables/example/test/table_view/simple_table_test.dart
  packages/two_dimensional_scrollables/example/test/table_view/table_explorer_test.dart
  packages/two_dimensional_scrollables/example/test/tree_view/custom_tree_test.dart
  packages/two_dimensional_scrollables/example/test/tree_view/simple_tree_test.dart
  packages/two_dimensional_scrollables/example/test/tree_view/tree_explorer_test.dart
  packages/two_dimensional_scrollables/lib/src/common/span.dart
  packages/two_dimensional_scrollables/lib/src/tree_view/render_tree.dart
  packages/two_dimensional_scrollables/lib/src/tree_view/tree.dart
  packages/two_dimensional_scrollables/lib/src/tree_view/tree_core.dart
  packages/two_dimensional_scrollables/lib/src/tree_view/tree_delegate.dart
  packages/two_dimensional_scrollables/lib/src/tree_view/tree_span.dart
  packages/two_dimensional_scrollables/lib/two_dimensional_scrollables.dart
  packages/two_dimensional_scrollables/pubspec.yaml
  packages/two_dimensional_scrollables/test/table_view/table_test.dart
  packages/two_dimensional_scrollables/test/tree_view/render_tree_test.dart
  packages/two_dimensional_scrollables/test/tree_view/tree_core_test.dart
  packages/two_dimensional_scrollables/test/tree_view/tree_delegate_test.dart
  packages/two_dimensional_scrollables/test/tree_view/tree_span_test.dart
  packages/two_dimensional_scrollables/test/tree_view/tree_test.dart
Labels: platform-macos, p: two_dimensional_scrollables

#6740 [file_selector_ios, image_picker_ios] Remove Swift Package Support
  packages/file_selector/file_selector_ios/CHANGELOG.md
  packages/file_selector/file_selector_ios/ios/file_selector_ios/Package.swift
  packages/file_selector/file_selector_ios/ios/file_selector_ios/Sources/file_selector_ios/include/module.modulemap
  packages/file_selector/file_selector_ios/pubspec.yaml
  packages/image_picker/image_picker_ios/CHANGELOG.md
  packages/image_picker/image_picker_ios/ios/image_picker_ios/Package.swift
  packages/image_picker/image_picker_ios/ios/image_picker_ios/Sources/image_picker_ios/include/module.modulemap
  packages/image_picker/image_picker_ios/pubspec.yaml
Labels: autosubmit, p: file_selector, p: image_picker, platform-ios

#6735 [camera_avfoundation] Revert camera example PRODUCT_BUNDLE_IDENTIFIER
  packages/camera/camera_avfoundation/example/ios/Runner.xcodeproj/project.pbxproj
Labels: autosubmit, p: camera, platform-ios, platform-macos

#6737 [camera_android_camerax] update to latest stable camerax 1.3.3
  packages/camera/camera_android_camerax/CHANGELOG.md
  packages/camera/camera_android_camerax/android/build.gradle
  packages/camera/camera_android_camerax/pubspec.yaml
Labels: autosubmit, p: camera, platform-android

#6614 [go_router_builder] Add test for `onExit`
  packages/go_router_builder/CHANGELOG.md
  packages/go_router_builder/example/lib/on_exit_example.dart
  packages/go_router_builder/example/lib/on_exit_example.g.dart
  packages/go_router_builder/example/pubspec.yaml
  packages/go_router_builder/example/test/on_exit_example_test.dart
  packages/go_router_builder/pubspec.yaml
Labels: p: go_router_builder, autosubmit

#6753 Roll Flutter from 0d22d9101aac to 00425ef1be26 (14 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6698 [go_router] Fixes issue that path parameters are not set when using t…
  packages/go_router/CHANGELOG.md
  packages/go_router/lib/src/route.dart
  packages/go_router/pubspec.yaml
  packages/go_router/test/go_router_test.dart
Labels: p: go_router, autosubmit

#6761 Roll Flutter from 00425ef1be26 to adf279f3080f (13 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6776 Roll Flutter from adf279f3080f to 02a6c91e4d37 (8 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6778 Roll Flutter from 02a6c91e4d37 to d02292dbc409 (22 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6756 [interactive_media_ads] Add SPM support
  packages/interactive_media_ads/CHANGELOG.md
  packages/interactive_media_ads/ios/interactive_media_ads.podspec
  packages/interactive_media_ads/ios/interactive_media_ads/Package.swift
  packages/interactive_media_ads/ios/interactive_media_ads/Sources/interactive_media_ads/InteractiveMediaAdsPlugin.swift
  packages/interactive_media_ads/ios/interactive_media_ads/Sources/interactive_media_ads/Resources/PrivacyInfo.xcprivacy
  packages/interactive_media_ads/pubspec.yaml
Labels: autosubmit, platform-ios

#6515 [in_app_purchase_android] Introduced new ReplacementMode for Android's billing client
  packages/in_app_purchase/in_app_purchase_android/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_android/android/src/main/java/io/flutter/plugins/inapppurchase/Messages.java
  packages/in_app_purchase/in_app_purchase_android/android/src/main/java/io/flutter/plugins/inapppurchase/MethodCallHandlerImpl.java
  packages/in_app_purchase/in_app_purchase_android/android/src/test/java/io/flutter/plugins/inapppurchase/MethodCallHandlerTest.java
  packages/in_app_purchase/in_app_purchase_android/lib/src/billing_client_wrappers/billing_client_wrapper.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/billing_client_wrappers/billing_client_wrapper.g.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/in_app_purchase_android_platform.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/messages.g.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/types/change_subscription_param.dart
  packages/in_app_purchase/in_app_purchase_android/pigeons/messages.dart
  packages/in_app_purchase/in_app_purchase_android/pubspec.yaml
Labels: autosubmit, p: in_app_purchase, platform-android

#6779 [local_auth] Convert native unit tests to Swift
  packages/local_auth/local_auth_darwin/darwin/Tests/FLALocalAuthPluginTests.m
  packages/local_auth/local_auth_darwin/darwin/Tests/FLALocalAuthPluginTests.swift
  packages/local_auth/local_auth_darwin/example/ios/Runner.xcodeproj/project.pbxproj
  script/tool/lib/src/common/package_state_utils.dart
  script/tool/lib/src/podspec_check_command.dart
  script/tool/test/podspec_check_command_test.dart
  script/tool/test/version_check_command_test.dart
Labels: autosubmit, override: no changelog needed, p: local_auth, platform-ios, platform-macos

#6781 [rfw] Adds support for `DecorationImage.filterQuality`.
  packages/rfw/CHANGELOG.md
  packages/rfw/lib/src/flutter/argument_decoders.dart
  packages/rfw/pubspec.yaml
  packages/rfw/test/argument_decoders_test.dart
Labels: p: rfw, autosubmit

#6780 Roll Flutter from d02292dbc409 to 73bf206f35e7 (31 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6755 [file_selector] Convert iOS to Swift and SPM
  packages/file_selector/file_selector_ios/CHANGELOG.md
  packages/file_selector/file_selector_ios/example/ios/Runner.xcodeproj/project.pbxproj
  packages/file_selector/file_selector_ios/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/file_selector/file_selector_ios/example/ios/Runner/AppDelegate.swift
  packages/file_selector/file_selector_ios/example/ios/RunnerTests/FileSelectorTests.m
  packages/file_selector/file_selector_ios/example/ios/RunnerTests/FileSelectorTests.swift
  packages/file_selector/file_selector_ios/ios/file_selector_ios.podspec
  packages/file_selector/file_selector_ios/ios/file_selector_ios/Package.swift
  packages/file_selector/file_selector_ios/ios/file_selector_ios/Sources/file_selector_ios/FFSFileSelectorPlugin.m
  packages/file_selector/file_selector_ios/ios/file_selector_ios/Sources/file_selector_ios/FileSelectorPlugin.swift
  packages/file_selector/file_selector_ios/ios/file_selector_ios/Sources/file_selector_ios/ViewPresenter.swift
  packages/file_selector/file_selector_ios/ios/file_selector_ios/Sources/file_selector_ios/include/cocoapods_file_selector_ios.modulemap
  packages/file_selector/file_selector_ios/ios/file_selector_ios/Sources/file_selector_ios/include/file_selector_ios/FFSFileSelectorPlugin.h
  packages/file_selector/file_selector_ios/ios/file_selector_ios/Sources/file_selector_ios/include/file_selector_ios/FFSFileSelectorPlugin_Test.h
  packages/file_selector/file_selector_ios/ios/file_selector_ios/Sources/file_selector_ios/include/file_selector_ios/file_selector_ios-umbrella.h
  packages/file_selector/file_selector_ios/ios/file_selector_ios/Sources/file_selector_ios/include/file_selector_ios/messages.g.h
  packages/file_selector/file_selector_ios/ios/file_selector_ios/Sources/file_selector_ios/messages.g.m
  packages/file_selector/file_selector_ios/ios/file_selector_ios/Sources/file_selector_ios/messages.g.swift
  packages/file_selector/file_selector_ios/lib/file_selector_ios.dart
  packages/file_selector/file_selector_ios/lib/src/messages.g.dart
  packages/file_selector/file_selector_ios/pigeons/messages.dart
  packages/file_selector/file_selector_ios/pubspec.yaml
  packages/file_selector/file_selector_ios/test/file_selector_ios_test.dart
  packages/file_selector/file_selector_ios/test/test_api.g.dart
Labels: autosubmit, p: file_selector, platform-ios

#6786 Roll Flutter from 73bf206f35e7 to 8d955cdd644e (24 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6378 [webview_flutter] Adds onHttpError callback to NavigationDelegate to catch HTTP error status codes
  packages/webview_flutter/webview_flutter/CHANGELOG.md
  packages/webview_flutter/webview_flutter/README.md
  packages/webview_flutter/webview_flutter/example/integration_test/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter/example/lib/main.dart
  packages/webview_flutter/webview_flutter/example/lib/simple_example.dart
  packages/webview_flutter/webview_flutter/example/pubspec.yaml
  packages/webview_flutter/webview_flutter/example/test/main_test.dart
  packages/webview_flutter/webview_flutter/lib/src/navigation_delegate.dart
  packages/webview_flutter/webview_flutter/lib/webview_flutter.dart
  packages/webview_flutter/webview_flutter/pubspec.yaml
  packages/webview_flutter/webview_flutter/test/navigation_delegate_test.dart
  packages/webview_flutter/webview_flutter/test/webview_flutter_export_test.dart
Labels: autosubmit, p: webview_flutter

#6782 [ci] Start moving podspec check to ARM
  .ci.yaml
Labels: autosubmit

#6687 [google_maps_flutter_platform_interface] Add improvements to BitmapDescriptor API
  packages/google_maps_flutter/google_maps_flutter_platform_interface/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/bitmap.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/marker.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_platform_interface/test/types/bitmap_test.dart
Labels: autosubmit, p: google_maps_flutter

#6788 Roll Flutter from 8d955cdd644e to 8dd08314d2e4 (22 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6790 [pointer_interceptor] Add Swift Package Manager support
  packages/pointer_interceptor/pointer_interceptor_ios/CHANGELOG.md
  packages/pointer_interceptor/pointer_interceptor_ios/ios/Assets/.gitkeep
  packages/pointer_interceptor/pointer_interceptor_ios/ios/pointer_interceptor_ios.podspec
  packages/pointer_interceptor/pointer_interceptor_ios/ios/pointer_interceptor_ios/Package.swift
  packages/pointer_interceptor/pointer_interceptor_ios/ios/pointer_interceptor_ios/Sources/pointer_interceptor_ios/PointerInterceptorFactory.swift
  packages/pointer_interceptor/pointer_interceptor_ios/ios/pointer_interceptor_ios/Sources/pointer_interceptor_ios/PointerInterceptorIosPlugin.swift
  packages/pointer_interceptor/pointer_interceptor_ios/ios/pointer_interceptor_ios/Sources/pointer_interceptor_ios/PointerInterceptorView.swift
  packages/pointer_interceptor/pointer_interceptor_ios/ios/pointer_interceptor_ios/Sources/pointer_interceptor_ios/PrivacyInfo.xcprivacy
  packages/pointer_interceptor/pointer_interceptor_ios/pubspec.yaml
Labels: p: pointer_interceptor, autosubmit, platform-ios

#6794 Roll Flutter from 8dd08314d2e4 to cb26a01a40e9 (12 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6796 Roll Flutter from cb26a01a40e9 to 656447127360 (3 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6820 Roll Flutter from 656447127360 to 0b31ffc125e9 (7 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6822 Roll Flutter from 0b31ffc125e9 to a1a33e63b911 (6 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6670 [go_router] docs: updated link in navigation.md to correct file path for push_with_shell_route.dart
  packages/go_router/CHANGELOG.md
  packages/go_router/doc/navigation.md
  packages/go_router/pubspec.yaml
Labels: p: go_router, autosubmit

#5757 [google_maps_flutter] Implement polyline patterns in google maps ios
  packages/google_maps_flutter/google_maps_flutter/example/lib/place_polyline.dart
  packages/google_maps_flutter/google_maps_flutter_android/example/lib/place_polyline.dart
  packages/google_maps_flutter/google_maps_flutter_ios/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios14/ios/Runner.xcodeproj/project.pbxproj
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios14/ios/RunnerTests/FLTGoogleMapJSONConversionsConversionTests.m
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios14/ios/RunnerTests/GoogleMapsPolylinesControllerTests.m
  packages/google_maps_flutter/google_maps_flutter_ios/example/shared/maps_example_dart/lib/place_polyline.dart
  packages/google_maps_flutter/google_maps_flutter_ios/ios/Classes/FLTGoogleMapJSONConversions.h
  packages/google_maps_flutter/google_maps_flutter_ios/ios/Classes/FLTGoogleMapJSONConversions.m
  packages/google_maps_flutter/google_maps_flutter_ios/ios/Classes/GoogleMapPolylineController.h
  packages/google_maps_flutter/google_maps_flutter_ios/ios/Classes/GoogleMapPolylineController.m
  packages/google_maps_flutter/google_maps_flutter_ios/ios/Classes/GoogleMapPolylineController_Test.h
  packages/google_maps_flutter/google_maps_flutter_ios/ios/Classes/google_maps_flutter_ios-umbrella.h
  packages/google_maps_flutter/google_maps_flutter_ios/pubspec.yaml
Labels: autosubmit, override: no changelog needed, p: google_maps_flutter, platform-android, platform-ios

#6743 [flutter_adaptive_scaffold] Migrate MaterialStateProperty to WidgetStateProperty
  packages/flutter_adaptive_scaffold/CHANGELOG.md
  packages/flutter_adaptive_scaffold/example/lib/main.dart
  packages/flutter_adaptive_scaffold/lib/src/adaptive_scaffold.dart
  packages/flutter_adaptive_scaffold/pubspec.yaml
Labels: team, autosubmit, p: flutter_adaptive_scaffold

#6744 [rfw] Migrate deprecated doc references
  packages/rfw/CHANGELOG.md
  packages/rfw/lib/src/flutter/material_widgets.dart
  packages/rfw/pubspec.yaml
Labels: p: rfw, team, autosubmit

#6742 [Re-land] Bump legacy all_packages project AGP version to 7.0.0, Gradle version to 7.0.2
  .ci/legacy_project/README.md
  .ci/legacy_project/all_packages/android/build.gradle
  .ci/legacy_project/all_packages/android/gradle/wrapper/gradle-wrapper.properties
  packages/camera/camera_android_camerax/CHANGELOG.md
  packages/camera/camera_android_camerax/pubspec.yaml
  packages/file_selector/file_selector_android/CHANGELOG.md
  packages/file_selector/file_selector_android/pubspec.yaml
Labels: autosubmit, override: no versioning needed, p: camera, p: file_selector, platform-android

#6741 [camerax] Add notes about Android permissions
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/README.md
  packages/camera/camera/pubspec.yaml
  packages/camera/camera_android_camerax/CHANGELOG.md
  packages/camera/camera_android_camerax/README.md
  packages/camera/camera_android_camerax/example/android/app/src/main/AndroidManifest.xml
  packages/camera/camera_android_camerax/pubspec.yaml
Labels: autosubmit, p: camera, platform-android

#6461 Migrate `camera/android` from `SurfaceTexture`->`SurfaceProducer`.
  packages/camera/camera_android/CHANGELOG.md
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/Camera.java
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/MethodCallHandlerImpl.java
  packages/camera/camera_android/android/src/test/java/io/flutter/plugins/camera/CameraTest.java
  packages/camera/camera_android/android/src/test/java/io/flutter/plugins/camera/CameraTest_getRecordingProfileTest.java
  packages/camera/camera_android/pubspec.yaml
Labels: autosubmit, p: camera, platform-android

#6462 Migrate CameraX from SurfaceTexture to SurfaceProducer.
  packages/camera/camera_android_camerax/CHANGELOG.md
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/CameraXProxy.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/PreviewHostApiImpl.java
  packages/camera/camera_android_camerax/android/src/test/java/io/flutter/plugins/camerax/PreviewTest.java
  packages/camera/camera_android_camerax/pubspec.yaml
Labels: autosubmit, p: camera, platform-android

#6832 [google_maps_flutter] Undeprecate BitmapDescriptor methods
  packages/google_maps_flutter/google_maps_flutter_platform_interface/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/bitmap.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/pubspec.yaml
Labels: autosubmit, p: google_maps_flutter

#6456 Migrate `video_player/android` from `SurfaceTexture`->`SurfaceProducer`.
  packages/video_player/video_player_android/CHANGELOG.md
  packages/video_player/video_player_android/android/src/main/java/io/flutter/plugins/videoplayer/VideoPlayer.java
  packages/video_player/video_player_android/android/src/main/java/io/flutter/plugins/videoplayer/VideoPlayerPlugin.java
  packages/video_player/video_player_android/android/src/test/java/io/flutter/plugins/videoplayer/VideoPlayerTest.java
  packages/video_player/video_player_android/example/android/app/src/test/java/io/flutter/plugins/videoplayerexample/FlutterActivityTest.java
  packages/video_player/video_player_android/pubspec.yaml
Labels: autosubmit, platform-android, p: video_player

#6793 Amend package:web tweaks to allow package:web roll
  packages/video_player/video_player_web/CHANGELOG.md
  packages/video_player/video_player_web/example/integration_test/pkg_web_tweaks.dart
  packages/video_player/video_player_web/lib/src/pkg_web_tweaks.dart
  packages/video_player/video_player_web/lib/src/video_player.dart
  packages/video_player/video_player_web/pubspec.yaml
Labels: autosubmit, platform-web, p: video_player

#6831 [pigeon] Updates `PigeonInstanceMangerApi` to use the shared api channel code in Dart
  packages/pigeon/CHANGELOG.md
  packages/pigeon/lib/dart/templates.dart
  packages/pigeon/lib/dart_generator.dart
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/proxy_api_tests.gen.dart
  packages/pigeon/pubspec.yaml
  packages/pigeon/test/dart/proxy_api_test.dart
Labels: p: pigeon, autosubmit

#6838 Revert "Migrate CameraX from SurfaceTexture to SurfaceProducer."
  packages/camera/camera_android_camerax/CHANGELOG.md
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/CameraXProxy.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/PreviewHostApiImpl.java
  packages/camera/camera_android_camerax/android/src/test/java/io/flutter/plugins/camerax/PreviewTest.java
  packages/camera/camera_android_camerax/pubspec.yaml
Labels: autosubmit, p: camera, platform-android

#6678 [image_picker] Adds comment for the limit parameter
  packages/image_picker/image_picker/AUTHORS
  packages/image_picker/image_picker/CHANGELOG.md
  packages/image_picker/image_picker/lib/image_picker.dart
  packages/image_picker/image_picker/pubspec.yaml
  packages/image_picker/image_picker_android/AUTHORS
  packages/image_picker/image_picker_android/CHANGELOG.md
  packages/image_picker/image_picker_android/README.md
  packages/image_picker/image_picker_android/pubspec.yaml
Labels: autosubmit, p: image_picker, platform-android
