Repository flutter/packages, pull requests merged in 2024-10, with the labels that each got.

#7724 [local_auth] Update Pigeon in iOS and Android
  packages/local_auth/local_auth_android/CHANGELOG.md
  packages/local_auth/local_auth_android/android/src/main/java/io/flutter/plugins/localauth/LocalAuthPlugin.java
  packages/local_auth/local_auth_android/android/src/main/java/io/flutter/plugins/localauth/Messages.java
  packages/local_auth/local_auth_android/android/src/test/java/io/flutter/plugins/localauth/LocalAuthTest.java
  packages/local_auth/local_auth_android/lib/local_auth_android.dart
  packages/local_auth/local_auth_android/lib/src/messages.g.dart
  packages/local_auth/local_auth_android/pigeons/messages.dart
  packages/local_auth/local_auth_android/pubspec.yaml
  packages/local_auth/local_auth_android/test/local_auth_test.dart
  packages/local_auth/local_auth_android/test/local_auth_test.mocks.dart
  packages/local_auth/local_auth_darwin/CHANGELOG.md
  packages/local_auth/local_auth_darwin/darwin/local_auth_darwin/Sources/local_auth_darwin/FLALocalAuthPlugin.m
  packages/local_auth/local_auth_darwin/darwin/local_auth_darwin/Sources/local_auth_darwin/include/local_auth_darwin/messages.g.h
  packages/local_auth/local_auth_darwin/darwin/local_auth_darwin/Sources/local_auth_darwin/messages.g.m
  packages/local_auth/local_auth_darwin/lib/local_auth_darwin.dart
  packages/local_auth/local_auth_darwin/lib/src/messages.g.dart
  packages/local_auth/local_auth_darwin/pigeons/messages.dart
  packages/local_auth/local_auth_darwin/pubspec.yaml
  packages/local_auth/local_auth_darwin/test/local_auth_darwin_test.dart
  packages/local_auth/local_auth_darwin/test/local_auth_darwin_test.mocks.dart
Labels: autosubmit, p: local_auth, platform-android, platform-ios, platform-macos

#7759 Add flutter frame timings to benchmark metrics
  packages/web_benchmarks/CHANGELOG.md
  packages/web_benchmarks/lib/metrics.dart
  packages/web_benchmarks/lib/src/metrics.dart
  packages/web_benchmarks/lib/src/recorder.dart
  packages/web_benchmarks/lib/src/runner.dart
  packages/web_benchmarks/pubspec.yaml
  packages/web_benchmarks/test/src/analysis_test.dart
  packages/web_benchmarks/testing/test_app/benchmark/web_benchmarks_test.dart
Labels: p: web_benchmarks

#7716 [quick_actions_android] Update instructions for using a launcher activity with more breadcrumbs
  packages/quick_actions/quick_actions_android/CHANGELOG.md
  packages/quick_actions/quick_actions_android/README.md
  packages/quick_actions/quick_actions_android/pubspec.yaml
Labels: autosubmit, p: quick_actions, platform-android

#7722 Background/resuming `video_player` on Android sends one `initialized` event
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/lib/video_player.dart
  packages/video_player/video_player/pubspec.yaml
  packages/video_player/video_player_android/CHANGELOG.md
  packages/video_player/video_player_android/android/src/main/java/io/flutter/plugins/videoplayer/ExoPlayerEventListener.java
  packages/video_player/video_player_android/android/src/main/java/io/flutter/plugins/videoplayer/VideoPlayer.java
  packages/video_player/video_player_android/android/src/test/java/io/flutter/plugins/videoplayer/VideoPlayerTest.java
  packages/video_player/video_player_android/pubspec.yaml
  packages/video_player/video_player_platform_interface/CHANGELOG.md
  packages/video_player/video_player_platform_interface/lib/video_player_platform_interface.dart
  packages/video_player/video_player_platform_interface/pubspec.yaml
Labels: autosubmit, platform-android, p: video_player

#7770 [file_selector] Convert Linux to Pigeon
  packages/file_selector/file_selector_linux/CHANGELOG.md
  packages/file_selector/file_selector_linux/lib/file_selector_linux.dart
  packages/file_selector/file_selector_linux/lib/src/messages.g.dart
  packages/file_selector/file_selector_linux/linux/CMakeLists.txt
  packages/file_selector/file_selector_linux/linux/file_selector_plugin.cc
  packages/file_selector/file_selector_linux/linux/file_selector_plugin_private.h
  packages/file_selector/file_selector_linux/linux/messages.g.cc
  packages/file_selector/file_selector_linux/linux/messages.g.h
  packages/file_selector/file_selector_linux/linux/test/file_selector_plugin_test.cc
  packages/file_selector/file_selector_linux/pigeons/copyright.txt
  packages/file_selector/file_selector_linux/pigeons/messages.dart
  packages/file_selector/file_selector_linux/pubspec.yaml
  packages/file_selector/file_selector_linux/test/file_selector_linux_test.dart
Labels: autosubmit, p: file_selector, platform-linux

#7762 [various] Unpin some dev dependencies
  packages/camera/camera/pubspec.yaml
  packages/camera/camera_android_camerax/pubspec.yaml
  packages/camera/camera_avfoundation/pubspec.yaml
  packages/camera/camera_windows/pubspec.yaml
  packages/file_selector/file_selector_android/pubspec.yaml
  packages/file_selector/file_selector_ios/pubspec.yaml
  packages/file_selector/file_selector_macos/pubspec.yaml
  packages/file_selector/file_selector_windows/pubspec.yaml
  packages/flutter_markdown/pubspec.yaml
  packages/flutter_migrate/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_android/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_ios/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_platform_interface/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_web/example/pubspec.yaml
  packages/google_sign_in/google_sign_in/pubspec.yaml
  packages/google_sign_in/google_sign_in_android/pubspec.yaml
  packages/google_sign_in/google_sign_in_ios/pubspec.yaml
  packages/google_sign_in/google_sign_in_platform_interface/pubspec.yaml
  packages/google_sign_in/google_sign_in_web/example/pubspec.yaml
  packages/image_picker/image_picker/pubspec.yaml
  packages/image_picker/image_picker_android/pubspec.yaml
  packages/image_picker/image_picker_ios/pubspec.yaml
  packages/image_picker/image_picker_linux/pubspec.yaml
  packages/image_picker/image_picker_macos/pubspec.yaml
  packages/image_picker/image_picker_windows/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_android/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_platform_interface/pubspec.yaml
  packages/interactive_media_ads/pubspec.yaml
  packages/local_auth/local_auth/pubspec.yaml
  packages/local_auth/local_auth_android/pubspec.yaml
  packages/local_auth/local_auth_darwin/pubspec.yaml
  packages/local_auth/local_auth_platform_interface/pubspec.yaml
  packages/metrics_center/pubspec.yaml
  packages/path_provider/path_provider_foundation/pubspec.yaml
  packages/pigeon/platform_tests/shared_test_plugin_code/pubspec.yaml
  packages/plugin_platform_interface/pubspec.yaml
  packages/quick_actions/quick_actions/pubspec.yaml
  packages/quick_actions/quick_actions_platform_interface/pubspec.yaml
  packages/url_launcher/url_launcher/example/pubspec.yaml
  packages/url_launcher/url_launcher/pubspec.yaml
  packages/url_launcher/url_launcher_android/example/pubspec.yaml
  packages/url_launcher/url_launcher_android/pubspec.yaml
  packages/url_launcher/url_launcher_ios/pubspec.yaml
  packages/url_launcher/url_launcher_platform_interface/pubspec.yaml
  packages/url_launcher/url_launcher_web/example/pubspec.yaml
  packages/webview_flutter/webview_flutter/pubspec.yaml
  packages/webview_flutter/webview_flutter_android/pubspec.yaml
  packages/webview_flutter/webview_flutter_platform_interface/pubspec.yaml
  packages/webview_flutter/webview_flutter_web/pubspec.yaml
  packages/webview_flutter/webview_flutter_wkwebview/pubspec.yaml
  script/configs/allowed_pinned_deps.yaml
  script/configs/allowed_unpinned_deps.yaml
  script/tool/pubspec.yaml
Labels: p: metrics_center, p: pigeon, p: flutter_markdown, autosubmit, override: no versioning needed, override: no changelog needed, p: flutter_migrate, p: camera, p: file_selector, p: google_maps_flutter, p: google_sign_in, p: image_picker, p: in_app_purchase, p: local_auth, p: path_provider, p: plugin_platform_interface, p: quick_actions, platform-android, platform-ios, platform-linux, platform-macos, platform-web, platform-windows, p: webview_flutter, p: url_launcher, p: interactive_media_ads

#7760 Add percentile computations to benchmark scores
  packages/web_benchmarks/CHANGELOG.md
  packages/web_benchmarks/lib/client.dart
  packages/web_benchmarks/lib/src/computations.dart
  packages/web_benchmarks/lib/src/metrics.dart
  packages/web_benchmarks/lib/src/recorder.dart
  packages/web_benchmarks/pubspec.yaml
  packages/web_benchmarks/test/src/computations_test.dart
  packages/web_benchmarks/testing/test_app/benchmark/web_benchmarks_test.dart
Labels: p: web_benchmarks, override: no versioning needed

#7761 [pigeon] chore(readme): deprecated command of running pigeon
  packages/pigeon/CHANGELOG.md
  packages/pigeon/README.md
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/pubspec.yaml
Labels: p: pigeon, autosubmit

#7776 [video_player] Remove -Werror from Android build
  packages/video_player/video_player_android/CHANGELOG.md
  packages/video_player/video_player_android/android/build.gradle
  packages/video_player/video_player_android/pubspec.yaml
Labels: autosubmit, platform-android, p: video_player

#7773 [camera, google_sign_in, espresso] Bump guava to version `33.3.1`.
  packages/camera/camera_android_camerax/CHANGELOG.md
  packages/camera/camera_android_camerax/android/build.gradle
  packages/camera/camera_android_camerax/pubspec.yaml
  packages/espresso/CHANGELOG.md
  packages/espresso/android/build.gradle
  packages/espresso/pubspec.yaml
  packages/google_sign_in/google_sign_in_android/CHANGELOG.md
  packages/google_sign_in/google_sign_in_android/android/build.gradle
  packages/google_sign_in/google_sign_in_android/pubspec.yaml
Labels: autosubmit, p: camera, p: espresso, p: google_sign_in, platform-android

#7766 [xdg_directories] Add `stateHome` property
  packages/xdg_directories/CHANGELOG.md
  packages/xdg_directories/example/lib/main.dart
  packages/xdg_directories/lib/xdg_directories.dart
  packages/xdg_directories/pubspec.yaml
  packages/xdg_directories/test/xdg_directories_test.dart
Labels: p: xdg_directories, autosubmit

#7744 [url_launcher] Update Android Pigeon
  packages/url_launcher/url_launcher_android/CHANGELOG.md
  packages/url_launcher/url_launcher_android/android/src/main/java/io/flutter/plugins/urllauncher/Messages.java
  packages/url_launcher/url_launcher_android/android/src/main/java/io/flutter/plugins/urllauncher/UrlLauncherPlugin.java
  packages/url_launcher/url_launcher_android/lib/src/messages.g.dart
  packages/url_launcher/url_launcher_android/pigeons/messages.dart
  packages/url_launcher/url_launcher_android/pubspec.yaml
  packages/url_launcher/url_launcher_android/test/url_launcher_android_test.dart
Labels: autosubmit, platform-android, p: url_launcher

#7742 [various] Update Swift plugins for non-nullable generics
  packages/file_selector/file_selector_ios/CHANGELOG.md
  packages/file_selector/file_selector_ios/ios/file_selector_ios/Sources/file_selector_ios/FileSelectorPlugin.swift
  packages/file_selector/file_selector_ios/ios/file_selector_ios/Sources/file_selector_ios/messages.g.swift
  packages/file_selector/file_selector_ios/lib/file_selector_ios.dart
  packages/file_selector/file_selector_ios/lib/src/messages.g.dart
  packages/file_selector/file_selector_ios/pigeons/messages.dart
  packages/file_selector/file_selector_ios/pubspec.yaml
  packages/file_selector/file_selector_ios/test/file_selector_ios_test.mocks.dart
  packages/file_selector/file_selector_ios/test/test_api.g.dart
  packages/file_selector/file_selector_macos/CHANGELOG.md
  packages/file_selector/file_selector_macos/lib/src/messages.g.dart
  packages/file_selector/file_selector_macos/macos/file_selector_macos/Sources/file_selector_macos/FileSelectorPlugin.swift
  packages/file_selector/file_selector_macos/macos/file_selector_macos/Sources/file_selector_macos/messages.g.swift
  packages/file_selector/file_selector_macos/pigeons/messages.dart
  packages/file_selector/file_selector_macos/pubspec.yaml
  packages/file_selector/file_selector_macos/test/file_selector_macos_test.dart
  packages/file_selector/file_selector_macos/test/file_selector_macos_test.mocks.dart
  packages/file_selector/file_selector_macos/test/messages_test.g.dart
  packages/shared_preferences/shared_preferences_foundation/CHANGELOG.md
  packages/shared_preferences/shared_preferences_foundation/darwin/shared_preferences_foundation/Sources/shared_preferences_foundation/SharedPreferencesPlugin.swift
  packages/shared_preferences/shared_preferences_foundation/darwin/shared_preferences_foundation/Sources/shared_preferences_foundation/messages.g.swift
  packages/shared_preferences/shared_preferences_foundation/lib/src/messages.g.dart
  packages/shared_preferences/shared_preferences_foundation/lib/src/shared_preferences_async_foundation.dart
  packages/shared_preferences/shared_preferences_foundation/lib/src/shared_preferences_foundation.dart
  packages/shared_preferences/shared_preferences_foundation/pigeons/messages.dart
  packages/shared_preferences/shared_preferences_foundation/pubspec.yaml
  packages/shared_preferences/shared_preferences_foundation/test/shared_preferences_async_foundation_test.dart
  packages/shared_preferences/shared_preferences_foundation/test/shared_preferences_foundation_test.dart
  packages/shared_preferences/shared_preferences_foundation/test/test_api.g.dart
Labels: autosubmit, p: file_selector, platform-ios, platform-macos, p: shared_preferences

#7703 [google_maps_flutter_platform_interface] Convert `PatternItem` and `Cap` to typesafe structures.
  packages/google_maps_flutter/google_maps_flutter_platform_interface/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/cap.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/pattern_item.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_platform_interface/test/types/cap_test.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/test/types/pattern_item_test.dart
Labels: p: google_maps_flutter

#7699 [google_maps_flutter_platform_interface] Convert `BitmapDescriptor` to typesafe subclasses
  packages/google_maps_flutter/google_maps_flutter_platform_interface/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/bitmap.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_platform_interface/test/types/bitmap_test.dart
Labels: p: google_maps_flutter

#7752 [go_router] Added missing implementation for the routerNeglect parameter in GoRouter
  packages/go_router/CHANGELOG.md
  packages/go_router/doc/navigation.md
  packages/go_router/example/lib/others/router_neglect.dart
  packages/go_router/lib/src/builder.dart
  packages/go_router/lib/src/delegate.dart
  packages/go_router/lib/src/information_provider.dart
  packages/go_router/lib/src/router.dart
  packages/go_router/pubspec.yaml
  packages/go_router/test/information_provider_test.dart
Labels: p: go_router, autosubmit

#7790 [video_player] Update Pigeon for non-nullable generics
  packages/video_player/video_player_android/CHANGELOG.md
  packages/video_player/video_player_android/android/src/main/java/io/flutter/plugins/videoplayer/Messages.java
  packages/video_player/video_player_android/android/src/main/java/io/flutter/plugins/videoplayer/VideoPlayerPlugin.java
  packages/video_player/video_player_android/lib/src/messages.g.dart
  packages/video_player/video_player_android/pigeons/messages.dart
  packages/video_player/video_player_android/pubspec.yaml
  packages/video_player/video_player_android/test/android_video_player_test.dart
  packages/video_player/video_player_android/test/test_api.g.dart
  packages/video_player/video_player_avfoundation/CHANGELOG.md
  packages/video_player/video_player_avfoundation/darwin/video_player_avfoundation/Sources/video_player_avfoundation/include/video_player_avfoundation/messages.g.h
  packages/video_player/video_player_avfoundation/darwin/video_player_avfoundation/Sources/video_player_avfoundation/messages.g.m
  packages/video_player/video_player_avfoundation/lib/src/messages.g.dart
  packages/video_player/video_player_avfoundation/pigeons/messages.dart
  packages/video_player/video_player_avfoundation/pubspec.yaml
  packages/video_player/video_player_avfoundation/test/test_api.g.dart
Labels: autosubmit, platform-android, platform-ios, platform-macos, p: video_player

#7148 [rfw] Increase tolerance for material widget tests
  packages/rfw/test/material_widgets_test.dart
  packages/rfw/test/tolerant_comparator.dart
  packages/rfw/test/tolerant_comparator_web.dart
Labels: p: rfw, autosubmit

#7783 [path_provider] Update Android Pigeon for non-nullable generics
  packages/path_provider/path_provider_android/CHANGELOG.md
  packages/path_provider/path_provider_android/android/src/main/java/io/flutter/plugins/pathprovider/Messages.java
  packages/path_provider/path_provider_android/android/src/main/java/io/flutter/plugins/pathprovider/PathProviderPlugin.java
  packages/path_provider/path_provider_android/lib/messages.g.dart
  packages/path_provider/path_provider_android/lib/path_provider_android.dart
  packages/path_provider/path_provider_android/pigeons/messages.dart
  packages/path_provider/path_provider_android/pubspec.yaml
  packages/path_provider/path_provider_android/test/messages_test.g.dart
  packages/path_provider/path_provider_android/test/path_provider_android_test.dart
Labels: autosubmit, p: path_provider, platform-android

#7785 [google_sign_in] Update Pigeon for non-nullable generics
  packages/google_sign_in/google_sign_in_android/CHANGELOG.md
  packages/google_sign_in/google_sign_in_android/android/src/main/java/io/flutter/plugins/googlesignin/GoogleSignInPlugin.java
  packages/google_sign_in/google_sign_in_android/android/src/main/java/io/flutter/plugins/googlesignin/Messages.java
  packages/google_sign_in/google_sign_in_android/android/src/test/java/io/flutter/plugins/googlesignin/GoogleSignInTest.java
  packages/google_sign_in/google_sign_in_android/lib/src/messages.g.dart
  packages/google_sign_in/google_sign_in_android/pigeons/messages.dart
  packages/google_sign_in/google_sign_in_android/pubspec.yaml
  packages/google_sign_in/google_sign_in_ios/CHANGELOG.md
  packages/google_sign_in/google_sign_in_ios/pigeons/messages.dart
  packages/google_sign_in/google_sign_in_ios/pubspec.yaml
Labels: autosubmit, p: google_sign_in, platform-android, platform-ios

#7806 Manual roll Flutter from fa402c8057a1 to ead6b0d17c89 (14 revisions)
  .ci/flutter_master.version
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/PreviewHostApiImpl.java
  packages/camera/camera_android_camerax/android/src/test/java/io/flutter/plugins/camerax/PreviewTest.java
  packages/video_player/video_player_android/android/src/test/java/io/flutter/plugins/videoplayer/VideoPlayerTest.java
Labels: autosubmit, override: no versioning needed, override: no changelog needed, p: camera, platform-android, p: video_player

#7810 Revert "[in_app_purchase_storekit] Add support for purchase and transactions"
  packages/in_app_purchase/in_app_purchase_storekit/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_storekit/darwin/Classes/InAppPurchasePlugin.swift
  packages/in_app_purchase/in_app_purchase_storekit/darwin/Classes/StoreKit2/InAppPurchaseStoreKit2.swift
  packages/in_app_purchase/in_app_purchase_storekit/darwin/Classes/StoreKit2/StoreKit2Translators.swift
  packages/in_app_purchase/in_app_purchase_storekit/darwin/Classes/StoreKit2/sk2_pigeon.g.swift
  packages/in_app_purchase/in_app_purchase_storekit/example/ios/Runner.xcodeproj/project.pbxproj
  packages/in_app_purchase/in_app_purchase_storekit/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/in_app_purchase/in_app_purchase_storekit/example/ios/Runner/Configuration.storekit
  packages/in_app_purchase/in_app_purchase_storekit/example/ios/RunnerTests/InAppPurchaseStoreKit2PluginTests.swift
  packages/in_app_purchase/in_app_purchase_storekit/example/ios/RunnerTests/StoreKit2TranslatorTests.swift
  packages/in_app_purchase/in_app_purchase_storekit/example/macos/Runner.xcodeproj/project.pbxproj
  packages/in_app_purchase/in_app_purchase_storekit/example/macos/RunnerTests/InAppPurchaseStoreKit2PluginTests.swift
  packages/in_app_purchase/in_app_purchase_storekit/example/macos/RunnerTests/StoreKit2TranslatorTests.swift
  packages/in_app_purchase/in_app_purchase_storekit/example/shared/RunnerTests/InAppPurchaseStoreKit2PluginTests.swift
  packages/in_app_purchase/in_app_purchase_storekit/example/shared/RunnerTests/StoreKit2TranslatorTests.swift
  packages/in_app_purchase/in_app_purchase_storekit/lib/src/in_app_purchase_storekit_platform.dart
  packages/in_app_purchase/in_app_purchase_storekit/lib/src/sk2_pigeon.g.dart
  packages/in_app_purchase/in_app_purchase_storekit/lib/src/store_kit_2_wrappers/sk2_product_wrapper.dart
  packages/in_app_purchase/in_app_purchase_storekit/lib/src/store_kit_2_wrappers/sk2_transaction_wrapper.dart
  packages/in_app_purchase/in_app_purchase_storekit/lib/src/types/app_store_purchase_details.dart
  packages/in_app_purchase/in_app_purchase_storekit/lib/store_kit_2_wrappers.dart
  packages/in_app_purchase/in_app_purchase_storekit/pigeons/sk2_pigeon.dart
  packages/in_app_purchase/in_app_purchase_storekit/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_storekit/test/fakes/fake_storekit_platform.dart
  packages/in_app_purchase/in_app_purchase_storekit/test/in_app_purchase_storekit_2_platform_test.dart
  packages/in_app_purchase/in_app_purchase_storekit/test/sk2_test_api.g.dart
Labels: p: in_app_purchase, platform-ios, platform-macos

#7670 [webview_flutter_wkwebview] Support NTLM for authentication
  packages/webview_flutter/webview_flutter_wkwebview/CHANGELOG.md
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/foundation/foundation.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/webkit_webview_controller.dart
  packages/webview_flutter/webview_flutter_wkwebview/pubspec.yaml
  packages/webview_flutter/webview_flutter_wkwebview/test/webkit_navigation_delegate_test.dart
Labels: autosubmit, platform-ios, p: webview_flutter

#7809 Manual roll Flutter from ead6b0d17c89 to 6bba08cbcc51 (37 revisions)
  .ci/flutter_master.version
  script/tool/lib/src/format_command.dart
  script/tool/test/format_command_test.dart
  third_party/packages/cupertino_icons/test/cupertino_icons_golden_test.dart
  third_party/packages/cupertino_icons/test/icons_list.dart
Labels: p: cupertino_icons, autosubmit

#7807 [url_launcher] Remove incorrect SMS instructions
  packages/url_launcher/url_launcher/CHANGELOG.md
  packages/url_launcher/url_launcher/README.md
  packages/url_launcher/url_launcher/example/lib/encoding.dart
  packages/url_launcher/url_launcher/pubspec.yaml
Labels: autosubmit, p: url_launcher

#7814 Manual roll Flutter from 6bba08cbcc51 to 0975e612c04a (1 revision)
  .ci/flutter_master.version
  script/tool/lib/src/native_test_command.dart
  script/tool/test/native_test_command_test.dart
Labels: autosubmit

#7815 Manual roll Flutter from 0975e612c04a to ec2e12ba5099 (54 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#7816 Manual roll Flutter from ec2e12ba5099 to 0917e9dfdce0 (29 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#7786 [WIP] Updated applying gradle plugin for flutter_plugin_android_lifecycles
  packages/flutter_plugin_android_lifecycle/example/android/app/build.gradle
  packages/flutter_plugin_android_lifecycle/example/android/build.gradle
  packages/flutter_plugin_android_lifecycle/example/android/settings.gradle
Labels: p: flutter_plugin_android_lifecycle, platform-android

#7787 [camera] Update iOS Pigeon for non-nullable generics
  packages/camera/camera_avfoundation/CHANGELOG.md
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/include/camera_avfoundation/messages.g.h
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/messages.g.m
  packages/camera/camera_avfoundation/lib/src/avfoundation_camera.dart
  packages/camera/camera_avfoundation/lib/src/messages.g.dart
  packages/camera/camera_avfoundation/pigeons/messages.dart
  packages/camera/camera_avfoundation/pubspec.yaml
  packages/camera/camera_avfoundation/test/avfoundation_camera_test.mocks.dart
Labels: autosubmit, p: camera, platform-ios, platform-macos

#7819 Manually Roll Flutter (stable) from 4cf269e36de2 to 2663184aa790 (5 revisions)
  .ci/flutter_stable.version
Labels: autosubmit

#7817 [pigeon] Use non-nullable generics in example app
  packages/pigeon/example/README.md
  packages/pigeon/example/app/android/app/src/main/kotlin/dev/flutter/pigeon_example_app/Messages.g.kt
  packages/pigeon/example/app/ios/Runner/Messages.g.swift
  packages/pigeon/example/app/lib/main.dart
  packages/pigeon/example/app/lib/src/messages.g.dart
  packages/pigeon/example/app/pigeons/messages.dart
Labels: p: pigeon, autosubmit, override: no changelog needed, platform-android, platform-ios

#7824 Dispose the `ExoPlayer` before `SurfaceProducer`.
  packages/video_player/video_player_android/CHANGELOG.md
  packages/video_player/video_player_android/android/src/main/java/io/flutter/plugins/videoplayer/VideoPlayer.java
  packages/video_player/video_player_android/android/src/test/java/io/flutter/plugins/videoplayer/VideoPlayerTest.java
  packages/video_player/video_player_android/pubspec.yaml
Labels: platform-android, p: video_player

#7827 Disable `SurfaceProducer.Callback` when the surface is disposed manually.
  packages/video_player/video_player_android/CHANGELOG.md
  packages/video_player/video_player_android/android/src/main/java/io/flutter/plugins/videoplayer/VideoPlayer.java
  packages/video_player/video_player_android/android/src/test/java/io/flutter/plugins/videoplayer/VideoPlayerTest.java
  packages/video_player/video_player_android/pubspec.yaml
Labels: autosubmit, platform-android, p: video_player

#7823 [interactive_media_ads] Adds internal wrapper for Android native `CompanionAd`
  packages/interactive_media_ads/CHANGELOG.md
  packages/interactive_media_ads/android/src/main/kotlin/dev/flutter/packages/interactive_media_ads/AdsRequestProxyApi.kt
  packages/interactive_media_ads/android/src/main/kotlin/dev/flutter/packages/interactive_media_ads/CompanionAdProxyApi.kt
  packages/interactive_media_ads/android/src/main/kotlin/dev/flutter/packages/interactive_media_ads/InteractiveMediaAdsLibrary.g.kt
  packages/interactive_media_ads/android/src/main/kotlin/dev/flutter/packages/interactive_media_ads/ProxyApiRegistrar.kt
  packages/interactive_media_ads/android/src/test/kotlin/dev/flutter/packages/interactive_media_ads/CompanionAdProxyApiTest.kt
  packages/interactive_media_ads/ios/interactive_media_ads/Sources/interactive_media_ads/AdsRequestProxyAPIDelegate.swift
  packages/interactive_media_ads/lib/src/android/interactive_media_ads.g.dart
  packages/interactive_media_ads/pigeons/interactive_media_ads_android.dart
  packages/interactive_media_ads/pubspec.yaml
Labels: autosubmit, platform-android, platform-ios, p: interactive_media_ads

#7826 [camerax] Revert "Explicitly remove READ_EXTERNAL_STORAGE permission"
  packages/camera/camera_android_camerax/CHANGELOG.md
  packages/camera/camera_android_camerax/README.md
  packages/camera/camera_android_camerax/android/src/main/AndroidManifest.xml
  packages/camera/camera_android_camerax/pubspec.yaml
Labels: autosubmit, p: camera, platform-android

#7639 [google_maps_flutter_android] Add `PlatformCap` pigeon type.
  packages/google_maps_flutter/google_maps_flutter_android/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_android/android/src/main/java/io/flutter/plugins/googlemaps/Convert.java
  packages/google_maps_flutter/google_maps_flutter_android/android/src/main/java/io/flutter/plugins/googlemaps/Messages.java
  packages/google_maps_flutter/google_maps_flutter_android/lib/src/google_maps_flutter_android.dart
  packages/google_maps_flutter/google_maps_flutter_android/lib/src/messages.g.dart
  packages/google_maps_flutter/google_maps_flutter_android/pigeons/messages.dart
  packages/google_maps_flutter/google_maps_flutter_android/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_android/test/google_maps_flutter_android_test.dart
Labels: p: google_maps_flutter, platform-android

#7755 [camera_android] Begin conversion to Pigeon
  packages/camera/camera_android/CHANGELOG.md
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/CameraUtils.java
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/Messages.java
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/MethodCallHandlerImpl.java
  packages/camera/camera_android/android/src/test/java/io/flutter/plugins/camera/CameraUtilsTest.java
  packages/camera/camera_android/lib/src/android_camera.dart
  packages/camera/camera_android/lib/src/messages.g.dart
  packages/camera/camera_android/lib/src/utils.dart
  packages/camera/camera_android/pigeons/copyright.txt
  packages/camera/camera_android/pigeons/messages.dart
  packages/camera/camera_android/pubspec.yaml
  packages/camera/camera_android/test/android_camera_test.dart
  packages/camera/camera_android/test/android_camera_test.mocks.dart
  packages/camera/camera_android/test/utils_test.dart
Labels: p: camera, platform-android

#7836 Roll Flutter from 0917e9dfdce0 to 2d45fb396d6a (50 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#7837 Remove additional (harmless but annoying) native stack traces.
  packages/video_player/video_player_android/CHANGELOG.md
  packages/video_player/video_player_android/android/src/main/java/io/flutter/plugins/videoplayer/VideoPlayer.java
  packages/video_player/video_player_android/android/src/test/java/io/flutter/plugins/videoplayer/VideoPlayerTest.java
  packages/video_player/video_player_android/pubspec.yaml
Labels: autosubmit, platform-android, p: video_player

#7844 [webview_flutter] Updates minimum supported `webview_flutter_android` from 3.16.0 to 4.0.0
  packages/webview_flutter/webview_flutter/CHANGELOG.md
  packages/webview_flutter/webview_flutter/README.md
  packages/webview_flutter/webview_flutter/example/pubspec.yaml
  packages/webview_flutter/webview_flutter/pubspec.yaml
Labels: autosubmit, p: webview_flutter

#7843 Roll Flutter from 2d45fb396d6a to 6790525ce673 (7 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#7708 [camera_android_camerax] Remove duplicated 'report' in README.md
  packages/camera/camera_android_camerax/README.md
Labels: autosubmit, override: no versioning needed, override: no changelog needed, p: camera

#6602 [pigeon] Swift implementation for ProxyApis
  packages/pigeon/CHANGELOG.md
  packages/pigeon/CONTRIBUTING.md
  packages/pigeon/lib/ast.dart
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/lib/pigeon.dart
  packages/pigeon/lib/pigeon_lib.dart
  packages/pigeon/lib/swift/templates.dart
  packages/pigeon/lib/swift_generator.dart
  packages/pigeon/pigeons/proxy_api_tests.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/integration_tests.dart
  packages/pigeon/platform_tests/test_plugin/example/.gitignore
  packages/pigeon/platform_tests/test_plugin/example/ios/Runner.xcodeproj/project.pbxproj
  packages/pigeon/platform_tests/test_plugin/example/ios/RunnerTests/InstanceManagerTests.swift
  packages/pigeon/platform_tests/test_plugin/ios/Classes/.gitignore
  packages/pigeon/platform_tests/test_plugin/ios/Classes/ProxyApiTestClass.swift
  packages/pigeon/platform_tests/test_plugin/ios/Classes/ProxyApiTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/ios/Classes/TestPlugin.swift
  packages/pigeon/platform_tests/test_plugin/macos/Classes/.gitignore
  packages/pigeon/platform_tests/test_plugin/macos/Classes/ProxyApiTestClass.swift
  packages/pigeon/platform_tests/test_plugin/macos/Classes/ProxyApiTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/macos/Classes/TestPlugin.swift
  packages/pigeon/pubspec.yaml
  packages/pigeon/test/swift/proxy_api_test.dart
  script/configs/allowed_unpinned_deps.yaml
Labels: p: pigeon, autosubmit, platform-ios, platform-macos

#7792 [google_maps_flutter] Update iOS Pigeon for non-nullable generics
  packages/google_maps_flutter/google_maps_flutter_ios/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_ios/ios/Classes/messages.g.h
  packages/google_maps_flutter/google_maps_flutter_ios/ios/Classes/messages.g.m
  packages/google_maps_flutter/google_maps_flutter_ios/lib/src/google_map_inspector_ios.dart
  packages/google_maps_flutter/google_maps_flutter_ios/lib/src/messages.g.dart
  packages/google_maps_flutter/google_maps_flutter_ios/pigeons/messages.dart
  packages/google_maps_flutter/google_maps_flutter_ios/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_ios/test/google_maps_flutter_ios_test.mocks.dart
Labels: autosubmit, p: google_maps_flutter, platform-ios

#7848 [flutter_markdown] Soft wrapping in blockquotes
  packages/flutter_markdown/CHANGELOG.md
  packages/flutter_markdown/lib/src/builder.dart
  packages/flutter_markdown/pubspec.yaml
  packages/flutter_markdown/test/blockquote_test.dart
Labels: p: flutter_markdown, autosubmit

#7857 [camera_android] Convert calls from native to dart side to Pigeon.
  packages/camera/camera_android/CHANGELOG.md
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/CameraUtils.java
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/DartMessenger.java
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/Messages.java
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/MethodCallHandlerImpl.java
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/NoOpVoidResult.java
  packages/camera/camera_android/android/src/test/java/io/flutter/plugins/camera/DartMessengerTest.java
  packages/camera/camera_android/lib/src/android_camera.dart
  packages/camera/camera_android/lib/src/messages.g.dart
  packages/camera/camera_android/lib/src/utils.dart
  packages/camera/camera_android/pigeons/messages.dart
  packages/camera/camera_android/pubspec.yaml
  packages/camera/camera_android/test/android_camera_test.dart
  packages/camera/camera_android/test/utils_test.dart
Labels: p: camera, platform-android

#7775 [image_picker] Update for non-nullable generics in Pigeon
  packages/image_picker/image_picker_android/CHANGELOG.md
  packages/image_picker/image_picker_android/android/src/main/java/io/flutter/plugins/imagepicker/Messages.java
  packages/image_picker/image_picker_android/lib/image_picker_android.dart
  packages/image_picker/image_picker_android/lib/src/messages.g.dart
  packages/image_picker/image_picker_android/pigeons/messages.dart
  packages/image_picker/image_picker_android/pubspec.yaml
  packages/image_picker/image_picker_android/test/image_picker_android_test.dart
  packages/image_picker/image_picker_android/test/test_api.g.dart
  packages/image_picker/image_picker_ios/CHANGELOG.md
  packages/image_picker/image_picker_ios/ios/image_picker_ios/Sources/image_picker_ios/include/image_picker_ios/messages.g.h
  packages/image_picker/image_picker_ios/ios/image_picker_ios/Sources/image_picker_ios/messages.g.m
  packages/image_picker/image_picker_ios/lib/image_picker_ios.dart
  packages/image_picker/image_picker_ios/lib/src/messages.g.dart
  packages/image_picker/image_picker_ios/pigeons/messages.dart
  packages/image_picker/image_picker_ios/pubspec.yaml
  packages/image_picker/image_picker_ios/test/image_picker_ios_test.dart
  packages/image_picker/image_picker_ios/test/test_api.g.dart
Labels: autosubmit, p: image_picker, platform-android, platform-ios

#7858 Disable non-functional, deprecated `package_api_docs` lint
  analysis_options.yaml
  packages/web_benchmarks/testing/test_app/analysis_options.yaml
Labels: p: web_benchmarks, autosubmit

#7833 [interactive_media_ads] Adds internal wrapper for Android native `UniversalAdId`
  packages/interactive_media_ads/CHANGELOG.md
  packages/interactive_media_ads/android/src/main/kotlin/dev/flutter/packages/interactive_media_ads/AdsRequestProxyApi.kt
  packages/interactive_media_ads/android/src/main/kotlin/dev/flutter/packages/interactive_media_ads/InteractiveMediaAdsLibrary.g.kt
  packages/interactive_media_ads/android/src/main/kotlin/dev/flutter/packages/interactive_media_ads/ProxyApiRegistrar.kt
  packages/interactive_media_ads/android/src/main/kotlin/dev/flutter/packages/interactive_media_ads/UniversalAdIdProxyApi.kt
  packages/interactive_media_ads/android/src/test/kotlin/dev/flutter/packages/interactive_media_ads/UniversalAdIdProxyApiTest.kt
  packages/interactive_media_ads/ios/interactive_media_ads/Sources/interactive_media_ads/AdsRequestProxyAPIDelegate.swift
  packages/interactive_media_ads/lib/src/android/interactive_media_ads.g.dart
  packages/interactive_media_ads/pigeons/interactive_media_ads_android.dart
  packages/interactive_media_ads/pubspec.yaml
Labels: autosubmit, platform-android, platform-ios, p: interactive_media_ads

#7847 Convert use of `mini_player` in the `video_player_android` test to `AndroidVideoPlayer`.
  packages/video_player/video_player_android/CHANGELOG.md
  packages/video_player/video_player_android/android/src/main/java/io/flutter/plugins/videoplayer/VideoPlayerPlugin.java
  packages/video_player/video_player_android/example/integration_test/video_player_test.dart
  packages/video_player/video_player_android/pubspec.yaml
Labels: autosubmit, platform-android, p: video_player

#7812 [in_app_purchase_storekit] Add support for purchase and transactions #7574
  packages/in_app_purchase/in_app_purchase_storekit/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_storekit/darwin/Classes/InAppPurchasePlugin.swift
  packages/in_app_purchase/in_app_purchase_storekit/darwin/Classes/StoreKit2/InAppPurchaseStoreKit2.swift
  packages/in_app_purchase/in_app_purchase_storekit/darwin/Classes/StoreKit2/StoreKit2Translators.swift
  packages/in_app_purchase/in_app_purchase_storekit/darwin/Classes/StoreKit2/sk2_pigeon.g.swift
  packages/in_app_purchase/in_app_purchase_storekit/example/ios/Runner.xcodeproj/project.pbxproj
  packages/in_app_purchase/in_app_purchase_storekit/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/in_app_purchase/in_app_purchase_storekit/example/ios/Runner/Configuration.storekit
  packages/in_app_purchase/in_app_purchase_storekit/example/ios/RunnerTests/InAppPurchaseStoreKit2PluginTests.swift
  packages/in_app_purchase/in_app_purchase_storekit/example/ios/RunnerTests/StoreKit2TranslatorTests.swift
  packages/in_app_purchase/in_app_purchase_storekit/example/macos/Runner.xcodeproj/project.pbxproj
  packages/in_app_purchase/in_app_purchase_storekit/example/macos/Runner.xcworkspace/contents.xcworkspacedata
  packages/in_app_purchase/in_app_purchase_storekit/example/shared/RunnerTests/InAppPurchaseStoreKit2PluginTests.swift
  packages/in_app_purchase/in_app_purchase_storekit/example/shared/RunnerTests/StoreKit2TranslatorTests.swift
  packages/in_app_purchase/in_app_purchase_storekit/lib/src/in_app_purchase_storekit_platform.dart
  packages/in_app_purchase/in_app_purchase_storekit/lib/src/sk2_pigeon.g.dart
  packages/in_app_purchase/in_app_purchase_storekit/lib/src/store_kit_2_wrappers/sk2_product_wrapper.dart
  packages/in_app_purchase/in_app_purchase_storekit/lib/src/store_kit_2_wrappers/sk2_transaction_wrapper.dart
  packages/in_app_purchase/in_app_purchase_storekit/lib/src/types/app_store_purchase_details.dart
  packages/in_app_purchase/in_app_purchase_storekit/lib/store_kit_2_wrappers.dart
  packages/in_app_purchase/in_app_purchase_storekit/pigeons/sk2_pigeon.dart
  packages/in_app_purchase/in_app_purchase_storekit/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_storekit/test/fakes/fake_storekit_platform.dart
  packages/in_app_purchase/in_app_purchase_storekit/test/in_app_purchase_storekit_2_platform_test.dart
  packages/in_app_purchase/in_app_purchase_storekit/test/sk2_test_api.g.dart
Labels: autosubmit, p: in_app_purchase, platform-ios, platform-macos

#7881 Removing unnecessary parenthesis
  packages/camera/camera/example/lib/main.dart
  packages/camera/camera_android/example/lib/main.dart
  packages/camera/camera_avfoundation/example/lib/main.dart
  packages/google_maps_flutter/google_maps_flutter/example/lib/place_polygon.dart
  packages/google_maps_flutter/google_maps_flutter_android/example/lib/place_polygon.dart
  packages/google_maps_flutter/google_maps_flutter_ios/example/shared/maps_example_dart/lib/place_polygon.dart
  packages/pigeon/CHANGELOG.md
  packages/pigeon/lib/dart_generator.dart
  packages/pigeon/lib/objc_generator.dart
  packages/webview_flutter/webview_flutter/example/integration_test/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter/example/integration_test/webview_flutter_test_legacy.dart
  packages/webview_flutter/webview_flutter_android/example/integration_test/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter_android/example/integration_test/webview_flutter_test_legacy.dart
  packages/webview_flutter/webview_flutter_wkwebview/example/integration_test/legacy/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/example/integration_test/webview_flutter_test.dart
Labels: p: pigeon, autosubmit, override: no versioning needed, override: no changelog needed, p: camera, p: google_maps_flutter, platform-android, platform-ios, platform-macos, p: webview_flutter

#7879 [image_picker_web] Loosen mime dep to >=1.0.4 <3.0.0
  packages/image_picker/image_picker_android/example/pubspec.yaml
  packages/image_picker/image_picker_for_web/CHANGELOG.md
  packages/image_picker/image_picker_for_web/pubspec.yaml
  packages/image_picker/image_picker_ios/example/pubspec.yaml
  packages/image_picker/image_picker_linux/example/pubspec.yaml
  packages/image_picker/image_picker_macos/example/pubspec.yaml
  packages/image_picker/image_picker_windows/example/pubspec.yaml
Labels: autosubmit, p: image_picker, platform-android, platform-ios, platform-linux, platform-macos, platform-web, platform-windows

#7877 [camera_android] Mark `description` in `sendCameraErrorEvent` as `@NonNull`
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/Camera.java
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/DartMessenger.java
Labels: override: no versioning needed, override: no changelog needed, p: camera, platform-android

#7886 Revert "[in_app_purchase_storekit] Add support for purchase and transactions #7574"
  packages/in_app_purchase/in_app_purchase_storekit/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_storekit/darwin/Classes/InAppPurchasePlugin.swift
  packages/in_app_purchase/in_app_purchase_storekit/darwin/Classes/StoreKit2/InAppPurchaseStoreKit2.swift
  packages/in_app_purchase/in_app_purchase_storekit/darwin/Classes/StoreKit2/StoreKit2Translators.swift
  packages/in_app_purchase/in_app_purchase_storekit/darwin/Classes/StoreKit2/sk2_pigeon.g.swift
  packages/in_app_purchase/in_app_purchase_storekit/example/ios/Runner.xcodeproj/project.pbxproj
  packages/in_app_purchase/in_app_purchase_storekit/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/in_app_purchase/in_app_purchase_storekit/example/ios/Runner/Configuration.storekit
  packages/in_app_purchase/in_app_purchase_storekit/example/ios/RunnerTests/InAppPurchaseStoreKit2PluginTests.swift
  packages/in_app_purchase/in_app_purchase_storekit/example/ios/RunnerTests/StoreKit2TranslatorTests.swift
  packages/in_app_purchase/in_app_purchase_storekit/example/macos/Runner.xcodeproj/project.pbxproj
  packages/in_app_purchase/in_app_purchase_storekit/example/macos/Runner.xcworkspace/contents.xcworkspacedata
  packages/in_app_purchase/in_app_purchase_storekit/example/shared/RunnerTests/InAppPurchaseStoreKit2PluginTests.swift
  packages/in_app_purchase/in_app_purchase_storekit/example/shared/RunnerTests/StoreKit2TranslatorTests.swift
  packages/in_app_purchase/in_app_purchase_storekit/lib/src/in_app_purchase_storekit_platform.dart
  packages/in_app_purchase/in_app_purchase_storekit/lib/src/sk2_pigeon.g.dart
  packages/in_app_purchase/in_app_purchase_storekit/lib/src/store_kit_2_wrappers/sk2_product_wrapper.dart
  packages/in_app_purchase/in_app_purchase_storekit/lib/src/store_kit_2_wrappers/sk2_transaction_wrapper.dart
  packages/in_app_purchase/in_app_purchase_storekit/lib/src/types/app_store_purchase_details.dart
  packages/in_app_purchase/in_app_purchase_storekit/lib/store_kit_2_wrappers.dart
  packages/in_app_purchase/in_app_purchase_storekit/pigeons/sk2_pigeon.dart
  packages/in_app_purchase/in_app_purchase_storekit/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_storekit/test/fakes/fake_storekit_platform.dart
  packages/in_app_purchase/in_app_purchase_storekit/test/in_app_purchase_storekit_2_platform_test.dart
  packages/in_app_purchase/in_app_purchase_storekit/test/sk2_test_api.g.dart
Labels: autosubmit, p: in_app_purchase, platform-ios, platform-macos

#7474 [two_dimensional_scrollables] Fixes TreeViewNode collapsing not working
  packages/two_dimensional_scrollables/CHANGELOG.md
  packages/two_dimensional_scrollables/lib/src/tree_view/tree.dart
  packages/two_dimensional_scrollables/pubspec.yaml
  packages/two_dimensional_scrollables/test/tree_view/tree_test.dart
Labels: autosubmit, p: two_dimensional_scrollables

#7887 [in_app_purchase_storekit] Add support for purchase and transactions
  packages/in_app_purchase/in_app_purchase_storekit/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_storekit/darwin/Classes/InAppPurchasePlugin.swift
  packages/in_app_purchase/in_app_purchase_storekit/darwin/Classes/StoreKit2/InAppPurchaseStoreKit2.swift
  packages/in_app_purchase/in_app_purchase_storekit/darwin/Classes/StoreKit2/StoreKit2Translators.swift
  packages/in_app_purchase/in_app_purchase_storekit/darwin/Classes/StoreKit2/sk2_pigeon.g.swift
  packages/in_app_purchase/in_app_purchase_storekit/example/ios/Runner.xcodeproj/project.pbxproj
  packages/in_app_purchase/in_app_purchase_storekit/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/in_app_purchase/in_app_purchase_storekit/example/ios/Runner/Configuration.storekit
  packages/in_app_purchase/in_app_purchase_storekit/example/ios/RunnerTests/InAppPurchaseStoreKit2PluginTests.swift
  packages/in_app_purchase/in_app_purchase_storekit/example/ios/RunnerTests/StoreKit2TranslatorTests.swift
  packages/in_app_purchase/in_app_purchase_storekit/example/macos/Runner.xcodeproj/project.pbxproj
  packages/in_app_purchase/in_app_purchase_storekit/example/macos/Runner.xcworkspace/contents.xcworkspacedata
  packages/in_app_purchase/in_app_purchase_storekit/example/shared/RunnerTests/InAppPurchaseStoreKit2PluginTests.swift
  packages/in_app_purchase/in_app_purchase_storekit/example/shared/RunnerTests/StoreKit2TranslatorTests.swift
  packages/in_app_purchase/in_app_purchase_storekit/lib/src/in_app_purchase_storekit_platform.dart
  packages/in_app_purchase/in_app_purchase_storekit/lib/src/sk2_pigeon.g.dart
  packages/in_app_purchase/in_app_purchase_storekit/lib/src/store_kit_2_wrappers/sk2_product_wrapper.dart
  packages/in_app_purchase/in_app_purchase_storekit/lib/src/store_kit_2_wrappers/sk2_transaction_wrapper.dart
  packages/in_app_purchase/in_app_purchase_storekit/lib/src/types/app_store_purchase_details.dart
  packages/in_app_purchase/in_app_purchase_storekit/lib/store_kit_2_wrappers.dart
  packages/in_app_purchase/in_app_purchase_storekit/pigeons/sk2_pigeon.dart
  packages/in_app_purchase/in_app_purchase_storekit/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_storekit/test/fakes/fake_storekit_platform.dart
  packages/in_app_purchase/in_app_purchase_storekit/test/in_app_purchase_storekit_2_platform_test.dart
  packages/in_app_purchase/in_app_purchase_storekit/test/sk2_test_api.g.dart
Labels: autosubmit, p: in_app_purchase, platform-ios, platform-macos

#7774 [url_launcher] Decode file URLs before passing it to ShellExecuteW
  packages/url_launcher/url_launcher_windows/CHANGELOG.md
  packages/url_launcher/url_launcher_windows/pubspec.yaml
  packages/url_launcher/url_launcher_windows/windows/CMakeLists.txt
  packages/url_launcher/url_launcher_windows/windows/test/url_launcher_windows_test.cpp
  packages/url_launcher/url_launcher_windows/windows/url_launcher_plugin.cpp
Labels: autosubmit, platform-windows, p: url_launcher

#7874 [camera_android] Convert Dart to native calls to use Pigeon
  packages/camera/camera_android/CHANGELOG.md
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/Camera.java
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/CameraApiImpl.java
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/CameraPlugin.java
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/CameraUtils.java
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/DartMessenger.java
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/Messages.java
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/MethodCallHandlerImpl.java
  packages/camera/camera_android/android/src/test/java/io/flutter/plugins/camera/CameraApiImplTest.java
  packages/camera/camera_android/android/src/test/java/io/flutter/plugins/camera/CameraTest.java
  packages/camera/camera_android/android/src/test/java/io/flutter/plugins/camera/CameraUtilsTest.java
  packages/camera/camera_android/lib/src/android_camera.dart
  packages/camera/camera_android/lib/src/messages.g.dart
  packages/camera/camera_android/lib/src/utils.dart
  packages/camera/camera_android/pigeons/messages.dart
  packages/camera/camera_android/pubspec.yaml
  packages/camera/camera_android/test/android_camera_test.dart
  packages/camera/camera_android/test/android_camera_test.mocks.dart
  packages/camera/camera_android/test/utils_test.dart
Labels: p: camera, platform-android

#7805 [google_maps_android_flutter] Convert `Config.sdk` to `minSdk` in Robolectric tests and lower to `LOLLIPOP`
  packages/camera/camera_android/android/build.gradle
  packages/google_maps_flutter/google_maps_flutter_android/android/build.gradle
  packages/google_maps_flutter/google_maps_flutter_android/android/src/test/java/io/flutter/plugins/googlemaps/ClusterManagersControllerTest.java
  packages/google_maps_flutter/google_maps_flutter_android/android/src/test/java/io/flutter/plugins/googlemaps/ConvertTest.java
  packages/google_maps_flutter/google_maps_flutter_android/android/src/test/java/io/flutter/plugins/googlemaps/GoogleMapControllerTest.java
  packages/google_maps_flutter/google_maps_flutter_android/android/src/test/java/io/flutter/plugins/googlemaps/GoogleMapInitializerTest.java
  packages/google_maps_flutter/google_maps_flutter_android/android/src/test/java/io/flutter/plugins/googlemaps/HeatmapsControllerTest.java
  packages/google_maps_flutter/google_maps_flutter_android/android/src/test/java/io/flutter/plugins/googlemaps/MarkersControllerTest.java
Labels: override: no versioning needed, override: no changelog needed, p: camera, p: google_maps_flutter, platform-android

#7876 [video_player] Remove Android API 19 SSL handling
  packages/video_player/video_player_android/CHANGELOG.md
  packages/video_player/video_player_android/android/build.gradle
  packages/video_player/video_player_android/android/src/main/java/io/flutter/plugins/videoplayer/CustomSSLSocketFactory.java
  packages/video_player/video_player_android/android/src/main/java/io/flutter/plugins/videoplayer/VideoPlayerPlugin.java
  packages/video_player/video_player_android/pubspec.yaml
Labels: autosubmit, platform-android, p: video_player

#7880 [interactive_media_ads] Adds internal wrapper for Android native `Ad`
  packages/interactive_media_ads/CHANGELOG.md
  packages/interactive_media_ads/android/src/main/kotlin/dev/flutter/packages/interactive_media_ads/AdProxyApi.kt
  packages/interactive_media_ads/android/src/main/kotlin/dev/flutter/packages/interactive_media_ads/AdsRequestProxyApi.kt
  packages/interactive_media_ads/android/src/main/kotlin/dev/flutter/packages/interactive_media_ads/InteractiveMediaAdsLibrary.g.kt
  packages/interactive_media_ads/android/src/main/kotlin/dev/flutter/packages/interactive_media_ads/ProxyApiRegistrar.kt
  packages/interactive_media_ads/android/src/test/kotlin/dev/flutter/packages/interactive_media_ads/AdProxyApiTest.kt
  packages/interactive_media_ads/ios/interactive_media_ads/Sources/interactive_media_ads/AdsRequestProxyAPIDelegate.swift
  packages/interactive_media_ads/lib/src/android/interactive_media_ads.g.dart
  packages/interactive_media_ads/pigeons/interactive_media_ads_android.dart
  packages/interactive_media_ads/pubspec.yaml
Labels: autosubmit, platform-android, platform-ios, p: interactive_media_ads

#7820 [in_app_purchase] Update iOS Pigeon for non-nullable generics
  packages/in_app_purchase/in_app_purchase_storekit/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_storekit/darwin/Classes/FIAObjectTranslator.h
  packages/in_app_purchase/in_app_purchase_storekit/darwin/Classes/FIAObjectTranslator.m
  packages/in_app_purchase/in_app_purchase_storekit/darwin/Classes/InAppPurchasePlugin.swift
  packages/in_app_purchase/in_app_purchase_storekit/darwin/Classes/StoreKit2/sk2_pigeon.g.swift
  packages/in_app_purchase/in_app_purchase_storekit/darwin/Classes/messages.g.h
  packages/in_app_purchase/in_app_purchase_storekit/darwin/Classes/messages.g.m
  packages/in_app_purchase/in_app_purchase_storekit/example/shared/RunnerTests/TranslatorTests.swift
  packages/in_app_purchase/in_app_purchase_storekit/lib/src/messages.g.dart
  packages/in_app_purchase/in_app_purchase_storekit/lib/src/sk2_pigeon.g.dart
  packages/in_app_purchase/in_app_purchase_storekit/lib/src/store_kit_2_wrappers/sk2_product_wrapper.dart
  packages/in_app_purchase/in_app_purchase_storekit/lib/src/store_kit_2_wrappers/sk2_transaction_wrapper.dart
  packages/in_app_purchase/in_app_purchase_storekit/lib/src/store_kit_wrappers/sk_payment_queue_wrapper.dart
  packages/in_app_purchase/in_app_purchase_storekit/lib/src/store_kit_wrappers/sk_product_wrapper.dart
  packages/in_app_purchase/in_app_purchase_storekit/lib/src/store_kit_wrappers/sk_request_maker.dart
  packages/in_app_purchase/in_app_purchase_storekit/pigeons/messages.dart
  packages/in_app_purchase/in_app_purchase_storekit/pigeons/sk2_pigeon.dart
  packages/in_app_purchase/in_app_purchase_storekit/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_storekit/test/fakes/fake_storekit_platform.dart
  packages/in_app_purchase/in_app_purchase_storekit/test/in_app_purchase_storekit_platform_addtion_test.dart
  packages/in_app_purchase/in_app_purchase_storekit/test/in_app_purchase_storekit_platform_test.dart
  packages/in_app_purchase/in_app_purchase_storekit/test/sk2_test_api.g.dart
  packages/in_app_purchase/in_app_purchase_storekit/test/store_kit_wrappers/sk_methodchannel_apis_test.dart
  packages/in_app_purchase/in_app_purchase_storekit/test/store_kit_wrappers/sk_payment_queue_delegate_api_test.dart
  packages/in_app_purchase/in_app_purchase_storekit/test/test_api.g.dart
Labels: autosubmit, p: in_app_purchase, platform-ios, platform-macos

#7859 Allow custom blocks to be something other than `Column` or `SizedBox`
  packages/flutter_markdown/CHANGELOG.md
  packages/flutter_markdown/lib/src/builder.dart
  packages/flutter_markdown/pubspec.yaml
  packages/flutter_markdown/test/custom_syntax_test.dart
Labels: p: flutter_markdown, autosubmit

#7846 [video_player_android] Correct rotation of videos recorded by the camera
  packages/video_player/video_player_android/CHANGELOG.md
  packages/video_player/video_player_android/android/build.gradle
  packages/video_player/video_player_android/android/src/main/java/io/flutter/plugins/videoplayer/ExoPlayerEventListener.java
  packages/video_player/video_player_android/android/src/test/java/io/flutter/plugins/videoplayer/ExoPlayerEventListenerTest.java
  packages/video_player/video_player_android/pubspec.yaml
Labels: autosubmit, platform-android, p: video_player

#7913 [video_player_android] Give `can pause` integration test range to test for
  packages/video_player/video_player_android/example/integration_test/video_player_test.dart
Labels: platform-android, p: video_player

#7849 [pigeon] Allows swift generator to skip error class generation
  packages/pigeon/CHANGELOG.md
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/lib/pigeon_lib.dart
  packages/pigeon/lib/swift_generator.dart
  packages/pigeon/pubspec.yaml
  packages/pigeon/tool/shared/generation.dart
Labels: p: pigeon, autosubmit

#7909 [video_player] Simplify Pigeon API on Android
  packages/video_player/video_player_android/CHANGELOG.md
  packages/video_player/video_player_android/android/src/main/java/io/flutter/plugins/videoplayer/Messages.java
  packages/video_player/video_player_android/android/src/main/java/io/flutter/plugins/videoplayer/VideoPlayerPlugin.java
  packages/video_player/video_player_android/lib/src/android_video_player.dart
  packages/video_player/video_player_android/lib/src/messages.g.dart
  packages/video_player/video_player_android/pigeons/messages.dart
  packages/video_player/video_player_android/pubspec.yaml
  packages/video_player/video_player_android/test/android_video_player_test.dart
  packages/video_player/video_player_android/test/test_api.g.dart
Labels: autosubmit, platform-android, p: video_player

#7930 Roll Flutter (stable) from 2663184aa790 to 603104015dd6 (3 revisions)
  .ci/flutter_stable.version
Labels: autosubmit

#7926 Drop deprecated web library
  packages/image_picker/image_picker_for_web/example/integration_test/image_resizer_test.dart
  packages/image_picker/image_picker_for_web/lib/src/image_resizer.dart
  packages/video_player/video_player_web/lib/src/video_player.dart
Labels: autosubmit, override: no versioning needed, override: no changelog needed, p: image_picker, platform-web, p: video_player

#7937 Roll Flutter from 4faa4a415ec9 to 5a11904383d1 (67 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#7889 [interactive_media_ads] Adds internal wrapper for iOS native `IMACompanionAdSlot` and `IMACompanionDelegate`
  packages/interactive_media_ads/CHANGELOG.md
  packages/interactive_media_ads/android/src/main/kotlin/dev/flutter/packages/interactive_media_ads/AdsRequestProxyApi.kt
  packages/interactive_media_ads/example/ios/Runner.xcodeproj/project.pbxproj
  packages/interactive_media_ads/example/ios/RunnerTests/CompanionAdSlotProxyApiTests.swift
  packages/interactive_media_ads/example/ios/RunnerTests/CompanionDelegateProxyApiTests.swift
  packages/interactive_media_ads/ios/interactive_media_ads/Sources/interactive_media_ads/AdsRequestProxyAPIDelegate.swift
  packages/interactive_media_ads/ios/interactive_media_ads/Sources/interactive_media_ads/CompanionAdSlotProxyAPIDelegate.swift
  packages/interactive_media_ads/ios/interactive_media_ads/Sources/interactive_media_ads/CompanionDelegateProxyAPIDelegate.swift
  packages/interactive_media_ads/ios/interactive_media_ads/Sources/interactive_media_ads/InteractiveMediaAdsLibrary.g.swift
  packages/interactive_media_ads/ios/interactive_media_ads/Sources/interactive_media_ads/ProxyApiDelegate.swift
  packages/interactive_media_ads/lib/src/ios/interactive_media_ads.g.dart
  packages/interactive_media_ads/lib/src/ios/interactive_media_ads_proxy.dart
  packages/interactive_media_ads/pigeons/interactive_media_ads_ios.dart
  packages/interactive_media_ads/pubspec.yaml
Labels: autosubmit, platform-android, platform-ios, p: interactive_media_ads

#7948 Roll Flutter from 5a11904383d1 to 3fb95c7dd21d (16 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#7956 [various] Remove multiDexEnabled
  packages/espresso/example/android/app/build.gradle
  packages/google_maps_flutter/google_maps_flutter/example/android/app/build.gradle
  packages/google_maps_flutter/google_maps_flutter_android/example/android/app/build.gradle
  packages/google_sign_in/google_sign_in/example/android/app/build.gradle
  packages/google_sign_in/google_sign_in_android/example/android/app/build.gradle
  packages/image_picker/image_picker/example/android/app/build.gradle
  packages/image_picker/image_picker_android/example/android/app/build.gradle
  packages/interactive_media_ads/example/android/app/build.gradle
  packages/local_auth/local_auth/example/android/app/build.gradle
  packages/local_auth/local_auth_android/example/android/app/build.gradle
Labels: autosubmit, p: espresso, p: google_maps_flutter, p: google_sign_in, p: image_picker, p: local_auth, platform-android, p: interactive_media_ads

#7953 [webview_flutter] Fix macOS 14+ test hangs
  packages/webview_flutter/webview_flutter/example/integration_test/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter/example/integration_test/webview_flutter_test_legacy.dart
  packages/webview_flutter/webview_flutter_wkwebview/example/integration_test/legacy/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/example/integration_test/webview_flutter_test.dart
Labels: autosubmit, platform-ios, p: webview_flutter

#7958 Roll Flutter from 3fb95c7dd21d to 42132e879b42 (19 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#7935 Bump `path_provider_android` to `^2.2.5` due to Android v1 embedder.
  packages/path_provider/path_provider/CHANGELOG.md
  packages/path_provider/path_provider/pubspec.yaml
Labels: autosubmit, p: path_provider

#7959 Disable two lint rules which are being removed.
  analysis_options.yaml
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/convert.dart
  packages/image_picker/image_picker_for_web/lib/src/image_resizer.dart
  packages/url_launcher/url_launcher_web/lib/url_launcher_web.dart
  packages/webview_flutter/webview_flutter_web/lib/src/web_webview_controller.dart
  packages/webview_flutter/webview_flutter_web/lib/src/webview_flutter_web_legacy.dart
Labels: autosubmit, p: google_maps_flutter, p: image_picker, platform-web, p: webview_flutter, p: url_launcher

#7955 [tool] Update build-all app creation
  script/tool/lib/src/create_all_packages_app_command.dart
  script/tool/test/create_all_packages_app_command_test.dart
Labels: autosubmit

#7961 Roll Flutter from 42132e879b42 to fe71cadf1959 (12 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#7962 [palette_generator] Remove unmanaged code snippet
  packages/palette_generator/CHANGELOG.md
  packages/palette_generator/README.md
  packages/palette_generator/pubspec.yaml
  script/configs/temp_exclude_excerpt.yaml
Labels: p: palette_generator, autosubmit

#7822 Applied Gradle Plugins Declaratively for `path_provider`
  packages/path_provider/path_provider/example/android/app/build.gradle
  packages/path_provider/path_provider/example/android/app/gradle/wrapper/gradle-wrapper.properties
  packages/path_provider/path_provider/example/android/app/src/main/AndroidManifest.xml
  packages/path_provider/path_provider/example/android/build.gradle
  packages/path_provider/path_provider/example/android/settings.gradle
  script/tool/lib/src/gradle_check_command.dart
  script/tool/test/gradle_check_command_test.dart
Labels: override: no versioning needed, override: no changelog needed, p: path_provider, platform-android

#7966 [tool] Fix third_party dependency overrides
  script/tool/lib/src/make_deps_path_based_command.dart
  script/tool/test/make_deps_path_based_command_test.dart
Labels: autosubmit

#7967 [tool] Support third_party for --current-package
  script/tool/lib/src/common/package_command.dart
  script/tool/test/common/package_command_test.dart
Labels: autosubmit

#7949 Updates path_parsing README.md with a note about Dan
  third_party/packages/path_parsing/CHANGELOG.md
  third_party/packages/path_parsing/README.md
  third_party/packages/path_parsing/pubspec.yaml
Labels: autosubmit, p: path_parsing

#7963 [ci] Ensure repo tool is autoformatted
  .ci/scripts/plugin_tools_format.sh
  .ci/targets/repo_checks.yaml
  script/tool/lib/src/fetch_deps_command.dart
  script/tool/test/build_examples_command_test.dart
Labels: autosubmit

#7991 [vector_garphics] fix execution on the web with WebAssembly
  packages/vector_graphics/CHANGELOG.md
  packages/vector_graphics/lib/src/debug.dart
  packages/vector_graphics/pubspec.yaml
Labels: autosubmit

#7989 Manual roll Flutter from fe71cadf1959 to 0fe615343bd9 (18 revisions)
  .ci/flutter_master.version
Labels: autosubmit
