Repository flutter/packages, pull requests merged in 2024-09, with the labels that each got.

#7285 [interactive_media_ads] Adds support for pausing and resuming Ad playback and skipping an Ad
  packages/interactive_media_ads/CHANGELOG.md
  packages/interactive_media_ads/CONTRIBUTING.md
  packages/interactive_media_ads/README.md
  packages/interactive_media_ads/android/src/main/kotlin/dev/flutter/packages/interactive_media_ads/AdsRequestProxyApi.kt
  packages/interactive_media_ads/android/src/main/kotlin/dev/flutter/packages/interactive_media_ads/InteractiveMediaAdsLibrary.g.kt
  packages/interactive_media_ads/example/lib/main.dart
  packages/interactive_media_ads/ios/interactive_media_ads/Sources/interactive_media_ads/AdsRequestProxyAPIDelegate.swift
  packages/interactive_media_ads/lib/src/ads_loader.dart
  packages/interactive_media_ads/lib/src/android/android_ad_display_container.dart
  packages/interactive_media_ads/lib/src/android/android_ads_manager.dart
  packages/interactive_media_ads/lib/src/android/interactive_media_ads.g.dart
  packages/interactive_media_ads/lib/src/ios/ios_ads_manager.dart
  packages/interactive_media_ads/lib/src/platform_interface/platform_ads_manager.dart
  packages/interactive_media_ads/pigeons/interactive_media_ads_android.dart
  packages/interactive_media_ads/pubspec.yaml
  packages/interactive_media_ads/test/ads_manager_test.dart
  packages/interactive_media_ads/test/android/ad_display_container_test.dart
  packages/interactive_media_ads/test/android/ads_loader_test.mocks.dart
  packages/interactive_media_ads/test/android/ads_manager_test.dart
  packages/interactive_media_ads/test/android/ads_manager_test.mocks.dart
  packages/interactive_media_ads/test/ios/ads_manager_test.dart
  packages/interactive_media_ads/test/test_stubs.dart
Labels: autosubmit, platform-android, platform-ios, p: interactive_media_ads

#7522 [google_maps_flutter] Remove unused MapKit imports from iOS example apps
  packages/google_maps_flutter/google_maps_flutter/example/ios/Runner.xcodeproj/project.pbxproj
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios14/ios/Runner.xcodeproj/project.pbxproj
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios14/ios/RunnerTests/FLTGoogleMapJSONConversionsConversionTests.m
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios15/ios/Runner.xcodeproj/project.pbxproj
Labels: autosubmit, override: no changelog needed, p: google_maps_flutter, platform-ios

#7573 [google_sign_in_android] Downgrade Guava version from `33.3.0` to `32.0.1`
  packages/google_sign_in/google_sign_in_android/CHANGELOG.md
  packages/google_sign_in/google_sign_in_android/android/build.gradle
  packages/google_sign_in/google_sign_in_android/pubspec.yaml
Labels: autosubmit, p: google_sign_in, platform-android

#7549 [flutter_adaptive_scaffold] Fix breakpoint not being active in certain cases like foldables
  packages/flutter_adaptive_scaffold/CHANGELOG.md
  packages/flutter_adaptive_scaffold/lib/src/breakpoints.dart
  packages/flutter_adaptive_scaffold/pubspec.yaml
  packages/flutter_adaptive_scaffold/test/breakpoint_test.dart
  packages/flutter_adaptive_scaffold/test/simulated_layout.dart
Labels: autosubmit, p: flutter_adaptive_scaffold

#7452 [flutter_adaptive_scaffold] Go router sample for AdaptiveScaffold
  packages/flutter_adaptive_scaffold/CHANGELOG.md
  packages/flutter_adaptive_scaffold/example/README.md
  packages/flutter_adaptive_scaffold/example/lib/go_router_demo.dart
  packages/flutter_adaptive_scaffold/example/lib/go_router_demo/app_router.dart
  packages/flutter_adaptive_scaffold/example/lib/go_router_demo/pages/counter_page.dart
  packages/flutter_adaptive_scaffold/example/lib/go_router_demo/pages/detail_modal_page.dart
  packages/flutter_adaptive_scaffold/example/lib/go_router_demo/pages/detail_overview_page.dart
  packages/flutter_adaptive_scaffold/example/lib/go_router_demo/pages/detail_page.dart
  packages/flutter_adaptive_scaffold/example/lib/go_router_demo/pages/forgot_password_page.dart
  packages/flutter_adaptive_scaffold/example/lib/go_router_demo/pages/home_page.dart
  packages/flutter_adaptive_scaffold/example/lib/go_router_demo/pages/language_page.dart
  packages/flutter_adaptive_scaffold/example/lib/go_router_demo/pages/login_page.dart
  packages/flutter_adaptive_scaffold/example/lib/go_router_demo/pages/more_page.dart
  packages/flutter_adaptive_scaffold/example/lib/go_router_demo/pages/navigation_error_page.dart
  packages/flutter_adaptive_scaffold/example/lib/go_router_demo/pages/pages.dart
  packages/flutter_adaptive_scaffold/example/lib/go_router_demo/pages/profile_page.dart
  packages/flutter_adaptive_scaffold/example/lib/go_router_demo/pages/settings_page.dart
  packages/flutter_adaptive_scaffold/example/lib/go_router_demo/scaffold_shell.dart
  packages/flutter_adaptive_scaffold/example/pubspec.yaml
  packages/flutter_adaptive_scaffold/pubspec.yaml
Labels: autosubmit, p: flutter_adaptive_scaffold

#7558 [google_maps_flutter_android] Convert `JointType` to an enum
  packages/google_maps_flutter/google_maps_flutter_android/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_android/android/src/main/java/io/flutter/plugins/googlemaps/Convert.java
  packages/google_maps_flutter/google_maps_flutter_android/android/src/main/java/io/flutter/plugins/googlemaps/Messages.java
  packages/google_maps_flutter/google_maps_flutter_android/lib/src/google_maps_flutter_android.dart
  packages/google_maps_flutter/google_maps_flutter_android/lib/src/messages.g.dart
  packages/google_maps_flutter/google_maps_flutter_android/pigeons/messages.dart
  packages/google_maps_flutter/google_maps_flutter_android/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_android/test/google_maps_flutter_android_test.dart
Labels: p: google_maps_flutter, platform-android

#7578 Roll Flutter (stable) from 5874a72aa4c7 to 4cf269e36de2 (8 revisions)
  .ci/flutter_stable.version
Labels: autosubmit

#7571 [extension_google_sign_in_as_googleapis_auth][google_maps_flutter_ios] Manual roll with fixes to example and skipping some native tests
  .ci/flutter_master.version
  packages/extension_google_sign_in_as_googleapis_auth/example/android/build.gradle
  packages/extension_google_sign_in_as_googleapis_auth/example/android/gradle.properties
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios14/ios/RunnerUITests/GoogleMapsUITests.m
  packages/webview_flutter/webview_flutter_wkwebview/example/integration_test/legacy/webview_flutter_test.dart
Labels: p: extension_google_sign_in_as_googleapis_auth, autosubmit, p: google_maps_flutter, platform-android, platform-ios, p: webview_flutter

#7599 Roll Flutter from 45ef8f36ff41 to 2e221e7308ba (20 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#7609 [google_maps_flutter] Disable setAndGetScrollPosition on iOS
  packages/webview_flutter/webview_flutter/example/integration_test/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/example/integration_test/legacy/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/example/integration_test/webview_flutter_test.dart
Labels: warning: land on red to fix tree breakage, autosubmit, platform-ios, p: webview_flutter

#7592 [camerax] Ignore new `unreachable_switch_default` warning.
  packages/camera/camera_android_camerax/lib/src/capture_request_options.dart
  packages/camera/camera_android_camerax/lib/src/live_data.dart
  packages/camera/camera_android_camerax/test/capture_request_options_test.dart
Labels: p: camera

#7544 [ci] Increase deprecation check minimum to macOS 14
  .ci/targets/macos_platform_tests.yaml
Labels: autosubmit

#7461 Adds internal wrapper for Android native `ContentProgressProvider`
  packages/interactive_media_ads/CHANGELOG.md
  packages/interactive_media_ads/android/src/main/kotlin/dev/flutter/packages/interactive_media_ads/AdsRequestProxyApi.kt
  packages/interactive_media_ads/android/src/main/kotlin/dev/flutter/packages/interactive_media_ads/ContentProgressProviderProxyApi.kt
  packages/interactive_media_ads/android/src/main/kotlin/dev/flutter/packages/interactive_media_ads/InteractiveMediaAdsLibrary.g.kt
  packages/interactive_media_ads/android/src/test/kotlin/dev/flutter/packages/interactive_media_ads/ContentProgressProviderProxyApiTest.kt
  packages/interactive_media_ads/ios/interactive_media_ads/Sources/interactive_media_ads/AdsRequestProxyAPIDelegate.swift
  packages/interactive_media_ads/lib/src/android/interactive_media_ads.g.dart
  packages/interactive_media_ads/pigeons/interactive_media_ads_android.dart
  packages/interactive_media_ads/pubspec.yaml
Labels: autosubmit, platform-android, platform-ios, p: interactive_media_ads

#7626 [google_maps_flutter_platform_interface] Fix typo in CameraUpdateNewLatLngBounds.toJson
  packages/google_maps_flutter/google_maps_flutter_platform_interface/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/camera.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_platform_interface/test/types/camera_test.dart
Labels: p: google_maps_flutter

#7475 [two_dimensional_scrollables] Fix TreeView bug when animation duration is zero
  packages/two_dimensional_scrollables/CHANGELOG.md
  packages/two_dimensional_scrollables/lib/src/tree_view/tree.dart
  packages/two_dimensional_scrollables/pubspec.yaml
  packages/two_dimensional_scrollables/test/tree_view/tree_test.dart
Labels: autosubmit, p: two_dimensional_scrollables

#7507 [google_maps_flutter_android] Convert `PlatformCameraUpdate` to pigeon.
  packages/google_maps_flutter/google_maps_flutter_android/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_android/android/src/main/java/io/flutter/plugins/googlemaps/Convert.java
  packages/google_maps_flutter/google_maps_flutter_android/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapController.java
  packages/google_maps_flutter/google_maps_flutter_android/android/src/main/java/io/flutter/plugins/googlemaps/Messages.java
  packages/google_maps_flutter/google_maps_flutter_android/example/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_android/lib/src/google_maps_flutter_android.dart
  packages/google_maps_flutter/google_maps_flutter_android/lib/src/messages.g.dart
  packages/google_maps_flutter/google_maps_flutter_android/pigeons/messages.dart
  packages/google_maps_flutter/google_maps_flutter_android/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_android/test/google_maps_flutter_android_test.dart
Labels: p: google_maps_flutter, platform-android

#7638 Roll Flutter from 2e221e7308ba to 303f222e17e3 (77 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#7641 Fix an if statement with resumed video players on Android.
  packages/video_player/video_player_android/CHANGELOG.md
  packages/video_player/video_player_android/android/src/main/java/io/flutter/plugins/videoplayer/VideoPlayer.java
  packages/video_player/video_player_android/android/src/test/java/io/flutter/plugins/videoplayer/VideoPlayerTest.java
  packages/video_player/video_player_android/pubspec.yaml
Labels: platform-android, p: video_player

#7640 Refactor the test benchmark app to make the example easier to follow
  packages/web_benchmarks/CHANGELOG.md
  packages/web_benchmarks/README.md
  packages/web_benchmarks/lib/server.dart
  packages/web_benchmarks/lib/src/runner.dart
  packages/web_benchmarks/pubspec.yaml
  packages/web_benchmarks/testing/test_app/.gitignore
  packages/web_benchmarks/testing/test_app/.metadata
  packages/web_benchmarks/testing/test_app/benchmark/test_infra/automator.dart
  packages/web_benchmarks/testing/test_app/benchmark/test_infra/client/app_client.dart
  packages/web_benchmarks/testing/test_app/benchmark/test_infra/client/simple_compilation_client.dart
  packages/web_benchmarks/testing/test_app/benchmark/test_infra/client/simple_initial_page_client.dart
  packages/web_benchmarks/testing/test_app/benchmark/test_infra/common.dart
  packages/web_benchmarks/testing/test_app/benchmark/test_infra/recorder.dart
  packages/web_benchmarks/testing/test_app/benchmark/web_benchmarks_test.dart
  packages/web_benchmarks/testing/test_app/lib/about_page.dart
  packages/web_benchmarks/testing/test_app/lib/benchmarks/runner.dart
  packages/web_benchmarks/testing/test_app/lib/benchmarks/runner_simple.dart
  packages/web_benchmarks/testing/test_app/lib/home_page.dart
  packages/web_benchmarks/testing/test_app/lib/icon_page.dart
  packages/web_benchmarks/testing/test_app/lib/main.dart
  packages/web_benchmarks/testing/test_app/pubspec.yaml
  packages/web_benchmarks/testing/test_app/web/icons/Icon-maskable-192.png
  packages/web_benchmarks/testing/test_app/web/icons/Icon-maskable-512.png
  packages/web_benchmarks/testing/test_app/web/index.html
  packages/web_benchmarks/testing/test_app/web/manifest.json
Labels: p: web_benchmarks, autosubmit, platform-web

#7646 Roll Flutter from 303f222e17e3 to 2d30fe448cd4 (21 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#7411 [flutter_adaptive_scaffold] Adds additional slot animation parameters
  packages/flutter_adaptive_scaffold/CHANGELOG.md
  packages/flutter_adaptive_scaffold/lib/src/slot_layout.dart
  packages/flutter_adaptive_scaffold/pubspec.yaml
  packages/flutter_adaptive_scaffold/test/adaptive_layout_test.dart
  packages/flutter_adaptive_scaffold/test/slot_layout_test.dart
Labels: autosubmit, p: flutter_adaptive_scaffold

#7547 [pigeon] adds support for non nullable types in collections
  packages/pigeon/CHANGELOG.md
  packages/pigeon/lib/dart_generator.dart
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/lib/objc_generator.dart
  packages/pigeon/lib/pigeon_lib.dart
  packages/pigeon/lib/swift_generator.dart
  packages/pigeon/pigeons/core_tests.dart
  packages/pigeon/platform_tests/alternate_language_test_plugin/android/src/main/java/com/example/alternate_language_test_plugin/AlternateLanguageTestPlugin.java
  packages/pigeon/platform_tests/alternate_language_test_plugin/android/src/main/java/com/example/alternate_language_test_plugin/CoreTests.java
  packages/pigeon/platform_tests/alternate_language_test_plugin/android/src/test/java/com/example/alternate_language_test_plugin/AllDatatypesTest.java
  packages/pigeon/platform_tests/alternate_language_test_plugin/example/ios/RunnerTests/AllDatatypesTest.m
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/AlternateLanguageTestPlugin.m
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/CoreTests.gen.h
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/CoreTests.gen.m
  packages/pigeon/platform_tests/alternate_language_test_plugin/macos/Classes/AlternateLanguageTestPlugin.m
  packages/pigeon/platform_tests/alternate_language_test_plugin/macos/Classes/CoreTests.gen.h
  packages/pigeon/platform_tests/alternate_language_test_plugin/macos/Classes/CoreTests.gen.m
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/integration_tests.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/core_tests.gen.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/proxy_api_tests.gen.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/test_types.dart
  packages/pigeon/platform_tests/test_plugin/android/src/main/kotlin/com/example/test_plugin/CoreTests.gen.kt
  packages/pigeon/platform_tests/test_plugin/android/src/main/kotlin/com/example/test_plugin/TestPlugin.kt
  packages/pigeon/platform_tests/test_plugin/android/src/test/kotlin/com/example/test_plugin/AllDatatypesTest.kt
  packages/pigeon/platform_tests/test_plugin/example/ios/RunnerTests/AllDatatypesTests.swift
  packages/pigeon/platform_tests/test_plugin/ios/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/ios/Classes/TestPlugin.swift
  packages/pigeon/platform_tests/test_plugin/linux/pigeon/core_tests.gen.cc
  packages/pigeon/platform_tests/test_plugin/linux/pigeon/core_tests.gen.h
  packages/pigeon/platform_tests/test_plugin/linux/test_plugin.cc
  packages/pigeon/platform_tests/test_plugin/macos/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/macos/Classes/TestPlugin.swift
  packages/pigeon/platform_tests/test_plugin/windows/pigeon/core_tests.gen.cpp
  packages/pigeon/platform_tests/test_plugin/windows/pigeon/core_tests.gen.h
  packages/pigeon/platform_tests/test_plugin/windows/test_plugin.cpp
  packages/pigeon/platform_tests/test_plugin/windows/test_plugin.h
  packages/pigeon/pubspec.yaml
  packages/pigeon/test/pigeon_lib_test.dart
Labels: p: pigeon, autosubmit, platform-android, platform-ios, platform-linux, platform-macos, platform-windows

#7587 [many] Update example android apps to target SDK level 34.
  packages/file_selector/file_selector_android/example/android/app/build.gradle
  packages/flutter_plugin_android_lifecycle/example/android/app/build.gradle
  packages/flutter_plugin_android_lifecycle/example/android/app/src/main/AndroidManifest.xml
  packages/google_maps_flutter/google_maps_flutter_android/example/android/app/build.gradle
  packages/google_maps_flutter/google_maps_flutter_android/example/android/app/src/main/AndroidManifest.xml
  packages/google_sign_in/google_sign_in_android/example/android/app/build.gradle
  packages/google_sign_in/google_sign_in_android/example/android/app/src/main/AndroidManifest.xml
  packages/image_picker/image_picker_android/example/android/app/build.gradle
  packages/local_auth/local_auth_android/example/android/app/build.gradle
  packages/local_auth/local_auth_android/example/android/app/src/main/AndroidManifest.xml
  packages/path_provider/path_provider_android/example/android/app/build.gradle
  packages/path_provider/path_provider_android/example/android/app/src/main/AndroidManifest.xml
  packages/quick_actions/quick_actions_android/example/android/app/build.gradle
  packages/quick_actions/quick_actions_android/example/android/app/src/main/AndroidManifest.xml
  packages/shared_preferences/shared_preferences_android/example/android/app/build.gradle
  packages/shared_preferences/shared_preferences_android/example/android/app/src/main/AndroidManifest.xml
  packages/url_launcher/url_launcher_android/example/android/app/build.gradle
  packages/url_launcher/url_launcher_android/example/android/app/src/main/AndroidManifest.xml
  packages/video_player/video_player_android/example/android/app/build.gradle
  packages/video_player/video_player_android/example/android/app/src/main/AndroidManifest.xml
  packages/webview_flutter/webview_flutter_android/example/android/app/build.gradle
  packages/webview_flutter/webview_flutter_android/example/android/app/src/main/AndroidManifest.xml
Labels: override: no changelog needed, p: file_selector, p: flutter_plugin_android_lifecycle, p: google_maps_flutter, p: google_sign_in, p: image_picker, p: local_auth, p: path_provider, p: quick_actions, platform-android, p: webview_flutter, p: video_player, p: url_launcher, p: shared_preferences

#7565 [flutter_adaptive_scaffold] Use improved MediaQuery methods
  packages/flutter_adaptive_scaffold/CHANGELOG.md
  packages/flutter_adaptive_scaffold/example/lib/main.dart
  packages/flutter_adaptive_scaffold/lib/src/adaptive_layout.dart
  packages/flutter_adaptive_scaffold/lib/src/adaptive_scaffold.dart
  packages/flutter_adaptive_scaffold/pubspec.yaml
  packages/flutter_adaptive_scaffold/test/adaptive_layout_test.dart
  packages/flutter_adaptive_scaffold/test/test_breakpoints.dart
Labels: autosubmit, p: flutter_adaptive_scaffold

#7357 Bump deps
  packages/extension_google_sign_in_as_googleapis_auth/example/pubspec.yaml
  packages/flutter_image/example/pubspec.yaml
  packages/flutter_lints/example/pubspec.yaml
  packages/metrics_center/CHANGELOG.md
  packages/metrics_center/pubspec.yaml
  packages/two_dimensional_scrollables/CHANGELOG.md
  packages/two_dimensional_scrollables/example/pubspec.yaml
  packages/two_dimensional_scrollables/pubspec.yaml
Labels: p: extension_google_sign_in_as_googleapis_auth, p: metrics_center, p: flutter_image, p: flutter_lints, autosubmit, override: no versioning needed

#7621 [webview_flutter] Improve flaky scroll tests
  packages/webview_flutter/webview_flutter/example/integration_test/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter_android/example/integration_test/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/example/integration_test/webview_flutter_test.dart
Labels: autosubmit, platform-android, platform-ios, p: webview_flutter

#7652 Revert "[webview_flutter] Improve flaky scroll tests"
  packages/webview_flutter/webview_flutter/example/integration_test/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter_android/example/integration_test/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/example/integration_test/webview_flutter_test.dart
Labels: warning: land on red to fix tree breakage, platform-android, platform-ios, p: webview_flutter

#7650 Roll Flutter from 2d30fe448cd4 to 5d83a98331ac (5 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#7656 Roll Flutter from 5d83a98331ac to c4c9f47c479d (15 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#7407 [interactive_media_ads] Adds support for mid-roll ads
  packages/interactive_media_ads/CHANGELOG.md
  packages/interactive_media_ads/README.md
  packages/interactive_media_ads/android/src/main/kotlin/dev/flutter/packages/interactive_media_ads/AdsRequestProxyApi.kt
  packages/interactive_media_ads/example/lib/main.dart
  packages/interactive_media_ads/ios/interactive_media_ads/Sources/interactive_media_ads/AdsRequestProxyAPIDelegate.swift
  packages/interactive_media_ads/lib/interactive_media_ads.dart
  packages/interactive_media_ads/lib/src/ads_loader.dart
  packages/interactive_media_ads/lib/src/ads_request.dart
  packages/interactive_media_ads/lib/src/android/android_ads_loader.dart
  packages/interactive_media_ads/lib/src/android/android_content_progress_provider.dart
  packages/interactive_media_ads/lib/src/android/android_interactive_media_ads.dart
  packages/interactive_media_ads/lib/src/android/interactive_media_ads_proxy.dart
  packages/interactive_media_ads/lib/src/content_progress_provider.dart
  packages/interactive_media_ads/lib/src/ios/interactive_media_ads_proxy.dart
  packages/interactive_media_ads/lib/src/ios/ios_ads_loader.dart
  packages/interactive_media_ads/lib/src/ios/ios_content_progress_provider.dart
  packages/interactive_media_ads/lib/src/ios/ios_interactive_media_ads.dart
  packages/interactive_media_ads/lib/src/platform_interface/ads_request.dart
  packages/interactive_media_ads/lib/src/platform_interface/interactive_media_ads_platform.dart
  packages/interactive_media_ads/lib/src/platform_interface/platform_ads_loader.dart
  packages/interactive_media_ads/lib/src/platform_interface/platform_ads_request.dart
  packages/interactive_media_ads/lib/src/platform_interface/platform_content_progress_provider.dart
  packages/interactive_media_ads/lib/src/platform_interface/platform_interface.dart
  packages/interactive_media_ads/pigeons/interactive_media_ads_android.dart
  packages/interactive_media_ads/pubspec.yaml
  packages/interactive_media_ads/test/ad_display_container_test.dart
  packages/interactive_media_ads/test/ads_loader_test.dart
  packages/interactive_media_ads/test/ads_manager_delegate_test.dart
  packages/interactive_media_ads/test/ads_manager_test.dart
  packages/interactive_media_ads/test/android/ads_loader_test.dart
  packages/interactive_media_ads/test/android/content_progress_provider_test.dart
  packages/interactive_media_ads/test/android/content_progress_provider_test.mocks.dart
  packages/interactive_media_ads/test/content_progress_provider_test.dart
  packages/interactive_media_ads/test/ios/ads_loader_test.dart
  packages/interactive_media_ads/test/ios/content_progress_provider_test.dart
  packages/interactive_media_ads/test/ios/content_progress_provider_test.mocks.dart
  packages/interactive_media_ads/test/test_stubs.dart
Labels: autosubmit, platform-android, platform-ios, p: interactive_media_ads

#7660 [interactive_media_ads] Adds internal wrapper for Android native `AdsRenderingSettings`
  packages/interactive_media_ads/CHANGELOG.md
  packages/interactive_media_ads/android/src/main/kotlin/dev/flutter/packages/interactive_media_ads/AdsRenderingSettingsProxyApi.kt
  packages/interactive_media_ads/android/src/main/kotlin/dev/flutter/packages/interactive_media_ads/AdsRequestProxyApi.kt
  packages/interactive_media_ads/android/src/main/kotlin/dev/flutter/packages/interactive_media_ads/InteractiveMediaAdsLibrary.g.kt
  packages/interactive_media_ads/android/src/main/kotlin/dev/flutter/packages/interactive_media_ads/ProxyApiRegistrar.kt
  packages/interactive_media_ads/android/src/test/kotlin/dev/flutter/packages/interactive_media_ads/AdsRenderingSettingsProxyApiTest.kt
  packages/interactive_media_ads/ios/interactive_media_ads/Sources/interactive_media_ads/AdsRequestProxyAPIDelegate.swift
  packages/interactive_media_ads/lib/src/android/interactive_media_ads.g.dart
  packages/interactive_media_ads/pigeons/interactive_media_ads_android.dart
  packages/interactive_media_ads/pubspec.yaml
Labels: autosubmit, platform-android, platform-ios, p: interactive_media_ads

#7663 Manual roll Flutter from c4c9f47c479d to 7fe82377f950 (14 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#7614 [pigeon] Validates support for nested collections with generic types.
  packages/pigeon/pigeons/core_tests.dart
  packages/pigeon/platform_tests/alternate_language_test_plugin/android/src/main/java/com/example/alternate_language_test_plugin/CoreTests.java
  packages/pigeon/platform_tests/alternate_language_test_plugin/android/src/test/java/com/example/alternate_language_test_plugin/AllDatatypesTest.java
  packages/pigeon/platform_tests/alternate_language_test_plugin/example/ios/RunnerTests/AllDatatypesTest.m
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/CoreTests.gen.h
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/CoreTests.gen.m
  packages/pigeon/platform_tests/alternate_language_test_plugin/macos/Classes/CoreTests.gen.h
  packages/pigeon/platform_tests/alternate_language_test_plugin/macos/Classes/CoreTests.gen.m
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/core_tests.gen.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/test_types.dart
  packages/pigeon/platform_tests/test_plugin/android/src/main/kotlin/com/example/test_plugin/CoreTests.gen.kt
  packages/pigeon/platform_tests/test_plugin/android/src/test/kotlin/com/example/test_plugin/AllDatatypesTest.kt
  packages/pigeon/platform_tests/test_plugin/example/ios/RunnerTests/AllDatatypesTests.swift
  packages/pigeon/platform_tests/test_plugin/ios/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/linux/pigeon/core_tests.gen.cc
  packages/pigeon/platform_tests/test_plugin/linux/pigeon/core_tests.gen.h
  packages/pigeon/platform_tests/test_plugin/linux/test_plugin.cc
  packages/pigeon/platform_tests/test_plugin/macos/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/windows/pigeon/core_tests.gen.cpp
  packages/pigeon/platform_tests/test_plugin/windows/pigeon/core_tests.gen.h
Labels: p: pigeon, autosubmit, platform-android, platform-ios, platform-linux, platform-macos, platform-windows

#7676 Roll Flutter from 7fe82377f950 to 2f149da67614 (16 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#7685 Roll Flutter from 2f149da67614 to 4ca51a1de597 (5 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#7631 [google_maps_flutter_android] Convert `PlatformPolyline.pattern` to Pigeon
  packages/google_maps_flutter/google_maps_flutter_android/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_android/android/src/main/java/io/flutter/plugins/googlemaps/Convert.java
  packages/google_maps_flutter/google_maps_flutter_android/android/src/main/java/io/flutter/plugins/googlemaps/Messages.java
  packages/google_maps_flutter/google_maps_flutter_android/lib/src/google_maps_flutter_android.dart
  packages/google_maps_flutter/google_maps_flutter_android/lib/src/messages.g.dart
  packages/google_maps_flutter/google_maps_flutter_android/pigeons/messages.dart
  packages/google_maps_flutter/google_maps_flutter_android/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_android/test/google_maps_flutter_android_test.dart
Labels: p: google_maps_flutter, platform-android

#7687 [various] Adds macOS privacy manifests
  packages/file_selector/file_selector_macos/CHANGELOG.md
  packages/file_selector/file_selector_macos/macos/file_selector_macos.podspec
  packages/file_selector/file_selector_macos/macos/file_selector_macos/Package.swift
  packages/file_selector/file_selector_macos/macos/file_selector_macos/Sources/file_selector_macos/Resources/PrivacyInfo.xcprivacy
  packages/file_selector/file_selector_macos/pubspec.yaml
  packages/url_launcher/url_launcher_macos/CHANGELOG.md
  packages/url_launcher/url_launcher_macos/macos/url_launcher_macos.podspec
  packages/url_launcher/url_launcher_macos/macos/url_launcher_macos/Sources/url_launcher_macos/Resources/.gitkeep
  packages/url_launcher/url_launcher_macos/macos/url_launcher_macos/Sources/url_launcher_macos/Resources/PrivacyInfo.xcprivacy
  packages/url_launcher/url_launcher_macos/pubspec.yaml
  script/tool/lib/src/podspec_check_command.dart
  script/tool/test/podspec_check_command_test.dart
Labels: autosubmit, p: file_selector, platform-macos, p: url_launcher

#7583 [go_router] Fixed TabView swiping in custom stateful shell route example
  packages/go_router/CHANGELOG.md
  packages/go_router/example/lib/others/custom_stateful_shell_route.dart
  packages/go_router/example/test/custom_stateful_shell_route_test.dart
  packages/go_router/pubspec.yaml
Labels: p: go_router

#7688 [flutter_lints] remove prefer_const_constructors, prefer_const_declarations, prefer_const_literals_to_create_immutables
  packages/flutter_lints/CHANGELOG.md
  packages/flutter_lints/lib/flutter.yaml
Labels: p: flutter_lints, override: no versioning needed

#7701 Update test to not depend on `Color.toString()`
  packages/rfw/test/argument_decoders_test.dart
Labels: p: rfw, autosubmit

#7705 Roll Flutter from 4ca51a1de597 to 538e7424d018 (40 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#7704 [package:flutter_lints] update the dep on `package:lints` to 5.0.0 and the sdk dependency to 3.5.0
  packages/flutter_lints/CHANGELOG.md
  packages/flutter_lints/pubspec.yaml
Labels: p: flutter_lints

#7712 Add a `@SuppressWarnings` in advance
  packages/video_player/video_player_android/CHANGELOG.md
  packages/video_player/video_player_android/android/src/main/java/io/flutter/plugins/videoplayer/VideoPlayer.java
  packages/video_player/video_player_android/pubspec.yaml
Labels: autosubmit, platform-android, p: video_player

#7696 [interactive_media_ads] Adds internal wrapper for iOS native `IMAFriendlyObstruction`
  packages/interactive_media_ads/CHANGELOG.md
  packages/interactive_media_ads/android/src/main/kotlin/dev/flutter/packages/interactive_media_ads/AdsRequestProxyApi.kt
  packages/interactive_media_ads/example/ios/Runner.xcodeproj/project.pbxproj
  packages/interactive_media_ads/example/ios/RunnerTests/FriendlyObstructionTests.swift
  packages/interactive_media_ads/ios/interactive_media_ads/Sources/interactive_media_ads/AdsRequestProxyAPIDelegate.swift
  packages/interactive_media_ads/ios/interactive_media_ads/Sources/interactive_media_ads/FriendlyObstructionAPIDelegate.swift
  packages/interactive_media_ads/ios/interactive_media_ads/Sources/interactive_media_ads/InteractiveMediaAdsLibrary.g.swift
  packages/interactive_media_ads/ios/interactive_media_ads/Sources/interactive_media_ads/ProxyApiDelegate.swift
  packages/interactive_media_ads/lib/src/ios/interactive_media_ads.g.dart
  packages/interactive_media_ads/lib/src/ios/interactive_media_ads_proxy.dart
  packages/interactive_media_ads/pigeons/interactive_media_ads_ios.dart
  packages/interactive_media_ads/pubspec.yaml
Labels: autosubmit, platform-android, platform-ios, p: interactive_media_ads

#7090 [flutter_markdown] remove backgroundColor from code text theme to enable code selection highlight
  packages/flutter_markdown/CHANGELOG.md
  packages/flutter_markdown/lib/src/style_sheet.dart
  packages/flutter_markdown/pubspec.yaml
  packages/flutter_markdown/test/style_sheet_test.dart
Labels: p: flutter_markdown, autosubmit

#7664 [google_maps_flutter] Fix incorrect comment: Change "marker" to "polyline"
  packages/google_maps_flutter/google_maps_flutter_platform_interface/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/polyline.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/pubspec.yaml
Labels: autosubmit, p: google_maps_flutter

#7709 [pigeon] update deprecated command in README of the example
  packages/pigeon/example/README.md
Labels: p: pigeon, autosubmit, override: no changelog needed

#7725 [pigeon] fix int bug
  packages/pigeon/CHANGELOG.md
  packages/pigeon/lib/dart_generator.dart
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/background_platform_channels.gen.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/multiple_arity.gen.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/nullable_returns.gen.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/primitive.gen.dart
  packages/pigeon/pubspec.yaml
  packages/pigeon/test/dart_generator_test.dart
Labels: p: pigeon, autosubmit

#7723 [interactive_media_ads] Adds internal wrapper for Android native `AdProgressInfo`
  packages/interactive_media_ads/CHANGELOG.md
  packages/interactive_media_ads/android/src/main/kotlin/dev/flutter/packages/interactive_media_ads/AdProgressInfoProxyApi.kt
  packages/interactive_media_ads/android/src/main/kotlin/dev/flutter/packages/interactive_media_ads/AdsRequestProxyApi.kt
  packages/interactive_media_ads/android/src/main/kotlin/dev/flutter/packages/interactive_media_ads/InteractiveMediaAdsLibrary.g.kt
  packages/interactive_media_ads/android/src/main/kotlin/dev/flutter/packages/interactive_media_ads/ProxyApiRegistrar.kt
  packages/interactive_media_ads/android/src/test/kotlin/dev/flutter/packages/interactive_media_ads/AdProgressInfoProxyApiTest.kt
  packages/interactive_media_ads/ios/interactive_media_ads/Sources/interactive_media_ads/AdsRequestProxyAPIDelegate.swift
  packages/interactive_media_ads/lib/src/android/interactive_media_ads.g.dart
  packages/interactive_media_ads/pigeons/interactive_media_ads_android.dart
  packages/interactive_media_ads/pubspec.yaml
  packages/interactive_media_ads/test/android/ads_loader_test.mocks.dart
  packages/interactive_media_ads/test/android/ads_manager_test.mocks.dart
  packages/interactive_media_ads/test/ios/ad_display_container_test.mocks.dart
  packages/interactive_media_ads/test/ios/ads_loader_test.mocks.dart
Labels: autosubmit, platform-android, platform-ios, p: interactive_media_ads

#7730 [file_selector] Update Windows Pigeon for non-nullable generics
  packages/file_selector/file_selector_windows/CHANGELOG.md
  packages/file_selector/file_selector_windows/lib/file_selector_windows.dart
  packages/file_selector/file_selector_windows/lib/src/messages.g.dart
  packages/file_selector/file_selector_windows/pigeons/messages.dart
  packages/file_selector/file_selector_windows/pubspec.yaml
  packages/file_selector/file_selector_windows/test/file_selector_windows_test.dart
  packages/file_selector/file_selector_windows/test/test_api.g.dart
  packages/file_selector/file_selector_windows/windows/messages.g.cpp
  packages/file_selector/file_selector_windows/windows/messages.g.h
Labels: autosubmit, p: file_selector, platform-windows

#7721 [interactive_media_ads] Change the location of where the AdsLoader is initialized
  packages/interactive_media_ads/CHANGELOG.md
  packages/interactive_media_ads/README.md
  packages/interactive_media_ads/android/src/main/kotlin/dev/flutter/packages/interactive_media_ads/AdsRequestProxyApi.kt
  packages/interactive_media_ads/example/lib/main.dart
  packages/interactive_media_ads/ios/interactive_media_ads/Sources/interactive_media_ads/AdsRequestProxyAPIDelegate.swift
  packages/interactive_media_ads/pubspec.yaml
Labels: autosubmit, platform-android, platform-ios, p: interactive_media_ads

#7743 Replace `initialPage` parameter with `benchmarkPath`
  packages/web_benchmarks/.gitignore
  packages/web_benchmarks/CHANGELOG.md
  packages/web_benchmarks/lib/client.dart
  packages/web_benchmarks/lib/server.dart
  packages/web_benchmarks/lib/src/common.dart
  packages/web_benchmarks/lib/src/runner.dart
  packages/web_benchmarks/pubspec.yaml
  packages/web_benchmarks/testing/test_app/benchmark/test_infra/automator.dart
  packages/web_benchmarks/testing/test_app/benchmark/test_infra/client/simple_benchmark_path_client.dart
  packages/web_benchmarks/testing/test_app/benchmark/test_infra/common.dart
  packages/web_benchmarks/testing/test_app/benchmark/web_benchmarks_test.dart
  packages/web_benchmarks/testing/test_app/lib/about_page.dart
  packages/web_benchmarks/testing/test_app/lib/home_page.dart
  packages/web_benchmarks/testing/test_app/lib/main.dart
  packages/web_benchmarks/testing/test_app/pubspec.yaml
Labels: p: web_benchmarks, autosubmit
