Repository flutter/packages, pull requests merged in 2024-07, with the labels that each got.

#6980 [google_maps_flutter] Semi-convert remaining Android host API calls to Pigeon
  packages/google_maps_flutter/google_maps_flutter_android/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_android/android/src/main/java/io/flutter/plugins/googlemaps/CirclesController.java
  packages/google_maps_flutter/google_maps_flutter_android/android/src/main/java/io/flutter/plugins/googlemaps/ClusterManagersController.java
  packages/google_maps_flutter/google_maps_flutter_android/android/src/main/java/io/flutter/plugins/googlemaps/Convert.java
  packages/google_maps_flutter/google_maps_flutter_android/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapController.java
  packages/google_maps_flutter/google_maps_flutter_android/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapInitializer.java
  packages/google_maps_flutter/google_maps_flutter_android/android/src/main/java/io/flutter/plugins/googlemaps/MarkersController.java
  packages/google_maps_flutter/google_maps_flutter_android/android/src/main/java/io/flutter/plugins/googlemaps/Messages.java
  packages/google_maps_flutter/google_maps_flutter_android/android/src/main/java/io/flutter/plugins/googlemaps/PolygonsController.java
  packages/google_maps_flutter/google_maps_flutter_android/android/src/main/java/io/flutter/plugins/googlemaps/PolylinesController.java
  packages/google_maps_flutter/google_maps_flutter_android/android/src/main/java/io/flutter/plugins/googlemaps/TileOverlaysController.java
  packages/google_maps_flutter/google_maps_flutter_android/android/src/test/java/io/flutter/plugins/googlemaps/ClusterManagersControllerTest.java
  packages/google_maps_flutter/google_maps_flutter_android/android/src/test/java/io/flutter/plugins/googlemaps/GoogleMapControllerTest.java
  packages/google_maps_flutter/google_maps_flutter_android/android/src/test/java/io/flutter/plugins/googlemaps/GoogleMapInitializerTest.java
  packages/google_maps_flutter/google_maps_flutter_android/android/src/test/java/io/flutter/plugins/googlemaps/MarkersControllerTest.java
  packages/google_maps_flutter/google_maps_flutter_android/lib/src/google_maps_flutter_android.dart
  packages/google_maps_flutter/google_maps_flutter_android/lib/src/messages.g.dart
  packages/google_maps_flutter/google_maps_flutter_android/lib/src/utils/cluster_manager_utils.dart
  packages/google_maps_flutter/google_maps_flutter_android/pigeons/messages.dart
  packages/google_maps_flutter/google_maps_flutter_android/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_android/test/cluster_manager_utils_test.dart
  packages/google_maps_flutter/google_maps_flutter_android/test/google_maps_flutter_android_test.dart
  packages/google_maps_flutter/google_maps_flutter_android/test/google_maps_flutter_android_test.mocks.dart
Labels: autosubmit, p: google_maps_flutter, platform-android

#7038 Roll Flutter from 651a17db5427 to 99bb2ff6a614 (10 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#7047 Roll Flutter from 99bb2ff6a614 to af913a75b5d2 (30 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#7056 [google_maps_flutter] Fix Circle update regression
  packages/google_maps_flutter/google_maps_flutter_android/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_android/android/src/main/java/io/flutter/plugins/googlemaps/CirclesController.java
  packages/google_maps_flutter/google_maps_flutter_android/android/src/main/java/io/flutter/plugins/googlemaps/Convert.java
  packages/google_maps_flutter/google_maps_flutter_android/android/src/main/java/io/flutter/plugins/googlemaps/MarkersController.java
  packages/google_maps_flutter/google_maps_flutter_android/android/src/main/java/io/flutter/plugins/googlemaps/Messages.java
  packages/google_maps_flutter/google_maps_flutter_android/android/src/main/java/io/flutter/plugins/googlemaps/PolygonsController.java
  packages/google_maps_flutter/google_maps_flutter_android/android/src/main/java/io/flutter/plugins/googlemaps/PolylinesController.java
  packages/google_maps_flutter/google_maps_flutter_android/android/src/test/java/io/flutter/plugins/googlemaps/CirclesControllerTest.java
  packages/google_maps_flutter/google_maps_flutter_android/lib/src/google_maps_flutter_android.dart
  packages/google_maps_flutter/google_maps_flutter_android/lib/src/messages.g.dart
  packages/google_maps_flutter/google_maps_flutter_android/pigeons/messages.dart
  packages/google_maps_flutter/google_maps_flutter_android/pubspec.yaml
Labels: autosubmit, p: google_maps_flutter, platform-android

#7044 [camerax] Add fix for camera preview rotation on landscape-oriented devices and set up fix for Impeller support
  packages/camera/camera_android_camerax/CHANGELOG.md
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/Camera2CameraInfoHostApiImpl.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/DeviceOrientationManager.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/DeviceOrientationManagerHostApiImpl.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/GeneratedCameraXLibrary.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/SystemServicesHostApiImpl.java
  packages/camera/camera_android_camerax/android/src/test/java/io/flutter/plugins/camerax/DeviceOrientationManagerWrapperTest.java
  packages/camera/camera_android_camerax/android/src/test/java/io/flutter/plugins/camerax/SystemServicesTest.java
  packages/camera/camera_android_camerax/example/pubspec.yaml
  packages/camera/camera_android_camerax/lib/src/android_camera_camerax.dart
  packages/camera/camera_android_camerax/lib/src/camera2_camera_info.dart
  packages/camera/camera_android_camerax/lib/src/camerax_library.g.dart
  packages/camera/camera_android_camerax/lib/src/camerax_proxy.dart
  packages/camera/camera_android_camerax/lib/src/device_orientation_manager.dart
  packages/camera/camera_android_camerax/lib/src/system_services.dart
  packages/camera/camera_android_camerax/pigeons/camerax_library.dart
  packages/camera/camera_android_camerax/pubspec.yaml
  packages/camera/camera_android_camerax/test/android_camera_camerax_test.dart
  packages/camera/camera_android_camerax/test/android_camera_camerax_test.mocks.dart
  packages/camera/camera_android_camerax/test/camera2_camera_info_test.mocks.dart
  packages/camera/camera_android_camerax/test/device_orientation_manager_test.dart
  packages/camera/camera_android_camerax/test/device_orientation_manager_test.mocks.dart
  packages/camera/camera_android_camerax/test/system_services_test.dart
  packages/camera/camera_android_camerax/test/system_services_test.mocks.dart
  packages/camera/camera_android_camerax/test/test_camerax_library.g.dart
Labels: autosubmit, p: camera, platform-android

#7040 [google_maps_flutter] Moves Java->Dart calls to Pigeon
  packages/google_maps_flutter/google_maps_flutter_android/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_android/android/src/main/java/io/flutter/plugins/googlemaps/CirclesController.java
  packages/google_maps_flutter/google_maps_flutter_android/android/src/main/java/io/flutter/plugins/googlemaps/ClusterManagersController.java
  packages/google_maps_flutter/google_maps_flutter_android/android/src/main/java/io/flutter/plugins/googlemaps/Convert.java
  packages/google_maps_flutter/google_maps_flutter_android/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapController.java
  packages/google_maps_flutter/google_maps_flutter_android/android/src/main/java/io/flutter/plugins/googlemaps/MarkersController.java
  packages/google_maps_flutter/google_maps_flutter_android/android/src/main/java/io/flutter/plugins/googlemaps/Messages.java
  packages/google_maps_flutter/google_maps_flutter_android/android/src/main/java/io/flutter/plugins/googlemaps/NoOpVoidResult.java
  packages/google_maps_flutter/google_maps_flutter_android/android/src/main/java/io/flutter/plugins/googlemaps/PolygonsController.java
  packages/google_maps_flutter/google_maps_flutter_android/android/src/main/java/io/flutter/plugins/googlemaps/PolylinesController.java
  packages/google_maps_flutter/google_maps_flutter_android/android/src/main/java/io/flutter/plugins/googlemaps/TileOverlaysController.java
  packages/google_maps_flutter/google_maps_flutter_android/android/src/main/java/io/flutter/plugins/googlemaps/TileProviderController.java
  packages/google_maps_flutter/google_maps_flutter_android/android/src/test/java/io/flutter/plugins/googlemaps/ClusterManagersControllerTest.java
  packages/google_maps_flutter/google_maps_flutter_android/android/src/test/java/io/flutter/plugins/googlemaps/ConvertTest.java
  packages/google_maps_flutter/google_maps_flutter_android/android/src/test/java/io/flutter/plugins/googlemaps/GoogleMapControllerTest.java
  packages/google_maps_flutter/google_maps_flutter_android/android/src/test/java/io/flutter/plugins/googlemaps/MarkersControllerTest.java
  packages/google_maps_flutter/google_maps_flutter_android/lib/src/google_maps_flutter_android.dart
  packages/google_maps_flutter/google_maps_flutter_android/lib/src/messages.g.dart
  packages/google_maps_flutter/google_maps_flutter_android/pigeons/messages.dart
  packages/google_maps_flutter/google_maps_flutter_android/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_android/test/google_maps_flutter_android_test.dart
Labels: autosubmit, p: google_maps_flutter, platform-android

#6941 [rfw] Update goldens.
  packages/rfw/test/goldens/argument_decoders_test.containers.png
  packages/rfw/test/goldens/argument_decoders_test.text.png
  packages/rfw/test/goldens/material_test.button_bar_properties.overflow.png
  packages/rfw/test/goldens/material_test.button_bar_properties.png
  packages/rfw/test/goldens/material_test.drawer.png
  packages/rfw/test/goldens/material_test.dropdown.png
  packages/rfw/test/goldens/material_test.ink_response_hover.png
  packages/rfw/test/goldens/material_test.ink_response_tap.png
  packages/rfw/test/goldens/material_test.material_properties.png
  packages/rfw/test/goldens/material_test.overflow_bar_properties.png
  packages/rfw/test/goldens/material_test.overflow_bar_resembles_button_bar.png
  packages/rfw/test/goldens/material_test.scaffold.png
  packages/rfw/test/material_widgets_test.dart
Labels: p: rfw, autosubmit

#7062 Roll Flutter from af913a75b5d2 to fafd67d34d68 (41 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6937 [google_maps_flutter] Move iOS inspector to Pigeon
  packages/google_maps_flutter/google_maps_flutter_ios/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_ios/ios/Classes/FLTGoogleMapTileOverlayController.h
  packages/google_maps_flutter/google_maps_flutter_ios/ios/Classes/FLTGoogleMapTileOverlayController.m
  packages/google_maps_flutter/google_maps_flutter_ios/ios/Classes/GoogleMapController.h
  packages/google_maps_flutter/google_maps_flutter_ios/ios/Classes/GoogleMapController.m
  packages/google_maps_flutter/google_maps_flutter_ios/ios/Classes/messages.g.h
  packages/google_maps_flutter/google_maps_flutter_ios/ios/Classes/messages.g.m
  packages/google_maps_flutter/google_maps_flutter_ios/lib/src/google_map_inspector_ios.dart
  packages/google_maps_flutter/google_maps_flutter_ios/lib/src/google_maps_flutter_ios.dart
  packages/google_maps_flutter/google_maps_flutter_ios/lib/src/messages.g.dart
  packages/google_maps_flutter/google_maps_flutter_ios/pigeons/copyright.txt
  packages/google_maps_flutter/google_maps_flutter_ios/pigeons/messages.dart
  packages/google_maps_flutter/google_maps_flutter_ios/pubspec.yaml
Labels: autosubmit, p: google_maps_flutter, platform-ios

#7073 [path_provider] Remove `win32`
  packages/path_provider/path_provider_windows/CHANGELOG.md
  packages/path_provider/path_provider_windows/lib/src/folders.dart
  packages/path_provider/path_provider_windows/lib/src/guid.dart
  packages/path_provider/path_provider_windows/lib/src/path_provider_windows_real.dart
  packages/path_provider/path_provider_windows/lib/src/win32_wrappers.dart
  packages/path_provider/path_provider_windows/pubspec.yaml
  packages/path_provider/path_provider_windows/test/guid_test.dart
  script/configs/allowed_unpinned_deps.yaml
Labels: autosubmit, p: path_provider, platform-windows

#7079 [google_maps_flutter] Semi-convert remaining iOS host API calls to Pigeon
  packages/google_maps_flutter/google_maps_flutter_ios/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios14/ios/RunnerTests/FLTGoogleMapJSONConversionsConversionTests.m
  packages/google_maps_flutter/google_maps_flutter_ios/ios/Classes/FLTGoogleMapJSONConversions.h
  packages/google_maps_flutter/google_maps_flutter_ios/ios/Classes/FLTGoogleMapJSONConversions.m
  packages/google_maps_flutter/google_maps_flutter_ios/ios/Classes/FLTGoogleMapTileOverlayController.h
  packages/google_maps_flutter/google_maps_flutter_ios/ios/Classes/FLTGoogleMapTileOverlayController.m
  packages/google_maps_flutter/google_maps_flutter_ios/ios/Classes/GoogleMapCircleController.h
  packages/google_maps_flutter/google_maps_flutter_ios/ios/Classes/GoogleMapCircleController.m
  packages/google_maps_flutter/google_maps_flutter_ios/ios/Classes/GoogleMapController.h
  packages/google_maps_flutter/google_maps_flutter_ios/ios/Classes/GoogleMapController.m
  packages/google_maps_flutter/google_maps_flutter_ios/ios/Classes/GoogleMapMarkerController.h
  packages/google_maps_flutter/google_maps_flutter_ios/ios/Classes/GoogleMapMarkerController.m
  packages/google_maps_flutter/google_maps_flutter_ios/ios/Classes/GoogleMapPolygonController.h
  packages/google_maps_flutter/google_maps_flutter_ios/ios/Classes/GoogleMapPolygonController.m
  packages/google_maps_flutter/google_maps_flutter_ios/ios/Classes/GoogleMapPolylineController.h
  packages/google_maps_flutter/google_maps_flutter_ios/ios/Classes/GoogleMapPolylineController.m
  packages/google_maps_flutter/google_maps_flutter_ios/ios/Classes/messages.g.h
  packages/google_maps_flutter/google_maps_flutter_ios/ios/Classes/messages.g.m
  packages/google_maps_flutter/google_maps_flutter_ios/lib/src/google_maps_flutter_ios.dart
  packages/google_maps_flutter/google_maps_flutter_ios/lib/src/messages.g.dart
  packages/google_maps_flutter/google_maps_flutter_ios/pigeons/messages.dart
  packages/google_maps_flutter/google_maps_flutter_ios/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_ios/test/google_maps_flutter_ios_test.dart
  packages/google_maps_flutter/google_maps_flutter_ios/test/google_maps_flutter_ios_test.mocks.dart
Labels: autosubmit, p: google_maps_flutter, platform-ios

#7078 [camera] Deprecate `maxDuration` in platform interface
  packages/camera/camera_platform_interface/CHANGELOG.md
  packages/camera/camera_platform_interface/lib/src/platform_interface/camera_platform.dart
  packages/camera/camera_platform_interface/lib/src/types/video_capture_options.dart
  packages/camera/camera_platform_interface/pubspec.yaml
  packages/camera/camera_platform_interface/test/method_channel/method_channel_camera_test.dart
Labels: autosubmit, p: camera, federated: partial_changes

#6925 [camera] Convert Windows to Pigeon
  packages/camera/camera_windows/CHANGELOG.md
  packages/camera/camera_windows/lib/camera_windows.dart
  packages/camera/camera_windows/lib/src/messages.g.dart
  packages/camera/camera_windows/pigeons/copyright.txt
  packages/camera/camera_windows/pigeons/messages.dart
  packages/camera/camera_windows/pubspec.yaml
  packages/camera/camera_windows/test/camera_windows_test.dart
  packages/camera/camera_windows/test/camera_windows_test.mocks.dart
  packages/camera/camera_windows/test/utils/method_channel_mock.dart
  packages/camera/camera_windows/windows/CMakeLists.txt
  packages/camera/camera_windows/windows/camera.cpp
  packages/camera/camera_windows/windows/camera.h
  packages/camera/camera_windows/windows/camera_plugin.cpp
  packages/camera/camera_windows/windows/camera_plugin.h
  packages/camera/camera_windows/windows/capture_controller.cpp
  packages/camera/camera_windows/windows/capture_controller.h
  packages/camera/camera_windows/windows/messages.g.cpp
  packages/camera/camera_windows/windows/messages.g.h
  packages/camera/camera_windows/windows/record_handler.cpp
  packages/camera/camera_windows/windows/record_handler.h
  packages/camera/camera_windows/windows/test/camera_plugin_test.cpp
  packages/camera/camera_windows/windows/test/camera_test.cpp
  packages/camera/camera_windows/windows/test/capture_controller_test.cpp
  packages/camera/camera_windows/windows/test/mocks.h
Labels: autosubmit, p: camera, platform-windows

#6897 [camera_avfoundation] fix sample times not being numeric after pause/resume.
  packages/camera/camera_avfoundation/CHANGELOG.md
  packages/camera/camera_avfoundation/example/ios/RunnerTests/FLTCamSampleBufferTests.m
  packages/camera/camera_avfoundation/ios/Classes/FLTCam.m
  packages/camera/camera_avfoundation/pubspec.yaml
Labels: autosubmit, p: camera, platform-ios, platform-macos

#7084 Roll Flutter from fafd67d34d68 to 5103d7574361 (27 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#7086 [google_maps_flutter] Convert Obj-C->Dart calls to Pigeon
  packages/google_maps_flutter/google_maps_flutter_ios/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios14/ios/RunnerTests/FLTGoogleMapJSONConversionsConversionTests.m
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios14/ios/RunnerTests/FLTTileProviderControllerTests.m
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios14/ios/RunnerTests/GoogleMapsPolylinesControllerTests.m
  packages/google_maps_flutter/google_maps_flutter_ios/ios/Classes/FLTGoogleMapJSONConversions.h
  packages/google_maps_flutter/google_maps_flutter_ios/ios/Classes/FLTGoogleMapJSONConversions.m
  packages/google_maps_flutter/google_maps_flutter_ios/ios/Classes/FLTGoogleMapTileOverlayController.h
  packages/google_maps_flutter/google_maps_flutter_ios/ios/Classes/FLTGoogleMapTileOverlayController.m
  packages/google_maps_flutter/google_maps_flutter_ios/ios/Classes/GoogleMapCircleController.h
  packages/google_maps_flutter/google_maps_flutter_ios/ios/Classes/GoogleMapCircleController.m
  packages/google_maps_flutter/google_maps_flutter_ios/ios/Classes/GoogleMapController.m
  packages/google_maps_flutter/google_maps_flutter_ios/ios/Classes/GoogleMapMarkerController.h
  packages/google_maps_flutter/google_maps_flutter_ios/ios/Classes/GoogleMapMarkerController.m
  packages/google_maps_flutter/google_maps_flutter_ios/ios/Classes/GoogleMapPolygonController.h
  packages/google_maps_flutter/google_maps_flutter_ios/ios/Classes/GoogleMapPolygonController.m
  packages/google_maps_flutter/google_maps_flutter_ios/ios/Classes/GoogleMapPolylineController.h
  packages/google_maps_flutter/google_maps_flutter_ios/ios/Classes/GoogleMapPolylineController.m
  packages/google_maps_flutter/google_maps_flutter_ios/ios/Classes/messages.g.h
  packages/google_maps_flutter/google_maps_flutter_ios/ios/Classes/messages.g.m
  packages/google_maps_flutter/google_maps_flutter_ios/lib/src/google_maps_flutter_ios.dart
  packages/google_maps_flutter/google_maps_flutter_ios/lib/src/messages.g.dart
  packages/google_maps_flutter/google_maps_flutter_ios/pigeons/messages.dart
  packages/google_maps_flutter/google_maps_flutter_ios/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_ios/test/google_maps_flutter_ios_test.dart
Labels: autosubmit, p: google_maps_flutter, platform-ios

#7085 [camera] Fix iOS torch mode regression
  packages/camera/camera_avfoundation/CHANGELOG.md
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraSettingsTests.m
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraTestUtils.h
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraTestUtils.m
  packages/camera/camera_avfoundation/example/ios/RunnerTests/FLTCamPhotoCaptureTests.m
  packages/camera/camera_avfoundation/ios/Classes/FLTCam.m
  packages/camera/camera_avfoundation/pubspec.yaml
Labels: autosubmit, p: camera, platform-ios, platform-macos

#7048 Update espresso dependencies
  packages/espresso/CHANGELOG.md
  packages/espresso/README.md
  packages/espresso/android/build.gradle
  packages/espresso/android/src/main/java/androidx/test/espresso/flutter/EspressoFlutter.java
  packages/espresso/android/src/main/java/androidx/test/espresso/flutter/action/FlutterActions.java
  packages/espresso/android/src/main/java/androidx/test/espresso/flutter/action/FlutterViewAction.java
  packages/espresso/android/src/main/java/androidx/test/espresso/flutter/action/SyntheticClickAction.java
  packages/espresso/example/android/app/build.gradle
  packages/espresso/example/android/app/src/main/AndroidManifest.xml
  packages/espresso/pubspec.yaml
Labels: autosubmit, p: espresso, platform-android

#7039 [camera] Clean up `maxDuration` code
  packages/camera/camera/test/camera_image_stream_test.dart
  packages/camera/camera/test/camera_test.dart
  packages/camera/camera_android/CHANGELOG.md
  packages/camera/camera_android/lib/src/android_camera.dart
  packages/camera/camera_android/pubspec.yaml
  packages/camera/camera_android/test/android_camera_test.dart
  packages/camera/camera_android_camerax/CHANGELOG.md
  packages/camera/camera_android_camerax/README.md
  packages/camera/camera_android_camerax/lib/src/android_camera_camerax.dart
  packages/camera/camera_android_camerax/pubspec.yaml
  packages/camera/camera_avfoundation/CHANGELOG.md
  packages/camera/camera_avfoundation/lib/src/avfoundation_camera.dart
  packages/camera/camera_avfoundation/pubspec.yaml
  packages/camera/camera_web/CHANGELOG.md
  packages/camera/camera_web/example/integration_test/camera_test.dart
  packages/camera/camera_web/example/integration_test/camera_web_test.dart
  packages/camera/camera_web/lib/src/camera.dart
  packages/camera/camera_web/lib/src/camera_web.dart
  packages/camera/camera_web/pubspec.yaml
  packages/camera/camera_windows/CHANGELOG.md
  packages/camera/camera_windows/lib/camera_windows.dart
  packages/camera/camera_windows/lib/src/messages.g.dart
  packages/camera/camera_windows/pigeons/messages.dart
  packages/camera/camera_windows/pubspec.yaml
  packages/camera/camera_windows/test/camera_windows_test.dart
  packages/camera/camera_windows/test/camera_windows_test.mocks.dart
  packages/camera/camera_windows/windows/camera.cpp
  packages/camera/camera_windows/windows/camera.h
  packages/camera/camera_windows/windows/camera_plugin.cpp
  packages/camera/camera_windows/windows/camera_plugin.h
  packages/camera/camera_windows/windows/capture_controller.cpp
  packages/camera/camera_windows/windows/capture_controller.h
  packages/camera/camera_windows/windows/capture_controller_listener.h
  packages/camera/camera_windows/windows/messages.g.cpp
  packages/camera/camera_windows/windows/messages.g.h
  packages/camera/camera_windows/windows/record_handler.cpp
  packages/camera/camera_windows/windows/record_handler.h
  packages/camera/camera_windows/windows/test/camera_plugin_test.cpp
  packages/camera/camera_windows/windows/test/camera_test.cpp
  packages/camera/camera_windows/windows/test/capture_controller_test.cpp
  packages/camera/camera_windows/windows/test/mocks.h
Labels: autosubmit, p: camera, platform-android, platform-ios, platform-macos, platform-web, platform-windows, federated: all_changes

#6792 [webview_flutter_web] Migrate to package:web.
  packages/webview_flutter/webview_flutter_web/CHANGELOG.md
  packages/webview_flutter/webview_flutter_web/example/web/index.html
  packages/webview_flutter/webview_flutter_web/lib/src/http_request_factory.dart
  packages/webview_flutter/webview_flutter_web/lib/src/web_webview_controller.dart
  packages/webview_flutter/webview_flutter_web/lib/src/webview_flutter_web_legacy.dart
  packages/webview_flutter/webview_flutter_web/pubspec.yaml
  packages/webview_flutter/webview_flutter_web/test/legacy/webview_flutter_web_test.dart
  packages/webview_flutter/webview_flutter_web/test/legacy/webview_flutter_web_test.mocks.dart
  packages/webview_flutter/webview_flutter_web/test/web_webview_controller_test.dart
  packages/webview_flutter/webview_flutter_web/test/web_webview_controller_test.mocks.dart
  script/configs/exclude_all_packages_app_wasm.yaml
Labels: autosubmit, platform-web, p: webview_flutter

#7091 [webview_flutter_wkwebview] Adds Swift Package Manager compatibility
  packages/webview_flutter/webview_flutter_wkwebview/CHANGELOG.md
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/Podfile
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/Runner.xcodeproj/project.pbxproj
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/RunnerTests/FWFInstanceManagerTests.m
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/RunnerTests/FWFUIDelegateHostApiTests.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Assets/.gitkeep
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/webview-umbrella.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/webview_flutter_wkwebview.podspec
  packages/webview_flutter/webview_flutter_wkwebview/ios/webview_flutter_wkwebview/Package.swift
  packages/webview_flutter/webview_flutter_wkwebview/ios/webview_flutter_wkwebview/Sources/webview_flutter_wkwebview/FLTWebViewFlutterPlugin.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/webview_flutter_wkwebview/Sources/webview_flutter_wkwebview/FWFDataConverters.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/webview_flutter_wkwebview/Sources/webview_flutter_wkwebview/FWFGeneratedWebKitApis.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/webview_flutter_wkwebview/Sources/webview_flutter_wkwebview/FWFHTTPCookieStoreHostApi.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/webview_flutter_wkwebview/Sources/webview_flutter_wkwebview/FWFInstanceManager.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/webview_flutter_wkwebview/Sources/webview_flutter_wkwebview/FWFNavigationDelegateHostApi.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/webview_flutter_wkwebview/Sources/webview_flutter_wkwebview/FWFObjectHostApi.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/webview_flutter_wkwebview/Sources/webview_flutter_wkwebview/FWFPreferencesHostApi.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/webview_flutter_wkwebview/Sources/webview_flutter_wkwebview/FWFScriptMessageHandlerHostApi.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/webview_flutter_wkwebview/Sources/webview_flutter_wkwebview/FWFScrollViewDelegateHostApi.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/webview_flutter_wkwebview/Sources/webview_flutter_wkwebview/FWFScrollViewHostApi.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/webview_flutter_wkwebview/Sources/webview_flutter_wkwebview/FWFUIDelegateHostApi.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/webview_flutter_wkwebview/Sources/webview_flutter_wkwebview/FWFUIViewHostApi.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/webview_flutter_wkwebview/Sources/webview_flutter_wkwebview/FWFURLAuthenticationChallengeHostApi.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/webview_flutter_wkwebview/Sources/webview_flutter_wkwebview/FWFURLCredentialHostApi.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/webview_flutter_wkwebview/Sources/webview_flutter_wkwebview/FWFURLHostApi.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/webview_flutter_wkwebview/Sources/webview_flutter_wkwebview/FWFURLProtectionSpaceHostApi.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/webview_flutter_wkwebview/Sources/webview_flutter_wkwebview/FWFUserContentControllerHostApi.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/webview_flutter_wkwebview/Sources/webview_flutter_wkwebview/FWFWebViewConfigurationHostApi.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/webview_flutter_wkwebview/Sources/webview_flutter_wkwebview/FWFWebViewFlutterWKWebViewExternalAPI.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/webview_flutter_wkwebview/Sources/webview_flutter_wkwebview/FWFWebViewHostApi.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/webview_flutter_wkwebview/Sources/webview_flutter_wkwebview/FWFWebsiteDataStoreHostApi.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/webview_flutter_wkwebview/Sources/webview_flutter_wkwebview/Resources/PrivacyInfo.xcprivacy
  packages/webview_flutter/webview_flutter_wkwebview/ios/webview_flutter_wkwebview/Sources/webview_flutter_wkwebview/include/FlutterWebView.modulemap
  packages/webview_flutter/webview_flutter_wkwebview/ios/webview_flutter_wkwebview/Sources/webview_flutter_wkwebview/include/webview-umbrella.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/webview_flutter_wkwebview/Sources/webview_flutter_wkwebview/include/webview_flutter_wkwebview/FLTWebViewFlutterPlugin.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/webview_flutter_wkwebview/Sources/webview_flutter_wkwebview/include/webview_flutter_wkwebview/FWFDataConverters.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/webview_flutter_wkwebview/Sources/webview_flutter_wkwebview/include/webview_flutter_wkwebview/FWFGeneratedWebKitApis.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/webview_flutter_wkwebview/Sources/webview_flutter_wkwebview/include/webview_flutter_wkwebview/FWFHTTPCookieStoreHostApi.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/webview_flutter_wkwebview/Sources/webview_flutter_wkwebview/include/webview_flutter_wkwebview/FWFInstanceManager.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/webview_flutter_wkwebview/Sources/webview_flutter_wkwebview/include/webview_flutter_wkwebview/FWFInstanceManager_Test.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/webview_flutter_wkwebview/Sources/webview_flutter_wkwebview/include/webview_flutter_wkwebview/FWFNavigationDelegateHostApi.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/webview_flutter_wkwebview/Sources/webview_flutter_wkwebview/include/webview_flutter_wkwebview/FWFObjectHostApi.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/webview_flutter_wkwebview/Sources/webview_flutter_wkwebview/include/webview_flutter_wkwebview/FWFPreferencesHostApi.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/webview_flutter_wkwebview/Sources/webview_flutter_wkwebview/include/webview_flutter_wkwebview/FWFScriptMessageHandlerHostApi.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/webview_flutter_wkwebview/Sources/webview_flutter_wkwebview/include/webview_flutter_wkwebview/FWFScrollViewDelegateHostApi.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/webview_flutter_wkwebview/Sources/webview_flutter_wkwebview/include/webview_flutter_wkwebview/FWFScrollViewHostApi.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/webview_flutter_wkwebview/Sources/webview_flutter_wkwebview/include/webview_flutter_wkwebview/FWFUIDelegateHostApi.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/webview_flutter_wkwebview/Sources/webview_flutter_wkwebview/include/webview_flutter_wkwebview/FWFUIViewHostApi.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/webview_flutter_wkwebview/Sources/webview_flutter_wkwebview/include/webview_flutter_wkwebview/FWFURLAuthenticationChallengeHostApi.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/webview_flutter_wkwebview/Sources/webview_flutter_wkwebview/include/webview_flutter_wkwebview/FWFURLCredentialHostApi.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/webview_flutter_wkwebview/Sources/webview_flutter_wkwebview/include/webview_flutter_wkwebview/FWFURLHostApi.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/webview_flutter_wkwebview/Sources/webview_flutter_wkwebview/include/webview_flutter_wkwebview/FWFURLProtectionSpaceHostApi.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/webview_flutter_wkwebview/Sources/webview_flutter_wkwebview/include/webview_flutter_wkwebview/FWFUserContentControllerHostApi.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/webview_flutter_wkwebview/Sources/webview_flutter_wkwebview/include/webview_flutter_wkwebview/FWFWebViewConfigurationHostApi.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/webview_flutter_wkwebview/Sources/webview_flutter_wkwebview/include/webview_flutter_wkwebview/FWFWebViewFlutterWKWebViewExternalAPI.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/webview_flutter_wkwebview/Sources/webview_flutter_wkwebview/include/webview_flutter_wkwebview/FWFWebViewHostApi.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/webview_flutter_wkwebview/Sources/webview_flutter_wkwebview/include/webview_flutter_wkwebview/FWFWebsiteDataStoreHostApi.h
  packages/webview_flutter/webview_flutter_wkwebview/pigeons/web_kit.dart
  packages/webview_flutter/webview_flutter_wkwebview/pubspec.yaml
Labels: autosubmit, platform-ios, p: webview_flutter

#7080 [camera_avfoundation] Adds Swift Package Manager compatibility
  packages/camera/camera_avfoundation/CHANGELOG.md
  packages/camera/camera_avfoundation/example/ios/Podfile
  packages/camera/camera_avfoundation/example/ios/Runner.xcodeproj/project.pbxproj
  packages/camera/camera_avfoundation/example/ios/RunnerTests/AvailableCamerasTest.m
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraCaptureSessionQueueRaceConditionTests.m
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraFocusTests.m
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraMethodChannelTests.m
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraOrientationTests.m
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraPermissionTests.m
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraPreviewPauseTests.m
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraPropertiesTests.m
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraSessionPresetsTests.m
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraSettingsTests.m
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraTestUtils.h
  packages/camera/camera_avfoundation/example/ios/RunnerTests/FLTCamPhotoCaptureTests.m
  packages/camera/camera_avfoundation/example/ios/RunnerTests/FLTCamSampleBufferTests.m
  packages/camera/camera_avfoundation/example/ios/RunnerTests/FLTSavePhotoDelegateTests.m
  packages/camera/camera_avfoundation/example/ios/RunnerTests/QueueUtilsTests.m
  packages/camera/camera_avfoundation/example/ios/RunnerTests/StreamingTest.m
  packages/camera/camera_avfoundation/example/ios/RunnerTests/ThreadSafeEventChannelTests.m
  packages/camera/camera_avfoundation/ios/Assets/.gitkeep
  packages/camera/camera_avfoundation/ios/camera_avfoundation.podspec
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Package.swift
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/CameraPermissionUtils.m
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/CameraPlugin.m
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/CameraProperties.m
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/FLTCam.m
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/FLTCamMediaSettingsAVWrapper.m
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/FLTSavePhotoDelegate.m
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/FLTThreadSafeEventChannel.m
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/QueueUtils.m
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/Resources/PrivacyInfo.xcprivacy
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/include/CameraPlugin.modulemap
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/include/camera_avfoundation-umbrella.h
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/include/camera_avfoundation/CameraPermissionUtils.h
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/include/camera_avfoundation/CameraPlugin.h
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/include/camera_avfoundation/CameraPlugin_Test.h
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/include/camera_avfoundation/CameraProperties.h
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/include/camera_avfoundation/FLTCam.h
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/include/camera_avfoundation/FLTCamMediaSettingsAVWrapper.h
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/include/camera_avfoundation/FLTCam_Test.h
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/include/camera_avfoundation/FLTSavePhotoDelegate.h
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/include/camera_avfoundation/FLTSavePhotoDelegate_Test.h
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/include/camera_avfoundation/FLTThreadSafeEventChannel.h
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/include/camera_avfoundation/QueueUtils.h
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/include/camera_avfoundation/messages.g.h
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/messages.g.m
  packages/camera/camera_avfoundation/pigeons/messages.dart
  packages/camera/camera_avfoundation/pubspec.yaml
Labels: autosubmit, p: camera, platform-ios, platform-macos

#6879 [ci][web] Run tests in canvaskit mode.
  packages/palette_generator/CHANGELOG.md
  packages/palette_generator/dart_test.yaml
  packages/palette_generator/example/lib/main.dart
  packages/palette_generator/example/web/favicon.png
  packages/palette_generator/example/web/icons/Icon-192.png
  packages/palette_generator/example/web/icons/Icon-512.png
  packages/palette_generator/example/web/icons/Icon-maskable-192.png
  packages/palette_generator/example/web/icons/Icon-maskable-512.png
  packages/palette_generator/example/web/index.html
  packages/palette_generator/example/web/manifest.json
  packages/palette_generator/pubspec.yaml
  packages/pointer_interceptor/pointer_interceptor/example/README.md
  packages/pointer_interceptor/pointer_interceptor_web/example/README.md
  script/tool/lib/src/dart_test_command.dart
  script/tool/lib/src/drive_examples_command.dart
  script/tool/test/dart_test_command_test.dart
  script/tool/test/drive_examples_command_test.dart
Labels: p: palette_generator, p: pointer_interceptor, autosubmit, override: no changelog needed, platform-web

#6920 [go_router] Makes GoRouterState lookup more robust.
  packages/go_router/CHANGELOG.md
  packages/go_router/lib/src/state.dart
  packages/go_router/pubspec.yaml
  packages/go_router/test/go_router_state_test.dart
Labels: p: go_router, autosubmit

#7100 [ios]Fix compile error when conforming UIApplication to Launcher due to MainActor annotation
  packages/url_launcher/url_launcher_ios/CHANGELOG.md
  packages/url_launcher/url_launcher_ios/ios/url_launcher_ios/Sources/url_launcher_ios/Launcher.swift
  packages/url_launcher/url_launcher_ios/ios/url_launcher_ios/Sources/url_launcher_ios/URLLauncherPlugin.swift
  packages/url_launcher/url_launcher_ios/pubspec.yaml
Labels: autosubmit, platform-ios, p: url_launcher

#7094 [pigeon] Fix C++ enum naming
  packages/pigeon/CHANGELOG.md
  packages/pigeon/example/README.md
  packages/pigeon/example/app/windows/runner/flutter_window.cpp
  packages/pigeon/example/app/windows/runner/messages.g.h
  packages/pigeon/lib/cpp_generator.dart
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/platform_tests/test_plugin/windows/pigeon/core_tests.gen.h
  packages/pigeon/platform_tests/test_plugin/windows/test/null_fields_test.cpp
  packages/pigeon/pubspec.yaml
  packages/pigeon/test/cpp_generator_test.dart
Labels: p: pigeon, autosubmit, platform-windows

#7099 Manual roll Flutter to 58068d8ea4ec (42 revisions)
  .ci.yaml
  .ci/flutter_master.version
  .ci/targets/android_build_all_packages.yaml
Labels: autosubmit

#7115 [webview_flutter_web] Migrate integration tests to package:web.
  packages/webview_flutter/webview_flutter_web/CHANGELOG.md
  packages/webview_flutter/webview_flutter_web/example/integration_test/legacy/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter_web/example/integration_test/legacy_webview_flutter_test_manual.dart
  packages/webview_flutter/webview_flutter_web/example/integration_test/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter_web/example/integration_test/wrapped_webview.dart
  packages/webview_flutter/webview_flutter_web/example/pubspec.yaml
  packages/webview_flutter/webview_flutter_web/lib/src/webview_flutter_web_legacy.dart
  packages/webview_flutter/webview_flutter_web/pubspec.yaml
Labels: autosubmit, platform-web, p: webview_flutter

#7049 [in_app_purchase_storekit] convert productRequestHandlerTests to swift
  packages/in_app_purchase/in_app_purchase_storekit/example/ios/Runner.xcodeproj/project.pbxproj
  packages/in_app_purchase/in_app_purchase_storekit/example/ios/RunnerTests/ProductRequestHandlerTests.m
  packages/in_app_purchase/in_app_purchase_storekit/example/ios/RunnerTests/ProductRequestHandlerTests.swift
  packages/in_app_purchase/in_app_purchase_storekit/example/macos/Runner.xcodeproj/project.pbxproj
  packages/in_app_purchase/in_app_purchase_storekit/example/macos/Runner/AppDelegate.swift
  packages/in_app_purchase/in_app_purchase_storekit/example/macos/RunnerTests/ProductRequestHandlerTests.m
  packages/in_app_purchase/in_app_purchase_storekit/example/macos/RunnerTests/ProductRequestHandlerTests.swift
  packages/in_app_purchase/in_app_purchase_storekit/example/shared/RunnerTests/ProductRequestHandlerTests.m
  packages/in_app_purchase/in_app_purchase_storekit/example/shared/RunnerTests/ProductRequestHandlerTests.swift
Labels: p: in_app_purchase, platform-ios, platform-macos

#6901 [camera_avfoundation] do not append sample buffer when readyForMoreMediaData is NO to avoid crash
  packages/camera/camera_avfoundation/CHANGELOG.md
  packages/camera/camera_avfoundation/example/ios/RunnerTests/FLTCamSampleBufferTests.m
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/FLTCam.m
  packages/camera/camera_avfoundation/pubspec.yaml
Labels: autosubmit, p: camera, platform-ios, platform-macos

#7146 [ci] Drive tests with html renderer if CHANNEL is stable.
  script/tool/lib/src/drive_examples_command.dart
  script/tool/test/drive_examples_command_test.dart
Labels: autosubmit

#7105 [in_app_purchase_storekit] Migrate InAppPurchasePluginTests.m to. Swift
  packages/in_app_purchase/in_app_purchase_storekit/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_storekit/darwin/Classes/InAppPurchasePlugin.swift
  packages/in_app_purchase/in_app_purchase_storekit/example/ios/Runner.xcodeproj/project.pbxproj
  packages/in_app_purchase/in_app_purchase_storekit/example/ios/RunnerTests/InAppPurchasePluginTests.m
  packages/in_app_purchase/in_app_purchase_storekit/example/ios/RunnerTests/InAppPurchasePluginTests.swift
  packages/in_app_purchase/in_app_purchase_storekit/example/macos/Runner.xcodeproj/project.pbxproj
  packages/in_app_purchase/in_app_purchase_storekit/example/macos/RunnerTests/InAppPurchasePluginTests.m
  packages/in_app_purchase/in_app_purchase_storekit/example/macos/RunnerTests/InAppPurchasePluginTests.swift
  packages/in_app_purchase/in_app_purchase_storekit/example/shared/RunnerTests/InAppPurchasePluginTests.m
  packages/in_app_purchase/in_app_purchase_storekit/example/shared/RunnerTests/InAppPurchasePluginTests.swift
  packages/in_app_purchase/in_app_purchase_storekit/example/shared/RunnerTests/Stubs.h
  packages/in_app_purchase/in_app_purchase_storekit/pubspec.yaml
Labels: p: in_app_purchase, platform-ios, platform-macos

#7114 Modernize all `index.html` files to support WASM
  packages/animations/example/web/index.html
  packages/camera/camera/example/web/index.html
  packages/camera/camera_web/example/web/index.html
  packages/file_selector/file_selector/example/web/index.html
  packages/file_selector/file_selector_web/example/web/index.html
  packages/flutter_markdown/example/web/index.html
  packages/go_router/example/web/index.html
  packages/google_maps_flutter/google_maps_flutter_web/example/web/index.html
  packages/google_sign_in/google_sign_in_web/example/web/index.html
  packages/image_picker/image_picker/example/web/index.html
  packages/image_picker/image_picker_for_web/example/web/index.html
  packages/pointer_interceptor/pointer_interceptor/example/web/index.html
  packages/rfw/example/hello/web/index.html
  packages/rfw/example/local/web/index.html
  packages/rfw/example/remote/web/index.html
  packages/shared_preferences/shared_preferences/example/web/index.html
  packages/shared_preferences/shared_preferences_web/example/web/index.html
  packages/url_launcher/url_launcher/example/web/index.html
  packages/url_launcher/url_launcher_web/example/web/index.html
  packages/video_player/video_player/example/web/index.html
  packages/video_player/video_player_web/example/web/index.html
Labels: p: pointer_interceptor, p: flutter_markdown, p: rfw, p: go_router, p: animations, autosubmit, override: no changelog needed, p: camera, p: file_selector, p: google_maps_flutter, p: google_sign_in, p: image_picker, platform-web, p: video_player, p: url_launcher, p: shared_preferences

#7145 [flutter_plugin_tools] Allow disabling Swift Package Manager when building examples
  script/tool/lib/src/build_examples_command.dart
  script/tool/lib/src/common/package_command.dart
  script/tool/test/build_examples_command_test.dart
Labels: autosubmit

#7159 [file_selector_android] Use Espresso 4.0
  packages/file_selector/file_selector_android/example/pubspec.yaml
Labels: autosubmit, p: file_selector, platform-android

#6962 [shared_preferences] Platform interface for new shared preferences async
  packages/shared_preferences/shared_preferences_platform_interface/CHANGELOG.md
  packages/shared_preferences/shared_preferences_platform_interface/README.md
  packages/shared_preferences/shared_preferences_platform_interface/lib/in_memory_shared_preferences_async.dart
  packages/shared_preferences/shared_preferences_platform_interface/lib/shared_preferences_async_platform_interface.dart
  packages/shared_preferences/shared_preferences_platform_interface/lib/types.dart
  packages/shared_preferences/shared_preferences_platform_interface/pubspec.yaml
  packages/shared_preferences/shared_preferences_platform_interface/test/deprecated_method_channel_shared_preferences_test.dart
Labels: autosubmit, p: shared_preferences

#7171 [in_app_purchase_storekit] Migrate FIAPPaymentQueueDeleteTests.m to.Swift
  packages/in_app_purchase/in_app_purchase_storekit/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_storekit/darwin/Classes/FIAPPaymentQueueDelegate.h
  packages/in_app_purchase/in_app_purchase_storekit/example/ios/Runner.xcodeproj/project.pbxproj
  packages/in_app_purchase/in_app_purchase_storekit/example/ios/RunnerTests/FIAPPaymentQueueDeleteTests.m
  packages/in_app_purchase/in_app_purchase_storekit/example/ios/RunnerTests/FIAPPaymentQueueDeleteTests.swift
  packages/in_app_purchase/in_app_purchase_storekit/example/macos/Runner.xcodeproj/project.pbxproj
  packages/in_app_purchase/in_app_purchase_storekit/example/macos/RunnerTests/FIAPPaymentQueueDeleteTests.m
  packages/in_app_purchase/in_app_purchase_storekit/example/macos/RunnerTests/FIAPPaymentQueueDeleteTests.swift
  packages/in_app_purchase/in_app_purchase_storekit/example/shared/RunnerTests/FIAPPaymentQueueDeleteTests.m
  packages/in_app_purchase/in_app_purchase_storekit/example/shared/RunnerTests/FIAPPaymentQueueDeleteTests.swift
  packages/in_app_purchase/in_app_purchase_storekit/example/shared/RunnerTests/Stubs.h
  packages/in_app_purchase/in_app_purchase_storekit/pubspec.yaml
Labels: autosubmit, p: in_app_purchase, platform-ios, platform-macos

#7158 [go_router] docs: fix flutter run command for Stateful Nested Navigation
  packages/go_router/example/README.md
Labels: p: go_router, autosubmit, override: no versioning needed, override: no changelog needed

#7170 [rfw][ci] Skip failing rfw golden tests
  packages/rfw/test/argument_decoders_test.dart
  packages/rfw/test/material_widgets_test.dart
Labels: p: rfw

#7172 [in_app_purchase_storekit] Migrate FIATransactionCacheTests.m to.Swift
  packages/in_app_purchase/in_app_purchase_storekit/example/ios/Runner.xcodeproj/project.pbxproj
  packages/in_app_purchase/in_app_purchase_storekit/example/ios/RunnerTests/FIATransactionCacheTests.m
  packages/in_app_purchase/in_app_purchase_storekit/example/ios/RunnerTests/FiaTransactionCacheTests.swift
  packages/in_app_purchase/in_app_purchase_storekit/example/macos/Runner.xcodeproj/project.pbxproj
  packages/in_app_purchase/in_app_purchase_storekit/example/macos/RunnerTests/FIATransactionCacheTests.m
  packages/in_app_purchase/in_app_purchase_storekit/example/macos/RunnerTests/FIATransactionCacheTests.swift
  packages/in_app_purchase/in_app_purchase_storekit/example/shared/RunnerTests/FIATransactionCacheTests.m
  packages/in_app_purchase/in_app_purchase_storekit/example/shared/RunnerTests/FIATransactionCacheTests.swift
Labels: autosubmit, p: in_app_purchase, platform-ios, platform-macos

#7167 Roll Flutter (stable) from 761747bfc538 to b0850beeb25f (6 revisions)
  .ci/flutter_stable.version
Labels: autosubmit

#7180 [various] Update Windows packages to Pigeon 21
  packages/camera/camera_windows/CHANGELOG.md
  packages/camera/camera_windows/lib/src/messages.g.dart
  packages/camera/camera_windows/pubspec.yaml
  packages/camera/camera_windows/windows/capture_controller.cpp
  packages/camera/camera_windows/windows/messages.g.cpp
  packages/camera/camera_windows/windows/messages.g.h
  packages/camera/camera_windows/windows/test/camera_plugin_test.cpp
  packages/camera/camera_windows/windows/test/camera_test.cpp
  packages/camera/camera_windows/windows/test/capture_controller_test.cpp
  packages/file_selector/file_selector_windows/CHANGELOG.md
  packages/file_selector/file_selector_windows/lib/file_selector_windows.dart
  packages/file_selector/file_selector_windows/lib/src/messages.g.dart
  packages/file_selector/file_selector_windows/pubspec.yaml
  packages/file_selector/file_selector_windows/test/file_selector_windows_test.dart
  packages/file_selector/file_selector_windows/test/test_api.g.dart
  packages/file_selector/file_selector_windows/windows/messages.g.cpp
  packages/file_selector/file_selector_windows/windows/messages.g.h
  packages/local_auth/local_auth_windows/CHANGELOG.md
  packages/local_auth/local_auth_windows/lib/src/messages.g.dart
  packages/local_auth/local_auth_windows/pubspec.yaml
  packages/local_auth/local_auth_windows/windows/messages.g.cpp
  packages/local_auth/local_auth_windows/windows/messages.g.h
  packages/url_launcher/url_launcher_windows/CHANGELOG.md
  packages/url_launcher/url_launcher_windows/lib/src/messages.g.dart
  packages/url_launcher/url_launcher_windows/pubspec.yaml
  packages/url_launcher/url_launcher_windows/windows/messages.g.cpp
  packages/url_launcher/url_launcher_windows/windows/messages.g.h
Labels: autosubmit, p: camera, p: file_selector, p: local_auth, platform-windows, p: url_launcher

#7204 [in_app_purchase_storekit] convert paymentQueueTests to swift
  packages/in_app_purchase/in_app_purchase_storekit/example/ios/Runner.xcodeproj/project.pbxproj
  packages/in_app_purchase/in_app_purchase_storekit/example/ios/RunnerTests/PaymentQueueTests.m
  packages/in_app_purchase/in_app_purchase_storekit/example/ios/RunnerTests/PaymentQueueTests.swift
  packages/in_app_purchase/in_app_purchase_storekit/example/macos/Runner.xcodeproj/project.pbxproj
  packages/in_app_purchase/in_app_purchase_storekit/example/macos/RunnerTests/PaymentQueueTests.m
  packages/in_app_purchase/in_app_purchase_storekit/example/macos/RunnerTests/PaymentQueueTests.swift
  packages/in_app_purchase/in_app_purchase_storekit/example/shared/RunnerTests/PaymentQueueTests.m
  packages/in_app_purchase/in_app_purchase_storekit/example/shared/RunnerTests/PaymentQueueTests.swift
Labels: autosubmit, p: in_app_purchase, platform-ios, platform-macos

#7203 [gis_web] Allow package:web 1.0.0
  packages/google_identity_services_web/CHANGELOG.md
  packages/google_identity_services_web/example/pubspec.yaml
  packages/google_identity_services_web/pubspec.yaml
Labels: autosubmit

#5100 Add Linux support to Pigeon
  packages/pigeon/CHANGELOG.md
  packages/pigeon/README.md
  packages/pigeon/example/README.md
  packages/pigeon/example/app/lib/main.dart
  packages/pigeon/example/app/linux/.gitignore
  packages/pigeon/example/app/linux/CMakeLists.txt
  packages/pigeon/example/app/linux/flutter/CMakeLists.txt
  packages/pigeon/example/app/linux/flutter/generated_plugins.cmake
  packages/pigeon/example/app/linux/main.cc
  packages/pigeon/example/app/linux/messages.g.cc
  packages/pigeon/example/app/linux/messages.g.h
  packages/pigeon/example/app/linux/my_application.cc
  packages/pigeon/example/app/linux/my_application.h
  packages/pigeon/example/app/pigeons/messages.dart
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/lib/gobject_generator.dart
  packages/pigeon/lib/pigeon.dart
  packages/pigeon/lib/pigeon_lib.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/integration_tests.dart
  packages/pigeon/platform_tests/test_plugin/example/integration_test/test.dart
  packages/pigeon/platform_tests/test_plugin/example/linux/.gitignore
  packages/pigeon/platform_tests/test_plugin/example/linux/CMakeLists.txt
  packages/pigeon/platform_tests/test_plugin/example/linux/flutter/CMakeLists.txt
  packages/pigeon/platform_tests/test_plugin/example/linux/flutter/generated_plugins.cmake
  packages/pigeon/platform_tests/test_plugin/example/linux/main.cc
  packages/pigeon/platform_tests/test_plugin/example/linux/my_application.cc
  packages/pigeon/platform_tests/test_plugin/example/linux/my_application.h
  packages/pigeon/platform_tests/test_plugin/linux/CMakeLists.txt
  packages/pigeon/platform_tests/test_plugin/linux/include/test_plugin/test_plugin.h
  packages/pigeon/platform_tests/test_plugin/linux/pigeon/.gitignore
  packages/pigeon/platform_tests/test_plugin/linux/pigeon/core_tests.gen.cc
  packages/pigeon/platform_tests/test_plugin/linux/pigeon/core_tests.gen.h
  packages/pigeon/platform_tests/test_plugin/linux/test/multiple_arity_test.cc
  packages/pigeon/platform_tests/test_plugin/linux/test/non_null_fields_test.cc
  packages/pigeon/platform_tests/test_plugin/linux/test/null_fields_test.cc
  packages/pigeon/platform_tests/test_plugin/linux/test/nullable_returns_test.cc
  packages/pigeon/platform_tests/test_plugin/linux/test/primitive_test.cc
  packages/pigeon/platform_tests/test_plugin/linux/test/utils/fake_host_messenger.cc
  packages/pigeon/platform_tests/test_plugin/linux/test/utils/fake_host_messenger.h
  packages/pigeon/platform_tests/test_plugin/linux/test_plugin.cc
  packages/pigeon/platform_tests/test_plugin/linux/test_plugin_private.h
  packages/pigeon/platform_tests/test_plugin/pubspec.yaml
  packages/pigeon/pubspec.yaml
  packages/pigeon/test/gobject_generator_test.dart
  packages/pigeon/tool/run_tests.dart
  packages/pigeon/tool/shared/generation.dart
  packages/pigeon/tool/shared/native_project_runners.dart
  packages/pigeon/tool/shared/test_runner.dart
  packages/pigeon/tool/shared/test_suites.dart
  packages/pigeon/tool/test.dart
Labels: p: pigeon, autosubmit, platform-linux, triage-linux

#7192 Modernize the rest of the `index.html` files to support WASM compilation
  packages/camera/camera/example/web/index.html
  packages/extension_google_sign_in_as_googleapis_auth/example/web/index.html
  packages/flutter_adaptive_scaffold/example/web/index.html
  packages/flutter_image/example/web/index.html
  packages/google_identity_services_web/CHANGELOG.md
  packages/google_identity_services_web/README.md
  packages/google_identity_services_web/example/web/index-with-script-tag.html
  packages/google_identity_services_web/example/web/index.html
  packages/google_identity_services_web/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter/example/web/index.html
  packages/google_sign_in/google_sign_in/example/web/index.html
  packages/pointer_interceptor/pointer_interceptor_web/example/web/index.html
  packages/two_dimensional_scrollables/example/web/index.html
Labels: p: extension_google_sign_in_as_googleapis_auth, p: pointer_interceptor, p: flutter_image, autosubmit, override: no changelog needed, p: flutter_adaptive_scaffold, p: camera, p: google_maps_flutter, p: google_sign_in, platform-web

#7216 [flutter_migrate] Remove one set of parens that wrap a single String literal
  packages/flutter_migrate/test/base/terminal_test.dart
Labels: p: flutter_migrate

#7156 [tool] Add a package-level pre-publish hook
  script/tool/lib/src/common/repository_package.dart
  script/tool/lib/src/custom_test_command.dart
  script/tool/lib/src/publish_check_command.dart
  script/tool/lib/src/publish_command.dart
  script/tool/test/publish_check_command_test.dart
  script/tool/test/publish_command_test.dart
Labels: autosubmit

#7162 [tool] Adds `--wasm` flag to the `drive-examples` command
  script/tool/lib/src/common/core.dart
  script/tool/lib/src/drive_examples_command.dart
  script/tool/test/drive_examples_command_test.dart
Labels: autosubmit

#7218 [many] Ignore NewerVersionAvailable in android lint
  packages/camera/camera_android/CHANGELOG.md
  packages/camera/camera_android/android/build.gradle
  packages/camera/camera_android/pubspec.yaml
  packages/camera/camera_android_camerax/CHANGELOG.md
  packages/camera/camera_android_camerax/android/build.gradle
  packages/camera/camera_android_camerax/pubspec.yaml
  packages/espresso/CHANGELOG.md
  packages/espresso/android/build.gradle
  packages/espresso/pubspec.yaml
  packages/file_selector/file_selector_android/CHANGELOG.md
  packages/file_selector/file_selector_android/android/build.gradle
  packages/file_selector/file_selector_android/pubspec.yaml
  packages/flutter_plugin_android_lifecycle/CHANGELOG.md
  packages/flutter_plugin_android_lifecycle/android/build.gradle
  packages/flutter_plugin_android_lifecycle/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_android/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_android/android/build.gradle
  packages/google_maps_flutter/google_maps_flutter_android/pubspec.yaml
  packages/google_sign_in/google_sign_in_android/CHANGELOG.md
  packages/google_sign_in/google_sign_in_android/android/build.gradle
  packages/google_sign_in/google_sign_in_android/pubspec.yaml
  packages/image_picker/image_picker_android/CHANGELOG.md
  packages/image_picker/image_picker_android/android/build.gradle
  packages/image_picker/image_picker_android/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_android/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_android/android/build.gradle
  packages/in_app_purchase/in_app_purchase_android/pubspec.yaml
  packages/interactive_media_ads/CHANGELOG.md
  packages/interactive_media_ads/android/build.gradle
  packages/interactive_media_ads/android/src/main/kotlin/dev/flutter/packages/interactive_media_ads/AdsRequestProxyApi.kt
  packages/interactive_media_ads/pubspec.yaml
  packages/local_auth/local_auth_android/CHANGELOG.md
  packages/local_auth/local_auth_android/android/build.gradle
  packages/local_auth/local_auth_android/pubspec.yaml
  packages/path_provider/path_provider_android/CHANGELOG.md
  packages/path_provider/path_provider_android/android/build.gradle
  packages/path_provider/path_provider_android/pubspec.yaml
  packages/pigeon/platform_tests/alternate_language_test_plugin/android/build.gradle
  packages/pigeon/platform_tests/test_plugin/android/build.gradle
  packages/quick_actions/quick_actions_android/CHANGELOG.md
  packages/quick_actions/quick_actions_android/android/build.gradle
  packages/quick_actions/quick_actions_android/pubspec.yaml
  packages/shared_preferences/shared_preferences_android/CHANGELOG.md
  packages/shared_preferences/shared_preferences_android/android/build.gradle
  packages/shared_preferences/shared_preferences_android/pubspec.yaml
  packages/url_launcher/url_launcher_android/CHANGELOG.md
  packages/url_launcher/url_launcher_android/android/build.gradle
  packages/url_launcher/url_launcher_android/pubspec.yaml
  packages/video_player/video_player_android/CHANGELOG.md
  packages/video_player/video_player_android/android/build.gradle
  packages/video_player/video_player_android/pubspec.yaml
  packages/webview_flutter/webview_flutter_android/CHANGELOG.md
  packages/webview_flutter/webview_flutter_android/android/build.gradle
  packages/webview_flutter/webview_flutter_android/pubspec.yaml
  script/tool/test/gradle_check_command_test.dart
Labels: p: pigeon, autosubmit, p: camera, p: espresso, p: file_selector, p: flutter_plugin_android_lifecycle, p: google_maps_flutter, p: google_sign_in, p: image_picker, p: in_app_purchase, p: local_auth, p: path_provider, p: quick_actions, platform-android, p: webview_flutter, p: video_player, p: url_launcher, p: shared_preferences

#7067 [camera_windows] Support image streams on Windows platform
  packages/camera/camera_windows/CHANGELOG.md
  packages/camera/camera_windows/lib/camera_windows.dart
  packages/camera/camera_windows/lib/src/messages.g.dart
  packages/camera/camera_windows/lib/type_conversion.dart
  packages/camera/camera_windows/pigeons/messages.dart
  packages/camera/camera_windows/pubspec.yaml
  packages/camera/camera_windows/windows/camera.h
  packages/camera/camera_windows/windows/camera_plugin.cpp
  packages/camera/camera_windows/windows/camera_plugin.h
  packages/camera/camera_windows/windows/capture_controller.cpp
  packages/camera/camera_windows/windows/capture_controller.h
  packages/camera/camera_windows/windows/messages.g.cpp
  packages/camera/camera_windows/windows/messages.g.h
  packages/camera/camera_windows/windows/test/camera_plugin_test.cpp
  packages/camera/camera_windows/windows/test/mocks.h
Labels: autosubmit, p: camera, platform-windows

#7225 Roll Flutter from 7d5c1c04fb56 to 031dc3d156b9 (97 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#7081 [video_player_android] Add RTSP support
  packages/video_player/video_player_android/AUTHORS
  packages/video_player/video_player_android/CHANGELOG.md
  packages/video_player/video_player_android/android/build.gradle
  packages/video_player/video_player_android/android/src/main/java/io/flutter/plugins/videoplayer/HttpVideoAsset.java
  packages/video_player/video_player_android/android/src/main/java/io/flutter/plugins/videoplayer/RtspVideoAsset.java
  packages/video_player/video_player_android/android/src/main/java/io/flutter/plugins/videoplayer/VideoAsset.java
  packages/video_player/video_player_android/android/src/main/java/io/flutter/plugins/videoplayer/VideoPlayerPlugin.java
  packages/video_player/video_player_android/android/src/test/java/io/flutter/plugins/videoplayer/VideoAssetTest.java
  packages/video_player/video_player_android/example/lib/main.dart
  packages/video_player/video_player_android/pubspec.yaml
Labels: autosubmit, platform-android, p: video_player

#7181 [path_provider] fix 151823: update minimum required path_provider_android to 2.2.0
  packages/path_provider/path_provider/CHANGELOG.md
  packages/path_provider/path_provider/README.md
  packages/path_provider/path_provider/pubspec.yaml
Labels: autosubmit, p: path_provider

#5210 [shared_preferences] full api redesign with DataStore and cache-less interface
  packages/shared_preferences/shared_preferences/CHANGELOG.md
  packages/shared_preferences/shared_preferences/README.md
  packages/shared_preferences/shared_preferences/example/integration_test/shared_preferences_test.dart
  packages/shared_preferences/shared_preferences/example/lib/main.dart
  packages/shared_preferences/shared_preferences/example/lib/readme_excerpts.dart
  packages/shared_preferences/shared_preferences/example/pubspec.yaml
  packages/shared_preferences/shared_preferences/lib/shared_preferences.dart
  packages/shared_preferences/shared_preferences/lib/src/shared_preferences_async.dart
  packages/shared_preferences/shared_preferences/lib/src/shared_preferences_legacy.dart
  packages/shared_preferences/shared_preferences/pubspec.yaml
  packages/shared_preferences/shared_preferences/test/shared_preferences_async_test.dart
  packages/shared_preferences/shared_preferences/test/shared_preferences_test.dart
  packages/shared_preferences/shared_preferences_platform_interface/CHANGELOG.md
  packages/shared_preferences/shared_preferences_platform_interface/lib/shared_preferences_async_platform_interface.dart
  packages/shared_preferences/shared_preferences_platform_interface/pubspec.yaml
Labels: autosubmit, p: shared_preferences

#7258 [tool] Run pre_publish.dart before publish --dry-run
  script/tool/lib/src/publish_check_command.dart
  script/tool/test/publish_check_command_test.dart
Labels: autosubmit

#7077 [google_maps_flutter_web] Migrate to `google_maps: 8.0.0`
  packages/google_maps_flutter/google_maps_flutter_web/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_web/README.md
  packages/google_maps_flutter/google_maps_flutter_web/example/integration_test/google_maps_controller_test.dart
  packages/google_maps_flutter/google_maps_flutter_web/example/integration_test/google_maps_controller_test.mocks.dart
  packages/google_maps_flutter/google_maps_flutter_web/example/integration_test/google_maps_plugin_test.dart
  packages/google_maps_flutter/google_maps_flutter_web/example/integration_test/google_maps_plugin_test.mocks.dart
  packages/google_maps_flutter/google_maps_flutter_web/example/integration_test/marker_test.dart
  packages/google_maps_flutter/google_maps_flutter_web/example/integration_test/markers_test.dart
  packages/google_maps_flutter/google_maps_flutter_web/example/integration_test/overlay_test.dart
  packages/google_maps_flutter/google_maps_flutter_web/example/integration_test/overlays_test.dart
  packages/google_maps_flutter/google_maps_flutter_web/example/integration_test/shape_test.dart
  packages/google_maps_flutter/google_maps_flutter_web/example/integration_test/shapes_test.dart
  packages/google_maps_flutter/google_maps_flutter_web/example/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_web/example/web/index.html
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/convert.dart
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/dom_window_extension.dart
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/google_maps_controller.dart
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/marker_clustering.dart
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/marker_clustering_js_interop.dart
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/markers.dart
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/overlay.dart
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/overlays.dart
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/third_party/to_screen_location/to_screen_location.dart
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/types.dart
  packages/google_maps_flutter/google_maps_flutter_web/pubspec.yaml
  script/configs/exclude_all_packages_app_wasm.yaml
Labels: autosubmit, p: google_maps_flutter, platform-web

#7232 [in_app_purchase_storekit] convert TranslatorTests to swift
  packages/in_app_purchase/in_app_purchase_storekit/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_storekit/darwin/Classes/FIAObjectTranslator.m
  packages/in_app_purchase/in_app_purchase_storekit/example/ios/Runner.xcodeproj/project.pbxproj
  packages/in_app_purchase/in_app_purchase_storekit/example/ios/RunnerTests/TranslatorTests.m
  packages/in_app_purchase/in_app_purchase_storekit/example/ios/RunnerTests/TranslatorTests.swift
  packages/in_app_purchase/in_app_purchase_storekit/example/macos/Runner.xcodeproj/project.pbxproj
  packages/in_app_purchase/in_app_purchase_storekit/example/macos/RunnerTests/TranslatorTests.m
  packages/in_app_purchase/in_app_purchase_storekit/example/macos/RunnerTests/TranslatorTests.swift
  packages/in_app_purchase/in_app_purchase_storekit/example/shared/RunnerTests/InAppPurchasePluginTests.swift
  packages/in_app_purchase/in_app_purchase_storekit/example/shared/RunnerTests/TranslatorTests.m
  packages/in_app_purchase/in_app_purchase_storekit/example/shared/RunnerTests/TranslatorTests.swift
  packages/in_app_purchase/in_app_purchase_storekit/pubspec.yaml
Labels: autosubmit, p: in_app_purchase, platform-ios, platform-macos
