Repository flutter/packages, pull requests merged in 2024-11, with the labels that each got.

#7997 [go_router] Update example app to Kotlin 1.9.0
  packages/go_router/example/android/build.gradle
Labels: p: go_router, platform-android

#7995 [various] Minor cleanup in recently imported packages
  packages/vector_graphics/pubspec.yaml
  packages/vector_graphics_codec/pubspec.yaml
  packages/vector_graphics_compiler/pubspec.yaml
  third_party/packages/flutter_svg/README.md
  third_party/packages/path_parsing/CHANGELOG.md
Labels: autosubmit, override: no versioning needed, override: no changelog needed, p: path_parsing

#7990 [google_maps_flutter] Update Android for non-nullable generics
  packages/google_maps_flutter/google_maps_flutter_android/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_android/android/src/main/java/io/flutter/plugins/googlemaps/Messages.java
  packages/google_maps_flutter/google_maps_flutter_android/lib/src/google_maps_flutter_android.dart
  packages/google_maps_flutter/google_maps_flutter_android/lib/src/messages.g.dart
  packages/google_maps_flutter/google_maps_flutter_android/pigeons/messages.dart
  packages/google_maps_flutter/google_maps_flutter_android/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_android/test/google_maps_flutter_android_test.dart
Labels: autosubmit, p: google_maps_flutter, platform-android

#7993 [path_parsing] deprecate utility functions that should be private
  third_party/packages/path_parsing/CHANGELOG.md
  third_party/packages/path_parsing/lib/src/path_parsing.dart
  third_party/packages/path_parsing/pubspec.yaml
Labels: autosubmit, p: path_parsing

#8000 Roll Flutter from 0fe615343bd9 to f86b77721524 (16 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#7992 [script/tool] update dependencies
  script/tool/pubspec.yaml
  script/tool/test/common/package_command_test.mocks.dart
Labels: autosubmit

#8001 [camera] Use Pigeon for Windows C++->Dart
  packages/camera/camera_windows/CHANGELOG.md
  packages/camera/camera_windows/lib/camera_windows.dart
  packages/camera/camera_windows/lib/src/messages.g.dart
  packages/camera/camera_windows/pigeons/messages.dart
  packages/camera/camera_windows/pubspec.yaml
  packages/camera/camera_windows/test/camera_windows_test.dart
  packages/camera/camera_windows/test/camera_windows_test.mocks.dart
  packages/camera/camera_windows/windows/camera.cpp
  packages/camera/camera_windows/windows/camera.h
  packages/camera/camera_windows/windows/messages.g.cpp
  packages/camera/camera_windows/windows/messages.g.h
Labels: autosubmit, p: camera, platform-windows

#7951 [camera_windows] Revert: Support image streams on Windows platform
  packages/camera/camera_windows/CHANGELOG.md
  packages/camera/camera_windows/lib/camera_windows.dart
  packages/camera/camera_windows/lib/src/messages.g.dart
  packages/camera/camera_windows/lib/type_conversion.dart
  packages/camera/camera_windows/pigeons/messages.dart
  packages/camera/camera_windows/pubspec.yaml
  packages/camera/camera_windows/windows/camera.h
  packages/camera/camera_windows/windows/camera_plugin.cpp
  packages/camera/camera_windows/windows/camera_plugin.h
  packages/camera/camera_windows/windows/capture_controller.cpp
  packages/camera/camera_windows/windows/capture_controller.h
  packages/camera/camera_windows/windows/messages.g.cpp
  packages/camera/camera_windows/windows/messages.g.h
  packages/camera/camera_windows/windows/test/camera_plugin_test.cpp
  packages/camera/camera_windows/windows/test/mocks.h
Labels: autosubmit, p: camera, platform-windows

#8015 Roll Flutter from f86b77721524 to 8591d0c16a6c (16 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#7968 Applied Gradle Plugins Declaratively for Multiple Plugin Example Apps
  packages/file_selector/file_selector/example/android/app/build.gradle
  packages/file_selector/file_selector/example/android/build.gradle
  packages/file_selector/file_selector/example/android/settings.gradle
  packages/file_selector/file_selector_android/example/android/app/build.gradle
  packages/file_selector/file_selector_android/example/android/build.gradle
  packages/file_selector/file_selector_android/example/android/settings.gradle
  packages/flutter_plugin_android_lifecycle/example/android/app/build.gradle
  packages/flutter_plugin_android_lifecycle/example/android/settings.gradle
  packages/path_provider/path_provider_android/example/android/app/build.gradle
  packages/path_provider/path_provider_android/example/android/build.gradle
  packages/path_provider/path_provider_android/example/android/settings.gradle
  packages/two_dimensional_scrollables/example/android/app/build.gradle
  packages/two_dimensional_scrollables/example/android/build.gradle
  packages/two_dimensional_scrollables/example/android/settings.gradle
  packages/webview_flutter/webview_flutter/example/android/app/build.gradle
  packages/webview_flutter/webview_flutter/example/android/app/src/main/AndroidManifest.xml
  packages/webview_flutter/webview_flutter/example/android/build.gradle
  packages/webview_flutter/webview_flutter/example/android/settings.gradle
  packages/webview_flutter/webview_flutter_android/example/android/app/build.gradle
  packages/webview_flutter/webview_flutter_android/example/android/build.gradle
  packages/webview_flutter/webview_flutter_android/example/android/settings.gradle
Labels: override: no versioning needed, override: no changelog needed, p: file_selector, p: flutter_plugin_android_lifecycle, p: path_provider, platform-android, p: webview_flutter

#7651 [go_router] add current state getter
  packages/go_router/CHANGELOG.md
  packages/go_router/lib/src/delegate.dart
  packages/go_router/lib/src/router.dart
  packages/go_router/pubspec.yaml
  packages/go_router/test/go_router_test.dart
Labels: p: go_router, autosubmit

#7998 [various] Update example apps to Kotlin 1.9.0
  packages/animations/example/android/app/build.gradle
  packages/animations/example/android/build.gradle
  packages/camera/camera_android_camerax/example/android/build.gradle
  packages/file_selector/file_selector/example/android/settings.gradle
  packages/file_selector/file_selector_android/example/android/settings.gradle
  packages/flutter_adaptive_scaffold/example/android/build.gradle
  packages/flutter_image/example/android/build.gradle
  packages/flutter_markdown/example/android/app/build.gradle
  packages/flutter_markdown/example/android/build.gradle
  packages/pigeon/example/app/android/build.gradle
  packages/pigeon/platform_tests/alternate_language_test_plugin/example/android/build.gradle
  packages/pigeon/platform_tests/test_plugin/example/android/build.gradle
  packages/rfw/example/hello/android/build.gradle
  packages/rfw/example/local/android/build.gradle
  packages/rfw/example/remote/android/build.gradle
  packages/shared_preferences/shared_preferences/example/android/build.gradle
  packages/shared_preferences/shared_preferences_android/example/android/build.gradle
  packages/two_dimensional_scrollables/example/android/settings.gradle
  third_party/packages/flutter_svg/example/android/app/build.gradle
  third_party/packages/flutter_svg/example/android/build.gradle
Labels: p: pigeon, p: flutter_markdown, p: flutter_image, p: rfw, p: animations, autosubmit, p: flutter_adaptive_scaffold, p: camera, p: file_selector, platform-android, p: shared_preferences

#8018 [vector_graphics*] Relax dependency constraints of vector_graphics, vector_graphics_codec, vector_graphics_compiler, flutter_svg
  packages/vector_graphics/CHANGELOG.md
  packages/vector_graphics/pubspec.yaml
  packages/vector_graphics_codec/pubspec.yaml
  packages/vector_graphics_compiler/CHANGELOG.md
  packages/vector_graphics_compiler/pubspec.yaml
  third_party/packages/flutter_svg/CHANGELOG.md
  third_party/packages/flutter_svg/pubspec.yaml
Labels: autosubmit, override: no versioning needed, override: no changelog needed

#8021 [vector_graphics_compiler] wasm compatibility
  packages/vector_graphics_compiler/CHANGELOG.md
  packages/vector_graphics_compiler/lib/vector_graphics_compiler.dart
  packages/vector_graphics_compiler/pubspec.yaml
Labels: autosubmit

#8025 [ci] Add vector_graphics and flutter_svg to autolabeler
  .github/labeler.yml
Labels: autosubmit

#8027 Roll Flutter from 8591d0c16a6c to 29d40f7f6826 (25 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#7394 [camera_avfoundation] enable more than 30 fps
  packages/camera/camera_avfoundation/CHANGELOG.md
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraSettingsTests.m
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraTestUtils.m
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/FLTCam.m
  packages/camera/camera_avfoundation/pubspec.yaml
Labels: autosubmit, p: camera, platform-ios, platform-macos

#7796 Remove use_modular_headers! from Podfiles
  packages/file_selector/file_selector/example/ios/Podfile
  packages/file_selector/file_selector/example/macos/Podfile
  packages/file_selector/file_selector_ios/example/ios/Podfile
  packages/file_selector/file_selector_macos/example/macos/Podfile
  packages/flutter_image/example/ios/Podfile
  packages/flutter_image/example/macos/Podfile
  packages/go_router/example/ios/Podfile
  packages/go_router/example/macos/Podfile
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios14/ios/Podfile
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios15/ios/Podfile
  packages/google_sign_in/google_sign_in/example/macos/Podfile
  packages/google_sign_in/google_sign_in_ios/example/macos/Podfile
  packages/image_picker/image_picker/example/macos/Podfile
  packages/image_picker/image_picker_macos/example/macos/Podfile
  packages/in_app_purchase/in_app_purchase/example/macos/Podfile
  packages/in_app_purchase/in_app_purchase_storekit/example/macos/Podfile
  packages/interactive_media_ads/example/ios/Podfile
  packages/ios_platform_images/example/ios/Podfile
  packages/local_auth/local_auth/example/macos/Podfile
  packages/local_auth/local_auth_darwin/example/macos/Podfile
  packages/path_provider/path_provider/example/macos/Podfile
  packages/path_provider/path_provider_foundation/example/ios/Podfile
  packages/path_provider/path_provider_foundation/example/macos/Podfile
  packages/pigeon/example/app/ios/Podfile
  packages/pigeon/example/app/macos/Podfile
  packages/pigeon/platform_tests/alternate_language_test_plugin/example/macos/Podfile
  packages/pigeon/platform_tests/test_plugin/example/ios/Podfile
  packages/pigeon/platform_tests/test_plugin/example/macos/Podfile
  packages/pointer_interceptor/pointer_interceptor/example/ios/Podfile
  packages/pointer_interceptor/pointer_interceptor_ios/example/ios/Podfile
  packages/rfw/example/remote/ios/Podfile
  packages/rfw/example/remote/macos/Podfile
  packages/rfw/example/wasm/macos/Podfile
  packages/shared_preferences/shared_preferences/example/macos/Podfile
  packages/shared_preferences/shared_preferences_foundation/example/ios/Podfile
  packages/shared_preferences/shared_preferences_foundation/example/macos/Podfile
  packages/url_launcher/url_launcher/example/macos/Podfile
  packages/url_launcher/url_launcher_macos/example/macos/Podfile
  packages/video_player/video_player/example/macos/Podfile
  packages/video_player/video_player_avfoundation/example/macos/Podfile
  packages/webview_flutter/webview_flutter/example/macos/Podfile
  packages/webview_flutter/webview_flutter_wkwebview/example/macos/Podfile
  script/tool/lib/src/podspec_check_command.dart
  script/tool/test/podspec_check_command_test.dart
Labels: p: pigeon, p: pointer_interceptor, p: flutter_image, p: rfw, p: go_router, autosubmit, p: file_selector, p: google_maps_flutter, p: google_sign_in, p: image_picker, p: in_app_purchase, p: ios_platform_images, p: local_auth, p: path_provider, platform-ios, platform-macos, p: webview_flutter, p: video_player, p: url_launcher, p: shared_preferences, p: interactive_media_ads

#7430 [ci] Upload screenshots, logs, and Xcode test results for drive and integration_test runs
  script/tool/lib/src/common/core.dart
  script/tool/lib/src/common/xcode.dart
  script/tool/lib/src/drive_examples_command.dart
  script/tool/lib/src/native_test_command.dart
  script/tool/lib/src/xcode_analyze_command.dart
  script/tool/test/common/xcode_test.dart
  script/tool/test/drive_examples_command_test.dart
  script/tool/test/mocks.dart
Labels: autosubmit

#8028 Roll Flutter from 29d40f7f6826 to 73546b3b71a7 (20 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#8019 Applied Gradle Plugins Declaratively for Multiple Plugin Example Apps (Part 2)
  packages/flutter_adaptive_scaffold/example/android/app/build.gradle
  packages/flutter_adaptive_scaffold/example/android/build.gradle
  packages/flutter_adaptive_scaffold/example/android/settings.gradle
  packages/google_sign_in/google_sign_in/example/android/app/build.gradle
  packages/google_sign_in/google_sign_in/example/android/app/src/main/AndroidManifest.xml
  packages/google_sign_in/google_sign_in/example/android/build.gradle
  packages/google_sign_in/google_sign_in/example/android/settings.gradle
  packages/google_sign_in/google_sign_in_android/example/android/app/build.gradle
  packages/google_sign_in/google_sign_in_android/example/android/build.gradle
  packages/google_sign_in/google_sign_in_android/example/android/settings.gradle
  packages/interactive_media_ads/example/android/settings.gradle
  packages/palette_generator/example/android/app/build.gradle
  packages/palette_generator/example/android/build.gradle
  packages/palette_generator/example/android/settings.gradle
  packages/pigeon/platform_tests/alternate_language_test_plugin/example/android/app/build.gradle
  packages/pigeon/platform_tests/alternate_language_test_plugin/example/android/build.gradle
  packages/pigeon/platform_tests/alternate_language_test_plugin/example/android/settings.gradle
  packages/pigeon/platform_tests/test_plugin/example/android/app/build.gradle
  packages/pigeon/platform_tests/test_plugin/example/android/build.gradle
  packages/pigeon/platform_tests/test_plugin/example/android/settings.gradle
Labels: p: palette_generator, p: pigeon, override: no versioning needed, override: no changelog needed, p: flutter_adaptive_scaffold, p: google_sign_in, platform-android, p: interactive_media_ads

#8029 [google_sign_in/google_identity_services] Clear-up documentation of callbacks in various APIs and uses of those APIs
  packages/google_identity_services_web/CHANGELOG.md
  packages/google_identity_services_web/example/integration_test/js_interop_oauth_test.dart
  packages/google_identity_services_web/lib/src/js_interop/google_accounts_id.dart
  packages/google_identity_services_web/lib/src/js_interop/google_accounts_oauth2.dart
  packages/google_identity_services_web/lib/src/js_interop/load_callback.dart
  packages/google_identity_services_web/pubspec.yaml
  packages/google_sign_in/google_sign_in_web/CHANGELOG.md
  packages/google_sign_in/google_sign_in_web/lib/src/gis_client.dart
  packages/google_sign_in/google_sign_in_web/pubspec.yaml
Labels: p: google_sign_in, platform-web

#7943 [interactive_media_ads] Adds remaining methods for internal wrapper of the Android native `BaseManager`
  packages/interactive_media_ads/CHANGELOG.md
  packages/interactive_media_ads/android/src/main/kotlin/dev/flutter/packages/interactive_media_ads/AdsRequestProxyApi.kt
  packages/interactive_media_ads/android/src/main/kotlin/dev/flutter/packages/interactive_media_ads/BaseManagerProxyApi.kt
  packages/interactive_media_ads/android/src/main/kotlin/dev/flutter/packages/interactive_media_ads/InteractiveMediaAdsLibrary.g.kt
  packages/interactive_media_ads/android/src/test/kotlin/dev/flutter/packages/interactive_media_ads/BaseManagerProxyApiTest.kt
  packages/interactive_media_ads/ios/interactive_media_ads/Sources/interactive_media_ads/AdsRequestProxyAPIDelegate.swift
  packages/interactive_media_ads/lib/src/android/android_ads_manager.dart
  packages/interactive_media_ads/lib/src/android/interactive_media_ads.g.dart
  packages/interactive_media_ads/pigeons/interactive_media_ads_android.dart
  packages/interactive_media_ads/pubspec.yaml
  packages/interactive_media_ads/test/android/ads_loader_test.mocks.dart
  packages/interactive_media_ads/test/android/ads_manager_test.dart
  packages/interactive_media_ads/test/android/ads_manager_test.mocks.dart
Labels: autosubmit, platform-android, platform-ios, p: interactive_media_ads

#7964 [in_app_purchase_storekit] Add restore purchases and receipts
  packages/in_app_purchase/in_app_purchase_storekit/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_storekit/darwin/Classes/StoreKit2/InAppPurchasePlugin+StoreKit2.swift
  packages/in_app_purchase/in_app_purchase_storekit/darwin/Classes/StoreKit2/StoreKit2Translators.swift
  packages/in_app_purchase/in_app_purchase_storekit/darwin/Classes/StoreKit2/sk2_pigeon.g.swift
  packages/in_app_purchase/in_app_purchase_storekit/example/shared/RunnerTests/InAppPurchaseStoreKit2PluginTests.swift
  packages/in_app_purchase/in_app_purchase_storekit/lib/src/in_app_purchase_storekit_platform.dart
  packages/in_app_purchase/in_app_purchase_storekit/lib/src/sk2_pigeon.g.dart
  packages/in_app_purchase/in_app_purchase_storekit/lib/src/store_kit_2_wrappers/sk2_transaction_wrapper.dart
  packages/in_app_purchase/in_app_purchase_storekit/pigeons/sk2_pigeon.dart
  packages/in_app_purchase/in_app_purchase_storekit/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_storekit/test/fakes/fake_storekit_platform.dart
  packages/in_app_purchase/in_app_purchase_storekit/test/in_app_purchase_storekit_2_platform_test.dart
  packages/in_app_purchase/in_app_purchase_storekit/test/sk2_test_api.g.dart
Labels: autosubmit, p: in_app_purchase, platform-ios, platform-macos

#7546 [go_router] Activate leak testing
  packages/go_router/pubspec.yaml
  packages/go_router/test/extra_codec_test.dart
  packages/go_router/test/flutter_test_config.dart
  packages/go_router/test/go_router_test.dart
  packages/go_router/test/information_provider_test.dart
  script/configs/allowed_unpinned_deps.yaml
Labels: p: go_router, autosubmit, override: no versioning needed, override: no changelog needed

#8006 [vector_graphics_compiler] fix-null-exception
  packages/vector_graphics_compiler/CHANGELOG.md
  packages/vector_graphics_compiler/lib/src/svg/parser.dart
  packages/vector_graphics_compiler/pubspec.yaml
  packages/vector_graphics_compiler/test/parser_test.dart
Labels: autosubmit, p: vector_graphics

#8044 Group dependabot github-action update PRs, delete dead docker updates
  .github/dependabot.yml
Labels: autosubmit

#8036 Use dependabot multi-directory configuration for Android example gradle updates
  .github/dependabot.yml
  script/tool/lib/src/dependabot_check_command.dart
  script/tool/test/dependabot_check_command_test.dart
Labels: autosubmit

#8049 [shared_preferences] Fix confusing language in README
  packages/shared_preferences/shared_preferences/CHANGELOG.md
  packages/shared_preferences/shared_preferences/README.md
  packages/shared_preferences/shared_preferences/lib/src/shared_preferences_legacy.dart
  packages/shared_preferences/shared_preferences/pubspec.yaml
Labels: p: shared_preferences

#8051 [file_selector] Fix Linux cancel regression
  packages/file_selector/file_selector_linux/CHANGELOG.md
  packages/file_selector/file_selector_linux/linux/file_selector_plugin.cc
  packages/file_selector/file_selector_linux/linux/file_selector_plugin_private.h
  packages/file_selector/file_selector_linux/linux/test/file_selector_plugin_test.cc
  packages/file_selector/file_selector_linux/pubspec.yaml
Labels: autosubmit, p: file_selector, platform-linux

#8042 Roll Flutter from 73546b3b71a7 to c8510f29ccc2 (30 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#8040 [pigeon] Make Linux type declarations public
  packages/pigeon/CHANGELOG.md
  packages/pigeon/example/app/linux/messages.g.cc
  packages/pigeon/example/app/linux/messages.g.h
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/lib/gobject_generator.dart
  packages/pigeon/platform_tests/test_plugin/linux/pigeon/core_tests.gen.cc
  packages/pigeon/platform_tests/test_plugin/linux/pigeon/core_tests.gen.h
  packages/pigeon/pubspec.yaml
  packages/pigeon/test/gobject_generator_test.dart
Labels: p: pigeon, autosubmit, platform-linux

#6467 [go_router] Add support for preloading branches of StatefulShellRoute (revised solution)
  packages/go_router/CHANGELOG.md
  packages/go_router/doc/configuration.md
  packages/go_router/example/lib/others/custom_stateful_shell_route.dart
  packages/go_router/example/lib/stateful_shell_route.dart
  packages/go_router/lib/src/builder.dart
  packages/go_router/lib/src/route.dart
  packages/go_router/pubspec.yaml
  packages/go_router/test/go_router_test.dart
  packages/go_router/test/routing_config_test.dart
Labels: p: go_router, autosubmit

#8065 [url_launcher] Update Pigeon version for Linux
  packages/url_launcher/url_launcher_linux/CHANGELOG.md
  packages/url_launcher/url_launcher_linux/lib/src/messages.g.dart
  packages/url_launcher/url_launcher_linux/linux/messages.g.cc
  packages/url_launcher/url_launcher_linux/linux/messages.g.h
  packages/url_launcher/url_launcher_linux/pubspec.yaml
  packages/url_launcher/url_launcher_linux/test/url_launcher_linux_test.dart
Labels: autosubmit, platform-linux, p: url_launcher

#8055 [ci] Remove web renderer option from tools.
  script/tool/lib/src/dart_test_command.dart
  script/tool/lib/src/drive_examples_command.dart
  script/tool/test/dart_test_command_test.dart
  script/tool/test/drive_examples_command_test.dart
Labels: autosubmit

#8032 [various] Clean up contributing guides
  packages/camera/camera_android_camerax/CONTRIBUTING.md
  packages/in_app_purchase/in_app_purchase_android/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_android/README.md
  packages/in_app_purchase/in_app_purchase_android/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_storekit/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_storekit/README.md
  packages/in_app_purchase/in_app_purchase_storekit/pubspec.yaml
  packages/interactive_media_ads/CONTRIBUTING.md
  packages/video_player/video_player_android/CONTRIBUTING.md
  packages/video_player/video_player_avfoundation/CONTRIBUTING.md
  packages/webview_flutter/webview_flutter_android/CHANGELOG.md
  packages/webview_flutter/webview_flutter_android/README.md
  packages/webview_flutter/webview_flutter_android/pubspec.yaml
  packages/webview_flutter/webview_flutter_web/CHANGELOG.md
  packages/webview_flutter/webview_flutter_web/CONTRIBUTING.md
  packages/webview_flutter/webview_flutter_web/README.md
  packages/webview_flutter/webview_flutter_web/pubspec.yaml
  packages/webview_flutter/webview_flutter_wkwebview/CHANGELOG.md
  packages/webview_flutter/webview_flutter_wkwebview/README.md
  packages/webview_flutter/webview_flutter_wkwebview/pubspec.yaml
Labels: autosubmit, p: camera, p: in_app_purchase, platform-android, platform-ios, platform-macos, platform-web, p: webview_flutter, p: video_player, p: interactive_media_ads

#8030 [in_app_purchase] Add expiration date to Transaction
  packages/in_app_purchase/in_app_purchase_storekit/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_storekit/darwin/Classes/StoreKit2/StoreKit2Translators.swift
  packages/in_app_purchase/in_app_purchase_storekit/darwin/Classes/StoreKit2/sk2_pigeon.g.swift
  packages/in_app_purchase/in_app_purchase_storekit/lib/src/sk2_pigeon.g.dart
  packages/in_app_purchase/in_app_purchase_storekit/lib/src/store_kit_2_wrappers/sk2_transaction_wrapper.dart
  packages/in_app_purchase/in_app_purchase_storekit/pigeons/sk2_pigeon.dart
  packages/in_app_purchase/in_app_purchase_storekit/pubspec.yaml
Labels: autosubmit, p: in_app_purchase, platform-ios, platform-macos

#8070 [vector_graphics_compiler] fix a renamed method parameter lint
  packages/vector_graphics_compiler/lib/src/svg/resolver.dart
  packages/vector_graphics_compiler/lib/src/svg/visitor.dart
Labels: override: no versioning needed, override: no changelog needed, p: vector_graphics

#6825 [go_router] Add support for relative routes
  packages/go_router/CHANGELOG.md
  packages/go_router/example/lib/go_relative.dart
  packages/go_router/example/test/go_relative_test.dart
  packages/go_router/lib/src/information_provider.dart
  packages/go_router/lib/src/path_utils.dart
  packages/go_router/pubspec.yaml
  packages/go_router/test/go_router_test.dart
  packages/go_router/test/path_utils_test.dart
Labels: p: go_router

#7447 [camera_windows] Set device media type for video preview explicitly
  packages/camera/camera_windows/CHANGELOG.md
  packages/camera/camera_windows/pubspec.yaml
  packages/camera/camera_windows/windows/capture_controller.cpp
  packages/camera/camera_windows/windows/capture_controller.h
  packages/camera/camera_windows/windows/test/capture_controller_test.cpp
Labels: autosubmit, p: camera, platform-windows

#8076 Roll Flutter from c8510f29ccc2 to ed553d10cf63 (48 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#7914 [in_app_purchase_storekit] Remove unneeded platform annotations
  packages/in_app_purchase/in_app_purchase_storekit/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_storekit/darwin/Classes/Protocols/FLTPaymentQueueProtocol.h
  packages/in_app_purchase/in_app_purchase_storekit/darwin/Classes/Protocols/FLTPaymentQueueProtocol.m
  packages/in_app_purchase/in_app_purchase_storekit/example/shared/RunnerTests/Stubs.h
  packages/in_app_purchase/in_app_purchase_storekit/pubspec.yaml
Labels: autosubmit, p: in_app_purchase, platform-ios, platform-macos

#8071 [in_app_purchase_storekit] Fixes manual invocation of `finishTransaction()` triggering fatal crash
  packages/in_app_purchase/in_app_purchase_storekit/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_storekit/darwin/Classes/InAppPurchasePlugin.swift
  packages/in_app_purchase/in_app_purchase_storekit/example/shared/RunnerTests/InAppPurchasePluginTests.swift
  packages/in_app_purchase/in_app_purchase_storekit/pubspec.yaml
Labels: autosubmit, p: in_app_purchase, platform-ios, platform-macos

#8084 Roll Flutter (stable) from 603104015dd6 to dec2ee5c1f98 (4 revisions)
  .ci/flutter_stable.version
Labels: autosubmit

#8069 [google_identity_services_web] Set nonce properly in loadWebSdk().
  packages/google_identity_services_web/CHANGELOG.md
  packages/google_identity_services_web/lib/src/js_interop/package_web_tweaks.dart
  packages/google_identity_services_web/lib/src/js_loader.dart
  packages/google_identity_services_web/pubspec.yaml
  packages/google_identity_services_web/test/js_loader_test.dart
Labels: autosubmit

#8056 Ignore dependabot minor and patch updates of Kotlin mocking library
  .github/dependabot.yml
Labels: autosubmit

#8099 Remove packages/platform from dependabot config
  .github/dependabot.yml
Labels: warning: land on red to fix tree breakage

#8106 Roll Flutter from ed553d10cf63 to 0e2d55e0e7b2 (40 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#8102 [google_maps_flutter] Fix detection of WebAssembly compatibility
  packages/google_maps_flutter/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter/lib/google_maps_flutter.dart
  packages/google_maps_flutter/google_maps_flutter/lib/src/google_map.dart
  packages/google_maps_flutter/google_maps_flutter/pubspec.yaml
Labels: autosubmit, p: google_maps_flutter

#8103 [web_benchmarks] Remove `WebRenderer` enum.
  packages/web_benchmarks/CHANGELOG.md
  packages/web_benchmarks/lib/src/compilation_options.dart
  packages/web_benchmarks/lib/src/runner.dart
  packages/web_benchmarks/pubspec.yaml
Labels: p: web_benchmarks, autosubmit

#8053 [google_identity_services_web] Migrate all types to JSObject
  packages/google_identity_services_web/CHANGELOG.md
  packages/google_identity_services_web/example/integration_test/js_interop_id_test.dart
  packages/google_identity_services_web/example/integration_test/js_interop_oauth_test.dart
  packages/google_identity_services_web/example/integration_test/utils.dart
  packages/google_identity_services_web/lib/src/js_interop/google_accounts_id.dart
  packages/google_identity_services_web/lib/src/js_interop/google_accounts_oauth2.dart
  packages/google_identity_services_web/lib/src/js_interop/load_callback.dart
  packages/google_identity_services_web/pubspec.yaml
Labels: p: google_identity_services_web

#8118 Roll Flutter from 0e2d55e0e7b2 to b3818f6b5979 (23 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#8101 Add autosubmit label to dependabot PRs
  .github/dependabot.yml
Labels: autosubmit

#8050 [ci] Take screenshot when native drive test is taking longer than 10 minutes
  script/tool/lib/src/drive_examples_command.dart
  script/tool/pubspec.yaml
  script/tool/test/drive_examples_command_test.dart
Labels: autosubmit

#8057 [interactive_media_ads] Adds support to define parameters that control the rendering of ads
  packages/interactive_media_ads/CHANGELOG.md
  packages/interactive_media_ads/README.md
  packages/interactive_media_ads/android/src/main/kotlin/dev/flutter/packages/interactive_media_ads/AdsRequestProxyApi.kt
  packages/interactive_media_ads/android/src/main/kotlin/dev/flutter/packages/interactive_media_ads/ImaSdkFactoryProxyApi.kt
  packages/interactive_media_ads/android/src/main/kotlin/dev/flutter/packages/interactive_media_ads/InteractiveMediaAdsLibrary.g.kt
  packages/interactive_media_ads/android/src/test/kotlin/dev/flutter/packages/interactive_media_ads/ImaSdkFactoryProxyApiTest.kt
  packages/interactive_media_ads/example/lib/main.dart
  packages/interactive_media_ads/ios/interactive_media_ads/Sources/interactive_media_ads/AdsRequestProxyAPIDelegate.swift
  packages/interactive_media_ads/lib/interactive_media_ads.dart
  packages/interactive_media_ads/lib/src/ads_loader.dart
  packages/interactive_media_ads/lib/src/ads_rendering_settings.dart
  packages/interactive_media_ads/lib/src/android/android_ads_manager.dart
  packages/interactive_media_ads/lib/src/android/android_ads_rendering_settings.dart
  packages/interactive_media_ads/lib/src/android/android_interactive_media_ads.dart
  packages/interactive_media_ads/lib/src/android/interactive_media_ads.g.dart
  packages/interactive_media_ads/lib/src/ios/ios_ads_manager.dart
  packages/interactive_media_ads/lib/src/ios/ios_ads_rendering_settings.dart
  packages/interactive_media_ads/lib/src/ios/ios_interactive_media_ads.dart
  packages/interactive_media_ads/lib/src/platform_interface/ad_ui_element.dart
  packages/interactive_media_ads/lib/src/platform_interface/interactive_media_ads_platform.dart
  packages/interactive_media_ads/lib/src/platform_interface/platform_ads_manager.dart
  packages/interactive_media_ads/lib/src/platform_interface/platform_ads_rendering_settings.dart
  packages/interactive_media_ads/lib/src/platform_interface/platform_interface.dart
  packages/interactive_media_ads/pigeons/interactive_media_ads_android.dart
  packages/interactive_media_ads/pubspec.yaml
  packages/interactive_media_ads/test/ads_manager_test.dart
  packages/interactive_media_ads/test/android/ads_loader_test.mocks.dart
  packages/interactive_media_ads/test/android/ads_manager_test.dart
  packages/interactive_media_ads/test/android/ads_manager_test.mocks.dart
  packages/interactive_media_ads/test/ios/ads_manager_test.dart
  packages/interactive_media_ads/test/ios/ads_manager_test.mocks.dart
  packages/interactive_media_ads/test/test_stubs.dart
Labels: autosubmit, platform-android, platform-ios, p: interactive_media_ads

#8110 [in_app_purchase_storekit] disallow ios versions lower than supported from enabling storekit
  packages/in_app_purchase/in_app_purchase_storekit/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_storekit/darwin/Classes/InAppPurchasePlugin.swift
  packages/in_app_purchase/in_app_purchase_storekit/darwin/Classes/messages.g.h
  packages/in_app_purchase/in_app_purchase_storekit/darwin/Classes/messages.g.m
  packages/in_app_purchase/in_app_purchase_storekit/example/lib/main.dart
  packages/in_app_purchase/in_app_purchase_storekit/lib/src/in_app_purchase_storekit_platform.dart
  packages/in_app_purchase/in_app_purchase_storekit/lib/src/messages.g.dart
  packages/in_app_purchase/in_app_purchase_storekit/lib/src/store_kit_wrappers/sk_request_maker.dart
  packages/in_app_purchase/in_app_purchase_storekit/pigeons/messages.dart
  packages/in_app_purchase/in_app_purchase_storekit/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_storekit/test/fakes/fake_storekit_platform.dart
  packages/in_app_purchase/in_app_purchase_storekit/test/in_app_purchase_storekit_2_platform_test.dart
  packages/in_app_purchase/in_app_purchase_storekit/test/store_kit_wrappers/sk_methodchannel_apis_test.dart
  packages/in_app_purchase/in_app_purchase_storekit/test/test_api.g.dart
Labels: autosubmit, p: in_app_purchase, platform-ios, platform-macos

#8119 [pigeon] Enable example app build in CI
  packages/pigeon/example/README.md
  packages/pigeon/example/app/android/app/src/main/kotlin/dev/flutter/pigeon_example_app/MainActivity.kt
  packages/pigeon/example/app/ios/Runner/AppDelegate.swift
  packages/pigeon/example/app/macos/Runner/MainFlutterWindow.swift
  packages/pigeon/example/app/windows/runner/flutter_window.cpp
  packages/pigeon/example/pubspec.yaml
Labels: p: pigeon, autosubmit, override: no changelog needed, platform-android, platform-ios, platform-macos, platform-windows

#8120 [flutter_markdown] enable Wasm support
  packages/flutter_markdown/CHANGELOG.md
  packages/flutter_markdown/lib/src/widget.dart
  packages/flutter_markdown/pubspec.yaml
Labels: p: flutter_markdown, autosubmit

#7194 [video_player_avfoundation] send video load failure even when eventsink was initialized late
  packages/video_player/video_player_avfoundation/CHANGELOG.md
  packages/video_player/video_player_avfoundation/darwin/RunnerTests/VideoPlayerTests.m
  packages/video_player/video_player_avfoundation/darwin/video_player_avfoundation/Sources/video_player_avfoundation/FVPVideoPlayerPlugin.m
  packages/video_player/video_player_avfoundation/pubspec.yaml
Labels: autosubmit, platform-ios, platform-macos, p: video_player, triage-ios

#8126 [flutter_svg] Fix SvgNetworkLoader not closing internal http client
  third_party/packages/flutter_svg/CHANGELOG.md
  third_party/packages/flutter_svg/lib/src/loaders.dart
  third_party/packages/flutter_svg/pubspec.yaml
  third_party/packages/flutter_svg/test/loaders_test.dart
Labels: autosubmit, p: flutter_svg

#8142 [google_maps_flutter] Use structured Pigeon data on iOS
  packages/google_maps_flutter/google_maps_flutter_android/test/google_maps_flutter_android_test.dart
  packages/google_maps_flutter/google_maps_flutter_ios/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios14/ios/RunnerTests/ExtractIconFromDataTests.m
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios14/ios/RunnerTests/FGMClusterManagersControllerTests.m
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios14/ios/RunnerTests/FLTGoogleMapJSONConversionsConversionTests.m
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios14/ios/RunnerTests/GoogleMapsPolylinesControllerTests.m
  packages/google_maps_flutter/google_maps_flutter_ios/ios/Classes/FLTGoogleMapJSONConversions.h
  packages/google_maps_flutter/google_maps_flutter_ios/ios/Classes/FLTGoogleMapJSONConversions.m
  packages/google_maps_flutter/google_maps_flutter_ios/ios/Classes/FLTGoogleMapTileOverlayController.h
  packages/google_maps_flutter/google_maps_flutter_ios/ios/Classes/FLTGoogleMapTileOverlayController.m
  packages/google_maps_flutter/google_maps_flutter_ios/ios/Classes/GoogleMapCircleController.h
  packages/google_maps_flutter/google_maps_flutter_ios/ios/Classes/GoogleMapCircleController.m
  packages/google_maps_flutter/google_maps_flutter_ios/ios/Classes/GoogleMapController.m
  packages/google_maps_flutter/google_maps_flutter_ios/ios/Classes/GoogleMapMarkerController.m
  packages/google_maps_flutter/google_maps_flutter_ios/ios/Classes/GoogleMapMarkerController_Test.h
  packages/google_maps_flutter/google_maps_flutter_ios/ios/Classes/GoogleMapPolygonController.m
  packages/google_maps_flutter/google_maps_flutter_ios/ios/Classes/GoogleMapPolylineController.m
  packages/google_maps_flutter/google_maps_flutter_ios/ios/Classes/GoogleMapPolylineController_Test.h
  packages/google_maps_flutter/google_maps_flutter_ios/ios/Classes/messages.g.h
  packages/google_maps_flutter/google_maps_flutter_ios/ios/Classes/messages.g.m
  packages/google_maps_flutter/google_maps_flutter_ios/lib/src/google_maps_flutter_ios.dart
  packages/google_maps_flutter/google_maps_flutter_ios/lib/src/messages.g.dart
  packages/google_maps_flutter/google_maps_flutter_ios/pigeons/messages.dart
  packages/google_maps_flutter/google_maps_flutter_ios/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_ios/test/google_maps_flutter_ios_test.dart
Labels: autosubmit, p: google_maps_flutter, platform-android, platform-ios

#8125 [pigeon] Removes the `@protected` annotation from the InstanceManager field of the `PigeonInternalProxyApiBaseClass`
  packages/pigeon/CHANGELOG.md
  packages/pigeon/lib/dart/templates.dart
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/proxy_api_tests.gen.dart
  packages/pigeon/pubspec.yaml
  packages/pigeon/test/dart/proxy_api_test.dart
Labels: p: pigeon, autosubmit

#8045 [go_router] Fix: Consistent PopScope Handling on Root Routes issue #140869
  packages/go_router/CHANGELOG.md
  packages/go_router/lib/src/delegate.dart
  packages/go_router/pubspec.yaml
  packages/go_router/test/delegate_test.dart
Labels: p: go_router, autosubmit

#8147 Roll Flutter from 8536b96ebb3e to 93d772c5cdd8 (37 revisions)
  .ci/flutter_master.version
  packages/webview_flutter/webview_flutter/example/android/settings.gradle
Labels: autosubmit, platform-android, p: webview_flutter

#8137 [tools] Don't check license of generated Swift package
  script/tool/lib/src/license_check_command.dart
  script/tool/test/license_check_command_test.dart
Labels: autosubmit

#8112 [quick_actions_plaform_interface] add localizedSubtitle
  packages/quick_actions/quick_actions_platform_interface/CHANGELOG.md
  packages/quick_actions/quick_actions_platform_interface/lib/method_channel/method_channel_quick_actions.dart
  packages/quick_actions/quick_actions_platform_interface/lib/types/shortcut_item.dart
  packages/quick_actions/quick_actions_platform_interface/pubspec.yaml
  packages/quick_actions/quick_actions_platform_interface/test/method_channel_quick_actions_test.dart
Labels: autosubmit, p: quick_actions

#8078 [webview_flutter_wkwebview] Webkit webview controller multiple registration fix
  packages/webview_flutter/webview_flutter_wkwebview/CHANGELOG.md
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/webkit_webview_controller.dart
  packages/webview_flutter/webview_flutter_wkwebview/pubspec.yaml
  packages/webview_flutter/webview_flutter_wkwebview/test/webkit_webview_controller_test.dart
Labels: autosubmit, platform-ios, p: webview_flutter

#8152 Roll Flutter from 93d772c5cdd8 to 793569f621f7 (5 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#8131 [interactive_media_ads] Adds internal wrapper for Android native `CompanionAdSlot` and `CompanionAdSlot.ClickListener`
  packages/interactive_media_ads/CHANGELOG.md
  packages/interactive_media_ads/android/src/main/kotlin/dev/flutter/packages/interactive_media_ads/AdsRequestProxyApi.kt
  packages/interactive_media_ads/android/src/main/kotlin/dev/flutter/packages/interactive_media_ads/CompanionAdSlotClickListenerProxyApi.kt
  packages/interactive_media_ads/android/src/main/kotlin/dev/flutter/packages/interactive_media_ads/CompanionAdSlotProxyApi.kt
  packages/interactive_media_ads/android/src/main/kotlin/dev/flutter/packages/interactive_media_ads/InteractiveMediaAdsLibrary.g.kt
  packages/interactive_media_ads/android/src/main/kotlin/dev/flutter/packages/interactive_media_ads/ProxyApiRegistrar.kt
  packages/interactive_media_ads/android/src/test/kotlin/dev/flutter/packages/interactive_media_ads/CompanionAdSlotClickListenerProxyApiTest.kt
  packages/interactive_media_ads/android/src/test/kotlin/dev/flutter/packages/interactive_media_ads/CompanionAdSlotProxyApiTest.kt
  packages/interactive_media_ads/ios/interactive_media_ads/Sources/interactive_media_ads/AdsRequestProxyAPIDelegate.swift
  packages/interactive_media_ads/lib/src/android/interactive_media_ads.g.dart
  packages/interactive_media_ads/pigeons/interactive_media_ads_android.dart
  packages/interactive_media_ads/pubspec.yaml
Labels: autosubmit, platform-android, platform-ios, p: interactive_media_ads

#8135 Update avd_cipd_version
  .ci.yaml
Labels: autosubmit

#8004 [vector_graphics_compiler] fix: handle parsing stroke-width with an invalid value
  packages/vector_graphics_compiler/CHANGELOG.md
  packages/vector_graphics_compiler/lib/src/svg/parser.dart
  packages/vector_graphics_compiler/pubspec.yaml
  packages/vector_graphics_compiler/test/parser_test.dart
Labels: autosubmit, p: vector_graphics

#8156 [various] Update example apps' .gitignore
  packages/flutter_image/example/.gitignore
  packages/local_auth/local_auth_darwin/example/.gitignore
  packages/pigeon/example/app/.gitignore
  packages/pointer_interceptor/pointer_interceptor_ios/example/.gitignore
  packages/shared_preferences/shared_preferences_foundation/example/.gitignore
  packages/two_dimensional_scrollables/example/.gitignore
Labels: p: pigeon, p: pointer_interceptor, p: flutter_image, autosubmit, override: no changelog needed, p: local_auth, platform-ios, platform-macos, p: shared_preferences

#8155 [various] Migrate example apps' AppDelegate.swift
  packages/animations/example/ios/Runner/AppDelegate.swift
  packages/file_selector/file_selector/example/ios/Runner/AppDelegate.swift
  packages/file_selector/file_selector/example/macos/Runner/AppDelegate.swift
  packages/file_selector/file_selector_macos/example/macos/Runner/AppDelegate.swift
  packages/flutter_adaptive_scaffold/example/ios/Runner/AppDelegate.swift
  packages/flutter_adaptive_scaffold/example/macos/Runner/AppDelegate.swift
  packages/flutter_image/example/ios/Runner/AppDelegate.swift
  packages/flutter_image/example/macos/Runner/AppDelegate.swift
  packages/flutter_markdown/example/ios/Runner/AppDelegate.swift
  packages/flutter_markdown/example/macos/Runner/AppDelegate.swift
  packages/go_router/example/ios/Runner/AppDelegate.swift
  packages/go_router/example/macos/Runner/AppDelegate.swift
  packages/google_sign_in/google_sign_in/example/macos/Runner/AppDelegate.swift
  packages/google_sign_in/google_sign_in_ios/example/macos/Runner/AppDelegate.swift
  packages/image_picker/image_picker/example/macos/Runner/AppDelegate.swift
  packages/image_picker/image_picker_macos/example/macos/Runner/AppDelegate.swift
  packages/in_app_purchase/in_app_purchase/example/macos/Runner/AppDelegate.swift
  packages/in_app_purchase/in_app_purchase_storekit/example/macos/Runner/AppDelegate.swift
  packages/local_auth/local_auth/example/macos/Runner/AppDelegate.swift
  packages/local_auth/local_auth_darwin/example/macos/Runner/AppDelegate.swift
  packages/palette_generator/example/ios/Runner/AppDelegate.swift
  packages/palette_generator/example/macos/Runner/AppDelegate.swift
  packages/path_provider/path_provider/example/macos/Runner/AppDelegate.swift
  packages/path_provider/path_provider_foundation/example/ios/Runner/AppDelegate.swift
  packages/path_provider/path_provider_foundation/example/macos/Runner/AppDelegate.swift
  packages/pigeon/example/app/macos/Runner/AppDelegate.swift
  packages/pointer_interceptor/pointer_interceptor/example/ios/Runner/AppDelegate.swift
  packages/pointer_interceptor/pointer_interceptor_ios/example/ios/Runner/AppDelegate.swift
  packages/rfw/example/hello/ios/Runner/AppDelegate.swift
  packages/rfw/example/hello/macos/Runner/AppDelegate.swift
  packages/rfw/example/local/ios/Runner/AppDelegate.swift
  packages/rfw/example/local/macos/Runner/AppDelegate.swift
  packages/rfw/example/remote/ios/Runner/AppDelegate.swift
  packages/rfw/example/remote/macos/Runner/AppDelegate.swift
  packages/rfw/example/wasm/macos/Runner/AppDelegate.swift
  packages/shared_preferences/shared_preferences/example/ios/Runner/AppDelegate.swift
  packages/shared_preferences/shared_preferences/example/macos/Runner/AppDelegate.swift
  packages/shared_preferences/shared_preferences_foundation/example/macos/Runner/AppDelegate.swift
  packages/two_dimensional_scrollables/example/ios/Runner/AppDelegate.swift
  packages/two_dimensional_scrollables/example/macos/Runner/AppDelegate.swift
  packages/url_launcher/url_launcher_macos/example/macos/Runner/AppDelegate.swift
  packages/video_player/video_player/example/macos/Runner/AppDelegate.swift
  packages/video_player/video_player_avfoundation/example/macos/Runner/AppDelegate.swift
  packages/webview_flutter/webview_flutter/example/macos/Runner/AppDelegate.swift
  packages/webview_flutter/webview_flutter_wkwebview/example/macos/Runner/AppDelegate.swift
  third_party/packages/flutter_svg/example/ios/Runner/AppDelegate.swift
  third_party/packages/flutter_svg/example/macos/Runner/AppDelegate.swift
Labels: p: palette_generator, p: pigeon, p: pointer_interceptor, p: flutter_markdown, p: flutter_image, p: rfw, p: go_router, p: animations, autosubmit, override: no versioning needed, override: no changelog needed, p: flutter_adaptive_scaffold, p: file_selector, p: google_sign_in, p: image_picker, p: in_app_purchase, p: local_auth, p: path_provider, platform-ios, platform-macos, p: webview_flutter, p: video_player, p: url_launcher, p: shared_preferences, p: flutter_svg

#8172 [file_selector] Update Pigeon version for Linux
  packages/file_selector/file_selector_linux/CHANGELOG.md
  packages/file_selector/file_selector_linux/lib/src/messages.g.dart
  packages/file_selector/file_selector_linux/linux/messages.g.cc
  packages/file_selector/file_selector_linux/linux/messages.g.h
  packages/file_selector/file_selector_linux/pubspec.yaml
Labels: autosubmit, p: file_selector, platform-linux

#8186 [ci][webview_flutter_android] Manual Roll and skip tests
  .ci/flutter_master.version
  packages/webview_flutter/webview_flutter_android/example/integration_test/webview_flutter_test.dart
Labels: autosubmit, platform-android, p: webview_flutter

#8058 [flutter_markdown] fix invalid URI's causing unhandled image errors
  packages/flutter_markdown/CHANGELOG.md
  packages/flutter_markdown/lib/src/_functions_io.dart
  packages/flutter_markdown/lib/src/_functions_web.dart
  packages/flutter_markdown/lib/src/builder.dart
  packages/flutter_markdown/pubspec.yaml
  packages/flutter_markdown/test/image_test.dart
Labels: p: flutter_markdown, autosubmit

#8181 [flutter_svg] Adopt code excerpts
  script/configs/temp_exclude_excerpt.yaml
  third_party/packages/flutter_svg/CHANGELOG.md
  third_party/packages/flutter_svg/README.md
  third_party/packages/flutter_svg/example/lib/readme_excerpts.dart
  third_party/packages/flutter_svg/example/pubspec.yaml
  third_party/packages/flutter_svg/example/test/readme_excerpts_test.dart
  third_party/packages/flutter_svg/pubspec.yaml
  third_party/packages/flutter_svg_test/CHANGELOG.md
  third_party/packages/flutter_svg_test/README.md
  third_party/packages/flutter_svg_test/pubspec.yaml
  third_party/packages/flutter_svg_test/test/flutter_svg_test_test.dart
Labels: autosubmit, p: flutter_svg

#8184 [file_selector_android] Refactor interactions with `ContentProvider` provided filenames
  packages/file_selector/file_selector_android/CHANGELOG.md
  packages/file_selector/file_selector_android/android/src/main/java/dev/flutter/packages/file_selector_android/FileSelectorApiImpl.java
  packages/file_selector/file_selector_android/android/src/main/java/dev/flutter/packages/file_selector_android/FileUtils.java
  packages/file_selector/file_selector_android/android/src/main/java/dev/flutter/packages/file_selector_android/GeneratedFileSelectorApi.java
  packages/file_selector/file_selector_android/android/src/test/java/dev/flutter/packages/file_selector_android/FileSelectorAndroidPluginTest.java
  packages/file_selector/file_selector_android/android/src/test/java/dev/flutter/packages/file_selector_android/FileUtilsTest.java
  packages/file_selector/file_selector_android/lib/file_selector_android.dart
  packages/file_selector/file_selector_android/lib/src/file_selector_android.dart
  packages/file_selector/file_selector_android/lib/src/file_selector_api.g.dart
  packages/file_selector/file_selector_android/lib/src/types/native_illegal_argument_exception.dart
  packages/file_selector/file_selector_android/pigeons/file_selector_api.dart
  packages/file_selector/file_selector_android/pubspec.yaml
Labels: autosubmit, p: file_selector, platform-android

#8188 [image_picker_android] Refactor interactions with ContentProvider provided filenames
  packages/image_picker/image_picker_android/CHANGELOG.md
  packages/image_picker/image_picker_android/android/src/main/java/io/flutter/plugins/imagepicker/FileUtils.java
  packages/image_picker/image_picker_android/android/src/main/java/io/flutter/plugins/imagepicker/Messages.java
  packages/image_picker/image_picker_android/android/src/test/java/io/flutter/plugins/imagepicker/FileUtilTest.java
  packages/image_picker/image_picker_android/lib/src/messages.g.dart
  packages/image_picker/image_picker_android/pubspec.yaml
  packages/image_picker/image_picker_android/test/test_api.g.dart
Labels: autosubmit, p: image_picker, platform-android
