Repository flutter/packages, pull requests merged in 2024-12, with the labels that each got.

#8187 [shared_preferences] Limit Android decoding
  packages/shared_preferences/shared_preferences_android/CHANGELOG.md
  packages/shared_preferences/shared_preferences_android/android/src/main/java/io/flutter/plugins/sharedpreferences/LegacySharedPreferencesPlugin.java
  packages/shared_preferences/shared_preferences_android/android/src/main/kotlin/io/flutter/plugins/sharedpreferences/SharedPreferencesPlugin.kt
  packages/shared_preferences/shared_preferences_android/android/src/main/kotlin/io/flutter/plugins/sharedpreferences/StringListObjectInputStream.kt
  packages/shared_preferences/shared_preferences_android/android/src/test/kotlin/io/flutter/plugins/sharedpreferences/SharedPreferencesTest.kt
  packages/shared_preferences/shared_preferences_android/pubspec.yaml
Labels: autosubmit, platform-android, p: shared_preferences

#8213 Roll Flutter from 08e26a3ffcd7 to e64ee5de7cdd (20 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#8215 [various] Replaces deprecated `whereNotNull()`
  packages/go_router/CHANGELOG.md
  packages/go_router/lib/src/route.dart
  packages/go_router/pubspec.yaml
  packages/pigeon/CHANGELOG.md
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/lib/swift_generator.dart
  packages/pigeon/pubspec.yaml
Labels: p: pigeon, p: go_router, autosubmit

#8217 [local_auth] Add compatibility with intl 0.20
  packages/local_auth/local_auth_android/CHANGELOG.md
  packages/local_auth/local_auth_android/pubspec.yaml
  packages/local_auth/local_auth_darwin/CHANGELOG.md
  packages/local_auth/local_auth_darwin/pubspec.yaml
Labels: autosubmit, p: local_auth, platform-android, platform-ios, platform-macos

#8201 [pigeon] Fixes channel names of the named constructors of ProxyApis.
  packages/pigeon/CHANGELOG.md
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/lib/swift_generator.dart
  packages/pigeon/pigeons/proxy_api_tests.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/integration_tests.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/proxy_api_tests.gen.dart
  packages/pigeon/platform_tests/test_plugin/android/src/main/kotlin/com/example/test_plugin/ProxyApiTestApiImpls.kt
  packages/pigeon/platform_tests/test_plugin/android/src/main/kotlin/com/example/test_plugin/ProxyApiTests.gen.kt
  packages/pigeon/platform_tests/test_plugin/ios/Classes/ProxyApiTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/ios/Classes/TestPlugin.swift
  packages/pigeon/platform_tests/test_plugin/macos/Classes/ProxyApiTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/macos/Classes/TestPlugin.swift
  packages/pigeon/pubspec.yaml
  packages/pigeon/test/swift/proxy_api_test.dart
  packages/pigeon/tool/shared/generation.dart
Labels: p: pigeon, autosubmit, platform-android, platform-ios, platform-macos

#8214 [google_maps_flutter] Annotate deprecated member usage
  packages/google_maps_flutter/google_maps_flutter/example/integration_test/src/maps_controller.dart
  packages/google_maps_flutter/google_maps_flutter_android/example/integration_test/google_maps_tests.dart
  packages/google_maps_flutter/google_maps_flutter_android/lib/src/google_maps_flutter_android.dart
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios14/integration_test/google_maps_test.dart
  packages/google_maps_flutter/google_maps_flutter_ios/lib/src/google_maps_flutter_ios.dart
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/google_maps_controller.dart
Labels: autosubmit, override: no versioning needed, override: no changelog needed, p: google_maps_flutter, platform-android, platform-ios, platform-web

#8224 Roll Flutter from e64ee5de7cdd to e1e4ee9a016e (18 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#8171 [video_player_avfoundation] Split iOS native code into multiple files
  packages/video_player/video_player_avfoundation/CHANGELOG.md
  packages/video_player/video_player_avfoundation/darwin/video_player_avfoundation/Sources/video_player_avfoundation/FVPAVFactory.m
  packages/video_player/video_player_avfoundation/darwin/video_player_avfoundation/Sources/video_player_avfoundation/FVPFrameUpdater.m
  packages/video_player/video_player_avfoundation/darwin/video_player_avfoundation/Sources/video_player_avfoundation/FVPVideoPlayer.m
  packages/video_player/video_player_avfoundation/darwin/video_player_avfoundation/Sources/video_player_avfoundation/FVPVideoPlayerPlugin.m
  packages/video_player/video_player_avfoundation/darwin/video_player_avfoundation/Sources/video_player_avfoundation/include/video_player_avfoundation/FVPAVFactory.h
  packages/video_player/video_player_avfoundation/darwin/video_player_avfoundation/Sources/video_player_avfoundation/include/video_player_avfoundation/FVPFrameUpdater.h
  packages/video_player/video_player_avfoundation/darwin/video_player_avfoundation/Sources/video_player_avfoundation/include/video_player_avfoundation/FVPVideoPlayer.h
  packages/video_player/video_player_avfoundation/darwin/video_player_avfoundation/Sources/video_player_avfoundation/include/video_player_avfoundation/FVPVideoPlayerPlugin_Test.h
  packages/video_player/video_player_avfoundation/darwin/video_player_avfoundation/Sources/video_player_avfoundation/include/video_player_avfoundation/FVPVideoPlayer_Test.h
  packages/video_player/video_player_avfoundation/pubspec.yaml
Labels: autosubmit, platform-ios, platform-macos, p: video_player

#8225 [pigeon] Add Swift Package Manager integration to example app
  packages/pigeon/example/app/ios/Flutter/AppFrameworkInfo.plist
  packages/pigeon/example/app/ios/Podfile
  packages/pigeon/example/app/ios/Runner.xcodeproj/project.pbxproj
  packages/pigeon/example/app/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/pigeon/example/app/ios/Runner.xcworkspace/contents.xcworkspacedata
  packages/pigeon/example/app/macos/Runner.xcodeproj/project.pbxproj
  packages/pigeon/example/app/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
Labels: p: pigeon, autosubmit, override: no versioning needed, override: no changelog needed, platform-ios, platform-macos

#8227 [various] Add Swift Package Manager integration to image picker examp…
  packages/image_picker/image_picker/example/ios/Runner.xcodeproj/project.pbxproj
  packages/image_picker/image_picker/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/image_picker/image_picker/example/macos/Runner.xcodeproj/project.pbxproj
  packages/image_picker/image_picker/example/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/image_picker/image_picker_ios/example/ios/Runner.xcodeproj/project.pbxproj
  packages/image_picker/image_picker_ios/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/image_picker/image_picker_macos/example/macos/Runner.xcodeproj/project.pbxproj
  packages/image_picker/image_picker_macos/example/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/image_picker/image_picker_macos/example/macos/Runner.xcworkspace/contents.xcworkspacedata
Labels: autosubmit, p: image_picker, platform-ios, platform-macos

#6871 [google_adsense] (Experimental) AdSense plugin for Flutter Web
  CODEOWNERS
  README.md
  packages/google_adsense/AUTHORS
  packages/google_adsense/CHANGELOG.md
  packages/google_adsense/LICENSE
  packages/google_adsense/README.md
  packages/google_adsense/dart_test.yaml
  packages/google_adsense/example/README.md
  packages/google_adsense/example/images/desktop_screenshot.jpg
  packages/google_adsense/example/images/mobile_screenshot.png
  packages/google_adsense/example/integration_test/ad_widget_test.dart
  packages/google_adsense/example/integration_test/script_tag_test.dart
  packages/google_adsense/example/integration_test/test_js_interop.dart
  packages/google_adsense/example/lib/main.dart
  packages/google_adsense/example/pubspec.yaml
  packages/google_adsense/example/test_driver/integration_test.dart
  packages/google_adsense/example/web/favicon.png
  packages/google_adsense/example/web/icons/Icon-192.png
  packages/google_adsense/example/web/icons/Icon-512.png
  packages/google_adsense/example/web/icons/Icon-maskable-192.png
  packages/google_adsense/example/web/icons/Icon-maskable-512.png
  packages/google_adsense/example/web/index.html
  packages/google_adsense/example/web/manifest.json
  packages/google_adsense/lib/experimental/google_adsense.dart
  packages/google_adsense/lib/google_adsense.dart
  packages/google_adsense/lib/src/ad_unit_configuration.dart
  packages/google_adsense/lib/src/ad_unit_params.dart
  packages/google_adsense/lib/src/ad_unit_widget.dart
  packages/google_adsense/lib/src/adsense_stub.dart
  packages/google_adsense/lib/src/adsense_web.dart
  packages/google_adsense/lib/src/js_interop/adsbygoogle.dart
  packages/google_adsense/lib/src/js_interop/package_web_tweaks.dart
  packages/google_adsense/lib/src/logging.dart
  packages/google_adsense/pubspec.yaml
  packages/google_adsense/test/adsense_stub_test.dart
Labels: autosubmit, platform-web

#7892 [pigeon] adds event channel support for kotlin and swift
  packages/pigeon/CHANGELOG.md
  packages/pigeon/README.md
  packages/pigeon/example/README.md
  packages/pigeon/example/app/android/app/src/main/kotlin/dev/flutter/pigeon_example_app/EventChannelMessages.g.kt
  packages/pigeon/example/app/android/app/src/main/kotlin/dev/flutter/pigeon_example_app/MainActivity.kt
  packages/pigeon/example/app/ios/Runner.xcodeproj/project.pbxproj
  packages/pigeon/example/app/ios/Runner/AppDelegate.swift
  packages/pigeon/example/app/ios/Runner/EventChannelMessages.g.swift
  packages/pigeon/example/app/lib/main.dart
  packages/pigeon/example/app/lib/src/event_channel_messages.g.dart
  packages/pigeon/example/app/pigeons/event_channel_messages.dart
  packages/pigeon/example/app/pigeons/messages.dart
  packages/pigeon/lib/ast.dart
  packages/pigeon/lib/cpp_generator.dart
  packages/pigeon/lib/dart_generator.dart
  packages/pigeon/lib/generator.dart
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/lib/gobject_generator.dart
  packages/pigeon/lib/java_generator.dart
  packages/pigeon/lib/kotlin_generator.dart
  packages/pigeon/lib/objc_generator.dart
  packages/pigeon/lib/pigeon_lib.dart
  packages/pigeon/lib/swift_generator.dart
  packages/pigeon/pigeons/event_channel_tests.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/generated.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/integration_tests.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/event_channel_tests.gen.dart
  packages/pigeon/platform_tests/test_plugin/android/src/main/kotlin/com/example/test_plugin/.gitignore
  packages/pigeon/platform_tests/test_plugin/android/src/main/kotlin/com/example/test_plugin/EventChannelTests.gen.kt
  packages/pigeon/platform_tests/test_plugin/android/src/main/kotlin/com/example/test_plugin/TestPlugin.kt
  packages/pigeon/platform_tests/test_plugin/example/macos/Runner/AppDelegate.swift
  packages/pigeon/platform_tests/test_plugin/ios/Classes/.gitignore
  packages/pigeon/platform_tests/test_plugin/ios/Classes/EventChannelTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/ios/Classes/TestPlugin.swift
  packages/pigeon/platform_tests/test_plugin/macos/Classes/.gitignore
  packages/pigeon/platform_tests/test_plugin/macos/Classes/EventChannelTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/macos/Classes/TestPlugin.swift
  packages/pigeon/pubspec.yaml
  packages/pigeon/test/cpp_generator_test.dart
  packages/pigeon/test/dart_generator_test.dart
  packages/pigeon/test/java_generator_test.dart
  packages/pigeon/test/kotlin_generator_test.dart
  packages/pigeon/test/objc_generator_test.dart
  packages/pigeon/test/pigeon_lib_test.dart
  packages/pigeon/test/swift_generator_test.dart
  packages/pigeon/tool/run_tests.dart
  packages/pigeon/tool/shared/generation.dart
  script/tool/lib/src/podspec_check_command.dart
Labels: p: pigeon, autosubmit, platform-android, platform-ios, platform-macos

#8231 [ci] Adds google_adsense to labeler.yml
  .github/labeler.yml
  CODEOWNERS
Labels: autosubmit

#8226 [various] Update iOS/macOS Pigeon versions
  packages/ios_platform_images/CHANGELOG.md
  packages/ios_platform_images/ios/ios_platform_images/Sources/ios_platform_images/messages.g.swift
  packages/ios_platform_images/lib/src/messages.g.dart
  packages/ios_platform_images/pigeons/messages.dart
  packages/ios_platform_images/pubspec.yaml
  packages/ios_platform_images/test/ios_platform_images_test.dart
  packages/path_provider/path_provider_foundation/CHANGELOG.md
  packages/path_provider/path_provider_foundation/darwin/path_provider_foundation/Sources/path_provider_foundation/messages.g.swift
  packages/path_provider/path_provider_foundation/lib/messages.g.dart
  packages/path_provider/path_provider_foundation/pubspec.yaml
  packages/path_provider/path_provider_foundation/test/messages_test.g.dart
  packages/path_provider/path_provider_foundation/test/path_provider_foundation_test.dart
  packages/url_launcher/url_launcher_ios/CHANGELOG.md
  packages/url_launcher/url_launcher_ios/ios/url_launcher_ios/Sources/url_launcher_ios/messages.g.swift
  packages/url_launcher/url_launcher_ios/lib/src/messages.g.dart
  packages/url_launcher/url_launcher_ios/pubspec.yaml
  packages/url_launcher/url_launcher_ios/test/url_launcher_ios_test.mocks.dart
  packages/url_launcher/url_launcher_macos/CHANGELOG.md
  packages/url_launcher/url_launcher_macos/lib/src/messages.g.dart
  packages/url_launcher/url_launcher_macos/macos/url_launcher_macos/Sources/url_launcher_macos/messages.g.swift
  packages/url_launcher/url_launcher_macos/pubspec.yaml
  packages/url_launcher/url_launcher_macos/test/url_launcher_macos_test.dart
Labels: autosubmit, p: ios_platform_images, p: path_provider, platform-ios, platform-macos, p: url_launcher

#8236 Roll Flutter from e1e4ee9a016e to ab5b20c16d56 (7 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#8230 [various] Add Swift Package Manager integration to Google sign in example apps
  packages/google_sign_in/google_sign_in/example/ios/Runner.xcodeproj/project.pbxproj
  packages/google_sign_in/google_sign_in/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/google_sign_in/google_sign_in/example/macos/Runner.xcodeproj/project.pbxproj
  packages/google_sign_in/google_sign_in/example/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/google_sign_in/google_sign_in_ios/example/ios/Runner.xcodeproj/project.pbxproj
  packages/google_sign_in/google_sign_in_ios/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/google_sign_in/google_sign_in_ios/example/macos/Runner.xcodeproj/project.pbxproj
  packages/google_sign_in/google_sign_in_ios/example/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
Labels: autosubmit, p: google_sign_in, platform-ios, platform-macos

#8241 [google_sign_in] Clean up Java code
  packages/google_sign_in/google_sign_in_android/CHANGELOG.md
  packages/google_sign_in/google_sign_in_android/android/src/main/java/io/flutter/plugins/googlesignin/GoogleSignInPlugin.java
  packages/google_sign_in/google_sign_in_android/android/src/test/java/io/flutter/plugins/googlesignin/GoogleSignInLegacyMethodChannelTest.java
  packages/google_sign_in/google_sign_in_android/android/src/test/java/io/flutter/plugins/googlesignin/GoogleSignInTest.java
  packages/google_sign_in/google_sign_in_android/pubspec.yaml
Labels: autosubmit, p: google_sign_in, platform-android

#8240 [path_provider] Clean up Java code
  packages/path_provider/path_provider_android/CHANGELOG.md
  packages/path_provider/path_provider_android/android/src/main/java/io/flutter/plugins/pathprovider/PathProviderPlugin.java
  packages/path_provider/path_provider_android/android/src/main/java/io/flutter/plugins/pathprovider/StorageDirectoryMapper.java
  packages/path_provider/path_provider_android/android/src/test/java/io/flutter/plugins/pathprovider/PathProviderPluginTest.java
  packages/path_provider/path_provider_android/android/src/test/java/io/flutter/plugins/pathprovider/StorageDirectoryMapperTest.java
  packages/path_provider/path_provider_android/pubspec.yaml
Labels: autosubmit, p: path_provider, platform-android

#8255 [dependabot] Generalizes dependabot commit message prefix
  .github/dependabot.yml
Labels: autosubmit

#8149 [quick_action_ios] add localizedSubtitle for iOS
  packages/quick_actions/quick_actions_ios/CHANGELOG.md
  packages/quick_actions/quick_actions_ios/example/ios/RunnerUITests/RunnerUITests.swift
  packages/quick_actions/quick_actions_ios/example/lib/main.dart
  packages/quick_actions/quick_actions_ios/ios/quick_actions_ios/Sources/quick_actions_ios/QuickActionsPlugin.swift
  packages/quick_actions/quick_actions_ios/ios/quick_actions_ios/Sources/quick_actions_ios/messages.g.swift
  packages/quick_actions/quick_actions_ios/lib/messages.g.dart
  packages/quick_actions/quick_actions_ios/lib/quick_actions_ios.dart
  packages/quick_actions/quick_actions_ios/pigeons/messages.dart
  packages/quick_actions/quick_actions_ios/pubspec.yaml
  packages/quick_actions/quick_actions_ios/test/quick_actions_ios_test.dart
Labels: autosubmit, p: quick_actions, platform-ios, triage-ios

#8264 Manual roll Flutter from ab5b20c16d56 to 456366232af9 (10 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#7890 [video_player_avfoundation] Support the audio-only HLS (.m3u8) on iOS
  packages/video_player/video_player_avfoundation/CHANGELOG.md
  packages/video_player/video_player_avfoundation/darwin/RunnerTests/VideoPlayerTests.m
  packages/video_player/video_player_avfoundation/darwin/video_player_avfoundation/Sources/video_player_avfoundation/FVPVideoPlayer.m
  packages/video_player/video_player_avfoundation/pubspec.yaml
Labels: autosubmit, platform-ios, platform-macos, p: video_player, triage-ios

#8038 [quick_actions] add localizedSubtitle for iOS
  packages/quick_actions/quick_actions/CHANGELOG.md
  packages/quick_actions/quick_actions/README.md
  packages/quick_actions/quick_actions/example/lib/main.dart
  packages/quick_actions/quick_actions/pubspec.yaml
Labels: autosubmit, p: quick_actions

#8275 disable maps test and manual roll
  .ci/flutter_master.version
  packages/google_maps_flutter/google_maps_flutter/example/integration_test/src/maps_controller.dart
Labels: autosubmit, p: google_maps_flutter

#8277 Manual roll Flutter from 918b2b9ddb43 to f559e16010a0 (4 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#8283 Manual roll Flutter from f559e16010a0 to 6966a2eef1e9 (5 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#8235 [go_router] Fix a typo in a comment in the shell_route.dart
  packages/go_router/example/lib/shell_route.dart
Labels: p: go_router, autosubmit

#8059 [go_router_builder] Activate leak testing
  packages/go_router_builder/pubspec.yaml
  packages/go_router_builder/test/flutter_test_config.dart
Labels: p: go_router_builder, autosubmit, override: no versioning needed, override: no changelog needed

#8228 [webview_flutter_android] Allow configuration of WebView file access through `setAllowFileAccess`
  packages/webview_flutter/webview_flutter_android/CHANGELOG.md
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview_controller.dart
  packages/webview_flutter/webview_flutter_android/pubspec.yaml
  packages/webview_flutter/webview_flutter_android/test/android_webview_controller_test.dart
Labels: autosubmit, platform-android, p: webview_flutter

#7994 [shared_preferences] Adds Shared preferences as option in shared preferences async android
  packages/shared_preferences/shared_preferences_android/CHANGELOG.md
  packages/shared_preferences/shared_preferences_android/README.md
  packages/shared_preferences/shared_preferences_android/android/build.gradle
  packages/shared_preferences/shared_preferences_android/android/gradle.properties
  packages/shared_preferences/shared_preferences_android/android/src/main/kotlin/io/flutter/plugins/sharedpreferences/MessagesAsync.g.kt
  packages/shared_preferences/shared_preferences_android/android/src/main/kotlin/io/flutter/plugins/sharedpreferences/SharedPreferencesPlugin.kt
  packages/shared_preferences/shared_preferences_android/android/src/test/kotlin/io/flutter/plugins/sharedpreferences/SharedPreferencesTest.kt
  packages/shared_preferences/shared_preferences_android/example/android/.gitignore
  packages/shared_preferences/shared_preferences_android/example/android/app/build.gradle
  packages/shared_preferences/shared_preferences_android/example/android/app/src/androidTest/java/dev/flutter/plugins/shared_preferences_example/MainActivityTest.java
  packages/shared_preferences/shared_preferences_android/example/android/app/src/debug/AndroidManifest.xml
  packages/shared_preferences/shared_preferences_android/example/android/app/src/main/AndroidManifest.xml
  packages/shared_preferences/shared_preferences_android/example/android/app/src/main/java/dev/flutter/plugins/shared_preferences_example/MainActivity.java
  packages/shared_preferences/shared_preferences_android/example/android/app/src/main/java/io/flutter/plugins/DartIntegrationTest.java
  packages/shared_preferences/shared_preferences_android/example/android/app/src/profile/AndroidManifest.xml
  packages/shared_preferences/shared_preferences_android/example/android/gradle/wrapper/gradle-wrapper.properties
  packages/shared_preferences/shared_preferences_android/example/android/settings.gradle
  packages/shared_preferences/shared_preferences_android/example/integration_test/shared_preferences_test.dart
  packages/shared_preferences/shared_preferences_android/example/lib/main.dart
  packages/shared_preferences/shared_preferences_android/lib/src/messages_async.g.dart
  packages/shared_preferences/shared_preferences_android/lib/src/shared_preferences_async_android.dart
  packages/shared_preferences/shared_preferences_android/pigeons/messages_async.dart
  packages/shared_preferences/shared_preferences_android/pubspec.yaml
  packages/shared_preferences/shared_preferences_android/test/shared_preferences_async_test.dart
  packages/shared_preferences/shared_preferences_foundation/CHANGELOG.md
  packages/shared_preferences/shared_preferences_foundation/darwin/shared_preferences_foundation/Sources/shared_preferences_foundation/messages.g.swift
  packages/shared_preferences/shared_preferences_foundation/pubspec.yaml
Labels: autosubmit, platform-android, platform-ios, platform-macos, p: shared_preferences

#8193 Bump Camera Example Plugin Apps Targetsdk Versions
  packages/camera/camera/example/android/app/build.gradle
  packages/camera/camera/example/android/app/src/main/AndroidManifest.xml
  packages/camera/camera/example/integration_test/camera_test.dart
  packages/camera/camera_android/example/android/app/build.gradle
  packages/camera/camera_android/example/android/app/src/main/AndroidManifest.xml
  packages/camera/camera_android/example/integration_test/camera_test.dart
  packages/camera/camera_android_camerax/example/android/app/build.gradle
  packages/camera/camera_android_camerax/example/android/app/src/main/AndroidManifest.xml
  packages/camera/camera_android_camerax/example/integration_test/integration_test.dart
Labels: autosubmit, override: no versioning needed, override: no changelog needed, p: camera, platform-android

#8295 Manual roll Flutter from 6966a2eef1e9 to 29a6c648ca4d (16 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6749 [shared_preferences] Add shared preferences devtools
  CODEOWNERS
  packages/shared_preferences/shared_preferences/CHANGELOG.md
  packages/shared_preferences/shared_preferences/extension/devtools/.gitignore
  packages/shared_preferences/shared_preferences/extension/devtools/.pubignore
  packages/shared_preferences/shared_preferences/extension/devtools/config.yaml
  packages/shared_preferences/shared_preferences/lib/src/shared_preferences_async.dart
  packages/shared_preferences/shared_preferences/lib/src/shared_preferences_devtools_extension_data.dart
  packages/shared_preferences/shared_preferences/lib/src/shared_preferences_legacy.dart
  packages/shared_preferences/shared_preferences/pubspec.yaml
  packages/shared_preferences/shared_preferences/test/shared_preferences_devtools_extension_data_test.dart
  packages/shared_preferences/shared_preferences/tool/pre_publish.dart
  packages/shared_preferences/shared_preferences_tool/LICENSE
  packages/shared_preferences/shared_preferences_tool/README.md
  packages/shared_preferences/shared_preferences_tool/lib/main.dart
  packages/shared_preferences/shared_preferences_tool/lib/src/async_state.dart
  packages/shared_preferences/shared_preferences_tool/lib/src/shared_preferences_state.dart
  packages/shared_preferences/shared_preferences_tool/lib/src/shared_preferences_state_notifier.dart
  packages/shared_preferences/shared_preferences_tool/lib/src/shared_preferences_state_provider.dart
  packages/shared_preferences/shared_preferences_tool/lib/src/shared_preferences_tool_eval.dart
  packages/shared_preferences/shared_preferences_tool/lib/src/ui/api_switch.dart
  packages/shared_preferences/shared_preferences_tool/lib/src/ui/data_panel.dart
  packages/shared_preferences/shared_preferences_tool/lib/src/ui/error_panel.dart
  packages/shared_preferences/shared_preferences_tool/lib/src/ui/keys_panel.dart
  packages/shared_preferences/shared_preferences_tool/lib/src/ui/shared_preferences_body.dart
  packages/shared_preferences/shared_preferences_tool/pubspec.yaml
  packages/shared_preferences/shared_preferences_tool/test/src/shared_preferences_state_notifier_test.dart
  packages/shared_preferences/shared_preferences_tool/test/src/shared_preferences_state_notifier_test.mocks.dart
  packages/shared_preferences/shared_preferences_tool/test/src/shared_preferences_state_test.dart
  packages/shared_preferences/shared_preferences_tool/test/src/shared_preferences_tool_eval_test.dart
  packages/shared_preferences/shared_preferences_tool/test/src/shared_preferences_tool_eval_test.mocks.dart
  packages/shared_preferences/shared_preferences_tool/test/src/ui/data_panel_test.dart
  packages/shared_preferences/shared_preferences_tool/test/src/ui/error_panel_test.dart
  packages/shared_preferences/shared_preferences_tool/test/src/ui/keys_panel_test.dart
  packages/shared_preferences/shared_preferences_tool/test/src/ui/shared_preferences_body_test.dart
  packages/shared_preferences/shared_preferences_tool/test/test_helpers/notifier_mocking_helpers.dart
  packages/shared_preferences/shared_preferences_tool/test/test_helpers/notifier_mocking_helpers.mocks.dart
  packages/shared_preferences/shared_preferences_tool/web/index.html
  packages/shared_preferences/shared_preferences_tool/web/manifest.json
  script/configs/allowed_unpinned_deps.yaml
Labels: autosubmit, platform-web, p: shared_preferences

#8318 [shared_preferences] Increase minimum android endorsed version
  packages/shared_preferences/shared_preferences/CHANGELOG.md
  packages/shared_preferences/shared_preferences/pubspec.yaml
Labels: autosubmit, p: shared_preferences

#8293 [ci] Re-enable macOS sandboxing
  packages/flutter_image/example/macos/Runner/DebugProfile.entitlements
  packages/flutter_image/example/macos/Runner/Release.entitlements
  packages/google_sign_in/google_sign_in/example/macos/Runner/DebugProfile.entitlements
  packages/google_sign_in/google_sign_in/example/macos/Runner/Release.entitlements
  packages/google_sign_in/google_sign_in_ios/example/macos/Runner/DebugProfile.entitlements
  packages/google_sign_in/google_sign_in_ios/example/macos/Runner/Release.entitlements
  packages/image_picker/image_picker/example/macos/Runner/DebugProfile.entitlements
  packages/image_picker/image_picker/example/macos/Runner/Release.entitlements
  packages/in_app_purchase/in_app_purchase/example/macos/Runner/DebugProfile.entitlements
  packages/in_app_purchase/in_app_purchase/example/macos/Runner/Release.entitlements
  packages/in_app_purchase/in_app_purchase_storekit/example/macos/Runner/DebugProfile.entitlements
  packages/in_app_purchase/in_app_purchase_storekit/example/macos/Runner/Release.entitlements
  packages/path_provider/path_provider/example/macos/Runner/DebugProfile.entitlements
  packages/path_provider/path_provider/example/macos/Runner/Release.entitlements
  packages/path_provider/path_provider_foundation/example/macos/Runner/DebugProfile.entitlements
  packages/path_provider/path_provider_foundation/example/macos/Runner/Release.entitlements
  packages/pigeon/platform_tests/alternate_language_test_plugin/example/macos/Runner/DebugProfile.entitlements
  packages/pigeon/platform_tests/alternate_language_test_plugin/example/macos/Runner/Release.entitlements
  packages/shared_preferences/shared_preferences/example/macos/Runner/DebugProfile.entitlements
  packages/shared_preferences/shared_preferences/example/macos/Runner/Release.entitlements
  packages/shared_preferences/shared_preferences_foundation/example/macos/Runner/DebugProfile.entitlements
  packages/shared_preferences/shared_preferences_foundation/example/macos/Runner/Release.entitlements
  packages/url_launcher/url_launcher/example/macos/Runner/DebugProfile.entitlements
  packages/url_launcher/url_launcher/example/macos/Runner/Release.entitlements
  packages/url_launcher/url_launcher_macos/example/macos/Runner/DebugProfile.entitlements
  packages/url_launcher/url_launcher_macos/example/macos/Runner/Release.entitlements
  packages/video_player/video_player/example/macos/Runner/DebugProfile.entitlements
  packages/video_player/video_player/example/macos/Runner/Release.entitlements
  packages/video_player/video_player_avfoundation/example/macos/Runner/DebugProfile.entitlements
  packages/video_player/video_player_avfoundation/example/macos/Runner/Release.entitlements
Labels: p: pigeon, p: flutter_image, autosubmit, override: no changelog needed, p: google_sign_in, p: image_picker, p: in_app_purchase, p: path_provider, platform-ios, platform-macos, p: video_player, p: url_launcher, p: shared_preferences

#8312 Applied Gradle Plugins Declaratively All Remaining Example Apps
  packages/camera/camera/example/android/app/build.gradle
  packages/camera/camera/example/android/build.gradle
  packages/camera/camera/example/android/settings.gradle
  packages/camera/camera_android/example/android/app/build.gradle
  packages/camera/camera_android/example/android/build.gradle
  packages/camera/camera_android/example/android/settings.gradle
  packages/camera/camera_android_camerax/example/android/app/build.gradle
  packages/camera/camera_android_camerax/example/android/build.gradle
  packages/camera/camera_android_camerax/example/android/settings.gradle
  packages/pigeon/example/app/android/app/build.gradle
  packages/pigeon/example/app/android/build.gradle
  packages/pigeon/example/app/android/settings.gradle
Labels: p: pigeon, autosubmit, override: no versioning needed, override: no changelog needed, p: camera, platform-android

#8344 [ci] Cumulative fixes to reopen the tree.
  packages/video_player/video_player/example/integration_test/video_player_test.dart
  script/tool/lib/src/common/package_looping_command.dart
  script/tool/lib/src/create_all_packages_app_command.dart
  script/tool/lib/src/pubspec_check_command.dart
  script/tool/lib/src/update_min_sdk_command.dart
  script/tool/pubspec.yaml
  script/tool/test/create_all_packages_app_command_test.dart
  script/tool/test/update_min_sdk_command_test.dart
Labels: warning: land on red to fix tree breakage, autosubmit, p: video_player

#8325 Update Gradle Command Test to Only Accept Gradle Declarative Apply
  .ci/legacy_project/all_packages/android/app/build.gradle
  .ci/legacy_project/all_packages/android/build.gradle
  .ci/legacy_project/all_packages/android/settings.gradle
  script/tool/lib/src/gradle_check_command.dart
  script/tool/test/gradle_check_command_test.dart
Labels: autosubmit, override: no versioning needed, override: no changelog needed

#8285 Bump Plugin Example Apps to TargetSdkVersion >= 34
  packages/espresso/example/android/app/build.gradle
  packages/extension_google_sign_in_as_googleapis_auth/example/android/app/build.gradle
  packages/file_selector/file_selector_android/example/android/app/build.gradle
  packages/flutter_markdown/example/android/app/build.gradle
  packages/flutter_plugin_android_lifecycle/example/android/app/build.gradle
  packages/go_router/example/android/app/build.gradle
  packages/google_maps_flutter/google_maps_flutter/example/android/app/build.gradle
  packages/google_maps_flutter/google_maps_flutter_android/example/android/app/build.gradle
  packages/google_sign_in/google_sign_in/example/android/app/build.gradle
  packages/google_sign_in/google_sign_in_android/example/android/app/build.gradle
  packages/image_picker/image_picker/example/android/app/build.gradle
  packages/image_picker/image_picker_android/example/android/app/build.gradle
  packages/in_app_purchase/in_app_purchase/example/android/app/build.gradle
  packages/in_app_purchase/in_app_purchase_android/example/android/app/build.gradle
  packages/palette_generator/example/android/app/build.gradle
  packages/path_provider/path_provider/example/android/app/build.gradle
  packages/path_provider/path_provider_android/example/android/app/build.gradle
  packages/quick_actions/quick_actions/example/android/app/build.gradle
  packages/quick_actions/quick_actions_android/example/android/app/build.gradle
  packages/rfw/example/hello/android/app/build.gradle
  packages/rfw/example/local/android/app/build.gradle
  packages/rfw/example/remote/android/app/build.gradle
  packages/shared_preferences/shared_preferences/example/android/app/build.gradle
  packages/shared_preferences/shared_preferences_android/example/android/app/build.gradle
  packages/url_launcher/url_launcher/example/android/app/build.gradle
  packages/url_launcher/url_launcher_android/example/android/app/build.gradle
  packages/video_player/video_player/example/android/app/build.gradle
  packages/video_player/video_player_android/example/android/app/build.gradle
  packages/webview_flutter/webview_flutter/example/android/app/build.gradle
  packages/webview_flutter/webview_flutter_android/example/android/app/build.gradle
  third_party/packages/flutter_svg/example/android/app/build.gradle
Labels: p: extension_google_sign_in_as_googleapis_auth, p: palette_generator, p: flutter_markdown, p: rfw, p: go_router, autosubmit, override: no versioning needed, override: no changelog needed, p: espresso, p: file_selector, p: flutter_plugin_android_lifecycle, p: google_maps_flutter, p: google_sign_in, p: image_picker, p: in_app_purchase, p: path_provider, p: quick_actions, platform-android, p: webview_flutter, p: video_player, p: url_launcher, p: shared_preferences, p: flutter_svg

#8338 [pigeon] Adds platform for imports that aren't support on a platform
  packages/pigeon/CHANGELOG.md
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/lib/swift_generator.dart
  packages/pigeon/pubspec.yaml
  packages/pigeon/test/swift/proxy_api_test.dart
Labels: p: pigeon, autosubmit

#8287 [camera] Fix memory leaks in example and activate leak testing
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/example/lib/main.dart
  packages/camera/camera/example/pubspec.yaml
  packages/camera/camera/example/test/flutter_test_config.dart
  packages/camera/camera/pubspec.yaml
  packages/camera/camera/test/camera_preview_test.dart
  packages/camera/camera/test/flutter_test_config.dart
Labels: autosubmit, override: no versioning needed, p: camera

#8327 Drop vector bits from allowed_unpinned_deps.yaml
  script/configs/allowed_unpinned_deps.yaml
Labels: autosubmit

#8350 [camera] Remove OCMock from permission tests
  packages/camera/camera_avfoundation/CHANGELOG.md
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraPermissionTests.m
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/CameraPermissionUtils.m
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/CameraPlugin.m
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/FLTCameraPermissionManager.m
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/FLTPermissionServicing.m
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/include/CameraPlugin.modulemap
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/include/camera_avfoundation/FLTCameraPermissionManager.h
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/include/camera_avfoundation/FLTPermissionServicing.h
  packages/camera/camera_avfoundation/pubspec.yaml
Labels: autosubmit, p: camera, platform-ios, platform-macos
