Repository flutter/packages, pull requests merged in 2024-06, with the labels that each got.

#6836 Roll Flutter from c85fa6abf4ff to 7eebe2992aba (26 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6860 Revert "Roll Flutter from c85fa6abf4ff to 7eebe2992aba (#6836)"
  .ci/flutter_master.version
Labels: warning: land on red to fix tree breakage, autosubmit

#6097 [url_launcher] Add support for setting show title on Chrome Custom Tabs
  packages/url_launcher/url_launcher/CHANGELOG.md
  packages/url_launcher/url_launcher/example/lib/main.dart
  packages/url_launcher/url_launcher/lib/src/type_conversion.dart
  packages/url_launcher/url_launcher/lib/src/types.dart
  packages/url_launcher/url_launcher/lib/src/url_launcher_string.dart
  packages/url_launcher/url_launcher/lib/src/url_launcher_uri.dart
  packages/url_launcher/url_launcher/pubspec.yaml
  packages/url_launcher/url_launcher/test/link_test.dart
  packages/url_launcher/url_launcher/test/mocks/mock_url_launcher_platform.dart
  packages/url_launcher/url_launcher/test/src/legacy_api_test.dart
  packages/url_launcher/url_launcher/test/src/url_launcher_string_test.dart
  packages/url_launcher/url_launcher/test/src/url_launcher_uri_test.dart
Labels: autosubmit, p: url_launcher

#6843 [pigeon] Kotlin/Java method overloading for the `setUp` method
  packages/pigeon/CHANGELOG.md
  packages/pigeon/example/app/android/app/src/main/kotlin/dev/flutter/pigeon_example_app/Messages.g.kt
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/lib/kotlin_generator.dart
  packages/pigeon/pubspec.yaml
  packages/pigeon/test/kotlin_generator_test.dart
Labels: p: pigeon, autosubmit, platform-android, triage-android

#6842 Clean Xcode project before analyzing and testing
  script/tool/lib/src/native_test_command.dart
  script/tool/lib/src/xcode_analyze_command.dart
  script/tool/test/native_test_command_test.dart
  script/tool/test/xcode_analyze_command_test.dart
Labels: autosubmit

#6573 Avoid cumbersome formatter workaround
  packages/flutter_markdown/test/image_test_mocks.dart
Labels: p: flutter_markdown, autosubmit

#6826 [google_maps_flutter] Custom marker size improvements - platform impls
  packages/google_maps_flutter/google_maps_flutter_android/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_android/android/src/main/java/io/flutter/plugins/googlemaps/Convert.java
  packages/google_maps_flutter/google_maps_flutter_android/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapController.java
  packages/google_maps_flutter/google_maps_flutter_android/android/src/main/java/io/flutter/plugins/googlemaps/MarkersController.java
  packages/google_maps_flutter/google_maps_flutter_android/android/src/main/java/io/flutter/plugins/googlemaps/PolylinesController.java
  packages/google_maps_flutter/google_maps_flutter_android/android/src/test/java/io/flutter/plugins/googlemaps/ClusterManagersControllerTest.java
  packages/google_maps_flutter/google_maps_flutter_android/android/src/test/java/io/flutter/plugins/googlemaps/ConvertTest.java
  packages/google_maps_flutter/google_maps_flutter_android/android/src/test/java/io/flutter/plugins/googlemaps/MarkersControllerTest.java
  packages/google_maps_flutter/google_maps_flutter_android/example/integration_test/google_maps_tests.dart
  packages/google_maps_flutter/google_maps_flutter_android/example/integration_test/resources/icon_image.png
  packages/google_maps_flutter/google_maps_flutter_android/example/integration_test/resources/icon_image_base64.dart
  packages/google_maps_flutter/google_maps_flutter_android/example/lib/custom_marker_icon.dart
  packages/google_maps_flutter/google_maps_flutter_android/example/lib/marker_icons.dart
  packages/google_maps_flutter/google_maps_flutter_android/example/lib/place_marker.dart
  packages/google_maps_flutter/google_maps_flutter_android/example/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_android/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_ios/AUTHORS
  packages/google_maps_flutter/google_maps_flutter_ios/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios14/integration_test/google_maps_test.dart
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios14/integration_test/resources/icon_image.png
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios14/integration_test/resources/icon_image_base64.dart
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios14/ios/Runner.xcodeproj/project.pbxproj
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios14/ios/RunnerTests/ExtractIconFromDataTests.m
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios14/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_ios/example/shared/maps_example_dart/lib/custom_marker_icon.dart
  packages/google_maps_flutter/google_maps_flutter_ios/example/shared/maps_example_dart/lib/marker_icons.dart
  packages/google_maps_flutter/google_maps_flutter_ios/example/shared/maps_example_dart/lib/place_marker.dart
  packages/google_maps_flutter/google_maps_flutter_ios/example/shared/maps_example_dart/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_ios/ios/Classes/GoogleMapMarkerController.m
  packages/google_maps_flutter/google_maps_flutter_ios/ios/Classes/GoogleMapMarkerController_Test.h
  packages/google_maps_flutter/google_maps_flutter_ios/ios/Classes/google_maps_flutter_ios.modulemap
  packages/google_maps_flutter/google_maps_flutter_ios/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_web/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_web/example/assets/red_square.png
  packages/google_maps_flutter/google_maps_flutter_web/example/build.excerpt.yaml
  packages/google_maps_flutter/google_maps_flutter_web/example/integration_test/google_maps_controller_test.dart
  packages/google_maps_flutter/google_maps_flutter_web/example/integration_test/google_maps_controller_test.mocks.dart
  packages/google_maps_flutter/google_maps_flutter_web/example/integration_test/google_maps_plugin_test.mocks.dart
  packages/google_maps_flutter/google_maps_flutter_web/example/integration_test/markers_test.dart
  packages/google_maps_flutter/google_maps_flutter_web/example/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/convert.dart
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/google_maps_controller.dart
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/google_maps_flutter_web.dart
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/markers.dart
  packages/google_maps_flutter/google_maps_flutter_web/pubspec.yaml
Labels: autosubmit, p: google_maps_flutter, platform-android, platform-ios, platform-web, triage-ios, triage-android

#6850 Correcting the typo of Flutter in projects
  packages/camera/camera_android_camerax/lib/src/android_camera_camerax_flutter_api_impls.dart
  script/tool/lib/src/create_all_packages_app_command.dart
  script/tool/lib/src/pubspec_check_command.dart
  script/tool/lib/src/update_min_sdk_command.dart
  script/tool/test/pubspec_check_command_test.dart
Labels: autosubmit, override: no versioning needed, override: no changelog needed, p: camera

#6863 [ci] Manual roll Flutter to c246ecd (84 revisions) + fixes
  .ci/flutter_master.version
  packages/flutter_markdown/test/assets/images/golden/image_test/custom_builder_asset_logo.png
  packages/flutter_markdown/test/assets/images/golden/image_test/custom_builder_asset_logo_old.png
  packages/flutter_markdown/test/assets/images/golden/image_test/resource_asset_logo.png
  packages/flutter_markdown/test/assets/images/golden/image_test/resource_asset_logo_old.png
  packages/flutter_markdown/test/image_test.dart
Labels: p: flutter_markdown, autosubmit

#6610 [rfw] Material slider widget
  packages/rfw/CHANGELOG.md
  packages/rfw/lib/src/flutter/material_widgets.dart
  packages/rfw/pubspec.yaml
  packages/rfw/test/material_widgets_test.dart
Labels: p: rfw, autosubmit

#6874 [path_provider] Skip verifying sample file on macOS
  packages/path_provider/path_provider/example/integration_test/path_provider_test.dart
  packages/path_provider/path_provider_foundation/example/integration_test/path_provider_test.dart
Labels: autosubmit, p: path_provider, platform-ios, platform-macos

#6875 Roll Flutter from c246ecdf8e8d to 27e06569a157 (17 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6868 [google_sign_in_web] Update button_tester to use web_only library.
  packages/google_sign_in/google_sign_in_web/example/lib/button_tester.dart
  packages/google_sign_in/google_sign_in_web/example/lib/src/button_configuration_column.dart
Labels: autosubmit, p: google_sign_in, platform-web

#6866 Disable sandboxing for macOS tests in CI
  packages/pigeon/platform_tests/test_plugin/example/macos/Runner/DebugProfile.entitlements
  packages/pigeon/platform_tests/test_plugin/example/macos/Runner/Release.entitlements
  script/tool/lib/src/common/xcode.dart
  script/tool/lib/src/native_test_command.dart
  script/tool/lib/src/xcode_analyze_command.dart
  script/tool/test/common/xcode_test.dart
Labels: p: pigeon, autosubmit, platform-macos

#6876 Roll Flutter from 27e06569a157 to 4608a8913767 (17 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6878 Roll Flutter (stable) from a14f74ff3a1c to 761747bfc538 (6 revisions)
  .ci/flutter_stable.version
Labels: autosubmit

#6880 Disable sandboxing directly for macOS tests
  packages/flutter_image/example/macos/Runner/DebugProfile.entitlements
  packages/flutter_image/example/macos/Runner/Release.entitlements
  packages/google_sign_in/google_sign_in/example/macos/Runner/DebugProfile.entitlements
  packages/google_sign_in/google_sign_in/example/macos/Runner/Release.entitlements
  packages/google_sign_in/google_sign_in_ios/example/macos/Runner/DebugProfile.entitlements
  packages/google_sign_in/google_sign_in_ios/example/macos/Runner/Release.entitlements
  packages/image_picker/image_picker/example/macos/Runner/DebugProfile.entitlements
  packages/image_picker/image_picker/example/macos/Runner/Release.entitlements
  packages/in_app_purchase/in_app_purchase/example/macos/Runner/DebugProfile.entitlements
  packages/in_app_purchase/in_app_purchase/example/macos/Runner/Release.entitlements
  packages/in_app_purchase/in_app_purchase_storekit/example/macos/Runner/DebugProfile.entitlements
  packages/in_app_purchase/in_app_purchase_storekit/example/macos/Runner/Release.entitlements
  packages/path_provider/path_provider/example/macos/Runner/DebugProfile.entitlements
  packages/path_provider/path_provider/example/macos/Runner/Release.entitlements
  packages/path_provider/path_provider_foundation/example/macos/Runner/DebugProfile.entitlements
  packages/path_provider/path_provider_foundation/example/macos/Runner/Release.entitlements
  packages/pigeon/platform_tests/alternate_language_test_plugin/example/macos/Runner/DebugProfile.entitlements
  packages/pigeon/platform_tests/alternate_language_test_plugin/example/macos/Runner/Release.entitlements
  packages/shared_preferences/shared_preferences/example/macos/Runner/DebugProfile.entitlements
  packages/shared_preferences/shared_preferences/example/macos/Runner/Release.entitlements
  packages/shared_preferences/shared_preferences_foundation/example/macos/Runner/DebugProfile.entitlements
  packages/shared_preferences/shared_preferences_foundation/example/macos/Runner/Release.entitlements
  packages/url_launcher/url_launcher/example/macos/Runner/DebugProfile.entitlements
  packages/url_launcher/url_launcher/example/macos/Runner/Release.entitlements
  packages/url_launcher/url_launcher_macos/example/macos/Runner/DebugProfile.entitlements
  packages/url_launcher/url_launcher_macos/example/macos/Runner/Release.entitlements
  packages/video_player/video_player/example/macos/Runner/DebugProfile.entitlements
  packages/video_player/video_player/example/macos/Runner/Release.entitlements
  packages/video_player/video_player_avfoundation/example/macos/Runner/DebugProfile.entitlements
  packages/video_player/video_player_avfoundation/example/macos/Runner/Release.entitlements
Labels: p: pigeon, p: flutter_image, autosubmit, override: no changelog needed, p: google_sign_in, p: image_picker, p: in_app_purchase, p: path_provider, platform-ios, platform-macos, p: video_player, p: url_launcher, p: shared_preferences

#6877 Run tests on macOS 13 or 14
  .ci.yaml
Labels: autosubmit

#6864 [two_dimensional_scrollables] Adds generics to the callbacks and builders of TreeView
  packages/two_dimensional_scrollables/CHANGELOG.md
  packages/two_dimensional_scrollables/example/lib/tree_view/custom_tree.dart
  packages/two_dimensional_scrollables/example/lib/tree_view/simple_tree.dart
  packages/two_dimensional_scrollables/lib/src/tree_view/tree.dart
  packages/two_dimensional_scrollables/lib/src/tree_view/tree_core.dart
  packages/two_dimensional_scrollables/lib/src/tree_view/tree_delegate.dart
  packages/two_dimensional_scrollables/pubspec.yaml
  packages/two_dimensional_scrollables/test/tree_view/render_tree_test.dart
  packages/two_dimensional_scrollables/test/tree_view/tree_test.dart
Labels: autosubmit

#6882 Revert "Migrate `video_player/android` from `SurfaceTexture`->`SurfaceProducer`."
  packages/video_player/video_player_android/CHANGELOG.md
  packages/video_player/video_player_android/android/src/main/java/io/flutter/plugins/videoplayer/VideoPlayer.java
  packages/video_player/video_player_android/android/src/main/java/io/flutter/plugins/videoplayer/VideoPlayerPlugin.java
  packages/video_player/video_player_android/android/src/test/java/io/flutter/plugins/videoplayer/VideoPlayerTest.java
  packages/video_player/video_player_android/example/android/app/src/test/java/io/flutter/plugins/videoplayerexample/FlutterActivityTest.java
  packages/video_player/video_player_android/pubspec.yaml
Labels: autosubmit, platform-android, p: video_player

#6535 [video_player_android] Migrate ExoPlayer to ExoPlayer-Media3 1.3.1
  packages/video_player/video_player_android/CHANGELOG.md
  packages/video_player/video_player_android/android/build.gradle
  packages/video_player/video_player_android/android/src/main/java/io/flutter/plugins/videoplayer/VideoPlayer.java
  packages/video_player/video_player_android/android/src/test/java/io/flutter/plugins/videoplayer/VideoPlayerTest.java
  packages/video_player/video_player_android/pubspec.yaml
Labels: autosubmit, platform-android, p: video_player, triage-android

#6881 [pigeon] Fix handling of null class args in C++
  packages/pigeon/CHANGELOG.md
  packages/pigeon/lib/cpp_generator.dart
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/integration_tests.dart
  packages/pigeon/platform_tests/test_plugin/windows/pigeon/core_tests.gen.cpp
  packages/pigeon/pubspec.yaml
  packages/pigeon/test/cpp_generator_test.dart
Labels: p: pigeon, autosubmit, platform-windows

#6890 Manual roll Flutter from 4608a8913767 to fc19ecfc585a (38 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6896 Roll Flutter from fc19ecfc585a to 32081aab69f8 (9 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6892 Change CODEOWNERS for metrics_center
  CODEOWNERS
Labels: autosubmit

#6899 [video_player] Try to address test flake
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/example/integration_test/video_player_test.dart
  packages/video_player/video_player/lib/video_player.dart
  packages/video_player/video_player/pubspec.yaml
Labels: warning: land on red to fix tree breakage, autosubmit, p: video_player

#6904 Ensure each code block specified in the markdown uses its own ScrollController.
  packages/flutter_markdown/CHANGELOG.md
  packages/flutter_markdown/lib/src/builder.dart
  packages/flutter_markdown/pubspec.yaml
  packages/flutter_markdown/test/scrollable_test.dart
Labels: p: flutter_markdown

#6907 Roll Flutter from 32081aab69f8 to 14df7be3f947 (21 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6865 [tool] Provide better CI feedback for combo PRs
  script/tool/lib/src/common/core.dart
  script/tool/lib/src/federation_safety_check_command.dart
  script/tool/lib/src/make_deps_path_based_command.dart
  script/tool/test/federation_safety_check_command_test.dart
Labels: autosubmit

#6891 Remove CODEOWNER for google_sign_in_ios and image_picker_ios
  CODEOWNERS
Labels: autosubmit

#6915 [rfw][ci] Skip failing `rfw` golden tests and manual roll
  .ci/flutter_master.version
  packages/rfw/test/material_widgets_test.dart
Labels: p: rfw, autosubmit

#6841 [go_router] Added proper `redirect` handling for `ShellRoute.$route` and `StatefulShellRoute.$route` for proper redirection handling in case of code generation
  packages/go_router/CHANGELOG.md
  packages/go_router/lib/src/route_data.dart
  packages/go_router/pubspec.yaml
  packages/go_router/test/route_data_test.dart
Labels: p: go_router

#6908 Refactor `VideoPlayer` to be less exposed to `EventChannel` & related
  packages/video_player/video_player_android/android/src/main/java/io/flutter/plugins/videoplayer/VideoPlayer.java
  packages/video_player/video_player_android/android/src/main/java/io/flutter/plugins/videoplayer/VideoPlayerCallbacks.java
  packages/video_player/video_player_android/android/src/main/java/io/flutter/plugins/videoplayer/VideoPlayerEventCallbacks.java
  packages/video_player/video_player_android/android/src/main/java/io/flutter/plugins/videoplayer/VideoPlayerPlugin.java
  packages/video_player/video_player_android/android/src/test/java/io/flutter/plugins/videoplayer/VideoPlayerTest.java
Labels: autosubmit, override: no versioning needed, override: no changelog needed, platform-android, p: video_player

#6921 Roll Flutter from b1f9d7131c8c to 01db23b82233 (15 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6922 Move `Player.Listener` impl, remove `@VisibleForTesting isInitialized`.
  packages/video_player/video_player_android/android/src/main/java/io/flutter/plugins/videoplayer/ExoPlayerEventListener.java
  packages/video_player/video_player_android/android/src/main/java/io/flutter/plugins/videoplayer/VideoPlayer.java
  packages/video_player/video_player_android/android/src/main/java/io/flutter/plugins/videoplayer/VideoPlayerEventCallbacks.java
  packages/video_player/video_player_android/android/src/test/java/io/flutter/plugins/videoplayer/VideoPlayerTest.java
Labels: autosubmit, override: no versioning needed, override: no changelog needed, platform-android, p: video_player

#6926 Roll Flutter from 01db23b82233 to 349ec7183cd0 (19 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6927 Roll Flutter from 349ec7183cd0 to 5187cab7bdd4 (7 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6642 [google_sign_in_web] README.md typo
  packages/google_sign_in/google_sign_in_web/CHANGELOG.md
  packages/google_sign_in/google_sign_in_web/README.md
  packages/google_sign_in/google_sign_in_web/pubspec.yaml
Labels: autosubmit, p: google_sign_in, platform-web

#6940 Roll Flutter from 5187cab7bdd4 to ccf3abe94047 (6 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6883 [flutter_markdown] fixes null check operator used on null value if onSelectionChanged is…
  packages/flutter_markdown/CHANGELOG.md
  packages/flutter_markdown/lib/src/builder.dart
  packages/flutter_markdown/pubspec.yaml
  packages/flutter_markdown/test/text_test.dart
Labels: p: flutter_markdown, autosubmit

#6946 [pigeon] Fully-qualify types in Equatable extension test
  packages/pigeon/CHANGELOG.md
  packages/pigeon/platform_tests/test_plugin/example/ios/Runner/AppDelegate.swift
  packages/pigeon/platform_tests/test_plugin/example/ios/RunnerTests/EnumTests.swift
Labels: p: pigeon, autosubmit, platform-ios

#6905 [google_maps_flutter] deprecate old BitmapDescriptor methods
  packages/google_maps_flutter/google_maps_flutter_platform_interface/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/bitmap.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/pubspec.yaml
Labels: autosubmit, p: google_maps_flutter

#6923 [many] More v1 embedding deletion that was missed in https://github.com/flutter/packages/pull/6494
  packages/espresso/CHANGELOG.md
  packages/espresso/android/src/main/java/androidx/test/espresso/flutter/action/FlutterViewAction.java
  packages/espresso/android/src/main/java/androidx/test/espresso/flutter/api/SyntheticAction.java
  packages/espresso/android/src/main/java/androidx/test/espresso/flutter/internal/protocol/impl/DartVmServiceUtil.java
  packages/espresso/android/src/main/java/androidx/test/espresso/flutter/matcher/FlutterMatchers.java
  packages/espresso/example/android/app/src/main/java/io/flutter/app/FlutterMultiDexApplication.java
  packages/espresso/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter/example/android/app/src/main/AndroidManifest.xml
  packages/google_maps_flutter/google_maps_flutter_android/example/android/app/src/main/AndroidManifest.xml
  packages/google_sign_in/google_sign_in_android/CHANGELOG.md
  packages/google_sign_in/google_sign_in_android/android/src/main/java/io/flutter/plugins/googlesignin/GoogleSignInPlugin.java
  packages/google_sign_in/google_sign_in_android/android/src/test/java/io/flutter/plugins/googlesignin/GoogleSignInLegacyMethodChannelTest.java
  packages/google_sign_in/google_sign_in_android/android/src/test/java/io/flutter/plugins/googlesignin/GoogleSignInTest.java
  packages/google_sign_in/google_sign_in_android/pubspec.yaml
  packages/image_picker/image_picker_android/android/src/test/java/io/flutter/plugins/imagepicker/ImagePickerPluginTest.java
  packages/in_app_purchase/in_app_purchase_android/android/src/test/java/io/flutter/plugins/inapppurchase/InAppPurchasePluginTest.java
  packages/palette_generator/example/android/app/src/main/AndroidManifest.xml
  packages/quick_actions/quick_actions/example/android/app/src/main/AndroidManifest.xml
  packages/quick_actions/quick_actions_android/example/android/app/src/main/AndroidManifest.xml
  packages/video_player/video_player_android/CHANGELOG.md
  packages/video_player/video_player_android/android/src/main/java/io/flutter/plugins/videoplayer/VideoPlayerPlugin.java
  packages/video_player/video_player_android/pubspec.yaml
  packages/webview_flutter/webview_flutter/example/android/app/src/main/AndroidManifest.xml
  packages/webview_flutter/webview_flutter_android/example/android/app/src/main/AndroidManifest.xml
Labels: p: palette_generator, autosubmit, override: no changelog needed, p: espresso, p: google_maps_flutter, p: google_sign_in, p: image_picker, p: in_app_purchase, p: quick_actions, platform-android, p: webview_flutter, p: video_player

#6954 Manual roll Flutter from ccf3abe94047 to 6c06abbb5576 (21 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6958 [google_maps_flutter] Move Android inspector to Pigeon
  packages/google_maps_flutter/google_maps_flutter_android/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_android/android/src/main/java/io/flutter/plugins/googlemaps/ClusterManagersController.java
  packages/google_maps_flutter/google_maps_flutter_android/android/src/main/java/io/flutter/plugins/googlemaps/Convert.java
  packages/google_maps_flutter/google_maps_flutter_android/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapController.java
  packages/google_maps_flutter/google_maps_flutter_android/android/src/main/java/io/flutter/plugins/googlemaps/Messages.java
  packages/google_maps_flutter/google_maps_flutter_android/android/src/main/java/io/flutter/plugins/googlemaps/TileOverlayController.java
  packages/google_maps_flutter/google_maps_flutter_android/android/src/main/java/io/flutter/plugins/googlemaps/TileOverlaysController.java
  packages/google_maps_flutter/google_maps_flutter_android/android/src/test/java/io/flutter/plugins/googlemaps/ClusterManagersControllerTest.java
  packages/google_maps_flutter/google_maps_flutter_android/android/src/test/java/io/flutter/plugins/googlemaps/ConvertTest.java
  packages/google_maps_flutter/google_maps_flutter_android/android/src/test/java/io/flutter/plugins/googlemaps/GoogleMapControllerTest.java
  packages/google_maps_flutter/google_maps_flutter_android/lib/src/google_map_inspector_android.dart
  packages/google_maps_flutter/google_maps_flutter_android/lib/src/google_maps_flutter_android.dart
  packages/google_maps_flutter/google_maps_flutter_android/lib/src/messages.g.dart
  packages/google_maps_flutter/google_maps_flutter_android/pigeons/copyright.txt
  packages/google_maps_flutter/google_maps_flutter_android/pigeons/messages.dart
  packages/google_maps_flutter/google_maps_flutter_android/pubspec.yaml
Labels: autosubmit, p: google_maps_flutter, platform-android

#6961 [quick_actions] Update to Pigeon 20
  packages/quick_actions/quick_actions_ios/CHANGELOG.md
  packages/quick_actions/quick_actions_ios/example/ios/RunnerTests/QuickActionsPluginTests.swift
  packages/quick_actions/quick_actions_ios/ios/quick_actions_ios/Sources/quick_actions_ios/messages.g.swift
  packages/quick_actions/quick_actions_ios/lib/messages.g.dart
  packages/quick_actions/quick_actions_ios/lib/quick_actions_ios.dart
  packages/quick_actions/quick_actions_ios/pubspec.yaml
Labels: autosubmit, p: quick_actions, platform-ios

#6964 Revert "Migrate `camera/android` from `SurfaceTexture`->`SurfaceProducer`."
  packages/camera/camera_android/CHANGELOG.md
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/Camera.java
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/MethodCallHandlerImpl.java
  packages/camera/camera_android/android/src/test/java/io/flutter/plugins/camera/CameraTest.java
  packages/camera/camera_android/android/src/test/java/io/flutter/plugins/camera/CameraTest_getRecordingProfileTest.java
  packages/camera/camera_android/pubspec.yaml
Labels: autosubmit, p: camera, platform-android

#6967 [google_maps_flutter] Partial Android host API Pigeon conversion
  packages/google_maps_flutter/google_maps_flutter_android/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_android/android/src/main/java/io/flutter/plugins/googlemaps/Convert.java
  packages/google_maps_flutter/google_maps_flutter_android/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapController.java
  packages/google_maps_flutter/google_maps_flutter_android/android/src/main/java/io/flutter/plugins/googlemaps/MarkersController.java
  packages/google_maps_flutter/google_maps_flutter_android/android/src/main/java/io/flutter/plugins/googlemaps/Messages.java
  packages/google_maps_flutter/google_maps_flutter_android/example/android/app/build.gradle
  packages/google_maps_flutter/google_maps_flutter_android/lib/src/google_maps_flutter_android.dart
  packages/google_maps_flutter/google_maps_flutter_android/lib/src/messages.g.dart
  packages/google_maps_flutter/google_maps_flutter_android/pigeons/messages.dart
  packages/google_maps_flutter/google_maps_flutter_android/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_android/test/google_maps_flutter_android_test.dart
  packages/google_maps_flutter/google_maps_flutter_android/test/google_maps_flutter_android_test.mocks.dart
Labels: autosubmit, p: google_maps_flutter, platform-android

#6902 [google_maps_flutter] Add iOS SDK 9.x support
  packages/google_maps_flutter/google_maps_flutter_ios/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios15/README.md
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios15/assets/2.0x/red_square.png
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios15/assets/3.0x/red_square.png
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios15/assets/night_mode.json
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios15/assets/red_square.png
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios15/ios/Flutter/AppFrameworkInfo.plist
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios15/ios/Flutter/Debug.xcconfig
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios15/ios/Flutter/Release.xcconfig
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios15/ios/Podfile
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios15/ios/Runner.xcodeproj/project.pbxproj
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios15/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios15/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios15/ios/Runner.xcworkspace/contents.xcworkspacedata
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios15/ios/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios15/ios/Runner/AppDelegate.h
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios15/ios/Runner/AppDelegate.m
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios15/ios/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios15/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-1024x1024@1x.png
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios15/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@1x.png
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios15/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@2x.png
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios15/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@3x.png
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios15/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@1x.png
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios15/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@2x.png
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios15/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@3x.png
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios15/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@1x.png
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios15/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@2x.png
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios15/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@3x.png
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios15/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@2x.png
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios15/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@3x.png
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios15/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@1x.png
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios15/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@2x.png
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios15/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-83.5x83.5@2x.png
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios15/ios/Runner/Assets.xcassets/LaunchImage.imageset/Contents.json
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios15/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage.png
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios15/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@2x.png
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios15/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@3x.png
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios15/ios/Runner/Assets.xcassets/LaunchImage.imageset/README.md
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios15/ios/Runner/Base.lproj/LaunchScreen.storyboard
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios15/ios/Runner/Base.lproj/Main.storyboard
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios15/ios/Runner/Info.plist
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios15/ios/Runner/main.m
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios15/ios/RunnerTests/GoogleMapsTests.m
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios15/ios/RunnerTests/Info.plist
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios15/ios/RunnerTests/PartiallyMockedMapView.h
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios15/ios/RunnerTests/PartiallyMockedMapView.m
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios15/ios/RunnerTests/assets/widegamut.png
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios15/lib/main.dart
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios15/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_ios/ios/google_maps_flutter_ios.podspec
  packages/google_maps_flutter/google_maps_flutter_ios/pubspec.yaml
Labels: autosubmit, p: google_maps_flutter, platform-ios

#6862 [in_app_purchase_storekit] Remove OCMock
  packages/in_app_purchase/in_app_purchase_storekit/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_storekit/darwin/Classes/FIAPPaymentQueueDelegate.h
  packages/in_app_purchase/in_app_purchase_storekit/darwin/Classes/FIAPPaymentQueueDelegate.m
  packages/in_app_purchase/in_app_purchase_storekit/darwin/Classes/FIAPReceiptManager.m
  packages/in_app_purchase/in_app_purchase_storekit/darwin/Classes/FIAPRequestHandler.h
  packages/in_app_purchase/in_app_purchase_storekit/darwin/Classes/FIAPRequestHandler.m
  packages/in_app_purchase/in_app_purchase_storekit/darwin/Classes/FIAPaymentQueueHandler.h
  packages/in_app_purchase/in_app_purchase_storekit/darwin/Classes/FIAPaymentQueueHandler.m
  packages/in_app_purchase/in_app_purchase_storekit/darwin/Classes/InAppPurchasePlugin.swift
  packages/in_app_purchase/in_app_purchase_storekit/darwin/Classes/Protocols/FLTMethodChannelProtocol.h
  packages/in_app_purchase/in_app_purchase_storekit/darwin/Classes/Protocols/FLTMethodChannelProtocol.m
  packages/in_app_purchase/in_app_purchase_storekit/darwin/Classes/Protocols/FLTPaymentQueueHandlerProtocol.h
  packages/in_app_purchase/in_app_purchase_storekit/darwin/Classes/Protocols/FLTPaymentQueueProtocol.h
  packages/in_app_purchase/in_app_purchase_storekit/darwin/Classes/Protocols/FLTPaymentQueueProtocol.m
  packages/in_app_purchase/in_app_purchase_storekit/darwin/Classes/Protocols/FLTRequestHandlerProtocol.h
  packages/in_app_purchase/in_app_purchase_storekit/darwin/Classes/Protocols/FLTRequestHandlerProtocol.m
  packages/in_app_purchase/in_app_purchase_storekit/darwin/Classes/Protocols/FLTTransactionCacheProtocol.h
  packages/in_app_purchase/in_app_purchase_storekit/darwin/Classes/Protocols/FLTTransactionCacheProtocol.m
  packages/in_app_purchase/in_app_purchase_storekit/darwin/Classes/in_app_purchase_storekit-Bridging-Header.h
  packages/in_app_purchase/in_app_purchase_storekit/example/ios/Podfile
  packages/in_app_purchase/in_app_purchase_storekit/example/ios/Runner.xcodeproj/project.pbxproj
  packages/in_app_purchase/in_app_purchase_storekit/example/ios/Runner/Configuration.storekit
  packages/in_app_purchase/in_app_purchase_storekit/example/macos/Podfile
  packages/in_app_purchase/in_app_purchase_storekit/example/macos/Runner.xcodeproj/project.pbxproj
  packages/in_app_purchase/in_app_purchase_storekit/example/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/in_app_purchase/in_app_purchase_storekit/example/macos/Runner.xcworkspace/contents.xcworkspacedata
  packages/in_app_purchase/in_app_purchase_storekit/example/shared/RunnerTests/FIAPPaymentQueueDeleteTests.m
  packages/in_app_purchase/in_app_purchase_storekit/example/shared/RunnerTests/InAppPurchasePluginTests.m
  packages/in_app_purchase/in_app_purchase_storekit/example/shared/RunnerTests/PaymentQueueTests.m
  packages/in_app_purchase/in_app_purchase_storekit/example/shared/RunnerTests/Stubs.h
  packages/in_app_purchase/in_app_purchase_storekit/example/shared/RunnerTests/Stubs.m
  packages/in_app_purchase/in_app_purchase_storekit/pubspec.yaml
Labels: p: in_app_purchase, platform-ios, platform-macos

#6510 [flutter_adaptive_scaffold] Allows for the animation duration to be adjusted using SlotLayout.from()
  packages/flutter_adaptive_scaffold/CHANGELOG.md
  packages/flutter_adaptive_scaffold/lib/src/slot_layout.dart
  packages/flutter_adaptive_scaffold/pubspec.yaml
  packages/flutter_adaptive_scaffold/test/adaptive_layout_test.dart
Labels: autosubmit, p: flutter_adaptive_scaffold

#6700 [multicast_dns] Optimized Socket Binding: Always bind to 0.0.0.0 for simplicity and efficiency - #79772
  packages/multicast_dns/CHANGELOG.md
  packages/multicast_dns/README.md
  packages/multicast_dns/lib/multicast_dns.dart
  packages/multicast_dns/pubspec.yaml
  packages/multicast_dns/test/client_test.dart
Labels: p: multicast_dns, autosubmit

#6979 [interactive_media_ads] Fix README badge image URL
  packages/interactive_media_ads/CHANGELOG.md
  packages/interactive_media_ads/README.md
  packages/interactive_media_ads/pubspec.yaml
Labels: autosubmit

#6987 Roll Flutter from 6c06abbb5576 to e726eb401c2c (51 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6984 [pigeon] Update testing and docs
  packages/pigeon/CONTRIBUTING.md
  packages/pigeon/tool/shared/test_runner.dart
Labels: p: pigeon, autosubmit, override: no changelog needed

#6982 Final refactor of `video_player_android` before `SurfaceProducer#setCallback`.
  packages/video_player/video_player_android/android/build.gradle
  packages/video_player/video_player_android/android/src/main/java/io/flutter/plugins/videoplayer/LocalVideoAsset.java
  packages/video_player/video_player_android/android/src/main/java/io/flutter/plugins/videoplayer/RemoteVideoAsset.java
  packages/video_player/video_player_android/android/src/main/java/io/flutter/plugins/videoplayer/VideoAsset.java
  packages/video_player/video_player_android/android/src/main/java/io/flutter/plugins/videoplayer/VideoPlayer.java
  packages/video_player/video_player_android/android/src/main/java/io/flutter/plugins/videoplayer/VideoPlayerEventCallbacks.java
  packages/video_player/video_player_android/android/src/main/java/io/flutter/plugins/videoplayer/VideoPlayerPlugin.java
  packages/video_player/video_player_android/android/src/test/java/io/flutter/plugins/videoplayer/ExoPlayerEventListenerTests.java
  packages/video_player/video_player_android/android/src/test/java/io/flutter/plugins/videoplayer/FakeVideoAsset.java
  packages/video_player/video_player_android/android/src/test/java/io/flutter/plugins/videoplayer/VideoAssetTest.java
  packages/video_player/video_player_android/android/src/test/java/io/flutter/plugins/videoplayer/VideoPlayerEventCallbacksTest.java
  packages/video_player/video_player_android/android/src/test/java/io/flutter/plugins/videoplayer/VideoPlayerTest.java
Labels: autosubmit, override: no versioning needed, override: no changelog needed, platform-android, p: video_player

#6992 [pigeon] Implement equals for Java data classes
  packages/pigeon/CHANGELOG.md
  packages/pigeon/example/app/android/app/src/main/java/io/flutter/plugins/Messages.java
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/lib/java_generator.dart
  packages/pigeon/platform_tests/alternate_language_test_plugin/android/src/main/java/com/example/alternate_language_test_plugin/CoreTests.java
  packages/pigeon/platform_tests/alternate_language_test_plugin/android/src/test/java/com/example/alternate_language_test_plugin/AllDatatypesTest.java
  packages/pigeon/pubspec.yaml
Labels: p: pigeon, autosubmit, platform-android

#6970 Update `web_benchmarks` package to properly support wasm.
  .ci.yaml
  packages/web_benchmarks/CHANGELOG.md
  packages/web_benchmarks/lib/server.dart
  packages/web_benchmarks/lib/src/compilation_options.dart
  packages/web_benchmarks/lib/src/runner.dart
  packages/web_benchmarks/pubspec.yaml
  packages/web_benchmarks/testing/test_app/web/index.html
  packages/web_benchmarks/testing/web_benchmarks_test.dart
Labels: p: web_benchmarks, autosubmit, platform-web

#6988 [interactive_media_ads] Updates `README` with a usage section and fix some interface docs
  packages/interactive_media_ads/CHANGELOG.md
  packages/interactive_media_ads/README.md
  packages/interactive_media_ads/android/src/main/kotlin/dev/flutter/packages/interactive_media_ads/AdsRequestProxyApi.kt
  packages/interactive_media_ads/example/android/app/src/main/AndroidManifest.xml
  packages/interactive_media_ads/example/lib/main.dart
  packages/interactive_media_ads/lib/src/ad_display_container.dart
  packages/interactive_media_ads/lib/src/ads_loader.dart
  packages/interactive_media_ads/lib/src/ads_manager_delegate.dart
  packages/interactive_media_ads/pubspec.yaml
Labels: autosubmit, platform-android

#6981 [ci] Add Wasm compilation to all_packages web app.
  .ci/scripts/create_all_packages_app.sh
  .ci/targets/web_build_all_packages.yaml
  script/configs/exclude_all_packages_app.yaml
  script/configs/exclude_all_packages_app_wasm.yaml
Labels: autosubmit

#6990 [video_player] Exposes VideoPlayerWebOptions.
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/lib/video_player.dart
  packages/video_player/video_player/pubspec.yaml
  packages/video_player/video_player/test/video_player_initialization_test.dart
  packages/video_player/video_player/test/video_player_test.dart
Labels: autosubmit, p: video_player

#7002 Manual roll Flutter from e726eb401c2c to 15f95ce0c38e (48 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#7010 [google_maps_flutter] Fix Obj-C type handling
  packages/google_maps_flutter/google_maps_flutter_ios/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios14/ios/RunnerTests/FLTGoogleMapJSONConversionsConversionTests.m
  packages/google_maps_flutter/google_maps_flutter_ios/ios/Classes/FLTGoogleMapJSONConversions.h
  packages/google_maps_flutter/google_maps_flutter_ios/ios/Classes/FLTGoogleMapJSONConversions.m
  packages/google_maps_flutter/google_maps_flutter_ios/ios/Classes/FLTGoogleMapTileOverlayController.m
  packages/google_maps_flutter/google_maps_flutter_ios/ios/Classes/GoogleMapCircleController.m
  packages/google_maps_flutter/google_maps_flutter_ios/ios/Classes/GoogleMapController.m
  packages/google_maps_flutter/google_maps_flutter_ios/ios/Classes/GoogleMapMarkerController.m
  packages/google_maps_flutter/google_maps_flutter_ios/ios/Classes/GoogleMapPolygonController.m
  packages/google_maps_flutter/google_maps_flutter_ios/ios/Classes/GoogleMapPolylineController.m
  packages/google_maps_flutter/google_maps_flutter_ios/pubspec.yaml
Labels: autosubmit, p: google_maps_flutter, platform-ios

#6983 [flutter_markdown] Add horizontal scroll for markdown table
  packages/flutter_markdown/CHANGELOG.md
  packages/flutter_markdown/lib/src/builder.dart
  packages/flutter_markdown/lib/src/style_sheet.dart
  packages/flutter_markdown/pubspec.yaml
  packages/flutter_markdown/test/scrollable_test.dart
Labels: p: flutter_markdown, autosubmit

#7013 Manual roll Flutter from 15f95ce0c38e to 651a17db5427 (7 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#7015 [video_player] Bumps web implementation dependency.
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/pubspec.yaml
Labels: autosubmit, p: video_player
