Repository flutter/packages, pull requests merged in 2024-03, with the labels that each got.

#5245 [camera_avfoundation] Set highest available resolution for ResolutionPreset.Max
  packages/camera/camera_avfoundation/CHANGELOG.md
  packages/camera/camera_avfoundation/example/ios/Runner.xcodeproj/project.pbxproj
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraSessionPresetsTests.m
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraTestUtils.h
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraTestUtils.m
  packages/camera/camera_avfoundation/ios/Classes/FLTCam.h
  packages/camera/camera_avfoundation/ios/Classes/FLTCam.m
  packages/camera/camera_avfoundation/ios/Classes/FLTCam_Test.h
  packages/camera/camera_avfoundation/pubspec.yaml
Labels: autosubmit, p: camera, platform-ios, platform-macos

#6239 Roll Flutter from ba719bc588ed to 65cd84b58885 (5 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6228 [webview_flutter] Make WebKitWebViewWidget unit tests stateless
  packages/webview_flutter/webview_flutter_wkwebview/test/legacy/web_kit_webview_widget_test.dart
Labels: autosubmit, platform-ios, p: webview_flutter

#6225 [flutter_markdown] Fix WidgetSpan Support in MarkdownElementBuilder
  packages/flutter_markdown/CHANGELOG.md
  packages/flutter_markdown/lib/src/builder.dart
  packages/flutter_markdown/pubspec.yaml
  packages/flutter_markdown/test/custom_syntax_test.dart
  packages/flutter_markdown/test/inline_widget_test.dart
Labels: p: flutter_markdown, autosubmit

#5959 [pigeon] Separates message call code generation into separate methods in the SwiftGenerator
  packages/pigeon/CHANGELOG.md
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/lib/swift_generator.dart
  packages/pigeon/pubspec.yaml
Labels: p: pigeon, autosubmit

#6265 [in_app_purchase_storekit] Fix type of error code returned from native code in `SKReceiptManager.retrieveReceiptData`
  packages/in_app_purchase/in_app_purchase_storekit/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_storekit/darwin/Classes/FIAPReceiptManager.m
  packages/in_app_purchase/in_app_purchase_storekit/example/shared/RunnerTests/InAppPurchasePluginTests.m
  packages/in_app_purchase/in_app_purchase_storekit/pubspec.yaml
Labels: p: in_app_purchase, platform-ios, platform-macos

#6269 Roll Flutter from 65cd84b58885 to 3b5a2ecf992d (26 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6273 [web] Use TrustedTypes from pkg web.
  packages/google_identity_services_web/CHANGELOG.md
  packages/google_identity_services_web/example/pubspec.yaml
  packages/google_identity_services_web/lib/src/js_interop/package_web_tweaks.dart
  packages/google_identity_services_web/lib/src/js_loader.dart
  packages/google_identity_services_web/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_web/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/convert.dart
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/dom_window_extension.dart
  packages/google_maps_flutter/google_maps_flutter_web/pubspec.yaml
Labels: warning: land on red to fix tree breakage, autosubmit, p: google_maps_flutter, platform-web

#6218 [tool] Add features to support GCB auto-publish flow
  script/tool/lib/src/common/package_command.dart
  script/tool/lib/src/publish_command.dart
  script/tool/test/common/package_command_test.dart
  script/tool/test/publish_command_test.dart
Labels: autosubmit

#6272 [rfw] Change test coverage logic to enforce 100% coverage
  packages/rfw/CHANGELOG.md
  packages/rfw/lib/src/flutter/core_widgets.dart
  packages/rfw/lib/src/flutter/runtime.dart
  packages/rfw/test/core_widgets_test.dart
  packages/rfw/test_coverage/bin/test_coverage.dart
Labels: p: rfw, autosubmit, override: no versioning needed, override: no changelog needed

#5800 [video_player_web] migrates to package:web
  packages/video_player/video_player_web/CHANGELOG.md
  packages/video_player/video_player_web/example/integration_test/pkg_web_tweaks.dart
  packages/video_player/video_player_web/example/integration_test/utils.dart
  packages/video_player/video_player_web/example/integration_test/video_player_test.dart
  packages/video_player/video_player_web/example/pubspec.yaml
  packages/video_player/video_player_web/lib/src/pkg_web_tweaks.dart
  packages/video_player/video_player_web/lib/src/video_player.dart
  packages/video_player/video_player_web/lib/video_player_web.dart
  packages/video_player/video_player_web/pubspec.yaml
Labels: autosubmit, platform-web, p: video_player

#5799 [image_picker_for_web] migrates to package:web
  packages/image_picker/image_picker_for_web/CHANGELOG.md
  packages/image_picker/image_picker_for_web/example/integration_test/image_picker_for_web_test.dart
  packages/image_picker/image_picker_for_web/example/integration_test/image_resizer_test.dart
  packages/image_picker/image_picker_for_web/example/pubspec.yaml
  packages/image_picker/image_picker_for_web/lib/image_picker_for_web.dart
  packages/image_picker/image_picker_for_web/lib/src/image_resizer.dart
  packages/image_picker/image_picker_for_web/lib/src/pkg_web_tweaks.dart
  packages/image_picker/image_picker_for_web/pubspec.yaml
Labels: autosubmit, p: image_picker, platform-web

#6276 Roll Flutter from 3b5a2ecf992d to 8f84f3f32ddc (18 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6277 [in_app_purchase_storekit] Handle translation of errors nested in dictionaries
  packages/in_app_purchase/in_app_purchase_storekit/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_storekit/darwin/Classes/FIAObjectTranslator.m
  packages/in_app_purchase/in_app_purchase_storekit/example/shared/RunnerTests/TranslatorTests.m
  packages/in_app_purchase/in_app_purchase_storekit/pubspec.yaml
Labels: p: in_app_purchase, platform-ios, platform-macos

#5907 [rfw] Add support for widget builders
  packages/rfw/CHANGELOG.md
  packages/rfw/lib/src/dart/binary.dart
  packages/rfw/lib/src/dart/model.dart
  packages/rfw/lib/src/dart/text.dart
  packages/rfw/lib/src/flutter/runtime.dart
  packages/rfw/pubspec.yaml
  packages/rfw/test/binary_test.dart
  packages/rfw/test/runtime_test.dart
  packages/rfw/test/text_test.dart
Labels: p: rfw, autosubmit

#6281 Roll Flutter from 8f84f3f32ddc to 471a82856d86 (27 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6283 [two_dimensional_scrollables] Fix another combo of pinned/unpinned merged TableViewCells
  packages/two_dimensional_scrollables/CHANGELOG.md
  packages/two_dimensional_scrollables/lib/src/table_view/table.dart
  packages/two_dimensional_scrollables/pubspec.yaml
  packages/two_dimensional_scrollables/test/table_view/table_test.dart
Labels: autosubmit, p: two_dimensional_scrollables

#6287 Roll Flutter (stable) from 7482962148e8 to ba3931984302 (2 revisions)
  .ci/flutter_stable.version
Labels: autosubmit

#6288 Roll Flutter from 471a82856d86 to 7c89ec8bbc6d (15 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6162 [in_app_purchase_android] Add UserChoiceBilling mode.
  packages/in_app_purchase/in_app_purchase_android/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_android/android/src/main/java/io/flutter/plugins/inapppurchase/BillingClientFactory.java
  packages/in_app_purchase/in_app_purchase_android/android/src/main/java/io/flutter/plugins/inapppurchase/BillingClientFactoryImpl.java
  packages/in_app_purchase/in_app_purchase_android/android/src/main/java/io/flutter/plugins/inapppurchase/MethodCallHandlerImpl.java
  packages/in_app_purchase/in_app_purchase_android/android/src/main/java/io/flutter/plugins/inapppurchase/Translator.java
  packages/in_app_purchase/in_app_purchase_android/android/src/test/java/io/flutter/plugins/inapppurchase/MethodCallHandlerTest.java
  packages/in_app_purchase/in_app_purchase_android/example/integration_test/in_app_purchase_test.dart
  packages/in_app_purchase/in_app_purchase_android/example/lib/main.dart
  packages/in_app_purchase/in_app_purchase_android/lib/billing_client_wrappers.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/billing_client_wrappers/billing_client_manager.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/billing_client_wrappers/billing_client_wrapper.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/billing_client_wrappers/billing_client_wrapper.g.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/billing_client_wrappers/user_choice_details_wrapper.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/billing_client_wrappers/user_choice_details_wrapper.g.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/in_app_purchase_android_platform_addition.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/types/google_play_user_choice_details.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/types/translator.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/types/types.dart
  packages/in_app_purchase/in_app_purchase_android/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_android/test/billing_client_wrappers/billing_client_manager_test.dart
  packages/in_app_purchase/in_app_purchase_android/test/billing_client_wrappers/billing_client_wrapper_test.dart
  packages/in_app_purchase/in_app_purchase_android/test/in_app_purchase_android_platform_addition_test.dart
  packages/in_app_purchase/in_app_purchase_android/test/types/translator_test.dart
Labels: autosubmit, p: in_app_purchase, platform-android

#6304 Manual roll Flutter from 3bb2e5948e7a to 1ca88730a0c1 (11 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6305 Roll Flutter from 1ca88730a0c1 to 61812ca3eb13 (1 revision)
  .ci/flutter_master.version
Labels: autosubmit

#6320 Manual roll Flutter from 61812ca3eb13 to 394269f9ea2e (6 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6302 Support overriding `ErrorWidget.builder`
  packages/rfw/.gitignore
  packages/rfw/CHANGELOG.md
  packages/rfw/lib/src/flutter/runtime.dart
  packages/rfw/pubspec.yaml
  packages/rfw/test/runtime_test.dart
Labels: p: rfw, autosubmit

#6069 [google_maps_flutter] Started dispatching platform messages from platform thread
  packages/google_maps_flutter/google_maps_flutter_ios/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios12/ios/Runner.xcodeproj/project.pbxproj
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios12/ios/RunnerTests/FLTTileProviderControllerTests.m
  packages/google_maps_flutter/google_maps_flutter_ios/ios/Classes/FLTGoogleMapTileOverlayController.m
  packages/google_maps_flutter/google_maps_flutter_ios/pubspec.yaml
Labels: autosubmit, p: google_maps_flutter, platform-ios

#6233 [image_picker_android] Fix deprecation warnings by branching based on build version, and suppressing only when needed
  packages/image_picker/image_picker_android/CHANGELOG.md
  packages/image_picker/image_picker_android/android/src/main/java/io/flutter/plugins/imagepicker/ImagePickerDelegate.java
  packages/image_picker/image_picker_android/android/src/main/java/io/flutter/plugins/imagepicker/ImagePickerUtils.java
  packages/image_picker/image_picker_android/pubspec.yaml
Labels: autosubmit, p: image_picker, platform-android

#6149 [webview_flutter_android][webview_flutter_wkwebview] Adds platform implementations for onHttpError
  packages/webview_flutter/webview_flutter_android/CHANGELOG.md
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/GeneratedAndroidWebView.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebViewClientFlutterApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebViewClientHostApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/WebViewClientTest.java
  packages/webview_flutter/webview_flutter_android/example/integration_test/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter_android/example/lib/main.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_proxy.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview.g.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview_api_impls.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview_controller.dart
  packages/webview_flutter/webview_flutter_android/pigeons/android_webview.dart
  packages/webview_flutter/webview_flutter_android/pubspec.yaml
  packages/webview_flutter/webview_flutter_android/test/android_navigation_delegate_test.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_controller_test.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_controller_test.mocks.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_test.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_test.mocks.dart
  packages/webview_flutter/webview_flutter_android/test/legacy/webview_android_widget_test.mocks.dart
  packages/webview_flutter/webview_flutter_wkwebview/CHANGELOG.md
  packages/webview_flutter/webview_flutter_wkwebview/example/integration_test/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/RunnerTests/FWFDataConvertersTests.m
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/RunnerTests/FWFNavigationDelegateHostApiTests.m
  packages/webview_flutter/webview_flutter_wkwebview/example/lib/main.dart
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFDataConverters.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFDataConverters.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFGeneratedWebKitApis.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFGeneratedWebKitApis.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFNavigationDelegateHostApi.m
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/common/web_kit.g.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/foundation/foundation.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/web_kit/web_kit.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/web_kit/web_kit_api_impls.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/webkit_proxy.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/webkit_webview_controller.dart
  packages/webview_flutter/webview_flutter_wkwebview/pigeons/web_kit.dart
  packages/webview_flutter/webview_flutter_wkwebview/pubspec.yaml
  packages/webview_flutter/webview_flutter_wkwebview/test/legacy/web_kit_cookie_manager_test.mocks.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/legacy/web_kit_webview_widget_test.mocks.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/common/test_web_kit.g.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/foundation/foundation_test.mocks.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/ui_kit/ui_kit_test.mocks.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit/web_kit_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit/web_kit_test.mocks.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/webkit_navigation_delegate_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/webkit_webview_controller_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/webkit_webview_controller_test.mocks.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/webkit_webview_cookie_manager_test.mocks.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/webkit_webview_widget_test.mocks.dart
Labels: autosubmit, platform-android, platform-ios, p: webview_flutter, federated: partial_changes

#6263 [pigeon] Fixes double prefixes added to enum names for Objc HostApis and FlutterApis
  packages/pigeon/CHANGELOG.md
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/lib/objc_generator.dart
  packages/pigeon/platform_tests/alternate_language_test_plugin/example/ios/RunnerTests/AllDatatypesTest.m
  packages/pigeon/platform_tests/alternate_language_test_plugin/example/ios/RunnerTests/AsyncHandlersTest.m
  packages/pigeon/platform_tests/alternate_language_test_plugin/example/ios/RunnerTests/ListTest.m
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/AlternateLanguageTestPlugin.h
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/AlternateLanguageTestPlugin.m
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/CoreTests.gen.h
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/CoreTests.gen.m
  packages/pigeon/pubspec.yaml
  packages/pigeon/test/objc_generator_test.dart
  packages/pigeon/tool/shared/generation.dart
Labels: p: pigeon, autosubmit, platform-ios

#6318 [camera_web][google_maps_flutter] Fix tests throwing errors after test completion with manual roll
  .ci/flutter_master.version
  packages/camera/camera_web/example/integration_test/camera_web_test.dart
  packages/google_maps_flutter/google_maps_flutter_web/example/integration_test/projection_test.dart
  script/configs/exclude_integration_web.yaml
Labels: autosubmit, p: camera, p: google_maps_flutter, platform-web

#6210 [go_router] Use `leak_tracker_flutter_testing`
  packages/go_router/CHANGELOG.md
  packages/go_router/example/pubspec.yaml
  packages/go_router/lib/src/builder.dart
  packages/go_router/pubspec.yaml
  packages/go_router/test/builder_test.dart
  packages/go_router/test/custom_transition_page_test.dart
  packages/go_router/test/delegate_test.dart
  packages/go_router/test/extension_test.dart
  packages/go_router/test/extra_codec_test.dart
  packages/go_router/test/go_router_test.dart
  packages/go_router/test/helpers/error_screen_helpers.dart
  packages/go_router/test/inherited_test.dart
  packages/go_router/test/name_case_test.dart
  packages/go_router/test/parser_test.dart
  packages/go_router/test/route_data_test.dart
  packages/go_router/test/routing_config_test.dart
  packages/go_router/test/test_helpers.dart
Labels: p: go_router

#6333 [pigeon]Add hellohuanlin to pigeon iOS for code reviews
  CODEOWNERS
Labels: autosubmit

#6342 [pointer_interceptor_web] Skip broken semantics tests and do a manual roll
  .ci/flutter_master.version
  packages/pointer_interceptor/pointer_interceptor_web/example/integration_test/widget_test.dart
Labels: p: pointer_interceptor, autosubmit, platform-web

#6345 Roll Flutter from 71606af8d82e to 7c860ddf9705 (21 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6169 [flutter_markdown] Adds onSelectionChanged in Markdown
  packages/flutter_markdown/CHANGELOG.md
  packages/flutter_markdown/README.md
  packages/flutter_markdown/lib/src/builder.dart
  packages/flutter_markdown/lib/src/widget.dart
  packages/flutter_markdown/pubspec.yaml
  packages/flutter_markdown/test/text_test.dart
  packages/flutter_markdown/test/utils.dart
Labels: p: flutter_markdown, autosubmit

#6350 Roll Flutter from 7c860ddf9705 to f217fc173918 (9 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6356 Roll Flutter from f217fc173918 to d31a85ba5c5e (23 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6043 [pigeon] Adds Dart implementation of ProxyApi
  packages/pigeon/CHANGELOG.md
  packages/pigeon/lib/ast.dart
  packages/pigeon/lib/dart/templates.dart
  packages/pigeon/lib/dart_generator.dart
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/lib/objc_generator.dart
  packages/pigeon/lib/pigeon.dart
  packages/pigeon/lib/pigeon_lib.dart
  packages/pigeon/pigeons/proxy_api_tests.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/proxy_api_tests.gen.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/test/instance_manager_test.dart
  packages/pigeon/pubspec.yaml
  packages/pigeon/test/dart/proxy_api_test.dart
  packages/pigeon/test/generator_tools_test.dart
  packages/pigeon/tool/shared/generation.dart
  script/configs/allowed_unpinned_deps.yaml
Labels: p: pigeon, autosubmit

#5815 [flutter_markdown] Allow for custom block element
  packages/flutter_markdown/CHANGELOG.md
  packages/flutter_markdown/lib/src/builder.dart
  packages/flutter_markdown/lib/src/widget.dart
  packages/flutter_markdown/pubspec.yaml
  packages/flutter_markdown/test/custom_syntax_test.dart
Labels: p: flutter_markdown, autosubmit

#6352 [camerax] Update README to encourage users to opt in
  packages/camera/camera_android_camerax/CHANGELOG.md
  packages/camera/camera_android_camerax/README.md
  packages/camera/camera_android_camerax/pubspec.yaml
Labels: autosubmit, p: camera

#6359 Roll Flutter from d31a85ba5c5e to b96c13d1e9ff (19 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6353 [camera_android] Update README to encourage users to use CameraX implementation
  packages/camera/camera_android/CHANGELOG.md
  packages/camera/camera_android/README.md
  packages/camera/camera_android/pubspec.yaml
Labels: autosubmit, p: camera, platform-android

#6289 [adaptive_scaffold] : 🐛 #141938 - Drawer stays open even on destination tap.
  packages/flutter_adaptive_scaffold/AUTHORS
  packages/flutter_adaptive_scaffold/CHANGELOG.md
  packages/flutter_adaptive_scaffold/lib/src/adaptive_scaffold.dart
  packages/flutter_adaptive_scaffold/pubspec.yaml
  packages/flutter_adaptive_scaffold/test/adaptive_scaffold_test.dart
Labels: autosubmit, p: flutter_adaptive_scaffold

#6360 [adaptive_scaffold] : 🐛 : #110902 : Assertion added when try with less that 2 destinations.
  packages/flutter_adaptive_scaffold/CHANGELOG.md
  packages/flutter_adaptive_scaffold/lib/src/adaptive_scaffold.dart
  packages/flutter_adaptive_scaffold/pubspec.yaml
  packages/flutter_adaptive_scaffold/test/adaptive_scaffold_test.dart
Labels: autosubmit, p: flutter_adaptive_scaffold

#6364 [flutter_adaptive_scaffold] Remove broken link from README
  packages/flutter_adaptive_scaffold/CHANGELOG.md
  packages/flutter_adaptive_scaffold/README.md
  packages/flutter_adaptive_scaffold/pubspec.yaml
Labels: autosubmit, p: flutter_adaptive_scaffold

#6368 Roll Flutter (stable) from ba3931984302 to 68bfaea22488 (2 revisions)
  .ci/flutter_stable.version
Labels: autosubmit

#6370 Roll Flutter from b96c13d1e9ff to 18340ea16cee (26 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6376 Roll Flutter from 18340ea16cee to 14774b95c250 (20 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6372 [pigeon] Adds @SwiftClass annotation
  packages/pigeon/CHANGELOG.md
  packages/pigeon/README.md
  packages/pigeon/lib/ast.dart
  packages/pigeon/lib/cpp_generator.dart
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/lib/pigeon_lib.dart
  packages/pigeon/lib/swift_generator.dart
  packages/pigeon/pigeons/core_tests.dart
  packages/pigeon/platform_tests/alternate_language_test_plugin/android/src/main/java/com/example/alternate_language_test_plugin/AlternateLanguageTestPlugin.java
  packages/pigeon/platform_tests/alternate_language_test_plugin/android/src/main/java/com/example/alternate_language_test_plugin/CoreTests.java
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/AlternateLanguageTestPlugin.m
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/CoreTests.gen.h
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/CoreTests.gen.m
  packages/pigeon/platform_tests/alternate_language_test_plugin/macos/Classes/AlternateLanguageTestPlugin.m
  packages/pigeon/platform_tests/alternate_language_test_plugin/macos/Classes/CoreTests.gen.h
  packages/pigeon/platform_tests/alternate_language_test_plugin/macos/Classes/CoreTests.gen.m
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/integration_tests.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/core_tests.gen.dart
  packages/pigeon/platform_tests/test_plugin/android/src/main/kotlin/com/example/test_plugin/CoreTests.gen.kt
  packages/pigeon/platform_tests/test_plugin/android/src/main/kotlin/com/example/test_plugin/TestPlugin.kt
  packages/pigeon/platform_tests/test_plugin/android/src/test/kotlin/com/example/test_plugin/AllDatatypesTest.kt
  packages/pigeon/platform_tests/test_plugin/ios/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/ios/Classes/TestPlugin.swift
  packages/pigeon/platform_tests/test_plugin/macos/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/macos/Classes/TestPlugin.swift
  packages/pigeon/platform_tests/test_plugin/windows/pigeon/core_tests.gen.cpp
  packages/pigeon/platform_tests/test_plugin/windows/pigeon/core_tests.gen.h
  packages/pigeon/platform_tests/test_plugin/windows/test_plugin.cpp
  packages/pigeon/platform_tests/test_plugin/windows/test_plugin.h
  packages/pigeon/pubspec.yaml
  packages/pigeon/test/cpp_generator_test.dart
Labels: p: pigeon, autosubmit, platform-android, platform-ios, platform-macos, platform-windows

#6400 [flutter_lints] Updates various links
  packages/flutter_lints/CHANGELOG.md
  packages/flutter_lints/README.md
  packages/flutter_lints/example/analysis_options.yaml
  packages/flutter_lints/pubspec.yaml
Labels: p: flutter_lints, autosubmit

#6377 [google_maps_flutter] Fix ios tile overlay not loading when dealing with wide gamut images
  packages/google_maps_flutter/google_maps_flutter_ios/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios12/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios14/ios/Runner.xcodeproj/project.pbxproj
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios14/ios/RunnerTests/GoogleMapsTests.m
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios14/ios/RunnerTests/assets/widegamut.png
  packages/google_maps_flutter/google_maps_flutter_ios/ios/Classes/FLTGoogleMapTileOverlayController.m
  packages/google_maps_flutter/google_maps_flutter_ios/pubspec.yaml
Labels: p: google_maps_flutter, platform-ios

#6357 [camerax] Use `AspectRatioStrategy` to help automatic selection of expected resolution
  packages/camera/camera_android_camerax/CHANGELOG.md
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/CameraAndroidCameraxPlugin.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/GeneratedCameraXLibrary.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/ResolutionFilterHostApiImpl.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/ResolutionSelectorHostApiImpl.java
  packages/camera/camera_android_camerax/android/src/test/java/io/flutter/plugins/camerax/ResolutionFilterTest.java
  packages/camera/camera_android_camerax/android/src/test/java/io/flutter/plugins/camerax/ResolutionSelectorTest.java
  packages/camera/camera_android_camerax/lib/src/android_camera_camerax.dart
  packages/camera/camera_android_camerax/lib/src/camerax_library.g.dart
  packages/camera/camera_android_camerax/lib/src/camerax_proxy.dart
  packages/camera/camera_android_camerax/lib/src/resolution_filter.dart
  packages/camera/camera_android_camerax/lib/src/resolution_selector.dart
  packages/camera/camera_android_camerax/lib/src/zoom_state.dart
  packages/camera/camera_android_camerax/pigeons/camerax_library.dart
  packages/camera/camera_android_camerax/pubspec.yaml
  packages/camera/camera_android_camerax/test/android_camera_camerax_test.dart
  packages/camera/camera_android_camerax/test/android_camera_camerax_test.mocks.dart
  packages/camera/camera_android_camerax/test/resolution_filter_test.dart
  packages/camera/camera_android_camerax/test/resolution_filter_test.mocks.dart
  packages/camera/camera_android_camerax/test/resolution_selector_test.dart
  packages/camera/camera_android_camerax/test/resolution_selector_test.mocks.dart
  packages/camera/camera_android_camerax/test/test_camerax_library.g.dart
Labels: autosubmit, p: camera, platform-android

#6416 [ci] Temporarily allow-warnings in podspec_check_command.dart
  script/tool/lib/src/podspec_check_command.dart
  script/tool/test/podspec_check_command_test.dart
Labels: autosubmit

#6430 [google_sign_in_ios] Pins GoogleSignIn to 7.0.0 in podspec.
  packages/google_sign_in/google_sign_in_ios/CHANGELOG.md
  packages/google_sign_in/google_sign_in_ios/darwin/google_sign_in_ios.podspec
  packages/google_sign_in/google_sign_in_ios/pubspec.yaml
Labels: warning: land on red to fix tree breakage, autosubmit, p: google_sign_in, platform-ios, platform-macos

#6236 [go_router]: fix GoRouter.optionURLReflectsImperativeAPIs flag works with new imperative APIs
  packages/go_router/CHANGELOG.md
  packages/go_router/lib/src/parser.dart
  packages/go_router/pubspec.yaml
  packages/go_router/test/go_router_test.dart
Labels: p: go_router, autosubmit

#6405 [ci] Adds sleep 60s to release action.
  .github/workflows/release.yml
Labels: autosubmit

#6431 Manual roll Flutter from dbdcead93225 to 89ea49204b37 (54 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6433 Manual roll Flutter (stable) from 68bfaea22488 to 300451adae58 (2 revisions)
  .ci/flutter_stable.version
Labels: autosubmit

#6332 [shared_preferences] Update mockito to the new version available 5.2.0
  packages/shared_preferences/shared_preferences_android/CHANGELOG.md
  packages/shared_preferences/shared_preferences_android/android/build.gradle
Labels: platform-android, p: shared_preferences

#6411 [two_dimensional_scrollables] Infinite TableView
  packages/two_dimensional_scrollables/CHANGELOG.md
  packages/two_dimensional_scrollables/lib/src/table_view/table.dart
  packages/two_dimensional_scrollables/lib/src/table_view/table_delegate.dart
  packages/two_dimensional_scrollables/pubspec.yaml
  packages/two_dimensional_scrollables/test/table_view/table_test.dart
Labels: autosubmit, p: two_dimensional_scrollables

#6436 Roll Flutter from 89ea49204b37 to 85288818b59e (11 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6440 Roll Flutter from 85288818b59e to d12ba5c270d8 (21 revisions)
  .ci/flutter_master.version
Labels: autosubmit
