Repository flutter/packages, pull requests merged in 2024-08, with the labels that each got.

#7259 Manual roll Flutter from 031dc3d156b9 to 4d12197ca68d (12 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#7266 [ci] version_check_command now checks markdown of first CHANGELOG line.
  packages/google_maps_flutter/google_maps_flutter_web/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_web/pubspec.yaml
  packages/interactive_media_ads/CHANGELOG.md
  packages/interactive_media_ads/android/src/main/kotlin/dev/flutter/packages/interactive_media_ads/AdsRequestProxyApi.kt
  packages/interactive_media_ads/ios/interactive_media_ads/Sources/interactive_media_ads/AdsRequestProxyAPIDelegate.swift
  packages/interactive_media_ads/pubspec.yaml
  script/tool/lib/src/version_check_command.dart
  script/tool/test/version_check_command_test.dart
Labels: autosubmit, p: google_maps_flutter, platform-android, platform-ios, platform-web

#7270 Manual roll Flutter from 4d12197ca68d to f817e51a3a34 (7 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6267 [local_auth_darwin] macOS Support
  AUTHORS
  packages/local_auth/local_auth_darwin/CHANGELOG.md
  packages/local_auth/local_auth_darwin/README.md
  packages/local_auth/local_auth_darwin/darwin/Tests/FLALocalAuthPluginTests.swift
  packages/local_auth/local_auth_darwin/darwin/local_auth_darwin.podspec
  packages/local_auth/local_auth_darwin/darwin/local_auth_darwin/Sources/local_auth_darwin/FLALocalAuthPlugin.m
  packages/local_auth/local_auth_darwin/darwin/local_auth_darwin/Sources/local_auth_darwin/include/local_auth_darwin/FLALocalAuthPlugin.h
  packages/local_auth/local_auth_darwin/darwin/local_auth_darwin/Sources/local_auth_darwin/include/local_auth_darwin/FLALocalAuthPlugin_Test.h
  packages/local_auth/local_auth_darwin/darwin/local_auth_darwin/Sources/local_auth_darwin/include/local_auth_darwin/messages.g.h
  packages/local_auth/local_auth_darwin/darwin/local_auth_darwin/Sources/local_auth_darwin/messages.g.m
  packages/local_auth/local_auth_darwin/example/.gitignore
  packages/local_auth/local_auth_darwin/example/.metadata
  packages/local_auth/local_auth_darwin/example/macos/.gitignore
  packages/local_auth/local_auth_darwin/example/macos/Flutter/Flutter-Debug.xcconfig
  packages/local_auth/local_auth_darwin/example/macos/Flutter/Flutter-Release.xcconfig
  packages/local_auth/local_auth_darwin/example/macos/Podfile
  packages/local_auth/local_auth_darwin/example/macos/Runner.xcodeproj/project.pbxproj
  packages/local_auth/local_auth_darwin/example/macos/Runner.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  packages/local_auth/local_auth_darwin/example/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/local_auth/local_auth_darwin/example/macos/Runner.xcworkspace/contents.xcworkspacedata
  packages/local_auth/local_auth_darwin/example/macos/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  packages/local_auth/local_auth_darwin/example/macos/Runner/AppDelegate.swift
  packages/local_auth/local_auth_darwin/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
  packages/local_auth/local_auth_darwin/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_1024.png
  packages/local_auth/local_auth_darwin/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_128.png
  packages/local_auth/local_auth_darwin/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_16.png
  packages/local_auth/local_auth_darwin/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_256.png
  packages/local_auth/local_auth_darwin/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_32.png
  packages/local_auth/local_auth_darwin/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_512.png
  packages/local_auth/local_auth_darwin/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_64.png
  packages/local_auth/local_auth_darwin/example/macos/Runner/Base.lproj/MainMenu.xib
  packages/local_auth/local_auth_darwin/example/macos/Runner/Configs/AppInfo.xcconfig
  packages/local_auth/local_auth_darwin/example/macos/Runner/Configs/Debug.xcconfig
  packages/local_auth/local_auth_darwin/example/macos/Runner/Configs/Release.xcconfig
  packages/local_auth/local_auth_darwin/example/macos/Runner/Configs/Warnings.xcconfig
  packages/local_auth/local_auth_darwin/example/macos/Runner/DebugProfile.entitlements
  packages/local_auth/local_auth_darwin/example/macos/Runner/Info.plist
  packages/local_auth/local_auth_darwin/example/macos/Runner/MainFlutterWindow.swift
  packages/local_auth/local_auth_darwin/example/macos/Runner/Release.entitlements
  packages/local_auth/local_auth_darwin/lib/local_auth_darwin.dart
  packages/local_auth/local_auth_darwin/lib/src/messages.g.dart
  packages/local_auth/local_auth_darwin/lib/types/auth_messages_macos.dart
  packages/local_auth/local_auth_darwin/pigeons/messages.dart
  packages/local_auth/local_auth_darwin/pubspec.yaml
  packages/local_auth/local_auth_darwin/test/local_auth_darwin_test.dart
Labels: autosubmit, p: local_auth, platform-ios, platform-macos, triage-ios, triage-macos

#7268 [shared_preferences] fix stringlist bug
  packages/shared_preferences/shared_preferences/CHANGELOG.md
  packages/shared_preferences/shared_preferences/example/integration_test/shared_preferences_test.dart
  packages/shared_preferences/shared_preferences/lib/src/shared_preferences_async.dart
  packages/shared_preferences/shared_preferences/pubspec.yaml
Labels: autosubmit, p: shared_preferences

#7272 [various] Clean up C++ formatting
  packages/camera/camera_windows/windows/capture_controller.cpp
  packages/camera/camera_windows/windows/test/mocks.h
  packages/local_auth/local_auth_windows/windows/local_auth_plugin.cpp
  packages/local_auth/local_auth_windows/windows/test/mocks.h
Labels: autosubmit, override: no versioning needed, override: no changelog needed, p: camera, p: local_auth, platform-windows

#7282 [google_maps_flutter] Switch Android examples to TLHC
  packages/google_maps_flutter/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter/example/lib/main.dart
  packages/google_maps_flutter/google_maps_flutter/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_android/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_android/example/lib/main.dart
  packages/google_maps_flutter/google_maps_flutter_android/pubspec.yaml
Labels: autosubmit, p: google_maps_flutter, platform-android

#6308 [go_router] Documentation for StatefulShellRoute
  packages/go_router/CHANGELOG.md
  packages/go_router/doc/configuration.md
  packages/go_router/example/lib/stateful_shell_route.dart
  packages/go_router/lib/src/route.dart
  packages/go_router/pubspec.yaml
Labels: p: go_router, autosubmit

#7202 [web] Update package:web to ">=0.5.1 <2.0.0"
  packages/cross_file/CHANGELOG.md
  packages/cross_file/pubspec.yaml
  packages/file_selector/file_selector_web/CHANGELOG.md
  packages/file_selector/file_selector_web/example/pubspec.yaml
  packages/file_selector/file_selector_web/pubspec.yaml
  packages/google_identity_services_web/CHANGELOG.md
  packages/google_identity_services_web/example/pubspec.yaml
  packages/google_identity_services_web/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_web/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_web/example/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_web/pubspec.yaml
  packages/google_sign_in/google_sign_in_web/CHANGELOG.md
  packages/google_sign_in/google_sign_in_web/example/pubspec.yaml
  packages/google_sign_in/google_sign_in_web/lib/src/flexible_size_html_element_view.dart
  packages/google_sign_in/google_sign_in_web/pubspec.yaml
  packages/image_picker/image_picker_for_web/CHANGELOG.md
  packages/image_picker/image_picker_for_web/example/pubspec.yaml
  packages/image_picker/image_picker_for_web/pubspec.yaml
  packages/pointer_interceptor/pointer_interceptor_web/CHANGELOG.md
  packages/pointer_interceptor/pointer_interceptor_web/example/pubspec.yaml
  packages/pointer_interceptor/pointer_interceptor_web/pubspec.yaml
  packages/shared_preferences/shared_preferences_web/CHANGELOG.md
  packages/shared_preferences/shared_preferences_web/example/pubspec.yaml
  packages/shared_preferences/shared_preferences_web/pubspec.yaml
  packages/url_launcher/url_launcher_web/CHANGELOG.md
  packages/url_launcher/url_launcher_web/example/pubspec.yaml
  packages/url_launcher/url_launcher_web/pubspec.yaml
  packages/video_player/video_player_web/CHANGELOG.md
  packages/video_player/video_player_web/example/pubspec.yaml
  packages/video_player/video_player_web/pubspec.yaml
  packages/web_benchmarks/CHANGELOG.md
  packages/web_benchmarks/lib/client.dart
  packages/web_benchmarks/pubspec.yaml
  packages/webview_flutter/webview_flutter_web/CHANGELOG.md
  packages/webview_flutter/webview_flutter_web/example/pubspec.yaml
  packages/webview_flutter/webview_flutter_web/pubspec.yaml
Labels: p: cross_file, p: pointer_interceptor, p: web_benchmarks, autosubmit, p: file_selector, p: google_maps_flutter, p: google_sign_in, p: image_picker, platform-web, p: webview_flutter, p: video_player, p: url_launcher, p: shared_preferences

#7269 [ci] Re-enable google_maps_flutter_web integration tests.
  packages/google_maps_flutter/google_maps_flutter_web/example/integration_test/markers_test.dart
  script/configs/exclude_integration_web.yaml
Labels: autosubmit, p: google_maps_flutter, platform-web

#7273 [tool] Add note about clang version used in CI to tool readme
  script/tool/README.md
Labels: autosubmit

#7065 [camera_avfoundation] fix stopVideoRecording waiting indefinitely and video lag at start
  packages/camera/camera_avfoundation/CHANGELOG.md
  packages/camera/camera_avfoundation/example/ios/RunnerTests/FLTCamSampleBufferTests.m
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/FLTCam.m
  packages/camera/camera_avfoundation/pubspec.yaml
Labels: autosubmit, p: camera, platform-ios, platform-macos

#7294 Roll to 9d5ede0f5, disabling impeller for google_maps_flutter_android
  .ci/flutter_master.version
  packages/google_maps_flutter/google_maps_flutter_android/example/android/app/src/main/AndroidManifest.xml
Labels: autosubmit, p: google_maps_flutter, platform-android

#7295 Manual roll Flutter from 9d5ede0f5ae5 to 85960d24b9d2 (24 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#7297 Manual roll Flutter from 4ff9462be814 to f10a497e4abd (22 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#7211 [camera_avfoundation] dealloc camera on dispose
  packages/camera/camera_avfoundation/CHANGELOG.md
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraMethodChannelTests.m
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/CameraPlugin.m
  packages/camera/camera_avfoundation/pubspec.yaml
Labels: autosubmit, p: camera, platform-ios, platform-macos

#7298 Manual roll Flutter from f10a497e4abd to cbfb22244697 (23 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#7316 Roll Flutter from cbfb22244697 to 383282300c1e (4 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#7288 [pointer_interceptor] Add performance warning on using pointer interceptor on iOS
  packages/pointer_interceptor/pointer_interceptor/CHANGELOG.md
  packages/pointer_interceptor/pointer_interceptor/README.md
  packages/pointer_interceptor/pointer_interceptor/pubspec.yaml
Labels: p: pointer_interceptor, autosubmit

#7312 [google_maps_flutter_platform_interface] Platform interface changes to support heatmaps
  packages/google_maps_flutter/google_maps_flutter_platform_interface/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/method_channel/method_channel_google_maps_flutter.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/method_channel/serialization.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/platform_interface/google_maps_flutter_platform.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/platform_interface/google_maps_inspector_platform.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/heatmap.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/heatmap_updates.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/map_objects.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/types.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/utils/heatmap.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_platform_interface/test/types/heatmap_test.dart
Labels: autosubmit, p: google_maps_flutter

#7278 [go_router] redirect example signature fix
  packages/go_router/CHANGELOG.md
  packages/go_router/lib/src/route.dart
  packages/go_router/pubspec.yaml
Labels: p: go_router, autosubmit

#7280 [go_router_builder] Fixes readme typos and uses code excerpts.
  packages/go_router_builder/CHANGELOG.md
  packages/go_router_builder/README.md
  packages/go_router_builder/example/lib/readme_excerpts.dart
  packages/go_router_builder/example/lib/readme_excerpts.g.dart
  packages/go_router_builder/pubspec.yaml
  script/configs/temp_exclude_excerpt.yaml
Labels: p: go_router_builder, autosubmit

#7012 [camera_web] Migrate to `package:web`
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/example/pubspec.yaml
  packages/camera/camera/example/web/index.html
  packages/camera/camera/pubspec.yaml
  packages/camera/camera_web/CHANGELOG.md
  packages/camera/camera_web/example/integration_test/camera_bitrate_test.dart
  packages/camera/camera_web/example/integration_test/camera_error_code_test.dart
  packages/camera/camera_web/example/integration_test/camera_options_test.dart
  packages/camera/camera_web/example/integration_test/camera_service_test.dart
  packages/camera/camera_web/example/integration_test/camera_test.dart
  packages/camera/camera_web/example/integration_test/camera_web_test.dart
  packages/camera/camera_web/example/integration_test/helpers/mocks.dart
  packages/camera/camera_web/example/integration_test/zoom_level_capability_test.dart
  packages/camera/camera_web/example/pubspec.yaml
  packages/camera/camera_web/lib/src/camera.dart
  packages/camera/camera_web/lib/src/camera_service.dart
  packages/camera/camera_web/lib/src/camera_web.dart
  packages/camera/camera_web/lib/src/pkg_web_tweaks.dart
  packages/camera/camera_web/lib/src/shims/dart_js_util.dart
  packages/camera/camera_web/lib/src/types/camera_error_code.dart
  packages/camera/camera_web/lib/src/types/camera_options.dart
  packages/camera/camera_web/lib/src/types/zoom_level_capability.dart
  packages/camera/camera_web/pubspec.yaml
  script/configs/exclude_all_packages_app_wasm.yaml
Labels: autosubmit, p: camera, platform-web

#7313 [google_maps_flutter_android] Android changes to support heatmaps
  packages/google_maps_flutter/google_maps_flutter_android/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_android/README.md
  packages/google_maps_flutter/google_maps_flutter_android/android/src/main/java/io/flutter/plugins/googlemaps/Convert.java
  packages/google_maps_flutter/google_maps_flutter_android/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapBuilder.java
  packages/google_maps_flutter/google_maps_flutter_android/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapController.java
  packages/google_maps_flutter/google_maps_flutter_android/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapFactory.java
  packages/google_maps_flutter/google_maps_flutter_android/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapOptionsSink.java
  packages/google_maps_flutter/google_maps_flutter_android/android/src/main/java/io/flutter/plugins/googlemaps/HeatmapBuilder.java
  packages/google_maps_flutter/google_maps_flutter_android/android/src/main/java/io/flutter/plugins/googlemaps/HeatmapController.java
  packages/google_maps_flutter/google_maps_flutter_android/android/src/main/java/io/flutter/plugins/googlemaps/HeatmapOptionsSink.java
  packages/google_maps_flutter/google_maps_flutter_android/android/src/main/java/io/flutter/plugins/googlemaps/HeatmapsController.java
  packages/google_maps_flutter/google_maps_flutter_android/android/src/main/java/io/flutter/plugins/googlemaps/Messages.java
  packages/google_maps_flutter/google_maps_flutter_android/android/src/test/java/io/flutter/plugins/googlemaps/ConvertTest.java
  packages/google_maps_flutter/google_maps_flutter_android/android/src/test/java/io/flutter/plugins/googlemaps/GoogleMapControllerTest.java
  packages/google_maps_flutter/google_maps_flutter_android/android/src/test/java/io/flutter/plugins/googlemaps/HeatmapsControllerTest.java
  packages/google_maps_flutter/google_maps_flutter_android/example/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_android/lib/src/google_map_inspector_android.dart
  packages/google_maps_flutter/google_maps_flutter_android/lib/src/google_maps_flutter_android.dart
  packages/google_maps_flutter/google_maps_flutter_android/lib/src/messages.g.dart
  packages/google_maps_flutter/google_maps_flutter_android/lib/src/serialization.dart
  packages/google_maps_flutter/google_maps_flutter_android/pigeons/messages.dart
  packages/google_maps_flutter/google_maps_flutter_android/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_android/test/google_maps_flutter_android_test.mocks.dart
Labels: autosubmit, p: google_maps_flutter, platform-android

#7314 [google_maps_flutter_ios] iOS changes to support heatmaps
  packages/google_maps_flutter/google_maps_flutter_ios/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_ios/README.md
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios14/ios/Podfile
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios14/ios/Runner.xcodeproj/project.pbxproj
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios14/ios/RunnerTests/FLTGoogleMapJSONConversionsConversionTests.m
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios14/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios15/ios/Podfile
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios15/ios/Runner.xcodeproj/project.pbxproj
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios15/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_ios/example/shared/maps_example_dart/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_ios/ios/Classes/FLTGoogleMapHeatmapController.h
  packages/google_maps_flutter/google_maps_flutter_ios/ios/Classes/FLTGoogleMapHeatmapController.m
  packages/google_maps_flutter/google_maps_flutter_ios/ios/Classes/FLTGoogleMapJSONConversions.h
  packages/google_maps_flutter/google_maps_flutter_ios/ios/Classes/FLTGoogleMapJSONConversions.m
  packages/google_maps_flutter/google_maps_flutter_ios/ios/Classes/GoogleMapController.m
  packages/google_maps_flutter/google_maps_flutter_ios/ios/Classes/google_maps_flutter_ios-umbrella.h
  packages/google_maps_flutter/google_maps_flutter_ios/ios/Classes/messages.g.h
  packages/google_maps_flutter/google_maps_flutter_ios/ios/Classes/messages.g.m
  packages/google_maps_flutter/google_maps_flutter_ios/ios/google_maps_flutter_ios.podspec
  packages/google_maps_flutter/google_maps_flutter_ios/lib/src/google_map_inspector_ios.dart
  packages/google_maps_flutter/google_maps_flutter_ios/lib/src/google_maps_flutter_ios.dart
  packages/google_maps_flutter/google_maps_flutter_ios/lib/src/messages.g.dart
  packages/google_maps_flutter/google_maps_flutter_ios/lib/src/serialization.dart
  packages/google_maps_flutter/google_maps_flutter_ios/pigeons/messages.dart
  packages/google_maps_flutter/google_maps_flutter_ios/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_ios/test/google_maps_flutter_ios_test.mocks.dart
Labels: autosubmit, p: google_maps_flutter, platform-ios

#7315 [google_maps_flutter_web] Web changes to support heatmaps
  packages/google_maps_flutter/google_maps_flutter_web/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_web/README.md
  packages/google_maps_flutter/google_maps_flutter_web/example/integration_test/google_maps_controller_test.dart
  packages/google_maps_flutter/google_maps_flutter_web/example/integration_test/google_maps_controller_test.mocks.dart
  packages/google_maps_flutter/google_maps_flutter_web/example/integration_test/google_maps_plugin_test.dart
  packages/google_maps_flutter/google_maps_flutter_web/example/integration_test/google_maps_plugin_test.mocks.dart
  packages/google_maps_flutter/google_maps_flutter_web/example/integration_test/shape_test.dart
  packages/google_maps_flutter/google_maps_flutter_web/example/integration_test/shapes_test.dart
  packages/google_maps_flutter/google_maps_flutter_web/example/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_web/example/web/index.html
  packages/google_maps_flutter/google_maps_flutter_web/lib/google_maps_flutter_web.dart
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/convert.dart
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/google_maps_controller.dart
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/google_maps_flutter_web.dart
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/heatmap.dart
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/heatmaps.dart
  packages/google_maps_flutter/google_maps_flutter_web/pubspec.yaml
Labels: autosubmit, p: google_maps_flutter, platform-web

#7317 Manual roll Flutter from 383282300c1e to 1dd71413f4ad (21 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#7274 [local_auth] Endorse macOS
  packages/local_auth/local_auth/CHANGELOG.md
  packages/local_auth/local_auth/README.md
  packages/local_auth/local_auth/example/macos/.gitignore
  packages/local_auth/local_auth/example/macos/Flutter/Flutter-Debug.xcconfig
  packages/local_auth/local_auth/example/macos/Flutter/Flutter-Release.xcconfig
  packages/local_auth/local_auth/example/macos/Podfile
  packages/local_auth/local_auth/example/macos/Runner.xcodeproj/project.pbxproj
  packages/local_auth/local_auth/example/macos/Runner.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  packages/local_auth/local_auth/example/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/local_auth/local_auth/example/macos/Runner.xcworkspace/contents.xcworkspacedata
  packages/local_auth/local_auth/example/macos/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  packages/local_auth/local_auth/example/macos/Runner/AppDelegate.swift
  packages/local_auth/local_auth/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
  packages/local_auth/local_auth/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_1024.png
  packages/local_auth/local_auth/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_128.png
  packages/local_auth/local_auth/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_16.png
  packages/local_auth/local_auth/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_256.png
  packages/local_auth/local_auth/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_32.png
  packages/local_auth/local_auth/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_512.png
  packages/local_auth/local_auth/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_64.png
  packages/local_auth/local_auth/example/macos/Runner/Base.lproj/MainMenu.xib
  packages/local_auth/local_auth/example/macos/Runner/Configs/AppInfo.xcconfig
  packages/local_auth/local_auth/example/macos/Runner/Configs/Debug.xcconfig
  packages/local_auth/local_auth/example/macos/Runner/Configs/Release.xcconfig
  packages/local_auth/local_auth/example/macos/Runner/Configs/Warnings.xcconfig
  packages/local_auth/local_auth/example/macos/Runner/DebugProfile.entitlements
  packages/local_auth/local_auth/example/macos/Runner/Info.plist
  packages/local_auth/local_auth/example/macos/Runner/MainFlutterWindow.swift
  packages/local_auth/local_auth/example/macos/Runner/Release.entitlements
  packages/local_auth/local_auth/pubspec.yaml
Labels: autosubmit, p: local_auth, platform-macos

#3257 [google_maps_flutter] Add heatmap support
  packages/google_maps_flutter/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter/example/integration_test/src/tiles_inspector.dart
  packages/google_maps_flutter/google_maps_flutter/example/ios/Runner.xcodeproj/project.pbxproj
  packages/google_maps_flutter/google_maps_flutter/example/lib/heatmap.dart
  packages/google_maps_flutter/google_maps_flutter/example/lib/main.dart
  packages/google_maps_flutter/google_maps_flutter/example/web/index.html
  packages/google_maps_flutter/google_maps_flutter/lib/google_maps_flutter.dart
  packages/google_maps_flutter/google_maps_flutter/lib/src/controller.dart
  packages/google_maps_flutter/google_maps_flutter/lib/src/google_map.dart
  packages/google_maps_flutter/google_maps_flutter/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter/test/fake_google_maps_flutter_platform.dart
  packages/google_maps_flutter/google_maps_flutter/test/heatmap_updates_test.dart
Labels: autosubmit, p: google_maps_flutter, platform-ios, platform-web, triage-android

#7229 [url_launcher] launchUrl always returns true for valid schemes on the web.
  packages/url_launcher/url_launcher_web/CHANGELOG.md
  packages/url_launcher/url_launcher_web/README.md
  packages/url_launcher/url_launcher_web/example/integration_test/url_launcher_web_test.dart
  packages/url_launcher/url_launcher_web/lib/url_launcher_web.dart
  packages/url_launcher/url_launcher_web/pubspec.yaml
Labels: autosubmit, platform-web, p: url_launcher

#6186 [google_maps_flutter] Add marker clustering support - iOS implementation
  packages/google_maps_flutter/google_maps_flutter_ios/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios14/integration_test/google_maps_test.dart
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios14/ios/Runner.xcodeproj/project.pbxproj
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios14/ios/RunnerTests/FGMClusterManagersControllerTests.m
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios14/lib/main.dart
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios15/lib/main.dart
  packages/google_maps_flutter/google_maps_flutter_ios/example/shared/maps_example_dart/lib/clustering.dart
  packages/google_maps_flutter/google_maps_flutter_ios/example/shared/maps_example_dart/lib/example_google_map.dart
  packages/google_maps_flutter/google_maps_flutter_ios/example/shared/maps_example_dart/test/fake_google_maps_flutter_platform.dart
  packages/google_maps_flutter/google_maps_flutter_ios/ios/Classes/FGMClusterManagersController.h
  packages/google_maps_flutter/google_maps_flutter_ios/ios/Classes/FGMClusterManagersController.m
  packages/google_maps_flutter/google_maps_flutter_ios/ios/Classes/FGMMarkerUserData.h
  packages/google_maps_flutter/google_maps_flutter_ios/ios/Classes/FGMMarkerUserData.m
  packages/google_maps_flutter/google_maps_flutter_ios/ios/Classes/FLTGoogleMapJSONConversions.h
  packages/google_maps_flutter/google_maps_flutter_ios/ios/Classes/FLTGoogleMapJSONConversions.m
  packages/google_maps_flutter/google_maps_flutter_ios/ios/Classes/FLTGoogleMapsPlugin.h
  packages/google_maps_flutter/google_maps_flutter_ios/ios/Classes/GoogleMapController.h
  packages/google_maps_flutter/google_maps_flutter_ios/ios/Classes/GoogleMapController.m
  packages/google_maps_flutter/google_maps_flutter_ios/ios/Classes/GoogleMapMarkerController.h
  packages/google_maps_flutter/google_maps_flutter_ios/ios/Classes/GoogleMapMarkerController.m
  packages/google_maps_flutter/google_maps_flutter_ios/ios/Classes/google_maps_flutter_ios-umbrella.h
  packages/google_maps_flutter/google_maps_flutter_ios/ios/Classes/messages.g.h
  packages/google_maps_flutter/google_maps_flutter_ios/ios/Classes/messages.g.m
  packages/google_maps_flutter/google_maps_flutter_ios/ios/google_maps_flutter_ios.podspec
  packages/google_maps_flutter/google_maps_flutter_ios/lib/src/google_map_inspector_ios.dart
  packages/google_maps_flutter/google_maps_flutter_ios/lib/src/google_maps_flutter_ios.dart
  packages/google_maps_flutter/google_maps_flutter_ios/lib/src/messages.g.dart
  packages/google_maps_flutter/google_maps_flutter_ios/lib/src/utils/cluster_manager.dart
  packages/google_maps_flutter/google_maps_flutter_ios/pigeons/messages.dart
  packages/google_maps_flutter/google_maps_flutter_ios/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_ios/test/cluster_manager_utils_test.dart
  packages/google_maps_flutter/google_maps_flutter_ios/test/google_maps_flutter_ios_test.mocks.dart
Labels: autosubmit, p: google_maps_flutter, platform-ios

#7325 [image_picker_ios] Update image picker UI test query for iOS 18
  packages/image_picker/image_picker_ios/CHANGELOG.md
  packages/image_picker/image_picker_ios/example/ios/RunnerUITests/ImagePickerFromGalleryUITests.m
  packages/image_picker/image_picker_ios/example/ios/RunnerUITests/ImagePickerFromLimitedGalleryUITests.m
Labels: autosubmit, p: image_picker, platform-ios

#7328 Manual roll Flutter from 1dd71413f4ad to 0a7f8af6d146 (23 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#4319 [google_maps_flutter] Marker clustering support
  packages/google_maps_flutter/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter/example/integration_test/src/maps_inspector.dart
  packages/google_maps_flutter/google_maps_flutter/example/lib/clustering.dart
  packages/google_maps_flutter/google_maps_flutter/example/lib/main.dart
  packages/google_maps_flutter/google_maps_flutter/example/web/index.html
  packages/google_maps_flutter/google_maps_flutter/lib/google_maps_flutter.dart
  packages/google_maps_flutter/google_maps_flutter/lib/src/controller.dart
  packages/google_maps_flutter/google_maps_flutter/lib/src/google_map.dart
  packages/google_maps_flutter/google_maps_flutter/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter/test/clustermanager_updates_test.dart
  packages/google_maps_flutter/google_maps_flutter/test/fake_google_maps_flutter_platform.dart
Labels: autosubmit, p: google_maps_flutter, platform-web, federated: all_changes

#7322 Roll Flutter (stable) from b0850beeb25f to 80c2e84975bb (1397 revisions)
  .ci/flutter_stable.version
  packages/flutter_markdown/test/assets/images/golden/image_test/custom_builder_asset_logo_old.png
  packages/flutter_markdown/test/assets/images/golden/image_test/resource_asset_logo_old.png
  packages/flutter_markdown/test/image_test.dart
Labels: p: flutter_markdown, autosubmit

#7334 Roll Flutter from 0a7f8af6d146 to d595e98d85ea (4 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#7215 [url_launcher] Convert Linux to Pigeon
  packages/url_launcher/url_launcher_linux/CHANGELOG.md
  packages/url_launcher/url_launcher_linux/lib/src/messages.g.dart
  packages/url_launcher/url_launcher_linux/lib/url_launcher_linux.dart
  packages/url_launcher/url_launcher_linux/linux/CMakeLists.txt
  packages/url_launcher/url_launcher_linux/linux/messages.g.cc
  packages/url_launcher/url_launcher_linux/linux/messages.g.h
  packages/url_launcher/url_launcher_linux/linux/test/url_launcher_linux_test.cc
  packages/url_launcher/url_launcher_linux/linux/url_launcher_plugin.cc
  packages/url_launcher/url_launcher_linux/linux/url_launcher_plugin_private.h
  packages/url_launcher/url_launcher_linux/pigeons/copyright.txt
  packages/url_launcher/url_launcher_linux/pigeons/messages.dart
  packages/url_launcher/url_launcher_linux/pubspec.yaml
  packages/url_launcher/url_launcher_linux/test/url_launcher_linux_test.dart
Labels: autosubmit, platform-linux, p: url_launcher

#7336 [interactive_media_ads] Fix names of unit tests
  packages/interactive_media_ads/test/android/ads_manager_test.dart
  packages/interactive_media_ads/test/android/ads_manager_test.mocks.dart
  packages/interactive_media_ads/test/ios/ads_loader_test.mocks.dart
  packages/interactive_media_ads/test/ios/ads_manager_delegate_tests.dart
  packages/interactive_media_ads/test/ios/ads_manager_test.dart
  packages/interactive_media_ads/test/ios/ads_manager_test.mocks.dart
Labels: autosubmit, platform-android, platform-ios

#7327 [flutter_markdown] Fix table column alignment
  packages/flutter_markdown/CHANGELOG.md
  packages/flutter_markdown/lib/src/builder.dart
  packages/flutter_markdown/pubspec.yaml
  packages/flutter_markdown/test/table_test.dart
Labels: p: flutter_markdown, autosubmit

#7339 Manual roll Flutter from d595e98d85ea to b6cd31e6b5a6 (21 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#7310 [flutter_adaptive_scaffold] Map NavigationsRails destinations and use group and labelType
  packages/flutter_adaptive_scaffold/CHANGELOG.md
  packages/flutter_adaptive_scaffold/lib/src/adaptive_scaffold.dart
  packages/flutter_adaptive_scaffold/pubspec.yaml
  packages/flutter_adaptive_scaffold/test/adaptive_scaffold_test.dart
Labels: autosubmit, p: flutter_adaptive_scaffold

#7346 [google_maps] remove Impeller opt out.
  packages/google_maps_flutter/google_maps_flutter_android/example/android/app/src/main/AndroidManifest.xml
Labels: autosubmit, p: google_maps_flutter, platform-android

#7287 [interactive_media_ads] Adds support for all `AdEventType`s and ad data
  packages/interactive_media_ads/CHANGELOG.md
  packages/interactive_media_ads/README.md
  packages/interactive_media_ads/android/src/main/kotlin/dev/flutter/packages/interactive_media_ads/AdEventProxyApi.kt
  packages/interactive_media_ads/android/src/main/kotlin/dev/flutter/packages/interactive_media_ads/AdsRequestProxyApi.kt
  packages/interactive_media_ads/android/src/main/kotlin/dev/flutter/packages/interactive_media_ads/InteractiveMediaAdsLibrary.g.kt
  packages/interactive_media_ads/android/src/main/kotlin/dev/flutter/packages/interactive_media_ads/InteractiveMediaAdsPlugin.kt
  packages/interactive_media_ads/android/src/main/kotlin/dev/flutter/packages/interactive_media_ads/ProxyApiRegistrar.kt
  packages/interactive_media_ads/android/src/test/kotlin/dev/flutter/packages/interactive_media_ads/AdEventProxyApiTest.kt
  packages/interactive_media_ads/example/ios/RunnerTests/AdEventTests.swift
  packages/interactive_media_ads/example/lib/main.dart
  packages/interactive_media_ads/ios/interactive_media_ads/Sources/interactive_media_ads/AdEventProxyAPIDelegate.swift
  packages/interactive_media_ads/ios/interactive_media_ads/Sources/interactive_media_ads/AdsRequestProxyAPIDelegate.swift
  packages/interactive_media_ads/ios/interactive_media_ads/Sources/interactive_media_ads/InteractiveMediaAdsLibrary.g.swift
  packages/interactive_media_ads/lib/src/android/android_ads_manager.dart
  packages/interactive_media_ads/lib/src/android/enum_converter_utils.dart
  packages/interactive_media_ads/lib/src/android/interactive_media_ads.g.dart
  packages/interactive_media_ads/lib/src/ios/enum_converter_utils.dart
  packages/interactive_media_ads/lib/src/ios/interactive_media_ads.g.dart
  packages/interactive_media_ads/lib/src/ios/ios_ads_manager_delegate.dart
  packages/interactive_media_ads/lib/src/platform_interface/ad_event.dart
  packages/interactive_media_ads/pigeons/interactive_media_ads_android.dart
  packages/interactive_media_ads/pigeons/interactive_media_ads_ios.dart
  packages/interactive_media_ads/pubspec.yaml
  packages/interactive_media_ads/test/android/ads_manager_test.dart
  packages/interactive_media_ads/test/ios/ads_manager_delegate_tests.dart
Labels: autosubmit, platform-android, platform-ios

#7349 Manual roll Flutter from b6cd31e6b5a6 to 76107bdf509f (14 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#7355 [shared_preferences] fix cast error and mutable list error with `getStringList`
  packages/shared_preferences/shared_preferences_android/CHANGELOG.md
  packages/shared_preferences/shared_preferences_android/example/integration_test/shared_preferences_test.dart
  packages/shared_preferences/shared_preferences_android/lib/src/shared_preferences_async_android.dart
  packages/shared_preferences/shared_preferences_android/pubspec.yaml
  packages/shared_preferences/shared_preferences_foundation/CHANGELOG.md
  packages/shared_preferences/shared_preferences_foundation/example/integration_test/shared_preferences_test.dart
  packages/shared_preferences/shared_preferences_foundation/lib/src/shared_preferences_async_foundation.dart
  packages/shared_preferences/shared_preferences_foundation/pubspec.yaml
  packages/shared_preferences/shared_preferences_linux/CHANGELOG.md
  packages/shared_preferences/shared_preferences_linux/example/integration_test/shared_preferences_test.dart
  packages/shared_preferences/shared_preferences_linux/lib/shared_preferences_linux.dart
  packages/shared_preferences/shared_preferences_linux/pubspec.yaml
  packages/shared_preferences/shared_preferences_web/CHANGELOG.md
  packages/shared_preferences/shared_preferences_web/example/integration_test/shared_preferences_web_test.dart
  packages/shared_preferences/shared_preferences_web/lib/shared_preferences_web.dart
  packages/shared_preferences/shared_preferences_web/pubspec.yaml
  packages/shared_preferences/shared_preferences_windows/CHANGELOG.md
  packages/shared_preferences/shared_preferences_windows/example/integration_test/shared_preferences_test.dart
  packages/shared_preferences/shared_preferences_windows/lib/shared_preferences_windows.dart
  packages/shared_preferences/shared_preferences_windows/pubspec.yaml
Labels: autosubmit, platform-android, platform-ios, platform-linux, platform-macos, platform-web, platform-windows, p: shared_preferences

#7358 Manual roll Flutter from 76107bdf509f to b12d86157e38 (14 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#7366 Manual roll Flutter from b12d86157e38 to 9b8470197f42 (8 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#7300 [flutter_adaptive_scaffold] Add expanded and extra large breakpoints
  packages/flutter_adaptive_scaffold/CHANGELOG.md
  packages/flutter_adaptive_scaffold/README.md
  packages/flutter_adaptive_scaffold/example/lib/adaptive_layout_demo.dart
  packages/flutter_adaptive_scaffold/example/lib/adaptive_scaffold_demo.dart
  packages/flutter_adaptive_scaffold/example/lib/main.dart
  packages/flutter_adaptive_scaffold/example/test/adaptive_layout_demo_test.dart
  packages/flutter_adaptive_scaffold/example/test/adaptive_scaffold_demo_test.dart
  packages/flutter_adaptive_scaffold/example/test/main_test.dart
  packages/flutter_adaptive_scaffold/lib/src/adaptive_layout.dart
  packages/flutter_adaptive_scaffold/lib/src/adaptive_scaffold.dart
  packages/flutter_adaptive_scaffold/lib/src/breakpoints.dart
  packages/flutter_adaptive_scaffold/pubspec.yaml
  packages/flutter_adaptive_scaffold/test/adaptive_layout_test.dart
  packages/flutter_adaptive_scaffold/test/adaptive_scaffold_test.dart
  packages/flutter_adaptive_scaffold/test/breakpoint_test.dart
  packages/flutter_adaptive_scaffold/test/simulated_layout.dart
  packages/flutter_adaptive_scaffold/test/test_breakpoints.dart
Labels: autosubmit, p: flutter_adaptive_scaffold

#7396 Roll Flutter from 9b8470197f42 to 814e49be4922 (3 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#7399 Manual roll Flutter from 814e49be4922 to 2afc452d3a8e (12 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#7326 [google_maps_flutter_android] Convert Circle and Marker to Pigeon
  packages/google_maps_flutter/google_maps_flutter_android/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_android/android/src/main/java/io/flutter/plugins/googlemaps/CirclesController.java
  packages/google_maps_flutter/google_maps_flutter_android/android/src/main/java/io/flutter/plugins/googlemaps/Convert.java
  packages/google_maps_flutter/google_maps_flutter_android/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapController.java
  packages/google_maps_flutter/google_maps_flutter_android/android/src/main/java/io/flutter/plugins/googlemaps/MarkersController.java
  packages/google_maps_flutter/google_maps_flutter_android/android/src/main/java/io/flutter/plugins/googlemaps/Messages.java
  packages/google_maps_flutter/google_maps_flutter_android/android/src/test/java/io/flutter/plugins/googlemaps/CirclesControllerTest.java
  packages/google_maps_flutter/google_maps_flutter_android/android/src/test/java/io/flutter/plugins/googlemaps/ClusterManagersControllerTest.java
  packages/google_maps_flutter/google_maps_flutter_android/android/src/test/java/io/flutter/plugins/googlemaps/MarkersControllerTest.java
  packages/google_maps_flutter/google_maps_flutter_android/lib/src/google_maps_flutter_android.dart
  packages/google_maps_flutter/google_maps_flutter_android/lib/src/messages.g.dart
  packages/google_maps_flutter/google_maps_flutter_android/pigeons/messages.dart
  packages/google_maps_flutter/google_maps_flutter_android/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_android/test/google_maps_flutter_android_test.dart
Labels: p: google_maps_flutter, platform-android, triage-android

#7404 Manual roll Flutter from 2afc452d3a8e to cc13cd1f1191 (6 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6952 Fix breakages introduced by `SplashFactory`
  packages/animations/test/open_container_test.dart
Labels: p: animations, autosubmit

#7419 Roll Flutter from cc13cd1f1191 to 99f00a130923 (24 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#7347 [flutter_adaptive_scaffold] Add breakpoint extension to get the current active breakpoint
  packages/flutter_adaptive_scaffold/CHANGELOG.md
  packages/flutter_adaptive_scaffold/example/test/main_test.dart
  packages/flutter_adaptive_scaffold/lib/src/breakpoints.dart
  packages/flutter_adaptive_scaffold/lib/src/slot_layout.dart
  packages/flutter_adaptive_scaffold/pubspec.yaml
  packages/flutter_adaptive_scaffold/test/breakpoint_test.dart
Labels: autosubmit, p: flutter_adaptive_scaffold

#7422 Roll `avd_cipd_verison` to latest to use the `crashreport` tool.
  .ci.yaml
Labels: autosubmit

#7420 [interactive_media_ads] Adds IMA plugin to labeler yaml
  .github/labeler.yml
Labels: autosubmit

#7424 Manual roll Flutter from 99f00a130923 to bced008679af (13 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#7429 Roll Flutter from bced008679af to a0c04534f5ea (5 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#7398 [interactive_media_ads] Updates readme to clarify currently supported features
  packages/interactive_media_ads/CHANGELOG.md
  packages/interactive_media_ads/README.md
  packages/interactive_media_ads/android/src/main/kotlin/dev/flutter/packages/interactive_media_ads/AdsRequestProxyApi.kt
  packages/interactive_media_ads/ios/interactive_media_ads/Sources/interactive_media_ads/AdsRequestProxyAPIDelegate.swift
  packages/interactive_media_ads/pubspec.yaml
Labels: autosubmit, platform-android, platform-ios

#7147 [go_router] docs: replace out dated initialRoute to initialLocation
  packages/go_router/CHANGELOG.md
  packages/go_router/doc/upgrading.md
  packages/go_router/pubspec.yaml
Labels: p: go_router, autosubmit

#6856 [camerax] Re-land SurfaceProducer migration with fix for camera preview rotation
  packages/camera/camera_android_camerax/CHANGELOG.md
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/CameraXProxy.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/PreviewHostApiImpl.java
  packages/camera/camera_android_camerax/android/src/test/java/io/flutter/plugins/camerax/PreviewTest.java
  packages/camera/camera_android_camerax/lib/src/system_services.dart
  packages/camera/camera_android_camerax/pubspec.yaml
  packages/camera/camera_android_camerax/test/system_services_test.dart
Labels: autosubmit, p: camera, platform-android, triage-android

#7449 Roll Flutter from a0c04534f5ea to 6a280489355f (22 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#7348 [go_router] Fixes an issue where android back button pops wrong page.
  packages/go_router/CHANGELOG.md
  packages/go_router/lib/src/delegate.dart
  packages/go_router/lib/src/router.dart
  packages/go_router/pubspec.yaml
  packages/go_router/test/go_router_test.dart
Labels: p: go_router, autosubmit

#7459 Roll Flutter from 6a280489355f to e7da16df76cd (23 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#7433 [go_router] Fixes replace and pushReplacement uri when only one route…
  packages/go_router/CHANGELOG.md
  packages/go_router/lib/src/parser.dart
  packages/go_router/pubspec.yaml
  packages/go_router/test/extension_test.dart
  packages/go_router/test/go_router_test.dart
Labels: p: go_router, autosubmit

#7425 [flutter_adaptive_scaffold] Fix landscape not showing in andUp
  packages/flutter_adaptive_scaffold/CHANGELOG.md
  packages/flutter_adaptive_scaffold/lib/src/breakpoints.dart
  packages/flutter_adaptive_scaffold/lib/src/slot_layout.dart
  packages/flutter_adaptive_scaffold/pubspec.yaml
  packages/flutter_adaptive_scaffold/test/breakpoint_test.dart
  packages/flutter_adaptive_scaffold/test/simulated_layout.dart
Labels: autosubmit, p: flutter_adaptive_scaffold

#7457 [webview_flutter] Endorse macOS
  packages/webview_flutter/webview_flutter/CHANGELOG.md
  packages/webview_flutter/webview_flutter/README.md
  packages/webview_flutter/webview_flutter/example/integration_test/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter/example/lib/main.dart
  packages/webview_flutter/webview_flutter/example/lib/simple_example.dart
  packages/webview_flutter/webview_flutter/example/macos/.gitignore
  packages/webview_flutter/webview_flutter/example/macos/Flutter/Flutter-Debug.xcconfig
  packages/webview_flutter/webview_flutter/example/macos/Flutter/Flutter-Release.xcconfig
  packages/webview_flutter/webview_flutter/example/macos/Podfile
  packages/webview_flutter/webview_flutter/example/macos/Runner.xcodeproj/project.pbxproj
  packages/webview_flutter/webview_flutter/example/macos/Runner.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  packages/webview_flutter/webview_flutter/example/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/webview_flutter/webview_flutter/example/macos/Runner.xcworkspace/contents.xcworkspacedata
  packages/webview_flutter/webview_flutter/example/macos/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  packages/webview_flutter/webview_flutter/example/macos/Runner/AppDelegate.swift
  packages/webview_flutter/webview_flutter/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
  packages/webview_flutter/webview_flutter/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_1024.png
  packages/webview_flutter/webview_flutter/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_128.png
  packages/webview_flutter/webview_flutter/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_16.png
  packages/webview_flutter/webview_flutter/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_256.png
  packages/webview_flutter/webview_flutter/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_32.png
  packages/webview_flutter/webview_flutter/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_512.png
  packages/webview_flutter/webview_flutter/example/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_64.png
  packages/webview_flutter/webview_flutter/example/macos/Runner/Base.lproj/MainMenu.xib
  packages/webview_flutter/webview_flutter/example/macos/Runner/Configs/AppInfo.xcconfig
  packages/webview_flutter/webview_flutter/example/macos/Runner/Configs/Debug.xcconfig
  packages/webview_flutter/webview_flutter/example/macos/Runner/Configs/Release.xcconfig
  packages/webview_flutter/webview_flutter/example/macos/Runner/Configs/Warnings.xcconfig
  packages/webview_flutter/webview_flutter/example/macos/Runner/DebugProfile.entitlements
  packages/webview_flutter/webview_flutter/example/macos/Runner/Info.plist
  packages/webview_flutter/webview_flutter/example/macos/Runner/MainFlutterWindow.swift
  packages/webview_flutter/webview_flutter/example/macos/Runner/Release.entitlements
  packages/webview_flutter/webview_flutter/pubspec.yaml
Labels: autosubmit, platform-macos, p: webview_flutter

#7462 Remove unnecessary breaks in default clauses of switch statements
  packages/camera/camera/example/lib/main.dart
  packages/camera/camera_android/example/lib/main.dart
  packages/camera/camera_android_camerax/example/lib/main.dart
  packages/camera/camera_android_camerax/lib/src/camera_state_error.dart
  packages/camera/camera_avfoundation/example/lib/main.dart
  packages/go_router/example/lib/books/src/screens/books.dart
  packages/rfw/lib/src/dart/text.dart
  packages/url_launcher/url_launcher_android/lib/url_launcher_android.dart
  packages/url_launcher/url_launcher_ios/lib/url_launcher_ios.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/webkit_webview_controller.dart
Labels: p: rfw, p: go_router, autosubmit, override: no versioning needed, override: no changelog needed, p: camera, platform-android, platform-ios, platform-macos, p: webview_flutter, p: url_launcher

#7088 [many] Remove dependency on `kotlin-bom`
  packages/camera/camera_android_camerax/CHANGELOG.md
  packages/camera/camera_android_camerax/android/build.gradle
  packages/camera/camera_android_camerax/example/pubspec.yaml
  packages/camera/camera_android_camerax/pubspec.yaml
  packages/file_selector/file_selector_android/CHANGELOG.md
  packages/file_selector/file_selector_android/android/build.gradle
  packages/file_selector/file_selector_android/example/android/build.gradle
  packages/file_selector/file_selector_android/example/android/gradle/wrapper/gradle-wrapper.properties
  packages/file_selector/file_selector_android/example/pubspec.yaml
  packages/file_selector/file_selector_android/pubspec.yaml
  packages/image_picker/image_picker_android/CHANGELOG.md
  packages/image_picker/image_picker_android/android/build.gradle
  packages/image_picker/image_picker_android/example/pubspec.yaml
  packages/image_picker/image_picker_android/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_android/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_android/android/build.gradle
  packages/in_app_purchase/in_app_purchase_android/example/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_android/pubspec.yaml
  packages/interactive_media_ads/CHANGELOG.md
  packages/interactive_media_ads/android/build.gradle
  packages/interactive_media_ads/android/src/main/kotlin/dev/flutter/packages/interactive_media_ads/AdsRequestProxyApi.kt
  packages/interactive_media_ads/example/pubspec.yaml
  packages/interactive_media_ads/ios/interactive_media_ads/Sources/interactive_media_ads/AdsRequestProxyAPIDelegate.swift
  packages/interactive_media_ads/pubspec.yaml
  packages/local_auth/local_auth_android/CHANGELOG.md
  packages/local_auth/local_auth_android/android/build.gradle
  packages/local_auth/local_auth_android/example/pubspec.yaml
  packages/local_auth/local_auth_android/pubspec.yaml
  packages/url_launcher/url_launcher_android/CHANGELOG.md
  packages/url_launcher/url_launcher_android/android/build.gradle
  packages/url_launcher/url_launcher_android/example/pubspec.yaml
  packages/url_launcher/url_launcher_android/pubspec.yaml
Labels: autosubmit, p: camera, p: file_selector, p: image_picker, p: in_app_purchase, p: local_auth, platform-android, platform-ios, p: url_launcher, p: interactive_media_ads

#7469 [script] Remove unnecessary breaks in default clauses of switch statements
  script/tool/lib/src/native_test_command.dart
  script/tool/lib/src/update_excerpts_command.dart
  script/tool/test/util.dart
Labels: autosubmit

#7460 [interactive_media_ads] Adds a contribution doc
  packages/interactive_media_ads/CHANGELOG.md
  packages/interactive_media_ads/CONTRIBUTING.md
  packages/interactive_media_ads/README.md
  packages/interactive_media_ads/android/src/main/kotlin/dev/flutter/packages/interactive_media_ads/AdsRequestProxyApi.kt
  packages/interactive_media_ads/ios/interactive_media_ads/Sources/interactive_media_ads/AdsRequestProxyAPIDelegate.swift
  packages/interactive_media_ads/pubspec.yaml
Labels: autosubmit, platform-android, platform-ios, p: interactive_media_ads

#7471 Roll Flutter from e7da16df76cd to b8f89f70bf4e (28 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#7472 Roll Flutter (stable) from 80c2e84975bb to 5874a72aa4c7 (9 revisions)
  .ci/flutter_stable.version
Labels: autosubmit

#7392 [pigeon] simplifies int handling across the codec, verifies ints in collections
  packages/pigeon/CHANGELOG.md
  packages/pigeon/example/app/android/app/src/main/java/io/flutter/plugins/Messages.java
  packages/pigeon/example/app/android/app/src/main/kotlin/dev/flutter/pigeon_example_app/Messages.g.kt
  packages/pigeon/example/app/lib/src/messages.g.dart
  packages/pigeon/lib/cpp_generator.dart
  packages/pigeon/lib/dart_generator.dart
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/lib/java_generator.dart
  packages/pigeon/lib/kotlin_generator.dart
  packages/pigeon/lib/objc_generator.dart
  packages/pigeon/lib/swift_generator.dart
  packages/pigeon/pigeons/core_tests.dart
  packages/pigeon/platform_tests/alternate_language_test_plugin/android/src/main/java/com/example/alternate_language_test_plugin/AlternateLanguageTestPlugin.java
  packages/pigeon/platform_tests/alternate_language_test_plugin/android/src/main/java/com/example/alternate_language_test_plugin/CoreTests.java
  packages/pigeon/platform_tests/alternate_language_test_plugin/android/src/test/java/com/example/alternate_language_test_plugin/AllDatatypesTest.java
  packages/pigeon/platform_tests/alternate_language_test_plugin/android/src/test/java/com/example/alternate_language_test_plugin/PrimitiveTest.java
  packages/pigeon/platform_tests/alternate_language_test_plugin/example/ios/RunnerTests/AllDatatypesTest.m
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/AlternateLanguageTestPlugin.m
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/CoreTests.gen.h
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/CoreTests.gen.m
  packages/pigeon/platform_tests/alternate_language_test_plugin/macos/Classes/AlternateLanguageTestPlugin.m
  packages/pigeon/platform_tests/alternate_language_test_plugin/macos/Classes/CoreTests.gen.h
  packages/pigeon/platform_tests/alternate_language_test_plugin/macos/Classes/CoreTests.gen.m
  packages/pigeon/platform_tests/shared_test_plugin_code/dart_test.yaml
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/integration_tests.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/core_tests.gen.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/enum.gen.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/flutter_unittests.gen.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/message.gen.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/non_null_fields.gen.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/null_fields.gen.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/proxy_api_tests.gen.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/test/test_message.gen.dart
  packages/pigeon/platform_tests/test_plugin/android/src/main/kotlin/com/example/test_plugin/CoreTests.gen.kt
  packages/pigeon/platform_tests/test_plugin/android/src/main/kotlin/com/example/test_plugin/TestPlugin.kt
  packages/pigeon/platform_tests/test_plugin/android/src/test/kotlin/com/example/test_plugin/AllDatatypesTest.kt
  packages/pigeon/platform_tests/test_plugin/android/src/test/kotlin/com/example/test_plugin/EnumTest.kt
  packages/pigeon/platform_tests/test_plugin/android/src/test/kotlin/com/example/test_plugin/PrimitiveTest.kt
  packages/pigeon/platform_tests/test_plugin/example/ios/RunnerTests/AllDatatypesTests.swift
  packages/pigeon/platform_tests/test_plugin/example/ios/RunnerTests/PrimitiveTests.swift
  packages/pigeon/platform_tests/test_plugin/example/ios/RunnerTests/Utils.swift
  packages/pigeon/platform_tests/test_plugin/ios/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/ios/Classes/TestPlugin.swift
  packages/pigeon/platform_tests/test_plugin/linux/pigeon/core_tests.gen.cc
  packages/pigeon/platform_tests/test_plugin/linux/pigeon/core_tests.gen.h
  packages/pigeon/platform_tests/test_plugin/linux/test_plugin.cc
  packages/pigeon/platform_tests/test_plugin/macos/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/macos/Classes/TestPlugin.swift
  packages/pigeon/platform_tests/test_plugin/windows/pigeon/core_tests.gen.cpp
  packages/pigeon/platform_tests/test_plugin/windows/pigeon/core_tests.gen.h
  packages/pigeon/platform_tests/test_plugin/windows/test/null_fields_test.cpp
  packages/pigeon/platform_tests/test_plugin/windows/test/nullable_returns_test.cpp
  packages/pigeon/platform_tests/test_plugin/windows/test_plugin.cpp
  packages/pigeon/platform_tests/test_plugin/windows/test_plugin.h
  packages/pigeon/pubspec.yaml
  packages/pigeon/test/cpp_generator_test.dart
  packages/pigeon/test/java_generator_test.dart
  packages/pigeon/test/kotlin_generator_test.dart
  packages/pigeon/test/swift_generator_test.dart
Labels: p: pigeon, autosubmit, platform-android, platform-ios, platform-linux, platform-macos, platform-windows

#7406 [google_maps_flutter_android] Convert `PlatformPolygon` and `PlatformPolyline` to Pigeon
  packages/google_maps_flutter/google_maps_flutter_android/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_android/android/src/main/java/io/flutter/plugins/googlemaps/Convert.java
  packages/google_maps_flutter/google_maps_flutter_android/android/src/main/java/io/flutter/plugins/googlemaps/Messages.java
  packages/google_maps_flutter/google_maps_flutter_android/android/src/main/java/io/flutter/plugins/googlemaps/PolygonsController.java
  packages/google_maps_flutter/google_maps_flutter_android/android/src/main/java/io/flutter/plugins/googlemaps/PolylinesController.java
  packages/google_maps_flutter/google_maps_flutter_android/android/src/test/java/io/flutter/plugins/googlemaps/ConvertTest.java
  packages/google_maps_flutter/google_maps_flutter_android/lib/src/google_maps_flutter_android.dart
  packages/google_maps_flutter/google_maps_flutter_android/lib/src/messages.g.dart
  packages/google_maps_flutter/google_maps_flutter_android/pigeons/messages.dart
  packages/google_maps_flutter/google_maps_flutter_android/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_android/test/google_maps_flutter_android_test.dart
Labels: p: google_maps_flutter, platform-android

#7423 Serve benchmarks with COOP/COEP headers in wasm mode.
  packages/web_benchmarks/CHANGELOG.md
  packages/web_benchmarks/lib/src/runner.dart
  packages/web_benchmarks/pubspec.yaml
  packages/web_benchmarks/testing/test_app/lib/benchmarks/runner_simple.dart
  packages/web_benchmarks/testing/web_benchmarks_test.dart
Labels: p: web_benchmarks, autosubmit

#7337 [go_router] Fixes issue so that the parseRouteInformationWithContext …
  packages/go_router/CHANGELOG.md
  packages/go_router/lib/src/configuration.dart
  packages/go_router/lib/src/match.dart
  packages/go_router/lib/src/parser.dart
  packages/go_router/lib/src/path_utils.dart
  packages/go_router/pubspec.yaml
  packages/go_router/test/matching_test.dart
  packages/go_router/test/parser_test.dart
  packages/go_router/test/path_utils_test.dart
Labels: p: go_router, autosubmit

#7467 [google_maps_flutter_android] Convert `PlatformTileOverlay` to Pigeon
  packages/google_maps_flutter/google_maps_flutter_android/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_android/android/src/main/java/io/flutter/plugins/googlemaps/Convert.java
  packages/google_maps_flutter/google_maps_flutter_android/android/src/main/java/io/flutter/plugins/googlemaps/Messages.java
  packages/google_maps_flutter/google_maps_flutter_android/android/src/main/java/io/flutter/plugins/googlemaps/TileOverlaysController.java
  packages/google_maps_flutter/google_maps_flutter_android/lib/src/google_maps_flutter_android.dart
  packages/google_maps_flutter/google_maps_flutter_android/lib/src/messages.g.dart
  packages/google_maps_flutter/google_maps_flutter_android/pigeons/messages.dart
  packages/google_maps_flutter/google_maps_flutter_android/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_android/test/google_maps_flutter_android_test.dart
Labels: p: google_maps_flutter, platform-android

#6989 [video_player] Relands #6456: Uses `SurfaceProducer`, this time with `setCallback` for suspend/resume lifecycles.
  packages/video_player/video_player_android/CHANGELOG.md
  packages/video_player/video_player_android/android/src/main/java/io/flutter/plugins/videoplayer/ExoPlayerState.java
  packages/video_player/video_player_android/android/src/main/java/io/flutter/plugins/videoplayer/VideoPlayer.java
  packages/video_player/video_player_android/android/src/main/java/io/flutter/plugins/videoplayer/VideoPlayerPlugin.java
  packages/video_player/video_player_android/android/src/test/java/io/flutter/plugins/videoplayer/VideoPlayerTest.java
  packages/video_player/video_player_android/pubspec.yaml
Labels: autosubmit, platform-android, p: video_player

#7497 Revert "[video_player] Relands #6456: Uses SurfaceProducer, this time with setCallback for suspend/resume lifecycles"
  packages/video_player/video_player_android/CHANGELOG.md
  packages/video_player/video_player_android/android/src/main/java/io/flutter/plugins/videoplayer/ExoPlayerState.java
  packages/video_player/video_player_android/android/src/main/java/io/flutter/plugins/videoplayer/VideoPlayer.java
  packages/video_player/video_player_android/android/src/main/java/io/flutter/plugins/videoplayer/VideoPlayerPlugin.java
  packages/video_player/video_player_android/android/src/test/java/io/flutter/plugins/videoplayer/VideoPlayerTest.java
  packages/video_player/video_player_android/pubspec.yaml
Labels: autosubmit, platform-android, p: video_player

#7487 [url_launcher] Ignore new `unreachable_switch_default` warning.
  packages/url_launcher/url_launcher_android/lib/url_launcher_android.dart
  packages/url_launcher/url_launcher_ios/lib/url_launcher_ios.dart
Labels: platform-android, platform-ios, p: url_launcher

#7498 [video_player] Updates minimum supported SDK
  packages/video_player/video_player_android/CHANGELOG.md
  packages/video_player/video_player_android/android/src/main/java/io/flutter/plugins/videoplayer/ExoPlayerState.java
  packages/video_player/video_player_android/android/src/main/java/io/flutter/plugins/videoplayer/VideoPlayer.java
  packages/video_player/video_player_android/android/src/main/java/io/flutter/plugins/videoplayer/VideoPlayerPlugin.java
  packages/video_player/video_player_android/android/src/test/java/io/flutter/plugins/videoplayer/VideoPlayerTest.java
  packages/video_player/video_player_android/pubspec.yaml
Labels: autosubmit, platform-android, p: video_player

#7515 [in_app_purchase_storekit] Allows 'localizedDescription' to be nullable to handle occasional nulls in Storekit objects
  packages/in_app_purchase/in_app_purchase_storekit/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_storekit/darwin/Classes/messages.g.h
  packages/in_app_purchase/in_app_purchase_storekit/darwin/Classes/messages.g.m
  packages/in_app_purchase/in_app_purchase_storekit/lib/src/messages.g.dart
  packages/in_app_purchase/in_app_purchase_storekit/lib/src/store_kit_wrappers/sk_product_wrapper.dart
  packages/in_app_purchase/in_app_purchase_storekit/pigeons/messages.dart
  packages/in_app_purchase/in_app_purchase_storekit/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_storekit/test/fakes/fake_storekit_platform.dart
  packages/in_app_purchase/in_app_purchase_storekit/test/in_app_purchase_storekit_platform_test.dart
Labels: autosubmit, p: in_app_purchase, platform-ios, platform-macos

#7513 [google_sign_in_ios] Fix "callee requires a non-null parameter" analyzer warning
  packages/google_sign_in/google_sign_in_ios/CHANGELOG.md
  packages/google_sign_in/google_sign_in_ios/darwin/Classes/FLTGoogleSignInPlugin.m
  packages/google_sign_in/google_sign_in_ios/pubspec.yaml
Labels: autosubmit, p: google_sign_in, platform-ios, platform-macos

#7369 [shared_preferences] Add test to enforce mutable lists
  packages/shared_preferences/shared_preferences/example/integration_test/shared_preferences_test.dart
Labels: autosubmit, p: shared_preferences

#7511 Remove matan from codeowners
  CODEOWNERS
Labels: autosubmit

#7523 [shared_preferences] Fix typo in changelog
  packages/shared_preferences/shared_preferences/CHANGELOG.md
Labels: autosubmit, p: shared_preferences

#7437 [interactive_media_ads] Adds internal wrapper for remaining methods of the Android native `AdsManager`
  packages/interactive_media_ads/CHANGELOG.md
  packages/interactive_media_ads/android/src/main/kotlin/dev/flutter/packages/interactive_media_ads/AdsManagerProxyApi.kt
  packages/interactive_media_ads/android/src/main/kotlin/dev/flutter/packages/interactive_media_ads/AdsRequestProxyApi.kt
  packages/interactive_media_ads/android/src/main/kotlin/dev/flutter/packages/interactive_media_ads/InteractiveMediaAdsLibrary.g.kt
  packages/interactive_media_ads/android/src/test/kotlin/dev/flutter/packages/interactive_media_ads/AdsManagerProxyApiTest.kt
  packages/interactive_media_ads/ios/interactive_media_ads/Sources/interactive_media_ads/AdsRequestProxyAPIDelegate.swift
  packages/interactive_media_ads/lib/src/android/interactive_media_ads.g.dart
  packages/interactive_media_ads/pigeons/interactive_media_ads_android.dart
  packages/interactive_media_ads/pubspec.yaml
Labels: autosubmit, platform-android, platform-ios, p: interactive_media_ads

#7431 Increase deprecation check minimum to iOS 14 and macOS 13
  .ci/targets/ios_platform_tests.yaml
  .ci/targets/macos_platform_tests.yaml
  script/configs/exclude_xcode_deprecation.yaml
Labels: autosubmit

#7529 [pigeon] allow gen of unused classes
  packages/pigeon/CHANGELOG.md
  packages/pigeon/lib/ast.dart
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/lib/pigeon_lib.dart
  packages/pigeon/pigeons/core_tests.dart
  packages/pigeon/platform_tests/alternate_language_test_plugin/android/src/main/java/com/example/alternate_language_test_plugin/AlternateLanguageTestPlugin.java
  packages/pigeon/platform_tests/alternate_language_test_plugin/android/src/main/java/com/example/alternate_language_test_plugin/CoreTests.java
  packages/pigeon/platform_tests/alternate_language_test_plugin/example/ios/RunnerTests/AllDatatypesTest.m
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/AlternateLanguageTestPlugin.m
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/CoreTests.gen.h
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/CoreTests.gen.m
  packages/pigeon/platform_tests/alternate_language_test_plugin/macos/Classes/AlternateLanguageTestPlugin.m
  packages/pigeon/platform_tests/alternate_language_test_plugin/macos/Classes/CoreTests.gen.h
  packages/pigeon/platform_tests/alternate_language_test_plugin/macos/Classes/CoreTests.gen.m
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/integration_tests.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/core_tests.gen.dart
  packages/pigeon/platform_tests/test_plugin/android/src/main/kotlin/com/example/test_plugin/CoreTests.gen.kt
  packages/pigeon/platform_tests/test_plugin/android/src/main/kotlin/com/example/test_plugin/TestPlugin.kt
  packages/pigeon/platform_tests/test_plugin/ios/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/ios/Classes/TestPlugin.swift
  packages/pigeon/platform_tests/test_plugin/linux/pigeon/core_tests.gen.cc
  packages/pigeon/platform_tests/test_plugin/linux/pigeon/core_tests.gen.h
  packages/pigeon/platform_tests/test_plugin/linux/test_plugin.cc
  packages/pigeon/platform_tests/test_plugin/macos/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/macos/Classes/TestPlugin.swift
  packages/pigeon/platform_tests/test_plugin/windows/pigeon/core_tests.gen.cpp
  packages/pigeon/platform_tests/test_plugin/windows/pigeon/core_tests.gen.h
  packages/pigeon/platform_tests/test_plugin/windows/test_plugin.cpp
  packages/pigeon/platform_tests/test_plugin/windows/test_plugin.h
  packages/pigeon/pubspec.yaml
  packages/pigeon/test/pigeon_lib_test.dart
Labels: p: pigeon, autosubmit, platform-android, platform-ios, platform-linux, platform-macos, platform-windows

#7428 [flutter_adaptive_scaffold] Add correct material spacing and panes
  packages/flutter_adaptive_scaffold/CHANGELOG.md
  packages/flutter_adaptive_scaffold/lib/src/adaptive_scaffold.dart
  packages/flutter_adaptive_scaffold/lib/src/breakpoints.dart
  packages/flutter_adaptive_scaffold/pubspec.yaml
  packages/flutter_adaptive_scaffold/test/adaptive_scaffold_test.dart
  packages/flutter_adaptive_scaffold/test/breakpoint_test.dart
  packages/flutter_adaptive_scaffold/test/simulated_layout.dart
Labels: autosubmit, p: flutter_adaptive_scaffold

#7473 [in_app_purchase_storekit] Add storekit 2 support for canMakePayments and products
  packages/in_app_purchase/in_app_purchase_storekit/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_storekit/darwin/Classes/InAppPurchasePlugin.swift
  packages/in_app_purchase/in_app_purchase_storekit/darwin/Classes/StoreKit2/InAppPurchaseStoreKit2.swift
  packages/in_app_purchase/in_app_purchase_storekit/darwin/Classes/StoreKit2/StoreKit2Translators.swift
  packages/in_app_purchase/in_app_purchase_storekit/darwin/Classes/StoreKit2/sk2_pigeon.g.swift
  packages/in_app_purchase/in_app_purchase_storekit/example/ios/Runner.xcodeproj/project.pbxproj
  packages/in_app_purchase/in_app_purchase_storekit/example/ios/Runner/Configuration.storekit
  packages/in_app_purchase/in_app_purchase_storekit/example/ios/RunnerTests/InAppPurchaseStoreKit2PluginTests.swift
  packages/in_app_purchase/in_app_purchase_storekit/example/ios/RunnerTests/StoreKit2TranslatorTests.swift
  packages/in_app_purchase/in_app_purchase_storekit/lib/src/in_app_purchase_storekit_platform.dart
  packages/in_app_purchase/in_app_purchase_storekit/lib/src/sk2_pigeon.g.dart
  packages/in_app_purchase/in_app_purchase_storekit/lib/src/store_kit_2_wrappers/sk2_appstore_wrapper.dart
  packages/in_app_purchase/in_app_purchase_storekit/lib/src/store_kit_2_wrappers/sk2_product_wrapper.dart
  packages/in_app_purchase/in_app_purchase_storekit/lib/src/types/app_store_product_details.dart
  packages/in_app_purchase/in_app_purchase_storekit/lib/store_kit_2_wrappers.dart
  packages/in_app_purchase/in_app_purchase_storekit/pigeons/sk2_pigeon.dart
  packages/in_app_purchase/in_app_purchase_storekit/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_storekit/test/fakes/fake_storekit_platform.dart
  packages/in_app_purchase/in_app_purchase_storekit/test/in_app_purchase_storekit_2_platform_test.dart
  packages/in_app_purchase/in_app_purchase_storekit/test/sk2_test_api.g.dart
Labels: autosubmit, p: in_app_purchase, platform-ios, platform-macos

#7537 [interactive_media_ads] Fixes bug where ad can replay during content playback
  packages/interactive_media_ads/CHANGELOG.md
  packages/interactive_media_ads/android/src/main/kotlin/dev/flutter/packages/interactive_media_ads/AdsRequestProxyApi.kt
  packages/interactive_media_ads/android/src/main/kotlin/dev/flutter/packages/interactive_media_ads/InteractiveMediaAdsLibrary.g.kt
  packages/interactive_media_ads/android/src/main/kotlin/dev/flutter/packages/interactive_media_ads/VideoViewProxyApi.kt
  packages/interactive_media_ads/ios/interactive_media_ads/Sources/interactive_media_ads/AdsRequestProxyAPIDelegate.swift
  packages/interactive_media_ads/lib/src/android/android_ad_display_container.dart
  packages/interactive_media_ads/lib/src/android/interactive_media_ads.g.dart
  packages/interactive_media_ads/pigeons/interactive_media_ads_android.dart
  packages/interactive_media_ads/pubspec.yaml
  packages/interactive_media_ads/test/android/ad_display_container_test.dart
Labels: autosubmit, platform-android, platform-ios, p: interactive_media_ads

#7476 [pigeon] adds support for collections of enums and classes
  packages/pigeon/CHANGELOG.md
  packages/pigeon/example/app/ios/Runner/Messages.g.swift
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/lib/pigeon_lib.dart
  packages/pigeon/lib/swift_generator.dart
  packages/pigeon/pigeons/core_tests.dart
  packages/pigeon/platform_tests/alternate_language_test_plugin/android/src/main/java/com/example/alternate_language_test_plugin/AlternateLanguageTestPlugin.java
  packages/pigeon/platform_tests/alternate_language_test_plugin/android/src/main/java/com/example/alternate_language_test_plugin/CoreTests.java
  packages/pigeon/platform_tests/alternate_language_test_plugin/android/src/test/java/com/example/alternate_language_test_plugin/AllDatatypesTest.java
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/AlternateLanguageTestPlugin.m
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/CoreTests.gen.h
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/CoreTests.gen.m
  packages/pigeon/platform_tests/alternate_language_test_plugin/macos/Classes/AlternateLanguageTestPlugin.h
  packages/pigeon/platform_tests/alternate_language_test_plugin/macos/Classes/AlternateLanguageTestPlugin.m
  packages/pigeon/platform_tests/alternate_language_test_plugin/macos/Classes/CoreTests.gen.h
  packages/pigeon/platform_tests/alternate_language_test_plugin/macos/Classes/CoreTests.gen.m
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/integration_tests.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/core_tests.gen.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/test_types.dart
  packages/pigeon/platform_tests/test_plugin/android/src/main/kotlin/com/example/test_plugin/CoreTests.gen.kt
  packages/pigeon/platform_tests/test_plugin/android/src/main/kotlin/com/example/test_plugin/TestPlugin.kt
  packages/pigeon/platform_tests/test_plugin/ios/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/ios/Classes/TestPlugin.swift
  packages/pigeon/platform_tests/test_plugin/linux/pigeon/core_tests.gen.cc
  packages/pigeon/platform_tests/test_plugin/linux/pigeon/core_tests.gen.h
  packages/pigeon/platform_tests/test_plugin/linux/test_plugin.cc
  packages/pigeon/platform_tests/test_plugin/macos/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/macos/Classes/TestPlugin.swift
  packages/pigeon/platform_tests/test_plugin/windows/pigeon/core_tests.gen.cpp
  packages/pigeon/platform_tests/test_plugin/windows/pigeon/core_tests.gen.h
  packages/pigeon/platform_tests/test_plugin/windows/test_plugin.cpp
  packages/pigeon/platform_tests/test_plugin/windows/test_plugin.h
  packages/pigeon/pubspec.yaml
  packages/pigeon/test/swift_generator_test.dart
  packages/pigeon/tool/shared/generation.dart
Labels: p: pigeon, autosubmit, platform-android, platform-ios, platform-linux, platform-macos, platform-windows

#7531 [flutter_adaptive_scaffold] Compare breakpoints
  packages/flutter_adaptive_scaffold/CHANGELOG.md
  packages/flutter_adaptive_scaffold/README.md
  packages/flutter_adaptive_scaffold/lib/src/breakpoints.dart
  packages/flutter_adaptive_scaffold/pubspec.yaml
  packages/flutter_adaptive_scaffold/test/breakpoint_test.dart
Labels: autosubmit, p: flutter_adaptive_scaffold
