Repository flutter/packages, pull requests merged in 2024-04, with the labels that each got.

#6445 [camera_android_camerax] Move integration_test dependency to tests
  packages/camera/camera_android_camerax/CHANGELOG.md
  packages/camera/camera_android_camerax/pubspec.yaml
Labels: autosubmit, p: camera

#6448 Manual roll Flutter from 9d32f07e34c3 to 7fa932be5c12 (19 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6450 Roll Flutter from 7fa932be5c12 to a418568a6498 (5 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6449 [various] Remove all traces of the `_ambiguate` workaround
  packages/camera/camera_avfoundation/CHANGELOG.md
  packages/camera/camera_avfoundation/example/lib/main.dart
  packages/camera/camera_avfoundation/pubspec.yaml
  packages/flutter_markdown/CHANGELOG.md
  packages/flutter_markdown/lib/src/builder.dart
  packages/flutter_markdown/pubspec.yaml
  packages/flutter_markdown/test/utils.dart
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/lib/video_player.dart
  packages/video_player/video_player/pubspec.yaml
  packages/video_player/video_player/test/video_player_test.dart
Labels: p: flutter_markdown, autosubmit, p: camera, platform-ios, platform-macos, p: video_player

#6446 [Tool] Add ability to check dependencies independently of dev-dependencies, exclude integration_test from dependencies
  script/tool/lib/src/pubspec_check_command.dart
  script/tool/test/pubspec_check_command_test.dart
Labels: autosubmit

#6224 [pigeon] Allow multi instance support with message channel name suffix
  packages/pigeon/CHANGELOG.md
  packages/pigeon/README.md
  packages/pigeon/example/README.md
  packages/pigeon/example/app/android/app/src/main/java/io/flutter/plugins/Messages.java
  packages/pigeon/example/app/android/app/src/main/kotlin/dev/flutter/pigeon_example_app/Messages.g.kt
  packages/pigeon/example/app/ios/Runner/Messages.g.swift
  packages/pigeon/example/app/lib/main.dart
  packages/pigeon/example/app/lib/src/messages.g.dart
  packages/pigeon/example/app/macos/Runner/messages.g.h
  packages/pigeon/example/app/macos/Runner/messages.g.m
  packages/pigeon/example/app/windows/runner/messages.g.cpp
  packages/pigeon/example/app/windows/runner/messages.g.h
  packages/pigeon/lib/cpp_generator.dart
  packages/pigeon/lib/dart_generator.dart
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/lib/java_generator.dart
  packages/pigeon/lib/kotlin_generator.dart
  packages/pigeon/lib/objc_generator.dart
  packages/pigeon/lib/swift_generator.dart
  packages/pigeon/pigeons/core_tests.dart
  packages/pigeon/platform_tests/alternate_language_test_plugin/android/src/main/java/com/example/alternate_language_test_plugin/AlternateLanguageTestPlugin.java
  packages/pigeon/platform_tests/alternate_language_test_plugin/android/src/main/java/com/example/alternate_language_test_plugin/CoreTests.java
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/AlternateLanguageTestPlugin.h
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/AlternateLanguageTestPlugin.m
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/CoreTests.gen.h
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/CoreTests.gen.m
  packages/pigeon/platform_tests/alternate_language_test_plugin/macos/Classes/AlternateLanguageTestPlugin.h
  packages/pigeon/platform_tests/alternate_language_test_plugin/macos/Classes/AlternateLanguageTestPlugin.m
  packages/pigeon/platform_tests/alternate_language_test_plugin/macos/Classes/CoreTests.gen.h
  packages/pigeon/platform_tests/alternate_language_test_plugin/macos/Classes/CoreTests.gen.m
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/integration_tests.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/background_platform_channels.gen.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/core_tests.gen.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/enum.gen.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/flutter_unittests.gen.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/message.gen.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/multiple_arity.gen.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/non_null_fields.gen.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/null_fields.gen.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/nullable_returns.gen.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/primitive.gen.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/test/null_safe_test.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/test/primitive_test.dart
  packages/pigeon/platform_tests/test_plugin/android/src/main/kotlin/com/example/test_plugin/CoreTests.gen.kt
  packages/pigeon/platform_tests/test_plugin/android/src/main/kotlin/com/example/test_plugin/TestPlugin.kt
  packages/pigeon/platform_tests/test_plugin/example/ios/Runner.xcodeproj/project.pbxproj
  packages/pigeon/platform_tests/test_plugin/example/ios/RunnerTests/RunnerTests.swift
  packages/pigeon/platform_tests/test_plugin/ios/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/ios/Classes/TestPlugin.swift
  packages/pigeon/platform_tests/test_plugin/macos/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/macos/Classes/TestPlugin.swift
  packages/pigeon/platform_tests/test_plugin/windows/pigeon/core_tests.gen.cpp
  packages/pigeon/platform_tests/test_plugin/windows/pigeon/core_tests.gen.h
  packages/pigeon/platform_tests/test_plugin/windows/test_plugin.cpp
  packages/pigeon/platform_tests/test_plugin/windows/test_plugin.h
  packages/pigeon/pubspec.yaml
  packages/pigeon/test/dart_generator_test.dart
  packages/pigeon/test/java_generator_test.dart
  packages/pigeon/test/kotlin_generator_test.dart
  packages/pigeon/test/swift_generator_test.dart
Labels: p: pigeon, autosubmit, platform-android, platform-ios, platform-macos, platform-windows

#6460 Roll Flutter from e868e2b3834f to ac2ca9347cf9 (25 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6457 Redistribute CODEOWNERS
  CODEOWNERS
Labels: autosubmit

#6463 Fix macos_platform_tests package build times out when built for all packages
  packages/in_app_purchase/in_app_purchase_storekit/example/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
Labels: p: in_app_purchase, platform-ios, platform-macos

#6051 [video_player] Call `super.dispose` last in README example
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/README.md
  packages/video_player/video_player/example/lib/basic.dart
  packages/video_player/video_player/pubspec.yaml
Labels: autosubmit, p: video_player

#6470 Roll Flutter from ac2ca9347cf9 to 477ebd831c12 (32 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6434 Add limit to image_picker_platform_interface
  packages/image_picker/image_picker_platform_interface/CHANGELOG.md
  packages/image_picker/image_picker_platform_interface/lib/src/method_channel/method_channel_image_picker.dart
  packages/image_picker/image_picker_platform_interface/lib/src/types/media_options.dart
  packages/image_picker/image_picker_platform_interface/lib/src/types/multi_image_picker_options.dart
  packages/image_picker/image_picker_platform_interface/pubspec.yaml
  packages/image_picker/image_picker_platform_interface/test/media_options_test.dart
  packages/image_picker/image_picker_platform_interface/test/method_channel_image_picker_test.dart
  packages/image_picker/image_picker_platform_interface/test/multi_image_picker_options_test.dart
Labels: autosubmit, p: image_picker

#6453 [in_app_purchase] Convert Android data objects to Pigeon
  packages/in_app_purchase/in_app_purchase_android/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_android/android/src/main/java/io/flutter/plugins/inapppurchase/Messages.java
  packages/in_app_purchase/in_app_purchase_android/android/src/main/java/io/flutter/plugins/inapppurchase/MethodCallHandlerImpl.java
  packages/in_app_purchase/in_app_purchase_android/android/src/main/java/io/flutter/plugins/inapppurchase/PluginPurchaseListener.java
  packages/in_app_purchase/in_app_purchase_android/android/src/main/java/io/flutter/plugins/inapppurchase/Translator.java
  packages/in_app_purchase/in_app_purchase_android/android/src/test/java/io/flutter/plugins/inapppurchase/MethodCallHandlerTest.java
  packages/in_app_purchase/in_app_purchase_android/android/src/test/java/io/flutter/plugins/inapppurchase/TranslatorTest.java
  packages/in_app_purchase/in_app_purchase_android/lib/src/billing_client_wrappers/alternative_billing_only_reporting_details_wrapper.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/billing_client_wrappers/billing_client_wrapper.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/billing_client_wrappers/billing_config_wrapper.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/billing_client_wrappers/billing_response_wrapper.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/billing_client_wrappers/one_time_purchase_offer_details_wrapper.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/billing_client_wrappers/product_details_wrapper.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/billing_client_wrappers/purchase_wrapper.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/billing_client_wrappers/subscription_offer_details_wrapper.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/billing_client_wrappers/user_choice_details_wrapper.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/messages.g.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/pigeon_converters.dart
  packages/in_app_purchase/in_app_purchase_android/pigeons/messages.dart
  packages/in_app_purchase/in_app_purchase_android/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_android/test/billing_client_wrappers/billing_client_wrapper_test.dart
  packages/in_app_purchase/in_app_purchase_android/test/billing_client_wrappers/billing_client_wrapper_test.mocks.dart
  packages/in_app_purchase/in_app_purchase_android/test/in_app_purchase_android_platform_addition_test.dart
  packages/in_app_purchase/in_app_purchase_android/test/in_app_purchase_android_platform_test.dart
  packages/in_app_purchase/in_app_purchase_android/test/test_conversion_utils.dart
Labels: autosubmit, p: in_app_purchase, platform-android

#6447 [go_router] Fixes deep links with no path
  packages/go_router/CHANGELOG.md
  packages/go_router/lib/src/parser.dart
  packages/go_router/lib/src/path_utils.dart
  packages/go_router/pubspec.yaml
  packages/go_router/test/parser_test.dart
  packages/go_router/test/path_utils_test.dart
Labels: p: go_router, autosubmit

#6238 [go_router_builder] Add `restorationScopeId` to `ShellRouteData`
  packages/go_router_builder/CHANGELOG.md
  packages/go_router_builder/lib/src/route_config.dart
  packages/go_router_builder/pubspec.yaml
  packages/go_router_builder/test_inputs/shell_route_data.dart
  packages/go_router_builder/test_inputs/shell_route_data.dart.expect
Labels: p: go_router_builder, autosubmit

#6488 Roll Flutter from 98d23f709fec to 533d04d14df0 (12 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6490 [camera_android] Remove `TestUtils.java`
  packages/camera/camera_android/CHANGELOG.md
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/Camera.java
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/MethodCallHandlerImpl.java
  packages/camera/camera_android/android/src/test/java/io/flutter/plugins/camera/CameraTest.java
  packages/camera/camera_android/android/src/test/java/io/flutter/plugins/camera/MethodCallHandlerImplTest.java
  packages/camera/camera_android/android/src/test/java/io/flutter/plugins/camera/utils/TestUtils.java
  packages/camera/camera_android/pubspec.yaml
Labels: autosubmit, p: camera, platform-android

#6491 Release compileSdk changes
  packages/flutter_plugin_android_lifecycle/CHANGELOG.md
  packages/flutter_plugin_android_lifecycle/pubspec.yaml
  packages/path_provider/path_provider_android/CHANGELOG.md
  packages/path_provider/path_provider_android/pubspec.yaml
Labels: autosubmit, p: flutter_plugin_android_lifecycle, p: path_provider, platform-android

#6492 Roll Flutter from 533d04d14df0 to 4967a94cd907 (12 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6489 [in_app_purchase_android] Cleanup, create listener where it is used
  packages/in_app_purchase/in_app_purchase_android/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_android/android/build.gradle
  packages/in_app_purchase/in_app_purchase_android/android/src/main/java/io/flutter/plugins/inapppurchase/BillingClientFactory.java
  packages/in_app_purchase/in_app_purchase_android/android/src/main/java/io/flutter/plugins/inapppurchase/BillingClientFactoryImpl.java
  packages/in_app_purchase/in_app_purchase_android/android/src/main/java/io/flutter/plugins/inapppurchase/MethodCallHandlerImpl.java
  packages/in_app_purchase/in_app_purchase_android/android/src/test/java/io/flutter/plugins/inapppurchase/BillingClientFactoryImplTest.java
  packages/in_app_purchase/in_app_purchase_android/android/src/test/java/io/flutter/plugins/inapppurchase/MethodCallHandlerTest.java
  packages/in_app_purchase/in_app_purchase_android/pubspec.yaml
Labels: autosubmit, p: in_app_purchase, platform-android

#6497 Roll Flutter from 4967a94cd907 to 97cd47a02e60 (11 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6493 [camerax] Shorten interval for releasing weak references to Dart-wrapped native objects
  packages/camera/camera_android_camerax/CHANGELOG.md
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/ImageAnalysisHostApiImpl.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/InstanceManager.java
  packages/camera/camera_android_camerax/pubspec.yaml
Labels: autosubmit, p: camera, platform-android

#6472 [tool] Check for `test` and `flutter_test` in non-dev dependencies
  packages/css_colors/CHANGELOG.md
  packages/css_colors/pubspec.yaml
  packages/web_benchmarks/CHANGELOG.md
  packages/web_benchmarks/pubspec.yaml
  script/tool/lib/src/pubspec_check_command.dart
  script/tool/test/pubspec_check_command_test.dart
Labels: p: web_benchmarks, p: css_colors, autosubmit

#6355 Update multiple packages to depend on versions with iOS privacy manifest included
  packages/image_picker/image_picker/CHANGELOG.md
  packages/image_picker/image_picker/pubspec.yaml
  packages/path_provider/path_provider/CHANGELOG.md
  packages/path_provider/path_provider/pubspec.yaml
  packages/shared_preferences/shared_preferences/CHANGELOG.md
  packages/shared_preferences/shared_preferences/pubspec.yaml
  packages/url_launcher/url_launcher/CHANGELOG.md
  packages/url_launcher/url_launcher/pubspec.yaml
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/pubspec.yaml
Labels: autosubmit, p: image_picker, p: path_provider, p: video_player, p: url_launcher, p: shared_preferences

#6471 [packages] Set parallelizable to NO to reduce test flakiness in packages project tests
  packages/google_sign_in/google_sign_in_ios/example/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/pointer_interceptor/pointer_interceptor_ios/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/video_player/video_player/example/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/video_player/video_player_avfoundation/example/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
Labels: p: pointer_interceptor, autosubmit, p: google_sign_in, platform-ios, platform-macos, p: video_player

#6502 Roll Flutter from 97cd47a02e60 to 557fbf5167f6 (22 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6474 Access current location using uri.path to support deep links
  packages/go_router/CHANGELOG.md
  packages/go_router/example/lib/shell_route.dart
  packages/go_router/example/lib/shell_route_top_route.dart
  packages/go_router/pubspec.yaml
  packages/go_router/test/go_router_state_test.dart
  packages/go_router_builder/CHANGELOG.md
  packages/go_router_builder/example/lib/all_types.dart
  packages/go_router_builder/example/lib/shell_route_example.dart
  packages/go_router_builder/example/lib/shell_route_with_keys_example.dart
  packages/go_router_builder/example/lib/shell_route_with_observers_example.dart
  packages/go_router_builder/example/test/all_types_test.dart
  packages/go_router_builder/pubspec.yaml
Labels: p: go_router_builder, p: go_router, autosubmit

#6503 [file_selector] Remove OCMock from iOS implementation
  packages/file_selector/file_selector_ios/CHANGELOG.md
  packages/file_selector/file_selector_ios/example/ios/Podfile
  packages/file_selector/file_selector_ios/example/ios/Runner.xcodeproj/project.pbxproj
  packages/file_selector/file_selector_ios/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/file_selector/file_selector_ios/example/ios/RunnerTests/FileSelectorTests.m
  packages/file_selector/file_selector_ios/ios/Classes/FFSFileSelectorPlugin.m
  packages/file_selector/file_selector_ios/ios/Classes/FFSFileSelectorPlugin_Test.h
  packages/file_selector/file_selector_ios/pubspec.yaml
Labels: autosubmit, p: file_selector, platform-ios

#6509 Roll Flutter from 557fbf5167f6 to 53cba24de3a0 (11 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6507 [video_player] Darwin implementation cleanup
  packages/video_player/video_player_avfoundation/CHANGELOG.md
  packages/video_player/video_player_avfoundation/darwin/Classes/FVPVideoPlayerPlugin.m
  packages/video_player/video_player_avfoundation/darwin/Classes/messages.g.h
  packages/video_player/video_player_avfoundation/darwin/Classes/messages.g.m
  packages/video_player/video_player_avfoundation/darwin/RunnerTests/VideoPlayerTests.m
  packages/video_player/video_player_avfoundation/example/ios/Runner.xcodeproj/project.pbxproj
  packages/video_player/video_player_avfoundation/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/video_player/video_player_avfoundation/example/macos/Runner.xcodeproj/project.pbxproj
  packages/video_player/video_player_avfoundation/example/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/video_player/video_player_avfoundation/lib/src/avfoundation_video_player.dart
  packages/video_player/video_player_avfoundation/lib/src/messages.g.dart
  packages/video_player/video_player_avfoundation/pigeons/messages.dart
  packages/video_player/video_player_avfoundation/pubspec.yaml
  packages/video_player/video_player_avfoundation/test/avfoundation_video_player_test.dart
  packages/video_player/video_player_avfoundation/test/test_api.g.dart
Labels: autosubmit, platform-ios, platform-macos, p: video_player

#6506 [Many] Bump to min minSdkVersion of 19 across all plugins
  .ci/legacy_project/all_packages/android/app/build.gradle
  packages/espresso/CHANGELOG.md
  packages/espresso/android/build.gradle
  packages/espresso/pubspec.yaml
  packages/flutter_plugin_android_lifecycle/CHANGELOG.md
  packages/flutter_plugin_android_lifecycle/android/build.gradle
  packages/flutter_plugin_android_lifecycle/pubspec.yaml
  packages/google_sign_in/google_sign_in_android/CHANGELOG.md
  packages/google_sign_in/google_sign_in_android/android/build.gradle
  packages/google_sign_in/google_sign_in_android/pubspec.yaml
  packages/image_picker/image_picker_android/CHANGELOG.md
  packages/image_picker/image_picker_android/android/build.gradle
  packages/image_picker/image_picker_android/android/src/main/java/io/flutter/plugins/imagepicker/ImagePickerDelegate.java
  packages/image_picker/image_picker_android/pubspec.yaml
  packages/path_provider/path_provider_android/CHANGELOG.md
  packages/path_provider/path_provider_android/android/build.gradle
  packages/path_provider/path_provider_android/android/src/main/java/io/flutter/plugins/pathprovider/PathProviderPlugin.java
  packages/path_provider/path_provider_android/android/src/main/java/io/flutter/plugins/pathprovider/StorageDirectoryMapper.java
  packages/path_provider/path_provider_android/pubspec.yaml
  packages/pigeon/platform_tests/alternate_language_test_plugin/android/build.gradle
  packages/pigeon/platform_tests/test_plugin/android/build.gradle
  packages/quick_actions/quick_actions_android/CHANGELOG.md
  packages/quick_actions/quick_actions_android/android/build.gradle
  packages/quick_actions/quick_actions_android/pubspec.yaml
  packages/shared_preferences/shared_preferences_android/CHANGELOG.md
  packages/shared_preferences/shared_preferences_android/android/build.gradle
  packages/shared_preferences/shared_preferences_android/pubspec.yaml
  packages/url_launcher/url_launcher_android/CHANGELOG.md
  packages/url_launcher/url_launcher_android/android/build.gradle
  packages/url_launcher/url_launcher_android/pubspec.yaml
  packages/video_player/video_player_android/CHANGELOG.md
  packages/video_player/video_player_android/android/build.gradle
  packages/video_player/video_player_android/android/src/test/java/io/flutter/plugins/videoplayer/VideoPlayerTest.java
  packages/video_player/video_player_android/pubspec.yaml
Labels: p: pigeon, autosubmit, p: espresso, p: flutter_plugin_android_lifecycle, p: google_sign_in, p: image_picker, p: path_provider, p: quick_actions, platform-android, p: video_player, p: url_launcher, p: shared_preferences

#6518 Fix error in markdown parsing image dimensions
  packages/flutter_markdown/CHANGELOG.md
  packages/flutter_markdown/lib/src/builder.dart
  packages/flutter_markdown/pubspec.yaml
  packages/flutter_markdown/test/image_test.dart
Labels: p: flutter_markdown, autosubmit

#6537 Update local_auth_android minSdkVersion to 19
  packages/local_auth/local_auth_android/CHANGELOG.md
  packages/local_auth/local_auth_android/android/build.gradle
  packages/local_auth/local_auth_android/pubspec.yaml
Labels: autosubmit, p: local_auth, platform-android

#6541 Manual roll Flutter from 53cba24de3a0 to 2e748e8598b3 (19 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6505 [url_launcher][web] Link should work when triggered by keyboard
  packages/url_launcher/url_launcher_web/CHANGELOG.md
  packages/url_launcher/url_launcher_web/example/integration_test/link_widget_test.dart
  packages/url_launcher/url_launcher_web/lib/src/link.dart
  packages/url_launcher/url_launcher_web/pubspec.yaml
Labels: autosubmit, platform-web, p: url_launcher

#5523 [image_picker] Adopt code excerpts in README
  packages/image_picker/image_picker_for_web/CHANGELOG.md
  packages/image_picker/image_picker_for_web/README.md
  packages/image_picker/image_picker_for_web/example/integration_test/readme_excerpts_test.dart
  packages/image_picker/image_picker_for_web/example/lib/readme_excerpts.dart
  packages/image_picker/image_picker_for_web/pubspec.yaml
  script/configs/temp_exclude_excerpt.yaml
Labels: autosubmit, p: image_picker, platform-web

#6501 [video_player] Calls `onDestroy` instead of `initialize` in onDetachedFromEngine
  packages/video_player/video_player_android/CHANGELOG.md
  packages/video_player/video_player_android/android/src/main/java/io/flutter/plugins/videoplayer/VideoPlayerPlugin.java
  packages/video_player/video_player_android/example/android/app/src/test/java/io/flutter/plugins/videoplayerexample/FlutterActivityTest.java
  packages/video_player/video_player_android/pubspec.yaml
Labels: autosubmit, platform-android, p: video_player

#6520 [CupertinoIcons] fix broken icons and vertical alignment, bump the version to 1.08
  third_party/packages/cupertino_icons/CHANGELOG.md
  third_party/packages/cupertino_icons/assets/CupertinoIcons.ttf
  third_party/packages/cupertino_icons/pubspec.yaml
Labels: p: cupertino_icons, autosubmit

#6201 [image_picker] Add limit parameter to pickMultiImage and pickMultipleMedia to ios and Android
  packages/image_picker/image_picker/CHANGELOG.md
  packages/image_picker/image_picker/example/lib/main.dart
  packages/image_picker/image_picker/example/pubspec.yaml
  packages/image_picker/image_picker/lib/image_picker.dart
  packages/image_picker/image_picker/pubspec.yaml
  packages/image_picker/image_picker/test/image_picker_test.dart
  packages/image_picker/image_picker_android/CHANGELOG.md
  packages/image_picker/image_picker_android/android/src/main/AndroidManifest.xml
  packages/image_picker/image_picker_android/android/src/main/java/io/flutter/plugins/imagepicker/ImagePickerDelegate.java
  packages/image_picker/image_picker_android/android/src/main/java/io/flutter/plugins/imagepicker/ImagePickerPlugin.java
  packages/image_picker/image_picker_android/android/src/main/java/io/flutter/plugins/imagepicker/ImagePickerUtils.java
  packages/image_picker/image_picker_android/android/src/main/java/io/flutter/plugins/imagepicker/Messages.java
  packages/image_picker/image_picker_android/android/src/test/java/io/flutter/plugins/imagepicker/ImagePickerDelegateTest.java
  packages/image_picker/image_picker_android/android/src/test/java/io/flutter/plugins/imagepicker/ImagePickerPluginTest.java
  packages/image_picker/image_picker_android/example/lib/main.dart
  packages/image_picker/image_picker_android/example/pubspec.yaml
  packages/image_picker/image_picker_android/lib/image_picker_android.dart
  packages/image_picker/image_picker_android/lib/src/messages.g.dart
  packages/image_picker/image_picker_android/pigeons/messages.dart
  packages/image_picker/image_picker_android/pubspec.yaml
  packages/image_picker/image_picker_android/test/image_picker_android_test.dart
  packages/image_picker/image_picker_android/test/test_api.g.dart
  packages/image_picker/image_picker_ios/CHANGELOG.md
  packages/image_picker/image_picker_ios/example/ios/RunnerTests/ImagePickerPluginTests.m
  packages/image_picker/image_picker_ios/example/lib/main.dart
  packages/image_picker/image_picker_ios/example/pubspec.yaml
  packages/image_picker/image_picker_ios/ios/Classes/FLTImagePickerPlugin.m
  packages/image_picker/image_picker_ios/ios/Classes/messages.g.h
  packages/image_picker/image_picker_ios/ios/Classes/messages.g.m
  packages/image_picker/image_picker_ios/lib/image_picker_ios.dart
  packages/image_picker/image_picker_ios/lib/src/messages.g.dart
  packages/image_picker/image_picker_ios/pigeons/messages.dart
  packages/image_picker/image_picker_ios/pubspec.yaml
  packages/image_picker/image_picker_ios/test/image_picker_ios_test.dart
  packages/image_picker/image_picker_ios/test/test_api.g.dart
Labels: autosubmit, p: image_picker, platform-android, platform-ios

#6549 Manual roll Flutter from 2e748e8598b3 to 3882afbfa997 (16 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6552 [google_maps_flutter] Update app-facing package iOS requirements
  packages/google_maps_flutter/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter/README.md
  packages/google_maps_flutter/google_maps_flutter/example/ios/Podfile
  packages/google_maps_flutter/google_maps_flutter/example/ios/Runner.xcodeproj/project.pbxproj
  packages/google_maps_flutter/google_maps_flutter/pubspec.yaml
Labels: warning: land on red to fix tree breakage, autosubmit, p: google_maps_flutter, platform-ios

#6548 [in_app_purchase_platform_interface] Adds countryCode API
  packages/in_app_purchase/in_app_purchase_platform_interface/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_platform_interface/lib/src/in_app_purchase_platform.dart
  packages/in_app_purchase/in_app_purchase_platform_interface/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_platform_interface/test/in_app_purchase_platform_test.dart
Labels: autosubmit, p: in_app_purchase

#6404 [google_sign_in_ios] Upgrade GoogleSignIn iOS SDK to 7.1
  .ci/targets/ios_build_all_packages.yaml
  .ci/targets/macos_build_all_packages.yaml
  packages/google_sign_in/google_sign_in_ios/CHANGELOG.md
  packages/google_sign_in/google_sign_in_ios/darwin/google_sign_in_ios.podspec
  packages/google_sign_in/google_sign_in_ios/example/ios/Runner.xcodeproj/project.pbxproj
  packages/google_sign_in/google_sign_in_ios/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/google_sign_in/google_sign_in_ios/pubspec.yaml
  script/tool/lib/src/fetch_deps_command.dart
  script/tool/test/fetch_deps_command_test.dart
Labels: autosubmit, p: google_sign_in, platform-ios, platform-macos

#6556 [in_app_purchase] Add countryCode implementation to android and storekit
  packages/in_app_purchase/in_app_purchase_android/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_android/lib/src/in_app_purchase_android_platform.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/in_app_purchase_android_platform_addition.dart
  packages/in_app_purchase/in_app_purchase_android/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_android/test/in_app_purchase_android_platform_test.dart
  packages/in_app_purchase/in_app_purchase_storekit/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_storekit/lib/src/in_app_purchase_storekit_platform.dart
  packages/in_app_purchase/in_app_purchase_storekit/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_storekit/test/fakes/fake_storekit_platform.dart
  packages/in_app_purchase/in_app_purchase_storekit/test/in_app_purchase_storekit_platform_test.dart
Labels: autosubmit, p: in_app_purchase, platform-android, platform-ios, platform-macos

#6553 [camera] Initial iOS Pigeon conversion
  packages/camera/camera_avfoundation/CHANGELOG.md
  packages/camera/camera_avfoundation/example/ios/RunnerTests/AvailableCamerasTest.m
  packages/camera/camera_avfoundation/ios/Classes/CameraPlugin.h
  packages/camera/camera_avfoundation/ios/Classes/CameraPlugin.m
  packages/camera/camera_avfoundation/ios/Classes/messages.g.h
  packages/camera/camera_avfoundation/ios/Classes/messages.g.m
  packages/camera/camera_avfoundation/lib/src/avfoundation_camera.dart
  packages/camera/camera_avfoundation/lib/src/messages.g.dart
  packages/camera/camera_avfoundation/lib/src/utils.dart
  packages/camera/camera_avfoundation/pigeons/copyright.txt
  packages/camera/camera_avfoundation/pigeons/messages.dart
  packages/camera/camera_avfoundation/pubspec.yaml
  packages/camera/camera_avfoundation/test/avfoundation_camera_test.dart
  packages/camera/camera_avfoundation/test/avfoundation_camera_test.mocks.dart
  packages/camera/camera_avfoundation/test/utils_test.dart
Labels: autosubmit, p: camera, platform-ios, platform-macos

#6540 [in_app_purchase] Add api to expose country code
  packages/in_app_purchase/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase/lib/in_app_purchase.dart
  packages/in_app_purchase/in_app_purchase/pubspec.yaml
  packages/in_app_purchase/in_app_purchase/test/in_app_purchase_test.dart
Labels: autosubmit, p: in_app_purchase

#6550 [two_dimensional_scrollables] Refactor Spans for common use
  packages/two_dimensional_scrollables/CHANGELOG.md
  packages/two_dimensional_scrollables/lib/src/common/span.dart
  packages/two_dimensional_scrollables/lib/src/table_view/table.dart
  packages/two_dimensional_scrollables/lib/src/table_view/table_delegate.dart
  packages/two_dimensional_scrollables/lib/src/table_view/table_span.dart
  packages/two_dimensional_scrollables/lib/two_dimensional_scrollables.dart
  packages/two_dimensional_scrollables/pubspec.yaml
  packages/two_dimensional_scrollables/test/common/span_test.dart
Labels: autosubmit, p: two_dimensional_scrollables

#6551 [ci] Add Linux desktop support to Linux custom_package_tests
  .ci.yaml
Labels: autosubmit

#6565 Roll Flutter from 3882afbfa997 to fb110b98da15 (56 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6563 [ci] Add more dev dependency checks, and fix errors
  packages/camera/camera_avfoundation/CHANGELOG.md
  packages/camera/camera_avfoundation/pubspec.yaml
  script/tool/lib/src/pubspec_check_command.dart
  script/tool/test/pubspec_check_command_test.dart
Labels: autosubmit, p: camera, platform-ios, platform-macos

#6384 [flutter_markdown] Ensure customize nested bullet list style.
  packages/flutter_markdown/CHANGELOG.md
  packages/flutter_markdown/example/lib/demos/custom_bullet_list_demo.dart
  packages/flutter_markdown/example/lib/screens/home_screen.dart
  packages/flutter_markdown/lib/src/builder.dart
  packages/flutter_markdown/lib/src/widget.dart
  packages/flutter_markdown/pubspec.yaml
  packages/flutter_markdown/test/list_test.dart
Labels: p: flutter_markdown, autosubmit

#6568 [camera] Convert iOS Obj-C->Dart calls to Pigeon
  packages/camera/camera_avfoundation/CHANGELOG.md
  packages/camera/camera_avfoundation/example/ios/Runner.xcodeproj/project.pbxproj
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraFocusTests.m
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraOrientationTests.m
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraPropertiesTests.m
  packages/camera/camera_avfoundation/example/ios/RunnerTests/ThreadSafeMethodChannelTests.m
  packages/camera/camera_avfoundation/ios/Classes/CameraPlugin.m
  packages/camera/camera_avfoundation/ios/Classes/CameraPlugin.modulemap
  packages/camera/camera_avfoundation/ios/Classes/CameraPlugin_Test.h
  packages/camera/camera_avfoundation/ios/Classes/CameraProperties.h
  packages/camera/camera_avfoundation/ios/Classes/CameraProperties.m
  packages/camera/camera_avfoundation/ios/Classes/FLTCam.h
  packages/camera/camera_avfoundation/ios/Classes/FLTCam.m
  packages/camera/camera_avfoundation/ios/Classes/FLTThreadSafeMethodChannel.h
  packages/camera/camera_avfoundation/ios/Classes/FLTThreadSafeMethodChannel.m
  packages/camera/camera_avfoundation/ios/Classes/messages.g.h
  packages/camera/camera_avfoundation/ios/Classes/messages.g.m
  packages/camera/camera_avfoundation/lib/src/avfoundation_camera.dart
  packages/camera/camera_avfoundation/lib/src/messages.g.dart
  packages/camera/camera_avfoundation/lib/src/utils.dart
  packages/camera/camera_avfoundation/pigeons/messages.dart
  packages/camera/camera_avfoundation/pubspec.yaml
  packages/camera/camera_avfoundation/test/avfoundation_camera_test.dart
  packages/camera/camera_avfoundation/test/utils_test.dart
Labels: autosubmit, p: camera, platform-ios, platform-macos

#6575 Roll Flutter (stable) from 300451adae58 to 54e66469a933 (1 revision)
  .ci/flutter_stable.version
Labels: autosubmit

#6577 Roll Flutter from fb110b98da15 to 98685a099fdd (28 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#5874 [flutter_markdown] Custom fontfeature superscript
  packages/flutter_markdown/CHANGELOG.md
  packages/flutter_markdown/lib/src/builder.dart
  packages/flutter_markdown/lib/src/style_sheet.dart
  packages/flutter_markdown/pubspec.yaml
  packages/flutter_markdown/test/footnote_test.dart
Labels: p: flutter_markdown, autosubmit

#6583 Roll Flutter from 98685a099fdd to 1a905d508de1 (30 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6580 [pointer_interceptor_web] Remove semantic tests.
  packages/pointer_interceptor/pointer_interceptor_web/example/integration_test/widget_test.dart
Labels: p: pointer_interceptor, autosubmit, platform-web

#6594 Roll Flutter from 1a905d508de1 to 140edb988312 (5 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6514 [image_picker] Fix If imageToScale is nil, the app will crash (#146682)
  packages/image_picker/image_picker_ios/CHANGELOG.md
  packages/image_picker/image_picker_ios/example/ios/RunnerTests/ImageUtilTests.m
  packages/image_picker/image_picker_ios/ios/Classes/FLTImagePickerImageUtil.m
  packages/image_picker/image_picker_ios/pubspec.yaml
Labels: autosubmit, p: image_picker, platform-ios

#6591 Bump legacy all_packages project AGP version to 7.0.0, Gradle version to 7.0.2
  .ci/legacy_project/README.md
  .ci/legacy_project/all_packages/android/build.gradle
  .ci/legacy_project/all_packages/android/gradle/wrapper/gradle-wrapper.properties
Labels: autosubmit

#6578 [in_app_purchase_android] Readme update for Alternative billing
  packages/in_app_purchase/in_app_purchase_android/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_android/README.md
  packages/in_app_purchase/in_app_purchase_android/pubspec.yaml
Labels: autosubmit, p: in_app_purchase, platform-android

#6596 [go_router] Fixes an issue where route future does not complete when …
  packages/go_router/CHANGELOG.md
  packages/go_router/lib/src/delegate.dart
  packages/go_router/pubspec.yaml
  packages/go_router/test/go_router_test.dart
Labels: p: go_router, autosubmit

#6601 [camera] Finish converting iOS to Pigeon
  packages/camera/camera_avfoundation/CHANGELOG.md
  packages/camera/camera_avfoundation/example/ios/Runner.xcodeproj/project.pbxproj
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraCaptureSessionQueueRaceConditionTests.m
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraFocusTests.m
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraMethodChannelTests.m
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraPreviewPauseTests.m
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraPropertiesTests.m
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraSessionPresetsTests.m
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraSettingsTests.m
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraTestUtils.h
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraTestUtils.m
  packages/camera/camera_avfoundation/example/ios/RunnerTests/FLTCamPhotoCaptureTests.m
  packages/camera/camera_avfoundation/example/ios/RunnerTests/FLTCamSampleBufferTests.m
  packages/camera/camera_avfoundation/example/ios/RunnerTests/ThreadSafeTextureRegistryTests.m
  packages/camera/camera_avfoundation/ios/Classes/CameraPlugin.m
  packages/camera/camera_avfoundation/ios/Classes/CameraPlugin.modulemap
  packages/camera/camera_avfoundation/ios/Classes/CameraPlugin_Test.h
  packages/camera/camera_avfoundation/ios/Classes/CameraProperties.h
  packages/camera/camera_avfoundation/ios/Classes/CameraProperties.m
  packages/camera/camera_avfoundation/ios/Classes/FLTCam.h
  packages/camera/camera_avfoundation/ios/Classes/FLTCam.m
  packages/camera/camera_avfoundation/ios/Classes/FLTCamMediaSettings.h
  packages/camera/camera_avfoundation/ios/Classes/FLTCamMediaSettings.m
  packages/camera/camera_avfoundation/ios/Classes/FLTCam_Test.h
  packages/camera/camera_avfoundation/ios/Classes/FLTThreadSafeTextureRegistry.h
  packages/camera/camera_avfoundation/ios/Classes/FLTThreadSafeTextureRegistry.m
  packages/camera/camera_avfoundation/ios/Classes/messages.g.h
  packages/camera/camera_avfoundation/ios/Classes/messages.g.m
  packages/camera/camera_avfoundation/lib/src/avfoundation_camera.dart
  packages/camera/camera_avfoundation/lib/src/messages.g.dart
  packages/camera/camera_avfoundation/lib/src/utils.dart
  packages/camera/camera_avfoundation/pigeons/messages.dart
  packages/camera/camera_avfoundation/pubspec.yaml
  packages/camera/camera_avfoundation/test/avfoundation_camera_test.dart
  packages/camera/camera_avfoundation/test/avfoundation_camera_test.mocks.dart
  packages/camera/camera_avfoundation/test/method_channel_mock.dart
  packages/camera/camera_avfoundation/test/utils_test.dart
Labels: autosubmit, p: camera, platform-ios, platform-macos

#6607 Roll Flutter from 77043bae1a5e to dba4f7747441 (30 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6557 Add CI steps to test iOS and macOS plugins with both CocoaPods and Swift Package Manager
  .ci/targets/ios_platform_tests.yaml
  .ci/targets/macos_platform_tests.yaml
  script/tool/lib/src/build_examples_command.dart
  script/tool/test/build_examples_command_test.dart
Labels: autosubmit

#6612 Roll Flutter from dba4f7747441 to 5d3bca4500b1 (17 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#5865 [go_router_builder] add support to go_router_builder for initializing a StatefulShellBranch with observers
  packages/go_router_builder/CHANGELOG.md
  packages/go_router_builder/lib/src/route_config.dart
  packages/go_router_builder/pubspec.yaml
  packages/go_router_builder/test_inputs/statefull_shell_branch_with_observers_data.dart
  packages/go_router_builder/test_inputs/statefull_shell_branch_with_observers_data.dart.expect
Labels: p: go_router_builder, autosubmit

#6213 [go_router] Update redirect documentation example code for clarity
  packages/go_router/CHANGELOG.md
  packages/go_router/doc/redirection.md
  packages/go_router/pubspec.yaml
Labels: p: go_router, autosubmit

#6616 Roll Flutter from 5d3bca4500b1 to 2e806700b928 (20 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6620 Roll Flutter from 2e806700b928 to f9933b6994e4 (17 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6622 Roll Flutter from f9933b6994e4 to db8c475cac11 (3 revisions)
  .ci/flutter_master.version
Labels: warning: land on red to fix tree breakage, autosubmit

#6438 [file_selector_android] Modifies `getDirectoryPath`, `openFile`, `openFiles` to return file/directory paths instead of URIs
  .github/dependabot.yml
  packages/file_selector/file_selector_android/CHANGELOG.md
  packages/file_selector/file_selector_android/android/build.gradle
  packages/file_selector/file_selector_android/android/src/main/java/dev/flutter/packages/file_selector_android/FileSelectorApiImpl.java
  packages/file_selector/file_selector_android/android/src/main/java/dev/flutter/packages/file_selector_android/FileUtils.java
  packages/file_selector/file_selector_android/android/src/test/java/dev/flutter/packages/file_selector_android/FileSelectorAndroidPluginTest.java
  packages/file_selector/file_selector_android/android/src/test/java/dev/flutter/packages/file_selector_android/FileUtilsTest.java
  packages/file_selector/file_selector_android/example/android/app/src/androidTest/java/dev/flutter/packages/file_selector_android_example/FileSelectorAndroidTest.java
  packages/file_selector/file_selector_android/pubspec.yaml
Labels: autosubmit, p: file_selector, platform-android

#6626 [file_selector_android] Update `LICENSE` file to include newly added licensed code
  packages/file_selector/file_selector_android/CHANGELOG.md
  packages/file_selector/file_selector_android/LICENSE
  packages/file_selector/file_selector_android/pubspec.yaml
Labels: autosubmit, p: file_selector, platform-android

#6185 [google_maps_flutter] Add marker clustering support - android implementation
  packages/google_maps_flutter/google_maps_flutter_android/AUTHORS
  packages/google_maps_flutter/google_maps_flutter_android/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_android/android/build.gradle
  packages/google_maps_flutter/google_maps_flutter_android/android/src/main/java/io/flutter/plugins/googlemaps/ClusterManagersController.java
  packages/google_maps_flutter/google_maps_flutter_android/android/src/main/java/io/flutter/plugins/googlemaps/Convert.java
  packages/google_maps_flutter/google_maps_flutter_android/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapBuilder.java
  packages/google_maps_flutter/google_maps_flutter_android/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapController.java
  packages/google_maps_flutter/google_maps_flutter_android/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapFactory.java
  packages/google_maps_flutter/google_maps_flutter_android/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapOptionsSink.java
  packages/google_maps_flutter/google_maps_flutter_android/android/src/main/java/io/flutter/plugins/googlemaps/MarkerBuilder.java
  packages/google_maps_flutter/google_maps_flutter_android/android/src/main/java/io/flutter/plugins/googlemaps/MarkerController.java
  packages/google_maps_flutter/google_maps_flutter_android/android/src/main/java/io/flutter/plugins/googlemaps/MarkersController.java
  packages/google_maps_flutter/google_maps_flutter_android/android/src/test/java/io/flutter/plugins/googlemaps/ClusterManagersControllerTest.java
  packages/google_maps_flutter/google_maps_flutter_android/android/src/test/java/io/flutter/plugins/googlemaps/ConvertTest.java
  packages/google_maps_flutter/google_maps_flutter_android/android/src/test/java/io/flutter/plugins/googlemaps/GoogleMapControllerTest.java
  packages/google_maps_flutter/google_maps_flutter_android/android/src/test/java/io/flutter/plugins/googlemaps/MarkersControllerTest.java
  packages/google_maps_flutter/google_maps_flutter_android/example/android/app/build.gradle
  packages/google_maps_flutter/google_maps_flutter_android/example/integration_test/google_maps_tests.dart
  packages/google_maps_flutter/google_maps_flutter_android/example/lib/clustering.dart
  packages/google_maps_flutter/google_maps_flutter_android/example/lib/example_google_map.dart
  packages/google_maps_flutter/google_maps_flutter_android/example/lib/main.dart
  packages/google_maps_flutter/google_maps_flutter_android/example/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_android/example/test/fake_google_maps_flutter_platform.dart
  packages/google_maps_flutter/google_maps_flutter_android/lib/src/google_map_inspector_android.dart
  packages/google_maps_flutter/google_maps_flutter_android/lib/src/google_maps_flutter_android.dart
  packages/google_maps_flutter/google_maps_flutter_android/lib/src/utils/cluster_manager_utils.dart
  packages/google_maps_flutter/google_maps_flutter_android/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_android/test/cluster_manager_utils_test.dart
Labels: p: google_maps_flutter, platform-android

#6187 [google_maps_flutter] Add marker clustering support - web implementation
  packages/google_maps_flutter/google_maps_flutter_web/AUTHORS
  packages/google_maps_flutter/google_maps_flutter_web/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_web/README.md
  packages/google_maps_flutter/google_maps_flutter_web/example/integration_test/google_maps_controller_test.mocks.dart
  packages/google_maps_flutter/google_maps_flutter_web/example/integration_test/google_maps_plugin_test.dart
  packages/google_maps_flutter/google_maps_flutter_web/example/integration_test/google_maps_plugin_test.mocks.dart
  packages/google_maps_flutter/google_maps_flutter_web/example/integration_test/marker_clustering_test.dart
  packages/google_maps_flutter/google_maps_flutter_web/example/integration_test/markers_test.dart
  packages/google_maps_flutter/google_maps_flutter_web/example/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_web/example/web/index.html
  packages/google_maps_flutter/google_maps_flutter_web/lib/google_maps_flutter_web.dart
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/convert.dart
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/google_maps_controller.dart
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/google_maps_flutter_web.dart
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/google_maps_inspector_web.dart
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/marker.dart
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/marker_clustering.dart
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/marker_clustering_js_interop.dart
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/markers.dart
  packages/google_maps_flutter/google_maps_flutter_web/pubspec.yaml
Labels: p: google_maps_flutter, platform-web

#6569 [image_picker] Update documentation to note that Photo Picker use is non-optional on Android 13+
  packages/image_picker/image_picker/CHANGELOG.md
  packages/image_picker/image_picker/README.md
  packages/image_picker/image_picker/pubspec.yaml
  packages/image_picker/image_picker_android/CHANGELOG.md
  packages/image_picker/image_picker_android/README.md
  packages/image_picker/image_picker_android/pubspec.yaml
Labels: autosubmit, p: image_picker, platform-android

#6544 [flutter_adaptive_scaffold] use `MediaQuery.sizeOf` instead of `MediaQuery.of` to prevent unnecessary rebuilds
  packages/flutter_adaptive_scaffold/CHANGELOG.md
  packages/flutter_adaptive_scaffold/lib/src/breakpoints.dart
  packages/flutter_adaptive_scaffold/pubspec.yaml
  packages/flutter_adaptive_scaffold/test/breakpoint_test.dart
Labels: autosubmit, p: flutter_adaptive_scaffold

#6631 Roll Flutter from db8c475cac11 to b597dd24cb97 (23 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6632 [go_router_builder] Tweaks for latest analyzer-6.5.0
  packages/go_router_builder/CHANGELOG.md
  packages/go_router_builder/lib/src/type_helpers.dart
  packages/go_router_builder/pubspec.yaml
Labels: warning: land on red to fix tree breakage, p: go_router_builder, autosubmit

#6627 Skip podspec Swift Search Path validation if only swift file is Package.swift
  script/tool/lib/src/podspec_check_command.dart
  script/tool/test/license_check_command_test.dart
  script/tool/test/podspec_check_command_test.dart
Labels: autosubmit
