Repository flutter/packages, pull requests merged in 2024-01, with the labels that each got.

#5733 Add Flutter CI Status badge to README
  README.md
Labels: autosubmit

#5683 Unpin mac_toolchain version
  .ci.yaml
Labels: autosubmit

#5693 [google_sign_in] Correct clearAuthCache declarations
  packages/google_sign_in/google_sign_in_android/CHANGELOG.md
  packages/google_sign_in/google_sign_in_android/lib/google_sign_in_android.dart
  packages/google_sign_in/google_sign_in_android/pubspec.yaml
  packages/google_sign_in/google_sign_in_ios/CHANGELOG.md
  packages/google_sign_in/google_sign_in_ios/lib/google_sign_in_ios.dart
  packages/google_sign_in/google_sign_in_ios/pubspec.yaml
Labels: autosubmit, p: google_sign_in, platform-android, platform-ios

#5787 [google_sign_in] Correct method channel `clearAuthCache` declaration
  packages/google_sign_in/google_sign_in_platform_interface/CHANGELOG.md
  packages/google_sign_in/google_sign_in_platform_interface/lib/src/method_channel_google_sign_in.dart
  packages/google_sign_in/google_sign_in_platform_interface/pubspec.yaml
Labels: autosubmit, p: google_sign_in

#5785 [pointer_interceptor_web] Update package APIs and tests.
  packages/pointer_interceptor/pointer_interceptor_web/CHANGELOG.md
  packages/pointer_interceptor/pointer_interceptor_web/example/integration_test/widget_test.dart
  packages/pointer_interceptor/pointer_interceptor_web/example/lib/main.dart
  packages/pointer_interceptor/pointer_interceptor_web/example/pubspec.yaml
  packages/pointer_interceptor/pointer_interceptor_web/example/web/icons/Icon-maskable-192.png
  packages/pointer_interceptor/pointer_interceptor_web/example/web/icons/Icon-maskable-512.png
  packages/pointer_interceptor/pointer_interceptor_web/example/web/index.html
  packages/pointer_interceptor/pointer_interceptor_web/example/web/manifest.json
  packages/pointer_interceptor/pointer_interceptor_web/lib/pointer_interceptor_web.dart
  packages/pointer_interceptor/pointer_interceptor_web/pubspec.yaml
Labels: p: pointer_interceptor, autosubmit, platform-web

#5758 [url_launcher] Add `InAppBrowserConfiguration` parameter
  packages/url_launcher/url_launcher_platform_interface/CHANGELOG.md
  packages/url_launcher/url_launcher_platform_interface/lib/src/types.dart
  packages/url_launcher/url_launcher_platform_interface/pubspec.yaml
  packages/url_launcher/url_launcher_platform_interface/test/in_app_browser_configuration_test.dart
  packages/url_launcher/url_launcher_platform_interface/test/launch_options_test.dart
Labels: autosubmit, p: url_launcher

#5775 [tool] Handle Flutter dev dependencies
  script/tool/lib/src/common/repository_package.dart
  script/tool/test/common/repository_package_test.dart
Labels: autosubmit

#5805 [file_selector_android] Attempt to close system dialogs before integration tests run
  packages/file_selector/file_selector_android/example/android/app/src/androidTest/java/dev/flutter/packages/file_selector_android_example/FileSelectorAndroidTest.java
Labels: warning: land on red to fix tree breakage, autosubmit, p: file_selector, platform-android

#5786 [pigeon] java non null void
  packages/pigeon/CHANGELOG.md
  packages/pigeon/example/app/android/app/src/main/java/io/flutter/plugins/Messages.java
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/lib/java_generator.dart
  packages/pigeon/platform_tests/alternate_language_test_plugin/android/src/main/java/com/example/alternate_language_test_plugin/AlternateLanguageTestPlugin.java
  packages/pigeon/platform_tests/alternate_language_test_plugin/android/src/main/java/com/example/alternate_language_test_plugin/CoreTests.java
  packages/pigeon/platform_tests/alternate_language_test_plugin/android/src/test/java/com/example/alternate_language_test_plugin/AsyncTest.java
  packages/pigeon/pubspec.yaml
  packages/pigeon/test/java_generator_test.dart
Labels: p: pigeon, autosubmit, platform-android

#5781 [video_player] Fix initial frame on macOS
  packages/video_player/video_player_avfoundation/CHANGELOG.md
  packages/video_player/video_player_avfoundation/darwin/Classes/FVPVideoPlayerPlugin.m
  packages/video_player/video_player_avfoundation/darwin/RunnerTests/VideoPlayerTests.m
  packages/video_player/video_player_avfoundation/pubspec.yaml
Labels: autosubmit, p: video_player

#5654 [image_picker] Remove input element after completion
  AUTHORS
  packages/image_picker/image_picker_for_web/CHANGELOG.md
  packages/image_picker/image_picker_for_web/example/integration_test/image_picker_for_web_test.dart
  packages/image_picker/image_picker_for_web/lib/image_picker_for_web.dart
  packages/image_picker/image_picker_for_web/pubspec.yaml
Labels: autosubmit, p: image_picker, platform-web

#5804 [ci] Run 'flutter build --config-only for iOS and macOS during fetch deps
  script/tool/lib/src/fetch_deps_command.dart
  script/tool/test/fetch_deps_command_test.dart
Labels: autosubmit

#5806 Manual roll Flutter from 11def8eff455 to cc40425ddcef (118 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#5847 [ci] Exclude quick_actions from Android emulators
  .ci/targets/android_platform_tests.yaml
  script/configs/exclude_native_integration_android_emulator.yaml
Labels: warning: land on red to fix tree breakage, autosubmit

#5852 Roll Flutter from c6ddb73f971e to 126302dfb44c (32 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#5855 Roll Flutter from 126302dfb44c to b840a60d7d3f (29 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#5853 [quick_actions_android] Close system dialogs for integration test
  .ci/targets/android_platform_tests.yaml
  packages/quick_actions/quick_actions_android/example/android/app/src/androidTest/java/io/flutter/plugins/quickactionsexample/QuickActionsTest.java
  script/configs/exclude_native_integration_android_emulator.yaml
Labels: autosubmit, p: quick_actions, platform-android

#5871 Roll Flutter from b840a60d7d3f to 9f2e681e7be6 (24 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#5870 Roll Flutter (stable) from 78666c8dc57e to 46787ee49c1f (5 revisions)
  .ci/flutter_stable.version
Labels: autosubmit

#5872 [video_player] Skip flaky tests in certain circumstances on Android
  packages/video_player/video_player/example/integration_test/video_player_test.dart
Labels: autosubmit, p: video_player

#5882 Roll Flutter from 9f2e681e7be6 to 7dc856ab8423 (15 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#5887 Roll Flutter (stable) from 46787ee49c1f to ef1af02aead6 (1 revision)
  .ci/flutter_stable.version
Labels: autosubmit

#5723 [webview_flutter_android] Add test that `onReceivedHttpAuthRequest` is cancelled by default
  packages/webview_flutter/webview_flutter_android/test/android_navigation_delegate_test.dart
  packages/webview_flutter/webview_flutter_android/test/android_navigation_delegate_test.mocks.dart
Labels: autosubmit, platform-android, p: webview_flutter

#5895 Roll Flutter from 7dc856ab8423 to 1a2c3151fef2 (23 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#5876 [rfw] Add support for tracking source locations of BlobNodes.
  packages/rfw/CHANGELOG.md
  packages/rfw/lib/src/dart/model.dart
  packages/rfw/lib/src/dart/text.dart
  packages/rfw/lib/src/flutter/runtime.dart
  packages/rfw/pubspec.yaml
  packages/rfw/test/model_test.dart
  packages/rfw/test/source_locations_test.dart
  packages/rfw/test_coverage/bin/test_coverage.dart
Labels: p: rfw, autosubmit

#5886 Bump `release` to use 3.16.6
  .github/workflows/release.yml
Labels: autosubmit

#5903 [pigeon] Fix pigeon test generation missing wrapResponse method.
  packages/pigeon/CHANGELOG.md
  packages/pigeon/lib/dart_generator.dart
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/lib/pigeon_lib.dart
  packages/pigeon/pubspec.yaml
  packages/pigeon/test/dart_generator_test.dart
Labels: p: pigeon, autosubmit

#5885 [ci] Run check_podspecs on arm Mac bots
  .ci.yaml
Labels: autosubmit

#5911 Roll Flutter from 8e94423e6a92 to def6af0b8e6e (23 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#5859 [pigeon] Separates message call code generation into separate methods in the `DartGenerator`
  packages/pigeon/CHANGELOG.md
  packages/pigeon/lib/dart_generator.dart
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/pubspec.yaml
Labels: p: pigeon, autosubmit

#5904 [webview_flutter_wkebview] Verify JavaScriptChannels have a unique name
  packages/webview_flutter/webview_flutter_wkwebview/CHANGELOG.md
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/webkit_webview_controller.dart
  packages/webview_flutter/webview_flutter_wkwebview/pubspec.yaml
  packages/webview_flutter/webview_flutter_wkwebview/test/webkit_webview_controller_test.dart
Labels: autosubmit, platform-ios, p: webview_flutter

#5891 [pigeon] Separates message call code generation into separate methods in the KotlinGenerator
  packages/pigeon/CHANGELOG.md
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/lib/kotlin_generator.dart
  packages/pigeon/pubspec.yaml
Labels: p: pigeon, autosubmit

#5915 [google_maps_flutter] Restore the arm64 workaround
  packages/google_maps_flutter/google_maps_flutter_ios/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios12/ios/Podfile
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios12/ios/Runner.xcodeproj/project.pbxproj
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios13/ios/Podfile
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios13/ios/Runner.xcodeproj/project.pbxproj
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios13/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios14/ios/Podfile
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios14/ios/Runner.xcodeproj/project.pbxproj
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios14/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/google_maps_flutter/google_maps_flutter_ios/ios/google_maps_flutter_ios.podspec
  packages/google_maps_flutter/google_maps_flutter_ios/pubspec.yaml
Labels: autosubmit, p: google_maps_flutter, platform-ios

#5924 Roll Flutter from def6af0b8e6e to f77f82435a97 (25 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#5914 Update tests to Xcode 15 and iOS 17 simulator
  .ci.yaml
  .ci/scripts/create_simulator.sh
  .ci/targets/ios_platform_tests.yaml
  packages/pigeon/tool/shared/test_suites.dart
Labels: p: pigeon, autosubmit

#5905 [ci] Add flags to formatter command to decide which formatters to run
  script/tool/lib/src/format_command.dart
  script/tool/test/format_command_test.dart
Labels: autosubmit

#5925 [google_maps_flutter] Clean up iOS example project
  packages/google_maps_flutter/google_maps_flutter/example/ios/Podfile
  packages/google_maps_flutter/google_maps_flutter/example/ios/Runner.xcodeproj/project.pbxproj
  packages/google_maps_flutter/google_maps_flutter/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
Labels: autosubmit, p: google_maps_flutter, platform-ios

#5864 [pointer_interceptor] fix width and height unset warning on web platform
  packages/pointer_interceptor/pointer_interceptor_web/CHANGELOG.md
  packages/pointer_interceptor/pointer_interceptor_web/lib/pointer_interceptor_web.dart
  packages/pointer_interceptor/pointer_interceptor_web/pubspec.yaml
Labels: p: pointer_interceptor, autosubmit, platform-web

#5921 [two_dimensional_scrollables] Fix must_call_super
  packages/two_dimensional_scrollables/CHANGELOG.md
  packages/two_dimensional_scrollables/lib/src/table_view/table.dart
  packages/two_dimensional_scrollables/pubspec.yaml
Labels: autosubmit, p: two_dimensional_scrollables

#5795 [webview_flutter_wkwebview] Add javascript panel interface for wkwebview
  packages/webview_flutter/webview_flutter_wkwebview/CHANGELOG.md
  packages/webview_flutter/webview_flutter_wkwebview/example/integration_test/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/example/lib/main.dart
  packages/webview_flutter/webview_flutter_wkwebview/example/pubspec.yaml
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFDataConverters.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFGeneratedWebKitApis.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFGeneratedWebKitApis.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFUIDelegateHostApi.m
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/common/web_kit.g.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/web_kit/web_kit.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/web_kit/web_kit_api_impls.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/webkit_proxy.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/webkit_webview_controller.dart
  packages/webview_flutter/webview_flutter_wkwebview/pigeons/web_kit.dart
  packages/webview_flutter/webview_flutter_wkwebview/pubspec.yaml
  packages/webview_flutter/webview_flutter_wkwebview/test/legacy/web_kit_webview_widget_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/web_kit/web_kit_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/webkit_navigation_delegate_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/webkit_webview_controller_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/webkit_webview_widget_test.dart
Labels: autosubmit, platform-ios, p: webview_flutter

#5930 [camera_avfoundation] Remove development team from Xcode example app
  packages/camera/camera_avfoundation/CHANGELOG.md
  packages/camera/camera_avfoundation/example/ios/Runner.xcodeproj/project.pbxproj
Labels: autosubmit, p: camera, platform-ios

#5931 [various] Run swift-format on example app Swift files
  packages/animations/example/ios/Runner/AppDelegate.swift
  packages/dynamic_layouts/example/ios/Runner/AppDelegate.swift
  packages/file_selector/file_selector/example/ios/Runner/AppDelegate.swift
  packages/file_selector/file_selector_ios/example/ios/Runner/AppDelegate.swift
  packages/flutter_adaptive_scaffold/example/ios/Runner/AppDelegate.swift
  packages/flutter_image/example/ios/Runner/AppDelegate.swift
  packages/flutter_markdown/example/ios/Runner/AppDelegate.swift
  packages/go_router/example/ios/Runner/AppDelegate.swift
  packages/palette_generator/example/ios/Runner/AppDelegate.swift
  packages/path_provider/path_provider_foundation/example/ios/Runner/AppDelegate.swift
  packages/platform/example/ios/Runner/AppDelegate.swift
  packages/pointer_interceptor/pointer_interceptor/example/ios/Runner/AppDelegate.swift
  packages/pointer_interceptor/pointer_interceptor/example/ios/Runner/DummyPlatformViewFactory.swift
  packages/pointer_interceptor/pointer_interceptor_ios/example/ios/Runner/AppDelegate.swift
  packages/pointer_interceptor/pointer_interceptor_ios/example/ios/Runner/DummyPlatformViewFactory.swift
  packages/quick_actions/quick_actions_ios/example/ios/RunnerUITests/RunnerUITests.swift
  packages/rfw/example/hello/ios/Runner/AppDelegate.swift
  packages/rfw/example/local/ios/Runner/AppDelegate.swift
  packages/rfw/example/remote/ios/Runner/AppDelegate.swift
  packages/shared_preferences/shared_preferences/example/ios/Runner/AppDelegate.swift
  packages/two_dimensional_scrollables/example/ios/Runner/AppDelegate.swift
  packages/two_dimensional_scrollables/example/macos/RunnerTests/RunnerTests.swift
Labels: p: palette_generator, p: pointer_interceptor, p: flutter_markdown, p: flutter_image, p: rfw, p: go_router, p: animations, autosubmit, override: no versioning needed, override: no changelog needed, p: dynamic_layouts, p: flutter_adaptive_scaffold, p: file_selector, p: path_provider, p: quick_actions, platform-ios, platform-macos, p: shared_preferences

#5933 [shared_preferences_foundation] Run swift-format on Swift files
  packages/shared_preferences/shared_preferences_foundation/darwin/Classes/SharedPreferencesPlugin.swift
  packages/shared_preferences/shared_preferences_foundation/darwin/Tests/RunnerTests.swift
  packages/shared_preferences/shared_preferences_foundation/example/ios/Runner/AppDelegate.swift
Labels: autosubmit, override: no versioning needed, override: no changelog needed, platform-ios, p: shared_preferences

#5935 [path_provider_foundation] Run swift-format on Swift files
  packages/path_provider/path_provider_foundation/darwin/Classes/PathProviderPlugin.swift
  packages/path_provider/path_provider_foundation/darwin/RunnerTests/RunnerTests.swift
Labels: autosubmit, override: no versioning needed, override: no changelog needed, p: path_provider, platform-ios

#5934 [pigeon] Run swift-format on ungenerated example app Swift files
  packages/pigeon/example/README.md
  packages/pigeon/example/app/ios/Runner/AppDelegate.swift
  packages/pigeon/platform_tests/alternate_language_test_plugin/example/macos/RunnerTests/RunnerTests.swift
  packages/pigeon/platform_tests/test_plugin/example/ios/Runner/AppDelegate.swift
  packages/pigeon/platform_tests/test_plugin/example/ios/RunnerTests/AllDatatypesTests.swift
  packages/pigeon/platform_tests/test_plugin/example/ios/RunnerTests/AsyncHandlersTest.swift
  packages/pigeon/platform_tests/test_plugin/example/ios/RunnerTests/EchoBinaryMessenger.swift
  packages/pigeon/platform_tests/test_plugin/example/ios/RunnerTests/EnumTests.swift
  packages/pigeon/platform_tests/test_plugin/example/ios/RunnerTests/HandlerBinaryMessenger.swift
  packages/pigeon/platform_tests/test_plugin/example/ios/RunnerTests/ListTests.swift
  packages/pigeon/platform_tests/test_plugin/example/ios/RunnerTests/MockBinaryMessenger.swift
  packages/pigeon/platform_tests/test_plugin/example/ios/RunnerTests/MultipleArityTests.swift
  packages/pigeon/platform_tests/test_plugin/example/ios/RunnerTests/NSNullFieldTests.swift
  packages/pigeon/platform_tests/test_plugin/example/ios/RunnerTests/NonNullFieldsTest.swift
  packages/pigeon/platform_tests/test_plugin/example/ios/RunnerTests/NullableReturnsTests.swift
  packages/pigeon/platform_tests/test_plugin/example/ios/RunnerTests/PrimitiveTests.swift
  packages/pigeon/platform_tests/test_plugin/example/macos/RunnerTests/BasicCompileTest.swift
  packages/pigeon/platform_tests/test_plugin/ios/Classes/TestPlugin.swift
  packages/pigeon/platform_tests/test_plugin/macos/Classes/TestPlugin.swift
Labels: p: pigeon, autosubmit, override: no versioning needed, override: no changelog needed, platform-ios, platform-macos

#5936 Expose registered widget libraries and local widget library widgets.
  packages/rfw/CHANGELOG.md
  packages/rfw/lib/src/flutter/runtime.dart
  packages/rfw/pubspec.yaml
  packages/rfw/test/runtime_test.dart
  packages/rfw/test_coverage/bin/test_coverage.dart
Labels: p: rfw, autosubmit

#5948 Manual roll Flutter from f77f82435a97 to 684247a3c78a (39 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#5928 [ci] Run Swift formatter and linter during CI formatting
  .ci.yaml
  .ci/targets/macos_repo_checks.yaml
  .ci/targets/repo_checks.yaml
  packages/file_selector/file_selector_macos/example/macos/RunnerTests/RunnerTests.swift
  packages/pigeon/tool/shared/generation.dart
  script/tool/lib/src/format_command.dart
  script/tool/test/format_command_test.dart
Labels: p: pigeon, autosubmit, override: no versioning needed, override: no changelog needed, p: file_selector, platform-macos

#5927 [camera]fix a sample buffer memory leak on pause resume recording
  packages/camera/camera_avfoundation/CHANGELOG.md
  packages/camera/camera_avfoundation/example/ios/RunnerTests/FLTCamSampleBufferTests.m
  packages/camera/camera_avfoundation/ios/Classes/FLTCam.m
  packages/camera/camera_avfoundation/pubspec.yaml
Labels: autosubmit, p: camera, platform-ios

#5949 Roll Flutter from 684247a3c78a to ddf60fb08733 (12 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#5944 [pigeon] Support other hosts in generated file CI checks
  packages/pigeon/example/app/ios/Runner/Messages.g.swift
  packages/pigeon/platform_tests/test_plugin/ios/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/macos/Classes/CoreTests.gen.swift
  packages/pigeon/tool/run_tests.dart
  packages/pigeon/tool/shared/generation.dart
  packages/quick_actions/quick_actions_ios/ios/Classes/messages.g.swift
  script/tool/lib/src/format_command.dart
  script/tool/test/format_command_test.dart
Labels: p: pigeon, autosubmit, override: no versioning needed, override: no changelog needed, p: quick_actions, platform-ios, platform-macos

#5801 Update platform label rules for shared iOS/macOS
  .github/labeler.yml
Labels: autosubmit

#5951 Roll Flutter from ddf60fb08733 to 5dea6b994e8f (5 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#5788 [espresso] Replace deprecated `getObservatoryUri`
  packages/espresso/CHANGELOG.md
  packages/espresso/android/src/main/java/androidx/test/espresso/flutter/action/FlutterViewAction.java
  packages/espresso/pubspec.yaml
Labels: autosubmit, p: espresso, platform-android

#5955 Roll Flutter from 5dea6b994e8f to 3ee8ff287a6e (9 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#5784 [camerax] Update `Activity` references when `ActivityAware` lifecycle methods called
  packages/camera/camera_android_camerax/CHANGELOG.md
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/CameraAndroidCameraxPlugin.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/CameraControlHostApiImpl.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/DeviceOrientationManagerHostApiImpl.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/ImageAnalysisHostApiImpl.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/ImageCaptureHostApiImpl.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/LiveDataHostApiImpl.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/PendingRecordingHostApiImpl.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/ProcessCameraProviderHostApiImpl.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/RecorderHostApiImpl.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/SystemServicesHostApiImpl.java
  packages/camera/camera_android_camerax/android/src/test/java/io/flutter/plugins/camerax/CameraAndroidCameraxPluginTest.java
  packages/camera/camera_android_camerax/pubspec.yaml
Labels: autosubmit, p: camera, platform-android

#5790 [webview_platform_interface] Adds WebResourceRequest to HttpResponseError
  packages/webview_flutter/webview_flutter_platform_interface/CHANGELOG.md
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/types/http_response_error.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/types/types.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/types/web_resource_request.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/types/web_resource_response.dart
  packages/webview_flutter/webview_flutter_platform_interface/pubspec.yaml
  packages/webview_flutter/webview_flutter_platform_interface/test/types_test.dart
  packages/webview_flutter/webview_flutter_platform_interface/test/webview_flutter_platform_interface_export_test.dart
Labels: autosubmit, p: webview_flutter

#5919 [url_launcher]: Fix a grammar error in the comments of launchUrl method
  packages/url_launcher/url_launcher/CHANGELOG.md
  packages/url_launcher/url_launcher/lib/src/url_launcher_uri.dart
  packages/url_launcher/url_launcher/pubspec.yaml
Labels: autosubmit, p: url_launcher

#5965 Roll Flutter from 3ee8ff287a6e to 5b673c28e4ac (28 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#5956 [webview_flutter] Use a local web server for legacy web integration tests
  packages/webview_flutter/webview_flutter_web/example/integration_test/legacy/webview_flutter_test.dart
  script/tool/lib/src/drive_examples_command.dart
Labels: autosubmit, platform-web, p: webview_flutter

#5968 Roll Flutter from 5b673c28e4ac to 19b06f4ee9a0 (21 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#5659 [camerax] Wrap Android classes/methods required for implementing setting focus & exposure points and offset
  packages/camera/camera_android_camerax/CHANGELOG.md
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/CameraAndroidCameraxPlugin.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/CameraControlHostApiImpl.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/FocusMeteringActionHostApiImpl.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/FocusMeteringResultFlutterApiImpl.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/FocusMeteringResultHostApiImpl.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/GeneratedCameraXLibrary.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/MeteringPointHostApiImpl.java
  packages/camera/camera_android_camerax/android/src/test/java/io/flutter/plugins/camerax/CameraControlTest.java
  packages/camera/camera_android_camerax/android/src/test/java/io/flutter/plugins/camerax/FocusMeteringActionTest.java
  packages/camera/camera_android_camerax/android/src/test/java/io/flutter/plugins/camerax/FocusMeteringResultTest.java
  packages/camera/camera_android_camerax/android/src/test/java/io/flutter/plugins/camerax/MeteringPointTest.java
  packages/camera/camera_android_camerax/lib/src/android_camera_camerax_flutter_api_impls.dart
  packages/camera/camera_android_camerax/lib/src/camera_control.dart
  packages/camera/camera_android_camerax/lib/src/camerax_library.g.dart
  packages/camera/camera_android_camerax/lib/src/focus_metering_action.dart
  packages/camera/camera_android_camerax/lib/src/focus_metering_result.dart
  packages/camera/camera_android_camerax/lib/src/metering_point.dart
  packages/camera/camera_android_camerax/pigeons/camerax_library.dart
  packages/camera/camera_android_camerax/pubspec.yaml
  packages/camera/camera_android_camerax/test/android_camera_camerax_test.mocks.dart
  packages/camera/camera_android_camerax/test/camera_control_test.dart
  packages/camera/camera_android_camerax/test/camera_control_test.mocks.dart
  packages/camera/camera_android_camerax/test/focus_metering_action_test.dart
  packages/camera/camera_android_camerax/test/focus_metering_action_test.mocks.dart
  packages/camera/camera_android_camerax/test/focus_metering_result_test.dart
  packages/camera/camera_android_camerax/test/focus_metering_result_test.mocks.dart
  packages/camera/camera_android_camerax/test/metering_point_test.dart
  packages/camera/camera_android_camerax/test/metering_point_test.mocks.dart
  packages/camera/camera_android_camerax/test/test_camerax_library.g.dart
Labels: autosubmit, p: camera, platform-android

#5796 [webview_flutter_android] Add javascript panel interface for android
  packages/webview_flutter/webview_flutter_android/CHANGELOG.md
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/GeneratedAndroidWebView.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebChromeClientFlutterApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebChromeClientHostApiImpl.java
  packages/webview_flutter/webview_flutter_android/example/integration_test/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter_android/example/lib/main.dart
  packages/webview_flutter/webview_flutter_android/example/pubspec.yaml
  packages/webview_flutter/webview_flutter_android/lib/src/android_proxy.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview.g.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview_api_impls.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview_controller.dart
  packages/webview_flutter/webview_flutter_android/pigeons/android_webview.dart
  packages/webview_flutter/webview_flutter_android/pubspec.yaml
  packages/webview_flutter/webview_flutter_android/test/android_navigation_delegate_test.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_controller_test.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_controller_test.mocks.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_test.mocks.dart
  packages/webview_flutter/webview_flutter_android/test/legacy/webview_android_widget_test.mocks.dart
  packages/webview_flutter/webview_flutter_android/test/test_android_webview.g.dart
Labels: autosubmit, platform-android, p: webview_flutter

#4586 [camera] add heif support image iOS
  packages/camera/camera_avfoundation/CHANGELOG.md
  packages/camera/camera_avfoundation/example/integration_test/camera_test.dart
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraPropertiesTests.m
  packages/camera/camera_avfoundation/example/ios/RunnerTests/FLTCamPhotoCaptureTests.m
  packages/camera/camera_avfoundation/example/lib/camera_controller.dart
  packages/camera/camera_avfoundation/example/pubspec.yaml
  packages/camera/camera_avfoundation/ios/Classes/CameraPlugin.m
  packages/camera/camera_avfoundation/ios/Classes/CameraProperties.h
  packages/camera/camera_avfoundation/ios/Classes/CameraProperties.m
  packages/camera/camera_avfoundation/ios/Classes/FLTCam.h
  packages/camera/camera_avfoundation/ios/Classes/FLTCam.m
  packages/camera/camera_avfoundation/ios/Classes/FLTSavePhotoDelegate.m
  packages/camera/camera_avfoundation/ios/Classes/FLTSavePhotoDelegate_Test.h
  packages/camera/camera_avfoundation/lib/src/avfoundation_camera.dart
  packages/camera/camera_avfoundation/pubspec.yaml
  packages/camera/camera_avfoundation/test/avfoundation_camera_test.dart
Labels: autosubmit, p: camera, platform-ios, platform-macos, federated: all_changes

#5661 Add rfw widgets
  packages/rfw/CHANGELOG.md
  packages/rfw/lib/src/flutter/core_widgets.dart
  packages/rfw/lib/src/flutter/material_widgets.dart
  packages/rfw/pubspec.yaml
  packages/rfw/test/core_widgets_test.dart
  packages/rfw/test/goldens/material_test.drawer.png
  packages/rfw/test/goldens/material_test.dropdown.png
  packages/rfw/test/goldens/material_test.scaffold.png
  packages/rfw/test/material_widgets_test.dart
Labels: p: rfw

#5969 Roll Flutter from 19b06f4ee9a0 to a8efa771d6a3 (38 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#5979 Roll Flutter (stable) from 67457e669f79 to 41456452f29d (1 revision)
  .ci/flutter_stable.version
Labels: autosubmit

#5970 Add Kotlin to CONTRIBUTING.md
  CONTRIBUTING.md
Labels: autosubmit

#5736 [go_router] Add `topRoute` to `GoRouterState`
  packages/go_router/CHANGELOG.md
  packages/go_router/example/lib/shell_route_top_route.dart
  packages/go_router/lib/src/builder.dart
  packages/go_router/lib/src/configuration.dart
  packages/go_router/lib/src/match.dart
  packages/go_router/lib/src/state.dart
  packages/go_router/pubspec.yaml
  packages/go_router/test/go_router_state_test.dart
Labels: p: go_router, autosubmit

#6008 Manual roll Flutter from a8efa771d6a3 to 2f6fdf2650d4 (23 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6009 [various] Disambiguate TestDefaultBinaryMessengerBinding
  packages/camera/camera_avfoundation/test/avfoundation_camera_test.dart
  packages/camera/camera_avfoundation/test/method_channel_mock.dart
  packages/camera/camera_platform_interface/test/utils/method_channel_mock.dart
  packages/camera/camera_windows/test/utils/method_channel_mock.dart
  packages/file_selector/file_selector_linux/test/file_selector_linux_test.dart
  packages/file_selector/file_selector_platform_interface/test/method_channel_file_selector_test.dart
  packages/go_router/test/go_router_test.dart
  packages/google_maps_flutter/google_maps_flutter_android/test/google_maps_flutter_android_test.dart
  packages/google_maps_flutter/google_maps_flutter_ios/test/google_maps_flutter_ios_test.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/test/method_channel/method_channel_google_maps_flutter_test.dart
  packages/google_sign_in/google_sign_in_platform_interface/test/method_channel_google_sign_in_test.dart
  packages/image_picker/image_picker_platform_interface/test/method_channel_image_picker_test.dart
  packages/in_app_purchase/in_app_purchase_android/test/billing_client_wrappers/billing_client_manager_test.dart
  packages/in_app_purchase/in_app_purchase_android/test/billing_client_wrappers/billing_client_wrapper_test.dart
  packages/in_app_purchase/in_app_purchase_android/test/in_app_purchase_android_platform_addition_test.dart
  packages/in_app_purchase/in_app_purchase_android/test/in_app_purchase_android_platform_test.dart
  packages/in_app_purchase/in_app_purchase_storekit/test/fakes/fake_storekit_platform.dart
  packages/in_app_purchase/in_app_purchase_storekit/test/in_app_purchase_storekit_platform_addtion_test.dart
  packages/in_app_purchase/in_app_purchase_storekit/test/in_app_purchase_storekit_platform_test.dart
  packages/in_app_purchase/in_app_purchase_storekit/test/store_kit_wrappers/sk_methodchannel_apis_test.dart
  packages/in_app_purchase/in_app_purchase_storekit/test/store_kit_wrappers/sk_payment_queue_delegate_api_test.dart
  packages/local_auth/local_auth_platform_interface/test/default_method_channel_platform_test.dart
  packages/path_provider/path_provider_platform_interface/test/method_channel_path_provider_test.dart
  packages/quick_actions/quick_actions_platform_interface/test/method_channel_quick_actions_test.dart
  packages/shared_preferences/shared_preferences_platform_interface/test/method_channel_shared_preferences_test.dart
  packages/url_launcher/url_launcher_linux/test/url_launcher_linux_test.dart
  packages/url_launcher/url_launcher_platform_interface/test/method_channel_url_launcher_test.dart
  packages/video_player/video_player_android/test/android_video_player_test.dart
  packages/video_player/video_player_avfoundation/test/avfoundation_video_player_test.dart
  packages/webview_flutter/webview_flutter_android/test/legacy/surface_android_test.dart
Labels: p: go_router, autosubmit, p: camera, p: file_selector, p: google_maps_flutter, p: google_sign_in, p: image_picker, p: in_app_purchase, p: local_auth, p: path_provider, p: quick_actions, platform-android, platform-ios, platform-linux, platform-macos, platform-windows, p: webview_flutter, p: video_player, p: url_launcher, p: shared_preferences

#6010 Clarify issue requirement
  .github/PULL_REQUEST_TEMPLATE.md
Labels: autosubmit

#6011 [ci] Reduce tasks slightly
  .ci.yaml
  .ci/targets/repo_checks.yaml
Labels: autosubmit

#5807 [rfw] Add `OverflowBar` widget and Update `ButtonBar` widget implementation
  packages/rfw/CHANGELOG.md
  packages/rfw/lib/src/flutter/material_widgets.dart
  packages/rfw/pubspec.yaml
  packages/rfw/test/goldens/material_test.overflow_bar_properties.overflow.png
  packages/rfw/test/goldens/material_test.overflow_bar_properties.png
  packages/rfw/test/goldens/material_test.overflow_bar_resembles_button_bar.png
  packages/rfw/test/material_widgets_test.dart
Labels: p: rfw, autosubmit

#6013 Manual roll Flutter from 2f6fdf2650d4 to ace9181172b6 (57 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6018 [tool] Exempt federated impl examples from CHANGELOG
  script/tool/lib/src/common/package_state_utils.dart
  script/tool/test/common/package_state_utils_test.dart
Labels: autosubmit

#5861 [pigeon] Adds ProxyApi to AST generation
  packages/pigeon/CHANGELOG.md
  packages/pigeon/lib/ast.dart
  packages/pigeon/lib/cpp_generator.dart
  packages/pigeon/lib/dart_generator.dart
  packages/pigeon/lib/generator.dart
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/lib/java_generator.dart
  packages/pigeon/lib/kotlin_generator.dart
  packages/pigeon/lib/objc_generator.dart
  packages/pigeon/lib/pigeon.dart
  packages/pigeon/lib/pigeon_lib.dart
  packages/pigeon/lib/swift_generator.dart
  packages/pigeon/pubspec.yaml
  packages/pigeon/test/cpp_generator_test.dart
  packages/pigeon/test/dart_generator_test.dart
  packages/pigeon/test/generator_tools_test.dart
  packages/pigeon/test/java_generator_test.dart
  packages/pigeon/test/kotlin_generator_test.dart
  packages/pigeon/test/objc_generator_test.dart
  packages/pigeon/test/pigeon_lib_test.dart
  packages/pigeon/test/swift_generator_test.dart
Labels: p: pigeon, autosubmit

#5848 [rfw] Enable subscribing to the root of a DynamicContent
  packages/rfw/CHANGELOG.md
  packages/rfw/lib/src/flutter/content.dart
  packages/rfw/pubspec.yaml
  packages/rfw/test/runtime_test.dart
  packages/rfw/test_coverage/bin/test_coverage.dart
Labels: p: rfw, autosubmit

#5941 [in_app_purchase] Add play country code api
  packages/in_app_purchase/in_app_purchase_android/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_android/android/build.gradle
  packages/in_app_purchase/in_app_purchase_android/android/src/main/java/io/flutter/plugins/inapppurchase/MethodCallHandlerImpl.java
  packages/in_app_purchase/in_app_purchase_android/android/src/main/java/io/flutter/plugins/inapppurchase/Translator.java
  packages/in_app_purchase/in_app_purchase_android/android/src/test/java/io/flutter/plugins/inapppurchase/MethodCallHandlerTest.java
  packages/in_app_purchase/in_app_purchase_android/example/README.md
  packages/in_app_purchase/in_app_purchase_android/example/lib/main.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/billing_client_wrappers/billing_client_wrapper.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/billing_client_wrappers/billing_config_wrapper.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/billing_client_wrappers/billing_config_wrapper.g.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/in_app_purchase_android_platform_addition.dart
  packages/in_app_purchase/in_app_purchase_android/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_android/test/billing_client_wrappers/billing_client_wrapper_test.dart
  packages/in_app_purchase/in_app_purchase_android/test/in_app_purchase_android_platform_addition_test.dart
Labels: autosubmit, p: in_app_purchase, platform-android

#5910 [in_app_purchase] Convert storefront(), transactions(), canMakePayment(), and addPayment() to pigeon
  packages/in_app_purchase/in_app_purchase_storekit/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_storekit/darwin/Classes/FIAObjectTranslator.h
  packages/in_app_purchase/in_app_purchase_storekit/darwin/Classes/FIAObjectTranslator.m
  packages/in_app_purchase/in_app_purchase_storekit/darwin/Classes/InAppPurchasePlugin.h
  packages/in_app_purchase/in_app_purchase_storekit/darwin/Classes/InAppPurchasePlugin.m
  packages/in_app_purchase/in_app_purchase_storekit/darwin/Classes/messages.g.h
  packages/in_app_purchase/in_app_purchase_storekit/darwin/Classes/messages.g.m
  packages/in_app_purchase/in_app_purchase_storekit/example/ios/Runner.xcodeproj/project.pbxproj
  packages/in_app_purchase/in_app_purchase_storekit/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/in_app_purchase/in_app_purchase_storekit/example/shared/RunnerTests/InAppPurchasePluginTests.m
  packages/in_app_purchase/in_app_purchase_storekit/example/shared/RunnerTests/TranslatorTests.m
  packages/in_app_purchase/in_app_purchase_storekit/lib/src/messages.g.dart
  packages/in_app_purchase/in_app_purchase_storekit/lib/src/store_kit_wrappers/sk_payment_queue_wrapper.dart
  packages/in_app_purchase/in_app_purchase_storekit/lib/src/store_kit_wrappers/sk_payment_transaction_wrappers.dart
  packages/in_app_purchase/in_app_purchase_storekit/lib/src/store_kit_wrappers/sk_storefront_wrapper.dart
  packages/in_app_purchase/in_app_purchase_storekit/pigeons/copyright.txt
  packages/in_app_purchase/in_app_purchase_storekit/pigeons/messages.dart
  packages/in_app_purchase/in_app_purchase_storekit/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_storekit/test/fakes/fake_storekit_platform.dart
  packages/in_app_purchase/in_app_purchase_storekit/test/in_app_purchase_storekit_platform_addtion_test.dart
  packages/in_app_purchase/in_app_purchase_storekit/test/in_app_purchase_storekit_platform_test.dart
  packages/in_app_purchase/in_app_purchase_storekit/test/store_kit_wrappers/sk_methodchannel_apis_test.dart
  packages/in_app_purchase/in_app_purchase_storekit/test/store_kit_wrappers/sk_test_stub_objects.dart
  packages/in_app_purchase/in_app_purchase_storekit/test/test_api.g.dart
Labels: p: in_app_purchase, platform-ios, platform-macos

#6020 [rfw] Restore RFW to 100% coverage after `ButtonBar` update
  packages/rfw/CHANGELOG.md
  packages/rfw/lib/src/flutter/material_widgets.dart
  packages/rfw/pubspec.yaml
  packages/rfw/test/goldens/material_test.button_bar_properties.overflow.png
  packages/rfw/test/goldens/material_test.button_bar_properties.png
  packages/rfw/test/material_widgets_test.dart
Labels: p: rfw, autosubmit

#6024 [tool] Extend `flutter test` workaround to other desktops
  script/tool/lib/src/drive_examples_command.dart
  script/tool/test/drive_examples_command_test.dart
Labels: autosubmit
