Repository flutter/packages, pull requests merged in 2024-02, with the labels that each got.

#6017 Roll Flutter from ace9181172b6 to 75a2e5b4932a (16 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6026 Manual roll Flutter from 75a2e5b4932a to c65ab4d513da (22 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6028 Manual roll Flutter from c65ab4d513da to e02e2079bea7 (38 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6021 [camerax] Change `buildPreview` to return `Texture` versus `FutureBuilder`
  packages/camera/camera_android_camerax/CHANGELOG.md
  packages/camera/camera_android_camerax/lib/src/android_camera_camerax.dart
  packages/camera/camera_android_camerax/pubspec.yaml
  packages/camera/camera_android_camerax/test/android_camera_camerax_test.dart
Labels: autosubmit, p: camera

#6027 [file_selector] Fix comment typo
  packages/file_selector/file_selector/CHANGELOG.md
  packages/file_selector/file_selector/lib/file_selector.dart
  packages/file_selector/file_selector/pubspec.yaml
Labels: autosubmit, p: file_selector

#6029 [tool] Add details to missing gradle coverage error
  script/tool/lib/src/dependabot_check_command.dart
  script/tool/test/dependabot_check_command_test.dart
Labels: autosubmit

#6025 Update the emulator versions and expose cipd.
  .ci.yaml
Labels: autosubmit

#6033 Add a link the different possible Android virtual device configs
  .ci.yaml
Labels: autosubmit

#6022 [camerax] Clarify how CameraX uses preset resolution
  packages/camera/camera_android_camerax/CHANGELOG.md
  packages/camera/camera_android_camerax/lib/src/android_camera_camerax.dart
  packages/camera/camera_android_camerax/pubspec.yaml
  packages/camera/camera_platform_interface/CHANGELOG.md
  packages/camera/camera_platform_interface/lib/src/types/resolution_preset.dart
  packages/camera/camera_platform_interface/pubspec.yaml
Labels: autosubmit, p: camera

#6044 Skip the wasm test for now, it doesn't even actually test wasm currently
  packages/web_benchmarks/testing/web_benchmarks_test.dart
Labels: p: web_benchmarks, autosubmit, override: no versioning needed, override: no changelog needed

#5966 [camerax] Wrap Android classes/methods required to set the exposure mode
  packages/camera/camera_android_camerax/CHANGELOG.md
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/AnalyzerHostApiImpl.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/AspectRatioStrategyHostApiImpl.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/Camera2CameraControlHostApiImpl.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/CameraControlHostApiImpl.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/CaptureRequestOptionsHostApiImpl.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/FallbackStrategyHostApiImpl.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/FocusMeteringActionHostApiImpl.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/FocusMeteringResultHostApiImpl.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/GeneratedCameraXLibrary.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/MeteringPointHostApiImpl.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/ObserverHostApiImpl.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/QualitySelectorHostApiImpl.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/ResolutionSelectorHostApiImpl.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/ResolutionStrategyHostApiImpl.java
  packages/camera/camera_android_camerax/android/src/test/java/io/flutter/plugins/camerax/Camera2CameraControlTest.java
  packages/camera/camera_android_camerax/android/src/test/java/io/flutter/plugins/camerax/CaptureRequestOptionsTest.java
  packages/camera/camera_android_camerax/lib/src/camera2_camera_control.dart
  packages/camera/camera_android_camerax/lib/src/camerax_library.g.dart
  packages/camera/camera_android_camerax/lib/src/capture_request_options.dart
  packages/camera/camera_android_camerax/pigeons/camerax_library.dart
  packages/camera/camera_android_camerax/pubspec.yaml
  packages/camera/camera_android_camerax/test/camera2_camera_control_test.dart
  packages/camera/camera_android_camerax/test/camera2_camera_control_test.mocks.dart
  packages/camera/camera_android_camerax/test/capture_request_options_test.dart
  packages/camera/camera_android_camerax/test/capture_request_options_test.mocks.dart
  packages/camera/camera_android_camerax/test/test_camerax_library.g.dart
Labels: autosubmit, p: camera, platform-android

#6038 [ci] Move tool_runner.sh
  .ci/scripts/analyze_legacy.sh
  .ci/scripts/analyze_pathified.sh
  .ci/scripts/check_federated_safety.sh
  .ci/scripts/check_version.sh
  .ci/scripts/dart_unit_tests_pathified.sh
  .ci/scripts/tool_runner.sh
  .ci/scripts/xvfb_tool_runner.sh
  .ci/targets/analyze.yaml
  .ci/targets/analyze_downgraded.yaml
  .ci/targets/android_device_tests.yaml
  .ci/targets/android_legacy_emulator_tests.yaml
  .ci/targets/android_platform_tests.yaml
  .ci/targets/android_platform_tests_api_33_avd.yaml
  .ci/targets/dart_unit_tests.yaml
  .ci/targets/ios_platform_tests.yaml
  .ci/targets/linux_custom_package_tests.yaml
  .ci/targets/linux_platform_tests.yaml
  .ci/targets/macos_platform_tests.yaml
  .ci/targets/macos_repo_checks.yaml
  .ci/targets/repo_checks.yaml
  .ci/targets/web_dart_unit_tests.yaml
  .ci/targets/web_platform_tests.yaml
  .ci/targets/windows_build_and_platform_tests.yaml
  packages/video_player/video_player_android/CONTRIBUTING.md
  packages/video_player/video_player_avfoundation/CONTRIBUTING.md
  script/configs/custom_analysis.yaml
  script/tool/lib/src/common/package_command.dart
  script/tool/lib/src/common/package_state_utils.dart
  script/tool/test/common/package_command_test.dart
  script/tool/test/common/package_state_utils_test.dart
Labels: autosubmit, platform-android, platform-ios, platform-macos, p: video_player

#6030 [tool] Update to Dart 3
  script/tool/lib/src/common/package_looping_command.dart
  script/tool/lib/src/common/repository_package.dart
  script/tool/lib/src/fetch_deps_command.dart
  script/tool/lib/src/list_command.dart
  script/tool/lib/src/native_test_command.dart
  script/tool/lib/src/update_dependency_command.dart
  script/tool/lib/src/update_excerpts_command.dart
  script/tool/lib/src/update_release_info_command.dart
  script/tool/lib/src/version_check_command.dart
  script/tool/pubspec.yaml
  script/tool/test/common/git_version_finder_test.dart
  script/tool/test/common/package_command_test.mocks.dart
  script/tool/test/common/package_looping_command_test.dart
  script/tool/test/fetch_deps_command_test.dart
  script/tool/test/util.dart
Labels: autosubmit

#6066 Manual roll Flutter from 0b5cd5073a3b to e6ba809b8a23 (12 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#5664 [webview_flutter_android][webview_flutter_wkwebview] Adds support for `setOnScrollPositionChange` for webview_flutter platform implementations
  packages/webview_flutter/webview_flutter_android/AUTHORS
  packages/webview_flutter/webview_flutter_android/CHANGELOG.md
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/GeneratedAndroidWebView.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebViewFlutterApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebViewHostApiImpl.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/WebViewTest.java
  packages/webview_flutter/webview_flutter_android/example/integration_test/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter_android/example/pubspec.yaml
  packages/webview_flutter/webview_flutter_android/lib/src/android_proxy.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview.g.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview_api_impls.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview_controller.dart
  packages/webview_flutter/webview_flutter_android/pigeons/android_webview.dart
  packages/webview_flutter/webview_flutter_android/pubspec.yaml
  packages/webview_flutter/webview_flutter_android/test/android_webview_controller_test.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_controller_test.mocks.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_cookie_manager_test.mocks.dart
  packages/webview_flutter/webview_flutter_wkwebview/AUTHORS
  packages/webview_flutter/webview_flutter_wkwebview/CHANGELOG.md
  packages/webview_flutter/webview_flutter_wkwebview/example/integration_test/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/Runner.xcodeproj/project.pbxproj
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/RunnerTests/FWFScrollViewDelegateHostApiTests.m
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/RunnerTests/FWFScrollViewHostApiTests.m
  packages/webview_flutter/webview_flutter_wkwebview/example/lib/main.dart
  packages/webview_flutter/webview_flutter_wkwebview/example/pubspec.yaml
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FLTWebViewFlutterPlugin.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFGeneratedWebKitApis.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFGeneratedWebKitApis.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFScrollViewDelegateHostApi.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFScrollViewDelegateHostApi.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFScrollViewHostApi.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/webview-umbrella.h
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/common/web_kit.g.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/ui_kit/ui_kit.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/ui_kit/ui_kit_api_impls.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/web_kit/web_kit_api_impls.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/webkit_proxy.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/webkit_webview_controller.dart
  packages/webview_flutter/webview_flutter_wkwebview/pigeons/web_kit.dart
  packages/webview_flutter/webview_flutter_wkwebview/pubspec.yaml
  packages/webview_flutter/webview_flutter_wkwebview/test/legacy/web_kit_webview_widget_test.mocks.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/common/test_web_kit.g.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/ui_kit/ui_kit_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/src/ui_kit/ui_kit_test.mocks.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/webkit_webview_controller_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/webkit_webview_controller_test.mocks.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/webkit_webview_widget_test.dart
Labels: autosubmit, platform-android, platform-ios, p: webview_flutter

#6075 Roll Flutter from e6ba809b8a23 to 8431cae8843c (23 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#5854 Add transitionDuration parameter
  packages/flutter_adaptive_scaffold/CHANGELOG.md
  packages/flutter_adaptive_scaffold/README.md
  packages/flutter_adaptive_scaffold/example/lib/adaptive_layout_demo.dart
  packages/flutter_adaptive_scaffold/example/lib/adaptive_scaffold_demo.dart
  packages/flutter_adaptive_scaffold/example/pubspec.yaml
  packages/flutter_adaptive_scaffold/example/test/adaptive_scaffold_demo_test.dart
  packages/flutter_adaptive_scaffold/lib/src/adaptive_layout.dart
  packages/flutter_adaptive_scaffold/lib/src/adaptive_scaffold.dart
  packages/flutter_adaptive_scaffold/pubspec.yaml
Labels: autosubmit, p: flutter_adaptive_scaffold

#6076 [image_picker] Suppress analyzer warning about deprecation of UnmodifiableUint8ListView
  packages/image_picker/image_picker_platform_interface/lib/src/types/picked_file/html.dart
Labels: autosubmit, p: image_picker

#5125 [local_auth] fix: isDeviceSupported on ios
  packages/local_auth/local_auth_ios/CHANGELOG.md
  packages/local_auth/local_auth_ios/example/ios/RunnerTests/FLTLocalAuthPluginTests.m
  packages/local_auth/local_auth_ios/ios/Classes/FLTLocalAuthPlugin.m
  packages/local_auth/local_auth_ios/pubspec.yaml
Labels: autosubmit, p: local_auth, platform-ios

#6068 [camerax] Small fixes to starting/stopping video capture
  packages/camera/camera_android_camerax/CHANGELOG.md
  packages/camera/camera_android_camerax/lib/src/android_camera_camerax.dart
  packages/camera/camera_android_camerax/pubspec.yaml
  packages/camera/camera_android_camerax/test/android_camera_camerax_test.dart
Labels: autosubmit, p: camera

#5918 [pigeon] Implement Screaming Snake Case Conversion for Kotlin Enum Cases
  packages/pigeon/CHANGELOG.md
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/lib/kotlin_generator.dart
  packages/pigeon/pigeons/core_tests.dart
  packages/pigeon/pigeons/enum.dart
  packages/pigeon/platform_tests/alternate_language_test_plugin/android/src/main/java/com/example/alternate_language_test_plugin/CoreTests.java
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/CoreTests.gen.h
  packages/pigeon/platform_tests/alternate_language_test_plugin/macos/Classes/CoreTests.gen.h
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/integration_tests.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/core_tests.gen.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/enum.gen.dart
  packages/pigeon/platform_tests/test_plugin/android/src/main/kotlin/com/example/test_plugin/CoreTests.gen.kt
  packages/pigeon/platform_tests/test_plugin/android/src/test/kotlin/com/example/test_plugin/EnumTest.kt
  packages/pigeon/platform_tests/test_plugin/ios/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/macos/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/windows/pigeon/core_tests.gen.h
  packages/pigeon/pubspec.yaml
  packages/pigeon/test/kotlin_generator_test.dart
Labels: p: pigeon, autosubmit, platform-android, platform-ios, platform-macos, platform-windows

#4704 [webview_flutter] Add interface for showing javascript dialog message
  packages/webview_flutter/webview_flutter/CHANGELOG.md
  packages/webview_flutter/webview_flutter/example/pubspec.yaml
  packages/webview_flutter/webview_flutter/lib/src/webview_controller.dart
  packages/webview_flutter/webview_flutter/lib/webview_flutter.dart
  packages/webview_flutter/webview_flutter/pubspec.yaml
  packages/webview_flutter/webview_flutter/test/legacy/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter/test/webview_controller_test.dart
Labels: autosubmit, p: webview_flutter, federated: all_changes

#6031 [webview_flutter] Minor test cleanup
  packages/webview_flutter/webview_flutter/example/integration_test/legacy/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter/example/integration_test/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter/example/ios/Podfile
  packages/webview_flutter/webview_flutter/example/ios/Runner.xcodeproj/project.pbxproj
  packages/webview_flutter/webview_flutter/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/webview_flutter/webview_flutter/example/ios/RunnerTests/FLTWKNavigationDelegateTests.m
  packages/webview_flutter/webview_flutter/example/ios/RunnerTests/FLTWebViewTests.m
  packages/webview_flutter/webview_flutter/example/ios/RunnerTests/Info.plist
  packages/webview_flutter/webview_flutter/example/ios/RunnerUITests/FLTWebViewUITests.m
  packages/webview_flutter/webview_flutter/example/ios/RunnerUITests/Info.plist
Labels: autosubmit, override: no changelog needed, platform-ios, p: webview_flutter

#5742 [go_router] Expose full `Uri` on `GoRouterState` in `GoRouterRedirect`
  packages/go_router/CHANGELOG.md
  packages/go_router/lib/src/information_provider.dart
  packages/go_router/lib/src/parser.dart
  packages/go_router/lib/src/path_utils.dart
  packages/go_router/pubspec.yaml
  packages/go_router/test/go_router_test.dart
  packages/go_router/test/information_provider_test.dart
  packages/go_router/test/parser_test.dart
Labels: p: go_router, autosubmit

#3444 [webview_flutter] Add listener for content offset
  packages/webview_flutter/webview_flutter/CHANGELOG.md
  packages/webview_flutter/webview_flutter/example/integration_test/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter/example/pubspec.yaml
  packages/webview_flutter/webview_flutter/lib/src/webview_controller.dart
  packages/webview_flutter/webview_flutter/lib/webview_flutter.dart
  packages/webview_flutter/webview_flutter/pubspec.yaml
  packages/webview_flutter/webview_flutter/test/webview_controller_test.dart
Labels: autosubmit, p: webview_flutter, federated: all_changes

#5809 [local_auth]: Renamed `local_auth_ios` to `local_auth_darwin`
  CODEOWNERS
  packages/local_auth/local_auth_darwin/AUTHORS
  packages/local_auth/local_auth_darwin/CHANGELOG.md
  packages/local_auth/local_auth_darwin/LICENSE
  packages/local_auth/local_auth_darwin/README.md
  packages/local_auth/local_auth_darwin/darwin/Assets/.gitkeep
  packages/local_auth/local_auth_darwin/darwin/Classes/FLTLocalAuthPlugin.h
  packages/local_auth/local_auth_darwin/darwin/Classes/FLTLocalAuthPlugin.m
  packages/local_auth/local_auth_darwin/darwin/Classes/FLTLocalAuthPlugin_Test.h
  packages/local_auth/local_auth_darwin/darwin/Classes/messages.g.h
  packages/local_auth/local_auth_darwin/darwin/Classes/messages.g.m
  packages/local_auth/local_auth_darwin/darwin/Resources/PrivacyInfo.xcprivacy
  packages/local_auth/local_auth_darwin/darwin/Tests/FLTLocalAuthPluginTests.m
  packages/local_auth/local_auth_darwin/darwin/local_auth_darwin.podspec
  packages/local_auth/local_auth_darwin/example/README.md
  packages/local_auth/local_auth_darwin/example/integration_test/local_auth_test.dart
  packages/local_auth/local_auth_darwin/example/ios/Flutter/AppFrameworkInfo.plist
  packages/local_auth/local_auth_darwin/example/ios/Flutter/Debug.xcconfig
  packages/local_auth/local_auth_darwin/example/ios/Flutter/Release.xcconfig
  packages/local_auth/local_auth_darwin/example/ios/Podfile
  packages/local_auth/local_auth_darwin/example/ios/Runner.xcodeproj/project.pbxproj
  packages/local_auth/local_auth_darwin/example/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  packages/local_auth/local_auth_darwin/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/local_auth/local_auth_darwin/example/ios/Runner.xcworkspace/contents.xcworkspacedata
  packages/local_auth/local_auth_darwin/example/ios/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  packages/local_auth/local_auth_darwin/example/ios/Runner/AppDelegate.h
  packages/local_auth/local_auth_darwin/example/ios/Runner/AppDelegate.m
  packages/local_auth/local_auth_darwin/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
  packages/local_auth/local_auth_darwin/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@1x.png
  packages/local_auth/local_auth_darwin/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@2x.png
  packages/local_auth/local_auth_darwin/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@3x.png
  packages/local_auth/local_auth_darwin/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@1x.png
  packages/local_auth/local_auth_darwin/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@2x.png
  packages/local_auth/local_auth_darwin/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@3x.png
  packages/local_auth/local_auth_darwin/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@1x.png
  packages/local_auth/local_auth_darwin/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@2x.png
  packages/local_auth/local_auth_darwin/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@3x.png
  packages/local_auth/local_auth_darwin/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@2x.png
  packages/local_auth/local_auth_darwin/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@3x.png
  packages/local_auth/local_auth_darwin/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@1x.png
  packages/local_auth/local_auth_darwin/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@2x.png
  packages/local_auth/local_auth_darwin/example/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-83.5x83.5@2x.png
  packages/local_auth/local_auth_darwin/example/ios/Runner/Base.lproj/LaunchScreen.storyboard
  packages/local_auth/local_auth_darwin/example/ios/Runner/Base.lproj/Main.storyboard
  packages/local_auth/local_auth_darwin/example/ios/Runner/Info.plist
  packages/local_auth/local_auth_darwin/example/ios/Runner/main.m
  packages/local_auth/local_auth_darwin/example/ios/RunnerTests/Info.plist
  packages/local_auth/local_auth_darwin/example/lib/main.dart
  packages/local_auth/local_auth_darwin/example/pubspec.yaml
  packages/local_auth/local_auth_darwin/example/test_driver/integration_test.dart
  packages/local_auth/local_auth_darwin/lib/local_auth_darwin.dart
  packages/local_auth/local_auth_darwin/lib/src/messages.g.dart
  packages/local_auth/local_auth_darwin/lib/types/auth_messages_ios.dart
  packages/local_auth/local_auth_darwin/pigeons/copyright.txt
  packages/local_auth/local_auth_darwin/pigeons/messages.dart
  packages/local_auth/local_auth_darwin/pubspec.yaml
  packages/local_auth/local_auth_darwin/test/local_auth_darwin_test.dart
  packages/local_auth/local_auth_darwin/test/local_auth_darwin_test.mocks.dart
  packages/local_auth/local_auth_ios/CHANGELOG.md
Labels: autosubmit, p: local_auth, platform-ios, platform-macos

#5312 [cupertino_icons] Add example to cupertino icons
  third_party/packages/cupertino_icons/CHANGELOG.md
  third_party/packages/cupertino_icons/example/example.md
  third_party/packages/cupertino_icons/pubspec.yaml
  third_party/packages/cupertino_icons/test/cupertino_icons_test.dart
Labels: p: cupertino_icons, autosubmit

#6106 [webview_flutter] Update compileSdk to 34
  packages/webview_flutter/webview_flutter_android/CHANGELOG.md
  packages/webview_flutter/webview_flutter_android/android/build.gradle
Labels: autosubmit, override: no versioning needed, platform-android, p: webview_flutter

#6056 [in_app_purchase] Add alternative billing apis for android
  packages/in_app_purchase/in_app_purchase_android/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_android/android/build.gradle
  packages/in_app_purchase/in_app_purchase_android/android/src/main/java/io/flutter/plugins/inapppurchase/BillingClientFactory.java
  packages/in_app_purchase/in_app_purchase_android/android/src/main/java/io/flutter/plugins/inapppurchase/BillingClientFactoryImpl.java
  packages/in_app_purchase/in_app_purchase_android/android/src/main/java/io/flutter/plugins/inapppurchase/MethodCallHandlerImpl.java
  packages/in_app_purchase/in_app_purchase_android/android/src/main/java/io/flutter/plugins/inapppurchase/Translator.java
  packages/in_app_purchase/in_app_purchase_android/android/src/test/java/io/flutter/plugins/inapppurchase/MethodCallHandlerTest.java
  packages/in_app_purchase/in_app_purchase_android/example/android/.gitignore
  packages/in_app_purchase/in_app_purchase_android/example/android/app/build.gradle
  packages/in_app_purchase/in_app_purchase_android/example/android/app/src/main/AndroidManifest.xml
  packages/in_app_purchase/in_app_purchase_android/example/android/keystore.example.properties
  packages/in_app_purchase/in_app_purchase_android/example/lib/main.dart
  packages/in_app_purchase/in_app_purchase_android/lib/billing_client_wrappers.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/billing_client_wrappers/alternative_billing_only_reporting_details_wrapper.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/billing_client_wrappers/alternative_billing_only_reporting_details_wrapper.g.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/billing_client_wrappers/billing_client_manager.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/billing_client_wrappers/billing_client_wrapper.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/billing_client_wrappers/billing_client_wrapper.g.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/in_app_purchase_android_platform_addition.dart
  packages/in_app_purchase/in_app_purchase_android/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_android/test/billing_client_wrappers/billing_client_manager_test.dart
  packages/in_app_purchase/in_app_purchase_android/test/billing_client_wrappers/billing_client_wrapper_test.dart
  packages/in_app_purchase/in_app_purchase_android/test/in_app_purchase_android_platform_addition_test.dart
Labels: autosubmit, p: in_app_purchase, platform-android

#5869 [video_player_android] Handle BehindLiveWindowException
  packages/video_player/video_player_android/CHANGELOG.md
  packages/video_player/video_player_android/android/src/main/java/io/flutter/plugins/videoplayer/VideoPlayer.java
  packages/video_player/video_player_android/android/src/test/java/io/flutter/plugins/videoplayer/VideoPlayerTest.java
  packages/video_player/video_player_android/pubspec.yaml
Labels: autosubmit, platform-android, p: video_player

#6108 [local_auth] Rename iOS classes
  packages/local_auth/local_auth_darwin/CHANGELOG.md
  packages/local_auth/local_auth_darwin/darwin/Classes/FLALocalAuthPlugin.h
  packages/local_auth/local_auth_darwin/darwin/Classes/FLALocalAuthPlugin.m
  packages/local_auth/local_auth_darwin/darwin/Classes/FLALocalAuthPlugin_Test.h
  packages/local_auth/local_auth_darwin/darwin/Classes/messages.g.h
  packages/local_auth/local_auth_darwin/darwin/Classes/messages.g.m
  packages/local_auth/local_auth_darwin/darwin/Tests/FLALocalAuthPluginTests.m
  packages/local_auth/local_auth_darwin/example/ios/Runner.xcodeproj/project.pbxproj
  packages/local_auth/local_auth_darwin/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/local_auth/local_auth_darwin/pigeons/messages.dart
  packages/local_auth/local_auth_darwin/pubspec.yaml
Labels: autosubmit, p: local_auth, platform-ios, platform-macos

#6032 Convert startProductRequest(), finishTransaction(), restoreTransactions(), presentCodeRedemptionSheet() to pigeon
  packages/in_app_purchase/in_app_purchase_storekit/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_storekit/darwin/Classes/FIAObjectTranslator.h
  packages/in_app_purchase/in_app_purchase_storekit/darwin/Classes/FIAObjectTranslator.m
  packages/in_app_purchase/in_app_purchase_storekit/darwin/Classes/InAppPurchasePlugin.m
  packages/in_app_purchase/in_app_purchase_storekit/darwin/Classes/messages.g.h
  packages/in_app_purchase/in_app_purchase_storekit/darwin/Classes/messages.g.m
  packages/in_app_purchase/in_app_purchase_storekit/example/shared/RunnerTests/InAppPurchasePluginTests.m
  packages/in_app_purchase/in_app_purchase_storekit/example/shared/RunnerTests/TranslatorTests.m
  packages/in_app_purchase/in_app_purchase_storekit/lib/src/messages.g.dart
  packages/in_app_purchase/in_app_purchase_storekit/lib/src/store_kit_wrappers/sk_payment_queue_wrapper.dart
  packages/in_app_purchase/in_app_purchase_storekit/lib/src/store_kit_wrappers/sk_product_wrapper.dart
  packages/in_app_purchase/in_app_purchase_storekit/lib/src/store_kit_wrappers/sk_request_maker.dart
  packages/in_app_purchase/in_app_purchase_storekit/pigeons/messages.dart
  packages/in_app_purchase/in_app_purchase_storekit/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_storekit/test/fakes/fake_storekit_platform.dart
  packages/in_app_purchase/in_app_purchase_storekit/test/store_kit_wrappers/pigeon_converter_test.dart
  packages/in_app_purchase/in_app_purchase_storekit/test/store_kit_wrappers/sk_methodchannel_apis_test.dart
  packages/in_app_purchase/in_app_purchase_storekit/test/store_kit_wrappers/sk_test_stub_objects.dart
  packages/in_app_purchase/in_app_purchase_storekit/test/test_api.g.dart
Labels: p: in_app_purchase, platform-ios, platform-macos

#5823 [google_maps_flutter][iOS 17] takeSnapshot FIX
  packages/google_maps_flutter/google_maps_flutter_ios/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios12/integration_test/google_maps_test.dart
  packages/google_maps_flutter/google_maps_flutter_ios/ios/Classes/GoogleMapController.m
  packages/google_maps_flutter/google_maps_flutter_ios/pubspec.yaml
Labels: autosubmit, p: google_maps_flutter, platform-ios

#6062 [flutter_markdown] Use Text.rich to replace RichText in Flutter Markdown
  packages/flutter_markdown/CHANGELOG.md
  packages/flutter_markdown/lib/src/builder.dart
  packages/flutter_markdown/pubspec.yaml
  packages/flutter_markdown/test/all.dart
  packages/flutter_markdown/test/blockquote_test.dart
  packages/flutter_markdown/test/custom_syntax_test.dart
  packages/flutter_markdown/test/emphasis_test.dart
  packages/flutter_markdown/test/footnote_test.dart
  packages/flutter_markdown/test/header_test.dart
  packages/flutter_markdown/test/horizontal_rule_test.dart
  packages/flutter_markdown/test/image_test.dart
  packages/flutter_markdown/test/line_break_test.dart
  packages/flutter_markdown/test/link_test.dart
  packages/flutter_markdown/test/markdown_body_shrink_wrap_test.dart
  packages/flutter_markdown/test/selection_area_compatibility_test.dart
  packages/flutter_markdown/test/style_sheet_test.dart
  packages/flutter_markdown/test/table_test.dart
  packages/flutter_markdown/test/text_alignment_test.dart
  packages/flutter_markdown/test/text_test.dart
  packages/flutter_markdown/test/utils.dart
Labels: p: flutter_markdown

#5759 [url_launcher] Add `InAppBrowserConfiguration` parameter in implementations
  packages/url_launcher/url_launcher_android/CHANGELOG.md
  packages/url_launcher/url_launcher_android/android/src/main/java/io/flutter/plugins/urllauncher/Messages.java
  packages/url_launcher/url_launcher_android/android/src/main/java/io/flutter/plugins/urllauncher/UrlLauncher.java
  packages/url_launcher/url_launcher_android/android/src/test/java/io/flutter/plugins/urllauncher/UrlLauncherTest.java
  packages/url_launcher/url_launcher_android/example/pubspec.yaml
  packages/url_launcher/url_launcher_android/lib/src/messages.g.dart
  packages/url_launcher/url_launcher_android/lib/url_launcher_android.dart
  packages/url_launcher/url_launcher_android/pigeons/messages.dart
  packages/url_launcher/url_launcher_android/pubspec.yaml
  packages/url_launcher/url_launcher_android/test/url_launcher_android_test.dart
Labels: autosubmit, platform-android, p: url_launcher

#6116 [ci] Allow dependencies on local_auth_ios
  script/configs/allowed_unpinned_deps.yaml
Labels: autosubmit

#6120 [google_maps_flutter][iOS 12] Skip `testTakeSnapshot`
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios12/integration_test/google_maps_test.dart
Labels: warning: land on red to fix tree breakage, autosubmit, p: google_maps_flutter, platform-ios

#6111 Allow deprecated members from the Dart SDK/Flutter Framework to roll in
  analysis_options.yaml
Labels: autosubmit

#6123 [various] Clean up `deprecated_member_use` ignores
  packages/flutter_adaptive_scaffold/test/adaptive_layout_test.dart
  packages/flutter_adaptive_scaffold/test/simulated_layout.dart
  packages/flutter_image/lib/network.dart
  packages/flutter_image/test/network_test.dart
  packages/flutter_markdown/lib/src/_functions_io.dart
  packages/flutter_markdown/lib/src/_functions_web.dart
  packages/flutter_markdown/lib/src/builder.dart
  packages/flutter_markdown/test/text_scale_factor_test.dart
  packages/flutter_markdown/test/utils.dart
  packages/flutter_migrate/lib/src/base/common.dart
  packages/flutter_migrate/test/src/common.dart
  packages/flutter_migrate/test/src/test_flutter_command_runner.dart
  packages/go_router_builder/CHANGELOG.md
  packages/go_router_builder/lib/src/route_config.dart
  packages/go_router_builder/lib/src/type_helpers.dart
  packages/go_router_builder/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_platform_interface/test/types/bitmap_test.dart
  packages/image_picker/image_picker_platform_interface/lib/src/types/picked_file/html.dart
  packages/ios_platform_images/lib/ios_platform_images.dart
  packages/rfw/lib/src/flutter/core_widgets.dart
  packages/url_launcher/url_launcher/test/src/legacy_api_test.dart
  packages/url_launcher/url_launcher_platform_interface/lib/link.dart
  packages/url_launcher/url_launcher_platform_interface/test/link_test.dart
  packages/web_benchmarks/lib/src/recorder.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview_api_impls.dart
Labels: p: web_benchmarks, p: flutter_markdown, p: flutter_image, p: rfw, p: go_router_builder, autosubmit, override: no versioning needed, override: no changelog needed, p: flutter_adaptive_scaffold, p: flutter_migrate, p: google_maps_flutter, p: image_picker, p: ios_platform_images, platform-android, p: webview_flutter, p: url_launcher

#6126 [flutter_image] Replace deprecated APIs
  packages/flutter_image/CHANGELOG.md
  packages/flutter_image/lib/network.dart
  packages/flutter_image/pubspec.yaml
  packages/flutter_image/test/network_test.dart
Labels: p: flutter_image, autosubmit

#6128 [flutter_migrate] Replace deprecated APIs
  packages/flutter_migrate/lib/src/base/common.dart
  packages/flutter_migrate/pubspec.yaml
  packages/flutter_migrate/test/src/common.dart
  packages/flutter_migrate/test/src/test_flutter_command_runner.dart
Labels: autosubmit, p: flutter_migrate

#6118 Roll Flutter from eb5d0a434ef1 to a628814ebd25 (72 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6129 [flutter_adaptive_scaffold] Replace deprecated APIs
  packages/flutter_adaptive_scaffold/test/adaptive_layout_test.dart
  packages/flutter_adaptive_scaffold/test/breakpoint_test.dart
  packages/flutter_adaptive_scaffold/test/simulated_layout.dart
Labels: autosubmit, p: flutter_adaptive_scaffold

#6130 [rfw] Replace deprecated `textScaleFactor`
  packages/rfw/CHANGELOG.md
  packages/rfw/example/hello/pubspec.yaml
  packages/rfw/example/local/pubspec.yaml
  packages/rfw/example/remote/pubspec.yaml
  packages/rfw/example/wasm/pubspec.yaml
  packages/rfw/lib/src/flutter/core_widgets.dart
  packages/rfw/pubspec.yaml
  packages/rfw/test_coverage/pubspec.yaml
Labels: p: rfw, autosubmit

#6127 [url_launcher] Replace deprecated RouteInformation APIs
  packages/url_launcher/url_launcher_platform_interface/CHANGELOG.md
  packages/url_launcher/url_launcher_platform_interface/lib/link.dart
  packages/url_launcher/url_launcher_platform_interface/pubspec.yaml
  packages/url_launcher/url_launcher_platform_interface/test/link_test.dart
Labels: autosubmit, p: url_launcher

#6141 [google_sign_in] Clean up pre-Pigeon code
  packages/google_sign_in/google_sign_in_ios/CHANGELOG.md
  packages/google_sign_in/google_sign_in_ios/darwin/Classes/FLTGoogleSignInPlugin.m
  packages/google_sign_in/google_sign_in_ios/pubspec.yaml
Labels: autosubmit, p: google_sign_in, platform-ios, platform-macos

#6140 Explicitly pass the web renderer into the tests.
  script/tool/lib/src/dart_test_command.dart
  script/tool/lib/src/drive_examples_command.dart
  script/tool/test/dart_test_command_test.dart
  script/tool/test/drive_examples_command_test.dart
Labels: autosubmit

#6139 [in_app_purchase] fix skerror nullability
  packages/in_app_purchase/in_app_purchase_storekit/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_storekit/darwin/Classes/messages.g.h
  packages/in_app_purchase/in_app_purchase_storekit/darwin/Classes/messages.g.m
  packages/in_app_purchase/in_app_purchase_storekit/lib/src/messages.g.dart
  packages/in_app_purchase/in_app_purchase_storekit/lib/src/store_kit_wrappers/sk_payment_queue_wrapper.dart
  packages/in_app_purchase/in_app_purchase_storekit/pigeons/messages.dart
  packages/in_app_purchase/in_app_purchase_storekit/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_storekit/test/store_kit_wrappers/pigeon_converter_test.dart
Labels: autosubmit, p: in_app_purchase, platform-ios, platform-macos

#6131 [tool] Add support for using a Kotlin test runner file
  script/tool/lib/src/firebase_test_lab_command.dart
  script/tool/test/firebase_test_lab_command_test.dart
Labels: autosubmit

#6146 Roll Flutter from a628814ebd25 to d7867ca7d635 (66 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6145 Roll Flutter (stable) from 41456452f29d to bae5e49bc2a8 (1550 revisions)
  .ci/flutter_stable.version
Labels: autosubmit

#6132 Raise gradle wrapper version of legacy project
  .ci/legacy_project/README.md
  .ci/legacy_project/all_packages/android/gradle/wrapper/gradle-wrapper.properties
Labels: autosubmit

#6152 [flutter_migrate] Implement lineTerminator in the MemoryStdout fake
  packages/flutter_migrate/test/src/fakes.dart
Labels: autosubmit, p: flutter_migrate

#6134 [flutter_markdown] Replace deprecated API
  packages/flutter_markdown/CHANGELOG.md
  packages/flutter_markdown/example/pubspec.yaml
  packages/flutter_markdown/lib/src/_functions_io.dart
  packages/flutter_markdown/lib/src/_functions_web.dart
  packages/flutter_markdown/lib/src/builder.dart
  packages/flutter_markdown/lib/src/style_sheet.dart
  packages/flutter_markdown/pubspec.yaml
  packages/flutter_markdown/test/all.dart
  packages/flutter_markdown/test/style_sheet_test.dart
  packages/flutter_markdown/test/text_scaler_test.dart
  packages/flutter_markdown/test/utils.dart
Labels: p: flutter_markdown, autosubmit

#6164 Roll Flutter from 064c340baf0e to 5129806e6c63 (9 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#5791 [web] Updates package:web dependency to ^0.5.0.
  packages/cross_file/CHANGELOG.md
  packages/cross_file/lib/src/types/html.dart
  packages/cross_file/pubspec.yaml
  packages/cross_file/test/x_file_html_test.dart
  packages/file_selector/file_selector_web/CHANGELOG.md
  packages/file_selector/file_selector_web/example/integration_test/dom_helper_test.dart
  packages/file_selector/file_selector_web/example/pubspec.yaml
  packages/file_selector/file_selector_web/lib/src/dom_helper.dart
  packages/file_selector/file_selector_web/pubspec.yaml
  packages/google_identity_services_web/CHANGELOG.md
  packages/google_identity_services_web/example/integration_test/js_interop_id_test.dart
  packages/google_identity_services_web/example/pubspec.yaml
  packages/google_identity_services_web/lib/src/js_interop/google_accounts_id.dart
  packages/google_identity_services_web/lib/src/js_interop/package_web_tweaks.dart
  packages/google_identity_services_web/lib/src/js_loader.dart
  packages/google_identity_services_web/pubspec.yaml
  packages/google_sign_in/google_sign_in_web/CHANGELOG.md
  packages/google_sign_in/google_sign_in_web/example/pubspec.yaml
  packages/google_sign_in/google_sign_in_web/pubspec.yaml
  packages/image_picker/image_picker_for_web/example/pubspec.yaml
  packages/metrics_center/CHANGELOG.md
  packages/metrics_center/pubspec.yaml
  packages/metrics_center/test/gcs_lock_test.mocks.dart
  packages/pointer_interceptor/pointer_interceptor_web/CHANGELOG.md
  packages/pointer_interceptor/pointer_interceptor_web/example/pubspec.yaml
  packages/pointer_interceptor/pointer_interceptor_web/pubspec.yaml
  packages/shared_preferences/shared_preferences_web/CHANGELOG.md
  packages/shared_preferences/shared_preferences_web/example/integration_test/shared_preferences_web_test.dart
  packages/shared_preferences/shared_preferences_web/example/pubspec.yaml
  packages/shared_preferences/shared_preferences_web/pubspec.yaml
  packages/url_launcher/url_launcher_web/CHANGELOG.md
  packages/url_launcher/url_launcher_web/example/integration_test/link_widget_test.dart
  packages/url_launcher/url_launcher_web/example/integration_test/url_launcher_web_test.dart
  packages/url_launcher/url_launcher_web/example/pubspec.yaml
  packages/url_launcher/url_launcher_web/lib/src/link.dart
  packages/url_launcher/url_launcher_web/pubspec.yaml
  packages/video_player/video_player_web/CHANGELOG.md
  packages/video_player/video_player_web/example/integration_test/utils.dart
  packages/video_player/video_player_web/example/pubspec.yaml
  packages/video_player/video_player_web/pubspec.yaml
  packages/web_benchmarks/CHANGELOG.md
  packages/web_benchmarks/lib/client.dart
  packages/web_benchmarks/lib/src/recorder.dart
  packages/web_benchmarks/pubspec.yaml
Labels: p: cross_file, p: metrics_center, p: pointer_interceptor, p: web_benchmarks, autosubmit, p: file_selector, p: google_sign_in, p: image_picker, platform-web, p: video_player, p: url_launcher, p: shared_preferences

#6167 [google_sign_in_web] Updates package:web dependency to 0.5.0.
  packages/google_sign_in/google_sign_in_web/CHANGELOG.md
  packages/google_sign_in/google_sign_in_web/example/pubspec.yaml
  packages/google_sign_in/google_sign_in_web/lib/src/flexible_size_html_element_view.dart
  packages/google_sign_in/google_sign_in_web/pubspec.yaml
Labels: autosubmit, p: google_sign_in, platform-web

#6143 [camera_android_camerax] Fix typo in readme
  packages/camera/camera_android_camerax/CHANGELOG.md
  packages/camera/camera_android_camerax/README.md
  packages/camera/camera_android_camerax/pubspec.yaml
Labels: autosubmit, p: camera

#6137 [url_launcher] Remove `renderView` usage
  packages/url_launcher/url_launcher/CHANGELOG.md
  packages/url_launcher/url_launcher/lib/src/legacy_api.dart
  packages/url_launcher/url_launcher/pubspec.yaml
  packages/url_launcher/url_launcher/test/src/legacy_api_test.dart
Labels: autosubmit, p: url_launcher

#6168 [flutter_markdown] Support wasm
  packages/flutter_markdown/CHANGELOG.md
  packages/flutter_markdown/lib/src/_functions_web.dart
  packages/flutter_markdown/lib/src/builder.dart
  packages/flutter_markdown/pubspec.yaml
Labels: p: flutter_markdown, autosubmit

#6175 [various] Commit Windows build migrations
  packages/camera/camera_windows/example/windows/flutter/CMakeLists.txt
  packages/camera/camera_windows/example/windows/runner/Runner.rc
  packages/dynamic_layouts/example/windows/flutter/CMakeLists.txt
  packages/dynamic_layouts/example/windows/runner/CMakeLists.txt
  packages/dynamic_layouts/example/windows/runner/Runner.rc
  packages/file_selector/file_selector/example/windows/flutter/CMakeLists.txt
  packages/file_selector/file_selector/example/windows/runner/CMakeLists.txt
  packages/file_selector/file_selector/example/windows/runner/Runner.rc
  packages/file_selector/file_selector_windows/example/windows/flutter/CMakeLists.txt
  packages/flutter_adaptive_scaffold/example/windows/flutter/CMakeLists.txt
  packages/flutter_image/example/windows/flutter/CMakeLists.txt
  packages/flutter_markdown/example/windows/flutter/CMakeLists.txt
  packages/image_picker/image_picker/example/windows/flutter/CMakeLists.txt
  packages/image_picker/image_picker_windows/example/windows/flutter/CMakeLists.txt
  packages/image_picker/image_picker_windows/example/windows/runner/Runner.rc
  packages/local_auth/local_auth/example/windows/flutter/CMakeLists.txt
  packages/local_auth/local_auth/example/windows/runner/Runner.rc
  packages/local_auth/local_auth_windows/example/windows/flutter/CMakeLists.txt
  packages/local_auth/local_auth_windows/example/windows/runner/Runner.rc
  packages/path_provider/path_provider/example/windows/flutter/CMakeLists.txt
  packages/path_provider/path_provider/example/windows/runner/Runner.rc
  packages/path_provider/path_provider_windows/example/windows/flutter/CMakeLists.txt
  packages/path_provider/path_provider_windows/example/windows/runner/Runner.rc
  packages/platform/example/windows/flutter/CMakeLists.txt
  packages/rfw/example/hello/windows/flutter/CMakeLists.txt
  packages/rfw/example/hello/windows/runner/Runner.rc
  packages/rfw/example/local/windows/flutter/CMakeLists.txt
  packages/rfw/example/local/windows/runner/Runner.rc
  packages/rfw/example/remote/windows/flutter/CMakeLists.txt
  packages/rfw/example/remote/windows/runner/Runner.rc
  packages/rfw/example/wasm/windows/flutter/CMakeLists.txt
  packages/rfw/example/wasm/windows/runner/Runner.rc
  packages/shared_preferences/shared_preferences/example/windows/flutter/CMakeLists.txt
  packages/shared_preferences/shared_preferences/example/windows/runner/Runner.rc
  packages/shared_preferences/shared_preferences_windows/example/windows/flutter/CMakeLists.txt
  packages/shared_preferences/shared_preferences_windows/example/windows/runner/Runner.rc
  packages/two_dimensional_scrollables/example/windows/flutter/CMakeLists.txt
  packages/url_launcher/url_launcher/example/windows/flutter/CMakeLists.txt
  packages/url_launcher/url_launcher/example/windows/runner/Runner.rc
  packages/url_launcher/url_launcher_windows/example/windows/flutter/CMakeLists.txt
  packages/url_launcher/url_launcher_windows/example/windows/runner/Runner.rc
Labels: p: flutter_markdown, p: flutter_image, p: rfw, autosubmit, override: no versioning needed, override: no changelog needed, p: dynamic_layouts, p: flutter_adaptive_scaffold, p: camera, p: file_selector, p: image_picker, p: local_auth, p: path_provider, platform-windows, p: url_launcher, p: shared_preferences

#6059 [camerax] Implements `setFocusPoint`, `setExposurePoint`, `setExposureOffset`
  packages/camera/camera_android_camerax/CHANGELOG.md
  packages/camera/camera_android_camerax/README.md
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/CameraAndroidCameraxPlugin.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/CameraControlHostApiImpl.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/GeneratedCameraXLibrary.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/MeteringPointHostApiImpl.java
  packages/camera/camera_android_camerax/android/src/test/java/io/flutter/plugins/camerax/CameraAndroidCameraxPluginTest.java
  packages/camera/camera_android_camerax/android/src/test/java/io/flutter/plugins/camerax/CameraControlTest.java
  packages/camera/camera_android_camerax/android/src/test/java/io/flutter/plugins/camerax/MeteringPointTest.java
  packages/camera/camera_android_camerax/example/lib/main.dart
  packages/camera/camera_android_camerax/lib/src/android_camera_camerax.dart
  packages/camera/camera_android_camerax/lib/src/camera_control.dart
  packages/camera/camera_android_camerax/lib/src/camerax_library.g.dart
  packages/camera/camera_android_camerax/lib/src/camerax_proxy.dart
  packages/camera/camera_android_camerax/lib/src/focus_metering_action.dart
  packages/camera/camera_android_camerax/lib/src/metering_point.dart
  packages/camera/camera_android_camerax/pigeons/camerax_library.dart
  packages/camera/camera_android_camerax/pubspec.yaml
  packages/camera/camera_android_camerax/test/android_camera_camerax_test.dart
  packages/camera/camera_android_camerax/test/camera2_camera_control_test.mocks.dart
  packages/camera/camera_android_camerax/test/camera_control_test.dart
  packages/camera/camera_android_camerax/test/camera_control_test.mocks.dart
  packages/camera/camera_android_camerax/test/focus_metering_action_test.dart
  packages/camera/camera_android_camerax/test/focus_metering_action_test.mocks.dart
  packages/camera/camera_android_camerax/test/focus_metering_result_test.mocks.dart
  packages/camera/camera_android_camerax/test/metering_point_test.dart
  packages/camera/camera_android_camerax/test/metering_point_test.mocks.dart
  packages/camera/camera_android_camerax/test/test_camerax_library.g.dart
Labels: autosubmit, p: camera, platform-android

#6109 [camerax] Modifies initialized camera info to reflect default AF/AE modes and the ability to set focus points for each
  packages/camera/camera_android_camerax/CHANGELOG.md
  packages/camera/camera_android_camerax/lib/src/android_camera_camerax.dart
  packages/camera/camera_android_camerax/pubspec.yaml
  packages/camera/camera_android_camerax/test/android_camera_camerax_test.dart
Labels: autosubmit, p: camera

#6165 [in_app_purchase] Convert refreshReceipt(), startObservingPaymentQueue(), stopObservingPaymentQueue(), registerPaymentQueueDelegate(), removePaymentQueueDelegate(), showPriceConsentIfNeeded() to Pigeon
  packages/in_app_purchase/in_app_purchase_storekit/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_storekit/darwin/Classes/InAppPurchasePlugin.m
  packages/in_app_purchase/in_app_purchase_storekit/darwin/Classes/messages.g.h
  packages/in_app_purchase/in_app_purchase_storekit/darwin/Classes/messages.g.m
  packages/in_app_purchase/in_app_purchase_storekit/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/in_app_purchase/in_app_purchase_storekit/example/shared/RunnerTests/InAppPurchasePluginTests.m
  packages/in_app_purchase/in_app_purchase_storekit/lib/src/messages.g.dart
  packages/in_app_purchase/in_app_purchase_storekit/lib/src/store_kit_wrappers/sk_payment_queue_wrapper.dart
  packages/in_app_purchase/in_app_purchase_storekit/lib/src/store_kit_wrappers/sk_receipt_manager.dart
  packages/in_app_purchase/in_app_purchase_storekit/lib/src/store_kit_wrappers/sk_request_maker.dart
  packages/in_app_purchase/in_app_purchase_storekit/pigeons/copyright.txt
  packages/in_app_purchase/in_app_purchase_storekit/pigeons/messages.dart
  packages/in_app_purchase/in_app_purchase_storekit/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_storekit/test/fakes/fake_storekit_platform.dart
  packages/in_app_purchase/in_app_purchase_storekit/test/in_app_purchase_storekit_platform_addtion_test.dart
  packages/in_app_purchase/in_app_purchase_storekit/test/in_app_purchase_storekit_platform_test.dart
  packages/in_app_purchase/in_app_purchase_storekit/test/store_kit_wrappers/sk_methodchannel_apis_test.dart
  packages/in_app_purchase/in_app_purchase_storekit/test/store_kit_wrappers/sk_payment_queue_delegate_api_test.dart
  packages/in_app_purchase/in_app_purchase_storekit/test/test_api.g.dart
Labels: autosubmit, p: in_app_purchase, platform-ios, platform-macos

#6179 Manual roll Flutter (stable) from bae5e49bc2a8 to abb292a07e20 (1 revision)
  .ci/flutter_stable.version
Labels: autosubmit

#6180 Manual roll Flutter from 5129806e6c63 to efee280cfa93 (47 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6181 Roll Flutter from efee280cfa93 to 41581c9a1b90 (1 revision)
  .ci/flutter_master.version
Labels: autosubmit

#6178 [two_dimensional_scrollables] Fix layout offset of merged pinned cells
  packages/two_dimensional_scrollables/CHANGELOG.md
  packages/two_dimensional_scrollables/lib/src/table_view/table.dart
  packages/two_dimensional_scrollables/pubspec.yaml
  packages/two_dimensional_scrollables/test/table_view/table_test.dart
Labels: autosubmit, p: two_dimensional_scrollables

#6177 [web] Removes a few deprecated API usages.
  packages/cross_file/CHANGELOG.md
  packages/cross_file/lib/src/types/html.dart
  packages/cross_file/lib/src/web_helpers/web_helpers.dart
  packages/cross_file/pubspec.yaml
  packages/cross_file/test/x_file_html_test.dart
  packages/file_selector/file_selector_web/CHANGELOG.md
  packages/file_selector/file_selector_web/example/integration_test/dom_helper_test.dart
  packages/file_selector/file_selector_web/example/integration_test/file_selector_web_test.dart
  packages/file_selector/file_selector_web/lib/src/dom_helper.dart
  packages/file_selector/file_selector_web/pubspec.yaml
  packages/image_picker/image_picker_platform_interface/CHANGELOG.md
  packages/image_picker/image_picker_platform_interface/lib/src/types/picked_file/html.dart
  packages/image_picker/image_picker_platform_interface/pubspec.yaml
  packages/web_benchmarks/CHANGELOG.md
  packages/web_benchmarks/lib/client.dart
  packages/web_benchmarks/lib/src/recorder.dart
  packages/web_benchmarks/pubspec.yaml
Labels: p: cross_file, p: web_benchmarks, autosubmit, p: file_selector, p: image_picker, platform-web

#6182 [camera] Document -1 return value for `getExposureOffsetStepSize`
  packages/camera/camera_platform_interface/CHANGELOG.md
  packages/camera/camera_platform_interface/lib/src/platform_interface/camera_platform.dart
  packages/camera/camera_platform_interface/pubspec.yaml
Labels: autosubmit, p: camera

#6194 Roll Flutter from 41581c9a1b90 to 39585e66c11f (31 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6200 Roll Flutter from 39585e66c11f to f6c10820fa30 (20 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6203 Roll Flutter from f6c10820fa30 to 1e8dd1e4d6d7 (3 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6197 [google_map_flutter] Add style to widget - platform interface
  packages/google_maps_flutter/google_maps_flutter_platform_interface/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/platform_interface/google_maps_flutter_platform.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/map_configuration.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/utils/map_configuration_serialization.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_platform_interface/test/platform_interface/google_maps_flutter_platform_test.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/test/types/map_configuration_test.dart
Labels: autosubmit, p: google_maps_flutter

#6207 Roll Flutter from 1e8dd1e4d6d7 to b77560e92a58 (8 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6195 [tool] Ignore GeneratedPluginRegistrant.swift for `format`
  script/tool/lib/src/format_command.dart
  script/tool/test/format_command_test.dart
Labels: autosubmit

#6208 [url_launcher] Add explicit imports of UIKit
  packages/url_launcher/url_launcher_ios/CHANGELOG.md
  packages/url_launcher/url_launcher_ios/ios/Classes/Launcher.swift
  packages/url_launcher/url_launcher_ios/ios/Classes/URLLauncherPlugin.swift
  packages/url_launcher/url_launcher_ios/pubspec.yaml
Labels: autosubmit, platform-ios, p: url_launcher

#6199 Add `InkResponse`, `Material` and fix `Opacity`
  packages/rfw/CHANGELOG.md
  packages/rfw/lib/src/flutter/core_widgets.dart
  packages/rfw/lib/src/flutter/material_widgets.dart
  packages/rfw/pubspec.yaml
  packages/rfw/test/core_widgets_test.dart
  packages/rfw/test/goldens/material_test.ink_response_hover.png
  packages/rfw/test/goldens/material_test.ink_response_tap.png
  packages/rfw/test/goldens/material_test.material_properties.png
  packages/rfw/test/material_widgets_test.dart
  packages/rfw/test_coverage/bin/test_coverage.dart
Labels: p: rfw, autosubmit

#6110 [camerax] Implements `setExposureMode`
  packages/camera/camera_android_camerax/CHANGELOG.md
  packages/camera/camera_android_camerax/README.md
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/CameraAndroidCameraxPlugin.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/CaptureRequestOptionsHostApiImpl.java
  packages/camera/camera_android_camerax/android/src/test/java/io/flutter/plugins/camerax/CameraAndroidCameraxPluginTest.java
  packages/camera/camera_android_camerax/example/lib/main.dart
  packages/camera/camera_android_camerax/lib/src/android_camera_camerax.dart
  packages/camera/camera_android_camerax/lib/src/camerax_proxy.dart
  packages/camera/camera_android_camerax/pubspec.yaml
  packages/camera/camera_android_camerax/test/android_camera_camerax_test.dart
  packages/camera/camera_android_camerax/test/android_camera_camerax_test.mocks.dart
Labels: autosubmit, p: camera, platform-android

#6183 [pigeon] Allows kotlin generator to skip error class generation
  packages/pigeon/CHANGELOG.md
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/lib/kotlin_generator.dart
  packages/pigeon/lib/pigeon_lib.dart
  packages/pigeon/platform_tests/test_plugin/android/src/main/kotlin/com/example/test_plugin/CoreTests.gen.kt
  packages/pigeon/platform_tests/test_plugin/android/src/main/kotlin/com/example/test_plugin/TestPlugin.kt
  packages/pigeon/pubspec.yaml
  packages/pigeon/tool/shared/generation.dart
Labels: p: pigeon, autosubmit, platform-android

#6196 [pigeon] Remove heap allocation in generated C++ code
  packages/pigeon/CHANGELOG.md
  packages/pigeon/example/app/README.md
  packages/pigeon/example/app/windows/runner/messages.g.cpp
  packages/pigeon/lib/cpp_generator.dart
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/platform_tests/test_plugin/example/windows/flutter/CMakeLists.txt
  packages/pigeon/platform_tests/test_plugin/windows/pigeon/core_tests.gen.cpp
  packages/pigeon/pubspec.yaml
  packages/pigeon/test/cpp_generator_test.dart
Labels: p: pigeon, autosubmit, platform-windows

#5254 [google_maps_flutter_web] Migrate to package:web
  packages/google_maps_flutter/google_maps_flutter_web/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_web/example/integration_test/google_maps_controller_test.dart
  packages/google_maps_flutter/google_maps_flutter_web/example/integration_test/marker_test.dart
  packages/google_maps_flutter/google_maps_flutter_web/example/integration_test/markers_test.dart
  packages/google_maps_flutter/google_maps_flutter_web/example/integration_test/overlay_test.dart
  packages/google_maps_flutter/google_maps_flutter_web/example/integration_test/overlays_test.dart
  packages/google_maps_flutter/google_maps_flutter_web/example/integration_test/shapes_test.dart
  packages/google_maps_flutter/google_maps_flutter_web/example/lib/main.dart
  packages/google_maps_flutter/google_maps_flutter_web/example/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_web/lib/google_maps_flutter_web.dart
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/convert.dart
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/dom_window_extension.dart
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/google_maps_controller.dart
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/map_styler.dart
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/marker.dart
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/markers.dart
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/overlay.dart
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/utils.dart
  packages/google_maps_flutter/google_maps_flutter_web/pubspec.yaml
Labels: autosubmit, p: google_maps_flutter, platform-web

#6205 [google_map_flutter] Add style to widget - platform impls
  packages/google_maps_flutter/google_maps_flutter_android/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_android/android/src/main/java/io/flutter/plugins/googlemaps/Convert.java
  packages/google_maps_flutter/google_maps_flutter_android/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapBuilder.java
  packages/google_maps_flutter/google_maps_flutter_android/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapController.java
  packages/google_maps_flutter/google_maps_flutter_android/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapOptionsSink.java
  packages/google_maps_flutter/google_maps_flutter_android/example/integration_test/google_maps_tests.dart
  packages/google_maps_flutter/google_maps_flutter_android/example/lib/example_google_map.dart
  packages/google_maps_flutter/google_maps_flutter_android/example/lib/map_ui.dart
  packages/google_maps_flutter/google_maps_flutter_android/example/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_android/lib/src/google_maps_flutter_android.dart
  packages/google_maps_flutter/google_maps_flutter_android/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_ios/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios12/integration_test/google_maps_test.dart
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios12/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios13/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios14/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_ios/example/shared/maps_example_dart/lib/example_google_map.dart
  packages/google_maps_flutter/google_maps_flutter_ios/example/shared/maps_example_dart/lib/map_ui.dart
  packages/google_maps_flutter/google_maps_flutter_ios/example/shared/maps_example_dart/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_ios/ios/Classes/GoogleMapController.m
  packages/google_maps_flutter/google_maps_flutter_ios/lib/src/google_maps_flutter_ios.dart
  packages/google_maps_flutter/google_maps_flutter_ios/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_web/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_web/example/integration_test/google_maps_controller_test.dart
  packages/google_maps_flutter/google_maps_flutter_web/example/integration_test/google_maps_plugin_test.mocks.dart
  packages/google_maps_flutter/google_maps_flutter_web/example/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/convert.dart
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/google_maps_controller.dart
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/google_maps_flutter_web.dart
  packages/google_maps_flutter/google_maps_flutter_web/pubspec.yaml
Labels: autosubmit, p: google_maps_flutter, platform-android, platform-ios, platform-web

#6216 Add library annotations for js interop
  packages/google_maps_flutter/google_maps_flutter_web/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/dom_window_extension.dart
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/map_styler.dart
  packages/google_maps_flutter/google_maps_flutter_web/pubspec.yaml
Labels: autosubmit, p: google_maps_flutter, platform-web

#6192 [google_maps_flutter] Add `style` to widget
  packages/google_maps_flutter/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter/example/integration_test/src/maps_controller.dart
  packages/google_maps_flutter/google_maps_flutter/example/lib/map_ui.dart
  packages/google_maps_flutter/google_maps_flutter/example/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter/lib/src/controller.dart
  packages/google_maps_flutter/google_maps_flutter/lib/src/google_map.dart
  packages/google_maps_flutter/google_maps_flutter/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter/test/google_map_test.dart
Labels: autosubmit, p: google_maps_flutter, federated: all_changes

#6222 Manual roll Flutter from c30f998eb5db to d00bfe820eef (32 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6227 Roll Flutter from d00bfe820eef to e92bca3ff5d2 (15 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#6230 Roll Flutter (stable) from abb292a07e20 to 7482962148e8 (1 revision)
  .ci/flutter_stable.version
Labels: autosubmit

#6158 [google_maps_flutter] Add support for marker clustering - platform interface
  packages/google_maps_flutter/google_maps_flutter_platform_interface/AUTHORS
  packages/google_maps_flutter/google_maps_flutter_platform_interface/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/events/map_event.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/method_channel/method_channel_google_maps_flutter.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/platform_interface/google_maps_flutter_platform.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/platform_interface/google_maps_inspector_platform.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/cluster.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/cluster_manager.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/cluster_manager_updates.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/map_objects.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/marker.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/types.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/utils/cluster_manager.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_platform_interface/test/platform_interface/google_maps_flutter_platform_test.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/test/types/cluster_manager_test.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/test/types/cluster_test.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/test/types/marker_test.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/test/utils/cluster_manager_test.dart
Labels: autosubmit, p: google_maps_flutter

#6232 [various] Standardize Obj-C doc comment style
  packages/camera/camera_avfoundation/ios/Classes/CameraProperties.h
  packages/camera/camera_avfoundation/ios/Classes/FLTCam.h
  packages/camera/camera_avfoundation/ios/Classes/FLTSavePhotoDelegate.h
  packages/camera/camera_avfoundation/ios/Classes/FLTSavePhotoDelegate_Test.h
  packages/camera/camera_avfoundation/ios/Classes/FLTThreadSafeEventChannel.h
  packages/camera/camera_avfoundation/ios/Classes/FLTThreadSafeFlutterResult.h
  packages/camera/camera_avfoundation/ios/Classes/FLTThreadSafeFlutterResult.m
  packages/camera/camera_avfoundation/ios/Classes/FLTThreadSafeMethodChannel.h
  packages/camera/camera_avfoundation/ios/Classes/FLTThreadSafeTextureRegistry.h
  packages/file_selector/file_selector_ios/ios/Classes/FFSFileSelectorPlugin_Test.h
  packages/google_maps_flutter/google_maps_flutter_ios/ios/Classes/GoogleMapController_Test.h
  packages/google_sign_in/google_sign_in_ios/darwin/Classes/FLTGoogleSignInPlugin.m
  packages/image_picker/image_picker_ios/ios/Classes/FLTImagePickerPlugin.m
  packages/image_picker/image_picker_ios/ios/Classes/FLTImagePickerPlugin_Test.h
  packages/image_picker/image_picker_ios/ios/Classes/FLTPHPickerSaveImageToPathOperation.h
  packages/image_picker/image_picker_ios/ios/Classes/FLTPHPickerSaveImageToPathOperation.m
  packages/local_auth/local_auth_darwin/darwin/Classes/FLALocalAuthPlugin.m
  packages/local_auth/local_auth_darwin/darwin/Classes/FLALocalAuthPlugin_Test.h
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/AlternateLanguageTestPlugin.m
  packages/pigeon/platform_tests/alternate_language_test_plugin/macos/Classes/AlternateLanguageTestPlugin.m
  packages/video_player/video_player_avfoundation/darwin/Classes/AVAssetTrackUtils.h
  packages/video_player/video_player_avfoundation/darwin/Classes/FVPDisplayLink.h
  packages/video_player/video_player_avfoundation/darwin/Classes/FVPVideoPlayerPlugin.m
  packages/video_player/video_player_avfoundation/darwin/Classes/ios/FVPDisplayLink.m
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFDataConverters.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFHTTPCookieStoreHostApi.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFInstanceManager.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFInstanceManager_Test.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFNavigationDelegateHostApi.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFObjectHostApi.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFPreferencesHostApi.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFScriptMessageHandlerHostApi.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFScrollViewDelegateHostApi.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFScrollViewHostApi.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFUIDelegateHostApi.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFUIViewHostApi.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFURLAuthenticationChallengeHostApi.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFURLCredentialHostApi.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFURLHostApi.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFURLProtectionSpaceHostApi.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFUserContentControllerHostApi.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFWebViewConfigurationHostApi.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFWebViewFlutterWKWebViewExternalAPI.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFWebViewHostApi.h
  packages/webview_flutter/webview_flutter_wkwebview/ios/Classes/FWFWebsiteDataStoreHostApi.h
Labels: p: pigeon, autosubmit, override: no versioning needed, override: no changelog needed, p: camera, p: file_selector, p: google_maps_flutter, p: google_sign_in, p: image_picker, p: local_auth, platform-ios, platform-macos, p: webview_flutter, p: video_player
