Repository flutter/packages, pull requests merged in 2025-07, with the labels that each got.

#9533 [video_player] Use CADisplayLink on macOS 14.0+
  packages/video_player/video_player_avfoundation/CHANGELOG.md
  packages/video_player/video_player_avfoundation/darwin/RunnerTests/VideoPlayerTests.m
  packages/video_player/video_player_avfoundation/darwin/video_player_avfoundation/Sources/video_player_avfoundation/FVPCADisplayLink.m
  packages/video_player/video_player_avfoundation/darwin/video_player_avfoundation/Sources/video_player_avfoundation/FVPTextureBasedVideoPlayer.m
  packages/video_player/video_player_avfoundation/darwin/video_player_avfoundation/Sources/video_player_avfoundation/FVPVideoPlayerPlugin.m
  packages/video_player/video_player_avfoundation/darwin/video_player_avfoundation/Sources/video_player_avfoundation/include/video_player_avfoundation/FVPDisplayLink.h
  packages/video_player/video_player_avfoundation/darwin/video_player_avfoundation/Sources/video_player_avfoundation/include/video_player_avfoundation/FVPFrameUpdater.h
  packages/video_player/video_player_avfoundation/darwin/video_player_avfoundation/Sources/video_player_avfoundation/include/video_player_avfoundation/FVPTextureBasedVideoPlayer.h
  packages/video_player/video_player_avfoundation/darwin/video_player_avfoundation/Sources/video_player_avfoundation/include/video_player_avfoundation/FVPVideoPlayerPlugin_Test.h
  packages/video_player/video_player_avfoundation/darwin/video_player_avfoundation/Sources/video_player_avfoundation_macos/FVPCoreVideoDisplayLink.m
  packages/video_player/video_player_avfoundation/pubspec.yaml
Labels: autosubmit, platform-ios, platform-macos, p: video_player

#9459 [local_auth] Convert iOS/macOS to Swift
  packages/local_auth/local_auth_darwin/CHANGELOG.md
  packages/local_auth/local_auth_darwin/darwin/Tests/FLALocalAuthPluginTests.swift
  packages/local_auth/local_auth_darwin/darwin/local_auth_darwin.podspec
  packages/local_auth/local_auth_darwin/darwin/local_auth_darwin/Sources/local_auth_darwin/FLALocalAuthPlugin.m
  packages/local_auth/local_auth_darwin/darwin/local_auth_darwin/Sources/local_auth_darwin/LocalAuthPlugin.swift
  packages/local_auth/local_auth_darwin/darwin/local_auth_darwin/Sources/local_auth_darwin/SystemWrappers.swift
  packages/local_auth/local_auth_darwin/darwin/local_auth_darwin/Sources/local_auth_darwin/include/local_auth_darwin/FLALocalAuthPlugin.h
  packages/local_auth/local_auth_darwin/darwin/local_auth_darwin/Sources/local_auth_darwin/include/local_auth_darwin/FLALocalAuthPlugin_Test.h
  packages/local_auth/local_auth_darwin/darwin/local_auth_darwin/Sources/local_auth_darwin/include/local_auth_darwin/messages.g.h
  packages/local_auth/local_auth_darwin/darwin/local_auth_darwin/Sources/local_auth_darwin/messages.g.m
  packages/local_auth/local_auth_darwin/darwin/local_auth_darwin/Sources/local_auth_darwin/messages.g.swift
  packages/local_auth/local_auth_darwin/lib/src/messages.g.dart
  packages/local_auth/local_auth_darwin/pigeons/messages.dart
  packages/local_auth/local_auth_darwin/pubspec.yaml
Labels: autosubmit, p: local_auth, platform-ios, platform-macos, triage-ios

#9535 [go_router] Add TODOs for meta migration
  packages/go_router/lib/src/match.dart
  packages/go_router/lib/src/route.dart
Labels: p: go_router, autosubmit, override: no versioning needed, override: no changelog needed

#9578 roll 28a4e852bc90479015e6bc96a15d11fe4aa34f3a
  .ci/flutter_master.version
Labels: autosubmit

#9529 [video_player] Move iOS/macOS to per-player-instance Pigeon APIs
  packages/video_player/video_player_avfoundation/CHANGELOG.md
  packages/video_player/video_player_avfoundation/darwin/RunnerTests/VideoPlayerTests.m
  packages/video_player/video_player_avfoundation/darwin/video_player_avfoundation/Sources/video_player_avfoundation/FVPTextureBasedVideoPlayer.m
  packages/video_player/video_player_avfoundation/darwin/video_player_avfoundation/Sources/video_player_avfoundation/FVPVideoPlayer.m
  packages/video_player/video_player_avfoundation/darwin/video_player_avfoundation/Sources/video_player_avfoundation/FVPVideoPlayerPlugin.m
  packages/video_player/video_player_avfoundation/darwin/video_player_avfoundation/Sources/video_player_avfoundation/include/video_player_avfoundation/FVPTextureBasedVideoPlayer.h
  packages/video_player/video_player_avfoundation/darwin/video_player_avfoundation/Sources/video_player_avfoundation/include/video_player_avfoundation/FVPVideoPlayer.h
  packages/video_player/video_player_avfoundation/darwin/video_player_avfoundation/Sources/video_player_avfoundation/include/video_player_avfoundation/FVPVideoPlayer_Test.h
  packages/video_player/video_player_avfoundation/darwin/video_player_avfoundation/Sources/video_player_avfoundation/include/video_player_avfoundation/messages.g.h
  packages/video_player/video_player_avfoundation/darwin/video_player_avfoundation/Sources/video_player_avfoundation/messages.g.m
  packages/video_player/video_player_avfoundation/example/lib/main.dart
  packages/video_player/video_player_avfoundation/lib/src/avfoundation_video_player.dart
  packages/video_player/video_player_avfoundation/lib/src/messages.g.dart
  packages/video_player/video_player_avfoundation/pigeons/messages.dart
  packages/video_player/video_player_avfoundation/pubspec.yaml
  packages/video_player/video_player_avfoundation/test/avfoundation_video_player_test.dart
  packages/video_player/video_player_avfoundation/test/avfoundation_video_player_test.mocks.dart
  packages/video_player/video_player_avfoundation/test/test_api.g.dart
Labels: autosubmit, platform-ios, platform-macos, p: video_player

#9536 [camera] fix `CameraLensType` export
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/lib/camera.dart
  packages/camera/camera/pubspec.yaml
  packages/camera/camera/test/camera_export_test.dart
Labels: autosubmit, p: camera

#8940 [video_player] Add html 5 video poster support (thumbnail) as a VideoPlayerWebOptions
  packages/video_player/video_player_web/CHANGELOG.md
  packages/video_player/video_player_web/example/integration_test/video_player_test.dart
  packages/video_player/video_player_web/lib/src/video_player.dart
  packages/video_player/video_player_web/pubspec.yaml
Labels: autosubmit, platform-web, p: video_player, federated: all_changes

#9584 Roll Flutter from adffe244f3f1 to ac12f66681f1 (28 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#9482 [go_router_builder] Update case sensitive test to `go_router` 16.0.0
  packages/go_router_builder/example/pubspec.yaml
  packages/go_router_builder/example/test/case_sensitivity_example_test.dart
Labels: p: go_router_builder, autosubmit

#9589 Roll Flutter from ac12f66681f1 to 43657f3baa17 (25 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#9581 [google_sign_in] Add troubleshooting to Android README
  packages/google_sign_in/google_sign_in_android/CHANGELOG.md
  packages/google_sign_in/google_sign_in_android/README.md
  packages/google_sign_in/google_sign_in_android/pubspec.yaml
Labels: autosubmit, p: google_sign_in, platform-android

#9588 [camera_avfoundation] Implementation swift migration - part 6
  packages/camera/camera_avfoundation/CHANGELOG.md
  packages/camera/camera_avfoundation/example/ios/RunnerTests/FLTCamSetDeviceOrientationTests.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/Mocks/MockCamera.swift
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/Camera.swift
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/CameraPlugin.swift
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/DefaultCamera.swift
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation_objc/FLTCam.m
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation_objc/include/camera_avfoundation/FLTCam.h
  packages/camera/camera_avfoundation/pubspec.yaml
Labels: autosubmit, p: camera, platform-ios, platform-macos

#9590 [rfw] Update test to not depend on toString()
  packages/rfw/test/argument_decoders_test.dart
Labels: p: rfw

#9602 Roll Flutter from 43657f3baa17 to 35f197f1e5f5 (39 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#9624 Roll Flutter from 35f197f1e5f5 to a930ec1a6c09 (3 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#9508 [quick_actions] Restore the appShortcutLaunchActivityAfterStarting test in quick_actions_android
  packages/quick_actions/quick_actions_android/example/android/app/src/androidTest/java/io/flutter/plugins/quickactionsexample/QuickActionsTest.java
Labels: autosubmit, p: quick_actions, platform-android

#9571 [camera_android] Use WeakReference to prevent startImageStream OOM error when main thread hangs (flutter#166533)
  packages/camera/camera_android/CHANGELOG.md
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/media/ImageStreamReader.java
  packages/camera/camera_android/android/src/test/java/io/flutter/plugins/camera/media/ImageStreamReaderTest.java
  packages/camera/camera_android/android/src/test/java/io/flutter/plugins/camera/media/ImageStreamReaderTestUtils.java
  packages/camera/camera_android/android/src/test/java/io/flutter/plugins/camera/media/ImageStreamReaderUtilsTest.java
  packages/camera/camera_android/pubspec.yaml
Labels: autosubmit, p: camera, platform-android

#9574 [google_sign_in] Add exception info to migration guide
  packages/google_sign_in/google_sign_in/CHANGELOG.md
  packages/google_sign_in/google_sign_in/MIGRATION.md
  packages/google_sign_in/google_sign_in/lib/google_sign_in.dart
  packages/google_sign_in/google_sign_in/pubspec.yaml
Labels: autosubmit, p: google_sign_in

#9587 [webview_flutter_wkwebview] Replace Flutter method failure assertion with nslog
  packages/webview_flutter/webview_flutter_wkwebview/CHANGELOG.md
  packages/webview_flutter/webview_flutter_wkwebview/darwin/Tests/ProxyAPIRegistrarTests.swift
  packages/webview_flutter/webview_flutter_wkwebview/darwin/webview_flutter_wkwebview/Sources/webview_flutter_wkwebview/ProxyAPIRegistrar.swift
  packages/webview_flutter/webview_flutter_wkwebview/example/ios/Runner.xcodeproj/project.pbxproj
  packages/webview_flutter/webview_flutter_wkwebview/pubspec.yaml
Labels: autosubmit, platform-ios, platform-macos, p: webview_flutter

#9595 [camera_avfoundation] Implementation swift migration - part 7
  packages/camera/camera_avfoundation/CHANGELOG.md
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/DefaultCamera.swift
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation_objc/FLTCam.m
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation_objc/include/camera_avfoundation/FLTCam.h
  packages/camera/camera_avfoundation/pubspec.yaml
Labels: autosubmit, p: camera, platform-ios, platform-macos

#9625 [image_picker] redesign example app
  packages/image_picker/image_picker_android/example/lib/main.dart
  packages/image_picker/image_picker_ios/example/lib/main.dart
  packages/image_picker/image_picker_linux/example/lib/main.dart
  packages/image_picker/image_picker_macos/example/lib/main.dart
  packages/image_picker/image_picker_windows/example/lib/main.dart
Labels: autosubmit, override: no versioning needed, override: no changelog needed, p: image_picker, platform-android, platform-ios, platform-linux, platform-macos, platform-windows

#9639 Fix Gemini note wrapping
  .github/PULL_REQUEST_TEMPLATE.md
Labels: autosubmit

#9640 Roll Flutter (stable) from 077b4a4ce10a to d7b523b356d1 (3 revisions)
  .ci/flutter_stable.version
Labels: autosubmit

#9641 Roll Flutter from c2739f0dcc39 to 9c626d9f9afa (18 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#9515 [pigeon] Adds overrides for constructors and static members of ProxyApis
  packages/pigeon/CHANGELOG.md
  packages/pigeon/lib/src/ast.dart
  packages/pigeon/lib/src/dart/dart_generator.dart
  packages/pigeon/lib/src/dart/proxy_api_generator_helper.dart
  packages/pigeon/lib/src/generator_tools.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/proxy_api_tests.gen.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/test/proxy_api_overrides_test.dart
  packages/pigeon/pubspec.yaml
  packages/pigeon/test/dart/proxy_api_test.dart
Labels: p: pigeon, autosubmit

#9636 [two_dimensional_scrollables] Fix missing leading cache extent for TableView
  packages/two_dimensional_scrollables/CHANGELOG.md
  packages/two_dimensional_scrollables/lib/src/table_view/table.dart
  packages/two_dimensional_scrollables/pubspec.yaml
  packages/two_dimensional_scrollables/test/table_view/table_test.dart
Labels: autosubmit, p: two_dimensional_scrollables

#9635 [camera_avfoundation] Implementation swift migration - part 8
  packages/camera/camera_avfoundation/CHANGELOG.md
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/DefaultCamera.swift
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation_objc/FLTCam.m
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation_objc/include/camera_avfoundation/FLTCam.h
  packages/camera/camera_avfoundation/pubspec.yaml
Labels: autosubmit, p: camera, platform-ios, platform-macos

#9646 Roll Flutter from 9c626d9f9afa to 440713c3b287 (19 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#9647 Have Gemini ignore Flutter version pin
  .gemini/config.yaml
Labels: autosubmit

#9653 Roll Flutter from 440713c3b287 to 70a3c3cc935e (11 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#9655 [google_sign_in] Update to GoogleSignIn-iOS 9
  packages/google_sign_in/google_sign_in_ios/CHANGELOG.md
  packages/google_sign_in/google_sign_in_ios/darwin/Tests/GoogleSignInTests.m
  packages/google_sign_in/google_sign_in_ios/darwin/google_sign_in_ios.podspec
  packages/google_sign_in/google_sign_in_ios/darwin/google_sign_in_ios/Package.swift
  packages/google_sign_in/google_sign_in_ios/darwin/google_sign_in_ios/Sources/google_sign_in_ios/FLTGoogleSignInPlugin.m
  packages/google_sign_in/google_sign_in_ios/pubspec.yaml
Labels: autosubmit, p: google_sign_in, platform-ios, platform-macos

#9658 Roll Flutter from 70a3c3cc935e to 70cdc0c933d6 (4 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#9665 Roll Flutter from ee0cc6652be7 to afba7d75b391 (10 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#9629 [google_sign_in] Add more serverClientId info to README
  packages/google_sign_in/google_sign_in_android/CHANGELOG.md
  packages/google_sign_in/google_sign_in_android/README.md
  packages/google_sign_in/google_sign_in_android/pubspec.yaml
Labels: autosubmit, p: google_sign_in, platform-android, triage-android

#9670 Roll Flutter from afba7d75b391 to 20788c07fcb8 (27 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#9643 Resolve `android_build_all_packages` Warnings
  .ci/legacy_project/README.md
  .ci/legacy_project/all_packages/android/gradle/wrapper/gradle-wrapper.properties
  .ci/legacy_project/all_packages/android/settings.gradle
Labels: autosubmit

#9677 Roll Flutter (stable) from d7b523b356d1 to edada7c56edf (7 revisions)
  .ci/flutter_stable.version
Labels: autosubmit

#9688 Roll Flutter from 20788c07fcb8 to cfbaa18bdecc (43 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#9648 [interactive_media_ads] Adds support to set general SDK settings
  packages/interactive_media_ads/CHANGELOG.md
  packages/interactive_media_ads/android/src/main/kotlin/dev/flutter/packages/interactive_media_ads/AdsRequestProxyApi.kt
  packages/interactive_media_ads/android/src/main/kotlin/dev/flutter/packages/interactive_media_ads/InteractiveMediaAdsLibrary.g.kt
  packages/interactive_media_ads/ios/interactive_media_ads/Sources/interactive_media_ads/AdsRequestProxyAPIDelegate.swift
  packages/interactive_media_ads/ios/interactive_media_ads/Sources/interactive_media_ads/InteractiveMediaAdsLibrary.g.swift
  packages/interactive_media_ads/lib/interactive_media_ads.dart
  packages/interactive_media_ads/lib/src/ads_loader.dart
  packages/interactive_media_ads/lib/src/android/android_ads_loader.dart
  packages/interactive_media_ads/lib/src/android/android_ima_settings.dart
  packages/interactive_media_ads/lib/src/android/android_interactive_media_ads.dart
  packages/interactive_media_ads/lib/src/android/interactive_media_ads.g.dart
  packages/interactive_media_ads/lib/src/ima_settings.dart
  packages/interactive_media_ads/lib/src/ios/interactive_media_ads.g.dart
  packages/interactive_media_ads/lib/src/ios/ios_ads_loader.dart
  packages/interactive_media_ads/lib/src/ios/ios_ima_settings.dart
  packages/interactive_media_ads/lib/src/ios/ios_interactive_media_ads.dart
  packages/interactive_media_ads/lib/src/platform_interface/ad_error.dart
  packages/interactive_media_ads/lib/src/platform_interface/interactive_media_ads_platform.dart
  packages/interactive_media_ads/lib/src/platform_interface/platform_ads_loader.dart
  packages/interactive_media_ads/lib/src/platform_interface/platform_content_progress_provider.dart
  packages/interactive_media_ads/lib/src/platform_interface/platform_ima_settings.dart
  packages/interactive_media_ads/lib/src/platform_interface/platform_interface.dart
  packages/interactive_media_ads/pubspec.yaml
  packages/interactive_media_ads/test/ads_loader_test.dart
  packages/interactive_media_ads/test/android/ads_loader_test.dart
  packages/interactive_media_ads/test/android/ads_loader_test.mocks.dart
  packages/interactive_media_ads/test/android/ima_settings_test.dart
  packages/interactive_media_ads/test/android/ima_settings_test.mocks.dart
  packages/interactive_media_ads/test/ima_settings_test.dart
  packages/interactive_media_ads/test/ios/ads_loader_test.dart
  packages/interactive_media_ads/test/ios/ads_loader_test.mocks.dart
  packages/interactive_media_ads/test/ios/ima_settings_test.dart
  packages/interactive_media_ads/test/ios/ima_settings_test.mocks.dart
  packages/interactive_media_ads/test/test_stubs.dart
Labels: autosubmit, platform-android, platform-ios, p: interactive_media_ads

#9664 [camera_avfoundation] Implementation swift migration - part 10
  packages/camera/camera_avfoundation/CHANGELOG.md
  packages/camera/camera_avfoundation/example/ios/RunnerTests/PhotoCaptureTests.swift
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/CameraPlugin.swift
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/DefaultCamera.swift
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/QueueUtils.swift
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation_objc/FLTCam.m
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation_objc/QueueUtils.m
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation_objc/include/camera_avfoundation/FLTCam.h
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation_objc/include/camera_avfoundation/QueueUtils.h
  packages/camera/camera_avfoundation/pubspec.yaml
Labels: autosubmit, p: camera, platform-ios, platform-macos

#9672 [video_player] Move more Java logic to Dart
  packages/video_player/video_player_android/CHANGELOG.md
  packages/video_player/video_player_android/android/src/main/java/io/flutter/plugins/videoplayer/HttpVideoAsset.java
  packages/video_player/video_player_android/android/src/main/java/io/flutter/plugins/videoplayer/Messages.java
  packages/video_player/video_player_android/android/src/main/java/io/flutter/plugins/videoplayer/RtspVideoAsset.java
  packages/video_player/video_player_android/android/src/main/java/io/flutter/plugins/videoplayer/VideoAsset.java
  packages/video_player/video_player_android/android/src/main/java/io/flutter/plugins/videoplayer/VideoPlayerEventCallbacks.java
  packages/video_player/video_player_android/android/src/main/java/io/flutter/plugins/videoplayer/VideoPlayerPlugin.java
  packages/video_player/video_player_android/android/src/test/java/io/flutter/plugins/videoplayer/VideoAssetTest.java
  packages/video_player/video_player_android/android/src/test/java/io/flutter/plugins/videoplayer/VideoPlayerEventCallbacksTest.java
  packages/video_player/video_player_android/lib/src/android_video_player.dart
  packages/video_player/video_player_android/lib/src/messages.g.dart
  packages/video_player/video_player_android/pigeons/messages.dart
  packages/video_player/video_player_android/pubspec.yaml
  packages/video_player/video_player_android/test/android_video_player_test.dart
  packages/video_player/video_player_android/test/android_video_player_test.mocks.dart
Labels: autosubmit, platform-android, p: video_player

#9692 Update CODEOWNERS
  CODEOWNERS
Labels: autosubmit

#9699 Roll Flutter from 46b097a3070d to c3279caa127d (18 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#9671 Fixed Camera Switching Bug
  packages/camera/camera_android_camerax/CHANGELOG.md
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/CameraSelectorProxyApi.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/CameraXLibrary.g.kt
  packages/camera/camera_android_camerax/android/src/test/java/io/flutter/plugins/camerax/CameraSelectorTest.java
  packages/camera/camera_android_camerax/lib/src/android_camera_camerax.dart
  packages/camera/camera_android_camerax/lib/src/camerax_library.g.dart
  packages/camera/camera_android_camerax/lib/src/camerax_proxy.dart
  packages/camera/camera_android_camerax/pigeons/camerax_library.dart
  packages/camera/camera_android_camerax/pubspec.yaml
  packages/camera/camera_android_camerax/test/android_camera_camerax_test.dart
  packages/camera/camera_android_camerax/test/android_camera_camerax_test.mocks.dart
  packages/camera/camera_android_camerax/test/preview_rotation_test.dart
Labels: autosubmit, p: camera, platform-android

#9445 [in_app_purchase_storekit] Updated comment
  packages/in_app_purchase/in_app_purchase_storekit/example/lib/main.dart
Labels: autosubmit, p: in_app_purchase, platform-ios, platform-macos, triage-ios
