Repository flutter/packages, pull requests merged in 2025-02, with the labels that each got.

#8518 [google_maps_flutter] Support for Ground Overlay - platform interface
  packages/google_maps_flutter/google_maps_flutter_platform_interface/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/events/map_event.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/platform_interface/google_maps_flutter_platform.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/platform_interface/google_maps_inspector_platform.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/ground_overlay.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/ground_overlay_updates.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/map_objects.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/tile_overlay.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/types.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/utils/ground_overlay.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_platform_interface/test/types/ground_overlay_test.dart
Labels: autosubmit, p: google_maps_flutter

#8556 Roll Flutter from b007899d3a7a to 8e2a6fc3fd2c (61 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#8302 [pigeon] [swift] Fix `PigeonError` sendability conformance in Swift 6
  packages/pigeon/CHANGELOG.md
  packages/pigeon/example/app/ios/Runner/Messages.g.swift
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/lib/swift_generator.dart
  packages/pigeon/platform_tests/test_plugin/ios/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/ios/Classes/EventChannelTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/ios/Classes/ProxyApiTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/macos/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/macos/Classes/EventChannelTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/macos/Classes/ProxyApiTests.gen.swift
  packages/pigeon/pubspec.yaml
  packages/pigeon/test/swift_generator_test.dart
Labels: p: pigeon, autosubmit, platform-ios, platform-macos

#8532 [pigeon] reorg generator files
  packages/pigeon/CHANGELOG.md
  packages/pigeon/CONTRIBUTING.md
  packages/pigeon/bin/pigeon.dart
  packages/pigeon/lib/pigeon.dart
  packages/pigeon/lib/src/ast.dart
  packages/pigeon/lib/src/ast_generator.dart
  packages/pigeon/lib/src/cpp/cpp_generator.dart
  packages/pigeon/lib/src/dart/dart_generator.dart
  packages/pigeon/lib/src/dart/templates.dart
  packages/pigeon/lib/src/functional.dart
  packages/pigeon/lib/src/generator.dart
  packages/pigeon/lib/src/generator_tools.dart
  packages/pigeon/lib/src/gobject/gobject_generator.dart
  packages/pigeon/lib/src/java/java_generator.dart
  packages/pigeon/lib/src/kotlin/kotlin_generator.dart
  packages/pigeon/lib/src/kotlin/templates.dart
  packages/pigeon/lib/src/objc/objc_generator.dart
  packages/pigeon/lib/src/pigeon_cl.dart
  packages/pigeon/lib/src/pigeon_lib.dart
  packages/pigeon/lib/src/swift/swift_generator.dart
  packages/pigeon/lib/src/swift/templates.dart
  packages/pigeon/pubspec.yaml
  packages/pigeon/test/ast_generator_test.dart
  packages/pigeon/test/cpp_generator_test.dart
  packages/pigeon/test/dart/proxy_api_test.dart
  packages/pigeon/test/dart_generator_test.dart
  packages/pigeon/test/functional_test.dart
  packages/pigeon/test/generator_tools_test.dart
  packages/pigeon/test/gobject_generator_test.dart
  packages/pigeon/test/java_generator_test.dart
  packages/pigeon/test/kotlin/proxy_api_test.dart
  packages/pigeon/test/kotlin_generator_test.dart
  packages/pigeon/test/objc_generator_test.dart
  packages/pigeon/test/pigeon_lib_test.dart
  packages/pigeon/test/swift/proxy_api_test.dart
  packages/pigeon/test/swift_generator_test.dart
  packages/pigeon/test/version_test.dart
  packages/pigeon/tool/shared/generation.dart
Labels: p: pigeon, autosubmit

#8429 [interactive_media_ads] Adds internal wrapper for iOS native `IMAAdPodInfo`
  packages/interactive_media_ads/CHANGELOG.md
  packages/interactive_media_ads/android/src/main/kotlin/dev/flutter/packages/interactive_media_ads/AdsRequestProxyApi.kt
  packages/interactive_media_ads/example/ios/Runner.xcodeproj/project.pbxproj
  packages/interactive_media_ads/example/ios/RunnerTests/AdPodInfoProxyAPITests.swift
  packages/interactive_media_ads/ios/interactive_media_ads/Sources/interactive_media_ads/AdPodInfoProxyAPIDelegate.swift
  packages/interactive_media_ads/ios/interactive_media_ads/Sources/interactive_media_ads/AdsRequestProxyAPIDelegate.swift
  packages/interactive_media_ads/ios/interactive_media_ads/Sources/interactive_media_ads/InteractiveMediaAdsLibrary.g.swift
  packages/interactive_media_ads/ios/interactive_media_ads/Sources/interactive_media_ads/ProxyApiDelegate.swift
  packages/interactive_media_ads/lib/src/ios/interactive_media_ads.g.dart
  packages/interactive_media_ads/pigeons/interactive_media_ads_ios.dart
  packages/interactive_media_ads/pubspec.yaml
Labels: autosubmit, platform-android, platform-ios, p: interactive_media_ads

#8340 [flutter_markdown] Make custom table column alignments work when text wraps
  packages/flutter_markdown/CHANGELOG.md
  packages/flutter_markdown/lib/src/builder.dart
  packages/flutter_markdown/pubspec.yaml
  packages/flutter_markdown/test/table_test.dart
Labels: p: flutter_markdown, autosubmit

#8195 [vector_graphics] Allow transition between placeholder and loaded image to have an animation
  packages/vector_graphics/CHANGELOG.md
  packages/vector_graphics/lib/src/vector_graphics.dart
  packages/vector_graphics/pubspec.yaml
  packages/vector_graphics/test/vector_graphics_test.dart
Labels: autosubmit, p: vector_graphics

#8572 [ci] Move Wasm test shards out of bringup.
  .ci.yaml
Labels: autosubmit

#8580 [quick_actions] Update Android Pigeon version
  packages/quick_actions/quick_actions_android/CHANGELOG.md
  packages/quick_actions/quick_actions_android/android/src/main/java/io/flutter/plugins/quickactions/Messages.java
  packages/quick_actions/quick_actions_android/android/src/main/java/io/flutter/plugins/quickactions/QuickActions.java
  packages/quick_actions/quick_actions_android/android/src/main/java/io/flutter/plugins/quickactions/QuickActionsPlugin.java
  packages/quick_actions/quick_actions_android/lib/quick_actions_android.dart
  packages/quick_actions/quick_actions_android/lib/src/messages.g.dart
  packages/quick_actions/quick_actions_android/pubspec.yaml
  packages/quick_actions/quick_actions_android/test/quick_actions_android_test.dart
Labels: autosubmit, p: quick_actions, platform-android

#8566 [pigeon] Adds annotation options to omit shared classes used in Event Channels
  packages/pigeon/CHANGELOG.md
  packages/pigeon/example/app/android/app/src/main/kotlin/dev/flutter/pigeon_example_app/EventChannelMessages.g.kt
  packages/pigeon/lib/pigeon.dart
  packages/pigeon/lib/src/ast.dart
  packages/pigeon/lib/src/generator_tools.dart
  packages/pigeon/lib/src/kotlin/kotlin_generator.dart
  packages/pigeon/lib/src/pigeon_lib.dart
  packages/pigeon/lib/src/swift/swift_generator.dart
  packages/pigeon/pigeons/event_channel_without_classes_tests.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/event_channel_without_classes_tests.gen.dart
  packages/pigeon/platform_tests/test_plugin/android/src/main/kotlin/com/example/test_plugin/EventChannelTests.gen.kt
  packages/pigeon/pubspec.yaml
  packages/pigeon/tool/shared/generation.dart
Labels: p: pigeon, autosubmit, platform-android

#8363 [camera] Remove OCMock from AvailableCamerasTests, CameraOrientationTests and ThreadSafeEventChannelTests
  packages/camera/camera_avfoundation/CHANGELOG.md
  packages/camera/camera_avfoundation/example/ios/Runner.xcodeproj/project.pbxproj
  packages/camera/camera_avfoundation/example/ios/RunnerTests/AvailableCamerasTest.m
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraCaptureSessionQueueRaceConditionTests.m
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraExposureTests.m
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraFocusTests.m
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraMethodChannelTests.m
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraOrientationTests.m
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraSessionPresetsTests.m
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraSettingsTests.m
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraTestUtils.h
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraTestUtils.m
  packages/camera/camera_avfoundation/example/ios/RunnerTests/FLTCamPhotoCaptureTests.m
  packages/camera/camera_avfoundation/example/ios/RunnerTests/Mocks/MockCameraDeviceDiscoverer.h
  packages/camera/camera_avfoundation/example/ios/RunnerTests/Mocks/MockCameraDeviceDiscoverer.m
  packages/camera/camera_avfoundation/example/ios/RunnerTests/Mocks/MockCaptureDevice.h
  packages/camera/camera_avfoundation/example/ios/RunnerTests/Mocks/MockCaptureDevice.m
  packages/camera/camera_avfoundation/example/ios/RunnerTests/Mocks/MockCaptureSession.h
  packages/camera/camera_avfoundation/example/ios/RunnerTests/Mocks/MockCaptureSession.m
  packages/camera/camera_avfoundation/example/ios/RunnerTests/Mocks/MockDeviceOrientationProvider.h
  packages/camera/camera_avfoundation/example/ios/RunnerTests/Mocks/MockDeviceOrientationProvider.m
  packages/camera/camera_avfoundation/example/ios/RunnerTests/Mocks/MockEventChannel.h
  packages/camera/camera_avfoundation/example/ios/RunnerTests/Mocks/MockEventChannel.m
  packages/camera/camera_avfoundation/example/ios/RunnerTests/Mocks/MockFlutterBinaryMessenger.h
  packages/camera/camera_avfoundation/example/ios/RunnerTests/Mocks/MockFlutterBinaryMessenger.m
  packages/camera/camera_avfoundation/example/ios/RunnerTests/Mocks/MockFlutterTextureRegistry.h
  packages/camera/camera_avfoundation/example/ios/RunnerTests/Mocks/MockFlutterTextureRegistry.m
  packages/camera/camera_avfoundation/example/ios/RunnerTests/Mocks/MockGlobalEventApi.h
  packages/camera/camera_avfoundation/example/ios/RunnerTests/Mocks/MockGlobalEventApi.m
  packages/camera/camera_avfoundation/example/ios/RunnerTests/ThreadSafeEventChannelTests.m
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/CameraPlugin.m
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/FLTCam.m
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/FLTCamConfiguration.m
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/FLTCamMediaSettingsAVWrapper.m
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/FLTCameraDeviceDiscovering.m
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/FLTCaptureDevice.m
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/FLTCaptureSession.m
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/FLTThreadSafeEventChannel.m
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/include/CameraPlugin.modulemap
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/include/camera_avfoundation/CameraPlugin_Test.h
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/include/camera_avfoundation/FLTCam.h
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/include/camera_avfoundation/FLTCamConfiguration.h
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/include/camera_avfoundation/FLTCamMediaSettingsAVWrapper.h
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/include/camera_avfoundation/FLTCam_Test.h
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/include/camera_avfoundation/FLTCameraDeviceDiscovering.h
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/include/camera_avfoundation/FLTCaptureDevice.h
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/include/camera_avfoundation/FLTCaptureSession.h
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/include/camera_avfoundation/FLTEventChannel.h
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/include/camera_avfoundation/FLTThreadSafeEventChannel.h
  packages/camera/camera_avfoundation/pubspec.yaml
Labels: autosubmit, p: camera, platform-ios, platform-macos, triage-ios

#8237 [video_player_avfoundation] iOS platform view support
  packages/video_player/video_player_avfoundation/CHANGELOG.md
  packages/video_player/video_player_avfoundation/README.md
  packages/video_player/video_player_avfoundation/darwin/RunnerTests/VideoPlayerTests.m
  packages/video_player/video_player_avfoundation/darwin/video_player_avfoundation/Sources/video_player_avfoundation/FVPFrameUpdater.m
  packages/video_player/video_player_avfoundation/darwin/video_player_avfoundation/Sources/video_player_avfoundation/FVPTextureBasedVideoPlayer.m
  packages/video_player/video_player_avfoundation/darwin/video_player_avfoundation/Sources/video_player_avfoundation/FVPVideoPlayer.m
  packages/video_player/video_player_avfoundation/darwin/video_player_avfoundation/Sources/video_player_avfoundation/FVPVideoPlayerPlugin.m
  packages/video_player/video_player_avfoundation/darwin/video_player_avfoundation/Sources/video_player_avfoundation/include/video_player_avfoundation/FVPAVFactory.h
  packages/video_player/video_player_avfoundation/darwin/video_player_avfoundation/Sources/video_player_avfoundation/include/video_player_avfoundation/FVPFrameUpdater.h
  packages/video_player/video_player_avfoundation/darwin/video_player_avfoundation/Sources/video_player_avfoundation/include/video_player_avfoundation/FVPNativeVideoView.h
  packages/video_player/video_player_avfoundation/darwin/video_player_avfoundation/Sources/video_player_avfoundation/include/video_player_avfoundation/FVPNativeVideoViewFactory.h
  packages/video_player/video_player_avfoundation/darwin/video_player_avfoundation/Sources/video_player_avfoundation/include/video_player_avfoundation/FVPTextureBasedVideoPlayer.h
  packages/video_player/video_player_avfoundation/darwin/video_player_avfoundation/Sources/video_player_avfoundation/include/video_player_avfoundation/FVPTextureBasedVideoPlayer_Test.h
  packages/video_player/video_player_avfoundation/darwin/video_player_avfoundation/Sources/video_player_avfoundation/include/video_player_avfoundation/FVPVideoPlayer.h
  packages/video_player/video_player_avfoundation/darwin/video_player_avfoundation/Sources/video_player_avfoundation/include/video_player_avfoundation/FVPVideoPlayerPlugin_Test.h
  packages/video_player/video_player_avfoundation/darwin/video_player_avfoundation/Sources/video_player_avfoundation/include/video_player_avfoundation/FVPVideoPlayer_Internal.h
  packages/video_player/video_player_avfoundation/darwin/video_player_avfoundation/Sources/video_player_avfoundation/include/video_player_avfoundation/FVPVideoPlayer_Test.h
  packages/video_player/video_player_avfoundation/darwin/video_player_avfoundation/Sources/video_player_avfoundation/include/video_player_avfoundation/messages.g.h
  packages/video_player/video_player_avfoundation/darwin/video_player_avfoundation/Sources/video_player_avfoundation/messages.g.m
  packages/video_player/video_player_avfoundation/darwin/video_player_avfoundation/Sources/video_player_avfoundation_ios/FVPNativeVideoView.m
  packages/video_player/video_player_avfoundation/darwin/video_player_avfoundation/Sources/video_player_avfoundation_ios/FVPNativeVideoViewFactory.m
  packages/video_player/video_player_avfoundation/example/ios/Runner.xcodeproj/project.pbxproj
  packages/video_player/video_player_avfoundation/example/ios/RunnerUITests/VideoPlayerUITests.m
  packages/video_player/video_player_avfoundation/example/lib/main.dart
  packages/video_player/video_player_avfoundation/example/lib/mini_controller.dart
  packages/video_player/video_player_avfoundation/example/pubspec.yaml
  packages/video_player/video_player_avfoundation/lib/src/avfoundation_video_player.dart
  packages/video_player/video_player_avfoundation/lib/src/messages.g.dart
  packages/video_player/video_player_avfoundation/pigeons/messages.dart
  packages/video_player/video_player_avfoundation/pubspec.yaml
  packages/video_player/video_player_avfoundation/test/avfoundation_video_player_test.dart
  packages/video_player/video_player_avfoundation/test/test_api.g.dart
Labels: platform-ios, platform-macos, p: video_player, triage-ios

#8545 [go_router] Add `preload` parameter to `StatefulShellBranchData.$branch`
  packages/go_router/CHANGELOG.md
  packages/go_router/lib/src/route_data.dart
  packages/go_router/pubspec.yaml
  packages/go_router/test/route_data_test.dart
Labels: p: go_router, autosubmit

#8590 [camera] Remove OCMock from FLTCamPhotoCaptureTests, FLTSavePhotoDelegateTests and StreamingTests
  packages/camera/camera_avfoundation/CHANGELOG.md
  packages/camera/camera_avfoundation/example/ios/Runner.xcodeproj/project.pbxproj
  packages/camera/camera_avfoundation/example/ios/RunnerTests/FLTCamPhotoCaptureTests.m
  packages/camera/camera_avfoundation/example/ios/RunnerTests/FLTSavePhotoDelegateTests.m
  packages/camera/camera_avfoundation/example/ios/RunnerTests/Mocks/MockCapturePhotoOutput.h
  packages/camera/camera_avfoundation/example/ios/RunnerTests/Mocks/MockCapturePhotoOutput.m
  packages/camera/camera_avfoundation/example/ios/RunnerTests/Mocks/MockWritableData.h
  packages/camera/camera_avfoundation/example/ios/RunnerTests/Mocks/MockWritableData.m
  packages/camera/camera_avfoundation/example/ios/RunnerTests/StreamingTest.m
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/FLTCam.m
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/FLTCapturePhotoOutput.m
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/FLTSavePhotoDelegate.m
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/FLTWritableData.m
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/include/CameraPlugin.modulemap
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/include/camera_avfoundation/FLTCam_Test.h
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/include/camera_avfoundation/FLTCapturePhotoOutput.h
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/include/camera_avfoundation/FLTSavePhotoDelegate_Test.h
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/include/camera_avfoundation/FLTWritableData.h
  packages/camera/camera_avfoundation/pubspec.yaml
Labels: autosubmit, p: camera, platform-ios, platform-macos

#8592 [camera] Remove OCMock from CameraSettingsTests, CameraMethodChannelTests and CameraSessionPresetsTests
  packages/camera/camera_avfoundation/CHANGELOG.md
  packages/camera/camera_avfoundation/example/ios/Runner.xcodeproj/project.pbxproj
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraExposureTests.m
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraFocusTests.m
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraMethodChannelTests.m
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraOrientationTests.m
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraPermissionTests.m
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraSessionPresetsTests.m
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraSettingsTests.m
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraTestUtils.h
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraTestUtils.m
  packages/camera/camera_avfoundation/example/ios/RunnerTests/FLTCamPhotoCaptureTests.m
  packages/camera/camera_avfoundation/example/ios/RunnerTests/FLTSavePhotoDelegateTests.m
  packages/camera/camera_avfoundation/example/ios/RunnerTests/Mocks/MockCaptureDevice.h
  packages/camera/camera_avfoundation/example/ios/RunnerTests/Mocks/MockCaptureDevice.m
  packages/camera/camera_avfoundation/example/ios/RunnerTests/Mocks/MockCaptureDeviceFormat.h
  packages/camera/camera_avfoundation/example/ios/RunnerTests/Mocks/MockCaptureDeviceFormat.m
  packages/camera/camera_avfoundation/example/ios/RunnerTests/QueueUtilsTests.m
  packages/camera/camera_avfoundation/example/ios/RunnerTests/StreamingTest.m
  packages/camera/camera_avfoundation/example/ios/RunnerTests/ThreadSafeEventChannelTests.m
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/FLTCam.m
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/FLTCamConfiguration.m
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/FLTCaptureDevice.m
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/FLTCaptureDeviceFormat.m
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/include/CameraPlugin.modulemap
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/include/camera_avfoundation/FLTCamConfiguration.h
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/include/camera_avfoundation/FLTCaptureDevice.h
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/include/camera_avfoundation/FLTCaptureDeviceFormat.h
  packages/camera/camera_avfoundation/pubspec.yaml
Labels: autosubmit, p: camera, platform-ios, platform-macos

#8598 [various] Add deprecation notices to READMEs
  packages/css_colors/CHANGELOG.md
  packages/css_colors/README.md
  packages/css_colors/pubspec.yaml
  packages/flutter_adaptive_scaffold/CHANGELOG.md
  packages/flutter_adaptive_scaffold/README.md
  packages/flutter_adaptive_scaffold/pubspec.yaml
  packages/flutter_image/CHANGELOG.md
  packages/flutter_image/README.md
  packages/flutter_image/pubspec.yaml
  packages/flutter_markdown/CHANGELOG.md
  packages/flutter_markdown/README.md
  packages/flutter_markdown/pubspec.yaml
  packages/ios_platform_images/CHANGELOG.md
  packages/ios_platform_images/README.md
  packages/ios_platform_images/pubspec.yaml
  packages/palette_generator/CHANGELOG.md
  packages/palette_generator/README.md
  packages/palette_generator/pubspec.yaml
Labels: p: palette_generator, p: css_colors, p: flutter_markdown, p: flutter_image, autosubmit, p: flutter_adaptive_scaffold, p: ios_platform_images

#8398 [shared_preferences]Fix : SetState returning future
  packages/shared_preferences/shared_preferences/CHANGELOG.md
  packages/shared_preferences/shared_preferences/example/lib/main.dart
  packages/shared_preferences/shared_preferences/pubspec.yaml
Labels: autosubmit, p: shared_preferences

#8567 [pigeon] Add errors for ProxyAPI callback methods and null instances when reading in a ProxyApiBaseCodec
  packages/pigeon/CHANGELOG.md
  packages/pigeon/lib/src/generator_tools.dart
  packages/pigeon/lib/src/kotlin/kotlin_generator.dart
  packages/pigeon/lib/src/pigeon_lib.dart
  packages/pigeon/lib/src/swift/swift_generator.dart
  packages/pigeon/pigeons/proxy_api_tests.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/integration_tests.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/proxy_api_tests.gen.dart
  packages/pigeon/platform_tests/test_plugin/android/src/main/kotlin/com/example/test_plugin/ProxyApiTestApiImpls.kt
  packages/pigeon/platform_tests/test_plugin/android/src/main/kotlin/com/example/test_plugin/ProxyApiTests.gen.kt
  packages/pigeon/platform_tests/test_plugin/ios/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/ios/Classes/ProxyApiTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/ios/Classes/TestPlugin.swift
  packages/pigeon/platform_tests/test_plugin/macos/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/macos/Classes/ProxyApiTests.gen.swift
  packages/pigeon/pubspec.yaml
  packages/pigeon/test/kotlin/proxy_api_test.dart
  packages/pigeon/test/pigeon_lib_test.dart
  packages/pigeon/test/swift/proxy_api_test.dart
  packages/pigeon/test/swift_generator_test.dart
Labels: p: pigeon, autosubmit, platform-android, platform-ios, platform-macos

#8586 [ci] Manually roll master, set -Xmx4G
  .ci/flutter_master.version
  .ci/legacy_project/all_packages/android/gradle.properties
  packages/camera/camera_android/android/build.gradle
  packages/file_selector/file_selector/example/android/gradle.properties
  packages/flutter_adaptive_scaffold/example/android/gradle.properties
  packages/flutter_image/example/android/gradle.properties
  packages/flutter_markdown/example/android/gradle.properties
  packages/flutter_migrate/test/update_locks_test.dart
  packages/go_router/example/android/gradle.properties
  packages/google_maps_flutter/google_maps_flutter_android/android/build.gradle
  packages/image_picker/image_picker_android/android/gradle.properties
  packages/palette_generator/example/android/gradle.properties
  packages/pigeon/example/app/android/gradle.properties
  packages/pigeon/platform_tests/alternate_language_test_plugin/example/android/gradle.properties
  packages/pigeon/platform_tests/test_plugin/example/android/gradle.properties
  packages/rfw/example/hello/android/gradle.properties
  packages/rfw/example/local/android/gradle.properties
  packages/rfw/example/remote/android/gradle.properties
  packages/two_dimensional_scrollables/example/android/gradle.properties
  packages/video_player/video_player_android/android/build.gradle
  third_party/packages/flutter_svg/example/android/gradle.properties
Labels: p: palette_generator, p: pigeon, p: flutter_markdown, p: flutter_image, p: rfw, p: go_router, autosubmit, override: no versioning needed, override: no changelog needed, p: flutter_adaptive_scaffold, p: flutter_migrate, p: camera, p: file_selector, p: google_maps_flutter, p: image_picker, platform-android, p: video_player, p: flutter_svg

#8499 [local_auth_darwin] Fix test name for clarity
  packages/local_auth/local_auth_darwin/darwin/Tests/FLALocalAuthPluginTests.swift
Labels: autosubmit, p: local_auth, platform-ios, platform-macos

#8587 [go_router_builder] Add support for `TypedStatefulShellBranch`'s `preload`
  packages/go_router_builder/CHANGELOG.md
  packages/go_router_builder/lib/src/route_config.dart
  packages/go_router_builder/pubspec.yaml
  packages/go_router_builder/test_inputs/stateful_shell_branch_with_preload_data.dart
  packages/go_router_builder/test_inputs/stateful_shell_branch_with_preload_data.dart.expect
Labels: p: go_router_builder, autosubmit

#8610 [video_player] Re-enables `asset videos live stream duration != 0` test for Android
  packages/video_player/video_player/example/integration_test/video_player_test.dart
Labels: autosubmit, p: video_player

#8603 [camera_avfoundation] Migrate tests to Swift - part 1
  packages/camera/camera_avfoundation/CHANGELOG.md
  packages/camera/camera_avfoundation/example/ios/Runner.xcodeproj/project.pbxproj
  packages/camera/camera_avfoundation/example/ios/RunnerTests/AvailableCamerasTest.m
  packages/camera/camera_avfoundation/example/ios/RunnerTests/AvailableCamerasTests.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraExposureTests.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraFocusTests.m
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraFocusTests.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraPermissionTests.m
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraPermissionTests.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraPreviewPauseTests.m
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraPreviewPauseTests.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraPropertiesTests.m
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraPropertiesTests.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/ExceptionCatcher.h
  packages/camera/camera_avfoundation/example/ios/RunnerTests/ExceptionCatcher.m
  packages/camera/camera_avfoundation/example/ios/RunnerTests/QueueUtilsTests.m
  packages/camera/camera_avfoundation/example/ios/RunnerTests/QueueUtilsTests.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/RunnerTests-Bridging-Header.h
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/FLTCameraPermissionManager.m
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/include/camera_avfoundation/FLTCam.h
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/include/camera_avfoundation/FLTPermissionServicing.h
  packages/camera/camera_avfoundation/pubspec.yaml
Labels: autosubmit, p: camera, platform-ios, platform-macos

#7356 [google_sign_in_ios] Adds Swift Package Manager support
  packages/google_sign_in/google_sign_in_ios/CHANGELOG.md
  packages/google_sign_in/google_sign_in_ios/darwin/Assets/.gitkeep
  packages/google_sign_in/google_sign_in_ios/darwin/Tests/GoogleSignInTests.m
  packages/google_sign_in/google_sign_in_ios/darwin/google_sign_in_ios.podspec
  packages/google_sign_in/google_sign_in_ios/darwin/google_sign_in_ios/Package.swift
  packages/google_sign_in/google_sign_in_ios/darwin/google_sign_in_ios/Sources/google_sign_in_ios/FLTGoogleSignInPlugin.m
  packages/google_sign_in/google_sign_in_ios/darwin/google_sign_in_ios/Sources/google_sign_in_ios/Resources/PrivacyInfo.xcprivacy
  packages/google_sign_in/google_sign_in_ios/darwin/google_sign_in_ios/Sources/google_sign_in_ios/include/FLTGoogleSignInPlugin.modulemap
  packages/google_sign_in/google_sign_in_ios/darwin/google_sign_in_ios/Sources/google_sign_in_ios/include/google_sign_in_ios-umbrella.h
  packages/google_sign_in/google_sign_in_ios/darwin/google_sign_in_ios/Sources/google_sign_in_ios/include/google_sign_in_ios/FLTGoogleSignInPlugin.h
  packages/google_sign_in/google_sign_in_ios/darwin/google_sign_in_ios/Sources/google_sign_in_ios/include/google_sign_in_ios/FLTGoogleSignInPlugin_Test.h
  packages/google_sign_in/google_sign_in_ios/darwin/google_sign_in_ios/Sources/google_sign_in_ios/include/google_sign_in_ios/messages.g.h
  packages/google_sign_in/google_sign_in_ios/darwin/google_sign_in_ios/Sources/google_sign_in_ios/messages.g.m
  packages/google_sign_in/google_sign_in_ios/example/ios/Podfile
  packages/google_sign_in/google_sign_in_ios/example/ios/Runner.xcodeproj/project.pbxproj
  packages/google_sign_in/google_sign_in_ios/example/macos/Podfile
  packages/google_sign_in/google_sign_in_ios/example/macos/Runner.xcodeproj/project.pbxproj
  packages/google_sign_in/google_sign_in_ios/example/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/google_sign_in/google_sign_in_ios/pigeons/messages.dart
  packages/google_sign_in/google_sign_in_ios/pubspec.yaml
  script/configs/xcode_warnings_exceptions.yaml
Labels: autosubmit, p: google_sign_in, platform-ios, platform-macos

#8624 [camera] Remove remaining OCMock usage in tests
  packages/camera/camera_avfoundation/CHANGELOG.md
  packages/camera/camera_avfoundation/example/ios/Runner.xcodeproj/project.pbxproj
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraSettingsTests.m
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraTestUtils.m
  packages/camera/camera_avfoundation/example/ios/RunnerTests/FLTCamSampleBufferTests.m
  packages/camera/camera_avfoundation/example/ios/RunnerTests/Mocks/MockAssetWriter.h
  packages/camera/camera_avfoundation/example/ios/RunnerTests/Mocks/MockAssetWriter.m
  packages/camera/camera_avfoundation/example/ios/RunnerTests/Mocks/MockCaptureConnection.h
  packages/camera/camera_avfoundation/example/ios/RunnerTests/Mocks/MockCaptureConnection.m
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/FLTAssetWriter.m
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/FLTCam.m
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/FLTCamConfiguration.m
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/FLTCamMediaSettingsAVWrapper.m
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/FLTCaptureConnection.m
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/include/CameraPlugin.modulemap
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/include/camera_avfoundation/FLTAssetWriter.h
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/include/camera_avfoundation/FLTCamConfiguration.h
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/include/camera_avfoundation/FLTCamMediaSettingsAVWrapper.h
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/include/camera_avfoundation/FLTCam_Test.h
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/include/camera_avfoundation/FLTCaptureConnection.h
  packages/camera/camera_avfoundation/pubspec.yaml
Labels: autosubmit, p: camera, platform-ios, platform-macos

#8630 [camera] Fix crash when setting activeFormat on FLTCaptureDevice
  packages/camera/camera_avfoundation/CHANGELOG.md
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/FLTCaptureDevice.m
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/include/camera_avfoundation/FLTCaptureDevice.h
  packages/camera/camera_avfoundation/pubspec.yaml
Labels: autosubmit, p: camera, platform-ios, platform-macos

#8546 [flutter_adaptive_scaffold] Fix some memory leaks
  packages/flutter_adaptive_scaffold/CHANGELOG.md
  packages/flutter_adaptive_scaffold/lib/src/adaptive_layout.dart
  packages/flutter_adaptive_scaffold/pubspec.yaml
Labels: autosubmit, p: flutter_adaptive_scaffold

#8628 Update CODEOWNERS
  CODEOWNERS
Labels: autosubmit

#8627 [pigeon] Update task queue handling
  packages/pigeon/CHANGELOG.md
  packages/pigeon/lib/src/generator_tools.dart
  packages/pigeon/lib/src/java/java_generator.dart
  packages/pigeon/lib/src/kotlin/kotlin_generator.dart
  packages/pigeon/lib/src/objc/objc_generator.dart
  packages/pigeon/lib/src/pigeon_lib.dart
  packages/pigeon/lib/src/swift/swift_generator.dart
  packages/pigeon/lib/src/types/task_queue.dart
  packages/pigeon/pigeons/background_platform_channels.dart
  packages/pigeon/pigeons/core_tests.dart
  packages/pigeon/platform_tests/alternate_language_test_plugin/android/src/main/java/com/example/alternate_language_test_plugin/AlternateLanguageTestPlugin.java
  packages/pigeon/platform_tests/alternate_language_test_plugin/android/src/main/java/com/example/alternate_language_test_plugin/CoreTests.java
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/AlternateLanguageTestPlugin.m
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/CoreTests.gen.h
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/CoreTests.gen.m
  packages/pigeon/platform_tests/alternate_language_test_plugin/macos/Classes/AlternateLanguageTestPlugin.m
  packages/pigeon/platform_tests/alternate_language_test_plugin/macos/Classes/CoreTests.gen.h
  packages/pigeon/platform_tests/alternate_language_test_plugin/macos/Classes/CoreTests.gen.m
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/integration_tests.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/core_tests.gen.dart
  packages/pigeon/platform_tests/test_plugin/android/src/main/kotlin/com/example/test_plugin/CoreTests.gen.kt
  packages/pigeon/platform_tests/test_plugin/android/src/main/kotlin/com/example/test_plugin/TestPlugin.kt
  packages/pigeon/platform_tests/test_plugin/ios/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/ios/Classes/TestPlugin.swift
  packages/pigeon/platform_tests/test_plugin/linux/pigeon/core_tests.gen.cc
  packages/pigeon/platform_tests/test_plugin/linux/pigeon/core_tests.gen.h
  packages/pigeon/platform_tests/test_plugin/linux/test_plugin.cc
  packages/pigeon/platform_tests/test_plugin/macos/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/macos/Classes/TestPlugin.swift
  packages/pigeon/platform_tests/test_plugin/windows/pigeon/core_tests.gen.cpp
  packages/pigeon/platform_tests/test_plugin/windows/pigeon/core_tests.gen.h
  packages/pigeon/platform_tests/test_plugin/windows/test_plugin.cpp
  packages/pigeon/platform_tests/test_plugin/windows/test_plugin.h
  packages/pigeon/pubspec.yaml
  packages/pigeon/tool/shared/generation.dart
Labels: p: pigeon, autosubmit, platform-android, platform-ios, platform-linux, platform-macos, platform-windows

#8636 [various] Enable `permissive-` for Windows plugin examples
  packages/camera/camera_windows/CHANGELOG.md
  packages/camera/camera_windows/example/windows/CMakeLists.txt
  packages/camera/camera_windows/pubspec.yaml
  packages/camera/camera_windows/windows/capture_device_info.h
  packages/file_selector/file_selector_windows/CHANGELOG.md
  packages/file_selector/file_selector_windows/example/windows/CMakeLists.txt
  packages/file_selector/file_selector_windows/pubspec.yaml
  packages/file_selector/file_selector_windows/windows/file_selector_plugin.cpp
  packages/local_auth/local_auth_windows/example/windows/CMakeLists.txt
  packages/path_provider/path_provider_windows/example/windows/CMakeLists.txt
  packages/pigeon/platform_tests/test_plugin/example/windows/CMakeLists.txt
  packages/pigeon/platform_tests/test_plugin/windows/test_plugin.cpp
  packages/url_launcher/url_launcher_windows/example/windows/CMakeLists.txt
Labels: p: pigeon, autosubmit, p: camera, p: file_selector, p: local_auth, p: path_provider, platform-windows, p: url_launcher

#8614 Roll Flutter from 892f9c13a2bb to e8f34a9eea90 (71 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#8622 [google_sign_in] Adopt task queues for Android
  packages/google_sign_in/google_sign_in_android/CHANGELOG.md
  packages/google_sign_in/google_sign_in_android/android/build.gradle
  packages/google_sign_in/google_sign_in_android/android/src/main/java/io/flutter/plugins/googlesignin/BackgroundTaskRunner.java
  packages/google_sign_in/google_sign_in_android/android/src/main/java/io/flutter/plugins/googlesignin/Executors.java
  packages/google_sign_in/google_sign_in_android/android/src/main/java/io/flutter/plugins/googlesignin/GoogleSignInPlugin.java
  packages/google_sign_in/google_sign_in_android/android/src/main/java/io/flutter/plugins/googlesignin/Messages.java
  packages/google_sign_in/google_sign_in_android/lib/src/messages.g.dart
  packages/google_sign_in/google_sign_in_android/pigeons/messages.dart
  packages/google_sign_in/google_sign_in_android/pubspec.yaml
Labels: autosubmit, p: google_sign_in, platform-android

#8613 [camera_avfoundation] Migrate tests to Swift - part 2
  packages/camera/camera_avfoundation/CHANGELOG.md
  packages/camera/camera_avfoundation/example/ios/Runner.xcodeproj/project.pbxproj
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraCaptureSessionQueueRaceConditionTests.m
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraCaptureSessionQueueRaceConditionTests.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraExposureTests.m
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraMethodChannelTests.m
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraMethodChannelTests.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraOrientationTests.m
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraOrientationTests.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraSessionPresetsTests.m
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraSessionPresetsTests.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraSettingsTests.m
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraSettingsTests.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/FLTSavePhotoDelegateTests.m
  packages/camera/camera_avfoundation/example/ios/RunnerTests/RunnerTests-Bridging-Header.h
  packages/camera/camera_avfoundation/example/ios/RunnerTests/SavePhotoDelegateTests.swift
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/include/camera_avfoundation/FLTCamMediaSettingsAVWrapper.h
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/include/camera_avfoundation/FLTSavePhotoDelegate_Test.h
  packages/camera/camera_avfoundation/pubspec.yaml
Labels: autosubmit, p: camera, platform-ios, platform-macos

#8656 [pigeon] Fixes potential race condition caused by a ProxyApi constructor message call being made in an async method
  packages/pigeon/CHANGELOG.md
  packages/pigeon/example/app/lib/src/messages.g.dart
  packages/pigeon/lib/src/dart/dart_generator.dart
  packages/pigeon/lib/src/generator_tools.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/background_platform_channels.gen.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/core_tests.gen.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/enum.gen.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/flutter_unittests.gen.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/message.gen.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/multiple_arity.gen.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/non_null_fields.gen.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/null_fields.gen.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/nullable_returns.gen.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/primitive.gen.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/proxy_api_tests.gen.dart
  packages/pigeon/pubspec.yaml
  packages/pigeon/test/dart/proxy_api_test.dart
  packages/pigeon/test/dart_generator_test.dart
Labels: p: pigeon, autosubmit

#8654 [various] Update Pigeon for task queue changes
  packages/image_picker/image_picker_android/CHANGELOG.md
  packages/image_picker/image_picker_android/android/src/main/java/io/flutter/plugins/imagepicker/Messages.java
  packages/image_picker/image_picker_android/lib/src/messages.g.dart
  packages/image_picker/image_picker_android/pubspec.yaml
  packages/image_picker/image_picker_android/test/test_api.g.dart
  packages/shared_preferences/shared_preferences_android/CHANGELOG.md
  packages/shared_preferences/shared_preferences_android/android/src/main/java/io/flutter/plugins/sharedpreferences/Messages.java
  packages/shared_preferences/shared_preferences_android/android/src/main/kotlin/io/flutter/plugins/sharedpreferences/MessagesAsync.g.kt
  packages/shared_preferences/shared_preferences_android/lib/src/messages.g.dart
  packages/shared_preferences/shared_preferences_android/lib/src/messages_async.g.dart
  packages/shared_preferences/shared_preferences_android/pubspec.yaml
Labels: autosubmit, p: image_picker, platform-android, p: shared_preferences

#8596 [google_maps_flutter] Platform interface for camera animation duration
  packages/google_maps_flutter/google_maps_flutter_platform_interface/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/platform_interface/google_maps_flutter_platform.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/platform_interface/google_maps_inspector_platform.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/camera.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_platform_interface/test/platform_interface/google_maps_flutter_platform_test.dart
Labels: autosubmit, p: google_maps_flutter

#8657 [webview_flutter_wkwebview] Updates generated pigeon code to ensure the internal wrapper immediately sends constructor calls
  packages/webview_flutter/webview_flutter_wkwebview/CHANGELOG.md
  packages/webview_flutter/webview_flutter_wkwebview/darwin/webview_flutter_wkwebview/Sources/webview_flutter_wkwebview/WebKitLibrary.g.swift
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/common/web_kit.g.dart
  packages/webview_flutter/webview_flutter_wkwebview/pubspec.yaml
Labels: autosubmit, platform-ios, platform-macos, p: webview_flutter

#8663 Roll Flutter from e8f34a9eea90 to 39b4951f8f0b (95 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#8555 [video_player] Fixes mechanism to detect identifier in multiline WebVTT captions
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/lib/src/web_vtt.dart
  packages/video_player/video_player/pubspec.yaml
  packages/video_player/video_player/test/web_vtt_test.dart
Labels: autosubmit, p: video_player

#8664 Redistribute iOS plugin owners
  CODEOWNERS
Labels: autosubmit

#8687 Manual roll Flutter from 39b4951f8f0b to 911aa7547ed7 (56 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#8715 [ci] Lengthen custom tests timeout
  .ci.yaml
Labels: emergency, autosubmit

#8711 [various] Remove plugin-level `integration_test` dependencies
  packages/camera/camera_android_camerax/pubspec.yaml
  packages/google_sign_in/google_sign_in/pubspec.yaml
  packages/google_sign_in/google_sign_in_android/pubspec.yaml
  packages/google_sign_in/google_sign_in_ios/pubspec.yaml
  packages/in_app_purchase/in_app_purchase/pubspec.yaml
  packages/local_auth/local_auth/pubspec.yaml
  packages/path_provider/path_provider/pubspec.yaml
  packages/path_provider/path_provider_android/pubspec.yaml
  packages/quick_actions/quick_actions/pubspec.yaml
  packages/quick_actions/quick_actions_android/pubspec.yaml
  packages/quick_actions/quick_actions_ios/pubspec.yaml
  packages/shared_preferences/shared_preferences/pubspec.yaml
Labels: autosubmit, override: no versioning needed, override: no changelog needed, p: camera, p: google_sign_in, p: in_app_purchase, p: local_auth, p: path_provider, p: quick_actions, platform-android, platform-ios, p: shared_preferences

#8675 [url_launcher][web] Prevent browser from navigating when followLink isn't called
  packages/url_launcher/url_launcher_web/CHANGELOG.md
  packages/url_launcher/url_launcher_web/example/integration_test/link_widget_test.dart
  packages/url_launcher/url_launcher_web/lib/src/link.dart
  packages/url_launcher/url_launcher_web/pubspec.yaml
Labels: autosubmit, platform-web, p: url_launcher

#8708 [camera] Disable flaky tests
  packages/camera/camera_android_camerax/test/capture_request_options_test.dart
  packages/camera/camera_android_camerax/test/focus_metering_action_test.dart
  packages/camera/camera_android_camerax/test/image_analysis_test.dart
  packages/camera/camera_android_camerax/test/image_capture_test.dart
  packages/camera/camera_android_camerax/test/metering_point_test.dart
  packages/camera/camera_android_camerax/test/preview_test.dart
  packages/camera/camera_android_camerax/test/recorder_test.dart
Labels: autosubmit, p: camera

#8710 [various] Bump androidx.test:core to 1.4.0
  packages/file_selector/file_selector_android/android/build.gradle
  packages/google_maps_flutter/google_maps_flutter/example/android/app/build.gradle
  packages/google_maps_flutter/google_maps_flutter_android/android/build.gradle
  packages/google_maps_flutter/google_maps_flutter_android/example/android/app/build.gradle
  packages/google_sign_in/google_sign_in/example/android/app/build.gradle
  packages/google_sign_in/google_sign_in_android/example/android/app/build.gradle
  packages/image_picker/image_picker/example/android/app/build.gradle
  packages/interactive_media_ads/android/build.gradle
  packages/quick_actions/quick_actions/example/android/app/build.gradle
  packages/quick_actions/quick_actions_android/example/android/app/build.gradle
  packages/url_launcher/url_launcher_android/android/build.gradle
  packages/video_player/video_player_android/android/build.gradle
  packages/webview_flutter/webview_flutter/example/android/app/build.gradle
  packages/webview_flutter/webview_flutter_android/android/build.gradle
Labels: autosubmit, p: file_selector, p: google_maps_flutter, p: google_sign_in, p: image_picker, p: quick_actions, platform-android, p: webview_flutter, p: video_player, p: url_launcher, p: interactive_media_ads

#8557 [go_router] Secured empty matches in canPop
  packages/go_router/CHANGELOG.md
  packages/go_router/lib/src/delegate.dart
  packages/go_router/pubspec.yaml
  packages/go_router/test/delegate_test.dart
Labels: p: go_router, autosubmit

#8629 [camera_android_camerax] Fix 90°-off preview rotation
  packages/camera/camera/test/camera_preview_test.dart
  packages/camera/camera_android_camerax/CHANGELOG.md
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/GeneratedCameraXLibrary.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/PreviewHostApiImpl.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/SystemServicesHostApiImpl.java
  packages/camera/camera_android_camerax/android/src/test/java/io/flutter/plugins/camerax/PreviewTest.java
  packages/camera/camera_android_camerax/android/src/test/java/io/flutter/plugins/camerax/SystemServicesTest.java
  packages/camera/camera_android_camerax/lib/src/android_camera_camerax.dart
  packages/camera/camera_android_camerax/lib/src/camerax_library.g.dart
  packages/camera/camera_android_camerax/lib/src/camerax_proxy.dart
  packages/camera/camera_android_camerax/lib/src/preview.dart
  packages/camera/camera_android_camerax/lib/src/rotated_preview.dart
  packages/camera/camera_android_camerax/lib/src/system_services.dart
  packages/camera/camera_android_camerax/pigeons/camerax_library.dart
  packages/camera/camera_android_camerax/pubspec.yaml
  packages/camera/camera_android_camerax/test/android_camera_camerax_test.dart
  packages/camera/camera_android_camerax/test/android_camera_camerax_test.mocks.dart
  packages/camera/camera_android_camerax/test/preview_rotation_test.dart
  packages/camera/camera_android_camerax/test/preview_test.dart
  packages/camera/camera_android_camerax/test/preview_test.mocks.dart
  packages/camera/camera_android_camerax/test/system_services_test.dart
  packages/camera/camera_android_camerax/test/system_services_test.mocks.dart
  packages/camera/camera_android_camerax/test/test_camerax_library.g.dart
Labels: autosubmit, p: camera, platform-android

#8716 [pigeon] Timestamp test steps in CI
  packages/pigeon/tool/shared/test_runner.dart
Labels: p: pigeon, autosubmit, override: no versioning needed, override: no changelog needed

#8405 [go_router_builder]: Handle invaild params
  packages/go_router_builder/CHANGELOG.md
  packages/go_router_builder/example/lib/all_types.g.dart
  packages/go_router_builder/example/lib/main.g.dart
  packages/go_router_builder/example/lib/readme_excerpts.g.dart
  packages/go_router_builder/example/lib/shell_route_with_keys_example.g.dart
  packages/go_router_builder/example/lib/shell_route_with_observers_example.g.dart
  packages/go_router_builder/example/lib/simple_example.dart
  packages/go_router_builder/example/lib/stateful_shell_route_initial_location_example.g.dart
  packages/go_router_builder/example/test/all_types_test.dart
  packages/go_router_builder/lib/src/route_config.dart
  packages/go_router_builder/lib/src/type_helpers.dart
  packages/go_router_builder/pubspec.yaml
  packages/go_router_builder/test_inputs/default_value.dart.expect
  packages/go_router_builder/test_inputs/enum_parameter.dart.expect
  packages/go_router_builder/test_inputs/extra_value.dart.expect
  packages/go_router_builder/test_inputs/iterable_with_default_value.dart.expect
  packages/go_router_builder/test_inputs/iterable_with_enum.dart.expect
  packages/go_router_builder/test_inputs/list.dart.expect
  packages/go_router_builder/test_inputs/required_parameters_not_in_path_can_be_null.dart.expect
  packages/go_router_builder/test_inputs/required_query_parameter.dart.expect
  packages/go_router_builder/test_inputs/set.dart.expect
  packages/go_router_builder/test_inputs/shell_route_data.dart.expect
Labels: p: go_router_builder, autosubmit

#8695 [local_auth] Update to use flutter.targetSdkVersion
  packages/local_auth/local_auth/example/android/app/build.gradle
Labels: autosubmit, p: local_auth, platform-android

#8712 Dependabot to update major and minor versions of test dependencies, ignore patch
  .github/dependabot.yml
Labels: autosubmit

#8693 Manual roll Flutter from 911aa7547ed7 to 043b71954ce7
  .ci/flutter_master.version
  packages/flutter_plugin_android_lifecycle/example/android/app/src/main/java/io/flutter/plugins/flutter_plugin_android_lifecycle_example/MainActivity.java
  script/tool/lib/src/firebase_test_lab_command.dart
  script/tool/test/firebase_test_lab_command_test.dart
Labels: autosubmit, override: no changelog needed, p: flutter_plugin_android_lifecycle, platform-android

#8728 Manual roll Flutter from 043b71954ce7 to 16592066d70b (19 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#8731 Roll Flutter from 16592066d70b to 2e570ca393c8 (75 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#8707 [webview_flutter_wkwebview] Fixes crash where the native `AuthenticationChallengeResponse` could not be found for auth requests
  packages/webview_flutter/webview_flutter_wkwebview/CHANGELOG.md
  packages/webview_flutter/webview_flutter_wkwebview/darwin/Tests/NavigationDelegateProxyAPITests.swift
  packages/webview_flutter/webview_flutter_wkwebview/darwin/webview_flutter_wkwebview/Sources/webview_flutter_wkwebview/NavigationDelegateProxyAPIDelegate.swift
  packages/webview_flutter/webview_flutter_wkwebview/darwin/webview_flutter_wkwebview/Sources/webview_flutter_wkwebview/WebKitLibrary.g.swift
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/common/web_kit.g.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/legacy/web_kit_webview_widget.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/webkit_proxy.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/webkit_webview_controller.dart
  packages/webview_flutter/webview_flutter_wkwebview/pigeons/web_kit.dart
  packages/webview_flutter/webview_flutter_wkwebview/pubspec.yaml
  packages/webview_flutter/webview_flutter_wkwebview/test/legacy/web_kit_webview_widget_test.mocks.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/webkit_navigation_delegate_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/webkit_webview_controller_test.dart
Labels: autosubmit, platform-ios, platform-macos, p: webview_flutter

#8700 [flutter_plugin_android_lifecycle] use flutter.compileSdkVersion to see what breaks
  packages/flutter_plugin_android_lifecycle/CHANGELOG.md
  packages/flutter_plugin_android_lifecycle/android/build.gradle
  packages/flutter_plugin_android_lifecycle/pubspec.yaml
Labels: autosubmit, p: flutter_plugin_android_lifecycle, platform-android

#8697 Do not update patch versions for `dependabot/github-actions`.
  .github/dependabot.yml
Labels: autosubmit

#8661 [camera_avfoundation] Migrate tests to Swift - part 3
  packages/camera/camera_avfoundation/example/ios/Runner.xcodeproj/project.pbxproj
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraTestUtils.h
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraTestUtils.m
  packages/camera/camera_avfoundation/example/ios/RunnerTests/FLTCamPhotoCaptureTests.m
  packages/camera/camera_avfoundation/example/ios/RunnerTests/FLTCamSampleBufferTests.m
  packages/camera/camera_avfoundation/example/ios/RunnerTests/Mocks/MockCapturePhotoOutput.h
  packages/camera/camera_avfoundation/example/ios/RunnerTests/Mocks/MockEventChannel.h
  packages/camera/camera_avfoundation/example/ios/RunnerTests/Mocks/MockEventChannel.m
  packages/camera/camera_avfoundation/example/ios/RunnerTests/Mocks/MockEventChannel.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/Mocks/MockWritableData.h
  packages/camera/camera_avfoundation/example/ios/RunnerTests/Mocks/MockWritableData.m
  packages/camera/camera_avfoundation/example/ios/RunnerTests/Mocks/MockWritableData.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/PhotoCaptureTests.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/RunnerTests-Bridging-Header.h
  packages/camera/camera_avfoundation/example/ios/RunnerTests/SampleBufferTests.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/SavePhotoDelegateTests.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/StreamingTest.m
  packages/camera/camera_avfoundation/example/ios/RunnerTests/StreamingTests.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/ThreadSafeEventChannelTests.m
  packages/camera/camera_avfoundation/example/ios/RunnerTests/ThreadSafeEventChannelTests.swift
Labels: autosubmit, p: camera, platform-ios, platform-macos

#8758 [flutter_plugin_android_lifecycle] Removes flutter.compileSdkVersion for 35 to support flutter versions prior to 3.27
  packages/flutter_plugin_android_lifecycle/CHANGELOG.md
  packages/flutter_plugin_android_lifecycle/android/build.gradle
  packages/flutter_plugin_android_lifecycle/pubspec.yaml
Labels: autosubmit, p: flutter_plugin_android_lifecycle, platform-android

#8757 [video_player] Disable flaky `testAudioOnlyHLSControls`
  packages/video_player/video_player_avfoundation/darwin/RunnerTests/VideoPlayerTests.m
Labels: autosubmit, platform-ios, platform-macos, p: video_player

#8761 [tool] Validate gradle compileSdk
  script/tool/lib/src/gradle_check_command.dart
  script/tool/test/gradle_check_command_test.dart
Labels: autosubmit
