Repository flutter/packages, pull requests merged in 2025-06, with the labels that each got.

#8474 [in_app_purchase_storekit] Add support to win back offers / promotional offers
  packages/in_app_purchase/in_app_purchase_storekit/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_storekit/darwin/in_app_purchase_storekit/Sources/in_app_purchase_storekit/StoreKit2/InAppPurchasePlugin+StoreKit2.swift
  packages/in_app_purchase/in_app_purchase_storekit/darwin/in_app_purchase_storekit/Sources/in_app_purchase_storekit/StoreKit2/StoreKit2Translators.swift
  packages/in_app_purchase/in_app_purchase_storekit/darwin/in_app_purchase_storekit/Sources/in_app_purchase_storekit/StoreKit2/sk2_pigeon.g.swift
  packages/in_app_purchase/in_app_purchase_storekit/example/ios/Runner.xcodeproj/project.pbxproj
  packages/in_app_purchase/in_app_purchase_storekit/example/ios/Runner/Configuration.storekit
  packages/in_app_purchase/in_app_purchase_storekit/example/lib/main.dart
  packages/in_app_purchase/in_app_purchase_storekit/example/shared/RunnerTests/InAppPurchaseStoreKit2PluginTests.swift
  packages/in_app_purchase/in_app_purchase_storekit/example/shared/RunnerTests/StoreKit2TranslatorTests.swift
  packages/in_app_purchase/in_app_purchase_storekit/lib/src/in_app_purchase_storekit_platform.dart
  packages/in_app_purchase/in_app_purchase_storekit/lib/src/sk2_pigeon.g.dart
  packages/in_app_purchase/in_app_purchase_storekit/lib/src/store_kit_2_wrappers/sk2_product_wrapper.dart
  packages/in_app_purchase/in_app_purchase_storekit/lib/src/types/sk2_promotional_offer.dart
  packages/in_app_purchase/in_app_purchase_storekit/lib/src/types/sk2_purchase_param.dart
  packages/in_app_purchase/in_app_purchase_storekit/lib/src/types/types.dart
  packages/in_app_purchase/in_app_purchase_storekit/pigeons/sk2_pigeon.dart
  packages/in_app_purchase/in_app_purchase_storekit/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_storekit/test/fakes/fake_storekit_platform.dart
  packages/in_app_purchase/in_app_purchase_storekit/test/in_app_purchase_storekit_2_platform_test.dart
  packages/in_app_purchase/in_app_purchase_storekit/test/sk2_test_api.g.dart
Labels: autosubmit, p: in_app_purchase, platform-ios, platform-macos, triage-ios

#9362 [pointer_interceptor_web] Fix unresponsive input above PointerInterceptor on Safari and Firefox.
  packages/pointer_interceptor/pointer_interceptor_web/CHANGELOG.md
  packages/pointer_interceptor/pointer_interceptor_web/example/integration_test/widget_test.dart
  packages/pointer_interceptor/pointer_interceptor_web/lib/pointer_interceptor_web.dart
  packages/pointer_interceptor/pointer_interceptor_web/pubspec.yaml
Labels: p: pointer_interceptor, autosubmit, platform-web

#9293 Bump create_all_packages_command CompileSdk to 36
  script/tool/lib/src/create_all_packages_app_command.dart
  script/tool/test/create_all_packages_app_command_test.dart
Labels: autosubmit

#9372 [google_maps_flutter_platform_interface] Add a new zIndexInt param to marker and deprecate zIndex
  packages/google_maps_flutter/google_maps_flutter_platform_interface/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/marker.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_platform_interface/test/types/marker_test.dart
Labels: autosubmit, p: google_maps_flutter

#9387 Roll Flutter master to 8b18dde7
  .ci/flutter_master.version
Labels: autosubmit

#9394 [multi] Remove @tool from docs that does not work
  packages/go_router/CHANGELOG.md
  packages/go_router/lib/src/route.dart
  packages/go_router/pubspec.yaml
  packages/two_dimensional_scrollables/CHANGELOG.md
  packages/two_dimensional_scrollables/lib/src/common/span.dart
  packages/two_dimensional_scrollables/pubspec.yaml
  packages/webview_flutter/webview_flutter_platform_interface/CHANGELOG.md
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/types/javascript_message.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/types/load_request_params.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/types/platform_navigation_delegate_creation_params.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/types/platform_webview_controller_creation_params.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/types/platform_webview_cookie_manager_creation_params.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/types/platform_webview_widget_creation_params.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/types/web_resource_error.dart
  packages/webview_flutter/webview_flutter_platform_interface/pubspec.yaml
Labels: p: go_router, autosubmit, p: webview_flutter

#9396 Fix the `zIndex`-related issue in the `copyWith` method.
  packages/google_maps_flutter/google_maps_flutter_platform_interface/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/marker.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_platform_interface/test/types/marker_test.dart
Labels: autosubmit, p: google_maps_flutter

#9379 Roll Flutter master to d8baa77b3
  .ci/flutter_master.version
  packages/quick_actions/quick_actions_android/example/android/app/src/androidTest/java/io/flutter/plugins/quickactionsexample/QuickActionsTest.java
Labels: autosubmit, p: quick_actions, platform-android

#9211 [vector_graphics]Add Null Check for Image Retrieval in listener.dart's onDrawImage Function
  packages/vector_graphics/CHANGELOG.md
  packages/vector_graphics/lib/src/listener.dart
  packages/vector_graphics/pubspec.yaml
  packages/vector_graphics/test/listener_test.dart
Labels: autosubmit, p: vector_graphics

#9415 [google_maps_flutter] Fix iOS analysis for newer Xcode
  packages/google_maps_flutter/google_maps_flutter_ios/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_ios/ios/Classes/FGMImageUtils.h
  packages/google_maps_flutter/google_maps_flutter_ios/ios/Classes/FGMImageUtils.m
  packages/google_maps_flutter/google_maps_flutter_ios/ios/Classes/GoogleMapController.m
  packages/google_maps_flutter/google_maps_flutter_ios/pubspec.yaml
Labels: autosubmit, p: google_maps_flutter, platform-ios

#9233 [android_camera_camerax] Fix incorrect camera mirroring for front cameras on devices using `ImageReader` Impeller backend
  packages/camera/camera_android_camerax/CHANGELOG.md
  packages/camera/camera_android_camerax/lib/src/image_reader_rotated_preview.dart
  packages/camera/camera_android_camerax/pubspec.yaml
  packages/camera/camera_android_camerax/test/preview_rotation_test.dart
Labels: autosubmit, p: camera

#9277 [go_router] Add routing functions to GoRouteData
  packages/go_router/CHANGELOG.md
  packages/go_router/lib/src/route_data.dart
  packages/go_router/pubspec.yaml
  packages/go_router/test/route_data_test.dart
Labels: p: go_router, autosubmit

#9421 metrics_center: bump outdated deps, prepare for release
  packages/metrics_center/CHANGELOG.md
  packages/metrics_center/pubspec.yaml
  packages/metrics_center/test/gcs_lock_test.mocks.dart
  packages/metrics_center/test/skiaperf_test.mocks.dart
Labels: p: metrics_center, autosubmit

#9433 Roll Flutter from f79452e3f4ea to 8303a96a0a99 (21 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#9408 [google_maps_flutter_platform_(web/android/ios)] Add a new zIndexInt param to marker and deprecate zIndex
  packages/google_maps_flutter/google_maps_flutter_android/example/integration_test/google_maps_tests.dart
  packages/google_maps_flutter/google_maps_flutter_ios/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios14/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios15/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_ios/example/shared/maps_example_dart/lib/place_marker.dart
  packages/google_maps_flutter/google_maps_flutter_ios/example/shared/maps_example_dart/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_ios/ios/Classes/GoogleMapMarkerController.m
  packages/google_maps_flutter/google_maps_flutter_ios/ios/Classes/messages.g.h
  packages/google_maps_flutter/google_maps_flutter_ios/ios/Classes/messages.g.m
  packages/google_maps_flutter/google_maps_flutter_ios/lib/src/google_maps_flutter_ios.dart
  packages/google_maps_flutter/google_maps_flutter_ios/lib/src/messages.g.dart
  packages/google_maps_flutter/google_maps_flutter_ios/pigeons/messages.dart
  packages/google_maps_flutter/google_maps_flutter_ios/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_web/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_web/example/integration_test/markers_test.dart
  packages/google_maps_flutter/google_maps_flutter_web/example/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/convert.dart
  packages/google_maps_flutter/google_maps_flutter_web/pubspec.yaml
Labels: autosubmit, p: google_maps_flutter, platform-android, platform-ios, platform-web

#9306 [pigeon] Use a const for custom type ids for gobject generated files (#156100)
  packages/pigeon/CHANGELOG.md
  packages/pigeon/CONTRIBUTING.md
  packages/pigeon/example/app/linux/messages.g.cc
  packages/pigeon/example/app/linux/messages.g.h
  packages/pigeon/lib/src/generator_tools.dart
  packages/pigeon/lib/src/gobject/gobject_generator.dart
  packages/pigeon/platform_tests/test_plugin/linux/pigeon/core_tests.gen.cc
  packages/pigeon/platform_tests/test_plugin/linux/pigeon/core_tests.gen.h
  packages/pigeon/pubspec.yaml
  packages/pigeon/test/gobject_generator_test.dart
Labels: p: pigeon, autosubmit, platform-linux

#8012 [google_maps_flutter] Add a new zIndexInt param to marker and deprecate zIndex
  packages/google_maps_flutter/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter/example/integration_test/src/maps_inspector.dart
  packages/google_maps_flutter/google_maps_flutter/example/lib/place_marker.dart
  packages/google_maps_flutter/google_maps_flutter/example/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter/pubspec.yaml
Labels: autosubmit, p: google_maps_flutter

#9063 [rfw] Update tests to no longer depend on a `Container` pumped via `testWidgets`.
  packages/rfw/test/runtime_test.dart
Labels: p: rfw, autosubmit

#8352 [go_router] fix Popping state and re-rendering scaffold at the same time doesn't update the URL on web [new]
  packages/go_router/CHANGELOG.md
  packages/go_router/lib/src/router.dart
  packages/go_router/pubspec.yaml
  packages/go_router/test/delegate_test.dart
Labels: p: go_router, autosubmit

#9434 [go_router] Use library prefix for meta
  packages/go_router/lib/src/match.dart
  packages/go_router/lib/src/route.dart
Labels: p: go_router, autosubmit, override: no versioning needed, override: no changelog needed

#9395 [pigeon] Create a message call free InstanceManager when running unit tests
  packages/pigeon/CHANGELOG.md
  packages/pigeon/lib/src/dart/dart_generator.dart
  packages/pigeon/lib/src/dart/templates.dart
  packages/pigeon/lib/src/generator_tools.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/proxy_api_tests.gen.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/test/instance_manager_test.dart
  packages/pigeon/pubspec.yaml
Labels: p: pigeon, autosubmit

#9245 [go_router] fix: PopScope.onPopInvokedWithResult not called in branch routes
  packages/go_router/CHANGELOG.md
  packages/go_router/lib/src/delegate.dart
  packages/go_router/pubspec.yaml
  packages/go_router/test/delegate_test.dart
Labels: p: go_router, autosubmit

#9397 [camera_avfoundation] Implementation swift migration - part 5
  packages/camera/camera_avfoundation/CHANGELOG.md
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/Camera.swift
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/DefaultCamera.swift
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation_objc/FLTCam.m
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation_objc/include/camera_avfoundation/FLTCam.h
  packages/camera/camera_avfoundation/pubspec.yaml
Labels: autosubmit, p: camera, platform-ios, platform-macos

#9466 Roll Flutter from 85a9b4f38906 to c7362b475576 (14 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#9463 [video_player] Update tests for deprecatitons
  packages/video_player/video_player_web/example/integration_test/video_player_web_test.dart
Labels: autosubmit, platform-web, p: video_player

#9472 Roll Flutter from c7362b475576 to 0ab008a17228 (18 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#9454 [google_sign_in] Redesign API for current identity SDKs - Platform Interface
  packages/google_sign_in/google_sign_in_platform_interface/CHANGELOG.md
  packages/google_sign_in/google_sign_in_platform_interface/lib/google_sign_in_platform_interface.dart
  packages/google_sign_in/google_sign_in_platform_interface/lib/src/method_channel_google_sign_in.dart
  packages/google_sign_in/google_sign_in_platform_interface/lib/src/types.dart
  packages/google_sign_in/google_sign_in_platform_interface/lib/src/utils.dart
  packages/google_sign_in/google_sign_in_platform_interface/pubspec.yaml
  packages/google_sign_in/google_sign_in_platform_interface/test/google_sign_in_platform_interface_test.dart
  packages/google_sign_in/google_sign_in_platform_interface/test/method_channel_google_sign_in_test.dart
  script/configs/exclude_all_packages_app.yaml
Labels: autosubmit, override: allow breaking change, p: google_sign_in, federated: partial_changes

#9444 [go_router_builder] Skip case sensitive test
  packages/go_router_builder/example/test/case_sensitivity_example_test.dart
Labels: p: go_router_builder, autosubmit, override: no versioning needed, override: no changelog needed

#9479 [google_sign_in] Redesign API for current identity SDKs - Platform Implementations
  packages/google_sign_in/google_sign_in_android/CHANGELOG.md
  packages/google_sign_in/google_sign_in_android/README.md
  packages/google_sign_in/google_sign_in_android/android/build.gradle
  packages/google_sign_in/google_sign_in_android/android/src/main/java/io/flutter/plugins/googlesignin/GoogleSignInPlugin.java
  packages/google_sign_in/google_sign_in_android/android/src/main/java/io/flutter/plugins/googlesignin/GoogleSignInWrapper.java
  packages/google_sign_in/google_sign_in_android/android/src/main/java/io/flutter/plugins/googlesignin/Messages.java
  packages/google_sign_in/google_sign_in_android/android/src/main/kotlin/io/flutter/plugins/googlesignin/Messages.kt
  packages/google_sign_in/google_sign_in_android/android/src/main/kotlin/io/flutter/plugins/googlesignin/ResultUtils.kt
  packages/google_sign_in/google_sign_in_android/android/src/test/java/io/flutter/plugins/googlesignin/GoogleSignInTest.java
  packages/google_sign_in/google_sign_in_android/android/src/test/java/io/flutter/plugins/googlesignin/TestResultUtils.kt
  packages/google_sign_in/google_sign_in_android/example/android/app/build.gradle
  packages/google_sign_in/google_sign_in_android/example/android/build.gradle
  packages/google_sign_in/google_sign_in_android/example/integration_test/google_sign_in_test.dart
  packages/google_sign_in/google_sign_in_android/example/lib/main.dart
  packages/google_sign_in/google_sign_in_android/example/pubspec.yaml
  packages/google_sign_in/google_sign_in_android/lib/google_sign_in_android.dart
  packages/google_sign_in/google_sign_in_android/lib/src/messages.g.dart
  packages/google_sign_in/google_sign_in_android/pigeons/messages.dart
  packages/google_sign_in/google_sign_in_android/pubspec.yaml
  packages/google_sign_in/google_sign_in_android/test/google_sign_in_android_test.dart
  packages/google_sign_in/google_sign_in_android/test/google_sign_in_android_test.mocks.dart
  packages/google_sign_in/google_sign_in_ios/CHANGELOG.md
  packages/google_sign_in/google_sign_in_ios/README.md
  packages/google_sign_in/google_sign_in_ios/darwin/Tests/GoogleSignInTests.m
  packages/google_sign_in/google_sign_in_ios/darwin/google_sign_in_ios/Sources/google_sign_in_ios/FLTGoogleSignInPlugin.m
  packages/google_sign_in/google_sign_in_ios/darwin/google_sign_in_ios/Sources/google_sign_in_ios/include/google_sign_in_ios/FLTGoogleSignInPlugin_Test.h
  packages/google_sign_in/google_sign_in_ios/darwin/google_sign_in_ios/Sources/google_sign_in_ios/include/google_sign_in_ios/messages.g.h
  packages/google_sign_in/google_sign_in_ios/darwin/google_sign_in_ios/Sources/google_sign_in_ios/messages.g.m
  packages/google_sign_in/google_sign_in_ios/example/integration_test/google_sign_in_test.dart
  packages/google_sign_in/google_sign_in_ios/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/google_sign_in/google_sign_in_ios/example/lib/main.dart
  packages/google_sign_in/google_sign_in_ios/example/pubspec.yaml
  packages/google_sign_in/google_sign_in_ios/lib/google_sign_in_ios.dart
  packages/google_sign_in/google_sign_in_ios/lib/src/messages.g.dart
  packages/google_sign_in/google_sign_in_ios/pigeons/messages.dart
  packages/google_sign_in/google_sign_in_ios/pubspec.yaml
  packages/google_sign_in/google_sign_in_ios/test/google_sign_in_ios_test.dart
  packages/google_sign_in/google_sign_in_ios/test/google_sign_in_ios_test.mocks.dart
  packages/google_sign_in/google_sign_in_web/CHANGELOG.md
  packages/google_sign_in/google_sign_in_web/README.md
  packages/google_sign_in/google_sign_in_web/example/integration_test/google_sign_in_web_test.dart
  packages/google_sign_in/google_sign_in_web/example/integration_test/google_sign_in_web_test.mocks.dart
  packages/google_sign_in/google_sign_in_web/example/integration_test/people_test.dart
  packages/google_sign_in/google_sign_in_web/example/integration_test/src/person.dart
  packages/google_sign_in/google_sign_in_web/example/integration_test/utils_test.dart
  packages/google_sign_in/google_sign_in_web/example/integration_test/web_only_test.dart
  packages/google_sign_in/google_sign_in_web/example/integration_test/web_only_test.mocks.dart
  packages/google_sign_in/google_sign_in_web/example/lib/button_tester.dart
  packages/google_sign_in/google_sign_in_web/example/pubspec.yaml
  packages/google_sign_in/google_sign_in_web/lib/google_sign_in_web.dart
  packages/google_sign_in/google_sign_in_web/lib/src/gis_client.dart
  packages/google_sign_in/google_sign_in_web/lib/src/people.dart
  packages/google_sign_in/google_sign_in_web/lib/src/utils.dart
  packages/google_sign_in/google_sign_in_web/lib/web_only.dart
  packages/google_sign_in/google_sign_in_web/pubspec.yaml
  script/configs/exclude_all_packages_app.yaml
Labels: autosubmit, p: google_sign_in, platform-android, platform-ios, platform-macos, platform-web, federated: partial_changes

#9267 [google_sign_in] Redesign API for current identity SDKs
  packages/google_sign_in/google_sign_in/CHANGELOG.md
  packages/google_sign_in/google_sign_in/MIGRATION.md
  packages/google_sign_in/google_sign_in/README.md
  packages/google_sign_in/google_sign_in/example/integration_test/google_sign_in_test.dart
  packages/google_sign_in/google_sign_in/example/lib/main.dart
  packages/google_sign_in/google_sign_in/example/lib/src/sign_in_button/mobile.dart
  packages/google_sign_in/google_sign_in/example/lib/src/sign_in_button/stub.dart
  packages/google_sign_in/google_sign_in/example/lib/src/web_wrapper.dart
  packages/google_sign_in/google_sign_in/example/lib/src/web_wrapper_stub.dart
  packages/google_sign_in/google_sign_in/example/lib/src/web_wrapper_web.dart
  packages/google_sign_in/google_sign_in/example/pubspec.yaml
  packages/google_sign_in/google_sign_in/lib/google_sign_in.dart
  packages/google_sign_in/google_sign_in/lib/src/event_types.dart
  packages/google_sign_in/google_sign_in/lib/src/identity_types.dart
  packages/google_sign_in/google_sign_in/lib/src/token_types.dart
  packages/google_sign_in/google_sign_in/lib/widgets.dart
  packages/google_sign_in/google_sign_in/pubspec.yaml
  packages/google_sign_in/google_sign_in/test/google_sign_in_test.dart
  packages/google_sign_in/google_sign_in/test/google_sign_in_test.mocks.dart
  packages/google_sign_in/google_sign_in/test/widgets_test.dart
  script/configs/exclude_all_packages_app.yaml
Labels: autosubmit, override: allow breaking change, p: google_sign_in, federated: all_changes, triage-ios

#9153 [google_maps_flutter_web] Fix no effect behavior of cameraTargetBounds option on web
  packages/google_maps_flutter/google_maps_flutter_web/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_web/example/integration_test/google_maps_controller_test.dart
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/convert.dart
  packages/google_maps_flutter/google_maps_flutter_web/pubspec.yaml
Labels: autosubmit, p: google_maps_flutter, platform-web, triage-web

#9360 [camera_android_camerax] Force new `Surface` for each `SurfaceRequest`
  packages/camera/camera_android_camerax/CHANGELOG.md
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/PreviewProxyApi.java
  packages/camera/camera_android_camerax/android/src/test/java/io/flutter/plugins/camerax/PreviewTest.java
  packages/camera/camera_android_camerax/pubspec.yaml
Labels: autosubmit, p: camera, platform-android

#9500 Revert "[camera_android_camerax] Force new `Surface` for each `SurfaceRequest`"
  packages/camera/camera_android_camerax/CHANGELOG.md
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/PreviewProxyApi.java
  packages/camera/camera_android_camerax/android/src/test/java/io/flutter/plugins/camerax/PreviewTest.java
  packages/camera/camera_android_camerax/pubspec.yaml
Labels: emergency, autosubmit, p: camera, platform-android

#9495 Roll Flutter from d733bea58c1a to 2773c0c8e15e (42 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#9489 [google_sign_in] Add contributor setup instructions
  packages/google_sign_in/google_sign_in/CHANGELOG.md
  packages/google_sign_in/google_sign_in/CONTRIBUTING.md
Labels: autosubmit, p: google_sign_in

#9516 Skip test to unblock packages
  packages/google_maps_flutter/google_maps_flutter_android/example/integration_test/legacy_renderer_test.dart
Labels: emergency, autosubmit, p: google_maps_flutter, platform-android

#9502 Roll Flutter (stable) from 6fba2447e95c to fcf2c11572af (6 revisions)
  .ci/flutter_stable.version
Labels: autosubmit

#8979 [video_player] Add poster attribute for html video tag in video_player_platform_interface
  packages/video_player/video_player_platform_interface/CHANGELOG.md
  packages/video_player/video_player_platform_interface/lib/video_player_platform_interface.dart
  packages/video_player/video_player_platform_interface/pubspec.yaml
  packages/video_player/video_player_platform_interface/test/video_player_web_options_test.dart
Labels: autosubmit, p: video_player

#9473 [in_app_purchase] Annotate deprecation in test
  packages/in_app_purchase/in_app_purchase_android/example/integration_test/in_app_purchase_test.dart
Labels: autosubmit, p: in_app_purchase, platform-android

#9498 [camera_android_camerax] Fix incorrectly rotated captured photos
  packages/camera/camera_android_camerax/CHANGELOG.md
  packages/camera/camera_android_camerax/lib/src/android_camera_camerax.dart
  packages/camera/camera_android_camerax/pubspec.yaml
  packages/camera/camera_android_camerax/test/android_camera_camerax_test.dart
Labels: autosubmit, p: camera
