Repository flutter/packages, pull requests merged in 2025-05, with the labels that each got.

#9007 [camera_avfoundation] Implementation swift migration - part 2
  packages/camera/camera_avfoundation/CHANGELOG.md
  packages/camera/camera_avfoundation/example/ios/Runner.xcodeproj/project.pbxproj
  packages/camera/camera_avfoundation/example/ios/RunnerTests/AvailableCamerasTests.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraCaptureSessionQueueRaceConditionTests.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraMethodChannelTests.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraOrientationTests.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraPluginCreateCameraTests.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraPluginDelegatingMethodTests.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraPluginInitializeCameraTests.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraSessionPresetsTests.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraSettingsTests.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraTestUtils.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/FLTCamExposureTests.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/FLTCamFocusTests.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/FLTCamSetFlashModeTests.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/FLTCamZoomTests.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/PhotoCaptureTests.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/QueueTestUtils.h
  packages/camera/camera_avfoundation/example/ios/RunnerTests/QueueTestUtils.m
  packages/camera/camera_avfoundation/example/ios/RunnerTests/RunnerTests-Bridging-Header.h
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/CameraPlugin.swift
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/Placeholder.swift
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation_objc/CameraPlugin.m
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation_objc/FLTCam.m
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation_objc/FLTCamConfiguration.m
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation_objc/QueueUtils.m
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation_objc/include/camera_avfoundation/CameraPlugin_Test.h
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation_objc/include/camera_avfoundation/FLTCamConfiguration.h
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation_objc/include/camera_avfoundation/QueueUtils.h
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation_objc/include/camera_avfoundation/camera_avfoundation.h
  packages/camera/camera_avfoundation/pubspec.yaml
Labels: autosubmit, p: camera, platform-ios, platform-macos

#9134 [go_router_builder] Add support for caseSensitive
  packages/go_router_builder/CHANGELOG.md
  packages/go_router_builder/example/lib/case_sensitive_example.dart
  packages/go_router_builder/example/lib/case_sensitive_example.g.dart
  packages/go_router_builder/example/pubspec.yaml
  packages/go_router_builder/example/test/case_sensitivity_example_test.dart
  packages/go_router_builder/lib/src/route_config.dart
  packages/go_router_builder/pubspec.yaml
  packages/go_router_builder/test_inputs/case_sensitivity.dart
  packages/go_router_builder/test_inputs/case_sensitivity.dart.expect
Labels: p: go_router_builder, autosubmit

#9203 [various] Update READMEs of discontinued packages
  packages/css_colors/CHANGELOG.md
  packages/css_colors/README.md
  packages/css_colors/pubspec.yaml
  packages/flutter_adaptive_scaffold/CHANGELOG.md
  packages/flutter_adaptive_scaffold/README.md
  packages/flutter_adaptive_scaffold/pubspec.yaml
  packages/flutter_image/CHANGELOG.md
  packages/flutter_image/README.md
  packages/flutter_image/pubspec.yaml
  packages/flutter_markdown/CHANGELOG.md
  packages/flutter_markdown/README.md
  packages/flutter_markdown/pubspec.yaml
  packages/ios_platform_images/CHANGELOG.md
  packages/ios_platform_images/README.md
  packages/ios_platform_images/pubspec.yaml
  packages/palette_generator/CHANGELOG.md
  packages/palette_generator/README.md
  packages/palette_generator/pubspec.yaml
Labels: p: palette_generator, p: css_colors, p: flutter_markdown, p: flutter_image, autosubmit, p: flutter_adaptive_scaffold, p: ios_platform_images

#9182 [camera_avfoundation] Implementation swift migration - part 3
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraOrientationTests.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraPluginInitializeCameraTests.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraPreviewPauseTests.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraSessionPresetsTests.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraSettingsTests.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraTestUtils.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/FLTCamExposureTests.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/FLTCamFocusTests.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/FLTCamSetDeviceOrientationTests.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/FLTCamSetFlashModeTests.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/FLTCamZoomTests.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/PhotoCaptureTests.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/StreamingTests.swift
Labels: autosubmit, p: camera, platform-ios, platform-macos

#8894 [camera_android] Wait for creating capture session when initializing
  packages/camera/camera_android/CHANGELOG.md
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/Camera.java
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/CameraApiImpl.java
  packages/camera/camera_android/android/src/test/java/io/flutter/plugins/camera/CameraTest.java
  packages/camera/camera_android/pubspec.yaml
Labels: autosubmit, p: camera, platform-android

#9176 [interactive_media_ads] Fixes support for ad tag URLs that do not contain a query
  packages/interactive_media_ads/CHANGELOG.md
  packages/interactive_media_ads/android/src/main/kotlin/dev/flutter/packages/interactive_media_ads/AdsRequestProxyApi.kt
  packages/interactive_media_ads/android/src/test/kotlin/dev/flutter/packages/interactive_media_ads/AdsRequestProxyApiTest.kt
  packages/interactive_media_ads/example/ios/RunnerTests/AdsRequestTests.swift
  packages/interactive_media_ads/ios/interactive_media_ads/Sources/interactive_media_ads/AdsRequestProxyAPIDelegate.swift
  packages/interactive_media_ads/pubspec.yaml
Labels: autosubmit, platform-android, platform-ios, p: interactive_media_ads

#9223 Roll Flutter from cfb887cd5f41 to b0f5c8ce03e2 (281 revisions)
  .ci/flutter_master.version
  packages/in_app_purchase/in_app_purchase_android/android/src/test/java/io/flutter/plugins/inapppurchase/TranslatorTest.java
Labels: autosubmit, p: in_app_purchase, platform-android

#8972 [google_maps_flutter] Fix for memory leak impacting all platforms due to subscriptions not getting cleaned up
  packages/google_maps_flutter/google_maps_flutter/AUTHORS
  packages/google_maps_flutter/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter/lib/src/controller.dart
  packages/google_maps_flutter/google_maps_flutter/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter/test/controller_test.dart
Labels: autosubmit, p: google_maps_flutter

#9097 [camera_android_camerax] Fix camera preview rotation for landscape oriented devices
  packages/camera/camera_android_camerax/CHANGELOG.md
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/DeviceOrientationManager.java
  packages/camera/camera_android_camerax/lib/src/android_camera_camerax.dart
  packages/camera/camera_android_camerax/lib/src/image_reader_rotated_preview.dart
  packages/camera/camera_android_camerax/lib/src/rotated_preview_delegate.dart
  packages/camera/camera_android_camerax/lib/src/rotated_preview_utils.dart
  packages/camera/camera_android_camerax/lib/src/surface_texture_rotated_preview.dart
  packages/camera/camera_android_camerax/pubspec.yaml
  packages/camera/camera_android_camerax/test/preview_rotation_test.dart
Labels: autosubmit, p: camera, platform-android

#9230 Roll Flutter from b0f5c8ce03e2 to 02d8c1aceb75 (19 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#9158 [go_router_builder] Fixes an deprecated warning for using withNullability
  packages/go_router_builder/CHANGELOG.md
  packages/go_router_builder/lib/src/go_router_generator.dart
  packages/go_router_builder/lib/src/route_config.dart
  packages/go_router_builder/lib/src/type_helpers.dart
  packages/go_router_builder/pubspec.yaml
Labels: p: go_router_builder, autosubmit

#9177 [go_router] Fix requestFocus propagation to Navigator
  packages/go_router/CHANGELOG.md
  packages/go_router/lib/src/builder.dart
  packages/go_router/pubspec.yaml
  packages/go_router/test/builder_test.dart
Labels: p: go_router, autosubmit

#9232 Roll Flutter from 02d8c1aceb75 to 83082c19b727 (6 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#9239 Roll Flutter from 83082c19b727 to 992ad7489c38 (17 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#9243 Roll Flutter from 992ad7489c38 to 54de32d6e159 (7 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#9178 [in_app_purchase_storekit] Make Storekit 2 the default
  packages/in_app_purchase/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase/README.md
  packages/in_app_purchase/in_app_purchase/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_storekit/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_storekit/example/lib/main.dart
  packages/in_app_purchase/in_app_purchase_storekit/lib/src/in_app_purchase_storekit_platform.dart
  packages/in_app_purchase/in_app_purchase_storekit/lib/src/store_kit_2_wrappers/sk2_transaction_wrapper.dart
  packages/in_app_purchase/in_app_purchase_storekit/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_storekit/test/fakes/fake_storekit_platform.dart
  packages/in_app_purchase/in_app_purchase_storekit/test/in_app_purchase_storekit_2_platform_test.dart
  packages/in_app_purchase/in_app_purchase_storekit/test/in_app_purchase_storekit_platform_test.dart
Labels: autosubmit, p: in_app_purchase, platform-ios, platform-macos

#9246 Roll Flutter from 54de32d6e159 to 336a7ecf7b40 (19 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#9125 [webview_flutter_platform_interface] Adds support to set whether to draw the scrollbar
  packages/webview_flutter/webview_flutter_platform_interface/CHANGELOG.md
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/platform_webview_controller.dart
  packages/webview_flutter/webview_flutter_platform_interface/pubspec.yaml
  packages/webview_flutter/webview_flutter_platform_interface/test/platform_webview_controller_test.dart
Labels: autosubmit, p: webview_flutter, federated: partial_changes

#9251 Roll Flutter from 336a7ecf7b40 to 0b9f9288caf3 (22 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#9247 [in_app_purchase] Bump `in_app_purchase_storekit` version
  packages/in_app_purchase/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase/example/pubspec.yaml
  packages/in_app_purchase/in_app_purchase/pubspec.yaml
Labels: autosubmit, p: in_app_purchase

#9231 [pigeon] Prevents premature finalization from unused Dart instance for ProxyApis
  packages/pigeon/CHANGELOG.md
  packages/pigeon/lib/src/dart/templates.dart
  packages/pigeon/lib/src/generator_tools.dart
  packages/pigeon/lib/src/swift/templates.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/proxy_api_tests.gen.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/pubspec.yaml
  packages/pigeon/platform_tests/shared_test_plugin_code/test/instance_manager_test.dart
  packages/pigeon/platform_tests/test_plugin/android/src/test/kotlin/com/example/test_plugin/InstanceManagerTest.kt
  packages/pigeon/platform_tests/test_plugin/darwin/test_plugin/Sources/test_plugin/ProxyApiTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/example/ios/RunnerTests/InstanceManagerTests.swift
  packages/pigeon/pubspec.yaml
  script/configs/allowed_unpinned_deps.yaml
Labels: p: pigeon, autosubmit, platform-android, platform-ios, platform-macos

#9259 Roll Flutter from 0b9f9288caf3 to 9a78af5eb067 (26 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#9151 [webview_flutter_android] feat: Expose setUseWideViewPort on Android (#106999)
  packages/webview_flutter/webview_flutter_android/CHANGELOG.md
  packages/webview_flutter/webview_flutter_android/example/lib/main.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview_controller.dart
  packages/webview_flutter/webview_flutter_android/pubspec.yaml
  packages/webview_flutter/webview_flutter_android/test/android_webview_controller_test.dart
Labels: autosubmit, platform-android, p: webview_flutter

#9024 [webview_flutter] Adds support to control whether to draw scrollbars
  packages/webview_flutter/webview_flutter/CHANGELOG.md
  packages/webview_flutter/webview_flutter/example/pubspec.yaml
  packages/webview_flutter/webview_flutter/lib/src/webview_controller.dart
  packages/webview_flutter/webview_flutter/pubspec.yaml
  packages/webview_flutter/webview_flutter/test/webview_controller_test.dart
  packages/webview_flutter/webview_flutter/test/webview_controller_test.mocks.dart
  packages/webview_flutter/webview_flutter/test/webview_widget_test.mocks.dart
Labels: autosubmit, p: webview_flutter, federated: all_changes

#9248 [webview_flutter_platform_interface] Adds support to respond to recoverable SSL certificate errors
  packages/webview_flutter/webview_flutter_platform_interface/CHANGELOG.md
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/platform_navigation_delegate.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/platform_ssl_auth_error.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/types/types.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/types/x509_certificate.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/webview_flutter_platform_interface.dart
  packages/webview_flutter/webview_flutter_platform_interface/pubspec.yaml
  packages/webview_flutter/webview_flutter_platform_interface/test/platform_navigation_delegate_test.dart
Labels: autosubmit, p: webview_flutter, federated: partial_changes

#9281 [webview_flutter_android][webview_flutter_wkwebview] Adds support to respond to recoverable SSL certificate errors
  packages/webview_flutter/webview_flutter_android/CHANGELOG.md
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/AndroidWebkitLibrary.g.kt
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/CertificateProxyApi.java
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/ProxyApiRegistrar.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/CertificateTest.java
  packages/webview_flutter/webview_flutter_android/example/android/build.gradle
  packages/webview_flutter/webview_flutter_android/example/lib/main.dart
  packages/webview_flutter/webview_flutter_android/example/pubspec.yaml
  packages/webview_flutter/webview_flutter_android/lib/src/android_ssl_auth_error.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webkit.g.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview_controller.dart
  packages/webview_flutter/webview_flutter_android/lib/webview_flutter_android.dart
  packages/webview_flutter/webview_flutter_android/pigeons/android_webkit.dart
  packages/webview_flutter/webview_flutter_android/pubspec.yaml
  packages/webview_flutter/webview_flutter_android/test/android_navigation_delegate_test.dart
  packages/webview_flutter/webview_flutter_android/test/android_navigation_delegate_test.mocks.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_controller_test.mocks.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_cookie_manager_test.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_cookie_manager_test.mocks.dart
  packages/webview_flutter/webview_flutter_android/test/legacy/webview_android_cookie_manager_test.mocks.dart
  packages/webview_flutter/webview_flutter_android/test/legacy/webview_android_widget_test.mocks.dart
  packages/webview_flutter/webview_flutter_wkwebview/CHANGELOG.md
  packages/webview_flutter/webview_flutter_wkwebview/darwin/Tests/NavigationDelegateProxyAPITests.swift
  packages/webview_flutter/webview_flutter_wkwebview/darwin/webview_flutter_wkwebview/Sources/webview_flutter_wkwebview/AuthenticationChallengeResponseProxyAPIDelegate.swift
  packages/webview_flutter/webview_flutter_wkwebview/darwin/webview_flutter_wkwebview/Sources/webview_flutter_wkwebview/NavigationDelegateProxyAPIDelegate.swift
  packages/webview_flutter/webview_flutter_wkwebview/darwin/webview_flutter_wkwebview/Sources/webview_flutter_wkwebview/URLCredentialProxyAPIDelegate.swift
  packages/webview_flutter/webview_flutter_wkwebview/darwin/webview_flutter_wkwebview/Sources/webview_flutter_wkwebview/WebKitLibrary.g.swift
  packages/webview_flutter/webview_flutter_wkwebview/example/integration_test/legacy/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/example/integration_test/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/example/lib/main.dart
  packages/webview_flutter/webview_flutter_wkwebview/example/pubspec.yaml
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/common/web_kit.g.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/common/webkit_constants.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/legacy/web_kit_webview_widget.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/webkit_proxy.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/webkit_ssl_auth_error.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/webkit_webview_controller.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/webview_flutter_wkwebview.dart
  packages/webview_flutter/webview_flutter_wkwebview/pigeons/web_kit.dart
  packages/webview_flutter/webview_flutter_wkwebview/pubspec.yaml
  packages/webview_flutter/webview_flutter_wkwebview/test/legacy/web_kit_cookie_manager_test.mocks.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/legacy/web_kit_webview_widget_test.mocks.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/webkit_navigation_delegate_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/webkit_navigation_delegate_test.mocks.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/webkit_webview_controller_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/webkit_webview_controller_test.mocks.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/webkit_webview_cookie_manager_test.mocks.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/webkit_webview_widget_test.mocks.dart
Labels: autosubmit, platform-android, platform-ios, platform-macos, p: webview_flutter, federated: partial_changes

#9199 [video_player_android] Fix incorrect dimensions swap
  packages/video_player/video_player_android/CHANGELOG.md
  packages/video_player/video_player_android/android/src/main/java/io/flutter/plugins/videoplayer/texture/TextureExoPlayerEventListener.java
  packages/video_player/video_player_android/android/src/test/java/io/flutter/plugins/videoplayer/TextureExoPlayerEventListenerTest.java
  packages/video_player/video_player_android/example/lib/mini_controller.dart
  packages/video_player/video_player_android/pubspec.yaml
Labels: autosubmit, platform-android, p: video_player

#9261 [camera_android_camerax] Swap out `BroadcastReceiver` for `OrientationEventListener`
  packages/camera/camera_android_camerax/CHANGELOG.md
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/DeviceOrientationManager.java
  packages/camera/camera_android_camerax/android/src/test/java/io/flutter/plugins/camerax/DeviceOrientationManagerTest.java
  packages/camera/camera_android_camerax/pubspec.yaml
Labels: autosubmit, p: camera, platform-android

#9150 [webview_flutter] Adds support to respond to recoverable SSL certificate errors
  packages/webview_flutter/webview_flutter/CHANGELOG.md
  packages/webview_flutter/webview_flutter/example/pubspec.yaml
  packages/webview_flutter/webview_flutter/lib/src/navigation_delegate.dart
  packages/webview_flutter/webview_flutter/lib/webview_flutter.dart
  packages/webview_flutter/webview_flutter/pubspec.yaml
  packages/webview_flutter/webview_flutter/test/navigation_delegate_test.dart
  packages/webview_flutter/webview_flutter/test/navigation_delegate_test.mocks.dart
  packages/webview_flutter/webview_flutter/test/webview_controller_test.mocks.dart
  packages/webview_flutter/webview_flutter/test/webview_flutter_export_test.dart
Labels: autosubmit, p: webview_flutter

#9302 [video_player] Skip some integration tests on web
  packages/video_player/video_player/example/integration_test/video_player_test.dart
  packages/video_player/video_player_web/example/integration_test/video_player_web_test.dart
Labels: autosubmit, platform-web, p: video_player

#9305 Roll Flutter from 9a78af5eb067 to 33cdd8ef31dc (60 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#9273 [google_maps_flutter] Removes unnecessary parentheses
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/convert.dart
Labels: autosubmit, override: no versioning needed, override: no changelog needed, p: google_maps_flutter, platform-web

#9300 Roll Flutter (stable) from c23637390482 to be698c48a675 (1274 revisions)
  .ci.yaml
  .ci/flutter_stable.version
Labels: autosubmit

#9310 [process] Remove from the repository
  CODEOWNERS
  README.md
  packages/process/.gitignore
  packages/process/AUTHORS
  packages/process/CHANGELOG.md
  packages/process/LICENSE
  packages/process/README.md
  packages/process/dart_test.yaml
  packages/process/lib/process.dart
  packages/process/lib/src/interface/common.dart
  packages/process/lib/src/interface/exceptions.dart
  packages/process/lib/src/interface/local_process_manager.dart
  packages/process/lib/src/interface/process_manager.dart
  packages/process/lib/src/interface/process_wrapper.dart
  packages/process/pubspec.yaml
  packages/process/test/src/interface/common_test.dart
  packages/process/test/src/interface/process_wrapper_test.dart
  packages/process/test/utils.dart
  script/configs/allowed_unpinned_deps.yaml
Labels: autosubmit

#9313 [camera_avfoundation] Correct pigeon configuration output paths
  packages/camera/camera_avfoundation/pigeons/messages.dart
Labels: autosubmit, p: camera, platform-ios, platform-macos

#9315 Roll Flutter from 33cdd8ef31dc to 85564cbba9e7 (39 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#9317 [camera,video_player] Update Android to 3.29 minimum
  packages/camera/camera_android_camerax/example/integration_test/integration_test.dart
  packages/camera/camera_android_camerax/example/lib/camera_controller.dart
  packages/camera/camera_android_camerax/example/lib/camera_image.dart
  packages/camera/camera_android_camerax/example/lib/camera_preview.dart
  packages/camera/camera_android_camerax/example/lib/main.dart
  packages/camera/camera_android_camerax/example/pubspec.yaml
  packages/camera/camera_android_camerax/lib/src/android_camera_camerax.dart
  packages/camera/camera_android_camerax/lib/src/camerax_library.dart
  packages/camera/camera_android_camerax/lib/src/camerax_library.g.dart
  packages/camera/camera_android_camerax/lib/src/camerax_proxy.dart
  packages/camera/camera_android_camerax/lib/src/image_reader_rotated_preview.dart
  packages/camera/camera_android_camerax/lib/src/rotated_preview.dart
  packages/camera/camera_android_camerax/lib/src/rotated_preview_delegate.dart
  packages/camera/camera_android_camerax/lib/src/rotated_preview_utils.dart
  packages/camera/camera_android_camerax/lib/src/surface_texture_rotated_preview.dart
  packages/camera/camera_android_camerax/pigeons/camerax_library.dart
  packages/camera/camera_android_camerax/pubspec.yaml
  packages/camera/camera_android_camerax/test/android_camera_camerax_test.dart
  packages/camera/camera_android_camerax/test/android_camera_camerax_test.mocks.dart
  packages/camera/camera_android_camerax/test/preview_rotation_test.dart
  packages/video_player/video_player_android/example/integration_test/video_player_test.dart
  packages/video_player/video_player_android/example/lib/main.dart
  packages/video_player/video_player_android/example/lib/mini_controller.dart
  packages/video_player/video_player_android/example/pubspec.yaml
  packages/video_player/video_player_android/lib/src/android_video_player.dart
  packages/video_player/video_player_android/lib/src/messages.g.dart
  packages/video_player/video_player_android/lib/src/platform_view_player.dart
  packages/video_player/video_player_android/pigeons/messages.dart
  packages/video_player/video_player_android/pubspec.yaml
  packages/video_player/video_player_android/test/android_video_player_test.dart
  packages/video_player/video_player_android/test/test_api.g.dart
Labels: autosubmit, override: no versioning needed, override: no changelog needed, p: camera, platform-android, p: video_player

#9198 [video_player_android] isBuffering flag always return true after calling seekTo method - fixed
  packages/video_player/video_player_android/CHANGELOG.md
  packages/video_player/video_player_android/android/src/main/java/io/flutter/plugins/videoplayer/ExoPlayerEventListener.java
  packages/video_player/video_player_android/android/src/test/java/io/flutter/plugins/videoplayer/ExoPlayerEventListenerTest.java
  packages/video_player/video_player_android/pubspec.yaml
Labels: autosubmit, platform-android, p: video_player

#9264 [camera_android_camerax] Implement `enableAudio` for video recording
  packages/camera/camera_android_camerax/CHANGELOG.md
  packages/camera/camera_android_camerax/android/build.gradle
  packages/camera/camera_android_camerax/android/lint-baseline.xml
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/CameraXLibrary.g.kt
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/PendingRecordingProxyApi.java
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/RecorderProxyApi.java
  packages/camera/camera_android_camerax/android/src/test/java/io/flutter/plugins/camerax/PendingRecordingTest.java
  packages/camera/camera_android_camerax/example/lib/main.dart
  packages/camera/camera_android_camerax/lib/src/android_camera_camerax.dart
  packages/camera/camera_android_camerax/lib/src/camerax_library.g.dart
  packages/camera/camera_android_camerax/pigeons/camerax_library.dart
  packages/camera/camera_android_camerax/pubspec.yaml
  packages/camera/camera_android_camerax/test/android_camera_camerax_test.dart
  packages/camera/camera_android_camerax/test/android_camera_camerax_test.mocks.dart
Labels: autosubmit, p: camera, platform-android

#9318 Roll Flutter from 85564cbba9e7 to 60050a0b4d56 (17 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#9324 [file_selector_macos] Do not set nameFieldStringValue for NSOpenPanel
  packages/file_selector/file_selector_macos/CHANGELOG.md
  packages/file_selector/file_selector_macos/example/macos/RunnerTests/RunnerTests.swift
  packages/file_selector/file_selector_macos/macos/file_selector_macos/Sources/file_selector_macos/FileSelectorPlugin.swift
  packages/file_selector/file_selector_macos/pubspec.yaml
Labels: autosubmit, p: file_selector, platform-macos

#9330 [webview_flutter_wkwebview] Fix `testNilRequest` test for macOS 15.5
  packages/webview_flutter/webview_flutter_wkwebview/darwin/Tests/FrameInfoProxyAPITests.swift
Labels: autosubmit, platform-ios, platform-macos, p: webview_flutter

#9334 Roll Flutter from 4372bfbc6c23 to 0e536eb9fe4b (27 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#9342 Roll Flutter (stable) from be698c48a675 to b25305a8832c (11 revisions)
  .ci/flutter_stable.version
Labels: autosubmit

#9168 [all_packages] Bump `compileSdk` version to 35
  .ci.yaml
  .ci/legacy_project/README.md
  .ci/legacy_project/all_packages/android/gradle/wrapper/gradle-wrapper.properties
  .ci/legacy_project/all_packages/android/settings.gradle
  .ci/targets/android_build_all_packages.yaml
  .ci/targets/android_build_all_packages_jdk17.yaml
  script/tool/lib/src/create_all_packages_app_command.dart
  script/tool/test/create_all_packages_app_command_test.dart
Labels: autosubmit, triage-android
