Repository flutter/packages, pull requests merged in 2025-09, with the labels that each got.

#9921 [google_maps_flutter_web] Add cameraControl enable/disable & position on web
  packages/google_maps_flutter/google_maps_flutter_web/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_web/example/integration_test/google_maps_controller_test.dart
  packages/google_maps_flutter/google_maps_flutter_web/example/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/convert.dart
  packages/google_maps_flutter/google_maps_flutter_web/pubspec.yaml
Labels: autosubmit, p: google_maps_flutter, platform-web

#9926 Roll Flutter from da5523afc3c1 to 6b18740d5a23 (49 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#9945 [camera_android_camerax] Update Android minimum SDK version
  packages/camera/camera/README.md
Labels: autosubmit, override: no versioning needed, override: no changelog needed, p: camera

#9923 Update Stubs for FlutterPluginRegistrar interface change
  packages/in_app_purchase/in_app_purchase_storekit/example/shared/RunnerTests/Stubs.h
Labels: autosubmit, p: in_app_purchase, platform-ios, platform-macos

#9905 [tool] Only license-check checked-in files
  script/tool/lib/src/license_check_command.dart
  script/tool/test/license_check_command_test.dart
Labels: autosubmit

#9227 [google_maps_flutter] Fixes exception when dispose is called while asynchronous update from didUpdateWidget is executed
  packages/google_maps_flutter/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter/lib/src/google_map.dart
  packages/google_maps_flutter/google_maps_flutter/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter/test/fake_google_maps_flutter_platform.dart
  packages/google_maps_flutter/google_maps_flutter/test/google_map_test.dart
Labels: autosubmit, p: google_maps_flutter

#9250 [google_maps_flutter_web] Stop listening to map events when disposed
  packages/google_maps_flutter/google_maps_flutter_web/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_web/example/integration_test/google_maps_controller_test.dart
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/google_maps_controller.dart
  packages/google_maps_flutter/google_maps_flutter_web/pubspec.yaml
Labels: autosubmit, p: google_maps_flutter, platform-web

#9875 [go_router_builder] Fix unnecessary whitespace in generated `RelativeGoRouteData`
  packages/go_router_builder/CHANGELOG.md
  packages/go_router_builder/README.md
  packages/go_router_builder/example/lib/go_relative.g.dart
  packages/go_router_builder/example/lib/readme_excerpts.g.dart
  packages/go_router_builder/lib/src/route_config.dart
  packages/go_router_builder/pubspec.yaml
  packages/go_router_builder/tool/run_tests.dart
Labels: p: go_router_builder, autosubmit

#9917 [google_fonts] Improve CONTRIBUTING and generator README
  packages/google_fonts/CONTRIBUTING.md
  packages/google_fonts/generator/README.md
Labels: autosubmit, override: no versioning needed, override: no changelog needed, p: google_fonts

#9929 [google_sign_in] Add a platform interface method to clear auth tokens
  packages/google_sign_in/google_sign_in_platform_interface/CHANGELOG.md
  packages/google_sign_in/google_sign_in_platform_interface/lib/google_sign_in_platform_interface.dart
  packages/google_sign_in/google_sign_in_platform_interface/lib/src/types.dart
  packages/google_sign_in/google_sign_in_platform_interface/pubspec.yaml
  packages/google_sign_in/google_sign_in_platform_interface/test/google_sign_in_platform_interface_test.dart
  script/tool/bin/flutter_plugin_tools.dart
Labels: autosubmit, p: google_sign_in

#9983 Roll Flutter from 973320c0270b to a0820964d59c (17 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#9987 [url_launcher] Re-remove Android API<24 support
  packages/url_launcher/url_launcher_android/CHANGELOG.md
  packages/url_launcher/url_launcher_android/android/build.gradle
  packages/url_launcher/url_launcher_android/android/src/main/java/io/flutter/plugins/urllauncher/WebViewActivity.java
  packages/url_launcher/url_launcher_android/example/lib/main.dart
  packages/url_launcher/url_launcher_android/example/pubspec.yaml
  packages/url_launcher/url_launcher_android/lib/src/messages.g.dart
  packages/url_launcher/url_launcher_android/lib/url_launcher_android.dart
  packages/url_launcher/url_launcher_android/pubspec.yaml
Labels: autosubmit, platform-android, p: url_launcher

#10015 [file_selector] Fix example on iOS
  packages/file_selector/file_selector/CHANGELOG.md
  packages/file_selector/file_selector/README.md
  packages/file_selector/file_selector/example/lib/open_image_page.dart
  packages/file_selector/file_selector/example/lib/open_multiple_images_page.dart
  packages/file_selector/file_selector/example/lib/open_text_page.dart
  packages/file_selector/file_selector/pubspec.yaml
Labels: autosubmit, p: file_selector

#10024 [google_sign_in] Implement clearAuthorizationToken
  packages/google_sign_in/google_sign_in_android/CHANGELOG.md
  packages/google_sign_in/google_sign_in_android/android/build.gradle
  packages/google_sign_in/google_sign_in_android/android/src/main/java/io/flutter/plugins/googlesignin/GoogleSignInPlugin.java
  packages/google_sign_in/google_sign_in_android/android/src/main/kotlin/io/flutter/plugins/googlesignin/Messages.kt
  packages/google_sign_in/google_sign_in_android/android/src/main/kotlin/io/flutter/plugins/googlesignin/ResultUtils.kt
  packages/google_sign_in/google_sign_in_android/android/src/test/java/io/flutter/plugins/googlesignin/GoogleSignInTest.java
  packages/google_sign_in/google_sign_in_android/example/pubspec.yaml
  packages/google_sign_in/google_sign_in_android/lib/google_sign_in_android.dart
  packages/google_sign_in/google_sign_in_android/lib/src/messages.g.dart
  packages/google_sign_in/google_sign_in_android/pigeons/messages.dart
  packages/google_sign_in/google_sign_in_android/pubspec.yaml
  packages/google_sign_in/google_sign_in_android/test/google_sign_in_android_test.mocks.dart
  packages/google_sign_in/google_sign_in_ios/CHANGELOG.md
  packages/google_sign_in/google_sign_in_ios/example/pubspec.yaml
  packages/google_sign_in/google_sign_in_ios/lib/google_sign_in_ios.dart
  packages/google_sign_in/google_sign_in_ios/pubspec.yaml
  packages/google_sign_in/google_sign_in_ios/test/google_sign_in_ios_test.dart
  packages/google_sign_in/google_sign_in_ios/test/google_sign_in_ios_test.mocks.dart
  packages/google_sign_in/google_sign_in_web/CHANGELOG.md
  packages/google_sign_in/google_sign_in_web/example/integration_test/google_sign_in_web_test.dart
  packages/google_sign_in/google_sign_in_web/example/integration_test/google_sign_in_web_test.mocks.dart
  packages/google_sign_in/google_sign_in_web/example/integration_test/web_only_test.mocks.dart
  packages/google_sign_in/google_sign_in_web/example/pubspec.yaml
  packages/google_sign_in/google_sign_in_web/lib/google_sign_in_web.dart
  packages/google_sign_in/google_sign_in_web/lib/src/gis_client.dart
  packages/google_sign_in/google_sign_in_web/pubspec.yaml
Labels: autosubmit, p: google_sign_in, platform-android, platform-ios, platform-web

#10028 Roll Flutter from 8d0b31d81a02 to 8f94cb0d8f01 (24 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#9846 [google_sign_in] Add a method to clear auth tokens
  packages/google_sign_in/google_sign_in/CHANGELOG.md
  packages/google_sign_in/google_sign_in/MIGRATION.md
  packages/google_sign_in/google_sign_in/example/pubspec.yaml
  packages/google_sign_in/google_sign_in/lib/google_sign_in.dart
  packages/google_sign_in/google_sign_in/pubspec.yaml
  packages/google_sign_in/google_sign_in/test/google_sign_in_test.dart
  packages/google_sign_in/google_sign_in/test/google_sign_in_test.mocks.dart
Labels: autosubmit, p: google_sign_in, federated: all_changes

#10041 Roll Flutter from 8f94cb0d8f01 to 9ff2767f3cb6 (56 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#10056 [camera_android] Remove references to third party `googlesamples/mlkit` code
  packages/camera/camera_android/android/src/main/java/io/flutter/plugins/camera/media/ImageStreamReaderUtils.java
Labels: autosubmit, override: no versioning needed, override: no changelog needed, p: camera, platform-android

#10077 Roll Flutter from 4a042046a0f1 to b1a28bc065b0 (44 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#9953 [interactive_media_ads] Adds support for time offsets of ad breaks
  packages/interactive_media_ads/CHANGELOG.md
  packages/interactive_media_ads/android/src/main/kotlin/dev/flutter/packages/interactive_media_ads/AdsManagerProxyApi.kt
  packages/interactive_media_ads/android/src/main/kotlin/dev/flutter/packages/interactive_media_ads/AdsRequestProxyApi.kt
  packages/interactive_media_ads/android/src/main/kotlin/dev/flutter/packages/interactive_media_ads/InteractiveMediaAdsLibrary.g.kt
  packages/interactive_media_ads/android/src/test/kotlin/dev/flutter/packages/interactive_media_ads/AdsManagerProxyApiTest.kt
  packages/interactive_media_ads/example/ios/RunnerTests/AdsManagerTests.swift
  packages/interactive_media_ads/example/lib/video_ad_example_screen.dart
  packages/interactive_media_ads/ios/interactive_media_ads/Sources/interactive_media_ads/AdsManagerProxyAPIDelegate.swift
  packages/interactive_media_ads/ios/interactive_media_ads/Sources/interactive_media_ads/AdsRequestProxyAPIDelegate.swift
  packages/interactive_media_ads/ios/interactive_media_ads/Sources/interactive_media_ads/InteractiveMediaAdsLibrary.g.swift
  packages/interactive_media_ads/lib/src/ads_loader.dart
  packages/interactive_media_ads/lib/src/android/android_ad_display_container.dart
  packages/interactive_media_ads/lib/src/android/android_ads_manager.dart
  packages/interactive_media_ads/lib/src/android/interactive_media_ads.g.dart
  packages/interactive_media_ads/lib/src/ios/interactive_media_ads.g.dart
  packages/interactive_media_ads/lib/src/ios/ios_ads_manager.dart
  packages/interactive_media_ads/lib/src/platform_interface/platform_ads_manager.dart
  packages/interactive_media_ads/pigeons/interactive_media_ads_android.dart
  packages/interactive_media_ads/pigeons/interactive_media_ads_ios.dart
  packages/interactive_media_ads/pubspec.yaml
  packages/interactive_media_ads/test/ads_manager_test.dart
  packages/interactive_media_ads/test/android/ads_loader_test.mocks.dart
  packages/interactive_media_ads/test/android/ads_manager_test.dart
  packages/interactive_media_ads/test/android/ads_manager_test.mocks.dart
  packages/interactive_media_ads/test/ios/ads_loader_test.mocks.dart
  packages/interactive_media_ads/test/ios/ads_manager_delegate_tests.dart
  packages/interactive_media_ads/test/ios/ads_manager_test.dart
  packages/interactive_media_ads/test/ios/ads_manager_test.mocks.dart
  packages/interactive_media_ads/test/test_stubs.dart
Labels: autosubmit, platform-android, platform-ios, p: interactive_media_ads

#10091 [various] Standardize Java compat in Gradle
  packages/animations/example/android/app/build.gradle
  packages/camera/camera_android/android/build.gradle
  packages/camera/camera_android_camerax/android/build.gradle
  packages/camera/camera_android_camerax/example/android/app/build.gradle
  packages/espresso/android/build.gradle
  packages/extension_google_sign_in_as_googleapis_auth/example/android/app/build.gradle
  packages/file_selector/file_selector/example/android/app/build.gradle
  packages/file_selector/file_selector_android/android/build.gradle
  packages/file_selector/file_selector_android/example/android/app/build.gradle
  packages/flutter_plugin_android_lifecycle/android/build.gradle
  packages/go_router/example/android/app/build.gradle
  packages/google_fonts/example/android/app/build.gradle
  packages/google_maps_flutter/google_maps_flutter_android/android/build.gradle
  packages/google_sign_in/google_sign_in_android/android/build.gradle
  packages/image_picker/image_picker_android/android/build.gradle
  packages/in_app_purchase/in_app_purchase_android/android/build.gradle
  packages/interactive_media_ads/README.md
  packages/interactive_media_ads/android/build.gradle
  packages/interactive_media_ads/example/android/app/build.gradle
  packages/local_auth/local_auth_android/android/build.gradle
  packages/path_provider/path_provider_android/android/build.gradle
  packages/pigeon/example/app/android/app/build.gradle
  packages/pigeon/platform_tests/alternate_language_test_plugin/android/build.gradle
  packages/pigeon/platform_tests/alternate_language_test_plugin/example/android/app/build.gradle
  packages/pigeon/platform_tests/test_plugin/android/build.gradle
  packages/pigeon/platform_tests/test_plugin/example/android/app/build.gradle
  packages/quick_actions/quick_actions_android/android/build.gradle
  packages/rfw/example/hello/android/app/build.gradle
  packages/rfw/example/local/android/app/build.gradle
  packages/rfw/example/remote/android/app/build.gradle
  packages/shared_preferences/shared_preferences_android/android/build.gradle
  packages/shared_preferences/shared_preferences_android/example/android/app/build.gradle
  packages/two_dimensional_scrollables/example/android/app/build.gradle
  packages/url_launcher/url_launcher_android/android/build.gradle
  packages/video_player/video_player/example/android/app/build.gradle
  packages/video_player/video_player_android/android/build.gradle
  packages/video_player/video_player_android/example/android/app/build.gradle
  packages/webview_flutter/webview_flutter_android/android/build.gradle
  packages/webview_flutter/webview_flutter_android/example/android/app/build.gradle
  script/tool/lib/src/gradle_check_command.dart
  script/tool/test/gradle_check_command_test.dart
  third_party/packages/flutter_svg/example/android/app/build.gradle
Labels: p: extension_google_sign_in_as_googleapis_auth, p: pigeon, p: rfw, p: go_router, p: animations, autosubmit, override: no versioning needed, override: no changelog needed, p: camera, p: espresso, p: file_selector, p: flutter_plugin_android_lifecycle, p: google_maps_flutter, p: google_sign_in, p: image_picker, p: in_app_purchase, p: local_auth, p: path_provider, p: quick_actions, platform-android, p: webview_flutter, p: video_player, p: url_launcher, p: shared_preferences, p: interactive_media_ads, p: flutter_svg, p: google_fonts

#10030 [camera_android_camerax] Implement setDescriptionWhileRecording
  packages/camera/camera_android_camerax/CHANGELOG.md
  packages/camera/camera_android_camerax/README.md
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/CameraXLibrary.g.kt
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/PendingRecordingProxyApi.java
  packages/camera/camera_android_camerax/android/src/test/java/io/flutter/plugins/camerax/PendingRecordingTest.java
  packages/camera/camera_android_camerax/example/integration_test/integration_test.dart
  packages/camera/camera_android_camerax/example/lib/camera_controller.dart
  packages/camera/camera_android_camerax/example/lib/main.dart
  packages/camera/camera_android_camerax/lib/src/android_camera_camerax.dart
  packages/camera/camera_android_camerax/lib/src/camerax_library.g.dart
  packages/camera/camera_android_camerax/pigeons/camerax_library.dart
  packages/camera/camera_android_camerax/pubspec.yaml
  packages/camera/camera_android_camerax/test/android_camera_camerax_test.dart
  packages/camera/camera_android_camerax/test/android_camera_camerax_test.mocks.dart
Labels: autosubmit, p: camera, platform-android

#10116 Manual roll Flutter from b1a28bc065b0 to 6cc976ec26d3 (4 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#9668 Revert hardcoded compilesdk back to `flutter.compileSdkVersion` in `camera_android`
  packages/camera/camera_android/CHANGELOG.md
  packages/camera/camera_android/android/build.gradle
  packages/camera/camera_android/pubspec.yaml
  script/tool/lib/src/gradle_check_command.dart
  script/tool/test/gradle_check_command_test.dart
Labels: autosubmit, override: no versioning needed, override: no changelog needed, p: camera, platform-android
