Repository flutter/packages, pull requests merged in 2025-10, with the labels that each got.

#10141 [ci] Re-enable all Android legacy emulator tests
  script/configs/exclude_integration_android_legacy_emulator.yaml
Labels: autosubmit

#10148 [google_sign_in] Remove references to dart:js_util
  packages/google_sign_in/google_sign_in/example/lib/src/web_wrapper.dart
Labels: autosubmit, override: no changelog needed, p: google_sign_in

#10131 [shared_preferences] updates build files to use JVM 17
  packages/shared_preferences/shared_preferences_android/CHANGELOG.md
  packages/shared_preferences/shared_preferences_android/android/build.gradle
  packages/shared_preferences/shared_preferences_android/example/android/app/build.gradle
  packages/shared_preferences/shared_preferences_android/lib/src/messages.g.dart
  packages/shared_preferences/shared_preferences_android/lib/src/messages_async.g.dart
  packages/shared_preferences/shared_preferences_android/pubspec.yaml
  packages/shared_preferences/shared_preferences_android/test/shared_preferences_async_test.dart
Labels: autosubmit, platform-android, p: shared_preferences

#10129 [webview_flutter] updates build files to use JVM 17
  packages/webview_flutter/webview_flutter_android/CHANGELOG.md
  packages/webview_flutter/webview_flutter_android/android/build.gradle
  packages/webview_flutter/webview_flutter_android/example/android/app/build.gradle
  packages/webview_flutter/webview_flutter_android/pubspec.yaml
Labels: autosubmit, platform-android, p: webview_flutter

#7653 [Camera] Add lens type information (iOS)
  packages/camera/camera/test/camera_preview_test.dart
  packages/camera/camera_avfoundation/CHANGELOG.md
  packages/camera/camera_avfoundation/example/ios/RunnerTests/Mocks/MockCaptureDevice.swift
  packages/camera/camera_avfoundation/example/pubspec.yaml
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/CameraPlugin.swift
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation_objc/FLTCaptureDevice.m
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation_objc/include/camera_avfoundation/FLTCaptureDevice.h
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation_objc/include/camera_avfoundation/messages.g.h
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation_objc/messages.g.m
  packages/camera/camera_avfoundation/lib/src/messages.g.dart
  packages/camera/camera_avfoundation/lib/src/utils.dart
  packages/camera/camera_avfoundation/pigeons/messages.dart
  packages/camera/camera_avfoundation/pubspec.yaml
  packages/camera/camera_avfoundation/test/avfoundation_camera_test.dart
Labels: autosubmit, p: camera, platform-ios, platform-macos

#10161 Roll Flutter from 7811e8982355 to 65aca3661b8f (12 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#10170 Manual roll Flutter from 65aca3661b8f to 5c0c9e9e9ad2 (16 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#10175 Roll Flutter from 5c0c9e9e9ad2 to 908012d58baa (18 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#10162 [espresso] updates build files to use JVM 17
  packages/espresso/CHANGELOG.md
  packages/espresso/android/build.gradle
  packages/espresso/pubspec.yaml
Labels: autosubmit, p: espresso, platform-android

#10169 Update CI to Test Against SDK 36v3
  .ci.yaml
Labels: autosubmit

#10166 [webview_flutter] Add Android geolocation README
  packages/webview_flutter/webview_flutter_android/CHANGELOG.md
  packages/webview_flutter/webview_flutter_android/README.md
  packages/webview_flutter/webview_flutter_android/example/lib/readme_excerpts.dart
  packages/webview_flutter/webview_flutter_android/pubspec.yaml
Labels: autosubmit, platform-android, p: webview_flutter

#9949 [camera_avfoundation] iOS: Fix crash when `enableAudio == false` by correcting guard condition
  packages/camera/camera_avfoundation/CHANGELOG.md
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraSettingsTests.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/Mocks/MockCaptureSession.swift
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/DefaultCamera.swift
  packages/camera/camera_avfoundation/pubspec.yaml
Labels: autosubmit, p: camera, platform-ios, platform-macos
