Repository flutter/packages, pull requests merged in 2025-01, with the labels that each got.

#8296 [shared_preferences] Add information about shared preferences android to docs
  packages/shared_preferences/shared_preferences/CHANGELOG.md
  packages/shared_preferences/shared_preferences/README.md
  packages/shared_preferences/shared_preferences/example/android/app/build.gradle
  packages/shared_preferences/shared_preferences/example/lib/readme_excerpts.dart
  packages/shared_preferences/shared_preferences/example/pubspec.yaml
  packages/shared_preferences/shared_preferences/pubspec.yaml
Labels: autosubmit, platform-android, p: shared_preferences

#8366 [pigeon] Discuss stability in README
  packages/pigeon/CHANGELOG.md
  packages/pigeon/README.md
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/pubspec.yaml
Labels: p: pigeon, autosubmit

#8367 [flutter_markdown] Fix some memory leaks and activate leak testing [prod-leak-fix]
  packages/flutter_markdown/CHANGELOG.md
  packages/flutter_markdown/lib/src/builder.dart
  packages/flutter_markdown/pubspec.yaml
  packages/flutter_markdown/test/custom_syntax_test.dart
  packages/flutter_markdown/test/flutter_test_config.dart
  packages/flutter_markdown/test/image_test.dart
  packages/flutter_markdown/test/link_test.dart
  packages/flutter_markdown/test/padding_test.dart
  packages/flutter_markdown/test/scrollable_test.dart
Labels: p: flutter_markdown, a: leak tracking

#8368 [google_maps_flutter] Activate leak testing
  packages/google_maps_flutter/google_maps_flutter/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter/test/flutter_test_config.dart
Labels: autosubmit, override: no versioning needed, override: no changelog needed, p: google_maps_flutter

#8374 [go_router] Updates readme to reflect current status
  packages/go_router/CHANGELOG.md
  packages/go_router/README.md
  packages/go_router/pubspec.yaml
Labels: p: go_router, autosubmit

#8326 go_router_builder: latest dependencies
  packages/go_router_builder/CHANGELOG.md
  packages/go_router_builder/pubspec.yaml
  packages/go_router_builder/tool/run_tests.dart
  script/configs/allowed_unpinned_deps.yaml
Labels: p: go_router_builder, autosubmit

#8361 Bump Remaining Plugin Example Apps to targetSdkVersion >= 34 and compileSdkVersion >= 34
  .ci/legacy_project/all_packages/android/app/build.gradle
  .ci/legacy_project/all_packages/android/app/src/main/AndroidManifest.xml
  packages/local_auth/local_auth_android/example/android/app/build.gradle
Labels: autosubmit, p: local_auth, platform-android

#8388 [camera_android_camerax][video_player_android] Suppresses deprecation of the `SurfaceProducer.Callback.onSurfaceDestroyed` method
  packages/camera/camera_android_camerax/CHANGELOG.md
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/PreviewHostApiImpl.java
  packages/video_player/video_player_android/CHANGELOG.md
  packages/video_player/video_player_android/android/src/main/java/io/flutter/plugins/videoplayer/VideoPlayer.java
Labels: autosubmit, override: no versioning needed, p: camera, platform-android, p: video_player

#8307 [camera_platform_interface] Add API support query for image streaming
  packages/camera/camera_platform_interface/CHANGELOG.md
  packages/camera/camera_platform_interface/lib/src/platform_interface/camera_platform.dart
  packages/camera/camera_platform_interface/pubspec.yaml
  packages/camera/camera_platform_interface/test/camera_platform_interface_test.dart
Labels: autosubmit, p: camera

#8391 [ci][video_player_android][camera_android_camerax] Manual roll and fix tests
  .ci/flutter_master.version
  packages/camera/camera_android_camerax/android/src/test/java/io/flutter/plugins/camerax/PreviewTest.java
  packages/video_player/video_player_android/android/src/test/java/io/flutter/plugins/videoplayer/VideoPlayerTest.java
Labels: autosubmit, p: camera, platform-android, p: video_player

#8396 Manual roll Flutter (stable) from 8495dee1fd4a to 17025dd88227 (2 revisions)
  .ci/flutter_stable.version
Labels: autosubmit

#8349 [go_router_builder] Add a fallback for a not null List or Set param
  packages/go_router_builder/CHANGELOG.md
  packages/go_router_builder/lib/src/type_helpers.dart
  packages/go_router_builder/pubspec.yaml
  packages/go_router_builder/test_inputs/list.dart
  packages/go_router_builder/test_inputs/list.dart.expect
  packages/go_router_builder/test_inputs/set.dart
  packages/go_router_builder/test_inputs/set.dart.expect
Labels: p: go_router_builder

#8153 [interactive_media_ads] Adds remaining methods for internal wrapper of the iOS native `IMAAdDisplayContainer`.
  packages/interactive_media_ads/CHANGELOG.md
  packages/interactive_media_ads/android/src/main/kotlin/dev/flutter/packages/interactive_media_ads/AdsRequestProxyApi.kt
  packages/interactive_media_ads/example/ios/RunnerTests/AdDisplayContainerTests.swift
  packages/interactive_media_ads/ios/interactive_media_ads/Sources/interactive_media_ads/AdDisplayContainerProxyAPIDelegate.swift
  packages/interactive_media_ads/ios/interactive_media_ads/Sources/interactive_media_ads/AdsRequestProxyAPIDelegate.swift
  packages/interactive_media_ads/ios/interactive_media_ads/Sources/interactive_media_ads/InteractiveMediaAdsLibrary.g.swift
  packages/interactive_media_ads/lib/src/ios/interactive_media_ads.g.dart
  packages/interactive_media_ads/lib/src/ios/ios_ad_display_container.dart
  packages/interactive_media_ads/pigeons/interactive_media_ads_ios.dart
  packages/interactive_media_ads/pubspec.yaml
Labels: autosubmit, platform-android, platform-ios, p: interactive_media_ads

#8364 [flutter_svg] Implement errorBuilder callback
  third_party/packages/flutter_svg/CHANGELOG.md
  third_party/packages/flutter_svg/lib/svg.dart
  third_party/packages/flutter_svg/pubspec.yaml
  third_party/packages/flutter_svg/test/widget_svg_test.dart
Labels: autosubmit, p: flutter_svg

#8203 [webview_flutter_wkwebview] Add a listener for the canGoBack property change on the iOS platform.
  packages/webview_flutter/webview_flutter_wkwebview/CHANGELOG.md
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/webkit_webview_controller.dart
  packages/webview_flutter/webview_flutter_wkwebview/pubspec.yaml
  packages/webview_flutter/webview_flutter_wkwebview/test/webkit_webview_controller_test.dart
Labels: autosubmit, platform-ios, p: webview_flutter

#8403 [go_router] Rephrases readme to better describe the current status
  packages/go_router/CHANGELOG.md
  packages/go_router/README.md
  packages/go_router/pubspec.yaml
Labels: p: go_router, autosubmit

#8256 [camera_android_camerax] Remove logic used to previously correct preview rotation
  packages/camera/camera_android_camerax/CHANGELOG.md
  packages/camera/camera_android_camerax/lib/src/android_camera_camerax.dart
  packages/camera/camera_android_camerax/pubspec.yaml
  packages/camera/camera_android_camerax/test/android_camera_camerax_test.dart
Labels: autosubmit, p: camera

#8353 [camera]: Activate leak testing for sub packages
  packages/camera/camera_android/pubspec.yaml
  packages/camera/camera_android/test/flutter_test_config.dart
  packages/camera/camera_android_camerax/pubspec.yaml
  packages/camera/camera_android_camerax/test/flutter_test_config.dart
  packages/camera/camera_avfoundation/pubspec.yaml
  packages/camera/camera_avfoundation/test/flutter_test_config.dart
  packages/camera/camera_platform_interface/pubspec.yaml
  packages/camera/camera_platform_interface/test/flutter_test_config.dart
  packages/camera/camera_windows/pubspec.yaml
  packages/camera/camera_windows/test/flutter_test_config.dart
Labels: autosubmit, override: no versioning needed, override: no changelog needed, p: camera, platform-android, platform-ios, platform-macos, platform-windows

#6711 [url_launcher][web] Better support for semantics in the Link widget
  packages/url_launcher/url_launcher_web/CHANGELOG.md
  packages/url_launcher/url_launcher_web/example/integration_test/link_widget_test.dart
  packages/url_launcher/url_launcher_web/example/pubspec.yaml
  packages/url_launcher/url_launcher_web/lib/src/link.dart
  packages/url_launcher/url_launcher_web/pubspec.yaml
Labels: autosubmit, platform-web, p: url_launcher

#8107 [url_launcher_windows] Correct logging url
  packages/url_launcher/url_launcher_windows/CHANGELOG.md
  packages/url_launcher/url_launcher_windows/pubspec.yaml
  packages/url_launcher/url_launcher_windows/windows/test/url_launcher_windows_test.cpp
  packages/url_launcher/url_launcher_windows/windows/url_launcher_plugin.cpp
Labels: autosubmit, platform-windows, p: url_launcher

#8406 Fix dependabot test-dependencies group io.mockk regex
  .github/dependabot.yml
Labels: autosubmit

#8408 Roll Flutter from 4b23b8182888 to 864d4f59dde0 (50 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#8270 [webview_flutter_android] Add additional WebSettings methods
  packages/webview_flutter/webview_flutter_android/CHANGELOG.md
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/AndroidWebkitLibrary.g.kt
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/WebSettingsProxyApi.java
  packages/webview_flutter/webview_flutter_android/lib/src/android_webkit.g.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview_controller.dart
  packages/webview_flutter/webview_flutter_android/pigeons/android_webkit.dart
  packages/webview_flutter/webview_flutter_android/pubspec.yaml
  packages/webview_flutter/webview_flutter_android/test/android_webview_controller_test.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_controller_test.mocks.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_cookie_manager_test.mocks.dart
  packages/webview_flutter/webview_flutter_android/test/legacy/webview_android_widget_test.mocks.dart
Labels: autosubmit, platform-android, p: webview_flutter

#8250 [camera] Add API support query for image streaming
  packages/camera/camera_android/CHANGELOG.md
  packages/camera/camera_android/lib/src/android_camera.dart
  packages/camera/camera_android/pubspec.yaml
  packages/camera/camera_android/test/android_camera_test.dart
  packages/camera/camera_android_camerax/CHANGELOG.md
  packages/camera/camera_android_camerax/lib/src/android_camera_camerax.dart
  packages/camera/camera_android_camerax/pubspec.yaml
  packages/camera/camera_android_camerax/test/android_camera_camerax_test.dart
  packages/camera/camera_avfoundation/CHANGELOG.md
  packages/camera/camera_avfoundation/lib/src/avfoundation_camera.dart
  packages/camera/camera_avfoundation/pubspec.yaml
  packages/camera/camera_avfoundation/test/avfoundation_camera_test.dart
Labels: autosubmit, p: camera, platform-android, platform-ios, platform-macos

#8397 [two_dimensional_scrollables] prepare for `const AnimationStyle`
  packages/two_dimensional_scrollables/lib/src/tree_view/tree.dart
  packages/two_dimensional_scrollables/test/tree_view/render_tree_test.dart
  packages/two_dimensional_scrollables/test/tree_view/tree_test.dart
Labels: autosubmit

#8428 Roll Flutter from 72db8f69e339 to 40c2b86fdf65 (33 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#7657 [video_player_avfoundation] fix playback speed resetting
  packages/video_player/video_player_avfoundation/CHANGELOG.md
  packages/video_player/video_player_avfoundation/darwin/RunnerTests/VideoPlayerTests.m
  packages/video_player/video_player_avfoundation/darwin/video_player_avfoundation/Sources/video_player_avfoundation/FVPVideoPlayer.m
  packages/video_player/video_player_avfoundation/pubspec.yaml
Labels: autosubmit, platform-ios, platform-macos, p: video_player

#8434 Roll Flutter (stable) from 17025dd88227 to 68415ad1d920 (4 revisions)
  .ci/flutter_stable.version
Labels: autosubmit

#8430 [in_app_purchase_storekit] expose `jsonRepresentation` for Transactions
  packages/in_app_purchase/in_app_purchase_storekit/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_storekit/darwin/Classes/StoreKit2/InAppPurchasePlugin+StoreKit2.swift
  packages/in_app_purchase/in_app_purchase_storekit/darwin/Classes/StoreKit2/StoreKit2Translators.swift
  packages/in_app_purchase/in_app_purchase_storekit/darwin/Classes/StoreKit2/sk2_pigeon.g.swift
  packages/in_app_purchase/in_app_purchase_storekit/example/shared/RunnerTests/InAppPurchaseStoreKit2PluginTests.swift
  packages/in_app_purchase/in_app_purchase_storekit/lib/src/sk2_pigeon.g.dart
  packages/in_app_purchase/in_app_purchase_storekit/pigeons/sk2_pigeon.dart
  packages/in_app_purchase/in_app_purchase_storekit/pubspec.yaml
Labels: autosubmit, p: in_app_purchase, platform-ios, platform-macos, triage-ios

#8348 [local_auth_darwin] Handle when FaceID hardware is available but permissions have been denied for the app
  packages/local_auth/local_auth_darwin/CHANGELOG.md
  packages/local_auth/local_auth_darwin/darwin/Tests/FLALocalAuthPluginTests.swift
  packages/local_auth/local_auth_darwin/darwin/local_auth_darwin/Sources/local_auth_darwin/FLALocalAuthPlugin.m
  packages/local_auth/local_auth_darwin/pubspec.yaml
Labels: autosubmit, p: local_auth, platform-ios, platform-macos

#8456 [pigeon] Update analyzer and formatter
  packages/pigeon/CHANGELOG.md
  packages/pigeon/lib/dart_generator.dart
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/pubspec.yaml
Labels: p: pigeon, autosubmit

#8458 Roll Flutter from 5517cc9b3b3b to b9e86a565f92 (22 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#8218 [in_app_purchase] Update Play Billing library to 7.1.1
  packages/in_app_purchase/in_app_purchase_android/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_android/android/build.gradle
  packages/in_app_purchase/in_app_purchase_android/android/src/main/java/io/flutter/plugins/inapppurchase/BillingClientFactory.java
  packages/in_app_purchase/in_app_purchase_android/android/src/main/java/io/flutter/plugins/inapppurchase/BillingClientFactoryImpl.java
  packages/in_app_purchase/in_app_purchase_android/android/src/main/java/io/flutter/plugins/inapppurchase/Messages.java
  packages/in_app_purchase/in_app_purchase_android/android/src/main/java/io/flutter/plugins/inapppurchase/MethodCallHandlerImpl.java
  packages/in_app_purchase/in_app_purchase_android/android/src/main/java/io/flutter/plugins/inapppurchase/Translator.java
  packages/in_app_purchase/in_app_purchase_android/android/src/test/java/io/flutter/plugins/inapppurchase/BillingClientFactoryImplTest.java
  packages/in_app_purchase/in_app_purchase_android/android/src/test/java/io/flutter/plugins/inapppurchase/MethodCallHandlerTest.java
  packages/in_app_purchase/in_app_purchase_android/android/src/test/java/io/flutter/plugins/inapppurchase/TranslatorTest.java
  packages/in_app_purchase/in_app_purchase_android/build.yaml
  packages/in_app_purchase/in_app_purchase_android/example/lib/main.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/billing_client_wrappers/alternative_billing_only_reporting_details_wrapper.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/billing_client_wrappers/alternative_billing_only_reporting_details_wrapper.g.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/billing_client_wrappers/billing_client_manager.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/billing_client_wrappers/billing_client_wrapper.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/billing_client_wrappers/billing_client_wrapper.g.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/billing_client_wrappers/billing_config_wrapper.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/billing_client_wrappers/billing_config_wrapper.g.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/billing_client_wrappers/billing_response_wrapper.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/billing_client_wrappers/billing_response_wrapper.g.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/billing_client_wrappers/one_time_purchase_offer_details_wrapper.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/billing_client_wrappers/one_time_purchase_offer_details_wrapper.g.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/billing_client_wrappers/pending_purchases_params_wrapper.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/billing_client_wrappers/product_details_wrapper.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/billing_client_wrappers/product_details_wrapper.g.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/billing_client_wrappers/product_wrapper.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/billing_client_wrappers/product_wrapper.g.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/billing_client_wrappers/purchase_wrapper.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/billing_client_wrappers/purchase_wrapper.g.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/billing_client_wrappers/subscription_offer_details_wrapper.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/billing_client_wrappers/subscription_offer_details_wrapper.g.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/billing_client_wrappers/user_choice_details_wrapper.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/billing_client_wrappers/user_choice_details_wrapper.g.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/in_app_purchase_android_platform.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/in_app_purchase_android_platform_addition.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/messages.g.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/pigeon_converters.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/types/change_subscription_param.dart
  packages/in_app_purchase/in_app_purchase_android/lib/src/types/google_play_purchase_details.dart
  packages/in_app_purchase/in_app_purchase_android/pigeons/messages.dart
  packages/in_app_purchase/in_app_purchase_android/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_android/test/billing_client_wrappers/billing_client_manager_test.dart
  packages/in_app_purchase/in_app_purchase_android/test/billing_client_wrappers/billing_client_wrapper_test.dart
  packages/in_app_purchase/in_app_purchase_android/test/billing_client_wrappers/billing_client_wrapper_test.mocks.dart
  packages/in_app_purchase/in_app_purchase_android/test/billing_client_wrappers/product_details_wrapper_test.dart
  packages/in_app_purchase/in_app_purchase_android/test/billing_client_wrappers/product_wrapper_test.dart
  packages/in_app_purchase/in_app_purchase_android/test/billing_client_wrappers/purchase_wrapper_test.dart
  packages/in_app_purchase/in_app_purchase_android/test/in_app_purchase_android_platform_addition_test.dart
  packages/in_app_purchase/in_app_purchase_android/test/in_app_purchase_android_platform_test.dart
  packages/in_app_purchase/in_app_purchase_android/test/test_conversion_utils.dart
Labels: autosubmit, p: in_app_purchase, platform-android, federated: all_changes

#8468 [tool] Allow blank lines in federated package changes
  script/tool/lib/src/federation_safety_check_command.dart
  script/tool/test/federation_safety_check_command_test.dart
Labels: autosubmit

#8322 [shared_preferences] Add shared preferences devtool
  CODEOWNERS
  packages/shared_preferences/shared_preferences/CHANGELOG.md
  packages/shared_preferences/shared_preferences/extension/devtools/.gitignore
  packages/shared_preferences/shared_preferences/extension/devtools/.pubignore
  packages/shared_preferences/shared_preferences/extension/devtools/config.yaml
  packages/shared_preferences/shared_preferences/lib/src/shared_preferences_async.dart
  packages/shared_preferences/shared_preferences/lib/src/shared_preferences_devtools_extension_data.dart
  packages/shared_preferences/shared_preferences/lib/src/shared_preferences_legacy.dart
  packages/shared_preferences/shared_preferences/pubspec.yaml
  packages/shared_preferences/shared_preferences/test/shared_preferences_devtools_extension_data_test.dart
  packages/shared_preferences/shared_preferences/tool/pre_publish.dart
  packages/shared_preferences/shared_preferences_tool/LICENSE
  packages/shared_preferences/shared_preferences_tool/README.md
  packages/shared_preferences/shared_preferences_tool/lib/main.dart
  packages/shared_preferences/shared_preferences_tool/lib/src/async_state.dart
  packages/shared_preferences/shared_preferences_tool/lib/src/shared_preferences_state.dart
  packages/shared_preferences/shared_preferences_tool/lib/src/shared_preferences_state_notifier.dart
  packages/shared_preferences/shared_preferences_tool/lib/src/shared_preferences_state_provider.dart
  packages/shared_preferences/shared_preferences_tool/lib/src/shared_preferences_tool_eval.dart
  packages/shared_preferences/shared_preferences_tool/lib/src/ui/api_switch.dart
  packages/shared_preferences/shared_preferences_tool/lib/src/ui/data_panel.dart
  packages/shared_preferences/shared_preferences_tool/lib/src/ui/error_panel.dart
  packages/shared_preferences/shared_preferences_tool/lib/src/ui/keys_panel.dart
  packages/shared_preferences/shared_preferences_tool/lib/src/ui/shared_preferences_body.dart
  packages/shared_preferences/shared_preferences_tool/pubspec.yaml
  packages/shared_preferences/shared_preferences_tool/test/src/shared_preferences_state_notifier_test.dart
  packages/shared_preferences/shared_preferences_tool/test/src/shared_preferences_state_notifier_test.mocks.dart
  packages/shared_preferences/shared_preferences_tool/test/src/shared_preferences_state_test.dart
  packages/shared_preferences/shared_preferences_tool/test/src/shared_preferences_tool_eval_test.dart
  packages/shared_preferences/shared_preferences_tool/test/src/ui/data_panel_test.dart
  packages/shared_preferences/shared_preferences_tool/test/src/ui/error_panel_test.dart
  packages/shared_preferences/shared_preferences_tool/test/src/ui/keys_panel_test.dart
  packages/shared_preferences/shared_preferences_tool/test/src/ui/shared_preferences_body_test.dart
  packages/shared_preferences/shared_preferences_tool/test/test_helpers/notifier_mocking_helpers.dart
  packages/shared_preferences/shared_preferences_tool/test/test_helpers/notifier_mocking_helpers.mocks.dart
  packages/shared_preferences/shared_preferences_tool/web/index.html
  packages/shared_preferences/shared_preferences_tool/web/manifest.json
  script/configs/allowed_unpinned_deps.yaml
Labels: waiting for tree to go green, autosubmit, platform-web, p: shared_preferences

#8473 Manual roll Flutter from b9e86a565f92 to eb6af3d029b7 (13 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#8422 [camera] Add API support query for image streaming (app-facing)
  packages/camera/camera/CHANGELOG.md
  packages/camera/camera/lib/src/camera_controller.dart
  packages/camera/camera/pubspec.yaml
  packages/camera/camera/test/camera_image_stream_test.dart
  packages/camera/camera/test/camera_preview_test.dart
Labels: autosubmit, p: camera

#8482 Manual roll Flutter from b9e86a565f92 to b2f515f45ef5 (42 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#8379 [video_player] Activate leak testing
  packages/video_player/video_player/pubspec.yaml
  packages/video_player/video_player/test/flutter_test_config.dart
  packages/video_player/video_player/test/video_player_test.dart
Labels: autosubmit, override: no versioning needed, override: no changelog needed, p: video_player, a: leak tracking

#8370 [rfw] Activate leak testing
  packages/rfw/pubspec.yaml
  packages/rfw/test/argument_decoders_test.dart
  packages/rfw/test/core_widgets_test.dart
  packages/rfw/test/flutter_test_config.dart
  packages/rfw/test/material_widgets_test.dart
  packages/rfw/test/readme_test.dart
  packages/rfw/test/remote_widget_test.dart
  packages/rfw/test/runtime_test.dart
  packages/rfw/test/source_locations_test.dart
Labels: p: rfw, autosubmit, override: no versioning needed, override: no changelog needed

#8487 [image_picker] Reference alternate macOS implementations
  packages/image_picker/image_picker_macos/CHANGELOG.md
  packages/image_picker/image_picker_macos/README.md
  packages/image_picker/image_picker_macos/pubspec.yaml
Labels: autosubmit, p: image_picker, platform-macos

#8463 [in_app_purchase] Update in_app_purchase_android version in in_app_purchase
  packages/in_app_purchase/in_app_purchase/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase/README.md
  packages/in_app_purchase/in_app_purchase/example/lib/main.dart
  packages/in_app_purchase/in_app_purchase/example/pubspec.yaml
  packages/in_app_purchase/in_app_purchase/pubspec.yaml
Labels: autosubmit, p: in_app_purchase

#8232 [go _route] fragment parameter added
  packages/go_router/CHANGELOG.md
  packages/go_router/lib/src/configuration.dart
  packages/go_router/lib/src/misc/extensions.dart
  packages/go_router/lib/src/router.dart
  packages/go_router/lib/src/state.dart
  packages/go_router/pubspec.yaml
  packages/go_router/test/go_route_test.dart
  packages/go_router/test/test_helpers.dart
Labels: p: go_router

#8483 [pigeon] fixes event channel dart instance name usage and adds test
  packages/pigeon/CHANGELOG.md
  packages/pigeon/example/app/lib/src/event_channel_messages.g.dart
  packages/pigeon/lib/dart_generator.dart
  packages/pigeon/lib/generator_tools.dart
  packages/pigeon/pigeons/event_channel_tests.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/integration_tests.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/event_channel_tests.gen.dart
  packages/pigeon/platform_tests/test_plugin/android/src/main/kotlin/com/example/test_plugin/EventChannelTests.gen.kt
  packages/pigeon/platform_tests/test_plugin/android/src/main/kotlin/com/example/test_plugin/TestPlugin.kt
  packages/pigeon/platform_tests/test_plugin/ios/Classes/EventChannelTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/ios/Classes/TestPlugin.swift
  packages/pigeon/platform_tests/test_plugin/macos/Classes/EventChannelTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/macos/Classes/TestPlugin.swift
  packages/pigeon/pubspec.yaml
Labels: p: pigeon, autosubmit, platform-android, platform-ios, platform-macos

#8491 Manual roll Flutter from b2f515f45ef5 to c1561a41c530 (18 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#8173 [go_router] Fix return type of current state getter to be non-nullable
  packages/go_router/CHANGELOG.md
  packages/go_router/lib/src/delegate.dart
  packages/go_router/lib/src/router.dart
  packages/go_router/pubspec.yaml
  packages/go_router/test/go_router_test.dart
Labels: p: go_router, autosubmit

#8493 Revert "[shared_preferences] Add shared preferences devtool"
  CODEOWNERS
  packages/shared_preferences/shared_preferences/CHANGELOG.md
  packages/shared_preferences/shared_preferences/extension/devtools/.gitignore
  packages/shared_preferences/shared_preferences/extension/devtools/.pubignore
  packages/shared_preferences/shared_preferences/extension/devtools/config.yaml
  packages/shared_preferences/shared_preferences/lib/src/shared_preferences_async.dart
  packages/shared_preferences/shared_preferences/lib/src/shared_preferences_devtools_extension_data.dart
  packages/shared_preferences/shared_preferences/lib/src/shared_preferences_legacy.dart
  packages/shared_preferences/shared_preferences/pubspec.yaml
  packages/shared_preferences/shared_preferences/test/shared_preferences_devtools_extension_data_test.dart
  packages/shared_preferences/shared_preferences/tool/pre_publish.dart
  packages/shared_preferences/shared_preferences_tool/LICENSE
  packages/shared_preferences/shared_preferences_tool/README.md
  packages/shared_preferences/shared_preferences_tool/lib/main.dart
  packages/shared_preferences/shared_preferences_tool/lib/src/async_state.dart
  packages/shared_preferences/shared_preferences_tool/lib/src/shared_preferences_state.dart
  packages/shared_preferences/shared_preferences_tool/lib/src/shared_preferences_state_notifier.dart
  packages/shared_preferences/shared_preferences_tool/lib/src/shared_preferences_state_provider.dart
  packages/shared_preferences/shared_preferences_tool/lib/src/shared_preferences_tool_eval.dart
  packages/shared_preferences/shared_preferences_tool/lib/src/ui/api_switch.dart
  packages/shared_preferences/shared_preferences_tool/lib/src/ui/data_panel.dart
  packages/shared_preferences/shared_preferences_tool/lib/src/ui/error_panel.dart
  packages/shared_preferences/shared_preferences_tool/lib/src/ui/keys_panel.dart
  packages/shared_preferences/shared_preferences_tool/lib/src/ui/shared_preferences_body.dart
  packages/shared_preferences/shared_preferences_tool/pubspec.yaml
  packages/shared_preferences/shared_preferences_tool/test/src/shared_preferences_state_notifier_test.dart
  packages/shared_preferences/shared_preferences_tool/test/src/shared_preferences_state_notifier_test.mocks.dart
  packages/shared_preferences/shared_preferences_tool/test/src/shared_preferences_state_test.dart
  packages/shared_preferences/shared_preferences_tool/test/src/shared_preferences_tool_eval_test.dart
  packages/shared_preferences/shared_preferences_tool/test/src/ui/data_panel_test.dart
  packages/shared_preferences/shared_preferences_tool/test/src/ui/error_panel_test.dart
  packages/shared_preferences/shared_preferences_tool/test/src/ui/keys_panel_test.dart
  packages/shared_preferences/shared_preferences_tool/test/src/ui/shared_preferences_body_test.dart
  packages/shared_preferences/shared_preferences_tool/test/test_helpers/notifier_mocking_helpers.dart
  packages/shared_preferences/shared_preferences_tool/test/test_helpers/notifier_mocking_helpers.mocks.dart
  packages/shared_preferences/shared_preferences_tool/web/index.html
  packages/shared_preferences/shared_preferences_tool/web/manifest.json
  script/configs/allowed_unpinned_deps.yaml
Labels: autosubmit, platform-web, p: shared_preferences

#8229 [shared_preferences] Tool for migrating from legacy shared_preferences to shared_preferences_async
  packages/shared_preferences/shared_preferences/CHANGELOG.md
  packages/shared_preferences/shared_preferences/README.md
  packages/shared_preferences/shared_preferences/example/integration_test/shared_preferences_migration_util_test.dart
  packages/shared_preferences/shared_preferences/example/lib/main.dart
  packages/shared_preferences/shared_preferences/example/pubspec.yaml
  packages/shared_preferences/shared_preferences/lib/src/shared_preferences_legacy.dart
  packages/shared_preferences/shared_preferences/lib/util/legacy_to_async_migration_util.dart
  packages/shared_preferences/shared_preferences/pubspec.yaml
Labels: autosubmit, p: shared_preferences

#8351 [camera] Remove OCMock from CameraExposureTests and CameraFocusTests
  packages/camera/camera_avfoundation/CHANGELOG.md
  packages/camera/camera_avfoundation/example/ios/Runner.xcodeproj/project.pbxproj
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraExposureTests.m
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraFocusTests.m
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraOrientationTests.m
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraPreviewPauseTests.m
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraSettingsTests.m
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraTestUtils.h
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraTestUtils.m
  packages/camera/camera_avfoundation/example/ios/RunnerTests/FLTCamPhotoCaptureTests.m
  packages/camera/camera_avfoundation/example/ios/RunnerTests/MockCaptureDeviceController.h
  packages/camera/camera_avfoundation/example/ios/RunnerTests/MockCaptureDeviceController.m
  packages/camera/camera_avfoundation/example/ios/RunnerTests/MockDeviceOrientationProvider.h
  packages/camera/camera_avfoundation/example/ios/RunnerTests/MockDeviceOrientationProvider.m
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/FLTCam.m
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/FLTCamMediaSettingsAVWrapper.m
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/FLTCaptureDeviceControlling.m
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/FLTDeviceOrientationProviding.m
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/include/CameraPlugin.modulemap
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/include/camera_avfoundation/FLTCam.h
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/include/camera_avfoundation/FLTCamMediaSettingsAVWrapper.h
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/include/camera_avfoundation/FLTCam_Test.h
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/include/camera_avfoundation/FLTCaptureDeviceControlling.h
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/include/camera_avfoundation/FLTDeviceOrientationProviding.h
  packages/camera/camera_avfoundation/pubspec.yaml
Labels: autosubmit, p: camera, platform-ios, platform-macos

#8216 [ios_platform_images] Switch to `loadImage`
  packages/ios_platform_images/CHANGELOG.md
  packages/ios_platform_images/lib/ios_platform_images.dart
  packages/ios_platform_images/pubspec.yaml
Labels: autosubmit, p: ios_platform_images, triage-ios

#8498 Manual roll Flutter from c1561a41c530 to c1ffaa9d9deb (21 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#8335 [shared_preferences] update List<String> encode/decode
  packages/shared_preferences/shared_preferences_android/CHANGELOG.md
  packages/shared_preferences/shared_preferences_android/android/src/main/java/io/flutter/plugins/sharedpreferences/LegacySharedPreferencesPlugin.java
  packages/shared_preferences/shared_preferences_android/android/src/main/java/io/flutter/plugins/sharedpreferences/Messages.java
  packages/shared_preferences/shared_preferences_android/android/src/main/kotlin/io/flutter/plugins/sharedpreferences/MessagesAsync.g.kt
  packages/shared_preferences/shared_preferences_android/android/src/main/kotlin/io/flutter/plugins/sharedpreferences/SharedPreferencesPlugin.kt
  packages/shared_preferences/shared_preferences_android/android/src/test/java/io/flutter/plugins/sharedpreferences/LegacySharedPreferencesTest.java
  packages/shared_preferences/shared_preferences_android/android/src/test/kotlin/io/flutter/plugins/sharedpreferences/SharedPreferencesTest.kt
  packages/shared_preferences/shared_preferences_android/example/integration_test/shared_preferences_test.dart
  packages/shared_preferences/shared_preferences_android/lib/src/messages.g.dart
  packages/shared_preferences/shared_preferences_android/lib/src/messages_async.g.dart
  packages/shared_preferences/shared_preferences_android/lib/src/shared_preferences_android.dart
  packages/shared_preferences/shared_preferences_android/lib/src/shared_preferences_async_android.dart
  packages/shared_preferences/shared_preferences_android/lib/src/strings.dart
  packages/shared_preferences/shared_preferences_android/pigeons/messages.dart
  packages/shared_preferences/shared_preferences_android/pigeons/messages_async.dart
  packages/shared_preferences/shared_preferences_android/pubspec.yaml
  packages/shared_preferences/shared_preferences_android/test/shared_preferences_android_test.dart
  packages/shared_preferences/shared_preferences_android/test/shared_preferences_async_test.dart
Labels: autosubmit, platform-android, p: shared_preferences

#8494 [shared_preferences] Add shared preferences devtool
  .github/workflows/release.yml
  CODEOWNERS
  packages/shared_preferences/shared_preferences/CHANGELOG.md
  packages/shared_preferences/shared_preferences/extension/devtools/.gitignore
  packages/shared_preferences/shared_preferences/extension/devtools/.pubignore
  packages/shared_preferences/shared_preferences/extension/devtools/config.yaml
  packages/shared_preferences/shared_preferences/lib/src/shared_preferences_async.dart
  packages/shared_preferences/shared_preferences/lib/src/shared_preferences_devtools_extension_data.dart
  packages/shared_preferences/shared_preferences/lib/src/shared_preferences_legacy.dart
  packages/shared_preferences/shared_preferences/pubspec.yaml
  packages/shared_preferences/shared_preferences/test/shared_preferences_devtools_extension_data_test.dart
  packages/shared_preferences/shared_preferences/tool/pre_publish.dart
  packages/shared_preferences/shared_preferences_tool/LICENSE
  packages/shared_preferences/shared_preferences_tool/README.md
  packages/shared_preferences/shared_preferences_tool/lib/main.dart
  packages/shared_preferences/shared_preferences_tool/lib/src/async_state.dart
  packages/shared_preferences/shared_preferences_tool/lib/src/shared_preferences_state.dart
  packages/shared_preferences/shared_preferences_tool/lib/src/shared_preferences_state_notifier.dart
  packages/shared_preferences/shared_preferences_tool/lib/src/shared_preferences_state_provider.dart
  packages/shared_preferences/shared_preferences_tool/lib/src/shared_preferences_tool_eval.dart
  packages/shared_preferences/shared_preferences_tool/lib/src/ui/api_switch.dart
  packages/shared_preferences/shared_preferences_tool/lib/src/ui/data_panel.dart
  packages/shared_preferences/shared_preferences_tool/lib/src/ui/error_panel.dart
  packages/shared_preferences/shared_preferences_tool/lib/src/ui/keys_panel.dart
  packages/shared_preferences/shared_preferences_tool/lib/src/ui/shared_preferences_body.dart
  packages/shared_preferences/shared_preferences_tool/pubspec.yaml
  packages/shared_preferences/shared_preferences_tool/test/src/shared_preferences_state_notifier_test.dart
  packages/shared_preferences/shared_preferences_tool/test/src/shared_preferences_state_notifier_test.mocks.dart
  packages/shared_preferences/shared_preferences_tool/test/src/shared_preferences_state_test.dart
  packages/shared_preferences/shared_preferences_tool/test/src/shared_preferences_tool_eval_test.dart
  packages/shared_preferences/shared_preferences_tool/test/src/ui/data_panel_test.dart
  packages/shared_preferences/shared_preferences_tool/test/src/ui/error_panel_test.dart
  packages/shared_preferences/shared_preferences_tool/test/src/ui/keys_panel_test.dart
  packages/shared_preferences/shared_preferences_tool/test/src/ui/shared_preferences_body_test.dart
  packages/shared_preferences/shared_preferences_tool/test/test_helpers/notifier_mocking_helpers.dart
  packages/shared_preferences/shared_preferences_tool/test/test_helpers/notifier_mocking_helpers.mocks.dart
  packages/shared_preferences/shared_preferences_tool/web/index.html
  packages/shared_preferences/shared_preferences_tool/web/manifest.json
  script/configs/allowed_unpinned_deps.yaml
Labels: platform-web, p: shared_preferences

#8512 [shared_preferences] Fix Android type mismatch regression
  packages/shared_preferences/shared_preferences_android/CHANGELOG.md
  packages/shared_preferences/shared_preferences_android/android/src/main/kotlin/io/flutter/plugins/sharedpreferences/MessagesAsync.g.kt
  packages/shared_preferences/shared_preferences_android/android/src/main/kotlin/io/flutter/plugins/sharedpreferences/SharedPreferencesPlugin.kt
  packages/shared_preferences/shared_preferences_android/android/src/test/kotlin/io/flutter/plugins/sharedpreferences/SharedPreferencesTest.kt
  packages/shared_preferences/shared_preferences_android/example/integration_test/shared_preferences_test.dart
  packages/shared_preferences/shared_preferences_android/lib/src/messages_async.g.dart
  packages/shared_preferences/shared_preferences_android/lib/src/shared_preferences_async_android.dart
  packages/shared_preferences/shared_preferences_android/pigeons/messages_async.dart
  packages/shared_preferences/shared_preferences_android/pubspec.yaml
  packages/shared_preferences/shared_preferences_android/test/shared_preferences_async_test.dart
Labels: emergency, platform-android, p: shared_preferences

#8390 [multicast_dns] Rewrite `_readFQDN` to avoid recursion
  packages/multicast_dns/CHANGELOG.md
  packages/multicast_dns/lib/src/packet.dart
  packages/multicast_dns/pubspec.yaml
  packages/multicast_dns/test/decode_test.dart
Labels: p: multicast_dns, autosubmit

#8453 [video_player_platform_interface] Platform view support
  packages/video_player/video_player/test/video_player_test.dart
  packages/video_player/video_player_android/lib/src/android_video_player.dart
  packages/video_player/video_player_avfoundation/lib/src/avfoundation_video_player.dart
  packages/video_player/video_player_platform_interface/CHANGELOG.md
  packages/video_player/video_player_platform_interface/lib/video_player_platform_interface.dart
  packages/video_player/video_player_platform_interface/pubspec.yaml
  packages/video_player/video_player_web/lib/video_player_web.dart
Labels: autosubmit, override: no versioning needed, override: no changelog needed, platform-android, platform-ios, platform-macos, platform-web, p: video_player

#8502 update the `const` in StatefulShellRouteData generation
  packages/go_router_builder/CHANGELOG.md
  packages/go_router_builder/lib/src/route_config.dart
  packages/go_router_builder/pubspec.yaml
  packages/go_router_builder/test_inputs/stateful_shell_branch_data.dart
  packages/go_router_builder/test_inputs/stateful_shell_branch_data.dart.expect
  packages/go_router_builder/test_inputs/stateful_shell_branch_with_observers_data.dart
  packages/go_router_builder/test_inputs/stateful_shell_branch_with_observers_data.dart.expect
  packages/go_router_builder/test_inputs/stateful_shell_route_data.dart
  packages/go_router_builder/test_inputs/stateful_shell_route_data.dart.expect
Labels: p: go_router_builder, autosubmit

#8515 Revert "[shared_preferences] Add shared preferences devtool"
  .github/workflows/release.yml
  CODEOWNERS
  packages/shared_preferences/shared_preferences/CHANGELOG.md
  packages/shared_preferences/shared_preferences/extension/devtools/.gitignore
  packages/shared_preferences/shared_preferences/extension/devtools/.pubignore
  packages/shared_preferences/shared_preferences/extension/devtools/config.yaml
  packages/shared_preferences/shared_preferences/lib/src/shared_preferences_async.dart
  packages/shared_preferences/shared_preferences/lib/src/shared_preferences_devtools_extension_data.dart
  packages/shared_preferences/shared_preferences/lib/src/shared_preferences_legacy.dart
  packages/shared_preferences/shared_preferences/pubspec.yaml
  packages/shared_preferences/shared_preferences/test/shared_preferences_devtools_extension_data_test.dart
  packages/shared_preferences/shared_preferences/tool/pre_publish.dart
  packages/shared_preferences/shared_preferences_tool/LICENSE
  packages/shared_preferences/shared_preferences_tool/README.md
  packages/shared_preferences/shared_preferences_tool/lib/main.dart
  packages/shared_preferences/shared_preferences_tool/lib/src/async_state.dart
  packages/shared_preferences/shared_preferences_tool/lib/src/shared_preferences_state.dart
  packages/shared_preferences/shared_preferences_tool/lib/src/shared_preferences_state_notifier.dart
  packages/shared_preferences/shared_preferences_tool/lib/src/shared_preferences_state_provider.dart
  packages/shared_preferences/shared_preferences_tool/lib/src/shared_preferences_tool_eval.dart
  packages/shared_preferences/shared_preferences_tool/lib/src/ui/api_switch.dart
  packages/shared_preferences/shared_preferences_tool/lib/src/ui/data_panel.dart
  packages/shared_preferences/shared_preferences_tool/lib/src/ui/error_panel.dart
  packages/shared_preferences/shared_preferences_tool/lib/src/ui/keys_panel.dart
  packages/shared_preferences/shared_preferences_tool/lib/src/ui/shared_preferences_body.dart
  packages/shared_preferences/shared_preferences_tool/pubspec.yaml
  packages/shared_preferences/shared_preferences_tool/test/src/shared_preferences_state_notifier_test.dart
  packages/shared_preferences/shared_preferences_tool/test/src/shared_preferences_state_notifier_test.mocks.dart
  packages/shared_preferences/shared_preferences_tool/test/src/shared_preferences_state_test.dart
  packages/shared_preferences/shared_preferences_tool/test/src/shared_preferences_tool_eval_test.dart
  packages/shared_preferences/shared_preferences_tool/test/src/ui/data_panel_test.dart
  packages/shared_preferences/shared_preferences_tool/test/src/ui/error_panel_test.dart
  packages/shared_preferences/shared_preferences_tool/test/src/ui/keys_panel_test.dart
  packages/shared_preferences/shared_preferences_tool/test/src/ui/shared_preferences_body_test.dart
  packages/shared_preferences/shared_preferences_tool/test/test_helpers/notifier_mocking_helpers.dart
  packages/shared_preferences/shared_preferences_tool/test/test_helpers/notifier_mocking_helpers.mocks.dart
  packages/shared_preferences/shared_preferences_tool/web/index.html
  packages/shared_preferences/shared_preferences_tool/web/manifest.json
  script/configs/allowed_unpinned_deps.yaml
Labels: autosubmit, platform-web, p: shared_preferences

#8373 [vector_graphics] Fix memory leaks and activate leak testing [prod-leak-fix]
  packages/vector_graphics/CHANGELOG.md
  packages/vector_graphics/lib/src/listener.dart
  packages/vector_graphics/lib/src/render_vector_graphic.dart
  packages/vector_graphics/lib/src/vector_graphics.dart
  packages/vector_graphics/pubspec.yaml
  packages/vector_graphics/test/flutter_test_config.dart
  packages/vector_graphics/test/vector_graphics_test.dart
Labels: autosubmit, p: vector_graphics, a: leak tracking

#8519 Re-land [shared_preferences] Add shared preferences devtool
  .github/workflows/release.yml
  CODEOWNERS
  packages/shared_preferences/shared_preferences/CHANGELOG.md
  packages/shared_preferences/shared_preferences/extension/devtools/.gitignore
  packages/shared_preferences/shared_preferences/extension/devtools/.pubignore
  packages/shared_preferences/shared_preferences/extension/devtools/config.yaml
  packages/shared_preferences/shared_preferences/lib/src/shared_preferences_async.dart
  packages/shared_preferences/shared_preferences/lib/src/shared_preferences_devtools_extension_data.dart
  packages/shared_preferences/shared_preferences/lib/src/shared_preferences_legacy.dart
  packages/shared_preferences/shared_preferences/pubspec.yaml
  packages/shared_preferences/shared_preferences/test/shared_preferences_devtools_extension_data_test.dart
  packages/shared_preferences/shared_preferences/tool/pre_publish.dart
  packages/shared_preferences/shared_preferences_tool/LICENSE
  packages/shared_preferences/shared_preferences_tool/README.md
  packages/shared_preferences/shared_preferences_tool/lib/main.dart
  packages/shared_preferences/shared_preferences_tool/lib/src/async_state.dart
  packages/shared_preferences/shared_preferences_tool/lib/src/shared_preferences_state.dart
  packages/shared_preferences/shared_preferences_tool/lib/src/shared_preferences_state_notifier.dart
  packages/shared_preferences/shared_preferences_tool/lib/src/shared_preferences_state_provider.dart
  packages/shared_preferences/shared_preferences_tool/lib/src/shared_preferences_tool_eval.dart
  packages/shared_preferences/shared_preferences_tool/lib/src/ui/api_switch.dart
  packages/shared_preferences/shared_preferences_tool/lib/src/ui/data_panel.dart
  packages/shared_preferences/shared_preferences_tool/lib/src/ui/error_panel.dart
  packages/shared_preferences/shared_preferences_tool/lib/src/ui/keys_panel.dart
  packages/shared_preferences/shared_preferences_tool/lib/src/ui/shared_preferences_body.dart
  packages/shared_preferences/shared_preferences_tool/pubspec.yaml
  packages/shared_preferences/shared_preferences_tool/test/src/shared_preferences_state_notifier_test.dart
  packages/shared_preferences/shared_preferences_tool/test/src/shared_preferences_state_notifier_test.mocks.dart
  packages/shared_preferences/shared_preferences_tool/test/src/shared_preferences_state_test.dart
  packages/shared_preferences/shared_preferences_tool/test/src/shared_preferences_tool_eval_test.dart
  packages/shared_preferences/shared_preferences_tool/test/src/ui/data_panel_test.dart
  packages/shared_preferences/shared_preferences_tool/test/src/ui/error_panel_test.dart
  packages/shared_preferences/shared_preferences_tool/test/src/ui/keys_panel_test.dart
  packages/shared_preferences/shared_preferences_tool/test/src/ui/shared_preferences_body_test.dart
  packages/shared_preferences/shared_preferences_tool/test/test_helpers/notifier_mocking_helpers.dart
  packages/shared_preferences/shared_preferences_tool/test/test_helpers/notifier_mocking_helpers.mocks.dart
  packages/shared_preferences/shared_preferences_tool/web/index.html
  packages/shared_preferences/shared_preferences_tool/web/manifest.json
  script/configs/allowed_unpinned_deps.yaml
Labels: autosubmit, platform-web, p: shared_preferences

#8513 [tool] Refactor args of strings or YAML file lists
  script/configs/README.md
  script/configs/dart_unit_tests_wasm_exceptions.yaml
  script/configs/exclude_all_packages_app_wasm.yaml
  script/configs/exclude_integration_web_wasm.yaml
  script/tool/lib/src/analyze_command.dart
  script/tool/lib/src/common/package_command.dart
  script/tool/lib/src/pubspec_check_command.dart
  script/tool/test/common/package_command_test.dart
Labels: autosubmit

#8521 [go_router_builder] Fixes trailing `?` by comparing iterables
  packages/go_router_builder/CHANGELOG.md
  packages/go_router_builder/example/lib/all_types.g.dart
  packages/go_router_builder/example/test/location_test.dart
  packages/go_router_builder/lib/src/route_config.dart
  packages/go_router_builder/lib/src/type_helpers.dart
  packages/go_router_builder/pubspec.yaml
  packages/go_router_builder/test_inputs/iterable_with_default_value.dart.expect
  packages/go_router_builder/test_inputs/list.dart.expect
  packages/go_router_builder/test_inputs/set.dart.expect
Labels: p: go_router_builder, autosubmit

#8529 Revert "Re-land [shared_preferences] Add shared preferences devtool"
  .github/workflows/release.yml
  CODEOWNERS
  packages/shared_preferences/shared_preferences/CHANGELOG.md
  packages/shared_preferences/shared_preferences/extension/devtools/.gitignore
  packages/shared_preferences/shared_preferences/extension/devtools/.pubignore
  packages/shared_preferences/shared_preferences/extension/devtools/config.yaml
  packages/shared_preferences/shared_preferences/lib/src/shared_preferences_async.dart
  packages/shared_preferences/shared_preferences/lib/src/shared_preferences_devtools_extension_data.dart
  packages/shared_preferences/shared_preferences/lib/src/shared_preferences_legacy.dart
  packages/shared_preferences/shared_preferences/pubspec.yaml
  packages/shared_preferences/shared_preferences/test/shared_preferences_devtools_extension_data_test.dart
  packages/shared_preferences/shared_preferences/tool/pre_publish.dart
  packages/shared_preferences/shared_preferences_tool/LICENSE
  packages/shared_preferences/shared_preferences_tool/README.md
  packages/shared_preferences/shared_preferences_tool/lib/main.dart
  packages/shared_preferences/shared_preferences_tool/lib/src/async_state.dart
  packages/shared_preferences/shared_preferences_tool/lib/src/shared_preferences_state.dart
  packages/shared_preferences/shared_preferences_tool/lib/src/shared_preferences_state_notifier.dart
  packages/shared_preferences/shared_preferences_tool/lib/src/shared_preferences_state_provider.dart
  packages/shared_preferences/shared_preferences_tool/lib/src/shared_preferences_tool_eval.dart
  packages/shared_preferences/shared_preferences_tool/lib/src/ui/api_switch.dart
  packages/shared_preferences/shared_preferences_tool/lib/src/ui/data_panel.dart
  packages/shared_preferences/shared_preferences_tool/lib/src/ui/error_panel.dart
  packages/shared_preferences/shared_preferences_tool/lib/src/ui/keys_panel.dart
  packages/shared_preferences/shared_preferences_tool/lib/src/ui/shared_preferences_body.dart
  packages/shared_preferences/shared_preferences_tool/pubspec.yaml
  packages/shared_preferences/shared_preferences_tool/test/src/shared_preferences_state_notifier_test.dart
  packages/shared_preferences/shared_preferences_tool/test/src/shared_preferences_state_notifier_test.mocks.dart
  packages/shared_preferences/shared_preferences_tool/test/src/shared_preferences_state_test.dart
  packages/shared_preferences/shared_preferences_tool/test/src/shared_preferences_tool_eval_test.dart
  packages/shared_preferences/shared_preferences_tool/test/src/ui/data_panel_test.dart
  packages/shared_preferences/shared_preferences_tool/test/src/ui/error_panel_test.dart
  packages/shared_preferences/shared_preferences_tool/test/src/ui/keys_panel_test.dart
  packages/shared_preferences/shared_preferences_tool/test/src/ui/shared_preferences_body_test.dart
  packages/shared_preferences/shared_preferences_tool/test/test_helpers/notifier_mocking_helpers.dart
  packages/shared_preferences/shared_preferences_tool/test/test_helpers/notifier_mocking_helpers.mocks.dart
  packages/shared_preferences/shared_preferences_tool/web/index.html
  packages/shared_preferences/shared_preferences_tool/web/manifest.json
  script/configs/allowed_unpinned_deps.yaml
Labels: platform-web, p: shared_preferences

#8469 [in_app_purchase_storekit] Add Swift Package Manager compatibility
  packages/in_app_purchase/in_app_purchase_storekit/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_storekit/darwin/Classes/in_app_purchase_storekit-Bridging-Header.h
  packages/in_app_purchase/in_app_purchase_storekit/darwin/in_app_purchase_storekit.podspec
  packages/in_app_purchase/in_app_purchase_storekit/darwin/in_app_purchase_storekit/Package.swift
  packages/in_app_purchase/in_app_purchase_storekit/darwin/in_app_purchase_storekit/Sources/in_app_purchase_storekit/InAppPurchasePlugin.swift
  packages/in_app_purchase/in_app_purchase_storekit/darwin/in_app_purchase_storekit/Sources/in_app_purchase_storekit/Resources/PrivacyInfo.xcprivacy
  packages/in_app_purchase/in_app_purchase_storekit/darwin/in_app_purchase_storekit/Sources/in_app_purchase_storekit/StoreKit2/InAppPurchasePlugin+StoreKit2.swift
  packages/in_app_purchase/in_app_purchase_storekit/darwin/in_app_purchase_storekit/Sources/in_app_purchase_storekit/StoreKit2/StoreKit2Translators.swift
  packages/in_app_purchase/in_app_purchase_storekit/darwin/in_app_purchase_storekit/Sources/in_app_purchase_storekit/StoreKit2/sk2_pigeon.g.swift
  packages/in_app_purchase/in_app_purchase_storekit/darwin/in_app_purchase_storekit/Sources/in_app_purchase_storekit_objc/FIAObjectTranslator.m
  packages/in_app_purchase/in_app_purchase_storekit/darwin/in_app_purchase_storekit/Sources/in_app_purchase_storekit_objc/FIAPPaymentQueueDelegate.m
  packages/in_app_purchase/in_app_purchase_storekit/darwin/in_app_purchase_storekit/Sources/in_app_purchase_storekit_objc/FIAPReceiptManager.m
  packages/in_app_purchase/in_app_purchase_storekit/darwin/in_app_purchase_storekit/Sources/in_app_purchase_storekit_objc/FIAPRequestHandler.m
  packages/in_app_purchase/in_app_purchase_storekit/darwin/in_app_purchase_storekit/Sources/in_app_purchase_storekit_objc/FIAPaymentQueueHandler.m
  packages/in_app_purchase/in_app_purchase_storekit/darwin/in_app_purchase_storekit/Sources/in_app_purchase_storekit_objc/FIATransactionCache.m
  packages/in_app_purchase/in_app_purchase_storekit/darwin/in_app_purchase_storekit/Sources/in_app_purchase_storekit_objc/Protocols/FLTMethodChannelProtocol.m
  packages/in_app_purchase/in_app_purchase_storekit/darwin/in_app_purchase_storekit/Sources/in_app_purchase_storekit_objc/Protocols/FLTPaymentQueueProtocol.m
  packages/in_app_purchase/in_app_purchase_storekit/darwin/in_app_purchase_storekit/Sources/in_app_purchase_storekit_objc/Protocols/FLTRequestHandlerProtocol.m
  packages/in_app_purchase/in_app_purchase_storekit/darwin/in_app_purchase_storekit/Sources/in_app_purchase_storekit_objc/Protocols/FLTTransactionCacheProtocol.m
  packages/in_app_purchase/in_app_purchase_storekit/darwin/in_app_purchase_storekit/Sources/in_app_purchase_storekit_objc/include/in_app_purchase_storekit_objc/FIAObjectTranslator.h
  packages/in_app_purchase/in_app_purchase_storekit/darwin/in_app_purchase_storekit/Sources/in_app_purchase_storekit_objc/include/in_app_purchase_storekit_objc/FIAPPaymentQueueDelegate.h
  packages/in_app_purchase/in_app_purchase_storekit/darwin/in_app_purchase_storekit/Sources/in_app_purchase_storekit_objc/include/in_app_purchase_storekit_objc/FIAPReceiptManager.h
  packages/in_app_purchase/in_app_purchase_storekit/darwin/in_app_purchase_storekit/Sources/in_app_purchase_storekit_objc/include/in_app_purchase_storekit_objc/FIAPRequestHandler.h
  packages/in_app_purchase/in_app_purchase_storekit/darwin/in_app_purchase_storekit/Sources/in_app_purchase_storekit_objc/include/in_app_purchase_storekit_objc/FIAPaymentQueueHandler.h
  packages/in_app_purchase/in_app_purchase_storekit/darwin/in_app_purchase_storekit/Sources/in_app_purchase_storekit_objc/include/in_app_purchase_storekit_objc/FIATransactionCache.h
  packages/in_app_purchase/in_app_purchase_storekit/darwin/in_app_purchase_storekit/Sources/in_app_purchase_storekit_objc/include/in_app_purchase_storekit_objc/FLTMethodChannelProtocol.h
  packages/in_app_purchase/in_app_purchase_storekit/darwin/in_app_purchase_storekit/Sources/in_app_purchase_storekit_objc/include/in_app_purchase_storekit_objc/FLTPaymentQueueHandlerProtocol.h
  packages/in_app_purchase/in_app_purchase_storekit/darwin/in_app_purchase_storekit/Sources/in_app_purchase_storekit_objc/include/in_app_purchase_storekit_objc/FLTPaymentQueueProtocol.h
  packages/in_app_purchase/in_app_purchase_storekit/darwin/in_app_purchase_storekit/Sources/in_app_purchase_storekit_objc/include/in_app_purchase_storekit_objc/FLTRequestHandlerProtocol.h
  packages/in_app_purchase/in_app_purchase_storekit/darwin/in_app_purchase_storekit/Sources/in_app_purchase_storekit_objc/include/in_app_purchase_storekit_objc/FLTTransactionCacheProtocol.h
  packages/in_app_purchase/in_app_purchase_storekit/darwin/in_app_purchase_storekit/Sources/in_app_purchase_storekit_objc/include/in_app_purchase_storekit_objc/in_app_purchase_storekit.h
  packages/in_app_purchase/in_app_purchase_storekit/darwin/in_app_purchase_storekit/Sources/in_app_purchase_storekit_objc/include/in_app_purchase_storekit_objc/messages.g.h
  packages/in_app_purchase/in_app_purchase_storekit/darwin/in_app_purchase_storekit/Sources/in_app_purchase_storekit_objc/messages.g.m
  packages/in_app_purchase/in_app_purchase_storekit/example/shared/RunnerTests/Stubs.h
  packages/in_app_purchase/in_app_purchase_storekit/lib/src/messages.g.dart
  packages/in_app_purchase/in_app_purchase_storekit/lib/src/sk2_pigeon.g.dart
  packages/in_app_purchase/in_app_purchase_storekit/pigeons/messages.dart
  packages/in_app_purchase/in_app_purchase_storekit/pigeons/sk2_pigeon.dart
  packages/in_app_purchase/in_app_purchase_storekit/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_storekit/test/sk2_test_api.g.dart
  packages/in_app_purchase/in_app_purchase_storekit/test/test_api.g.dart
Labels: autosubmit, p: in_app_purchase, platform-ios, platform-macos, triage-ios

#8531 Re-land [shared_preferences] Add shared preferences devtool
  .github/workflows/release.yml
  CODEOWNERS
  packages/shared_preferences/shared_preferences/CHANGELOG.md
  packages/shared_preferences/shared_preferences/extension/devtools/.gitignore
  packages/shared_preferences/shared_preferences/extension/devtools/.pubignore
  packages/shared_preferences/shared_preferences/extension/devtools/config.yaml
  packages/shared_preferences/shared_preferences/lib/src/shared_preferences_async.dart
  packages/shared_preferences/shared_preferences/lib/src/shared_preferences_devtools_extension_data.dart
  packages/shared_preferences/shared_preferences/lib/src/shared_preferences_legacy.dart
  packages/shared_preferences/shared_preferences/pubspec.yaml
  packages/shared_preferences/shared_preferences/test/shared_preferences_devtools_extension_data_test.dart
  packages/shared_preferences/shared_preferences/tool/pre_publish.dart
  packages/shared_preferences/shared_preferences_tool/LICENSE
  packages/shared_preferences/shared_preferences_tool/README.md
  packages/shared_preferences/shared_preferences_tool/lib/main.dart
  packages/shared_preferences/shared_preferences_tool/lib/src/async_state.dart
  packages/shared_preferences/shared_preferences_tool/lib/src/shared_preferences_state.dart
  packages/shared_preferences/shared_preferences_tool/lib/src/shared_preferences_state_notifier.dart
  packages/shared_preferences/shared_preferences_tool/lib/src/shared_preferences_state_provider.dart
  packages/shared_preferences/shared_preferences_tool/lib/src/shared_preferences_tool_eval.dart
  packages/shared_preferences/shared_preferences_tool/lib/src/ui/api_switch.dart
  packages/shared_preferences/shared_preferences_tool/lib/src/ui/data_panel.dart
  packages/shared_preferences/shared_preferences_tool/lib/src/ui/error_panel.dart
  packages/shared_preferences/shared_preferences_tool/lib/src/ui/keys_panel.dart
  packages/shared_preferences/shared_preferences_tool/lib/src/ui/shared_preferences_body.dart
  packages/shared_preferences/shared_preferences_tool/pubspec.yaml
  packages/shared_preferences/shared_preferences_tool/test/src/shared_preferences_state_notifier_test.dart
  packages/shared_preferences/shared_preferences_tool/test/src/shared_preferences_state_notifier_test.mocks.dart
  packages/shared_preferences/shared_preferences_tool/test/src/shared_preferences_state_test.dart
  packages/shared_preferences/shared_preferences_tool/test/src/shared_preferences_tool_eval_test.dart
  packages/shared_preferences/shared_preferences_tool/test/src/ui/data_panel_test.dart
  packages/shared_preferences/shared_preferences_tool/test/src/ui/error_panel_test.dart
  packages/shared_preferences/shared_preferences_tool/test/src/ui/keys_panel_test.dart
  packages/shared_preferences/shared_preferences_tool/test/src/ui/shared_preferences_body_test.dart
  packages/shared_preferences/shared_preferences_tool/test/test_helpers/notifier_mocking_helpers.dart
  packages/shared_preferences/shared_preferences_tool/test/test_helpers/notifier_mocking_helpers.mocks.dart
  packages/shared_preferences/shared_preferences_tool/web/index.html
  packages/shared_preferences/shared_preferences_tool/web/manifest.json
  script/configs/allowed_unpinned_deps.yaml
  script/tool/lib/src/publish_command.dart
Labels: autosubmit, platform-web, p: shared_preferences

#8530 [shared_preferences] Exposed SharedPreferencesOptions.
  packages/shared_preferences/shared_preferences/CHANGELOG.md
  packages/shared_preferences/shared_preferences/example/integration_test/shared_preferences_migration_util_test.dart
  packages/shared_preferences/shared_preferences/example/lib/main.dart
  packages/shared_preferences/shared_preferences/lib/shared_preferences.dart
  packages/shared_preferences/shared_preferences/lib/util/legacy_to_async_migration_util.dart
  packages/shared_preferences/shared_preferences/pubspec.yaml
Labels: autosubmit, p: shared_preferences

#8528 [video_player_web] Adjust Web implementation to the new platform interface
  packages/video_player/video_player_web/CHANGELOG.md
  packages/video_player/video_player_web/example/integration_test/video_player_web_test.dart
  packages/video_player/video_player_web/example/pubspec.yaml
  packages/video_player/video_player_web/lib/video_player_web.dart
  packages/video_player/video_player_web/pubspec.yaml
Labels: platform-web, p: video_player

#8527 Roll Flutter from c1ffaa9d9deb to b007899d3a7a (43 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#8534 Update CODEOWNERS for pkg:animations
  CODEOWNERS
Labels: autosubmit

#8526 [flutter_markdown] Allow tables to be scrollable with IntrinsicColumnWidth
  packages/flutter_markdown/CHANGELOG.md
  packages/flutter_markdown/lib/src/builder.dart
  packages/flutter_markdown/lib/src/style_sheet.dart
  packages/flutter_markdown/pubspec.yaml
  packages/flutter_markdown/test/scrollable_test.dart
  packages/flutter_markdown/test/table_test.dart
Labels: p: flutter_markdown, autosubmit

#8369 [in_app_purchase] Activate leak testing for android
  packages/in_app_purchase/in_app_purchase_android/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_android/test/flutter_test_config.dart
Labels: autosubmit, override: no versioning needed, override: no changelog needed, p: in_app_purchase, platform-android

#8539 [shared_preferences_tool] Loosen vm_service constraint to allow for 15
  packages/shared_preferences/shared_preferences_tool/pubspec.yaml
Labels: autosubmit, p: shared_preferences

#8544 [vector_graphics] Revert leak tracker change
  packages/vector_graphics/CHANGELOG.md
  packages/vector_graphics/lib/src/listener.dart
  packages/vector_graphics/lib/src/render_vector_graphic.dart
  packages/vector_graphics/lib/src/vector_graphics.dart
  packages/vector_graphics/pubspec.yaml
  packages/vector_graphics/test/flutter_test_config.dart
  packages/vector_graphics/test/vector_graphics_test.dart
Labels: autosubmit, p: vector_graphics

#8542 [tool] Ensure that injected dependency overrides are sorted
  script/tool/lib/src/make_deps_path_based_command.dart
  script/tool/test/make_deps_path_based_command_test.dart
Labels: autosubmit

#8524 [tool] Add --xcode-warnings-exceptions flag
  .ci/targets/ios_platform_tests.yaml
  .ci/targets/macos_platform_tests.yaml
  script/configs/xcode_warnings_exceptions.yaml
  script/tool/lib/src/native_test_command.dart
  script/tool/test/native_test_command_test.dart
Labels: autosubmit
