Repository flutter/packages, pull requests merged in 2025-03, with the labels that each got.

#8771 Roll Flutter from 2e570ca393c8 to 842db35d27b8 (59 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#8735 [google_sign_in] Add Android account name field as optional (platform interface changes)
  packages/google_sign_in/google_sign_in_platform_interface/CHANGELOG.md
  packages/google_sign_in/google_sign_in_platform_interface/lib/src/types.dart
  packages/google_sign_in/google_sign_in_platform_interface/pubspec.yaml
Labels: autosubmit, p: google_sign_in

#8760 [flutter_plugin_android_lifecycle] Uses flutter.compileSdkVersion, bumps minimum flutter version to 3.27
  packages/flutter_plugin_android_lifecycle/CHANGELOG.md
  packages/flutter_plugin_android_lifecycle/android/build.gradle
  packages/flutter_plugin_android_lifecycle/pubspec.yaml
Labels: autosubmit, p: flutter_plugin_android_lifecycle, platform-android

#8774 Roll Flutter from 842db35d27b8 to 04d39343a691 (4 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#8766 [webview_flutter_wkwebview] Fixes crash with nil `WKFrameInfo.request`
  packages/webview_flutter/webview_flutter_wkwebview/CHANGELOG.md
  packages/webview_flutter/webview_flutter_wkwebview/darwin/Tests/FrameInfoProxyAPITests.swift
  packages/webview_flutter/webview_flutter_wkwebview/darwin/webview_flutter_wkwebview/Sources/webview_flutter_wkwebview/FrameInfoProxyAPIDelegate.swift
  packages/webview_flutter/webview_flutter_wkwebview/darwin/webview_flutter_wkwebview/Sources/webview_flutter_wkwebview/WebKitLibrary.g.swift
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/common/web_kit.g.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/webkit_webview_controller.dart
  packages/webview_flutter/webview_flutter_wkwebview/pigeons/web_kit.dart
  packages/webview_flutter/webview_flutter_wkwebview/pubspec.yaml
Labels: autosubmit, platform-ios, platform-macos, p: webview_flutter

#8466 [video_player_android] Platform view support
  packages/video_player/video_player_android/CHANGELOG.md
  packages/video_player/video_player_android/android/src/main/java/io/flutter/plugins/videoplayer/ExoPlayerEventListener.java
  packages/video_player/video_player_android/android/src/main/java/io/flutter/plugins/videoplayer/ExoPlayerState.java
  packages/video_player/video_player_android/android/src/main/java/io/flutter/plugins/videoplayer/HttpVideoAsset.java
  packages/video_player/video_player_android/android/src/main/java/io/flutter/plugins/videoplayer/LocalVideoAsset.java
  packages/video_player/video_player_android/android/src/main/java/io/flutter/plugins/videoplayer/Messages.java
  packages/video_player/video_player_android/android/src/main/java/io/flutter/plugins/videoplayer/RtspVideoAsset.java
  packages/video_player/video_player_android/android/src/main/java/io/flutter/plugins/videoplayer/VideoAsset.java
  packages/video_player/video_player_android/android/src/main/java/io/flutter/plugins/videoplayer/VideoPlayer.java
  packages/video_player/video_player_android/android/src/main/java/io/flutter/plugins/videoplayer/VideoPlayerCallbacks.java
  packages/video_player/video_player_android/android/src/main/java/io/flutter/plugins/videoplayer/VideoPlayerOptions.java
  packages/video_player/video_player_android/android/src/main/java/io/flutter/plugins/videoplayer/VideoPlayerPlugin.java
  packages/video_player/video_player_android/android/src/main/java/io/flutter/plugins/videoplayer/platformview/PlatformVideoView.java
  packages/video_player/video_player_android/android/src/main/java/io/flutter/plugins/videoplayer/platformview/PlatformVideoViewFactory.java
  packages/video_player/video_player_android/android/src/main/java/io/flutter/plugins/videoplayer/platformview/PlatformViewExoPlayerEventListener.java
  packages/video_player/video_player_android/android/src/main/java/io/flutter/plugins/videoplayer/platformview/PlatformViewVideoPlayer.java
  packages/video_player/video_player_android/android/src/main/java/io/flutter/plugins/videoplayer/texture/TextureExoPlayerEventListener.java
  packages/video_player/video_player_android/android/src/main/java/io/flutter/plugins/videoplayer/texture/TextureVideoPlayer.java
  packages/video_player/video_player_android/android/src/test/java/io/flutter/plugins/videoplayer/ExoPlayerEventListenerTest.java
  packages/video_player/video_player_android/android/src/test/java/io/flutter/plugins/videoplayer/FakeVideoAsset.java
  packages/video_player/video_player_android/android/src/test/java/io/flutter/plugins/videoplayer/PlatformVideoViewFactoryTest.java
  packages/video_player/video_player_android/android/src/test/java/io/flutter/plugins/videoplayer/PlatformVideoViewTest.java
  packages/video_player/video_player_android/android/src/test/java/io/flutter/plugins/videoplayer/PlatformViewExoPlayerEventListenerTest.java
  packages/video_player/video_player_android/android/src/test/java/io/flutter/plugins/videoplayer/TextureExoPlayerEventListenerTest.java
  packages/video_player/video_player_android/android/src/test/java/io/flutter/plugins/videoplayer/TextureVideoPlayerTest.java
  packages/video_player/video_player_android/android/src/test/java/io/flutter/plugins/videoplayer/VideoPlayerPluginTest.java
  packages/video_player/video_player_android/android/src/test/java/io/flutter/plugins/videoplayer/VideoPlayerTest.java
  packages/video_player/video_player_android/example/android/app/build.gradle
  packages/video_player/video_player_android/example/android/app/src/androidTest/java/io/flutter/plugins/videoplayerexample/VideoPlayerUITest.java
  packages/video_player/video_player_android/example/android/app/src/debug/AndroidManifest.xml
  packages/video_player/video_player_android/example/android/app/src/main/java/io/flutter/plugins/videoplayerexample/DriverExtensionActivity.java
  packages/video_player/video_player_android/example/android/app/src/main/res/xml/network_security_config.xml
  packages/video_player/video_player_android/example/integration_test/video_player_android_test.dart
  packages/video_player/video_player_android/example/integration_test/video_player_test.dart
  packages/video_player/video_player_android/example/lib/main.dart
  packages/video_player/video_player_android/example/lib/mini_controller.dart
  packages/video_player/video_player_android/example/pubspec.yaml
  packages/video_player/video_player_android/lib/src/android_video_player.dart
  packages/video_player/video_player_android/lib/src/messages.g.dart
  packages/video_player/video_player_android/lib/src/platform_view_player.dart
  packages/video_player/video_player_android/pigeons/messages.dart
  packages/video_player/video_player_android/pubspec.yaml
  packages/video_player/video_player_android/test/android_video_player_test.dart
  packages/video_player/video_player_android/test/test_api.g.dart
Labels: autosubmit, platform-android, p: video_player, triage-android

#8737 [go_router_builder]: Fix `The argument type 'String?' can't be assigned to the parameter type 'String' because 'String?' ` on path and query params
  packages/go_router_builder/CHANGELOG.md
  packages/go_router_builder/example/lib/all_types.g.dart
  packages/go_router_builder/example/lib/main.g.dart
  packages/go_router_builder/example/lib/stateful_shell_route_initial_location_example.g.dart
  packages/go_router_builder/lib/src/route_config.dart
  packages/go_router_builder/lib/src/type_helpers.dart
  packages/go_router_builder/pubspec.yaml
  packages/go_router_builder/test_inputs/enum_parameter.dart.expect
  packages/go_router_builder/test_inputs/iterable_with_enum.dart.expect
  packages/go_router_builder/test_inputs/required_query_parameter.dart.expect
Labels: p: go_router_builder, autosubmit

#8698 [camera_avfoundation] Tests backfilling - part 1
  packages/camera/camera_avfoundation/CHANGELOG.md
  packages/camera/camera_avfoundation/example/ios/Runner.xcodeproj/project.pbxproj
  packages/camera/camera_avfoundation/example/ios/RunnerTests/AvailableCamerasTests.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraCaptureSessionQueueRaceConditionTests.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraMethodChannelTests.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraOrientationTests.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraPluginCreateCameraTests.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraPluginInitializeCameraTests.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraSettingsTests.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/Mocks/MockFLTCam.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/Mocks/MockFLTCameraPermissionManager.swift
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/CameraPlugin.m
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/FLTCam.m
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/include/camera_avfoundation/CameraPlugin_Test.h
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/include/camera_avfoundation/FLTCam.h
  packages/camera/camera_avfoundation/pubspec.yaml
Labels: autosubmit, p: camera, platform-ios, platform-macos

#8784 [shared_preferences_android] dependabot takeover datastore
  packages/shared_preferences/shared_preferences_android/CHANGELOG.md
  packages/shared_preferences/shared_preferences_android/android/build.gradle
  packages/shared_preferences/shared_preferences_android/pubspec.yaml
Labels: autosubmit, platform-android, p: shared_preferences

#8650 [rfw] Make widget builders work with loops
  packages/rfw/CHANGELOG.md
  packages/rfw/lib/src/flutter/runtime.dart
  packages/rfw/pubspec.yaml
  packages/rfw/test/runtime_test.dart
Labels: p: rfw, autosubmit

#8803 manual roll with video player test disabled
  .ci/flutter_master.version
  packages/video_player/video_player/example/integration_test/controller_swap_test.dart
Labels: autosubmit, p: video_player

#8808 Roll Flutter from 2578d97f32c8 to 321fbc0e7e81 (29 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#8805 [google_sign_in] Add Android account name field as optional (implementation package changes)
  packages/google_sign_in/google_sign_in_android/CHANGELOG.md
  packages/google_sign_in/google_sign_in_android/android/src/main/java/io/flutter/plugins/googlesignin/GoogleSignInPlugin.java
  packages/google_sign_in/google_sign_in_android/android/src/main/java/io/flutter/plugins/googlesignin/Messages.java
  packages/google_sign_in/google_sign_in_android/android/src/test/java/io/flutter/plugins/googlesignin/GoogleSignInTest.java
  packages/google_sign_in/google_sign_in_android/example/pubspec.yaml
  packages/google_sign_in/google_sign_in_android/lib/google_sign_in_android.dart
  packages/google_sign_in/google_sign_in_android/lib/src/messages.g.dart
  packages/google_sign_in/google_sign_in_android/pigeons/messages.dart
  packages/google_sign_in/google_sign_in_android/pubspec.yaml
  packages/google_sign_in/google_sign_in_android/test/google_sign_in_android_test.dart
  packages/google_sign_in/google_sign_in_ios/CHANGELOG.md
  packages/google_sign_in/google_sign_in_ios/example/pubspec.yaml
  packages/google_sign_in/google_sign_in_ios/lib/google_sign_in_ios.dart
  packages/google_sign_in/google_sign_in_ios/pubspec.yaml
  packages/google_sign_in/google_sign_in_ios/test/google_sign_in_ios_test.dart
  packages/google_sign_in/google_sign_in_web/CHANGELOG.md
  packages/google_sign_in/google_sign_in_web/example/integration_test/google_sign_in_web_test.dart
  packages/google_sign_in/google_sign_in_web/example/pubspec.yaml
  packages/google_sign_in/google_sign_in_web/lib/google_sign_in_web.dart
  packages/google_sign_in/google_sign_in_web/pubspec.yaml
Labels: autosubmit, p: google_sign_in, platform-android, platform-ios, platform-web

#8777 Update PR template for clarity
  .github/PULL_REQUEST_TEMPLATE.md
Labels: autosubmit

#8077 [google_maps_flutter_web] set icon anchor for markers
  packages/google_maps_flutter/google_maps_flutter_web/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_web/example/integration_test/markers_test.dart
  packages/google_maps_flutter/google_maps_flutter_web/lib/src/convert.dart
  packages/google_maps_flutter/google_maps_flutter_web/pubspec.yaml
Labels: autosubmit, p: google_maps_flutter, platform-web

#8813 Roll Flutter (stable) from 68415ad1d920 to 09de023485e9 (1139 revisions)
  .ci/flutter_stable.version
Labels: autosubmit

#8817 Roll Flutter from 321fbc0e7e81 to 6b93cf93c100 (18 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#8573 [google_sign_in] Add Android account name field as optional
  packages/google_sign_in/google_sign_in/CHANGELOG.md
  packages/google_sign_in/google_sign_in/lib/google_sign_in.dart
  packages/google_sign_in/google_sign_in/pubspec.yaml
  packages/google_sign_in/google_sign_in/test/google_sign_in_test.dart
Labels: autosubmit, p: google_sign_in

#8796 [camera_avfoundation] Tests backfilling - part 2
  packages/camera/camera_avfoundation/example/ios/Runner.xcodeproj/project.pbxproj
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraPluginDelegatingMethodTests.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/Mocks/MockFLTCam.swift
Labels: autosubmit, p: camera, platform-ios, platform-macos

#8845 Roll Flutter from 6b93cf93c100 to b16430b2fd57 (21 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#8818 [video_player_android] Provide the current surface to the new ExoPlayer in TextureVideoPlayer.onSurfaceAvailable
  packages/video_player/video_player_android/CHANGELOG.md
  packages/video_player/video_player_android/android/src/main/java/io/flutter/plugins/videoplayer/texture/TextureVideoPlayer.java
  packages/video_player/video_player_android/android/src/test/java/io/flutter/plugins/videoplayer/TextureVideoPlayerTest.java
  packages/video_player/video_player_android/pubspec.yaml
Labels: autosubmit, platform-android, p: video_player

#8853 [camera_avfoundation] Tests backfilling - part 3
  packages/camera/camera_avfoundation/example/ios/Runner.xcodeproj/project.pbxproj
  packages/camera/camera_avfoundation/example/ios/RunnerTests/FLTCamSetFlashModeTests.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/Mocks/MockCaptureDevice.h
  packages/camera/camera_avfoundation/example/ios/RunnerTests/Mocks/MockCaptureDevice.m
  packages/camera/camera_avfoundation/example/ios/RunnerTests/PhotoCaptureTests.swift
Labels: autosubmit, p: camera, platform-ios, platform-macos

#8709 [pigeon] adds Internal options
  packages/pigeon/CHANGELOG.md
  packages/pigeon/lib/src/cpp/cpp_generator.dart
  packages/pigeon/lib/src/dart/dart_generator.dart
  packages/pigeon/lib/src/generator.dart
  packages/pigeon/lib/src/generator_tools.dart
  packages/pigeon/lib/src/gobject/gobject_generator.dart
  packages/pigeon/lib/src/java/java_generator.dart
  packages/pigeon/lib/src/kotlin/kotlin_generator.dart
  packages/pigeon/lib/src/kotlin/templates.dart
  packages/pigeon/lib/src/objc/objc_generator.dart
  packages/pigeon/lib/src/pigeon_lib.dart
  packages/pigeon/lib/src/pigeon_lib_internal.dart
  packages/pigeon/lib/src/swift/swift_generator.dart
  packages/pigeon/lib/src/swift/templates.dart
  packages/pigeon/pigeons/enum.dart
  packages/pigeon/pubspec.yaml
  packages/pigeon/test/cpp_generator_test.dart
  packages/pigeon/test/dart/proxy_api_test.dart
  packages/pigeon/test/dart_generator_test.dart
  packages/pigeon/test/gobject_generator_test.dart
  packages/pigeon/test/java_generator_test.dart
  packages/pigeon/test/kotlin/proxy_api_test.dart
  packages/pigeon/test/kotlin_generator_test.dart
  packages/pigeon/test/objc_generator_test.dart
  packages/pigeon/test/pigeon_lib_test.dart
  packages/pigeon/test/swift/proxy_api_test.dart
  packages/pigeon/test/swift_generator_test.dart
  packages/pigeon/tool/shared/generation.dart
  packages/pigeon/tool/shared/test_suites.dart
Labels: p: pigeon, autosubmit

#8814 [camera] Fix unit test asserting external value
  packages/camera/camera/test/camera_value_test.dart
Labels: autosubmit, p: camera

#8855 Add a carve-out on the commenting requirement
  .github/PULL_REQUEST_TEMPLATE.md
Labels: autosubmit

#8811 [image_picker] Fix getMedia on Linux
  packages/image_picker/image_picker_linux/CHANGELOG.md
  packages/image_picker/image_picker_linux/lib/image_picker_linux.dart
  packages/image_picker/image_picker_linux/pubspec.yaml
  packages/image_picker/image_picker_linux/test/image_picker_linux_test.dart
Labels: autosubmit, p: image_picker, platform-linux

#8432 [google_maps_flutter] Support for Ground Overlay
  packages/google_maps_flutter/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter/example/integration_test/src/tiles_inspector.dart
  packages/google_maps_flutter/google_maps_flutter/example/lib/ground_overlay.dart
  packages/google_maps_flutter/google_maps_flutter/example/lib/main.dart
  packages/google_maps_flutter/google_maps_flutter/example/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter/lib/google_maps_flutter.dart
  packages/google_maps_flutter/google_maps_flutter/lib/src/controller.dart
  packages/google_maps_flutter/google_maps_flutter/lib/src/google_map.dart
  packages/google_maps_flutter/google_maps_flutter/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter/test/fake_google_maps_flutter_platform.dart
  packages/google_maps_flutter/google_maps_flutter/test/groundoverlay_updates_test.dart
Labels: autosubmit, p: google_maps_flutter

#8346 [video_player]: reduce video player position update interval from 500ms to 100ms
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/lib/video_player.dart
  packages/video_player/video_player/pubspec.yaml
  packages/video_player/video_player/test/video_player_test.dart
Labels: autosubmit, p: video_player

#8873 [camera_avfoundation] Tests backfilling - part 5
  packages/camera/camera_avfoundation/CHANGELOG.md
  packages/camera/camera_avfoundation/example/ios/Runner.xcodeproj/project.pbxproj
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraExposureTests.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/FLTCamExposureTests.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/FLTCamFocusTests.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/FLTCamZoomTests.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/Mocks/MockCaptureDevice.h
  packages/camera/camera_avfoundation/example/ios/RunnerTests/Mocks/MockCaptureDevice.m
  packages/camera/camera_avfoundation/example/ios/RunnerTests/Mocks/MockFLTCam.swift
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/FLTCam.m
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/include/camera_avfoundation/FLTCam.h
  packages/camera/camera_avfoundation/pubspec.yaml
Labels: autosubmit, p: camera, platform-ios, platform-macos

#8854 [camera_avfoundation] Tests backfilling - part 4
  packages/camera/camera_avfoundation/CHANGELOG.md
  packages/camera/camera_avfoundation/example/ios/Runner.xcodeproj/project.pbxproj
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraSettingsTests.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/FLTCamSetDeviceOrientationTests.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/Mocks/MockCaptureConnection.h
  packages/camera/camera_avfoundation/example/ios/RunnerTests/Mocks/MockCaptureConnection.m
  packages/camera/camera_avfoundation/example/ios/RunnerTests/Mocks/MockCapturePhotoOutput.h
  packages/camera/camera_avfoundation/example/ios/RunnerTests/Mocks/MockCapturePhotoOutput.m
  packages/camera/camera_avfoundation/example/ios/RunnerTests/Mocks/MockCaptureVideoDataOutput.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/SampleBufferTests.swift
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/FLTCam.m
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/FLTCamMediaSettingsAVWrapper.m
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/FLTCaptureConnection.m
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/FLTCapturePhotoOutput.m
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/FLTCaptureVideoDataOutput.m
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/include/camera_avfoundation/FLTCamMediaSettingsAVWrapper.h
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/include/camera_avfoundation/FLTCam_Test.h
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/include/camera_avfoundation/FLTCaptureConnection.h
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/include/camera_avfoundation/FLTCaptureOutput.h
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/include/camera_avfoundation/FLTCapturePhotoOutput.h
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/include/camera_avfoundation/FLTCaptureVideoDataOutput.h
  packages/camera/camera_avfoundation/pubspec.yaml
Labels: autosubmit, p: camera, platform-ios, platform-macos

#8788 [pigeon] Dart Class Equality
  packages/pigeon/CHANGELOG.md
  packages/pigeon/example/app/lib/src/event_channel_messages.g.dart
  packages/pigeon/example/app/lib/src/messages.g.dart
  packages/pigeon/lib/src/dart/dart_generator.dart
  packages/pigeon/lib/src/generator.dart
  packages/pigeon/lib/src/generator_tools.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/integration_tests.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/core_tests.gen.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/enum.gen.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/event_channel_tests.gen.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/flutter_unittests.gen.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/message.gen.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/non_null_fields.gen.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/null_fields.gen.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/test_types.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/test/generated_dart_test_code_test.dart
  packages/pigeon/platform_tests/test_plugin/ios/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/macos/Classes/CoreTests.gen.swift
  packages/pigeon/pubspec.yaml
Labels: p: pigeon, autosubmit, platform-ios, platform-macos

#8659 [google_maps_flutter] Add ability to animate camera with duration - platform impls
  packages/google_maps_flutter/google_maps_flutter_android/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_android/android/src/main/java/io/flutter/plugins/googlemaps/GoogleMapController.java
  packages/google_maps_flutter/google_maps_flutter_android/android/src/main/java/io/flutter/plugins/googlemaps/Messages.java
  packages/google_maps_flutter/google_maps_flutter_android/android/src/test/java/io/flutter/plugins/googlemaps/GoogleMapControllerTest.java
  packages/google_maps_flutter/google_maps_flutter_android/example/integration_test/google_maps_tests.dart
  packages/google_maps_flutter/google_maps_flutter_android/example/lib/animate_camera.dart
  packages/google_maps_flutter/google_maps_flutter_android/example/lib/example_google_map.dart
  packages/google_maps_flutter/google_maps_flutter_android/example/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_android/example/test/fake_google_maps_flutter_platform.dart
  packages/google_maps_flutter/google_maps_flutter_android/lib/src/google_map_inspector_android.dart
  packages/google_maps_flutter/google_maps_flutter_android/lib/src/google_maps_flutter_android.dart
  packages/google_maps_flutter/google_maps_flutter_android/lib/src/messages.g.dart
  packages/google_maps_flutter/google_maps_flutter_android/pigeons/messages.dart
  packages/google_maps_flutter/google_maps_flutter_android/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_android/test/google_maps_flutter_android_test.dart
  packages/google_maps_flutter/google_maps_flutter_android/test/google_maps_flutter_android_test.mocks.dart
  packages/google_maps_flutter/google_maps_flutter_ios/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios14/integration_test/google_maps_test.dart
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios14/ios/RunnerTests/GoogleMapsTests.m
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios14/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios15/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_ios/example/shared/maps_example_dart/lib/animate_camera.dart
  packages/google_maps_flutter/google_maps_flutter_ios/example/shared/maps_example_dart/lib/example_google_map.dart
  packages/google_maps_flutter/google_maps_flutter_ios/example/shared/maps_example_dart/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_ios/example/shared/maps_example_dart/test/fake_google_maps_flutter_platform.dart
  packages/google_maps_flutter/google_maps_flutter_ios/ios/Classes/FGMCATransactionWrapper.h
  packages/google_maps_flutter/google_maps_flutter_ios/ios/Classes/FGMCATransactionWrapper.m
  packages/google_maps_flutter/google_maps_flutter_ios/ios/Classes/GoogleMapController.h
  packages/google_maps_flutter/google_maps_flutter_ios/ios/Classes/GoogleMapController.m
  packages/google_maps_flutter/google_maps_flutter_ios/ios/Classes/GoogleMapController_Test.h
  packages/google_maps_flutter/google_maps_flutter_ios/ios/Classes/messages.g.h
  packages/google_maps_flutter/google_maps_flutter_ios/ios/Classes/messages.g.m
  packages/google_maps_flutter/google_maps_flutter_ios/lib/src/google_map_inspector_ios.dart
  packages/google_maps_flutter/google_maps_flutter_ios/lib/src/google_maps_flutter_ios.dart
  packages/google_maps_flutter/google_maps_flutter_ios/lib/src/messages.g.dart
  packages/google_maps_flutter/google_maps_flutter_ios/pigeons/messages.dart
  packages/google_maps_flutter/google_maps_flutter_ios/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_ios/test/google_maps_flutter_ios_test.dart
  packages/google_maps_flutter/google_maps_flutter_ios/test/google_maps_flutter_ios_test.mocks.dart
Labels: autosubmit, p: google_maps_flutter, platform-android, platform-ios

#8895 [webview_flutter] Fix macOS test issues and skip some legacy iOS tests
  packages/webview_flutter/webview_flutter/example/integration_test/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter/example/integration_test/webview_flutter_test_legacy.dart
  packages/webview_flutter/webview_flutter_wkwebview/example/integration_test/legacy/webview_flutter_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/example/integration_test/webview_flutter_test.dart
Labels: autosubmit, platform-ios, p: webview_flutter

#7648 [google_maps_flutter] Add ability to animate camera with duration
  packages/google_maps_flutter/google_maps_flutter/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter/example/integration_test/src/maps_inspector.dart
  packages/google_maps_flutter/google_maps_flutter/example/lib/animate_camera.dart
  packages/google_maps_flutter/google_maps_flutter/example/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter/lib/src/controller.dart
  packages/google_maps_flutter/google_maps_flutter/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter/test/camera_test.dart
  packages/google_maps_flutter/google_maps_flutter/test/fake_google_maps_flutter_platform.dart
Labels: autosubmit, p: google_maps_flutter, federated: all_changes, triage-ios

#8887 [pigeon] kotlin equality methods
  packages/pigeon/CHANGELOG.md
  packages/pigeon/example/app/android/app/src/main/kotlin/dev/flutter/pigeon_example_app/EventChannelMessages.g.kt
  packages/pigeon/example/app/android/app/src/main/kotlin/dev/flutter/pigeon_example_app/Messages.g.kt
  packages/pigeon/lib/src/cpp/cpp_generator.dart
  packages/pigeon/lib/src/dart/dart_generator.dart
  packages/pigeon/lib/src/generator.dart
  packages/pigeon/lib/src/generator_tools.dart
  packages/pigeon/lib/src/gobject/gobject_generator.dart
  packages/pigeon/lib/src/java/java_generator.dart
  packages/pigeon/lib/src/kotlin/kotlin_generator.dart
  packages/pigeon/lib/src/objc/objc_generator.dart
  packages/pigeon/lib/src/swift/swift_generator.dart
  packages/pigeon/platform_tests/test_plugin/android/src/main/kotlin/com/example/test_plugin/CoreTests.gen.kt
  packages/pigeon/platform_tests/test_plugin/android/src/main/kotlin/com/example/test_plugin/EventChannelTests.gen.kt
  packages/pigeon/platform_tests/test_plugin/android/src/test/kotlin/com/example/test_plugin/AllDatatypesTest.kt
  packages/pigeon/pubspec.yaml
Labels: p: pigeon, autosubmit, platform-android

#8723 [Camera] Add lens type information (iOS)
  packages/camera/camera_platform_interface/CHANGELOG.md
  packages/camera/camera_platform_interface/lib/src/types/camera_description.dart
  packages/camera/camera_platform_interface/pubspec.yaml
  packages/camera/camera_platform_interface/test/types/camera_description_test.dart
Labels: autosubmit, p: camera

#8540 [shared_preferences] Fix a late initialized error with the example app
  packages/shared_preferences/shared_preferences/CHANGELOG.md
  packages/shared_preferences/shared_preferences/example/lib/main.dart
  packages/shared_preferences/shared_preferences/example/test/example_app_test.dart
  packages/shared_preferences/shared_preferences/pubspec.yaml
Labels: autosubmit, p: shared_preferences

#8685 [video_player] Fix layout issue caused by `Transform.rotate` not affecting space calculation.
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/lib/video_player.dart
  packages/video_player/video_player/pubspec.yaml
  packages/video_player/video_player/test/video_player_test.dart
Labels: autosubmit, p: video_player

#8910 [pigeon] correct usage of extended generics in generator methods
  packages/pigeon/lib/src/cpp/cpp_generator.dart
  packages/pigeon/lib/src/dart/dart_generator.dart
  packages/pigeon/lib/src/generator.dart
  packages/pigeon/lib/src/generator_tools.dart
  packages/pigeon/lib/src/gobject/gobject_generator.dart
  packages/pigeon/lib/src/java/java_generator.dart
  packages/pigeon/lib/src/kotlin/kotlin_generator.dart
  packages/pigeon/lib/src/objc/objc_generator.dart
  packages/pigeon/lib/src/swift/swift_generator.dart
Labels: p: pigeon, autosubmit, override: no versioning needed, override: no changelog needed

#8890 [camera_avfoundation] Test utils and mocks swift migration - part 1
  packages/camera/camera_avfoundation/CHANGELOG.md
  packages/camera/camera_avfoundation/example/ios/Runner.xcodeproj/project.pbxproj
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraMethodChannelTests.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraPluginCreateCameraTests.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraSessionPresetsTests.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraSettingsTests.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraTestUtils.h
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraTestUtils.m
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraTestUtils.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/FLTCamExposureTests.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/FLTCamFocusTests.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/FLTCamSetDeviceOrientationTests.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/FLTCamSetFlashModeTests.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/FLTCamZoomTests.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/Mocks/MockCaptureSession.h
  packages/camera/camera_avfoundation/example/ios/RunnerTests/Mocks/MockCaptureSession.m
  packages/camera/camera_avfoundation/example/ios/RunnerTests/Mocks/MockCaptureSession.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/PhotoCaptureTests.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/QueueTestUtils.h
  packages/camera/camera_avfoundation/example/ios/RunnerTests/QueueTestUtils.m
  packages/camera/camera_avfoundation/example/ios/RunnerTests/RunnerTests-Bridging-Header.h
  packages/camera/camera_avfoundation/example/ios/RunnerTests/SampleBufferTests.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/StreamingTests.swift
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/include/camera_avfoundation/FLTCaptureSession.h
  packages/camera/camera_avfoundation/pubspec.yaml
Labels: autosubmit, p: camera, platform-ios, platform-macos

#8920 Use a more deterministic way of waiting for ad widgets to be ready.
  packages/google_adsense/CHANGELOG.md
  packages/google_adsense/example/integration_test/experimental_ad_unit_widget_test.dart
  packages/google_adsense/lib/src/adsense/ad_unit_widget.dart
  packages/google_adsense/pubspec.yaml
Labels: autosubmit, p: google_adsense

#8912 [camera_avfoundation] Test utils and mocks swift migration - part 3
  packages/camera/camera_avfoundation/CHANGELOG.md
  packages/camera/camera_avfoundation/example/ios/Runner.xcodeproj/project.pbxproj
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraSessionPresetsTests.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraTestUtils.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/FLTCamExposureTests.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/FLTCamFocusTests.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/FLTCamZoomTests.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/Mocks/MockAssetWriter.h
  packages/camera/camera_avfoundation/example/ios/RunnerTests/Mocks/MockAssetWriter.m
  packages/camera/camera_avfoundation/example/ios/RunnerTests/Mocks/MockAssetWriter.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/Mocks/MockAssetWriterInput.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/Mocks/MockAssetWriterInputPixelBufferAdaptor.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/Mocks/MockCaptureDevice.h
  packages/camera/camera_avfoundation/example/ios/RunnerTests/Mocks/MockCaptureDevice.m
  packages/camera/camera_avfoundation/example/ios/RunnerTests/Mocks/MockCaptureDevice.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/Mocks/MockCaptureDeviceInputFactory.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/Mocks/MockCaptureInput.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/RunnerTests-Bridging-Header.h
  packages/camera/camera_avfoundation/example/ios/RunnerTests/SampleBufferTests.swift
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/FLTCaptureDevice.m
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/include/camera_avfoundation/FLTCaptureDevice.h
  packages/camera/camera_avfoundation/pubspec.yaml
Labels: autosubmit, p: camera, platform-ios, platform-macos

#8958 [google_maps_flutter] Skip test that hangs iOS CI
  packages/google_maps_flutter/google_maps_flutter/example/integration_test/src/maps_inspector.dart
Labels: emergency, autosubmit, p: google_maps_flutter

#8918 [interactive_media_ads] Fixes `AdEventType`s not triggering on iOS in release mode
  packages/interactive_media_ads/CHANGELOG.md
  packages/interactive_media_ads/android/src/main/kotlin/dev/flutter/packages/interactive_media_ads/AdsRequestProxyApi.kt
  packages/interactive_media_ads/ios/interactive_media_ads/Sources/interactive_media_ads/AdsRequestProxyAPIDelegate.swift
  packages/interactive_media_ads/lib/src/ios/ios_ads_manager.dart
  packages/interactive_media_ads/pubspec.yaml
Labels: autosubmit, platform-android, platform-ios, p: interactive_media_ads

#8931 [extension_gsi] Support the latest version of googleapis_auth
  packages/extension_google_sign_in_as_googleapis_auth/CHANGELOG.md
  packages/extension_google_sign_in_as_googleapis_auth/pubspec.yaml
Labels: p: extension_google_sign_in_as_googleapis_auth, autosubmit

#8911 [webview_flutter] Skip flaky legacy tests on iOS
  packages/webview_flutter/webview_flutter_wkwebview/example/integration_test/legacy/webview_flutter_test.dart
Labels: autosubmit, platform-ios, p: webview_flutter
