Repository flutter/packages, pull requests merged in 2025-08, with the labels that each got.

#9717 Extending Timeout on `Linux_android android_build_all_packages *`
  .ci.yaml
Labels: autosubmit

#9697 [webview_flutter_platform_interface] Provide flexible API for loading local HTML files
  packages/webview_flutter/webview_flutter_platform_interface/CHANGELOG.md
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/platform_webview_controller.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/types/load_file_params.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/types/types.dart
  packages/webview_flutter/webview_flutter_platform_interface/pubspec.yaml
  packages/webview_flutter/webview_flutter_platform_interface/test/platform_webview_controller_test.dart
Labels: autosubmit, p: webview_flutter

#9716 Add an initial AGENTS.md
  AGENTS.md
  script/tool/lib/src/common/file_filters.dart
  script/tool/test/xcode_analyze_command_test.dart
Labels: autosubmit

#9744 [interactive_media_ads] Fixes setting adsresponse on Android
  packages/interactive_media_ads/CHANGELOG.md
  packages/interactive_media_ads/android/src/main/kotlin/dev/flutter/packages/interactive_media_ads/AdsRequestProxyApi.kt
  packages/interactive_media_ads/ios/interactive_media_ads/Sources/interactive_media_ads/AdsRequestProxyAPIDelegate.swift
  packages/interactive_media_ads/lib/src/android/android_ads_loader.dart
  packages/interactive_media_ads/pubspec.yaml
  packages/interactive_media_ads/test/android/ads_loader_test.dart
Labels: autosubmit, platform-android, platform-ios, p: interactive_media_ads

#9721 Update CODEOWNERS
  CODEOWNERS
Labels: autosubmit

#9746 [ci] Exclude packages using deprecated APIs from the pod linter check
  .ci/targets/macos_repo_checks.yaml
Labels: autosubmit

#8787 [webview_flutter_wkwebview] Extended Web View API on iOS to add flexibility when working with local HTML content
  packages/webview_flutter/webview_flutter_android/CHANGELOG.md
  packages/webview_flutter/webview_flutter_android/example/pubspec.yaml
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview_controller.dart
  packages/webview_flutter/webview_flutter_android/pubspec.yaml
  packages/webview_flutter/webview_flutter_android/test/android_webview_controller_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/CHANGELOG.md
  packages/webview_flutter/webview_flutter_wkwebview/example/pubspec.yaml
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/webkit_webview_controller.dart
  packages/webview_flutter/webview_flutter_wkwebview/pubspec.yaml
  packages/webview_flutter/webview_flutter_wkwebview/test/webkit_webview_controller_test.dart
Labels: autosubmit, platform-android, platform-ios, p: webview_flutter

#9760 [camera_android_camerax] Re-land "Force new Surface for each SurfaceRequest"
  packages/camera/camera_android_camerax/CHANGELOG.md
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/PreviewProxyApi.java
  packages/camera/camera_android_camerax/android/src/test/java/io/flutter/plugins/camerax/PreviewTest.java
  packages/camera/camera_android_camerax/lib/src/android_camera_camerax.dart
  packages/camera/camera_android_camerax/lib/src/camerax_library.dart
  packages/camera/camera_android_camerax/lib/src/camerax_library.g.dart
  packages/camera/camera_android_camerax/lib/src/image_reader_rotated_preview.dart
  packages/camera/camera_android_camerax/lib/src/rotated_preview_utils.dart
  packages/camera/camera_android_camerax/lib/src/surface_texture_rotated_preview.dart
  packages/camera/camera_android_camerax/pubspec.yaml
  packages/camera/camera_android_camerax/test/android_camera_camerax_test.dart
  packages/camera/camera_android_camerax/test/android_camera_camerax_test.mocks.dart
  packages/camera/camera_android_camerax/test/preview_rotation_test.dart
  script/tool/lib/src/common/core.dart
Labels: autosubmit, p: camera, platform-android

#9737 [google_maps_flutter_platform_interface] Add Advanced markers support
  packages/google_maps_flutter/google_maps_flutter_platform_interface/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/platform_interface/google_maps_flutter_platform.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/advanced_marker.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/bitmap.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/map_configuration.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/marker.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/types.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/utils/map_configuration_serialization.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_platform_interface/test/platform_interface/google_maps_flutter_platform_test.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/test/types/advanced_marker_test.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/test/types/bitmap_test.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/test/types/map_configuration_test.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/test/utils/map_configuration_serialization_test.dart
Labels: autosubmit, p: google_maps_flutter, federated: partial_changes

#9691 [camera_avfoundation] Fix crash when streaming while recording
  packages/camera/camera_avfoundation/CHANGELOG.md
  packages/camera/camera_avfoundation/example/ios/RunnerTests/StreamingTests.swift
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/DefaultCamera.swift
  packages/camera/camera_avfoundation/pubspec.yaml
Labels: autosubmit, p: camera, platform-ios, platform-macos

#9690 [camera_avfoundation] Implementation swift migration - part 11
  packages/camera/camera_avfoundation/CHANGELOG.md
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/DefaultCamera.swift
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation_objc/FLTCam.m
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation_objc/include/camera_avfoundation/FLTCam.h
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation_objc/include/camera_avfoundation/FLTCam_Test.h
  packages/camera/camera_avfoundation/pubspec.yaml
Labels: autosubmit, p: camera, platform-ios, platform-macos

#9784 Roll Flutter from 1590543f6794 to e2a347b14a18 (1 revision)
  .ci/flutter_master.version
Labels: autosubmit

#9458 [go_router_builder] Support extension types
  packages/go_router_builder/CHANGELOG.md
  packages/go_router_builder/README.md
  packages/go_router_builder/example/lib/all_extension_types.dart
  packages/go_router_builder/example/lib/all_extension_types.g.dart
  packages/go_router_builder/lib/src/route_config.dart
  packages/go_router_builder/lib/src/type_helpers.dart
  packages/go_router_builder/pubspec.yaml
  packages/go_router_builder/test_inputs/extension_type_parameter.dart
  packages/go_router_builder/test_inputs/extension_type_parameter.dart.expect
Labels: p: go_router_builder, autosubmit

#9807 Roll Flutter from 34c2a3b158b2 to f4334d27934b (18 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#9813 [vector_graphics_compiler] Set the m4_10 (Z scale) value to 1 when constructing an AffineMatrix from an SVG matrix
  packages/vector_graphics_compiler/CHANGELOG.md
  packages/vector_graphics_compiler/lib/src/svg/parsers.dart
  packages/vector_graphics_compiler/pubspec.yaml
  packages/vector_graphics_compiler/test/end_to_end_test.dart
  packages/vector_graphics_compiler/test/parsers_test.dart
Labels: autosubmit, p: vector_graphics

#9832 Roll Flutter from f4334d27934b to 52af7a504025 (29 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#9790 [interactive_media_ads] Updates `README` with information about enabling desugaring on Android
  packages/interactive_media_ads/CHANGELOG.md
  packages/interactive_media_ads/README.md
  packages/interactive_media_ads/android/src/main/kotlin/dev/flutter/packages/interactive_media_ads/AdsRequestProxyApi.kt
  packages/interactive_media_ads/example/android/app/build.gradle
  packages/interactive_media_ads/ios/interactive_media_ads/Sources/interactive_media_ads/AdsRequestProxyAPIDelegate.swift
  packages/interactive_media_ads/pubspec.yaml
Labels: autosubmit, platform-android, platform-ios, p: interactive_media_ads

#9826 [video_player] Updates min SDK to 3.29
  packages/video_player/video_player/CHANGELOG.md
  packages/video_player/video_player/README.md
  packages/video_player/video_player/example/integration_test/controller_swap_test.dart
  packages/video_player/video_player/example/integration_test/video_player_test.dart
  packages/video_player/video_player/example/lib/basic.dart
  packages/video_player/video_player/example/lib/main.dart
  packages/video_player/video_player/example/pubspec.yaml
  packages/video_player/video_player/lib/src/closed_caption_file.dart
  packages/video_player/video_player/lib/src/sub_rip.dart
  packages/video_player/video_player/lib/src/web_vtt.dart
  packages/video_player/video_player/lib/video_player.dart
  packages/video_player/video_player/pubspec.yaml
  packages/video_player/video_player/test/closed_caption_file_test.dart
  packages/video_player/video_player/test/video_player_initialization_test.dart
  packages/video_player/video_player/test/video_player_test.dart
  packages/video_player/video_player/test/web_vtt_test.dart
  packages/video_player/video_player_avfoundation/CHANGELOG.md
  packages/video_player/video_player_avfoundation/example/integration_test/video_player_test.dart
  packages/video_player/video_player_avfoundation/example/lib/main.dart
  packages/video_player/video_player_avfoundation/example/lib/mini_controller.dart
  packages/video_player/video_player_avfoundation/example/pubspec.yaml
  packages/video_player/video_player_avfoundation/lib/src/avfoundation_video_player.dart
  packages/video_player/video_player_avfoundation/lib/src/messages.g.dart
  packages/video_player/video_player_avfoundation/pigeons/messages.dart
  packages/video_player/video_player_avfoundation/pubspec.yaml
  packages/video_player/video_player_avfoundation/test/avfoundation_video_player_test.dart
  packages/video_player/video_player_avfoundation/test/avfoundation_video_player_test.mocks.dart
  packages/video_player/video_player_platform_interface/CHANGELOG.md
  packages/video_player/video_player_platform_interface/lib/video_player_platform_interface.dart
  packages/video_player/video_player_platform_interface/pubspec.yaml
  packages/video_player/video_player_platform_interface/test/video_player_options_test.dart
  packages/video_player/video_player_platform_interface/test/video_player_platform_interface_test.dart
  packages/video_player/video_player_platform_interface/test/video_player_web_options_controls_test.dart
  packages/video_player/video_player_platform_interface/test/video_player_web_options_test.dart
  packages/video_player/video_player_web/CHANGELOG.md
  packages/video_player/video_player_web/example/integration_test/duration_utils_test.dart
  packages/video_player/video_player_web/example/integration_test/pkg_web_tweaks.dart
  packages/video_player/video_player_web/example/integration_test/utils.dart
  packages/video_player/video_player_web/example/integration_test/video_player_test.dart
  packages/video_player/video_player_web/example/integration_test/video_player_web_test.dart
  packages/video_player/video_player_web/example/pubspec.yaml
  packages/video_player/video_player_web/lib/src/duration_utils.dart
  packages/video_player/video_player_web/lib/src/video_player.dart
  packages/video_player/video_player_web/lib/video_player_web.dart
  packages/video_player/video_player_web/pubspec.yaml
Labels: autosubmit, override: no versioning needed, platform-ios, platform-macos, platform-web, p: video_player

#9819 [various] Updates min SDK for third_party/packages to 3.29
  third_party/packages/cupertino_icons/CHANGELOG.md
  third_party/packages/cupertino_icons/pubspec.yaml
  third_party/packages/cupertino_icons/test/cupertino_icons_golden_test.dart
  third_party/packages/cupertino_icons/test/cupertino_icons_test.dart
  third_party/packages/cupertino_icons/test/icons_list.dart
  third_party/packages/flutter_svg/CHANGELOG.md
  third_party/packages/flutter_svg/README.md
  third_party/packages/flutter_svg/example/lib/grid.dart
  third_party/packages/flutter_svg/example/lib/main.dart
  third_party/packages/flutter_svg/example/lib/readme_excerpts.dart
  third_party/packages/flutter_svg/example/pubspec.yaml
  third_party/packages/flutter_svg/lib/src/cache.dart
  third_party/packages/flutter_svg/lib/src/default_theme.dart
  third_party/packages/flutter_svg/lib/src/loaders.dart
  third_party/packages/flutter_svg/lib/src/utilities/compute.dart
  third_party/packages/flutter_svg/lib/src/utilities/numbers.dart
  third_party/packages/flutter_svg/lib/svg.dart
  third_party/packages/flutter_svg/pubspec.yaml
  third_party/packages/flutter_svg/test/cache_test.dart
  third_party/packages/flutter_svg/test/default_theme_test.dart
  third_party/packages/flutter_svg/test/loaders_test.dart
  third_party/packages/flutter_svg/test/no_width_height_test.dart
  third_party/packages/flutter_svg/test/widget_svg_test.dart
  third_party/packages/flutter_svg_test/CHANGELOG.md
  third_party/packages/flutter_svg_test/README.md
  third_party/packages/flutter_svg_test/lib/flutter_svg_test.dart
  third_party/packages/flutter_svg_test/pubspec.yaml
  third_party/packages/flutter_svg_test/test/flutter_svg_test_test.dart
  third_party/packages/path_parsing/CHANGELOG.md
  third_party/packages/path_parsing/example/pubspec.yaml
  third_party/packages/path_parsing/lib/src/path_parsing.dart
  third_party/packages/path_parsing/lib/src/path_segment_type.dart
  third_party/packages/path_parsing/pubspec.yaml
  third_party/packages/path_parsing/test/parse_path_deep_test.dart
  third_party/packages/path_parsing/test/parse_path_test.dart
Labels: p: cupertino_icons, autosubmit, override: no versioning needed, p: path_parsing, p: flutter_svg

#9840 Roll Flutter from 0a2906b81d5e to b3fb4c786d80 (5 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#9749 [go_router_builder]: Add support for relative routes
  packages/go_router_builder/CHANGELOG.md
  packages/go_router_builder/README.md
  packages/go_router_builder/example/lib/go_relative.dart
  packages/go_router_builder/example/lib/go_relative.g.dart
  packages/go_router_builder/example/lib/readme_excerpts.dart
  packages/go_router_builder/example/lib/readme_excerpts.g.dart
  packages/go_router_builder/example/pubspec.yaml
  packages/go_router_builder/example/test/go_relative_test.dart
  packages/go_router_builder/lib/src/go_router_generator.dart
  packages/go_router_builder/lib/src/route_config.dart
  packages/go_router_builder/pubspec.yaml
  packages/go_router_builder/test_inputs/go_relative.dart
  packages/go_router_builder/test_inputs/go_relative.dart.expect
  packages/go_router_builder/test_inputs/no_mixin_relative.dart
  packages/go_router_builder/test_inputs/no_mixin_relative.dart.expect
  packages/go_router_builder/test_inputs/relative_route_with_absolute_path.dart
  packages/go_router_builder/test_inputs/relative_route_with_absolute_path.dart.expect
  packages/go_router_builder/test_inputs/relative_route_with_direct_absolute_sub_route.dart
  packages/go_router_builder/test_inputs/relative_route_with_direct_absolute_sub_route.dart.expect
  packages/go_router_builder/test_inputs/relative_route_with_indirect_absolute_sub_route.dart
  packages/go_router_builder/test_inputs/relative_route_with_indirect_absolute_sub_route.dart.expect
Labels: p: go_router_builder, autosubmit

#9785 [interactive_media_ads] Updates ProxyApis to prepare to add support for `AdEvent.ad`
  packages/interactive_media_ads/CHANGELOG.md
  packages/interactive_media_ads/android/src/main/kotlin/dev/flutter/packages/interactive_media_ads/AdEventProxyApi.kt
  packages/interactive_media_ads/android/src/main/kotlin/dev/flutter/packages/interactive_media_ads/AdsRequestProxyApi.kt
  packages/interactive_media_ads/android/src/main/kotlin/dev/flutter/packages/interactive_media_ads/InteractiveMediaAdsLibrary.g.kt
  packages/interactive_media_ads/android/src/test/kotlin/dev/flutter/packages/interactive_media_ads/AdEventProxyApiTest.kt
  packages/interactive_media_ads/example/ios/Runner.xcodeproj/project.pbxproj
  packages/interactive_media_ads/example/ios/RunnerTests/AdEventTests.swift
  packages/interactive_media_ads/example/ios/RunnerTests/AdProxyAPITests.swift
  packages/interactive_media_ads/example/ios/RunnerTests/UniversalAdIDProxyAPITests.swift
  packages/interactive_media_ads/ios/interactive_media_ads/Sources/interactive_media_ads/AdEventProxyAPIDelegate.swift
  packages/interactive_media_ads/ios/interactive_media_ads/Sources/interactive_media_ads/AdProxyAPIDelegate.swift
  packages/interactive_media_ads/ios/interactive_media_ads/Sources/interactive_media_ads/AdsRequestProxyAPIDelegate.swift
  packages/interactive_media_ads/ios/interactive_media_ads/Sources/interactive_media_ads/FriendlyObstructionProxyAPIDelegate.swift
  packages/interactive_media_ads/ios/interactive_media_ads/Sources/interactive_media_ads/InteractiveMediaAdsLibrary.g.swift
  packages/interactive_media_ads/ios/interactive_media_ads/Sources/interactive_media_ads/ProxyApiDelegate.swift
  packages/interactive_media_ads/ios/interactive_media_ads/Sources/interactive_media_ads/UniversalAdIDProxyAPIDelegate.swift
  packages/interactive_media_ads/lib/src/android/interactive_media_ads.g.dart
  packages/interactive_media_ads/lib/src/ios/interactive_media_ads.g.dart
  packages/interactive_media_ads/pigeons/interactive_media_ads_android.dart
  packages/interactive_media_ads/pigeons/interactive_media_ads_ios.dart
  packages/interactive_media_ads/pubspec.yaml
Labels: autosubmit, platform-android, platform-ios, p: interactive_media_ads

#9862 Manual roll Flutter from e65380a22076 to 960d1078f876 (36 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#9856 Handle automatic PopScope
  packages/go_router/test/go_router_test.dart
Labels: p: go_router, autosubmit

#9866 Roll Flutter from 960d1078f876 to d2ac0210ee05 (12 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#9872 Roll Flutter from d2ac0210ee05 to 26bb33b9572b (20 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#9861 [interactive_media_ads] Fixes Android IllegalStateException caused by uninitalized `MediaPlayer`
  packages/interactive_media_ads/CHANGELOG.md
  packages/interactive_media_ads/android/src/main/kotlin/dev/flutter/packages/interactive_media_ads/AdsRequestProxyApi.kt
  packages/interactive_media_ads/ios/interactive_media_ads/Sources/interactive_media_ads/AdsRequestProxyAPIDelegate.swift
  packages/interactive_media_ads/lib/src/android/android_ad_display_container.dart
  packages/interactive_media_ads/lib/src/android/interactive_media_ads.g.dart
  packages/interactive_media_ads/lib/src/android/interactive_media_ads_proxy.dart
  packages/interactive_media_ads/pigeons/interactive_media_ads_android.dart
  packages/interactive_media_ads/pubspec.yaml
  packages/interactive_media_ads/test/android/ad_display_container_test.dart
  packages/interactive_media_ads/test/android/ad_display_container_test.mocks.dart
  packages/interactive_media_ads/test/android/ads_loader_test.mocks.dart
Labels: autosubmit, platform-android, platform-ios, p: interactive_media_ads

#9879 Try to convince GCA to stop complaining about `dependency_overrides`
  .gemini/styleguide.md
Labels: autosubmit

#9892 Roll Flutter (stable) from 20f82749394e to 05db9689081f (15 revisions)
  .ci/flutter_stable.version
Labels: autosubmit

#8889 [go_router_builder]: Fix Parameter generates a warning
  packages/go_router_builder/CHANGELOG.md
  packages/go_router_builder/example/lib/all_types.g.dart
  packages/go_router_builder/example/lib/main.g.dart
  packages/go_router_builder/example/lib/readme_excerpts.g.dart
  packages/go_router_builder/example/lib/shell_route_with_keys_example.g.dart
  packages/go_router_builder/example/lib/shell_route_with_observers_example.g.dart
  packages/go_router_builder/lib/src/type_helpers.dart
  packages/go_router_builder/pubspec.yaml
  packages/go_router_builder/test_inputs/iterable_with_default_value.dart.expect
  packages/go_router_builder/test_inputs/iterable_with_enum.dart.expect
  packages/go_router_builder/test_inputs/list.dart.expect
  packages/go_router_builder/test_inputs/parameter_generates_a_warning.dart
  packages/go_router_builder/test_inputs/parameter_generates_a_warning.dart.expect
  packages/go_router_builder/test_inputs/required_query_parameter.dart.expect
  packages/go_router_builder/test_inputs/set.dart.expect
Labels: p: go_router_builder, autosubmit

#9853 [camera_android_camerax] Support NV21
  packages/camera/camera_android_camerax/CHANGELOG.md
  packages/camera/camera_android_camerax/README.md
  packages/camera/camera_android_camerax/android/build.gradle
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/CameraXLibrary.g.kt
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/ImageAnalysisProxyApi.java
  packages/camera/camera_android_camerax/android/src/test/java/io/flutter/plugins/camerax/Camera2CameraInfoTest.java
  packages/camera/camera_android_camerax/android/src/test/java/io/flutter/plugins/camerax/ImageAnalysisTest.java
  packages/camera/camera_android_camerax/android/src/test/java/io/flutter/plugins/camerax/PendingRecordingTest.java
  packages/camera/camera_android_camerax/example/lib/camera_image.dart
  packages/camera/camera_android_camerax/lib/src/android_camera_camerax.dart
  packages/camera/camera_android_camerax/lib/src/camerax_library.g.dart
  packages/camera/camera_android_camerax/lib/src/camerax_proxy.dart
  packages/camera/camera_android_camerax/pigeons/camerax_library.dart
  packages/camera/camera_android_camerax/pubspec.yaml
  packages/camera/camera_android_camerax/test/android_camera_camerax_test.dart
  packages/camera/camera_android_camerax/test/android_camera_camerax_test.mocks.dart
  packages/camera/camera_android_camerax/test/preview_rotation_test.dart
Labels: autosubmit, p: camera, platform-android

#9897 [google_maps_flutter_platform_interface] Add cameraControl enable/disable & position on web
  packages/google_maps_flutter/google_maps_flutter_platform_interface/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/map_configuration.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/types.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/web_camera_control_position.dart
  packages/google_maps_flutter/google_maps_flutter_platform_interface/pubspec.yaml
  packages/google_maps_flutter/google_maps_flutter_platform_interface/test/types/map_configuration_test.dart
Labels: autosubmit, p: google_maps_flutter, federated: partial_changes, triage-web

#9781 [camera_avfoundation] Implementation swift migration - part 12
  packages/camera/camera_avfoundation/CHANGELOG.md
  packages/camera/camera_avfoundation/example/ios/RunnerTests/AvailableCamerasTests.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraInitRaceConditionsTests.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraMethodChannelTests.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraOrientationTests.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraPermissionTests.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraPluginCreateCameraTests.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraPluginDelegatingMethodTests.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraPluginInitializeCameraTests.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraPreviewPauseTests.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraPropertiesTests.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraSessionPresetsTests.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraSettingsTests.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/CameraTestUtils.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/FLTCamExposureTests.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/FLTCamFocusTests.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/FLTCamSetDeviceOrientationTests.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/FLTCamSetFlashModeTests.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/FLTCamZoomTests.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/Mocks/MockAssetWriter.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/Mocks/MockAssetWriterInput.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/Mocks/MockAssetWriterInputPixelBufferAdaptor.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/Mocks/MockCamera.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/Mocks/MockCameraDeviceDiscoverer.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/Mocks/MockCaptureConnection.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/Mocks/MockCaptureDevice.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/Mocks/MockCaptureDeviceFormat.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/Mocks/MockCaptureDeviceInputFactory.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/Mocks/MockCaptureInput.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/Mocks/MockCapturePhotoOutput.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/Mocks/MockCaptureSession.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/Mocks/MockCaptureVideoDataOutput.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/Mocks/MockDeviceOrientationProvider.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/Mocks/MockEventChannel.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/Mocks/MockFLTCameraPermissionManager.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/Mocks/MockFrameRateRange.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/Mocks/MockGlobalEventApi.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/Mocks/MockWritableData.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/PhotoCaptureTests.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/QueueUtilsTests.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/SampleBufferTests.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/SavePhotoDelegateTests.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/StreamingTests.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/ThreadSafeEventChannelTests.swift
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/Camera.swift
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/CameraPlugin.swift
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation/DefaultCamera.swift
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation_objc/FLTCam.m
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation_objc/include/camera_avfoundation/FLTCam.h
  packages/camera/camera_avfoundation/ios/camera_avfoundation/Sources/camera_avfoundation_objc/include/camera_avfoundation/FLTCam_Test.h
  packages/camera/camera_avfoundation/pubspec.yaml
Labels: autosubmit, p: camera, platform-ios, platform-macos

#9867 [go_router] Add state restoration topic to documentation
  packages/go_router/CHANGELOG.md
  packages/go_router/README.md
  packages/go_router/dartdoc_options.yaml
  packages/go_router/doc/state-restoration.md
  packages/go_router/example/lib/others/state_restoration.dart
  packages/go_router/example/lib/others/stateful_shell_state_restoration.dart
  packages/go_router/example/lib/state_restoration/go_route_state_restoration.dart
  packages/go_router/example/lib/state_restoration/shell_route_state_restoration.dart
  packages/go_router/example/lib/state_restoration/stateful_shell_route_state_restoration.dart
  packages/go_router/example/test/state_restoration/go_route_state_restoration_test.dart
  packages/go_router/example/test/state_restoration/shell_route_state_restoration_test.dart
  packages/go_router/example/test/state_restoration/stateful_shell_route_state_restoration_test.dart
  packages/go_router/lib/src/router.dart
  packages/go_router/pubspec.yaml
Labels: p: go_router, autosubmit
