Repository flutter/packages, pull requests merged in 2025-04, with the labels that each got.

#8892 [camera_avfoundation] Test utils and mocks swift migration - part 2
  packages/camera/camera_avfoundation/example/ios/Runner.xcodeproj/project.pbxproj
  packages/camera/camera_avfoundation/example/ios/RunnerTests/FLTCamExposureTests.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/FLTCamFocusTests.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/Mocks/MockCameraDeviceDiscoverer.h
  packages/camera/camera_avfoundation/example/ios/RunnerTests/Mocks/MockCameraDeviceDiscoverer.m
  packages/camera/camera_avfoundation/example/ios/RunnerTests/Mocks/MockCameraDeviceDiscoverer.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/Mocks/MockCaptureConnection.h
  packages/camera/camera_avfoundation/example/ios/RunnerTests/Mocks/MockCaptureConnection.m
  packages/camera/camera_avfoundation/example/ios/RunnerTests/Mocks/MockCaptureConnection.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/Mocks/MockCaptureDeviceFormat.h
  packages/camera/camera_avfoundation/example/ios/RunnerTests/Mocks/MockCaptureDeviceFormat.m
  packages/camera/camera_avfoundation/example/ios/RunnerTests/Mocks/MockCaptureDeviceFormat.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/Mocks/MockCapturePhotoOutput.h
  packages/camera/camera_avfoundation/example/ios/RunnerTests/Mocks/MockCapturePhotoOutput.m
  packages/camera/camera_avfoundation/example/ios/RunnerTests/Mocks/MockCapturePhotoOutput.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/Mocks/MockDeviceOrientationProvider.h
  packages/camera/camera_avfoundation/example/ios/RunnerTests/Mocks/MockDeviceOrientationProvider.m
  packages/camera/camera_avfoundation/example/ios/RunnerTests/Mocks/MockDeviceOrientationProvider.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/Mocks/MockFlutterBinaryMessenger.h
  packages/camera/camera_avfoundation/example/ios/RunnerTests/Mocks/MockFlutterBinaryMessenger.m
  packages/camera/camera_avfoundation/example/ios/RunnerTests/Mocks/MockFlutterBinaryMessenger.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/Mocks/MockFlutterTextureRegistry.m
  packages/camera/camera_avfoundation/example/ios/RunnerTests/Mocks/MockFlutterTextureRegistry.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/Mocks/MockFrameRateRange.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/Mocks/MockGlobalEventApi.h
  packages/camera/camera_avfoundation/example/ios/RunnerTests/Mocks/MockGlobalEventApi.m
  packages/camera/camera_avfoundation/example/ios/RunnerTests/Mocks/MockGlobalEventApi.swift
  packages/camera/camera_avfoundation/example/ios/RunnerTests/RunnerTests-Bridging-Header.h
Labels: autosubmit, p: camera, platform-ios, platform-macos

#8582 [url_launcher] When not fully loaded, clicking close causes the callback to not be triggered correctly.
  packages/url_launcher/url_launcher_ios/CHANGELOG.md
  packages/url_launcher/url_launcher_ios/example/ios/RunnerTests/URLLauncherTests.swift
  packages/url_launcher/url_launcher_ios/ios/url_launcher_ios/Sources/url_launcher_ios/URLLaunchSession.swift
  packages/url_launcher/url_launcher_ios/ios/url_launcher_ios/Sources/url_launcher_ios/messages.g.swift
  packages/url_launcher/url_launcher_ios/lib/src/messages.g.dart
  packages/url_launcher/url_launcher_ios/lib/url_launcher_ios.dart
  packages/url_launcher/url_launcher_ios/pigeons/messages.dart
  packages/url_launcher/url_launcher_ios/pubspec.yaml
Labels: autosubmit, platform-ios, p: url_launcher, triage-ios

#8967 [google_maps_flutter] Skip more hanging iOS tests
  packages/google_maps_flutter/google_maps_flutter/example/integration_test/src/maps_inspector.dart
Labels: autosubmit, p: google_maps_flutter

#6739 [flutter_markdown] Added sizedImageBuilder to Markdown widget
  packages/flutter_markdown/CHANGELOG.md
  packages/flutter_markdown/lib/src/builder.dart
  packages/flutter_markdown/lib/src/widget.dart
  packages/flutter_markdown/pubspec.yaml
  packages/flutter_markdown/test/assets/images/golden/image_test/custom_image_builder_test.png
  packages/flutter_markdown/test/image_test.dart
Labels: p: flutter_markdown, autosubmit

#8924 Adjust PR checklist formatter discussion
  .github/PULL_REQUEST_TEMPLATE.md
Labels: autosubmit

#8960 Manual roll Flutter from 1d954f4e96bd to 05b5e7910544 (225 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#8968 Upgrade tests to use Xcode 16 and iOS 18
  .ci.yaml
  .ci/scripts/create_simulator.sh
  .ci/targets/ios_platform_tests.yaml
  packages/pigeon/tool/shared/test_suites.dart
Labels: p: pigeon, autosubmit

#8888 [multicast_dns] MDnsClient::listen supports onError callback
  packages/multicast_dns/CHANGELOG.md
  packages/multicast_dns/lib/multicast_dns.dart
  packages/multicast_dns/pubspec.yaml
  packages/multicast_dns/test/client_test.dart
Labels: p: multicast_dns, autosubmit

#8985 Roll Flutter from 05b5e7910544 to a0b1b3253416 (37 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#8897 [all_packages] Enforce property assignment for compile sdk over method assignment
  packages/camera/camera/example/android/app/build.gradle
  packages/camera/camera_android/example/android/app/build.gradle
  packages/camera/camera_android_camerax/example/android/app/build.gradle
  packages/espresso/example/android/app/build.gradle
  packages/extension_google_sign_in_as_googleapis_auth/example/android/app/build.gradle
  packages/file_selector/file_selector/example/android/app/build.gradle
  packages/file_selector/file_selector_android/example/android/app/build.gradle
  packages/flutter_adaptive_scaffold/example/android/app/build.gradle
  packages/flutter_image/example/android/app/build.gradle
  packages/flutter_markdown/example/android/app/build.gradle
  packages/flutter_plugin_android_lifecycle/example/android/app/build.gradle
  packages/go_router/example/android/app/build.gradle
  packages/google_maps_flutter/google_maps_flutter/example/android/app/build.gradle
  packages/google_maps_flutter/google_maps_flutter_android/example/android/app/build.gradle
  packages/google_sign_in/google_sign_in/example/android/app/build.gradle
  packages/google_sign_in/google_sign_in_android/example/android/app/build.gradle
  packages/image_picker/image_picker/example/android/app/build.gradle
  packages/image_picker/image_picker_android/example/android/app/build.gradle
  packages/in_app_purchase/in_app_purchase/example/android/app/build.gradle
  packages/in_app_purchase/in_app_purchase_android/example/android/app/build.gradle
  packages/interactive_media_ads/example/android/app/build.gradle
  packages/local_auth/local_auth/example/android/app/build.gradle
  packages/local_auth/local_auth_android/example/android/app/build.gradle
  packages/palette_generator/example/android/app/build.gradle
  packages/path_provider/path_provider/example/android/app/build.gradle
  packages/path_provider/path_provider_android/example/android/app/build.gradle
  packages/pigeon/example/app/android/app/build.gradle
  packages/pigeon/platform_tests/alternate_language_test_plugin/example/android/app/build.gradle
  packages/pigeon/platform_tests/test_plugin/example/android/app/build.gradle
  packages/quick_actions/quick_actions/example/android/app/build.gradle
  packages/quick_actions/quick_actions_android/example/android/app/build.gradle
  packages/rfw/example/hello/android/app/build.gradle
  packages/rfw/example/local/android/app/build.gradle
  packages/rfw/example/remote/android/app/build.gradle
  packages/shared_preferences/shared_preferences/example/android/app/build.gradle
  packages/shared_preferences/shared_preferences_android/example/android/app/build.gradle
  packages/two_dimensional_scrollables/example/android/app/build.gradle
  packages/url_launcher/url_launcher/example/android/app/build.gradle
  packages/url_launcher/url_launcher_android/example/android/app/build.gradle
  packages/video_player/video_player/example/android/app/build.gradle
  packages/video_player/video_player_android/example/android/app/build.gradle
  packages/webview_flutter/webview_flutter/example/android/app/build.gradle
  packages/webview_flutter/webview_flutter_android/example/android/app/build.gradle
  script/tool/lib/src/gradle_check_command.dart
  script/tool/test/gradle_check_command_test.dart
Labels: p: extension_google_sign_in_as_googleapis_auth, p: palette_generator, p: pigeon, p: flutter_markdown, p: flutter_image, p: rfw, p: go_router, autosubmit, p: flutter_adaptive_scaffold, p: camera, p: espresso, p: file_selector, p: flutter_plugin_android_lifecycle, p: google_maps_flutter, p: google_sign_in, p: image_picker, p: in_app_purchase, p: local_auth, p: path_provider, p: quick_actions, platform-android, p: webview_flutter, p: video_player, p: url_launcher, p: shared_preferences, p: interactive_media_ads

#8990 Manual roll Flutter (stable) from 09de023485e9 to c23637390482 (14 revisions)
  .ci/flutter_stable.version
Labels: autosubmit

#8996 Roll Flutter from a0b1b3253416 to 02f13c37841f (37 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#8971 [pigeon] swift equality methods
  packages/pigeon/CHANGELOG.md
  packages/pigeon/example/app/android/app/src/main/kotlin/dev/flutter/pigeon_example_app/EventChannelMessages.g.kt
  packages/pigeon/example/app/android/app/src/main/kotlin/dev/flutter/pigeon_example_app/Messages.g.kt
  packages/pigeon/example/app/ios/Runner/EventChannelMessages.g.swift
  packages/pigeon/example/app/ios/Runner/Messages.g.swift
  packages/pigeon/example/app/lib/src/event_channel_messages.g.dart
  packages/pigeon/example/app/lib/src/messages.g.dart
  packages/pigeon/lib/src/dart/dart_generator.dart
  packages/pigeon/lib/src/generator_tools.dart
  packages/pigeon/lib/src/kotlin/kotlin_generator.dart
  packages/pigeon/lib/src/swift/swift_generator.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/core_tests.gen.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/enum.gen.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/event_channel_tests.gen.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/flutter_unittests.gen.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/message.gen.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/non_null_fields.gen.dart
  packages/pigeon/platform_tests/shared_test_plugin_code/lib/src/generated/null_fields.gen.dart
  packages/pigeon/platform_tests/test_plugin/android/src/main/kotlin/com/example/test_plugin/CoreTests.gen.kt
  packages/pigeon/platform_tests/test_plugin/android/src/main/kotlin/com/example/test_plugin/EventChannelTests.gen.kt
  packages/pigeon/platform_tests/test_plugin/example/ios/RunnerTests/AllDatatypesTests.swift
  packages/pigeon/platform_tests/test_plugin/example/ios/RunnerTests/EnumTests.swift
  packages/pigeon/platform_tests/test_plugin/ios/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/ios/Classes/EventChannelTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/ios/Classes/ProxyApiTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/macos/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/macos/Classes/EventChannelTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/macos/Classes/ProxyApiTests.gen.swift
  packages/pigeon/pubspec.yaml
Labels: p: pigeon, autosubmit, platform-android, platform-ios, platform-macos

#9032 [shared_preferences] Allow reading int as long in SharedPreferences #165781
  packages/shared_preferences/shared_preferences_android/CHANGELOG.md
  packages/shared_preferences/shared_preferences_android/android/src/main/kotlin/io/flutter/plugins/sharedpreferences/SharedPreferencesPlugin.kt
  packages/shared_preferences/shared_preferences_android/example/android/app/src/main/java/dev/flutter/plugins/shared_preferences_example/MainActivity.java
  packages/shared_preferences/shared_preferences_android/example/integration_test/shared_preferences_test.dart
  packages/shared_preferences/shared_preferences_android/pubspec.yaml
Labels: autosubmit, platform-android, p: shared_preferences

#9036 Manual roll Flutter from 02f13c37841f to 212064a3e558 (21 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#9041 Manual roll Flutter from 212064a3e558 to 9bf18f097137 (32 revisions)
  .ci.yaml
  .ci/flutter_master.version
Labels: autosubmit

#9053 Manual roll Flutter from 9bf18f097137 to 30e53b0d9caa (1 revision)
  .ci/flutter_master.version
Labels: autosubmit

#9075 [tool] Run a config-only build before Xcode analyze
  script/tool/lib/src/common/flutter_command_utils.dart
  script/tool/lib/src/fetch_deps_command.dart
  script/tool/lib/src/firebase_test_lab_command.dart
  script/tool/lib/src/lint_android_command.dart
  script/tool/lib/src/native_test_command.dart
  script/tool/lib/src/xcode_analyze_command.dart
  script/tool/test/firebase_test_lab_command_test.dart
  script/tool/test/xcode_analyze_command_test.dart
Labels: autosubmit

#9080 [tool] Run config-only build for iOS/macOS native-test
  script/tool/lib/src/native_test_command.dart
  script/tool/test/native_test_command_test.dart
Labels: autosubmit

#9092 Manual roll Flutter from 30e53b0d9caa to db68c950c599 (98 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#8992 [go_router] Adds `caseSensitive` to `GoRoute`
  packages/go_router/CHANGELOG.md
  packages/go_router/README.md
  packages/go_router/lib/src/match.dart
  packages/go_router/lib/src/route.dart
  packages/go_router/pubspec.yaml
  packages/go_router/test/go_router_test.dart
Labels: p: go_router, autosubmit

#9081 [google_sign_is] Update iOS SDK to 8.0
  packages/google_sign_in/google_sign_in_ios/CHANGELOG.md
  packages/google_sign_in/google_sign_in_ios/darwin/google_sign_in_ios.podspec
  packages/google_sign_in/google_sign_in_ios/darwin/google_sign_in_ios/Package.swift
  packages/google_sign_in/google_sign_in_ios/pubspec.yaml
Labels: autosubmit, p: google_sign_in, platform-ios, platform-macos

#8984 Update `CODEOWNERS`
  CODEOWNERS
Labels: autosubmit

#9099 [webview_flutter_platform_interface] Adds method to set overscroll mode
  packages/webview_flutter/webview_flutter_platform_interface/CHANGELOG.md
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/platform_webview_controller.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/types/over_scroll_mode.dart
  packages/webview_flutter/webview_flutter_platform_interface/lib/src/types/types.dart
  packages/webview_flutter/webview_flutter_platform_interface/pubspec.yaml
  packages/webview_flutter/webview_flutter_platform_interface/test/platform_webview_controller_test.dart
Labels: autosubmit, p: webview_flutter

#9098 Roll Flutter from db68c950c599 to aef4718b3956 (7 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#9100 [pigeon] Unify iOS and macOS test plugins
  packages/pigeon/platform_tests/alternate_language_test_plugin/darwin/.gitignore
  packages/pigeon/platform_tests/alternate_language_test_plugin/darwin/Classes/.gitignore
  packages/pigeon/platform_tests/alternate_language_test_plugin/darwin/Classes/AlternateLanguageTestPlugin.h
  packages/pigeon/platform_tests/alternate_language_test_plugin/darwin/Classes/AlternateLanguageTestPlugin.m
  packages/pigeon/platform_tests/alternate_language_test_plugin/darwin/Classes/CoreTests.gen.h
  packages/pigeon/platform_tests/alternate_language_test_plugin/darwin/Classes/CoreTests.gen.m
  packages/pigeon/platform_tests/alternate_language_test_plugin/darwin/alternate_language_test_plugin.podspec
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Assets/.gitkeep
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/.gitignore
  packages/pigeon/platform_tests/alternate_language_test_plugin/ios/Classes/AlternateLanguageTestPlugin.h
  packages/pigeon/platform_tests/alternate_language_test_plugin/macos/Classes/AlternateLanguageTestPlugin.m
  packages/pigeon/platform_tests/alternate_language_test_plugin/macos/Classes/CoreTests.gen.h
  packages/pigeon/platform_tests/alternate_language_test_plugin/macos/Classes/CoreTests.gen.m
  packages/pigeon/platform_tests/alternate_language_test_plugin/macos/alternate_language_test_plugin.podspec
  packages/pigeon/platform_tests/alternate_language_test_plugin/pubspec.yaml
  packages/pigeon/platform_tests/test_plugin/darwin/.gitignore
  packages/pigeon/platform_tests/test_plugin/darwin/Classes/.gitignore
  packages/pigeon/platform_tests/test_plugin/darwin/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/darwin/Classes/EventChannelTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/darwin/Classes/ProxyApiTestClass.swift
  packages/pigeon/platform_tests/test_plugin/darwin/Classes/ProxyApiTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/darwin/Classes/TestPlugin.swift
  packages/pigeon/platform_tests/test_plugin/darwin/test_plugin.podspec
  packages/pigeon/platform_tests/test_plugin/ios/Assets/.gitkeep
  packages/pigeon/platform_tests/test_plugin/ios/Classes/TestPlugin.swift
  packages/pigeon/platform_tests/test_plugin/ios/test_plugin.podspec
  packages/pigeon/platform_tests/test_plugin/macos/Classes/.gitignore
  packages/pigeon/platform_tests/test_plugin/macos/Classes/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/macos/Classes/EventChannelTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/macos/Classes/ProxyApiTestClass.swift
  packages/pigeon/platform_tests/test_plugin/macos/Classes/ProxyApiTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/pubspec.yaml
  packages/pigeon/tool/shared/generation.dart
Labels: p: pigeon, autosubmit, platform-ios, platform-macos

#9104 Roll Flutter from aef4718b3956 to ecabb1a05212 (25 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#7466 [video_player_avfoundation] enable more than 30 fps
  packages/video_player/video_player_avfoundation/CHANGELOG.md
  packages/video_player/video_player_avfoundation/darwin/RunnerTests/VideoPlayerTests.m
  packages/video_player/video_player_avfoundation/darwin/video_player_avfoundation/Sources/video_player_avfoundation/FVPFrameUpdater.m
  packages/video_player/video_player_avfoundation/darwin/video_player_avfoundation/Sources/video_player_avfoundation/FVPTextureBasedVideoPlayer.m
  packages/video_player/video_player_avfoundation/darwin/video_player_avfoundation/Sources/video_player_avfoundation/FVPVideoPlayer.m
  packages/video_player/video_player_avfoundation/darwin/video_player_avfoundation/Sources/video_player_avfoundation/include/video_player_avfoundation/FVPDisplayLink.h
  packages/video_player/video_player_avfoundation/darwin/video_player_avfoundation/Sources/video_player_avfoundation/include/video_player_avfoundation/FVPFrameUpdater.h
  packages/video_player/video_player_avfoundation/darwin/video_player_avfoundation/Sources/video_player_avfoundation_ios/FVPDisplayLink.m
  packages/video_player/video_player_avfoundation/darwin/video_player_avfoundation/Sources/video_player_avfoundation_macos/FVPDisplayLink.m
  packages/video_player/video_player_avfoundation/pubspec.yaml
Labels: autosubmit, platform-ios, platform-macos, p: video_player, triage-ios

#9106 [shared_preferences] Update AGP to 8.9.1
  packages/shared_preferences/shared_preferences_android/example/android/app/build.gradle
  packages/shared_preferences/shared_preferences_android/example/android/gradle/wrapper/gradle-wrapper.properties
  packages/shared_preferences/shared_preferences_android/example/android/settings.gradle
Labels: autosubmit, platform-android, p: shared_preferences

#9101 [webview_flutter_android][webview_flutter_wkwebview] Adds platform implementations to set over-scroll mode
  packages/webview_flutter/webview_flutter_android/CHANGELOG.md
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/AndroidWebkitLibrary.g.kt
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/ViewProxyApi.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/ViewTest.java
  packages/webview_flutter/webview_flutter_android/example/pubspec.yaml
  packages/webview_flutter/webview_flutter_android/lib/src/android_webkit.g.dart
  packages/webview_flutter/webview_flutter_android/lib/src/android_webview_controller.dart
  packages/webview_flutter/webview_flutter_android/pigeons/android_webkit.dart
  packages/webview_flutter/webview_flutter_android/pubspec.yaml
  packages/webview_flutter/webview_flutter_android/test/android_webview_controller_test.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_controller_test.mocks.dart
  packages/webview_flutter/webview_flutter_android/test/android_webview_cookie_manager_test.mocks.dart
  packages/webview_flutter/webview_flutter_android/test/legacy/webview_android_widget_test.mocks.dart
  packages/webview_flutter/webview_flutter_wkwebview/CHANGELOG.md
  packages/webview_flutter/webview_flutter_wkwebview/example/pubspec.yaml
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/webkit_webview_controller.dart
  packages/webview_flutter/webview_flutter_wkwebview/pubspec.yaml
  packages/webview_flutter/webview_flutter_wkwebview/test/webkit_webview_controller_test.dart
Labels: autosubmit, platform-android, platform-ios, p: webview_flutter, federated: partial_changes

#5029 [webview_flutter_wkwebview] Expose the allowsLinkPreview property in WKWebView for iOS
  packages/webview_flutter/webview_flutter_wkwebview/CHANGELOG.md
  packages/webview_flutter/webview_flutter_wkwebview/darwin/Tests/WebViewProxyAPITests.swift
  packages/webview_flutter/webview_flutter_wkwebview/darwin/webview_flutter_wkwebview/Sources/webview_flutter_wkwebview/WebKitLibrary.g.swift
  packages/webview_flutter/webview_flutter_wkwebview/darwin/webview_flutter_wkwebview/Sources/webview_flutter_wkwebview/WebViewProxyAPIDelegate.swift
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/common/platform_webview.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/common/web_kit.g.dart
  packages/webview_flutter/webview_flutter_wkwebview/lib/src/webkit_webview_controller.dart
  packages/webview_flutter/webview_flutter_wkwebview/pigeons/web_kit.dart
  packages/webview_flutter/webview_flutter_wkwebview/pubspec.yaml
  packages/webview_flutter/webview_flutter_wkwebview/test/legacy/web_kit_webview_widget_test.mocks.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/webkit_webview_controller_test.dart
  packages/webview_flutter/webview_flutter_wkwebview/test/webkit_webview_controller_test.mocks.dart
Labels: autosubmit, platform-ios, platform-macos, p: webview_flutter

#8900 [in_app_purchase] add Storefront.countryCode() and AppStore.sync()
  packages/in_app_purchase/in_app_purchase_storekit/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_storekit/darwin/in_app_purchase_storekit/Sources/in_app_purchase_storekit/StoreKit2/InAppPurchasePlugin+StoreKit2.swift
  packages/in_app_purchase/in_app_purchase_storekit/darwin/in_app_purchase_storekit/Sources/in_app_purchase_storekit/StoreKit2/sk2_pigeon.g.swift
  packages/in_app_purchase/in_app_purchase_storekit/lib/src/in_app_purchase_storekit_platform.dart
  packages/in_app_purchase/in_app_purchase_storekit/lib/src/in_app_purchase_storekit_platform_addition.dart
  packages/in_app_purchase/in_app_purchase_storekit/lib/src/sk2_pigeon.g.dart
  packages/in_app_purchase/in_app_purchase_storekit/lib/src/store_kit_2_wrappers/sk2_appstore_wrapper.dart
  packages/in_app_purchase/in_app_purchase_storekit/lib/src/store_kit_2_wrappers/sk2_storefront_wrapper.dart
  packages/in_app_purchase/in_app_purchase_storekit/lib/store_kit_2_wrappers.dart
  packages/in_app_purchase/in_app_purchase_storekit/pigeons/sk2_pigeon.dart
  packages/in_app_purchase/in_app_purchase_storekit/pubspec.yaml
  packages/in_app_purchase/in_app_purchase_storekit/test/fakes/fake_storekit_platform.dart
  packages/in_app_purchase/in_app_purchase_storekit/test/in_app_purchase_storekit_2_platform_test.dart
  packages/in_app_purchase/in_app_purchase_storekit/test/sk2_test_api.g.dart
Labels: autosubmit, p: in_app_purchase, platform-ios, platform-macos

#8451 [webview_flutter] Adds support to control overscrolling
  packages/webview_flutter/webview_flutter/CHANGELOG.md
  packages/webview_flutter/webview_flutter/example/pubspec.yaml
  packages/webview_flutter/webview_flutter/lib/src/webview_controller.dart
  packages/webview_flutter/webview_flutter/lib/webview_flutter.dart
  packages/webview_flutter/webview_flutter/pubspec.yaml
  packages/webview_flutter/webview_flutter/test/legacy/webview_flutter_test.mocks.dart
  packages/webview_flutter/webview_flutter/test/navigation_delegate_test.mocks.dart
  packages/webview_flutter/webview_flutter/test/webview_controller_test.dart
  packages/webview_flutter/webview_flutter/test/webview_controller_test.mocks.dart
  packages/webview_flutter/webview_flutter/test/webview_cookie_manager_test.mocks.dart
  packages/webview_flutter/webview_flutter/test/webview_flutter_export_test.dart
  packages/webview_flutter/webview_flutter/test/webview_widget_test.mocks.dart
Labels: autosubmit, p: webview_flutter, federated: all_changes

#9105 [pigeon] Convert test plugins to SPM
  packages/pigeon/platform_tests/alternate_language_test_plugin/darwin/alternate_language_test_plugin.podspec
  packages/pigeon/platform_tests/alternate_language_test_plugin/darwin/alternate_language_test_plugin/Package.swift
  packages/pigeon/platform_tests/alternate_language_test_plugin/darwin/alternate_language_test_plugin/Sources/alternate_language_test_plugin/.gitignore
  packages/pigeon/platform_tests/alternate_language_test_plugin/darwin/alternate_language_test_plugin/Sources/alternate_language_test_plugin/AlternateLanguageTestPlugin.m
  packages/pigeon/platform_tests/alternate_language_test_plugin/darwin/alternate_language_test_plugin/Sources/alternate_language_test_plugin/CoreTests.gen.m
  packages/pigeon/platform_tests/alternate_language_test_plugin/darwin/alternate_language_test_plugin/Sources/alternate_language_test_plugin/include/alternate_language_test_plugin/AlternateLanguageTestPlugin.h
  packages/pigeon/platform_tests/alternate_language_test_plugin/darwin/alternate_language_test_plugin/Sources/alternate_language_test_plugin/include/alternate_language_test_plugin/CoreTests.gen.h
  packages/pigeon/platform_tests/alternate_language_test_plugin/example/.gitignore
  packages/pigeon/platform_tests/alternate_language_test_plugin/example/ios/Runner.xcodeproj/project.pbxproj
  packages/pigeon/platform_tests/alternate_language_test_plugin/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/pigeon/platform_tests/alternate_language_test_plugin/example/macos/Runner.xcodeproj/project.pbxproj
  packages/pigeon/platform_tests/alternate_language_test_plugin/example/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/pigeon/platform_tests/alternate_language_test_plugin/example/macos/Runner/AppDelegate.swift
  packages/pigeon/platform_tests/test_plugin/darwin/test_plugin.podspec
  packages/pigeon/platform_tests/test_plugin/darwin/test_plugin/Package.swift
  packages/pigeon/platform_tests/test_plugin/darwin/test_plugin/Sources/test_plugin/.gitignore
  packages/pigeon/platform_tests/test_plugin/darwin/test_plugin/Sources/test_plugin/CoreTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/darwin/test_plugin/Sources/test_plugin/EventChannelTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/darwin/test_plugin/Sources/test_plugin/ProxyApiTestClass.swift
  packages/pigeon/platform_tests/test_plugin/darwin/test_plugin/Sources/test_plugin/ProxyApiTests.gen.swift
  packages/pigeon/platform_tests/test_plugin/darwin/test_plugin/Sources/test_plugin/TestPlugin.swift
  packages/pigeon/platform_tests/test_plugin/example/ios/Runner.xcodeproj/project.pbxproj
  packages/pigeon/platform_tests/test_plugin/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/pigeon/platform_tests/test_plugin/example/macos/Runner.xcodeproj/project.pbxproj
  packages/pigeon/platform_tests/test_plugin/example/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/pigeon/tool/shared/generation.dart
Labels: p: pigeon, autosubmit, platform-ios, platform-macos

#8928 [tool] Add initial file-based command skipping
  script/tool/lib/src/analyze_command.dart
  script/tool/lib/src/build_examples_command.dart
  script/tool/lib/src/common/file_filters.dart
  script/tool/lib/src/common/package_looping_command.dart
  script/tool/lib/src/dart_test_command.dart
  script/tool/lib/src/drive_examples_command.dart
  script/tool/lib/src/firebase_test_lab_command.dart
  script/tool/lib/src/lint_android_command.dart
  script/tool/lib/src/native_test_command.dart
  script/tool/lib/src/xcode_analyze_command.dart
  script/tool/test/analyze_command_test.dart
  script/tool/test/build_examples_command_test.dart
  script/tool/test/common/package_looping_command_test.dart
  script/tool/test/dart_test_command_test.dart
  script/tool/test/drive_examples_command_test.dart
  script/tool/test/firebase_test_lab_command_test.dart
  script/tool/test/lint_android_command_test.dart
  script/tool/test/native_test_command_test.dart
  script/tool/test/xcode_analyze_command_test.dart
Labels: autosubmit

#9043 [flutter_svg] feat: Expose the `colorMapper` property in `SvgPicture`
  AUTHORS
  third_party/packages/flutter_svg/CHANGELOG.md
  third_party/packages/flutter_svg/README.md
  third_party/packages/flutter_svg/example/lib/readme_excerpts.dart
  third_party/packages/flutter_svg/lib/svg.dart
  third_party/packages/flutter_svg/pubspec.yaml
  third_party/packages/flutter_svg/test/golden_widget/flutter_logo.asset.color_mapper.png
  third_party/packages/flutter_svg/test/golden_widget/flutter_logo.memory.color_mapper.png
  third_party/packages/flutter_svg/test/golden_widget/flutter_logo.network.color_mapper.png
  third_party/packages/flutter_svg/test/golden_widget/flutter_logo.string.color_mapper.png
  third_party/packages/flutter_svg/test/widget_svg_test.dart
Labels: autosubmit, p: flutter_svg

#9114 Roll Flutter from ecabb1a05212 to 3ed38e24528a (23 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#9118 Roll Flutter from 3ed38e24528a to cfb887cd5f41 (17 revisions)
  .ci/flutter_master.version
Labels: autosubmit

#9096 [go_router_builder] Add `caseSensitive` to `TypedGoRoute`
  packages/go_router/CHANGELOG.md
  packages/go_router/lib/src/route_data.dart
  packages/go_router/pubspec.yaml
  packages/go_router/test/route_data_test.dart
Labels: p: go_router, autosubmit

#9068 [in_app_purchase] Write to the transactions update queue from the main thread
  packages/in_app_purchase/in_app_purchase_storekit/CHANGELOG.md
  packages/in_app_purchase/in_app_purchase_storekit/darwin/in_app_purchase_storekit/Sources/in_app_purchase_storekit/InAppPurchasePlugin.swift
  packages/in_app_purchase/in_app_purchase_storekit/darwin/in_app_purchase_storekit/Sources/in_app_purchase_storekit/StoreKit2/InAppPurchasePlugin+StoreKit2.swift
  packages/in_app_purchase/in_app_purchase_storekit/example/shared/RunnerTests/InAppPurchaseStoreKit2PluginTests.swift
  packages/in_app_purchase/in_app_purchase_storekit/pubspec.yaml
Labels: autosubmit, p: in_app_purchase, platform-ios, platform-macos

#8986 [vector_graphics_compiler] fix: Stroke opacity not applied
  AUTHORS
  packages/vector_graphics_compiler/CHANGELOG.md
  packages/vector_graphics_compiler/lib/src/svg/parser.dart
  packages/vector_graphics_compiler/lib/vector_graphics_compiler.dart
  packages/vector_graphics_compiler/pubspec.yaml
  packages/vector_graphics_compiler/test/parser_test.dart
Labels: autosubmit, p: vector_graphics

#9025 [video_player_web] Fix blank first frame on iOS.
  packages/video_player/video_player_web/CHANGELOG.md
  packages/video_player/video_player_web/example/integration_test/video_player_test.dart
  packages/video_player/video_player_web/lib/src/video_player.dart
  packages/video_player/video_player_web/pubspec.yaml
Labels: autosubmit, platform-web, p: video_player

#8999 [gis_web] Make maybeEnum more robust in google_identity_services_web shared file.
  packages/google_identity_services_web/CHANGELOG.md
  packages/google_identity_services_web/README.md
  packages/google_identity_services_web/example/integration_test/js_interop_id_test.dart
  packages/google_identity_services_web/example/integration_test/utils.dart
  packages/google_identity_services_web/example/web/mock-gis.js
  packages/google_identity_services_web/lib/src/js_interop/shared.dart
  packages/google_identity_services_web/pubspec.yaml
  packages/google_identity_services_web/test/README.md
Labels: autosubmit, platform-web, triage-web

#9129 Redistribute iOS CODEOWNERS
  CODEOWNERS
Labels: autosubmit

#9127 [google_maps_flutter_ios] Fix iOS regression where updating a marker hides its info window
  packages/google_maps_flutter/google_maps_flutter_ios/CHANGELOG.md
  packages/google_maps_flutter/google_maps_flutter_ios/example/ios14/integration_test/google_maps_test.dart
  packages/google_maps_flutter/google_maps_flutter_ios/ios/Classes/GoogleMapMarkerController.h
  packages/google_maps_flutter/google_maps_flutter_ios/ios/Classes/GoogleMapMarkerController.m
  packages/google_maps_flutter/google_maps_flutter_ios/pubspec.yaml
Labels: autosubmit, p: google_maps_flutter, platform-ios

#9141 [camerax] Ensure DeviceOrientationManager stops on dispose
  packages/camera/camera_android_camerax/CHANGELOG.md
  packages/camera/camera_android_camerax/lib/src/android_camera_camerax.dart
  packages/camera/camera_android_camerax/pubspec.yaml
  packages/camera/camera_android_camerax/test/android_camera_camerax_test.dart
Labels: p: camera

#9135 [webview_flutter_android][camera_android_camerax][interactive_media_ads] Updates pigeon to 25.3.1 to fix Kotlin lints
  packages/camera/camera_android_camerax/CHANGELOG.md
  packages/camera/camera_android_camerax/android/src/main/java/io/flutter/plugins/camerax/CameraXLibrary.g.kt
  packages/camera/camera_android_camerax/lib/src/camerax_library.g.dart
  packages/camera/camera_android_camerax/pubspec.yaml
  packages/interactive_media_ads/CHANGELOG.md
  packages/interactive_media_ads/android/src/main/kotlin/dev/flutter/packages/interactive_media_ads/AdsRequestProxyApi.kt
  packages/interactive_media_ads/android/src/main/kotlin/dev/flutter/packages/interactive_media_ads/InteractiveMediaAdsLibrary.g.kt
  packages/interactive_media_ads/ios/interactive_media_ads/Sources/interactive_media_ads/AdsRequestProxyAPIDelegate.swift
  packages/interactive_media_ads/lib/src/android/interactive_media_ads.g.dart
  packages/interactive_media_ads/pubspec.yaml
  packages/webview_flutter/webview_flutter_android/CHANGELOG.md
  packages/webview_flutter/webview_flutter_android/android/src/main/java/io/flutter/plugins/webviewflutter/AndroidWebkitLibrary.g.kt
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/ClientCertRequestTest.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/SslCertificateDNameTest.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/SslCertificateTest.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/SslErrorHandlerTest.java
  packages/webview_flutter/webview_flutter_android/android/src/test/java/io/flutter/plugins/webviewflutter/SslErrorTest.java
  packages/webview_flutter/webview_flutter_android/lib/src/android_webkit.g.dart
  packages/webview_flutter/webview_flutter_android/pubspec.yaml
Labels: autosubmit, p: camera, platform-android, platform-ios, p: webview_flutter, p: interactive_media_ads
