Repository flutter/packages, changes with the owners that CODEOWNERS names for each.
All owners: @goderbauer, @bparrishMines, @ditman, @stuartmorgan, @gspencergoog, @domesticmouse, @chunhtai, @tarrinneal, @christopherfujino, @jmagman, @Hixie, @jonahwilliams, @Piinks, @yjbanov, @MitchellGoodwin, @LongCatIsLooong, @camsim99, @reidbaker, @gmackall, @matanlurey, @hellohuanlin, @cbracken, @loic-sharma, @louisehsu

poc
  packages/camera/camera_android_camerax/lib/src/android_camera_camerax.dart
Owners: @camsim99

feat: Error handling enhancement for vector_graphics
  packages/vector_graphics/lib/src/listener.dart
  packages/vector_graphics/lib/src/vector_graphics.dart
  packages/vector_graphics/test/listener_test.dart
  packages/vector_graphics/test/render_vector_graphics_test.dart
Owners: @jonahwilliams

docs: add change log
  packages/vector_graphics/CHANGELOG.md
  third_party/packages/flutter_svg/CHANGELOG.md
Owners: @jonahwilliams, @domesticmouse

feat: Error handling enhancement from flutter_svg
  third_party/packages/flutter_svg/example/assets/invalid.svg
  third_party/packages/flutter_svg/example/lib/grid.dart
  third_party/packages/flutter_svg/lib/src/loaders.dart
  third_party/packages/flutter_svg/lib/svg.dart
  third_party/packages/flutter_svg/test/svg_picture_error_test.dart
Owners: @domesticmouse

feat: increase version
  packages/vector_graphics/pubspec.yaml
Owners: @jonahwilliams

fix: changelog
  packages/vector_graphics/CHANGELOG.md
Owners: @jonahwilliams

feat: increase version
  third_party/packages/flutter_svg/pubspec.yaml
Owners: @domesticmouse

fix: changelog
  third_party/packages/flutter_svg/CHANGELOG.md
Owners: @domesticmouse

Update unit tests
  script/tool/test/podspec_check_command_test.dart
Owners: none

[camera_web] fix: CameraImageData constructed with unkown ImageFormatGroup, 0 as raw value and fixed the bytes per row value
  packages/camera/camera_web/lib/src/camera_service.dart
Owners: @ditman

[camera_web]: chore: preserving animationFrameId from requestAnimationFrame for cancelAnimationFrame
  packages/camera/camera_web/lib/src/camera.dart
Owners: @ditman

Applied Gradle Plugins Declaratively for Multiple Plugin Example Apps (#7968)
  packages/file_selector/file_selector/example/android/app/build.gradle
  packages/file_selector/file_selector/example/android/build.gradle
  packages/file_selector/file_selector/example/android/settings.gradle
  packages/file_selector/file_selector_android/example/android/app/build.gradle
  packages/file_selector/file_selector_android/example/android/build.gradle
  packages/file_selector/file_selector_android/example/android/settings.gradle
  packages/flutter_plugin_android_lifecycle/example/android/app/build.gradle
  packages/flutter_plugin_android_lifecycle/example/android/settings.gradle
  packages/path_provider/path_provider_android/example/android/app/build.gradle
  packages/path_provider/path_provider_android/example/android/build.gradle
  packages/path_provider/path_provider_android/example/android/settings.gradle
  packages/two_dimensional_scrollables/example/android/app/build.gradle
  packages/two_dimensional_scrollables/example/android/build.gradle
  packages/two_dimensional_scrollables/example/android/settings.gradle
  packages/webview_flutter/webview_flutter/example/android/app/build.gradle
  packages/webview_flutter/webview_flutter/example/android/app/src/main/AndroidManifest.xml
  packages/webview_flutter/webview_flutter/example/android/build.gradle
  packages/webview_flutter/webview_flutter/example/android/settings.gradle
  packages/webview_flutter/webview_flutter_android/example/android/app/build.gradle
  packages/webview_flutter/webview_flutter_android/example/android/build.gradle
  packages/webview_flutter/webview_flutter_android/example/android/settings.gradle
Owners: @stuartmorgan, @gmackall, @reidbaker, @camsim99, @Piinks, @bparrishMines

[camera_web] chore: removed completer from _triggerAnimationFramesLoop and improved readability
  packages/camera/camera_web/lib/src/camera.dart
Owners: @ditman

start version bump work
  packages/vector_graphics/CHANGELOG.md
  packages/vector_graphics/pubspec.yaml
  packages/vector_graphics_codec/pubspec.yaml
  packages/vector_graphics_compiler/CHANGELOG.md
  packages/vector_graphics_compiler/pubspec.yaml
  third_party/packages/flutter_svg/CHANGELOG.md
  third_party/packages/flutter_svg/pubspec.yaml
Owners: @jonahwilliams, @domesticmouse

[go_router] add current state getter (#7651)
  packages/go_router/CHANGELOG.md
  packages/go_router/lib/src/delegate.dart
  packages/go_router/lib/src/router.dart
  packages/go_router/pubspec.yaml
  packages/go_router/test/go_router_test.dart
Owners: @chunhtai

[camera_web] fix: jsified willReadFrequently in getContext of OffscreenCanvasRenderingContext2D
  packages/camera/camera_web/lib/src/camera_service.dart
Owners: @ditman

CODEOWNERS:

# Below is a list of Flutter team members who are suggested reviewers
# for contributions to packages in this repository.
#
# These names are just suggestions. It is fine to have your changes
# reviewed by someone else.

packages/animations/**                                   @goderbauer
packages/camera/**                                       @bparrishMines
packages/cross_file/**                                   @ditman
packages/css_colors/**                                   @stuartmorgan
packages/extension_google_sign_in_as_googleapis_auth/**  @ditman
packages/file_selector/**                                @stuartmorgan
packages/flutter_adaptive_scaffold/**                    @gspencergoog
packages/flutter_image/**                                @stuartmorgan
packages/flutter_lints/**                                @goderbauer
packages/flutter_markdown/**                             @domesticmouse
packages/flutter_migrate/**                              @stuartmorgan
packages/flutter_template_images/**                      @stuartmorgan
packages/go_router/**                                    @chunhtai
packages/go_router_builder/**                            @chunhtai
packages/google_identity_services_web/**                 @ditman
packages/google_maps_flutter/**                          @stuartmorgan
packages/google_sign_in/**                               @stuartmorgan
packages/image_picker/**                                 @tarrinneal
packages/interactive_media_ads/**                        @bparrishMines
packages/in_app_purchase/**                              @bparrishMines
packages/local_auth/**                                   @stuartmorgan
packages/metrics_center/**                               @christopherfujino
packages/multicast_dns/**                                @jmagman
packages/palette_generator/**                            @gspencergoog
packages/path_provider/**                                @stuartmorgan
packages/pigeon/**                                       @tarrinneal
packages/platform/**                                     @stuartmorgan
packages/plugin_platform_interface/**                    @stuartmorgan
packages/pointer_interceptor/**                          @ditman
packages/process/**                                      @stuartmorgan
packages/quick_actions/**                                @bparrishMines
packages/rfw/**                                          @Hixie
packages/shared_preferences/**                           @tarrinneal
packages/standard_message_codec/**                       @jonahwilliams
packages/two_dimensional_scrollables/**                  @Piinks
packages/url_launcher/**                                 @stuartmorgan
packages/vector_graphics/**                              @jonahwilliams
packages/vector_graphics_codec/**                        @jonahwilliams
packages/vector_graphics_compiler/**                     @jonahwilliams
packages/video_player/**                                 @tarrinneal
packages/web_benchmarks/**                               @yjbanov
packages/webview_flutter/**                              @bparrishMines
packages/xdg_directories/**                              @stuartmorgan
third_party/packages/cupertino_icons/**                  @MitchellGoodwin
third_party/packages/cupertino_icons/test/goldens/**     @LongCatIsLooong
third_party/packages/flutter_svg/**                      @domesticmouse
third_party/packages/flutter_svg_test/**                 @domesticmouse
third_party/packages/path_parsing/**                     @domesticmouse

# Plugin platform implementation rules. These should stay last, since the last
# matching entry takes precedence.

# - Web
packages/camera/camera_web/**                            @ditman
packages/file_selector/file_selector_web/**              @ditman
packages/google_maps_flutter/google_maps_flutter_web/**  @ditman
packages/google_sign_in/google_sign_in_web/**            @ditman
packages/image_picker/image_picker_for_web/**            @ditman
packages/pointer_interceptor/pointer_interceptor_web/**  @ditman
packages/shared_preferences/shared_preferences_web/**    @ditman
packages/url_launcher/url_launcher_web/**                @ditman
packages/video_player/video_player_web/**                @ditman
packages/webview_flutter/webview_flutter_web/**          @ditman

# - Android
packages/camera/camera_android/**                        @camsim99
packages/camera/camera_android_camerax/**                @camsim99
packages/espresso/**                                     @reidbaker
packages/file_selector/file_selector_android/**          @gmackall
packages/flutter_plugin_android_lifecycle/**             @reidbaker
packages/google_maps_flutter/google_maps_flutter_android/**  @reidbaker
packages/google_sign_in/google_sign_in_android/**        @camsim99
packages/image_picker/image_picker_android/**            @gmackall
packages/in_app_purchase/in_app_purchase_android/**      @gmackall
packages/local_auth/local_auth_android/**                @camsim99
packages/path_provider/path_provider_android/**          @camsim99
packages/quick_actions/quick_actions_android/**          @camsim99
packages/shared_preferences/shared_preferences_android/**  @reidbaker
packages/url_launcher/url_launcher_android/**            @gmackall
packages/video_player/video_player_android/**            @camsim99 @matanlurey
# Owned by ecosystem team for now during the wrapper evaluation.
packages/webview_flutter/webview_flutter_android/**      @bparrishMines

# - Darwin
packages/camera/camera_avfoundation/**                   @hellohuanlin
packages/file_selector/file_selector_ios/**              @jmagman
packages/file_selector/file_selector_macos/**            @jmagman
packages/google_maps_flutter/google_maps_flutter_ios/**  @cbracken
packages/google_sign_in/google_sign_in_ios/**            @loic-sharma
packages/image_picker/image_picker_ios/**                @loic-sharma
packages/image_picker/image_picker_macos/**              @jmagman
packages/in_app_purchase/in_app_purchase_storekit/**     @louisehsu
packages/ios_platform_images/**                          @jmagman
packages/local_auth/local_auth_darwin/**                 @louisehsu
packages/path_provider/path_provider_foundation/**       @jmagman
packages/pigeon/**/ios/**/*                              @hellohuanlin @louisehsu
packages/pointer_interceptor/pointer_interceptor_ios/**  @louisehsu
packages/quick_actions/quick_actions_ios/**              @jmagman
packages/shared_preferences/shared_preferences_foundation/**  @tarrinneal
packages/url_launcher/url_launcher_ios/**                @jmagman
packages/url_launcher/url_launcher_macos/**              @jmagman
packages/video_player/video_player_avfoundation/**       @hellohuanlin
packages/webview_flutter/webview_flutter_wkwebview/**    @cbracken

# - Linux
packages/file_selector/file_selector_linux/**            @cbracken
packages/image_picker/image_picker_linux/**              @cbracken
packages/path_provider/path_provider_linux/**            @cbracken
packages/shared_preferences/shared_preferences_linux/**  @cbracken
packages/url_launcher/url_launcher_linux/**              @cbracken

# - Windows
packages/camera/camera_windows/**                        @cbracken
packages/file_selector/file_selector_windows/**          @cbracken
packages/image_picker/image_picker_windows/**            @cbracken
packages/local_auth/local_auth_windows/**                @cbracken
packages/path_provider/path_provider_windows/**          @cbracken
packages/shared_preferences/shared_preferences_windows/** @cbracken
packages/url_launcher/url_launcher_windows/**            @cbracken
